{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-27",
    "asyncClient" : "AWSIoTAnalyticsAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoTAnalyticsAsyncClientBuilder",
    "asyncInterface" : "AWSIoTAnalyticsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSIoTAnalyticsModuleInjector",
    "defaultEndpoint" : "iotanalytics.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "iotanalytics.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS IoT Analytics provides advanced data analysis for AWS IoT. It allows you to collect large amounts of device data, process messages, store them, and then query the data and run sophisticated analytics to make accurate decisions in your IoT applications and machine learning use cases. AWS IoT Analytics enables advanced data exploration through integration with Jupyter Notebooks and data visualization through integration with Amazon QuickSight.</p> <p>Traditional analytics and business intelligence tools are designed to process structured data. IoT data often comes from devices that record noisy processes (such as temperature, motion, or sound). As a result, the data from these devices can have significant gaps, corrupted messages, and false readings that must be cleaned up before analysis can occur. Also, IoT data is often only meaningful in the context of other data from external sources. </p> <p>AWS IoT Analytics automates each of the steps required to analyze data from IoT devices. AWS IoT Analytics filters, transforms, and enriches IoT data before storing it in a time-series data store for analysis. You can set up the service to collect only the data you need from your devices, apply mathematical transforms to process the data, and enrich the data with device-specific metadata such as device type and location before storing it. Then, you can analyze your data by running queries using the built-in SQL query engine, or perform more complex analytics and machine learning inference. AWS IoT Analytics includes models for common IoT use cases so you can answer questions like which devices are about to fail or which customers are at risk of abandoning their wearable devices.</p>",
    "endpointPrefix" : "iotanalytics",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iotanalytics",
    "packagePath" : "com/amazonaws/services/iotanalytics",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT Analytics",
    "serviceName" : "AWS IoT Analytics",
    "signingName" : "iotanalytics",
    "smokeTestsPackageName" : "com.amazonaws.services.iotanalytics.smoketests",
    "syncClient" : "AWSIoTAnalyticsClient",
    "syncClientBuilderClassName" : "AWSIoTAnalyticsClientBuilder",
    "syncInterface" : "AWSIoTAnalytics",
    "uid" : "iotanalytics-2017-11-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchPutMessage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchPutMessageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchPutMessageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchPutMessageRequest, BatchPutMessageResult>",
      "asyncReturnType" : "BatchPutMessageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends messages to a channel.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchPutMessageRequest",
        "variableName" : "batchPutMessageRequest",
        "variableType" : "BatchPutMessageRequest",
        "documentation" : "",
        "simpleType" : "BatchPutMessageRequest",
        "variableSetterType" : "BatchPutMessageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchPutMessage",
      "operationName" : "BatchPutMessage",
      "returnType" : {
        "returnType" : "BatchPutMessageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchPutMessageResult"
    },
    "CancelPipelineReprocessing" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelPipelineReprocessingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelPipelineReprocessingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelPipelineReprocessingRequest, CancelPipelineReprocessingResult>",
      "asyncReturnType" : "CancelPipelineReprocessingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the reprocessing of data through the pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelPipelineReprocessingRequest",
        "variableName" : "cancelPipelineReprocessingRequest",
        "variableType" : "CancelPipelineReprocessingRequest",
        "documentation" : "",
        "simpleType" : "CancelPipelineReprocessingRequest",
        "variableSetterType" : "CancelPipelineReprocessingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelPipelineReprocessing",
      "operationName" : "CancelPipelineReprocessing",
      "returnType" : {
        "returnType" : "CancelPipelineReprocessingResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelPipelineReprocessingResult"
    },
    "CreateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelRequest, CreateChannelResult>",
      "asyncReturnType" : "CreateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a channel. A channel collects data from an MQTT topic and archives the raw, unprocessed messages before publishing the data to a pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>A resource with the same name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The command caused an internal limit to be exceeded.</p>",
        "httpStatusCode" : 410
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateChannelRequest",
        "variableName" : "createChannelRequest",
        "variableType" : "CreateChannelRequest",
        "documentation" : "",
        "simpleType" : "CreateChannelRequest",
        "variableSetterType" : "CreateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannel",
      "operationName" : "CreateChannel",
      "returnType" : {
        "returnType" : "CreateChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateChannelResult"
    },
    "CreateDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetRequest, CreateDatasetResult>",
      "asyncReturnType" : "CreateDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a data set. A data set stores data retrieved from a data store by applying an SQL action.</p> <note> <p>This operation creates the skeleton of a data set. To populate the data set, call \"CreateDatasetContent\".</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>A resource with the same name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The command caused an internal limit to be exceeded.</p>",
        "httpStatusCode" : 410
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDatasetRequest",
        "variableName" : "createDatasetRequest",
        "variableType" : "CreateDatasetRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetRequest",
        "variableSetterType" : "CreateDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataset",
      "operationName" : "CreateDataset",
      "returnType" : {
        "returnType" : "CreateDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetResult"
    },
    "CreateDatasetContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetContentRequest, CreateDatasetContentResult>",
      "asyncReturnType" : "CreateDatasetContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the content of a data set by applying an SQL action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDatasetContentRequest",
        "variableName" : "createDatasetContentRequest",
        "variableType" : "CreateDatasetContentRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetContentRequest",
        "variableSetterType" : "CreateDatasetContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatasetContent",
      "operationName" : "CreateDatasetContent",
      "returnType" : {
        "returnType" : "CreateDatasetContentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetContentResult"
    },
    "CreateDatastore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatastoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatastoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatastoreRequest, CreateDatastoreResult>",
      "asyncReturnType" : "CreateDatastoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a data store, which is a repository for messages.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>A resource with the same name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The command caused an internal limit to be exceeded.</p>",
        "httpStatusCode" : 410
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDatastoreRequest",
        "variableName" : "createDatastoreRequest",
        "variableType" : "CreateDatastoreRequest",
        "documentation" : "",
        "simpleType" : "CreateDatastoreRequest",
        "variableSetterType" : "CreateDatastoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatastore",
      "operationName" : "CreateDatastore",
      "returnType" : {
        "returnType" : "CreateDatastoreResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatastoreResult"
    },
    "CreatePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePipelineRequest, CreatePipelineResult>",
      "asyncReturnType" : "CreatePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a pipeline. A pipeline consumes messages from one or more channels and allows you to process the messages before storing them in a data store.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>A resource with the same name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The command caused an internal limit to be exceeded.</p>",
        "httpStatusCode" : 410
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePipelineRequest",
        "variableName" : "createPipelineRequest",
        "variableType" : "CreatePipelineRequest",
        "documentation" : "",
        "simpleType" : "CreatePipelineRequest",
        "variableSetterType" : "CreatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPipeline",
      "operationName" : "CreatePipeline",
      "returnType" : {
        "returnType" : "CreatePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePipelineResult"
    },
    "DeleteChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelRequest, DeleteChannelResult>",
      "asyncReturnType" : "DeleteChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified channel.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteChannelRequest",
        "variableName" : "deleteChannelRequest",
        "variableType" : "DeleteChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelRequest",
        "variableSetterType" : "DeleteChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannel",
      "operationName" : "DeleteChannel",
      "returnType" : {
        "returnType" : "DeleteChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChannelResult"
    },
    "DeleteDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetRequest, DeleteDatasetResult>",
      "asyncReturnType" : "DeleteDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified data set.</p> <p>You do not have to delete the content of the data set before you perform this operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDatasetRequest",
        "variableName" : "deleteDatasetRequest",
        "variableType" : "DeleteDatasetRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatasetRequest",
        "variableSetterType" : "DeleteDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataset",
      "operationName" : "DeleteDataset",
      "returnType" : {
        "returnType" : "DeleteDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatasetResult"
    },
    "DeleteDatasetContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetContentRequest, DeleteDatasetContentResult>",
      "asyncReturnType" : "DeleteDatasetContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the content of the specified data set.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDatasetContentRequest",
        "variableName" : "deleteDatasetContentRequest",
        "variableType" : "DeleteDatasetContentRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatasetContentRequest",
        "variableSetterType" : "DeleteDatasetContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDatasetContent",
      "operationName" : "DeleteDatasetContent",
      "returnType" : {
        "returnType" : "DeleteDatasetContentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatasetContentResult"
    },
    "DeleteDatastore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatastoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatastoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatastoreRequest, DeleteDatastoreResult>",
      "asyncReturnType" : "DeleteDatastoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified data store.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDatastoreRequest",
        "variableName" : "deleteDatastoreRequest",
        "variableType" : "DeleteDatastoreRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatastoreRequest",
        "variableSetterType" : "DeleteDatastoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDatastore",
      "operationName" : "DeleteDatastore",
      "returnType" : {
        "returnType" : "DeleteDatastoreResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatastoreResult"
    },
    "DeletePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePipelineRequest, DeletePipelineResult>",
      "asyncReturnType" : "DeletePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeletePipelineRequest",
        "variableName" : "deletePipelineRequest",
        "variableType" : "DeletePipelineRequest",
        "documentation" : "",
        "simpleType" : "DeletePipelineRequest",
        "variableSetterType" : "DeletePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePipeline",
      "operationName" : "DeletePipeline",
      "returnType" : {
        "returnType" : "DeletePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePipelineResult"
    },
    "DescribeChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelRequest, DescribeChannelResult>",
      "asyncReturnType" : "DescribeChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a channel.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeChannelRequest",
        "variableName" : "describeChannelRequest",
        "variableType" : "DescribeChannelRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelRequest",
        "variableSetterType" : "DescribeChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannel",
      "operationName" : "DescribeChannel",
      "returnType" : {
        "returnType" : "DescribeChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChannelResult"
    },
    "DescribeDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetRequest, DescribeDatasetResult>",
      "asyncReturnType" : "DescribeDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a data set.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDatasetRequest",
        "variableName" : "describeDatasetRequest",
        "variableType" : "DescribeDatasetRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetRequest",
        "variableSetterType" : "DescribeDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataset",
      "operationName" : "DescribeDataset",
      "returnType" : {
        "returnType" : "DescribeDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetResult"
    },
    "DescribeDatastore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatastoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatastoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatastoreRequest, DescribeDatastoreResult>",
      "asyncReturnType" : "DescribeDatastoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a data store.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDatastoreRequest",
        "variableName" : "describeDatastoreRequest",
        "variableType" : "DescribeDatastoreRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatastoreRequest",
        "variableSetterType" : "DescribeDatastoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDatastore",
      "operationName" : "DescribeDatastore",
      "returnType" : {
        "returnType" : "DescribeDatastoreResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatastoreResult"
    },
    "DescribeLoggingOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoggingOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoggingOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoggingOptionsRequest, DescribeLoggingOptionsResult>",
      "asyncReturnType" : "DescribeLoggingOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current settings of the AWS IoT Analytics logging options.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLoggingOptionsRequest",
        "variableName" : "describeLoggingOptionsRequest",
        "variableType" : "DescribeLoggingOptionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeLoggingOptionsRequest",
        "variableSetterType" : "DescribeLoggingOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoggingOptions",
      "operationName" : "DescribeLoggingOptions",
      "returnType" : {
        "returnType" : "DescribeLoggingOptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLoggingOptionsResult"
    },
    "DescribePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePipelineRequest, DescribePipelineResult>",
      "asyncReturnType" : "DescribePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribePipelineRequest",
        "variableName" : "describePipelineRequest",
        "variableType" : "DescribePipelineRequest",
        "documentation" : "",
        "simpleType" : "DescribePipelineRequest",
        "variableSetterType" : "DescribePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePipeline",
      "operationName" : "DescribePipeline",
      "returnType" : {
        "returnType" : "DescribePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePipelineResult"
    },
    "GetDatasetContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDatasetContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDatasetContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDatasetContentRequest, GetDatasetContentResult>",
      "asyncReturnType" : "GetDatasetContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the contents of a data set as pre-signed URIs.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDatasetContentRequest",
        "variableName" : "getDatasetContentRequest",
        "variableType" : "GetDatasetContentRequest",
        "documentation" : "",
        "simpleType" : "GetDatasetContentRequest",
        "variableSetterType" : "GetDatasetContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDatasetContent",
      "operationName" : "GetDatasetContent",
      "returnType" : {
        "returnType" : "GetDatasetContentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDatasetContentResult"
    },
    "ListChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChannelsRequest, ListChannelsResult>",
      "asyncReturnType" : "ListChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of channels.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListChannelsRequest",
        "variableName" : "listChannelsRequest",
        "variableType" : "ListChannelsRequest",
        "documentation" : "",
        "simpleType" : "ListChannelsRequest",
        "variableSetterType" : "ListChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChannels",
      "operationName" : "ListChannels",
      "returnType" : {
        "returnType" : "ListChannelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChannelsResult"
    },
    "ListDatasets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetsRequest, ListDatasetsResult>",
      "asyncReturnType" : "ListDatasetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about data sets.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDatasetsRequest",
        "variableName" : "listDatasetsRequest",
        "variableType" : "ListDatasetsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetsRequest",
        "variableSetterType" : "ListDatasetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasets",
      "operationName" : "ListDatasets",
      "returnType" : {
        "returnType" : "ListDatasetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetsResult"
    },
    "ListDatastores" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatastoresResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatastoresResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatastoresRequest, ListDatastoresResult>",
      "asyncReturnType" : "ListDatastoresResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of data stores.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDatastoresRequest",
        "variableName" : "listDatastoresRequest",
        "variableType" : "ListDatastoresRequest",
        "documentation" : "",
        "simpleType" : "ListDatastoresRequest",
        "variableSetterType" : "ListDatastoresRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatastores",
      "operationName" : "ListDatastores",
      "returnType" : {
        "returnType" : "ListDatastoresResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatastoresResult"
    },
    "ListPipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPipelinesRequest, ListPipelinesResult>",
      "asyncReturnType" : "ListPipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of pipelines.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPipelinesRequest",
        "variableName" : "listPipelinesRequest",
        "variableType" : "ListPipelinesRequest",
        "documentation" : "",
        "simpleType" : "ListPipelinesRequest",
        "variableSetterType" : "ListPipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPipelines",
      "operationName" : "ListPipelines",
      "returnType" : {
        "returnType" : "ListPipelinesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPipelinesResult"
    },
    "PutLoggingOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutLoggingOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutLoggingOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLoggingOptionsRequest, PutLoggingOptionsResult>",
      "asyncReturnType" : "PutLoggingOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets or updates the AWS IoT Analytics logging options.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutLoggingOptionsRequest",
        "variableName" : "putLoggingOptionsRequest",
        "variableType" : "PutLoggingOptionsRequest",
        "documentation" : "",
        "simpleType" : "PutLoggingOptionsRequest",
        "variableSetterType" : "PutLoggingOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putLoggingOptions",
      "operationName" : "PutLoggingOptions",
      "returnType" : {
        "returnType" : "PutLoggingOptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutLoggingOptionsResult"
    },
    "RunPipelineActivity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RunPipelineActivityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RunPipelineActivityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RunPipelineActivityRequest, RunPipelineActivityResult>",
      "asyncReturnType" : "RunPipelineActivityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Simulates the results of running a pipeline activity on a message payload.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RunPipelineActivityRequest",
        "variableName" : "runPipelineActivityRequest",
        "variableType" : "RunPipelineActivityRequest",
        "documentation" : "",
        "simpleType" : "RunPipelineActivityRequest",
        "variableSetterType" : "RunPipelineActivityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "runPipelineActivity",
      "operationName" : "RunPipelineActivity",
      "returnType" : {
        "returnType" : "RunPipelineActivityResult",
        "documentation" : null
      },
      "syncReturnType" : "RunPipelineActivityResult"
    },
    "SampleChannelData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SampleChannelDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SampleChannelDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SampleChannelDataRequest, SampleChannelDataResult>",
      "asyncReturnType" : "SampleChannelDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a sample of messages from the specified channel ingested during the specified timeframe. Up to 10 messages can be retrieved.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SampleChannelDataRequest",
        "variableName" : "sampleChannelDataRequest",
        "variableType" : "SampleChannelDataRequest",
        "documentation" : "",
        "simpleType" : "SampleChannelDataRequest",
        "variableSetterType" : "SampleChannelDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sampleChannelData",
      "operationName" : "SampleChannelData",
      "returnType" : {
        "returnType" : "SampleChannelDataResult",
        "documentation" : null
      },
      "syncReturnType" : "SampleChannelDataResult"
    },
    "StartPipelineReprocessing" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartPipelineReprocessingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartPipelineReprocessingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartPipelineReprocessingRequest, StartPipelineReprocessingResult>",
      "asyncReturnType" : "StartPipelineReprocessingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the reprocessing of raw message data through the pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>A resource with the same name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartPipelineReprocessingRequest",
        "variableName" : "startPipelineReprocessingRequest",
        "variableType" : "StartPipelineReprocessingRequest",
        "documentation" : "",
        "simpleType" : "StartPipelineReprocessingRequest",
        "variableSetterType" : "StartPipelineReprocessingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startPipelineReprocessing",
      "operationName" : "StartPipelineReprocessing",
      "returnType" : {
        "returnType" : "StartPipelineReprocessingResult",
        "documentation" : null
      },
      "syncReturnType" : "StartPipelineReprocessingResult"
    },
    "UpdateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateChannelRequest, UpdateChannelResult>",
      "asyncReturnType" : "UpdateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the settings of a channel.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateChannelRequest",
        "variableName" : "updateChannelRequest",
        "variableType" : "UpdateChannelRequest",
        "documentation" : "",
        "simpleType" : "UpdateChannelRequest",
        "variableSetterType" : "UpdateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateChannel",
      "operationName" : "UpdateChannel",
      "returnType" : {
        "returnType" : "UpdateChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateChannelResult"
    },
    "UpdateDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDatasetRequest, UpdateDatasetResult>",
      "asyncReturnType" : "UpdateDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the settings of a data set.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDatasetRequest",
        "variableName" : "updateDatasetRequest",
        "variableType" : "UpdateDatasetRequest",
        "documentation" : "",
        "simpleType" : "UpdateDatasetRequest",
        "variableSetterType" : "UpdateDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataset",
      "operationName" : "UpdateDataset",
      "returnType" : {
        "returnType" : "UpdateDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDatasetResult"
    },
    "UpdateDatastore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDatastoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDatastoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDatastoreRequest, UpdateDatastoreResult>",
      "asyncReturnType" : "UpdateDatastoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the settings of a data store.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDatastoreRequest",
        "variableName" : "updateDatastoreRequest",
        "variableType" : "UpdateDatastoreRequest",
        "documentation" : "",
        "simpleType" : "UpdateDatastoreRequest",
        "variableSetterType" : "UpdateDatastoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDatastore",
      "operationName" : "UpdateDatastore",
      "returnType" : {
        "returnType" : "UpdateDatastoreResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDatastoreResult"
    },
    "UpdatePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePipelineRequest, UpdatePipelineResult>",
      "asyncReturnType" : "UpdatePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the settings of a pipeline.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource with the specified name could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The command caused an internal limit to be exceeded.</p>",
        "httpStatusCode" : 410
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdatePipelineRequest",
        "variableName" : "updatePipelineRequest",
        "variableType" : "UpdatePipelineRequest",
        "documentation" : "",
        "simpleType" : "UpdatePipelineRequest",
        "variableSetterType" : "UpdatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePipeline",
      "operationName" : "UpdatePipeline",
      "returnType" : {
        "returnType" : "UpdatePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePipelineResult"
    }
  },
  "shapes" : {
    "AddAttributesActivity" : {
      "c2jName" : "AddAttributesActivity",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An activity that adds other attributes based on existing attributes in the message.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "name",
        "c2jShape" : "ActivityName",
        "deprecated" : false,
        "documentation" : "<p>The name of the 'addAttributes' activity.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the 'addAttributes' activity.</p>\n@param name The name of the 'addAttributes' activity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the 'addAttributes' activity.</p>\n@return The name of the 'addAttributes' activity.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the 'addAttributes' activity.</p>\n@param name The name of the 'addAttributes' activity.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the 'addAttributes' activity.</p>\n@param name The name of the 'addAttributes' activity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the 'addAttributes' activity.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "attributes",
        "c2jShape" : "AttributeNameMapping",
        "deprecated" : false,
        "documentation" : "<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>\n@param attributes A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttributes",
        "getterDocumentation" : "/**<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>\n@return A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p>*/",
        "getterMethodName" : "getAttributes",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "attributes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "attributes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "AttributeName",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Attributes",
        "setterDocumentation" : "/**<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>\n@param attributes A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p>*/",
        "setterMethodName" : "setAttributes",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "attributes",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>\n@param attributes A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "attributes",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "next",
        "c2jShape" : "ActivityName",
        "deprecated" : false,
        "documentation" : "<p>The next activity in the pipeline.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The next activity in the pipeline.</p>\n@param next The next activity in the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNext",
        "getterDocumentation" : "/**<p>The next activity in the pipeline.</p>\n@return The next activity in the pipeline.*/",
        "getterMethodName" : "getNext",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "next",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "next",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Next",
        "setterDocumentation" : "/**<p>The next activity in the pipeline.</p>\n@param next The next activity in the pipeline.*/",
        "setterMethodName" : "setNext",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "next",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The next activity in the pipeline.</p>\n@param next The next activity in the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "next",
          "variableType" : "String",
          "documentation" : "<p>The next activity in the pipeline.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Attributes" : {
          "c2jName" : "attributes",
          "c2jShape" : "AttributeNameMapping",
          "deprecated" : false,
          "documentation" : "<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>\n@param attributes A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttributes",
          "getterDocumentation" : "/**<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>\n@return A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p>*/",
          "getterMethodName" : "getAttributes",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "attributes",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "attributes",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "AttributeName",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Attributes",
          "setterDocumentation" : "/**<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>\n@param attributes A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p>*/",
          "setterMethodName" : "setAttributes",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "attributes",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>\n@param attributes A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "attributes",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "name",
          "c2jShape" : "ActivityName",
          "deprecated" : false,
          "documentation" : "<p>The name of the 'addAttributes' activity.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the 'addAttributes' activity.</p>\n@param name The name of the 'addAttributes' activity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the 'addAttributes' activity.</p>\n@return The name of the 'addAttributes' activity.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the 'addAttributes' activity.</p>\n@param name The name of the 'addAttributes' activity.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the 'addAttributes' activity.</p>\n@param name The name of the 'addAttributes' activity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the 'addAttributes' activity.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Next" : {
          "c2jName" : "next",
          "c2jShape" : "ActivityName",
          "deprecated" : false,
          "documentation" : "<p>The next activity in the pipeline.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The next activity in the pipeline.</p>\n@param next The next activity in the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNext",
          "getterDocumentation" : "/**<p>The next activity in the pipeline.</p>\n@return The next activity in the pipeline.*/",
          "getterMethodName" : "getNext",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "next",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "next",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Next",
          "setterDocumentation" : "/**<p>The next activity in the pipeline.</p>\n@param next The next activity in the pipeline.*/",
          "setterMethodName" : "setNext",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "next",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The next activity in the pipeline.</p>\n@param next The next activity in the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "next",
            "variableType" : "String",
            "documentation" : "<p>The next activity in the pipeline.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "name", "attributes" ],
      "shapeName" : "AddAttributesActivity",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddAttributesActivity",
        "variableName" : "addAttributesActivity",
        "variableType" : "AddAttributesActivity",
        "documentation" : null,
        "simpleType" : "AddAttributesActivity",
        "variableSetterType" : "AddAttributesActivity"
      },
      "wrapper" : false
    },
    "BatchPutMessageErrorEntry" : {
      "c2jName" : "BatchPutMessageErrorEntry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains informations about errors.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "messageId",
        "c2jShape" : "MessageId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)</p>\n@param messageId The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessageId",
        "getterDocumentation" : "/**<p>The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)</p>\n@return The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)*/",
        "getterMethodName" : "getMessageId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "messageId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "messageId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MessageId",
        "setterDocumentation" : "/**<p>The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)</p>\n@param messageId The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)*/",
        "setterMethodName" : "setMessageId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "messageId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)</p>\n@param messageId The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "messageId",
          "variableType" : "String",
[...]
