{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-09-18",
    "asyncClient" : "AWSIoTDeviceAdvisorAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoTDeviceAdvisorAsyncClientBuilder",
    "asyncInterface" : "AWSIoTDeviceAdvisorAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSIoTDeviceAdvisorModuleInjector",
    "defaultEndpoint" : "api.iotdeviceadvisor.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "api.iotdeviceadvisor.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS IoT Core Device Advisor is a cloud-based, fully managed test capability for validating IoT devices during device software development. Device Advisor provides pre-built tests that you can use to validate IoT devices for reliable and secure connectivity with AWS IoT Core before deploying devices to production. By using Device Advisor, you can confirm that your devices can connect to AWS IoT Core, follow security best practices and, if applicable, receive software updates from IoT Device Management. You can also download signed qualification reports to submit to the AWS Partner Network to get your device qualified for the AWS Partner Device Catalog without the need to send your device in and wait for it to be tested.</p>",
    "endpointPrefix" : "api.iotdeviceadvisor",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iotdeviceadvisor",
    "packagePath" : "com/amazonaws/services/iotdeviceadvisor",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWSIoTDeviceAdvisor",
    "serviceFullName" : "AWS IoT Core Device Advisor",
    "serviceId" : "IotDeviceAdvisor",
    "serviceName" : "AWSIoTDeviceAdvisor",
    "signingName" : "iotdeviceadvisor",
    "smokeTestsPackageName" : "com.amazonaws.services.iotdeviceadvisor.smoketests",
    "syncClient" : "AWSIoTDeviceAdvisorClient",
    "syncClientBuilderClassName" : "AWSIoTDeviceAdvisorClientBuilder",
    "syncInterface" : "AWSIoTDeviceAdvisor",
    "uid" : "iotdeviceadvisor-2020-09-18",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateSuiteDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSuiteDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSuiteDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSuiteDefinitionRequest, CreateSuiteDefinitionResult>",
      "asyncReturnType" : "CreateSuiteDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Device Advisor test suite.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSuiteDefinitionRequest",
        "variableName" : "createSuiteDefinitionRequest",
        "variableType" : "CreateSuiteDefinitionRequest",
        "documentation" : "",
        "simpleType" : "CreateSuiteDefinitionRequest",
        "variableSetterType" : "CreateSuiteDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSuiteDefinition",
      "operationName" : "CreateSuiteDefinition",
      "returnType" : {
        "returnType" : "CreateSuiteDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSuiteDefinitionResult"
    },
    "DeleteSuiteDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSuiteDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSuiteDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSuiteDefinitionRequest, DeleteSuiteDefinitionResult>",
      "asyncReturnType" : "DeleteSuiteDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Device Advisor test suite.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSuiteDefinitionRequest",
        "variableName" : "deleteSuiteDefinitionRequest",
        "variableType" : "DeleteSuiteDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeleteSuiteDefinitionRequest",
        "variableSetterType" : "DeleteSuiteDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSuiteDefinition",
      "operationName" : "DeleteSuiteDefinition",
      "returnType" : {
        "returnType" : "DeleteSuiteDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSuiteDefinitionResult"
    },
    "GetSuiteDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSuiteDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSuiteDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSuiteDefinitionRequest, GetSuiteDefinitionResult>",
      "asyncReturnType" : "GetSuiteDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a Device Advisor test suite.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Sends Resource Not Found Exception.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSuiteDefinitionRequest",
        "variableName" : "getSuiteDefinitionRequest",
        "variableType" : "GetSuiteDefinitionRequest",
        "documentation" : "",
        "simpleType" : "GetSuiteDefinitionRequest",
        "variableSetterType" : "GetSuiteDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSuiteDefinition",
      "operationName" : "GetSuiteDefinition",
      "returnType" : {
        "returnType" : "GetSuiteDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSuiteDefinitionResult"
    },
    "GetSuiteRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSuiteRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSuiteRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSuiteRunRequest, GetSuiteRunResult>",
      "asyncReturnType" : "GetSuiteRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a Device Advisor test suite run.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Sends Resource Not Found Exception.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSuiteRunRequest",
        "variableName" : "getSuiteRunRequest",
        "variableType" : "GetSuiteRunRequest",
        "documentation" : "",
        "simpleType" : "GetSuiteRunRequest",
        "variableSetterType" : "GetSuiteRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSuiteRun",
      "operationName" : "GetSuiteRun",
      "returnType" : {
        "returnType" : "GetSuiteRunResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSuiteRunResult"
    },
    "GetSuiteRunReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSuiteRunReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSuiteRunReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSuiteRunReportRequest, GetSuiteRunReportResult>",
      "asyncReturnType" : "GetSuiteRunReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a report download link for a successful Device Advisor qualifying test suite run.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Sends Resource Not Found Exception.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSuiteRunReportRequest",
        "variableName" : "getSuiteRunReportRequest",
        "variableType" : "GetSuiteRunReportRequest",
        "documentation" : "",
        "simpleType" : "GetSuiteRunReportRequest",
        "variableSetterType" : "GetSuiteRunReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSuiteRunReport",
      "operationName" : "GetSuiteRunReport",
      "returnType" : {
        "returnType" : "GetSuiteRunReportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSuiteRunReportResult"
    },
    "ListSuiteDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSuiteDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSuiteDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSuiteDefinitionsRequest, ListSuiteDefinitionsResult>",
      "asyncReturnType" : "ListSuiteDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Device Advisor test suites you have created.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSuiteDefinitionsRequest",
        "variableName" : "listSuiteDefinitionsRequest",
        "variableType" : "ListSuiteDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "ListSuiteDefinitionsRequest",
        "variableSetterType" : "ListSuiteDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSuiteDefinitions",
      "operationName" : "ListSuiteDefinitions",
      "returnType" : {
        "returnType" : "ListSuiteDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSuiteDefinitionsResult"
    },
    "ListSuiteRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSuiteRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSuiteRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSuiteRunsRequest, ListSuiteRunsResult>",
      "asyncReturnType" : "ListSuiteRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the runs of the specified Device Advisor test suite. You can list all runs of the test suite, or the runs of a specific version of the test suite.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSuiteRunsRequest",
        "variableName" : "listSuiteRunsRequest",
        "variableType" : "ListSuiteRunsRequest",
        "documentation" : "",
        "simpleType" : "ListSuiteRunsRequest",
        "variableSetterType" : "ListSuiteRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSuiteRuns",
      "operationName" : "ListSuiteRuns",
      "returnType" : {
        "returnType" : "ListSuiteRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSuiteRunsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags attached to an IoT Device Advisor resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Sends Resource Not Found Exception.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartSuiteRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartSuiteRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartSuiteRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartSuiteRunRequest, StartSuiteRunResult>",
      "asyncReturnType" : "StartSuiteRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a Device Advisor test suite run.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Sends Conflict Exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartSuiteRunRequest",
        "variableName" : "startSuiteRunRequest",
        "variableType" : "StartSuiteRunRequest",
        "documentation" : "",
        "simpleType" : "StartSuiteRunRequest",
        "variableSetterType" : "StartSuiteRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startSuiteRun",
      "operationName" : "StartSuiteRun",
      "returnType" : {
        "returnType" : "StartSuiteRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StartSuiteRunResult"
    },
    "StopSuiteRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopSuiteRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopSuiteRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopSuiteRunRequest, StopSuiteRunResult>",
      "asyncReturnType" : "StopSuiteRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a Device Advisor test suite run that is currently running.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Sends Resource Not Found Exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopSuiteRunRequest",
        "variableName" : "stopSuiteRunRequest",
        "variableType" : "StopSuiteRunRequest",
        "documentation" : "",
        "simpleType" : "StopSuiteRunRequest",
        "variableSetterType" : "StopSuiteRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopSuiteRun",
      "operationName" : "StopSuiteRun",
      "returnType" : {
        "returnType" : "StopSuiteRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StopSuiteRunResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds to and modifies existing tags of an IoT Device Advisor resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Sends Resource Not Found Exception.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from an IoT Device Advisor resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Sends Resource Not Found Exception.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateSuiteDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSuiteDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSuiteDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSuiteDefinitionRequest, UpdateSuiteDefinitionResult>",
      "asyncReturnType" : "UpdateSuiteDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a Device Advisor test suite.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Sends invalid request exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Sends Internal Failure Exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSuiteDefinitionRequest",
        "variableName" : "updateSuiteDefinitionRequest",
        "variableType" : "UpdateSuiteDefinitionRequest",
        "documentation" : "",
        "simpleType" : "UpdateSuiteDefinitionRequest",
        "variableSetterType" : "UpdateSuiteDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSuiteDefinition",
      "operationName" : "UpdateSuiteDefinition",
      "returnType" : {
        "returnType" : "UpdateSuiteDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSuiteDefinitionResult"
    }
  },
  "shapes" : {
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Sends Conflict Exception.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.iotdeviceadvisor.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.iotdeviceadvisor.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateSuiteDefinitionRequest" : {
      "c2jName" : "CreateSuiteDefinitionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iotdeviceadvisor.request.CreateSuiteDefinitionRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateSuiteDefinition",
        "locationName" : null,
        "requestUri" : "/suiteDefinitions",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "suiteDefinitionConfiguration",
        "c2jShape" : "SuiteDefinitionConfiguration",
        "deprecated" : false,
        "documentation" : "<p>Creates a Device Advisor test suite with suite definition configuration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition configuration.</p>\n@param suiteDefinitionConfiguration Creates a Device Advisor test suite with suite definition configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSuiteDefinitionConfiguration",
        "getterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition configuration.</p>\n@return Creates a Device Advisor test suite with suite definition configuration.*/",
        "getterMethodName" : "getSuiteDefinitionConfiguration",
        "getterModel" : {
          "returnType" : "SuiteDefinitionConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "suiteDefinitionConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "suiteDefinitionConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SuiteDefinitionConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition configuration.</p>\n@param suiteDefinitionConfiguration Creates a Device Advisor test suite with suite definition configuration.*/",
        "setterMethodName" : "setSuiteDefinitionConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SuiteDefinitionConfiguration",
          "variableName" : "suiteDefinitionConfiguration",
          "variableType" : "SuiteDefinitionConfiguration",
          "documentation" : "",
          "simpleType" : "SuiteDefinitionConfiguration",
          "variableSetterType" : "SuiteDefinitionConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition configuration.</p>\n@param suiteDefinitionConfiguration Creates a Device Advisor test suite with suite definition configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SuiteDefinitionConfiguration",
          "variableName" : "suiteDefinitionConfiguration",
          "variableType" : "SuiteDefinitionConfiguration",
          "documentation" : "<p>Creates a Device Advisor test suite with suite definition configuration.</p>",
          "simpleType" : "SuiteDefinitionConfiguration",
          "variableSetterType" : "SuiteDefinitionConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "<p>The tags to be attached to the suite definition.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags to be attached to the suite definition.</p>\n@param tags The tags to be attached to the suite definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags to be attached to the suite definition.</p>\n@return The tags to be attached to the suite definition.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "String256",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The tags to be attached to the suite definition.</p>\n@param tags The tags to be attached to the suite definition.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags to be attached to the suite definition.</p>\n@param tags The tags to be attached to the suite definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The tags to be attached to the suite definition.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SuiteDefinitionConfiguration" : {
          "c2jName" : "suiteDefinitionConfiguration",
          "c2jShape" : "SuiteDefinitionConfiguration",
          "deprecated" : false,
          "documentation" : "<p>Creates a Device Advisor test suite with suite definition configuration.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition configuration.</p>\n@param suiteDefinitionConfiguration Creates a Device Advisor test suite with suite definition configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSuiteDefinitionConfiguration",
          "getterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition configuration.</p>\n@return Creates a Device Advisor test suite with suite definition configuration.*/",
          "getterMethodName" : "getSuiteDefinitionConfiguration",
          "getterModel" : {
            "returnType" : "SuiteDefinitionConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "suiteDefinitionConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "suiteDefinitionConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SuiteDefinitionConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition configuration.</p>\n@param suiteDefinitionConfiguration Creates a Device Advisor test suite with suite definition configuration.*/",
          "setterMethodName" : "setSuiteDefinitionConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SuiteDefinitionConfiguration",
            "variableName" : "suiteDefinitionConfiguration",
            "variableType" : "SuiteDefinitionConfiguration",
            "documentation" : "",
            "simpleType" : "SuiteDefinitionConfiguration",
            "variableSetterType" : "SuiteDefinitionConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition configuration.</p>\n@param suiteDefinitionConfiguration Creates a Device Advisor test suite with suite definition configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SuiteDefinitionConfiguration",
            "variableName" : "suiteDefinitionConfiguration",
            "variableType" : "SuiteDefinitionConfiguration",
            "documentation" : "<p>Creates a Device Advisor test suite with suite definition configuration.</p>",
            "simpleType" : "SuiteDefinitionConfiguration",
            "variableSetterType" : "SuiteDefinitionConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "tags",
          "c2jShape" : "TagMap",
          "deprecated" : false,
          "documentation" : "<p>The tags to be attached to the suite definition.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tags to be attached to the suite definition.</p>\n@param tags The tags to be attached to the suite definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>The tags to be attached to the suite definition.</p>\n@return The tags to be attached to the suite definition.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "tags",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "String256",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Tags",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The tags to be attached to the suite definition.</p>\n@param tags The tags to be attached to the suite definition.*/",
          "setterMethodName" : "setTags",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The tags to be attached to the suite definition.</p>\n@param tags The tags to be attached to the suite definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p>The tags to be attached to the suite definition.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.iotdeviceadvisor.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateSuiteDefinitionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSuiteDefinitionRequest",
        "variableName" : "createSuiteDefinitionRequest",
        "variableType" : "CreateSuiteDefinitionRequest",
        "documentation" : null,
        "simpleType" : "CreateSuiteDefinitionRequest",
        "variableSetterType" : "CreateSuiteDefinitionRequest"
      },
      "wrapper" : false
    },
    "CreateSuiteDefinitionResult" : {
      "c2jName" : "CreateSuiteDefinitionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iotdeviceadvisor.response.CreateSuiteDefinitionResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "suiteDefinitionId",
        "c2jShape" : "UUID",
        "deprecated" : false,
        "documentation" : "<p>Creates a Device Advisor test suite with suite UUID.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite UUID.</p>\n@param suiteDefinitionId Creates a Device Advisor test suite with suite UUID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSuiteDefinitionId",
        "getterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite UUID.</p>\n@return Creates a Device Advisor test suite with suite UUID.*/",
        "getterMethodName" : "getSuiteDefinitionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "suiteDefinitionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "suiteDefinitionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SuiteDefinitionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite UUID.</p>\n@param suiteDefinitionId Creates a Device Advisor test suite with suite UUID.*/",
        "setterMethodName" : "setSuiteDefinitionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "suiteDefinitionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite UUID.</p>\n@param suiteDefinitionId Creates a Device Advisor test suite with suite UUID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "suiteDefinitionId",
          "variableType" : "String",
          "documentation" : "<p>Creates a Device Advisor test suite with suite UUID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "suiteDefinitionArn",
        "c2jShape" : "AmazonResourceName",
        "deprecated" : false,
        "documentation" : "<p>Creates a Device Advisor test suite with Amazon Resource name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with Amazon Resource name.</p>\n@param suiteDefinitionArn Creates a Device Advisor test suite with Amazon Resource name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSuiteDefinitionArn",
        "getterDocumentation" : "/**<p>Creates a Device Advisor test suite with Amazon Resource name.</p>\n@return Creates a Device Advisor test suite with Amazon Resource name.*/",
        "getterMethodName" : "getSuiteDefinitionArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "suiteDefinitionArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "suiteDefinitionArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SuiteDefinitionArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Creates a Device Advisor test suite with Amazon Resource name.</p>\n@param suiteDefinitionArn Creates a Device Advisor test suite with Amazon Resource name.*/",
        "setterMethodName" : "setSuiteDefinitionArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "suiteDefinitionArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with Amazon Resource name.</p>\n@param suiteDefinitionArn Creates a Device Advisor test suite with Amazon Resource name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "suiteDefinitionArn",
          "variableType" : "String",
          "documentation" : "<p>Creates a Device Advisor test suite with Amazon Resource name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "suiteDefinitionName",
        "c2jShape" : "SuiteDefinitionName",
        "deprecated" : false,
        "documentation" : "<p>Creates a Device Advisor test suite with suite definition name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition name.</p>\n@param suiteDefinitionName Creates a Device Advisor test suite with suite definition name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSuiteDefinitionName",
        "getterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition name.</p>\n@return Creates a Device Advisor test suite with suite definition name.*/",
        "getterMethodName" : "getSuiteDefinitionName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "suiteDefinitionName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "suiteDefinitionName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SuiteDefinitionName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition name.</p>\n@param suiteDefinitionName Creates a Device Advisor test suite with suite definition name.*/",
        "setterMethodName" : "setSuiteDefinitionName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "suiteDefinitionName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition name.</p>\n@param suiteDefinitionName Creates a Device Advisor test suite with suite definition name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "suiteDefinitionName",
          "variableType" : "String",
          "documentation" : "<p>Creates a Device Advisor test suite with suite definition name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createdAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>\n@param createdAt Creates a Device Advisor test suite with TimeStamp of when it was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>\n@return Creates a Device Advisor test suite with TimeStamp of when it was created.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>\n@param createdAt Creates a Device Advisor test suite with TimeStamp of when it was created.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>\n@param createdAt Creates a Device Advisor test suite with TimeStamp of when it was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CreatedAt" : {
          "c2jName" : "createdAt",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>\n@param createdAt Creates a Device Advisor test suite with TimeStamp of when it was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedAt",
          "getterDocumentation" : "/**<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>\n@return Creates a Device Advisor test suite with TimeStamp of when it was created.*/",
          "getterMethodName" : "getCreatedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "createdAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "createdAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreatedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>\n@param createdAt Creates a Device Advisor test suite with TimeStamp of when it was created.*/",
          "setterMethodName" : "setCreatedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>\n@param createdAt Creates a Device Advisor test suite with TimeStamp of when it was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>Creates a Device Advisor test suite with TimeStamp of when it was created.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "SuiteDefinitionArn" : {
          "c2jName" : "suiteDefinitionArn",
          "c2jShape" : "AmazonResourceName",
          "deprecated" : false,
          "documentation" : "<p>Creates a Device Advisor test suite with Amazon Resource name.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with Amazon Resource name.</p>\n@param suiteDefinitionArn Creates a Device Advisor test suite with Amazon Resource name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSuiteDefinitionArn",
          "getterDocumentation" : "/**<p>Creates a Device Advisor test suite with Amazon Resource name.</p>\n@return Creates a Device Advisor test suite with Amazon Resource name.*/",
          "getterMethodName" : "getSuiteDefinitionArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "suiteDefinitionArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "suiteDefinitionArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SuiteDefinitionArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Creates a Device Advisor test suite with Amazon Resource name.</p>\n@param suiteDefinitionArn Creates a Device Advisor test suite with Amazon Resource name.*/",
          "setterMethodName" : "setSuiteDefinitionArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "suiteDefinitionArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with Amazon Resource name.</p>\n@param suiteDefinitionArn Creates a Device Advisor test suite with Amazon Resource name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "suiteDefinitionArn",
            "variableType" : "String",
            "documentation" : "<p>Creates a Device Advisor test suite with Amazon Resource name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SuiteDefinitionId" : {
          "c2jName" : "suiteDefinitionId",
          "c2jShape" : "UUID",
          "deprecated" : false,
          "documentation" : "<p>Creates a Device Advisor test suite with suite UUID.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite UUID.</p>\n@param suiteDefinitionId Creates a Device Advisor test suite with suite UUID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSuiteDefinitionId",
          "getterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite UUID.</p>\n@return Creates a Device Advisor test suite with suite UUID.*/",
          "getterMethodName" : "getSuiteDefinitionId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "suiteDefinitionId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "suiteDefinitionId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SuiteDefinitionId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite UUID.</p>\n@param suiteDefinitionId Creates a Device Advisor test suite with suite UUID.*/",
          "setterMethodName" : "setSuiteDefinitionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "suiteDefinitionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite UUID.</p>\n@param suiteDefinitionId Creates a Device Advisor test suite with suite UUID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "suiteDefinitionId",
            "variableType" : "String",
            "documentation" : "<p>Creates a Device Advisor test suite with suite UUID.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SuiteDefinitionName" : {
          "c2jName" : "suiteDefinitionName",
          "c2jShape" : "SuiteDefinitionName",
          "deprecated" : false,
          "documentation" : "<p>Creates a Device Advisor test suite with suite definition name.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition name.</p>\n@param suiteDefinitionName Creates a Device Advisor test suite with suite definition name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSuiteDefinitionName",
          "getterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition name.</p>\n@return Creates a Device Advisor test suite with suite definition name.*/",
          "getterMethodName" : "getSuiteDefinitionName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "suiteDefinitionName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "suiteDefinitionName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SuiteDefinitionName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition name.</p>\n@param suiteDefinitionName Creates a Device Advisor test suite with suite definition name.*/",
          "setterMethodName" : "setSuiteDefinitionName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "suiteDefinitionName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Creates a Device Advisor test suite with suite definition name.</p>\n@param suiteDefinitionName Creates a Device Advisor test suite with suite definition name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "suiteDefinitionName",
            "variableType" : "String",
            "documentation" : "<p>Creates a Device Advisor test suite with suite definition name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.iotdeviceadvisor.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateSuiteDefinitionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSuiteDefinitionResult",
        "variableName" : "createSuiteDefinitionResult",
        "variableType" : "CreateSuiteDefinitionResult",
        "documentation" : null,
        "simpleType" : "CreateSuiteDefinitionResult",
        "variableSetterType" : "CreateSuiteDefinitionResult"
      },
      "wrapper" : false
    },
    "DeleteSuiteDefinitionRequest" : {
      "c2jName" : "DeleteSuiteDefinitionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iotdeviceadvisor.request.DeleteSuiteDefinitionRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteSuiteDefinition",
        "locationName" : null,
        "requestUri" : "/suiteDefinitions/{suiteDefinitionId}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "suiteDefinitionId",
        "c2jShape" : "UUID",
        "deprecated" : false,
        "documentation" : "<p>Suite definition Id of the test suite to be deleted.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Suite definition Id of the test suite to be deleted.</p>\n@param suiteDefinitionId Suite definition Id of the test suite to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSuiteDefinitionId",
        "getterDocumentation" : "/**<p>Suite definition Id of the test suite to be deleted.</p>\n@return Suite definition Id of the test suite to be deleted.*/",
        "getterMethodName" : "getSuiteDefinitionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "suiteDefinitionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "suiteDefinitionId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SuiteDefinitionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Suite definition Id of the test suite to be deleted.</p>\n@param suiteDefinitionId Suite definition Id of the test suite to be deleted.*/",
        "setterMethodName" : "setSuiteDefinitionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "suiteDefinitionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Suite definition Id of the test suite to be deleted.</p>\n@param suiteDefinitionId Suite definition Id of the test suite to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "suiteDefinitionId",
          "variableType" : "String",
          "documentation" : "<p>Suite definition Id of the test suite to be deleted.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SuiteDefinitionId" : {
          "c2jName" : "suiteDefinitionId",
          "c2jShape" : "UUID",
          "deprecated" : false,
          "documentation" : "<p>Suite definition Id of the test suite to be deleted.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Suite definition Id of the test suite to be deleted.</p>\n@param suiteDefinitionId Suite definition Id of the test suite to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSuiteDefinitionId",
          "getterDocumentation" : "/**<p>Suite definition Id of the test suite to be deleted.</p>\n@return Suite definition Id of the test suite to be deleted.*/",
          "getterMethodName" : "getSuiteDefinitionId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "suiteDefinitionId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "suiteDefinitionId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SuiteDefinitionId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Suite definition Id of the test suite to be deleted.</p>\n@param suiteDefinitionId Suite definition Id of the test suite to be deleted.*/",
          "setterMethodName" : "setSuiteDefinitionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "suiteDefinitionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Suite definition Id of the test suite to be deleted.</p>\n@param suiteDefinitionId Suite definition Id of the test suite to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "suiteDefinitionId",
            "variableType" : "String",
            "documentation" : "<p>Suite definition Id of the test suite to be deleted.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.iotdeviceadvisor.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "suiteDefinitionId" ],
      "shapeName" : "DeleteSuiteDefinitionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSuiteDefinitionRequest",
        "variableName" : "deleteSuiteDefinitionRequest",
        "variableType" : "DeleteSuiteDefinitionRequest",
        "documentation" : null,
        "simpleType" : "DeleteSuiteDefinitionRequest",
        "variableSetterType" : "DeleteSuiteDefinitionRequest"
      },
      "wrapper" : false
    },
    "DeleteSuiteDefinitionResult" : {
      "c2jName" : "DeleteSuiteDefinitionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iotdeviceadvisor.response.DeleteSuiteDefinitionResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.iotdeviceadvisor.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteSuiteDefinitionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSuiteDefinitionResult",
        "variableName" : "deleteSuiteDefinitionResult",
        "variableType" : "DeleteSuiteDefinitionResult",
        "documentation" : null,
        "simpleType" : "DeleteSuiteDefinitionResult",
        "variableSetterType" : "DeleteSuiteDefinitionResult"
      },
      "wrapper" : false
    },
    "DeviceUnderTest" : {
      "c2jName" : "DeviceUnderTest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Lists all the devices under test</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iotdeviceadvisor.model.DeviceUnderTest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "thingArn",
        "c2jShape" : "AmazonResourceName",
        "deprecated" : false,
        "documentation" : "<p>Lists devices thing arn</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Lists devices thing arn</p>\n@param thingArn Lists devices thing arn\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withThingArn",
        "getterDocumentation" : "/**<p>Lists devices thing arn</p>\n@return Lists devices thing arn*/",
        "getterMethodName" : "getThingArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "thingArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "thingArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ThingArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Lists devices thing arn</p>\n@param thingArn Lists devices thing arn*/",
        "setterMethodName" : "setThingArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thingArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Lists devices thing arn</p>\n@param thingArn Lists devices thing arn\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thingArn",
          "variableType" : "String",
          "documentation" : "<p>Lists devices thing arn</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "certificateArn",
        "c2jShape" : "AmazonResourceName",
        "deprecated" : false,
        "documentation" : "<p>Lists devices certificate arn</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Lists devices certificate arn</p>\n@param certificateArn Lists devices certificate arn\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCertificateArn",
        "getterDocumentation" : "/**<p>Lists devices certificate arn</p>\n@return Lists devices certificate arn*/",
        "getterMethodName" : "getCertificateArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "certificateArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "certificateArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CertificateArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Lists devices certificate arn</p>\n@param certificateArn Lists devices certificate arn*/",
        "setterMethodName" : "setCertificateArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "certificateArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Lists devices certificate arn</p>\n@param certificateArn Lists devices certificate arn\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "certificateArn",
          "variableType" : "String",
          "documentation" : "<p>Lists devices certificate arn</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CertificateArn" : {
          "c2jName" : "certificateArn",
          "c2jShape" : "AmazonResourceName",
          "deprecated" : false,
          "documentation" : "<p>Lists devices certificate arn</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Lists devices certificate arn</p>\n@param certificateArn Lists devices certificate arn\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCertificateArn",
          "getterDocumentation" : "/**<p>Lists devices certificate arn</p>\n@return Lists devices certificate arn*/",
          "getterMethodName" : "getCertificateArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "certificateArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "certificateArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
[...]
