{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-07-27",
    "asyncClient" : "AWSIoTEventsAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoTEventsAsyncClientBuilder",
    "asyncInterface" : "AWSIoTEventsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSIoTEventsModuleInjector",
    "defaultEndpoint" : "iotevents.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "iotevents.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS IoT Events monitors your equipment or device fleets for failures or changes in operation, and triggers actions when such events occur. AWS IoT Events API commands enable you to create, read, update and delete inputs and detector models, and to list their versions.</p>",
    "endpointPrefix" : "iotevents",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iotevents",
    "packagePath" : "com/amazonaws/services/iotevents",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT Events",
    "serviceId" : "IoT Events",
    "serviceName" : "AWS IoT Events",
    "signingName" : "iotevents",
    "smokeTestsPackageName" : "com.amazonaws.services.iotevents.smoketests",
    "syncClient" : "AWSIoTEventsClient",
    "syncClientBuilderClassName" : "AWSIoTEventsClientBuilder",
    "syncInterface" : "AWSIoTEvents",
    "uid" : "iotevents-2018-07-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDetectorModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDetectorModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDetectorModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDetectorModelRequest, CreateDetectorModelResult>",
      "asyncReturnType" : "CreateDetectorModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a detector model.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDetectorModelRequest",
        "variableName" : "createDetectorModelRequest",
        "variableType" : "CreateDetectorModelRequest",
        "documentation" : "",
        "simpleType" : "CreateDetectorModelRequest",
        "variableSetterType" : "CreateDetectorModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDetectorModel",
      "operationName" : "CreateDetectorModel",
      "returnType" : {
        "returnType" : "CreateDetectorModelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDetectorModelResult"
    },
    "CreateInput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInputRequest, CreateInputResult>",
      "asyncReturnType" : "CreateInputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an input.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateInputRequest",
        "variableName" : "createInputRequest",
        "variableType" : "CreateInputRequest",
        "documentation" : "",
        "simpleType" : "CreateInputRequest",
        "variableSetterType" : "CreateInputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInput",
      "operationName" : "CreateInput",
      "returnType" : {
        "returnType" : "CreateInputResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateInputResult"
    },
    "DeleteDetectorModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDetectorModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDetectorModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDetectorModelRequest, DeleteDetectorModelResult>",
      "asyncReturnType" : "DeleteDetectorModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a detector model. Any active instances of the detector model are also deleted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDetectorModelRequest",
        "variableName" : "deleteDetectorModelRequest",
        "variableType" : "DeleteDetectorModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteDetectorModelRequest",
        "variableSetterType" : "DeleteDetectorModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDetectorModel",
      "operationName" : "DeleteDetectorModel",
      "returnType" : {
        "returnType" : "DeleteDetectorModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDetectorModelResult"
    },
    "DeleteInput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInputRequest, DeleteInputResult>",
      "asyncReturnType" : "DeleteInputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an input.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is in use.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInputRequest",
        "variableName" : "deleteInputRequest",
        "variableType" : "DeleteInputRequest",
        "documentation" : "",
        "simpleType" : "DeleteInputRequest",
        "variableSetterType" : "DeleteInputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInput",
      "operationName" : "DeleteInput",
      "returnType" : {
        "returnType" : "DeleteInputResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInputResult"
    },
    "DescribeDetectorModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDetectorModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDetectorModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDetectorModelRequest, DescribeDetectorModelResult>",
      "asyncReturnType" : "DescribeDetectorModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a detector model. If the <code>\"version\"</code> parameter is not specified, information about the latest version is returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDetectorModelRequest",
        "variableName" : "describeDetectorModelRequest",
        "variableType" : "DescribeDetectorModelRequest",
        "documentation" : "",
        "simpleType" : "DescribeDetectorModelRequest",
        "variableSetterType" : "DescribeDetectorModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDetectorModel",
      "operationName" : "DescribeDetectorModel",
      "returnType" : {
        "returnType" : "DescribeDetectorModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDetectorModelResult"
    },
    "DescribeInput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInputRequest, DescribeInputResult>",
      "asyncReturnType" : "DescribeInputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an input.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeInputRequest",
        "variableName" : "describeInputRequest",
        "variableType" : "DescribeInputRequest",
        "documentation" : "",
        "simpleType" : "DescribeInputRequest",
        "variableSetterType" : "DescribeInputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInput",
      "operationName" : "DescribeInput",
      "returnType" : {
        "returnType" : "DescribeInputResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeInputResult"
    },
    "DescribeLoggingOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoggingOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoggingOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoggingOptionsRequest, DescribeLoggingOptionsResult>",
      "asyncReturnType" : "DescribeLoggingOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current settings of the AWS IoT Events logging options.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The requested operation is not supported.</p>",
        "httpStatusCode" : 501
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLoggingOptionsRequest",
        "variableName" : "describeLoggingOptionsRequest",
        "variableType" : "DescribeLoggingOptionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeLoggingOptionsRequest",
        "variableSetterType" : "DescribeLoggingOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoggingOptions",
      "operationName" : "DescribeLoggingOptions",
      "returnType" : {
        "returnType" : "DescribeLoggingOptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLoggingOptionsResult"
    },
    "ListDetectorModelVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDetectorModelVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDetectorModelVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDetectorModelVersionsRequest, ListDetectorModelVersionsResult>",
      "asyncReturnType" : "ListDetectorModelVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the versions of a detector model. Only the metadata associated with each detector model version is returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDetectorModelVersionsRequest",
        "variableName" : "listDetectorModelVersionsRequest",
        "variableType" : "ListDetectorModelVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListDetectorModelVersionsRequest",
        "variableSetterType" : "ListDetectorModelVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDetectorModelVersions",
      "operationName" : "ListDetectorModelVersions",
      "returnType" : {
        "returnType" : "ListDetectorModelVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDetectorModelVersionsResult"
    },
    "ListDetectorModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDetectorModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDetectorModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDetectorModelsRequest, ListDetectorModelsResult>",
      "asyncReturnType" : "ListDetectorModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the detector models you have created. Only the metadata associated with each detector model is returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDetectorModelsRequest",
        "variableName" : "listDetectorModelsRequest",
        "variableType" : "ListDetectorModelsRequest",
        "documentation" : "",
        "simpleType" : "ListDetectorModelsRequest",
        "variableSetterType" : "ListDetectorModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDetectorModels",
      "operationName" : "ListDetectorModels",
      "returnType" : {
        "returnType" : "ListDetectorModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDetectorModelsResult"
    },
    "ListInputs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInputsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInputsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInputsRequest, ListInputsResult>",
      "asyncReturnType" : "ListInputsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the inputs you have created.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInputsRequest",
        "variableName" : "listInputsRequest",
        "variableType" : "ListInputsRequest",
        "documentation" : "",
        "simpleType" : "ListInputsRequest",
        "variableSetterType" : "ListInputsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInputs",
      "operationName" : "ListInputs",
      "returnType" : {
        "returnType" : "ListInputsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInputsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags (metadata) you have assigned to the resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutLoggingOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutLoggingOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutLoggingOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLoggingOptionsRequest, PutLoggingOptionsResult>",
      "asyncReturnType" : "PutLoggingOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets or updates the AWS IoT Events logging options.</p> <p>If you update the value of any <code>\"loggingOptions\"</code> field, it takes up to one minute for the change to take effect. Also, if you change the policy attached to the role you specified in the <code>\"roleArn\"</code> field (for example, to correct an invalid policy) it takes up to five minutes for that change to take effect.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The requested operation is not supported.</p>",
        "httpStatusCode" : 501
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is in use.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutLoggingOptionsRequest",
        "variableName" : "putLoggingOptionsRequest",
        "variableType" : "PutLoggingOptionsRequest",
        "documentation" : "",
        "simpleType" : "PutLoggingOptionsRequest",
        "variableSetterType" : "PutLoggingOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putLoggingOptions",
      "operationName" : "PutLoggingOptions",
      "returnType" : {
        "returnType" : "PutLoggingOptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutLoggingOptionsResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds to or modifies the tags of the given resource. Tags are metadata that can be used to manage a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit was exceeded.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the given tags (metadata) from the resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDetectorModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDetectorModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDetectorModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDetectorModelRequest, UpdateDetectorModelResult>",
      "asyncReturnType" : "UpdateDetectorModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a detector model. Detectors (instances) spawned by the previous version are deleted and then re-created as new inputs arrive.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDetectorModelRequest",
        "variableName" : "updateDetectorModelRequest",
        "variableType" : "UpdateDetectorModelRequest",
        "documentation" : "",
        "simpleType" : "UpdateDetectorModelRequest",
        "variableSetterType" : "UpdateDetectorModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDetectorModel",
      "operationName" : "UpdateDetectorModel",
      "returnType" : {
        "returnType" : "UpdateDetectorModelResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDetectorModelResult"
    },
    "UpdateInput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateInputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateInputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateInputRequest, UpdateInputResult>",
      "asyncReturnType" : "UpdateInputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an input.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is in use.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateInputRequest",
        "variableName" : "updateInputRequest",
        "variableType" : "UpdateInputRequest",
        "documentation" : "",
        "simpleType" : "UpdateInputRequest",
        "variableSetterType" : "UpdateInputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateInput",
      "operationName" : "UpdateInput",
      "returnType" : {
        "returnType" : "UpdateInputResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateInputResult"
    }
  },
  "shapes" : {
    "Action" : {
      "c2jName" : "Action",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An action to be performed when the <code>\"condition\"</code> is TRUE.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "setVariable",
        "c2jShape" : "SetVariableAction",
        "deprecated" : false,
        "documentation" : "<p>Sets a variable to a specified value.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Sets a variable to a specified value.</p>\n@param setVariable Sets a variable to a specified value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSetVariable",
        "getterDocumentation" : "/**<p>Sets a variable to a specified value.</p>\n@return Sets a variable to a specified value.*/",
        "getterMethodName" : "getSetVariable",
        "getterModel" : {
          "returnType" : "SetVariableAction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "setVariable",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "setVariable",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SetVariable",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Sets a variable to a specified value.</p>\n@param setVariable Sets a variable to a specified value.*/",
        "setterMethodName" : "setSetVariable",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SetVariableAction",
          "variableName" : "setVariable",
          "variableType" : "SetVariableAction",
          "documentation" : "",
          "simpleType" : "SetVariableAction",
          "variableSetterType" : "SetVariableAction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Sets a variable to a specified value.</p>\n@param setVariable Sets a variable to a specified value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SetVariableAction",
          "variableName" : "setVariable",
          "variableType" : "SetVariableAction",
          "documentation" : "<p>Sets a variable to a specified value.</p>",
          "simpleType" : "SetVariableAction",
          "variableSetterType" : "SetVariableAction"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "sns",
        "c2jShape" : "SNSTopicPublishAction",
        "deprecated" : false,
        "documentation" : "<p>Sends an Amazon SNS message.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Sends an Amazon SNS message.</p>\n@param sns Sends an Amazon SNS message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSns",
        "getterDocumentation" : "/**<p>Sends an Amazon SNS message.</p>\n@return Sends an Amazon SNS message.*/",
        "getterMethodName" : "getSns",
        "getterModel" : {
          "returnType" : "SNSTopicPublishAction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "sns",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sns",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Sns",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Sends an Amazon SNS message.</p>\n@param sns Sends an Amazon SNS message.*/",
        "setterMethodName" : "setSns",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SNSTopicPublishAction",
          "variableName" : "sns",
          "variableType" : "SNSTopicPublishAction",
          "documentation" : "",
          "simpleType" : "SNSTopicPublishAction",
          "variableSetterType" : "SNSTopicPublishAction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Sends an Amazon SNS message.</p>\n@param sns Sends an Amazon SNS message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SNSTopicPublishAction",
          "variableName" : "sns",
          "variableType" : "SNSTopicPublishAction",
          "documentation" : "<p>Sends an Amazon SNS message.</p>",
          "simpleType" : "SNSTopicPublishAction",
          "variableSetterType" : "SNSTopicPublishAction"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "iotTopicPublish",
        "c2jShape" : "IotTopicPublishAction",
        "deprecated" : false,
        "documentation" : "<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>\n@param iotTopicPublish Publishes an MQTT message with the given topic to the AWS IoT message broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIotTopicPublish",
        "getterDocumentation" : "/**<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>\n@return Publishes an MQTT message with the given topic to the AWS IoT message broker.*/",
        "getterMethodName" : "getIotTopicPublish",
        "getterModel" : {
          "returnType" : "IotTopicPublishAction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "iotTopicPublish",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "iotTopicPublish",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "IotTopicPublish",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>\n@param iotTopicPublish Publishes an MQTT message with the given topic to the AWS IoT message broker.*/",
        "setterMethodName" : "setIotTopicPublish",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "IotTopicPublishAction",
          "variableName" : "iotTopicPublish",
          "variableType" : "IotTopicPublishAction",
          "documentation" : "",
          "simpleType" : "IotTopicPublishAction",
          "variableSetterType" : "IotTopicPublishAction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>\n@param iotTopicPublish Publishes an MQTT message with the given topic to the AWS IoT message broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "IotTopicPublishAction",
          "variableName" : "iotTopicPublish",
          "variableType" : "IotTopicPublishAction",
          "documentation" : "<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>",
          "simpleType" : "IotTopicPublishAction",
          "variableSetterType" : "IotTopicPublishAction"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "setTimer",
        "c2jShape" : "SetTimerAction",
        "deprecated" : false,
        "documentation" : "<p>Information needed to set the timer.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information needed to set the timer.</p>\n@param setTimer Information needed to set the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSetTimer",
        "getterDocumentation" : "/**<p>Information needed to set the timer.</p>\n@return Information needed to set the timer.*/",
        "getterMethodName" : "getSetTimer",
        "getterModel" : {
          "returnType" : "SetTimerAction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "setTimer",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "setTimer",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SetTimer",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information needed to set the timer.</p>\n@param setTimer Information needed to set the timer.*/",
        "setterMethodName" : "setSetTimer",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SetTimerAction",
          "variableName" : "setTimer",
          "variableType" : "SetTimerAction",
          "documentation" : "",
          "simpleType" : "SetTimerAction",
          "variableSetterType" : "SetTimerAction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information needed to set the timer.</p>\n@param setTimer Information needed to set the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SetTimerAction",
          "variableName" : "setTimer",
          "variableType" : "SetTimerAction",
          "documentation" : "<p>Information needed to set the timer.</p>",
          "simpleType" : "SetTimerAction",
          "variableSetterType" : "SetTimerAction"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clearTimer",
        "c2jShape" : "ClearTimerAction",
        "deprecated" : false,
        "documentation" : "<p>Information needed to clear the timer.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information needed to clear the timer.</p>\n@param clearTimer Information needed to clear the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClearTimer",
        "getterDocumentation" : "/**<p>Information needed to clear the timer.</p>\n@return Information needed to clear the timer.*/",
        "getterMethodName" : "getClearTimer",
        "getterModel" : {
          "returnType" : "ClearTimerAction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clearTimer",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clearTimer",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ClearTimer",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information needed to clear the timer.</p>\n@param clearTimer Information needed to clear the timer.*/",
        "setterMethodName" : "setClearTimer",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ClearTimerAction",
          "variableName" : "clearTimer",
          "variableType" : "ClearTimerAction",
          "documentation" : "",
          "simpleType" : "ClearTimerAction",
          "variableSetterType" : "ClearTimerAction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information needed to clear the timer.</p>\n@param clearTimer Information needed to clear the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ClearTimerAction",
          "variableName" : "clearTimer",
          "variableType" : "ClearTimerAction",
          "documentation" : "<p>Information needed to clear the timer.</p>",
          "simpleType" : "ClearTimerAction",
          "variableSetterType" : "ClearTimerAction"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "resetTimer",
        "c2jShape" : "ResetTimerAction",
        "deprecated" : false,
        "documentation" : "<p>Information needed to reset the timer.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information needed to reset the timer.</p>\n@param resetTimer Information needed to reset the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResetTimer",
        "getterDocumentation" : "/**<p>Information needed to reset the timer.</p>\n@return Information needed to reset the timer.*/",
        "getterMethodName" : "getResetTimer",
        "getterModel" : {
          "returnType" : "ResetTimerAction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resetTimer",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resetTimer",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ResetTimer",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information needed to reset the timer.</p>\n@param resetTimer Information needed to reset the timer.*/",
        "setterMethodName" : "setResetTimer",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ResetTimerAction",
          "variableName" : "resetTimer",
          "variableType" : "ResetTimerAction",
          "documentation" : "",
          "simpleType" : "ResetTimerAction",
          "variableSetterType" : "ResetTimerAction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information needed to reset the timer.</p>\n@param resetTimer Information needed to reset the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ResetTimerAction",
          "variableName" : "resetTimer",
          "variableType" : "ResetTimerAction",
          "documentation" : "<p>Information needed to reset the timer.</p>",
          "simpleType" : "ResetTimerAction",
          "variableSetterType" : "ResetTimerAction"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lambda",
        "c2jShape" : "LambdaAction",
        "deprecated" : false,
        "documentation" : "<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>\n@param lambda Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLambda",
        "getterDocumentation" : "/**<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>\n@return Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.*/",
        "getterMethodName" : "getLambda",
        "getterModel" : {
          "returnType" : "LambdaAction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lambda",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lambda",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Lambda",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>\n@param lambda Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.*/",
        "setterMethodName" : "setLambda",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "LambdaAction",
          "variableName" : "lambda",
          "variableType" : "LambdaAction",
          "documentation" : "",
          "simpleType" : "LambdaAction",
          "variableSetterType" : "LambdaAction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>\n@param lambda Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "LambdaAction",
          "variableName" : "lambda",
          "variableType" : "LambdaAction",
          "documentation" : "<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>",
          "simpleType" : "LambdaAction",
          "variableSetterType" : "LambdaAction"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "iotEvents",
        "c2jShape" : "IotEventsAction",
        "deprecated" : false,
        "documentation" : "<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>\n@param iotEvents Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIotEvents",
        "getterDocumentation" : "/**<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>\n@return Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.*/",
        "getterMethodName" : "getIotEvents",
        "getterModel" : {
          "returnType" : "IotEventsAction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "iotEvents",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "iotEvents",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "IotEvents",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>\n@param iotEvents Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.*/",
        "setterMethodName" : "setIotEvents",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "IotEventsAction",
          "variableName" : "iotEvents",
          "variableType" : "IotEventsAction",
          "documentation" : "",
          "simpleType" : "IotEventsAction",
          "variableSetterType" : "IotEventsAction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>\n@param iotEvents Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "IotEventsAction",
          "variableName" : "iotEvents",
          "variableType" : "IotEventsAction",
          "documentation" : "<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>",
          "simpleType" : "IotEventsAction",
          "variableSetterType" : "IotEventsAction"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "sqs",
        "c2jShape" : "SqsAction",
        "deprecated" : false,
        "documentation" : "<p>Sends information about the detector model instance and the event which triggered the action to an AWS SQS queue.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to an AWS SQS queue.</p>\n@param sqs Sends information about the detector model instance and the event which triggered the action to an AWS SQS queue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSqs",
        "getterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to an AWS SQS queue.</p>\n@return Sends information about the detector model instance and the event which triggered the action to an AWS SQS queue.*/",
        "getterMethodName" : "getSqs",
        "getterModel" : {
          "returnType" : "SqsAction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "sqs",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sqs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Sqs",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to an AWS SQS queue.</p>\n@param sqs Sends information about the detector model instance and the event which triggered the action to an AWS SQS queue.*/",
        "setterMethodName" : "setSqs",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SqsAction",
          "variableName" : "sqs",
          "variableType" : "SqsAction",
          "documentation" : "",
          "simpleType" : "SqsAction",
          "variableSetterType" : "SqsAction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to an AWS SQS queue.</p>\n@param sqs Sends information about the detector model instance and the event which triggered the action to an AWS SQS queue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SqsAction",
          "variableName" : "sqs",
          "variableType" : "SqsAction",
          "documentation" : "<p>Sends information about the detector model instance and the event which triggered the action to an AWS SQS queue.</p>",
          "simpleType" : "SqsAction",
          "variableSetterType" : "SqsAction"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "firehose",
        "c2jShape" : "FirehoseAction",
        "deprecated" : false,
        "documentation" : "<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>\n@param firehose Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFirehose",
        "getterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>\n@return Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.*/",
        "getterMethodName" : "getFirehose",
        "getterModel" : {
          "returnType" : "FirehoseAction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "firehose",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "firehose",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Firehose",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>\n@param firehose Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.*/",
        "setterMethodName" : "setFirehose",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FirehoseAction",
          "variableName" : "firehose",
          "variableType" : "FirehoseAction",
          "documentation" : "",
          "simpleType" : "FirehoseAction",
          "variableSetterType" : "FirehoseAction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>\n@param firehose Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FirehoseAction",
          "variableName" : "firehose",
          "variableType" : "FirehoseAction",
          "documentation" : "<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>",
          "simpleType" : "FirehoseAction",
          "variableSetterType" : "FirehoseAction"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClearTimer" : {
          "c2jName" : "clearTimer",
          "c2jShape" : "ClearTimerAction",
          "deprecated" : false,
          "documentation" : "<p>Information needed to clear the timer.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information needed to clear the timer.</p>\n@param clearTimer Information needed to clear the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClearTimer",
          "getterDocumentation" : "/**<p>Information needed to clear the timer.</p>\n@return Information needed to clear the timer.*/",
          "getterMethodName" : "getClearTimer",
          "getterModel" : {
            "returnType" : "ClearTimerAction",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clearTimer",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clearTimer",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ClearTimer",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information needed to clear the timer.</p>\n@param clearTimer Information needed to clear the timer.*/",
          "setterMethodName" : "setClearTimer",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ClearTimerAction",
            "variableName" : "clearTimer",
            "variableType" : "ClearTimerAction",
            "documentation" : "",
            "simpleType" : "ClearTimerAction",
            "variableSetterType" : "ClearTimerAction"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information needed to clear the timer.</p>\n@param clearTimer Information needed to clear the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ClearTimerAction",
            "variableName" : "clearTimer",
            "variableType" : "ClearTimerAction",
            "documentation" : "<p>Information needed to clear the timer.</p>",
            "simpleType" : "ClearTimerAction",
            "variableSetterType" : "ClearTimerAction"
          },
          "xmlNameSpaceUri" : null
        },
        "Firehose" : {
          "c2jName" : "firehose",
          "c2jShape" : "FirehoseAction",
          "deprecated" : false,
          "documentation" : "<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>\n@param firehose Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFirehose",
          "getterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>\n@return Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.*/",
          "getterMethodName" : "getFirehose",
          "getterModel" : {
            "returnType" : "FirehoseAction",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "firehose",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "firehose",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Firehose",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>\n@param firehose Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.*/",
          "setterMethodName" : "setFirehose",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FirehoseAction",
            "variableName" : "firehose",
            "variableType" : "FirehoseAction",
            "documentation" : "",
            "simpleType" : "FirehoseAction",
            "variableSetterType" : "FirehoseAction"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>\n@param firehose Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FirehoseAction",
            "variableName" : "firehose",
            "variableType" : "FirehoseAction",
            "documentation" : "<p>Sends information about the detector model instance and the event which triggered the action to a Kinesis Data Firehose stream.</p>",
            "simpleType" : "FirehoseAction",
            "variableSetterType" : "FirehoseAction"
          },
          "xmlNameSpaceUri" : null
        },
        "IotEvents" : {
          "c2jName" : "iotEvents",
          "c2jShape" : "IotEventsAction",
          "deprecated" : false,
          "documentation" : "<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>\n@param iotEvents Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIotEvents",
          "getterDocumentation" : "/**<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>\n@return Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.*/",
          "getterMethodName" : "getIotEvents",
          "getterModel" : {
            "returnType" : "IotEventsAction",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "iotEvents",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "iotEvents",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "IotEvents",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>\n@param iotEvents Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.*/",
          "setterMethodName" : "setIotEvents",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "IotEventsAction",
            "variableName" : "iotEvents",
            "variableType" : "IotEventsAction",
            "documentation" : "",
            "simpleType" : "IotEventsAction",
            "variableSetterType" : "IotEventsAction"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>\n@param iotEvents Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "IotEventsAction",
            "variableName" : "iotEvents",
            "variableType" : "IotEventsAction",
            "documentation" : "<p>Sends an IoT Events input, passing in information about the detector model instance and the event which triggered the action.</p>",
            "simpleType" : "IotEventsAction",
            "variableSetterType" : "IotEventsAction"
          },
          "xmlNameSpaceUri" : null
        },
        "IotTopicPublish" : {
          "c2jName" : "iotTopicPublish",
          "c2jShape" : "IotTopicPublishAction",
          "deprecated" : false,
          "documentation" : "<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>\n@param iotTopicPublish Publishes an MQTT message with the given topic to the AWS IoT message broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIotTopicPublish",
          "getterDocumentation" : "/**<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>\n@return Publishes an MQTT message with the given topic to the AWS IoT message broker.*/",
          "getterMethodName" : "getIotTopicPublish",
          "getterModel" : {
            "returnType" : "IotTopicPublishAction",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "iotTopicPublish",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "iotTopicPublish",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "IotTopicPublish",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>\n@param iotTopicPublish Publishes an MQTT message with the given topic to the AWS IoT message broker.*/",
          "setterMethodName" : "setIotTopicPublish",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "IotTopicPublishAction",
            "variableName" : "iotTopicPublish",
            "variableType" : "IotTopicPublishAction",
            "documentation" : "",
            "simpleType" : "IotTopicPublishAction",
            "variableSetterType" : "IotTopicPublishAction"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>\n@param iotTopicPublish Publishes an MQTT message with the given topic to the AWS IoT message broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "IotTopicPublishAction",
            "variableName" : "iotTopicPublish",
            "variableType" : "IotTopicPublishAction",
            "documentation" : "<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>",
            "simpleType" : "IotTopicPublishAction",
            "variableSetterType" : "IotTopicPublishAction"
          },
          "xmlNameSpaceUri" : null
        },
        "Lambda" : {
          "c2jName" : "lambda",
          "c2jShape" : "LambdaAction",
          "deprecated" : false,
          "documentation" : "<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>\n@param lambda Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLambda",
          "getterDocumentation" : "/**<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>\n@return Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.*/",
          "getterMethodName" : "getLambda",
          "getterModel" : {
            "returnType" : "LambdaAction",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "lambda",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "lambda",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Lambda",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>\n@param lambda Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.*/",
          "setterMethodName" : "setLambda",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "LambdaAction",
            "variableName" : "lambda",
            "variableType" : "LambdaAction",
            "documentation" : "",
            "simpleType" : "LambdaAction",
            "variableSetterType" : "LambdaAction"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>\n@param lambda Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "LambdaAction",
            "variableName" : "lambda",
            "variableType" : "LambdaAction",
            "documentation" : "<p>Calls a Lambda function, passing in information about the detector model instance and the event which triggered the action.</p>",
            "simpleType" : "LambdaAction",
            "variableSetterType" : "LambdaAction"
          },
          "xmlNameSpaceUri" : null
        },
        "ResetTimer" : {
          "c2jName" : "resetTimer",
          "c2jShape" : "ResetTimerAction",
          "deprecated" : false,
          "documentation" : "<p>Information needed to reset the timer.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information needed to reset the timer.</p>\n@param resetTimer Information needed to reset the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResetTimer",
          "getterDocumentation" : "/**<p>Information needed to reset the timer.</p>\n@return Information needed to reset the timer.*/",
          "getterMethodName" : "getResetTimer",
          "getterModel" : {
            "returnType" : "ResetTimerAction",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resetTimer",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resetTimer",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ResetTimer",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information needed to reset the timer.</p>\n@param resetTimer Information needed to reset the timer.*/",
          "setterMethodName" : "setResetTimer",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ResetTimerAction",
            "variableName" : "resetTimer",
            "variableType" : "ResetTimerAction",
            "documentation" : "",
            "simpleType" : "ResetTimerAction",
            "variableSetterType" : "ResetTimerAction"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information needed to reset the timer.</p>\n@param resetTimer Information needed to reset the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ResetTimerAction",
            "variableName" : "resetTimer",
            "variableType" : "ResetTimerAction",
            "documentation" : "<p>Information needed to reset the timer.</p>",
            "simpleType" : "ResetTimerAction",
            "variableSetterType" : "ResetTimerAction"
          },
          "xmlNameSpaceUri" : null
        },
        "SetTimer" : {
          "c2jName" : "setTimer",
          "c2jShape" : "SetTimerAction",
          "deprecated" : false,
          "documentation" : "<p>Information needed to set the timer.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information needed to set the timer.</p>\n@param setTimer Information needed to set the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSetTimer",
          "getterDocumentation" : "/**<p>Information needed to set the timer.</p>\n@return Information needed to set the timer.*/",
          "getterMethodName" : "getSetTimer",
          "getterModel" : {
            "returnType" : "SetTimerAction",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "setTimer",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "setTimer",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SetTimer",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information needed to set the timer.</p>\n@param setTimer Information needed to set the timer.*/",
          "setterMethodName" : "setSetTimer",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SetTimerAction",
            "variableName" : "setTimer",
            "variableType" : "SetTimerAction",
            "documentation" : "",
            "simpleType" : "SetTimerAction",
            "variableSetterType" : "SetTimerAction"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information needed to set the timer.</p>\n@param setTimer Information needed to set the timer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SetTimerAction",
            "variableName" : "setTimer",
            "variableType" : "SetTimerAction",
            "documentation" : "<p>Information needed to set the timer.</p>",
[...]
