{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-10-23",
    "asyncClient" : "AWSIoTEventsDataAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoTEventsDataAsyncClientBuilder",
    "asyncInterface" : "AWSIoTEventsDataAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSIoTEventsDataModuleInjector",
    "defaultEndpoint" : "data.iotevents.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "data.iotevents.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS IoT Events monitors your equipment or device fleets for failures or changes in operation, and triggers actions when such events occur. You can use AWS IoT Events Data API commands to send inputs to detectors, list detectors, and view or update a detector's status.</p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/what-is-iotevents.html\">What is AWS IoT Events?</a> in the <i>AWS IoT Events Developer Guide</i>.</p>",
    "endpointPrefix" : "data.iotevents",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ioteventsdata",
    "packagePath" : "com/amazonaws/services/ioteventsdata",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT Events Data",
    "serviceId" : "IoT Events Data",
    "serviceName" : "AWS IoT Events Data",
    "signingName" : "ioteventsdata",
    "smokeTestsPackageName" : "com.amazonaws.services.ioteventsdata.smoketests",
    "syncClient" : "AWSIoTEventsDataClient",
    "syncClientBuilderClassName" : "AWSIoTEventsDataClientBuilder",
    "syncInterface" : "AWSIoTEventsData",
    "uid" : "iotevents-data-2018-10-23",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchAcknowledgeAlarm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchAcknowledgeAlarmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchAcknowledgeAlarmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchAcknowledgeAlarmRequest, BatchAcknowledgeAlarmResult>",
      "asyncReturnType" : "BatchAcknowledgeAlarmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Acknowledges one or more alarms. The alarms change to the <code>ACKNOWLEDGED</code> state after you acknowledge them.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchAcknowledgeAlarmRequest",
        "variableName" : "batchAcknowledgeAlarmRequest",
        "variableType" : "BatchAcknowledgeAlarmRequest",
        "documentation" : "",
        "simpleType" : "BatchAcknowledgeAlarmRequest",
        "variableSetterType" : "BatchAcknowledgeAlarmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchAcknowledgeAlarm",
      "operationName" : "BatchAcknowledgeAlarm",
      "returnType" : {
        "returnType" : "BatchAcknowledgeAlarmResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchAcknowledgeAlarmResult"
    },
    "BatchDisableAlarm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDisableAlarmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDisableAlarmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDisableAlarmRequest, BatchDisableAlarmResult>",
      "asyncReturnType" : "BatchDisableAlarmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables one or more alarms. The alarms change to the <code>DISABLED</code> state after you disable them.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDisableAlarmRequest",
        "variableName" : "batchDisableAlarmRequest",
        "variableType" : "BatchDisableAlarmRequest",
        "documentation" : "",
        "simpleType" : "BatchDisableAlarmRequest",
        "variableSetterType" : "BatchDisableAlarmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDisableAlarm",
      "operationName" : "BatchDisableAlarm",
      "returnType" : {
        "returnType" : "BatchDisableAlarmResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDisableAlarmResult"
    },
    "BatchEnableAlarm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchEnableAlarmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchEnableAlarmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchEnableAlarmRequest, BatchEnableAlarmResult>",
      "asyncReturnType" : "BatchEnableAlarmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables one or more alarms. The alarms change to the <code>NORMAL</code> state after you enable them.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchEnableAlarmRequest",
        "variableName" : "batchEnableAlarmRequest",
        "variableType" : "BatchEnableAlarmRequest",
        "documentation" : "",
        "simpleType" : "BatchEnableAlarmRequest",
        "variableSetterType" : "BatchEnableAlarmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchEnableAlarm",
      "operationName" : "BatchEnableAlarm",
      "returnType" : {
        "returnType" : "BatchEnableAlarmResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchEnableAlarmResult"
    },
    "BatchPutMessage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchPutMessageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchPutMessageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchPutMessageRequest, BatchPutMessageResult>",
      "asyncReturnType" : "BatchPutMessageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends a set of messages to the AWS IoT Events system. Each message payload is transformed into the input you specify (<code>\"inputName\"</code>) and ingested into any detectors that monitor that input. If multiple messages are sent, the order in which the messages are processed isn't guaranteed. To guarantee ordering, you must send messages one at a time and wait for a successful response.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchPutMessageRequest",
        "variableName" : "batchPutMessageRequest",
        "variableType" : "BatchPutMessageRequest",
        "documentation" : "",
        "simpleType" : "BatchPutMessageRequest",
        "variableSetterType" : "BatchPutMessageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchPutMessage",
      "operationName" : "BatchPutMessage",
      "returnType" : {
        "returnType" : "BatchPutMessageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchPutMessageResult"
    },
    "BatchResetAlarm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchResetAlarmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchResetAlarmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchResetAlarmRequest, BatchResetAlarmResult>",
      "asyncReturnType" : "BatchResetAlarmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resets one or more alarms. The alarms return to the <code>NORMAL</code> state after you reset them.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchResetAlarmRequest",
        "variableName" : "batchResetAlarmRequest",
        "variableType" : "BatchResetAlarmRequest",
        "documentation" : "",
        "simpleType" : "BatchResetAlarmRequest",
        "variableSetterType" : "BatchResetAlarmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchResetAlarm",
      "operationName" : "BatchResetAlarm",
      "returnType" : {
        "returnType" : "BatchResetAlarmResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchResetAlarmResult"
    },
    "BatchSnoozeAlarm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchSnoozeAlarmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchSnoozeAlarmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchSnoozeAlarmRequest, BatchSnoozeAlarmResult>",
      "asyncReturnType" : "BatchSnoozeAlarmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes one or more alarms to the snooze mode. The alarms change to the <code>SNOOZE_DISABLED</code> state after you set them to the snooze mode.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchSnoozeAlarmRequest",
        "variableName" : "batchSnoozeAlarmRequest",
        "variableType" : "BatchSnoozeAlarmRequest",
        "documentation" : "",
        "simpleType" : "BatchSnoozeAlarmRequest",
        "variableSetterType" : "BatchSnoozeAlarmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchSnoozeAlarm",
      "operationName" : "BatchSnoozeAlarm",
      "returnType" : {
        "returnType" : "BatchSnoozeAlarmResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchSnoozeAlarmResult"
    },
    "BatchUpdateDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdateDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdateDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdateDetectorRequest, BatchUpdateDetectorResult>",
      "asyncReturnType" : "BatchUpdateDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the state, variable values, and timer settings of one or more detectors (instances) of a specified detector model.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdateDetectorRequest",
        "variableName" : "batchUpdateDetectorRequest",
        "variableType" : "BatchUpdateDetectorRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdateDetectorRequest",
        "variableSetterType" : "BatchUpdateDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdateDetector",
      "operationName" : "BatchUpdateDetector",
      "returnType" : {
        "returnType" : "BatchUpdateDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdateDetectorResult"
    },
    "DescribeAlarm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmRequest, DescribeAlarmResult>",
      "asyncReturnType" : "DescribeAlarmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an alarm.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAlarmRequest",
        "variableName" : "describeAlarmRequest",
        "variableType" : "DescribeAlarmRequest",
        "documentation" : "",
        "simpleType" : "DescribeAlarmRequest",
        "variableSetterType" : "DescribeAlarmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlarm",
      "operationName" : "DescribeAlarm",
      "returnType" : {
        "returnType" : "DescribeAlarmResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAlarmResult"
    },
    "DescribeDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDetectorRequest, DescribeDetectorResult>",
      "asyncReturnType" : "DescribeDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the specified detector (instance).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDetectorRequest",
        "variableName" : "describeDetectorRequest",
        "variableType" : "DescribeDetectorRequest",
        "documentation" : "",
        "simpleType" : "DescribeDetectorRequest",
        "variableSetterType" : "DescribeDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDetector",
      "operationName" : "DescribeDetector",
      "returnType" : {
        "returnType" : "DescribeDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDetectorResult"
    },
    "ListAlarms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAlarmsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAlarmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAlarmsRequest, ListAlarmsResult>",
      "asyncReturnType" : "ListAlarmsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists one or more alarms. The operation returns only the metadata associated with each alarm.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAlarmsRequest",
        "variableName" : "listAlarmsRequest",
        "variableType" : "ListAlarmsRequest",
        "documentation" : "",
        "simpleType" : "ListAlarmsRequest",
        "variableSetterType" : "ListAlarmsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAlarms",
      "operationName" : "ListAlarms",
      "returnType" : {
        "returnType" : "ListAlarmsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAlarmsResult"
    },
    "ListDetectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDetectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDetectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDetectorsRequest, ListDetectorsResult>",
      "asyncReturnType" : "ListDetectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists detectors (the instances of a detector model).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request could not be completed due to throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDetectorsRequest",
        "variableName" : "listDetectorsRequest",
        "variableType" : "ListDetectorsRequest",
        "documentation" : "",
        "simpleType" : "ListDetectorsRequest",
        "variableSetterType" : "ListDetectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDetectors",
      "operationName" : "ListDetectors",
      "returnType" : {
        "returnType" : "ListDetectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDetectorsResult"
    }
  },
  "shapes" : {
    "AcknowledgeActionConfiguration" : {
      "c2jName" : "AcknowledgeActionConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the configuration information of an acknowledge action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ioteventsdata.model.AcknowledgeActionConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "note",
        "c2jShape" : "Note",
        "deprecated" : false,
        "documentation" : "<p>The note that you can leave when you acknowledge the alarm.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNote",
        "getterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@return The note that you can leave when you acknowledge the alarm.*/",
        "getterMethodName" : "getNote",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "note",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "note",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Note",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.*/",
        "setterMethodName" : "setNote",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "note",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "note",
          "variableType" : "String",
          "documentation" : "<p>The note that you can leave when you acknowledge the alarm.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Note" : {
          "c2jName" : "note",
          "c2jShape" : "Note",
          "deprecated" : false,
          "documentation" : "<p>The note that you can leave when you acknowledge the alarm.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNote",
          "getterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@return The note that you can leave when you acknowledge the alarm.*/",
          "getterMethodName" : "getNote",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "note",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "note",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Note",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.*/",
          "setterMethodName" : "setNote",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "note",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "note",
            "variableType" : "String",
            "documentation" : "<p>The note that you can leave when you acknowledge the alarm.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ioteventsdata.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AcknowledgeActionConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcknowledgeActionConfiguration",
        "variableName" : "acknowledgeActionConfiguration",
        "variableType" : "AcknowledgeActionConfiguration",
        "documentation" : null,
        "simpleType" : "AcknowledgeActionConfiguration",
        "variableSetterType" : "AcknowledgeActionConfiguration"
      },
      "wrapper" : false
    },
    "AcknowledgeAlarmActionRequest" : {
      "c2jName" : "AcknowledgeAlarmActionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information needed to acknowledge the alarm.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ioteventsdata.model.AcknowledgeAlarmActionRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "requestId",
        "c2jShape" : "RequestId",
        "deprecated" : false,
        "documentation" : "<p>The request ID. Each ID must be unique within each batch.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The request ID. Each ID must be unique within each batch.</p>\n@param requestId The request ID. Each ID must be unique within each batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequestId",
        "getterDocumentation" : "/**<p>The request ID. Each ID must be unique within each batch.</p>\n@return The request ID. Each ID must be unique within each batch.*/",
        "getterMethodName" : "getRequestId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "requestId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "requestId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RequestId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The request ID. Each ID must be unique within each batch.</p>\n@param requestId The request ID. Each ID must be unique within each batch.*/",
        "setterMethodName" : "setRequestId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The request ID. Each ID must be unique within each batch.</p>\n@param requestId The request ID. Each ID must be unique within each batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "<p>The request ID. Each ID must be unique within each batch.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "alarmModelName",
        "c2jShape" : "AlarmModelName",
        "deprecated" : false,
        "documentation" : "<p>The name of the alarm model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAlarmModelName",
        "getterDocumentation" : "/**<p>The name of the alarm model.</p>\n@return The name of the alarm model.*/",
        "getterMethodName" : "getAlarmModelName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "alarmModelName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "alarmModelName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AlarmModelName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.*/",
        "setterMethodName" : "setAlarmModelName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "alarmModelName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "alarmModelName",
          "variableType" : "String",
          "documentation" : "<p>The name of the alarm model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "keyValue",
        "c2jShape" : "KeyValue",
        "deprecated" : false,
        "documentation" : "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@param keyValue The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKeyValue",
        "getterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@return The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.*/",
        "getterMethodName" : "getKeyValue",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "keyValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "keyValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KeyValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@param keyValue The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.*/",
        "setterMethodName" : "setKeyValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "keyValue",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@param keyValue The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "keyValue",
          "variableType" : "String",
          "documentation" : "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "note",
        "c2jShape" : "Note",
        "deprecated" : false,
        "documentation" : "<p>The note that you can leave when you acknowledge the alarm.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNote",
        "getterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@return The note that you can leave when you acknowledge the alarm.*/",
        "getterMethodName" : "getNote",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "note",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "note",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Note",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.*/",
        "setterMethodName" : "setNote",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "note",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "note",
          "variableType" : "String",
          "documentation" : "<p>The note that you can leave when you acknowledge the alarm.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AlarmModelName" : {
          "c2jName" : "alarmModelName",
          "c2jShape" : "AlarmModelName",
          "deprecated" : false,
          "documentation" : "<p>The name of the alarm model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAlarmModelName",
          "getterDocumentation" : "/**<p>The name of the alarm model.</p>\n@return The name of the alarm model.*/",
          "getterMethodName" : "getAlarmModelName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "alarmModelName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "alarmModelName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AlarmModelName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.*/",
          "setterMethodName" : "setAlarmModelName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "alarmModelName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "alarmModelName",
            "variableType" : "String",
            "documentation" : "<p>The name of the alarm model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "KeyValue" : {
          "c2jName" : "keyValue",
          "c2jShape" : "KeyValue",
          "deprecated" : false,
          "documentation" : "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@param keyValue The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKeyValue",
          "getterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@return The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.*/",
          "getterMethodName" : "getKeyValue",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "keyValue",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "keyValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "KeyValue",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@param keyValue The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.*/",
          "setterMethodName" : "setKeyValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "keyValue",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@param keyValue The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "keyValue",
            "variableType" : "String",
            "documentation" : "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Note" : {
          "c2jName" : "note",
          "c2jShape" : "Note",
          "deprecated" : false,
          "documentation" : "<p>The note that you can leave when you acknowledge the alarm.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNote",
          "getterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@return The note that you can leave when you acknowledge the alarm.*/",
          "getterMethodName" : "getNote",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "note",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "note",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Note",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.*/",
          "setterMethodName" : "setNote",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "note",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The note that you can leave when you acknowledge the alarm.</p>\n@param note The note that you can leave when you acknowledge the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "note",
            "variableType" : "String",
            "documentation" : "<p>The note that you can leave when you acknowledge the alarm.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RequestId" : {
          "c2jName" : "requestId",
          "c2jShape" : "RequestId",
          "deprecated" : false,
          "documentation" : "<p>The request ID. Each ID must be unique within each batch.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The request ID. Each ID must be unique within each batch.</p>\n@param requestId The request ID. Each ID must be unique within each batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRequestId",
          "getterDocumentation" : "/**<p>The request ID. Each ID must be unique within each batch.</p>\n@return The request ID. Each ID must be unique within each batch.*/",
          "getterMethodName" : "getRequestId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "requestId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "requestId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RequestId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The request ID. Each ID must be unique within each batch.</p>\n@param requestId The request ID. Each ID must be unique within each batch.*/",
          "setterMethodName" : "setRequestId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The request ID. Each ID must be unique within each batch.</p>\n@param requestId The request ID. Each ID must be unique within each batch.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "<p>The request ID. Each ID must be unique within each batch.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ioteventsdata.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "requestId", "alarmModelName" ],
      "shapeName" : "AcknowledgeAlarmActionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcknowledgeAlarmActionRequest",
        "variableName" : "acknowledgeAlarmActionRequest",
        "variableType" : "AcknowledgeAlarmActionRequest",
        "documentation" : null,
        "simpleType" : "AcknowledgeAlarmActionRequest",
        "variableSetterType" : "AcknowledgeAlarmActionRequest"
      },
      "wrapper" : false
    },
    "Alarm" : {
      "c2jName" : "Alarm",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains information about an alarm.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ioteventsdata.model.Alarm",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "alarmModelName",
        "c2jShape" : "AlarmModelName",
        "deprecated" : false,
        "documentation" : "<p>The name of the alarm model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAlarmModelName",
        "getterDocumentation" : "/**<p>The name of the alarm model.</p>\n@return The name of the alarm model.*/",
        "getterMethodName" : "getAlarmModelName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "alarmModelName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "alarmModelName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AlarmModelName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.*/",
        "setterMethodName" : "setAlarmModelName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "alarmModelName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "alarmModelName",
          "variableType" : "String",
          "documentation" : "<p>The name of the alarm model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "alarmModelVersion",
        "c2jShape" : "AlarmModelVersion",
        "deprecated" : false,
        "documentation" : "<p>The version of the alarm model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The version of the alarm model.</p>\n@param alarmModelVersion The version of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAlarmModelVersion",
        "getterDocumentation" : "/**<p>The version of the alarm model.</p>\n@return The version of the alarm model.*/",
        "getterMethodName" : "getAlarmModelVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "alarmModelVersion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "alarmModelVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AlarmModelVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The version of the alarm model.</p>\n@param alarmModelVersion The version of the alarm model.*/",
        "setterMethodName" : "setAlarmModelVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "alarmModelVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The version of the alarm model.</p>\n@param alarmModelVersion The version of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "alarmModelVersion",
          "variableType" : "String",
          "documentation" : "<p>The version of the alarm model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "keyValue",
        "c2jShape" : "KeyValue",
        "deprecated" : false,
        "documentation" : "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@param keyValue The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKeyValue",
        "getterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@return The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.*/",
        "getterMethodName" : "getKeyValue",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "keyValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "keyValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KeyValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@param keyValue The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.*/",
        "setterMethodName" : "setKeyValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "keyValue",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>\n@param keyValue The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "keyValue",
          "variableType" : "String",
          "documentation" : "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "alarmState",
        "c2jShape" : "AlarmState",
        "deprecated" : false,
        "documentation" : "<p>Contains information about the current state of the alarm.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Contains information about the current state of the alarm.</p>\n@param alarmState Contains information about the current state of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAlarmState",
        "getterDocumentation" : "/**<p>Contains information about the current state of the alarm.</p>\n@return Contains information about the current state of the alarm.*/",
        "getterMethodName" : "getAlarmState",
        "getterModel" : {
          "returnType" : "AlarmState",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "alarmState",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "alarmState",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AlarmState",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Contains information about the current state of the alarm.</p>\n@param alarmState Contains information about the current state of the alarm.*/",
        "setterMethodName" : "setAlarmState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AlarmState",
          "variableName" : "alarmState",
          "variableType" : "AlarmState",
          "documentation" : "",
          "simpleType" : "AlarmState",
          "variableSetterType" : "AlarmState"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Contains information about the current state of the alarm.</p>\n@param alarmState Contains information about the current state of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AlarmState",
          "variableName" : "alarmState",
          "variableType" : "AlarmState",
          "documentation" : "<p>Contains information about the current state of the alarm.</p>",
          "simpleType" : "AlarmState",
          "variableSetterType" : "AlarmState"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "severity",
        "c2jShape" : "Severity",
        "deprecated" : false,
        "documentation" : "<p>A non-negative integer that reflects the severity level of the alarm.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A non-negative integer that reflects the severity level of the alarm.</p>\n@param severity A non-negative integer that reflects the severity level of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSeverity",
        "getterDocumentation" : "/**<p>A non-negative integer that reflects the severity level of the alarm.</p>\n@return A non-negative integer that reflects the severity level of the alarm.*/",
        "getterMethodName" : "getSeverity",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "severity",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "severity",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Severity",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A non-negative integer that reflects the severity level of the alarm.</p>\n@param severity A non-negative integer that reflects the severity level of the alarm.*/",
        "setterMethodName" : "setSeverity",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "severity",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A non-negative integer that reflects the severity level of the alarm.</p>\n@param severity A non-negative integer that reflects the severity level of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "severity",
          "variableType" : "Integer",
          "documentation" : "<p>A non-negative integer that reflects the severity level of the alarm.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "creationTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time the alarm was created, in the Unix epoch format.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time the alarm was created, in the Unix epoch format.</p>\n@param creationTime The time the alarm was created, in the Unix epoch format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreationTime",
        "getterDocumentation" : "/**<p>The time the alarm was created, in the Unix epoch format.</p>\n@return The time the alarm was created, in the Unix epoch format.*/",
        "getterMethodName" : "getCreationTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "creationTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "creationTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreationTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time the alarm was created, in the Unix epoch format.</p>\n@param creationTime The time the alarm was created, in the Unix epoch format.*/",
        "setterMethodName" : "setCreationTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time the alarm was created, in the Unix epoch format.</p>\n@param creationTime The time the alarm was created, in the Unix epoch format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time the alarm was created, in the Unix epoch format.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lastUpdateTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time the alarm was last updated, in the Unix epoch format.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time the alarm was last updated, in the Unix epoch format.</p>\n@param lastUpdateTime The time the alarm was last updated, in the Unix epoch format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastUpdateTime",
        "getterDocumentation" : "/**<p>The time the alarm was last updated, in the Unix epoch format.</p>\n@return The time the alarm was last updated, in the Unix epoch format.*/",
        "getterMethodName" : "getLastUpdateTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lastUpdateTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lastUpdateTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastUpdateTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time the alarm was last updated, in the Unix epoch format.</p>\n@param lastUpdateTime The time the alarm was last updated, in the Unix epoch format.*/",
        "setterMethodName" : "setLastUpdateTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdateTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time the alarm was last updated, in the Unix epoch format.</p>\n@param lastUpdateTime The time the alarm was last updated, in the Unix epoch format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdateTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time the alarm was last updated, in the Unix epoch format.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AlarmModelName" : {
          "c2jName" : "alarmModelName",
          "c2jShape" : "AlarmModelName",
          "deprecated" : false,
          "documentation" : "<p>The name of the alarm model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAlarmModelName",
          "getterDocumentation" : "/**<p>The name of the alarm model.</p>\n@return The name of the alarm model.*/",
          "getterMethodName" : "getAlarmModelName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "alarmModelName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "alarmModelName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AlarmModelName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.*/",
          "setterMethodName" : "setAlarmModelName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "alarmModelName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the alarm model.</p>\n@param alarmModelName The name of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "alarmModelName",
            "variableType" : "String",
            "documentation" : "<p>The name of the alarm model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AlarmModelVersion" : {
          "c2jName" : "alarmModelVersion",
          "c2jShape" : "AlarmModelVersion",
          "deprecated" : false,
          "documentation" : "<p>The version of the alarm model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The version of the alarm model.</p>\n@param alarmModelVersion The version of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAlarmModelVersion",
          "getterDocumentation" : "/**<p>The version of the alarm model.</p>\n@return The version of the alarm model.*/",
          "getterMethodName" : "getAlarmModelVersion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "alarmModelVersion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "alarmModelVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AlarmModelVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The version of the alarm model.</p>\n@param alarmModelVersion The version of the alarm model.*/",
          "setterMethodName" : "setAlarmModelVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "alarmModelVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The version of the alarm model.</p>\n@param alarmModelVersion The version of the alarm model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "alarmModelVersion",
            "variableType" : "String",
            "documentation" : "<p>The version of the alarm model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AlarmState" : {
          "c2jName" : "alarmState",
          "c2jShape" : "AlarmState",
          "deprecated" : false,
          "documentation" : "<p>Contains information about the current state of the alarm.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Contains information about the current state of the alarm.</p>\n@param alarmState Contains information about the current state of the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAlarmState",
          "getterDocumentation" : "/**<p>Contains information about the current state of the alarm.</p>\n@return Contains information about the current state of the alarm.*/",
          "getterMethodName" : "getAlarmState",
          "getterModel" : {
            "returnType" : "AlarmState",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "alarmState",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "alarmState",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "AlarmState",
          "sensitive" : false,
[...]
