{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-11-03",
    "asyncClient" : "AWSIoTFleetHubAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoTFleetHubAsyncClientBuilder",
    "asyncInterface" : "AWSIoTFleetHubAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSIoTFleetHubModuleInjector",
    "defaultEndpoint" : "api.fleethub.iot.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "api.fleethub.iot.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>With Fleet Hub for AWS IoT Device Management you can build stand-alone web applications for monitoring the health of your device fleets.</p> <note> <p>Fleet Hub for AWS IoT Device Management is in public preview and is subject to change.</p> </note>",
    "endpointPrefix" : "api.fleethub.iot",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iotfleethub",
    "packagePath" : "com/amazonaws/services/iotfleethub",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT Fleet Hub",
    "serviceId" : "IoTFleetHub",
    "serviceName" : "AWS IoT Fleet Hub",
    "signingName" : "iotfleethub",
    "smokeTestsPackageName" : "com.amazonaws.services.iotfleethub.smoketests",
    "syncClient" : "AWSIoTFleetHubClient",
    "syncClientBuilderClassName" : "AWSIoTFleetHubClientBuilder",
    "syncInterface" : "AWSIoTFleetHub",
    "uid" : "iotfleethub-2020-11-03",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Fleet Hub for AWS IoT Device Management web application.</p> <note> <p>Fleet Hub for AWS IoT Device Management is in public preview and is subject to change.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit has been exceeded.</p>",
        "httpStatusCode" : 410
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "DeleteApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "asyncReturnType" : "DeleteApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Fleet Hub for AWS IoT Device Management web application.</p> <note> <p>Fleet Hub for AWS IoT Device Management is in public preview and is subject to change.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationRequest",
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplication",
      "operationName" : "DeleteApplication",
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationResult"
    },
    "DescribeApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationRequest, DescribeApplicationResult>",
      "asyncReturnType" : "DescribeApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a Fleet Hub for AWS IoT Device Management web application.</p> <note> <p>Fleet Hub for AWS IoT Device Management is in public preview and is subject to change.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeApplicationRequest",
        "variableName" : "describeApplicationRequest",
        "variableType" : "DescribeApplicationRequest",
        "documentation" : "",
        "simpleType" : "DescribeApplicationRequest",
        "variableSetterType" : "DescribeApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApplication",
      "operationName" : "DescribeApplication",
      "returnType" : {
        "returnType" : "DescribeApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeApplicationResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of Fleet Hub for AWS IoT Device Management web applications for the current account.</p> <note> <p>Fleet Hub for AWS IoT Device Management is in public preview and is subject to change.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified resource.</p> <note> <p>Fleet Hub for AWS IoT Device Management is in public preview and is subject to change.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds to or modifies the tags of the specified resource. Tags are metadata which can be used to manage a resource.</p> <note> <p>Fleet Hub for AWS IoT Device Management is in public preview and is subject to change.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags (metadata) from the resource.</p> <note> <p>Fleet Hub for AWS IoT Device Management is in public preview and is subject to change.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates information about a Fleet Hub for a AWS IoT Device Management web application.</p> <note> <p>Fleet Hub for AWS IoT Device Management is in public preview and is subject to change.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationResult"
    }
  },
  "shapes" : {
    "ApplicationState" : {
      "c2jName" : "ApplicationState",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "CREATING",
        "value" : "CREATING"
      }, {
        "name" : "DELETING",
        "value" : "DELETING"
      }, {
        "name" : "ACTIVE",
        "value" : "ACTIVE"
      }, {
        "name" : "CREATE_FAILED",
        "value" : "CREATE_FAILED"
      }, {
        "name" : "DELETE_FAILED",
        "value" : "DELETE_FAILED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iotfleethub.enum.ApplicationState",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.iotfleethub.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ApplicationState",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplicationState",
        "variableName" : "applicationState",
        "variableType" : "ApplicationState",
        "documentation" : null,
        "simpleType" : "ApplicationState",
        "variableSetterType" : "ApplicationState"
      },
      "wrapper" : false
    },
    "ApplicationSummary" : {
      "c2jName" : "ApplicationSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A summary of information about a AWS IoT Device Management web application.</p> <note> <p>Fleet Hub for AWS IoT Device Management is in public preview and is subject to change.</p> </note>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iotfleethub.model.ApplicationSummary",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "applicationId",
        "c2jShape" : "Id",
        "deprecated" : false,
        "documentation" : "<p>The unique Id of the web application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique Id of the web application.</p>\n@param applicationId The unique Id of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationId",
        "getterDocumentation" : "/**<p>The unique Id of the web application.</p>\n@return The unique Id of the web application.*/",
        "getterMethodName" : "getApplicationId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique Id of the web application.</p>\n@param applicationId The unique Id of the web application.*/",
        "setterMethodName" : "setApplicationId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique Id of the web application.</p>\n@param applicationId The unique Id of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationId",
          "variableType" : "String",
          "documentation" : "<p>The unique Id of the web application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "applicationName",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p>The name of the web application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the web application.</p>\n@param applicationName The name of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationName",
        "getterDocumentation" : "/**<p>The name of the web application.</p>\n@return The name of the web application.*/",
        "getterMethodName" : "getApplicationName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the web application.</p>\n@param applicationName The name of the web application.*/",
        "setterMethodName" : "setApplicationName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the web application.</p>\n@param applicationName The name of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "<p>The name of the web application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "applicationDescription",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "<p>An optional description of the web application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationDescription",
        "getterDocumentation" : "/**<p>An optional description of the web application.</p>\n@return An optional description of the web application.*/",
        "getterMethodName" : "getApplicationDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationDescription",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationDescription",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationDescription",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.*/",
        "setterMethodName" : "setApplicationDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationDescription",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationDescription",
          "variableType" : "String",
          "documentation" : "<p>An optional description of the web application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "applicationUrl",
        "c2jShape" : "Url",
        "deprecated" : false,
        "documentation" : "<p>The URL of the web application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The URL of the web application.</p>\n@param applicationUrl The URL of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationUrl",
        "getterDocumentation" : "/**<p>The URL of the web application.</p>\n@return The URL of the web application.*/",
        "getterMethodName" : "getApplicationUrl",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationUrl",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationUrl",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationUrl",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The URL of the web application.</p>\n@param applicationUrl The URL of the web application.*/",
        "setterMethodName" : "setApplicationUrl",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationUrl",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The URL of the web application.</p>\n@param applicationUrl The URL of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationUrl",
          "variableType" : "String",
          "documentation" : "<p>The URL of the web application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "applicationCreationDate",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date (in Unix epoch time) when the web application was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was created.</p>\n@param applicationCreationDate The date (in Unix epoch time) when the web application was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationCreationDate",
        "getterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was created.</p>\n@return The date (in Unix epoch time) when the web application was created.*/",
        "getterMethodName" : "getApplicationCreationDate",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationCreationDate",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationCreationDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ApplicationCreationDate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was created.</p>\n@param applicationCreationDate The date (in Unix epoch time) when the web application was created.*/",
        "setterMethodName" : "setApplicationCreationDate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "applicationCreationDate",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was created.</p>\n@param applicationCreationDate The date (in Unix epoch time) when the web application was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "applicationCreationDate",
          "variableType" : "Long",
          "documentation" : "<p>The date (in Unix epoch time) when the web application was created.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "applicationLastUpdateDate",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date (in Unix epoch time) when the web application was last updated.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was last updated.</p>\n@param applicationLastUpdateDate The date (in Unix epoch time) when the web application was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationLastUpdateDate",
        "getterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was last updated.</p>\n@return The date (in Unix epoch time) when the web application was last updated.*/",
        "getterMethodName" : "getApplicationLastUpdateDate",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationLastUpdateDate",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationLastUpdateDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ApplicationLastUpdateDate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was last updated.</p>\n@param applicationLastUpdateDate The date (in Unix epoch time) when the web application was last updated.*/",
        "setterMethodName" : "setApplicationLastUpdateDate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "applicationLastUpdateDate",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was last updated.</p>\n@param applicationLastUpdateDate The date (in Unix epoch time) when the web application was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "applicationLastUpdateDate",
          "variableType" : "Long",
          "documentation" : "<p>The date (in Unix epoch time) when the web application was last updated.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "applicationState",
        "c2jShape" : "ApplicationState",
        "deprecated" : false,
        "documentation" : "<p>The current state of the web application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ApplicationState",
        "fluentSetterDocumentation" : "/**<p>The current state of the web application.</p>\n@param applicationState The current state of the web application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationState*/",
        "fluentSetterMethodName" : "withApplicationState",
        "getterDocumentation" : "/**<p>The current state of the web application.</p>\n@return The current state of the web application.\n@see ApplicationState*/",
        "getterMethodName" : "getApplicationState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationState",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationState",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationState",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The current state of the web application.</p>\n@param applicationState The current state of the web application.\n@see ApplicationState*/",
        "setterMethodName" : "setApplicationState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationState",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current state of the web application.</p>\n@param applicationState The current state of the web application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationState*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationState",
          "variableType" : "String",
          "documentation" : "<p>The current state of the web application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationCreationDate" : {
          "c2jName" : "applicationCreationDate",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date (in Unix epoch time) when the web application was created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was created.</p>\n@param applicationCreationDate The date (in Unix epoch time) when the web application was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationCreationDate",
          "getterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was created.</p>\n@return The date (in Unix epoch time) when the web application was created.*/",
          "getterMethodName" : "getApplicationCreationDate",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "applicationCreationDate",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "applicationCreationDate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ApplicationCreationDate",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was created.</p>\n@param applicationCreationDate The date (in Unix epoch time) when the web application was created.*/",
          "setterMethodName" : "setApplicationCreationDate",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "applicationCreationDate",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was created.</p>\n@param applicationCreationDate The date (in Unix epoch time) when the web application was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "applicationCreationDate",
            "variableType" : "Long",
            "documentation" : "<p>The date (in Unix epoch time) when the web application was created.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "ApplicationDescription" : {
          "c2jName" : "applicationDescription",
          "c2jShape" : "Description",
          "deprecated" : false,
          "documentation" : "<p>An optional description of the web application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationDescription",
          "getterDocumentation" : "/**<p>An optional description of the web application.</p>\n@return An optional description of the web application.*/",
          "getterMethodName" : "getApplicationDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "applicationDescription",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "applicationDescription",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationDescription",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.*/",
          "setterMethodName" : "setApplicationDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationDescription",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationDescription",
            "variableType" : "String",
            "documentation" : "<p>An optional description of the web application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ApplicationId" : {
          "c2jName" : "applicationId",
          "c2jShape" : "Id",
          "deprecated" : false,
          "documentation" : "<p>The unique Id of the web application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique Id of the web application.</p>\n@param applicationId The unique Id of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationId",
          "getterDocumentation" : "/**<p>The unique Id of the web application.</p>\n@return The unique Id of the web application.*/",
          "getterMethodName" : "getApplicationId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "applicationId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "applicationId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique Id of the web application.</p>\n@param applicationId The unique Id of the web application.*/",
          "setterMethodName" : "setApplicationId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique Id of the web application.</p>\n@param applicationId The unique Id of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationId",
            "variableType" : "String",
            "documentation" : "<p>The unique Id of the web application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ApplicationLastUpdateDate" : {
          "c2jName" : "applicationLastUpdateDate",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date (in Unix epoch time) when the web application was last updated.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was last updated.</p>\n@param applicationLastUpdateDate The date (in Unix epoch time) when the web application was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationLastUpdateDate",
          "getterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was last updated.</p>\n@return The date (in Unix epoch time) when the web application was last updated.*/",
          "getterMethodName" : "getApplicationLastUpdateDate",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "applicationLastUpdateDate",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "applicationLastUpdateDate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ApplicationLastUpdateDate",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was last updated.</p>\n@param applicationLastUpdateDate The date (in Unix epoch time) when the web application was last updated.*/",
          "setterMethodName" : "setApplicationLastUpdateDate",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "applicationLastUpdateDate",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date (in Unix epoch time) when the web application was last updated.</p>\n@param applicationLastUpdateDate The date (in Unix epoch time) when the web application was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "applicationLastUpdateDate",
            "variableType" : "Long",
            "documentation" : "<p>The date (in Unix epoch time) when the web application was last updated.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "ApplicationName" : {
          "c2jName" : "applicationName",
          "c2jShape" : "Name",
          "deprecated" : false,
          "documentation" : "<p>The name of the web application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the web application.</p>\n@param applicationName The name of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationName",
          "getterDocumentation" : "/**<p>The name of the web application.</p>\n@return The name of the web application.*/",
          "getterMethodName" : "getApplicationName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "applicationName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "applicationName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the web application.</p>\n@param applicationName The name of the web application.*/",
          "setterMethodName" : "setApplicationName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the web application.</p>\n@param applicationName The name of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "<p>The name of the web application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ApplicationState" : {
          "c2jName" : "applicationState",
          "c2jShape" : "ApplicationState",
          "deprecated" : false,
          "documentation" : "<p>The current state of the web application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ApplicationState",
          "fluentSetterDocumentation" : "/**<p>The current state of the web application.</p>\n@param applicationState The current state of the web application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationState*/",
          "fluentSetterMethodName" : "withApplicationState",
          "getterDocumentation" : "/**<p>The current state of the web application.</p>\n@return The current state of the web application.\n@see ApplicationState*/",
          "getterMethodName" : "getApplicationState",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "applicationState",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "applicationState",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationState",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The current state of the web application.</p>\n@param applicationState The current state of the web application.\n@see ApplicationState*/",
          "setterMethodName" : "setApplicationState",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationState",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The current state of the web application.</p>\n@param applicationState The current state of the web application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationState*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationState",
            "variableType" : "String",
            "documentation" : "<p>The current state of the web application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ApplicationUrl" : {
          "c2jName" : "applicationUrl",
          "c2jShape" : "Url",
          "deprecated" : false,
          "documentation" : "<p>The URL of the web application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The URL of the web application.</p>\n@param applicationUrl The URL of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationUrl",
          "getterDocumentation" : "/**<p>The URL of the web application.</p>\n@return The URL of the web application.*/",
          "getterMethodName" : "getApplicationUrl",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "applicationUrl",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "applicationUrl",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationUrl",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The URL of the web application.</p>\n@param applicationUrl The URL of the web application.*/",
          "setterMethodName" : "setApplicationUrl",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationUrl",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The URL of the web application.</p>\n@param applicationUrl The URL of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationUrl",
            "variableType" : "String",
            "documentation" : "<p>The URL of the web application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.iotfleethub.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "applicationId", "applicationName", "applicationUrl" ],
      "shapeName" : "ApplicationSummary",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplicationSummary",
        "variableName" : "applicationSummary",
        "variableType" : "ApplicationSummary",
        "documentation" : null,
        "simpleType" : "ApplicationSummary",
        "variableSetterType" : "ApplicationSummary"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request conflicts with the current state of the resource.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.iotfleethub.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.iotfleethub.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateApplicationRequest" : {
      "c2jName" : "CreateApplicationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iotfleethub.request.CreateApplicationRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateApplication",
        "locationName" : null,
        "requestUri" : "/applications",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "applicationName",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p>The name of the web application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the web application.</p>\n@param applicationName The name of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationName",
        "getterDocumentation" : "/**<p>The name of the web application.</p>\n@return The name of the web application.*/",
        "getterMethodName" : "getApplicationName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the web application.</p>\n@param applicationName The name of the web application.*/",
        "setterMethodName" : "setApplicationName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the web application.</p>\n@param applicationName The name of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "<p>The name of the web application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "applicationDescription",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "<p>An optional description of the web application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationDescription",
        "getterDocumentation" : "/**<p>An optional description of the web application.</p>\n@return An optional description of the web application.*/",
        "getterMethodName" : "getApplicationDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationDescription",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationDescription",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationDescription",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.*/",
        "setterMethodName" : "setApplicationDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationDescription",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationDescription",
          "variableType" : "String",
          "documentation" : "<p>An optional description of the web application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "ClientRequestToken",
        "deprecated" : false,
        "documentation" : "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>\n@param clientToken A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>\n@return A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>\n@param clientToken A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>\n@param clientToken A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "roleArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the role that the web application assumes when it interacts with AWS IoT Core.</p> <note> <p>The name of the role must be in the form <code>AWSIotFleetHub_<i>random_string</i> </code>.</p> </note>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the role that the web application assumes when it interacts with AWS IoT Core.</p> <note> <p>The name of the role must be in the form <code>AWSIotFleetHub_<i>random_string</i> </code>.</p> </note>\n@param roleArn The ARN of the role that the web application assumes when it interacts with AWS IoT Core.</p> <note> <p>The name of the role must be in the form <code>AWSIotFleetHub_<i>random_string</i> </code>.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**<p>The ARN of the role that the web application assumes when it interacts with AWS IoT Core.</p> <note> <p>The name of the role must be in the form <code>AWSIotFleetHub_<i>random_string</i> </code>.</p> </note>\n@return The ARN of the role that the web application assumes when it interacts with AWS IoT Core.</p> <note> <p>The name of the role must be in the form <code>AWSIotFleetHub_<i>random_string</i> </code>.</p>*/",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "roleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "roleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the role that the web application assumes when it interacts with AWS IoT Core.</p> <note> <p>The name of the role must be in the form <code>AWSIotFleetHub_<i>random_string</i> </code>.</p> </note>\n@param roleArn The ARN of the role that the web application assumes when it interacts with AWS IoT Core.</p> <note> <p>The name of the role must be in the form <code>AWSIotFleetHub_<i>random_string</i> </code>.</p>*/",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the role that the web application assumes when it interacts with AWS IoT Core.</p> <note> <p>The name of the role must be in the form <code>AWSIotFleetHub_<i>random_string</i> </code>.</p> </note>\n@param roleArn The ARN of the role that the web application assumes when it interacts with AWS IoT Core.</p> <note> <p>The name of the role must be in the form <code>AWSIotFleetHub_<i>random_string</i> </code>.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the role that the web application assumes when it interacts with AWS IoT Core.</p> <note> <p>The name of the role must be in the form <code>AWSIotFleetHub_<i>random_string</i> </code>.</p> </note>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "<p>A set of key/value pairs that you can use to manage the web application resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A set of key/value pairs that you can use to manage the web application resource.</p>\n@param tags A set of key/value pairs that you can use to manage the web application resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>A set of key/value pairs that you can use to manage the web application resource.</p>\n@return A set of key/value pairs that you can use to manage the web application resource.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A set of key/value pairs that you can use to manage the web application resource.</p>\n@param tags A set of key/value pairs that you can use to manage the web application resource.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A set of key/value pairs that you can use to manage the web application resource.</p>\n@param tags A set of key/value pairs that you can use to manage the web application resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>A set of key/value pairs that you can use to manage the web application resource.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationDescription" : {
          "c2jName" : "applicationDescription",
          "c2jShape" : "Description",
          "deprecated" : false,
          "documentation" : "<p>An optional description of the web application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationDescription",
          "getterDocumentation" : "/**<p>An optional description of the web application.</p>\n@return An optional description of the web application.*/",
          "getterMethodName" : "getApplicationDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "applicationDescription",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "applicationDescription",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationDescription",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.*/",
          "setterMethodName" : "setApplicationDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationDescription",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An optional description of the web application.</p>\n@param applicationDescription An optional description of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationDescription",
            "variableType" : "String",
            "documentation" : "<p>An optional description of the web application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ApplicationName" : {
          "c2jName" : "applicationName",
          "c2jShape" : "Name",
          "deprecated" : false,
          "documentation" : "<p>The name of the web application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the web application.</p>\n@param applicationName The name of the web application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationName",
          "getterDocumentation" : "/**<p>The name of the web application.</p>\n@return The name of the web application.*/",
          "getterMethodName" : "getApplicationName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "applicationName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "applicationName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
[...]
