{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-11-29",
    "asyncClient" : "AWSIoTTwinMakerAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoTTwinMakerAsyncClientBuilder",
    "asyncInterface" : "AWSIoTTwinMakerAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSIoTTwinMakerModuleInjector",
    "defaultEndpoint" : "iottwinmaker.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "iottwinmaker.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>IoT TwinMaker is a service that enables you to build operational digital twins of physical systems. IoT TwinMaker overlays measurements and analysis from real-world sensors, cameras, and enterprise applications so you can create data visualizations to monitor your physical factory, building, or industrial plant. You can use this real-world data to monitor operations and diagnose and repair errors.</p>",
    "endpointPrefix" : "iottwinmaker",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iottwinmaker",
    "packagePath" : "com/amazonaws/services/iottwinmaker",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT TwinMaker",
    "serviceId" : "IoTTwinMaker",
    "serviceName" : "AWS IoT TwinMaker",
    "signingName" : "iottwinmaker",
    "smokeTestsPackageName" : "com.amazonaws.services.iottwinmaker.smoketests",
    "syncClient" : "AWSIoTTwinMakerClient",
    "syncClientBuilderClassName" : "AWSIoTTwinMakerClientBuilder",
    "syncInterface" : "AWSIoTTwinMaker",
    "uid" : "iottwinmaker-2021-11-29",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchPutPropertyValues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchPutPropertyValuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchPutPropertyValuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchPutPropertyValuesRequest, BatchPutPropertyValuesResult>",
      "asyncReturnType" : "BatchPutPropertyValuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets values for multiple time series properties.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "data."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "data."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchPutPropertyValuesRequest",
        "variableName" : "batchPutPropertyValuesRequest",
        "variableType" : "BatchPutPropertyValuesRequest",
        "documentation" : "",
        "simpleType" : "BatchPutPropertyValuesRequest",
        "variableSetterType" : "BatchPutPropertyValuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchPutPropertyValues",
      "operationName" : "BatchPutPropertyValues",
      "returnType" : {
        "returnType" : "BatchPutPropertyValuesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchPutPropertyValuesResult"
    },
    "CreateComponentType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateComponentTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateComponentTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateComponentTypeRequest, CreateComponentTypeResult>",
      "asyncReturnType" : "CreateComponentTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a component type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateComponentTypeRequest",
        "variableName" : "createComponentTypeRequest",
        "variableType" : "CreateComponentTypeRequest",
        "documentation" : "",
        "simpleType" : "CreateComponentTypeRequest",
        "variableSetterType" : "CreateComponentTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createComponentType",
      "operationName" : "CreateComponentType",
      "returnType" : {
        "returnType" : "CreateComponentTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateComponentTypeResult"
    },
    "CreateEntity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEntityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEntityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEntityRequest, CreateEntityResult>",
      "asyncReturnType" : "CreateEntityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an entity.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEntityRequest",
        "variableName" : "createEntityRequest",
        "variableType" : "CreateEntityRequest",
        "documentation" : "",
        "simpleType" : "CreateEntityRequest",
        "variableSetterType" : "CreateEntityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEntity",
      "operationName" : "CreateEntity",
      "returnType" : {
        "returnType" : "CreateEntityResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEntityResult"
    },
    "CreateScene" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSceneResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSceneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSceneRequest, CreateSceneResult>",
      "asyncReturnType" : "CreateSceneResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a scene.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSceneRequest",
        "variableName" : "createSceneRequest",
        "variableType" : "CreateSceneRequest",
        "documentation" : "",
        "simpleType" : "CreateSceneRequest",
        "variableSetterType" : "CreateSceneRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createScene",
      "operationName" : "CreateScene",
      "returnType" : {
        "returnType" : "CreateSceneResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSceneResult"
    },
    "CreateSyncJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSyncJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSyncJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSyncJobRequest, CreateSyncJobResult>",
      "asyncReturnType" : "CreateSyncJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This action creates a SyncJob.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSyncJobRequest",
        "variableName" : "createSyncJobRequest",
        "variableType" : "CreateSyncJobRequest",
        "documentation" : "",
        "simpleType" : "CreateSyncJobRequest",
        "variableSetterType" : "CreateSyncJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSyncJob",
      "operationName" : "CreateSyncJob",
      "returnType" : {
        "returnType" : "CreateSyncJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSyncJobResult"
    },
    "CreateWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspaceRequest, CreateWorkspaceResult>",
      "asyncReturnType" : "CreateWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a workplace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkspaceRequest",
        "variableName" : "createWorkspaceRequest",
        "variableType" : "CreateWorkspaceRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkspaceRequest",
        "variableSetterType" : "CreateWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkspace",
      "operationName" : "CreateWorkspace",
      "returnType" : {
        "returnType" : "CreateWorkspaceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkspaceResult"
    },
    "DeleteComponentType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteComponentTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteComponentTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteComponentTypeRequest, DeleteComponentTypeResult>",
      "asyncReturnType" : "DeleteComponentTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a component type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteComponentTypeRequest",
        "variableName" : "deleteComponentTypeRequest",
        "variableType" : "DeleteComponentTypeRequest",
        "documentation" : "",
        "simpleType" : "DeleteComponentTypeRequest",
        "variableSetterType" : "DeleteComponentTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteComponentType",
      "operationName" : "DeleteComponentType",
      "returnType" : {
        "returnType" : "DeleteComponentTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteComponentTypeResult"
    },
    "DeleteEntity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEntityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEntityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEntityRequest, DeleteEntityResult>",
      "asyncReturnType" : "DeleteEntityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an entity.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEntityRequest",
        "variableName" : "deleteEntityRequest",
        "variableType" : "DeleteEntityRequest",
        "documentation" : "",
        "simpleType" : "DeleteEntityRequest",
        "variableSetterType" : "DeleteEntityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEntity",
      "operationName" : "DeleteEntity",
      "returnType" : {
        "returnType" : "DeleteEntityResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEntityResult"
    },
    "DeleteScene" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSceneResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSceneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSceneRequest, DeleteSceneResult>",
      "asyncReturnType" : "DeleteSceneResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a scene.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSceneRequest",
        "variableName" : "deleteSceneRequest",
        "variableType" : "DeleteSceneRequest",
        "documentation" : "",
        "simpleType" : "DeleteSceneRequest",
        "variableSetterType" : "DeleteSceneRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteScene",
      "operationName" : "DeleteScene",
      "returnType" : {
        "returnType" : "DeleteSceneResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSceneResult"
    },
    "DeleteSyncJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSyncJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSyncJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSyncJobRequest, DeleteSyncJobResult>",
      "asyncReturnType" : "DeleteSyncJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete the SyncJob.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSyncJobRequest",
        "variableName" : "deleteSyncJobRequest",
        "variableType" : "DeleteSyncJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteSyncJobRequest",
        "variableSetterType" : "DeleteSyncJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSyncJob",
      "operationName" : "DeleteSyncJob",
      "returnType" : {
        "returnType" : "DeleteSyncJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSyncJobResult"
    },
    "DeleteWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkspaceRequest, DeleteWorkspaceResult>",
      "asyncReturnType" : "DeleteWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkspaceRequest",
        "variableName" : "deleteWorkspaceRequest",
        "variableType" : "DeleteWorkspaceRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkspaceRequest",
        "variableSetterType" : "DeleteWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkspace",
      "operationName" : "DeleteWorkspace",
      "returnType" : {
        "returnType" : "DeleteWorkspaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkspaceResult"
    },
    "ExecuteQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteQueryRequest, ExecuteQueryResult>",
      "asyncReturnType" : "ExecuteQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Run queries to access information from your knowledge graph of entities within individual workspaces.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "QueryTimeoutException",
        "documentation" : "<p>The query timeout exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteQueryRequest",
        "variableName" : "executeQueryRequest",
        "variableType" : "ExecuteQueryRequest",
        "documentation" : "",
        "simpleType" : "ExecuteQueryRequest",
        "variableSetterType" : "ExecuteQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeQuery",
      "operationName" : "ExecuteQuery",
      "returnType" : {
        "returnType" : "ExecuteQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "ExecuteQueryResult"
    },
    "GetComponentType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComponentTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComponentTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComponentTypeRequest, GetComponentTypeResult>",
      "asyncReturnType" : "GetComponentTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a component type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComponentTypeRequest",
        "variableName" : "getComponentTypeRequest",
        "variableType" : "GetComponentTypeRequest",
        "documentation" : "",
        "simpleType" : "GetComponentTypeRequest",
        "variableSetterType" : "GetComponentTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComponentType",
      "operationName" : "GetComponentType",
      "returnType" : {
        "returnType" : "GetComponentTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetComponentTypeResult"
    },
    "GetEntity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEntityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEntityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEntityRequest, GetEntityResult>",
      "asyncReturnType" : "GetEntityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an entity.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEntityRequest",
        "variableName" : "getEntityRequest",
        "variableType" : "GetEntityRequest",
        "documentation" : "",
        "simpleType" : "GetEntityRequest",
        "variableSetterType" : "GetEntityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEntity",
      "operationName" : "GetEntity",
      "returnType" : {
        "returnType" : "GetEntityResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEntityResult"
    },
    "GetPricingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPricingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPricingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPricingPlanRequest, GetPricingPlanResult>",
      "asyncReturnType" : "GetPricingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the pricing plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPricingPlanRequest",
        "variableName" : "getPricingPlanRequest",
        "variableType" : "GetPricingPlanRequest",
        "documentation" : "",
        "simpleType" : "GetPricingPlanRequest",
        "variableSetterType" : "GetPricingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPricingPlan",
      "operationName" : "GetPricingPlan",
      "returnType" : {
        "returnType" : "GetPricingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPricingPlanResult"
    },
    "GetPropertyValue" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPropertyValueResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPropertyValueResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPropertyValueRequest, GetPropertyValueResult>",
      "asyncReturnType" : "GetPropertyValueResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the property values for a component, component type, entity, or workspace.</p> <p>You must specify a value for either <code>componentName</code>, <code>componentTypeId</code>, <code>entityId</code>, or <code>workspaceId</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "data."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConnectorFailureException",
        "documentation" : "<p>The connector failed.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConnectorTimeoutException",
        "documentation" : "<p>The connector timed out.</p>",
        "httpStatusCode" : 424
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "data."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPropertyValueRequest",
        "variableName" : "getPropertyValueRequest",
        "variableType" : "GetPropertyValueRequest",
        "documentation" : "",
        "simpleType" : "GetPropertyValueRequest",
        "variableSetterType" : "GetPropertyValueRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPropertyValue",
      "operationName" : "GetPropertyValue",
      "returnType" : {
        "returnType" : "GetPropertyValueResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPropertyValueResult"
    },
    "GetPropertyValueHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPropertyValueHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPropertyValueHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPropertyValueHistoryRequest, GetPropertyValueHistoryResult>",
      "asyncReturnType" : "GetPropertyValueHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about the history of a time series property value for a component, component type, entity, or workspace.</p> <p>You must specify a value for <code>workspaceId</code>. For entity-specific queries, specify values for <code>componentName</code> and <code>entityId</code>. For cross-entity quries, specify a value for <code>componentTypeId</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "data."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConnectorFailureException",
        "documentation" : "<p>The connector failed.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConnectorTimeoutException",
        "documentation" : "<p>The connector timed out.</p>",
        "httpStatusCode" : 424
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "data."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPropertyValueHistoryRequest",
        "variableName" : "getPropertyValueHistoryRequest",
        "variableType" : "GetPropertyValueHistoryRequest",
        "documentation" : "",
        "simpleType" : "GetPropertyValueHistoryRequest",
        "variableSetterType" : "GetPropertyValueHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPropertyValueHistory",
      "operationName" : "GetPropertyValueHistory",
      "returnType" : {
        "returnType" : "GetPropertyValueHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPropertyValueHistoryResult"
    },
    "GetScene" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSceneResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSceneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSceneRequest, GetSceneResult>",
      "asyncReturnType" : "GetSceneResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a scene.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSceneRequest",
        "variableName" : "getSceneRequest",
        "variableType" : "GetSceneRequest",
        "documentation" : "",
        "simpleType" : "GetSceneRequest",
        "variableSetterType" : "GetSceneRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getScene",
      "operationName" : "GetScene",
      "returnType" : {
        "returnType" : "GetSceneResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSceneResult"
    },
    "GetSyncJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSyncJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSyncJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSyncJobRequest, GetSyncJobResult>",
      "asyncReturnType" : "GetSyncJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the SyncJob.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSyncJobRequest",
        "variableName" : "getSyncJobRequest",
        "variableType" : "GetSyncJobRequest",
        "documentation" : "",
        "simpleType" : "GetSyncJobRequest",
        "variableSetterType" : "GetSyncJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSyncJob",
      "operationName" : "GetSyncJob",
      "returnType" : {
        "returnType" : "GetSyncJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSyncJobResult"
    },
    "GetWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkspaceRequest, GetWorkspaceResult>",
      "asyncReturnType" : "GetWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkspaceRequest",
        "variableName" : "getWorkspaceRequest",
        "variableType" : "GetWorkspaceRequest",
        "documentation" : "",
        "simpleType" : "GetWorkspaceRequest",
        "variableSetterType" : "GetWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkspace",
      "operationName" : "GetWorkspace",
      "returnType" : {
        "returnType" : "GetWorkspaceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWorkspaceResult"
    },
    "ListComponentTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListComponentTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListComponentTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListComponentTypesRequest, ListComponentTypesResult>",
      "asyncReturnType" : "ListComponentTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all component types in a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListComponentTypesRequest",
        "variableName" : "listComponentTypesRequest",
        "variableType" : "ListComponentTypesRequest",
        "documentation" : "",
        "simpleType" : "ListComponentTypesRequest",
        "variableSetterType" : "ListComponentTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listComponentTypes",
      "operationName" : "ListComponentTypes",
      "returnType" : {
        "returnType" : "ListComponentTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListComponentTypesResult"
    },
    "ListEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEntitiesRequest, ListEntitiesResult>",
      "asyncReturnType" : "ListEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all entities in a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEntitiesRequest",
        "variableName" : "listEntitiesRequest",
        "variableType" : "ListEntitiesRequest",
        "documentation" : "",
        "simpleType" : "ListEntitiesRequest",
        "variableSetterType" : "ListEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEntities",
      "operationName" : "ListEntities",
      "returnType" : {
        "returnType" : "ListEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEntitiesResult"
    },
    "ListScenes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListScenesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListScenesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListScenesRequest, ListScenesResult>",
      "asyncReturnType" : "ListScenesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all scenes in a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListScenesRequest",
        "variableName" : "listScenesRequest",
        "variableType" : "ListScenesRequest",
        "documentation" : "",
        "simpleType" : "ListScenesRequest",
        "variableSetterType" : "ListScenesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listScenes",
      "operationName" : "ListScenes",
      "returnType" : {
        "returnType" : "ListScenesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListScenesResult"
    },
    "ListSyncJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSyncJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSyncJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSyncJobsRequest, ListSyncJobsResult>",
      "asyncReturnType" : "ListSyncJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all SyncJobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSyncJobsRequest",
        "variableName" : "listSyncJobsRequest",
        "variableType" : "ListSyncJobsRequest",
        "documentation" : "",
        "simpleType" : "ListSyncJobsRequest",
        "variableSetterType" : "ListSyncJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSyncJobs",
      "operationName" : "ListSyncJobs",
      "returnType" : {
        "returnType" : "ListSyncJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSyncJobsResult"
    },
    "ListSyncResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSyncResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSyncResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSyncResourcesRequest, ListSyncResourcesResult>",
      "asyncReturnType" : "ListSyncResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the sync resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSyncResourcesRequest",
        "variableName" : "listSyncResourcesRequest",
        "variableType" : "ListSyncResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListSyncResourcesRequest",
        "variableSetterType" : "ListSyncResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSyncResources",
      "operationName" : "ListSyncResources",
      "returnType" : {
        "returnType" : "ListSyncResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSyncResourcesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags associated with a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkspacesRequest, ListWorkspacesResult>",
      "asyncReturnType" : "ListWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about workspaces in the current account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkspacesRequest",
        "variableName" : "listWorkspacesRequest",
        "variableType" : "ListWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "ListWorkspacesRequest",
        "variableSetterType" : "ListWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkspaces",
      "operationName" : "ListWorkspaces",
      "returnType" : {
        "returnType" : "ListWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkspacesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The number of tags exceeds the limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateComponentType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateComponentTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateComponentTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateComponentTypeRequest, UpdateComponentTypeResult>",
      "asyncReturnType" : "UpdateComponentTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates information in a component type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateComponentTypeRequest",
        "variableName" : "updateComponentTypeRequest",
        "variableType" : "UpdateComponentTypeRequest",
        "documentation" : "",
        "simpleType" : "UpdateComponentTypeRequest",
        "variableSetterType" : "UpdateComponentTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateComponentType",
      "operationName" : "UpdateComponentType",
      "returnType" : {
        "returnType" : "UpdateComponentTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateComponentTypeResult"
    },
    "UpdateEntity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEntityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEntityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEntityRequest, UpdateEntityResult>",
      "asyncReturnType" : "UpdateEntityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an entity.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEntityRequest",
        "variableName" : "updateEntityRequest",
        "variableType" : "UpdateEntityRequest",
        "documentation" : "",
        "simpleType" : "UpdateEntityRequest",
        "variableSetterType" : "UpdateEntityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEntity",
      "operationName" : "UpdateEntity",
      "returnType" : {
        "returnType" : "UpdateEntityResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEntityResult"
    },
    "UpdatePricingPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePricingPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePricingPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePricingPlanRequest, UpdatePricingPlanResult>",
      "asyncReturnType" : "UpdatePricingPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the pricing plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePricingPlanRequest",
        "variableName" : "updatePricingPlanRequest",
        "variableType" : "UpdatePricingPlanRequest",
        "documentation" : "",
        "simpleType" : "UpdatePricingPlanRequest",
        "variableSetterType" : "UpdatePricingPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePricingPlan",
      "operationName" : "UpdatePricingPlan",
      "returnType" : {
        "returnType" : "UpdatePricingPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePricingPlanResult"
    },
    "UpdateScene" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSceneResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSceneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSceneRequest, UpdateSceneResult>",
      "asyncReturnType" : "UpdateSceneResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a scene.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSceneRequest",
        "variableName" : "updateSceneRequest",
        "variableType" : "UpdateSceneRequest",
        "documentation" : "",
        "simpleType" : "UpdateSceneRequest",
        "variableSetterType" : "UpdateSceneRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateScene",
      "operationName" : "UpdateScene",
      "returnType" : {
        "returnType" : "UpdateSceneResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSceneResult"
    },
    "UpdateWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkspaceRequest, UpdateWorkspaceResult>",
      "asyncReturnType" : "UpdateWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Failed</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota was exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkspaceRequest",
        "variableName" : "updateWorkspaceRequest",
        "variableType" : "UpdateWorkspaceRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkspaceRequest",
        "variableSetterType" : "UpdateWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkspace",
      "operationName" : "UpdateWorkspace",
      "returnType" : {
        "returnType" : "UpdateWorkspaceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkspaceResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access is denied.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.iottwinmaker.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.iottwinmaker.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "BatchPutPropertyError" : {
      "c2jName" : "BatchPutPropertyError",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An error returned by the <code>BatchPutProperty</code> action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iottwinmaker.model.BatchPutPropertyError",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "errorCode",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The error code.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The error code.</p>\n@param errorCode The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorCode",
        "getterDocumentation" : "/**<p>The error code.</p>\n@return The error code.*/",
        "getterMethodName" : "getErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "errorCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "errorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The error code.</p>\n@param errorCode The error code.*/",
        "setterMethodName" : "setErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error code.</p>\n@param errorCode The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "<p>The error code.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "errorMessage",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The error message.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The error message.</p>\n@param errorMessage The error message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorMessage",
        "getterDocumentation" : "/**<p>The error message.</p>\n@return The error message.*/",
        "getterMethodName" : "getErrorMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "errorMessage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "errorMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The error message.</p>\n@param errorMessage The error message.*/",
        "setterMethodName" : "setErrorMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error message.</p>\n@param errorMessage The error message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorMessage",
          "variableType" : "String",
          "documentation" : "<p>The error message.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "entry",
        "c2jShape" : "PropertyValueEntry",
        "deprecated" : false,
        "documentation" : "<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>\n@param entry An object that contains information about errors returned by the <code>BatchPutProperty</code> action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEntry",
        "getterDocumentation" : "/**<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>\n@return An object that contains information about errors returned by the <code>BatchPutProperty</code> action.*/",
        "getterMethodName" : "getEntry",
        "getterModel" : {
          "returnType" : "PropertyValueEntry",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "entry",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "entry",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Entry",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>\n@param entry An object that contains information about errors returned by the <code>BatchPutProperty</code> action.*/",
        "setterMethodName" : "setEntry",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PropertyValueEntry",
          "variableName" : "entry",
          "variableType" : "PropertyValueEntry",
          "documentation" : "",
          "simpleType" : "PropertyValueEntry",
          "variableSetterType" : "PropertyValueEntry"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>\n@param entry An object that contains information about errors returned by the <code>BatchPutProperty</code> action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PropertyValueEntry",
          "variableName" : "entry",
          "variableType" : "PropertyValueEntry",
          "documentation" : "<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>",
          "simpleType" : "PropertyValueEntry",
          "variableSetterType" : "PropertyValueEntry"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Entry" : {
          "c2jName" : "entry",
          "c2jShape" : "PropertyValueEntry",
          "deprecated" : false,
          "documentation" : "<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>\n@param entry An object that contains information about errors returned by the <code>BatchPutProperty</code> action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEntry",
          "getterDocumentation" : "/**<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>\n@return An object that contains information about errors returned by the <code>BatchPutProperty</code> action.*/",
          "getterMethodName" : "getEntry",
          "getterModel" : {
            "returnType" : "PropertyValueEntry",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "entry",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "entry",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Entry",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>\n@param entry An object that contains information about errors returned by the <code>BatchPutProperty</code> action.*/",
          "setterMethodName" : "setEntry",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PropertyValueEntry",
            "variableName" : "entry",
            "variableType" : "PropertyValueEntry",
            "documentation" : "",
            "simpleType" : "PropertyValueEntry",
            "variableSetterType" : "PropertyValueEntry"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>\n@param entry An object that contains information about errors returned by the <code>BatchPutProperty</code> action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PropertyValueEntry",
            "variableName" : "entry",
            "variableType" : "PropertyValueEntry",
            "documentation" : "<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>",
            "simpleType" : "PropertyValueEntry",
            "variableSetterType" : "PropertyValueEntry"
          },
          "xmlNameSpaceUri" : null
        },
        "ErrorCode" : {
          "c2jName" : "errorCode",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The error code.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The error code.</p>\n@param errorCode The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorCode",
          "getterDocumentation" : "/**<p>The error code.</p>\n@return The error code.*/",
          "getterMethodName" : "getErrorCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "errorCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "errorCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The error code.</p>\n@param errorCode The error code.*/",
          "setterMethodName" : "setErrorCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The error code.</p>\n@param errorCode The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "<p>The error code.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ErrorMessage" : {
          "c2jName" : "errorMessage",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The error message.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The error message.</p>\n@param errorMessage The error message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorMessage",
          "getterDocumentation" : "/**<p>The error message.</p>\n@return The error message.*/",
          "getterMethodName" : "getErrorMessage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
[...]
