{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-09-06",
    "asyncClient" : "AWSIoTThingsGraphAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoTThingsGraphAsyncClientBuilder",
    "asyncInterface" : "AWSIoTThingsGraphAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSIoTThingsGraphModuleInjector",
    "defaultEndpoint" : "iotthingsgraph.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "iotthingsgraph.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS IoT Things Graph</fullname> <p>AWS IoT Things Graph provides an integrated set of tools that enable developers to connect devices and services that use different standards, such as units of measure and communication protocols. AWS IoT Things Graph makes it possible to build IoT applications with little to no code by connecting devices and services and defining how they interact at an abstract level.</p> <p>For more information about how AWS IoT Things Graph works, see the <a href=\"https://docs.aws.amazon.com/thingsgraph/latest/ug/iot-tg-whatis.html\">User Guide</a>.</p>",
    "endpointPrefix" : "iotthingsgraph",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iotthingsgraph",
    "packagePath" : "com/amazonaws/services/iotthingsgraph",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT Things Graph",
    "serviceId" : "IoTThingsGraph",
    "serviceName" : "AWS IoT Things Graph",
    "signingName" : "iotthingsgraph",
    "smokeTestsPackageName" : "com.amazonaws.services.iotthingsgraph.smoketests",
    "syncClient" : "AWSIoTThingsGraphClient",
    "syncClientBuilderClassName" : "AWSIoTThingsGraphClientBuilder",
    "syncInterface" : "AWSIoTThingsGraph",
    "uid" : "iotthingsgraph-2018-09-06",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateEntityToThing" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateEntityToThingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateEntityToThingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateEntityToThingRequest, AssociateEntityToThingResult>",
      "asyncReturnType" : "AssociateEntityToThingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a device with a concrete thing that is in the user's registry.</p> <p>A thing can be associated with only one device at a time. If you associate a thing with a new device id, its previous association will be removed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateEntityToThingRequest",
        "variableName" : "associateEntityToThingRequest",
        "variableType" : "AssociateEntityToThingRequest",
        "documentation" : "",
        "simpleType" : "AssociateEntityToThingRequest",
        "variableSetterType" : "AssociateEntityToThingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateEntityToThing",
      "operationName" : "AssociateEntityToThing",
      "returnType" : {
        "returnType" : "AssociateEntityToThingResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateEntityToThingResult"
    },
    "CreateFlowTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFlowTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFlowTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFlowTemplateRequest, CreateFlowTemplateResult>",
      "asyncReturnType" : "CreateFlowTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a workflow template. Workflows can be created only in the user's namespace. (The public namespace contains only entities.) The workflow can contain only entities in the specified namespace. The workflow is validated against the entities in the latest version of the user's namespace unless another namespace version is specified in the request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFlowTemplateRequest",
        "variableName" : "createFlowTemplateRequest",
        "variableType" : "CreateFlowTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateFlowTemplateRequest",
        "variableSetterType" : "CreateFlowTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFlowTemplate",
      "operationName" : "CreateFlowTemplate",
      "returnType" : {
        "returnType" : "CreateFlowTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFlowTemplateResult"
    },
    "CreateSystemInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSystemInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSystemInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSystemInstanceRequest, CreateSystemInstanceResult>",
      "asyncReturnType" : "CreateSystemInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a system instance. </p> <p>This action validates the system instance, prepares the deployment-related resources. For Greengrass deployments, it updates the Greengrass group that is specified by the <code>greengrassGroupName</code> parameter. It also adds a file to the S3 bucket specified by the <code>s3BucketName</code> parameter. You need to call <code>DeploySystemInstance</code> after running this action.</p> <p>For Greengrass deployments, since this action modifies and adds resources to a Greengrass group and an S3 bucket on the caller's behalf, the calling identity must have write permissions to both the specified Greengrass group and S3 bucket. Otherwise, the call will fail with an authorization error.</p> <p>For cloud deployments, this action requires a <code>flowActionsRoleArn</code> value. This is an IAM role that has permissions to access AWS services, such as AWS Lambda and AWS IoT, that the flow uses when it executes.</p> <p>If the definition document doesn't specify a version of the user's namespace, the latest version will be used by default.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSystemInstanceRequest",
        "variableName" : "createSystemInstanceRequest",
        "variableType" : "CreateSystemInstanceRequest",
        "documentation" : "",
        "simpleType" : "CreateSystemInstanceRequest",
        "variableSetterType" : "CreateSystemInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSystemInstance",
      "operationName" : "CreateSystemInstance",
      "returnType" : {
        "returnType" : "CreateSystemInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSystemInstanceResult"
    },
    "CreateSystemTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSystemTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSystemTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSystemTemplateRequest, CreateSystemTemplateResult>",
      "asyncReturnType" : "CreateSystemTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a system. The system is validated against the entities in the latest version of the user's namespace unless another namespace version is specified in the request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSystemTemplateRequest",
        "variableName" : "createSystemTemplateRequest",
        "variableType" : "CreateSystemTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateSystemTemplateRequest",
        "variableSetterType" : "CreateSystemTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSystemTemplate",
      "operationName" : "CreateSystemTemplate",
      "returnType" : {
        "returnType" : "CreateSystemTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSystemTemplateResult"
    },
    "DeleteFlowTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFlowTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFlowTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFlowTemplateRequest, DeleteFlowTemplateResult>",
      "asyncReturnType" : "DeleteFlowTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a workflow. Any new system or deployment that contains this workflow will fail to update or deploy. Existing deployments that contain the workflow will continue to run (since they use a snapshot of the workflow taken at the time of deployment).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFlowTemplateRequest",
        "variableName" : "deleteFlowTemplateRequest",
        "variableType" : "DeleteFlowTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteFlowTemplateRequest",
        "variableSetterType" : "DeleteFlowTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFlowTemplate",
      "operationName" : "DeleteFlowTemplate",
      "returnType" : {
        "returnType" : "DeleteFlowTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFlowTemplateResult"
    },
    "DeleteNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNamespaceRequest, DeleteNamespaceResult>",
      "asyncReturnType" : "DeleteNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified namespace. This action deletes all of the entities in the namespace. Delete the systems and flows that use entities in the namespace before performing this action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNamespaceRequest",
        "variableName" : "deleteNamespaceRequest",
        "variableType" : "DeleteNamespaceRequest",
        "documentation" : "",
        "simpleType" : "DeleteNamespaceRequest",
        "variableSetterType" : "DeleteNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNamespace",
      "operationName" : "DeleteNamespace",
      "returnType" : {
        "returnType" : "DeleteNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNamespaceResult"
    },
    "DeleteSystemInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSystemInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSystemInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSystemInstanceRequest, DeleteSystemInstanceResult>",
      "asyncReturnType" : "DeleteSystemInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a system instance. Only system instances that have never been deployed, or that have been undeployed can be deleted.</p> <p>Users can create a new system instance that has the same ID as a deleted system instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSystemInstanceRequest",
        "variableName" : "deleteSystemInstanceRequest",
        "variableType" : "DeleteSystemInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeleteSystemInstanceRequest",
        "variableSetterType" : "DeleteSystemInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSystemInstance",
      "operationName" : "DeleteSystemInstance",
      "returnType" : {
        "returnType" : "DeleteSystemInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSystemInstanceResult"
    },
    "DeleteSystemTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSystemTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSystemTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSystemTemplateRequest, DeleteSystemTemplateResult>",
      "asyncReturnType" : "DeleteSystemTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a system. New deployments can't contain the system after its deletion. Existing deployments that contain the system will continue to work because they use a snapshot of the system that is taken when it is deployed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSystemTemplateRequest",
        "variableName" : "deleteSystemTemplateRequest",
        "variableType" : "DeleteSystemTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteSystemTemplateRequest",
        "variableSetterType" : "DeleteSystemTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSystemTemplate",
      "operationName" : "DeleteSystemTemplate",
      "returnType" : {
        "returnType" : "DeleteSystemTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSystemTemplateResult"
    },
    "DeploySystemInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeploySystemInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeploySystemInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeploySystemInstanceRequest, DeploySystemInstanceResult>",
      "asyncReturnType" : "DeploySystemInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> <b>Greengrass and Cloud Deployments</b> </p> <p>Deploys the system instance to the target specified in <code>CreateSystemInstance</code>. </p> <p> <b>Greengrass Deployments</b> </p> <p>If the system or any workflows and entities have been updated before this action is called, then the deployment will create a new Amazon Simple Storage Service resource file and then deploy it.</p> <p>Since this action creates a Greengrass deployment on the caller's behalf, the calling identity must have write permissions to the specified Greengrass group. Otherwise, the call will fail with an authorization error.</p> <p>For information about the artifacts that get added to your Greengrass core device when you use this API, see <a href=\"https://docs.aws.amazon.com/thingsgraph/latest/ug/iot-tg-greengrass.html\">AWS IoT Things Graph and AWS IoT Greengrass</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeploySystemInstanceRequest",
        "variableName" : "deploySystemInstanceRequest",
        "variableType" : "DeploySystemInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeploySystemInstanceRequest",
        "variableSetterType" : "DeploySystemInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deploySystemInstance",
      "operationName" : "DeploySystemInstance",
      "returnType" : {
        "returnType" : "DeploySystemInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeploySystemInstanceResult"
    },
    "DeprecateFlowTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeprecateFlowTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeprecateFlowTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeprecateFlowTemplateRequest, DeprecateFlowTemplateResult>",
      "asyncReturnType" : "DeprecateFlowTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deprecates the specified workflow. This action marks the workflow for deletion. Deprecated flows can't be deployed, but existing deployments will continue to run.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeprecateFlowTemplateRequest",
        "variableName" : "deprecateFlowTemplateRequest",
        "variableType" : "DeprecateFlowTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeprecateFlowTemplateRequest",
        "variableSetterType" : "DeprecateFlowTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deprecateFlowTemplate",
      "operationName" : "DeprecateFlowTemplate",
      "returnType" : {
        "returnType" : "DeprecateFlowTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeprecateFlowTemplateResult"
    },
    "DeprecateSystemTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeprecateSystemTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeprecateSystemTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeprecateSystemTemplateRequest, DeprecateSystemTemplateResult>",
      "asyncReturnType" : "DeprecateSystemTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deprecates the specified system.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeprecateSystemTemplateRequest",
        "variableName" : "deprecateSystemTemplateRequest",
        "variableType" : "DeprecateSystemTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeprecateSystemTemplateRequest",
        "variableSetterType" : "DeprecateSystemTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deprecateSystemTemplate",
      "operationName" : "DeprecateSystemTemplate",
      "returnType" : {
        "returnType" : "DeprecateSystemTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeprecateSystemTemplateResult"
    },
    "DescribeNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNamespaceRequest, DescribeNamespaceResult>",
      "asyncReturnType" : "DescribeNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the latest version of the user's namespace and the public version that it is tracking.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeNamespaceRequest",
        "variableName" : "describeNamespaceRequest",
        "variableType" : "DescribeNamespaceRequest",
        "documentation" : "",
        "simpleType" : "DescribeNamespaceRequest",
        "variableSetterType" : "DescribeNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNamespace",
      "operationName" : "DescribeNamespace",
      "returnType" : {
        "returnType" : "DescribeNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeNamespaceResult"
    },
    "DissociateEntityFromThing" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DissociateEntityFromThingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DissociateEntityFromThingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DissociateEntityFromThingRequest, DissociateEntityFromThingResult>",
      "asyncReturnType" : "DissociateEntityFromThingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Dissociates a device entity from a concrete thing. The action takes only the type of the entity that you need to dissociate because only one entity of a particular type can be associated with a thing.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DissociateEntityFromThingRequest",
        "variableName" : "dissociateEntityFromThingRequest",
        "variableType" : "DissociateEntityFromThingRequest",
        "documentation" : "",
        "simpleType" : "DissociateEntityFromThingRequest",
        "variableSetterType" : "DissociateEntityFromThingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "dissociateEntityFromThing",
      "operationName" : "DissociateEntityFromThing",
      "returnType" : {
        "returnType" : "DissociateEntityFromThingResult",
        "documentation" : null
      },
      "syncReturnType" : "DissociateEntityFromThingResult"
    },
    "GetEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEntitiesRequest, GetEntitiesResult>",
      "asyncReturnType" : "GetEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets definitions of the specified entities. Uses the latest version of the user's namespace by default. This API returns the following TDM entities.</p> <ul> <li> <p>Properties</p> </li> <li> <p>States</p> </li> <li> <p>Events</p> </li> <li> <p>Actions</p> </li> <li> <p>Capabilities</p> </li> <li> <p>Mappings</p> </li> <li> <p>Devices</p> </li> <li> <p>Device Models</p> </li> <li> <p>Services</p> </li> </ul> <p>This action doesn't return definitions for systems, flows, and deployments.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEntitiesRequest",
        "variableName" : "getEntitiesRequest",
        "variableType" : "GetEntitiesRequest",
        "documentation" : "",
        "simpleType" : "GetEntitiesRequest",
        "variableSetterType" : "GetEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEntities",
      "operationName" : "GetEntities",
      "returnType" : {
        "returnType" : "GetEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEntitiesResult"
    },
    "GetFlowTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFlowTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFlowTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFlowTemplateRequest, GetFlowTemplateResult>",
      "asyncReturnType" : "GetFlowTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the latest version of the <code>DefinitionDocument</code> and <code>FlowTemplateSummary</code> for the specified workflow.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFlowTemplateRequest",
        "variableName" : "getFlowTemplateRequest",
        "variableType" : "GetFlowTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetFlowTemplateRequest",
        "variableSetterType" : "GetFlowTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFlowTemplate",
      "operationName" : "GetFlowTemplate",
      "returnType" : {
        "returnType" : "GetFlowTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFlowTemplateResult"
    },
    "GetFlowTemplateRevisions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFlowTemplateRevisionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFlowTemplateRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFlowTemplateRevisionsRequest, GetFlowTemplateRevisionsResult>",
      "asyncReturnType" : "GetFlowTemplateRevisionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets revisions of the specified workflow. Only the last 100 revisions are stored. If the workflow has been deprecated, this action will return revisions that occurred before the deprecation. This action won't work for workflows that have been deleted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFlowTemplateRevisionsRequest",
        "variableName" : "getFlowTemplateRevisionsRequest",
        "variableType" : "GetFlowTemplateRevisionsRequest",
        "documentation" : "",
        "simpleType" : "GetFlowTemplateRevisionsRequest",
        "variableSetterType" : "GetFlowTemplateRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFlowTemplateRevisions",
      "operationName" : "GetFlowTemplateRevisions",
      "returnType" : {
        "returnType" : "GetFlowTemplateRevisionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFlowTemplateRevisionsResult"
    },
    "GetNamespaceDeletionStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNamespaceDeletionStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNamespaceDeletionStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNamespaceDeletionStatusRequest, GetNamespaceDeletionStatusResult>",
      "asyncReturnType" : "GetNamespaceDeletionStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the status of a namespace deletion task.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNamespaceDeletionStatusRequest",
        "variableName" : "getNamespaceDeletionStatusRequest",
        "variableType" : "GetNamespaceDeletionStatusRequest",
        "documentation" : "",
        "simpleType" : "GetNamespaceDeletionStatusRequest",
        "variableSetterType" : "GetNamespaceDeletionStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNamespaceDeletionStatus",
      "operationName" : "GetNamespaceDeletionStatus",
      "returnType" : {
        "returnType" : "GetNamespaceDeletionStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNamespaceDeletionStatusResult"
    },
    "GetSystemInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSystemInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSystemInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSystemInstanceRequest, GetSystemInstanceResult>",
      "asyncReturnType" : "GetSystemInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a system instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSystemInstanceRequest",
        "variableName" : "getSystemInstanceRequest",
        "variableType" : "GetSystemInstanceRequest",
        "documentation" : "",
        "simpleType" : "GetSystemInstanceRequest",
        "variableSetterType" : "GetSystemInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSystemInstance",
      "operationName" : "GetSystemInstance",
      "returnType" : {
        "returnType" : "GetSystemInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSystemInstanceResult"
    },
    "GetSystemTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSystemTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSystemTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSystemTemplateRequest, GetSystemTemplateResult>",
      "asyncReturnType" : "GetSystemTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a system.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSystemTemplateRequest",
        "variableName" : "getSystemTemplateRequest",
        "variableType" : "GetSystemTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetSystemTemplateRequest",
        "variableSetterType" : "GetSystemTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSystemTemplate",
      "operationName" : "GetSystemTemplate",
      "returnType" : {
        "returnType" : "GetSystemTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSystemTemplateResult"
    },
    "GetSystemTemplateRevisions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSystemTemplateRevisionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSystemTemplateRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSystemTemplateRevisionsRequest, GetSystemTemplateRevisionsResult>",
      "asyncReturnType" : "GetSystemTemplateRevisionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets revisions made to the specified system template. Only the previous 100 revisions are stored. If the system has been deprecated, this action will return the revisions that occurred before its deprecation. This action won't work with systems that have been deleted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSystemTemplateRevisionsRequest",
        "variableName" : "getSystemTemplateRevisionsRequest",
        "variableType" : "GetSystemTemplateRevisionsRequest",
        "documentation" : "",
        "simpleType" : "GetSystemTemplateRevisionsRequest",
        "variableSetterType" : "GetSystemTemplateRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSystemTemplateRevisions",
      "operationName" : "GetSystemTemplateRevisions",
      "returnType" : {
        "returnType" : "GetSystemTemplateRevisionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSystemTemplateRevisionsResult"
    },
    "GetUploadStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUploadStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUploadStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUploadStatusRequest, GetUploadStatusResult>",
      "asyncReturnType" : "GetUploadStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the status of the specified upload.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUploadStatusRequest",
        "variableName" : "getUploadStatusRequest",
        "variableType" : "GetUploadStatusRequest",
        "documentation" : "",
        "simpleType" : "GetUploadStatusRequest",
        "variableSetterType" : "GetUploadStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUploadStatus",
      "operationName" : "GetUploadStatus",
      "returnType" : {
        "returnType" : "GetUploadStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetUploadStatusResult"
    },
    "ListFlowExecutionMessages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFlowExecutionMessagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFlowExecutionMessagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFlowExecutionMessagesRequest, ListFlowExecutionMessagesResult>",
      "asyncReturnType" : "ListFlowExecutionMessagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of objects that contain information about events in a flow execution.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFlowExecutionMessagesRequest",
        "variableName" : "listFlowExecutionMessagesRequest",
        "variableType" : "ListFlowExecutionMessagesRequest",
        "documentation" : "",
        "simpleType" : "ListFlowExecutionMessagesRequest",
        "variableSetterType" : "ListFlowExecutionMessagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFlowExecutionMessages",
      "operationName" : "ListFlowExecutionMessages",
      "returnType" : {
        "returnType" : "ListFlowExecutionMessagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFlowExecutionMessagesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags on an AWS IoT Things Graph resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "SearchEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchEntitiesRequest, SearchEntitiesResult>",
      "asyncReturnType" : "SearchEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for entities of the specified type. You can search for entities in your namespace and the public namespace that you're tracking.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchEntitiesRequest",
        "variableName" : "searchEntitiesRequest",
        "variableType" : "SearchEntitiesRequest",
        "documentation" : "",
        "simpleType" : "SearchEntitiesRequest",
        "variableSetterType" : "SearchEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchEntities",
      "operationName" : "SearchEntities",
      "returnType" : {
        "returnType" : "SearchEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchEntitiesResult"
    },
    "SearchFlowExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchFlowExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchFlowExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchFlowExecutionsRequest, SearchFlowExecutionsResult>",
      "asyncReturnType" : "SearchFlowExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for AWS IoT Things Graph workflow execution instances.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchFlowExecutionsRequest",
        "variableName" : "searchFlowExecutionsRequest",
        "variableType" : "SearchFlowExecutionsRequest",
        "documentation" : "",
        "simpleType" : "SearchFlowExecutionsRequest",
        "variableSetterType" : "SearchFlowExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchFlowExecutions",
      "operationName" : "SearchFlowExecutions",
      "returnType" : {
        "returnType" : "SearchFlowExecutionsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchFlowExecutionsResult"
    },
    "SearchFlowTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchFlowTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchFlowTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchFlowTemplatesRequest, SearchFlowTemplatesResult>",
      "asyncReturnType" : "SearchFlowTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for summary information about workflows.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchFlowTemplatesRequest",
        "variableName" : "searchFlowTemplatesRequest",
        "variableType" : "SearchFlowTemplatesRequest",
        "documentation" : "",
        "simpleType" : "SearchFlowTemplatesRequest",
        "variableSetterType" : "SearchFlowTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchFlowTemplates",
      "operationName" : "SearchFlowTemplates",
      "returnType" : {
        "returnType" : "SearchFlowTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchFlowTemplatesResult"
    },
    "SearchSystemInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchSystemInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchSystemInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchSystemInstancesRequest, SearchSystemInstancesResult>",
      "asyncReturnType" : "SearchSystemInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for system instances in the user's account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchSystemInstancesRequest",
        "variableName" : "searchSystemInstancesRequest",
        "variableType" : "SearchSystemInstancesRequest",
        "documentation" : "",
        "simpleType" : "SearchSystemInstancesRequest",
        "variableSetterType" : "SearchSystemInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchSystemInstances",
      "operationName" : "SearchSystemInstances",
      "returnType" : {
        "returnType" : "SearchSystemInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchSystemInstancesResult"
    },
    "SearchSystemTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchSystemTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchSystemTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchSystemTemplatesRequest, SearchSystemTemplatesResult>",
      "asyncReturnType" : "SearchSystemTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for summary information about systems in the user's account. You can filter by the ID of a workflow to return only systems that use the specified workflow.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchSystemTemplatesRequest",
        "variableName" : "searchSystemTemplatesRequest",
        "variableType" : "SearchSystemTemplatesRequest",
        "documentation" : "",
        "simpleType" : "SearchSystemTemplatesRequest",
        "variableSetterType" : "SearchSystemTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchSystemTemplates",
      "operationName" : "SearchSystemTemplates",
      "returnType" : {
        "returnType" : "SearchSystemTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchSystemTemplatesResult"
    },
    "SearchThings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchThingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchThingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchThingsRequest, SearchThingsResult>",
      "asyncReturnType" : "SearchThingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for things associated with the specified entity. You can search by both device and device model.</p> <p>For example, if two different devices, camera1 and camera2, implement the camera device model, the user can associate thing1 to camera1 and thing2 to camera2. <code>SearchThings(camera2)</code> will return only thing2, but <code>SearchThings(camera)</code> will return both thing1 and thing2.</p> <p>This action searches for exact matches and doesn't perform partial text matching.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchThingsRequest",
        "variableName" : "searchThingsRequest",
        "variableType" : "SearchThingsRequest",
        "documentation" : "",
        "simpleType" : "SearchThingsRequest",
        "variableSetterType" : "SearchThingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchThings",
      "operationName" : "SearchThings",
      "returnType" : {
        "returnType" : "SearchThingsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchThingsResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a tag for the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UndeploySystemInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UndeploySystemInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UndeploySystemInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UndeploySystemInstanceRequest, UndeploySystemInstanceResult>",
      "asyncReturnType" : "UndeploySystemInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a system instance from its target (Cloud or Greengrass).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UndeploySystemInstanceRequest",
        "variableName" : "undeploySystemInstanceRequest",
        "variableType" : "UndeploySystemInstanceRequest",
        "documentation" : "",
        "simpleType" : "UndeploySystemInstanceRequest",
        "variableSetterType" : "UndeploySystemInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "undeploySystemInstance",
      "operationName" : "UndeploySystemInstance",
      "returnType" : {
        "returnType" : "UndeploySystemInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "UndeploySystemInstanceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag from the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateFlowTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFlowTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFlowTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFlowTemplateRequest, UpdateFlowTemplateResult>",
      "asyncReturnType" : "UpdateFlowTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified workflow. All deployed systems and system instances that use the workflow will see the changes in the flow when it is redeployed. If you don't want this behavior, copy the workflow (creating a new workflow with a different ID), and update the copy. The workflow can contain only entities in the specified namespace. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFlowTemplateRequest",
        "variableName" : "updateFlowTemplateRequest",
        "variableType" : "UpdateFlowTemplateRequest",
        "documentation" : "",
        "simpleType" : "UpdateFlowTemplateRequest",
        "variableSetterType" : "UpdateFlowTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFlowTemplate",
      "operationName" : "UpdateFlowTemplate",
      "returnType" : {
        "returnType" : "UpdateFlowTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFlowTemplateResult"
    },
    "UpdateSystemTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSystemTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSystemTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSystemTemplateRequest, UpdateSystemTemplateResult>",
      "asyncReturnType" : "UpdateSystemTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified system. You don't need to run this action after updating a workflow. Any deployment that uses the system will see the changes in the system when it is redeployed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSystemTemplateRequest",
        "variableName" : "updateSystemTemplateRequest",
        "variableType" : "UpdateSystemTemplateRequest",
        "documentation" : "",
        "simpleType" : "UpdateSystemTemplateRequest",
        "variableSetterType" : "UpdateSystemTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSystemTemplate",
      "operationName" : "UpdateSystemTemplate",
      "returnType" : {
        "returnType" : "UpdateSystemTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSystemTemplateResult"
    },
    "UploadEntityDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UploadEntityDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UploadEntityDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UploadEntityDefinitionsRequest, UploadEntityDefinitionsResult>",
      "asyncReturnType" : "UploadEntityDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Asynchronously uploads one or more entity definitions to the user's namespace. The <code>document</code> parameter is required if <code>syncWithPublicNamespace</code> and <code>deleteExistingEntites</code> are false. If the <code>syncWithPublicNamespace</code> parameter is set to <code>true</code>, the user's namespace will synchronize with the latest version of the public namespace. If <code>deprecateExistingEntities</code> is set to true, all entities in the latest version will be deleted before the new <code>DefinitionDocument</code> is uploaded.</p> <p>When a user uploads entity definitions for the first time, the service creates a new namespace for the user. The new namespace tracks the public namespace. Currently users can have only one namespace. The namespace version increments whenever a user uploads entity definitions that are backwards-incompatible and whenever a user sets the <code>syncWithPublicNamespace</code> parameter or the <code>deprecateExistingEntities</code> parameter to <code>true</code>.</p> <p>The IDs for all of the entities should be in URN format. Each entity must be in the user's namespace. Users can't create entities in the public namespace, but entity definitions can refer to entities in the public namespace.</p> <p>Valid entities are <code>Device</code>, <code>DeviceModel</code>, <code>Service</code>, <code>Capability</code>, <code>State</code>, <code>Action</code>, <code>Event</code>, <code>Property</code>, <code>Mapping</code>, <code>Enum</code>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UploadEntityDefinitionsRequest",
        "variableName" : "uploadEntityDefinitionsRequest",
        "variableType" : "UploadEntityDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "UploadEntityDefinitionsRequest",
        "variableSetterType" : "UploadEntityDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "uploadEntityDefinitions",
      "operationName" : "UploadEntityDefinitions",
      "returnType" : {
        "returnType" : "UploadEntityDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "UploadEntityDefinitionsResult"
    }
  },
  "shapes" : {
    "AssociateEntityToThingRequest" : {
      "c2jName" : "AssociateEntityToThingRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateEntityToThing",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "IotThingsGraphFrontEndService.AssociateEntityToThing",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "thingName",
        "c2jShape" : "ThingName",
        "deprecated" : false,
        "documentation" : "<p>The name of the thing to which the entity is to be associated.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the thing to which the entity is to be associated.</p>\n@param thingName The name of the thing to which the entity is to be associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withThingName",
        "getterDocumentation" : "/**<p>The name of the thing to which the entity is to be associated.</p>\n@return The name of the thing to which the entity is to be associated.*/",
        "getterMethodName" : "getThingName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "thingName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "thingName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ThingName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the thing to which the entity is to be associated.</p>\n@param thingName The name of the thing to which the entity is to be associated.*/",
        "setterMethodName" : "setThingName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thingName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the thing to which the entity is to be associated.</p>\n@param thingName The name of the thing to which the entity is to be associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thingName",
          "variableType" : "String",
          "documentation" : "<p>The name of the thing to which the entity is to be associated.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "entityId",
        "c2jShape" : "Urn",
        "deprecated" : false,
        "documentation" : "<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>\n@param entityId The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEntityId",
        "getterDocumentation" : "/**<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>\n@return The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>*/",
        "getterMethodName" : "getEntityId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "entityId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "entityId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EntityId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>\n@param entityId The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>*/",
        "setterMethodName" : "setEntityId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "entityId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>\n@param entityId The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "entityId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "namespaceVersion",
        "c2jShape" : "Version",
        "deprecated" : false,
        "documentation" : "<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>\n@param namespaceVersion The version of the user's namespace. Defaults to the latest version of the user's namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNamespaceVersion",
        "getterDocumentation" : "/**<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>\n@return The version of the user's namespace. Defaults to the latest version of the user's namespace.*/",
        "getterMethodName" : "getNamespaceVersion",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "namespaceVersion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "namespaceVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "NamespaceVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>\n@param namespaceVersion The version of the user's namespace. Defaults to the latest version of the user's namespace.*/",
        "setterMethodName" : "setNamespaceVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "namespaceVersion",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>\n@param namespaceVersion The version of the user's namespace. Defaults to the latest version of the user's namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "namespaceVersion",
          "variableType" : "Long",
          "documentation" : "<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EntityId" : {
          "c2jName" : "entityId",
          "c2jShape" : "Urn",
          "deprecated" : false,
          "documentation" : "<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>\n@param entityId The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEntityId",
          "getterDocumentation" : "/**<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>\n@return The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>*/",
          "getterMethodName" : "getEntityId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "entityId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "entityId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EntityId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>\n@param entityId The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>*/",
          "setterMethodName" : "setEntityId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "entityId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>\n@param entityId The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "entityId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "NamespaceVersion" : {
          "c2jName" : "namespaceVersion",
          "c2jShape" : "Version",
          "deprecated" : false,
          "documentation" : "<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>\n@param namespaceVersion The version of the user's namespace. Defaults to the latest version of the user's namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNamespaceVersion",
          "getterDocumentation" : "/**<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>\n@return The version of the user's namespace. Defaults to the latest version of the user's namespace.*/",
          "getterMethodName" : "getNamespaceVersion",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "namespaceVersion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "namespaceVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "NamespaceVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>\n@param namespaceVersion The version of the user's namespace. Defaults to the latest version of the user's namespace.*/",
          "setterMethodName" : "setNamespaceVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "namespaceVersion",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>\n@param namespaceVersion The version of the user's namespace. Defaults to the latest version of the user's namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "namespaceVersion",
            "variableType" : "Long",
            "documentation" : "<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "ThingName" : {
          "c2jName" : "thingName",
          "c2jShape" : "ThingName",
          "deprecated" : false,
          "documentation" : "<p>The name of the thing to which the entity is to be associated.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the thing to which the entity is to be associated.</p>\n@param thingName The name of the thing to which the entity is to be associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withThingName",
          "getterDocumentation" : "/**<p>The name of the thing to which the entity is to be associated.</p>\n@return The name of the thing to which the entity is to be associated.*/",
          "getterMethodName" : "getThingName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "thingName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "thingName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ThingName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the thing to which the entity is to be associated.</p>\n@param thingName The name of the thing to which the entity is to be associated.*/",
          "setterMethodName" : "setThingName",
          "setterModel" : {
            "timestampFormat" : null,
[...]
