{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-11-22",
    "asyncClient" : "AWSIoTWirelessAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoTWirelessAsyncClientBuilder",
    "asyncInterface" : "AWSIoTWirelessAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSIoTWirelessModuleInjector",
    "defaultEndpoint" : "api.iotwireless.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "api.iotwireless.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS IoT Wireless API documentation</p>",
    "endpointPrefix" : "api.iotwireless",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iotwireless",
    "packagePath" : "com/amazonaws/services/iotwireless",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT Wireless",
    "serviceId" : "IoT Wireless",
    "serviceName" : "AWS IoT Wireless",
    "signingName" : "iotwireless",
    "smokeTestsPackageName" : "com.amazonaws.services.iotwireless.smoketests",
    "syncClient" : "AWSIoTWirelessClient",
    "syncClientBuilderClassName" : "AWSIoTWirelessClientBuilder",
    "syncInterface" : "AWSIoTWireless",
    "uid" : "iotwireless-2020-11-22",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateAwsAccountWithPartnerAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateAwsAccountWithPartnerAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateAwsAccountWithPartnerAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateAwsAccountWithPartnerAccountRequest, AssociateAwsAccountWithPartnerAccountResult>",
      "asyncReturnType" : "AssociateAwsAccountWithPartnerAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a partner account with your AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateAwsAccountWithPartnerAccountRequest",
        "variableName" : "associateAwsAccountWithPartnerAccountRequest",
        "variableType" : "AssociateAwsAccountWithPartnerAccountRequest",
        "documentation" : "",
        "simpleType" : "AssociateAwsAccountWithPartnerAccountRequest",
        "variableSetterType" : "AssociateAwsAccountWithPartnerAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateAwsAccountWithPartnerAccount",
      "operationName" : "AssociateAwsAccountWithPartnerAccount",
      "returnType" : {
        "returnType" : "AssociateAwsAccountWithPartnerAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateAwsAccountWithPartnerAccountResult"
    },
    "AssociateWirelessDeviceWithThing" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateWirelessDeviceWithThingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateWirelessDeviceWithThingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateWirelessDeviceWithThingRequest, AssociateWirelessDeviceWithThingResult>",
      "asyncReturnType" : "AssociateWirelessDeviceWithThingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a wireless device with a thing.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateWirelessDeviceWithThingRequest",
        "variableName" : "associateWirelessDeviceWithThingRequest",
        "variableType" : "AssociateWirelessDeviceWithThingRequest",
        "documentation" : "",
        "simpleType" : "AssociateWirelessDeviceWithThingRequest",
        "variableSetterType" : "AssociateWirelessDeviceWithThingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateWirelessDeviceWithThing",
      "operationName" : "AssociateWirelessDeviceWithThing",
      "returnType" : {
        "returnType" : "AssociateWirelessDeviceWithThingResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateWirelessDeviceWithThingResult"
    },
    "AssociateWirelessGatewayWithCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateWirelessGatewayWithCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateWirelessGatewayWithCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateWirelessGatewayWithCertificateRequest, AssociateWirelessGatewayWithCertificateResult>",
      "asyncReturnType" : "AssociateWirelessGatewayWithCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a wireless gateway with a certificate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateWirelessGatewayWithCertificateRequest",
        "variableName" : "associateWirelessGatewayWithCertificateRequest",
        "variableType" : "AssociateWirelessGatewayWithCertificateRequest",
        "documentation" : "",
        "simpleType" : "AssociateWirelessGatewayWithCertificateRequest",
        "variableSetterType" : "AssociateWirelessGatewayWithCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateWirelessGatewayWithCertificate",
      "operationName" : "AssociateWirelessGatewayWithCertificate",
      "returnType" : {
        "returnType" : "AssociateWirelessGatewayWithCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateWirelessGatewayWithCertificateResult"
    },
    "AssociateWirelessGatewayWithThing" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateWirelessGatewayWithThingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateWirelessGatewayWithThingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateWirelessGatewayWithThingRequest, AssociateWirelessGatewayWithThingResult>",
      "asyncReturnType" : "AssociateWirelessGatewayWithThingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a wireless gateway with a thing.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateWirelessGatewayWithThingRequest",
        "variableName" : "associateWirelessGatewayWithThingRequest",
        "variableType" : "AssociateWirelessGatewayWithThingRequest",
        "documentation" : "",
        "simpleType" : "AssociateWirelessGatewayWithThingRequest",
        "variableSetterType" : "AssociateWirelessGatewayWithThingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateWirelessGatewayWithThing",
      "operationName" : "AssociateWirelessGatewayWithThing",
      "returnType" : {
        "returnType" : "AssociateWirelessGatewayWithThingResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateWirelessGatewayWithThingResult"
    },
    "CreateDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDestinationRequest, CreateDestinationResult>",
      "asyncReturnType" : "CreateDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new destination that maps a device message to an AWS IoT rule.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDestinationRequest",
        "variableName" : "createDestinationRequest",
        "variableType" : "CreateDestinationRequest",
        "documentation" : "",
        "simpleType" : "CreateDestinationRequest",
        "variableSetterType" : "CreateDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDestination",
      "operationName" : "CreateDestination",
      "returnType" : {
        "returnType" : "CreateDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDestinationResult"
    },
    "CreateDeviceProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeviceProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeviceProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeviceProfileRequest, CreateDeviceProfileResult>",
      "asyncReturnType" : "CreateDeviceProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new device profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDeviceProfileRequest",
        "variableName" : "createDeviceProfileRequest",
        "variableType" : "CreateDeviceProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateDeviceProfileRequest",
        "variableSetterType" : "CreateDeviceProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeviceProfile",
      "operationName" : "CreateDeviceProfile",
      "returnType" : {
        "returnType" : "CreateDeviceProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDeviceProfileResult"
    },
    "CreateServiceProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateServiceProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateServiceProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateServiceProfileRequest, CreateServiceProfileResult>",
      "asyncReturnType" : "CreateServiceProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new service profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateServiceProfileRequest",
        "variableName" : "createServiceProfileRequest",
        "variableType" : "CreateServiceProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateServiceProfileRequest",
        "variableSetterType" : "CreateServiceProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createServiceProfile",
      "operationName" : "CreateServiceProfile",
      "returnType" : {
        "returnType" : "CreateServiceProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateServiceProfileResult"
    },
    "CreateWirelessDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWirelessDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWirelessDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWirelessDeviceRequest, CreateWirelessDeviceResult>",
      "asyncReturnType" : "CreateWirelessDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provisions a wireless device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWirelessDeviceRequest",
        "variableName" : "createWirelessDeviceRequest",
        "variableType" : "CreateWirelessDeviceRequest",
        "documentation" : "",
        "simpleType" : "CreateWirelessDeviceRequest",
        "variableSetterType" : "CreateWirelessDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWirelessDevice",
      "operationName" : "CreateWirelessDevice",
      "returnType" : {
        "returnType" : "CreateWirelessDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWirelessDeviceResult"
    },
    "CreateWirelessGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWirelessGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWirelessGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWirelessGatewayRequest, CreateWirelessGatewayResult>",
      "asyncReturnType" : "CreateWirelessGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provisions a wireless gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWirelessGatewayRequest",
        "variableName" : "createWirelessGatewayRequest",
        "variableType" : "CreateWirelessGatewayRequest",
        "documentation" : "",
        "simpleType" : "CreateWirelessGatewayRequest",
        "variableSetterType" : "CreateWirelessGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWirelessGateway",
      "operationName" : "CreateWirelessGateway",
      "returnType" : {
        "returnType" : "CreateWirelessGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWirelessGatewayResult"
    },
    "CreateWirelessGatewayTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWirelessGatewayTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWirelessGatewayTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWirelessGatewayTaskRequest, CreateWirelessGatewayTaskResult>",
      "asyncReturnType" : "CreateWirelessGatewayTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a task for a wireless gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWirelessGatewayTaskRequest",
        "variableName" : "createWirelessGatewayTaskRequest",
        "variableType" : "CreateWirelessGatewayTaskRequest",
        "documentation" : "",
        "simpleType" : "CreateWirelessGatewayTaskRequest",
        "variableSetterType" : "CreateWirelessGatewayTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWirelessGatewayTask",
      "operationName" : "CreateWirelessGatewayTask",
      "returnType" : {
        "returnType" : "CreateWirelessGatewayTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWirelessGatewayTaskResult"
    },
    "CreateWirelessGatewayTaskDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWirelessGatewayTaskDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWirelessGatewayTaskDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWirelessGatewayTaskDefinitionRequest, CreateWirelessGatewayTaskDefinitionResult>",
      "asyncReturnType" : "CreateWirelessGatewayTaskDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a gateway task definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWirelessGatewayTaskDefinitionRequest",
        "variableName" : "createWirelessGatewayTaskDefinitionRequest",
        "variableType" : "CreateWirelessGatewayTaskDefinitionRequest",
        "documentation" : "",
        "simpleType" : "CreateWirelessGatewayTaskDefinitionRequest",
        "variableSetterType" : "CreateWirelessGatewayTaskDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWirelessGatewayTaskDefinition",
      "operationName" : "CreateWirelessGatewayTaskDefinition",
      "returnType" : {
        "returnType" : "CreateWirelessGatewayTaskDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWirelessGatewayTaskDefinitionResult"
    },
    "DeleteDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDestinationRequest, DeleteDestinationResult>",
      "asyncReturnType" : "DeleteDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a destination.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDestinationRequest",
        "variableName" : "deleteDestinationRequest",
        "variableType" : "DeleteDestinationRequest",
        "documentation" : "",
        "simpleType" : "DeleteDestinationRequest",
        "variableSetterType" : "DeleteDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDestination",
      "operationName" : "DeleteDestination",
      "returnType" : {
        "returnType" : "DeleteDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDestinationResult"
    },
    "DeleteDeviceProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeviceProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeviceProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeviceProfileRequest, DeleteDeviceProfileResult>",
      "asyncReturnType" : "DeleteDeviceProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a device profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDeviceProfileRequest",
        "variableName" : "deleteDeviceProfileRequest",
        "variableType" : "DeleteDeviceProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteDeviceProfileRequest",
        "variableSetterType" : "DeleteDeviceProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeviceProfile",
      "operationName" : "DeleteDeviceProfile",
      "returnType" : {
        "returnType" : "DeleteDeviceProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeviceProfileResult"
    },
    "DeleteServiceProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServiceProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServiceProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServiceProfileRequest, DeleteServiceProfileResult>",
      "asyncReturnType" : "DeleteServiceProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a service profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServiceProfileRequest",
        "variableName" : "deleteServiceProfileRequest",
        "variableType" : "DeleteServiceProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteServiceProfileRequest",
        "variableSetterType" : "DeleteServiceProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteServiceProfile",
      "operationName" : "DeleteServiceProfile",
      "returnType" : {
        "returnType" : "DeleteServiceProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServiceProfileResult"
    },
    "DeleteWirelessDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWirelessDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWirelessDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWirelessDeviceRequest, DeleteWirelessDeviceResult>",
      "asyncReturnType" : "DeleteWirelessDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a wireless device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWirelessDeviceRequest",
        "variableName" : "deleteWirelessDeviceRequest",
        "variableType" : "DeleteWirelessDeviceRequest",
        "documentation" : "",
        "simpleType" : "DeleteWirelessDeviceRequest",
        "variableSetterType" : "DeleteWirelessDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWirelessDevice",
      "operationName" : "DeleteWirelessDevice",
      "returnType" : {
        "returnType" : "DeleteWirelessDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWirelessDeviceResult"
    },
    "DeleteWirelessGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWirelessGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWirelessGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWirelessGatewayRequest, DeleteWirelessGatewayResult>",
      "asyncReturnType" : "DeleteWirelessGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a wireless gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWirelessGatewayRequest",
        "variableName" : "deleteWirelessGatewayRequest",
        "variableType" : "DeleteWirelessGatewayRequest",
        "documentation" : "",
        "simpleType" : "DeleteWirelessGatewayRequest",
        "variableSetterType" : "DeleteWirelessGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWirelessGateway",
      "operationName" : "DeleteWirelessGateway",
      "returnType" : {
        "returnType" : "DeleteWirelessGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWirelessGatewayResult"
    },
    "DeleteWirelessGatewayTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWirelessGatewayTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWirelessGatewayTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWirelessGatewayTaskRequest, DeleteWirelessGatewayTaskResult>",
      "asyncReturnType" : "DeleteWirelessGatewayTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a wireless gateway task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWirelessGatewayTaskRequest",
        "variableName" : "deleteWirelessGatewayTaskRequest",
        "variableType" : "DeleteWirelessGatewayTaskRequest",
        "documentation" : "",
        "simpleType" : "DeleteWirelessGatewayTaskRequest",
        "variableSetterType" : "DeleteWirelessGatewayTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWirelessGatewayTask",
      "operationName" : "DeleteWirelessGatewayTask",
      "returnType" : {
        "returnType" : "DeleteWirelessGatewayTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWirelessGatewayTaskResult"
    },
    "DeleteWirelessGatewayTaskDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWirelessGatewayTaskDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWirelessGatewayTaskDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWirelessGatewayTaskDefinitionRequest, DeleteWirelessGatewayTaskDefinitionResult>",
      "asyncReturnType" : "DeleteWirelessGatewayTaskDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a wireless gateway task definition. Deleting this task definition does not affect tasks that are currently in progress.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWirelessGatewayTaskDefinitionRequest",
        "variableName" : "deleteWirelessGatewayTaskDefinitionRequest",
        "variableType" : "DeleteWirelessGatewayTaskDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeleteWirelessGatewayTaskDefinitionRequest",
        "variableSetterType" : "DeleteWirelessGatewayTaskDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWirelessGatewayTaskDefinition",
      "operationName" : "DeleteWirelessGatewayTaskDefinition",
      "returnType" : {
        "returnType" : "DeleteWirelessGatewayTaskDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWirelessGatewayTaskDefinitionResult"
    },
    "DisassociateAwsAccountFromPartnerAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateAwsAccountFromPartnerAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateAwsAccountFromPartnerAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateAwsAccountFromPartnerAccountRequest, DisassociateAwsAccountFromPartnerAccountResult>",
      "asyncReturnType" : "DisassociateAwsAccountFromPartnerAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates your AWS account from a partner account. If <code>PartnerAccountId</code> and <code>PartnerType</code> are <code>null</code>, disassociates your AWS account from all partner accounts.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateAwsAccountFromPartnerAccountRequest",
        "variableName" : "disassociateAwsAccountFromPartnerAccountRequest",
        "variableType" : "DisassociateAwsAccountFromPartnerAccountRequest",
        "documentation" : "",
        "simpleType" : "DisassociateAwsAccountFromPartnerAccountRequest",
        "variableSetterType" : "DisassociateAwsAccountFromPartnerAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateAwsAccountFromPartnerAccount",
      "operationName" : "DisassociateAwsAccountFromPartnerAccount",
      "returnType" : {
        "returnType" : "DisassociateAwsAccountFromPartnerAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateAwsAccountFromPartnerAccountResult"
    },
    "DisassociateWirelessDeviceFromThing" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateWirelessDeviceFromThingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateWirelessDeviceFromThingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateWirelessDeviceFromThingRequest, DisassociateWirelessDeviceFromThingResult>",
      "asyncReturnType" : "DisassociateWirelessDeviceFromThingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a wireless device from its currently associated thing.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateWirelessDeviceFromThingRequest",
        "variableName" : "disassociateWirelessDeviceFromThingRequest",
        "variableType" : "DisassociateWirelessDeviceFromThingRequest",
        "documentation" : "",
        "simpleType" : "DisassociateWirelessDeviceFromThingRequest",
        "variableSetterType" : "DisassociateWirelessDeviceFromThingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateWirelessDeviceFromThing",
      "operationName" : "DisassociateWirelessDeviceFromThing",
      "returnType" : {
        "returnType" : "DisassociateWirelessDeviceFromThingResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateWirelessDeviceFromThingResult"
    },
    "DisassociateWirelessGatewayFromCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateWirelessGatewayFromCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateWirelessGatewayFromCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateWirelessGatewayFromCertificateRequest, DisassociateWirelessGatewayFromCertificateResult>",
      "asyncReturnType" : "DisassociateWirelessGatewayFromCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a wireless gateway from its currently associated certificate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateWirelessGatewayFromCertificateRequest",
        "variableName" : "disassociateWirelessGatewayFromCertificateRequest",
        "variableType" : "DisassociateWirelessGatewayFromCertificateRequest",
        "documentation" : "",
        "simpleType" : "DisassociateWirelessGatewayFromCertificateRequest",
        "variableSetterType" : "DisassociateWirelessGatewayFromCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateWirelessGatewayFromCertificate",
      "operationName" : "DisassociateWirelessGatewayFromCertificate",
      "returnType" : {
        "returnType" : "DisassociateWirelessGatewayFromCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateWirelessGatewayFromCertificateResult"
    },
    "DisassociateWirelessGatewayFromThing" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateWirelessGatewayFromThingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateWirelessGatewayFromThingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateWirelessGatewayFromThingRequest, DisassociateWirelessGatewayFromThingResult>",
      "asyncReturnType" : "DisassociateWirelessGatewayFromThingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a wireless gateway from its currently associated thing.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateWirelessGatewayFromThingRequest",
        "variableName" : "disassociateWirelessGatewayFromThingRequest",
        "variableType" : "DisassociateWirelessGatewayFromThingRequest",
        "documentation" : "",
        "simpleType" : "DisassociateWirelessGatewayFromThingRequest",
        "variableSetterType" : "DisassociateWirelessGatewayFromThingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateWirelessGatewayFromThing",
      "operationName" : "DisassociateWirelessGatewayFromThing",
      "returnType" : {
        "returnType" : "DisassociateWirelessGatewayFromThingResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateWirelessGatewayFromThingResult"
    },
    "GetDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDestinationRequest, GetDestinationResult>",
      "asyncReturnType" : "GetDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a destination.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDestinationRequest",
        "variableName" : "getDestinationRequest",
        "variableType" : "GetDestinationRequest",
        "documentation" : "",
        "simpleType" : "GetDestinationRequest",
        "variableSetterType" : "GetDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDestination",
      "operationName" : "GetDestination",
      "returnType" : {
        "returnType" : "GetDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDestinationResult"
    },
    "GetDeviceProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceProfileRequest, GetDeviceProfileResult>",
      "asyncReturnType" : "GetDeviceProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a device profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceProfileRequest",
        "variableName" : "getDeviceProfileRequest",
        "variableType" : "GetDeviceProfileRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceProfileRequest",
        "variableSetterType" : "GetDeviceProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeviceProfile",
      "operationName" : "GetDeviceProfile",
      "returnType" : {
        "returnType" : "GetDeviceProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceProfileResult"
    },
    "GetLogLevelsByResourceTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLogLevelsByResourceTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLogLevelsByResourceTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLogLevelsByResourceTypesRequest, GetLogLevelsByResourceTypesResult>",
      "asyncReturnType" : "GetLogLevelsByResourceTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns current default log-levels, or log levels by resource types, could be for wireless device log options or wireless gateway log options.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLogLevelsByResourceTypesRequest",
        "variableName" : "getLogLevelsByResourceTypesRequest",
        "variableType" : "GetLogLevelsByResourceTypesRequest",
        "documentation" : "",
        "simpleType" : "GetLogLevelsByResourceTypesRequest",
        "variableSetterType" : "GetLogLevelsByResourceTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLogLevelsByResourceTypes",
      "operationName" : "GetLogLevelsByResourceTypes",
      "returnType" : {
        "returnType" : "GetLogLevelsByResourceTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLogLevelsByResourceTypesResult"
    },
    "GetPartnerAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPartnerAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPartnerAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPartnerAccountRequest, GetPartnerAccountResult>",
      "asyncReturnType" : "GetPartnerAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a partner account. If <code>PartnerAccountId</code> and <code>PartnerType</code> are <code>null</code>, returns all partner accounts.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPartnerAccountRequest",
        "variableName" : "getPartnerAccountRequest",
        "variableType" : "GetPartnerAccountRequest",
        "documentation" : "",
        "simpleType" : "GetPartnerAccountRequest",
        "variableSetterType" : "GetPartnerAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPartnerAccount",
      "operationName" : "GetPartnerAccount",
      "returnType" : {
        "returnType" : "GetPartnerAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPartnerAccountResult"
    },
    "GetResourceLogLevel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceLogLevelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceLogLevelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceLogLevelRequest, GetResourceLogLevelResult>",
      "asyncReturnType" : "GetResourceLogLevelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Fetches the log-level override if any for a given resource-ID and resource-type, coulde be a wireless device or a wireless gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceLogLevelRequest",
        "variableName" : "getResourceLogLevelRequest",
        "variableType" : "GetResourceLogLevelRequest",
        "documentation" : "",
        "simpleType" : "GetResourceLogLevelRequest",
        "variableSetterType" : "GetResourceLogLevelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceLogLevel",
      "operationName" : "GetResourceLogLevel",
      "returnType" : {
        "returnType" : "GetResourceLogLevelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceLogLevelResult"
    },
    "GetServiceEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceEndpointRequest, GetServiceEndpointResult>",
      "asyncReturnType" : "GetServiceEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the account-specific endpoint for Configuration and Update Server (CUPS) protocol or LoRaWAN Network Server (LNS) connections.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceEndpointRequest",
        "variableName" : "getServiceEndpointRequest",
        "variableType" : "GetServiceEndpointRequest",
        "documentation" : "",
        "simpleType" : "GetServiceEndpointRequest",
        "variableSetterType" : "GetServiceEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceEndpoint",
      "operationName" : "GetServiceEndpoint",
      "returnType" : {
        "returnType" : "GetServiceEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceEndpointResult"
    },
    "GetServiceProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceProfileRequest, GetServiceProfileResult>",
      "asyncReturnType" : "GetServiceProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a service profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceProfileRequest",
        "variableName" : "getServiceProfileRequest",
        "variableType" : "GetServiceProfileRequest",
        "documentation" : "",
        "simpleType" : "GetServiceProfileRequest",
        "variableSetterType" : "GetServiceProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceProfile",
      "operationName" : "GetServiceProfile",
      "returnType" : {
        "returnType" : "GetServiceProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceProfileResult"
    },
    "GetWirelessDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWirelessDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWirelessDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWirelessDeviceRequest, GetWirelessDeviceResult>",
      "asyncReturnType" : "GetWirelessDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a wireless device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWirelessDeviceRequest",
        "variableName" : "getWirelessDeviceRequest",
        "variableType" : "GetWirelessDeviceRequest",
        "documentation" : "",
        "simpleType" : "GetWirelessDeviceRequest",
        "variableSetterType" : "GetWirelessDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWirelessDevice",
      "operationName" : "GetWirelessDevice",
      "returnType" : {
        "returnType" : "GetWirelessDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWirelessDeviceResult"
    },
    "GetWirelessDeviceStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWirelessDeviceStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWirelessDeviceStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWirelessDeviceStatisticsRequest, GetWirelessDeviceStatisticsResult>",
      "asyncReturnType" : "GetWirelessDeviceStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets operating information about a wireless device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWirelessDeviceStatisticsRequest",
        "variableName" : "getWirelessDeviceStatisticsRequest",
        "variableType" : "GetWirelessDeviceStatisticsRequest",
        "documentation" : "",
        "simpleType" : "GetWirelessDeviceStatisticsRequest",
        "variableSetterType" : "GetWirelessDeviceStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWirelessDeviceStatistics",
      "operationName" : "GetWirelessDeviceStatistics",
      "returnType" : {
        "returnType" : "GetWirelessDeviceStatisticsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWirelessDeviceStatisticsResult"
    },
    "GetWirelessGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWirelessGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWirelessGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWirelessGatewayRequest, GetWirelessGatewayResult>",
      "asyncReturnType" : "GetWirelessGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a wireless gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWirelessGatewayRequest",
        "variableName" : "getWirelessGatewayRequest",
        "variableType" : "GetWirelessGatewayRequest",
        "documentation" : "",
        "simpleType" : "GetWirelessGatewayRequest",
        "variableSetterType" : "GetWirelessGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWirelessGateway",
      "operationName" : "GetWirelessGateway",
      "returnType" : {
        "returnType" : "GetWirelessGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWirelessGatewayResult"
    },
    "GetWirelessGatewayCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWirelessGatewayCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWirelessGatewayCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWirelessGatewayCertificateRequest, GetWirelessGatewayCertificateResult>",
      "asyncReturnType" : "GetWirelessGatewayCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the ID of the certificate that is currently associated with a wireless gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWirelessGatewayCertificateRequest",
        "variableName" : "getWirelessGatewayCertificateRequest",
        "variableType" : "GetWirelessGatewayCertificateRequest",
        "documentation" : "",
        "simpleType" : "GetWirelessGatewayCertificateRequest",
        "variableSetterType" : "GetWirelessGatewayCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWirelessGatewayCertificate",
      "operationName" : "GetWirelessGatewayCertificate",
      "returnType" : {
        "returnType" : "GetWirelessGatewayCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWirelessGatewayCertificateResult"
    },
    "GetWirelessGatewayFirmwareInformation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWirelessGatewayFirmwareInformationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWirelessGatewayFirmwareInformationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWirelessGatewayFirmwareInformationRequest, GetWirelessGatewayFirmwareInformationResult>",
      "asyncReturnType" : "GetWirelessGatewayFirmwareInformationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the firmware version and other information about a wireless gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWirelessGatewayFirmwareInformationRequest",
        "variableName" : "getWirelessGatewayFirmwareInformationRequest",
        "variableType" : "GetWirelessGatewayFirmwareInformationRequest",
        "documentation" : "",
        "simpleType" : "GetWirelessGatewayFirmwareInformationRequest",
        "variableSetterType" : "GetWirelessGatewayFirmwareInformationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWirelessGatewayFirmwareInformation",
      "operationName" : "GetWirelessGatewayFirmwareInformation",
      "returnType" : {
        "returnType" : "GetWirelessGatewayFirmwareInformationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWirelessGatewayFirmwareInformationResult"
    },
    "GetWirelessGatewayStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWirelessGatewayStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWirelessGatewayStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWirelessGatewayStatisticsRequest, GetWirelessGatewayStatisticsResult>",
      "asyncReturnType" : "GetWirelessGatewayStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets operating information about a wireless gateway.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWirelessGatewayStatisticsRequest",
        "variableName" : "getWirelessGatewayStatisticsRequest",
        "variableType" : "GetWirelessGatewayStatisticsRequest",
        "documentation" : "",
        "simpleType" : "GetWirelessGatewayStatisticsRequest",
        "variableSetterType" : "GetWirelessGatewayStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWirelessGatewayStatistics",
      "operationName" : "GetWirelessGatewayStatistics",
      "returnType" : {
        "returnType" : "GetWirelessGatewayStatisticsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWirelessGatewayStatisticsResult"
    },
    "GetWirelessGatewayTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWirelessGatewayTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWirelessGatewayTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWirelessGatewayTaskRequest, GetWirelessGatewayTaskResult>",
      "asyncReturnType" : "GetWirelessGatewayTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a wireless gateway task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWirelessGatewayTaskRequest",
        "variableName" : "getWirelessGatewayTaskRequest",
        "variableType" : "GetWirelessGatewayTaskRequest",
        "documentation" : "",
        "simpleType" : "GetWirelessGatewayTaskRequest",
        "variableSetterType" : "GetWirelessGatewayTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWirelessGatewayTask",
      "operationName" : "GetWirelessGatewayTask",
      "returnType" : {
        "returnType" : "GetWirelessGatewayTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWirelessGatewayTaskResult"
    },
    "GetWirelessGatewayTaskDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWirelessGatewayTaskDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWirelessGatewayTaskDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWirelessGatewayTaskDefinitionRequest, GetWirelessGatewayTaskDefinitionResult>",
      "asyncReturnType" : "GetWirelessGatewayTaskDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a wireless gateway task definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWirelessGatewayTaskDefinitionRequest",
        "variableName" : "getWirelessGatewayTaskDefinitionRequest",
        "variableType" : "GetWirelessGatewayTaskDefinitionRequest",
        "documentation" : "",
        "simpleType" : "GetWirelessGatewayTaskDefinitionRequest",
        "variableSetterType" : "GetWirelessGatewayTaskDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWirelessGatewayTaskDefinition",
      "operationName" : "GetWirelessGatewayTaskDefinition",
      "returnType" : {
        "returnType" : "GetWirelessGatewayTaskDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWirelessGatewayTaskDefinitionResult"
    },
    "ListDestinations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDestinationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDestinationsRequest, ListDestinationsResult>",
      "asyncReturnType" : "ListDestinationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the destinations registered to your AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because it exceeded the allowed API request rate.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDestinationsRequest",
        "variableName" : "listDestinationsRequest",
        "variableType" : "ListDestinationsRequest",
        "documentation" : "",
        "simpleType" : "ListDestinationsRequest",
        "variableSetterType" : "ListDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDestinations",
      "operationName" : "ListDestinations",
      "returnType" : {
        "returnType" : "ListDestinationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDestinationsResult"
    },
    "ListDeviceProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeviceProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeviceProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeviceProfilesRequest, ListDeviceProfilesResult>",
      "asyncReturnType" : "ListDeviceProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the device profiles registered to your AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input did not meet the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
[...]
