{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-11-14",
    "asyncClient" : "AWSKafkaAsyncClient",
    "asyncClientBuilderClassName" : "AWSKafkaAsyncClientBuilder",
    "asyncInterface" : "AWSKafkaAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSKafkaModuleInjector",
    "defaultEndpoint" : "kafka.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kafka.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "\n               <p>The operations for managing an Amazon MSK cluster.</p>\n            ",
    "endpointPrefix" : "kafka",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kafka",
    "packagePath" : "com/amazonaws/services/kafka",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Kafka",
    "serviceFullName" : "Managed Streaming for Kafka",
    "serviceId" : "Kafka",
    "serviceName" : "Kafka",
    "signingName" : "kafka",
    "smokeTestsPackageName" : "com.amazonaws.services.kafka.smoketests",
    "syncClient" : "AWSKafkaClient",
    "syncClientBuilderClassName" : "AWSKafkaClientBuilder",
    "syncInterface" : "AWSKafka",
    "uid" : "kafka-2018-11-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchAssociateScramSecret" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchAssociateScramSecretResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchAssociateScramSecretResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchAssociateScramSecretRequest, BatchAssociateScramSecretResult>",
      "asyncReturnType" : "BatchAssociateScramSecretResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Associates one or more Scram Secrets with an Amazon MSK cluster.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n         ",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchAssociateScramSecretRequest",
        "variableName" : "batchAssociateScramSecretRequest",
        "variableType" : "BatchAssociateScramSecretRequest",
        "documentation" : "\n            <p>Associates sasl scram secrets to cluster.</p>\n         ",
        "simpleType" : "BatchAssociateScramSecretRequest",
        "variableSetterType" : "BatchAssociateScramSecretRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchAssociateScramSecret",
      "operationName" : "BatchAssociateScramSecret",
      "returnType" : {
        "returnType" : "BatchAssociateScramSecretResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "BatchAssociateScramSecretResult"
    },
    "BatchDisassociateScramSecret" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDisassociateScramSecretResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDisassociateScramSecretResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDisassociateScramSecretRequest, BatchDisassociateScramSecretResult>",
      "asyncReturnType" : "BatchDisassociateScramSecretResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Disassociates one or more Scram Secrets from an Amazon MSK cluster.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n         ",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDisassociateScramSecretRequest",
        "variableName" : "batchDisassociateScramSecretRequest",
        "variableType" : "BatchDisassociateScramSecretRequest",
        "documentation" : "\n            <p>Disassociates sasl scram secrets to cluster.</p>\n         ",
        "simpleType" : "BatchDisassociateScramSecretRequest",
        "variableSetterType" : "BatchDisassociateScramSecretRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDisassociateScramSecret",
      "operationName" : "BatchDisassociateScramSecret",
      "returnType" : {
        "returnType" : "BatchDisassociateScramSecretResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "BatchDisassociateScramSecretResult"
    },
    "CreateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterRequest, CreateClusterResult>",
      "asyncReturnType" : "CreateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Creates a new MSK cluster.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n         ",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateClusterRequest",
        "variableName" : "createClusterRequest",
        "variableType" : "CreateClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateClusterRequest",
        "variableSetterType" : "CreateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCluster",
      "operationName" : "CreateCluster",
      "returnType" : {
        "returnType" : "CreateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateClusterResult"
    },
    "CreateClusterV2" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterV2Result>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterV2Result>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterV2Request, CreateClusterV2Result>",
      "asyncReturnType" : "CreateClusterV2Result",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Creates a new MSK cluster.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n         ",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateClusterV2Request",
        "variableName" : "createClusterV2Request",
        "variableType" : "CreateClusterV2Request",
        "documentation" : "",
        "simpleType" : "CreateClusterV2Request",
        "variableSetterType" : "CreateClusterV2Request"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createClusterV2",
      "operationName" : "CreateClusterV2",
      "returnType" : {
        "returnType" : "CreateClusterV2Result",
        "documentation" : null
      },
      "syncReturnType" : "CreateClusterV2Result"
    },
    "CreateConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationRequest, CreateConfigurationResult>",
      "asyncReturnType" : "CreateConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Creates a new MSK configuration.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n         ",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationRequest",
        "variableName" : "createConfigurationRequest",
        "variableType" : "CreateConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateConfigurationRequest",
        "variableSetterType" : "CreateConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfiguration",
      "operationName" : "CreateConfiguration",
      "returnType" : {
        "returnType" : "CreateConfigurationResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "CreateConfigurationResult"
    },
    "DeleteCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteClusterRequest, DeleteClusterResult>",
      "asyncReturnType" : "DeleteClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Deletes the MSK cluster specified by the Amazon Resource Name (ARN) in the request.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteClusterRequest",
        "variableName" : "deleteClusterRequest",
        "variableType" : "DeleteClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteClusterRequest",
        "variableSetterType" : "DeleteClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCluster",
      "operationName" : "DeleteCluster",
      "returnType" : {
        "returnType" : "DeleteClusterResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "DeleteClusterResult"
    },
    "DeleteConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationRequest, DeleteConfigurationResult>",
      "asyncReturnType" : "DeleteConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Deletes an MSK Configuration.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigurationRequest",
        "variableName" : "deleteConfigurationRequest",
        "variableType" : "DeleteConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfigurationRequest",
        "variableSetterType" : "DeleteConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfiguration",
      "operationName" : "DeleteConfiguration",
      "returnType" : {
        "returnType" : "DeleteConfigurationResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "DeleteConfigurationResult"
    },
    "DescribeCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterRequest, DescribeClusterResult>",
      "asyncReturnType" : "DescribeClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClusterRequest",
        "variableName" : "describeClusterRequest",
        "variableType" : "DescribeClusterRequest",
        "documentation" : "",
        "simpleType" : "DescribeClusterRequest",
        "variableSetterType" : "DescribeClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCluster",
      "operationName" : "DescribeCluster",
      "returnType" : {
        "returnType" : "DescribeClusterResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "DescribeClusterResult"
    },
    "DescribeClusterOperation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterOperationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterOperationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterOperationRequest, DescribeClusterOperationResult>",
      "asyncReturnType" : "DescribeClusterOperationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a description of the cluster operation specified by the ARN.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClusterOperationRequest",
        "variableName" : "describeClusterOperationRequest",
        "variableType" : "DescribeClusterOperationRequest",
        "documentation" : "",
        "simpleType" : "DescribeClusterOperationRequest",
        "variableSetterType" : "DescribeClusterOperationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeClusterOperation",
      "operationName" : "DescribeClusterOperation",
      "returnType" : {
        "returnType" : "DescribeClusterOperationResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "DescribeClusterOperationResult"
    },
    "DescribeClusterV2" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterV2Result>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterV2Result>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterV2Request, DescribeClusterV2Result>",
      "asyncReturnType" : "DescribeClusterV2Result",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClusterV2Request",
        "variableName" : "describeClusterV2Request",
        "variableType" : "DescribeClusterV2Request",
        "documentation" : "",
        "simpleType" : "DescribeClusterV2Request",
        "variableSetterType" : "DescribeClusterV2Request"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeClusterV2",
      "operationName" : "DescribeClusterV2",
      "returnType" : {
        "returnType" : "DescribeClusterV2Result",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "DescribeClusterV2Result"
    },
    "DescribeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRequest, DescribeConfigurationResult>",
      "asyncReturnType" : "DescribeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a description of this MSK configuration.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationRequest",
        "variableName" : "describeConfigurationRequest",
        "variableType" : "DescribeConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationRequest",
        "variableSetterType" : "DescribeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfiguration",
      "operationName" : "DescribeConfiguration",
      "returnType" : {
        "returnType" : "DescribeConfigurationResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "DescribeConfigurationResult"
    },
    "DescribeConfigurationRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRevisionRequest, DescribeConfigurationRevisionResult>",
      "asyncReturnType" : "DescribeConfigurationRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a description of this revision of the configuration.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationRevisionRequest",
        "variableName" : "describeConfigurationRevisionRequest",
        "variableType" : "DescribeConfigurationRevisionRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationRevisionRequest",
        "variableSetterType" : "DescribeConfigurationRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationRevision",
      "operationName" : "DescribeConfigurationRevision",
      "returnType" : {
        "returnType" : "DescribeConfigurationRevisionResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "DescribeConfigurationRevisionResult"
    },
    "GetBootstrapBrokers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBootstrapBrokersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBootstrapBrokersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBootstrapBrokersRequest, GetBootstrapBrokersResult>",
      "asyncReturnType" : "GetBootstrapBrokersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>A list of brokers that a client application can use to bootstrap.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBootstrapBrokersRequest",
        "variableName" : "getBootstrapBrokersRequest",
        "variableType" : "GetBootstrapBrokersRequest",
        "documentation" : "",
        "simpleType" : "GetBootstrapBrokersRequest",
        "variableSetterType" : "GetBootstrapBrokersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBootstrapBrokers",
      "operationName" : "GetBootstrapBrokers",
      "returnType" : {
        "returnType" : "GetBootstrapBrokersResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "GetBootstrapBrokersResult"
    },
    "GetCompatibleKafkaVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCompatibleKafkaVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCompatibleKafkaVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCompatibleKafkaVersionsRequest, GetCompatibleKafkaVersionsResult>",
      "asyncReturnType" : "GetCompatibleKafkaVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Gets the Apache Kafka versions to which you can update the MSK cluster.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>n            ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>n            ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>n            ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "n            <p>Access forbidden. Check your credentials and then retry your request.</p>n            ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>n            ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "n            <p>503 response</p>n            ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "n            <p>429 response</p>n            ",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCompatibleKafkaVersionsRequest",
        "variableName" : "getCompatibleKafkaVersionsRequest",
        "variableType" : "GetCompatibleKafkaVersionsRequest",
        "documentation" : "",
        "simpleType" : "GetCompatibleKafkaVersionsRequest",
        "variableSetterType" : "GetCompatibleKafkaVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCompatibleKafkaVersions",
      "operationName" : "GetCompatibleKafkaVersions",
      "returnType" : {
        "returnType" : "GetCompatibleKafkaVersionsResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "GetCompatibleKafkaVersionsResult"
    },
    "ListClusterOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClusterOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClusterOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClusterOperationsRequest, ListClusterOperationsResult>",
      "asyncReturnType" : "ListClusterOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of all the operations that have been performed on the specified MSK cluster.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListClusterOperationsRequest",
        "variableName" : "listClusterOperationsRequest",
        "variableType" : "ListClusterOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListClusterOperationsRequest",
        "variableSetterType" : "ListClusterOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClusterOperations",
      "operationName" : "ListClusterOperations",
      "returnType" : {
        "returnType" : "ListClusterOperationsResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "ListClusterOperationsResult"
    },
    "ListClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClustersRequest, ListClustersResult>",
      "asyncReturnType" : "ListClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of all the MSK clusters in the current Region.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListClustersRequest",
        "variableName" : "listClustersRequest",
        "variableType" : "ListClustersRequest",
        "documentation" : "",
        "simpleType" : "ListClustersRequest",
        "variableSetterType" : "ListClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClusters",
      "operationName" : "ListClusters",
      "returnType" : {
        "returnType" : "ListClustersResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "ListClustersResult"
    },
    "ListClustersV2" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClustersV2Result>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClustersV2Result>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClustersV2Request, ListClustersV2Result>",
      "asyncReturnType" : "ListClustersV2Result",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of all the MSK clusters in the current Region.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListClustersV2Request",
        "variableName" : "listClustersV2Request",
        "variableType" : "ListClustersV2Request",
        "documentation" : "",
        "simpleType" : "ListClustersV2Request",
        "variableSetterType" : "ListClustersV2Request"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClustersV2",
      "operationName" : "ListClustersV2",
      "returnType" : {
        "returnType" : "ListClustersV2Result",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "ListClustersV2Result"
    },
    "ListConfigurationRevisions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationRevisionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationRevisionsRequest, ListConfigurationRevisionsResult>",
      "asyncReturnType" : "ListConfigurationRevisionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigurationRevisionsRequest",
        "variableName" : "listConfigurationRevisionsRequest",
        "variableType" : "ListConfigurationRevisionsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationRevisionsRequest",
        "variableSetterType" : "ListConfigurationRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurationRevisions",
      "operationName" : "ListConfigurationRevisions",
      "returnType" : {
        "returnType" : "ListConfigurationRevisionsResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "ListConfigurationRevisionsResult"
    },
    "ListConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationsRequest, ListConfigurationsResult>",
      "asyncReturnType" : "ListConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigurationsRequest",
        "variableName" : "listConfigurationsRequest",
        "variableType" : "ListConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationsRequest",
        "variableSetterType" : "ListConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurations",
      "operationName" : "ListConfigurations",
      "returnType" : {
        "returnType" : "ListConfigurationsResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "ListConfigurationsResult"
    },
    "ListKafkaVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKafkaVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKafkaVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKafkaVersionsRequest, ListKafkaVersionsResult>",
      "asyncReturnType" : "ListKafkaVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of Apache Kafka versions.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKafkaVersionsRequest",
        "variableName" : "listKafkaVersionsRequest",
        "variableType" : "ListKafkaVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListKafkaVersionsRequest",
        "variableSetterType" : "ListKafkaVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKafkaVersions",
      "operationName" : "ListKafkaVersions",
      "returnType" : {
        "returnType" : "ListKafkaVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKafkaVersionsResult"
    },
    "ListNodes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNodesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNodesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNodesRequest, ListNodesResult>",
      "asyncReturnType" : "ListNodesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of the broker nodes in the cluster.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNodesRequest",
        "variableName" : "listNodesRequest",
        "variableType" : "ListNodesRequest",
        "documentation" : "",
        "simpleType" : "ListNodesRequest",
        "variableSetterType" : "ListNodesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNodes",
      "operationName" : "ListNodes",
      "returnType" : {
        "returnType" : "ListNodesResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "ListNodesResult"
    },
    "ListScramSecrets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListScramSecretsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListScramSecretsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListScramSecretsRequest, ListScramSecretsResult>",
      "asyncReturnType" : "ListScramSecretsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of the Scram Secrets associated with an Amazon MSK cluster.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n         ",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListScramSecretsRequest",
        "variableName" : "listScramSecretsRequest",
        "variableType" : "ListScramSecretsRequest",
        "documentation" : "",
        "simpleType" : "ListScramSecretsRequest",
        "variableSetterType" : "ListScramSecretsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listScramSecrets",
      "operationName" : "ListScramSecrets",
      "returnType" : {
        "returnType" : "ListScramSecretsResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "ListScramSecretsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of the tags associated with the specified resource.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "\n            <p>Success response.</p>\n         "
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RebootBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebootBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebootBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebootBrokerRequest, RebootBrokerResult>",
      "asyncReturnType" : "RebootBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Reboots brokers.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n            ",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RebootBrokerRequest",
        "variableName" : "rebootBrokerRequest",
        "variableType" : "RebootBrokerRequest",
        "documentation" : "Reboots a node.",
        "simpleType" : "RebootBrokerRequest",
        "variableSetterType" : "RebootBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebootBroker",
      "operationName" : "RebootBroker",
      "returnType" : {
        "returnType" : "RebootBrokerResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "RebootBrokerResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Adds tags to the specified MSK resource.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Removes the tags associated with the keys that are provided in the query.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateBrokerCount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBrokerCountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBrokerCountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBrokerCountRequest, UpdateBrokerCountResult>",
      "asyncReturnType" : "UpdateBrokerCountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates the number of broker nodes in the cluster.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBrokerCountRequest",
        "variableName" : "updateBrokerCountRequest",
        "variableType" : "UpdateBrokerCountRequest",
        "documentation" : "",
        "simpleType" : "UpdateBrokerCountRequest",
        "variableSetterType" : "UpdateBrokerCountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBrokerCount",
      "operationName" : "UpdateBrokerCount",
      "returnType" : {
        "returnType" : "UpdateBrokerCountResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "UpdateBrokerCountResult"
    },
    "UpdateBrokerStorage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBrokerStorageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBrokerStorageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBrokerStorageRequest, UpdateBrokerStorageResult>",
      "asyncReturnType" : "UpdateBrokerStorageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates the EBS storage associated with MSK brokers.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBrokerStorageRequest",
        "variableName" : "updateBrokerStorageRequest",
        "variableType" : "UpdateBrokerStorageRequest",
        "documentation" : "",
        "simpleType" : "UpdateBrokerStorageRequest",
        "variableSetterType" : "UpdateBrokerStorageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBrokerStorage",
      "operationName" : "UpdateBrokerStorage",
      "returnType" : {
        "returnType" : "UpdateBrokerStorageResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "UpdateBrokerStorageResult"
    },
    "UpdateBrokerType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBrokerTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBrokerTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBrokerTypeRequest, UpdateBrokerTypeResult>",
      "asyncReturnType" : "UpdateBrokerTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates EC2 instance type.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n            ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n            ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n            ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n            ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n            ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n            ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n            ",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBrokerTypeRequest",
        "variableName" : "updateBrokerTypeRequest",
        "variableType" : "UpdateBrokerTypeRequest",
        "documentation" : "",
        "simpleType" : "UpdateBrokerTypeRequest",
        "variableSetterType" : "UpdateBrokerTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBrokerType",
      "operationName" : "UpdateBrokerType",
      "returnType" : {
        "returnType" : "UpdateBrokerTypeResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "UpdateBrokerTypeResult"
    },
    "UpdateClusterConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateClusterConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateClusterConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateClusterConfigurationRequest, UpdateClusterConfigurationResult>",
      "asyncReturnType" : "UpdateClusterConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates the cluster with the configuration that is specified in the request body.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateClusterConfigurationRequest",
        "variableName" : "updateClusterConfigurationRequest",
        "variableType" : "UpdateClusterConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateClusterConfigurationRequest",
        "variableSetterType" : "UpdateClusterConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateClusterConfiguration",
      "operationName" : "UpdateClusterConfiguration",
      "returnType" : {
        "returnType" : "UpdateClusterConfigurationResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "UpdateClusterConfigurationResult"
    },
    "UpdateClusterKafkaVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateClusterKafkaVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateClusterKafkaVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateClusterKafkaVersionRequest, UpdateClusterKafkaVersionResult>",
      "asyncReturnType" : "UpdateClusterKafkaVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates the Apache Kafka version for the cluster.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n            ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n            ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n            ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n            ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n            ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n            ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n            ",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateClusterKafkaVersionRequest",
        "variableName" : "updateClusterKafkaVersionRequest",
        "variableType" : "UpdateClusterKafkaVersionRequest",
        "documentation" : "",
        "simpleType" : "UpdateClusterKafkaVersionRequest",
        "variableSetterType" : "UpdateClusterKafkaVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateClusterKafkaVersion",
      "operationName" : "UpdateClusterKafkaVersion",
      "returnType" : {
        "returnType" : "UpdateClusterKafkaVersionResult",
        "documentation" : "\n            <p>Successful response.</p>\n            "
      },
      "syncReturnType" : "UpdateClusterKafkaVersionResult"
    },
    "UpdateConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConfigurationRequest, UpdateConfigurationResult>",
      "asyncReturnType" : "UpdateConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates an MSK configuration.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateConfigurationRequest",
        "variableName" : "updateConfigurationRequest",
        "variableType" : "UpdateConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateConfigurationRequest",
        "variableSetterType" : "UpdateConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConfiguration",
      "operationName" : "UpdateConfiguration",
      "returnType" : {
        "returnType" : "UpdateConfigurationResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "UpdateConfigurationResult"
    },
    "UpdateConnectivity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConnectivityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConnectivityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConnectivityRequest, UpdateConnectivityResult>",
      "asyncReturnType" : "UpdateConnectivityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates the cluster's connectivity configuration.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateConnectivityRequest",
        "variableName" : "updateConnectivityRequest",
        "variableType" : "UpdateConnectivityRequest",
        "documentation" : "Request body for UpdateConnectivity.",
        "simpleType" : "UpdateConnectivityRequest",
        "variableSetterType" : "UpdateConnectivityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConnectivity",
      "operationName" : "UpdateConnectivity",
      "returnType" : {
        "returnType" : "UpdateConnectivityResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "UpdateConnectivityResult"
    },
    "UpdateMonitoring" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMonitoringResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMonitoringResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMonitoringRequest, UpdateMonitoringResult>",
      "asyncReturnType" : "UpdateMonitoringResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates the monitoring settings for the cluster. You can use this operation to specify which Apache Kafka metrics you want Amazon MSK to send to Amazon CloudWatch. You can also specify settings for open monitoring with Prometheus.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMonitoringRequest",
        "variableName" : "updateMonitoringRequest",
        "variableType" : "UpdateMonitoringRequest",
        "documentation" : "Request body for UpdateMonitoring.",
        "simpleType" : "UpdateMonitoringRequest",
        "variableSetterType" : "UpdateMonitoringRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMonitoring",
      "operationName" : "UpdateMonitoring",
      "returnType" : {
        "returnType" : "UpdateMonitoringResult",
        "documentation" : "\n            <p>HTTP Status Code 200: OK.</p>\n         "
      },
      "syncReturnType" : "UpdateMonitoringResult"
    },
    "UpdateSecurity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSecurityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSecurityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSecurityRequest, UpdateSecurityResult>",
      "asyncReturnType" : "UpdateSecurityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates the security settings for the cluster. You can use this operation to specify encryption and authentication on existing clusters.</p>\n         ",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>The service cannot complete the request.</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>The request throughput limit was exceeded.</p>\n         ",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSecurityRequest",
[...]
