{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-11-14",
    "asyncClient" : "AWSKafkaAsyncClient",
    "asyncClientBuilderClassName" : "AWSKafkaAsyncClientBuilder",
    "asyncInterface" : "AWSKafkaAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSKafkaModuleInjector",
    "defaultEndpoint" : "kafka.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kafka.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "\n               <p>The operations for managing an Amazon MSK cluster.</p>\n            ",
    "endpointPrefix" : "kafka",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kafka",
    "packagePath" : "com/amazonaws/services/kafka",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Kafka",
    "serviceFullName" : "Managed Streaming for Kafka",
    "serviceId" : "Kafka",
    "serviceName" : "Kafka",
    "signingName" : "kafka",
    "smokeTestsPackageName" : "com.amazonaws.services.kafka.smoketests",
    "syncClient" : "AWSKafkaClient",
    "syncClientBuilderClassName" : "AWSKafkaClientBuilder",
    "syncInterface" : "AWSKafka",
    "uid" : "kafka-2018-11-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterRequest, CreateClusterResult>",
      "asyncReturnType" : "CreateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Creates a new MSK cluster.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n         ",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateClusterRequest",
        "variableName" : "createClusterRequest",
        "variableType" : "CreateClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateClusterRequest",
        "variableSetterType" : "CreateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCluster",
      "operationName" : "CreateCluster",
      "returnType" : {
        "returnType" : "CreateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateClusterResult"
    },
    "CreateConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationRequest, CreateConfigurationResult>",
      "asyncReturnType" : "CreateConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Creates a new MSK configuration.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "\n            <p>429 response</p>\n         ",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationRequest",
        "variableName" : "createConfigurationRequest",
        "variableType" : "CreateConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateConfigurationRequest",
        "variableSetterType" : "CreateConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfiguration",
      "operationName" : "CreateConfiguration",
      "returnType" : {
        "returnType" : "CreateConfigurationResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "CreateConfigurationResult"
    },
    "DeleteCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteClusterRequest, DeleteClusterResult>",
      "asyncReturnType" : "DeleteClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Deletes the MSK cluster specified by the Amazon Resource Name (ARN) in the request.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteClusterRequest",
        "variableName" : "deleteClusterRequest",
        "variableType" : "DeleteClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteClusterRequest",
        "variableSetterType" : "DeleteClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCluster",
      "operationName" : "DeleteCluster",
      "returnType" : {
        "returnType" : "DeleteClusterResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "DeleteClusterResult"
    },
    "DescribeCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterRequest, DescribeClusterResult>",
      "asyncReturnType" : "DescribeClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClusterRequest",
        "variableName" : "describeClusterRequest",
        "variableType" : "DescribeClusterRequest",
        "documentation" : "",
        "simpleType" : "DescribeClusterRequest",
        "variableSetterType" : "DescribeClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCluster",
      "operationName" : "DescribeCluster",
      "returnType" : {
        "returnType" : "DescribeClusterResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "DescribeClusterResult"
    },
    "DescribeClusterOperation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterOperationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterOperationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterOperationRequest, DescribeClusterOperationResult>",
      "asyncReturnType" : "DescribeClusterOperationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a description of the cluster operation specified by the ARN.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClusterOperationRequest",
        "variableName" : "describeClusterOperationRequest",
        "variableType" : "DescribeClusterOperationRequest",
        "documentation" : "",
        "simpleType" : "DescribeClusterOperationRequest",
        "variableSetterType" : "DescribeClusterOperationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeClusterOperation",
      "operationName" : "DescribeClusterOperation",
      "returnType" : {
        "returnType" : "DescribeClusterOperationResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "DescribeClusterOperationResult"
    },
    "DescribeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRequest, DescribeConfigurationResult>",
      "asyncReturnType" : "DescribeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a description of this MSK configuration.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationRequest",
        "variableName" : "describeConfigurationRequest",
        "variableType" : "DescribeConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationRequest",
        "variableSetterType" : "DescribeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfiguration",
      "operationName" : "DescribeConfiguration",
      "returnType" : {
        "returnType" : "DescribeConfigurationResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "DescribeConfigurationResult"
    },
    "DescribeConfigurationRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRevisionRequest, DescribeConfigurationRevisionResult>",
      "asyncReturnType" : "DescribeConfigurationRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a description of this revision of the configuration.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationRevisionRequest",
        "variableName" : "describeConfigurationRevisionRequest",
        "variableType" : "DescribeConfigurationRevisionRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationRevisionRequest",
        "variableSetterType" : "DescribeConfigurationRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationRevision",
      "operationName" : "DescribeConfigurationRevision",
      "returnType" : {
        "returnType" : "DescribeConfigurationRevisionResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "DescribeConfigurationRevisionResult"
    },
    "GetBootstrapBrokers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBootstrapBrokersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBootstrapBrokersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBootstrapBrokersRequest, GetBootstrapBrokersResult>",
      "asyncReturnType" : "GetBootstrapBrokersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>A list of brokers that a client application can use to bootstrap.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBootstrapBrokersRequest",
        "variableName" : "getBootstrapBrokersRequest",
        "variableType" : "GetBootstrapBrokersRequest",
        "documentation" : "",
        "simpleType" : "GetBootstrapBrokersRequest",
        "variableSetterType" : "GetBootstrapBrokersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBootstrapBrokers",
      "operationName" : "GetBootstrapBrokers",
      "returnType" : {
        "returnType" : "GetBootstrapBrokersResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "GetBootstrapBrokersResult"
    },
    "ListClusterOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClusterOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClusterOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClusterOperationsRequest, ListClusterOperationsResult>",
      "asyncReturnType" : "ListClusterOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of all the operations that have been performed on the specified MSK cluster.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListClusterOperationsRequest",
        "variableName" : "listClusterOperationsRequest",
        "variableType" : "ListClusterOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListClusterOperationsRequest",
        "variableSetterType" : "ListClusterOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClusterOperations",
      "operationName" : "ListClusterOperations",
      "returnType" : {
        "returnType" : "ListClusterOperationsResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "ListClusterOperationsResult"
    },
    "ListClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClustersRequest, ListClustersResult>",
      "asyncReturnType" : "ListClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of all the MSK clusters in the current Region.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListClustersRequest",
        "variableName" : "listClustersRequest",
        "variableType" : "ListClustersRequest",
        "documentation" : "",
        "simpleType" : "ListClustersRequest",
        "variableSetterType" : "ListClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClusters",
      "operationName" : "ListClusters",
      "returnType" : {
        "returnType" : "ListClustersResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "ListClustersResult"
    },
    "ListConfigurationRevisions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationRevisionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationRevisionsRequest, ListConfigurationRevisionsResult>",
      "asyncReturnType" : "ListConfigurationRevisionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigurationRevisionsRequest",
        "variableName" : "listConfigurationRevisionsRequest",
        "variableType" : "ListConfigurationRevisionsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationRevisionsRequest",
        "variableSetterType" : "ListConfigurationRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurationRevisions",
      "operationName" : "ListConfigurationRevisions",
      "returnType" : {
        "returnType" : "ListConfigurationRevisionsResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "ListConfigurationRevisionsResult"
    },
    "ListConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationsRequest, ListConfigurationsResult>",
      "asyncReturnType" : "ListConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigurationsRequest",
        "variableName" : "listConfigurationsRequest",
        "variableType" : "ListConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationsRequest",
        "variableSetterType" : "ListConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurations",
      "operationName" : "ListConfigurations",
      "returnType" : {
        "returnType" : "ListConfigurationsResult",
        "documentation" : "\n            <p>200 response</p>\n         "
      },
      "syncReturnType" : "ListConfigurationsResult"
    },
    "ListNodes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNodesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNodesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNodesRequest, ListNodesResult>",
      "asyncReturnType" : "ListNodesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of the broker nodes in the cluster.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNodesRequest",
        "variableName" : "listNodesRequest",
        "variableType" : "ListNodesRequest",
        "documentation" : "",
        "simpleType" : "ListNodesRequest",
        "variableSetterType" : "ListNodesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNodes",
      "operationName" : "ListNodes",
      "returnType" : {
        "returnType" : "ListNodesResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "ListNodesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Returns a list of the tags associated with the specified resource.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "\n            <p>Success response.</p>\n         "
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Adds tags to the specified MSK resource.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Removes the tags associated with the keys that are provided in the query.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateBrokerStorage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBrokerStorageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBrokerStorageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBrokerStorageRequest, UpdateBrokerStorageResult>",
      "asyncReturnType" : "UpdateBrokerStorageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates the EBS storage associated with MSK brokers.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBrokerStorageRequest",
        "variableName" : "updateBrokerStorageRequest",
        "variableType" : "UpdateBrokerStorageRequest",
        "documentation" : "",
        "simpleType" : "UpdateBrokerStorageRequest",
        "variableSetterType" : "UpdateBrokerStorageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBrokerStorage",
      "operationName" : "UpdateBrokerStorage",
      "returnType" : {
        "returnType" : "UpdateBrokerStorageResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "UpdateBrokerStorageResult"
    },
    "UpdateClusterConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateClusterConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateClusterConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateClusterConfigurationRequest, UpdateClusterConfigurationResult>",
      "asyncReturnType" : "UpdateClusterConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "\n            <p>Updates the cluster with the configuration that is specified in the request body.</p>\n         ",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "\n            <p>503 response</p>\n         ",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateClusterConfigurationRequest",
        "variableName" : "updateClusterConfigurationRequest",
        "variableType" : "UpdateClusterConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateClusterConfigurationRequest",
        "variableSetterType" : "UpdateClusterConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateClusterConfiguration",
      "operationName" : "UpdateClusterConfiguration",
      "returnType" : {
        "returnType" : "UpdateClusterConfigurationResult",
        "documentation" : "\n            <p>Successful response.</p>\n         "
      },
      "syncReturnType" : "UpdateClusterConfigurationResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "\n            <p>Returns information about an error.</p>\n         ",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "InvalidParameter",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "\n            <p>The parameter that caused the error.</p>\n         ",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n            <p>The parameter that caused the error.</p>\n         \n@param invalidParameter <p>The parameter that caused the error.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInvalidParameter",
        "getterDocumentation" : "/**\n            <p>The parameter that caused the error.</p>\n         \n@return <p>The parameter that caused the error.</p>*/",
        "getterMethodName" : "getInvalidParameter",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "invalidParameter",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "invalidParameter",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InvalidParameter",
        "sensitive" : false,
        "setterDocumentation" : "/**\n            <p>The parameter that caused the error.</p>\n         \n@param invalidParameter <p>The parameter that caused the error.</p>*/",
        "setterMethodName" : "setInvalidParameter",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "invalidParameter",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n            <p>The parameter that caused the error.</p>\n         \n@param invalidParameter <p>The parameter that caused the error.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "invalidParameter",
          "variableType" : "String",
          "documentation" : "\n            <p>The parameter that caused the error.</p>\n         ",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "InvalidParameter" : {
          "c2jName" : "InvalidParameter",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "\n            <p>The parameter that caused the error.</p>\n         ",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n            <p>The parameter that caused the error.</p>\n         \n@param invalidParameter <p>The parameter that caused the error.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInvalidParameter",
          "getterDocumentation" : "/**\n            <p>The parameter that caused the error.</p>\n         \n@return <p>The parameter that caused the error.</p>*/",
          "getterMethodName" : "getInvalidParameter",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "invalidParameter",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "invalidParameter",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InvalidParameter",
          "sensitive" : false,
          "setterDocumentation" : "/**\n            <p>The parameter that caused the error.</p>\n         \n@param invalidParameter <p>The parameter that caused the error.</p>*/",
          "setterMethodName" : "setInvalidParameter",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "invalidParameter",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n            <p>The parameter that caused the error.</p>\n         \n@param invalidParameter <p>The parameter that caused the error.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "invalidParameter",
            "variableType" : "String",
            "documentation" : "\n            <p>The parameter that caused the error.</p>\n         ",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "BrokerAZDistribution" : {
      "c2jName" : "BrokerAZDistribution",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "\n            <p>The distribution of broker nodes across Availability Zones. By default, broker nodes are distributed among three Availability Zones. Currently, the only supported value is DEFAULT. You can either specify this value explicitly or leave it out.</p>\n         ",
      "enums" : [ {
        "name" : "DEFAULT",
        "value" : "DEFAULT"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BrokerAZDistribution",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BrokerAZDistribution",
        "variableName" : "brokerAZDistribution",
        "variableType" : "BrokerAZDistribution",
        "documentation" : null,
        "simpleType" : "BrokerAZDistribution",
        "variableSetterType" : "BrokerAZDistribution"
      },
      "wrapper" : false
    },
    "BrokerEBSVolumeInfo" : {
      "c2jName" : "BrokerEBSVolumeInfo",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "\n            <p>Specifies the EBS volume upgrade information. The broker identifier must be set to the keyword ALL. This means the changes apply to all the brokers in the cluster.</p>\n         ",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "KafkaBrokerNodeId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "\n            <p>The ID of the broker to update.</p>\n         ",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n            <p>The ID of the broker to update.</p>\n         \n@param kafkaBrokerNodeId <p>The ID of the broker to update.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKafkaBrokerNodeId",
        "getterDocumentation" : "/**\n            <p>The ID of the broker to update.</p>\n         \n@return <p>The ID of the broker to update.</p>*/",
        "getterMethodName" : "getKafkaBrokerNodeId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "kafkaBrokerNodeId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "kafkaBrokerNodeId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KafkaBrokerNodeId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n            <p>The ID of the broker to update.</p>\n         \n@param kafkaBrokerNodeId <p>The ID of the broker to update.</p>*/",
        "setterMethodName" : "setKafkaBrokerNodeId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kafkaBrokerNodeId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n            <p>The ID of the broker to update.</p>\n         \n@param kafkaBrokerNodeId <p>The ID of the broker to update.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kafkaBrokerNodeId",
          "variableType" : "String",
          "documentation" : "\n            <p>The ID of the broker to update.</p>\n         ",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "VolumeSizeGB",
        "c2jShape" : "__integer",
        "deprecated" : false,
        "documentation" : "\n            <p>Size of the EBS volume to update.</p>\n         ",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n            <p>Size of the EBS volume to update.</p>\n         \n@param volumeSizeGB <p>Size of the EBS volume to update.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVolumeSizeGB",
        "getterDocumentation" : "/**\n            <p>Size of the EBS volume to update.</p>\n         \n@return <p>Size of the EBS volume to update.</p>*/",
        "getterMethodName" : "getVolumeSizeGB",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "volumeSizeGB",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "volumeSizeGB",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "VolumeSizeGB",
        "sensitive" : false,
        "setterDocumentation" : "/**\n            <p>Size of the EBS volume to update.</p>\n         \n@param volumeSizeGB <p>Size of the EBS volume to update.</p>*/",
        "setterMethodName" : "setVolumeSizeGB",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "volumeSizeGB",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n            <p>Size of the EBS volume to update.</p>\n         \n@param volumeSizeGB <p>Size of the EBS volume to update.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "volumeSizeGB",
          "variableType" : "Integer",
          "documentation" : "\n            <p>Size of the EBS volume to update.</p>\n         ",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "KafkaBrokerNodeId" : {
          "c2jName" : "KafkaBrokerNodeId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "\n            <p>The ID of the broker to update.</p>\n         ",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n            <p>The ID of the broker to update.</p>\n         \n@param kafkaBrokerNodeId <p>The ID of the broker to update.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKafkaBrokerNodeId",
          "getterDocumentation" : "/**\n            <p>The ID of the broker to update.</p>\n         \n@return <p>The ID of the broker to update.</p>*/",
          "getterMethodName" : "getKafkaBrokerNodeId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "kafkaBrokerNodeId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "kafkaBrokerNodeId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "KafkaBrokerNodeId",
          "sensitive" : false,
          "setterDocumentation" : "/**\n            <p>The ID of the broker to update.</p>\n         \n@param kafkaBrokerNodeId <p>The ID of the broker to update.</p>*/",
          "setterMethodName" : "setKafkaBrokerNodeId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "kafkaBrokerNodeId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n            <p>The ID of the broker to update.</p>\n         \n@param kafkaBrokerNodeId <p>The ID of the broker to update.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "kafkaBrokerNodeId",
            "variableType" : "String",
            "documentation" : "\n            <p>The ID of the broker to update.</p>\n         ",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VolumeSizeGB" : {
          "c2jName" : "VolumeSizeGB",
          "c2jShape" : "__integer",
          "deprecated" : false,
          "documentation" : "\n            <p>Size of the EBS volume to update.</p>\n         ",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n            <p>Size of the EBS volume to update.</p>\n         \n@param volumeSizeGB <p>Size of the EBS volume to update.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVolumeSizeGB",
          "getterDocumentation" : "/**\n            <p>Size of the EBS volume to update.</p>\n         \n@return <p>Size of the EBS volume to update.</p>*/",
          "getterMethodName" : "getVolumeSizeGB",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "volumeSizeGB",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "volumeSizeGB",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "VolumeSizeGB",
          "sensitive" : false,
          "setterDocumentation" : "/**\n            <p>Size of the EBS volume to update.</p>\n         \n@param volumeSizeGB <p>Size of the EBS volume to update.</p>*/",
          "setterMethodName" : "setVolumeSizeGB",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "volumeSizeGB",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n            <p>Size of the EBS volume to update.</p>\n         \n@param volumeSizeGB <p>Size of the EBS volume to update.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "volumeSizeGB",
            "variableType" : "Integer",
            "documentation" : "\n            <p>Size of the EBS volume to update.</p>\n         ",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "VolumeSizeGB", "KafkaBrokerNodeId" ],
      "shapeName" : "BrokerEBSVolumeInfo",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BrokerEBSVolumeInfo",
        "variableName" : "brokerEBSVolumeInfo",
        "variableType" : "BrokerEBSVolumeInfo",
        "documentation" : null,
        "simpleType" : "BrokerEBSVolumeInfo",
        "variableSetterType" : "BrokerEBSVolumeInfo"
      },
      "wrapper" : false
    },
    "BrokerNodeGroupInfo" : {
      "c2jName" : "BrokerNodeGroupInfo",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "\n            <p>Describes the setup to be used for Kafka broker nodes in the cluster.</p>\n         ",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BrokerAZDistribution",
        "c2jShape" : "BrokerAZDistribution",
        "deprecated" : false,
        "documentation" : "\n            <p>The distribution of broker nodes across Availability Zones.</p>\n         ",
        "enumType" : "BrokerAZDistribution",
        "fluentSetterDocumentation" : "/**\n            <p>The distribution of broker nodes across Availability Zones.</p>\n         \n@param brokerAZDistribution <p>The distribution of broker nodes across Availability Zones.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see BrokerAZDistribution*/",
        "fluentSetterMethodName" : "withBrokerAZDistribution",
        "getterDocumentation" : "/**\n            <p>The distribution of broker nodes across Availability Zones.</p>\n         \n@return <p>The distribution of broker nodes across Availability Zones.</p>\n@see BrokerAZDistribution*/",
        "getterMethodName" : "getBrokerAZDistribution",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "brokerAZDistribution",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "brokerAZDistribution",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BrokerAZDistribution",
        "sensitive" : false,
        "setterDocumentation" : "/**\n            <p>The distribution of broker nodes across Availability Zones.</p>\n         \n@param brokerAZDistribution <p>The distribution of broker nodes across Availability Zones.</p>\n@see BrokerAZDistribution*/",
        "setterMethodName" : "setBrokerAZDistribution",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "brokerAZDistribution",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n            <p>The distribution of broker nodes across Availability Zones.</p>\n         \n@param brokerAZDistribution <p>The distribution of broker nodes across Availability Zones.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see BrokerAZDistribution*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "brokerAZDistribution",
          "variableType" : "String",
          "documentation" : "\n            <p>The distribution of broker nodes across Availability Zones.</p>\n         ",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientSubnets",
        "c2jShape" : "__listOf__string",
        "deprecated" : false,
        "documentation" : "\n            <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>\n         ",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n            <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>\n         \n@param clientSubnets <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientSubnets",
        "getterDocumentation" : "/**\n            <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>\n         \n@return <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>*/",
        "getterMethodName" : "getClientSubnets",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientSubnets",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientSubnets",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ClientSubnets",
        "sensitive" : false,
        "setterDocumentation" : "/**\n            <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>\n         \n@param clientSubnets <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>*/",
        "setterMethodName" : "setClientSubnets",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "clientSubnets",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n            <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>\n         \n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setClientSubnets(java.util.Collection)} or {@link #withClientSubnets(java.util.Collection)} if you want to override the existing values.</p>\n@param clientSubnets <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "clientSubnets",
          "variableType" : "java.util.List<String>",
          "documentation" : "\n            <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>\n         ",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InstanceType",
        "c2jShape" : "__stringMin5Max32",
        "deprecated" : false,
        "documentation" : "\n            <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n         ",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n            <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n         \n@param instanceType <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceType",
        "getterDocumentation" : "/**\n            <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n         \n@return <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>*/",
        "getterMethodName" : "getInstanceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "instanceType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "instanceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceType",
        "sensitive" : false,
        "setterDocumentation" : "/**\n            <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n         \n@param instanceType <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>*/",
        "setterMethodName" : "setInstanceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n            <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n         \n@param instanceType <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceType",
          "variableType" : "String",
          "documentation" : "\n            <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n         ",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SecurityGroups",
        "c2jShape" : "__listOf__string",
        "deprecated" : false,
        "documentation" : "\n            <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>\n         ",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n            <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>\n         \n@param securityGroups <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecurityGroups",
        "getterDocumentation" : "/**\n            <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>\n         \n@return <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>*/",
        "getterMethodName" : "getSecurityGroups",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "securityGroups",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "securityGroups",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "SecurityGroups",
        "sensitive" : false,
        "setterDocumentation" : "/**\n            <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>\n         \n@param securityGroups <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>*/",
        "setterMethodName" : "setSecurityGroups",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "securityGroups",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
[...]
