{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-09-14",
    "asyncClient" : "AWSKafkaConnectAsyncClient",
    "asyncClientBuilderClassName" : "AWSKafkaConnectAsyncClientBuilder",
    "asyncInterface" : "AWSKafkaConnectAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSKafkaConnectModuleInjector",
    "defaultEndpoint" : "kafkaconnect.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kafkaconnect.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p/>",
    "endpointPrefix" : "kafkaconnect",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kafkaconnect",
    "packagePath" : "com/amazonaws/services/kafkaconnect",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Kafka Connect",
    "serviceFullName" : "Managed Streaming for Kafka Connect",
    "serviceId" : "KafkaConnect",
    "serviceName" : "Kafka Connect",
    "signingName" : "kafkaconnect",
    "smokeTestsPackageName" : "com.amazonaws.services.kafkaconnect.smoketests",
    "syncClient" : "AWSKafkaConnectClient",
    "syncClientBuilderClassName" : "AWSKafkaConnectClientBuilder",
    "syncInterface" : "AWSKafkaConnect",
    "uid" : "kafkaconnect-2021-09-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConnectorRequest, CreateConnectorResult>",
      "asyncReturnType" : "CreateConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a connector using the specified properties. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>HTTP Status Code 409: Conflict. A resource with this name already exists. Retry your request with another name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConnectorRequest",
        "variableName" : "createConnectorRequest",
        "variableType" : "CreateConnectorRequest",
        "documentation" : "",
        "simpleType" : "CreateConnectorRequest",
        "variableSetterType" : "CreateConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConnector",
      "operationName" : "CreateConnector",
      "returnType" : {
        "returnType" : "CreateConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConnectorResult"
    },
    "CreateCustomPlugin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCustomPluginResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCustomPluginResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCustomPluginRequest, CreateCustomPluginResult>",
      "asyncReturnType" : "CreateCustomPluginResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a custom plugin using the specified properties.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>HTTP Status Code 409: Conflict. A resource with this name already exists. Retry your request with another name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCustomPluginRequest",
        "variableName" : "createCustomPluginRequest",
        "variableType" : "CreateCustomPluginRequest",
        "documentation" : "",
        "simpleType" : "CreateCustomPluginRequest",
        "variableSetterType" : "CreateCustomPluginRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCustomPlugin",
      "operationName" : "CreateCustomPlugin",
      "returnType" : {
        "returnType" : "CreateCustomPluginResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCustomPluginResult"
    },
    "CreateWorkerConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkerConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkerConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkerConfigurationRequest, CreateWorkerConfigurationResult>",
      "asyncReturnType" : "CreateWorkerConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a worker configuration using the specified properties.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>HTTP Status Code 409: Conflict. A resource with this name already exists. Retry your request with another name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkerConfigurationRequest",
        "variableName" : "createWorkerConfigurationRequest",
        "variableType" : "CreateWorkerConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkerConfigurationRequest",
        "variableSetterType" : "CreateWorkerConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkerConfiguration",
      "operationName" : "CreateWorkerConfiguration",
      "returnType" : {
        "returnType" : "CreateWorkerConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkerConfigurationResult"
    },
    "DeleteConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectorRequest, DeleteConnectorResult>",
      "asyncReturnType" : "DeleteConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified connector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectorRequest",
        "variableName" : "deleteConnectorRequest",
        "variableType" : "DeleteConnectorRequest",
        "documentation" : "",
        "simpleType" : "DeleteConnectorRequest",
        "variableSetterType" : "DeleteConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnector",
      "operationName" : "DeleteConnector",
      "returnType" : {
        "returnType" : "DeleteConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConnectorResult"
    },
    "DeleteCustomPlugin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCustomPluginResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCustomPluginResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCustomPluginRequest, DeleteCustomPluginResult>",
      "asyncReturnType" : "DeleteCustomPluginResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a custom plugin.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCustomPluginRequest",
        "variableName" : "deleteCustomPluginRequest",
        "variableType" : "DeleteCustomPluginRequest",
        "documentation" : "",
        "simpleType" : "DeleteCustomPluginRequest",
        "variableSetterType" : "DeleteCustomPluginRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCustomPlugin",
      "operationName" : "DeleteCustomPlugin",
      "returnType" : {
        "returnType" : "DeleteCustomPluginResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCustomPluginResult"
    },
    "DeleteWorkerConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkerConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkerConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkerConfigurationRequest, DeleteWorkerConfigurationResult>",
      "asyncReturnType" : "DeleteWorkerConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified worker configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkerConfigurationRequest",
        "variableName" : "deleteWorkerConfigurationRequest",
        "variableType" : "DeleteWorkerConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkerConfigurationRequest",
        "variableSetterType" : "DeleteWorkerConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkerConfiguration",
      "operationName" : "DeleteWorkerConfiguration",
      "returnType" : {
        "returnType" : "DeleteWorkerConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkerConfigurationResult"
    },
    "DescribeConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectorRequest, DescribeConnectorResult>",
      "asyncReturnType" : "DescribeConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns summary information about the connector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConnectorRequest",
        "variableName" : "describeConnectorRequest",
        "variableType" : "DescribeConnectorRequest",
        "documentation" : "",
        "simpleType" : "DescribeConnectorRequest",
        "variableSetterType" : "DescribeConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnector",
      "operationName" : "DescribeConnector",
      "returnType" : {
        "returnType" : "DescribeConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeConnectorResult"
    },
    "DescribeCustomPlugin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCustomPluginResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCustomPluginResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCustomPluginRequest, DescribeCustomPluginResult>",
      "asyncReturnType" : "DescribeCustomPluginResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A summary description of the custom plugin.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCustomPluginRequest",
        "variableName" : "describeCustomPluginRequest",
        "variableType" : "DescribeCustomPluginRequest",
        "documentation" : "",
        "simpleType" : "DescribeCustomPluginRequest",
        "variableSetterType" : "DescribeCustomPluginRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCustomPlugin",
      "operationName" : "DescribeCustomPlugin",
      "returnType" : {
        "returnType" : "DescribeCustomPluginResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCustomPluginResult"
    },
    "DescribeWorkerConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkerConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkerConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkerConfigurationRequest, DescribeWorkerConfigurationResult>",
      "asyncReturnType" : "DescribeWorkerConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a worker configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkerConfigurationRequest",
        "variableName" : "describeWorkerConfigurationRequest",
        "variableType" : "DescribeWorkerConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkerConfigurationRequest",
        "variableSetterType" : "DescribeWorkerConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkerConfiguration",
      "operationName" : "DescribeWorkerConfiguration",
      "returnType" : {
        "returnType" : "DescribeWorkerConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkerConfigurationResult"
    },
    "ListConnectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConnectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConnectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConnectorsRequest, ListConnectorsResult>",
      "asyncReturnType" : "ListConnectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all the connectors in this account and Region. The list is limited to connectors whose name starts with the specified prefix. The response also includes a description of each of the listed connectors.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConnectorsRequest",
        "variableName" : "listConnectorsRequest",
        "variableType" : "ListConnectorsRequest",
        "documentation" : "",
        "simpleType" : "ListConnectorsRequest",
        "variableSetterType" : "ListConnectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConnectors",
      "operationName" : "ListConnectors",
      "returnType" : {
        "returnType" : "ListConnectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConnectorsResult"
    },
    "ListCustomPlugins" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCustomPluginsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCustomPluginsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCustomPluginsRequest, ListCustomPluginsResult>",
      "asyncReturnType" : "ListCustomPluginsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all of the custom plugins in this account and Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCustomPluginsRequest",
        "variableName" : "listCustomPluginsRequest",
        "variableType" : "ListCustomPluginsRequest",
        "documentation" : "",
        "simpleType" : "ListCustomPluginsRequest",
        "variableSetterType" : "ListCustomPluginsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCustomPlugins",
      "operationName" : "ListCustomPlugins",
      "returnType" : {
        "returnType" : "ListCustomPluginsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCustomPluginsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the tags attached to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListWorkerConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkerConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkerConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkerConfigurationsRequest, ListWorkerConfigurationsResult>",
      "asyncReturnType" : "ListWorkerConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all of the worker configurations in this account and Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkerConfigurationsRequest",
        "variableName" : "listWorkerConfigurationsRequest",
        "variableType" : "ListWorkerConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListWorkerConfigurationsRequest",
        "variableSetterType" : "ListWorkerConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkerConfigurations",
      "operationName" : "ListWorkerConfigurations",
      "returnType" : {
        "returnType" : "ListWorkerConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkerConfigurationsResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches tags to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>HTTP Status Code 409: Conflict. A resource with this name already exists. Retry your request with another name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConnectorRequest, UpdateConnectorResult>",
      "asyncReturnType" : "UpdateConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified connector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateConnectorRequest",
        "variableName" : "updateConnectorRequest",
        "variableType" : "UpdateConnectorRequest",
        "documentation" : "",
        "simpleType" : "UpdateConnectorRequest",
        "variableSetterType" : "UpdateConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConnector",
      "operationName" : "UpdateConnector",
      "returnType" : {
        "returnType" : "UpdateConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateConnectorResult"
    }
  },
  "shapes" : {
    "ApacheKafkaCluster" : {
      "c2jName" : "ApacheKafkaCluster",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The details of the Apache Kafka cluster to which the connector is connected.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.kafkaconnect.model.ApacheKafkaCluster",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "bootstrapServers",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The bootstrap servers of the cluster.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBootstrapServers",
        "getterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@return The bootstrap servers of the cluster.*/",
        "getterMethodName" : "getBootstrapServers",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "bootstrapServers",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "bootstrapServers",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BootstrapServers",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.*/",
        "setterMethodName" : "setBootstrapServers",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "bootstrapServers",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "bootstrapServers",
          "variableType" : "String",
          "documentation" : "<p>The bootstrap servers of the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "vpc",
        "c2jShape" : "Vpc",
        "deprecated" : false,
        "documentation" : "<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVpc",
        "getterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@return Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.*/",
        "getterMethodName" : "getVpc",
        "getterModel" : {
          "returnType" : "Vpc",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "vpc",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "vpc",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Vpc",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.*/",
        "setterMethodName" : "setVpc",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Vpc",
          "variableName" : "vpc",
          "variableType" : "Vpc",
          "documentation" : "",
          "simpleType" : "Vpc",
          "variableSetterType" : "Vpc"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Vpc",
          "variableName" : "vpc",
          "variableType" : "Vpc",
          "documentation" : "<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>",
          "simpleType" : "Vpc",
          "variableSetterType" : "Vpc"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BootstrapServers" : {
          "c2jName" : "bootstrapServers",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The bootstrap servers of the cluster.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBootstrapServers",
          "getterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@return The bootstrap servers of the cluster.*/",
          "getterMethodName" : "getBootstrapServers",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "bootstrapServers",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "bootstrapServers",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BootstrapServers",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.*/",
          "setterMethodName" : "setBootstrapServers",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "bootstrapServers",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "bootstrapServers",
            "variableType" : "String",
            "documentation" : "<p>The bootstrap servers of the cluster.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Vpc" : {
          "c2jName" : "vpc",
          "c2jShape" : "Vpc",
          "deprecated" : false,
          "documentation" : "<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVpc",
          "getterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@return Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.*/",
          "getterMethodName" : "getVpc",
          "getterModel" : {
            "returnType" : "Vpc",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "vpc",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "vpc",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Vpc",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.*/",
          "setterMethodName" : "setVpc",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Vpc",
            "variableName" : "vpc",
            "variableType" : "Vpc",
            "documentation" : "",
            "simpleType" : "Vpc",
            "variableSetterType" : "Vpc"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Vpc",
            "variableName" : "vpc",
            "variableType" : "Vpc",
            "documentation" : "<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>",
            "simpleType" : "Vpc",
            "variableSetterType" : "Vpc"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.kafkaconnect.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "bootstrapServers", "vpc" ],
      "shapeName" : "ApacheKafkaCluster",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApacheKafkaCluster",
        "variableName" : "apacheKafkaCluster",
        "variableType" : "ApacheKafkaCluster",
        "documentation" : null,
        "simpleType" : "ApacheKafkaCluster",
        "variableSetterType" : "ApacheKafkaCluster"
      },
      "wrapper" : false
    },
    "ApacheKafkaClusterDescription" : {
      "c2jName" : "ApacheKafkaClusterDescription",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The description of the Apache Kafka cluster to which the connector is connected.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.kafkaconnect.model.ApacheKafkaClusterDescription",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "bootstrapServers",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The bootstrap servers of the cluster.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBootstrapServers",
        "getterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@return The bootstrap servers of the cluster.*/",
        "getterMethodName" : "getBootstrapServers",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "bootstrapServers",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "bootstrapServers",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BootstrapServers",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.*/",
        "setterMethodName" : "setBootstrapServers",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "bootstrapServers",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "bootstrapServers",
          "variableType" : "String",
          "documentation" : "<p>The bootstrap servers of the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "vpc",
        "c2jShape" : "VpcDescription",
        "deprecated" : false,
        "documentation" : "<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVpc",
        "getterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@return Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.*/",
        "getterMethodName" : "getVpc",
        "getterModel" : {
          "returnType" : "VpcDescription",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "vpc",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "vpc",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Vpc",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.*/",
        "setterMethodName" : "setVpc",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "VpcDescription",
          "variableName" : "vpc",
          "variableType" : "VpcDescription",
          "documentation" : "",
          "simpleType" : "VpcDescription",
          "variableSetterType" : "VpcDescription"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "VpcDescription",
          "variableName" : "vpc",
          "variableType" : "VpcDescription",
          "documentation" : "<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>",
          "simpleType" : "VpcDescription",
          "variableSetterType" : "VpcDescription"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BootstrapServers" : {
          "c2jName" : "bootstrapServers",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The bootstrap servers of the cluster.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBootstrapServers",
          "getterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@return The bootstrap servers of the cluster.*/",
          "getterMethodName" : "getBootstrapServers",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "bootstrapServers",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "bootstrapServers",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BootstrapServers",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.*/",
          "setterMethodName" : "setBootstrapServers",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "bootstrapServers",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The bootstrap servers of the cluster.</p>\n@param bootstrapServers The bootstrap servers of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "bootstrapServers",
            "variableType" : "String",
            "documentation" : "<p>The bootstrap servers of the cluster.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Vpc" : {
          "c2jName" : "vpc",
          "c2jShape" : "VpcDescription",
          "deprecated" : false,
          "documentation" : "<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVpc",
          "getterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@return Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.*/",
          "getterMethodName" : "getVpc",
          "getterModel" : {
            "returnType" : "VpcDescription",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "vpc",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "vpc",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Vpc",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.*/",
          "setterMethodName" : "setVpc",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "VpcDescription",
            "variableName" : "vpc",
            "variableType" : "VpcDescription",
            "documentation" : "",
            "simpleType" : "VpcDescription",
            "variableSetterType" : "VpcDescription"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>\n@param vpc Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "VpcDescription",
            "variableName" : "vpc",
            "variableType" : "VpcDescription",
            "documentation" : "<p>Details of an Amazon VPC which has network connectivity to the Apache Kafka cluster.</p>",
            "simpleType" : "VpcDescription",
            "variableSetterType" : "VpcDescription"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.kafkaconnect.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ApacheKafkaClusterDescription",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApacheKafkaClusterDescription",
        "variableName" : "apacheKafkaClusterDescription",
        "variableType" : "ApacheKafkaClusterDescription",
        "documentation" : null,
        "simpleType" : "ApacheKafkaClusterDescription",
        "variableSetterType" : "ApacheKafkaClusterDescription"
      },
      "wrapper" : false
    },
    "AutoScaling" : {
      "c2jName" : "AutoScaling",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Specifies how the connector scales.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.kafkaconnect.model.AutoScaling",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "maxWorkerCount",
        "c2jShape" : "__integerMin1Max10",
        "deprecated" : false,
        "documentation" : "<p>The maximum number of workers allocated to the connector.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximum number of workers allocated to the connector.</p>\n@param maxWorkerCount The maximum number of workers allocated to the connector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaxWorkerCount",
        "getterDocumentation" : "/**<p>The maximum number of workers allocated to the connector.</p>\n@return The maximum number of workers allocated to the connector.*/",
        "getterMethodName" : "getMaxWorkerCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "maxWorkerCount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "maxWorkerCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MaxWorkerCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The maximum number of workers allocated to the connector.</p>\n@param maxWorkerCount The maximum number of workers allocated to the connector.*/",
        "setterMethodName" : "setMaxWorkerCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxWorkerCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The maximum number of workers allocated to the connector.</p>\n@param maxWorkerCount The maximum number of workers allocated to the connector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxWorkerCount",
          "variableType" : "Integer",
          "documentation" : "<p>The maximum number of workers allocated to the connector.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "mcuCount",
        "c2jShape" : "__integerMin1Max8",
        "deprecated" : false,
        "documentation" : "<p>The number of microcontroller units (MCUs) allocated to each connector worker. The valid values are 1,2,4,8.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of microcontroller units (MCUs) allocated to each connector worker. The valid values are 1,2,4,8.</p>\n@param mcuCount The number of microcontroller units (MCUs) allocated to each connector worker. The valid values are 1,2,4,8.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMcuCount",
        "getterDocumentation" : "/**<p>The number of microcontroller units (MCUs) allocated to each connector worker. The valid values are 1,2,4,8.</p>\n@return The number of microcontroller units (MCUs) allocated to each connector worker. The valid values are 1,2,4,8.*/",
        "getterMethodName" : "getMcuCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "mcuCount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "mcuCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "McuCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of microcontroller units (MCUs) allocated to each connector worker. The valid values are 1,2,4,8.</p>\n@param mcuCount The number of microcontroller units (MCUs) allocated to each connector worker. The valid values are 1,2,4,8.*/",
        "setterMethodName" : "setMcuCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "mcuCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of microcontroller units (MCUs) allocated to each connector worker. The valid values are 1,2,4,8.</p>\n@param mcuCount The number of microcontroller units (MCUs) allocated to each connector worker. The valid values are 1,2,4,8.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "mcuCount",
          "variableType" : "Integer",
          "documentation" : "<p>The number of microcontroller units (MCUs) allocated to each connector worker. The valid values are 1,2,4,8.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "minWorkerCount",
        "c2jShape" : "__integerMin1Max10",
        "deprecated" : false,
        "documentation" : "<p>The minimum number of workers allocated to the connector.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The minimum number of workers allocated to the connector.</p>\n@param minWorkerCount The minimum number of workers allocated to the connector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMinWorkerCount",
        "getterDocumentation" : "/**<p>The minimum number of workers allocated to the connector.</p>\n@return The minimum number of workers allocated to the connector.*/",
        "getterMethodName" : "getMinWorkerCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "minWorkerCount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "minWorkerCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MinWorkerCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The minimum number of workers allocated to the connector.</p>\n@param minWorkerCount The minimum number of workers allocated to the connector.*/",
        "setterMethodName" : "setMinWorkerCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "minWorkerCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The minimum number of workers allocated to the connector.</p>\n@param minWorkerCount The minimum number of workers allocated to the connector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "minWorkerCount",
          "variableType" : "Integer",
          "documentation" : "<p>The minimum number of workers allocated to the connector.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "scaleInPolicy",
        "c2jShape" : "ScaleInPolicy",
        "deprecated" : false,
        "documentation" : "<p>The sacle-in policy for the connector.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The sacle-in policy for the connector.</p>\n@param scaleInPolicy The sacle-in policy for the connector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScaleInPolicy",
        "getterDocumentation" : "/**<p>The sacle-in policy for the connector.</p>\n@return The sacle-in policy for the connector.*/",
        "getterMethodName" : "getScaleInPolicy",
        "getterModel" : {
          "returnType" : "ScaleInPolicy",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "scaleInPolicy",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "scaleInPolicy",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ScaleInPolicy",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The sacle-in policy for the connector.</p>\n@param scaleInPolicy The sacle-in policy for the connector.*/",
        "setterMethodName" : "setScaleInPolicy",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ScaleInPolicy",
          "variableName" : "scaleInPolicy",
          "variableType" : "ScaleInPolicy",
          "documentation" : "",
          "simpleType" : "ScaleInPolicy",
          "variableSetterType" : "ScaleInPolicy"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The sacle-in policy for the connector.</p>\n@param scaleInPolicy The sacle-in policy for the connector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ScaleInPolicy",
          "variableName" : "scaleInPolicy",
          "variableType" : "ScaleInPolicy",
          "documentation" : "<p>The sacle-in policy for the connector.</p>",
          "simpleType" : "ScaleInPolicy",
          "variableSetterType" : "ScaleInPolicy"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "scaleOutPolicy",
        "c2jShape" : "ScaleOutPolicy",
        "deprecated" : false,
        "documentation" : "<p>The sacle-out policy for the connector.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The sacle-out policy for the connector.</p>\n@param scaleOutPolicy The sacle-out policy for the connector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScaleOutPolicy",
        "getterDocumentation" : "/**<p>The sacle-out policy for the connector.</p>\n@return The sacle-out policy for the connector.*/",
        "getterMethodName" : "getScaleOutPolicy",
        "getterModel" : {
          "returnType" : "ScaleOutPolicy",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "scaleOutPolicy",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "scaleOutPolicy",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ScaleOutPolicy",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The sacle-out policy for the connector.</p>\n@param scaleOutPolicy The sacle-out policy for the connector.*/",
        "setterMethodName" : "setScaleOutPolicy",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ScaleOutPolicy",
          "variableName" : "scaleOutPolicy",
          "variableType" : "ScaleOutPolicy",
          "documentation" : "",
          "simpleType" : "ScaleOutPolicy",
          "variableSetterType" : "ScaleOutPolicy"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The sacle-out policy for the connector.</p>\n@param scaleOutPolicy The sacle-out policy for the connector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ScaleOutPolicy",
          "variableName" : "scaleOutPolicy",
          "variableType" : "ScaleOutPolicy",
          "documentation" : "<p>The sacle-out policy for the connector.</p>",
          "simpleType" : "ScaleOutPolicy",
          "variableSetterType" : "ScaleOutPolicy"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MaxWorkerCount" : {
          "c2jName" : "maxWorkerCount",
          "c2jShape" : "__integerMin1Max10",
[...]
