{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-02-03",
    "asyncClient" : "AWSkendraAsyncClient",
    "asyncClientBuilderClassName" : "AWSkendraAsyncClientBuilder",
    "asyncInterface" : "AWSkendraAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSkendraModuleInjector",
    "defaultEndpoint" : "kendra.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kendra.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Kendra is a service for indexing large document sets.</p>",
    "endpointPrefix" : "kendra",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kendra",
    "packagePath" : "com/amazonaws/services/kendra",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "kendra",
    "serviceFullName" : "AWSKendraFrontendService",
    "serviceId" : "kendra",
    "serviceName" : "kendra",
    "signingName" : "kendra",
    "smokeTestsPackageName" : "com.amazonaws.services.kendra.smoketests",
    "syncClient" : "AWSkendraClient",
    "syncClientBuilderClassName" : "AWSkendraClientBuilder",
    "syncInterface" : "AWSkendra",
    "uid" : "kendra-2019-02-03",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchDeleteDocument" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteDocumentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteDocumentRequest, BatchDeleteDocumentResult>",
      "asyncReturnType" : "BatchDeleteDocumentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more documents from an index. The documents must have been added with the <a>BatchPutDocument</a> operation.</p> <p>The documents are deleted asynchronously. You can see the progress of the deletion by using AWS CloudWatch. Any error messages releated to the processing of the batch are sent to you CloudWatch log.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteDocumentRequest",
        "variableName" : "batchDeleteDocumentRequest",
        "variableType" : "BatchDeleteDocumentRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteDocumentRequest",
        "variableSetterType" : "BatchDeleteDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteDocument",
      "operationName" : "BatchDeleteDocument",
      "returnType" : {
        "returnType" : "BatchDeleteDocumentResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteDocumentResult"
    },
    "BatchPutDocument" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchPutDocumentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchPutDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchPutDocumentRequest, BatchPutDocumentResult>",
      "asyncReturnType" : "BatchPutDocumentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more documents to an index.</p> <p>The <code>BatchPutDocument</code> operation enables you to ingest inline documents or a set of documents stored in an Amazon S3 bucket. Use this operation to ingest your text and unstructured text into an index, add custom attributes to the documents, and to attach an access control list to the documents added to the index.</p> <p>The documents are indexed asynchronously. You can see the progress of the batch using AWS CloudWatch. Any error messages related to processing the batch are sent to your AWS CloudWatch log.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchPutDocumentRequest",
        "variableName" : "batchPutDocumentRequest",
        "variableType" : "BatchPutDocumentRequest",
        "documentation" : "",
        "simpleType" : "BatchPutDocumentRequest",
        "variableSetterType" : "BatchPutDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchPutDocument",
      "operationName" : "BatchPutDocument",
      "returnType" : {
        "returnType" : "BatchPutDocumentResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchPutDocumentResult"
    },
    "CreateDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSourceRequest, CreateDataSourceResult>",
      "asyncReturnType" : "CreateDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a data source that you use to with an Amazon Kendra index. </p> <p>You specify a name, connector type and description for your data source. You can choose between an S3 connector, a SharePoint Online connector, and a database connector.</p> <p>You also specify configuration information such as document metadata (author, source URI, and so on) and user context information.</p> <p> <code>CreateDataSource</code> is a synchronous operation. The operation returns 200 if the data source was successfully created. Otherwise, an exception is raised.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataSourceRequest",
        "variableName" : "createDataSourceRequest",
        "variableType" : "CreateDataSourceRequest",
        "documentation" : "",
        "simpleType" : "CreateDataSourceRequest",
        "variableSetterType" : "CreateDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataSource",
      "operationName" : "CreateDataSource",
      "returnType" : {
        "returnType" : "CreateDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDataSourceResult"
    },
    "CreateFaq" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFaqResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFaqResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFaqRequest, CreateFaqResult>",
      "asyncReturnType" : "CreateFaqResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an new set of frequently asked question (FAQ) questions and answers.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFaqRequest",
        "variableName" : "createFaqRequest",
        "variableType" : "CreateFaqRequest",
        "documentation" : "",
        "simpleType" : "CreateFaqRequest",
        "variableSetterType" : "CreateFaqRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFaq",
      "operationName" : "CreateFaq",
      "returnType" : {
        "returnType" : "CreateFaqResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFaqResult"
    },
    "CreateIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIndexRequest, CreateIndexResult>",
      "asyncReturnType" : "CreateIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Amazon Kendra index. Index creation is an asynchronous operation. To determine if index creation has completed, check the <code>Status</code> field returned from a call to . The <code>Status</code> field is set to <code>ACTIVE</code> when the index is ready to use.</p> <p>Once the index is active you can index your documents using the operation or using one of the supported data sources. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIndexRequest",
        "variableName" : "createIndexRequest",
        "variableType" : "CreateIndexRequest",
        "documentation" : "",
        "simpleType" : "CreateIndexRequest",
        "variableSetterType" : "CreateIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIndex",
      "operationName" : "CreateIndex",
      "returnType" : {
        "returnType" : "CreateIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIndexResult"
    },
    "DeleteFaq" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFaqResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFaqResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFaqRequest, DeleteFaqResult>",
      "asyncReturnType" : "DeleteFaqResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an FAQ from an index.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFaqRequest",
        "variableName" : "deleteFaqRequest",
        "variableType" : "DeleteFaqRequest",
        "documentation" : "",
        "simpleType" : "DeleteFaqRequest",
        "variableSetterType" : "DeleteFaqRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFaq",
      "operationName" : "DeleteFaq",
      "returnType" : {
        "returnType" : "DeleteFaqResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFaqResult"
    },
    "DeleteIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIndexRequest, DeleteIndexResult>",
      "asyncReturnType" : "DeleteIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing Amazon Kendra index. An exception is not thrown if the index is already being deleted. While the index is being deleted, the <code>Status</code> field returned by a call to the <a>DescribeIndex</a> operation is set to <code>DELETING</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIndexRequest",
        "variableName" : "deleteIndexRequest",
        "variableType" : "DeleteIndexRequest",
        "documentation" : "",
        "simpleType" : "DeleteIndexRequest",
        "variableSetterType" : "DeleteIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIndex",
      "operationName" : "DeleteIndex",
      "returnType" : {
        "returnType" : "DeleteIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIndexResult"
    },
    "DescribeDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDataSourceRequest, DescribeDataSourceResult>",
      "asyncReturnType" : "DescribeDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a Amazon Kendra data source.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDataSourceRequest",
        "variableName" : "describeDataSourceRequest",
        "variableType" : "DescribeDataSourceRequest",
        "documentation" : "",
        "simpleType" : "DescribeDataSourceRequest",
        "variableSetterType" : "DescribeDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataSource",
      "operationName" : "DescribeDataSource",
      "returnType" : {
        "returnType" : "DescribeDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDataSourceResult"
    },
    "DescribeFaq" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFaqResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFaqResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFaqRequest, DescribeFaqResult>",
      "asyncReturnType" : "DescribeFaqResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about an FAQ list.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFaqRequest",
        "variableName" : "describeFaqRequest",
        "variableType" : "DescribeFaqRequest",
        "documentation" : "",
        "simpleType" : "DescribeFaqRequest",
        "variableSetterType" : "DescribeFaqRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFaq",
      "operationName" : "DescribeFaq",
      "returnType" : {
        "returnType" : "DescribeFaqResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFaqResult"
    },
    "DescribeIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIndexRequest, DescribeIndexResult>",
      "asyncReturnType" : "DescribeIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing Amazon Kendra index</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeIndexRequest",
        "variableName" : "describeIndexRequest",
        "variableType" : "DescribeIndexRequest",
        "documentation" : "",
        "simpleType" : "DescribeIndexRequest",
        "variableSetterType" : "DescribeIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeIndex",
      "operationName" : "DescribeIndex",
      "returnType" : {
        "returnType" : "DescribeIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeIndexResult"
    },
    "ListDataSourceSyncJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataSourceSyncJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataSourceSyncJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataSourceSyncJobsRequest, ListDataSourceSyncJobsResult>",
      "asyncReturnType" : "ListDataSourceSyncJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets statistics about synchronizing Amazon Kendra with a data source.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataSourceSyncJobsRequest",
        "variableName" : "listDataSourceSyncJobsRequest",
        "variableType" : "ListDataSourceSyncJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDataSourceSyncJobsRequest",
        "variableSetterType" : "ListDataSourceSyncJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataSourceSyncJobs",
      "operationName" : "ListDataSourceSyncJobs",
      "returnType" : {
        "returnType" : "ListDataSourceSyncJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataSourceSyncJobsResult"
    },
    "ListDataSources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataSourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataSourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataSourcesRequest, ListDataSourcesResult>",
      "asyncReturnType" : "ListDataSourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the data sources that you have created.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataSourcesRequest",
        "variableName" : "listDataSourcesRequest",
        "variableType" : "ListDataSourcesRequest",
        "documentation" : "",
        "simpleType" : "ListDataSourcesRequest",
        "variableSetterType" : "ListDataSourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataSources",
      "operationName" : "ListDataSources",
      "returnType" : {
        "returnType" : "ListDataSourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataSourcesResult"
    },
    "ListFaqs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFaqsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFaqsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFaqsRequest, ListFaqsResult>",
      "asyncReturnType" : "ListFaqsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of FAQ lists associated with an index.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFaqsRequest",
        "variableName" : "listFaqsRequest",
        "variableType" : "ListFaqsRequest",
        "documentation" : "",
        "simpleType" : "ListFaqsRequest",
        "variableSetterType" : "ListFaqsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFaqs",
      "operationName" : "ListFaqs",
      "returnType" : {
        "returnType" : "ListFaqsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFaqsResult"
    },
    "ListIndices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIndicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIndicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIndicesRequest, ListIndicesResult>",
      "asyncReturnType" : "ListIndicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Amazon Kendra indexes that you have created.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIndicesRequest",
        "variableName" : "listIndicesRequest",
        "variableType" : "ListIndicesRequest",
        "documentation" : "",
        "simpleType" : "ListIndicesRequest",
        "variableSetterType" : "ListIndicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIndices",
      "operationName" : "ListIndices",
      "returnType" : {
        "returnType" : "ListIndicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIndicesResult"
    },
    "Query" : {
      "asyncCallableType" : "java.util.concurrent.Callable<QueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<QueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<QueryRequest, QueryResult>",
      "asyncReturnType" : "QueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches an active index. Use this API to search your documents using query. The <code>Query</code> operation enables to do faceted search and to filter results based on document attributes.</p> <p>It also enables you to provide user context that Amazon Kendra uses to enforce document access control in the search results. </p> <p>Amazon Kendra searches your index for text content and question and answer (FAQ) content. By default the response contains three types of results.</p> <ul> <li> <p>Relevant passages</p> </li> <li> <p>Matching FAQs</p> </li> <li> <p>Relevant documents</p> </li> </ul> <p>You can specify that the query return only one type of result using the <code>QueryResultTypeConfig</code> parameter.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "QueryRequest",
        "variableName" : "queryRequest",
        "variableType" : "QueryRequest",
        "documentation" : "",
        "simpleType" : "QueryRequest",
        "variableSetterType" : "QueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "query",
      "operationName" : "Query",
      "returnType" : {
        "returnType" : "QueryResult",
        "documentation" : null
      },
      "syncReturnType" : "QueryResult"
    },
    "StartDataSourceSyncJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDataSourceSyncJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDataSourceSyncJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDataSourceSyncJobRequest, StartDataSourceSyncJobResult>",
      "asyncReturnType" : "StartDataSourceSyncJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a synchronization job for a data source. If a synchronization job is already in progress, Amazon Kendra returns a <code>ResourceInUseException</code> exception.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDataSourceSyncJobRequest",
        "variableName" : "startDataSourceSyncJobRequest",
        "variableType" : "StartDataSourceSyncJobRequest",
        "documentation" : "",
        "simpleType" : "StartDataSourceSyncJobRequest",
        "variableSetterType" : "StartDataSourceSyncJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDataSourceSyncJob",
      "operationName" : "StartDataSourceSyncJob",
      "returnType" : {
        "returnType" : "StartDataSourceSyncJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDataSourceSyncJobResult"
    },
    "StopDataSourceSyncJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopDataSourceSyncJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopDataSourceSyncJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDataSourceSyncJobRequest, StopDataSourceSyncJobResult>",
      "asyncReturnType" : "StopDataSourceSyncJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a running synchronization job. You can't stop a scheduled synchronization job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopDataSourceSyncJobRequest",
        "variableName" : "stopDataSourceSyncJobRequest",
        "variableType" : "StopDataSourceSyncJobRequest",
        "documentation" : "",
        "simpleType" : "StopDataSourceSyncJobRequest",
        "variableSetterType" : "StopDataSourceSyncJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopDataSourceSyncJob",
      "operationName" : "StopDataSourceSyncJob",
      "returnType" : {
        "returnType" : "StopDataSourceSyncJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopDataSourceSyncJobResult"
    },
    "SubmitFeedback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SubmitFeedbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SubmitFeedbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubmitFeedbackRequest, SubmitFeedbackResult>",
      "asyncReturnType" : "SubmitFeedbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables you to provide feedback to Amazon Kendra to improve the performance of the service. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SubmitFeedbackRequest",
        "variableName" : "submitFeedbackRequest",
        "variableType" : "SubmitFeedbackRequest",
        "documentation" : "",
        "simpleType" : "SubmitFeedbackRequest",
        "variableSetterType" : "SubmitFeedbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "submitFeedback",
      "operationName" : "SubmitFeedback",
      "returnType" : {
        "returnType" : "SubmitFeedbackResult",
        "documentation" : null
      },
      "syncReturnType" : "SubmitFeedbackResult"
    },
    "UpdateDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDataSourceRequest, UpdateDataSourceResult>",
      "asyncReturnType" : "UpdateDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing Amazon Kendra data source.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDataSourceRequest",
        "variableName" : "updateDataSourceRequest",
        "variableType" : "UpdateDataSourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateDataSourceRequest",
        "variableSetterType" : "UpdateDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataSource",
      "operationName" : "UpdateDataSource",
      "returnType" : {
        "returnType" : "UpdateDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDataSourceResult"
    },
    "UpdateIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIndexRequest, UpdateIndexResult>",
      "asyncReturnType" : "UpdateIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing Amazon Kendra index.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIndexRequest",
        "variableName" : "updateIndexRequest",
        "variableType" : "UpdateIndexRequest",
        "documentation" : "",
        "simpleType" : "UpdateIndexRequest",
        "variableSetterType" : "UpdateIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIndex",
      "operationName" : "UpdateIndex",
      "returnType" : {
        "returnType" : "UpdateIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateIndexResult"
    }
  },
  "shapes" : {
    "AccessControlListConfiguration" : {
      "c2jName" : "AccessControlListConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access Control List files for the documents in a data source.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "KeyPath",
        "c2jShape" : "S3ObjectKey",
        "deprecated" : false,
        "documentation" : "<p>Path to the AWS S3 bucket that contains the ACL files.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Path to the AWS S3 bucket that contains the ACL files.</p>\n@param keyPath Path to the AWS S3 bucket that contains the ACL files.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKeyPath",
        "getterDocumentation" : "/**<p>Path to the AWS S3 bucket that contains the ACL files.</p>\n@return Path to the AWS S3 bucket that contains the ACL files.*/",
        "getterMethodName" : "getKeyPath",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "KeyPath",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "KeyPath",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KeyPath",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Path to the AWS S3 bucket that contains the ACL files.</p>\n@param keyPath Path to the AWS S3 bucket that contains the ACL files.*/",
        "setterMethodName" : "setKeyPath",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "keyPath",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Path to the AWS S3 bucket that contains the ACL files.</p>\n@param keyPath Path to the AWS S3 bucket that contains the ACL files.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "keyPath",
          "variableType" : "String",
          "documentation" : "<p>Path to the AWS S3 bucket that contains the ACL files.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "KeyPath" : {
          "c2jName" : "KeyPath",
          "c2jShape" : "S3ObjectKey",
          "deprecated" : false,
          "documentation" : "<p>Path to the AWS S3 bucket that contains the ACL files.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Path to the AWS S3 bucket that contains the ACL files.</p>\n@param keyPath Path to the AWS S3 bucket that contains the ACL files.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKeyPath",
          "getterDocumentation" : "/**<p>Path to the AWS S3 bucket that contains the ACL files.</p>\n@return Path to the AWS S3 bucket that contains the ACL files.*/",
          "getterMethodName" : "getKeyPath",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "KeyPath",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "KeyPath",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "KeyPath",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Path to the AWS S3 bucket that contains the ACL files.</p>\n@param keyPath Path to the AWS S3 bucket that contains the ACL files.*/",
          "setterMethodName" : "setKeyPath",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "keyPath",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Path to the AWS S3 bucket that contains the ACL files.</p>\n@param keyPath Path to the AWS S3 bucket that contains the ACL files.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "keyPath",
            "variableType" : "String",
            "documentation" : "<p>Path to the AWS S3 bucket that contains the ACL files.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessControlListConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessControlListConfiguration",
        "variableName" : "accessControlListConfiguration",
        "variableType" : "AccessControlListConfiguration",
        "documentation" : null,
        "simpleType" : "AccessControlListConfiguration",
        "variableSetterType" : "AccessControlListConfiguration"
      },
      "wrapper" : false
    },
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AclConfiguration" : {
      "c2jName" : "AclConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provides information about the column that should be used for filtering the query response by groups.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AllowedGroupsColumnName",
        "c2jShape" : "ColumnName",
        "deprecated" : false,
        "documentation" : "<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>\n@param allowedGroupsColumnName A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAllowedGroupsColumnName",
        "getterDocumentation" : "/**<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>\n@return A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.*/",
        "getterMethodName" : "getAllowedGroupsColumnName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AllowedGroupsColumnName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AllowedGroupsColumnName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AllowedGroupsColumnName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>\n@param allowedGroupsColumnName A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.*/",
        "setterMethodName" : "setAllowedGroupsColumnName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "allowedGroupsColumnName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>\n@param allowedGroupsColumnName A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "allowedGroupsColumnName",
          "variableType" : "String",
          "documentation" : "<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AllowedGroupsColumnName" : {
          "c2jName" : "AllowedGroupsColumnName",
          "c2jShape" : "ColumnName",
          "deprecated" : false,
          "documentation" : "<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>\n@param allowedGroupsColumnName A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAllowedGroupsColumnName",
          "getterDocumentation" : "/**<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>\n@return A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.*/",
          "getterMethodName" : "getAllowedGroupsColumnName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AllowedGroupsColumnName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AllowedGroupsColumnName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AllowedGroupsColumnName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>\n@param allowedGroupsColumnName A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.*/",
          "setterMethodName" : "setAllowedGroupsColumnName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "allowedGroupsColumnName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>\n@param allowedGroupsColumnName A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "allowedGroupsColumnName",
            "variableType" : "String",
            "documentation" : "<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "AllowedGroupsColumnName" ],
      "shapeName" : "AclConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AclConfiguration",
        "variableName" : "aclConfiguration",
        "variableType" : "AclConfiguration",
        "documentation" : null,
        "simpleType" : "AclConfiguration",
        "variableSetterType" : "AclConfiguration"
      },
      "wrapper" : false
    },
    "AdditionalResultAttribute" : {
      "c2jName" : "AdditionalResultAttribute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Key",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param key \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKey",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Key",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Key",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Key",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param key */",
        "setterMethodName" : "setKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param key \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ValueType",
        "c2jShape" : "AdditionalResultAttributeValueType",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : "AdditionalResultAttributeValueType",
        "fluentSetterDocumentation" : "/**<p/>\n@param valueType \n@return Returns a reference to this object so that method calls can be chained together.\n@see AdditionalResultAttributeValueType*/",
        "fluentSetterMethodName" : "withValueType",
        "getterDocumentation" : "/**<p/>\n@return \n@see AdditionalResultAttributeValueType*/",
        "getterMethodName" : "getValueType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ValueType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ValueType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ValueType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param valueType \n@see AdditionalResultAttributeValueType*/",
        "setterMethodName" : "setValueType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "valueType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param valueType \n@return Returns a reference to this object so that method calls can be chained together.\n@see AdditionalResultAttributeValueType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "valueType",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Value",
        "c2jShape" : "AdditionalResultAttributeValue",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withValue",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getValue",
        "getterModel" : {
          "returnType" : "AdditionalResultAttributeValue",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Value",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Value",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Value",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param value */",
        "setterMethodName" : "setValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AdditionalResultAttributeValue",
          "variableName" : "value",
          "variableType" : "AdditionalResultAttributeValue",
          "documentation" : "",
          "simpleType" : "AdditionalResultAttributeValue",
          "variableSetterType" : "AdditionalResultAttributeValue"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AdditionalResultAttributeValue",
          "variableName" : "value",
          "variableType" : "AdditionalResultAttributeValue",
          "documentation" : "<p/>",
          "simpleType" : "AdditionalResultAttributeValue",
          "variableSetterType" : "AdditionalResultAttributeValue"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Key" : {
          "c2jName" : "Key",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p/>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param key \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKey",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Key",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Key",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Key",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param key */",
          "setterMethodName" : "setKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param key \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Value" : {
          "c2jName" : "Value",
          "c2jShape" : "AdditionalResultAttributeValue",
          "deprecated" : false,
          "documentation" : "<p/>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withValue",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getValue",
          "getterModel" : {
            "returnType" : "AdditionalResultAttributeValue",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Value",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Value",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Value",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param value */",
          "setterMethodName" : "setValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AdditionalResultAttributeValue",
            "variableName" : "value",
            "variableType" : "AdditionalResultAttributeValue",
            "documentation" : "",
            "simpleType" : "AdditionalResultAttributeValue",
            "variableSetterType" : "AdditionalResultAttributeValue"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AdditionalResultAttributeValue",
            "variableName" : "value",
            "variableType" : "AdditionalResultAttributeValue",
            "documentation" : "<p/>",
            "simpleType" : "AdditionalResultAttributeValue",
            "variableSetterType" : "AdditionalResultAttributeValue"
          },
          "xmlNameSpaceUri" : null
        },
        "ValueType" : {
          "c2jName" : "ValueType",
          "c2jShape" : "AdditionalResultAttributeValueType",
          "deprecated" : false,
          "documentation" : "<p/>",
          "enumType" : "AdditionalResultAttributeValueType",
          "fluentSetterDocumentation" : "/**<p/>\n@param valueType \n@return Returns a reference to this object so that method calls can be chained together.\n@see AdditionalResultAttributeValueType*/",
          "fluentSetterMethodName" : "withValueType",
          "getterDocumentation" : "/**<p/>\n@return \n@see AdditionalResultAttributeValueType*/",
          "getterMethodName" : "getValueType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ValueType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ValueType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ValueType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param valueType \n@see AdditionalResultAttributeValueType*/",
          "setterMethodName" : "setValueType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "valueType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param valueType \n@return Returns a reference to this object so that method calls can be chained together.\n@see AdditionalResultAttributeValueType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "valueType",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Key", "ValueType", "Value" ],
      "shapeName" : "AdditionalResultAttribute",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AdditionalResultAttribute",
        "variableName" : "additionalResultAttribute",
        "variableType" : "AdditionalResultAttribute",
        "documentation" : null,
        "simpleType" : "AdditionalResultAttribute",
        "variableSetterType" : "AdditionalResultAttribute"
      },
      "wrapper" : false
    },
    "AdditionalResultAttributeValue" : {
      "c2jName" : "AdditionalResultAttributeValue",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An attribute returned with a document from a search.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TextWithHighlightsValue",
        "c2jShape" : "TextWithHighlights",
        "deprecated" : false,
        "documentation" : "<p>The text associated with the attribute and information about the highlight to apply to the text.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The text associated with the attribute and information about the highlight to apply to the text.</p>\n@param textWithHighlightsValue The text associated with the attribute and information about the highlight to apply to the text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTextWithHighlightsValue",
        "getterDocumentation" : "/**<p>The text associated with the attribute and information about the highlight to apply to the text.</p>\n@return The text associated with the attribute and information about the highlight to apply to the text.*/",
        "getterMethodName" : "getTextWithHighlightsValue",
        "getterModel" : {
          "returnType" : "TextWithHighlights",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TextWithHighlightsValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TextWithHighlightsValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TextWithHighlightsValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The text associated with the attribute and information about the highlight to apply to the text.</p>\n@param textWithHighlightsValue The text associated with the attribute and information about the highlight to apply to the text.*/",
        "setterMethodName" : "setTextWithHighlightsValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TextWithHighlights",
          "variableName" : "textWithHighlightsValue",
          "variableType" : "TextWithHighlights",
          "documentation" : "",
          "simpleType" : "TextWithHighlights",
          "variableSetterType" : "TextWithHighlights"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The text associated with the attribute and information about the highlight to apply to the text.</p>\n@param textWithHighlightsValue The text associated with the attribute and information about the highlight to apply to the text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TextWithHighlights",
          "variableName" : "textWithHighlightsValue",
          "variableType" : "TextWithHighlights",
          "documentation" : "<p>The text associated with the attribute and information about the highlight to apply to the text.</p>",
          "simpleType" : "TextWithHighlights",
          "variableSetterType" : "TextWithHighlights"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TextWithHighlightsValue" : {
          "c2jName" : "TextWithHighlightsValue",
          "c2jShape" : "TextWithHighlights",
          "deprecated" : false,
          "documentation" : "<p>The text associated with the attribute and information about the highlight to apply to the text.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The text associated with the attribute and information about the highlight to apply to the text.</p>\n@param textWithHighlightsValue The text associated with the attribute and information about the highlight to apply to the text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTextWithHighlightsValue",
          "getterDocumentation" : "/**<p>The text associated with the attribute and information about the highlight to apply to the text.</p>\n@return The text associated with the attribute and information about the highlight to apply to the text.*/",
          "getterMethodName" : "getTextWithHighlightsValue",
          "getterModel" : {
            "returnType" : "TextWithHighlights",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TextWithHighlightsValue",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TextWithHighlightsValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "TextWithHighlightsValue",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The text associated with the attribute and information about the highlight to apply to the text.</p>\n@param textWithHighlightsValue The text associated with the attribute and information about the highlight to apply to the text.*/",
          "setterMethodName" : "setTextWithHighlightsValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TextWithHighlights",
            "variableName" : "textWithHighlightsValue",
            "variableType" : "TextWithHighlights",
            "documentation" : "",
            "simpleType" : "TextWithHighlights",
            "variableSetterType" : "TextWithHighlights"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The text associated with the attribute and information about the highlight to apply to the text.</p>\n@param textWithHighlightsValue The text associated with the attribute and information about the highlight to apply to the text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TextWithHighlights",
            "variableName" : "textWithHighlightsValue",
            "variableType" : "TextWithHighlights",
            "documentation" : "<p>The text associated with the attribute and information about the highlight to apply to the text.</p>",
            "simpleType" : "TextWithHighlights",
            "variableSetterType" : "TextWithHighlights"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AdditionalResultAttributeValue",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AdditionalResultAttributeValue",
        "variableName" : "additionalResultAttributeValue",
        "variableType" : "AdditionalResultAttributeValue",
        "documentation" : null,
        "simpleType" : "AdditionalResultAttributeValue",
        "variableSetterType" : "AdditionalResultAttributeValue"
      },
      "wrapper" : false
    },
    "AdditionalResultAttributeValueType" : {
      "c2jName" : "AdditionalResultAttributeValueType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "TEXT_WITH_HIGHLIGHTS_VALUE",
        "value" : "TEXT_WITH_HIGHLIGHTS_VALUE"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AdditionalResultAttributeValueType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AdditionalResultAttributeValueType",
        "variableName" : "additionalResultAttributeValueType",
        "variableType" : "AdditionalResultAttributeValueType",
        "documentation" : null,
        "simpleType" : "AdditionalResultAttributeValueType",
        "variableSetterType" : "AdditionalResultAttributeValueType"
      },
      "wrapper" : false
    },
    "AttributeFilter" : {
      "c2jName" : "AttributeFilter",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provides filtering the query results based on document attributes.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AndAllFilters",
        "c2jShape" : "AttributeFilterList",
        "deprecated" : false,
        "documentation" : "<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>\n@param andAllFilters Performs a logical <code>AND</code> operation on all supplied filters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAndAllFilters",
        "getterDocumentation" : "/**<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>\n@return Performs a logical <code>AND</code> operation on all supplied filters.*/",
        "getterMethodName" : "getAndAllFilters",
        "getterModel" : {
          "returnType" : "java.util.List<AttributeFilter>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AndAllFilters",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AndAllFilters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AttributeFilter",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
[...]
