{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AmazonKinesisVideoWebRTCStorageAsyncClient",
    "asyncClientBuilderClassName" : "AmazonKinesisVideoWebRTCStorageAsyncClientBuilder",
    "asyncInterface" : "AmazonKinesisVideoWebRTCStorageAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonKinesisVideoWebRTCStorageModuleInjector",
    "defaultEndpoint" : "kinesisvideo.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kinesisvideo.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> </p>",
    "endpointPrefix" : "kinesisvideo",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kinesisvideowebrtcstorage",
    "packagePath" : "com/amazonaws/services/kinesisvideowebrtcstorage",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Kinesis Video WebRTC Storage",
    "serviceId" : "Kinesis Video WebRTC Storage",
    "serviceName" : "Amazon Kinesis Video WebRTC Storage",
    "signingName" : "kinesisvideo",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisvideowebrtcstorage.smoketests",
    "syncClient" : "AmazonKinesisVideoWebRTCStorageClient",
    "syncClientBuilderClassName" : "AmazonKinesisVideoWebRTCStorageClientBuilder",
    "syncInterface" : "AmazonKinesisVideoWebRTCStorage",
    "uid" : "kinesis-video-webrtc-storage-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "JoinStorageSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<JoinStorageSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<JoinStorageSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<JoinStorageSessionRequest, JoinStorageSessionResult>",
      "asyncReturnType" : "JoinStorageSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Join the ongoing one way-video and/or multi-way audio WebRTC session as a video producing device for an input channel. If there’s no existing session for the channel, a new streaming session needs to be created, and the Amazon Resource Name (ARN) of the signaling channel must be provided. </p> <p>Currently for the <code>SINGLE_MASTER</code> type, a video producing device is able to ingest both audio and video media into a stream, while viewers can only ingest audio. Both a video producing device and viewers can join the session first, and wait for other participants.</p> <p>While participants are having peer to peer conversations through webRTC, the ingested media session will be stored into the Kinesis Video Stream. Multiple viewers are able to playback real-time media.</p> <p>Customers can also use existing Kinesis Video Streams features like <code>HLS</code> or <code>DASH</code> playback, Image generation, and more with ingested WebRTC media.</p> <note> <p>Assume that only one video producing device client can be associated with a session for the channel. If more than one client joins the session of a specific channel as a video producing device, the most recent client request takes precedence. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p> Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource is not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "JoinStorageSessionRequest",
        "variableName" : "joinStorageSessionRequest",
        "variableType" : "JoinStorageSessionRequest",
        "documentation" : "",
        "simpleType" : "JoinStorageSessionRequest",
        "variableSetterType" : "JoinStorageSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "joinStorageSession",
      "operationName" : "JoinStorageSession",
      "returnType" : {
        "returnType" : "JoinStorageSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "JoinStorageSessionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideowebrtcstorage.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.kinesisvideowebrtcstorage.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ClientLimitExceededException" : {
      "c2jName" : "ClientLimitExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ClientLimitExceededException",
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideowebrtcstorage.exception.ClientLimitExceededException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.kinesisvideowebrtcstorage.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ClientLimitExceededException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ClientLimitExceededException",
        "variableName" : "clientLimitExceededException",
        "variableType" : "ClientLimitExceededException",
        "documentation" : null,
        "simpleType" : "ClientLimitExceededException",
        "variableSetterType" : "ClientLimitExceededException"
      },
      "wrapper" : false
    },
    "InvalidArgumentException" : {
      "c2jName" : "InvalidArgumentException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The value for this input parameter is invalid.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "InvalidArgumentException",
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideowebrtcstorage.exception.InvalidArgumentException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.kinesisvideowebrtcstorage.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "InvalidArgumentException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidArgumentException",
        "variableName" : "invalidArgumentException",
        "variableType" : "InvalidArgumentException",
        "documentation" : null,
        "simpleType" : "InvalidArgumentException",
        "variableSetterType" : "InvalidArgumentException"
      },
      "wrapper" : false
    },
    "JoinStorageSessionRequest" : {
      "c2jName" : "JoinStorageSessionInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideowebrtcstorage.request.JoinStorageSessionRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "JoinStorageSession",
        "locationName" : null,
        "requestUri" : "/joinStorageSession",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "channelArn",
        "c2jShape" : "ChannelArn",
        "deprecated" : false,
        "documentation" : "<p> The Amazon Resource Name (ARN) of the signaling channel. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the signaling channel. </p>\n@param channelArn The Amazon Resource Name (ARN) of the signaling channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChannelArn",
        "getterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the signaling channel. </p>\n@return The Amazon Resource Name (ARN) of the signaling channel.*/",
        "getterMethodName" : "getChannelArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "channelArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "channelArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChannelArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the signaling channel. </p>\n@param channelArn The Amazon Resource Name (ARN) of the signaling channel.*/",
        "setterMethodName" : "setChannelArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the signaling channel. </p>\n@param channelArn The Amazon Resource Name (ARN) of the signaling channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelArn",
          "variableType" : "String",
          "documentation" : "<p> The Amazon Resource Name (ARN) of the signaling channel. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ChannelArn" : {
          "c2jName" : "channelArn",
          "c2jShape" : "ChannelArn",
          "deprecated" : false,
          "documentation" : "<p> The Amazon Resource Name (ARN) of the signaling channel. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the signaling channel. </p>\n@param channelArn The Amazon Resource Name (ARN) of the signaling channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChannelArn",
          "getterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the signaling channel. </p>\n@return The Amazon Resource Name (ARN) of the signaling channel.*/",
          "getterMethodName" : "getChannelArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "channelArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "channelArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChannelArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the signaling channel. </p>\n@param channelArn The Amazon Resource Name (ARN) of the signaling channel.*/",
          "setterMethodName" : "setChannelArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The Amazon Resource Name (ARN) of the signaling channel. </p>\n@param channelArn The Amazon Resource Name (ARN) of the signaling channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelArn",
            "variableType" : "String",
            "documentation" : "<p> The Amazon Resource Name (ARN) of the signaling channel. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.kinesisvideowebrtcstorage.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "channelArn" ],
      "shapeName" : "JoinStorageSessionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "JoinStorageSessionRequest",
        "variableName" : "joinStorageSessionRequest",
        "variableType" : "JoinStorageSessionRequest",
        "documentation" : null,
        "simpleType" : "JoinStorageSessionRequest",
        "variableSetterType" : "JoinStorageSessionRequest"
      },
      "wrapper" : false
    },
    "JoinStorageSessionResult" : {
      "c2jName" : "JoinStorageSessionResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideowebrtcstorage.response.JoinStorageSessionResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.kinesisvideowebrtcstorage.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "JoinStorageSessionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "JoinStorageSessionResult",
        "variableName" : "joinStorageSessionResult",
        "variableType" : "JoinStorageSessionResult",
        "documentation" : null,
        "simpleType" : "JoinStorageSessionResult",
        "variableSetterType" : "JoinStorageSessionResult"
      },
      "wrapper" : false
    },
    "ResourceNotFoundException" : {
      "c2jName" : "ResourceNotFoundException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The specified resource is not found.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ResourceNotFoundException",
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideowebrtcstorage.exception.ResourceNotFoundException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.kinesisvideowebrtcstorage.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ResourceNotFoundException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResourceNotFoundException",
        "variableName" : "resourceNotFoundException",
        "variableType" : "ResourceNotFoundException",
        "documentation" : null,
        "simpleType" : "ResourceNotFoundException",
        "variableSetterType" : "ResourceNotFoundException"
      },
      "wrapper" : false
    }
  },
  "clientConfigFactory" : "ClientConfigurationFactory",
  "examples" : {
    "examples" : { },
    "version" : "1.0"
  },
  "exceptionUnmarshallerImpl" : null,
  "fileHeader" : "/*\n * Copyright 2018-2023 Amazon.com, Inc. or its affiliates. All Rights\n * Reserved.\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\").\n * You may not use this file except in compliance with the License.\n * A copy of the License is located at\n *\n *  http://aws.amazon.com/apache2.0\n *\n * or in the \"license\" file accompanying this file. This file is distributed\n * on an \"AS IS\" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either\n * express or implied. See the License for the specific language governing\n * permissions and limitations under the License.\n */",
  "hasWaiters" : false,
  "sdkBaseResponseFqcn" : "com.amazonaws.AmazonWebServiceResult<com.amazonaws.ResponseMetadata>",
  "sdkModeledExceptionBaseClassName" : "AmazonKinesisVideoWebRTCStorageException",
  "sdkModeledExceptionBaseFqcn" : "com.amazonaws.services.kinesisvideowebrtcstorage.model.AmazonKinesisVideoWebRTCStorageException",
  "serviceBaseExceptionFqcn" : "com.amazonaws.AmazonServiceException",
  "transformPackage" : "com.amazonaws.services.kinesisvideowebrtcstorage.model.transform"
}