{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-12-04",
    "asyncClient" : "AmazonKinesisVideoSignalingChannelsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonKinesisVideoSignalingChannelsAsyncClientBuilder",
    "asyncInterface" : "AmazonKinesisVideoSignalingChannelsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonKinesisVideoSignalingChannelsModuleInjector",
    "defaultEndpoint" : "kinesisvideo.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kinesisvideo.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Kinesis Video Streams Signaling Service is a intermediate service that establishes a communication channel for discovering peers, transmitting offers and answers in order to establish peer-to-peer connection in webRTC technology.</p>",
    "endpointPrefix" : "kinesisvideo",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kinesisvideosignalingchannels",
    "packagePath" : "com/amazonaws/services/kinesisvideosignalingchannels",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon Kinesis Video Signaling Channels",
    "serviceFullName" : "Amazon Kinesis Video Signaling Channels",
    "serviceId" : "Kinesis Video Signaling",
    "serviceName" : "Amazon Kinesis Video Signaling Channels",
    "signingName" : "kinesisvideo",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisvideosignalingchannels.smoketests",
    "syncClient" : "AmazonKinesisVideoSignalingChannelsClient",
    "syncClientBuilderClassName" : "AmazonKinesisVideoSignalingChannelsClientBuilder",
    "syncInterface" : "AmazonKinesisVideoSignalingChannels",
    "uid" : "kinesis-video-signaling-2019-12-04",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetIceServerConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIceServerConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIceServerConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIceServerConfigRequest, GetIceServerConfigResult>",
      "asyncReturnType" : "GetIceServerConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the Interactive Connectivity Establishment (ICE) server configuration information, including URIs, username, and password which can be used to configure the WebRTC connection. The ICE component uses this configuration information to setup the WebRTC connection, including authenticating with the Traversal Using Relays around NAT (TURN) relay server. </p> <p>TURN is a protocol that is used to improve the connectivity of peer-to-peer applications. By providing a cloud-based relay service, TURN ensures that a connection can be established even when one or more peers are incapable of a direct peer-to-peer connection. For more information, see <a href=\"https://tools.ietf.org/html/draft-uberti-rtcweb-turn-rest-00\">A REST API For Access To TURN Services</a>.</p> <p> You can invoke this API to establish a fallback mechanism in case either of the peers is unable to establish a direct peer-to-peer connection over a signaling channel. You must specify either a signaling channel ARN or the client ID in order to invoke this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidClientException",
        "documentation" : "<p>The specified client is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SessionExpiredException",
        "documentation" : "<p>If the client session is expired. Once the client is connected, the session is valid for 45 minutes. Client should reconnect to the channel to continue sending/receiving messages.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Your request was throttled because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource is not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIceServerConfigRequest",
        "variableName" : "getIceServerConfigRequest",
        "variableType" : "GetIceServerConfigRequest",
        "documentation" : "",
        "simpleType" : "GetIceServerConfigRequest",
        "variableSetterType" : "GetIceServerConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIceServerConfig",
      "operationName" : "GetIceServerConfig",
      "returnType" : {
        "returnType" : "GetIceServerConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIceServerConfigResult"
    },
    "SendAlexaOfferToMaster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendAlexaOfferToMasterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendAlexaOfferToMasterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendAlexaOfferToMasterRequest, SendAlexaOfferToMasterResult>",
      "asyncReturnType" : "SendAlexaOfferToMasterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API allows you to connect WebRTC-enabled devices with Alexa display devices. When invoked, it sends the Alexa Session Description Protocol (SDP) offer to the master peer. The offer is delivered as soon as the master is connected to the specified signaling channel. This API returns the SDP answer from the connected master. If the master is not connected to the signaling channel, redelivery requests are made until the message expires.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Your request was throttled because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource is not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendAlexaOfferToMasterRequest",
        "variableName" : "sendAlexaOfferToMasterRequest",
        "variableType" : "SendAlexaOfferToMasterRequest",
        "documentation" : "",
        "simpleType" : "SendAlexaOfferToMasterRequest",
        "variableSetterType" : "SendAlexaOfferToMasterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendAlexaOfferToMaster",
      "operationName" : "SendAlexaOfferToMaster",
      "returnType" : {
        "returnType" : "SendAlexaOfferToMasterResult",
        "documentation" : null
      },
      "syncReturnType" : "SendAlexaOfferToMasterResult"
    }
  },
  "shapes" : {
    "ClientLimitExceededException" : {
      "c2jName" : "ClientLimitExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Your request was throttled because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
      "enums" : null,
      "errorCode" : "ClientLimitExceededException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ClientLimitExceededException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ClientLimitExceededException",
        "variableName" : "clientLimitExceededException",
        "variableType" : "ClientLimitExceededException",
        "documentation" : null,
        "simpleType" : "ClientLimitExceededException",
        "variableSetterType" : "ClientLimitExceededException"
      },
      "wrapper" : false
    },
    "GetIceServerConfigRequest" : {
      "c2jName" : "GetIceServerConfigRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetIceServerConfig",
        "locationName" : null,
        "requestUri" : "/v1/get-ice-server-config",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ChannelARN",
        "c2jShape" : "ResourceARN",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>\n@param channelARN The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChannelARN",
        "getterDocumentation" : "/**<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>\n@return The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers.*/",
        "getterMethodName" : "getChannelARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChannelARN",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChannelARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChannelARN",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>\n@param channelARN The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers.*/",
        "setterMethodName" : "setChannelARN",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelARN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>\n@param channelARN The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelARN",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientId",
        "c2jShape" : "ClientId",
        "deprecated" : false,
        "documentation" : "<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>\n@param clientId Unique identifier for the viewer. Must be unique within the signaling channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientId",
        "getterDocumentation" : "/**<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>\n@return Unique identifier for the viewer. Must be unique within the signaling channel.*/",
        "getterMethodName" : "getClientId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>\n@param clientId Unique identifier for the viewer. Must be unique within the signaling channel.*/",
        "setterMethodName" : "setClientId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>\n@param clientId Unique identifier for the viewer. Must be unique within the signaling channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientId",
          "variableType" : "String",
          "documentation" : "<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Service",
        "c2jShape" : "Service",
        "deprecated" : false,
        "documentation" : "<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>",
        "enumType" : "Service",
        "fluentSetterDocumentation" : "/**<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>\n@param service Specifies the desired service. Currently, <code>TURN</code> is the only valid value.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Service*/",
        "fluentSetterMethodName" : "withService",
        "getterDocumentation" : "/**<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>\n@return Specifies the desired service. Currently, <code>TURN</code> is the only valid value.\n@see Service*/",
        "getterMethodName" : "getService",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Service",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Service",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Service",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>\n@param service Specifies the desired service. Currently, <code>TURN</code> is the only valid value.\n@see Service*/",
        "setterMethodName" : "setService",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "service",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>\n@param service Specifies the desired service. Currently, <code>TURN</code> is the only valid value.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Service*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "service",
          "variableType" : "String",
          "documentation" : "<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Username",
        "c2jShape" : "Username",
        "deprecated" : false,
        "documentation" : "<p>An optional user ID to be associated with the credentials.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An optional user ID to be associated with the credentials.</p>\n@param username An optional user ID to be associated with the credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsername",
        "getterDocumentation" : "/**<p>An optional user ID to be associated with the credentials.</p>\n@return An optional user ID to be associated with the credentials.*/",
        "getterMethodName" : "getUsername",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Username",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Username",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Username",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An optional user ID to be associated with the credentials.</p>\n@param username An optional user ID to be associated with the credentials.*/",
        "setterMethodName" : "setUsername",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "username",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An optional user ID to be associated with the credentials.</p>\n@param username An optional user ID to be associated with the credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "username",
          "variableType" : "String",
          "documentation" : "<p>An optional user ID to be associated with the credentials.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ChannelARN" : {
          "c2jName" : "ChannelARN",
          "c2jShape" : "ResourceARN",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>\n@param channelARN The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChannelARN",
          "getterDocumentation" : "/**<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>\n@return The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers.*/",
          "getterMethodName" : "getChannelARN",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ChannelARN",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ChannelARN",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChannelARN",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>\n@param channelARN The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers.*/",
          "setterMethodName" : "setChannelARN",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelARN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>\n@param channelARN The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelARN",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the signaling channel to be used for the peer-to-peer connection between configured peers. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ClientId" : {
          "c2jName" : "ClientId",
          "c2jShape" : "ClientId",
          "deprecated" : false,
          "documentation" : "<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>\n@param clientId Unique identifier for the viewer. Must be unique within the signaling channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientId",
          "getterDocumentation" : "/**<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>\n@return Unique identifier for the viewer. Must be unique within the signaling channel.*/",
          "getterMethodName" : "getClientId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ClientId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ClientId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>\n@param clientId Unique identifier for the viewer. Must be unique within the signaling channel.*/",
          "setterMethodName" : "setClientId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>\n@param clientId Unique identifier for the viewer. Must be unique within the signaling channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientId",
            "variableType" : "String",
            "documentation" : "<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Service" : {
          "c2jName" : "Service",
          "c2jShape" : "Service",
          "deprecated" : false,
          "documentation" : "<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>",
          "enumType" : "Service",
          "fluentSetterDocumentation" : "/**<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>\n@param service Specifies the desired service. Currently, <code>TURN</code> is the only valid value.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Service*/",
          "fluentSetterMethodName" : "withService",
          "getterDocumentation" : "/**<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>\n@return Specifies the desired service. Currently, <code>TURN</code> is the only valid value.\n@see Service*/",
          "getterMethodName" : "getService",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Service",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Service",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Service",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>\n@param service Specifies the desired service. Currently, <code>TURN</code> is the only valid value.\n@see Service*/",
          "setterMethodName" : "setService",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "service",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>\n@param service Specifies the desired service. Currently, <code>TURN</code> is the only valid value.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Service*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "service",
            "variableType" : "String",
            "documentation" : "<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid value.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Username" : {
          "c2jName" : "Username",
          "c2jShape" : "Username",
          "deprecated" : false,
          "documentation" : "<p>An optional user ID to be associated with the credentials.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An optional user ID to be associated with the credentials.</p>\n@param username An optional user ID to be associated with the credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUsername",
          "getterDocumentation" : "/**<p>An optional user ID to be associated with the credentials.</p>\n@return An optional user ID to be associated with the credentials.*/",
          "getterMethodName" : "getUsername",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Username",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Username",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Username",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An optional user ID to be associated with the credentials.</p>\n@param username An optional user ID to be associated with the credentials.*/",
          "setterMethodName" : "setUsername",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "username",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An optional user ID to be associated with the credentials.</p>\n@param username An optional user ID to be associated with the credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "username",
            "variableType" : "String",
            "documentation" : "<p>An optional user ID to be associated with the credentials.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ChannelARN" ],
      "shapeName" : "GetIceServerConfigRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIceServerConfigRequest",
        "variableName" : "getIceServerConfigRequest",
        "variableType" : "GetIceServerConfigRequest",
        "documentation" : null,
        "simpleType" : "GetIceServerConfigRequest",
        "variableSetterType" : "GetIceServerConfigRequest"
      },
      "wrapper" : false
    },
    "GetIceServerConfigResult" : {
      "c2jName" : "GetIceServerConfigResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "IceServerList",
        "c2jShape" : "IceServerList",
        "deprecated" : false,
        "documentation" : "<p>The list of ICE server information objects.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The list of ICE server information objects.</p>\n@param iceServerList The list of ICE server information objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIceServerList",
        "getterDocumentation" : "/**<p>The list of ICE server information objects.</p>\n@return The list of ICE server information objects.*/",
        "getterMethodName" : "getIceServerList",
        "getterModel" : {
          "returnType" : "java.util.List<IceServer>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IceServerList",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IceServerList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "IceServer",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "IceServer",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "IceServer",
              "variableName" : "member",
              "variableType" : "IceServer",
              "documentation" : "",
              "simpleType" : "IceServer",
              "variableSetterType" : "IceServer"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "IceServer",
              "variableName" : "member",
              "variableType" : "IceServer",
              "documentation" : "",
              "simpleType" : "IceServer",
              "variableSetterType" : "IceServer"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "IceServer",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "IceServer",
          "templateImplType" : "java.util.ArrayList<IceServer>",
          "templateType" : "java.util.List<IceServer>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "IceServerList",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The list of ICE server information objects.</p>\n@param iceServerList The list of ICE server information objects.*/",
        "setterMethodName" : "setIceServerList",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<IceServer>",
          "variableName" : "iceServerList",
          "variableType" : "java.util.List<IceServer>",
          "documentation" : "",
          "simpleType" : "List<IceServer>",
          "variableSetterType" : "java.util.Collection<IceServer>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The list of ICE server information objects.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setIceServerList(java.util.Collection)} or {@link #withIceServerList(java.util.Collection)} if you want to override the existing values.</p>\n@param iceServerList The list of ICE server information objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<IceServer>",
          "variableName" : "iceServerList",
          "variableType" : "java.util.List<IceServer>",
          "documentation" : "<p>The list of ICE server information objects.</p>",
          "simpleType" : "List<IceServer>",
          "variableSetterType" : "java.util.Collection<IceServer>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IceServerList" : {
          "c2jName" : "IceServerList",
          "c2jShape" : "IceServerList",
          "deprecated" : false,
          "documentation" : "<p>The list of ICE server information objects.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The list of ICE server information objects.</p>\n@param iceServerList The list of ICE server information objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIceServerList",
          "getterDocumentation" : "/**<p>The list of ICE server information objects.</p>\n@return The list of ICE server information objects.*/",
          "getterMethodName" : "getIceServerList",
          "getterModel" : {
            "returnType" : "java.util.List<IceServer>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IceServerList",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IceServerList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "IceServer",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "IceServer",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "IceServer",
                "variableName" : "member",
                "variableType" : "IceServer",
                "documentation" : "",
                "simpleType" : "IceServer",
                "variableSetterType" : "IceServer"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "IceServer",
                "variableName" : "member",
                "variableType" : "IceServer",
                "documentation" : "",
                "simpleType" : "IceServer",
                "variableSetterType" : "IceServer"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "IceServer",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "IceServer",
            "templateImplType" : "java.util.ArrayList<IceServer>",
            "templateType" : "java.util.List<IceServer>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "IceServerList",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The list of ICE server information objects.</p>\n@param iceServerList The list of ICE server information objects.*/",
          "setterMethodName" : "setIceServerList",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<IceServer>",
            "variableName" : "iceServerList",
            "variableType" : "java.util.List<IceServer>",
            "documentation" : "",
            "simpleType" : "List<IceServer>",
            "variableSetterType" : "java.util.Collection<IceServer>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The list of ICE server information objects.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setIceServerList(java.util.Collection)} or {@link #withIceServerList(java.util.Collection)} if you want to override the existing values.</p>\n@param iceServerList The list of ICE server information objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<IceServer>",
            "variableName" : "iceServerList",
            "variableType" : "java.util.List<IceServer>",
            "documentation" : "<p>The list of ICE server information objects.</p>",
            "simpleType" : "List<IceServer>",
            "variableSetterType" : "java.util.Collection<IceServer>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "GetIceServerConfigResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIceServerConfigResult",
        "variableName" : "getIceServerConfigResult",
        "variableType" : "GetIceServerConfigResult",
        "documentation" : null,
        "simpleType" : "GetIceServerConfigResult",
        "variableSetterType" : "GetIceServerConfigResult"
      },
      "wrapper" : false
    },
    "IceServer" : {
      "c2jName" : "IceServer",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A structure for the ICE server connection data.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Uris",
        "c2jShape" : "Uris",
        "deprecated" : false,
        "documentation" : "<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>\n@param uris An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUris",
        "getterDocumentation" : "/**<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>\n@return An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.*/",
        "getterMethodName" : "getUris",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Uris",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Uris",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Uri",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Uris",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>\n@param uris An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.*/",
        "setterMethodName" : "setUris",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "uris",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setUris(java.util.Collection)} or {@link #withUris(java.util.Collection)} if you want to override the existing values.</p>\n@param uris An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "uris",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Username",
        "c2jShape" : "Username",
        "deprecated" : false,
        "documentation" : "<p>A username to login to the ICE server.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A username to login to the ICE server.</p>\n@param username A username to login to the ICE server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsername",
        "getterDocumentation" : "/**<p>A username to login to the ICE server.</p>\n@return A username to login to the ICE server.*/",
        "getterMethodName" : "getUsername",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Username",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Username",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Username",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A username to login to the ICE server.</p>\n@param username A username to login to the ICE server.*/",
        "setterMethodName" : "setUsername",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "username",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A username to login to the ICE server.</p>\n@param username A username to login to the ICE server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "username",
          "variableType" : "String",
          "documentation" : "<p>A username to login to the ICE server.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Password",
        "c2jShape" : "Password",
        "deprecated" : false,
        "documentation" : "<p>A password to login to the ICE server.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A password to login to the ICE server.</p>\n@param password A password to login to the ICE server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPassword",
        "getterDocumentation" : "/**<p>A password to login to the ICE server.</p>\n@return A password to login to the ICE server.*/",
        "getterMethodName" : "getPassword",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Password",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Password",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Password",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A password to login to the ICE server.</p>\n@param password A password to login to the ICE server.*/",
        "setterMethodName" : "setPassword",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "password",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A password to login to the ICE server.</p>\n@param password A password to login to the ICE server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "password",
          "variableType" : "String",
          "documentation" : "<p>A password to login to the ICE server.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Ttl",
        "c2jShape" : "Ttl",
        "deprecated" : false,
        "documentation" : "<p>The period of time, in seconds, during which the username and password are valid.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The period of time, in seconds, during which the username and password are valid.</p>\n@param ttl The period of time, in seconds, during which the username and password are valid.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTtl",
        "getterDocumentation" : "/**<p>The period of time, in seconds, during which the username and password are valid.</p>\n@return The period of time, in seconds, during which the username and password are valid.*/",
        "getterMethodName" : "getTtl",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Ttl",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Ttl",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Ttl",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The period of time, in seconds, during which the username and password are valid.</p>\n@param ttl The period of time, in seconds, during which the username and password are valid.*/",
        "setterMethodName" : "setTtl",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "ttl",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The period of time, in seconds, during which the username and password are valid.</p>\n@param ttl The period of time, in seconds, during which the username and password are valid.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "ttl",
          "variableType" : "Integer",
          "documentation" : "<p>The period of time, in seconds, during which the username and password are valid.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Password" : {
          "c2jName" : "Password",
          "c2jShape" : "Password",
          "deprecated" : false,
          "documentation" : "<p>A password to login to the ICE server.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A password to login to the ICE server.</p>\n@param password A password to login to the ICE server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPassword",
          "getterDocumentation" : "/**<p>A password to login to the ICE server.</p>\n@return A password to login to the ICE server.*/",
          "getterMethodName" : "getPassword",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Password",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Password",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Password",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A password to login to the ICE server.</p>\n@param password A password to login to the ICE server.*/",
          "setterMethodName" : "setPassword",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "password",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A password to login to the ICE server.</p>\n@param password A password to login to the ICE server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "password",
            "variableType" : "String",
            "documentation" : "<p>A password to login to the ICE server.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Ttl" : {
          "c2jName" : "Ttl",
          "c2jShape" : "Ttl",
          "deprecated" : false,
          "documentation" : "<p>The period of time, in seconds, during which the username and password are valid.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The period of time, in seconds, during which the username and password are valid.</p>\n@param ttl The period of time, in seconds, during which the username and password are valid.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTtl",
          "getterDocumentation" : "/**<p>The period of time, in seconds, during which the username and password are valid.</p>\n@return The period of time, in seconds, during which the username and password are valid.*/",
          "getterMethodName" : "getTtl",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Ttl",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Ttl",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Ttl",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The period of time, in seconds, during which the username and password are valid.</p>\n@param ttl The period of time, in seconds, during which the username and password are valid.*/",
          "setterMethodName" : "setTtl",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "ttl",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The period of time, in seconds, during which the username and password are valid.</p>\n@param ttl The period of time, in seconds, during which the username and password are valid.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "ttl",
            "variableType" : "Integer",
            "documentation" : "<p>The period of time, in seconds, during which the username and password are valid.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Uris" : {
          "c2jName" : "Uris",
          "c2jShape" : "Uris",
          "deprecated" : false,
          "documentation" : "<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>\n@param uris An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUris",
          "getterDocumentation" : "/**<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>\n@return An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.*/",
          "getterMethodName" : "getUris",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Uris",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Uris",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Uri",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Uris",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>\n@param uris An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.*/",
          "setterMethodName" : "setUris",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "uris",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setUris(java.util.Collection)} or {@link #withUris(java.util.Collection)} if you want to override the existing values.</p>\n@param uris An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "uris",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different addresses and/or protocols that can be used to reach the TURN server.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Username" : {
          "c2jName" : "Username",
          "c2jShape" : "Username",
          "deprecated" : false,
          "documentation" : "<p>A username to login to the ICE server.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A username to login to the ICE server.</p>\n@param username A username to login to the ICE server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUsername",
          "getterDocumentation" : "/**<p>A username to login to the ICE server.</p>\n@return A username to login to the ICE server.*/",
          "getterMethodName" : "getUsername",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Username",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Username",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Username",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A username to login to the ICE server.</p>\n@param username A username to login to the ICE server.*/",
          "setterMethodName" : "setUsername",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "username",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A username to login to the ICE server.</p>\n@param username A username to login to the ICE server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "username",
            "variableType" : "String",
            "documentation" : "<p>A username to login to the ICE server.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "IceServer",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "IceServer",
        "variableName" : "iceServer",
        "variableType" : "IceServer",
        "documentation" : null,
        "simpleType" : "IceServer",
        "variableSetterType" : "IceServer"
      },
      "wrapper" : false
    },
    "InvalidArgumentException" : {
      "c2jName" : "InvalidArgumentException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The value for this input parameter is invalid.</p>",
      "enums" : null,
      "errorCode" : "InvalidArgumentException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidArgumentException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidArgumentException",
        "variableName" : "invalidArgumentException",
        "variableType" : "InvalidArgumentException",
        "documentation" : null,
        "simpleType" : "InvalidArgumentException",
        "variableSetterType" : "InvalidArgumentException"
      },
      "wrapper" : false
    },
    "InvalidClientException" : {
      "c2jName" : "InvalidClientException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The specified client is invalid.</p>",
      "enums" : null,
      "errorCode" : "InvalidClientException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidClientException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidClientException",
        "variableName" : "invalidClientException",
        "variableType" : "InvalidClientException",
        "documentation" : null,
        "simpleType" : "InvalidClientException",
        "variableSetterType" : "InvalidClientException"
      },
      "wrapper" : false
    },
    "NotAuthorizedException" : {
      "c2jName" : "NotAuthorizedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
      "enums" : null,
      "errorCode" : "NotAuthorizedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "NotAuthorizedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "NotAuthorizedException",
        "variableName" : "notAuthorizedException",
        "variableType" : "NotAuthorizedException",
        "documentation" : null,
        "simpleType" : "NotAuthorizedException",
        "variableSetterType" : "NotAuthorizedException"
      },
      "wrapper" : false
    },
    "ResourceNotFoundException" : {
      "c2jName" : "ResourceNotFoundException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The specified resource is not found.</p>",
      "enums" : null,
      "errorCode" : "ResourceNotFoundException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ResourceNotFoundException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResourceNotFoundException",
        "variableName" : "resourceNotFoundException",
        "variableType" : "ResourceNotFoundException",
        "documentation" : null,
        "simpleType" : "ResourceNotFoundException",
        "variableSetterType" : "ResourceNotFoundException"
      },
      "wrapper" : false
    },
    "SendAlexaOfferToMasterRequest" : {
      "c2jName" : "SendAlexaOfferToMasterRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "SendAlexaOfferToMaster",
        "locationName" : null,
[...]
