{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "ApplicationDetail" : [ "ApplicationStatus" ],
      "ApplicationSummary" : [ "ApplicationStatus" ],
      "DestinationSchema" : [ "RecordFormatType" ],
      "InputStartingPositionConfiguration" : [ "InputStartingPosition" ],
      "RecordFormat" : [ "RecordFormatType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2015-08-14",
    "asyncClient" : "AmazonKinesisAnalyticsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonKinesisAnalyticsAsyncClientBuilder",
    "asyncInterface" : "AmazonKinesisAnalyticsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonKinesisAnalyticsModuleInjector",
    "defaultEndpoint" : "https://kinesisanalytics.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kinesisanalytics.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : null,
    "endpointPrefix" : "kinesisanalytics",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kinesisanalytics",
    "packagePath" : "com/amazonaws/services/kinesisanalytics",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Kinesis Analytics",
    "serviceFullName" : "Amazon Kinesis Analytics",
    "serviceId" : "Kinesis Analytics",
    "serviceName" : "Kinesis Analytics",
    "signingName" : "kinesisanalytics",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisanalytics.smoketests",
    "syncClient" : "AmazonKinesisAnalyticsClient",
    "syncClientBuilderClassName" : "AmazonKinesisAnalyticsClientBuilder",
    "syncInterface" : "AmazonKinesisAnalytics",
    "uid" : "kinesisanalytics-2015-08-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddApplicationCloudWatchLoggingOption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationCloudWatchLoggingOptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationCloudWatchLoggingOptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationCloudWatchLoggingOptionRequest, AddApplicationCloudWatchLoggingOptionResult>",
      "asyncReturnType" : "AddApplicationCloudWatchLoggingOptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a CloudWatch log stream to monitor application configuration errors. For more information about using CloudWatch log streams with Amazon Kinesis Analytics applications, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html\">Working with Amazon CloudWatch Logs</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "variableName" : "addApplicationCloudWatchLoggingOptionRequest",
        "variableType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "documentation" : "",
        "simpleType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "variableSetterType" : "AddApplicationCloudWatchLoggingOptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationCloudWatchLoggingOption",
      "operationName" : "AddApplicationCloudWatchLoggingOption",
      "returnType" : {
        "returnType" : "AddApplicationCloudWatchLoggingOptionResult",
        "documentation" : null
      },
      "syncReturnType" : "AddApplicationCloudWatchLoggingOptionResult"
    },
    "AddApplicationInput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationInputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationInputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationInputRequest, AddApplicationInputResult>",
      "asyncReturnType" : "AddApplicationInputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Adds a streaming source to your Amazon Kinesis application. For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. </p> <p>You can add a streaming source either when you create an application or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationInput</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CodeValidationException",
        "documentation" : "<p>User-provided application code (query) is invalid. This can be a simple syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationInputRequest",
        "variableName" : "addApplicationInputRequest",
        "variableType" : "AddApplicationInputRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddApplicationInputRequest",
        "variableSetterType" : "AddApplicationInputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationInput",
      "operationName" : "AddApplicationInput",
      "returnType" : {
        "returnType" : "AddApplicationInputResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "AddApplicationInputResult"
    },
    "AddApplicationInputProcessingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationInputProcessingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationInputProcessingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationInputProcessingConfigurationRequest, AddApplicationInputProcessingConfigurationResult>",
      "asyncReturnType" : "AddApplicationInputProcessingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds an <a>InputProcessingConfiguration</a> to an application. An input processor preprocesses records on the input stream before the application's SQL code executes. Currently, the only input processor available is <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationInputProcessingConfigurationRequest",
        "variableName" : "addApplicationInputProcessingConfigurationRequest",
        "variableType" : "AddApplicationInputProcessingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "AddApplicationInputProcessingConfigurationRequest",
        "variableSetterType" : "AddApplicationInputProcessingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationInputProcessingConfiguration",
      "operationName" : "AddApplicationInputProcessingConfiguration",
      "returnType" : {
        "returnType" : "AddApplicationInputProcessingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "AddApplicationInputProcessingConfigurationResult"
    },
    "AddApplicationOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationOutputRequest, AddApplicationOutputResult>",
      "asyncReturnType" : "AddApplicationOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds an external destination to your Amazon Kinesis Analytics application.</p> <p>If you want Amazon Kinesis Analytics to deliver data from an in-application stream within your application to an external destination (such as an Amazon Kinesis stream, an Amazon Kinesis Firehose delivery stream, or an AWS Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Understanding Application Output (Destination)</a>. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p> <p>For the limits on the number of application inputs and outputs you can configure, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationOutputRequest",
        "variableName" : "addApplicationOutputRequest",
        "variableType" : "AddApplicationOutputRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddApplicationOutputRequest",
        "variableSetterType" : "AddApplicationOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationOutput",
      "operationName" : "AddApplicationOutput",
      "returnType" : {
        "returnType" : "AddApplicationOutputResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "AddApplicationOutputResult"
    },
    "AddApplicationReferenceDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationReferenceDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationReferenceDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationReferenceDataSourceRequest, AddApplicationReferenceDataSourceResult>",
      "asyncReturnType" : "AddApplicationReferenceDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a reference data source to an existing application.</p> <p>Amazon Kinesis Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in Amazon S3 object maps to columns in the resulting in-application table.</p> <p> For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. For the limits on data sources you can add to your application, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationReferenceDataSourceRequest",
        "variableName" : "addApplicationReferenceDataSourceRequest",
        "variableType" : "AddApplicationReferenceDataSourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddApplicationReferenceDataSourceRequest",
        "variableSetterType" : "AddApplicationReferenceDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationReferenceDataSource",
      "operationName" : "AddApplicationReferenceDataSource",
      "returnType" : {
        "returnType" : "AddApplicationReferenceDataSourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "AddApplicationReferenceDataSourceResult"
    },
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates an Amazon Kinesis Analytics application. You can configure each application with one streaming source as input, application code to process the input, and up to three destinations where you want Amazon Kinesis Analytics to write the output data from your application. For an overview, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works.html\">How it Works</a>. </p> <p>In the input configuration, you map the streaming source to an in-application stream, which you can think of as a constantly updating table. In the mapping, you must provide a schema for the in-application stream and map each data column in the in-application stream to a data element in the streaming source.</p> <p>Your application code is one or more SQL statements that read input data, transform it, and generate output. Your application code can create one or more SQL artifacts like SQL streams or pumps.</p> <p>In the output configuration, you can configure the application to write data from in-application streams created in your applications to up to three destinations.</p> <p> To read data from your source stream or write data to destination streams, Amazon Kinesis Analytics needs your permissions. You grant these permissions by creating IAM roles. This operation requires permissions to perform the <code>kinesisanalytics:CreateApplication</code> action. </p> <p> For introductory exercises to create an Amazon Kinesis Analytics application, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/getting-started.html\">Getting Started</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CodeValidationException",
        "documentation" : "<p>User-provided application code (query) is invalid. This can be a simple syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Exceeded the number of applications allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "<p>TBD</p>",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : "<p>TBD</p>"
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "DeleteApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "asyncReturnType" : "DeleteApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified application. Amazon Kinesis Analytics halts application execution and deletes the application, including any application artifacts (such as in-application streams, reference table, and application code).</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DeleteApplication</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationRequest",
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplication",
      "operationName" : "DeleteApplication",
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteApplicationResult"
    },
    "DeleteApplicationCloudWatchLoggingOption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationCloudWatchLoggingOptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationCloudWatchLoggingOptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationCloudWatchLoggingOptionRequest, DeleteApplicationCloudWatchLoggingOptionResult>",
      "asyncReturnType" : "DeleteApplicationCloudWatchLoggingOptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a CloudWatch log stream from an application. For more information about using CloudWatch log streams with Amazon Kinesis Analytics applications, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html\">Working with Amazon CloudWatch Logs</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationCloudWatchLoggingOptionRequest",
        "variableName" : "deleteApplicationCloudWatchLoggingOptionRequest",
        "variableType" : "DeleteApplicationCloudWatchLoggingOptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationCloudWatchLoggingOptionRequest",
        "variableSetterType" : "DeleteApplicationCloudWatchLoggingOptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationCloudWatchLoggingOption",
      "operationName" : "DeleteApplicationCloudWatchLoggingOption",
      "returnType" : {
        "returnType" : "DeleteApplicationCloudWatchLoggingOptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationCloudWatchLoggingOptionResult"
    },
    "DeleteApplicationInputProcessingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationInputProcessingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationInputProcessingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationInputProcessingConfigurationRequest, DeleteApplicationInputProcessingConfigurationResult>",
      "asyncReturnType" : "DeleteApplicationInputProcessingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an <a>InputProcessingConfiguration</a> from an input.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationInputProcessingConfigurationRequest",
        "variableName" : "deleteApplicationInputProcessingConfigurationRequest",
        "variableType" : "DeleteApplicationInputProcessingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationInputProcessingConfigurationRequest",
        "variableSetterType" : "DeleteApplicationInputProcessingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationInputProcessingConfiguration",
      "operationName" : "DeleteApplicationInputProcessingConfiguration",
      "returnType" : {
        "returnType" : "DeleteApplicationInputProcessingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationInputProcessingConfigurationResult"
    },
    "DeleteApplicationOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationOutputRequest, DeleteApplicationOutputResult>",
      "asyncReturnType" : "DeleteApplicationOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes output destination configuration from your application configuration. Amazon Kinesis Analytics will no longer write data from the corresponding in-application stream to the external output destination.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DeleteApplicationOutput</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationOutputRequest",
        "variableName" : "deleteApplicationOutputRequest",
        "variableType" : "DeleteApplicationOutputRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteApplicationOutputRequest",
        "variableSetterType" : "DeleteApplicationOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationOutput",
      "operationName" : "DeleteApplicationOutput",
      "returnType" : {
        "returnType" : "DeleteApplicationOutputResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteApplicationOutputResult"
    },
    "DeleteApplicationReferenceDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationReferenceDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationReferenceDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationReferenceDataSourceRequest, DeleteApplicationReferenceDataSourceResult>",
      "asyncReturnType" : "DeleteApplicationReferenceDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a reference data source configuration from the specified application configuration.</p> <p>If the application is running, Amazon Kinesis Analytics immediately removes the in-application table that you created using the <a>AddApplicationReferenceDataSource</a> operation. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics.DeleteApplicationReferenceDataSource</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationReferenceDataSourceRequest",
        "variableName" : "deleteApplicationReferenceDataSourceRequest",
        "variableType" : "DeleteApplicationReferenceDataSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationReferenceDataSourceRequest",
        "variableSetterType" : "DeleteApplicationReferenceDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationReferenceDataSource",
      "operationName" : "DeleteApplicationReferenceDataSource",
      "returnType" : {
        "returnType" : "DeleteApplicationReferenceDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationReferenceDataSourceResult"
    },
    "DescribeApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationRequest, DescribeApplicationResult>",
      "asyncReturnType" : "DescribeApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific Amazon Kinesis Analytics application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a>ListApplications</a> operation.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DescribeApplication</code> action. You can use <code>DescribeApplication</code> to get the current application versionId, which you need to call other operations such as <code>Update</code>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeApplicationRequest",
        "variableName" : "describeApplicationRequest",
        "variableType" : "DescribeApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeApplicationRequest",
        "variableSetterType" : "DescribeApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApplication",
      "operationName" : "DescribeApplication",
      "returnType" : {
        "returnType" : "DescribeApplicationResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeApplicationResult"
    },
    "DiscoverInputSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DiscoverInputSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DiscoverInputSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DiscoverInputSchemaRequest, DiscoverInputSchemaResult>",
      "asyncReturnType" : "DiscoverInputSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Infers a schema by evaluating sample records on the specified streaming source (Amazon Kinesis stream or Amazon Kinesis Firehose delivery stream) or S3 object. In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. Note that when you create an application using the Amazon Kinesis Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:DiscoverInputSchema</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnableToDetectSchemaException",
        "documentation" : "<p>Data format is not valid. Amazon Kinesis Analytics is not able to detect schema for the given streaming source.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceProvisionedThroughputExceededException",
        "documentation" : "<p>Discovery failed to get a record from the streaming source because of the Amazon Kinesis Streams ProvisionedThroughputExceededException. For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetRecords.html\">GetRecords</a> in the Amazon Kinesis Streams API Reference.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable. Back off and retry the operation. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DiscoverInputSchemaRequest",
        "variableName" : "discoverInputSchemaRequest",
        "variableType" : "DiscoverInputSchemaRequest",
        "documentation" : "",
        "simpleType" : "DiscoverInputSchemaRequest",
        "variableSetterType" : "DiscoverInputSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "discoverInputSchema",
      "operationName" : "DiscoverInputSchema",
      "returnType" : {
        "returnType" : "DiscoverInputSchemaResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DiscoverInputSchemaResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of Amazon Kinesis Analytics applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. If the response returns the <code>HasMoreApplications</code> value as true, you can send another request by adding the <code>ExclusiveStartApplicationName</code> in the request body, and set the value of this to the last application name from the previous response. </p> <p>If you want detailed information about a specific application, use <a>DescribeApplication</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:ListApplications</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "StartApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartApplicationRequest, StartApplicationResult>",
      "asyncReturnType" : "StartApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified Amazon Kinesis Analytics application. After creating an application, you must exclusively call this operation to start your application.</p> <p>After the application starts, it begins consuming the input data, processes it, and writes the output to the configured destination.</p> <p> The application status must be <code>READY</code> for you to start an application. You can get the application status in the console or using the <a>DescribeApplication</a> operation.</p> <p>After you start the application, you can stop the application from processing the input by calling the <a>StopApplication</a> operation.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:StartApplication</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidApplicationConfigurationException",
        "documentation" : "<p>User-provided application configuration is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartApplicationRequest",
        "variableName" : "startApplicationRequest",
        "variableType" : "StartApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "StartApplicationRequest",
        "variableSetterType" : "StartApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startApplication",
      "operationName" : "StartApplication",
      "returnType" : {
        "returnType" : "StartApplicationResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "StartApplicationResult"
    },
    "StopApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopApplicationRequest, StopApplicationResult>",
      "asyncReturnType" : "StopApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the application from processing input data. You can stop an application only if it is in the running state. You can use the <a>DescribeApplication</a> operation to find the application state. After the application is stopped, Amazon Kinesis Analytics stops reading data from the input, the application stops processing data, and there is no output written to the destination. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:StopApplication</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopApplicationRequest",
        "variableName" : "stopApplicationRequest",
        "variableType" : "StopApplicationRequest",
        "documentation" : "<p/>",
        "simpleType" : "StopApplicationRequest",
        "variableSetterType" : "StopApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopApplication",
      "operationName" : "StopApplication",
      "returnType" : {
        "returnType" : "StopApplicationResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "StopApplicationResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing Amazon Kinesis Analytics application. Using this API, you can update application code, input configuration, and output configuration. </p> <p>Note that Amazon Kinesis Analytics updates the <code>CurrentApplicationVersionId</code> each time you update your application. </p> <p>This operation requires permission for the <code>kinesisanalytics:UpdateApplication</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CodeValidationException",
        "documentation" : "<p>User-provided application code (query) is invalid. This can be a simple syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Specified input parameter value is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationResult"
    }
  },
  "shapes" : {
    "AddApplicationCloudWatchLoggingOptionRequest" : {
      "c2jName" : "AddApplicationCloudWatchLoggingOptionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddApplicationCloudWatchLoggingOption",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "KinesisAnalytics_20150814.AddApplicationCloudWatchLoggingOption",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ApplicationName",
        "c2jShape" : "ApplicationName",
        "deprecated" : false,
        "documentation" : "<p>The Kinesis Analytics application name.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Kinesis Analytics application name.</p>\n@param applicationName The Kinesis Analytics application name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationName",
        "getterDocumentation" : "/**<p>The Kinesis Analytics application name.</p>\n@return The Kinesis Analytics application name.*/",
        "getterMethodName" : "getApplicationName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Kinesis Analytics application name.</p>\n@param applicationName The Kinesis Analytics application name.*/",
        "setterMethodName" : "setApplicationName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Kinesis Analytics application name.</p>\n@param applicationName The Kinesis Analytics application name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "<p>The Kinesis Analytics application name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CurrentApplicationVersionId",
        "c2jShape" : "ApplicationVersionId",
        "deprecated" : false,
        "documentation" : "<p>The version ID of the Kinesis Analytics application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The version ID of the Kinesis Analytics application.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Analytics application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCurrentApplicationVersionId",
        "getterDocumentation" : "/**<p>The version ID of the Kinesis Analytics application.</p>\n@return The version ID of the Kinesis Analytics application.*/",
        "getterMethodName" : "getCurrentApplicationVersionId",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CurrentApplicationVersionId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CurrentApplicationVersionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "CurrentApplicationVersionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The version ID of the Kinesis Analytics application.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Analytics application.*/",
        "setterMethodName" : "setCurrentApplicationVersionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The version ID of the Kinesis Analytics application.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Analytics application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "<p>The version ID of the Kinesis Analytics application.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CloudWatchLoggingOption",
        "c2jShape" : "CloudWatchLoggingOption",
        "deprecated" : false,
        "documentation" : "<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>\n@param cloudWatchLoggingOption Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCloudWatchLoggingOption",
        "getterDocumentation" : "/**<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>\n@return Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.*/",
        "getterMethodName" : "getCloudWatchLoggingOption",
        "getterModel" : {
          "returnType" : "CloudWatchLoggingOption",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CloudWatchLoggingOption",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CloudWatchLoggingOption",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CloudWatchLoggingOption",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>\n@param cloudWatchLoggingOption Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.*/",
        "setterMethodName" : "setCloudWatchLoggingOption",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CloudWatchLoggingOption",
          "variableName" : "cloudWatchLoggingOption",
          "variableType" : "CloudWatchLoggingOption",
          "documentation" : "",
          "simpleType" : "CloudWatchLoggingOption",
          "variableSetterType" : "CloudWatchLoggingOption"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>\n@param cloudWatchLoggingOption Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CloudWatchLoggingOption",
          "variableName" : "cloudWatchLoggingOption",
          "variableType" : "CloudWatchLoggingOption",
          "documentation" : "<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>",
          "simpleType" : "CloudWatchLoggingOption",
          "variableSetterType" : "CloudWatchLoggingOption"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationName" : {
          "c2jName" : "ApplicationName",
          "c2jShape" : "ApplicationName",
          "deprecated" : false,
          "documentation" : "<p>The Kinesis Analytics application name.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Kinesis Analytics application name.</p>\n@param applicationName The Kinesis Analytics application name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationName",
          "getterDocumentation" : "/**<p>The Kinesis Analytics application name.</p>\n@return The Kinesis Analytics application name.*/",
          "getterMethodName" : "getApplicationName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ApplicationName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ApplicationName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Kinesis Analytics application name.</p>\n@param applicationName The Kinesis Analytics application name.*/",
          "setterMethodName" : "setApplicationName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Kinesis Analytics application name.</p>\n@param applicationName The Kinesis Analytics application name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "<p>The Kinesis Analytics application name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CloudWatchLoggingOption" : {
          "c2jName" : "CloudWatchLoggingOption",
          "c2jShape" : "CloudWatchLoggingOption",
          "deprecated" : false,
          "documentation" : "<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>\n@param cloudWatchLoggingOption Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCloudWatchLoggingOption",
          "getterDocumentation" : "/**<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>\n@return Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.*/",
          "getterMethodName" : "getCloudWatchLoggingOption",
          "getterModel" : {
            "returnType" : "CloudWatchLoggingOption",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CloudWatchLoggingOption",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CloudWatchLoggingOption",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CloudWatchLoggingOption",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>\n@param cloudWatchLoggingOption Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.*/",
          "setterMethodName" : "setCloudWatchLoggingOption",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CloudWatchLoggingOption",
            "variableName" : "cloudWatchLoggingOption",
            "variableType" : "CloudWatchLoggingOption",
            "documentation" : "",
            "simpleType" : "CloudWatchLoggingOption",
            "variableSetterType" : "CloudWatchLoggingOption"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>\n@param cloudWatchLoggingOption Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CloudWatchLoggingOption",
            "variableName" : "cloudWatchLoggingOption",
            "variableType" : "CloudWatchLoggingOption",
            "documentation" : "<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>",
            "simpleType" : "CloudWatchLoggingOption",
            "variableSetterType" : "CloudWatchLoggingOption"
          },
          "xmlNameSpaceUri" : null
        },
        "CurrentApplicationVersionId" : {
          "c2jName" : "CurrentApplicationVersionId",
          "c2jShape" : "ApplicationVersionId",
          "deprecated" : false,
          "documentation" : "<p>The version ID of the Kinesis Analytics application.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The version ID of the Kinesis Analytics application.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Analytics application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCurrentApplicationVersionId",
          "getterDocumentation" : "/**<p>The version ID of the Kinesis Analytics application.</p>\n@return The version ID of the Kinesis Analytics application.*/",
          "getterMethodName" : "getCurrentApplicationVersionId",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CurrentApplicationVersionId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CurrentApplicationVersionId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "CurrentApplicationVersionId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The version ID of the Kinesis Analytics application.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Analytics application.*/",
          "setterMethodName" : "setCurrentApplicationVersionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "currentApplicationVersionId",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The version ID of the Kinesis Analytics application.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Analytics application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "currentApplicationVersionId",
            "variableType" : "Long",
            "documentation" : "<p>The version ID of the Kinesis Analytics application.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ApplicationName", "CurrentApplicationVersionId", "CloudWatchLoggingOption" ],
      "shapeName" : "AddApplicationCloudWatchLoggingOptionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "variableName" : "addApplicationCloudWatchLoggingOptionRequest",
        "variableType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "documentation" : null,
        "simpleType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "variableSetterType" : "AddApplicationCloudWatchLoggingOptionRequest"
      },
      "wrapper" : false
    },
    "AddApplicationCloudWatchLoggingOptionResult" : {
      "c2jName" : "AddApplicationCloudWatchLoggingOptionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AddApplicationCloudWatchLoggingOptionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationCloudWatchLoggingOptionResult",
        "variableName" : "addApplicationCloudWatchLoggingOptionResult",
        "variableType" : "AddApplicationCloudWatchLoggingOptionResult",
        "documentation" : null,
        "simpleType" : "AddApplicationCloudWatchLoggingOptionResult",
        "variableSetterType" : "AddApplicationCloudWatchLoggingOptionResult"
      },
      "wrapper" : false
    },
    "AddApplicationInputProcessingConfigurationRequest" : {
      "c2jName" : "AddApplicationInputProcessingConfigurationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddApplicationInputProcessingConfiguration",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "KinesisAnalytics_20150814.AddApplicationInputProcessingConfiguration",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ApplicationName",
        "c2jShape" : "ApplicationName",
        "deprecated" : false,
        "documentation" : "<p>Name of the application to which you want to add the input processing configuration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the application to which you want to add the input processing configuration.</p>\n@param applicationName Name of the application to which you want to add the input processing configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationName",
        "getterDocumentation" : "/**<p>Name of the application to which you want to add the input processing configuration.</p>\n@return Name of the application to which you want to add the input processing configuration.*/",
        "getterMethodName" : "getApplicationName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Name of the application to which you want to add the input processing configuration.</p>\n@param applicationName Name of the application to which you want to add the input processing configuration.*/",
        "setterMethodName" : "setApplicationName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Name of the application to which you want to add the input processing configuration.</p>\n@param applicationName Name of the application to which you want to add the input processing configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "<p>Name of the application to which you want to add the input processing configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CurrentApplicationVersionId",
        "c2jShape" : "ApplicationVersionId",
        "deprecated" : false,
        "documentation" : "<p>Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>\n@param currentApplicationVersionId Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCurrentApplicationVersionId",
        "getterDocumentation" : "/**<p>Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>\n@return Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.*/",
        "getterMethodName" : "getCurrentApplicationVersionId",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CurrentApplicationVersionId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CurrentApplicationVersionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "CurrentApplicationVersionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>\n@param currentApplicationVersionId Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.*/",
        "setterMethodName" : "setCurrentApplicationVersionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>\n@param currentApplicationVersionId Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "<p>Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InputId",
        "c2jShape" : "Id",
        "deprecated" : false,
        "documentation" : "<p>The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.</p>\n@param inputId The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInputId",
        "getterDocumentation" : "/**<p>The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.</p>\n@return The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.*/",
        "getterMethodName" : "getInputId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InputId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InputId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InputId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.</p>\n@param inputId The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.*/",
        "setterMethodName" : "setInputId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "inputId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.</p>\n@param inputId The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "inputId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InputProcessingConfiguration",
        "c2jShape" : "InputProcessingConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The <a>InputProcessingConfiguration</a> to add to the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <a>InputProcessingConfiguration</a> to add to the application.</p>\n@param inputProcessingConfiguration The <a>InputProcessingConfiguration</a> to add to the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInputProcessingConfiguration",
        "getterDocumentation" : "/**<p>The <a>InputProcessingConfiguration</a> to add to the application.</p>\n@return The <a>InputProcessingConfiguration</a> to add to the application.*/",
        "getterMethodName" : "getInputProcessingConfiguration",
        "getterModel" : {
          "returnType" : "InputProcessingConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InputProcessingConfiguration",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InputProcessingConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "InputProcessingConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The <a>InputProcessingConfiguration</a> to add to the application.</p>\n@param inputProcessingConfiguration The <a>InputProcessingConfiguration</a> to add to the application.*/",
        "setterMethodName" : "setInputProcessingConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "InputProcessingConfiguration",
          "variableName" : "inputProcessingConfiguration",
          "variableType" : "InputProcessingConfiguration",
          "documentation" : "",
          "simpleType" : "InputProcessingConfiguration",
          "variableSetterType" : "InputProcessingConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <a>InputProcessingConfiguration</a> to add to the application.</p>\n@param inputProcessingConfiguration The <a>InputProcessingConfiguration</a> to add to the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "InputProcessingConfiguration",
          "variableName" : "inputProcessingConfiguration",
          "variableType" : "InputProcessingConfiguration",
          "documentation" : "<p>The <a>InputProcessingConfiguration</a> to add to the application.</p>",
          "simpleType" : "InputProcessingConfiguration",
          "variableSetterType" : "InputProcessingConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationName" : {
          "c2jName" : "ApplicationName",
          "c2jShape" : "ApplicationName",
          "deprecated" : false,
          "documentation" : "<p>Name of the application to which you want to add the input processing configuration.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Name of the application to which you want to add the input processing configuration.</p>\n@param applicationName Name of the application to which you want to add the input processing configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationName",
          "getterDocumentation" : "/**<p>Name of the application to which you want to add the input processing configuration.</p>\n@return Name of the application to which you want to add the input processing configuration.*/",
          "getterMethodName" : "getApplicationName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ApplicationName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ApplicationName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Name of the application to which you want to add the input processing configuration.</p>\n@param applicationName Name of the application to which you want to add the input processing configuration.*/",
          "setterMethodName" : "setApplicationName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "",
[...]
