{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-09-30",
    "endpointPrefix":"kinesisvideo",
    "protocol":"rest-json",
    "serviceAbbreviation":"Kinesis Video Media",
    "serviceFullName":"Amazon Kinesis Video Streams Media",
    "serviceId":"Kinesis Video Media",
    "signatureVersion":"v4",
    "uid":"kinesis-video-media-2017-09-30"
  },
  "operations":{
    "GetMedia":{
      "name":"GetMedia",
      "http":{
        "method":"POST",
        "requestUri":"/getMedia"
      },
      "input":{"shape":"GetMediaInput"},
      "output":{"shape":"GetMediaOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InvalidEndpointException"},
        {"shape":"ClientLimitExceededException"},
        {"shape":"ConnectionLimitExceededException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p> Use this API to retrieve media content from a Kinesis video stream. In the request, you identify the stream name or stream Amazon Resource Name (ARN), and the starting chunk. Kinesis Video Streams then returns a stream of chunks in order by fragment number.</p> <note> <p>You must first call the <code>GetDataEndpoint</code> API to get an endpoint. Then send the <code>GetMedia</code> requests to this endpoint using the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/\">--endpoint-url parameter</a>. </p> </note> <p>When you put media data (fragments) on a stream, Kinesis Video Streams stores each incoming fragment and related metadata in what is called a \"chunk.\" For more information, see . The <code>GetMedia</code> API returns a stream of these chunks starting from the chunk that you specify in the request. </p> <p>The following limits apply when using the <code>GetMedia</code> API:</p> <ul> <li> <p>A client can call <code>GetMedia</code> up to five times per second per stream. </p> </li> <li> <p>Kinesis Video Streams sends media data at a rate of up to 25 megabytes per second (or 200 megabits per second) during a <code>GetMedia</code> session. </p> </li> </ul>"
    },
    "PutMedia":{
      "name":"PutMedia",
      "http":{
        "method":"POST",
        "requestUri":"/putMedia"
      },
      "input":{"shape":"PutMediaInput"},
      "output":{"shape":"PutMediaOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InvalidEndpointException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ClientLimitExceededException"},
        {"shape":"ConnectionLimitExceededException"}
      ],
      "documentation":"<p> Use this API to send media data to a Kinesis video stream. </p> <note> <p> Before using this API, you must call the <code>GetDataEndpoint</code> API to get an endpoint. You then specify the endpoint in your <code>PutMedia</code> request. </p> </note> <p> In the request, you use the HTTP headers to provide parameter information, for example, stream name, time stamp, and whether the time stamp value is absolute or relative to when the producer started recording. You use the request body to send the media data. Kinesis Video Streams supports only the Matroska (MKV) container format for sending media data using this API. </p> <p>You have the following options for sending data using this API:</p> <ul> <li> <p>Send media data in real time: For example, a security camera can send frames in real time as it generates them. This approach minimizes the latency between the video recording and data sent on the wire. This is referred to as a continuous producer. In this case, a consumer application can read the stream in real time or when needed. </p> </li> <li> <p>Send media data offline (in batches): For example, a body camera might record video for hours and store it on the device. Later, when you connect the camera to the docking port, the camera can start a <code>PutMedia</code> session to send data to a Kinesis video stream. In this scenario, latency is not an issue. </p> </li> </ul> <p>When using this API, note the following considerations:</p> <ul> <li> <p>You must specify either <code>streamName</code> or <code>streamARN</code>, but not both.</p> </li> <li> <p> You might find it easier to use a single long-running <code>PutMedia</code> session and send a large number of media data fragments in the payload. Note that for each fragment received, Kinesis Video Streams sends one or more acknowledgements. Potential network considerations might cause you to not get all these acknowledgements as they are generated. </p> </li> <li> <p> You might choose multiple consecutive <code>PutMedia</code> sessions, each with fewer fragments to ensure that you get all acknowledgements from the service in real time. </p> </li> </ul> <note> <p>If you send data to the same stream on multiple simultaneous <code>PutMedia</code> sessions, the media fragments get interleaved on the stream. You should make sure that this is OK in your application scenario. </p> </note> <p>The following limits apply when using the <code>PutMedia</code> API:</p> <ul> <li> <p>A client can call <code>PutMedia</code> up to five times per second per stream.</p> </li> <li> <p>A client can send up to five fragments per second per stream.</p> </li> <li> <p>Kinesis Video Streams reads media data at a rate of up to 12.5 MB/second, or 100 Mbps during a <code>PutMedia</code> session. </p> </li> </ul> <p>Note the following constraints. In these cases, Kinesis Video Streams sends the Error acknowledgement in the response. </p> <ul> <li> <p>Fragments that have time codes spanning longer than 10 seconds and that contain more than 50 megabytes of data are not allowed. </p> </li> <li> <p> An MKV stream containing more than one MKV segment or containing disallowed MKV elements (like <code>track*</code>) also results in the Error acknowledgement. </p> </li> </ul> <p>Kinesis Video Streams stores each incoming fragment and related metadata in what is called a \"chunk.\" The fragment metadata includes the following: </p> <ul> <li> <p>The MKV headers provided at the start of the <code>PutMedia</code> request</p> </li> <li> <p>The following Kinesis Video Streams-specific metadata for the fragment:</p> <ul> <li> <p> <code>server_timestamp</code> - Time stamp when Kinesis Video Streams started receiving the fragment. </p> </li> <li> <p> <code>producer_timestamp</code> - Time stamp, when the producer started recording the fragment. Kinesis Video Streams uses three pieces of information received in the request to calculate this value. </p> <ul> <li> <p>The fragment timecode value received in the request body along with the fragment.</p> </li> <li> <p>Two request headers: <code>producerStartTimestamp</code> (when the producer started recording) and <code>fragmentTimeCodeType</code> (whether the fragment timecode in the payload is absolute or relative).</p> </li> </ul> <p>Kinesis Video Streams then computes the <code>producer_timestamp</code> for the fragment as follows:</p> <p> If <code>fragmentTimeCodeType</code> is relative, then </p> <p> <code>producer_timestamp</code> = <code>producerStartTimeSamp</code> + fragment timecode </p> <p>If <code>fragmentTimeCodeType</code> is absolute, then </p> <p> <code>producer_timestamp</code> = fragment timecode (converted to milliseconds)</p> </li> <li> <p>Unique fragment number assigned by Kinesis Video Streams.</p> </li> </ul> <p/> </li> </ul> <note> <p> When you make the <code>GetMedia</code> request, Kinesis Video Streams returns a stream of these chunks. The client can process the metadata as needed. </p> </note> <note> <p>This operation is only available for the AWS SDK for Java. It is not supported in AWS SDKs for other languages.</p> </note>"
    }
  },
  "shapes":{
    "ClientLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ConnectionLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client connections.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ContentType":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[a-zA-Z0-9_\\.\\-]+$"
    },
    "ContinuationToken":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[a-zA-Z0-9_\\.\\-]+$"
    },
    "ErrorMessage":{"type":"string"},
    "FragmentNumberString":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[0-9]+$"
    },
    "FragmentTimecodeType":{
      "type":"string",
      "enum":[
        "ABSOLUTE",
        "RELATIVE"
      ]
    },
    "GetMediaInput":{
      "type":"structure",
      "required":["StartSelector"],
      "members":{
        "StreamName":{
          "shape":"StreamName",
          "documentation":"<p>The Kinesis video stream name from where you want to get the media content. If you don't specify the <code>streamName</code>, you must specify the <code>streamARN</code>.</p>"
        },
        "StreamARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The ARN of the stream from where you want to get the media content. If you don't specify the <code>streamARN</code>, you must specify the <code>streamName</code>.</p>"
        },
        "StartSelector":{
          "shape":"StartSelector",
          "documentation":"<p>Identifies the starting chunk to get from the specified stream. </p>"
        }
      }
    },
    "GetMediaOutput":{
      "type":"structure",
      "members":{
        "ContentType":{
          "shape":"ContentType",
          "documentation":"<p>The content type of the requested media.</p>",
          "location":"header",
          "locationName":"Content-Type"
        },
        "Payload":{
          "shape":"Payload",
          "documentation":"<p> The payload Kinesis Video Streams returns is a sequence of chunks from the specified stream. For information about the chunks, see . The chunks that Kinesis Video Streams returns in the <code>GetMedia</code> call also include the following additional Matroska (MKV) tags: </p> <ul> <li> <p>AWS_KINESISVIDEO_CONTINUATION_TOKEN (UTF-8 string) - In the event your <code>GetMedia</code> call terminates, you can use this continuation token in your next request to get the next chunk where the last request terminated.</p> </li> <li> <p>AWS_KINESISVIDEO_MILLIS_BEHIND_NOW (UTF-8 string) - Client applications can use this tag value to determine how far behind the chunk returned in the response is from the latest chunk on the stream. </p> </li> <li> <p>AWS_KINESISVIDEO_FRAGMENT_NUMBER - Fragment number returned in the chunk.</p> </li> <li> <p>AWS_KINESISVIDEO_SERVER_TIMESTAMP - Server timestamp of the fragment.</p> </li> <li> <p>AWS_KINESISVIDEO_PRODUCER_TIMESTAMP - Producer timestamp of the fragment.</p> </li> </ul> <p>The following tags will be present if an error occurs:</p> <ul> <li> <p>AWS_KINESISVIDEO_ERROR_CODE - String description of an error that caused GetMedia to stop.</p> </li> <li> <p>AWS_KINESISVIDEO_ERROR_ID: Integer code of the error.</p> </li> </ul> <p>The error codes are as follows:</p> <ul> <li> <p>3002 - Error writing to the stream</p> </li> <li> <p>4000 - Requested fragment is not found</p> </li> <li> <p>4500 - Access denied for the stream's KMS key</p> </li> <li> <p>4501 - Stream's KMS key is disabled</p> </li> <li> <p>4502 - Validation error on the stream's KMS key</p> </li> <li> <p>4503 - KMS key specified in the stream is unavailable</p> </li> <li> <p>4504 - Invalid usage of the KMS key specified in the stream</p> </li> <li> <p>4505 - Invalid state of the KMS key specified in the stream</p> </li> <li> <p>4506 - Unable to find the KMS key specified in the stream</p> </li> <li> <p>5000 - Internal error</p> </li> </ul>"
        }
      },
      "payload":"Payload"
    },
    "InvalidArgumentException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The value for this input parameter is invalid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "InvalidEndpointException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> Status Code: 400, Caller used wrong endpoint to write data to a stream. On receiving such an exception, the user must call <code>GetDataEndpoint</code> with <code>AccessMode</code> set to \"READ\" and use the endpoint Kinesis Video returns in the next <code>GetMedia</code> call. </p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "NotAuthorizedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Status Code: 403, The caller is not authorized to perform an operation on the given stream, or the token has expired.</p>",
      "error":{"httpStatusCode":401},
      "exception":true
    },
    "Payload":{
      "type":"blob",
      "streaming":true
    },
    "PutMediaInput":{
      "type":"structure",
      "required":["FragmentTimecodeType"],
      "members":{
        "StreamName":{
          "shape":"StreamName",
          "documentation":"<p>You pass this value as the <code>x-amzn-stream-name</code> HTTP header.</p> <p>Name of the Kinesis video stream where you want to write the media content. If you don't specify the <code>streamName</code>, you must specify the <code>streamARN</code>.</p>",
          "location":"header",
          "locationName":"x-amzn-stream-name"
        },
        "StreamARN":{
          "shape":"ResourceARN",
          "documentation":"<p>You pass this value as the <code>x-amzn-stream-arn</code> HTTP header.</p> <p>Amazon Resource Name (ARN) of the Kinesis video stream where you want to write the media content. If you don't specify the <code>streamARN</code>, you must specify the <code>streamName</code>.</p>",
          "location":"header",
          "locationName":"x-amzn-stream-arn"
        },
        "FragmentTimecodeType":{
          "shape":"FragmentTimecodeType",
          "documentation":"<p>You pass this value as the <code>x-amzn-fragment-timecode-type</code> HTTP header.</p> <p>Indicates whether timecodes in the fragments (payload, HTTP request body) are absolute or relative to <code>producerStartTimestamp</code>. Kinesis Video Streams uses this information to compute the <code>producer_timestamp</code> for the fragment received in the request, as described in the API overview.</p>",
          "location":"header",
          "locationName":"x-amzn-fragment-timecode-type"
        },
        "ProducerStartTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>You pass this value as the <code>x-amzn-producer-start-timestamp</code> HTTP header.</p> <p>This is the producer time stamp at which the producer started recording the media (not the time stamp of the specific fragments in the request).</p>",
          "location":"header",
          "locationName":"x-amzn-producer-start-timestamp"
        },
        "Payload":{
          "shape":"Payload",
          "documentation":"<p> The media content to write to the Kinesis video stream. In the current implementation, Kinesis Video Streams supports only the Matroska (MKV) container format with a single MKV segment. A segment can contain one or more clusters. </p> <note> <p>Each MKV cluster maps to a Kinesis video stream fragment. Whatever cluster duration you choose becomes the fragment duration. </p> </note>"
        }
      },
      "payload":"Payload"
    },
    "PutMediaOutput":{
      "type":"structure",
      "members":{
        "Payload":{
          "shape":"Payload",
          "documentation":"<p> After Kinesis Video Streams successfully receives a <code>PutMedia</code> request, the service validates the request headers. The service then starts reading the payload and first sends an HTTP 200 response. </p> <p>The service then returns a stream containing a series of JSON objects (<code>Acknowledgement</code> objects) separated by newlines. The acknowledgements are received on the same connection on which the media data is sent. There can be many acknowledgements for a <code>PutMedia</code> request. Each <code>Acknowledgement</code> consists of the following key-value pairs:</p> <ul> <li> <p> <code>AckEventType</code> - Event type the acknowledgement represents. </p> <ul> <li> <p> <b>Buffering:</b> Kinesis Video Streams has started receiving the fragment. Kinesis Video Streams sends the first Buffering acknowledgement when the first byte of fragment data is received. </p> </li> <li> <p> <b>Received:</b> Kinesis Video Streams received the entire fragment. If you did not configure the stream to persist the data, the producer can stop buffering the fragment upon receiving this acknowledgement.</p> </li> <li> <p> <b>Persisted:</b> Kinesis Video Streams has persisted the fragment (for example, to Amazon S3). You get this acknowledgement if you configured the stream to persist the data. After you receive this acknowledgement, the producer can stop buffering the fragment.</p> </li> <li> <p> <b>Error:</b> Kinesis Video Streams ran into an error while processing the fragment. You can review the error code and determine the next course of action. </p> </li> <li> <p> <b>Idle:</b> The <code>PutMedia</code> session is in-progress. However, Kinesis Video Streams is currently not receiving data. Kinesis Video Streams sends this acknowledgement periodically for up to 30 seconds after the last received data. If no data is received within the 30 seconds, Kinesis Video Streams closes the request. </p> <note> <p> This acknowledgement can help a producer determine if the <code>PutMedia</code> connection is alive, even if it is not sending any data. </p> </note> </li> </ul> </li> <li> <p> <code>FragmentTimeCode</code> - Fragment timecode for which acknowledgement is sent. </p> <p>The element can be missing if the <code>AckEventType</code> is <b>Idle</b>. </p> </li> <li> <p> <code>FragmentNumber</code> - Kinesis Video Streams-generated fragment number for which the acknowledgement is sent.</p> </li> <li> <p> <code>ErrorId</code> and <code>ErrorCode</code> - If the <code>AckEventType</code> is ErrorId, this field provides corresponding error code. The following is the list of error codes:</p> <ul> <li> <p>4000 - Error reading the data stream.</p> </li> <li> <p>4001 - Fragment size is greater than maximum limit, 50 MB, allowed.</p> </li> <li> <p>4002 - Fragment duration is greater than maximum limit, 10 seconds, allowed.</p> </li> <li> <p>4003 - Connection duration is greater than maximum allowed threshold.</p> </li> <li> <p>4004 - Fragment timecode is less than the timecode previous time code (within a <code>PutMedia</code> call, you cannot send fragments out of order).</p> </li> <li> <p>4005 - More than one track is found in MKV.</p> </li> <li> <p>4006 - Failed to parse the input stream as valid MKV format.</p> </li> <li> <p>4007 - Invalid producer timestamp.</p> </li> <li> <p>4008 - Stream no longer exists (deleted).</p> </li> <li> <p>4500 - Access to the stream's specified KMS key is denied.</p> </li> <li> <p>4501 - The stream's specified KMS key is disabled.</p> </li> <li> <p>4502 - The stream's specified KMS key failed validation.</p> </li> <li> <p>4503 - The stream's specified KMS key is unavailable.</p> </li> <li> <p>4504 - Invalid usage of the stream's specified KMS key.</p> </li> <li> <p>4505 - The stream's specified KMS key is in an invalid state.</p> </li> <li> <p>4506 - The stream's specified KMS key is not found.</p> </li> <li> <p>5000 - Internal service error</p> </li> <li> <p>5001 - Kinesis Video Streams failed to persist fragments to the data store.</p> </li> </ul> </li> </ul> <note> <p>The producer, while sending the payload for a long running <code>PutMedia</code> request, should read the response for acknowledgements. A producer might receive chunks of acknowledgements at the same time, due to buffering on an intermediate proxy server. A producer that wants to receive timely acknowledgements can send fewer fragments in each <code>PutMedia</code> request. </p> </note>"
        }
      },
      "payload":"Payload"
    },
    "ResourceARN":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Status Code: 404, The stream with the given name does not exist.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "StartSelector":{
      "type":"structure",
      "required":["StartSelectorType"],
      "members":{
        "StartSelectorType":{
          "shape":"StartSelectorType",
          "documentation":"<p>Identifies the fragment on the Kinesis video stream where you want to start getting the data from.</p> <ul> <li> <p>NOW - Start with the latest chunk on the stream.</p> </li> <li> <p>EARLIEST - Start with earliest available chunk on the stream.</p> </li> <li> <p>FRAGMENT_NUMBER - Start with the chunk containing the specific fragment. You must also specify the <code>StartFragmentNumber</code>.</p> </li> <li> <p>PRODUCER_TIMESTAMP or SERVER_TIMESTAMP - Start with the chunk containing a fragment with the specified producer or server timestamp. You specify the timestamp by adding <code>StartTimestamp</code>.</p> </li> <li> <p> CONTINUATION_TOKEN - Read using the specified continuation token. </p> </li> </ul> <note> <p>If you choose the NOW, EARLIEST, or CONTINUATION_TOKEN as the <code>startSelectorType</code>, you don't provide any additional information in the <code>startSelector</code>.</p> </note>"
        },
        "AfterFragmentNumber":{
          "shape":"FragmentNumberString",
          "documentation":"<p>Specifies the fragment number from where you want the <code>GetMedia</code> API to start returning the fragments. </p>"
        },
        "StartTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp value. This value is required if you choose the PRODUCER_TIMESTAMP or the SERVER_TIMESTAMP as the <code>startSelectorType</code>. The <code>GetMedia</code> API then starts with the chunk containing the fragment that has the specified timestamp.</p>"
        },
        "ContinuationToken":{
          "shape":"ContinuationToken",
          "documentation":"<p>Continuation token that Kinesis Video Streams returned in the previous <code>GetMedia</code> response. The <code>GetMedia</code> API then starts with the chunk identified by the continuation token.</p>"
        }
      },
      "documentation":"<p>Identifies the chunk on the Kinesis video stream where you want the <code>GetMedia</code> API to start returning media data. You have the following options to identify the starting chunk: </p> <ul> <li> <p>Choose the latest (or oldest) chunk.</p> </li> <li> <p>Identify a specific chunk. You can identify a specific chunk either by providing a fragment number or timestamp (server or producer). </p> </li> <li> <p>Each chunk's metadata includes a continuation token as a Matroska (MKV) tag (<code>AWS_KINESISVIDEO_CONTINUATION_TOKEN</code>). If your previous <code>GetMedia</code> request terminated, you can use this tag value in your next <code>GetMedia</code> request. The API then starts returning chunks starting where the last API ended.</p> </li> </ul>"
    },
    "StartSelectorType":{
      "type":"string",
      "enum":[
        "FRAGMENT_NUMBER",
        "SERVER_TIMESTAMP",
        "PRODUCER_TIMESTAMP",
        "NOW",
        "EARLIEST",
        "CONTINUATION_TOKEN"
      ]
    },
    "StreamName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_.-]+"
    },
    "Timestamp":{"type":"timestamp"}
  },
  "documentation":"<p/>"
}
