{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-23",
    "asyncClient" : "AmazonKinesisAnalyticsV2AsyncClient",
    "asyncClientBuilderClassName" : "AmazonKinesisAnalyticsV2AsyncClientBuilder",
    "asyncInterface" : "AmazonKinesisAnalyticsV2Async",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonKinesisAnalyticsV2ModuleInjector",
    "defaultEndpoint" : "kinesisanalytics.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kinesisanalytics.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Documentation for Kinesis Data Analytics API v2</p>",
    "endpointPrefix" : "kinesisanalytics",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kinesisanalyticsv2",
    "packagePath" : "com/amazonaws/services/kinesisanalyticsv2",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Kinesis Analytics V2",
    "serviceFullName" : "Amazon Kinesis Analytics",
    "serviceId" : "Kinesis Analytics V2",
    "serviceName" : "Kinesis Analytics V2",
    "signingName" : "kinesisanalytics",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisanalyticsv2.smoketests",
    "syncClient" : "AmazonKinesisAnalyticsV2Client",
    "syncClientBuilderClassName" : "AmazonKinesisAnalyticsV2ClientBuilder",
    "syncInterface" : "AmazonKinesisAnalyticsV2",
    "uid" : "kinesisanalyticsv2-2018-05-23",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddApplicationCloudWatchLoggingOption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationCloudWatchLoggingOptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationCloudWatchLoggingOptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationCloudWatchLoggingOptionRequest, AddApplicationCloudWatchLoggingOptionResult>",
      "asyncReturnType" : "AddApplicationCloudWatchLoggingOptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds an Amazon CloudWatch log stream to monitor application configuration errors.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "variableName" : "addApplicationCloudWatchLoggingOptionRequest",
        "variableType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "documentation" : "",
        "simpleType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "variableSetterType" : "AddApplicationCloudWatchLoggingOptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationCloudWatchLoggingOption",
      "operationName" : "AddApplicationCloudWatchLoggingOption",
      "returnType" : {
        "returnType" : "AddApplicationCloudWatchLoggingOptionResult",
        "documentation" : null
      },
      "syncReturnType" : "AddApplicationCloudWatchLoggingOptionResult"
    },
    "AddApplicationInput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationInputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationInputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationInputRequest, AddApplicationInputResult>",
      "asyncReturnType" : "AddApplicationInputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Adds a streaming source to your SQL-based Amazon Kinesis Data Analytics application. </p> <p>You can add a streaming source when you create an application, or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CodeValidationException",
        "documentation" : "<p>The user-provided application code (query) is not valid. This can be a simple syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationInputRequest",
        "variableName" : "addApplicationInputRequest",
        "variableType" : "AddApplicationInputRequest",
        "documentation" : "",
        "simpleType" : "AddApplicationInputRequest",
        "variableSetterType" : "AddApplicationInputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationInput",
      "operationName" : "AddApplicationInput",
      "returnType" : {
        "returnType" : "AddApplicationInputResult",
        "documentation" : null
      },
      "syncReturnType" : "AddApplicationInputResult"
    },
    "AddApplicationInputProcessingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationInputProcessingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationInputProcessingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationInputProcessingConfigurationRequest, AddApplicationInputProcessingConfigurationResult>",
      "asyncReturnType" : "AddApplicationInputProcessingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds an <a>InputProcessingConfiguration</a> to an SQL-based Kinesis Data Analytics application. An input processor pre-processes records on the input stream before the application's SQL code executes. Currently, the only input processor available is <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationInputProcessingConfigurationRequest",
        "variableName" : "addApplicationInputProcessingConfigurationRequest",
        "variableType" : "AddApplicationInputProcessingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "AddApplicationInputProcessingConfigurationRequest",
        "variableSetterType" : "AddApplicationInputProcessingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationInputProcessingConfiguration",
      "operationName" : "AddApplicationInputProcessingConfiguration",
      "returnType" : {
        "returnType" : "AddApplicationInputProcessingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "AddApplicationInputProcessingConfigurationResult"
    },
    "AddApplicationOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationOutputRequest, AddApplicationOutputResult>",
      "asyncReturnType" : "AddApplicationOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds an external destination to your SQL-based Amazon Kinesis Data Analytics application.</p> <p>If you want Kinesis Data Analytics to deliver data from an in-application stream within your application to an external destination (such as an Kinesis data stream, a Kinesis Data Firehose delivery stream, or an AWS Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationOutputRequest",
        "variableName" : "addApplicationOutputRequest",
        "variableType" : "AddApplicationOutputRequest",
        "documentation" : "",
        "simpleType" : "AddApplicationOutputRequest",
        "variableSetterType" : "AddApplicationOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationOutput",
      "operationName" : "AddApplicationOutput",
      "returnType" : {
        "returnType" : "AddApplicationOutputResult",
        "documentation" : null
      },
      "syncReturnType" : "AddApplicationOutputResult"
    },
    "AddApplicationReferenceDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddApplicationReferenceDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddApplicationReferenceDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddApplicationReferenceDataSourceRequest, AddApplicationReferenceDataSourceResult>",
      "asyncReturnType" : "AddApplicationReferenceDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a reference data source to an existing SQL-based Amazon Kinesis Data Analytics application.</p> <p>Kinesis Data Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in an Amazon S3 object maps to columns in the resulting in-application table.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationReferenceDataSourceRequest",
        "variableName" : "addApplicationReferenceDataSourceRequest",
        "variableType" : "AddApplicationReferenceDataSourceRequest",
        "documentation" : "",
        "simpleType" : "AddApplicationReferenceDataSourceRequest",
        "variableSetterType" : "AddApplicationReferenceDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addApplicationReferenceDataSource",
      "operationName" : "AddApplicationReferenceDataSource",
      "returnType" : {
        "returnType" : "AddApplicationReferenceDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "AddApplicationReferenceDataSourceResult"
    },
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Kinesis Data Analytics application. For information about creating a Kinesis Data Analytics application, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/Java/creating-app.html\">Creating an Application</a>. </p> <note> <p>SQL is not enabled for this private beta release. Using SQL parameters (such as <a>SqlApplicationConfiguration</a>) will result in an error.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CodeValidationException",
        "documentation" : "<p>The user-provided application code (query) is not valid. This can be a simple syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The number of allowed resources has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "CreateApplicationSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationSnapshotRequest, CreateApplicationSnapshotResult>",
      "asyncReturnType" : "CreateApplicationSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a snapshot of the application's state data.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The number of allowed resources has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateApplicationSnapshotRequest",
        "variableName" : "createApplicationSnapshotRequest",
        "variableType" : "CreateApplicationSnapshotRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationSnapshotRequest",
        "variableSetterType" : "CreateApplicationSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplicationSnapshot",
      "operationName" : "CreateApplicationSnapshot",
      "returnType" : {
        "returnType" : "CreateApplicationSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateApplicationSnapshotResult"
    },
    "DeleteApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "asyncReturnType" : "DeleteApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified application. Kinesis Data Analytics halts application execution and deletes the application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationRequest",
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplication",
      "operationName" : "DeleteApplication",
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationResult"
    },
    "DeleteApplicationCloudWatchLoggingOption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationCloudWatchLoggingOptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationCloudWatchLoggingOptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationCloudWatchLoggingOptionRequest, DeleteApplicationCloudWatchLoggingOptionResult>",
      "asyncReturnType" : "DeleteApplicationCloudWatchLoggingOptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Amazon CloudWatch log stream from an Amazon Kinesis Data Analytics application. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationCloudWatchLoggingOptionRequest",
        "variableName" : "deleteApplicationCloudWatchLoggingOptionRequest",
        "variableType" : "DeleteApplicationCloudWatchLoggingOptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationCloudWatchLoggingOptionRequest",
        "variableSetterType" : "DeleteApplicationCloudWatchLoggingOptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationCloudWatchLoggingOption",
      "operationName" : "DeleteApplicationCloudWatchLoggingOption",
      "returnType" : {
        "returnType" : "DeleteApplicationCloudWatchLoggingOptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationCloudWatchLoggingOptionResult"
    },
    "DeleteApplicationInputProcessingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationInputProcessingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationInputProcessingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationInputProcessingConfigurationRequest, DeleteApplicationInputProcessingConfigurationResult>",
      "asyncReturnType" : "DeleteApplicationInputProcessingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an <a>InputProcessingConfiguration</a> from an input.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationInputProcessingConfigurationRequest",
        "variableName" : "deleteApplicationInputProcessingConfigurationRequest",
        "variableType" : "DeleteApplicationInputProcessingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationInputProcessingConfigurationRequest",
        "variableSetterType" : "DeleteApplicationInputProcessingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationInputProcessingConfiguration",
      "operationName" : "DeleteApplicationInputProcessingConfiguration",
      "returnType" : {
        "returnType" : "DeleteApplicationInputProcessingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationInputProcessingConfigurationResult"
    },
    "DeleteApplicationOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationOutputRequest, DeleteApplicationOutputResult>",
      "asyncReturnType" : "DeleteApplicationOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the output destination configuration from your SQL-based Amazon Kinesis Data Analytics application's configuration. Kinesis Data Analytics will no longer write data from the corresponding in-application stream to the external output destination.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationOutputRequest",
        "variableName" : "deleteApplicationOutputRequest",
        "variableType" : "DeleteApplicationOutputRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationOutputRequest",
        "variableSetterType" : "DeleteApplicationOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationOutput",
      "operationName" : "DeleteApplicationOutput",
      "returnType" : {
        "returnType" : "DeleteApplicationOutputResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationOutputResult"
    },
    "DeleteApplicationReferenceDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationReferenceDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationReferenceDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationReferenceDataSourceRequest, DeleteApplicationReferenceDataSourceResult>",
      "asyncReturnType" : "DeleteApplicationReferenceDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a reference data source configuration from the specified SQL-based Amazon Kinesis Data Analytics application's configuration.</p> <p>If the application is running, Kinesis Data Analytics immediately removes the in-application table that you created using the <a>AddApplicationReferenceDataSource</a> operation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationReferenceDataSourceRequest",
        "variableName" : "deleteApplicationReferenceDataSourceRequest",
        "variableType" : "DeleteApplicationReferenceDataSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationReferenceDataSourceRequest",
        "variableSetterType" : "DeleteApplicationReferenceDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationReferenceDataSource",
      "operationName" : "DeleteApplicationReferenceDataSource",
      "returnType" : {
        "returnType" : "DeleteApplicationReferenceDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationReferenceDataSourceResult"
    },
    "DeleteApplicationSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationSnapshotRequest, DeleteApplicationSnapshotResult>",
      "asyncReturnType" : "DeleteApplicationSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a snapshot of application state.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationSnapshotRequest",
        "variableName" : "deleteApplicationSnapshotRequest",
        "variableType" : "DeleteApplicationSnapshotRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationSnapshotRequest",
        "variableSetterType" : "DeleteApplicationSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationSnapshot",
      "operationName" : "DeleteApplicationSnapshot",
      "returnType" : {
        "returnType" : "DeleteApplicationSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationSnapshotResult"
    },
    "DescribeApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationRequest, DescribeApplicationResult>",
      "asyncReturnType" : "DescribeApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific Amazon Kinesis Data Analytics application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a>ListApplications</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeApplicationRequest",
        "variableName" : "describeApplicationRequest",
        "variableType" : "DescribeApplicationRequest",
        "documentation" : "",
        "simpleType" : "DescribeApplicationRequest",
        "variableSetterType" : "DescribeApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApplication",
      "operationName" : "DescribeApplication",
      "returnType" : {
        "returnType" : "DescribeApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeApplicationResult"
    },
    "DescribeApplicationSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationSnapshotRequest, DescribeApplicationSnapshotResult>",
      "asyncReturnType" : "DescribeApplicationSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a snapshot of application state data.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeApplicationSnapshotRequest",
        "variableName" : "describeApplicationSnapshotRequest",
        "variableType" : "DescribeApplicationSnapshotRequest",
        "documentation" : "",
        "simpleType" : "DescribeApplicationSnapshotRequest",
        "variableSetterType" : "DescribeApplicationSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApplicationSnapshot",
      "operationName" : "DescribeApplicationSnapshot",
      "returnType" : {
        "returnType" : "DescribeApplicationSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeApplicationSnapshotResult"
    },
    "DiscoverInputSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DiscoverInputSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DiscoverInputSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DiscoverInputSchemaRequest, DiscoverInputSchemaResult>",
      "asyncReturnType" : "DiscoverInputSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Infers a schema for an SQL-based Amazon Kinesis Data Analytics application by evaluating sample records on the specified streaming source (Kinesis data stream or Kinesis Data Firehose delivery stream) or Amazon S3 object. In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. When you create an application using the Kinesis Data Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnableToDetectSchemaException",
        "documentation" : "<p>The data format is not valid. Amazon Kinesis Data Analytics cannot detect the schema for the given streaming source.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceProvisionedThroughputExceededException",
        "documentation" : "<p>Discovery failed to get a record from the streaming source because of the Amazon Kinesis Streams <code>ProvisionedThroughputExceededException</code>. For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetRecords.html\">GetRecords</a> in the Amazon Kinesis Streams API Reference.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DiscoverInputSchemaRequest",
        "variableName" : "discoverInputSchemaRequest",
        "variableType" : "DiscoverInputSchemaRequest",
        "documentation" : "",
        "simpleType" : "DiscoverInputSchemaRequest",
        "variableSetterType" : "DiscoverInputSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "discoverInputSchema",
      "operationName" : "DiscoverInputSchema",
      "returnType" : {
        "returnType" : "DiscoverInputSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "DiscoverInputSchemaResult"
    },
    "ListApplicationSnapshots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationSnapshotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationSnapshotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationSnapshotsRequest, ListApplicationSnapshotsResult>",
      "asyncReturnType" : "ListApplicationSnapshotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about the current application snapshots.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationSnapshotsRequest",
        "variableName" : "listApplicationSnapshotsRequest",
        "variableType" : "ListApplicationSnapshotsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationSnapshotsRequest",
        "variableSetterType" : "ListApplicationSnapshotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplicationSnapshots",
      "operationName" : "ListApplicationSnapshots",
      "returnType" : {
        "returnType" : "ListApplicationSnapshotsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationSnapshotsResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of Amazon Kinesis Data Analytics applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. </p> <p>If you want detailed information about a specific application, use <a>DescribeApplication</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "StartApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartApplicationRequest, StartApplicationResult>",
      "asyncReturnType" : "StartApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified Amazon Kinesis Data Analytics application. After creating an application, you must exclusively call this operation to start your application.</p> <note> <p>SQL is not enabled for this private beta. Using SQL parameters (such as <a>RunConfiguration$SqlRunConfigurations</a>) will result in an error.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidApplicationConfigurationException",
        "documentation" : "<p>The user-provided application configuration is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartApplicationRequest",
        "variableName" : "startApplicationRequest",
        "variableType" : "StartApplicationRequest",
        "documentation" : "",
        "simpleType" : "StartApplicationRequest",
        "variableSetterType" : "StartApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startApplication",
      "operationName" : "StartApplication",
      "returnType" : {
        "returnType" : "StartApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartApplicationResult"
    },
    "StopApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopApplicationRequest, StopApplicationResult>",
      "asyncReturnType" : "StopApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the application from processing data. You can stop an application only if it is in the running state. You can use the <a>DescribeApplication</a> operation to find the application state. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopApplicationRequest",
        "variableName" : "stopApplicationRequest",
        "variableType" : "StopApplicationRequest",
        "documentation" : "",
        "simpleType" : "StopApplicationRequest",
        "variableSetterType" : "StopApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopApplication",
      "operationName" : "StopApplication",
      "returnType" : {
        "returnType" : "StopApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "StopApplicationResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing Amazon Kinesis Data Analytics application. Using this operation, you can update application code, input configuration, and output configuration. </p> <p>Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you update your application. </p> <note> <p>SQL is not enabled for this private beta. Using SQL parameters (such as <a>SqlApplicationConfigurationUpdate</a>) will result in an error.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CodeValidationException",
        "documentation" : "<p>The user-provided application code (query) is not valid. This can be a simple syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Specified application can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The application is not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request JSON is not valid for the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationResult"
    }
  },
  "shapes" : {
    "AddApplicationCloudWatchLoggingOptionRequest" : {
      "c2jName" : "AddApplicationCloudWatchLoggingOptionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddApplicationCloudWatchLoggingOption",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "KinesisAnalytics_20180523.AddApplicationCloudWatchLoggingOption",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ApplicationName",
        "c2jShape" : "ApplicationName",
        "deprecated" : false,
        "documentation" : "<p>The Kinesis Data Analytics application name.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Kinesis Data Analytics application name.</p>\n@param applicationName The Kinesis Data Analytics application name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationName",
        "getterDocumentation" : "/**<p>The Kinesis Data Analytics application name.</p>\n@return The Kinesis Data Analytics application name.*/",
        "getterMethodName" : "getApplicationName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Kinesis Data Analytics application name.</p>\n@param applicationName The Kinesis Data Analytics application name.*/",
        "setterMethodName" : "setApplicationName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Kinesis Data Analytics application name.</p>\n@param applicationName The Kinesis Data Analytics application name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "<p>The Kinesis Data Analytics application name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CurrentApplicationVersionId",
        "c2jShape" : "ApplicationVersionId",
        "deprecated" : false,
        "documentation" : "<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCurrentApplicationVersionId",
        "getterDocumentation" : "/**<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>\n@return The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.*/",
        "getterMethodName" : "getCurrentApplicationVersionId",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CurrentApplicationVersionId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CurrentApplicationVersionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "CurrentApplicationVersionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.*/",
        "setterMethodName" : "setCurrentApplicationVersionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "currentApplicationVersionId",
          "variableType" : "Long",
          "documentation" : "<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CloudWatchLoggingOption",
        "c2jShape" : "CloudWatchLoggingOption",
        "deprecated" : false,
        "documentation" : "<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>\n@param cloudWatchLoggingOption Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCloudWatchLoggingOption",
        "getterDocumentation" : "/**<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>\n@return Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN).*/",
        "getterMethodName" : "getCloudWatchLoggingOption",
        "getterModel" : {
          "returnType" : "CloudWatchLoggingOption",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CloudWatchLoggingOption",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CloudWatchLoggingOption",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CloudWatchLoggingOption",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>\n@param cloudWatchLoggingOption Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN).*/",
        "setterMethodName" : "setCloudWatchLoggingOption",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CloudWatchLoggingOption",
          "variableName" : "cloudWatchLoggingOption",
          "variableType" : "CloudWatchLoggingOption",
          "documentation" : "",
          "simpleType" : "CloudWatchLoggingOption",
          "variableSetterType" : "CloudWatchLoggingOption"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>\n@param cloudWatchLoggingOption Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CloudWatchLoggingOption",
          "variableName" : "cloudWatchLoggingOption",
          "variableType" : "CloudWatchLoggingOption",
          "documentation" : "<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>",
          "simpleType" : "CloudWatchLoggingOption",
          "variableSetterType" : "CloudWatchLoggingOption"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationName" : {
          "c2jName" : "ApplicationName",
          "c2jShape" : "ApplicationName",
          "deprecated" : false,
          "documentation" : "<p>The Kinesis Data Analytics application name.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Kinesis Data Analytics application name.</p>\n@param applicationName The Kinesis Data Analytics application name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationName",
          "getterDocumentation" : "/**<p>The Kinesis Data Analytics application name.</p>\n@return The Kinesis Data Analytics application name.*/",
          "getterMethodName" : "getApplicationName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ApplicationName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ApplicationName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Kinesis Data Analytics application name.</p>\n@param applicationName The Kinesis Data Analytics application name.*/",
          "setterMethodName" : "setApplicationName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Kinesis Data Analytics application name.</p>\n@param applicationName The Kinesis Data Analytics application name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "applicationName",
            "variableType" : "String",
            "documentation" : "<p>The Kinesis Data Analytics application name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CloudWatchLoggingOption" : {
          "c2jName" : "CloudWatchLoggingOption",
          "c2jShape" : "CloudWatchLoggingOption",
          "deprecated" : false,
          "documentation" : "<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>\n@param cloudWatchLoggingOption Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCloudWatchLoggingOption",
          "getterDocumentation" : "/**<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>\n@return Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN).*/",
          "getterMethodName" : "getCloudWatchLoggingOption",
          "getterModel" : {
            "returnType" : "CloudWatchLoggingOption",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CloudWatchLoggingOption",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CloudWatchLoggingOption",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CloudWatchLoggingOption",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>\n@param cloudWatchLoggingOption Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN).*/",
          "setterMethodName" : "setCloudWatchLoggingOption",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CloudWatchLoggingOption",
            "variableName" : "cloudWatchLoggingOption",
            "variableType" : "CloudWatchLoggingOption",
            "documentation" : "",
            "simpleType" : "CloudWatchLoggingOption",
            "variableSetterType" : "CloudWatchLoggingOption"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>\n@param cloudWatchLoggingOption Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CloudWatchLoggingOption",
            "variableName" : "cloudWatchLoggingOption",
            "variableType" : "CloudWatchLoggingOption",
            "documentation" : "<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>",
            "simpleType" : "CloudWatchLoggingOption",
            "variableSetterType" : "CloudWatchLoggingOption"
          },
          "xmlNameSpaceUri" : null
        },
        "CurrentApplicationVersionId" : {
          "c2jName" : "CurrentApplicationVersionId",
          "c2jShape" : "ApplicationVersionId",
          "deprecated" : false,
          "documentation" : "<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCurrentApplicationVersionId",
          "getterDocumentation" : "/**<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>\n@return The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.*/",
          "getterMethodName" : "getCurrentApplicationVersionId",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CurrentApplicationVersionId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CurrentApplicationVersionId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "CurrentApplicationVersionId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.*/",
          "setterMethodName" : "setCurrentApplicationVersionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "currentApplicationVersionId",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>\n@param currentApplicationVersionId The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "currentApplicationVersionId",
            "variableType" : "Long",
            "documentation" : "<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ApplicationName", "CurrentApplicationVersionId", "CloudWatchLoggingOption" ],
      "shapeName" : "AddApplicationCloudWatchLoggingOptionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "variableName" : "addApplicationCloudWatchLoggingOptionRequest",
        "variableType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "documentation" : null,
        "simpleType" : "AddApplicationCloudWatchLoggingOptionRequest",
        "variableSetterType" : "AddApplicationCloudWatchLoggingOptionRequest"
      },
      "wrapper" : false
    },
    "AddApplicationCloudWatchLoggingOptionResult" : {
      "c2jName" : "AddApplicationCloudWatchLoggingOptionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ApplicationARN",
        "c2jShape" : "ResourceARN",
        "deprecated" : false,
        "documentation" : "<p>The application's ARN.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The application's ARN.</p>\n@param applicationARN The application's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationARN",
        "getterDocumentation" : "/**<p>The application's ARN.</p>\n@return The application's ARN.*/",
        "getterMethodName" : "getApplicationARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationARN",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationARN",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The application's ARN.</p>\n@param applicationARN The application's ARN.*/",
        "setterMethodName" : "setApplicationARN",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationARN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The application's ARN.</p>\n@param applicationARN The application's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationARN",
          "variableType" : "String",
          "documentation" : "<p>The application's ARN.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApplicationVersionId",
        "c2jShape" : "ApplicationVersionId",
        "deprecated" : false,
        "documentation" : "<p>The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. </p>\n@param applicationVersionId The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationVersionId",
        "getterDocumentation" : "/**<p>The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. </p>\n@return The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options.*/",
        "getterMethodName" : "getApplicationVersionId",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationVersionId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationVersionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ApplicationVersionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. </p>\n@param applicationVersionId The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options.*/",
        "setterMethodName" : "setApplicationVersionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "applicationVersionId",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. </p>\n@param applicationVersionId The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "applicationVersionId",
          "variableType" : "Long",
          "documentation" : "<p>The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. </p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CloudWatchLoggingOptionDescriptions",
        "c2jShape" : "CloudWatchLoggingOptionDescriptions",
        "deprecated" : false,
        "documentation" : "<p>The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.</p>\n@param cloudWatchLoggingOptionDescriptions The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCloudWatchLoggingOptionDescriptions",
        "getterDocumentation" : "/**<p>The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.</p>\n@return The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.*/",
        "getterMethodName" : "getCloudWatchLoggingOptionDescriptions",
        "getterModel" : {
          "returnType" : "java.util.List<CloudWatchLoggingOptionDescription>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CloudWatchLoggingOptionDescriptions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CloudWatchLoggingOptionDescriptions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "CloudWatchLoggingOptionDescription",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "CloudWatchLoggingOptionDescription",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CloudWatchLoggingOptionDescription",
              "variableName" : "member",
              "variableType" : "CloudWatchLoggingOptionDescription",
              "documentation" : "",
              "simpleType" : "CloudWatchLoggingOptionDescription",
              "variableSetterType" : "CloudWatchLoggingOptionDescription"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CloudWatchLoggingOptionDescription",
              "variableName" : "member",
              "variableType" : "CloudWatchLoggingOptionDescription",
              "documentation" : "",
              "simpleType" : "CloudWatchLoggingOptionDescription",
              "variableSetterType" : "CloudWatchLoggingOptionDescription"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "CloudWatchLoggingOptionDescription",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "CloudWatchLoggingOptionDescription",
          "templateImplType" : "java.util.ArrayList<CloudWatchLoggingOptionDescription>",
          "templateType" : "java.util.List<CloudWatchLoggingOptionDescription>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "CloudWatchLoggingOptionDescriptions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.</p>\n@param cloudWatchLoggingOptionDescriptions The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.*/",
        "setterMethodName" : "setCloudWatchLoggingOptionDescriptions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CloudWatchLoggingOptionDescription>",
          "variableName" : "cloudWatchLoggingOptionDescriptions",
          "variableType" : "java.util.List<CloudWatchLoggingOptionDescription>",
          "documentation" : "",
          "simpleType" : "List<CloudWatchLoggingOptionDescription>",
          "variableSetterType" : "java.util.Collection<CloudWatchLoggingOptionDescription>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCloudWatchLoggingOptionDescriptions(java.util.Collection)} or {@link #withCloudWatchLoggingOptionDescriptions(java.util.Collection)} if you want to override the existing values.</p>\n@param cloudWatchLoggingOptionDescriptions The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CloudWatchLoggingOptionDescription>",
          "variableName" : "cloudWatchLoggingOptionDescriptions",
          "variableType" : "java.util.List<CloudWatchLoggingOptionDescription>",
          "documentation" : "<p>The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.</p>",
          "simpleType" : "List<CloudWatchLoggingOptionDescription>",
          "variableSetterType" : "java.util.Collection<CloudWatchLoggingOptionDescription>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationARN" : {
          "c2jName" : "ApplicationARN",
          "c2jShape" : "ResourceARN",
          "deprecated" : false,
          "documentation" : "<p>The application's ARN.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The application's ARN.</p>\n@param applicationARN The application's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationARN",
          "getterDocumentation" : "/**<p>The application's ARN.</p>\n@return The application's ARN.*/",
[...]
