{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-09-30",
    "asyncClient" : "AmazonKinesisVideoAsyncClient",
    "asyncClientBuilderClassName" : "AmazonKinesisVideoAsyncClientBuilder",
    "asyncInterface" : "AmazonKinesisVideoAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonKinesisVideoModuleInjector",
    "defaultEndpoint" : "kinesisvideo.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "kinesisvideo.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p/>",
    "endpointPrefix" : "kinesisvideo",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kinesisvideo",
    "packagePath" : "com/amazonaws/services/kinesisvideo",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Kinesis Video",
    "serviceFullName" : "Amazon Kinesis Video Streams",
    "serviceId" : "Kinesis Video",
    "serviceName" : "Kinesis Video",
    "signingName" : "kinesisvideo",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisvideo.smoketests",
    "syncClient" : "AmazonKinesisVideoClient",
    "syncClientBuilderClassName" : "AmazonKinesisVideoClientBuilder",
    "syncInterface" : "AmazonKinesisVideo",
    "uid" : "kinesisvideo-2017-09-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateSignalingChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSignalingChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSignalingChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSignalingChannelRequest, CreateSignalingChannelResult>",
      "asyncReturnType" : "CreateSignalingChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a signaling channel. </p> <p> <code>CreateSignalingChannel</code> is an asynchronous operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccountChannelLimitExceededException",
        "documentation" : "<p>You have reached the maximum limit of active signaling channels for this Amazon Web Services account in this region.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "TagsPerResourceExceededLimitException",
        "documentation" : "<p>You have exceeded the limit of tags that you can associate with the resource. A Kinesis video stream can support up to 50 tags. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSignalingChannelRequest",
        "variableName" : "createSignalingChannelRequest",
        "variableType" : "CreateSignalingChannelRequest",
        "documentation" : "",
        "simpleType" : "CreateSignalingChannelRequest",
        "variableSetterType" : "CreateSignalingChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSignalingChannel",
      "operationName" : "CreateSignalingChannel",
      "returnType" : {
        "returnType" : "CreateSignalingChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSignalingChannelResult"
    },
    "CreateStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamRequest, CreateStreamResult>",
      "asyncReturnType" : "CreateStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Kinesis video stream. </p> <p>When you create a new stream, Kinesis Video Streams assigns it a version number. When you change the stream's metadata, Kinesis Video Streams updates the version. </p> <p> <code>CreateStream</code> is an asynchronous operation.</p> <p>For information about how the service works, see <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/how-it-works.html\">How it Works</a>. </p> <p>You must have permissions for the <code>KinesisVideo:CreateStream</code> action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccountStreamLimitExceededException",
        "documentation" : "<p>The number of streams created for the account is too high.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DeviceStreamLimitExceededException",
        "documentation" : "<p>Not implemented. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidDeviceException",
        "documentation" : "<p>Not implemented.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TagsPerResourceExceededLimitException",
        "documentation" : "<p>You have exceeded the limit of tags that you can associate with the resource. A Kinesis video stream can support up to 50 tags. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateStreamRequest",
        "variableName" : "createStreamRequest",
        "variableType" : "CreateStreamRequest",
        "documentation" : "",
        "simpleType" : "CreateStreamRequest",
        "variableSetterType" : "CreateStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStream",
      "operationName" : "CreateStream",
      "returnType" : {
        "returnType" : "CreateStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStreamResult"
    },
    "DeleteSignalingChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSignalingChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSignalingChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSignalingChannelRequest, DeleteSignalingChannelResult>",
      "asyncReturnType" : "DeleteSignalingChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specified signaling channel. <code>DeleteSignalingChannel</code> is an asynchronous operation. If you don't specify the channel's current version, the most recent version is deleted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "VersionMismatchException",
        "documentation" : "<p>The stream version that you specified is not the latest version. To get the latest version, use the <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_DescribeStream.html\">DescribeStream</a> API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSignalingChannelRequest",
        "variableName" : "deleteSignalingChannelRequest",
        "variableType" : "DeleteSignalingChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteSignalingChannelRequest",
        "variableSetterType" : "DeleteSignalingChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSignalingChannel",
      "operationName" : "DeleteSignalingChannel",
      "returnType" : {
        "returnType" : "DeleteSignalingChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSignalingChannelResult"
    },
    "DeleteStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStreamRequest, DeleteStreamResult>",
      "asyncReturnType" : "DeleteStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Kinesis video stream and the data contained in the stream. </p> <p>This method marks the stream for deletion, and makes the data in the stream inaccessible immediately.</p> <p> </p> <p> To ensure that you have the latest version of the stream before deleting it, you can specify the stream version. Kinesis Video Streams assigns a version to each stream. When you update a stream, Kinesis Video Streams assigns a new version number. To get the latest stream version, use the <code>DescribeStream</code> API. </p> <p>This operation requires permission for the <code>KinesisVideo:DeleteStream</code> action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "VersionMismatchException",
        "documentation" : "<p>The stream version that you specified is not the latest version. To get the latest version, use the <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_DescribeStream.html\">DescribeStream</a> API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteStreamRequest",
        "variableName" : "deleteStreamRequest",
        "variableType" : "DeleteStreamRequest",
        "documentation" : "",
        "simpleType" : "DeleteStreamRequest",
        "variableSetterType" : "DeleteStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStream",
      "operationName" : "DeleteStream",
      "returnType" : {
        "returnType" : "DeleteStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStreamResult"
    },
    "DescribeEdgeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEdgeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEdgeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEdgeConfigurationRequest, DescribeEdgeConfigurationResult>",
      "asyncReturnType" : "DescribeEdgeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a stream’s edge configuration that was set using the <code>StartEdgeConfigurationUpdate</code> API. Use this API to get the status of the configuration if the configuration is in sync with the Edge Agent.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "StreamEdgeConfigurationNotFoundException",
        "documentation" : "<p>The Exception rendered when the Amazon Kinesis Video Stream can't find a stream's edge configuration that you specified. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEdgeConfigurationRequest",
        "variableName" : "describeEdgeConfigurationRequest",
        "variableType" : "DescribeEdgeConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeEdgeConfigurationRequest",
        "variableSetterType" : "DescribeEdgeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEdgeConfiguration",
      "operationName" : "DescribeEdgeConfiguration",
      "returnType" : {
        "returnType" : "DescribeEdgeConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEdgeConfigurationResult"
    },
    "DescribeImageGenerationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImageGenerationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImageGenerationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImageGenerationConfigurationRequest, DescribeImageGenerationConfigurationResult>",
      "asyncReturnType" : "DescribeImageGenerationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the <code>ImageGenerationConfiguration</code> for a given Kinesis video stream.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImageGenerationConfigurationRequest",
        "variableName" : "describeImageGenerationConfigurationRequest",
        "variableType" : "DescribeImageGenerationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeImageGenerationConfigurationRequest",
        "variableSetterType" : "DescribeImageGenerationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImageGenerationConfiguration",
      "operationName" : "DescribeImageGenerationConfiguration",
      "returnType" : {
        "returnType" : "DescribeImageGenerationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImageGenerationConfigurationResult"
    },
    "DescribeMappedResourceConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMappedResourceConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMappedResourceConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMappedResourceConfigurationRequest, DescribeMappedResourceConfigurationResult>",
      "asyncReturnType" : "DescribeMappedResourceConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the most current information about the stream. Either streamName or streamARN should be provided in the input.</p> <p>Returns the most current information about the stream. The <code>streamName</code> or <code>streamARN</code> should be provided in the input.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeMappedResourceConfigurationRequest",
        "variableName" : "describeMappedResourceConfigurationRequest",
        "variableType" : "DescribeMappedResourceConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeMappedResourceConfigurationRequest",
        "variableSetterType" : "DescribeMappedResourceConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMappedResourceConfiguration",
      "operationName" : "DescribeMappedResourceConfiguration",
      "returnType" : {
        "returnType" : "DescribeMappedResourceConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeMappedResourceConfigurationResult"
    },
    "DescribeMediaStorageConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMediaStorageConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMediaStorageConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMediaStorageConfigurationRequest, DescribeMediaStorageConfigurationResult>",
      "asyncReturnType" : "DescribeMediaStorageConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the most current information about the channel. Specify the <code>ChannelName</code> or <code>ChannelARN</code> in the input.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeMediaStorageConfigurationRequest",
        "variableName" : "describeMediaStorageConfigurationRequest",
        "variableType" : "DescribeMediaStorageConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeMediaStorageConfigurationRequest",
        "variableSetterType" : "DescribeMediaStorageConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMediaStorageConfiguration",
      "operationName" : "DescribeMediaStorageConfiguration",
      "returnType" : {
        "returnType" : "DescribeMediaStorageConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeMediaStorageConfigurationResult"
    },
    "DescribeNotificationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNotificationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNotificationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNotificationConfigurationRequest, DescribeNotificationConfigurationResult>",
      "asyncReturnType" : "DescribeNotificationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the <code>NotificationConfiguration</code> for a given Kinesis video stream.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeNotificationConfigurationRequest",
        "variableName" : "describeNotificationConfigurationRequest",
        "variableType" : "DescribeNotificationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeNotificationConfigurationRequest",
        "variableSetterType" : "DescribeNotificationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNotificationConfiguration",
      "operationName" : "DescribeNotificationConfiguration",
      "returnType" : {
        "returnType" : "DescribeNotificationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeNotificationConfigurationResult"
    },
    "DescribeSignalingChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSignalingChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSignalingChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSignalingChannelRequest, DescribeSignalingChannelResult>",
      "asyncReturnType" : "DescribeSignalingChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the most current information about the signaling channel. You must specify either the name or the Amazon Resource Name (ARN) of the channel that you want to describe.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSignalingChannelRequest",
        "variableName" : "describeSignalingChannelRequest",
        "variableType" : "DescribeSignalingChannelRequest",
        "documentation" : "",
        "simpleType" : "DescribeSignalingChannelRequest",
        "variableSetterType" : "DescribeSignalingChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSignalingChannel",
      "operationName" : "DescribeSignalingChannel",
      "returnType" : {
        "returnType" : "DescribeSignalingChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSignalingChannelResult"
    },
    "DescribeStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStreamRequest, DescribeStreamResult>",
      "asyncReturnType" : "DescribeStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the most current information about the specified stream. You must specify either the <code>StreamName</code> or the <code>StreamARN</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeStreamRequest",
        "variableName" : "describeStreamRequest",
        "variableType" : "DescribeStreamRequest",
        "documentation" : "",
        "simpleType" : "DescribeStreamRequest",
        "variableSetterType" : "DescribeStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStream",
      "operationName" : "DescribeStream",
      "returnType" : {
        "returnType" : "DescribeStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeStreamResult"
    },
    "GetDataEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataEndpointRequest, GetDataEndpointResult>",
      "asyncReturnType" : "GetDataEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an endpoint for a specified stream for either reading or writing. Use this endpoint in your application to read from the specified stream (using the <code>GetMedia</code> or <code>GetMediaForFragmentList</code> operations) or write to it (using the <code>PutMedia</code> operation). </p> <note> <p>The returned endpoint does not have the API name appended. The client needs to add the API name to the returned endpoint.</p> </note> <p>In the request, specify the stream either by <code>StreamName</code> or <code>StreamARN</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataEndpointRequest",
        "variableName" : "getDataEndpointRequest",
        "variableType" : "GetDataEndpointRequest",
        "documentation" : "",
        "simpleType" : "GetDataEndpointRequest",
        "variableSetterType" : "GetDataEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataEndpoint",
      "operationName" : "GetDataEndpoint",
      "returnType" : {
        "returnType" : "GetDataEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDataEndpointResult"
    },
    "GetSignalingChannelEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSignalingChannelEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSignalingChannelEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSignalingChannelEndpointRequest, GetSignalingChannelEndpointResult>",
      "asyncReturnType" : "GetSignalingChannelEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides an endpoint for the specified signaling channel to send and receive messages. This API uses the <code>SingleMasterChannelEndpointConfiguration</code> input parameter, which consists of the <code>Protocols</code> and <code>Role</code> properties.</p> <p> <code>Protocols</code> is used to determine the communication mechanism. For example, if you specify <code>WSS</code> as the protocol, this API produces a secure websocket endpoint. If you specify <code>HTTPS</code> as the protocol, this API generates an HTTPS endpoint. </p> <p> <code>Role</code> determines the messaging permissions. A <code>MASTER</code> role results in this API generating an endpoint that a client can use to communicate with any of the viewers on the channel. A <code>VIEWER</code> role results in this API generating an endpoint that a client can use to communicate only with a <code>MASTER</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSignalingChannelEndpointRequest",
        "variableName" : "getSignalingChannelEndpointRequest",
        "variableType" : "GetSignalingChannelEndpointRequest",
        "documentation" : "",
        "simpleType" : "GetSignalingChannelEndpointRequest",
        "variableSetterType" : "GetSignalingChannelEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSignalingChannelEndpoint",
      "operationName" : "GetSignalingChannelEndpoint",
      "returnType" : {
        "returnType" : "GetSignalingChannelEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSignalingChannelEndpointResult"
    },
    "ListSignalingChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSignalingChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSignalingChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSignalingChannelsRequest, ListSignalingChannelsResult>",
      "asyncReturnType" : "ListSignalingChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>ChannelInfo</code> objects. Each object describes a signaling channel. To retrieve only those channels that satisfy a specific condition, you can specify a <code>ChannelNameCondition</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSignalingChannelsRequest",
        "variableName" : "listSignalingChannelsRequest",
        "variableType" : "ListSignalingChannelsRequest",
        "documentation" : "",
        "simpleType" : "ListSignalingChannelsRequest",
        "variableSetterType" : "ListSignalingChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSignalingChannels",
      "operationName" : "ListSignalingChannels",
      "returnType" : {
        "returnType" : "ListSignalingChannelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSignalingChannelsResult"
    },
    "ListStreams" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStreamsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStreamsRequest, ListStreamsResult>",
      "asyncReturnType" : "ListStreamsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>StreamInfo</code> objects. Each object describes a stream. To retrieve only streams that satisfy a specific condition, you can specify a <code>StreamNameCondition</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListStreamsRequest",
        "variableName" : "listStreamsRequest",
        "variableType" : "ListStreamsRequest",
        "documentation" : "",
        "simpleType" : "ListStreamsRequest",
        "variableSetterType" : "ListStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStreams",
      "operationName" : "ListStreams",
      "returnType" : {
        "returnType" : "ListStreamsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListStreamsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags associated with the specified signaling channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTagsForStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForStreamRequest, ListTagsForStreamResult>",
      "asyncReturnType" : "ListTagsForStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags associated with the specified stream.</p> <p>In the request, you must specify either the <code>StreamName</code> or the <code>StreamARN</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidResourceFormatException",
        "documentation" : "<p>The format of the <code>StreamARN</code> is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForStreamRequest",
        "variableName" : "listTagsForStreamRequest",
        "variableType" : "ListTagsForStreamRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForStreamRequest",
        "variableSetterType" : "ListTagsForStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForStream",
      "operationName" : "ListTagsForStream",
      "returnType" : {
        "returnType" : "ListTagsForStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForStreamResult"
    },
    "StartEdgeConfigurationUpdate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartEdgeConfigurationUpdateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartEdgeConfigurationUpdateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartEdgeConfigurationUpdateRequest, StartEdgeConfigurationUpdateResult>",
      "asyncReturnType" : "StartEdgeConfigurationUpdateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>An asynchronous API that updates a stream’s existing edge configuration. The Kinesis Video Stream will sync the stream’s edge configuration with the Edge Agent IoT Greengrass component that runs on an IoT Hub Device, setup at your premise. The time to sync can vary and depends on the connectivity of the Hub Device. The <code>SyncStatus</code> will be updated as the edge configuration is acknowledged, and synced with the Edge Agent. </p> <p>If this API is invoked for the first time, a new edge configuration will be created for the stream, and the sync status will be set to <code>SYNCING</code>. You will have to wait for the sync status to reach a terminal state such as: <code>IN_SYNC</code>, or <code>SYNC_FAILED</code>, before using this API again. If you invoke this API during the syncing process, a <code>ResourceInUseException</code> will be thrown. The connectivity of the stream’s edge configuration and the Edge Agent will be retried for 15 minutes. After 15 minutes, the status will transition into the <code>SYNC_FAILED</code> state.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoDataRetentionException",
        "documentation" : "<p>The Stream data retention in hours is equal to zero.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartEdgeConfigurationUpdateRequest",
        "variableName" : "startEdgeConfigurationUpdateRequest",
        "variableType" : "StartEdgeConfigurationUpdateRequest",
        "documentation" : "",
        "simpleType" : "StartEdgeConfigurationUpdateRequest",
        "variableSetterType" : "StartEdgeConfigurationUpdateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startEdgeConfigurationUpdate",
      "operationName" : "StartEdgeConfigurationUpdate",
      "returnType" : {
        "returnType" : "StartEdgeConfigurationUpdateResult",
        "documentation" : null
      },
      "syncReturnType" : "StartEdgeConfigurationUpdateResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to a signaling channel. A <i>tag</i> is a key-value pair (the value is optional) that you can define and assign to Amazon Web Services resources. If you specify a tag that already exists, the tag value is replaced with the value that you specify in the request. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>Billing and Cost Management and Cost Management User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "TagsPerResourceExceededLimitException",
        "documentation" : "<p>You have exceeded the limit of tags that you can associate with the resource. A Kinesis video stream can support up to 50 tags. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "TagStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagStreamRequest, TagStreamResult>",
      "asyncReturnType" : "TagStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to a stream. A <i>tag</i> is a key-value pair (the value is optional) that you can define and assign to Amazon Web Services resources. If you specify a tag that already exists, the tag value is replaced with the value that you specify in the request. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>Billing and Cost Management and Cost Management User Guide</i>. </p> <p>You must provide either the <code>StreamName</code> or the <code>StreamARN</code>.</p> <p>This operation requires permission for the <code>KinesisVideo:TagStream</code> action.</p> <p>A Kinesis video stream can support up to 50 tags.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidResourceFormatException",
        "documentation" : "<p>The format of the <code>StreamARN</code> is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TagsPerResourceExceededLimitException",
        "documentation" : "<p>You have exceeded the limit of tags that you can associate with the resource. A Kinesis video stream can support up to 50 tags. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagStreamRequest",
        "variableName" : "tagStreamRequest",
        "variableType" : "TagStreamRequest",
        "documentation" : "",
        "simpleType" : "TagStreamRequest",
        "variableSetterType" : "TagStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagStream",
      "operationName" : "TagStream",
      "returnType" : {
        "returnType" : "TagStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "TagStreamResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from a signaling channel. In the request, specify only a tag key or keys; don't specify the value. If you specify a tag key that does not exist, it's ignored.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UntagStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagStreamRequest, UntagStreamResult>",
      "asyncReturnType" : "UntagStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from a stream. In the request, specify only a tag key or keys; don't specify the value. If you specify a tag key that does not exist, it's ignored.</p> <p>In the request, you must provide the <code>StreamName</code> or <code>StreamARN</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidResourceFormatException",
        "documentation" : "<p>The format of the <code>StreamARN</code> is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagStreamRequest",
        "variableName" : "untagStreamRequest",
        "variableType" : "UntagStreamRequest",
        "documentation" : "",
        "simpleType" : "UntagStreamRequest",
        "variableSetterType" : "UntagStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagStream",
      "operationName" : "UntagStream",
      "returnType" : {
        "returnType" : "UntagStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagStreamResult"
    },
    "UpdateDataRetention" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDataRetentionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDataRetentionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDataRetentionRequest, UpdateDataRetentionResult>",
      "asyncReturnType" : "UpdateDataRetentionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Increases or decreases the stream's data retention period by the value that you specify. To indicate whether you want to increase or decrease the data retention period, specify the <code>Operation</code> parameter in the request body. In the request, you must specify either the <code>StreamName</code> or the <code>StreamARN</code>. </p> <note> <p>The retention period that you specify replaces the current value.</p> </note> <p>This operation requires permission for the <code>KinesisVideo:UpdateDataRetention</code> action.</p> <p>Changing the data retention period affects the data in the stream as follows:</p> <ul> <li> <p>If the data retention period is increased, existing data is retained for the new retention period. For example, if the data retention period is increased from one hour to seven hours, all existing data is retained for seven hours.</p> </li> <li> <p>If the data retention period is decreased, existing data is retained for the new retention period. For example, if the data retention period is decreased from seven hours to one hour, all existing data is retained for one hour, and any data older than one hour is deleted immediately.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "VersionMismatchException",
        "documentation" : "<p>The stream version that you specified is not the latest version. To get the latest version, use the <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_DescribeStream.html\">DescribeStream</a> API.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDataRetentionRequest",
        "variableName" : "updateDataRetentionRequest",
        "variableType" : "UpdateDataRetentionRequest",
        "documentation" : "",
        "simpleType" : "UpdateDataRetentionRequest",
        "variableSetterType" : "UpdateDataRetentionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataRetention",
      "operationName" : "UpdateDataRetention",
      "returnType" : {
        "returnType" : "UpdateDataRetentionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDataRetentionResult"
    },
    "UpdateImageGenerationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateImageGenerationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateImageGenerationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateImageGenerationConfigurationRequest, UpdateImageGenerationConfigurationResult>",
      "asyncReturnType" : "UpdateImageGenerationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>StreamInfo</code> and <code>ImageProcessingConfiguration</code> fields.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoDataRetentionException",
        "documentation" : "<p>The Stream data retention in hours is equal to zero.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateImageGenerationConfigurationRequest",
        "variableName" : "updateImageGenerationConfigurationRequest",
        "variableType" : "UpdateImageGenerationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateImageGenerationConfigurationRequest",
        "variableSetterType" : "UpdateImageGenerationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateImageGenerationConfiguration",
      "operationName" : "UpdateImageGenerationConfiguration",
      "returnType" : {
        "returnType" : "UpdateImageGenerationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateImageGenerationConfigurationResult"
    },
    "UpdateMediaStorageConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMediaStorageConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMediaStorageConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMediaStorageConfigurationRequest, UpdateMediaStorageConfigurationResult>",
      "asyncReturnType" : "UpdateMediaStorageConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a <code>SignalingChannel</code> to a stream to store the media. There are two signaling modes that can specified :</p> <ul> <li> <p>If the <code>StorageStatus</code> is disabled, no data will be stored, and the <code>StreamARN</code> parameter will not be needed. </p> </li> <li> <p>If the <code>StorageStatus</code> is enabled, the data will be stored in the <code>StreamARN</code> provided. </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "NoDataRetentionException",
        "documentation" : "<p>The Stream data retention in hours is equal to zero.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMediaStorageConfigurationRequest",
        "variableName" : "updateMediaStorageConfigurationRequest",
        "variableType" : "UpdateMediaStorageConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateMediaStorageConfigurationRequest",
        "variableSetterType" : "UpdateMediaStorageConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMediaStorageConfiguration",
      "operationName" : "UpdateMediaStorageConfiguration",
      "returnType" : {
        "returnType" : "UpdateMediaStorageConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateMediaStorageConfigurationResult"
    },
    "UpdateNotificationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateNotificationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateNotificationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateNotificationConfigurationRequest, UpdateNotificationConfigurationResult>",
      "asyncReturnType" : "UpdateNotificationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the notification information for a stream.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoDataRetentionException",
        "documentation" : "<p>The Stream data retention in hours is equal to zero.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateNotificationConfigurationRequest",
        "variableName" : "updateNotificationConfigurationRequest",
        "variableType" : "UpdateNotificationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateNotificationConfigurationRequest",
        "variableSetterType" : "UpdateNotificationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateNotificationConfiguration",
      "operationName" : "UpdateNotificationConfiguration",
      "returnType" : {
        "returnType" : "UpdateNotificationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateNotificationConfigurationResult"
    },
    "UpdateSignalingChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSignalingChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSignalingChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSignalingChannelRequest, UpdateSignalingChannelResult>",
      "asyncReturnType" : "UpdateSignalingChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the existing signaling channel. This is an asynchronous operation and takes time to complete. </p> <p>If the <code>MessageTtlSeconds</code> value is updated (either increased or reduced), it only applies to new messages sent via this channel after it's been updated. Existing messages are still expired as per the previous <code>MessageTtlSeconds</code> value.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "VersionMismatchException",
        "documentation" : "<p>The stream version that you specified is not the latest version. To get the latest version, use the <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_DescribeStream.html\">DescribeStream</a> API.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSignalingChannelRequest",
        "variableName" : "updateSignalingChannelRequest",
        "variableType" : "UpdateSignalingChannelRequest",
        "documentation" : "",
        "simpleType" : "UpdateSignalingChannelRequest",
        "variableSetterType" : "UpdateSignalingChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSignalingChannel",
      "operationName" : "UpdateSignalingChannel",
      "returnType" : {
        "returnType" : "UpdateSignalingChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSignalingChannelResult"
    },
    "UpdateStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStreamRequest, UpdateStreamResult>",
      "asyncReturnType" : "UpdateStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates stream metadata, such as the device name and media type.</p> <p>You must provide the stream name or the Amazon Resource Name (ARN) of the stream.</p> <p>To make sure that you have the latest version of the stream before updating it, you can specify the stream version. Kinesis Video Streams assigns a version to each stream. When you update a stream, Kinesis Video Streams assigns a new version number. To get the latest stream version, use the <code>DescribeStream</code> API. </p> <p> <code>UpdateStream</code> is an asynchronous operation, and takes time to complete.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClientLimitExceededException",
        "documentation" : "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of allowed client calls. Try making the call later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The value for this input parameter is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Amazon Kinesis Video Streams can't find the stream that you specified.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>When the input <code>StreamARN</code> or <code>ChannelARN</code> in <code>CLOUD_STORAGE_MODE</code> is already mapped to a different Kinesis Video Stream resource, or if the provided input <code>StreamARN</code> or <code>ChannelARN</code> is not in Active status, try one of the following : </p> <ol> <li> <p>The <code>DescribeMediaStorageConfiguration</code> API to determine what the stream given channel is mapped to. </p> </li> <li> <p>The <code>DescribeMappedResourceConfiguration</code> API to determine the channel that the given stream is mapped to. </p> </li> <li> <p>The <code>DescribeStream</code> or <code>DescribeSignalingChannel</code> API to determine the status of the resource. </p> </li> </ol>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>The caller is not authorized to perform this operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "VersionMismatchException",
        "documentation" : "<p>The stream version that you specified is not the latest version. To get the latest version, use the <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_DescribeStream.html\">DescribeStream</a> API.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateStreamRequest",
        "variableName" : "updateStreamRequest",
        "variableType" : "UpdateStreamRequest",
        "documentation" : "",
        "simpleType" : "UpdateStreamRequest",
        "variableSetterType" : "UpdateStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateStream",
      "operationName" : "UpdateStream",
      "returnType" : {
        "returnType" : "UpdateStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateStreamResult"
    }
  },
  "shapes" : {
    "APIName" : {
      "c2jName" : "APIName",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "PUT_MEDIA",
        "value" : "PUT_MEDIA"
      }, {
        "name" : "GET_MEDIA",
        "value" : "GET_MEDIA"
      }, {
        "name" : "LIST_FRAGMENTS",
        "value" : "LIST_FRAGMENTS"
      }, {
        "name" : "GET_MEDIA_FOR_FRAGMENT_LIST",
        "value" : "GET_MEDIA_FOR_FRAGMENT_LIST"
      }, {
        "name" : "GET_HLS_STREAMING_SESSION_URL",
        "value" : "GET_HLS_STREAMING_SESSION_URL"
      }, {
        "name" : "GET_DASH_STREAMING_SESSION_URL",
        "value" : "GET_DASH_STREAMING_SESSION_URL"
      }, {
        "name" : "GET_CLIP",
        "value" : "GET_CLIP"
      }, {
        "name" : "GET_IMAGES",
        "value" : "GET_IMAGES"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideo.enum.APIName",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.kinesisvideo.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "APIName",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "APIName",
        "variableName" : "aPIName",
        "variableType" : "APIName",
        "documentation" : null,
        "simpleType" : "APIName",
        "variableSetterType" : "APIName"
      },
      "wrapper" : false
    },
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have required permissions to perform this operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideo.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.kinesisvideo.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountChannelLimitExceededException" : {
      "c2jName" : "AccountChannelLimitExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You have reached the maximum limit of active signaling channels for this Amazon Web Services account in this region.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccountChannelLimitExceededException",
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideo.exception.AccountChannelLimitExceededException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.kinesisvideo.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccountChannelLimitExceededException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountChannelLimitExceededException",
        "variableName" : "accountChannelLimitExceededException",
        "variableType" : "AccountChannelLimitExceededException",
        "documentation" : null,
        "simpleType" : "AccountChannelLimitExceededException",
        "variableSetterType" : "AccountChannelLimitExceededException"
      },
      "wrapper" : false
    },
    "AccountStreamLimitExceededException" : {
      "c2jName" : "AccountStreamLimitExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The number of streams created for the account is too high.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccountStreamLimitExceededException",
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideo.exception.AccountStreamLimitExceededException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.kinesisvideo.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccountStreamLimitExceededException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountStreamLimitExceededException",
        "variableName" : "accountStreamLimitExceededException",
        "variableType" : "AccountStreamLimitExceededException",
        "documentation" : null,
        "simpleType" : "AccountStreamLimitExceededException",
        "variableSetterType" : "AccountStreamLimitExceededException"
      },
      "wrapper" : false
    },
    "ChannelInfo" : {
      "c2jName" : "ChannelInfo",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A structure that encapsulates a signaling channel's metadata and properties.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.kinesisvideo.model.ChannelInfo",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ChannelName",
        "c2jShape" : "ChannelName",
        "deprecated" : false,
        "documentation" : "<p>The name of the signaling channel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the signaling channel.</p>\n@param channelName The name of the signaling channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChannelName",
[...]
