{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "CreateKeyRequest" : [ "KeyUsage", "Origin" ],
      "GenerateDataKeyRequest" : [ "KeySpec" ],
      "GenerateDataKeyWithoutPlaintextRequest" : [ "KeySpec" ],
      "GetParametersForImportRequest" : [ "WrappingAlgorithm", "WrappingKeySpec" ],
      "ImportKeyMaterialRequest" : [ "ExpirationModel" ],
      "KeyMetadata" : [ "KeyUsage", "KeyState", "Origin", "ExpirationModel", "KeyManager" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "CreateKey" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "GenerateRandom" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListAliases" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListKeys" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "RetireGrant" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2014-11-01",
    "asyncClient" : "AWSKMSAsyncClient",
    "asyncClientBuilderClassName" : "AWSKMSAsyncClientBuilder",
    "asyncInterface" : "AWSKMSAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSKMSModuleInjector",
    "defaultEndpoint" : "https://kms.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "kms.us-east-1.amazonaws.com/",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Key Management Service</fullname> <p>AWS Key Management Service (AWS KMS) is an encryption and key management web service. This guide describes the AWS KMS operations that you can call programmatically. For general information about AWS KMS, see the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/\"> <i>AWS Key Management Service Developer Guide</i> </a>.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .Net, macOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWS KMS and other AWS services. For example, the SDKs take care of tasks such as signing requests (see below), managing errors, and retrying requests automatically. For more information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls to AWS KMS.</p> <p>Clients must support TLS (Transport Layer Security) 1.0. We recommend TLS 1.2. Clients must also support cipher suites with Perfect Forward Secrecy (PFS) such as Ephemeral Diffie-Hellman (DHE) or Elliptic Curve Ephemeral Diffie-Hellman (ECDHE). Most modern systems such as Java 7 and later support these modes.</p> <p> <b>Signing Requests</b> </p> <p>Requests must be signed by using an access key ID and a secret access key. We strongly recommend that you <i>do not</i> use your AWS account (root) access key ID and secret key for everyday work with AWS KMS. Instead, use the access key ID and secret access key for an IAM user. You can also use the AWS Security Token Service to generate temporary security credentials that you can use to sign requests.</p> <p>All AWS KMS operations require <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> <p> <b>Logging API Requests</b> </p> <p>AWS KMS supports AWS CloudTrail, a service that logs AWS API calls and related events for your AWS account and delivers them to an Amazon S3 bucket that you specify. By using the information collected by CloudTrail, you can determine what requests were made to AWS KMS, who made the request, when it was made, and so on. To learn more about CloudTrail, including how to turn it on and find your log files, see the <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/\">AWS CloudTrail User Guide</a>.</p> <p> <b>Additional Resources</b> </p> <p>For more information about credentials and request signing, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS Security Credentials</a> - This topic provides general information about the types of credentials used for accessing AWS.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html\">Temporary Security Credentials</a> - This section of the <i>IAM User Guide</i> describes how to create and use temporary security credentials.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> - This set of topics walks you through the process of signing a request using an access key ID and a secret access key.</p> </li> </ul> <p> <b>Commonly Used API Operations</b> </p> <p>Of the API operations discussed in this guide, the following will prove the most useful for most applications. You will likely perform operations other than these, such as creating keys and assigning policies, by using the console.</p> <ul> <li> <p> <a>Encrypt</a> </p> </li> <li> <p> <a>Decrypt</a> </p> </li> <li> <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a> </p> </li> </ul>",
    "endpointPrefix" : "kms",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kms",
    "packagePath" : "com/amazonaws/services/kms",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "KMS",
    "serviceFullName" : "AWS Key Management Service",
    "serviceId" : "KMS",
    "serviceName" : "KMS",
    "signingName" : "kms",
    "smokeTestsPackageName" : "com.amazonaws.services.kms.smoketests",
    "syncClient" : "AWSKMSClient",
    "syncClientBuilderClassName" : "AWSKMSClientBuilder",
    "syncInterface" : "AWSKMS",
    "uid" : "kms-2014-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelKeyDeletion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelKeyDeletionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelKeyDeletionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelKeyDeletionRequest, CancelKeyDeletionResult>",
      "asyncReturnType" : "CancelKeyDeletionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the deletion of a customer master key (CMK). When this operation succeeds, the key state of the CMK is <code>Disabled</code>. To enable the CMK, use <a>EnableKey</a>. You cannot perform this operation on a CMK in a different AWS account.</p> <p>For more information about scheduling and canceling deletion of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html\">Deleting Customer Master Keys</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>The CMK that you use for this operation must be in a compatible key state. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN, or an ARN in a key policy, is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelKeyDeletionRequest",
        "variableName" : "cancelKeyDeletionRequest",
        "variableType" : "CancelKeyDeletionRequest",
        "documentation" : "",
        "simpleType" : "CancelKeyDeletionRequest",
        "variableSetterType" : "CancelKeyDeletionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelKeyDeletion",
      "operationName" : "CancelKeyDeletion",
      "returnType" : {
        "returnType" : "CancelKeyDeletionResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelKeyDeletionResult"
    },
    "ConnectCustomKeyStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConnectCustomKeyStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConnectCustomKeyStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConnectCustomKeyStoreRequest, ConnectCustomKeyStoreResult>",
      "asyncReturnType" : "ConnectCustomKeyStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Connects or reconnects a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> to its associated AWS CloudHSM cluster.</p> <p>The custom key store must be connected before you can create customer master keys (CMKs) in the key store or use the CMKs it contains. You can disconnect and reconnect a custom key store at any time.</p> <p>To connect a custom key store, its associated AWS CloudHSM cluster must have at least one active HSM. To get the number of active HSMs in a cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation. To add HSMs to the cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation. Also, the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-store-concepts.html#concept-kmsuser\"> <code>kmsuser</code> crypto user</a> (CU) must not be logged into the cluster. This prevents AWS KMS from using this account to log in.</p> <p>The connection process can take an extended amount of time to complete; up to 20 minutes. This operation starts the connection process, but it does not wait for it to complete. When it succeeds, this operation quickly returns an HTTP 200 response and a JSON object with no properties. However, this response does not indicate that the custom key store is connected. To get the connection state of the custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p> <p>During the connection process, AWS KMS finds the AWS CloudHSM cluster that is associated with the custom key store, creates the connection infrastructure, connects to the cluster, logs into the AWS CloudHSM client as the <code>kmsuser</code> CU, and rotates its password.</p> <p>The <code>ConnectCustomKeyStore</code> operation might fail for various reasons. To find the reason, use the <a>DescribeCustomKeyStores</a> operation and see the <code>ConnectionErrorCode</code> in the response. For help interpreting the <code>ConnectionErrorCode</code>, see <a>CustomKeyStoresListEntry</a>.</p> <p>To fix the failure, use the <a>DisconnectCustomKeyStore</a> operation to disconnect the custom key store, correct the error, use the <a>UpdateCustomKeyStore</a> operation if necessary, and then use <code>ConnectCustomKeyStore</code> again.</p> <p>If you are having trouble connecting or disconnecting a custom key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting a Custom Key Store</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmClusterNotActiveException",
        "documentation" : "<p>The request was rejected because the AWS CloudHSM cluster that is associated with the custom key store is not active. Initialize and activate the cluster and try the command again. For detailed instructions, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/getting-started.html\">Getting Started</a> in the <i>AWS CloudHSM User Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreInvalidStateException",
        "documentation" : "<p>The request was rejected because of the <code>ConnectionState</code> of the custom key store. To get the <code>ConnectionState</code> of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p> <p>This exception is thrown under the following conditions:</p> <ul> <li> <p>You requested the <a>CreateKey</a> or <a>GenerateRandom</a> operation in a custom key store that is not connected. These operations are valid only when the custom key store <code>ConnectionState</code> is <code>CONNECTED</code>.</p> </li> <li> <p>You requested the <a>UpdateCustomKeyStore</a> or <a>DeleteCustomKeyStore</a> operation on a custom key store that is not disconnected. This operation is valid only when the custom key store <code>ConnectionState</code> is <code>DISCONNECTED</code>.</p> </li> <li> <p>You requested the <a>ConnectCustomKeyStore</a> operation on a custom key store with a <code>ConnectionState</code> of <code>DISCONNECTING</code> or <code>FAILED</code>. This operation is valid for all other <code>ConnectionState</code> values.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified key store name or ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmClusterInvalidConfigurationException",
        "documentation" : "<p>The request was rejected because the associated AWS CloudHSM cluster did not meet the configuration requirements for a custom key store.</p> <ul> <li> <p>The cluster must be configured with private subnets in at least two different Availability Zones in the Region.</p> </li> <li> <p>The <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">security group for the cluster</a> (cloudhsm-cluster-<i>&lt;cluster-id&gt;</i>-sg) must include inbound rules and outbound rules that allow TCP traffic on ports 2223-2225. The <b>Source</b> in the inbound rules and the <b>Destination</b> in the outbound rules must match the security group ID. These rules are set by default when you create the cluster. Do not delete or change them. To get information about a particular security group, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSecurityGroups.html\">DescribeSecurityGroups</a> operation.</p> </li> <li> <p>The cluster must contain at least as many HSMs as the operation requires. To add HSMs, use the AWS CloudHSM <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation.</p> <p>For the <a>CreateCustomKeyStore</a>, <a>UpdateCustomKeyStore</a>, and <a>CreateKey</a> operations, the AWS CloudHSM cluster must have at least two active HSMs, each in a different Availability Zone. For the <a>ConnectCustomKeyStore</a> operation, the AWS CloudHSM must contain at least one active HSM.</p> </li> </ul> <p>For information about the requirements for an AWS CloudHSM cluster that is associated with a custom key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Assemble the Prerequisites</a> in the <i>AWS Key Management Service Developer Guide</i>. For information about creating a private subnet for an AWS CloudHSM cluster, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/create-subnets.html\">Create a Private Subnet</a> in the <i>AWS CloudHSM User Guide</i>. For information about cluster security groups, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">Configure a Default Security Group</a> in the <i> <i>AWS CloudHSM User Guide</i> </i>. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConnectCustomKeyStoreRequest",
        "variableName" : "connectCustomKeyStoreRequest",
        "variableType" : "ConnectCustomKeyStoreRequest",
        "documentation" : "",
        "simpleType" : "ConnectCustomKeyStoreRequest",
        "variableSetterType" : "ConnectCustomKeyStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "connectCustomKeyStore",
      "operationName" : "ConnectCustomKeyStore",
      "returnType" : {
        "returnType" : "ConnectCustomKeyStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "ConnectCustomKeyStoreResult"
    },
    "CreateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "asyncReturnType" : "CreateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a display name for a customer managed customer master key (CMK). You can use an alias to identify a CMK in cryptographic operations, such as <a>Encrypt</a> and <a>GenerateDataKey</a>. You can change the CMK associated with the alias at any time.</p> <p>Aliases are easier to remember than key IDs. They can also help to simplify your applications. For example, if you use an alias in your code, you can change the CMK your code uses by associating a given alias with a different CMK. </p> <p>To run the same code in multiple AWS regions, use an alias in your code, such as <code>alias/ApplicationKey</code>. Then, in each AWS Region, create an <code>alias/ApplicationKey</code> alias that is associated with a CMK in that Region. When you run your code, it uses the <code>alias/ApplicationKey</code> CMK for that AWS Region without any Region-specific code.</p> <p>This operation does not return a response. To get the alias that you created, use the <a>ListAliases</a> operation.</p> <p>To use aliases successfully, be aware of the following information.</p> <ul> <li> <p>Each alias points to only one CMK at a time, although a single CMK can have multiple aliases. The alias and its associated CMK must be in the same AWS account and Region. </p> </li> <li> <p>You can associate an alias with any customer managed CMK in the same AWS account and Region. However, you do not have permission to associate an alias with an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">AWS managed CMK</a> or an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-owned-cmk\">AWS owned CMK</a>. </p> </li> <li> <p>To change the CMK associated with an alias, use the <a>UpdateAlias</a> operation. The current CMK and the new CMK must be the same type (both symmetric or both asymmetric) and they must have the same key usage (<code>ENCRYPT_DECRYPT</code> or <code>SIGN_VERIFY</code>). This restriction prevents cryptographic errors in code that uses aliases.</p> </li> <li> <p>The alias name must begin with <code>alias/</code> followed by a name, such as <code>alias/ExampleAlias</code>. It can contain only alphanumeric characters, forward slashes (/), underscores (_), and dashes (-). The alias name cannot begin with <code>alias/aws/</code>. The <code>alias/aws/</code> prefix is reserved for <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">AWS managed CMKs</a>. </p> </li> <li> <p>The alias name must be unique within an AWS Region. However, you can use the same alias name in multiple Regions of the same AWS account. Each instance of the alias is associated with a CMK in its Region.</p> </li> <li> <p>After you create an alias, you cannot change its alias name. However, you can use the <a>DeleteAlias</a> operation to delete the alias and then create a new alias with the desired name.</p> </li> <li> <p>You can use an alias name or alias ARN to identify a CMK in AWS KMS cryptographic operations and in the <a>DescribeKey</a> operation. However, you cannot use alias names or alias ARNs in API operations that manage CMKs, such as <a>DisableKey</a> or <a>GetKeyPolicy</a>. For information about the valid CMK identifiers for each AWS KMS API operation, see the descriptions of the <code>KeyId</code> parameter in the API operation documentation.</p> </li> </ul> <p>Because an alias is not a property of a CMK, you can delete and change the aliases of a CMK without affecting the CMK. Also, aliases do not appear in the response from the <a>DescribeKey</a> operation. To get the aliases and alias ARNs of CMKs in each AWS account and Region, use the <a>ListAliases</a> operation.</p> <p>The CMK that you use for this operation must be in a compatible key state. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The request was rejected because it attempted to create a resource that already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAliasNameException",
        "documentation" : "<p>The request was rejected because the specified alias name is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a quota was exceeded. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Quotas</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAliasRequest",
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "documentation" : "",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlias",
      "operationName" : "CreateAlias",
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAliasResult"
    },
    "CreateCustomKeyStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCustomKeyStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCustomKeyStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCustomKeyStoreRequest, CreateCustomKeyStoreResult>",
      "asyncReturnType" : "CreateCustomKeyStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> that is associated with an <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/clusters.html\">AWS CloudHSM cluster</a> that you own and manage.</p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which combines the convenience and extensive integration of AWS KMS with the isolation and control of a single-tenant key store.</p> <p>Before you create the custom key store, you must assemble the required elements, including an AWS CloudHSM cluster that fulfills the requirements for a custom key store. For details about the required elements, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Assemble the Prerequisites</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>When the operation completes successfully, it returns the ID of the new custom key store. Before you can use your new custom key store, you need to use the <a>ConnectCustomKeyStore</a> operation to connect the new key store to its AWS CloudHSM cluster. Even if you are not going to use your custom key store immediately, you might want to connect it to verify that all settings are correct and then disconnect it until you are ready to use it.</p> <p>For help with failures, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting a Custom Key Store</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmClusterInUseException",
        "documentation" : "<p>The request was rejected because the specified AWS CloudHSM cluster is already associated with a custom key store or it shares a backup history with a cluster that is associated with a custom key store. Each custom key store must be associated with a different AWS CloudHSM cluster.</p> <p>Clusters that share a backup history have the same cluster certificate. To view the cluster certificate of a cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreNameInUseException",
        "documentation" : "<p>The request was rejected because the specified custom key store name is already assigned to another custom key store in the account. Try again with a custom key store name that is unique in the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmClusterNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find the AWS CloudHSM cluster with the specified cluster ID. Retry the request with a different cluster ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmClusterNotActiveException",
        "documentation" : "<p>The request was rejected because the AWS CloudHSM cluster that is associated with the custom key store is not active. Initialize and activate the cluster and try the command again. For detailed instructions, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/getting-started.html\">Getting Started</a> in the <i>AWS CloudHSM User Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncorrectTrustAnchorException",
        "documentation" : "<p>The request was rejected because the trust anchor certificate in the request is not the trust anchor certificate for the specified AWS CloudHSM cluster.</p> <p>When you <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/initialize-cluster.html#sign-csr\">initialize the cluster</a>, you create the trust anchor certificate and save it in the <code>customerCA.crt</code> file.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmClusterInvalidConfigurationException",
        "documentation" : "<p>The request was rejected because the associated AWS CloudHSM cluster did not meet the configuration requirements for a custom key store.</p> <ul> <li> <p>The cluster must be configured with private subnets in at least two different Availability Zones in the Region.</p> </li> <li> <p>The <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">security group for the cluster</a> (cloudhsm-cluster-<i>&lt;cluster-id&gt;</i>-sg) must include inbound rules and outbound rules that allow TCP traffic on ports 2223-2225. The <b>Source</b> in the inbound rules and the <b>Destination</b> in the outbound rules must match the security group ID. These rules are set by default when you create the cluster. Do not delete or change them. To get information about a particular security group, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSecurityGroups.html\">DescribeSecurityGroups</a> operation.</p> </li> <li> <p>The cluster must contain at least as many HSMs as the operation requires. To add HSMs, use the AWS CloudHSM <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation.</p> <p>For the <a>CreateCustomKeyStore</a>, <a>UpdateCustomKeyStore</a>, and <a>CreateKey</a> operations, the AWS CloudHSM cluster must have at least two active HSMs, each in a different Availability Zone. For the <a>ConnectCustomKeyStore</a> operation, the AWS CloudHSM must contain at least one active HSM.</p> </li> </ul> <p>For information about the requirements for an AWS CloudHSM cluster that is associated with a custom key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Assemble the Prerequisites</a> in the <i>AWS Key Management Service Developer Guide</i>. For information about creating a private subnet for an AWS CloudHSM cluster, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/create-subnets.html\">Create a Private Subnet</a> in the <i>AWS CloudHSM User Guide</i>. For information about cluster security groups, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">Configure a Default Security Group</a> in the <i> <i>AWS CloudHSM User Guide</i> </i>. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCustomKeyStoreRequest",
        "variableName" : "createCustomKeyStoreRequest",
        "variableType" : "CreateCustomKeyStoreRequest",
        "documentation" : "",
        "simpleType" : "CreateCustomKeyStoreRequest",
        "variableSetterType" : "CreateCustomKeyStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCustomKeyStore",
      "operationName" : "CreateCustomKeyStore",
      "returnType" : {
        "returnType" : "CreateCustomKeyStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCustomKeyStoreResult"
    },
    "CreateGrant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGrantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGrantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGrantRequest, CreateGrantResult>",
      "asyncReturnType" : "CreateGrantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a grant to a customer master key (CMK). The grant allows the grantee principal to use the CMK when the conditions specified in the grant are met. When setting permissions, grants are an alternative to key policies. </p> <p>To create a grant that allows a cryptographic operation only when the request includes a particular <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">encryption context</a>, use the <code>Constraints</code> parameter. For details, see <a>GrantConstraints</a>.</p> <p>You can create grants on symmetric and asymmetric CMKs. However, if the grant allows an operation that the CMK does not support, <code>CreateGrant</code> fails with a <code>ValidationException</code>. </p> <ul> <li> <p>Grants for symmetric CMKs cannot allow operations that are not supported for symmetric CMKs, including <a>Sign</a>, <a>Verify</a>, and <a>GetPublicKey</a>. (There are limited exceptions to this rule for legacy operations, but you should not create a grant for an operation that AWS KMS does not support.)</p> </li> <li> <p>Grants for asymmetric CMKs cannot allow operations that are not supported for asymmetric CMKs, including operations that <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_GenerateDataKey\">generate data keys</a> or <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_GenerateDataKeyPair\">data key pairs</a>, or operations related to <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html\">automatic key rotation</a>, <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">imported key material</a>, or CMKs in <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key stores</a>.</p> </li> <li> <p>Grants for asymmetric CMKs with a <code>KeyUsage</code> of <code>ENCRYPT_DECRYPT</code> cannot allow the <a>Sign</a> or <a>Verify</a> operations. Grants for asymmetric CMKs with a <code>KeyUsage</code> of <code>SIGN_VERIFY</code> cannot allow the <a>Encrypt</a> or <a>Decrypt</a> operations.</p> </li> <li> <p>Grants for asymmetric CMKs cannot include an encryption context grant constraint. An encryption context is not supported on asymmetric CMKs.</p> </li> </ul> <p>For information about symmetric and asymmetric CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric CMKs</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN in the value of the <code>KeyId</code> parameter. For more information about grants, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html\">Grants</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p> <p>The CMK that you use for this operation must be in a compatible key state. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN, or an ARN in a key policy, is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a quota was exceeded. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Quotas</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGrantRequest",
        "variableName" : "createGrantRequest",
        "variableType" : "CreateGrantRequest",
        "documentation" : "",
        "simpleType" : "CreateGrantRequest",
        "variableSetterType" : "CreateGrantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGrant",
      "operationName" : "CreateGrant",
      "returnType" : {
        "returnType" : "CreateGrantResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGrantResult"
    },
    "CreateKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKeyRequest, CreateKeyResult>",
      "asyncReturnType" : "CreateKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a unique customer managed <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master-keys\">customer master key</a> (CMK) in your AWS account and Region. You cannot use this operation to create a CMK in a different AWS account.</p> <p>You can use the <code>CreateKey</code> operation to create symmetric or asymmetric CMKs.</p> <ul> <li> <p> <b>Symmetric CMKs</b> contain a 256-bit symmetric key that never leaves AWS KMS unencrypted. To use the CMK, you must call AWS KMS. You can use a symmetric CMK to encrypt and decrypt small amounts of data, but they are typically used to generate <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#data-keys\">data keys</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#data-key-pairs\">data keys pairs</a>. For details, see <a>GenerateDataKey</a> and <a>GenerateDataKeyPair</a>.</p> </li> <li> <p> <b>Asymmetric CMKs</b> can contain an RSA key pair or an Elliptic Curve (ECC) key pair. The private key in an asymmetric CMK never leaves AWS KMS unencrypted. However, you can use the <a>GetPublicKey</a> operation to download the public key so it can be used outside of AWS KMS. CMKs with RSA key pairs can be used to encrypt or decrypt data or sign and verify messages (but not both). CMKs with ECC key pairs can be used only to sign and verify messages.</p> </li> </ul> <p>For information about symmetric and asymmetric CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric CMKs</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>To create different types of CMKs, use the following guidance:</p> <dl> <dt>Asymmetric CMKs</dt> <dd> <p>To create an asymmetric CMK, use the <code>CustomerMasterKeySpec</code> parameter to specify the type of key material in the CMK. Then, use the <code>KeyUsage</code> parameter to determine whether the CMK will be used to encrypt and decrypt or sign and verify. You can't change these properties after the CMK is created.</p> <p> </p> </dd> <dt>Symmetric CMKs</dt> <dd> <p>When creating a symmetric CMK, you don't need to specify the <code>CustomerMasterKeySpec</code> or <code>KeyUsage</code> parameters. The default value for <code>CustomerMasterKeySpec</code>, <code>SYMMETRIC_DEFAULT</code>, and the default value for <code>KeyUsage</code>, <code>ENCRYPT_DECRYPT</code>, are the only valid values for symmetric CMKs. </p> <p> </p> </dd> <dt>Imported Key Material</dt> <dd> <p>To import your own key material, begin by creating a symmetric CMK with no key material. To do this, use the <code>Origin</code> parameter of <code>CreateKey</code> with a value of <code>EXTERNAL</code>. Next, use <a>GetParametersForImport</a> operation to get a public key and import token, and use the public key to encrypt your key material. Then, use <a>ImportKeyMaterial</a> with your import token to import the key material. For step-by-step instructions, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>. You cannot import the key material into an asymmetric CMK.</p> <p> </p> </dd> <dt>Custom Key Stores</dt> <dd> <p>To create a symmetric CMK in a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a>, use the <code>CustomKeyStoreId</code> parameter to specify the custom key store. You must also use the <code>Origin</code> parameter with a value of <code>AWS_CLOUDHSM</code>. The AWS CloudHSM cluster that is associated with the custom key store must have at least two active HSMs in different Availability Zones in the AWS Region. </p> <p>You cannot create an asymmetric CMK in a custom key store. For information about custom key stores in AWS KMS see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Using Custom Key Stores</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p> </dd> </dl>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedPolicyDocumentException",
        "documentation" : "<p>The request was rejected because the specified policy is not syntactically or semantically correct.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN, or an ARN in a key policy, is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a quota was exceeded. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Quotas</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagException",
        "documentation" : "<p>The request was rejected because one or more tags are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified key store name or ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreInvalidStateException",
        "documentation" : "<p>The request was rejected because of the <code>ConnectionState</code> of the custom key store. To get the <code>ConnectionState</code> of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p> <p>This exception is thrown under the following conditions:</p> <ul> <li> <p>You requested the <a>CreateKey</a> or <a>GenerateRandom</a> operation in a custom key store that is not connected. These operations are valid only when the custom key store <code>ConnectionState</code> is <code>CONNECTED</code>.</p> </li> <li> <p>You requested the <a>UpdateCustomKeyStore</a> or <a>DeleteCustomKeyStore</a> operation on a custom key store that is not disconnected. This operation is valid only when the custom key store <code>ConnectionState</code> is <code>DISCONNECTED</code>.</p> </li> <li> <p>You requested the <a>ConnectCustomKeyStore</a> operation on a custom key store with a <code>ConnectionState</code> of <code>DISCONNECTING</code> or <code>FAILED</code>. This operation is valid for all other <code>ConnectionState</code> values.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmClusterInvalidConfigurationException",
        "documentation" : "<p>The request was rejected because the associated AWS CloudHSM cluster did not meet the configuration requirements for a custom key store.</p> <ul> <li> <p>The cluster must be configured with private subnets in at least two different Availability Zones in the Region.</p> </li> <li> <p>The <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">security group for the cluster</a> (cloudhsm-cluster-<i>&lt;cluster-id&gt;</i>-sg) must include inbound rules and outbound rules that allow TCP traffic on ports 2223-2225. The <b>Source</b> in the inbound rules and the <b>Destination</b> in the outbound rules must match the security group ID. These rules are set by default when you create the cluster. Do not delete or change them. To get information about a particular security group, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSecurityGroups.html\">DescribeSecurityGroups</a> operation.</p> </li> <li> <p>The cluster must contain at least as many HSMs as the operation requires. To add HSMs, use the AWS CloudHSM <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation.</p> <p>For the <a>CreateCustomKeyStore</a>, <a>UpdateCustomKeyStore</a>, and <a>CreateKey</a> operations, the AWS CloudHSM cluster must have at least two active HSMs, each in a different Availability Zone. For the <a>ConnectCustomKeyStore</a> operation, the AWS CloudHSM must contain at least one active HSM.</p> </li> </ul> <p>For information about the requirements for an AWS CloudHSM cluster that is associated with a custom key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Assemble the Prerequisites</a> in the <i>AWS Key Management Service Developer Guide</i>. For information about creating a private subnet for an AWS CloudHSM cluster, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/create-subnets.html\">Create a Private Subnet</a> in the <i>AWS CloudHSM User Guide</i>. For information about cluster security groups, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">Configure a Default Security Group</a> in the <i> <i>AWS CloudHSM User Guide</i> </i>. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateKeyRequest",
        "variableName" : "createKeyRequest",
        "variableType" : "CreateKeyRequest",
        "documentation" : "",
        "simpleType" : "CreateKeyRequest",
        "variableSetterType" : "CreateKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKey",
      "operationName" : "CreateKey",
      "returnType" : {
        "returnType" : "CreateKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKeyResult"
    },
    "Decrypt" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DecryptResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DecryptResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DecryptRequest, DecryptResult>",
      "asyncReturnType" : "DecryptResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Decrypts ciphertext that was encrypted by a AWS KMS customer master key (CMK) using any of the following operations:</p> <ul> <li> <p> <a>Encrypt</a> </p> </li> <li> <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyPair</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a> </p> </li> <li> <p> <a>GenerateDataKeyPairWithoutPlaintext</a> </p> </li> </ul> <p>You can use this operation to decrypt ciphertext that was encrypted under a symmetric or asymmetric CMK. When the CMK is asymmetric, you must specify the CMK and the encryption algorithm that was used to encrypt the ciphertext. For information about symmetric and asymmetric CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric CMKs</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>The Decrypt operation also decrypts ciphertext that was encrypted outside of AWS KMS by the public key in an AWS KMS asymmetric CMK. However, it cannot decrypt ciphertext produced by other libraries, such as the <a href=\"https://docs.aws.amazon.com/encryption-sdk/latest/developer-guide/\">AWS Encryption SDK</a> or <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingClientSideEncryption.html\">Amazon S3 client-side encryption</a>. These libraries return a ciphertext format that is incompatible with AWS KMS.</p> <p>If the ciphertext was encrypted under a symmetric CMK, you do not need to specify the CMK or the encryption algorithm. AWS KMS can get this information from metadata that it adds to the symmetric ciphertext blob. However, if you prefer, you can specify the <code>KeyId</code> to ensure that a particular CMK is used to decrypt the ciphertext. If you specify a different CMK than the one used to encrypt the ciphertext, the <code>Decrypt</code> operation fails.</p> <p>Whenever possible, use key policies to give users permission to call the Decrypt operation on a particular CMK, instead of using IAM policies. Otherwise, you might create an IAM user policy that gives the user Decrypt permission on all CMKs. This user could decrypt ciphertext that was encrypted by CMKs in other accounts if the key policy for the cross-account CMK permits it. If you must use an IAM policy for <code>Decrypt</code> permissions, limit the user to particular CMKs or particular trusted accounts.</p> <p>The CMK that you use for this operation must be in a compatible key state. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCiphertextException",
        "documentation" : "<p>From the <a>Decrypt</a> or <a>ReEncrypt</a> operation, the request was rejected because the specified ciphertext, or additional authenticated data incorporated into the ciphertext, such as the encryption context, is corrupted, missing, or otherwise invalid.</p> <p>From the <a>ImportKeyMaterial</a> operation, the request was rejected because AWS KMS could not decrypt the encrypted (wrapped) key material. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the specified CMK was not available. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncorrectKeyException",
        "documentation" : "<p>The request was rejected because the specified CMK cannot decrypt the data. The <code>KeyId</code> in a <a>Decrypt</a> request and the <code>SourceKeyId</code> in a <a>ReEncrypt</a> request must identify the same CMK that was used to encrypt the ciphertext.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidKeyUsageException",
        "documentation" : "<p>The request was rejected for one of the following reasons: </p> <ul> <li> <p>The <code>KeyUsage</code> value of the CMK is incompatible with the API operation.</p> </li> <li> <p>The encryption algorithm or signing algorithm specified for the operation is incompatible with the type of key material in the CMK <code>(CustomerMasterKeySpec</code>).</p> </li> </ul> <p>For encrypting, decrypting, re-encrypting, and generating data keys, the <code>KeyUsage</code> must be <code>ENCRYPT_DECRYPT</code>. For signing and verifying, the <code>KeyUsage</code> must be <code>SIGN_VERIFY</code>. To find the <code>KeyUsage</code> of a CMK, use the <a>DescribeKey</a> operation.</p> <p>To find the encryption or signing algorithms supported for a particular CMK, use the <a>DescribeKey</a> operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DecryptRequest",
        "variableName" : "decryptRequest",
        "variableType" : "DecryptRequest",
        "documentation" : "",
        "simpleType" : "DecryptRequest",
        "variableSetterType" : "DecryptRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "decrypt",
      "operationName" : "Decrypt",
      "returnType" : {
        "returnType" : "DecryptResult",
        "documentation" : null
      },
      "syncReturnType" : "DecryptResult"
    },
    "DeleteAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAliasRequest, DeleteAliasResult>",
      "asyncReturnType" : "DeleteAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified alias. You cannot perform this operation on an alias in a different AWS account. </p> <p>Because an alias is not a property of a CMK, you can delete and change the aliases of a CMK without affecting the CMK. Also, aliases do not appear in the response from the <a>DescribeKey</a> operation. To get the aliases of all CMKs, use the <a>ListAliases</a> operation. </p> <p>Each CMK can have multiple aliases. To change the alias of a CMK, use <a>DeleteAlias</a> to delete the current alias and <a>CreateAlias</a> to create a new alias. To associate an existing alias with a different customer master key (CMK), call <a>UpdateAlias</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAliasRequest",
        "variableName" : "deleteAliasRequest",
        "variableType" : "DeleteAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteAliasRequest",
        "variableSetterType" : "DeleteAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlias",
      "operationName" : "DeleteAlias",
      "returnType" : {
        "returnType" : "DeleteAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAliasResult"
    },
    "DeleteCustomKeyStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCustomKeyStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCustomKeyStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCustomKeyStoreRequest, DeleteCustomKeyStoreResult>",
      "asyncReturnType" : "DeleteCustomKeyStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a>. This operation does not delete the AWS CloudHSM cluster that is associated with the custom key store, or affect any users or keys in the cluster.</p> <p>The custom key store that you delete cannot contain any AWS KMS <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">customer master keys (CMKs)</a>. Before deleting the key store, verify that you will never need to use any of the CMKs in the key store for any cryptographic operations. Then, use <a>ScheduleKeyDeletion</a> to delete the AWS KMS customer master keys (CMKs) from the key store. When the scheduled waiting period expires, the <code>ScheduleKeyDeletion</code> operation deletes the CMKs. Then it makes a best effort to delete the key material from the associated cluster. However, you might need to manually <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html#fix-keystore-orphaned-key\">delete the orphaned key material</a> from the cluster and its backups.</p> <p>After all CMKs are deleted from AWS KMS, use <a>DisconnectCustomKeyStore</a> to disconnect the key store from AWS KMS. Then, you can delete the custom key store.</p> <p>Instead of deleting the custom key store, consider using <a>DisconnectCustomKeyStore</a> to disconnect it from AWS KMS. While the key store is disconnected, you cannot create or use the CMKs in the key store. But, you do not need to delete CMKs and you can reconnect a disconnected custom key store at any time.</p> <p>If the operation succeeds, it returns a JSON object with no properties.</p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which combines the convenience and extensive integration of AWS KMS with the isolation and control of a single-tenant key store.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CustomKeyStoreHasCMKsException",
        "documentation" : "<p>The request was rejected because the custom key store contains AWS KMS customer master keys (CMKs). After verifying that you do not need to use the CMKs, use the <a>ScheduleKeyDeletion</a> operation to delete the CMKs. After they are deleted, you can delete the custom key store.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreInvalidStateException",
        "documentation" : "<p>The request was rejected because of the <code>ConnectionState</code> of the custom key store. To get the <code>ConnectionState</code> of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p> <p>This exception is thrown under the following conditions:</p> <ul> <li> <p>You requested the <a>CreateKey</a> or <a>GenerateRandom</a> operation in a custom key store that is not connected. These operations are valid only when the custom key store <code>ConnectionState</code> is <code>CONNECTED</code>.</p> </li> <li> <p>You requested the <a>UpdateCustomKeyStore</a> or <a>DeleteCustomKeyStore</a> operation on a custom key store that is not disconnected. This operation is valid only when the custom key store <code>ConnectionState</code> is <code>DISCONNECTED</code>.</p> </li> <li> <p>You requested the <a>ConnectCustomKeyStore</a> operation on a custom key store with a <code>ConnectionState</code> of <code>DISCONNECTING</code> or <code>FAILED</code>. This operation is valid for all other <code>ConnectionState</code> values.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified key store name or ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCustomKeyStoreRequest",
        "variableName" : "deleteCustomKeyStoreRequest",
        "variableType" : "DeleteCustomKeyStoreRequest",
        "documentation" : "",
        "simpleType" : "DeleteCustomKeyStoreRequest",
        "variableSetterType" : "DeleteCustomKeyStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCustomKeyStore",
      "operationName" : "DeleteCustomKeyStore",
      "returnType" : {
        "returnType" : "DeleteCustomKeyStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCustomKeyStoreResult"
    },
    "DeleteImportedKeyMaterial" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImportedKeyMaterialResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImportedKeyMaterialResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImportedKeyMaterialRequest, DeleteImportedKeyMaterialResult>",
      "asyncReturnType" : "DeleteImportedKeyMaterialResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes key material that you previously imported. This operation makes the specified customer master key (CMK) unusable. For more information about importing key material into AWS KMS, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the <i>AWS Key Management Service Developer Guide</i>. You cannot perform this operation on a CMK in a different AWS account.</p> <p>When the specified CMK is in the <code>PendingDeletion</code> state, this operation does not change the CMK's state. Otherwise, it changes the CMK's state to <code>PendingImport</code>.</p> <p>After you delete key material, you can use <a>ImportKeyMaterial</a> to reimport the same key material into the CMK.</p> <p>The CMK that you use for this operation must be in a compatible key state. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN, or an ARN in a key policy, is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteImportedKeyMaterialRequest",
        "variableName" : "deleteImportedKeyMaterialRequest",
        "variableType" : "DeleteImportedKeyMaterialRequest",
        "documentation" : "",
        "simpleType" : "DeleteImportedKeyMaterialRequest",
        "variableSetterType" : "DeleteImportedKeyMaterialRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImportedKeyMaterial",
      "operationName" : "DeleteImportedKeyMaterial",
      "returnType" : {
        "returnType" : "DeleteImportedKeyMaterialResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImportedKeyMaterialResult"
    },
    "DescribeCustomKeyStores" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCustomKeyStoresResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCustomKeyStoresResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCustomKeyStoresRequest, DescribeCustomKeyStoresResult>",
      "asyncReturnType" : "DescribeCustomKeyStoresResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key stores</a> in the account and region.</p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which combines the convenience and extensive integration of AWS KMS with the isolation and control of a single-tenant key store.</p> <p>By default, this operation returns information about all custom key stores in the account and region. To get only information about a particular custom key store, use either the <code>CustomKeyStoreName</code> or <code>CustomKeyStoreId</code> parameter (but not both).</p> <p>To determine whether the custom key store is connected to its AWS CloudHSM cluster, use the <code>ConnectionState</code> element in the response. If an attempt to connect the custom key store failed, the <code>ConnectionState</code> value is <code>FAILED</code> and the <code>ConnectionErrorCode</code> element in the response indicates the cause of the failure. For help interpreting the <code>ConnectionErrorCode</code>, see <a>CustomKeyStoresListEntry</a>.</p> <p>Custom key stores have a <code>DISCONNECTED</code> connection state if the key store has never been connected or you use the <a>DisconnectCustomKeyStore</a> operation to disconnect it. If your custom key store state is <code>CONNECTED</code> but you are having trouble using it, make sure that its associated AWS CloudHSM cluster is active and contains the minimum number of HSMs required for the operation, if any.</p> <p> For help repairing your custom key store, see the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting Custom Key Stores</a> topic in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CustomKeyStoreNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified key store name or ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCustomKeyStoresRequest",
        "variableName" : "describeCustomKeyStoresRequest",
        "variableType" : "DescribeCustomKeyStoresRequest",
        "documentation" : "",
        "simpleType" : "DescribeCustomKeyStoresRequest",
        "variableSetterType" : "DescribeCustomKeyStoresRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCustomKeyStores",
      "operationName" : "DescribeCustomKeyStores",
      "returnType" : {
        "returnType" : "DescribeCustomKeyStoresResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCustomKeyStoresResult"
    },
    "DescribeKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeKeyRequest, DescribeKeyResult>",
      "asyncReturnType" : "DescribeKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides detailed information about a customer master key (CMK). You can run <code>DescribeKey</code> on a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#customer-cmk\">customer managed CMK</a> or an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">AWS managed CMK</a>.</p> <p>This detailed information includes the key ARN, creation date (and deletion date, if applicable), the key state, and the origin and expiration date (if any) of the key material. For CMKs in custom key stores, it includes information about the custom key store, such as the key store ID and the AWS CloudHSM cluster ID. It includes fields, like <code>KeySpec</code>, that help you distinguish symmetric from asymmetric CMKs. It also provides information that is particularly important to asymmetric CMKs, such as the key usage (encryption or signing) and the encryption algorithms or signing algorithms that the CMK supports.</p> <p> <code>DescribeKey</code> does not return the following information:</p> <ul> <li> <p>Aliases associated with the CMK. To get this information, use <a>ListAliases</a>.</p> </li> <li> <p>Whether automatic key rotation is enabled on the CMK. To get this information, use <a>GetKeyRotationStatus</a>. Also, some key states prevent a CMK from being automatically rotated. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html#rotate-keys-how-it-works\">How Automatic Key Rotation Works</a> in <i>AWS Key Management Service Developer Guide</i>.</p> </li> <li> <p>Tags on the CMK. To get this information, use <a>ListResourceTags</a>.</p> </li> <li> <p>Key policies and grants on the CMK. To get this information, use <a>GetKeyPolicy</a> and <a>ListGrants</a>.</p> </li> </ul> <p>If you call the <code>DescribeKey</code> operation on a <i>predefined AWS alias</i>, that is, an AWS alias with no key ID, AWS KMS creates an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">AWS managed CMK</a>. Then, it associates the alias with the new CMK, and returns the <code>KeyId</code> and <code>Arn</code> of the new CMK in the response.</p> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN or alias ARN in the value of the KeyId parameter.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN, or an ARN in a key policy, is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeKeyRequest",
        "variableName" : "describeKeyRequest",
        "variableType" : "DescribeKeyRequest",
        "documentation" : "",
        "simpleType" : "DescribeKeyRequest",
        "variableSetterType" : "DescribeKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeKey",
      "operationName" : "DescribeKey",
      "returnType" : {
        "returnType" : "DescribeKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeKeyResult"
    },
    "DisableKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableKeyRequest, DisableKeyResult>",
      "asyncReturnType" : "DisableKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the state of a customer master key (CMK) to disabled, thereby preventing its use for cryptographic operations. You cannot perform this operation on a CMK in a different AWS account.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p> <p>The CMK that you use for this operation must be in a compatible key state. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN, or an ARN in a key policy, is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableKeyRequest",
        "variableName" : "disableKeyRequest",
        "variableType" : "DisableKeyRequest",
        "documentation" : "",
        "simpleType" : "DisableKeyRequest",
        "variableSetterType" : "DisableKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableKey",
      "operationName" : "DisableKey",
      "returnType" : {
        "returnType" : "DisableKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableKeyResult"
    },
    "DisableKeyRotation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableKeyRotationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableKeyRotationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableKeyRotationRequest, DisableKeyRotationResult>",
      "asyncReturnType" : "DisableKeyRotationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html\">automatic rotation of the key material</a> for the specified symmetric customer master key (CMK).</p> <p> You cannot enable automatic rotation of asymmetric CMKs, CMKs with imported key material, or CMKs in a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a>. You cannot perform this operation on a CMK in a different AWS account.</p> <p>The CMK that you use for this operation must be in a compatible key state. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN, or an ARN in a key policy, is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableKeyRotationRequest",
        "variableName" : "disableKeyRotationRequest",
        "variableType" : "DisableKeyRotationRequest",
        "documentation" : "",
        "simpleType" : "DisableKeyRotationRequest",
        "variableSetterType" : "DisableKeyRotationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableKeyRotation",
      "operationName" : "DisableKeyRotation",
      "returnType" : {
        "returnType" : "DisableKeyRotationResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableKeyRotationResult"
    },
    "DisconnectCustomKeyStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisconnectCustomKeyStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisconnectCustomKeyStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisconnectCustomKeyStoreRequest, DisconnectCustomKeyStoreResult>",
      "asyncReturnType" : "DisconnectCustomKeyStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disconnects the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> from its associated AWS CloudHSM cluster. While a custom key store is disconnected, you can manage the custom key store and its customer master keys (CMKs), but you cannot create or use CMKs in the custom key store. You can reconnect the custom key store at any time.</p> <note> <p>While a custom key store is disconnected, all attempts to create customer master keys (CMKs) in the custom key store or to use existing CMKs in cryptographic operations will fail. This action can prevent users from storing and accessing sensitive data.</p> </note> <p/> <p>To find the connection state of a custom key store, use the <a>DescribeCustomKeyStores</a> operation. To reconnect a custom key store, use the <a>ConnectCustomKeyStore</a> operation.</p> <p>If the operation succeeds, it returns a JSON object with no properties.</p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which combines the convenience and extensive integration of AWS KMS with the isolation and control of a single-tenant key store.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CustomKeyStoreInvalidStateException",
        "documentation" : "<p>The request was rejected because of the <code>ConnectionState</code> of the custom key store. To get the <code>ConnectionState</code> of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p> <p>This exception is thrown under the following conditions:</p> <ul> <li> <p>You requested the <a>CreateKey</a> or <a>GenerateRandom</a> operation in a custom key store that is not connected. These operations are valid only when the custom key store <code>ConnectionState</code> is <code>CONNECTED</code>.</p> </li> <li> <p>You requested the <a>UpdateCustomKeyStore</a> or <a>DeleteCustomKeyStore</a> operation on a custom key store that is not disconnected. This operation is valid only when the custom key store <code>ConnectionState</code> is <code>DISCONNECTED</code>.</p> </li> <li> <p>You requested the <a>ConnectCustomKeyStore</a> operation on a custom key store with a <code>ConnectionState</code> of <code>DISCONNECTING</code> or <code>FAILED</code>. This operation is valid for all other <code>ConnectionState</code> values.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified key store name or ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisconnectCustomKeyStoreRequest",
        "variableName" : "disconnectCustomKeyStoreRequest",
        "variableType" : "DisconnectCustomKeyStoreRequest",
        "documentation" : "",
        "simpleType" : "DisconnectCustomKeyStoreRequest",
        "variableSetterType" : "DisconnectCustomKeyStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disconnectCustomKeyStore",
      "operationName" : "DisconnectCustomKeyStore",
      "returnType" : {
        "returnType" : "DisconnectCustomKeyStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "DisconnectCustomKeyStoreResult"
    },
    "EnableKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableKeyRequest, EnableKeyResult>",
      "asyncReturnType" : "EnableKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the key state of a customer master key (CMK) to enabled. This allows you to use the CMK for cryptographic operations. You cannot perform this operation on a CMK in a different AWS account.</p> <p>The CMK that you use for this operation must be in a compatible key state. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN, or an ARN in a key policy, is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a quota was exceeded. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Quotas</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableKeyRequest",
        "variableName" : "enableKeyRequest",
        "variableType" : "EnableKeyRequest",
        "documentation" : "",
        "simpleType" : "EnableKeyRequest",
        "variableSetterType" : "EnableKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableKey",
      "operationName" : "EnableKey",
      "returnType" : {
        "returnType" : "EnableKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableKeyResult"
    },
    "EnableKeyRotation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableKeyRotationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableKeyRotationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableKeyRotationRequest, EnableKeyRotationResult>",
      "asyncReturnType" : "EnableKeyRotationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html\">automatic rotation of the key material</a> for the specified symmetric customer master key (CMK). You cannot perform this operation on a CMK in a different AWS account.</p> <p>You cannot enable automatic rotation of asymmetric CMKs, CMKs with imported key material, or CMKs in a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a>.</p> <p>The CMK that you use for this operation must be in a compatible key state. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN, or an ARN in a key policy, is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i> <i>AWS Key Management Service Developer Guide</i> </i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableKeyRotationRequest",
        "variableName" : "enableKeyRotationRequest",
        "variableType" : "EnableKeyRotationRequest",
        "documentation" : "",
[...]
