{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "CreateKeyRequest" : [ "KeyUsage", "Origin" ],
      "GenerateDataKeyRequest" : [ "KeySpec" ],
      "GenerateDataKeyWithoutPlaintextRequest" : [ "KeySpec" ],
      "GetParametersForImportRequest" : [ "WrappingAlgorithm", "WrappingKeySpec" ],
      "ImportKeyMaterialRequest" : [ "ExpirationModel" ],
      "KeyMetadata" : [ "KeyUsage", "KeyState", "Origin", "ExpirationModel", "KeyManager" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "CreateKey" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "GenerateRandom" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListAliases" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListKeys" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "RetireGrant" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true
  },
  "metadata" : {
    "apiVersion" : "2014-11-01",
    "asyncClient" : "AWSKMSAsyncClient",
    "asyncClientBuilderClassName" : "AWSKMSAsyncClientBuilder",
    "asyncInterface" : "AWSKMSAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSKMSModuleInjector",
    "defaultEndpoint" : "https://kms.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "kms.us-east-1.amazonaws.com/",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Key Management Service</fullname> <p>AWS Key Management Service (AWS KMS) is an encryption and key management web service. This guide describes the AWS KMS operations that you can call programmatically. For general information about AWS KMS, see the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/\">AWS Key Management Service Developer Guide</a>.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .Net, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWS KMS and other AWS services. For example, the SDKs take care of tasks such as signing requests (see below), managing errors, and retrying requests automatically. For more information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls to AWS KMS.</p> <p>Clients must support TLS (Transport Layer Security) 1.0. We recommend TLS 1.2. Clients must also support cipher suites with Perfect Forward Secrecy (PFS) such as Ephemeral Diffie-Hellman (DHE) or Elliptic Curve Ephemeral Diffie-Hellman (ECDHE). Most modern systems such as Java 7 and later support these modes.</p> <p> <b>Signing Requests</b> </p> <p>Requests must be signed by using an access key ID and a secret access key. We strongly recommend that you <i>do not</i> use your AWS account (root) access key ID and secret key for everyday work with AWS KMS. Instead, use the access key ID and secret access key for an IAM user, or you can use the AWS Security Token Service to generate temporary security credentials that you can use to sign requests.</p> <p>All AWS KMS operations require <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> <p> <b>Logging API Requests</b> </p> <p>AWS KMS supports AWS CloudTrail, a service that logs AWS API calls and related events for your AWS account and delivers them to an Amazon S3 bucket that you specify. By using the information collected by CloudTrail, you can determine what requests were made to AWS KMS, who made the request, when it was made, and so on. To learn more about CloudTrail, including how to turn it on and find your log files, see the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/\">AWS CloudTrail User Guide</a>.</p> <p> <b>Additional Resources</b> </p> <p>For more information about credentials and request signing, see the following:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS Security Credentials</a> - This topic provides general information about the types of credentials used for accessing AWS.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html\">Temporary Security Credentials</a> - This section of the <i>IAM User Guide</i> describes how to create and use temporary security credentials.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> - This set of topics walks you through the process of signing a request using an access key ID and a secret access key.</p> </li> </ul> <p> <b>Commonly Used APIs</b> </p> <p>Of the APIs discussed in this guide, the following will prove the most useful for most applications. You will likely perform actions other than these, such as creating keys and assigning policies, by using the console.</p> <ul> <li> <p> <a>Encrypt</a> </p> </li> <li> <p> <a>Decrypt</a> </p> </li> <li> <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a> </p> </li> </ul>",
    "endpointPrefix" : "kms",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kms",
    "packagePath" : "com/amazonaws/services/kms",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "KMS",
    "serviceFullName" : "AWS Key Management Service",
    "serviceName" : "KMS",
    "signingName" : "kms",
    "smokeTestsPackageName" : "com.amazonaws.services.kms.smoketests",
    "syncClient" : "AWSKMSClient",
    "syncClientBuilderClassName" : "AWSKMSClientBuilder",
    "syncInterface" : "AWSKMS",
    "uid" : "kms-2014-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelKeyDeletion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelKeyDeletionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelKeyDeletionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelKeyDeletionRequest, CancelKeyDeletionResult>",
      "asyncReturnType" : "CancelKeyDeletionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the deletion of a customer master key (CMK). When this operation is successful, the CMK is set to the <code>Disabled</code> state. To enable a CMK, use <a>EnableKey</a>. You cannot perform this operation on a CMK in a different AWS account.</p> <p>For more information about scheduling and canceling deletion of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html\">Deleting Customer Master Keys</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelKeyDeletionRequest",
        "variableName" : "cancelKeyDeletionRequest",
        "variableType" : "CancelKeyDeletionRequest",
        "documentation" : "",
        "simpleType" : "CancelKeyDeletionRequest",
        "variableSetterType" : "CancelKeyDeletionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelKeyDeletion",
      "operationName" : "CancelKeyDeletion",
      "returnType" : {
        "returnType" : "CancelKeyDeletionResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelKeyDeletionResult"
    },
    "CreateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "asyncReturnType" : "CreateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a display name for a customer master key (CMK). You can use an alias to identify a CMK in selected operations, such as <a>Encrypt</a> and <a>GenerateDataKey</a>. </p> <p>Each CMK can have multiple aliases, but each alias points to only one CMK. The alias name must be unique in the AWS account and region. To simplify code that runs in multiple regions, use the same alias name, but point it to a different CMK in each region. </p> <p>Because an alias is not a property of a CMK, you can delete and change the aliases of a CMK without affecting the CMK. Also, aliases do not appear in the response from the <a>DescribeKey</a> operation. To get the aliases of all CMKs, use the <a>ListAliases</a> operation.</p> <p>An alias must start with the word <code>alias</code> followed by a forward slash (<code>alias/</code>). The alias name can contain only alphanumeric characters, forward slashes (/), underscores (_), and dashes (-). Alias names cannot begin with <code>aws</code>; that alias name prefix is reserved by Amazon Web Services (AWS).</p> <p>The alias and the CMK it is mapped to must be in the same AWS account and the same region. You cannot perform this operation on an alias in a different AWS account.</p> <p>To map an existing alias to a different CMK, call <a>UpdateAlias</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The request was rejected because it attempted to create a resource that already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAliasNameException",
        "documentation" : "<p>The request was rejected because the specified alias name is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateAliasRequest",
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "documentation" : "",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlias",
      "operationName" : "CreateAlias",
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAliasResult"
    },
    "CreateGrant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGrantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGrantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGrantRequest, CreateGrantResult>",
      "asyncReturnType" : "CreateGrantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a grant to a customer master key (CMK). The grant specifies who can use the CMK and under what conditions. When setting permissions, grants are an alternative to key policies. </p> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN in the value of the KeyId parameter. For more information about grants, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/grants.html\">Grants</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateGrantRequest",
        "variableName" : "createGrantRequest",
        "variableType" : "CreateGrantRequest",
        "documentation" : "",
        "simpleType" : "CreateGrantRequest",
        "variableSetterType" : "CreateGrantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGrant",
      "operationName" : "CreateGrant",
      "returnType" : {
        "returnType" : "CreateGrantResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGrantResult"
    },
    "CreateKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKeyRequest, CreateKeyResult>",
      "asyncReturnType" : "CreateKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a customer master key (CMK) in the caller's AWS account.</p> <p>You can use a CMK to encrypt small amounts of data (4 KiB or less) directly, but CMKs are more commonly used to encrypt data encryption keys (DEKs), which are used to encrypt raw data. For more information about DEKs and the difference between CMKs and DEKs, see the following:</p> <ul> <li> <p>The <a>GenerateDataKey</a> operation</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html\">AWS Key Management Service Concepts</a> in the <i>AWS Key Management Service Developer Guide</i> </p> </li> </ul> <p>You cannot use this operation to create a CMK in a different AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "MalformedPolicyDocumentException",
        "documentation" : "<p>The request was rejected because the specified policy is not syntactically or semantically correct.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagException",
        "documentation" : "<p>The request was rejected because one or more tags are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateKeyRequest",
        "variableName" : "createKeyRequest",
        "variableType" : "CreateKeyRequest",
        "documentation" : "",
        "simpleType" : "CreateKeyRequest",
        "variableSetterType" : "CreateKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKey",
      "operationName" : "CreateKey",
      "returnType" : {
        "returnType" : "CreateKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKeyResult"
    },
    "Decrypt" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DecryptResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DecryptResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DecryptRequest, DecryptResult>",
      "asyncReturnType" : "DecryptResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Decrypts ciphertext. Ciphertext is plaintext that has been previously encrypted by using any of the following operations:</p> <ul> <li> <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a> </p> </li> <li> <p> <a>Encrypt</a> </p> </li> </ul> <p>Note that if a caller has been granted access permissions to all keys (through, for example, IAM user policies that grant <code>Decrypt</code> permission on all resources), then ciphertext encrypted by using keys in other accounts where the key grants access to the caller can be decrypted. To remedy this, we recommend that you do not grant <code>Decrypt</code> access in an IAM user policy. Instead grant <code>Decrypt</code> access only in key policies. If you must grant <code>Decrypt</code> access in an IAM user policy, you should scope the resource to specific keys or to specific trusted accounts.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCiphertextException",
        "documentation" : "<p>The request was rejected because the specified ciphertext, or additional authenticated data incorporated into the ciphertext, such as the encryption context, is corrupted, missing, or otherwise invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the specified CMK was not available. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DecryptRequest",
        "variableName" : "decryptRequest",
        "variableType" : "DecryptRequest",
        "documentation" : "",
        "simpleType" : "DecryptRequest",
        "variableSetterType" : "DecryptRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "decrypt",
      "operationName" : "Decrypt",
      "returnType" : {
        "returnType" : "DecryptResult",
        "documentation" : null
      },
      "syncReturnType" : "DecryptResult"
    },
    "DeleteAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAliasRequest, DeleteAliasResult>",
      "asyncReturnType" : "DeleteAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified alias. You cannot perform this operation on an alias in a different AWS account. </p> <p>Because an alias is not a property of a CMK, you can delete and change the aliases of a CMK without affecting the CMK. Also, aliases do not appear in the response from the <a>DescribeKey</a> operation. To get the aliases of all CMKs, use the <a>ListAliases</a> operation. </p> <p>Each CMK can have multiple aliases. To change the alias of a CMK, use <a>DeleteAlias</a> to delete the current alias and <a>CreateAlias</a> to create a new alias. To associate an existing alias with a different customer master key (CMK), call <a>UpdateAlias</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteAliasRequest",
        "variableName" : "deleteAliasRequest",
        "variableType" : "DeleteAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteAliasRequest",
        "variableSetterType" : "DeleteAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlias",
      "operationName" : "DeleteAlias",
      "returnType" : {
        "returnType" : "DeleteAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAliasResult"
    },
    "DeleteImportedKeyMaterial" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImportedKeyMaterialResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImportedKeyMaterialResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImportedKeyMaterialRequest, DeleteImportedKeyMaterialResult>",
      "asyncReturnType" : "DeleteImportedKeyMaterialResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes key material that you previously imported. This operation makes the specified customer master key (CMK) unusable. For more information about importing key material into AWS KMS, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the <i>AWS Key Management Service Developer Guide</i>. You cannot perform this operation on a CMK in a different AWS account.</p> <p>When the specified CMK is in the <code>PendingDeletion</code> state, this operation does not change the CMK's state. Otherwise, it changes the CMK's state to <code>PendingImport</code>.</p> <p>After you delete key material, you can use <a>ImportKeyMaterial</a> to reimport the same key material into the CMK.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteImportedKeyMaterialRequest",
        "variableName" : "deleteImportedKeyMaterialRequest",
        "variableType" : "DeleteImportedKeyMaterialRequest",
        "documentation" : "",
        "simpleType" : "DeleteImportedKeyMaterialRequest",
        "variableSetterType" : "DeleteImportedKeyMaterialRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImportedKeyMaterial",
      "operationName" : "DeleteImportedKeyMaterial",
      "returnType" : {
        "returnType" : "DeleteImportedKeyMaterialResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImportedKeyMaterialResult"
    },
    "DescribeKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeKeyRequest, DescribeKeyResult>",
      "asyncReturnType" : "DescribeKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides detailed information about the specified customer master key (CMK).</p> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN or alias ARN in the value of the KeyId parameter.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeKeyRequest",
        "variableName" : "describeKeyRequest",
        "variableType" : "DescribeKeyRequest",
        "documentation" : "",
        "simpleType" : "DescribeKeyRequest",
        "variableSetterType" : "DescribeKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeKey",
      "operationName" : "DescribeKey",
      "returnType" : {
        "returnType" : "DescribeKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeKeyResult"
    },
    "DisableKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableKeyRequest, DisableKeyResult>",
      "asyncReturnType" : "DisableKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the state of a customer master key (CMK) to disabled, thereby preventing its use for cryptographic operations. You cannot perform this operation on a CMK in a different AWS account.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableKeyRequest",
        "variableName" : "disableKeyRequest",
        "variableType" : "DisableKeyRequest",
        "documentation" : "",
        "simpleType" : "DisableKeyRequest",
        "variableSetterType" : "DisableKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableKey",
      "operationName" : "DisableKey",
      "returnType" : {
        "returnType" : "DisableKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableKeyResult"
    },
    "DisableKeyRotation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableKeyRotationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableKeyRotationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableKeyRotationRequest, DisableKeyRotationResult>",
      "asyncReturnType" : "DisableKeyRotationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables automatic rotation of the key material for the specified customer master key (CMK). You cannot perform this operation on a CMK in a different AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableKeyRotationRequest",
        "variableName" : "disableKeyRotationRequest",
        "variableType" : "DisableKeyRotationRequest",
        "documentation" : "",
        "simpleType" : "DisableKeyRotationRequest",
        "variableSetterType" : "DisableKeyRotationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableKeyRotation",
      "operationName" : "DisableKeyRotation",
      "returnType" : {
        "returnType" : "DisableKeyRotationResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableKeyRotationResult"
    },
    "EnableKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableKeyRequest, EnableKeyResult>",
      "asyncReturnType" : "EnableKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the state of a customer master key (CMK) to enabled, thereby permitting its use for cryptographic operations. You cannot perform this operation on a CMK in a different AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableKeyRequest",
        "variableName" : "enableKeyRequest",
        "variableType" : "EnableKeyRequest",
        "documentation" : "",
        "simpleType" : "EnableKeyRequest",
        "variableSetterType" : "EnableKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableKey",
      "operationName" : "EnableKey",
      "returnType" : {
        "returnType" : "EnableKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableKeyResult"
    },
    "EnableKeyRotation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableKeyRotationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableKeyRotationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableKeyRotationRequest, EnableKeyRotationResult>",
      "asyncReturnType" : "EnableKeyRotationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables automatic rotation of the key material for the specified customer master key (CMK). You cannot perform this operation on a CMK in a different AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableKeyRotationRequest",
        "variableName" : "enableKeyRotationRequest",
        "variableType" : "EnableKeyRotationRequest",
        "documentation" : "",
        "simpleType" : "EnableKeyRotationRequest",
        "variableSetterType" : "EnableKeyRotationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableKeyRotation",
      "operationName" : "EnableKeyRotation",
      "returnType" : {
        "returnType" : "EnableKeyRotationResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableKeyRotationResult"
    },
    "Encrypt" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EncryptResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EncryptResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EncryptRequest, EncryptResult>",
      "asyncReturnType" : "EncryptResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Encrypts plaintext into ciphertext by using a customer master key (CMK). The <code>Encrypt</code> operation has two primary use cases:</p> <ul> <li> <p>You can encrypt up to 4 kilobytes (4096 bytes) of arbitrary data such as an RSA key, a database password, or other sensitive information.</p> </li> <li> <p>To move encrypted data from one AWS region to another, you can use this operation to encrypt in the new region the plaintext data key that was used to encrypt the data in the original region. This provides you with an encrypted copy of the data key that can be decrypted in the new region and used there to decrypt the encrypted data.</p> </li> </ul> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN or alias ARN in the value of the KeyId parameter.</p> <p>Unless you are moving encrypted data from one region to another, you don't use this operation to encrypt a generated data key within a region. To get data keys that are already encrypted, call the <a>GenerateDataKey</a> or <a>GenerateDataKeyWithoutPlaintext</a> operation. Data keys don't need to be encrypted again by calling <code>Encrypt</code>.</p> <p>To encrypt data locally in your application, use the <a>GenerateDataKey</a> operation to return a plaintext data encryption key and a copy of the key encrypted under the CMK of your choosing.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the specified CMK was not available. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidKeyUsageException",
        "documentation" : "<p>The request was rejected because the specified <code>KeySpec</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EncryptRequest",
        "variableName" : "encryptRequest",
        "variableType" : "EncryptRequest",
        "documentation" : "",
        "simpleType" : "EncryptRequest",
        "variableSetterType" : "EncryptRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "encrypt",
      "operationName" : "Encrypt",
      "returnType" : {
        "returnType" : "EncryptResult",
        "documentation" : null
      },
      "syncReturnType" : "EncryptResult"
    },
    "GenerateDataKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateDataKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateDataKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateDataKeyRequest, GenerateDataKeyResult>",
      "asyncReturnType" : "GenerateDataKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a data encryption key that you can use in your application to encrypt data locally. </p> <p>You must specify the customer master key (CMK) under which to generate the data key. You must also specify the length of the data key using either the <code>KeySpec</code> or <code>NumberOfBytes</code> field. You must specify one field or the other, but not both. For common key lengths (128-bit and 256-bit symmetric keys), we recommend that you use <code>KeySpec</code>. To perform this operation on a CMK in a different AWS account, specify the key ARN or alias ARN in the value of the KeyId parameter.</p> <p>This operation returns a plaintext copy of the data key in the <code>Plaintext</code> field of the response, and an encrypted copy of the data key in the <code>CiphertextBlob</code> field. The data key is encrypted under the CMK specified in the <code>KeyId</code> field of the request. </p> <p>We recommend that you use the following pattern to encrypt data locally in your application:</p> <ol> <li> <p>Use this operation (<code>GenerateDataKey</code>) to get a data encryption key.</p> </li> <li> <p>Use the plaintext data encryption key (returned in the <code>Plaintext</code> field of the response) to encrypt data locally, then erase the plaintext data key from memory.</p> </li> <li> <p>Store the encrypted data key (returned in the <code>CiphertextBlob</code> field of the response) alongside the locally encrypted data.</p> </li> </ol> <p>To decrypt data locally:</p> <ol> <li> <p>Use the <a>Decrypt</a> operation to decrypt the encrypted data key into a plaintext copy of the data key.</p> </li> <li> <p>Use the plaintext data key to decrypt data locally, then erase the plaintext data key from memory.</p> </li> </ol> <p>To return only an encrypted copy of the data key, use <a>GenerateDataKeyWithoutPlaintext</a>. To return a random byte string that is cryptographically secure, use <a>GenerateRandom</a>.</p> <p>If you use the optional <code>EncryptionContext</code> field, you must store at least enough information to be able to reconstruct the full encryption context when you later send the ciphertext to the <a>Decrypt</a> operation. It is a good practice to choose an encryption context that you can reconstruct on the fly to better secure the ciphertext. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encryption-context.html\">Encryption Context</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the specified CMK was not available. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidKeyUsageException",
        "documentation" : "<p>The request was rejected because the specified <code>KeySpec</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GenerateDataKeyRequest",
        "variableName" : "generateDataKeyRequest",
        "variableType" : "GenerateDataKeyRequest",
        "documentation" : "",
        "simpleType" : "GenerateDataKeyRequest",
        "variableSetterType" : "GenerateDataKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateDataKey",
      "operationName" : "GenerateDataKey",
      "returnType" : {
        "returnType" : "GenerateDataKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "GenerateDataKeyResult"
    },
    "GenerateDataKeyWithoutPlaintext" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateDataKeyWithoutPlaintextResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateDataKeyWithoutPlaintextResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateDataKeyWithoutPlaintextRequest, GenerateDataKeyWithoutPlaintextResult>",
      "asyncReturnType" : "GenerateDataKeyWithoutPlaintextResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a data encryption key encrypted under a customer master key (CMK). This operation is identical to <a>GenerateDataKey</a> but returns only the encrypted copy of the data key. </p> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN or alias ARN in the value of the KeyId parameter.</p> <p>This operation is useful in a system that has multiple components with different degrees of trust. For example, consider a system that stores encrypted data in containers. Each container stores the encrypted data and an encrypted copy of the data key. One component of the system, called the <i>control plane</i>, creates new containers. When it creates a new container, it uses this operation (<code>GenerateDataKeyWithoutPlaintext</code>) to get an encrypted data key and then stores it in the container. Later, a different component of the system, called the <i>data plane</i>, puts encrypted data into the containers. To do this, it passes the encrypted data key to the <a>Decrypt</a> operation, then uses the returned plaintext data key to encrypt data, and finally stores the encrypted data in the container. In this system, the control plane never sees the plaintext data key.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the specified CMK was not available. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidKeyUsageException",
        "documentation" : "<p>The request was rejected because the specified <code>KeySpec</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GenerateDataKeyWithoutPlaintextRequest",
        "variableName" : "generateDataKeyWithoutPlaintextRequest",
        "variableType" : "GenerateDataKeyWithoutPlaintextRequest",
        "documentation" : "",
        "simpleType" : "GenerateDataKeyWithoutPlaintextRequest",
        "variableSetterType" : "GenerateDataKeyWithoutPlaintextRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateDataKeyWithoutPlaintext",
      "operationName" : "GenerateDataKeyWithoutPlaintext",
      "returnType" : {
        "returnType" : "GenerateDataKeyWithoutPlaintextResult",
        "documentation" : null
      },
      "syncReturnType" : "GenerateDataKeyWithoutPlaintextResult"
    },
    "GenerateRandom" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateRandomResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateRandomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateRandomRequest, GenerateRandomResult>",
      "asyncReturnType" : "GenerateRandomResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a random byte string that is cryptographically secure.</p> <p>For more information about entropy and random number generation, see the <a href=\"https://d0.awsstatic.com/whitepapers/KMS-Cryptographic-Details.pdf\">AWS Key Management Service Cryptographic Details</a> whitepaper.</p>",
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GenerateRandomRequest",
        "variableName" : "generateRandomRequest",
        "variableType" : "GenerateRandomRequest",
        "documentation" : "",
        "simpleType" : "GenerateRandomRequest",
        "variableSetterType" : "GenerateRandomRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateRandom",
      "operationName" : "GenerateRandom",
      "returnType" : {
        "returnType" : "GenerateRandomResult",
        "documentation" : null
      },
      "syncReturnType" : "GenerateRandomResult"
    },
    "GetKeyPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKeyPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKeyPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKeyPolicyRequest, GetKeyPolicyResult>",
      "asyncReturnType" : "GetKeyPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a key policy attached to the specified customer master key (CMK). You cannot perform this operation on a CMK in a different AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetKeyPolicyRequest",
        "variableName" : "getKeyPolicyRequest",
        "variableType" : "GetKeyPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetKeyPolicyRequest",
        "variableSetterType" : "GetKeyPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKeyPolicy",
      "operationName" : "GetKeyPolicy",
      "returnType" : {
        "returnType" : "GetKeyPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKeyPolicyResult"
    },
    "GetKeyRotationStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKeyRotationStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKeyRotationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKeyRotationStatusRequest, GetKeyRotationStatusResult>",
      "asyncReturnType" : "GetKeyRotationStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a Boolean value that indicates whether automatic rotation of the key material is enabled for the specified customer master key (CMK).</p> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN in the value of the KeyId parameter.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetKeyRotationStatusRequest",
        "variableName" : "getKeyRotationStatusRequest",
        "variableType" : "GetKeyRotationStatusRequest",
        "documentation" : "",
        "simpleType" : "GetKeyRotationStatusRequest",
        "variableSetterType" : "GetKeyRotationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKeyRotationStatus",
      "operationName" : "GetKeyRotationStatus",
      "returnType" : {
        "returnType" : "GetKeyRotationStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKeyRotationStatusResult"
    },
    "GetParametersForImport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetParametersForImportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetParametersForImportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetParametersForImportRequest, GetParametersForImportResult>",
      "asyncReturnType" : "GetParametersForImportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the items you need in order to import key material into AWS KMS from your existing key management infrastructure. For more information about importing key material into AWS KMS, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>You must specify the key ID of the customer master key (CMK) into which you will import key material. This CMK's <code>Origin</code> must be <code>EXTERNAL</code>. You must also specify the wrapping algorithm and type of wrapping key (public key) that you will use to encrypt the key material. You cannot perform this operation on a CMK in a different AWS account.</p> <p>This operation returns a public key and an import token. Use the public key to encrypt the key material. Store the import token to send with a subsequent <a>ImportKeyMaterial</a> request. The public key and import token from the same response must be used together. These items are valid for 24 hours. When they expire, they cannot be used for a subsequent <a>ImportKeyMaterial</a> request. To get new ones, send another <code>GetParametersForImport</code> request.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetParametersForImportRequest",
        "variableName" : "getParametersForImportRequest",
        "variableType" : "GetParametersForImportRequest",
        "documentation" : "",
        "simpleType" : "GetParametersForImportRequest",
        "variableSetterType" : "GetParametersForImportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getParametersForImport",
      "operationName" : "GetParametersForImport",
      "returnType" : {
        "returnType" : "GetParametersForImportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetParametersForImportResult"
    },
    "ImportKeyMaterial" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportKeyMaterialResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportKeyMaterialResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportKeyMaterialRequest, ImportKeyMaterialResult>",
      "asyncReturnType" : "ImportKeyMaterialResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports key material into an existing AWS KMS customer master key (CMK) that was created without key material. You cannot perform this operation on a CMK in a different AWS account. For more information about creating CMKs with no key material and then importing key material, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>Before using this operation, call <a>GetParametersForImport</a>. Its response includes a public key and an import token. Use the public key to encrypt the key material. Then, submit the import token from the same <code>GetParametersForImport</code> response.</p> <p>When calling this operation, you must specify the following values:</p> <ul> <li> <p>The key ID or key ARN of a CMK with no key material. Its <code>Origin</code> must be <code>EXTERNAL</code>.</p> <p>To create a CMK with no key material, call <a>CreateKey</a> and set the value of its <code>Origin</code> parameter to <code>EXTERNAL</code>. To get the <code>Origin</code> of a CMK, call <a>DescribeKey</a>.)</p> </li> <li> <p>The encrypted key material. To get the public key to encrypt the key material, call <a>GetParametersForImport</a>.</p> </li> <li> <p>The import token that <a>GetParametersForImport</a> returned. This token and the public key used to encrypt the key material must have come from the same response.</p> </li> <li> <p>Whether the key material expires and if so, when. If you set an expiration date, you can change it only by reimporting the same key material and specifying a new expiration date. If the key material expires, AWS KMS deletes the key material and the CMK becomes unusable. To use the CMK again, you must reimport the same key material.</p> </li> </ul> <p>When this operation is successful, the CMK's key state changes from <code>PendingImport</code> to <code>Enabled</code>, and you can use the CMK. After you successfully import key material into a CMK, you can reimport the same key material into that CMK, but you cannot import different key material.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCiphertextException",
        "documentation" : "<p>The request was rejected because the specified ciphertext, or additional authenticated data incorporated into the ciphertext, such as the encryption context, is corrupted, missing, or otherwise invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncorrectKeyMaterialException",
        "documentation" : "<p>The request was rejected because the provided key material is invalid or is not the same key material that was previously imported into this customer master key (CMK).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredImportTokenException",
        "documentation" : "<p>The request was rejected because the provided import token is expired. Use <a>GetParametersForImport</a> to get a new import token and public key, use the new public key to encrypt the key material, and then try the request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidImportTokenException",
        "documentation" : "<p>The request was rejected because the provided import token is invalid or is associated with a different customer master key (CMK).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ImportKeyMaterialRequest",
        "variableName" : "importKeyMaterialRequest",
        "variableType" : "ImportKeyMaterialRequest",
        "documentation" : "",
        "simpleType" : "ImportKeyMaterialRequest",
        "variableSetterType" : "ImportKeyMaterialRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importKeyMaterial",
      "operationName" : "ImportKeyMaterial",
      "returnType" : {
        "returnType" : "ImportKeyMaterialResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportKeyMaterialResult"
    },
    "ListAliases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAliasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAliasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAliasesRequest, ListAliasesResult>",
      "asyncReturnType" : "ListAliasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of all aliases in the caller's AWS account and region. You cannot list aliases in other accounts. For more information about aliases, see <a>CreateAlias</a>.</p> <p>The response might include several aliases that do not have a <code>TargetKeyId</code> field because they are not associated with a CMK. These are predefined aliases that are reserved for CMKs managed by AWS services. If an alias is not associated with a CMK, the alias does not count against the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html#aliases-limit\">alias limit</a> for your account.</p>",
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMarkerException",
        "documentation" : "<p>The request was rejected because the marker that specifies where pagination should next begin is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAliasesRequest",
        "variableName" : "listAliasesRequest",
        "variableType" : "ListAliasesRequest",
        "documentation" : "",
        "simpleType" : "ListAliasesRequest",
        "variableSetterType" : "ListAliasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAliases",
      "operationName" : "ListAliases",
      "returnType" : {
        "returnType" : "ListAliasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAliasesResult"
    },
    "ListGrants" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGrantsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGrantsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGrantsRequest, ListGrantsResult>",
      "asyncReturnType" : "ListGrantsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of all grants for the specified customer master key (CMK).</p> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN in the value of the KeyId parameter.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMarkerException",
        "documentation" : "<p>The request was rejected because the marker that specifies where pagination should next begin is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListGrantsRequest",
        "variableName" : "listGrantsRequest",
        "variableType" : "ListGrantsRequest",
        "documentation" : "",
        "simpleType" : "ListGrantsRequest",
        "variableSetterType" : "ListGrantsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGrants",
      "operationName" : "ListGrants",
      "returnType" : {
        "returnType" : "ListGrantsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGrantsResult"
    },
    "ListKeyPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKeyPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKeyPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKeyPoliciesRequest, ListKeyPoliciesResult>",
      "asyncReturnType" : "ListKeyPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the names of the key policies that are attached to a customer master key (CMK). This operation is designed to get policy names that you can use in a <a>GetKeyPolicy</a> operation. However, the only valid policy name is <code>default</code>. You cannot perform this operation on a CMK in a different AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListKeyPoliciesRequest",
        "variableName" : "listKeyPoliciesRequest",
        "variableType" : "ListKeyPoliciesRequest",
        "documentation" : "",
        "simpleType" : "ListKeyPoliciesRequest",
        "variableSetterType" : "ListKeyPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKeyPolicies",
      "operationName" : "ListKeyPolicies",
      "returnType" : {
        "returnType" : "ListKeyPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKeyPoliciesResult"
    },
    "ListKeys" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKeysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKeysRequest, ListKeysResult>",
      "asyncReturnType" : "ListKeysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of all customer master keys (CMKs) in the caller's AWS account and region.</p>",
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMarkerException",
        "documentation" : "<p>The request was rejected because the marker that specifies where pagination should next begin is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListKeysRequest",
        "variableName" : "listKeysRequest",
        "variableType" : "ListKeysRequest",
        "documentation" : "",
        "simpleType" : "ListKeysRequest",
        "variableSetterType" : "ListKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKeys",
      "operationName" : "ListKeys",
      "returnType" : {
        "returnType" : "ListKeysResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKeysResult"
    },
    "ListResourceTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceTagsRequest, ListResourceTagsResult>",
      "asyncReturnType" : "ListResourceTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all tags for the specified customer master key (CMK).</p> <p>You cannot perform this operation on a CMK in a different AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMarkerException",
        "documentation" : "<p>The request was rejected because the marker that specifies where pagination should next begin is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListResourceTagsRequest",
        "variableName" : "listResourceTagsRequest",
        "variableType" : "ListResourceTagsRequest",
        "documentation" : "",
        "simpleType" : "ListResourceTagsRequest",
        "variableSetterType" : "ListResourceTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceTags",
      "operationName" : "ListResourceTags",
      "returnType" : {
        "returnType" : "ListResourceTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourceTagsResult"
    },
    "ListRetirableGrants" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRetirableGrantsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRetirableGrantsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRetirableGrantsRequest, ListRetirableGrantsResult>",
      "asyncReturnType" : "ListRetirableGrantsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all grants for which the grant's <code>RetiringPrincipal</code> matches the one specified.</p> <p>A typical use is to list all grants that you are able to retire. To retire a grant, use <a>RetireGrant</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidMarkerException",
        "documentation" : "<p>The request was rejected because the marker that specifies where pagination should next begin is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRetirableGrantsRequest",
        "variableName" : "listRetirableGrantsRequest",
        "variableType" : "ListRetirableGrantsRequest",
        "documentation" : "",
        "simpleType" : "ListRetirableGrantsRequest",
        "variableSetterType" : "ListRetirableGrantsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRetirableGrants",
      "operationName" : "ListRetirableGrants",
      "returnType" : {
        "returnType" : "ListRetirableGrantsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRetirableGrantsResult"
    },
    "PutKeyPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutKeyPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutKeyPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutKeyPolicyRequest, PutKeyPolicyResult>",
      "asyncReturnType" : "PutKeyPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches a key policy to the specified customer master key (CMK). You cannot perform this operation on a CMK in a different AWS account.</p> <p>For more information about key policies, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html\">Key Policies</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MalformedPolicyDocumentException",
        "documentation" : "<p>The request was rejected because the specified policy is not syntactically or semantically correct.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutKeyPolicyRequest",
        "variableName" : "putKeyPolicyRequest",
        "variableType" : "PutKeyPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutKeyPolicyRequest",
        "variableSetterType" : "PutKeyPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putKeyPolicy",
      "operationName" : "PutKeyPolicy",
      "returnType" : {
        "returnType" : "PutKeyPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutKeyPolicyResult"
    },
    "ReEncrypt" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ReEncryptResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ReEncryptResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReEncryptRequest, ReEncryptResult>",
      "asyncReturnType" : "ReEncryptResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Encrypts data on the server side with a new customer master key (CMK) without exposing the plaintext of the data on the client side. The data is first decrypted and then reencrypted. You can also use this operation to change the encryption context of a ciphertext. </p> <p>You can reencrypt data using CMKs in different AWS accounts.</p> <p>Unlike other operations, <code>ReEncrypt</code> is authorized twice, once as <code>ReEncryptFrom</code> on the source CMK and once as <code>ReEncryptTo</code> on the destination CMK. We recommend that you include the <code>\"kms:ReEncrypt*\"</code> permission in your <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html\">key policies</a> to permit reencryption from or to the CMK. This permission is automatically included in the key policy when you create a CMK through the console, but you must include it manually when you create a CMK programmatically or when you set a key policy with the <a>PutKeyPolicy</a> operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCiphertextException",
        "documentation" : "<p>The request was rejected because the specified ciphertext, or additional authenticated data incorporated into the ciphertext, such as the encryption context, is corrupted, missing, or otherwise invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the specified CMK was not available. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
[...]
