{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "CreateKeyRequest" : [ "KeyUsage", "Origin" ],
      "GenerateDataKeyRequest" : [ "KeySpec" ],
      "GenerateDataKeyWithoutPlaintextRequest" : [ "KeySpec" ],
      "GetParametersForImportRequest" : [ "WrappingAlgorithm", "WrappingKeySpec" ],
      "ImportKeyMaterialRequest" : [ "ExpirationModel" ],
      "KeyMetadata" : [ "KeyUsage", "KeyState", "Origin", "ExpirationModel", "KeyManager" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "CreateKey" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "GenerateRandom" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListAliases" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListKeys" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "RetireGrant" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2014-11-01",
    "asyncClient" : "AWSKMSAsyncClient",
    "asyncClientBuilderClassName" : "AWSKMSAsyncClientBuilder",
    "asyncInterface" : "AWSKMSAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSKMSModuleInjector",
    "defaultEndpoint" : "https://kms.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "kms.us-east-1.amazonaws.com/",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Key Management Service</fullname> <p>AWS Key Management Service (AWS KMS) is an encryption and key management web service. This guide describes the AWS KMS operations that you can call programmatically. For general information about AWS KMS, see the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/\"> <i>AWS Key Management Service Developer Guide</i> </a>.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .Net, macOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWS KMS and other AWS services. For example, the SDKs take care of tasks such as signing requests (see below), managing errors, and retrying requests automatically. For more information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls to AWS KMS.</p> <p>Clients must support TLS (Transport Layer Security) 1.0. We recommend TLS 1.2. Clients must also support cipher suites with Perfect Forward Secrecy (PFS) such as Ephemeral Diffie-Hellman (DHE) or Elliptic Curve Ephemeral Diffie-Hellman (ECDHE). Most modern systems such as Java 7 and later support these modes.</p> <p> <b>Signing Requests</b> </p> <p>Requests must be signed by using an access key ID and a secret access key. We strongly recommend that you <i>do not</i> use your AWS account (root) access key ID and secret key for everyday work with AWS KMS. Instead, use the access key ID and secret access key for an IAM user, or you can use the AWS Security Token Service to generate temporary security credentials that you can use to sign requests.</p> <p>All AWS KMS operations require <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> <p> <b>Logging API Requests</b> </p> <p>AWS KMS supports AWS CloudTrail, a service that logs AWS API calls and related events for your AWS account and delivers them to an Amazon S3 bucket that you specify. By using the information collected by CloudTrail, you can determine what requests were made to AWS KMS, who made the request, when it was made, and so on. To learn more about CloudTrail, including how to turn it on and find your log files, see the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/\">AWS CloudTrail User Guide</a>.</p> <p> <b>Additional Resources</b> </p> <p>For more information about credentials and request signing, see the following:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS Security Credentials</a> - This topic provides general information about the of credentials used for accessing AWS.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html\">Temporary Security Credentials</a> - This section of the <i>IAM User Guide</i> describes how to create and use temporary security credentials.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> - This set of topics walks you through the process of signing a request using an access key ID and a secret access key.</p> </li> </ul> <p> <b>Commonly Used APIs</b> </p> <p>Of the APIs discussed in this guide, the following will prove the most useful for most applications. You will likely perform actions other than these, such as creating keys and assigning policies, by using the console.</p> <ul> <li> <p> <a>Encrypt</a> </p> </li> <li> <p> <a>Decrypt</a> </p> </li> <li> <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a> </p> </li> </ul>",
    "endpointPrefix" : "kms",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kms",
    "packagePath" : "com/amazonaws/services/kms",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "KMS",
    "serviceFullName" : "AWS Key Management Service",
    "serviceId" : "KMS",
    "serviceName" : "KMS",
    "signingName" : "kms",
    "smokeTestsPackageName" : "com.amazonaws.services.kms.smoketests",
    "syncClient" : "AWSKMSClient",
    "syncClientBuilderClassName" : "AWSKMSClientBuilder",
    "syncInterface" : "AWSKMS",
    "uid" : "kms-2014-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelKeyDeletion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelKeyDeletionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelKeyDeletionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelKeyDeletionRequest, CancelKeyDeletionResult>",
      "asyncReturnType" : "CancelKeyDeletionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the deletion of a customer master key (CMK). When this operation is successful, the CMK is set to the <code>Disabled</code> state. To enable a CMK, use <a>EnableKey</a>. You cannot perform this operation on a CMK in a different AWS account.</p> <p>For more information about scheduling and canceling deletion of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html\">Deleting Customer Master Keys</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelKeyDeletionRequest",
        "variableName" : "cancelKeyDeletionRequest",
        "variableType" : "CancelKeyDeletionRequest",
        "documentation" : "",
        "simpleType" : "CancelKeyDeletionRequest",
        "variableSetterType" : "CancelKeyDeletionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelKeyDeletion",
      "operationName" : "CancelKeyDeletion",
      "returnType" : {
        "returnType" : "CancelKeyDeletionResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelKeyDeletionResult"
    },
    "ConnectCustomKeyStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConnectCustomKeyStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConnectCustomKeyStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConnectCustomKeyStoreRequest, ConnectCustomKeyStoreResult>",
      "asyncReturnType" : "ConnectCustomKeyStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Connects or reconnects a <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-store-overview.html\">custom key store</a> to its associated AWS CloudHSM cluster.</p> <p>The custom key store must be connected before you can create customer master keys (CMKs) in the key store or use the CMKs it contains. You can disconnect and reconnect a custom key store at any time.</p> <p>To connect a custom key store, its associated AWS CloudHSM cluster must have at least one active HSM. To get the number of active HSMs in a cluster, use the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters\">DescribeClusters</a> operation. To add HSMs to the cluster, use the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm\">CreateHsm</a> operation.</p> <p>The connection process can take an extended amount of time to complete; up to 20 minutes. This operation starts the connection process, but it does not wait for it to complete. When it succeeds, this operation quickly returns an HTTP 200 response and a JSON object with no properties. However, this response does not indicate that the custom key store is connected. To get the connection state of the custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p> <p>During the connection process, AWS KMS finds the AWS CloudHSM cluster that is associated with the custom key store, creates the connection infrastructure, connects to the cluster, logs into the AWS CloudHSM client as the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-store-concepts.html#concept-kmsuser\"> <code>kmsuser</code> crypto user</a> (CU), and rotates its password.</p> <p>The <code>ConnectCustomKeyStore</code> operation might fail for various reasons. To find the reason, use the <a>DescribeCustomKeyStores</a> operation and see the <code>ConnectionErrorCode</code> in the response. For help interpreting the <code>ConnectionErrorCode</code>, see <a>CustomKeyStoresListEntry</a>.</p> <p>To fix the failure, use the <a>DisconnectCustomKeyStore</a> operation to disconnect the custom key store, correct the error, use the <a>UpdateCustomKeyStore</a> operation if necessary, and then use <code>ConnectCustomKeyStore</code> again.</p> <p>If you are having trouble connecting or disconnecting a custom key store, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting a Custom Key Store</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmClusterNotActiveException",
        "documentation" : "<p>The request was rejected because the AWS CloudHSM cluster that is associated with the custom key store is not active. Initialize and activate the cluster and try the command again. For detailed instructions, see <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/getting-started.html\">Getting Started</a> in the <i>AWS CloudHSM User Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreInvalidStateException",
        "documentation" : "<p>The request was rejected because of the <code>ConnectionState</code> of the custom key store. To get the <code>ConnectionState</code> of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p> <p>This exception is thrown under the following conditions:</p> <ul> <li> <p>You requested the <a>CreateKey</a> or <a>GenerateRandom</a> operation in a custom key store that is not connected. These operations are valid only when the custom key store <code>ConnectionState</code> is <code>CONNECTED</code>.</p> </li> <li> <p>You requested the <a>UpdateCustomKeyStore</a> or <a>DeleteCustomKeyStore</a> operation on a custom key store that is not disconnected. This operation is valid only when the custom key store <code>ConnectionState</code> is <code>DISCONNECTED</code>.</p> </li> <li> <p>You requested the <a>ConnectCustomKeyStore</a> operation on a custom key store with a <code>ConnectionState</code> of <code>DISCONNECTING</code> or <code>FAILED</code>. This operation is valid for all other <code>ConnectionState</code> values.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified key store name or ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmClusterInvalidConfigurationException",
        "documentation" : "<p>The request was rejected because the associated AWS CloudHSM cluster did not meet the configuration requirements for a custom key store. The cluster must be configured with private subnets in at least two different Availability Zones in the Region. Also, it must contain at least as many HSMs as the operation requires.</p> <p>For the <a>CreateCustomKeyStore</a>, <a>UpdateCustomKeyStore</a>, and <a>CreateKey</a> operations, the AWS CloudHSM cluster must have at least two active HSMs, each in a different Availability Zone. For the <a>ConnectCustomKeyStore</a> operation, the AWS CloudHSM must contain at least one active HSM.</p> <p>For information about creating a private subnet for a AWS CloudHSM cluster, see <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/create-subnets.html\">Create a Private Subnet</a> in the <i>AWS CloudHSM User Guide</i>. To add HSMs, use the AWS CloudHSM <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConnectCustomKeyStoreRequest",
        "variableName" : "connectCustomKeyStoreRequest",
        "variableType" : "ConnectCustomKeyStoreRequest",
        "documentation" : "",
        "simpleType" : "ConnectCustomKeyStoreRequest",
        "variableSetterType" : "ConnectCustomKeyStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "connectCustomKeyStore",
      "operationName" : "ConnectCustomKeyStore",
      "returnType" : {
        "returnType" : "ConnectCustomKeyStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "ConnectCustomKeyStoreResult"
    },
    "CreateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "asyncReturnType" : "CreateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a display name for a customer master key (CMK). You can use an alias to identify a CMK in selected operations, such as <a>Encrypt</a> and <a>GenerateDataKey</a>. </p> <p>Each CMK can have multiple aliases, but each alias points to only one CMK. The alias name must be unique in the AWS account and region. To simplify code that runs in multiple regions, use the same alias name, but point it to a different CMK in each region. </p> <p>Because an alias is not a property of a CMK, you can delete and change the aliases of a CMK without affecting the CMK. Also, aliases do not appear in the response from the <a>DescribeKey</a> operation. To get the aliases of all CMKs, use the <a>ListAliases</a> operation.</p> <p>An alias must start with the word <code>alias</code> followed by a forward slash (<code>alias/</code>). The alias name can contain only alphanumeric characters, forward slashes (/), underscores (_), and dashes (-). Alias names cannot begin with <code>aws</code>; that alias name prefix is reserved by Amazon Web Services (AWS).</p> <p>The alias and the CMK it is mapped to must be in the same AWS account and the same region. You cannot perform this operation on an alias in a different AWS account.</p> <p>To map an existing alias to a different CMK, call <a>UpdateAlias</a>.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The request was rejected because it attempted to create a resource that already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidAliasNameException",
        "documentation" : "<p>The request was rejected because the specified alias name is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAliasRequest",
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "documentation" : "",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlias",
      "operationName" : "CreateAlias",
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAliasResult"
    },
    "CreateCustomKeyStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCustomKeyStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCustomKeyStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCustomKeyStoreRequest, CreateCustomKeyStoreResult>",
      "asyncReturnType" : "CreateCustomKeyStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-store-overview.html\">custom key store</a> that is associated with an <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/clusters.html\">AWS CloudHSM cluster</a> that you own and manage.</p> <p>This operation is part of the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which combines the convenience and extensive integration of AWS KMS with the isolation and control of a single-tenant key store.</p> <p>When the operation completes successfully, it returns the ID of the new custom key store. Before you can use your new custom key store, you need to use the <a>ConnectCustomKeyStore</a> operation to connect the new key store to its AWS CloudHSM cluster.</p> <p>The <code>CreateCustomKeyStore</code> operation requires the following elements.</p> <ul> <li> <p>You must specify an active AWS CloudHSM cluster in the same account and AWS Region as the custom key store. You can use an existing cluster or <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/create-cluster.html\">create and activate a new AWS CloudHSM cluster</a> for the key store. AWS KMS does not require exclusive use of the cluster.</p> </li> <li> <p>You must include the content of the <i>trust anchor certificate</i> for the cluster. You created this certificate, and saved it in the <code>customerCA.crt</code> file, when you <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/initialize-cluster.html#sign-csr\">initialized the cluster</a>.</p> </li> <li> <p>You must provide the password of the dedicated <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-store-concepts.html#concept-kmsuser\"> <code>kmsuser</code> crypto user</a> (CU) account in the cluster.</p> <p>Before you create the custom key store, use the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/cloudhsm_mgmt_util-createUser.html\">createUser</a> command in <code>cloudhsm_mgmt_util</code> to create <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-store-concepts.html#concept-kmsuser\">a crypto user (CU) named <code>kmsuser</code> </a>in specified AWS CloudHSM cluster. AWS KMS uses the <code>kmsuser</code> CU account to create and manage key material on your behalf. For instructions, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Create the kmsuser Crypto User</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> </li> </ul> <p>The AWS CloudHSM cluster that you specify must meet the following requirements.</p> <ul> <li> <p>The cluster must be active and be in the same AWS account and Region as the custom key store.</p> </li> <li> <p>Each custom key store must be associated with a different AWS CloudHSM cluster. The cluster cannot be associated with another custom key store or have the same cluster certificate as a cluster that is associated with another custom key store. To view the cluster certificate, use the AWS CloudHSM <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation. Clusters that share a backup history have the same cluster certificate.</p> </li> <li> <p>The cluster must be configured with subnets in at least two different Availability Zones in the Region. Because AWS CloudHSM is not supported in all Availability Zones, we recommend that the cluster have subnets in all Availability Zones in the Region.</p> </li> <li> <p>The cluster must contain at least two active HSMs, each in a different Availability Zone.</p> </li> </ul> <p>New custom key stores are not automatically connected. After you create your custom key store, use the <a>ConnectCustomKeyStore</a> operation to connect the custom key store to its associated AWS CloudHSM cluster. Even if you are not going to use your custom key store immediately, you might want to connect it to verify that all settings are correct and then disconnect it until you are ready to use it.</p> <p>If this operation succeeds, it returns the ID of the new custom key store. For help with failures, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshoot a Custom Key Store</a> in the <i>AWS KMS Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CloudHsmClusterInUseException",
        "documentation" : "<p>The request was rejected because the specified AWS CloudHSM cluster is already associated with a custom key store or it shares a backup history with a cluster that is associated with a custom key store. Each custom key store must be associated with a different AWS CloudHSM cluster.</p> <p>Clusters that share a backup history have the same cluster certificate. To view the cluster certificate of a cluster, use the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreNameInUseException",
        "documentation" : "<p>The request was rejected because the specified custom key store name is already assigned to another custom key store in the account. Try again with a custom key store name that is unique in the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmClusterNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find the AWS CloudHSM cluster with the specified cluster ID. Retry the request with a different cluster ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmClusterNotActiveException",
        "documentation" : "<p>The request was rejected because the AWS CloudHSM cluster that is associated with the custom key store is not active. Initialize and activate the cluster and try the command again. For detailed instructions, see <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/getting-started.html\">Getting Started</a> in the <i>AWS CloudHSM User Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncorrectTrustAnchorException",
        "documentation" : "<p>The request was rejected because the trust anchor certificate in the request is not the trust anchor certificate for the specified AWS CloudHSM cluster.</p> <p>When you <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/initialize-cluster.html#sign-csr\">initialize the cluster</a>, you create the trust anchor certificate and save it in the <code>customerCA.crt</code> file.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmClusterInvalidConfigurationException",
        "documentation" : "<p>The request was rejected because the associated AWS CloudHSM cluster did not meet the configuration requirements for a custom key store. The cluster must be configured with private subnets in at least two different Availability Zones in the Region. Also, it must contain at least as many HSMs as the operation requires.</p> <p>For the <a>CreateCustomKeyStore</a>, <a>UpdateCustomKeyStore</a>, and <a>CreateKey</a> operations, the AWS CloudHSM cluster must have at least two active HSMs, each in a different Availability Zone. For the <a>ConnectCustomKeyStore</a> operation, the AWS CloudHSM must contain at least one active HSM.</p> <p>For information about creating a private subnet for a AWS CloudHSM cluster, see <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/create-subnets.html\">Create a Private Subnet</a> in the <i>AWS CloudHSM User Guide</i>. To add HSMs, use the AWS CloudHSM <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCustomKeyStoreRequest",
        "variableName" : "createCustomKeyStoreRequest",
        "variableType" : "CreateCustomKeyStoreRequest",
        "documentation" : "",
        "simpleType" : "CreateCustomKeyStoreRequest",
        "variableSetterType" : "CreateCustomKeyStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCustomKeyStore",
      "operationName" : "CreateCustomKeyStore",
      "returnType" : {
        "returnType" : "CreateCustomKeyStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCustomKeyStoreResult"
    },
    "CreateGrant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGrantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGrantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGrantRequest, CreateGrantResult>",
      "asyncReturnType" : "CreateGrantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a grant to a customer master key (CMK). The grant specifies who can use the CMK and under what conditions. When setting permissions, grants are an alternative to key policies. </p> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN in the value of the <code>KeyId</code> parameter. For more information about grants, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/grants.html\">Grants</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGrantRequest",
        "variableName" : "createGrantRequest",
        "variableType" : "CreateGrantRequest",
        "documentation" : "",
        "simpleType" : "CreateGrantRequest",
        "variableSetterType" : "CreateGrantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGrant",
      "operationName" : "CreateGrant",
      "returnType" : {
        "returnType" : "CreateGrantResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGrantResult"
    },
    "CreateKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKeyRequest, CreateKeyResult>",
      "asyncReturnType" : "CreateKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a customer master key (CMK) in the caller's AWS account.</p> <p>You can use a CMK to encrypt small amounts of data (4 KiB or less) directly, but CMKs are more commonly used to encrypt data keys, which are used to encrypt raw data. For more information about data keys and the difference between CMKs and data keys, see the following:</p> <ul> <li> <p>The <a>GenerateDataKey</a> operation</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html\">AWS Key Management Service Concepts</a> in the <i>AWS Key Management Service Developer Guide</i> </p> </li> </ul> <p>If you plan to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">import key material</a>, use the <code>Origin</code> parameter with a value of <code>EXTERNAL</code> to create a CMK with no key material.</p> <p>To create a CMK in a <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-store-overview.html\">custom key store</a>, use <code>CustomKeyStoreId</code> parameter to specify the custom key store. You must also use the <code>Origin</code> parameter with a value of <code>AWS_CLOUDHSM</code>. The AWS CloudHSM cluster that is associated with the custom key store must have at least two active HSMs, each in a different Availability Zone in the Region.</p> <p>You cannot use this operation to create a CMK in a different AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedPolicyDocumentException",
        "documentation" : "<p>The request was rejected because the specified policy is not syntactically or semantically correct.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagException",
        "documentation" : "<p>The request was rejected because one or more tags are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified key store name or ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreInvalidStateException",
        "documentation" : "<p>The request was rejected because of the <code>ConnectionState</code> of the custom key store. To get the <code>ConnectionState</code> of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p> <p>This exception is thrown under the following conditions:</p> <ul> <li> <p>You requested the <a>CreateKey</a> or <a>GenerateRandom</a> operation in a custom key store that is not connected. These operations are valid only when the custom key store <code>ConnectionState</code> is <code>CONNECTED</code>.</p> </li> <li> <p>You requested the <a>UpdateCustomKeyStore</a> or <a>DeleteCustomKeyStore</a> operation on a custom key store that is not disconnected. This operation is valid only when the custom key store <code>ConnectionState</code> is <code>DISCONNECTED</code>.</p> </li> <li> <p>You requested the <a>ConnectCustomKeyStore</a> operation on a custom key store with a <code>ConnectionState</code> of <code>DISCONNECTING</code> or <code>FAILED</code>. This operation is valid for all other <code>ConnectionState</code> values.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CloudHsmClusterInvalidConfigurationException",
        "documentation" : "<p>The request was rejected because the associated AWS CloudHSM cluster did not meet the configuration requirements for a custom key store. The cluster must be configured with private subnets in at least two different Availability Zones in the Region. Also, it must contain at least as many HSMs as the operation requires.</p> <p>For the <a>CreateCustomKeyStore</a>, <a>UpdateCustomKeyStore</a>, and <a>CreateKey</a> operations, the AWS CloudHSM cluster must have at least two active HSMs, each in a different Availability Zone. For the <a>ConnectCustomKeyStore</a> operation, the AWS CloudHSM must contain at least one active HSM.</p> <p>For information about creating a private subnet for a AWS CloudHSM cluster, see <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/create-subnets.html\">Create a Private Subnet</a> in the <i>AWS CloudHSM User Guide</i>. To add HSMs, use the AWS CloudHSM <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateKeyRequest",
        "variableName" : "createKeyRequest",
        "variableType" : "CreateKeyRequest",
        "documentation" : "",
        "simpleType" : "CreateKeyRequest",
        "variableSetterType" : "CreateKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKey",
      "operationName" : "CreateKey",
      "returnType" : {
        "returnType" : "CreateKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKeyResult"
    },
    "Decrypt" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DecryptResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DecryptResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DecryptRequest, DecryptResult>",
      "asyncReturnType" : "DecryptResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Decrypts ciphertext. Ciphertext is plaintext that has been previously encrypted by using any of the following operations:</p> <ul> <li> <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a> </p> </li> <li> <p> <a>Encrypt</a> </p> </li> </ul> <p>Note that if a caller has been granted access permissions to all keys (through, for example, IAM user policies that grant <code>Decrypt</code> permission on all resources), then ciphertext encrypted by using keys in other accounts where the key grants access to the caller can be decrypted. To remedy this, we recommend that you do not grant <code>Decrypt</code> access in an IAM user policy. Instead grant <code>Decrypt</code> access only in key policies. If you must grant <code>Decrypt</code> access in an IAM user policy, you should scope the resource to specific keys or to specific trusted accounts.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCiphertextException",
        "documentation" : "<p>The request was rejected because the specified ciphertext, or additional authenticated data incorporated into the ciphertext, such as the encryption context, is corrupted, missing, or otherwise invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the specified CMK was not available. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DecryptRequest",
        "variableName" : "decryptRequest",
        "variableType" : "DecryptRequest",
        "documentation" : "",
        "simpleType" : "DecryptRequest",
        "variableSetterType" : "DecryptRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "decrypt",
      "operationName" : "Decrypt",
      "returnType" : {
        "returnType" : "DecryptResult",
        "documentation" : null
      },
      "syncReturnType" : "DecryptResult"
    },
    "DeleteAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAliasRequest, DeleteAliasResult>",
      "asyncReturnType" : "DeleteAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified alias. You cannot perform this operation on an alias in a different AWS account. </p> <p>Because an alias is not a property of a CMK, you can delete and change the aliases of a CMK without affecting the CMK. Also, aliases do not appear in the response from the <a>DescribeKey</a> operation. To get the aliases of all CMKs, use the <a>ListAliases</a> operation. </p> <p>Each CMK can have multiple aliases. To change the alias of a CMK, use <a>DeleteAlias</a> to delete the current alias and <a>CreateAlias</a> to create a new alias. To associate an existing alias with a different customer master key (CMK), call <a>UpdateAlias</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAliasRequest",
        "variableName" : "deleteAliasRequest",
        "variableType" : "DeleteAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteAliasRequest",
        "variableSetterType" : "DeleteAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlias",
      "operationName" : "DeleteAlias",
      "returnType" : {
        "returnType" : "DeleteAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAliasResult"
    },
    "DeleteCustomKeyStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCustomKeyStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCustomKeyStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCustomKeyStoreRequest, DeleteCustomKeyStoreResult>",
      "asyncReturnType" : "DeleteCustomKeyStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-store-overview.html\">custom key store</a>. This operation does not delete the AWS CloudHSM cluster that is associated with the custom key store, or affect any users or keys in the cluster.</p> <p>The custom key store that you delete cannot contain any AWS KMS <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">customer master keys (CMKs)</a>. Before deleting the key store, verify that you will never need to use any of the CMKs in the key store for any cryptographic operations. Then, use <a>ScheduleKeyDeletion</a> to delete the AWS KMS customer master keys (CMKs) from the key store. When the scheduled waiting period expires, the <code>ScheduleKeyDeletion</code> operation deletes the CMKs. Then it makes a best effort to delete the key material from the associated cluster. However, you might need to manually <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html#fix-keystore-orphaned-key\">delete the orphaned key material</a> from the cluster and its backups.</p> <p>After all CMKs are deleted from AWS KMS, use <a>DisconnectCustomKeyStore</a> to disconnect the key store from AWS KMS. Then, you can delete the custom key store.</p> <p>Instead of deleting the custom key store, consider using <a>DisconnectCustomKeyStore</a> to disconnect it from AWS KMS. While the key store is disconnected, you cannot create or use the CMKs in the key store. But, you do not need to delete CMKs and you can reconnect a disconnected custom key store at any time.</p> <p>If the operation succeeds, it returns a JSON object with no properties.</p> <p>This operation is part of the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which combines the convenience and extensive integration of AWS KMS with the isolation and control of a single-tenant key store.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CustomKeyStoreHasCMKsException",
        "documentation" : "<p>The request was rejected because the custom key store contains AWS KMS customer master keys (CMKs). After verifying that you do not need to use the CMKs, use the <a>ScheduleKeyDeletion</a> operation to delete the CMKs. After they are deleted, you can delete the custom key store.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreInvalidStateException",
        "documentation" : "<p>The request was rejected because of the <code>ConnectionState</code> of the custom key store. To get the <code>ConnectionState</code> of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p> <p>This exception is thrown under the following conditions:</p> <ul> <li> <p>You requested the <a>CreateKey</a> or <a>GenerateRandom</a> operation in a custom key store that is not connected. These operations are valid only when the custom key store <code>ConnectionState</code> is <code>CONNECTED</code>.</p> </li> <li> <p>You requested the <a>UpdateCustomKeyStore</a> or <a>DeleteCustomKeyStore</a> operation on a custom key store that is not disconnected. This operation is valid only when the custom key store <code>ConnectionState</code> is <code>DISCONNECTED</code>.</p> </li> <li> <p>You requested the <a>ConnectCustomKeyStore</a> operation on a custom key store with a <code>ConnectionState</code> of <code>DISCONNECTING</code> or <code>FAILED</code>. This operation is valid for all other <code>ConnectionState</code> values.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified key store name or ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCustomKeyStoreRequest",
        "variableName" : "deleteCustomKeyStoreRequest",
        "variableType" : "DeleteCustomKeyStoreRequest",
        "documentation" : "",
        "simpleType" : "DeleteCustomKeyStoreRequest",
        "variableSetterType" : "DeleteCustomKeyStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCustomKeyStore",
      "operationName" : "DeleteCustomKeyStore",
      "returnType" : {
        "returnType" : "DeleteCustomKeyStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCustomKeyStoreResult"
    },
    "DeleteImportedKeyMaterial" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImportedKeyMaterialResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImportedKeyMaterialResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImportedKeyMaterialRequest, DeleteImportedKeyMaterialResult>",
      "asyncReturnType" : "DeleteImportedKeyMaterialResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes key material that you previously imported. This operation makes the specified customer master key (CMK) unusable. For more information about importing key material into AWS KMS, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the <i>AWS Key Management Service Developer Guide</i>. You cannot perform this operation on a CMK in a different AWS account.</p> <p>When the specified CMK is in the <code>PendingDeletion</code> state, this operation does not change the CMK's state. Otherwise, it changes the CMK's state to <code>PendingImport</code>.</p> <p>After you delete key material, you can use <a>ImportKeyMaterial</a> to reimport the same key material into the CMK.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteImportedKeyMaterialRequest",
        "variableName" : "deleteImportedKeyMaterialRequest",
        "variableType" : "DeleteImportedKeyMaterialRequest",
        "documentation" : "",
        "simpleType" : "DeleteImportedKeyMaterialRequest",
        "variableSetterType" : "DeleteImportedKeyMaterialRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImportedKeyMaterial",
      "operationName" : "DeleteImportedKeyMaterial",
      "returnType" : {
        "returnType" : "DeleteImportedKeyMaterialResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImportedKeyMaterialResult"
    },
    "DescribeCustomKeyStores" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCustomKeyStoresResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCustomKeyStoresResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCustomKeyStoresRequest, DescribeCustomKeyStoresResult>",
      "asyncReturnType" : "DescribeCustomKeyStoresResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-store-overview.html\">custom key stores</a> in the account and region.</p> <p>This operation is part of the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which combines the convenience and extensive integration of AWS KMS with the isolation and control of a single-tenant key store.</p> <p>By default, this operation returns information about all custom key stores in the account and region. To get only information about a particular custom key store, use either the <code>CustomKeyStoreName</code> or <code>CustomKeyStoreId</code> parameter (but not both).</p> <p>To determine whether the custom key store is connected to its AWS CloudHSM cluster, use the <code>ConnectionState</code> element in the response. If an attempt to connect the custom key store failed, the <code>ConnectionState</code> value is <code>FAILED</code> and the <code>ConnectionErrorCode</code> element in the response indicates the cause of the failure. For help interpreting the <code>ConnectionErrorCode</code>, see <a>CustomKeyStoresListEntry</a>.</p> <p>Custom key stores have a <code>DISCONNECTED</code> connection state if the key store has never been connected or you use the <a>DisconnectCustomKeyStore</a> operation to disconnect it. If your custom key store state is <code>CONNECTED</code> but you are having trouble using it, make sure that its associated AWS CloudHSM cluster is active and contains the minimum number of HSMs required for the operation, if any.</p> <p> For help repairing your custom key store, see the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore-html\">Troubleshooting Custom Key Stores</a> topic in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CustomKeyStoreNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified key store name or ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCustomKeyStoresRequest",
        "variableName" : "describeCustomKeyStoresRequest",
        "variableType" : "DescribeCustomKeyStoresRequest",
        "documentation" : "",
        "simpleType" : "DescribeCustomKeyStoresRequest",
        "variableSetterType" : "DescribeCustomKeyStoresRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCustomKeyStores",
      "operationName" : "DescribeCustomKeyStores",
      "returnType" : {
        "returnType" : "DescribeCustomKeyStoresResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCustomKeyStoresResult"
    },
    "DescribeKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeKeyRequest, DescribeKeyResult>",
      "asyncReturnType" : "DescribeKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides detailed information about the specified customer master key (CMK).</p> <p>If you use <code>DescribeKey</code> on a predefined AWS alias, that is, an AWS alias with no key ID, AWS KMS associates the alias with an <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">AWS managed CMK</a> and returns its <code>KeyId</code> and <code>Arn</code> in the response.</p> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN or alias ARN in the value of the KeyId parameter.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeKeyRequest",
        "variableName" : "describeKeyRequest",
        "variableType" : "DescribeKeyRequest",
        "documentation" : "",
        "simpleType" : "DescribeKeyRequest",
        "variableSetterType" : "DescribeKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeKey",
      "operationName" : "DescribeKey",
      "returnType" : {
        "returnType" : "DescribeKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeKeyResult"
    },
    "DisableKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableKeyRequest, DisableKeyResult>",
      "asyncReturnType" : "DisableKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the state of a customer master key (CMK) to disabled, thereby preventing its use for cryptographic operations. You cannot perform this operation on a CMK in a different AWS account.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableKeyRequest",
        "variableName" : "disableKeyRequest",
        "variableType" : "DisableKeyRequest",
        "documentation" : "",
        "simpleType" : "DisableKeyRequest",
        "variableSetterType" : "DisableKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableKey",
      "operationName" : "DisableKey",
      "returnType" : {
        "returnType" : "DisableKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableKeyResult"
    },
    "DisableKeyRotation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableKeyRotationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableKeyRotationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableKeyRotationRequest, DisableKeyRotationResult>",
      "asyncReturnType" : "DisableKeyRotationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html\">automatic rotation of the key material</a> for the specified customer master key (CMK). You cannot perform this operation on a CMK in a different AWS account.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableKeyRotationRequest",
        "variableName" : "disableKeyRotationRequest",
        "variableType" : "DisableKeyRotationRequest",
        "documentation" : "",
        "simpleType" : "DisableKeyRotationRequest",
        "variableSetterType" : "DisableKeyRotationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableKeyRotation",
      "operationName" : "DisableKeyRotation",
      "returnType" : {
        "returnType" : "DisableKeyRotationResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableKeyRotationResult"
    },
    "DisconnectCustomKeyStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisconnectCustomKeyStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisconnectCustomKeyStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisconnectCustomKeyStoreRequest, DisconnectCustomKeyStoreResult>",
      "asyncReturnType" : "DisconnectCustomKeyStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disconnects the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-store-overview.html\">custom key store</a> from its associated AWS CloudHSM cluster. While a custom key store is disconnected, you can manage the custom key store and its customer master keys (CMKs), but you cannot create or use CMKs in the custom key store. You can reconnect the custom key store at any time.</p> <note> <p>While a custom key store is disconnected, all attempts to create customer master keys (CMKs) in the custom key store or to use existing CMKs in cryptographic operations will fail. This action can prevent users from storing and accessing sensitive data.</p> </note> <p/> <p>To find the connection state of a custom key store, use the <a>DescribeCustomKeyStores</a> operation. To reconnect a custom key store, use the <a>ConnectCustomKeyStore</a> operation.</p> <p>If the operation succeeds, it returns a JSON object with no properties.</p> <p>This operation is part of the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which combines the convenience and extensive integration of AWS KMS with the isolation and control of a single-tenant key store.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CustomKeyStoreInvalidStateException",
        "documentation" : "<p>The request was rejected because of the <code>ConnectionState</code> of the custom key store. To get the <code>ConnectionState</code> of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p> <p>This exception is thrown under the following conditions:</p> <ul> <li> <p>You requested the <a>CreateKey</a> or <a>GenerateRandom</a> operation in a custom key store that is not connected. These operations are valid only when the custom key store <code>ConnectionState</code> is <code>CONNECTED</code>.</p> </li> <li> <p>You requested the <a>UpdateCustomKeyStore</a> or <a>DeleteCustomKeyStore</a> operation on a custom key store that is not disconnected. This operation is valid only when the custom key store <code>ConnectionState</code> is <code>DISCONNECTED</code>.</p> </li> <li> <p>You requested the <a>ConnectCustomKeyStore</a> operation on a custom key store with a <code>ConnectionState</code> of <code>DISCONNECTING</code> or <code>FAILED</code>. This operation is valid for all other <code>ConnectionState</code> values.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CustomKeyStoreNotFoundException",
        "documentation" : "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified key store name or ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisconnectCustomKeyStoreRequest",
        "variableName" : "disconnectCustomKeyStoreRequest",
        "variableType" : "DisconnectCustomKeyStoreRequest",
        "documentation" : "",
        "simpleType" : "DisconnectCustomKeyStoreRequest",
        "variableSetterType" : "DisconnectCustomKeyStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disconnectCustomKeyStore",
      "operationName" : "DisconnectCustomKeyStore",
      "returnType" : {
        "returnType" : "DisconnectCustomKeyStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "DisconnectCustomKeyStoreResult"
    },
    "EnableKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableKeyRequest, EnableKeyResult>",
      "asyncReturnType" : "EnableKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the key state of a customer master key (CMK) to enabled. This allows you to use the CMK for cryptographic operations. You cannot perform this operation on a CMK in a different AWS account.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableKeyRequest",
        "variableName" : "enableKeyRequest",
        "variableType" : "EnableKeyRequest",
        "documentation" : "",
        "simpleType" : "EnableKeyRequest",
        "variableSetterType" : "EnableKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableKey",
      "operationName" : "EnableKey",
      "returnType" : {
        "returnType" : "EnableKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableKeyResult"
    },
    "EnableKeyRotation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableKeyRotationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableKeyRotationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableKeyRotationRequest, EnableKeyRotationResult>",
      "asyncReturnType" : "EnableKeyRotationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html\">automatic rotation of the key material</a> for the specified customer master key (CMK). You cannot perform this operation on a CMK in a different AWS account.</p> <p>You cannot enable automatic rotation of CMKs with imported key material or CMKs in a <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-store-overview.html\">custom key store</a>.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableKeyRotationRequest",
        "variableName" : "enableKeyRotationRequest",
        "variableType" : "EnableKeyRotationRequest",
        "documentation" : "",
        "simpleType" : "EnableKeyRotationRequest",
        "variableSetterType" : "EnableKeyRotationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableKeyRotation",
      "operationName" : "EnableKeyRotation",
      "returnType" : {
        "returnType" : "EnableKeyRotationResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableKeyRotationResult"
    },
    "Encrypt" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EncryptResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EncryptResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EncryptRequest, EncryptResult>",
      "asyncReturnType" : "EncryptResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Encrypts plaintext into ciphertext by using a customer master key (CMK). The <code>Encrypt</code> operation has two primary use cases:</p> <ul> <li> <p>You can encrypt up to 4 kilobytes (4096 bytes) of arbitrary data such as an RSA key, a database password, or other sensitive information.</p> </li> <li> <p>To move encrypted data from one AWS region to another, you can use this operation to encrypt in the new region the plaintext data key that was used to encrypt the data in the original region. This provides you with an encrypted copy of the data key that can be decrypted in the new region and used there to decrypt the encrypted data.</p> </li> </ul> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN or alias ARN in the value of the KeyId parameter.</p> <p>Unless you are moving encrypted data from one region to another, you don't use this operation to encrypt a generated data key within a region. To get data keys that are already encrypted, call the <a>GenerateDataKey</a> or <a>GenerateDataKeyWithoutPlaintext</a> operation. Data keys don't need to be encrypted again by calling <code>Encrypt</code>.</p> <p>To encrypt data locally in your application, use the <a>GenerateDataKey</a> operation to return a plaintext data encryption key and a copy of the key encrypted under the CMK of your choosing.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the specified CMK was not available. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidKeyUsageException",
        "documentation" : "<p>The request was rejected because the specified <code>KeySpec</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EncryptRequest",
        "variableName" : "encryptRequest",
        "variableType" : "EncryptRequest",
        "documentation" : "",
        "simpleType" : "EncryptRequest",
        "variableSetterType" : "EncryptRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "encrypt",
      "operationName" : "Encrypt",
      "returnType" : {
        "returnType" : "EncryptResult",
        "documentation" : null
      },
      "syncReturnType" : "EncryptResult"
    },
    "GenerateDataKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateDataKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateDataKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateDataKeyRequest, GenerateDataKeyResult>",
      "asyncReturnType" : "GenerateDataKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a data encryption key that you can use in your application to encrypt data locally. </p> <p>You must specify the customer master key (CMK) under which to generate the data key. You must also specify the length of the data key using either the <code>KeySpec</code> or <code>NumberOfBytes</code> field. You must specify one field or the other, but not both. For common key lengths (128-bit and 256-bit symmetric keys), we recommend that you use <code>KeySpec</code>. To perform this operation on a CMK in a different AWS account, specify the key ARN or alias ARN in the value of the KeyId parameter.</p> <p>This operation returns a plaintext copy of the data key in the <code>Plaintext</code> field of the response, and an encrypted copy of the data key in the <code>CiphertextBlob</code> field. The data key is encrypted under the CMK specified in the <code>KeyId</code> field of the request. </p> <p>We recommend that you use the following pattern to encrypt data locally in your application:</p> <ol> <li> <p>Use this operation (<code>GenerateDataKey</code>) to get a data encryption key.</p> </li> <li> <p>Use the plaintext data encryption key (returned in the <code>Plaintext</code> field of the response) to encrypt data locally, then erase the plaintext data key from memory.</p> </li> <li> <p>Store the encrypted data key (returned in the <code>CiphertextBlob</code> field of the response) alongside the locally encrypted data.</p> </li> </ol> <p>To decrypt data locally:</p> <ol> <li> <p>Use the <a>Decrypt</a> operation to decrypt the encrypted data key into a plaintext copy of the data key.</p> </li> <li> <p>Use the plaintext data key to decrypt data locally, then erase the plaintext data key from memory.</p> </li> </ol> <p>To return only an encrypted copy of the data key, use <a>GenerateDataKeyWithoutPlaintext</a>. To return a random byte string that is cryptographically secure, use <a>GenerateRandom</a>.</p> <p>If you use the optional <code>EncryptionContext</code> field, you must store at least enough information to be able to reconstruct the full encryption context when you later send the ciphertext to the <a>Decrypt</a> operation. It is a good practice to choose an encryption context that you can reconstruct on the fly to better secure the ciphertext. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encryption-context.html\">Encryption Context</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the specified CMK was not available. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidKeyUsageException",
        "documentation" : "<p>The request was rejected because the specified <code>KeySpec</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because the specified grant token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GenerateDataKeyRequest",
        "variableName" : "generateDataKeyRequest",
        "variableType" : "GenerateDataKeyRequest",
        "documentation" : "",
        "simpleType" : "GenerateDataKeyRequest",
        "variableSetterType" : "GenerateDataKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateDataKey",
      "operationName" : "GenerateDataKey",
      "returnType" : {
        "returnType" : "GenerateDataKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "GenerateDataKeyResult"
    },
    "GenerateDataKeyWithoutPlaintext" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateDataKeyWithoutPlaintextResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateDataKeyWithoutPlaintextResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateDataKeyWithoutPlaintextRequest, GenerateDataKeyWithoutPlaintextResult>",
      "asyncReturnType" : "GenerateDataKeyWithoutPlaintextResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a data encryption key encrypted under a customer master key (CMK). This operation is identical to <a>GenerateDataKey</a> but returns only the encrypted copy of the data key. </p> <p>To perform this operation on a CMK in a different AWS account, specify the key ARN or alias ARN in the value of the KeyId parameter.</p> <p>This operation is useful in a system that has multiple components with different degrees of trust. For example, consider a system that stores encrypted data in containers. Each container stores the encrypted data and an encrypted copy of the data key. One component of the system, called the <i>control plane</i>, creates new containers. When it creates a new container, it uses this operation (<code>GenerateDataKeyWithoutPlaintext</code>) to get an encrypted data key and then stores it in the container. Later, a different component of the system, called the <i>data plane</i>, puts encrypted data into the containers. To do this, it passes the encrypted data key to the <a>Decrypt</a> operation, then uses the returned plaintext data key to encrypt data, and finally stores the encrypted data in the container. In this system, the control plane never sees the plaintext data key.</p> <p>The result of this operation varies with the key state of the CMK. For details, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified CMK is not enabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the specified CMK was not available. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>",
        "httpStatusCode" : null
      }, {
[...]
