{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-03-31",
    "asyncClient" : "AWSLakeFormationAsyncClient",
    "asyncClientBuilderClassName" : "AWSLakeFormationAsyncClientBuilder",
    "asyncInterface" : "AWSLakeFormationAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSLakeFormationModuleInjector",
    "defaultEndpoint" : "lakeformation.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "lakeformation.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Lake Formation</fullname> <p>Defines the public endpoint for the AWS Lake Formation service.</p>",
    "endpointPrefix" : "lakeformation",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.lakeformation",
    "packagePath" : "com/amazonaws/services/lakeformation",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Lake Formation",
    "serviceId" : "LakeFormation",
    "serviceName" : "AWS Lake Formation",
    "signingName" : "lakeformation",
    "smokeTestsPackageName" : "com.amazonaws.services.lakeformation.smoketests",
    "syncClient" : "AWSLakeFormationClient",
    "syncClientBuilderClassName" : "AWSLakeFormationClientBuilder",
    "syncInterface" : "AWSLakeFormation",
    "uid" : "lakeformation-2017-03-31",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGrantPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGrantPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGrantPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGrantPermissionsRequest, BatchGrantPermissionsResult>",
      "asyncReturnType" : "BatchGrantPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Batch operation to grant permissions to the principal.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGrantPermissionsRequest",
        "variableName" : "batchGrantPermissionsRequest",
        "variableType" : "BatchGrantPermissionsRequest",
        "documentation" : "",
        "simpleType" : "BatchGrantPermissionsRequest",
        "variableSetterType" : "BatchGrantPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGrantPermissions",
      "operationName" : "BatchGrantPermissions",
      "returnType" : {
        "returnType" : "BatchGrantPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGrantPermissionsResult"
    },
    "BatchRevokePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchRevokePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchRevokePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchRevokePermissionsRequest, BatchRevokePermissionsResult>",
      "asyncReturnType" : "BatchRevokePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Batch operation to revoke permissions from the principal.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchRevokePermissionsRequest",
        "variableName" : "batchRevokePermissionsRequest",
        "variableType" : "BatchRevokePermissionsRequest",
        "documentation" : "",
        "simpleType" : "BatchRevokePermissionsRequest",
        "variableSetterType" : "BatchRevokePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchRevokePermissions",
      "operationName" : "BatchRevokePermissions",
      "returnType" : {
        "returnType" : "BatchRevokePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchRevokePermissionsResult"
    },
    "DeregisterResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterResourceRequest, DeregisterResourceResult>",
      "asyncReturnType" : "DeregisterResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters the resource as managed by the Data Catalog.</p> <p>When you deregister a path, Lake Formation removes the path from the inline policy attached to your service-linked role.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterResourceRequest",
        "variableName" : "deregisterResourceRequest",
        "variableType" : "DeregisterResourceRequest",
        "documentation" : "",
        "simpleType" : "DeregisterResourceRequest",
        "variableSetterType" : "DeregisterResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterResource",
      "operationName" : "DeregisterResource",
      "returnType" : {
        "returnType" : "DeregisterResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterResourceResult"
    },
    "DescribeResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourceRequest, DescribeResourceResult>",
      "asyncReturnType" : "DescribeResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current data access role for the given resource registered in AWS Lake Formation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeResourceRequest",
        "variableName" : "describeResourceRequest",
        "variableType" : "DescribeResourceRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourceRequest",
        "variableSetterType" : "DescribeResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResource",
      "operationName" : "DescribeResource",
      "returnType" : {
        "returnType" : "DescribeResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourceResult"
    },
    "GetDataLakeSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataLakeSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataLakeSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataLakeSettingsRequest, GetDataLakeSettingsResult>",
      "asyncReturnType" : "GetDataLakeSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The AWS Lake Formation principal.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataLakeSettingsRequest",
        "variableName" : "getDataLakeSettingsRequest",
        "variableType" : "GetDataLakeSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetDataLakeSettingsRequest",
        "variableSetterType" : "GetDataLakeSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataLakeSettings",
      "operationName" : "GetDataLakeSettings",
      "returnType" : {
        "returnType" : "GetDataLakeSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDataLakeSettingsResult"
    },
    "GetEffectivePermissionsForPath" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEffectivePermissionsForPathResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEffectivePermissionsForPathResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEffectivePermissionsForPathRequest, GetEffectivePermissionsForPathResult>",
      "asyncReturnType" : "GetEffectivePermissionsForPathResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the permissions for a specified table or database resource located at a path in Amazon S3.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEffectivePermissionsForPathRequest",
        "variableName" : "getEffectivePermissionsForPathRequest",
        "variableType" : "GetEffectivePermissionsForPathRequest",
        "documentation" : "",
        "simpleType" : "GetEffectivePermissionsForPathRequest",
        "variableSetterType" : "GetEffectivePermissionsForPathRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEffectivePermissionsForPath",
      "operationName" : "GetEffectivePermissionsForPath",
      "returnType" : {
        "returnType" : "GetEffectivePermissionsForPathResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEffectivePermissionsForPathResult"
    },
    "GrantPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GrantPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GrantPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GrantPermissionsRequest, GrantPermissionsResult>",
      "asyncReturnType" : "GrantPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permissions to the principal to access metadata in the Data Catalog and data organized in underlying data storage such as Amazon S3.</p> <p>For information about permissions, see <a href=\"https://docs-aws.amazon.com/michigan/latest/dg/security-data-access.html\">Security and Access Control to Metadata and Data</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GrantPermissionsRequest",
        "variableName" : "grantPermissionsRequest",
        "variableType" : "GrantPermissionsRequest",
        "documentation" : "",
        "simpleType" : "GrantPermissionsRequest",
        "variableSetterType" : "GrantPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "grantPermissions",
      "operationName" : "GrantPermissions",
      "returnType" : {
        "returnType" : "GrantPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GrantPermissionsResult"
    },
    "ListPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionsRequest, ListPermissionsResult>",
      "asyncReturnType" : "ListPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the principal permissions on the resource, filtered by the permissions of the caller. For example, if you are granted an ALTER permission, you are able to see only the principal permissions for ALTER.</p> <p>This operation returns only those permissions that have been explicitly granted.</p> <p>For information about permissions, see <a href=\"https://docs-aws.amazon.com/michigan/latest/dg/security-data-access.html\">Security and Access Control to Metadata and Data</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionsRequest",
        "variableName" : "listPermissionsRequest",
        "variableType" : "ListPermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionsRequest",
        "variableSetterType" : "ListPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissions",
      "operationName" : "ListPermissions",
      "returnType" : {
        "returnType" : "ListPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionsResult"
    },
    "ListResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesRequest, ListResourcesResult>",
      "asyncReturnType" : "ListResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resources registered to be managed by the Data Catalog.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesRequest",
        "variableName" : "listResourcesRequest",
        "variableType" : "ListResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesRequest",
        "variableSetterType" : "ListResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResources",
      "operationName" : "ListResources",
      "returnType" : {
        "returnType" : "ListResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesResult"
    },
    "PutDataLakeSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDataLakeSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDataLakeSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDataLakeSettingsRequest, PutDataLakeSettingsResult>",
      "asyncReturnType" : "PutDataLakeSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The AWS Lake Formation principal.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutDataLakeSettingsRequest",
        "variableName" : "putDataLakeSettingsRequest",
        "variableType" : "PutDataLakeSettingsRequest",
        "documentation" : "",
        "simpleType" : "PutDataLakeSettingsRequest",
        "variableSetterType" : "PutDataLakeSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDataLakeSettings",
      "operationName" : "PutDataLakeSettings",
      "returnType" : {
        "returnType" : "PutDataLakeSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDataLakeSettingsResult"
    },
    "RegisterResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterResourceRequest, RegisterResourceResult>",
      "asyncReturnType" : "RegisterResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers the resource as managed by the Data Catalog.</p> <p>To add or update data, Lake Formation needs read/write access to the chosen Amazon S3 path. Choose a role that you know has permission to do this, or choose the AWSServiceRoleForLakeFormationDataAccess service-linked role. When you register the first Amazon S3 path, the service-linked role and a new inline policy are created on your behalf. Lake Formation adds the first path to the inline policy and attaches it to the service-linked role. When you register subsequent paths, Lake Formation adds the path to the existing policy.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>A resource to be created or added already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterResourceRequest",
        "variableName" : "registerResourceRequest",
        "variableType" : "RegisterResourceRequest",
        "documentation" : "",
        "simpleType" : "RegisterResourceRequest",
        "variableSetterType" : "RegisterResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerResource",
      "operationName" : "RegisterResource",
      "returnType" : {
        "returnType" : "RegisterResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterResourceResult"
    },
    "RevokePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokePermissionsRequest, RevokePermissionsResult>",
      "asyncReturnType" : "RevokePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Revokes permissions to the principal to access metadata in the Data Catalog and data organized in underlying data storage such as Amazon S3.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokePermissionsRequest",
        "variableName" : "revokePermissionsRequest",
        "variableType" : "RevokePermissionsRequest",
        "documentation" : "",
        "simpleType" : "RevokePermissionsRequest",
        "variableSetterType" : "RevokePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokePermissions",
      "operationName" : "RevokePermissions",
      "returnType" : {
        "returnType" : "RevokePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "RevokePermissionsResult"
    },
    "UpdateResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResourceRequest, UpdateResourceResult>",
      "asyncReturnType" : "UpdateResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the data access role used for vending access to the given (registered) resource in AWS Lake Formation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResourceRequest",
        "variableName" : "updateResourceRequest",
        "variableType" : "UpdateResourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateResourceRequest",
        "variableSetterType" : "UpdateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResource",
      "operationName" : "UpdateResource",
      "returnType" : {
        "returnType" : "UpdateResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResourceResult"
    }
  },
  "shapes" : {
    "AlreadyExistsException" : {
      "c2jName" : "AlreadyExistsException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A resource to be created or added already exists.</p>",
      "enums" : null,
      "errorCode" : "AlreadyExistsException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AlreadyExistsException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlreadyExistsException",
        "variableName" : "alreadyExistsException",
        "variableType" : "AlreadyExistsException",
        "documentation" : null,
        "simpleType" : "AlreadyExistsException",
        "variableSetterType" : "AlreadyExistsException"
      },
      "wrapper" : false
    },
    "BatchGrantPermissionsRequest" : {
      "c2jName" : "BatchGrantPermissionsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchGrantPermissions",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSLakeFormation.BatchGrantPermissions",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "CatalogId",
        "c2jShape" : "CatalogIdString",
        "deprecated" : false,
        "documentation" : "<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>\n@param catalogId The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCatalogId",
        "getterDocumentation" : "/**<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>\n@return The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment.*/",
        "getterMethodName" : "getCatalogId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CatalogId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CatalogId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CatalogId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>\n@param catalogId The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment.*/",
        "setterMethodName" : "setCatalogId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "catalogId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>\n@param catalogId The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "catalogId",
          "variableType" : "String",
          "documentation" : "<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Entries",
        "c2jShape" : "BatchPermissionsRequestEntryList",
        "deprecated" : false,
        "documentation" : "<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>\n@param entries A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEntries",
        "getterDocumentation" : "/**<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>\n@return A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.*/",
        "getterMethodName" : "getEntries",
        "getterModel" : {
          "returnType" : "java.util.List<BatchPermissionsRequestEntry>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Entries",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Entries",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BatchPermissionsRequestEntry",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "BatchPermissionsRequestEntry",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "BatchPermissionsRequestEntry",
              "variableName" : "member",
              "variableType" : "BatchPermissionsRequestEntry",
              "documentation" : "",
              "simpleType" : "BatchPermissionsRequestEntry",
              "variableSetterType" : "BatchPermissionsRequestEntry"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "BatchPermissionsRequestEntry",
              "variableName" : "member",
              "variableType" : "BatchPermissionsRequestEntry",
              "documentation" : "",
              "simpleType" : "BatchPermissionsRequestEntry",
              "variableSetterType" : "BatchPermissionsRequestEntry"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "BatchPermissionsRequestEntry",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "BatchPermissionsRequestEntry",
          "templateImplType" : "java.util.ArrayList<BatchPermissionsRequestEntry>",
          "templateType" : "java.util.List<BatchPermissionsRequestEntry>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Entries",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>\n@param entries A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.*/",
        "setterMethodName" : "setEntries",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<BatchPermissionsRequestEntry>",
          "variableName" : "entries",
          "variableType" : "java.util.List<BatchPermissionsRequestEntry>",
          "documentation" : "",
          "simpleType" : "List<BatchPermissionsRequestEntry>",
          "variableSetterType" : "java.util.Collection<BatchPermissionsRequestEntry>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEntries(java.util.Collection)} or {@link #withEntries(java.util.Collection)} if you want to override the existing values.</p>\n@param entries A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<BatchPermissionsRequestEntry>",
          "variableName" : "entries",
          "variableType" : "java.util.List<BatchPermissionsRequestEntry>",
          "documentation" : "<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>",
          "simpleType" : "List<BatchPermissionsRequestEntry>",
          "variableSetterType" : "java.util.Collection<BatchPermissionsRequestEntry>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CatalogId" : {
          "c2jName" : "CatalogId",
          "c2jShape" : "CatalogIdString",
          "deprecated" : false,
          "documentation" : "<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>\n@param catalogId The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCatalogId",
          "getterDocumentation" : "/**<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>\n@return The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment.*/",
          "getterMethodName" : "getCatalogId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CatalogId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CatalogId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CatalogId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>\n@param catalogId The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment.*/",
          "setterMethodName" : "setCatalogId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "catalogId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>\n@param catalogId The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "catalogId",
            "variableType" : "String",
            "documentation" : "<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Entries" : {
          "c2jName" : "Entries",
          "c2jShape" : "BatchPermissionsRequestEntryList",
          "deprecated" : false,
          "documentation" : "<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>\n@param entries A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEntries",
          "getterDocumentation" : "/**<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>\n@return A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.*/",
          "getterMethodName" : "getEntries",
          "getterModel" : {
            "returnType" : "java.util.List<BatchPermissionsRequestEntry>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Entries",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Entries",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BatchPermissionsRequestEntry",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "BatchPermissionsRequestEntry",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "BatchPermissionsRequestEntry",
                "variableName" : "member",
                "variableType" : "BatchPermissionsRequestEntry",
                "documentation" : "",
                "simpleType" : "BatchPermissionsRequestEntry",
                "variableSetterType" : "BatchPermissionsRequestEntry"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "BatchPermissionsRequestEntry",
                "variableName" : "member",
                "variableType" : "BatchPermissionsRequestEntry",
                "documentation" : "",
                "simpleType" : "BatchPermissionsRequestEntry",
                "variableSetterType" : "BatchPermissionsRequestEntry"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "BatchPermissionsRequestEntry",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "BatchPermissionsRequestEntry",
            "templateImplType" : "java.util.ArrayList<BatchPermissionsRequestEntry>",
            "templateType" : "java.util.List<BatchPermissionsRequestEntry>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Entries",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>\n@param entries A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.*/",
          "setterMethodName" : "setEntries",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<BatchPermissionsRequestEntry>",
            "variableName" : "entries",
            "variableType" : "java.util.List<BatchPermissionsRequestEntry>",
            "documentation" : "",
            "simpleType" : "List<BatchPermissionsRequestEntry>",
            "variableSetterType" : "java.util.Collection<BatchPermissionsRequestEntry>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEntries(java.util.Collection)} or {@link #withEntries(java.util.Collection)} if you want to override the existing values.</p>\n@param entries A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<BatchPermissionsRequestEntry>",
            "variableName" : "entries",
            "variableType" : "java.util.List<BatchPermissionsRequestEntry>",
            "documentation" : "<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>",
            "simpleType" : "List<BatchPermissionsRequestEntry>",
            "variableSetterType" : "java.util.Collection<BatchPermissionsRequestEntry>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Entries" ],
      "shapeName" : "BatchGrantPermissionsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGrantPermissionsRequest",
        "variableName" : "batchGrantPermissionsRequest",
        "variableType" : "BatchGrantPermissionsRequest",
        "documentation" : null,
        "simpleType" : "BatchGrantPermissionsRequest",
        "variableSetterType" : "BatchGrantPermissionsRequest"
      },
      "wrapper" : false
    },
    "BatchGrantPermissionsResult" : {
      "c2jName" : "BatchGrantPermissionsResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Failures",
        "c2jShape" : "BatchPermissionsFailureList",
        "deprecated" : false,
        "documentation" : "<p>A list of failures to grant permissions to the resources.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of failures to grant permissions to the resources.</p>\n@param failures A list of failures to grant permissions to the resources.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFailures",
        "getterDocumentation" : "/**<p>A list of failures to grant permissions to the resources.</p>\n@return A list of failures to grant permissions to the resources.*/",
        "getterMethodName" : "getFailures",
        "getterModel" : {
          "returnType" : "java.util.List<BatchPermissionsFailureEntry>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Failures",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Failures",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BatchPermissionsFailureEntry",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "BatchPermissionsFailureEntry",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "BatchPermissionsFailureEntry",
              "variableName" : "member",
              "variableType" : "BatchPermissionsFailureEntry",
              "documentation" : "",
              "simpleType" : "BatchPermissionsFailureEntry",
              "variableSetterType" : "BatchPermissionsFailureEntry"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "BatchPermissionsFailureEntry",
              "variableName" : "member",
              "variableType" : "BatchPermissionsFailureEntry",
              "documentation" : "",
              "simpleType" : "BatchPermissionsFailureEntry",
              "variableSetterType" : "BatchPermissionsFailureEntry"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "BatchPermissionsFailureEntry",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "BatchPermissionsFailureEntry",
          "templateImplType" : "java.util.ArrayList<BatchPermissionsFailureEntry>",
          "templateType" : "java.util.List<BatchPermissionsFailureEntry>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Failures",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of failures to grant permissions to the resources.</p>\n@param failures A list of failures to grant permissions to the resources.*/",
        "setterMethodName" : "setFailures",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<BatchPermissionsFailureEntry>",
          "variableName" : "failures",
          "variableType" : "java.util.List<BatchPermissionsFailureEntry>",
          "documentation" : "",
          "simpleType" : "List<BatchPermissionsFailureEntry>",
          "variableSetterType" : "java.util.Collection<BatchPermissionsFailureEntry>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of failures to grant permissions to the resources.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailures(java.util.Collection)} or {@link #withFailures(java.util.Collection)} if you want to override the existing values.</p>\n@param failures A list of failures to grant permissions to the resources.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<BatchPermissionsFailureEntry>",
          "variableName" : "failures",
          "variableType" : "java.util.List<BatchPermissionsFailureEntry>",
          "documentation" : "<p>A list of failures to grant permissions to the resources.</p>",
          "simpleType" : "List<BatchPermissionsFailureEntry>",
          "variableSetterType" : "java.util.Collection<BatchPermissionsFailureEntry>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Failures" : {
          "c2jName" : "Failures",
          "c2jShape" : "BatchPermissionsFailureList",
          "deprecated" : false,
          "documentation" : "<p>A list of failures to grant permissions to the resources.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of failures to grant permissions to the resources.</p>\n@param failures A list of failures to grant permissions to the resources.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFailures",
          "getterDocumentation" : "/**<p>A list of failures to grant permissions to the resources.</p>\n@return A list of failures to grant permissions to the resources.*/",
          "getterMethodName" : "getFailures",
          "getterModel" : {
            "returnType" : "java.util.List<BatchPermissionsFailureEntry>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Failures",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Failures",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BatchPermissionsFailureEntry",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "BatchPermissionsFailureEntry",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "BatchPermissionsFailureEntry",
                "variableName" : "member",
                "variableType" : "BatchPermissionsFailureEntry",
                "documentation" : "",
                "simpleType" : "BatchPermissionsFailureEntry",
                "variableSetterType" : "BatchPermissionsFailureEntry"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "BatchPermissionsFailureEntry",
                "variableName" : "member",
                "variableType" : "BatchPermissionsFailureEntry",
                "documentation" : "",
                "simpleType" : "BatchPermissionsFailureEntry",
                "variableSetterType" : "BatchPermissionsFailureEntry"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "BatchPermissionsFailureEntry",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "BatchPermissionsFailureEntry",
            "templateImplType" : "java.util.ArrayList<BatchPermissionsFailureEntry>",
            "templateType" : "java.util.List<BatchPermissionsFailureEntry>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Failures",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of failures to grant permissions to the resources.</p>\n@param failures A list of failures to grant permissions to the resources.*/",
          "setterMethodName" : "setFailures",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<BatchPermissionsFailureEntry>",
            "variableName" : "failures",
            "variableType" : "java.util.List<BatchPermissionsFailureEntry>",
            "documentation" : "",
            "simpleType" : "List<BatchPermissionsFailureEntry>",
            "variableSetterType" : "java.util.Collection<BatchPermissionsFailureEntry>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of failures to grant permissions to the resources.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailures(java.util.Collection)} or {@link #withFailures(java.util.Collection)} if you want to override the existing values.</p>\n@param failures A list of failures to grant permissions to the resources.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<BatchPermissionsFailureEntry>",
            "variableName" : "failures",
            "variableType" : "java.util.List<BatchPermissionsFailureEntry>",
            "documentation" : "<p>A list of failures to grant permissions to the resources.</p>",
            "simpleType" : "List<BatchPermissionsFailureEntry>",
            "variableSetterType" : "java.util.Collection<BatchPermissionsFailureEntry>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BatchGrantPermissionsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGrantPermissionsResult",
        "variableName" : "batchGrantPermissionsResult",
        "variableType" : "BatchGrantPermissionsResult",
        "documentation" : null,
        "simpleType" : "BatchGrantPermissionsResult",
        "variableSetterType" : "BatchGrantPermissionsResult"
      },
      "wrapper" : false
    },
    "BatchPermissionsFailureEntry" : {
      "c2jName" : "BatchPermissionsFailureEntry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A list of failures when performing a batch grant or batch revoke operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "RequestEntry",
        "c2jShape" : "BatchPermissionsRequestEntry",
        "deprecated" : false,
        "documentation" : "<p>An identifier for an entry of the batch request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An identifier for an entry of the batch request.</p>\n@param requestEntry An identifier for an entry of the batch request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequestEntry",
        "getterDocumentation" : "/**<p>An identifier for an entry of the batch request.</p>\n@return An identifier for an entry of the batch request.*/",
        "getterMethodName" : "getRequestEntry",
        "getterModel" : {
          "returnType" : "BatchPermissionsRequestEntry",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RequestEntry",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RequestEntry",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "RequestEntry",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An identifier for an entry of the batch request.</p>\n@param requestEntry An identifier for an entry of the batch request.*/",
        "setterMethodName" : "setRequestEntry",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "BatchPermissionsRequestEntry",
          "variableName" : "requestEntry",
          "variableType" : "BatchPermissionsRequestEntry",
          "documentation" : "",
          "simpleType" : "BatchPermissionsRequestEntry",
          "variableSetterType" : "BatchPermissionsRequestEntry"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An identifier for an entry of the batch request.</p>\n@param requestEntry An identifier for an entry of the batch request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "BatchPermissionsRequestEntry",
          "variableName" : "requestEntry",
          "variableType" : "BatchPermissionsRequestEntry",
          "documentation" : "<p>An identifier for an entry of the batch request.</p>",
          "simpleType" : "BatchPermissionsRequestEntry",
          "variableSetterType" : "BatchPermissionsRequestEntry"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Error",
        "c2jShape" : "ErrorDetail",
        "deprecated" : false,
        "documentation" : "<p>An error message that applies to the failure of the entry.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An error message that applies to the failure of the entry.</p>\n@param error An error message that applies to the failure of the entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withError",
        "getterDocumentation" : "/**<p>An error message that applies to the failure of the entry.</p>\n@return An error message that applies to the failure of the entry.*/",
        "getterMethodName" : "getError",
        "getterModel" : {
          "returnType" : "ErrorDetail",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Error",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Error",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Error",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An error message that applies to the failure of the entry.</p>\n@param error An error message that applies to the failure of the entry.*/",
        "setterMethodName" : "setError",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ErrorDetail",
          "variableName" : "error",
          "variableType" : "ErrorDetail",
          "documentation" : "",
          "simpleType" : "ErrorDetail",
          "variableSetterType" : "ErrorDetail"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An error message that applies to the failure of the entry.</p>\n@param error An error message that applies to the failure of the entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ErrorDetail",
          "variableName" : "error",
          "variableType" : "ErrorDetail",
          "documentation" : "<p>An error message that applies to the failure of the entry.</p>",
          "simpleType" : "ErrorDetail",
          "variableSetterType" : "ErrorDetail"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Error" : {
          "c2jName" : "Error",
          "c2jShape" : "ErrorDetail",
          "deprecated" : false,
          "documentation" : "<p>An error message that applies to the failure of the entry.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An error message that applies to the failure of the entry.</p>\n@param error An error message that applies to the failure of the entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withError",
          "getterDocumentation" : "/**<p>An error message that applies to the failure of the entry.</p>\n@return An error message that applies to the failure of the entry.*/",
          "getterMethodName" : "getError",
          "getterModel" : {
            "returnType" : "ErrorDetail",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Error",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Error",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Error",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An error message that applies to the failure of the entry.</p>\n@param error An error message that applies to the failure of the entry.*/",
          "setterMethodName" : "setError",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ErrorDetail",
            "variableName" : "error",
            "variableType" : "ErrorDetail",
            "documentation" : "",
            "simpleType" : "ErrorDetail",
            "variableSetterType" : "ErrorDetail"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An error message that applies to the failure of the entry.</p>\n@param error An error message that applies to the failure of the entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ErrorDetail",
            "variableName" : "error",
            "variableType" : "ErrorDetail",
            "documentation" : "<p>An error message that applies to the failure of the entry.</p>",
            "simpleType" : "ErrorDetail",
            "variableSetterType" : "ErrorDetail"
          },
          "xmlNameSpaceUri" : null
        },
        "RequestEntry" : {
          "c2jName" : "RequestEntry",
          "c2jShape" : "BatchPermissionsRequestEntry",
          "deprecated" : false,
          "documentation" : "<p>An identifier for an entry of the batch request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An identifier for an entry of the batch request.</p>\n@param requestEntry An identifier for an entry of the batch request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRequestEntry",
          "getterDocumentation" : "/**<p>An identifier for an entry of the batch request.</p>\n@return An identifier for an entry of the batch request.*/",
          "getterMethodName" : "getRequestEntry",
          "getterModel" : {
            "returnType" : "BatchPermissionsRequestEntry",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RequestEntry",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RequestEntry",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "RequestEntry",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An identifier for an entry of the batch request.</p>\n@param requestEntry An identifier for an entry of the batch request.*/",
          "setterMethodName" : "setRequestEntry",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "BatchPermissionsRequestEntry",
            "variableName" : "requestEntry",
            "variableType" : "BatchPermissionsRequestEntry",
            "documentation" : "",
            "simpleType" : "BatchPermissionsRequestEntry",
            "variableSetterType" : "BatchPermissionsRequestEntry"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An identifier for an entry of the batch request.</p>\n@param requestEntry An identifier for an entry of the batch request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "BatchPermissionsRequestEntry",
            "variableName" : "requestEntry",
            "variableType" : "BatchPermissionsRequestEntry",
            "documentation" : "<p>An identifier for an entry of the batch request.</p>",
            "simpleType" : "BatchPermissionsRequestEntry",
            "variableSetterType" : "BatchPermissionsRequestEntry"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BatchPermissionsFailureEntry",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchPermissionsFailureEntry",
        "variableName" : "batchPermissionsFailureEntry",
        "variableType" : "BatchPermissionsFailureEntry",
        "documentation" : null,
        "simpleType" : "BatchPermissionsFailureEntry",
        "variableSetterType" : "BatchPermissionsFailureEntry"
      },
      "wrapper" : false
    },
    "BatchPermissionsRequestEntry" : {
      "c2jName" : "BatchPermissionsRequestEntry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A permission to a resource granted by batch operation to the principal.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Id",
        "c2jShape" : "Identifier",
        "deprecated" : false,
        "documentation" : "<p>A unique identifier for the batch permissions request entry.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique identifier for the batch permissions request entry.</p>\n@param id A unique identifier for the batch permissions request entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>A unique identifier for the batch permissions request entry.</p>\n@return A unique identifier for the batch permissions request entry.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique identifier for the batch permissions request entry.</p>\n@param id A unique identifier for the batch permissions request entry.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique identifier for the batch permissions request entry.</p>\n@param id A unique identifier for the batch permissions request entry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>A unique identifier for the batch permissions request entry.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Principal",
        "c2jShape" : "DataLakePrincipal",
        "deprecated" : false,
        "documentation" : "<p>The principal to be granted a permission.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The principal to be granted a permission.</p>\n@param principal The principal to be granted a permission.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPrincipal",
        "getterDocumentation" : "/**<p>The principal to be granted a permission.</p>\n@return The principal to be granted a permission.*/",
        "getterMethodName" : "getPrincipal",
        "getterModel" : {
          "returnType" : "DataLakePrincipal",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Principal",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Principal",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Principal",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The principal to be granted a permission.</p>\n@param principal The principal to be granted a permission.*/",
        "setterMethodName" : "setPrincipal",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DataLakePrincipal",
          "variableName" : "principal",
          "variableType" : "DataLakePrincipal",
          "documentation" : "",
          "simpleType" : "DataLakePrincipal",
          "variableSetterType" : "DataLakePrincipal"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The principal to be granted a permission.</p>\n@param principal The principal to be granted a permission.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DataLakePrincipal",
          "variableName" : "principal",
          "variableType" : "DataLakePrincipal",
          "documentation" : "<p>The principal to be granted a permission.</p>",
          "simpleType" : "DataLakePrincipal",
          "variableSetterType" : "DataLakePrincipal"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Resource",
        "c2jShape" : "Resource",
        "deprecated" : false,
        "documentation" : "<p>The resource to which the principal is to be granted a permission.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The resource to which the principal is to be granted a permission.</p>\n@param resource The resource to which the principal is to be granted a permission.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResource",
        "getterDocumentation" : "/**<p>The resource to which the principal is to be granted a permission.</p>\n@return The resource to which the principal is to be granted a permission.*/",
        "getterMethodName" : "getResource",
        "getterModel" : {
          "returnType" : "Resource",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Resource",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Resource",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Resource",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The resource to which the principal is to be granted a permission.</p>\n@param resource The resource to which the principal is to be granted a permission.*/",
        "setterMethodName" : "setResource",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Resource",
          "variableName" : "resource",
          "variableType" : "Resource",
          "documentation" : "",
          "simpleType" : "Resource",
          "variableSetterType" : "Resource"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The resource to which the principal is to be granted a permission.</p>\n@param resource The resource to which the principal is to be granted a permission.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Resource",
          "variableName" : "resource",
          "variableType" : "Resource",
          "documentation" : "<p>The resource to which the principal is to be granted a permission.</p>",
          "simpleType" : "Resource",
          "variableSetterType" : "Resource"
        },
[...]
