{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-03-31",
    "asyncClient" : "AWSLakeFormationAsyncClient",
    "asyncClientBuilderClassName" : "AWSLakeFormationAsyncClientBuilder",
    "asyncInterface" : "AWSLakeFormationAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSLakeFormationModuleInjector",
    "defaultEndpoint" : "lakeformation.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "lakeformation.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Lake Formation</fullname> <p>Defines the public endpoint for the Lake Formation service.</p>",
    "endpointPrefix" : "lakeformation",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.lakeformation",
    "packagePath" : "com/amazonaws/services/lakeformation",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Lake Formation",
    "serviceId" : "LakeFormation",
    "serviceName" : "AWS Lake Formation",
    "signingName" : "lakeformation",
    "smokeTestsPackageName" : "com.amazonaws.services.lakeformation.smoketests",
    "syncClient" : "AWSLakeFormationClient",
    "syncClientBuilderClassName" : "AWSLakeFormationClientBuilder",
    "syncInterface" : "AWSLakeFormation",
    "uid" : "lakeformation-2017-03-31",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddLFTagsToResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddLFTagsToResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddLFTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddLFTagsToResourceRequest, AddLFTagsToResourceResult>",
      "asyncReturnType" : "AddLFTagsToResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches one or more LF-tags to an existing resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddLFTagsToResourceRequest",
        "variableName" : "addLFTagsToResourceRequest",
        "variableType" : "AddLFTagsToResourceRequest",
        "documentation" : "",
        "simpleType" : "AddLFTagsToResourceRequest",
        "variableSetterType" : "AddLFTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addLFTagsToResource",
      "operationName" : "AddLFTagsToResource",
      "returnType" : {
        "returnType" : "AddLFTagsToResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "AddLFTagsToResourceResult"
    },
    "AssumeDecoratedRoleWithSAML" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssumeDecoratedRoleWithSAMLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssumeDecoratedRoleWithSAMLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssumeDecoratedRoleWithSAMLRequest, AssumeDecoratedRoleWithSAMLResult>",
      "asyncReturnType" : "AssumeDecoratedRoleWithSAMLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows a caller to assume an IAM role decorated as the SAML user specified in the SAML assertion included in the request. This decoration allows Lake Formation to enforce access policies against the SAML users and groups. This API operation requires SAML federation setup in the caller’s account as it can only be called with valid SAML assertions. Lake Formation does not scope down the permission of the assumed role. All permissions attached to the role via the SAML federation setup will be included in the role session. </p> <p> This decorated role is expected to access data in Amazon S3 by getting temporary access from Lake Formation which is authorized via the virtual API <code>GetDataAccess</code>. Therefore, all SAML roles that can be assumed via <code>AssumeDecoratedRoleWithSAML</code> must at a minimum include <code>lakeformation:GetDataAccess</code> in their role policies. A typical IAM policy attached to such a role would look as follows: </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssumeDecoratedRoleWithSAMLRequest",
        "variableName" : "assumeDecoratedRoleWithSAMLRequest",
        "variableType" : "AssumeDecoratedRoleWithSAMLRequest",
        "documentation" : "",
        "simpleType" : "AssumeDecoratedRoleWithSAMLRequest",
        "variableSetterType" : "AssumeDecoratedRoleWithSAMLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "assumeDecoratedRoleWithSAML",
      "operationName" : "AssumeDecoratedRoleWithSAML",
      "returnType" : {
        "returnType" : "AssumeDecoratedRoleWithSAMLResult",
        "documentation" : null
      },
      "syncReturnType" : "AssumeDecoratedRoleWithSAMLResult"
    },
    "BatchGrantPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGrantPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGrantPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGrantPermissionsRequest, BatchGrantPermissionsResult>",
      "asyncReturnType" : "BatchGrantPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Batch operation to grant permissions to the principal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGrantPermissionsRequest",
        "variableName" : "batchGrantPermissionsRequest",
        "variableType" : "BatchGrantPermissionsRequest",
        "documentation" : "",
        "simpleType" : "BatchGrantPermissionsRequest",
        "variableSetterType" : "BatchGrantPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGrantPermissions",
      "operationName" : "BatchGrantPermissions",
      "returnType" : {
        "returnType" : "BatchGrantPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGrantPermissionsResult"
    },
    "BatchRevokePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchRevokePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchRevokePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchRevokePermissionsRequest, BatchRevokePermissionsResult>",
      "asyncReturnType" : "BatchRevokePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Batch operation to revoke permissions from the principal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchRevokePermissionsRequest",
        "variableName" : "batchRevokePermissionsRequest",
        "variableType" : "BatchRevokePermissionsRequest",
        "documentation" : "",
        "simpleType" : "BatchRevokePermissionsRequest",
        "variableSetterType" : "BatchRevokePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchRevokePermissions",
      "operationName" : "BatchRevokePermissions",
      "returnType" : {
        "returnType" : "BatchRevokePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchRevokePermissionsResult"
    },
    "CancelTransaction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelTransactionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelTransactionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelTransactionRequest, CancelTransactionResult>",
      "asyncReturnType" : "CancelTransactionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attempts to cancel the specified transaction. Returns an exception if the transaction was previously committed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TransactionCommittedException",
        "documentation" : "<p>Contains details about an error where the specified transaction has already been committed and cannot be used for <code>UpdateTableObjects</code>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TransactionCommitInProgressException",
        "documentation" : "<p>Contains details about an error related to a transaction commit that was in progress.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelTransactionRequest",
        "variableName" : "cancelTransactionRequest",
        "variableType" : "CancelTransactionRequest",
        "documentation" : "",
        "simpleType" : "CancelTransactionRequest",
        "variableSetterType" : "CancelTransactionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelTransaction",
      "operationName" : "CancelTransaction",
      "returnType" : {
        "returnType" : "CancelTransactionResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelTransactionResult"
    },
    "CommitTransaction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CommitTransactionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CommitTransactionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CommitTransactionRequest, CommitTransactionResult>",
      "asyncReturnType" : "CommitTransactionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attempts to commit the specified transaction. Returns an exception if the transaction was previously aborted. This API action is idempotent if called multiple times for the same transaction.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TransactionCanceledException",
        "documentation" : "<p>Contains details about an error related to a transaction that was cancelled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CommitTransactionRequest",
        "variableName" : "commitTransactionRequest",
        "variableType" : "CommitTransactionRequest",
        "documentation" : "",
        "simpleType" : "CommitTransactionRequest",
        "variableSetterType" : "CommitTransactionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "commitTransaction",
      "operationName" : "CommitTransaction",
      "returnType" : {
        "returnType" : "CommitTransactionResult",
        "documentation" : null
      },
      "syncReturnType" : "CommitTransactionResult"
    },
    "CreateDataCellsFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataCellsFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataCellsFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataCellsFilterRequest, CreateDataCellsFilterResult>",
      "asyncReturnType" : "CreateDataCellsFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a data cell filter to allow one to grant access to certain columns on certain rows.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>A resource to be created or added already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNumberLimitExceededException",
        "documentation" : "<p>A resource numerical limit was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataCellsFilterRequest",
        "variableName" : "createDataCellsFilterRequest",
        "variableType" : "CreateDataCellsFilterRequest",
        "documentation" : "",
        "simpleType" : "CreateDataCellsFilterRequest",
        "variableSetterType" : "CreateDataCellsFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataCellsFilter",
      "operationName" : "CreateDataCellsFilter",
      "returnType" : {
        "returnType" : "CreateDataCellsFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDataCellsFilterResult"
    },
    "CreateLFTag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLFTagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLFTagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLFTagRequest, CreateLFTagResult>",
      "asyncReturnType" : "CreateLFTagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an LF-tag with the specified name and values.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNumberLimitExceededException",
        "documentation" : "<p>A resource numerical limit was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLFTagRequest",
        "variableName" : "createLFTagRequest",
        "variableType" : "CreateLFTagRequest",
        "documentation" : "",
        "simpleType" : "CreateLFTagRequest",
        "variableSetterType" : "CreateLFTagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLFTag",
      "operationName" : "CreateLFTag",
      "returnType" : {
        "returnType" : "CreateLFTagResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLFTagResult"
    },
    "DeleteDataCellsFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDataCellsFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDataCellsFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDataCellsFilterRequest, DeleteDataCellsFilterResult>",
      "asyncReturnType" : "DeleteDataCellsFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a data cell filter.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDataCellsFilterRequest",
        "variableName" : "deleteDataCellsFilterRequest",
        "variableType" : "DeleteDataCellsFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteDataCellsFilterRequest",
        "variableSetterType" : "DeleteDataCellsFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataCellsFilter",
      "operationName" : "DeleteDataCellsFilter",
      "returnType" : {
        "returnType" : "DeleteDataCellsFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDataCellsFilterResult"
    },
    "DeleteLFTag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLFTagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLFTagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLFTagRequest, DeleteLFTagResult>",
      "asyncReturnType" : "DeleteLFTagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified LF-tag given a key name. If the input parameter tag key was not found, then the operation will throw an exception. When you delete an LF-tag, the <code>LFTagPolicy</code> attached to the LF-tag becomes invalid. If the deleted LF-tag was still assigned to any resource, the tag policy attach to the deleted LF-tag will no longer be applied to the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLFTagRequest",
        "variableName" : "deleteLFTagRequest",
        "variableType" : "DeleteLFTagRequest",
        "documentation" : "",
        "simpleType" : "DeleteLFTagRequest",
        "variableSetterType" : "DeleteLFTagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLFTag",
      "operationName" : "DeleteLFTag",
      "returnType" : {
        "returnType" : "DeleteLFTagResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLFTagResult"
    },
    "DeleteObjectsOnCancel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteObjectsOnCancelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteObjectsOnCancelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteObjectsOnCancelRequest, DeleteObjectsOnCancelResult>",
      "asyncReturnType" : "DeleteObjectsOnCancelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For a specific governed table, provides a list of Amazon S3 objects that will be written during the current transaction and that can be automatically deleted if the transaction is canceled. Without this call, no Amazon S3 objects are automatically deleted when a transaction cancels. </p> <p> The Glue ETL library function <code>write_dynamic_frame.from_catalog()</code> includes an option to automatically call <code>DeleteObjectsOnCancel</code> before writes. For more information, see <a href=\"https://docs.aws.amazon.com/lake-formation/latest/dg/transactions-data-operations.html#rolling-back-writes\">Rolling Back Amazon S3 Writes</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TransactionCommittedException",
        "documentation" : "<p>Contains details about an error where the specified transaction has already been committed and cannot be used for <code>UpdateTableObjects</code>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TransactionCanceledException",
        "documentation" : "<p>Contains details about an error related to a transaction that was cancelled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotReadyException",
        "documentation" : "<p>Contains details about an error related to a resource which is not ready for a transaction.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteObjectsOnCancelRequest",
        "variableName" : "deleteObjectsOnCancelRequest",
        "variableType" : "DeleteObjectsOnCancelRequest",
        "documentation" : "",
        "simpleType" : "DeleteObjectsOnCancelRequest",
        "variableSetterType" : "DeleteObjectsOnCancelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteObjectsOnCancel",
      "operationName" : "DeleteObjectsOnCancel",
      "returnType" : {
        "returnType" : "DeleteObjectsOnCancelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteObjectsOnCancelResult"
    },
    "DeregisterResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterResourceRequest, DeregisterResourceResult>",
      "asyncReturnType" : "DeregisterResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters the resource as managed by the Data Catalog.</p> <p>When you deregister a path, Lake Formation removes the path from the inline policy attached to your service-linked role.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterResourceRequest",
        "variableName" : "deregisterResourceRequest",
        "variableType" : "DeregisterResourceRequest",
        "documentation" : "",
        "simpleType" : "DeregisterResourceRequest",
        "variableSetterType" : "DeregisterResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterResource",
      "operationName" : "DeregisterResource",
      "returnType" : {
        "returnType" : "DeregisterResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterResourceResult"
    },
    "DescribeResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourceRequest, DescribeResourceResult>",
      "asyncReturnType" : "DescribeResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current data access role for the given resource registered in Lake Formation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeResourceRequest",
        "variableName" : "describeResourceRequest",
        "variableType" : "DescribeResourceRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourceRequest",
        "variableSetterType" : "DescribeResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResource",
      "operationName" : "DescribeResource",
      "returnType" : {
        "returnType" : "DescribeResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourceResult"
    },
    "DescribeTransaction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTransactionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTransactionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTransactionRequest, DescribeTransactionResult>",
      "asyncReturnType" : "DescribeTransactionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of a single transaction.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTransactionRequest",
        "variableName" : "describeTransactionRequest",
        "variableType" : "DescribeTransactionRequest",
        "documentation" : "",
        "simpleType" : "DescribeTransactionRequest",
        "variableSetterType" : "DescribeTransactionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTransaction",
      "operationName" : "DescribeTransaction",
      "returnType" : {
        "returnType" : "DescribeTransactionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTransactionResult"
    },
    "ExtendTransaction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExtendTransactionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExtendTransactionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExtendTransactionRequest, ExtendTransactionResult>",
      "asyncReturnType" : "ExtendTransactionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Indicates to the service that the specified transaction is still active and should not be treated as idle and aborted.</p> <p>Write transactions that remain idle for a long period are automatically aborted unless explicitly extended.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TransactionCommittedException",
        "documentation" : "<p>Contains details about an error where the specified transaction has already been committed and cannot be used for <code>UpdateTableObjects</code>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TransactionCanceledException",
        "documentation" : "<p>Contains details about an error related to a transaction that was cancelled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TransactionCommitInProgressException",
        "documentation" : "<p>Contains details about an error related to a transaction commit that was in progress.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExtendTransactionRequest",
        "variableName" : "extendTransactionRequest",
        "variableType" : "ExtendTransactionRequest",
        "documentation" : "",
        "simpleType" : "ExtendTransactionRequest",
        "variableSetterType" : "ExtendTransactionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "extendTransaction",
      "operationName" : "ExtendTransaction",
      "returnType" : {
        "returnType" : "ExtendTransactionResult",
        "documentation" : null
      },
      "syncReturnType" : "ExtendTransactionResult"
    },
    "GetDataLakeSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataLakeSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataLakeSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataLakeSettingsRequest, GetDataLakeSettingsResult>",
      "asyncReturnType" : "GetDataLakeSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the list of the data lake administrators of a Lake Formation-managed data lake. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataLakeSettingsRequest",
        "variableName" : "getDataLakeSettingsRequest",
        "variableType" : "GetDataLakeSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetDataLakeSettingsRequest",
        "variableSetterType" : "GetDataLakeSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataLakeSettings",
      "operationName" : "GetDataLakeSettings",
      "returnType" : {
        "returnType" : "GetDataLakeSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDataLakeSettingsResult"
    },
    "GetEffectivePermissionsForPath" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEffectivePermissionsForPathResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEffectivePermissionsForPathResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEffectivePermissionsForPathRequest, GetEffectivePermissionsForPathResult>",
      "asyncReturnType" : "GetEffectivePermissionsForPathResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the Lake Formation permissions for a specified table or database resource located at a path in Amazon S3. <code>GetEffectivePermissionsForPath</code> will not return databases and tables if the catalog is encrypted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEffectivePermissionsForPathRequest",
        "variableName" : "getEffectivePermissionsForPathRequest",
        "variableType" : "GetEffectivePermissionsForPathRequest",
        "documentation" : "",
        "simpleType" : "GetEffectivePermissionsForPathRequest",
        "variableSetterType" : "GetEffectivePermissionsForPathRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEffectivePermissionsForPath",
      "operationName" : "GetEffectivePermissionsForPath",
      "returnType" : {
        "returnType" : "GetEffectivePermissionsForPathResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEffectivePermissionsForPathResult"
    },
    "GetLFTag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLFTagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLFTagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLFTagRequest, GetLFTagResult>",
      "asyncReturnType" : "GetLFTagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an LF-tag definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLFTagRequest",
        "variableName" : "getLFTagRequest",
        "variableType" : "GetLFTagRequest",
        "documentation" : "",
        "simpleType" : "GetLFTagRequest",
        "variableSetterType" : "GetLFTagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLFTag",
      "operationName" : "GetLFTag",
      "returnType" : {
        "returnType" : "GetLFTagResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLFTagResult"
    },
    "GetQueryState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQueryStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQueryStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQueryStateRequest, GetQueryStateResult>",
      "asyncReturnType" : "GetQueryStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the state of a query previously submitted. Clients are expected to poll <code>GetQueryState</code> to monitor the current state of the planning before retrieving the work units. A query state is only visible to the principal that made the initial call to <code>StartQueryPlanning</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "query-"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "query-"
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQueryStateRequest",
        "variableName" : "getQueryStateRequest",
        "variableType" : "GetQueryStateRequest",
        "documentation" : "",
        "simpleType" : "GetQueryStateRequest",
        "variableSetterType" : "GetQueryStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQueryState",
      "operationName" : "GetQueryState",
      "returnType" : {
        "returnType" : "GetQueryStateResult",
        "documentation" : "<p>A structure for the output.</p>"
      },
      "syncReturnType" : "GetQueryStateResult"
    },
    "GetQueryStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQueryStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQueryStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQueryStatisticsRequest, GetQueryStatisticsResult>",
      "asyncReturnType" : "GetQueryStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves statistics on the planning and execution of a query.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "query-"
      },
      "exceptions" : [ {
        "exceptionName" : "StatisticsNotReadyYetException",
        "documentation" : "<p>Contains details about an error related to statistics not being ready.</p>",
        "httpStatusCode" : 420
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ExpiredException",
        "documentation" : "<p>Contains details about an error where the query request expired.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Contains details about an error where the query request was throttled.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "query-"
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQueryStatisticsRequest",
        "variableName" : "getQueryStatisticsRequest",
        "variableType" : "GetQueryStatisticsRequest",
        "documentation" : "",
        "simpleType" : "GetQueryStatisticsRequest",
        "variableSetterType" : "GetQueryStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQueryStatistics",
      "operationName" : "GetQueryStatistics",
      "returnType" : {
        "returnType" : "GetQueryStatisticsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQueryStatisticsResult"
    },
    "GetResourceLFTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceLFTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceLFTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceLFTagsRequest, GetResourceLFTagsResult>",
      "asyncReturnType" : "GetResourceLFTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the LF-tags applied to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "GlueEncryptionException",
        "documentation" : "<p>An encryption operation failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceLFTagsRequest",
        "variableName" : "getResourceLFTagsRequest",
        "variableType" : "GetResourceLFTagsRequest",
        "documentation" : "",
        "simpleType" : "GetResourceLFTagsRequest",
        "variableSetterType" : "GetResourceLFTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceLFTags",
      "operationName" : "GetResourceLFTags",
      "returnType" : {
        "returnType" : "GetResourceLFTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceLFTagsResult"
    },
    "GetTableObjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTableObjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTableObjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTableObjectsRequest, GetTableObjectsResult>",
      "asyncReturnType" : "GetTableObjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the set of Amazon S3 objects that make up the specified governed table. A transaction ID or timestamp can be specified for time-travel queries.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TransactionCommittedException",
        "documentation" : "<p>Contains details about an error where the specified transaction has already been committed and cannot be used for <code>UpdateTableObjects</code>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TransactionCanceledException",
        "documentation" : "<p>Contains details about an error related to a transaction that was cancelled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotReadyException",
        "documentation" : "<p>Contains details about an error related to a resource which is not ready for a transaction.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTableObjectsRequest",
        "variableName" : "getTableObjectsRequest",
        "variableType" : "GetTableObjectsRequest",
        "documentation" : "",
        "simpleType" : "GetTableObjectsRequest",
        "variableSetterType" : "GetTableObjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTableObjects",
      "operationName" : "GetTableObjects",
      "returnType" : {
        "returnType" : "GetTableObjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTableObjectsResult"
    },
    "GetTemporaryGluePartitionCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemporaryGluePartitionCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemporaryGluePartitionCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemporaryGluePartitionCredentialsRequest, GetTemporaryGluePartitionCredentialsResult>",
      "asyncReturnType" : "GetTemporaryGluePartitionCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API is identical to <code>GetTemporaryTableCredentials</code> except that this is used when the target Data Catalog resource is of type Partition. Lake Formation restricts the permission of the vended credentials with the same scope down policy which restricts access to a single Amazon S3 prefix.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "PermissionTypeMismatchException",
        "documentation" : "<p>The engine does not support filtering data based on the enforced permissions. For example, if you call the <code>GetTemporaryGlueTableCredentials</code> operation with <code>SupportedPermissionType</code> equal to <code>ColumnPermission</code>, but cell-level permissions exist on the table, this exception is thrown.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTemporaryGluePartitionCredentialsRequest",
        "variableName" : "getTemporaryGluePartitionCredentialsRequest",
        "variableType" : "GetTemporaryGluePartitionCredentialsRequest",
        "documentation" : "",
        "simpleType" : "GetTemporaryGluePartitionCredentialsRequest",
        "variableSetterType" : "GetTemporaryGluePartitionCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTemporaryGluePartitionCredentials",
      "operationName" : "GetTemporaryGluePartitionCredentials",
      "returnType" : {
        "returnType" : "GetTemporaryGluePartitionCredentialsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTemporaryGluePartitionCredentialsResult"
    },
    "GetTemporaryGlueTableCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemporaryGlueTableCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemporaryGlueTableCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemporaryGlueTableCredentialsRequest, GetTemporaryGlueTableCredentialsResult>",
      "asyncReturnType" : "GetTemporaryGlueTableCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows a caller in a secure environment to assume a role with permission to access Amazon S3. In order to vend such credentials, Lake Formation assumes the role associated with a registered location, for example an Amazon S3 bucket, with a scope down policy which restricts the access to a single prefix.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "PermissionTypeMismatchException",
        "documentation" : "<p>The engine does not support filtering data based on the enforced permissions. For example, if you call the <code>GetTemporaryGlueTableCredentials</code> operation with <code>SupportedPermissionType</code> equal to <code>ColumnPermission</code>, but cell-level permissions exist on the table, this exception is thrown.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTemporaryGlueTableCredentialsRequest",
        "variableName" : "getTemporaryGlueTableCredentialsRequest",
        "variableType" : "GetTemporaryGlueTableCredentialsRequest",
        "documentation" : "",
        "simpleType" : "GetTemporaryGlueTableCredentialsRequest",
        "variableSetterType" : "GetTemporaryGlueTableCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTemporaryGlueTableCredentials",
      "operationName" : "GetTemporaryGlueTableCredentials",
      "returnType" : {
        "returnType" : "GetTemporaryGlueTableCredentialsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTemporaryGlueTableCredentialsResult"
    },
    "GetWorkUnitResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkUnitResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkUnitResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkUnitResultsRequest, GetWorkUnitResultsResult>",
      "asyncReturnType" : "GetWorkUnitResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the work units resulting from the query. Work units can be executed in any order and in parallel. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "data-"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ExpiredException",
        "documentation" : "<p>Contains details about an error where the query request expired.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Contains details about an error where the query request was throttled.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "data-"
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkUnitResultsRequest",
        "variableName" : "getWorkUnitResultsRequest",
        "variableType" : "GetWorkUnitResultsRequest",
        "documentation" : "",
        "simpleType" : "GetWorkUnitResultsRequest",
        "variableSetterType" : "GetWorkUnitResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkUnitResults",
      "operationName" : "GetWorkUnitResults",
      "returnType" : {
        "returnType" : "GetWorkUnitResultsResult",
        "documentation" : "<p>A structure for the output.</p>"
      },
      "syncReturnType" : "GetWorkUnitResultsResult"
    },
    "GetWorkUnits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkUnitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkUnitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkUnitsRequest, GetWorkUnitsResult>",
      "asyncReturnType" : "GetWorkUnitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the work units generated by the <code>StartQueryPlanning</code> operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "query-"
      },
      "exceptions" : [ {
        "exceptionName" : "WorkUnitsNotReadyYetException",
        "documentation" : "<p>Contains details about an error related to work units not being ready.</p>",
        "httpStatusCode" : 420
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ExpiredException",
        "documentation" : "<p>Contains details about an error where the query request expired.</p>",
        "httpStatusCode" : 410
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "query-"
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkUnitsRequest",
        "variableName" : "getWorkUnitsRequest",
        "variableType" : "GetWorkUnitsRequest",
        "documentation" : "",
        "simpleType" : "GetWorkUnitsRequest",
        "variableSetterType" : "GetWorkUnitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkUnits",
      "operationName" : "GetWorkUnits",
      "returnType" : {
        "returnType" : "GetWorkUnitsResult",
        "documentation" : "<p>A structure for the output.</p>"
      },
      "syncReturnType" : "GetWorkUnitsResult"
    },
    "GrantPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GrantPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GrantPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GrantPermissionsRequest, GrantPermissionsResult>",
      "asyncReturnType" : "GrantPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permissions to the principal to access metadata in the Data Catalog and data organized in underlying data storage such as Amazon S3.</p> <p>For information about permissions, see <a href=\"https://docs-aws.amazon.com/lake-formation/latest/dg/security-data-access.html\">Security and Access Control to Metadata and Data</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GrantPermissionsRequest",
        "variableName" : "grantPermissionsRequest",
        "variableType" : "GrantPermissionsRequest",
        "documentation" : "",
        "simpleType" : "GrantPermissionsRequest",
        "variableSetterType" : "GrantPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "grantPermissions",
      "operationName" : "GrantPermissions",
      "returnType" : {
        "returnType" : "GrantPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GrantPermissionsResult"
    },
    "ListDataCellsFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataCellsFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataCellsFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataCellsFilterRequest, ListDataCellsFilterResult>",
      "asyncReturnType" : "ListDataCellsFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the data cell filters on a table.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataCellsFilterRequest",
        "variableName" : "listDataCellsFilterRequest",
        "variableType" : "ListDataCellsFilterRequest",
        "documentation" : "",
        "simpleType" : "ListDataCellsFilterRequest",
        "variableSetterType" : "ListDataCellsFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataCellsFilter",
      "operationName" : "ListDataCellsFilter",
      "returnType" : {
        "returnType" : "ListDataCellsFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataCellsFilterResult"
    },
    "ListLFTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLFTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLFTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLFTagsRequest, ListLFTagsResult>",
      "asyncReturnType" : "ListLFTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists LF-tags that the requester has permission to view. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLFTagsRequest",
        "variableName" : "listLFTagsRequest",
        "variableType" : "ListLFTagsRequest",
        "documentation" : "",
        "simpleType" : "ListLFTagsRequest",
        "variableSetterType" : "ListLFTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLFTags",
      "operationName" : "ListLFTags",
      "returnType" : {
        "returnType" : "ListLFTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLFTagsResult"
    },
    "ListPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionsRequest, ListPermissionsResult>",
      "asyncReturnType" : "ListPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the principal permissions on the resource, filtered by the permissions of the caller. For example, if you are granted an ALTER permission, you are able to see only the principal permissions for ALTER.</p> <p>This operation returns only those permissions that have been explicitly granted.</p> <p>For information about permissions, see <a href=\"https://docs-aws.amazon.com/lake-formation/latest/dg/security-data-access.html\">Security and Access Control to Metadata and Data</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionsRequest",
        "variableName" : "listPermissionsRequest",
        "variableType" : "ListPermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionsRequest",
        "variableSetterType" : "ListPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissions",
      "operationName" : "ListPermissions",
      "returnType" : {
        "returnType" : "ListPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionsResult"
    },
    "ListResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesRequest, ListResourcesResult>",
      "asyncReturnType" : "ListResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resources registered to be managed by the Data Catalog.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesRequest",
        "variableName" : "listResourcesRequest",
        "variableType" : "ListResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesRequest",
        "variableSetterType" : "ListResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResources",
      "operationName" : "ListResources",
      "returnType" : {
        "returnType" : "ListResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesResult"
    },
    "ListTableStorageOptimizers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTableStorageOptimizersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTableStorageOptimizersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTableStorageOptimizersRequest, ListTableStorageOptimizersResult>",
      "asyncReturnType" : "ListTableStorageOptimizersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the configuration of all storage optimizers associated with a specified table.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTableStorageOptimizersRequest",
        "variableName" : "listTableStorageOptimizersRequest",
        "variableType" : "ListTableStorageOptimizersRequest",
        "documentation" : "",
        "simpleType" : "ListTableStorageOptimizersRequest",
        "variableSetterType" : "ListTableStorageOptimizersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTableStorageOptimizers",
      "operationName" : "ListTableStorageOptimizers",
      "returnType" : {
        "returnType" : "ListTableStorageOptimizersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTableStorageOptimizersResult"
    },
    "ListTransactions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTransactionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTransactionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTransactionsRequest, ListTransactionsResult>",
      "asyncReturnType" : "ListTransactionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata about transactions and their status. To prevent the response from growing indefinitely, only uncommitted transactions and those available for time-travel queries are returned.</p> <p>This operation can help you identify uncommitted transactions or to get information about transactions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTransactionsRequest",
        "variableName" : "listTransactionsRequest",
        "variableType" : "ListTransactionsRequest",
        "documentation" : "",
        "simpleType" : "ListTransactionsRequest",
        "variableSetterType" : "ListTransactionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTransactions",
      "operationName" : "ListTransactions",
      "returnType" : {
        "returnType" : "ListTransactionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTransactionsResult"
    },
    "PutDataLakeSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDataLakeSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDataLakeSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDataLakeSettingsRequest, PutDataLakeSettingsResult>",
      "asyncReturnType" : "PutDataLakeSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the list of data lake administrators who have admin privileges on all resources managed by Lake Formation. For more information on admin privileges, see <a href=\"https://docs.aws.amazon.com/lake-formation/latest/dg/lake-formation-permissions.html\">Granting Lake Formation Permissions</a>.</p> <p>This API replaces the current list of data lake admins with the new list being passed. To add an admin, fetch the current list and add the new admin to that list and pass that list in this API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutDataLakeSettingsRequest",
        "variableName" : "putDataLakeSettingsRequest",
        "variableType" : "PutDataLakeSettingsRequest",
        "documentation" : "",
        "simpleType" : "PutDataLakeSettingsRequest",
        "variableSetterType" : "PutDataLakeSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDataLakeSettings",
      "operationName" : "PutDataLakeSettings",
      "returnType" : {
        "returnType" : "PutDataLakeSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDataLakeSettingsResult"
    },
    "RegisterResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterResourceRequest, RegisterResourceResult>",
      "asyncReturnType" : "RegisterResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers the resource as managed by the Data Catalog.</p> <p>To add or update data, Lake Formation needs read/write access to the chosen Amazon S3 path. Choose a role that you know has permission to do this, or choose the AWSServiceRoleForLakeFormationDataAccess service-linked role. When you register the first Amazon S3 path, the service-linked role and a new inline policy are created on your behalf. Lake Formation adds the first path to the inline policy and attaches it to the service-linked role. When you register subsequent paths, Lake Formation adds the path to the existing policy.</p> <p>The following request registers a new location and gives Lake Formation permission to use the service-linked role to access that location.</p> <p> <code>ResourceArn = arn:aws:s3:::my-bucket UseServiceLinkedRole = true</code> </p> <p>If <code>UseServiceLinkedRole</code> is not set to true, you must provide or set the <code>RoleArn</code>:</p> <p> <code>arn:aws:iam::12345:role/my-data-access-role</code> </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>A resource to be created or added already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNumberLimitExceededException",
        "documentation" : "<p>A resource numerical limit was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterResourceRequest",
        "variableName" : "registerResourceRequest",
        "variableType" : "RegisterResourceRequest",
        "documentation" : "",
        "simpleType" : "RegisterResourceRequest",
        "variableSetterType" : "RegisterResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerResource",
      "operationName" : "RegisterResource",
      "returnType" : {
        "returnType" : "RegisterResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterResourceResult"
    },
    "RemoveLFTagsFromResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveLFTagsFromResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveLFTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveLFTagsFromResourceRequest, RemoveLFTagsFromResourceResult>",
      "asyncReturnType" : "RemoveLFTagsFromResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an LF-tag from the resource. Only database, table, or tableWithColumns resource are allowed. To tag columns, use the column inclusion list in <code>tableWithColumns</code> to specify column input.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "GlueEncryptionException",
        "documentation" : "<p>An encryption operation failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveLFTagsFromResourceRequest",
        "variableName" : "removeLFTagsFromResourceRequest",
        "variableType" : "RemoveLFTagsFromResourceRequest",
        "documentation" : "",
        "simpleType" : "RemoveLFTagsFromResourceRequest",
        "variableSetterType" : "RemoveLFTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeLFTagsFromResource",
      "operationName" : "RemoveLFTagsFromResource",
      "returnType" : {
        "returnType" : "RemoveLFTagsFromResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveLFTagsFromResourceResult"
    },
    "RevokePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokePermissionsRequest, RevokePermissionsResult>",
      "asyncReturnType" : "RevokePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Revokes permissions to the principal to access metadata in the Data Catalog and data organized in underlying data storage such as Amazon S3.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokePermissionsRequest",
        "variableName" : "revokePermissionsRequest",
        "variableType" : "RevokePermissionsRequest",
        "documentation" : "",
        "simpleType" : "RevokePermissionsRequest",
        "variableSetterType" : "RevokePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokePermissions",
      "operationName" : "RevokePermissions",
      "returnType" : {
        "returnType" : "RevokePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "RevokePermissionsResult"
    },
    "SearchDatabasesByLFTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchDatabasesByLFTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchDatabasesByLFTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchDatabasesByLFTagsRequest, SearchDatabasesByLFTagsResult>",
      "asyncReturnType" : "SearchDatabasesByLFTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation allows a search on <code>DATABASE</code> resources by <code>TagCondition</code>. This operation is used by admins who want to grant user permissions on certain <code>TagConditions</code>. Before making a grant, the admin can use <code>SearchDatabasesByTags</code> to find all resources where the given <code>TagConditions</code> are valid to verify whether the returned resources can be shared.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "GlueEncryptionException",
        "documentation" : "<p>An encryption operation failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchDatabasesByLFTagsRequest",
        "variableName" : "searchDatabasesByLFTagsRequest",
        "variableType" : "SearchDatabasesByLFTagsRequest",
        "documentation" : "",
        "simpleType" : "SearchDatabasesByLFTagsRequest",
        "variableSetterType" : "SearchDatabasesByLFTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchDatabasesByLFTags",
      "operationName" : "SearchDatabasesByLFTags",
      "returnType" : {
        "returnType" : "SearchDatabasesByLFTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchDatabasesByLFTagsResult"
    },
    "SearchTablesByLFTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchTablesByLFTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchTablesByLFTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchTablesByLFTagsRequest, SearchTablesByLFTagsResult>",
      "asyncReturnType" : "SearchTablesByLFTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation allows a search on <code>TABLE</code> resources by <code>LFTag</code>s. This will be used by admins who want to grant user permissions on certain LF-tags. Before making a grant, the admin can use <code>SearchTablesByLFTags</code> to find all resources where the given <code>LFTag</code>s are valid to verify whether the returned resources can be shared.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>A specified entity does not exist</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The input provided was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : "<p>The operation timed out.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "GlueEncryptionException",
        "documentation" : "<p>An encryption operation failed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to a resource was denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchTablesByLFTagsRequest",
[...]
