{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ {
      "convenienceType" : "String",
      "memberName" : "InvokeArgs",
      "shapeName" : "InvokeAsyncRequest",
      "typeAdapterFqcn" : "com.amazonaws.adapters.types.StringToInputStreamAdapter"
    }, {
      "convenienceType" : "String",
      "memberName" : "Payload",
      "shapeName" : "InvocationRequest",
      "typeAdapterFqcn" : "com.amazonaws.adapters.types.StringToByteBufferAdapter"
    } ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "CreateEventSourceMappingRequest" : [ "StartingPosition" ],
      "CreateFunctionRequest" : [ "Runtime" ],
      "FunctionConfiguration" : [ "Runtime" ],
      "InvocationRequest" : [ "InvocationType", "LogType" ],
      "ListFunctionsRequest" : [ "FunctionVersion" ],
      "TooManyRequestsException" : [ "Reason" ],
      "TracingConfig" : [ "Mode" ],
      "TracingConfigResponse" : [ "Mode" ],
      "UpdateFunctionConfigurationRequest" : [ "Runtime" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "ListEventSourceMappings" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListFunctions" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2015-03-31",
    "asyncClient" : "AWSLambdaAsyncClient",
    "asyncClientBuilderClassName" : "AWSLambdaAsyncClientBuilder",
    "asyncInterface" : "AWSLambdaAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSLambdaModuleInjector",
    "defaultEndpoint" : "lambda.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "lambda.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Lambda</fullname> <p> <b>Overview</b> </p> <p>This is the <i>AWS Lambda API Reference</i>. The AWS Lambda Developer Guide provides additional information. For the service overview, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is AWS Lambda</a>, and for information about how the service works, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <b>AWS Lambda Developer Guide</b>.</p>",
    "endpointPrefix" : "lambda",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.lambda",
    "packagePath" : "com/amazonaws/services/lambda",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Lambda",
    "serviceId" : "Lambda",
    "serviceName" : "AWS Lambda",
    "signingName" : "lambda",
    "smokeTestsPackageName" : "com.amazonaws.services.lambda.smoketests",
    "syncClient" : "AWSLambdaClient",
    "syncClientBuilderClassName" : "AWSLambdaClientBuilder",
    "syncInterface" : "AWSLambda",
    "uid" : "lambda-2015-03-31",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddLayerVersionPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddLayerVersionPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddLayerVersionPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddLayerVersionPermissionRequest, AddLayerVersionPermissionResult>",
      "asyncReturnType" : "AddLayerVersionPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds permissions to the resource-based policy of a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>. Use this action to grant layer usage permission to other accounts. You can grant permission to a single account, all AWS accounts, or all accounts in an organization.</p> <p>To revoke permission, call <a>RemoveLayerVersionPermission</a> with the statement ID that you specified when you added it.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PolicyLengthExceededException",
        "documentation" : "<p>The permissions policy for the resource is too large. <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Learn more</a> </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The RevisionId provided does not match the latest RevisionId for the Lambda function or alias. Call the <code>GetFunction</code> or the <code>GetAlias</code> API to retrieve the latest RevisionId for your resource.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddLayerVersionPermissionRequest",
        "variableName" : "addLayerVersionPermissionRequest",
        "variableType" : "AddLayerVersionPermissionRequest",
        "documentation" : "",
        "simpleType" : "AddLayerVersionPermissionRequest",
        "variableSetterType" : "AddLayerVersionPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addLayerVersionPermission",
      "operationName" : "AddLayerVersionPermission",
      "returnType" : {
        "returnType" : "AddLayerVersionPermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "AddLayerVersionPermissionResult"
    },
    "AddPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddPermissionRequest, AddPermissionResult>",
      "asyncReturnType" : "AddPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants an AWS service or another account permission to use a function. You can apply the policy at the function level, or specify a qualifier to restrict access to a single version or alias. If you use a qualifier, the invoker must use the full Amazon Resource Name (ARN) of that version or alias to invoke the function.</p> <p>To grant permission to another account, specify the account ID as the <code>Principal</code>. For AWS services, the principal is a domain-style identifier defined by the service, like <code>s3.amazonaws.com</code> or <code>sns.amazonaws.com</code>. For AWS services, you can also specify the ARN or owning account of the associated resource as the <code>SourceArn</code> or <code>SourceAccount</code>. If you grant permission to a service principal without specifying the source, other accounts could potentially configure resources in their account to invoke your Lambda function.</p> <p>This action adds a statement to a resource-based permission policy for the function. For more information about function policies, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html\">Lambda Function Policies</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PolicyLengthExceededException",
        "documentation" : "<p>The permissions policy for the resource is too large. <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Learn more</a> </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The RevisionId provided does not match the latest RevisionId for the Lambda function or alias. Call the <code>GetFunction</code> or the <code>GetAlias</code> API to retrieve the latest RevisionId for your resource.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddPermissionRequest",
        "variableName" : "addPermissionRequest",
        "variableType" : "AddPermissionRequest",
        "documentation" : "",
        "simpleType" : "AddPermissionRequest",
        "variableSetterType" : "AddPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addPermission",
      "operationName" : "AddPermission",
      "returnType" : {
        "returnType" : "AddPermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "AddPermissionResult"
    },
    "CreateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "asyncReturnType" : "CreateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a> for a Lambda function version. Use aliases to provide clients with a function identifier that you can update to invoke a different version.</p> <p>You can also map an alias to split invocation requests between two versions. Use the <code>RoutingConfig</code> parameter to specify a second version and the percentage of invocation requests that it receives.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAliasRequest",
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "documentation" : "",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlias",
      "operationName" : "CreateAlias",
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : "<p>Provides configuration information about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>"
      },
      "syncReturnType" : "CreateAliasResult"
    },
    "CreateEventSourceMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEventSourceMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEventSourceMappingRequest, CreateEventSourceMappingResult>",
      "asyncReturnType" : "CreateEventSourceMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a mapping between an event source and an AWS Lambda function. Lambda reads items from the event source and triggers the function.</p> <p>For details about each event source type, see the following topics.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kinesis.html\">Using AWS Lambda with Amazon Kinesis</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html\">Using AWS Lambda with Amazon SQS</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html\">Using AWS Lambda with Amazon DynamoDB</a> </p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEventSourceMappingRequest",
        "variableName" : "createEventSourceMappingRequest",
        "variableType" : "CreateEventSourceMappingRequest",
        "documentation" : "",
        "simpleType" : "CreateEventSourceMappingRequest",
        "variableSetterType" : "CreateEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEventSourceMapping",
      "operationName" : "CreateEventSourceMapping",
      "returnType" : {
        "returnType" : "CreateEventSourceMappingResult",
        "documentation" : "<p>A mapping between an AWS resource and an AWS Lambda function. See <a>CreateEventSourceMapping</a> for details.</p>"
      },
      "syncReturnType" : "CreateEventSourceMappingResult"
    },
    "CreateFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFunctionRequest, CreateFunctionResult>",
      "asyncReturnType" : "CreateFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Lambda function. To create a function, you need a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/deployment-package-v2.html\">deployment package</a> and an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role\">execution role</a>. The deployment package contains your function code. The execution role grants the function permission to use AWS services, such as Amazon CloudWatch Logs for log streaming and AWS X-Ray for request tracing.</p> <p>A function has an unpublished version, and can have published versions and aliases. The unpublished version changes when you update your function's code and configuration. A published version is a snapshot of your function code and configuration that can't be changed. An alias is a named resource that maps to a version, and can be changed to map to a different version. Use the <code>Publish</code> parameter to create version <code>1</code> of your function from its initial configuration.</p> <p>The other parameters let you configure version-specific and function-level settings. You can modify version-specific settings later with <a>UpdateFunctionConfiguration</a>. Function-level settings apply to both the unpublished and published versions of the function, and include tags (<a>TagResource</a>) and per-function concurrency limits (<a>PutFunctionConcurrency</a>).</p> <p>If another account or an AWS service invokes your function, use <a>AddPermission</a> to grant permission by creating a resource-based IAM policy. You can grant permissions at the function level, on a version, or on an alias.</p> <p>To invoke your function directly, use <a>Invoke</a>. To invoke your function in response to events in other AWS services, create an event source mapping (<a>CreateEventSourceMapping</a>), or configure a function trigger in the other service. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invoking-lambda-functions.html\">Invoking Functions</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "CodeStorageExceededException",
        "documentation" : "<p>You have exceeded your maximum total code size per account. <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Learn more</a> </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFunctionRequest",
        "variableName" : "createFunctionRequest",
        "variableType" : "CreateFunctionRequest",
        "documentation" : "",
        "simpleType" : "CreateFunctionRequest",
        "variableSetterType" : "CreateFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFunction",
      "operationName" : "CreateFunction",
      "returnType" : {
        "returnType" : "CreateFunctionResult",
        "documentation" : "<p>Details about a function's configuration.</p>"
      },
      "syncReturnType" : "CreateFunctionResult"
    },
    "DeleteAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAliasRequest, DeleteAliasResult>",
      "asyncReturnType" : "DeleteAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAliasRequest",
        "variableName" : "deleteAliasRequest",
        "variableType" : "DeleteAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteAliasRequest",
        "variableSetterType" : "DeleteAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlias",
      "operationName" : "DeleteAlias",
      "returnType" : {
        "returnType" : "DeleteAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAliasResult"
    },
    "DeleteEventSourceMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventSourceMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventSourceMappingRequest, DeleteEventSourceMappingResult>",
      "asyncReturnType" : "DeleteEventSourceMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-invocation-modes.html\">event source mapping</a>. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The operation conflicts with the resource's availability. For example, you attempted to update an EventSource Mapping in CREATING, or tried to delete a EventSource mapping currently in the UPDATING state. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEventSourceMappingRequest",
        "variableName" : "deleteEventSourceMappingRequest",
        "variableType" : "DeleteEventSourceMappingRequest",
        "documentation" : "",
        "simpleType" : "DeleteEventSourceMappingRequest",
        "variableSetterType" : "DeleteEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEventSourceMapping",
      "operationName" : "DeleteEventSourceMapping",
      "returnType" : {
        "returnType" : "DeleteEventSourceMappingResult",
        "documentation" : "<p>A mapping between an AWS resource and an AWS Lambda function. See <a>CreateEventSourceMapping</a> for details.</p>"
      },
      "syncReturnType" : "DeleteEventSourceMappingResult"
    },
    "DeleteFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFunctionRequest, DeleteFunctionResult>",
      "asyncReturnType" : "DeleteFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Lambda function. To delete a specific function version, use the <code>Qualifier</code> parameter. Otherwise, all versions and aliases are deleted.</p> <p>To delete Lambda event source mappings that invoke a function, use <a>DeleteEventSourceMapping</a>. For AWS services and resources that invoke your function directly, delete the trigger in the service where you originally configured it.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFunctionRequest",
        "variableName" : "deleteFunctionRequest",
        "variableType" : "DeleteFunctionRequest",
        "documentation" : "",
        "simpleType" : "DeleteFunctionRequest",
        "variableSetterType" : "DeleteFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFunction",
      "operationName" : "DeleteFunction",
      "returnType" : {
        "returnType" : "DeleteFunctionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFunctionResult"
    },
    "DeleteFunctionConcurrency" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFunctionConcurrencyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFunctionConcurrencyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFunctionConcurrencyRequest, DeleteFunctionConcurrencyResult>",
      "asyncReturnType" : "DeleteFunctionConcurrencyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a concurrent execution limit from a function.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFunctionConcurrencyRequest",
        "variableName" : "deleteFunctionConcurrencyRequest",
        "variableType" : "DeleteFunctionConcurrencyRequest",
        "documentation" : "",
        "simpleType" : "DeleteFunctionConcurrencyRequest",
        "variableSetterType" : "DeleteFunctionConcurrencyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFunctionConcurrency",
      "operationName" : "DeleteFunctionConcurrency",
      "returnType" : {
        "returnType" : "DeleteFunctionConcurrencyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFunctionConcurrencyResult"
    },
    "DeleteLayerVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLayerVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLayerVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLayerVersionRequest, DeleteLayerVersionResult>",
      "asyncReturnType" : "DeleteLayerVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>. Deleted versions can no longer be viewed or added to functions. To avoid breaking functions, a copy of the version remains in Lambda until no functions refer to it.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLayerVersionRequest",
        "variableName" : "deleteLayerVersionRequest",
        "variableType" : "DeleteLayerVersionRequest",
        "documentation" : "",
        "simpleType" : "DeleteLayerVersionRequest",
        "variableSetterType" : "DeleteLayerVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLayerVersion",
      "operationName" : "DeleteLayerVersion",
      "returnType" : {
        "returnType" : "DeleteLayerVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLayerVersionResult"
    },
    "GetAccountSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountSettingsRequest, GetAccountSettingsResult>",
      "asyncReturnType" : "GetAccountSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details about your account's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">limits</a> and usage in an AWS Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountSettingsRequest",
        "variableName" : "getAccountSettingsRequest",
        "variableType" : "GetAccountSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetAccountSettingsRequest",
        "variableSetterType" : "GetAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountSettings",
      "operationName" : "GetAccountSettings",
      "returnType" : {
        "returnType" : "GetAccountSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountSettingsResult"
    },
    "GetAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAliasRequest, GetAliasResult>",
      "asyncReturnType" : "GetAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAliasRequest",
        "variableName" : "getAliasRequest",
        "variableType" : "GetAliasRequest",
        "documentation" : "",
        "simpleType" : "GetAliasRequest",
        "variableSetterType" : "GetAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAlias",
      "operationName" : "GetAlias",
      "returnType" : {
        "returnType" : "GetAliasResult",
        "documentation" : "<p>Provides configuration information about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>"
      },
      "syncReturnType" : "GetAliasResult"
    },
    "GetEventSourceMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEventSourceMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEventSourceMappingRequest, GetEventSourceMappingResult>",
      "asyncReturnType" : "GetEventSourceMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about an event source mapping. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEventSourceMappingRequest",
        "variableName" : "getEventSourceMappingRequest",
        "variableType" : "GetEventSourceMappingRequest",
        "documentation" : "",
        "simpleType" : "GetEventSourceMappingRequest",
        "variableSetterType" : "GetEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEventSourceMapping",
      "operationName" : "GetEventSourceMapping",
      "returnType" : {
        "returnType" : "GetEventSourceMappingResult",
        "documentation" : "<p>A mapping between an AWS resource and an AWS Lambda function. See <a>CreateEventSourceMapping</a> for details.</p>"
      },
      "syncReturnType" : "GetEventSourceMappingResult"
    },
    "GetFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFunctionRequest, GetFunctionResult>",
      "asyncReturnType" : "GetFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the function or function version, with a link to download the deployment package that's valid for 10 minutes. If you specify a function version, only details that are specific to that version are returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFunctionRequest",
        "variableName" : "getFunctionRequest",
        "variableType" : "GetFunctionRequest",
        "documentation" : "",
        "simpleType" : "GetFunctionRequest",
        "variableSetterType" : "GetFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFunction",
      "operationName" : "GetFunction",
      "returnType" : {
        "returnType" : "GetFunctionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFunctionResult"
    },
    "GetFunctionConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFunctionConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFunctionConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFunctionConfigurationRequest, GetFunctionConfigurationResult>",
      "asyncReturnType" : "GetFunctionConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the version-specific settings of a Lambda function or version. The output includes only options that can vary between versions of a function. To modify these settings, use <a>UpdateFunctionConfiguration</a>.</p> <p>To get all of a function's details, including function-level settings, use <a>GetFunction</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFunctionConfigurationRequest",
        "variableName" : "getFunctionConfigurationRequest",
        "variableType" : "GetFunctionConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetFunctionConfigurationRequest",
        "variableSetterType" : "GetFunctionConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFunctionConfiguration",
      "operationName" : "GetFunctionConfiguration",
      "returnType" : {
        "returnType" : "GetFunctionConfigurationResult",
        "documentation" : "<p>Details about a function's configuration.</p>"
      },
      "syncReturnType" : "GetFunctionConfigurationResult"
    },
    "GetLayerVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLayerVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLayerVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLayerVersionRequest, GetLayerVersionResult>",
      "asyncReturnType" : "GetLayerVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>, with a link to download the layer archive that's valid for 10 minutes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLayerVersionRequest",
        "variableName" : "getLayerVersionRequest",
        "variableType" : "GetLayerVersionRequest",
        "documentation" : "",
        "simpleType" : "GetLayerVersionRequest",
        "variableSetterType" : "GetLayerVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLayerVersion",
      "operationName" : "GetLayerVersion",
      "returnType" : {
        "returnType" : "GetLayerVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLayerVersionResult"
    },
    "GetLayerVersionByArn" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLayerVersionByArnResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLayerVersionByArnResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLayerVersionByArnRequest, GetLayerVersionByArnResult>",
      "asyncReturnType" : "GetLayerVersionByArnResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>, with a link to download the layer archive that's valid for 10 minutes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLayerVersionByArnRequest",
        "variableName" : "getLayerVersionByArnRequest",
        "variableType" : "GetLayerVersionByArnRequest",
        "documentation" : "",
        "simpleType" : "GetLayerVersionByArnRequest",
        "variableSetterType" : "GetLayerVersionByArnRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLayerVersionByArn",
      "operationName" : "GetLayerVersionByArn",
      "returnType" : {
        "returnType" : "GetLayerVersionByArnResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLayerVersionByArnResult"
    },
    "GetLayerVersionPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLayerVersionPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLayerVersionPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLayerVersionPolicyRequest, GetLayerVersionPolicyResult>",
      "asyncReturnType" : "GetLayerVersionPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the permission policy for a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>. For more information, see <a>AddLayerVersionPermission</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLayerVersionPolicyRequest",
        "variableName" : "getLayerVersionPolicyRequest",
        "variableType" : "GetLayerVersionPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetLayerVersionPolicyRequest",
        "variableSetterType" : "GetLayerVersionPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLayerVersionPolicy",
      "operationName" : "GetLayerVersionPolicy",
      "returnType" : {
        "returnType" : "GetLayerVersionPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLayerVersionPolicyResult"
    },
    "GetPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPolicyRequest, GetPolicyResult>",
      "asyncReturnType" : "GetPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html\">resource-based IAM policy</a> for a function, version, or alias.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPolicyRequest",
        "variableName" : "getPolicyRequest",
        "variableType" : "GetPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetPolicyRequest",
        "variableSetterType" : "GetPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPolicy",
      "operationName" : "GetPolicy",
      "returnType" : {
        "returnType" : "GetPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPolicyResult"
    },
    "Invoke" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InvokeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InvokeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvokeRequest, InvokeResult>",
      "asyncReturnType" : "InvokeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Invokes a Lambda function. You can invoke a function synchronously (and wait for the response), or asynchronously. To invoke a function asynchronously, set <code>InvocationType</code> to <code>Event</code>.</p> <p>For synchronous invocation, details about the function response, including errors, are included in the response body and headers. For either invocation type, you can find more information in the <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/monitoring-functions.html\">execution log</a> and <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/dlq.html\">trace</a>. To record function errors for asynchronous invocations, configure your function with a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/dlq.html\">dead letter queue</a>.</p> <p>When an error occurs, your function may be invoked multiple times. Retry behavior varies by error type, client, event source, and invocation type. For example, if you invoke a function asynchronously and it returns an error, Lambda executes the function up to two more times. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/retries-on-errors.html\">Retry Behavior</a>.</p> <p>The status code in the API response doesn't reflect function errors. Error codes are reserved for errors that prevent your function from executing, such as permissions errors, <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">limit errors</a>, or issues with your function's code and configuration. For example, Lambda returns <code>TooManyRequestsException</code> if executing the function would cause you to exceed a concurrency limit at either the account level (<code>ConcurrentInvocationLimitExceeded</code>) or function level (<code>ReservedFunctionConcurrentInvocationLimitExceeded</code>).</p> <p>For functions with a long timeout, your client might be disconnected during synchronous invocation while it waits for a response. Configure your HTTP client, SDK, firewall, proxy, or operating system to allow for long connections with timeout or keep-alive settings.</p> <p>This operation requires permission for the <code>lambda:InvokeFunction</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestContentException",
        "documentation" : "<p>The request body could not be parsed as JSON.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RequestTooLargeException",
        "documentation" : "<p>The request payload exceeded the <code>Invoke</code> request body JSON input limit. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a>. </p>",
        "httpStatusCode" : 413
      }, {
        "exceptionName" : "UnsupportedMediaTypeException",
        "documentation" : "<p>The content type of the <code>Invoke</code> request body is not JSON.</p>",
        "httpStatusCode" : 415
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "EC2UnexpectedException",
        "documentation" : "<p>AWS Lambda received an unexpected EC2 client exception while setting up for the Lambda function.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "SubnetIPAddressLimitReachedException",
        "documentation" : "<p>AWS Lambda was not able to set up VPC access for the Lambda function because one or more configured subnets has no available IP addresses.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "ENILimitReachedException",
        "documentation" : "<p>AWS Lambda was not able to create an Elastic Network Interface (ENI) in the VPC, specified as part of Lambda function configuration, because the limit for network interfaces has been reached.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "EC2ThrottledException",
        "documentation" : "<p>AWS Lambda was throttled by Amazon EC2 during Lambda function initialization using the execution role provided for the Lambda function.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "EC2AccessDeniedException",
        "documentation" : "<p>Need additional permissions to configure VPC settings.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "InvalidSubnetIDException",
        "documentation" : "<p>The Subnet ID provided in the Lambda function VPC configuration is invalid.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "InvalidSecurityGroupIDException",
        "documentation" : "<p>The Security Group ID provided in the Lambda function VPC configuration is invalid.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "InvalidZipFileException",
        "documentation" : "<p>AWS Lambda could not unzip the deployment package.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "KMSDisabledException",
        "documentation" : "<p>Lambda was unable to decrypt the environment variables because the KMS key used is disabled. Check the Lambda function's KMS key settings.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>Lambda was unable to decrypt the environment variables because the KMS key used is in an invalid state for Decrypt. Check the function's KMS key settings.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "KMSAccessDeniedException",
        "documentation" : "<p>Lambda was unable to decrypt the environment variables because KMS access was denied. Check the Lambda function's KMS permissions.</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "KMSNotFoundException",
        "documentation" : "<p>Lambda was unable to decrypt the environment variables because the KMS key was not found. Check the function's KMS key settings. </p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "InvalidRuntimeException",
        "documentation" : "<p>The runtime or runtime version specified is not supported.</p>",
        "httpStatusCode" : 502
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvokeRequest",
        "variableName" : "invokeRequest",
        "variableType" : "InvokeRequest",
        "documentation" : "",
        "simpleType" : "InvokeRequest",
        "variableSetterType" : "InvokeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "invoke",
      "operationName" : "Invoke",
      "returnType" : {
        "returnType" : "InvokeResult",
        "documentation" : null
      },
      "syncReturnType" : "InvokeResult"
    },
    "InvokeAsync" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InvokeAsyncResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InvokeAsyncResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvokeAsyncRequest, InvokeAsyncResult>",
      "asyncReturnType" : "InvokeAsyncResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<important> <p>For asynchronous function invocation, use <a>Invoke</a>.</p> </important> <p>Invokes a function asynchronously.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestContentException",
        "documentation" : "<p>The request body could not be parsed as JSON.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRuntimeException",
        "documentation" : "<p>The runtime or runtime version specified is not supported.</p>",
        "httpStatusCode" : 502
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvokeAsyncRequest",
        "variableName" : "invokeAsyncRequest",
        "variableType" : "InvokeAsyncRequest",
        "documentation" : "",
        "simpleType" : "InvokeAsyncRequest",
        "variableSetterType" : "InvokeAsyncRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "invokeAsync",
      "operationName" : "InvokeAsync",
      "returnType" : {
        "returnType" : "InvokeAsyncResult",
        "documentation" : "<p>A success response (<code>202 Accepted</code>) indicates that the request is queued for invocation. </p>"
      },
      "syncReturnType" : "InvokeAsyncResult"
    },
    "ListAliases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAliasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAliasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAliasesRequest, ListAliasesResult>",
      "asyncReturnType" : "ListAliasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">aliases</a> for a Lambda function.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAliasesRequest",
        "variableName" : "listAliasesRequest",
        "variableType" : "ListAliasesRequest",
        "documentation" : "",
        "simpleType" : "ListAliasesRequest",
        "variableSetterType" : "ListAliasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAliases",
      "operationName" : "ListAliases",
      "returnType" : {
        "returnType" : "ListAliasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAliasesResult"
    },
    "ListEventSourceMappings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventSourceMappingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventSourceMappingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventSourceMappingsRequest, ListEventSourceMappingsResult>",
      "asyncReturnType" : "ListEventSourceMappingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists event source mappings. Specify an <code>EventSourceArn</code> to only show event source mappings for a single event source.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEventSourceMappingsRequest",
        "variableName" : "listEventSourceMappingsRequest",
        "variableType" : "ListEventSourceMappingsRequest",
        "documentation" : "",
        "simpleType" : "ListEventSourceMappingsRequest",
        "variableSetterType" : "ListEventSourceMappingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEventSourceMappings",
      "operationName" : "ListEventSourceMappings",
      "returnType" : {
        "returnType" : "ListEventSourceMappingsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEventSourceMappingsResult"
    },
    "ListFunctions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFunctionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFunctionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFunctionsRequest, ListFunctionsResult>",
      "asyncReturnType" : "ListFunctionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of Lambda functions, with the version-specific configuration of each.</p> <p>Set <code>FunctionVersion</code> to <code>ALL</code> to include all published versions of each function in addition to the unpublished version. To get more information about a function or version, use <a>GetFunction</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFunctionsRequest",
        "variableName" : "listFunctionsRequest",
        "variableType" : "ListFunctionsRequest",
        "documentation" : "",
        "simpleType" : "ListFunctionsRequest",
        "variableSetterType" : "ListFunctionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFunctions",
      "operationName" : "ListFunctions",
      "returnType" : {
        "returnType" : "ListFunctionsResult",
        "documentation" : "<p>A list of Lambda functions.</p>"
      },
      "syncReturnType" : "ListFunctionsResult"
    },
    "ListLayerVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLayerVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLayerVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLayerVersionsRequest, ListLayerVersionsResult>",
      "asyncReturnType" : "ListLayerVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the versions of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>. Versions that have been deleted aren't listed. Specify a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime identifier</a> to list only versions that indicate that they're compatible with that runtime.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLayerVersionsRequest",
        "variableName" : "listLayerVersionsRequest",
        "variableType" : "ListLayerVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListLayerVersionsRequest",
        "variableSetterType" : "ListLayerVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLayerVersions",
      "operationName" : "ListLayerVersions",
      "returnType" : {
        "returnType" : "ListLayerVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLayerVersionsResult"
    },
    "ListLayers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLayersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLayersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLayersRequest, ListLayersResult>",
      "asyncReturnType" : "ListLayersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layers</a> and shows information about the latest version of each. Specify a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime identifier</a> to list only layers that indicate that they're compatible with that runtime.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLayersRequest",
        "variableName" : "listLayersRequest",
        "variableType" : "ListLayersRequest",
        "documentation" : "",
        "simpleType" : "ListLayersRequest",
        "variableSetterType" : "ListLayersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLayers",
      "operationName" : "ListLayers",
      "returnType" : {
        "returnType" : "ListLayersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLayersResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a>. You can also view tags with <a>GetFunction</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsResult"
    },
    "ListVersionsByFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVersionsByFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVersionsByFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVersionsByFunctionRequest, ListVersionsByFunctionResult>",
      "asyncReturnType" : "ListVersionsByFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">versions</a>, with the version-specific configuration of each. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVersionsByFunctionRequest",
        "variableName" : "listVersionsByFunctionRequest",
        "variableType" : "ListVersionsByFunctionRequest",
        "documentation" : "",
        "simpleType" : "ListVersionsByFunctionRequest",
        "variableSetterType" : "ListVersionsByFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVersionsByFunction",
      "operationName" : "ListVersionsByFunction",
      "returnType" : {
        "returnType" : "ListVersionsByFunctionResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVersionsByFunctionResult"
    },
    "PublishLayerVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PublishLayerVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PublishLayerVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PublishLayerVersionRequest, PublishLayerVersionResult>",
      "asyncReturnType" : "PublishLayerVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a> from a ZIP archive. Each time you call <code>PublishLayerVersion</code> with the same version name, a new version is created.</p> <p>Add layers to your function with <a>CreateFunction</a> or <a>UpdateFunctionConfiguration</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "CodeStorageExceededException",
        "documentation" : "<p>You have exceeded your maximum total code size per account. <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Learn more</a> </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PublishLayerVersionRequest",
        "variableName" : "publishLayerVersionRequest",
        "variableType" : "PublishLayerVersionRequest",
        "documentation" : "",
        "simpleType" : "PublishLayerVersionRequest",
        "variableSetterType" : "PublishLayerVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "publishLayerVersion",
      "operationName" : "PublishLayerVersion",
      "returnType" : {
        "returnType" : "PublishLayerVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "PublishLayerVersionResult"
    },
    "PublishVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PublishVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PublishVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PublishVersionRequest, PublishVersionResult>",
      "asyncReturnType" : "PublishVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">version</a> from the current code and configuration of a function. Use versions to create a snapshot of your function code and configuration that doesn't change.</p> <p>AWS Lambda doesn't publish a version if the function's configuration and code haven't changed since the last version. Use <a>UpdateFunctionCode</a> or <a>UpdateFunctionConfiguration</a> to update the function before publishing a version.</p> <p>Clients can invoke versions directly or with an alias. To create an alias, use <a>CreateAlias</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "CodeStorageExceededException",
        "documentation" : "<p>You have exceeded your maximum total code size per account. <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Learn more</a> </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The RevisionId provided does not match the latest RevisionId for the Lambda function or alias. Call the <code>GetFunction</code> or the <code>GetAlias</code> API to retrieve the latest RevisionId for your resource.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PublishVersionRequest",
        "variableName" : "publishVersionRequest",
        "variableType" : "PublishVersionRequest",
        "documentation" : "",
        "simpleType" : "PublishVersionRequest",
        "variableSetterType" : "PublishVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "publishVersion",
      "operationName" : "PublishVersion",
      "returnType" : {
        "returnType" : "PublishVersionResult",
        "documentation" : "<p>Details about a function's configuration.</p>"
      },
      "syncReturnType" : "PublishVersionResult"
    },
    "PutFunctionConcurrency" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutFunctionConcurrencyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutFunctionConcurrencyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutFunctionConcurrencyRequest, PutFunctionConcurrencyResult>",
      "asyncReturnType" : "PutFunctionConcurrencyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the maximum number of simultaneous executions for a function, and reserves capacity for that concurrency level.</p> <p>Concurrency settings apply to the function as a whole, including all published versions and the unpublished version. Reserving concurrency both ensures that your function has capacity to process the specified number of events simultaneously, and prevents it from scaling beyond that level. Use <a>GetFunction</a> to see the current setting for a function.</p> <p>Use <a>GetAccountSettings</a> to see your regional concurrency limit. You can reserve concurrency for as many functions as you like, as long as you leave at least 100 simultaneous executions unreserved for functions that aren't configured with a per-function limit. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/concurrent-executions.html\">Managing Concurrency</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutFunctionConcurrencyRequest",
        "variableName" : "putFunctionConcurrencyRequest",
        "variableType" : "PutFunctionConcurrencyRequest",
        "documentation" : "",
        "simpleType" : "PutFunctionConcurrencyRequest",
        "variableSetterType" : "PutFunctionConcurrencyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putFunctionConcurrency",
      "operationName" : "PutFunctionConcurrency",
      "returnType" : {
        "returnType" : "PutFunctionConcurrencyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutFunctionConcurrencyResult"
    },
    "RemoveLayerVersionPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveLayerVersionPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveLayerVersionPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveLayerVersionPermissionRequest, RemoveLayerVersionPermissionResult>",
      "asyncReturnType" : "RemoveLayerVersionPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a statement from the permissions policy for a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>. For more information, see <a>AddLayerVersionPermission</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Request throughput limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The RevisionId provided does not match the latest RevisionId for the Lambda function or alias. Call the <code>GetFunction</code> or the <code>GetAlias</code> API to retrieve the latest RevisionId for your resource.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveLayerVersionPermissionRequest",
        "variableName" : "removeLayerVersionPermissionRequest",
        "variableType" : "RemoveLayerVersionPermissionRequest",
        "documentation" : "",
        "simpleType" : "RemoveLayerVersionPermissionRequest",
        "variableSetterType" : "RemoveLayerVersionPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeLayerVersionPermission",
      "operationName" : "RemoveLayerVersionPermission",
      "returnType" : {
        "returnType" : "RemoveLayerVersionPermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveLayerVersionPermissionResult"
    },
    "RemovePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemovePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemovePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemovePermissionRequest, RemovePermissionResult>",
      "asyncReturnType" : "RemovePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Revokes function-use permission from an AWS service or another account. You can get the ID of the statement from the output of <a>GetPolicy</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
[...]
