{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ {
      "convenienceType" : "String",
      "memberName" : "InvokeArgs",
      "shapeName" : "InvokeAsyncRequest",
      "typeAdapterFqcn" : "com.amazonaws.adapters.types.StringToInputStreamAdapter"
    }, {
      "convenienceType" : "String",
      "memberName" : "Payload",
      "shapeName" : "InvocationRequest",
      "typeAdapterFqcn" : "com.amazonaws.adapters.types.StringToByteBufferAdapter"
    } ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "ListEventSourceMappings" : {
        "methodForms" : [ [ ] ]
      },
      "ListFunctions" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true
  },
  "metadata" : {
    "apiVersion" : "2015-03-31",
    "asyncClient" : "AWSLambdaAsyncClient",
    "asyncClientBuilderClassName" : "AWSLambdaAsyncClientBuilder",
    "asyncInterface" : "AWSLambdaAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSLambdaModuleInjector",
    "defaultEndpoint" : "lambda.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "lambda.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS Lambda</fullname> <p> <b>Overview</b> </p> <p>This is the <i>AWS Lambda API Reference</i>. The AWS Lambda Developer Guide provides additional information. For the service overview, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is AWS Lambda</a>, and for information about how the service works, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <i>AWS Lambda Developer Guide</i>.</p>",
    "endpointPrefix" : "lambda",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.lambda",
    "packagePath" : "com/amazonaws/services/lambda",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Lambda",
    "serviceName" : "AWS Lambda",
    "signingName" : "lambda",
    "smokeTestsPackageName" : "com.amazonaws.services.lambda.smoketests",
    "syncClient" : "AWSLambdaClient",
    "syncClientBuilderClassName" : "AWSLambdaClientBuilder",
    "syncInterface" : "AWSLambda",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddPermissionRequest, AddPermissionResult>",
      "asyncReturnType" : "AddPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a permission to the resource policy associated with the specified AWS Lambda function. You use resource policies to grant permissions to event sources that use <i>push</i> model. In a <i>push</i> model, event sources (such as Amazon S3 and custom applications) invoke your Lambda function. Each permission you add to the resource policy allows an event source, permission to invoke the Lambda function. </p> <p>For information about the push model, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a>. </p> <p>If you are using versioning, the permissions you add are specific to the Lambda function version or alias you specify in the <code>AddPermission</code> request via the <code>Qualifier</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:AddPermission</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "PolicyLengthExceededException",
        "documentation" : "<p>Lambda function access policy is limited to 20 KB.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddPermissionRequest",
        "variableName" : "addPermissionRequest",
        "variableType" : "AddPermissionRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddPermissionRequest",
        "variableSetterType" : "AddPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addPermission",
      "operationName" : "AddPermission",
      "returnType" : {
        "returnType" : "AddPermissionResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "AddPermissionResult"
    },
    "CreateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "asyncReturnType" : "CreateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an alias that points to the specified Lambda function version. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>Alias names are unique for a given function. This requires permission for the lambda:CreateAlias action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateAliasRequest",
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "documentation" : "",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlias",
      "operationName" : "CreateAlias",
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : "<p>Provides configuration information about a Lambda function version alias.</p>"
      },
      "syncReturnType" : "CreateAliasResult"
    },
    "CreateEventSourceMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEventSourceMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEventSourceMappingRequest, CreateEventSourceMappingResult>",
      "asyncReturnType" : "CreateEventSourceMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Identifies a stream as an event source for a Lambda function. It can be either an Amazon Kinesis stream or an Amazon DynamoDB stream. AWS Lambda invokes the specified function when records are posted to the stream.</p> <p>This association between a stream source and a Lambda function is called the event source mapping.</p> <important><p>This event source mapping is relevant only in the AWS Lambda pull model, where AWS Lambda invokes the function. For more information, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <i>AWS Lambda Developer Guide</i>.</p> </important> <p>You provide mapping information (for example, which stream to read from and which Lambda function to invoke) in the request body.</p> <p>Each event source, such as an Amazon Kinesis or a DynamoDB stream, can be associated with multiple AWS Lambda function. A given Lambda function can be associated with multiple AWS event sources.</p> <p>If you are using versioning, you can specify a specific function version or an alias via the function name parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:CreateEventSourceMapping</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateEventSourceMappingRequest",
        "variableName" : "createEventSourceMappingRequest",
        "variableType" : "CreateEventSourceMappingRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateEventSourceMappingRequest",
        "variableSetterType" : "CreateEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEventSourceMapping",
      "operationName" : "CreateEventSourceMapping",
      "returnType" : {
        "returnType" : "CreateEventSourceMappingResult",
        "documentation" : "<p>Describes mapping between an Amazon Kinesis stream and a Lambda function.</p>"
      },
      "syncReturnType" : "CreateEventSourceMappingResult"
    },
    "CreateFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFunctionRequest, CreateFunctionResult>",
      "asyncReturnType" : "CreateFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Lambda function. The function metadata is created from the request parameters, and the code for the function is provided by a .zip file in the request body. If the function name already exists, the operation will fail. Note that the function name is case-sensitive.</p> <p> If you are using versioning, you can also publish a version of the Lambda function you are creating using the <code>Publish</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:CreateFunction</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "CodeStorageExceededException",
        "documentation" : "<p>You have exceeded your maximum total code size per account. <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a> </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateFunctionRequest",
        "variableName" : "createFunctionRequest",
        "variableType" : "CreateFunctionRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateFunctionRequest",
        "variableSetterType" : "CreateFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFunction",
      "operationName" : "CreateFunction",
      "returnType" : {
        "returnType" : "CreateFunctionResult",
        "documentation" : "<p>A complex type that describes function metadata.</p>"
      },
      "syncReturnType" : "CreateFunctionResult"
    },
    "DeleteAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAliasRequest, DeleteAliasResult>",
      "asyncReturnType" : "DeleteAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Lambda function alias. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the lambda:DeleteAlias action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteAliasRequest",
        "variableName" : "deleteAliasRequest",
        "variableType" : "DeleteAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteAliasRequest",
        "variableSetterType" : "DeleteAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlias",
      "operationName" : "DeleteAlias",
      "returnType" : {
        "returnType" : "DeleteAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAliasResult"
    },
    "DeleteEventSourceMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventSourceMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventSourceMappingRequest, DeleteEventSourceMappingResult>",
      "asyncReturnType" : "DeleteEventSourceMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an event source mapping. This means AWS Lambda will no longer invoke the function for events in the associated source.</p> <p>This operation requires permission for the <code>lambda:DeleteEventSourceMapping</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteEventSourceMappingRequest",
        "variableName" : "deleteEventSourceMappingRequest",
        "variableType" : "DeleteEventSourceMappingRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteEventSourceMappingRequest",
        "variableSetterType" : "DeleteEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEventSourceMapping",
      "operationName" : "DeleteEventSourceMapping",
      "returnType" : {
        "returnType" : "DeleteEventSourceMappingResult",
        "documentation" : "<p>Describes mapping between an Amazon Kinesis stream and a Lambda function.</p>"
      },
      "syncReturnType" : "DeleteEventSourceMappingResult"
    },
    "DeleteFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFunctionRequest, DeleteFunctionResult>",
      "asyncReturnType" : "DeleteFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Lambda function code and configuration.</p> <p>If you are using the versioning feature and you don't specify a function version in your <code>DeleteFunction</code> request, AWS Lambda will delete the function, including all its versions, and any aliases pointing to the function versions. To delete a specific function version, you must provide the function version via the <code>Qualifier</code> parameter. For information about function versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>When you delete a function the associated resource policy is also deleted. You will need to delete the event source mappings explicitly.</p> <p>This operation requires permission for the <code>lambda:DeleteFunction</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFunctionRequest",
        "variableName" : "deleteFunctionRequest",
        "variableType" : "DeleteFunctionRequest",
        "documentation" : "",
        "simpleType" : "DeleteFunctionRequest",
        "variableSetterType" : "DeleteFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFunction",
      "operationName" : "DeleteFunction",
      "returnType" : {
        "returnType" : "DeleteFunctionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFunctionResult"
    },
    "GetAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAliasRequest, GetAliasResult>",
      "asyncReturnType" : "GetAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the specified alias information such as the alias ARN, description, and function version it is pointing to. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the <code>lambda:GetAlias</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetAliasRequest",
        "variableName" : "getAliasRequest",
        "variableType" : "GetAliasRequest",
        "documentation" : "",
        "simpleType" : "GetAliasRequest",
        "variableSetterType" : "GetAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAlias",
      "operationName" : "GetAlias",
      "returnType" : {
        "returnType" : "GetAliasResult",
        "documentation" : "<p>Provides configuration information about a Lambda function version alias.</p>"
      },
      "syncReturnType" : "GetAliasResult"
    },
    "GetEventSourceMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEventSourceMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEventSourceMappingRequest, GetEventSourceMappingResult>",
      "asyncReturnType" : "GetEventSourceMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns configuration information for the specified event source mapping (see <a>CreateEventSourceMapping</a>).</p> <p>This operation requires permission for the <code>lambda:GetEventSourceMapping</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetEventSourceMappingRequest",
        "variableName" : "getEventSourceMappingRequest",
        "variableType" : "GetEventSourceMappingRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetEventSourceMappingRequest",
        "variableSetterType" : "GetEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEventSourceMapping",
      "operationName" : "GetEventSourceMapping",
      "returnType" : {
        "returnType" : "GetEventSourceMappingResult",
        "documentation" : "<p>Describes mapping between an Amazon Kinesis stream and a Lambda function.</p>"
      },
      "syncReturnType" : "GetEventSourceMappingResult"
    },
    "GetFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFunctionRequest, GetFunctionResult>",
      "asyncReturnType" : "GetFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the configuration information of the Lambda function and a presigned URL link to the .zip file you uploaded with <a>CreateFunction</a> so you can download the .zip file. Note that the URL is valid for up to 10 minutes. The configuration information is the same information you provided as parameters when uploading the function.</p> <p>Using the optional <code>Qualifier</code> parameter, you can specify a specific function version for which you want this information. If you don't specify this parameter, the API uses unqualified function ARN which return information about the <code>$LATEST</code> version of the Lambda function. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>.</p> <p>This operation requires permission for the <code>lambda:GetFunction</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetFunctionRequest",
        "variableName" : "getFunctionRequest",
        "variableType" : "GetFunctionRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetFunctionRequest",
        "variableSetterType" : "GetFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFunction",
      "operationName" : "GetFunction",
      "returnType" : {
        "returnType" : "GetFunctionResult",
        "documentation" : "<p>This response contains the object for the Lambda function location (see <a>FunctionCodeLocation</a>.</p>"
      },
      "syncReturnType" : "GetFunctionResult"
    },
    "GetFunctionConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFunctionConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFunctionConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFunctionConfigurationRequest, GetFunctionConfigurationResult>",
      "asyncReturnType" : "GetFunctionConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the configuration information of the Lambda function. This the same information you provided as parameters when uploading the function by using <a>CreateFunction</a>.</p> <p>If you are using the versioning feature, you can retrieve this information for a specific function version by using the optional <code>Qualifier</code> parameter and specifying the function version or alias that points to it. If you don't provide it, the API returns information about the $LATEST version of the function. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>.</p> <p>This operation requires permission for the <code>lambda:GetFunctionConfiguration</code> operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetFunctionConfigurationRequest",
        "variableName" : "getFunctionConfigurationRequest",
        "variableType" : "GetFunctionConfigurationRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetFunctionConfigurationRequest",
        "variableSetterType" : "GetFunctionConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFunctionConfiguration",
      "operationName" : "GetFunctionConfiguration",
      "returnType" : {
        "returnType" : "GetFunctionConfigurationResult",
        "documentation" : "<p>A complex type that describes function metadata.</p>"
      },
      "syncReturnType" : "GetFunctionConfigurationResult"
    },
    "GetPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPolicyRequest, GetPolicyResult>",
      "asyncReturnType" : "GetPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the resource policy associated with the specified Lambda function.</p> <p> If you are using the versioning feature, you can get the resource policy associated with the specific Lambda function version or alias by specifying the version or alias name using the <code>Qualifier</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>For information about adding permissions, see <a>AddPermission</a>.</p> <p>You need permission for the <code>lambda:GetPolicy action.</code> </p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetPolicyRequest",
        "variableName" : "getPolicyRequest",
        "variableType" : "GetPolicyRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetPolicyRequest",
        "variableSetterType" : "GetPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPolicy",
      "operationName" : "GetPolicy",
      "returnType" : {
        "returnType" : "GetPolicyResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetPolicyResult"
    },
    "Invoke" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InvokeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InvokeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvokeRequest, InvokeResult>",
      "asyncReturnType" : "InvokeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Invokes a specific Lambda function. For an example, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/with-dynamodb-create-function.html#with-dbb-invoke-manually\">Create the Lambda Function and Test It Manually</a>. </p> <p>If you are using the versioning feature, you can invoke the specific function version by providing function version or alias name that is pointing to the function version using the <code>Qualifier</code> parameter in the request. If you don't provide the <code>Qualifier</code> parameter, the <code>$LATEST</code> version of the Lambda function is invoked. Invocations occur at least once in response to an event and functions must be idempotent to handle this. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:InvokeFunction</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestContentException",
        "documentation" : "<p>The request body could not be parsed as JSON.</p>"
      }, {
        "exceptionName" : "RequestTooLargeException",
        "documentation" : "<p>The request payload exceeded the <code>Invoke</code> request body JSON input limit. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a>. </p>"
      }, {
        "exceptionName" : "UnsupportedMediaTypeException",
        "documentation" : "<p>The content type of the <code>Invoke</code> request body is not JSON.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "EC2UnexpectedException",
        "documentation" : "<p>AWS Lambda received an unexpected EC2 client exception while setting up for the Lambda function.</p>"
      }, {
        "exceptionName" : "SubnetIPAddressLimitReachedException",
        "documentation" : "<p>AWS Lambda was not able to set up VPC access for the Lambda function because one or more configured subnets has no available IP addresses.</p>"
      }, {
        "exceptionName" : "ENILimitReachedException",
        "documentation" : "<p>AWS Lambda was not able to create an Elastic Network Interface (ENI) in the VPC, specified as part of Lambda function configuration, because the limit for network interfaces has been reached.</p>"
      }, {
        "exceptionName" : "EC2ThrottledException",
        "documentation" : "<p>AWS Lambda was throttled by Amazon EC2 during Lambda function initialization using the execution role provided for the Lambda function.</p>"
      }, {
        "exceptionName" : "EC2AccessDeniedException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "InvalidSubnetIDException",
        "documentation" : "<p>The Subnet ID provided in the Lambda function VPC configuration is invalid.</p>"
      }, {
        "exceptionName" : "InvalidSecurityGroupIDException",
        "documentation" : "<p>The Security Group ID provided in the Lambda function VPC configuration is invalid.</p>"
      }, {
        "exceptionName" : "InvalidZipFileException",
        "documentation" : "<p>AWS Lambda could not unzip the function zip file.</p>"
      }, {
        "exceptionName" : "KMSDisabledException",
        "documentation" : "<p>Lambda was unable to decrypt the environment variables because the KMS key used is disabled. Please check the Lambda function's KMS key settings.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>Lambda was unable to decrypt the environment variables because the KMS key used is in an invalid state for Decrypt. Please check the function's KMS key settings.</p>"
      }, {
        "exceptionName" : "KMSAccessDeniedException",
        "documentation" : "<p>Lambda was unable to decrypt the environment variables becauses KMS access was denied. Please check the Lambda function's KMS permissions.</p>"
      }, {
        "exceptionName" : "KMSNotFoundException",
        "documentation" : "<p>Lambda was unable to decrypt the environment variables because the KMS key was not found. Please check the function's KMS key settings. </p>"
      } ],
      "hasBlobMemberAsPayload" : true,
      "input" : {
        "variableDeclarationType" : "InvokeRequest",
        "variableName" : "invokeRequest",
        "variableType" : "InvokeRequest",
        "documentation" : "<p/>",
        "simpleType" : "InvokeRequest",
        "variableSetterType" : "InvokeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "invoke",
      "operationName" : "Invoke",
      "returnType" : {
        "returnType" : "InvokeResult",
        "documentation" : "<p>Upon success, returns an empty response. Otherwise, throws an exception.</p>"
      },
      "syncReturnType" : "InvokeResult"
    },
    "InvokeAsync" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InvokeAsyncResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InvokeAsyncResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvokeAsyncRequest, InvokeAsyncResult>",
      "asyncReturnType" : "InvokeAsyncResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<important><p>This API is deprecated. We recommend you use <code>Invoke</code> API (see <a>Invoke</a>).</p> </important> <p>Submits an invocation request to AWS Lambda. Upon receiving the request, Lambda executes the specified function asynchronously. To see the logs generated by the Lambda function execution, see the CloudWatch Logs console.</p> <p>This operation requires permission for the <code>lambda:InvokeFunction</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidRequestContentException",
        "documentation" : "<p>The request body could not be parsed as JSON.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "InvokeAsyncRequest",
        "variableName" : "invokeAsyncRequest",
        "variableType" : "InvokeAsyncRequest",
        "documentation" : "<p/>",
        "simpleType" : "InvokeAsyncRequest",
        "variableSetterType" : "InvokeAsyncRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "invokeAsync",
      "operationName" : "InvokeAsync",
      "returnType" : {
        "returnType" : "InvokeAsyncResult",
        "documentation" : "<p>Upon success, it returns empty response. Otherwise, throws an exception.</p>"
      },
      "syncReturnType" : "InvokeAsyncResult"
    },
    "ListAliases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAliasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAliasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAliasesRequest, ListAliasesResult>",
      "asyncReturnType" : "ListAliasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns list of aliases created for a Lambda function. For each alias, the response includes information such as the alias ARN, description, alias name, and the function version to which it points. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the lambda:ListAliases action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAliasesRequest",
        "variableName" : "listAliasesRequest",
        "variableType" : "ListAliasesRequest",
        "documentation" : "",
        "simpleType" : "ListAliasesRequest",
        "variableSetterType" : "ListAliasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAliases",
      "operationName" : "ListAliases",
      "returnType" : {
        "returnType" : "ListAliasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAliasesResult"
    },
    "ListEventSourceMappings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventSourceMappingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventSourceMappingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventSourceMappingsRequest, ListEventSourceMappingsResult>",
      "asyncReturnType" : "ListEventSourceMappingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of event source mappings you created using the <code>CreateEventSourceMapping</code> (see <a>CreateEventSourceMapping</a>). </p> <p>For each mapping, the API returns configuration information. You can optionally specify filters to retrieve specific event source mappings.</p> <p>If you are using the versioning feature, you can get list of event source mappings for a specific Lambda function version or an alias as described in the <code>FunctionName</code> parameter. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:ListEventSourceMappings</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListEventSourceMappingsRequest",
        "variableName" : "listEventSourceMappingsRequest",
        "variableType" : "ListEventSourceMappingsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListEventSourceMappingsRequest",
        "variableSetterType" : "ListEventSourceMappingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEventSourceMappings",
      "operationName" : "ListEventSourceMappings",
      "returnType" : {
        "returnType" : "ListEventSourceMappingsResult",
        "documentation" : "<p>Contains a list of event sources (see <a>EventSourceMappingConfiguration</a>)</p>"
      },
      "syncReturnType" : "ListEventSourceMappingsResult"
    },
    "ListFunctions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFunctionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFunctionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFunctionsRequest, ListFunctionsResult>",
      "asyncReturnType" : "ListFunctionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of your Lambda functions. For each function, the response includes the function configuration information. You must use <a>GetFunction</a> to retrieve the code for your function.</p> <p>This operation requires permission for the <code>lambda:ListFunctions</code> action.</p> <p>If you are using versioning feature, the response returns list of $LATEST versions of your functions. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListFunctionsRequest",
        "variableName" : "listFunctionsRequest",
        "variableType" : "ListFunctionsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListFunctionsRequest",
        "variableSetterType" : "ListFunctionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFunctions",
      "operationName" : "ListFunctions",
      "returnType" : {
        "returnType" : "ListFunctionsResult",
        "documentation" : "<p>Contains a list of AWS Lambda function configurations (see <a>FunctionConfiguration</a>.</p>"
      },
      "syncReturnType" : "ListFunctionsResult"
    },
    "ListVersionsByFunction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVersionsByFunctionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVersionsByFunctionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVersionsByFunctionRequest, ListVersionsByFunctionResult>",
      "asyncReturnType" : "ListVersionsByFunctionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all versions of a function. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListVersionsByFunctionRequest",
        "variableName" : "listVersionsByFunctionRequest",
        "variableType" : "ListVersionsByFunctionRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListVersionsByFunctionRequest",
        "variableSetterType" : "ListVersionsByFunctionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVersionsByFunction",
      "operationName" : "ListVersionsByFunction",
      "returnType" : {
        "returnType" : "ListVersionsByFunctionResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListVersionsByFunctionResult"
    },
    "PublishVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PublishVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PublishVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PublishVersionRequest, PublishVersionResult>",
      "asyncReturnType" : "PublishVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Publishes a version of your function from the current snapshot of $LATEST. That is, AWS Lambda takes a snapshot of the function code and configuration information from $LATEST and publishes a new version. The code and configuration cannot be modified after publication. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "CodeStorageExceededException",
        "documentation" : "<p>You have exceeded your maximum total code size per account. <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a> </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PublishVersionRequest",
        "variableName" : "publishVersionRequest",
        "variableType" : "PublishVersionRequest",
        "documentation" : "<p/>",
        "simpleType" : "PublishVersionRequest",
        "variableSetterType" : "PublishVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "publishVersion",
      "operationName" : "PublishVersion",
      "returnType" : {
        "returnType" : "PublishVersionResult",
        "documentation" : "<p>A complex type that describes function metadata.</p>"
      },
      "syncReturnType" : "PublishVersionResult"
    },
    "RemovePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemovePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemovePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemovePermissionRequest, RemovePermissionResult>",
      "asyncReturnType" : "RemovePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>You can remove individual permissions from an resource policy associated with a Lambda function by providing a statement ID that you provided when you added the permission.</p> <p>If you are using versioning, the permissions you remove are specific to the Lambda function version or alias you specify in the <code>AddPermission</code> request via the <code>Qualifier</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>Note that removal of a permission will cause an active event source to lose permission to the function.</p> <p>You need permission for the <code>lambda:RemovePermission</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemovePermissionRequest",
        "variableName" : "removePermissionRequest",
        "variableType" : "RemovePermissionRequest",
        "documentation" : "<p/>",
        "simpleType" : "RemovePermissionRequest",
        "variableSetterType" : "RemovePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removePermission",
      "operationName" : "RemovePermission",
      "returnType" : {
        "returnType" : "RemovePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "RemovePermissionResult"
    },
    "UpdateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAliasRequest, UpdateAliasResult>",
      "asyncReturnType" : "UpdateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Using this API you can update the function version to which the alias points and the alias description. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the lambda:UpdateAlias action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateAliasRequest",
        "variableName" : "updateAliasRequest",
        "variableType" : "UpdateAliasRequest",
        "documentation" : "",
        "simpleType" : "UpdateAliasRequest",
        "variableSetterType" : "UpdateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAlias",
      "operationName" : "UpdateAlias",
      "returnType" : {
        "returnType" : "UpdateAliasResult",
        "documentation" : "<p>Provides configuration information about a Lambda function version alias.</p>"
      },
      "syncReturnType" : "UpdateAliasResult"
    },
    "UpdateEventSourceMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEventSourceMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEventSourceMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEventSourceMappingRequest, UpdateEventSourceMappingResult>",
      "asyncReturnType" : "UpdateEventSourceMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>You can update an event source mapping. This is useful if you want to change the parameters of the existing mapping without losing your position in the stream. You can change which function will receive the stream records, but to change the stream itself, you must create a new mapping.</p> <p>If you are using the versioning feature, you can update the event source mapping to map to a specific Lambda function version or alias as described in the <code>FunctionName</code> parameter. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>If you disable the event source mapping, AWS Lambda stops polling. If you enable again, it will resume polling from the time it had stopped polling, so you don't lose processing of any records. However, if you delete event source mapping and create it again, it will reset.</p> <p>This operation requires permission for the <code>lambda:UpdateEventSourceMapping</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource already exists.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateEventSourceMappingRequest",
        "variableName" : "updateEventSourceMappingRequest",
        "variableType" : "UpdateEventSourceMappingRequest",
        "documentation" : "<p/>",
        "simpleType" : "UpdateEventSourceMappingRequest",
        "variableSetterType" : "UpdateEventSourceMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEventSourceMapping",
      "operationName" : "UpdateEventSourceMapping",
      "returnType" : {
        "returnType" : "UpdateEventSourceMappingResult",
        "documentation" : "<p>Describes mapping between an Amazon Kinesis stream and a Lambda function.</p>"
      },
      "syncReturnType" : "UpdateEventSourceMappingResult"
    },
    "UpdateFunctionCode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFunctionCodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFunctionCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFunctionCodeRequest, UpdateFunctionCodeResult>",
      "asyncReturnType" : "UpdateFunctionCodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the code for the specified Lambda function. This operation must only be used on an existing Lambda function and cannot be used to update the function configuration.</p> <p>If you are using the versioning feature, note this API will always update the $LATEST version of your Lambda function. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:UpdateFunctionCode</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      }, {
        "exceptionName" : "CodeStorageExceededException",
        "documentation" : "<p>You have exceeded your maximum total code size per account. <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a> </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateFunctionCodeRequest",
        "variableName" : "updateFunctionCodeRequest",
        "variableType" : "UpdateFunctionCodeRequest",
        "documentation" : "<p/>",
        "simpleType" : "UpdateFunctionCodeRequest",
        "variableSetterType" : "UpdateFunctionCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFunctionCode",
      "operationName" : "UpdateFunctionCode",
      "returnType" : {
        "returnType" : "UpdateFunctionCodeResult",
        "documentation" : "<p>A complex type that describes function metadata.</p>"
      },
      "syncReturnType" : "UpdateFunctionCodeResult"
    },
    "UpdateFunctionConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFunctionConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFunctionConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFunctionConfigurationRequest, UpdateFunctionConfigurationResult>",
      "asyncReturnType" : "UpdateFunctionConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the configuration parameters for the specified Lambda function by using the values provided in the request. You provide only the parameters you want to change. This operation must only be used on an existing Lambda function and cannot be used to update the function's code.</p> <p>If you are using the versioning feature, note this API will always update the $LATEST version of your Lambda function. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:UpdateFunctionConfiguration</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The AWS Lambda service encountered an internal error.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource (for example, a Lambda function or access policy statement) specified in the request does not exist.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. </p>"
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateFunctionConfigurationRequest",
        "variableName" : "updateFunctionConfigurationRequest",
        "variableType" : "UpdateFunctionConfigurationRequest",
        "documentation" : "<p/>",
        "simpleType" : "UpdateFunctionConfigurationRequest",
        "variableSetterType" : "UpdateFunctionConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFunctionConfiguration",
      "operationName" : "UpdateFunctionConfiguration",
      "returnType" : {
        "returnType" : "UpdateFunctionConfigurationResult",
        "documentation" : "<p>A complex type that describes function metadata.</p>"
      },
      "syncReturnType" : "UpdateFunctionConfigurationResult"
    }
  },
  "shapes" : {
    "AddPermissionRequest" : {
      "c2jName" : "AddPermissionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddPermission",
        "locationName" : null,
        "requestUri" : "/2015-03-31/functions/{FunctionName}/policy",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "FunctionName",
        "c2jShape" : "FunctionName",
        "deprecated" : false,
        "documentation" : "<p>Name of the Lambda function whose resource policy you are updating by adding a new permission.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify partial ARN (for example, <code>account-id:Thumbnail</code>). Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the Lambda function whose resource policy you are updating by adding a new permission.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify partial ARN (for example, <code>account-id:Thumbnail</code>). Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length. </p>\n@param functionName Name of the Lambda function whose resource policy you are updating by adding a new permission.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify partial ARN (for example, <code>account-id:Thumbnail</code>). Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Name of the Lambda function whose resource policy you are updating by adding a new permission.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify partial ARN (for example, <code>account-id:Thumbnail</code>). Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length. </p>\n@return Name of the Lambda function whose resource policy you are updating by adding a new permission.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify partial ARN (for example, <code>account-id:Thumbnail</code>). Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocationName" : "FunctionName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FunctionName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "FunctionName",
        "setterDocumentation" : "/**<p>Name of the Lambda function whose resource policy you are updating by adding a new permission.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify partial ARN (for example, <code>account-id:Thumbnail</code>). Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length. </p>\n@param functionName Name of the Lambda function whose resource policy you are updating by adding a new permission.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify partial ARN (for example, <code>account-id:Thumbnail</code>). Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "functionName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Name of the Lambda function whose resource policy you are updating by adding a new permission.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify partial ARN (for example, <code>account-id:Thumbnail</code>). Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length. </p>\n@param functionName Name of the Lambda function whose resource policy you are updating by adding a new permission.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify partial ARN (for example, <code>account-id:Thumbnail</code>). Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "functionName",
          "variableType" : "String",
          "documentation" : "<p>Name of the Lambda function whose resource policy you are updating by adding a new permission.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify partial ARN (for example, <code>account-id:Thumbnail</code>). Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StatementId",
        "c2jShape" : "StatementId",
        "deprecated" : false,
        "documentation" : "<p>A unique statement identifier.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique statement identifier.</p>\n@param statementId A unique statement identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A unique statement identifier.</p>\n@return A unique statement identifier.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "StatementId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StatementId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "StatementId",
        "setterDocumentation" : "/**<p>A unique statement identifier.</p>\n@param statementId A unique statement identifier.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "statementId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>A unique statement identifier.</p>\n@param statementId A unique statement identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "statementId",
          "variableType" : "String",
          "documentation" : "<p>A unique statement identifier.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Action",
        "c2jShape" : "Action",
        "deprecated" : false,
        "documentation" : "<p>The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions. </p>\n@param action The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions. </p>\n@return The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Action",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Action",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Action",
        "setterDocumentation" : "/**<p>The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions. </p>\n@param action The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "action",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions. </p>\n@param action The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "action",
          "variableType" : "String",
          "documentation" : "<p>The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Principal",
        "c2jShape" : "Principal",
        "deprecated" : false,
        "documentation" : "<p>The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function. </p>\n@param principal The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function. </p>\n@return The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Principal",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Principal",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Principal",
        "setterDocumentation" : "/**<p>The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function. </p>\n@param principal The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "principal",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function. </p>\n@param principal The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "principal",
          "variableType" : "String",
          "documentation" : "<p>The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SourceArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p> </important>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p> </important>\n@param sourceArn This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p> </important>\n@return This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p>*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SourceArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SourceArn",
        "setterDocumentation" : "/**<p>This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p> </important>\n@param sourceArn This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p>*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "sourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p> </important>\n@param sourceArn This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "sourceArn",
          "variableType" : "String",
          "documentation" : "<p>This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p> </important>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SourceAccount",
        "c2jShape" : "SourceOwner",
        "deprecated" : false,
[...]
