{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-08-01",
    "asyncClient" : "AWSLicenseManagerAsyncClient",
    "asyncClientBuilderClassName" : "AWSLicenseManagerAsyncClientBuilder",
    "asyncInterface" : "AWSLicenseManagerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSLicenseManagerModuleInjector",
    "defaultEndpoint" : "license-manager.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "license-manager.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname> AWS License Manager </fullname> <p>AWS License Manager makes it easier to manage licenses from software vendors across multiple AWS accounts and on-premises servers.</p>",
    "endpointPrefix" : "license-manager",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.licensemanager",
    "packagePath" : "com/amazonaws/services/licensemanager",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS License Manager",
    "serviceId" : "License Manager",
    "serviceName" : "AWS License Manager",
    "signingName" : "license-manager",
    "smokeTestsPackageName" : "com.amazonaws.services.licensemanager.smoketests",
    "syncClient" : "AWSLicenseManagerClient",
    "syncClientBuilderClassName" : "AWSLicenseManagerClientBuilder",
    "syncInterface" : "AWSLicenseManager",
    "uid" : "license-manager-2018-08-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLicenseConfigurationRequest, CreateLicenseConfigurationResult>",
      "asyncReturnType" : "CreateLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a license configuration.</p> <p>A license configuration is an abstraction of a customer license agreement that can be consumed and enforced by License Manager. Components include specifications for the license type (licensing by instance, socket, CPU, or vCPU), allowed tenancy (shared tenancy, Dedicated Instance, Dedicated Host, or all of these), host affinity (how long a VM must be associated with a host), and the number of licenses purchased and used.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLicenseConfigurationRequest",
        "variableName" : "createLicenseConfigurationRequest",
        "variableType" : "CreateLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateLicenseConfigurationRequest",
        "variableSetterType" : "CreateLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLicenseConfiguration",
      "operationName" : "CreateLicenseConfiguration",
      "returnType" : {
        "returnType" : "CreateLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLicenseConfigurationResult"
    },
    "DeleteLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLicenseConfigurationRequest, DeleteLicenseConfigurationResult>",
      "asyncReturnType" : "DeleteLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified license configuration.</p> <p>You cannot delete a license configuration that is in use.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLicenseConfigurationRequest",
        "variableName" : "deleteLicenseConfigurationRequest",
        "variableType" : "DeleteLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteLicenseConfigurationRequest",
        "variableSetterType" : "DeleteLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLicenseConfiguration",
      "operationName" : "DeleteLicenseConfiguration",
      "returnType" : {
        "returnType" : "DeleteLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLicenseConfigurationResult"
    },
    "GetLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLicenseConfigurationRequest, GetLicenseConfigurationResult>",
      "asyncReturnType" : "GetLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information about the specified license configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLicenseConfigurationRequest",
        "variableName" : "getLicenseConfigurationRequest",
        "variableType" : "GetLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetLicenseConfigurationRequest",
        "variableSetterType" : "GetLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLicenseConfiguration",
      "operationName" : "GetLicenseConfiguration",
      "returnType" : {
        "returnType" : "GetLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLicenseConfigurationResult"
    },
    "GetServiceSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceSettingsRequest, GetServiceSettingsResult>",
      "asyncReturnType" : "GetServiceSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the License Manager settings for the current Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceSettingsRequest",
        "variableName" : "getServiceSettingsRequest",
        "variableType" : "GetServiceSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetServiceSettingsRequest",
        "variableSetterType" : "GetServiceSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceSettings",
      "operationName" : "GetServiceSettings",
      "returnType" : {
        "returnType" : "GetServiceSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceSettingsResult"
    },
    "ListAssociationsForLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociationsForLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociationsForLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociationsForLicenseConfigurationRequest, ListAssociationsForLicenseConfigurationResult>",
      "asyncReturnType" : "ListAssociationsForLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resource associations for the specified license configuration.</p> <p>Resource associations need not consume licenses from a license configuration. For example, an AMI or a stopped instance might not consume a license (depending on the license rules).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FilterLimitExceededException",
        "documentation" : "<p>The request uses too many filters or too many filter values.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssociationsForLicenseConfigurationRequest",
        "variableName" : "listAssociationsForLicenseConfigurationRequest",
        "variableType" : "ListAssociationsForLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "ListAssociationsForLicenseConfigurationRequest",
        "variableSetterType" : "ListAssociationsForLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociationsForLicenseConfiguration",
      "operationName" : "ListAssociationsForLicenseConfiguration",
      "returnType" : {
        "returnType" : "ListAssociationsForLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssociationsForLicenseConfigurationResult"
    },
    "ListFailuresForLicenseConfigurationOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFailuresForLicenseConfigurationOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFailuresForLicenseConfigurationOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFailuresForLicenseConfigurationOperationsRequest, ListFailuresForLicenseConfigurationOperationsResult>",
      "asyncReturnType" : "ListFailuresForLicenseConfigurationOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the license configuration operations that failed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFailuresForLicenseConfigurationOperationsRequest",
        "variableName" : "listFailuresForLicenseConfigurationOperationsRequest",
        "variableType" : "ListFailuresForLicenseConfigurationOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListFailuresForLicenseConfigurationOperationsRequest",
        "variableSetterType" : "ListFailuresForLicenseConfigurationOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFailuresForLicenseConfigurationOperations",
      "operationName" : "ListFailuresForLicenseConfigurationOperations",
      "returnType" : {
        "returnType" : "ListFailuresForLicenseConfigurationOperationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFailuresForLicenseConfigurationOperationsResult"
    },
    "ListLicenseConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLicenseConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLicenseConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLicenseConfigurationsRequest, ListLicenseConfigurationsResult>",
      "asyncReturnType" : "ListLicenseConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the license configurations for your account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FilterLimitExceededException",
        "documentation" : "<p>The request uses too many filters or too many filter values.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLicenseConfigurationsRequest",
        "variableName" : "listLicenseConfigurationsRequest",
        "variableType" : "ListLicenseConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListLicenseConfigurationsRequest",
        "variableSetterType" : "ListLicenseConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLicenseConfigurations",
      "operationName" : "ListLicenseConfigurations",
      "returnType" : {
        "returnType" : "ListLicenseConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLicenseConfigurationsResult"
    },
    "ListLicenseSpecificationsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLicenseSpecificationsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLicenseSpecificationsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLicenseSpecificationsForResourceRequest, ListLicenseSpecificationsForResourceResult>",
      "asyncReturnType" : "ListLicenseSpecificationsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the license configurations for the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLicenseSpecificationsForResourceRequest",
        "variableName" : "listLicenseSpecificationsForResourceRequest",
        "variableType" : "ListLicenseSpecificationsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListLicenseSpecificationsForResourceRequest",
        "variableSetterType" : "ListLicenseSpecificationsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLicenseSpecificationsForResource",
      "operationName" : "ListLicenseSpecificationsForResource",
      "returnType" : {
        "returnType" : "ListLicenseSpecificationsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLicenseSpecificationsForResourceResult"
    },
    "ListResourceInventory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceInventoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceInventoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceInventoryRequest, ListResourceInventoryResult>",
      "asyncReturnType" : "ListResourceInventoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists resources managed using Systems Manager inventory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FilterLimitExceededException",
        "documentation" : "<p>The request uses too many filters or too many filter values.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>A dependency required to run the API is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceInventoryRequest",
        "variableName" : "listResourceInventoryRequest",
        "variableType" : "ListResourceInventoryRequest",
        "documentation" : "",
        "simpleType" : "ListResourceInventoryRequest",
        "variableSetterType" : "ListResourceInventoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceInventory",
      "operationName" : "ListResourceInventory",
      "returnType" : {
        "returnType" : "ListResourceInventoryResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourceInventoryResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified license configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListUsageForLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsageForLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsageForLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsageForLicenseConfigurationRequest, ListUsageForLicenseConfigurationResult>",
      "asyncReturnType" : "ListUsageForLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all license usage records for a license configuration, displaying license consumption details by resource at a selected point in time. Use this action to audit the current license consumption for any license inventory and configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FilterLimitExceededException",
        "documentation" : "<p>The request uses too many filters or too many filter values.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsageForLicenseConfigurationRequest",
        "variableName" : "listUsageForLicenseConfigurationRequest",
        "variableType" : "ListUsageForLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "ListUsageForLicenseConfigurationRequest",
        "variableSetterType" : "ListUsageForLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsageForLicenseConfiguration",
      "operationName" : "ListUsageForLicenseConfiguration",
      "returnType" : {
        "returnType" : "ListUsageForLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsageForLicenseConfigurationResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified license configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified license configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLicenseConfigurationRequest, UpdateLicenseConfigurationResult>",
      "asyncReturnType" : "UpdateLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the attributes of an existing license configuration.</p> <p>A license configuration is an abstraction of a customer license agreement that can be consumed and enforced by License Manager. Components include specifications for the license type (licensing by instance, socket, CPU, or vCPU), allowed tenancy (shared tenancy, Dedicated Instance, Dedicated Host, or all of these), host affinity (how long a VM must be associated with a host), and the number of licenses purchased and used.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLicenseConfigurationRequest",
        "variableName" : "updateLicenseConfigurationRequest",
        "variableType" : "UpdateLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateLicenseConfigurationRequest",
        "variableSetterType" : "UpdateLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLicenseConfiguration",
      "operationName" : "UpdateLicenseConfiguration",
      "returnType" : {
        "returnType" : "UpdateLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLicenseConfigurationResult"
    },
    "UpdateLicenseSpecificationsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLicenseSpecificationsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLicenseSpecificationsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLicenseSpecificationsForResourceRequest, UpdateLicenseSpecificationsForResourceResult>",
      "asyncReturnType" : "UpdateLicenseSpecificationsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or removes the specified license configurations for the specified AWS resource.</p> <p>You can update the license specifications of AMIs, instances, and hosts. You cannot update the license specifications for launch templates and AWS CloudFormation templates, as they send license configurations to the operation that creates the resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>License Manager cannot allocate a license to a resource because of its state. </p> <p>For example, you cannot allocate a license to an instance in the process of shutting down.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LicenseUsageException",
        "documentation" : "<p>You do not have enough licenses available to support a new resource launch.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLicenseSpecificationsForResourceRequest",
        "variableName" : "updateLicenseSpecificationsForResourceRequest",
        "variableType" : "UpdateLicenseSpecificationsForResourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateLicenseSpecificationsForResourceRequest",
        "variableSetterType" : "UpdateLicenseSpecificationsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLicenseSpecificationsForResource",
      "operationName" : "UpdateLicenseSpecificationsForResource",
      "returnType" : {
        "returnType" : "UpdateLicenseSpecificationsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLicenseSpecificationsForResourceResult"
    },
    "UpdateServiceSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceSettingsRequest, UpdateServiceSettingsResult>",
      "asyncReturnType" : "UpdateServiceSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates License Manager settings for the current Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServiceSettingsRequest",
        "variableName" : "updateServiceSettingsRequest",
        "variableType" : "UpdateServiceSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateServiceSettingsRequest",
        "variableSetterType" : "UpdateServiceSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServiceSettings",
      "operationName" : "UpdateServiceSettings",
      "returnType" : {
        "returnType" : "UpdateServiceSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServiceSettingsResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access to resource denied.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AuthorizationException" : {
      "c2jName" : "AuthorizationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
      "enums" : null,
      "errorCode" : "AuthorizationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AuthorizationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthorizationException",
        "variableName" : "authorizationException",
        "variableType" : "AuthorizationException",
        "documentation" : null,
        "simpleType" : "AuthorizationException",
        "variableSetterType" : "AuthorizationException"
      },
      "wrapper" : false
    },
    "AutomatedDiscoveryInformation" : {
      "c2jName" : "AutomatedDiscoveryInformation",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes automated discovery.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "LastRunTime",
        "c2jShape" : "DateTime",
        "deprecated" : false,
        "documentation" : "<p>Time that automated discovery last ran.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Time that automated discovery last ran.</p>\n@param lastRunTime Time that automated discovery last ran.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastRunTime",
        "getterDocumentation" : "/**<p>Time that automated discovery last ran.</p>\n@return Time that automated discovery last ran.*/",
        "getterMethodName" : "getLastRunTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastRunTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastRunTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastRunTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Time that automated discovery last ran.</p>\n@param lastRunTime Time that automated discovery last ran.*/",
        "setterMethodName" : "setLastRunTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastRunTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Time that automated discovery last ran.</p>\n@param lastRunTime Time that automated discovery last ran.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastRunTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Time that automated discovery last ran.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LastRunTime" : {
          "c2jName" : "LastRunTime",
          "c2jShape" : "DateTime",
          "deprecated" : false,
          "documentation" : "<p>Time that automated discovery last ran.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Time that automated discovery last ran.</p>\n@param lastRunTime Time that automated discovery last ran.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastRunTime",
          "getterDocumentation" : "/**<p>Time that automated discovery last ran.</p>\n@return Time that automated discovery last ran.*/",
          "getterMethodName" : "getLastRunTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LastRunTime",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LastRunTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LastRunTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Time that automated discovery last ran.</p>\n@param lastRunTime Time that automated discovery last ran.*/",
          "setterMethodName" : "setLastRunTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastRunTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Time that automated discovery last ran.</p>\n@param lastRunTime Time that automated discovery last ran.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastRunTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p>Time that automated discovery last ran.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AutomatedDiscoveryInformation",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AutomatedDiscoveryInformation",
        "variableName" : "automatedDiscoveryInformation",
        "variableType" : "AutomatedDiscoveryInformation",
        "documentation" : null,
        "simpleType" : "AutomatedDiscoveryInformation",
        "variableSetterType" : "AutomatedDiscoveryInformation"
      },
      "wrapper" : false
    },
    "ConsumedLicenseSummary" : {
      "c2jName" : "ConsumedLicenseSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Details about license consumption.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ResourceType",
        "c2jShape" : "ResourceType",
        "deprecated" : false,
        "documentation" : "<p>Resource type of the resource consuming a license.</p>",
        "enumType" : "ResourceType",
        "fluentSetterDocumentation" : "/**<p>Resource type of the resource consuming a license.</p>\n@param resourceType Resource type of the resource consuming a license.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ResourceType*/",
        "fluentSetterMethodName" : "withResourceType",
        "getterDocumentation" : "/**<p>Resource type of the resource consuming a license.</p>\n@return Resource type of the resource consuming a license.\n@see ResourceType*/",
        "getterMethodName" : "getResourceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Resource type of the resource consuming a license.</p>\n@param resourceType Resource type of the resource consuming a license.\n@see ResourceType*/",
        "setterMethodName" : "setResourceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Resource type of the resource consuming a license.</p>\n@param resourceType Resource type of the resource consuming a license.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ResourceType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "<p>Resource type of the resource consuming a license.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConsumedLicenses",
        "c2jShape" : "BoxLong",
        "deprecated" : false,
        "documentation" : "<p>Number of licenses consumed by the resource.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Number of licenses consumed by the resource.</p>\n@param consumedLicenses Number of licenses consumed by the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConsumedLicenses",
        "getterDocumentation" : "/**<p>Number of licenses consumed by the resource.</p>\n@return Number of licenses consumed by the resource.*/",
        "getterMethodName" : "getConsumedLicenses",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConsumedLicenses",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConsumedLicenses",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ConsumedLicenses",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Number of licenses consumed by the resource.</p>\n@param consumedLicenses Number of licenses consumed by the resource.*/",
        "setterMethodName" : "setConsumedLicenses",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "consumedLicenses",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Number of licenses consumed by the resource.</p>\n@param consumedLicenses Number of licenses consumed by the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "consumedLicenses",
          "variableType" : "Long",
          "documentation" : "<p>Number of licenses consumed by the resource.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConsumedLicenses" : {
          "c2jName" : "ConsumedLicenses",
          "c2jShape" : "BoxLong",
          "deprecated" : false,
          "documentation" : "<p>Number of licenses consumed by the resource.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Number of licenses consumed by the resource.</p>\n@param consumedLicenses Number of licenses consumed by the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConsumedLicenses",
          "getterDocumentation" : "/**<p>Number of licenses consumed by the resource.</p>\n@return Number of licenses consumed by the resource.*/",
          "getterMethodName" : "getConsumedLicenses",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ConsumedLicenses",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConsumedLicenses",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ConsumedLicenses",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Number of licenses consumed by the resource.</p>\n@param consumedLicenses Number of licenses consumed by the resource.*/",
          "setterMethodName" : "setConsumedLicenses",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "consumedLicenses",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Number of licenses consumed by the resource.</p>\n@param consumedLicenses Number of licenses consumed by the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "consumedLicenses",
            "variableType" : "Long",
            "documentation" : "<p>Number of licenses consumed by the resource.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceType" : {
          "c2jName" : "ResourceType",
          "c2jShape" : "ResourceType",
          "deprecated" : false,
          "documentation" : "<p>Resource type of the resource consuming a license.</p>",
          "enumType" : "ResourceType",
          "fluentSetterDocumentation" : "/**<p>Resource type of the resource consuming a license.</p>\n@param resourceType Resource type of the resource consuming a license.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ResourceType*/",
          "fluentSetterMethodName" : "withResourceType",
          "getterDocumentation" : "/**<p>Resource type of the resource consuming a license.</p>\n@return Resource type of the resource consuming a license.\n@see ResourceType*/",
          "getterMethodName" : "getResourceType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Resource type of the resource consuming a license.</p>\n@param resourceType Resource type of the resource consuming a license.\n@see ResourceType*/",
          "setterMethodName" : "setResourceType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Resource type of the resource consuming a license.</p>\n@param resourceType Resource type of the resource consuming a license.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ResourceType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "<p>Resource type of the resource consuming a license.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConsumedLicenseSummary",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConsumedLicenseSummary",
        "variableName" : "consumedLicenseSummary",
        "variableType" : "ConsumedLicenseSummary",
        "documentation" : null,
        "simpleType" : "ConsumedLicenseSummary",
        "variableSetterType" : "ConsumedLicenseSummary"
      },
      "wrapper" : false
    },
    "CreateLicenseConfigurationRequest" : {
      "c2jName" : "CreateLicenseConfigurationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateLicenseConfiguration",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSLicenseManager.CreateLicenseConfiguration",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Name of the license configuration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the license configuration.</p>\n@param name Name of the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>Name of the license configuration.</p>\n@return Name of the license configuration.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Name of the license configuration.</p>\n@param name Name of the license configuration.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Name of the license configuration.</p>\n@param name Name of the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>Name of the license configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Description of the license configuration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Description of the license configuration.</p>\n@param description Description of the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>Description of the license configuration.</p>\n@return Description of the license configuration.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Description of the license configuration.</p>\n@param description Description of the license configuration.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Description of the license configuration.</p>\n@param description Description of the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>Description of the license configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LicenseCountingType",
        "c2jShape" : "LicenseCountingType",
        "deprecated" : false,
        "documentation" : "<p>Dimension used to track the license inventory.</p>",
        "enumType" : "LicenseCountingType",
        "fluentSetterDocumentation" : "/**<p>Dimension used to track the license inventory.</p>\n@param licenseCountingType Dimension used to track the license inventory.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LicenseCountingType*/",
        "fluentSetterMethodName" : "withLicenseCountingType",
        "getterDocumentation" : "/**<p>Dimension used to track the license inventory.</p>\n@return Dimension used to track the license inventory.\n@see LicenseCountingType*/",
        "getterMethodName" : "getLicenseCountingType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LicenseCountingType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LicenseCountingType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LicenseCountingType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Dimension used to track the license inventory.</p>\n@param licenseCountingType Dimension used to track the license inventory.\n@see LicenseCountingType*/",
        "setterMethodName" : "setLicenseCountingType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "licenseCountingType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Dimension used to track the license inventory.</p>\n@param licenseCountingType Dimension used to track the license inventory.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LicenseCountingType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "licenseCountingType",
          "variableType" : "String",
          "documentation" : "<p>Dimension used to track the license inventory.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LicenseCount",
        "c2jShape" : "BoxLong",
        "deprecated" : false,
        "documentation" : "<p>Number of licenses managed by the license configuration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@param licenseCount Number of licenses managed by the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLicenseCount",
        "getterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@return Number of licenses managed by the license configuration.*/",
        "getterMethodName" : "getLicenseCount",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LicenseCount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LicenseCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "LicenseCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@param licenseCount Number of licenses managed by the license configuration.*/",
        "setterMethodName" : "setLicenseCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "licenseCount",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@param licenseCount Number of licenses managed by the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "licenseCount",
          "variableType" : "Long",
          "documentation" : "<p>Number of licenses managed by the license configuration.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LicenseCountHardLimit",
        "c2jShape" : "BoxBoolean",
        "deprecated" : false,
        "documentation" : "<p>Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.</p>\n@param licenseCountHardLimit Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLicenseCountHardLimit",
        "getterDocumentation" : "/**<p>Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.</p>\n@return Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.*/",
        "getterMethodName" : "getLicenseCountHardLimit",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LicenseCountHardLimit",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LicenseCountHardLimit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "LicenseCountHardLimit",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.</p>\n@param licenseCountHardLimit Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.*/",
        "setterMethodName" : "setLicenseCountHardLimit",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "licenseCountHardLimit",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.</p>\n@param licenseCountHardLimit Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "licenseCountHardLimit",
          "variableType" : "Boolean",
          "documentation" : "<p>Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LicenseRules",
        "c2jShape" : "StringList",
        "deprecated" : false,
        "documentation" : "<p>License rules. The syntax is #name=value (for example, #allowedTenancy=EC2-DedicatedHost). Available rules vary by dimension.</p> <ul> <li> <p> <code>Cores</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> </p> </li> <li> <p> <code>Instances</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> | <code>maximumSockets</code> | <code>minimumSockets</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> <li> <p> <code>Sockets</code> dimension: <code>allowedTenancy</code> | <code>maximumSockets</code> | <code>minimumSockets</code> </p> </li> <li> <p> <code>vCPUs</code> dimension: <code>allowedTenancy</code> | <code>honorVcpuOptimization</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> </ul>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>License rules. The syntax is #name=value (for example, #allowedTenancy=EC2-DedicatedHost). Available rules vary by dimension.</p> <ul> <li> <p> <code>Cores</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> </p> </li> <li> <p> <code>Instances</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> | <code>maximumSockets</code> | <code>minimumSockets</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> <li> <p> <code>Sockets</code> dimension: <code>allowedTenancy</code> | <code>maximumSockets</code> | <code>minimumSockets</code> </p> </li> <li> <p> <code>vCPUs</code> dimension: <code>allowedTenancy</code> | <code>honorVcpuOptimization</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> </ul>\n@param licenseRules License rules. The syntax is #name=value (for example, #allowedTenancy=EC2-DedicatedHost). Available rules vary by dimension.</p> <ul> <li> <p> <code>Cores</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> </p> </li> <li> <p> <code>Instances</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> | <code>maximumSockets</code> | <code>minimumSockets</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> <li> <p> <code>Sockets</code> dimension: <code>allowedTenancy</code> | <code>maximumSockets</code> | <code>minimumSockets</code> </p> </li> <li> <p> <code>vCPUs</code> dimension: <code>allowedTenancy</code> | <code>honorVcpuOptimization</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLicenseRules",
        "getterDocumentation" : "/**<p>License rules. The syntax is #name=value (for example, #allowedTenancy=EC2-DedicatedHost). Available rules vary by dimension.</p> <ul> <li> <p> <code>Cores</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> </p> </li> <li> <p> <code>Instances</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> | <code>maximumSockets</code> | <code>minimumSockets</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> <li> <p> <code>Sockets</code> dimension: <code>allowedTenancy</code> | <code>maximumSockets</code> | <code>minimumSockets</code> </p> </li> <li> <p> <code>vCPUs</code> dimension: <code>allowedTenancy</code> | <code>honorVcpuOptimization</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> </ul>\n@return License rules. The syntax is #name=value (for example, #allowedTenancy=EC2-DedicatedHost). Available rules vary by dimension.</p> <ul> <li> <p> <code>Cores</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> </p> </li> <li> <p> <code>Instances</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> | <code>maximumSockets</code> | <code>minimumSockets</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> <li> <p> <code>Sockets</code> dimension: <code>allowedTenancy</code> | <code>maximumSockets</code> | <code>minimumSockets</code> </p> </li> <li> <p> <code>vCPUs</code> dimension: <code>allowedTenancy</code> | <code>honorVcpuOptimization</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li>*/",
        "getterMethodName" : "getLicenseRules",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LicenseRules",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LicenseRules",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "LicenseRules",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>License rules. The syntax is #name=value (for example, #allowedTenancy=EC2-DedicatedHost). Available rules vary by dimension.</p> <ul> <li> <p> <code>Cores</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> </p> </li> <li> <p> <code>Instances</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> | <code>maximumSockets</code> | <code>minimumSockets</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> <li> <p> <code>Sockets</code> dimension: <code>allowedTenancy</code> | <code>maximumSockets</code> | <code>minimumSockets</code> </p> </li> <li> <p> <code>vCPUs</code> dimension: <code>allowedTenancy</code> | <code>honorVcpuOptimization</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> </ul>\n@param licenseRules License rules. The syntax is #name=value (for example, #allowedTenancy=EC2-DedicatedHost). Available rules vary by dimension.</p> <ul> <li> <p> <code>Cores</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> </p> </li> <li> <p> <code>Instances</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> | <code>maximumSockets</code> | <code>minimumSockets</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> <li> <p> <code>Sockets</code> dimension: <code>allowedTenancy</code> | <code>maximumSockets</code> | <code>minimumSockets</code> </p> </li> <li> <p> <code>vCPUs</code> dimension: <code>allowedTenancy</code> | <code>honorVcpuOptimization</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li>*/",
        "setterMethodName" : "setLicenseRules",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "licenseRules",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
[...]
