{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-08-01",
    "asyncClient" : "AWSLicenseManagerAsyncClient",
    "asyncClientBuilderClassName" : "AWSLicenseManagerAsyncClientBuilder",
    "asyncInterface" : "AWSLicenseManagerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSLicenseManagerModuleInjector",
    "defaultEndpoint" : "license-manager.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "license-manager.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname> AWS License Manager </fullname> <p> <i>This is the AWS License Manager API Reference.</i> It provides descriptions, syntax, and usage examples for each of the actions and data types for License Manager. The topic for each action shows the Query API request parameters and the XML response. You can also view the XML request elements in the WSDL. </p> <p> Alternatively, you can use one of the AWS SDKs to access an API that's tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>. </p>",
    "endpointPrefix" : "license-manager",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.licensemanager",
    "packagePath" : "com/amazonaws/services/licensemanager",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS License Manager",
    "serviceId" : "License Manager",
    "serviceName" : "AWS License Manager",
    "signingName" : "license-manager",
    "smokeTestsPackageName" : "com.amazonaws.services.licensemanager.smoketests",
    "syncClient" : "AWSLicenseManagerClient",
    "syncClientBuilderClassName" : "AWSLicenseManagerClientBuilder",
    "syncInterface" : "AWSLicenseManager",
    "uid" : "license-manager-2018-08-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLicenseConfigurationRequest, CreateLicenseConfigurationResult>",
      "asyncReturnType" : "CreateLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new license configuration object. A license configuration is an abstraction of a customer license agreement that can be consumed and enforced by License Manager. Components include specifications for the license type (licensing by instance, socket, CPU, or VCPU), tenancy (shared tenancy, Amazon EC2 Dedicated Instance, Amazon EC2 Dedicated Host, or any of these), host affinity (how long a VM must be associated with a host), the number of licenses purchased and used.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLicenseConfigurationRequest",
        "variableName" : "createLicenseConfigurationRequest",
        "variableType" : "CreateLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateLicenseConfigurationRequest",
        "variableSetterType" : "CreateLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLicenseConfiguration",
      "operationName" : "CreateLicenseConfiguration",
      "returnType" : {
        "returnType" : "CreateLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLicenseConfigurationResult"
    },
    "DeleteLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLicenseConfigurationRequest, DeleteLicenseConfigurationResult>",
      "asyncReturnType" : "DeleteLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing license configuration. This action fails if the configuration is in use.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLicenseConfigurationRequest",
        "variableName" : "deleteLicenseConfigurationRequest",
        "variableType" : "DeleteLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteLicenseConfigurationRequest",
        "variableSetterType" : "DeleteLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLicenseConfiguration",
      "operationName" : "DeleteLicenseConfiguration",
      "returnType" : {
        "returnType" : "DeleteLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLicenseConfigurationResult"
    },
    "GetLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLicenseConfigurationRequest, GetLicenseConfigurationResult>",
      "asyncReturnType" : "GetLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a detailed description of a license configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLicenseConfigurationRequest",
        "variableName" : "getLicenseConfigurationRequest",
        "variableType" : "GetLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetLicenseConfigurationRequest",
        "variableSetterType" : "GetLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLicenseConfiguration",
      "operationName" : "GetLicenseConfiguration",
      "returnType" : {
        "returnType" : "GetLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLicenseConfigurationResult"
    },
    "GetServiceSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceSettingsRequest, GetServiceSettingsResult>",
      "asyncReturnType" : "GetServiceSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets License Manager settings for a region. Exposes the configured S3 bucket, SNS topic, etc., for inspection. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceSettingsRequest",
        "variableName" : "getServiceSettingsRequest",
        "variableType" : "GetServiceSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetServiceSettingsRequest",
        "variableSetterType" : "GetServiceSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceSettings",
      "operationName" : "GetServiceSettings",
      "returnType" : {
        "returnType" : "GetServiceSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceSettingsResult"
    },
    "ListAssociationsForLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociationsForLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociationsForLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociationsForLicenseConfigurationRequest, ListAssociationsForLicenseConfigurationResult>",
      "asyncReturnType" : "ListAssociationsForLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resource associations for a license configuration. Resource associations need not consume licenses from a license configuration. For example, an AMI or a stopped instance may not consume a license (depending on the license rules). Use this operation to find all resources associated with a license configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FilterLimitExceededException",
        "documentation" : "<p>The request uses too many filters or too many filter values.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssociationsForLicenseConfigurationRequest",
        "variableName" : "listAssociationsForLicenseConfigurationRequest",
        "variableType" : "ListAssociationsForLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "ListAssociationsForLicenseConfigurationRequest",
        "variableSetterType" : "ListAssociationsForLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociationsForLicenseConfiguration",
      "operationName" : "ListAssociationsForLicenseConfiguration",
      "returnType" : {
        "returnType" : "ListAssociationsForLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssociationsForLicenseConfigurationResult"
    },
    "ListLicenseConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLicenseConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLicenseConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLicenseConfigurationsRequest, ListLicenseConfigurationsResult>",
      "asyncReturnType" : "ListLicenseConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists license configuration objects for an account, each containing the name, description, license type, and other license terms modeled from a license agreement.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FilterLimitExceededException",
        "documentation" : "<p>The request uses too many filters or too many filter values.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLicenseConfigurationsRequest",
        "variableName" : "listLicenseConfigurationsRequest",
        "variableType" : "ListLicenseConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListLicenseConfigurationsRequest",
        "variableSetterType" : "ListLicenseConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLicenseConfigurations",
      "operationName" : "ListLicenseConfigurations",
      "returnType" : {
        "returnType" : "ListLicenseConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLicenseConfigurationsResult"
    },
    "ListLicenseSpecificationsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLicenseSpecificationsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLicenseSpecificationsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLicenseSpecificationsForResourceRequest, ListLicenseSpecificationsForResourceResult>",
      "asyncReturnType" : "ListLicenseSpecificationsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the license configuration for a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLicenseSpecificationsForResourceRequest",
        "variableName" : "listLicenseSpecificationsForResourceRequest",
        "variableType" : "ListLicenseSpecificationsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListLicenseSpecificationsForResourceRequest",
        "variableSetterType" : "ListLicenseSpecificationsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLicenseSpecificationsForResource",
      "operationName" : "ListLicenseSpecificationsForResource",
      "returnType" : {
        "returnType" : "ListLicenseSpecificationsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLicenseSpecificationsForResourceResult"
    },
    "ListResourceInventory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceInventoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceInventoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceInventoryRequest, ListResourceInventoryResult>",
      "asyncReturnType" : "ListResourceInventoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a detailed list of resources.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FilterLimitExceededException",
        "documentation" : "<p>The request uses too many filters or too many filter values.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>A dependency required to run the API is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceInventoryRequest",
        "variableName" : "listResourceInventoryRequest",
        "variableType" : "ListResourceInventoryRequest",
        "documentation" : "",
        "simpleType" : "ListResourceInventoryRequest",
        "variableSetterType" : "ListResourceInventoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceInventory",
      "operationName" : "ListResourceInventory",
      "returnType" : {
        "returnType" : "ListResourceInventoryResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourceInventoryResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists tags attached to a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListUsageForLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsageForLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsageForLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsageForLicenseConfigurationRequest, ListUsageForLicenseConfigurationResult>",
      "asyncReturnType" : "ListUsageForLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all license usage records for a license configuration, displaying license consumption details by resource at a selected point in time. Use this action to audit the current license consumption for any license inventory and configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FilterLimitExceededException",
        "documentation" : "<p>The request uses too many filters or too many filter values.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsageForLicenseConfigurationRequest",
        "variableName" : "listUsageForLicenseConfigurationRequest",
        "variableType" : "ListUsageForLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "ListUsageForLicenseConfigurationRequest",
        "variableSetterType" : "ListUsageForLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsageForLicenseConfiguration",
      "operationName" : "ListUsageForLicenseConfiguration",
      "returnType" : {
        "returnType" : "ListUsageForLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsageForLicenseConfigurationResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attach one of more tags to any resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove tags from a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLicenseConfigurationRequest, UpdateLicenseConfigurationResult>",
      "asyncReturnType" : "UpdateLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the attributes of an existing license configuration object. A license configuration is an abstraction of a customer license agreement that can be consumed and enforced by License Manager. Components include specifications for the license type (Instances, cores, sockets, VCPUs), tenancy (shared or Dedicated Host), host affinity (how long a VM is associated with a host), the number of licenses purchased and used.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLicenseConfigurationRequest",
        "variableName" : "updateLicenseConfigurationRequest",
        "variableType" : "UpdateLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateLicenseConfigurationRequest",
        "variableSetterType" : "UpdateLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLicenseConfiguration",
      "operationName" : "UpdateLicenseConfiguration",
      "returnType" : {
        "returnType" : "UpdateLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLicenseConfigurationResult"
    },
    "UpdateLicenseSpecificationsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLicenseSpecificationsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLicenseSpecificationsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLicenseSpecificationsForResourceRequest, UpdateLicenseSpecificationsForResourceResult>",
      "asyncReturnType" : "UpdateLicenseSpecificationsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or removes license configurations for a specified AWS resource. This operation currently supports updating the license specifications of AMIs, instances, and hosts. Launch templates and AWS CloudFormation templates are not managed from this operation as those resources send the license configurations directly to a resource creation operation, such as <code>RunInstances</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>License Manager cannot allocate a license to a resource because of its state. </p> <p>For example, you cannot allocate a license to an instance in the process of shutting down.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LicenseUsageException",
        "documentation" : "<p>You do not have enough licenses available to support a new resource launch.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLicenseSpecificationsForResourceRequest",
        "variableName" : "updateLicenseSpecificationsForResourceRequest",
        "variableType" : "UpdateLicenseSpecificationsForResourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateLicenseSpecificationsForResourceRequest",
        "variableSetterType" : "UpdateLicenseSpecificationsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLicenseSpecificationsForResource",
      "operationName" : "UpdateLicenseSpecificationsForResource",
      "returnType" : {
        "returnType" : "UpdateLicenseSpecificationsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLicenseSpecificationsForResourceResult"
    },
    "UpdateServiceSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceSettingsRequest, UpdateServiceSettingsResult>",
      "asyncReturnType" : "UpdateServiceSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates License Manager service settings.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServiceSettingsRequest",
        "variableName" : "updateServiceSettingsRequest",
        "variableType" : "UpdateServiceSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateServiceSettingsRequest",
        "variableSetterType" : "UpdateServiceSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServiceSettings",
      "operationName" : "UpdateServiceSettings",
      "returnType" : {
        "returnType" : "UpdateServiceSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServiceSettingsResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access to resource denied.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AuthorizationException" : {
      "c2jName" : "AuthorizationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
      "enums" : null,
      "errorCode" : "AuthorizationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AuthorizationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthorizationException",
        "variableName" : "authorizationException",
        "variableType" : "AuthorizationException",
        "documentation" : null,
        "simpleType" : "AuthorizationException",
        "variableSetterType" : "AuthorizationException"
      },
      "wrapper" : false
    },
    "ConsumedLicenseSummary" : {
      "c2jName" : "ConsumedLicenseSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Details about license consumption.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ResourceType",
        "c2jShape" : "ResourceType",
        "deprecated" : false,
        "documentation" : "<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>",
        "enumType" : "ResourceType",
        "fluentSetterDocumentation" : "/**<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>\n@param resourceType Resource type of the resource consuming a license (instance, host, or AMI).\n@return Returns a reference to this object so that method calls can be chained together.\n@see ResourceType*/",
        "fluentSetterMethodName" : "withResourceType",
        "getterDocumentation" : "/**<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>\n@return Resource type of the resource consuming a license (instance, host, or AMI).\n@see ResourceType*/",
        "getterMethodName" : "getResourceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>\n@param resourceType Resource type of the resource consuming a license (instance, host, or AMI).\n@see ResourceType*/",
        "setterMethodName" : "setResourceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>\n@param resourceType Resource type of the resource consuming a license (instance, host, or AMI).\n@return Returns a reference to this object so that method calls can be chained together.\n@see ResourceType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConsumedLicenses",
        "c2jShape" : "BoxLong",
        "deprecated" : false,
        "documentation" : "<p>Number of licenses consumed by a resource.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Number of licenses consumed by a resource.</p>\n@param consumedLicenses Number of licenses consumed by a resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConsumedLicenses",
        "getterDocumentation" : "/**<p>Number of licenses consumed by a resource.</p>\n@return Number of licenses consumed by a resource.*/",
        "getterMethodName" : "getConsumedLicenses",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConsumedLicenses",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConsumedLicenses",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ConsumedLicenses",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Number of licenses consumed by a resource.</p>\n@param consumedLicenses Number of licenses consumed by a resource.*/",
        "setterMethodName" : "setConsumedLicenses",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "consumedLicenses",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Number of licenses consumed by a resource.</p>\n@param consumedLicenses Number of licenses consumed by a resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "consumedLicenses",
          "variableType" : "Long",
          "documentation" : "<p>Number of licenses consumed by a resource.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConsumedLicenses" : {
          "c2jName" : "ConsumedLicenses",
          "c2jShape" : "BoxLong",
          "deprecated" : false,
          "documentation" : "<p>Number of licenses consumed by a resource.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Number of licenses consumed by a resource.</p>\n@param consumedLicenses Number of licenses consumed by a resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConsumedLicenses",
          "getterDocumentation" : "/**<p>Number of licenses consumed by a resource.</p>\n@return Number of licenses consumed by a resource.*/",
          "getterMethodName" : "getConsumedLicenses",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ConsumedLicenses",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConsumedLicenses",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ConsumedLicenses",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Number of licenses consumed by a resource.</p>\n@param consumedLicenses Number of licenses consumed by a resource.*/",
          "setterMethodName" : "setConsumedLicenses",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "consumedLicenses",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Number of licenses consumed by a resource.</p>\n@param consumedLicenses Number of licenses consumed by a resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "consumedLicenses",
            "variableType" : "Long",
            "documentation" : "<p>Number of licenses consumed by a resource.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceType" : {
          "c2jName" : "ResourceType",
          "c2jShape" : "ResourceType",
          "deprecated" : false,
          "documentation" : "<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>",
          "enumType" : "ResourceType",
          "fluentSetterDocumentation" : "/**<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>\n@param resourceType Resource type of the resource consuming a license (instance, host, or AMI).\n@return Returns a reference to this object so that method calls can be chained together.\n@see ResourceType*/",
          "fluentSetterMethodName" : "withResourceType",
          "getterDocumentation" : "/**<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>\n@return Resource type of the resource consuming a license (instance, host, or AMI).\n@see ResourceType*/",
          "getterMethodName" : "getResourceType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>\n@param resourceType Resource type of the resource consuming a license (instance, host, or AMI).\n@see ResourceType*/",
          "setterMethodName" : "setResourceType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>\n@param resourceType Resource type of the resource consuming a license (instance, host, or AMI).\n@return Returns a reference to this object so that method calls can be chained together.\n@see ResourceType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "<p>Resource type of the resource consuming a license (instance, host, or AMI).</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConsumedLicenseSummary",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConsumedLicenseSummary",
        "variableName" : "consumedLicenseSummary",
        "variableType" : "ConsumedLicenseSummary",
        "documentation" : null,
        "simpleType" : "ConsumedLicenseSummary",
        "variableSetterType" : "ConsumedLicenseSummary"
      },
      "wrapper" : false
    },
    "CreateLicenseConfigurationRequest" : {
      "c2jName" : "CreateLicenseConfigurationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateLicenseConfiguration",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSLicenseManager.CreateLicenseConfiguration",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Name of the license configuration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the license configuration.</p>\n@param name Name of the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>Name of the license configuration.</p>\n@return Name of the license configuration.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Name of the license configuration.</p>\n@param name Name of the license configuration.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Name of the license configuration.</p>\n@param name Name of the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>Name of the license configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Human-friendly description of the license configuration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Human-friendly description of the license configuration.</p>\n@param description Human-friendly description of the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>Human-friendly description of the license configuration.</p>\n@return Human-friendly description of the license configuration.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Human-friendly description of the license configuration.</p>\n@param description Human-friendly description of the license configuration.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Human-friendly description of the license configuration.</p>\n@param description Human-friendly description of the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>Human-friendly description of the license configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LicenseCountingType",
        "c2jShape" : "LicenseCountingType",
        "deprecated" : false,
        "documentation" : "<p>Dimension to use to track the license inventory.</p>",
        "enumType" : "LicenseCountingType",
        "fluentSetterDocumentation" : "/**<p>Dimension to use to track the license inventory.</p>\n@param licenseCountingType Dimension to use to track the license inventory.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LicenseCountingType*/",
        "fluentSetterMethodName" : "withLicenseCountingType",
        "getterDocumentation" : "/**<p>Dimension to use to track the license inventory.</p>\n@return Dimension to use to track the license inventory.\n@see LicenseCountingType*/",
        "getterMethodName" : "getLicenseCountingType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LicenseCountingType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LicenseCountingType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LicenseCountingType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Dimension to use to track the license inventory.</p>\n@param licenseCountingType Dimension to use to track the license inventory.\n@see LicenseCountingType*/",
        "setterMethodName" : "setLicenseCountingType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "licenseCountingType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Dimension to use to track the license inventory.</p>\n@param licenseCountingType Dimension to use to track the license inventory.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LicenseCountingType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "licenseCountingType",
          "variableType" : "String",
          "documentation" : "<p>Dimension to use to track the license inventory.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LicenseCount",
        "c2jShape" : "BoxLong",
        "deprecated" : false,
        "documentation" : "<p>Number of licenses managed by the license configuration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@param licenseCount Number of licenses managed by the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLicenseCount",
        "getterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@return Number of licenses managed by the license configuration.*/",
        "getterMethodName" : "getLicenseCount",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LicenseCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LicenseCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "LicenseCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@param licenseCount Number of licenses managed by the license configuration.*/",
        "setterMethodName" : "setLicenseCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "licenseCount",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@param licenseCount Number of licenses managed by the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "licenseCount",
          "variableType" : "Long",
          "documentation" : "<p>Number of licenses managed by the license configuration.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LicenseCountHardLimit",
        "c2jShape" : "BoxBoolean",
        "deprecated" : false,
        "documentation" : "<p>Flag indicating whether hard or soft license enforcement is used. Exceeding a hard limit results in the blocked deployment of new instances.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Flag indicating whether hard or soft license enforcement is used. Exceeding a hard limit results in the blocked deployment of new instances.</p>\n@param licenseCountHardLimit Flag indicating whether hard or soft license enforcement is used. Exceeding a hard limit results in the blocked deployment of new instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLicenseCountHardLimit",
        "getterDocumentation" : "/**<p>Flag indicating whether hard or soft license enforcement is used. Exceeding a hard limit results in the blocked deployment of new instances.</p>\n@return Flag indicating whether hard or soft license enforcement is used. Exceeding a hard limit results in the blocked deployment of new instances.*/",
        "getterMethodName" : "getLicenseCountHardLimit",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LicenseCountHardLimit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LicenseCountHardLimit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "LicenseCountHardLimit",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Flag indicating whether hard or soft license enforcement is used. Exceeding a hard limit results in the blocked deployment of new instances.</p>\n@param licenseCountHardLimit Flag indicating whether hard or soft license enforcement is used. Exceeding a hard limit results in the blocked deployment of new instances.*/",
        "setterMethodName" : "setLicenseCountHardLimit",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "licenseCountHardLimit",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Flag indicating whether hard or soft license enforcement is used. Exceeding a hard limit results in the blocked deployment of new instances.</p>\n@param licenseCountHardLimit Flag indicating whether hard or soft license enforcement is used. Exceeding a hard limit results in the blocked deployment of new instances.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "licenseCountHardLimit",
          "variableType" : "Boolean",
          "documentation" : "<p>Flag indicating whether hard or soft license enforcement is used. Exceeding a hard limit results in the blocked deployment of new instances.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LicenseRules",
        "c2jShape" : "StringList",
        "deprecated" : false,
        "documentation" : "<p>Array of configured License Manager rules.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Array of configured License Manager rules.</p>\n@param licenseRules Array of configured License Manager rules.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLicenseRules",
        "getterDocumentation" : "/**<p>Array of configured License Manager rules.</p>\n@return Array of configured License Manager rules.*/",
        "getterMethodName" : "getLicenseRules",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LicenseRules",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LicenseRules",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "LicenseRules",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Array of configured License Manager rules.</p>\n@param licenseRules Array of configured License Manager rules.*/",
        "setterMethodName" : "setLicenseRules",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "licenseRules",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Array of configured License Manager rules.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLicenseRules(java.util.Collection)} or {@link #withLicenseRules(java.util.Collection)} if you want to override the existing values.</p>\n@param licenseRules Array of configured License Manager rules.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "licenseRules",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>Array of configured License Manager rules.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The tags to apply to the resources during launch. You can only tag instances and volumes on launch. The specified tags are applied to all instances or volumes that are created during launch. To tag a resource after it has been created, see CreateTags .</p> <p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags to apply to the resources during launch. You can only tag instances and volumes on launch. The specified tags are applied to all instances or volumes that are created during launch. To tag a resource after it has been created, see CreateTags .</p> <p/>\n@param tags The tags to apply to the resources during launch. You can only tag instances and volumes on launch. The specified tags are applied to all instances or volumes that are created during launch. To tag a resource after it has been created, see CreateTags .</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags to apply to the resources during launch. You can only tag instances and volumes on launch. The specified tags are applied to all instances or volumes that are created during launch. To tag a resource after it has been created, see CreateTags .</p> <p/>\n@return The tags to apply to the resources during launch. You can only tag instances and volumes on launch. The specified tags are applied to all instances or volumes that are created during launch. To tag a resource after it has been created, see CreateTags .</p>*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The tags to apply to the resources during launch. You can only tag instances and volumes on launch. The specified tags are applied to all instances or volumes that are created during launch. To tag a resource after it has been created, see CreateTags .</p> <p/>\n@param tags The tags to apply to the resources during launch. You can only tag instances and volumes on launch. The specified tags are applied to all instances or volumes that are created during launch. To tag a resource after it has been created, see CreateTags .</p>*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags to apply to the resources during launch. You can only tag instances and volumes on launch. The specified tags are applied to all instances or volumes that are created during launch. To tag a resource after it has been created, see CreateTags .</p> <p/>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags to apply to the resources during launch. You can only tag instances and volumes on launch. The specified tags are applied to all instances or volumes that are created during launch. To tag a resource after it has been created, see CreateTags .</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The tags to apply to the resources during launch. You can only tag instances and volumes on launch. The specified tags are applied to all instances or volumes that are created during launch. To tag a resource after it has been created, see CreateTags .</p> <p/>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Human-friendly description of the license configuration.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Human-friendly description of the license configuration.</p>\n@param description Human-friendly description of the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>Human-friendly description of the license configuration.</p>\n@return Human-friendly description of the license configuration.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Human-friendly description of the license configuration.</p>\n@param description Human-friendly description of the license configuration.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Human-friendly description of the license configuration.</p>\n@param description Human-friendly description of the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>Human-friendly description of the license configuration.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LicenseCount" : {
          "c2jName" : "LicenseCount",
          "c2jShape" : "BoxLong",
          "deprecated" : false,
          "documentation" : "<p>Number of licenses managed by the license configuration.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@param licenseCount Number of licenses managed by the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLicenseCount",
          "getterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@return Number of licenses managed by the license configuration.*/",
          "getterMethodName" : "getLicenseCount",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LicenseCount",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LicenseCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "LicenseCount",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@param licenseCount Number of licenses managed by the license configuration.*/",
          "setterMethodName" : "setLicenseCount",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "licenseCount",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Number of licenses managed by the license configuration.</p>\n@param licenseCount Number of licenses managed by the license configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "licenseCount",
            "variableType" : "Long",
[...]
