{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSLicenseManagerUserSubscriptionsAsyncClient",
    "asyncClientBuilderClassName" : "AWSLicenseManagerUserSubscriptionsAsyncClientBuilder",
    "asyncInterface" : "AWSLicenseManagerUserSubscriptionsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSLicenseManagerUserSubscriptionsModuleInjector",
    "defaultEndpoint" : "license-manager-user-subscriptions.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "license-manager-user-subscriptions.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>With License Manager, you can create user-based subscriptions to utilize licensed software with a per user subscription fee on Amazon EC2 instances.</p>",
    "endpointPrefix" : "license-manager-user-subscriptions",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.licensemanagerusersubscriptions",
    "packagePath" : "com/amazonaws/services/licensemanagerusersubscriptions",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS License Manager User Subscriptions",
    "serviceId" : "License Manager User Subscriptions",
    "serviceName" : "AWS License Manager User Subscriptions",
    "signingName" : "license-manager-user-subscriptions",
    "smokeTestsPackageName" : "com.amazonaws.services.licensemanagerusersubscriptions.smoketests",
    "syncClient" : "AWSLicenseManagerUserSubscriptionsClient",
    "syncClientBuilderClassName" : "AWSLicenseManagerUserSubscriptionsClientBuilder",
    "syncInterface" : "AWSLicenseManagerUserSubscriptions",
    "uid" : "license-manager-user-subscriptions-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateUserRequest, AssociateUserResult>",
      "asyncReturnType" : "AssociateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the user to an EC2 instance to utilize user-based subscriptions.</p> <note> <p>Your estimated bill for charges on the number of users and related costs will take 48 hours to appear for billing periods that haven't closed (marked as <b>Pending</b> billing status) in Amazon Web Services Billing. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/invoice.html\">Viewing your monthly charges</a> in the <i>Amazon Web Services Billing User Guide</i>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateUserRequest",
        "variableName" : "associateUserRequest",
        "variableType" : "AssociateUserRequest",
        "documentation" : "",
        "simpleType" : "AssociateUserRequest",
        "variableSetterType" : "AssociateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateUser",
      "operationName" : "AssociateUser",
      "returnType" : {
        "returnType" : "AssociateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateUserResult"
    },
    "DeregisterIdentityProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterIdentityProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterIdentityProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterIdentityProviderRequest, DeregisterIdentityProviderResult>",
      "asyncReturnType" : "DeregisterIdentityProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters the identity provider from providing user-based subscriptions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterIdentityProviderRequest",
        "variableName" : "deregisterIdentityProviderRequest",
        "variableType" : "DeregisterIdentityProviderRequest",
        "documentation" : "",
        "simpleType" : "DeregisterIdentityProviderRequest",
        "variableSetterType" : "DeregisterIdentityProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterIdentityProvider",
      "operationName" : "DeregisterIdentityProvider",
      "returnType" : {
        "returnType" : "DeregisterIdentityProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterIdentityProviderResult"
    },
    "DisassociateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateUserRequest, DisassociateUserResult>",
      "asyncReturnType" : "DisassociateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the user from an EC2 instance providing user-based subscriptions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateUserRequest",
        "variableName" : "disassociateUserRequest",
        "variableType" : "DisassociateUserRequest",
        "documentation" : "",
        "simpleType" : "DisassociateUserRequest",
        "variableSetterType" : "DisassociateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateUser",
      "operationName" : "DisassociateUser",
      "returnType" : {
        "returnType" : "DisassociateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateUserResult"
    },
    "ListIdentityProviders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentityProvidersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentityProvidersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentityProvidersRequest, ListIdentityProvidersResult>",
      "asyncReturnType" : "ListIdentityProvidersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the identity providers for user-based subscriptions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIdentityProvidersRequest",
        "variableName" : "listIdentityProvidersRequest",
        "variableType" : "ListIdentityProvidersRequest",
        "documentation" : "",
        "simpleType" : "ListIdentityProvidersRequest",
        "variableSetterType" : "ListIdentityProvidersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdentityProviders",
      "operationName" : "ListIdentityProviders",
      "returnType" : {
        "returnType" : "ListIdentityProvidersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIdentityProvidersResult"
    },
    "ListInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInstancesRequest, ListInstancesResult>",
      "asyncReturnType" : "ListInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the EC2 instances providing user-based subscriptions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInstancesRequest",
        "variableName" : "listInstancesRequest",
        "variableType" : "ListInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListInstancesRequest",
        "variableSetterType" : "ListInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInstances",
      "operationName" : "ListInstances",
      "returnType" : {
        "returnType" : "ListInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInstancesResult"
    },
    "ListProductSubscriptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProductSubscriptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProductSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProductSubscriptionsRequest, ListProductSubscriptionsResult>",
      "asyncReturnType" : "ListProductSubscriptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the user-based subscription products available from an identity provider.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProductSubscriptionsRequest",
        "variableName" : "listProductSubscriptionsRequest",
        "variableType" : "ListProductSubscriptionsRequest",
        "documentation" : "",
        "simpleType" : "ListProductSubscriptionsRequest",
        "variableSetterType" : "ListProductSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProductSubscriptions",
      "operationName" : "ListProductSubscriptions",
      "returnType" : {
        "returnType" : "ListProductSubscriptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProductSubscriptionsResult"
    },
    "ListUserAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUserAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUserAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUserAssociationsRequest, ListUserAssociationsResult>",
      "asyncReturnType" : "ListUserAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists user associations for an identity provider.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUserAssociationsRequest",
        "variableName" : "listUserAssociationsRequest",
        "variableType" : "ListUserAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListUserAssociationsRequest",
        "variableSetterType" : "ListUserAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUserAssociations",
      "operationName" : "ListUserAssociations",
      "returnType" : {
        "returnType" : "ListUserAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUserAssociationsResult"
    },
    "RegisterIdentityProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterIdentityProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterIdentityProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterIdentityProviderRequest, RegisterIdentityProviderResult>",
      "asyncReturnType" : "RegisterIdentityProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers an identity provider for user-based subscriptions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterIdentityProviderRequest",
        "variableName" : "registerIdentityProviderRequest",
        "variableType" : "RegisterIdentityProviderRequest",
        "documentation" : "",
        "simpleType" : "RegisterIdentityProviderRequest",
        "variableSetterType" : "RegisterIdentityProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerIdentityProvider",
      "operationName" : "RegisterIdentityProvider",
      "returnType" : {
        "returnType" : "RegisterIdentityProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterIdentityProviderResult"
    },
    "StartProductSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartProductSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartProductSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartProductSubscriptionRequest, StartProductSubscriptionResult>",
      "asyncReturnType" : "StartProductSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a product subscription for a user with the specified identity provider.</p> <note> <p>Your estimated bill for charges on the number of users and related costs will take 48 hours to appear for billing periods that haven't closed (marked as <b>Pending</b> billing status) in Amazon Web Services Billing. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/invoice.html\">Viewing your monthly charges</a> in the <i>Amazon Web Services Billing User Guide</i>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartProductSubscriptionRequest",
        "variableName" : "startProductSubscriptionRequest",
        "variableType" : "StartProductSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "StartProductSubscriptionRequest",
        "variableSetterType" : "StartProductSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startProductSubscription",
      "operationName" : "StartProductSubscription",
      "returnType" : {
        "returnType" : "StartProductSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartProductSubscriptionResult"
    },
    "StopProductSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopProductSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopProductSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopProductSubscriptionRequest, StopProductSubscriptionResult>",
      "asyncReturnType" : "StopProductSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a product subscription for a user with the specified identity provider.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because a service quota is exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopProductSubscriptionRequest",
        "variableName" : "stopProductSubscriptionRequest",
        "variableType" : "StopProductSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "StopProductSubscriptionRequest",
        "variableSetterType" : "StopProductSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopProductSubscription",
      "operationName" : "StopProductSubscription",
      "returnType" : {
        "returnType" : "StopProductSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "StopProductSubscriptionResult"
    },
    "UpdateIdentityProviderSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIdentityProviderSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIdentityProviderSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIdentityProviderSettingsRequest, UpdateIdentityProviderSettingsResult>",
      "asyncReturnType" : "UpdateIdentityProviderSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates additional product configuration settings for the registered identity provider.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIdentityProviderSettingsRequest",
        "variableName" : "updateIdentityProviderSettingsRequest",
        "variableType" : "UpdateIdentityProviderSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateIdentityProviderSettingsRequest",
        "variableSetterType" : "UpdateIdentityProviderSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIdentityProviderSettings",
      "operationName" : "UpdateIdentityProviderSettings",
      "returnType" : {
        "returnType" : "UpdateIdentityProviderSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateIdentityProviderSettingsResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerusersubscriptions.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.licensemanagerusersubscriptions.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ActiveDirectoryIdentityProvider" : {
      "c2jName" : "ActiveDirectoryIdentityProvider",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Details about an Active Directory identity provider.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerusersubscriptions.model.ActiveDirectoryIdentityProvider",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DirectoryId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The directory ID for an Active Directory identity provider.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The directory ID for an Active Directory identity provider.</p>\n@param directoryId The directory ID for an Active Directory identity provider.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDirectoryId",
        "getterDocumentation" : "/**<p>The directory ID for an Active Directory identity provider.</p>\n@return The directory ID for an Active Directory identity provider.*/",
        "getterMethodName" : "getDirectoryId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DirectoryId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DirectoryId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DirectoryId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The directory ID for an Active Directory identity provider.</p>\n@param directoryId The directory ID for an Active Directory identity provider.*/",
        "setterMethodName" : "setDirectoryId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "directoryId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The directory ID for an Active Directory identity provider.</p>\n@param directoryId The directory ID for an Active Directory identity provider.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "directoryId",
          "variableType" : "String",
          "documentation" : "<p>The directory ID for an Active Directory identity provider.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DirectoryId" : {
          "c2jName" : "DirectoryId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The directory ID for an Active Directory identity provider.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The directory ID for an Active Directory identity provider.</p>\n@param directoryId The directory ID for an Active Directory identity provider.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDirectoryId",
          "getterDocumentation" : "/**<p>The directory ID for an Active Directory identity provider.</p>\n@return The directory ID for an Active Directory identity provider.*/",
          "getterMethodName" : "getDirectoryId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DirectoryId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DirectoryId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DirectoryId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The directory ID for an Active Directory identity provider.</p>\n@param directoryId The directory ID for an Active Directory identity provider.*/",
          "setterMethodName" : "setDirectoryId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "directoryId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The directory ID for an Active Directory identity provider.</p>\n@param directoryId The directory ID for an Active Directory identity provider.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "directoryId",
            "variableType" : "String",
            "documentation" : "<p>The directory ID for an Active Directory identity provider.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.licensemanagerusersubscriptions.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ActiveDirectoryIdentityProvider",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActiveDirectoryIdentityProvider",
        "variableName" : "activeDirectoryIdentityProvider",
        "variableType" : "ActiveDirectoryIdentityProvider",
        "documentation" : null,
        "simpleType" : "ActiveDirectoryIdentityProvider",
        "variableSetterType" : "ActiveDirectoryIdentityProvider"
      },
      "wrapper" : false
    },
    "AssociateUserRequest" : {
      "c2jName" : "AssociateUserRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerusersubscriptions.request.AssociateUserRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateUser",
        "locationName" : null,
        "requestUri" : "/user/AssociateUser",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Domain",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The domain name of the user.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The domain name of the user.</p>\n@param domain The domain name of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDomain",
        "getterDocumentation" : "/**<p>The domain name of the user.</p>\n@return The domain name of the user.*/",
        "getterMethodName" : "getDomain",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Domain",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Domain",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Domain",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The domain name of the user.</p>\n@param domain The domain name of the user.*/",
        "setterMethodName" : "setDomain",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domain",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The domain name of the user.</p>\n@param domain The domain name of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domain",
          "variableType" : "String",
          "documentation" : "<p>The domain name of the user.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IdentityProvider",
        "c2jShape" : "IdentityProvider",
        "deprecated" : false,
        "documentation" : "<p>The identity provider of the user.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identity provider of the user.</p>\n@param identityProvider The identity provider of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIdentityProvider",
        "getterDocumentation" : "/**<p>The identity provider of the user.</p>\n@return The identity provider of the user.*/",
        "getterMethodName" : "getIdentityProvider",
        "getterModel" : {
          "returnType" : "IdentityProvider",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IdentityProvider",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IdentityProvider",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "IdentityProvider",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identity provider of the user.</p>\n@param identityProvider The identity provider of the user.*/",
        "setterMethodName" : "setIdentityProvider",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "IdentityProvider",
          "variableName" : "identityProvider",
          "variableType" : "IdentityProvider",
          "documentation" : "",
          "simpleType" : "IdentityProvider",
          "variableSetterType" : "IdentityProvider"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identity provider of the user.</p>\n@param identityProvider The identity provider of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "IdentityProvider",
          "variableName" : "identityProvider",
          "variableType" : "IdentityProvider",
          "documentation" : "<p>The identity provider of the user.</p>",
          "simpleType" : "IdentityProvider",
          "variableSetterType" : "IdentityProvider"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InstanceId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>\n@param instanceId The ID of the EC2 instance, which provides user-based subscriptions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceId",
        "getterDocumentation" : "/**<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>\n@return The ID of the EC2 instance, which provides user-based subscriptions.*/",
        "getterMethodName" : "getInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InstanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InstanceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>\n@param instanceId The ID of the EC2 instance, which provides user-based subscriptions.*/",
        "setterMethodName" : "setInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>\n@param instanceId The ID of the EC2 instance, which provides user-based subscriptions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Username",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The user name from the identity provider for the user.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The user name from the identity provider for the user.</p>\n@param username The user name from the identity provider for the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsername",
        "getterDocumentation" : "/**<p>The user name from the identity provider for the user.</p>\n@return The user name from the identity provider for the user.*/",
        "getterMethodName" : "getUsername",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Username",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Username",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Username",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The user name from the identity provider for the user.</p>\n@param username The user name from the identity provider for the user.*/",
        "setterMethodName" : "setUsername",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "username",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The user name from the identity provider for the user.</p>\n@param username The user name from the identity provider for the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "username",
          "variableType" : "String",
          "documentation" : "<p>The user name from the identity provider for the user.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Domain" : {
          "c2jName" : "Domain",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The domain name of the user.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The domain name of the user.</p>\n@param domain The domain name of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDomain",
          "getterDocumentation" : "/**<p>The domain name of the user.</p>\n@return The domain name of the user.*/",
          "getterMethodName" : "getDomain",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Domain",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Domain",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Domain",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The domain name of the user.</p>\n@param domain The domain name of the user.*/",
          "setterMethodName" : "setDomain",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domain",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The domain name of the user.</p>\n@param domain The domain name of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domain",
            "variableType" : "String",
            "documentation" : "<p>The domain name of the user.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "IdentityProvider" : {
          "c2jName" : "IdentityProvider",
          "c2jShape" : "IdentityProvider",
          "deprecated" : false,
          "documentation" : "<p>The identity provider of the user.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identity provider of the user.</p>\n@param identityProvider The identity provider of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIdentityProvider",
          "getterDocumentation" : "/**<p>The identity provider of the user.</p>\n@return The identity provider of the user.*/",
          "getterMethodName" : "getIdentityProvider",
          "getterModel" : {
            "returnType" : "IdentityProvider",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IdentityProvider",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IdentityProvider",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "IdentityProvider",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identity provider of the user.</p>\n@param identityProvider The identity provider of the user.*/",
          "setterMethodName" : "setIdentityProvider",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "IdentityProvider",
            "variableName" : "identityProvider",
            "variableType" : "IdentityProvider",
            "documentation" : "",
            "simpleType" : "IdentityProvider",
            "variableSetterType" : "IdentityProvider"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identity provider of the user.</p>\n@param identityProvider The identity provider of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "IdentityProvider",
            "variableName" : "identityProvider",
            "variableType" : "IdentityProvider",
            "documentation" : "<p>The identity provider of the user.</p>",
            "simpleType" : "IdentityProvider",
            "variableSetterType" : "IdentityProvider"
          },
          "xmlNameSpaceUri" : null
        },
        "InstanceId" : {
          "c2jName" : "InstanceId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>\n@param instanceId The ID of the EC2 instance, which provides user-based subscriptions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceId",
          "getterDocumentation" : "/**<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>\n@return The ID of the EC2 instance, which provides user-based subscriptions.*/",
          "getterMethodName" : "getInstanceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "InstanceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InstanceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InstanceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>\n@param instanceId The ID of the EC2 instance, which provides user-based subscriptions.*/",
          "setterMethodName" : "setInstanceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>\n@param instanceId The ID of the EC2 instance, which provides user-based subscriptions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the EC2 instance, which provides user-based subscriptions.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Username" : {
          "c2jName" : "Username",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The user name from the identity provider for the user.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The user name from the identity provider for the user.</p>\n@param username The user name from the identity provider for the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUsername",
          "getterDocumentation" : "/**<p>The user name from the identity provider for the user.</p>\n@return The user name from the identity provider for the user.*/",
          "getterMethodName" : "getUsername",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Username",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Username",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Username",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The user name from the identity provider for the user.</p>\n@param username The user name from the identity provider for the user.*/",
          "setterMethodName" : "setUsername",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "username",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The user name from the identity provider for the user.</p>\n@param username The user name from the identity provider for the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "username",
            "variableType" : "String",
            "documentation" : "<p>The user name from the identity provider for the user.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.licensemanagerusersubscriptions.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "IdentityProvider", "InstanceId", "Username" ],
      "shapeName" : "AssociateUserRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateUserRequest",
        "variableName" : "associateUserRequest",
        "variableType" : "AssociateUserRequest",
        "documentation" : null,
        "simpleType" : "AssociateUserRequest",
        "variableSetterType" : "AssociateUserRequest"
      },
      "wrapper" : false
    },
    "AssociateUserResult" : {
      "c2jName" : "AssociateUserResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerusersubscriptions.response.AssociateUserResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "InstanceUserSummary",
        "c2jShape" : "InstanceUserSummary",
        "deprecated" : false,
        "documentation" : "<p>Metadata that describes the associate user operation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Metadata that describes the associate user operation.</p>\n@param instanceUserSummary Metadata that describes the associate user operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceUserSummary",
        "getterDocumentation" : "/**<p>Metadata that describes the associate user operation.</p>\n@return Metadata that describes the associate user operation.*/",
        "getterMethodName" : "getInstanceUserSummary",
        "getterModel" : {
          "returnType" : "InstanceUserSummary",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InstanceUserSummary",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InstanceUserSummary",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "InstanceUserSummary",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Metadata that describes the associate user operation.</p>\n@param instanceUserSummary Metadata that describes the associate user operation.*/",
        "setterMethodName" : "setInstanceUserSummary",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "InstanceUserSummary",
          "variableName" : "instanceUserSummary",
          "variableType" : "InstanceUserSummary",
          "documentation" : "",
          "simpleType" : "InstanceUserSummary",
          "variableSetterType" : "InstanceUserSummary"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Metadata that describes the associate user operation.</p>\n@param instanceUserSummary Metadata that describes the associate user operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "InstanceUserSummary",
          "variableName" : "instanceUserSummary",
          "variableType" : "InstanceUserSummary",
          "documentation" : "<p>Metadata that describes the associate user operation.</p>",
          "simpleType" : "InstanceUserSummary",
          "variableSetterType" : "InstanceUserSummary"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "InstanceUserSummary" : {
          "c2jName" : "InstanceUserSummary",
          "c2jShape" : "InstanceUserSummary",
          "deprecated" : false,
          "documentation" : "<p>Metadata that describes the associate user operation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Metadata that describes the associate user operation.</p>\n@param instanceUserSummary Metadata that describes the associate user operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceUserSummary",
          "getterDocumentation" : "/**<p>Metadata that describes the associate user operation.</p>\n@return Metadata that describes the associate user operation.*/",
          "getterMethodName" : "getInstanceUserSummary",
          "getterModel" : {
            "returnType" : "InstanceUserSummary",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "InstanceUserSummary",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InstanceUserSummary",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "InstanceUserSummary",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Metadata that describes the associate user operation.</p>\n@param instanceUserSummary Metadata that describes the associate user operation.*/",
          "setterMethodName" : "setInstanceUserSummary",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "InstanceUserSummary",
            "variableName" : "instanceUserSummary",
            "variableType" : "InstanceUserSummary",
            "documentation" : "",
            "simpleType" : "InstanceUserSummary",
            "variableSetterType" : "InstanceUserSummary"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Metadata that describes the associate user operation.</p>\n@param instanceUserSummary Metadata that describes the associate user operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "InstanceUserSummary",
            "variableName" : "instanceUserSummary",
            "variableType" : "InstanceUserSummary",
            "documentation" : "<p>Metadata that describes the associate user operation.</p>",
            "simpleType" : "InstanceUserSummary",
            "variableSetterType" : "InstanceUserSummary"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.licensemanagerusersubscriptions.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "InstanceUserSummary" ],
      "shapeName" : "AssociateUserResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateUserResult",
        "variableName" : "associateUserResult",
        "variableType" : "AssociateUserResult",
        "documentation" : null,
        "simpleType" : "AssociateUserResult",
        "variableSetterType" : "AssociateUserResult"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerusersubscriptions.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.licensemanagerusersubscriptions.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "DeregisterIdentityProviderRequest" : {
      "c2jName" : "DeregisterIdentityProviderRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerusersubscriptions.request.DeregisterIdentityProviderRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeregisterIdentityProvider",
        "locationName" : null,
        "requestUri" : "/identity-provider/DeregisterIdentityProvider",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "IdentityProvider",
        "c2jShape" : "IdentityProvider",
        "deprecated" : false,
        "documentation" : "<p>An object that specifies details for the identity provider.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An object that specifies details for the identity provider.</p>\n@param identityProvider An object that specifies details for the identity provider.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIdentityProvider",
        "getterDocumentation" : "/**<p>An object that specifies details for the identity provider.</p>\n@return An object that specifies details for the identity provider.*/",
        "getterMethodName" : "getIdentityProvider",
        "getterModel" : {
          "returnType" : "IdentityProvider",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IdentityProvider",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IdentityProvider",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "IdentityProvider",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An object that specifies details for the identity provider.</p>\n@param identityProvider An object that specifies details for the identity provider.*/",
        "setterMethodName" : "setIdentityProvider",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "IdentityProvider",
          "variableName" : "identityProvider",
          "variableType" : "IdentityProvider",
          "documentation" : "",
          "simpleType" : "IdentityProvider",
          "variableSetterType" : "IdentityProvider"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An object that specifies details for the identity provider.</p>\n@param identityProvider An object that specifies details for the identity provider.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "IdentityProvider",
          "variableName" : "identityProvider",
          "variableType" : "IdentityProvider",
          "documentation" : "<p>An object that specifies details for the identity provider.</p>",
          "simpleType" : "IdentityProvider",
          "variableSetterType" : "IdentityProvider"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Product",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the user-based subscription product.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the user-based subscription product.</p>\n@param product The name of the user-based subscription product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProduct",
        "getterDocumentation" : "/**<p>The name of the user-based subscription product.</p>\n@return The name of the user-based subscription product.*/",
        "getterMethodName" : "getProduct",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Product",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Product",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Product",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the user-based subscription product.</p>\n@param product The name of the user-based subscription product.*/",
        "setterMethodName" : "setProduct",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "product",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the user-based subscription product.</p>\n@param product The name of the user-based subscription product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "product",
          "variableType" : "String",
          "documentation" : "<p>The name of the user-based subscription product.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IdentityProvider" : {
          "c2jName" : "IdentityProvider",
          "c2jShape" : "IdentityProvider",
          "deprecated" : false,
          "documentation" : "<p>An object that specifies details for the identity provider.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An object that specifies details for the identity provider.</p>\n@param identityProvider An object that specifies details for the identity provider.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIdentityProvider",
          "getterDocumentation" : "/**<p>An object that specifies details for the identity provider.</p>\n@return An object that specifies details for the identity provider.*/",
          "getterMethodName" : "getIdentityProvider",
          "getterModel" : {
            "returnType" : "IdentityProvider",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IdentityProvider",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IdentityProvider",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "IdentityProvider",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An object that specifies details for the identity provider.</p>\n@param identityProvider An object that specifies details for the identity provider.*/",
          "setterMethodName" : "setIdentityProvider",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "IdentityProvider",
            "variableName" : "identityProvider",
            "variableType" : "IdentityProvider",
            "documentation" : "",
            "simpleType" : "IdentityProvider",
            "variableSetterType" : "IdentityProvider"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An object that specifies details for the identity provider.</p>\n@param identityProvider An object that specifies details for the identity provider.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "IdentityProvider",
            "variableName" : "identityProvider",
            "variableType" : "IdentityProvider",
            "documentation" : "<p>An object that specifies details for the identity provider.</p>",
            "simpleType" : "IdentityProvider",
            "variableSetterType" : "IdentityProvider"
          },
          "xmlNameSpaceUri" : null
        },
        "Product" : {
          "c2jName" : "Product",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the user-based subscription product.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the user-based subscription product.</p>\n@param product The name of the user-based subscription product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProduct",
          "getterDocumentation" : "/**<p>The name of the user-based subscription product.</p>\n@return The name of the user-based subscription product.*/",
          "getterMethodName" : "getProduct",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Product",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Product",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Product",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the user-based subscription product.</p>\n@param product The name of the user-based subscription product.*/",
          "setterMethodName" : "setProduct",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "product",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the user-based subscription product.</p>\n@param product The name of the user-based subscription product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "product",
            "variableType" : "String",
            "documentation" : "<p>The name of the user-based subscription product.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.licensemanagerusersubscriptions.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "IdentityProvider", "Product" ],
      "shapeName" : "DeregisterIdentityProviderRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterIdentityProviderRequest",
        "variableName" : "deregisterIdentityProviderRequest",
        "variableType" : "DeregisterIdentityProviderRequest",
        "documentation" : null,
        "simpleType" : "DeregisterIdentityProviderRequest",
        "variableSetterType" : "DeregisterIdentityProviderRequest"
      },
      "wrapper" : false
    },
    "DeregisterIdentityProviderResult" : {
      "c2jName" : "DeregisterIdentityProviderResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerusersubscriptions.response.DeregisterIdentityProviderResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "IdentityProviderSummary",
        "c2jShape" : "IdentityProviderSummary",
        "deprecated" : false,
        "documentation" : "<p>Metadata that describes the results of an identity provider operation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Metadata that describes the results of an identity provider operation.</p>\n@param identityProviderSummary Metadata that describes the results of an identity provider operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIdentityProviderSummary",
        "getterDocumentation" : "/**<p>Metadata that describes the results of an identity provider operation.</p>\n@return Metadata that describes the results of an identity provider operation.*/",
        "getterMethodName" : "getIdentityProviderSummary",
        "getterModel" : {
          "returnType" : "IdentityProviderSummary",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IdentityProviderSummary",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
[...]
