{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-08-01",
    "asyncClient" : "AWSLicenseManagerAsyncClient",
    "asyncClientBuilderClassName" : "AWSLicenseManagerAsyncClientBuilder",
    "asyncInterface" : "AWSLicenseManagerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSLicenseManagerModuleInjector",
    "defaultEndpoint" : "license-manager.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "license-manager.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname> AWS License Manager </fullname> <p>AWS License Manager makes it easier to manage licenses from software vendors across multiple AWS accounts and on-premises servers.</p>",
    "endpointPrefix" : "license-manager",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.licensemanager",
    "packagePath" : "com/amazonaws/services/licensemanager",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS License Manager",
    "serviceId" : "License Manager",
    "serviceName" : "AWS License Manager",
    "signingName" : "license-manager",
    "smokeTestsPackageName" : "com.amazonaws.services.licensemanager.smoketests",
    "syncClient" : "AWSLicenseManagerClient",
    "syncClientBuilderClassName" : "AWSLicenseManagerClientBuilder",
    "syncInterface" : "AWSLicenseManager",
    "uid" : "license-manager-2018-08-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptGrant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptGrantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptGrantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptGrantRequest, AcceptGrantResult>",
      "asyncReturnType" : "AcceptGrantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts the specified grant.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptGrantRequest",
        "variableName" : "acceptGrantRequest",
        "variableType" : "AcceptGrantRequest",
        "documentation" : "",
        "simpleType" : "AcceptGrantRequest",
        "variableSetterType" : "AcceptGrantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptGrant",
      "operationName" : "AcceptGrant",
      "returnType" : {
        "returnType" : "AcceptGrantResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptGrantResult"
    },
    "CheckInLicense" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CheckInLicenseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CheckInLicenseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckInLicenseRequest, CheckInLicenseResult>",
      "asyncReturnType" : "CheckInLicenseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks in the specified license. Check in a license when it is no longer in use.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CheckInLicenseRequest",
        "variableName" : "checkInLicenseRequest",
        "variableType" : "CheckInLicenseRequest",
        "documentation" : "",
        "simpleType" : "CheckInLicenseRequest",
        "variableSetterType" : "CheckInLicenseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "checkInLicense",
      "operationName" : "CheckInLicense",
      "returnType" : {
        "returnType" : "CheckInLicenseResult",
        "documentation" : null
      },
      "syncReturnType" : "CheckInLicenseResult"
    },
    "CheckoutBorrowLicense" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CheckoutBorrowLicenseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CheckoutBorrowLicenseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckoutBorrowLicenseRequest, CheckoutBorrowLicenseResult>",
      "asyncReturnType" : "CheckoutBorrowLicenseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks out the specified license for offline use.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoEntitlementsAllowedException",
        "documentation" : "<p>There are no entitlements found for this license, or the entitlement maximum count is reached.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntitlementNotAllowedException",
        "documentation" : "<p>The entitlement is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedDigitalSignatureMethodException",
        "documentation" : "<p>The digital signature method is unsupported. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RedirectException",
        "documentation" : "<p>This is not the correct Region for the resource. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CheckoutBorrowLicenseRequest",
        "variableName" : "checkoutBorrowLicenseRequest",
        "variableType" : "CheckoutBorrowLicenseRequest",
        "documentation" : "",
        "simpleType" : "CheckoutBorrowLicenseRequest",
        "variableSetterType" : "CheckoutBorrowLicenseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "checkoutBorrowLicense",
      "operationName" : "CheckoutBorrowLicense",
      "returnType" : {
        "returnType" : "CheckoutBorrowLicenseResult",
        "documentation" : null
      },
      "syncReturnType" : "CheckoutBorrowLicenseResult"
    },
    "CheckoutLicense" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CheckoutLicenseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CheckoutLicenseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckoutLicenseRequest, CheckoutLicenseResult>",
      "asyncReturnType" : "CheckoutLicenseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks out the specified license.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoEntitlementsAllowedException",
        "documentation" : "<p>There are no entitlements found for this license, or the entitlement maximum count is reached.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedDigitalSignatureMethodException",
        "documentation" : "<p>The digital signature method is unsupported. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RedirectException",
        "documentation" : "<p>This is not the correct Region for the resource. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CheckoutLicenseRequest",
        "variableName" : "checkoutLicenseRequest",
        "variableType" : "CheckoutLicenseRequest",
        "documentation" : "",
        "simpleType" : "CheckoutLicenseRequest",
        "variableSetterType" : "CheckoutLicenseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "checkoutLicense",
      "operationName" : "CheckoutLicense",
      "returnType" : {
        "returnType" : "CheckoutLicenseResult",
        "documentation" : null
      },
      "syncReturnType" : "CheckoutLicenseResult"
    },
    "CreateGrant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGrantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGrantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGrantRequest, CreateGrantResult>",
      "asyncReturnType" : "CreateGrantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a grant for the specified license. A grant shares the use of license entitlements with specific AWS accounts.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGrantRequest",
        "variableName" : "createGrantRequest",
        "variableType" : "CreateGrantRequest",
        "documentation" : "",
        "simpleType" : "CreateGrantRequest",
        "variableSetterType" : "CreateGrantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGrant",
      "operationName" : "CreateGrant",
      "returnType" : {
        "returnType" : "CreateGrantResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGrantResult"
    },
    "CreateGrantVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGrantVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGrantVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGrantVersionRequest, CreateGrantVersionResult>",
      "asyncReturnType" : "CreateGrantVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new version of the specified grant.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGrantVersionRequest",
        "variableName" : "createGrantVersionRequest",
        "variableType" : "CreateGrantVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateGrantVersionRequest",
        "variableSetterType" : "CreateGrantVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGrantVersion",
      "operationName" : "CreateGrantVersion",
      "returnType" : {
        "returnType" : "CreateGrantVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGrantVersionResult"
    },
    "CreateLicense" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLicenseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLicenseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLicenseRequest, CreateLicenseResult>",
      "asyncReturnType" : "CreateLicenseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a license.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RedirectException",
        "documentation" : "<p>This is not the correct Region for the resource. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLicenseRequest",
        "variableName" : "createLicenseRequest",
        "variableType" : "CreateLicenseRequest",
        "documentation" : "",
        "simpleType" : "CreateLicenseRequest",
        "variableSetterType" : "CreateLicenseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLicense",
      "operationName" : "CreateLicense",
      "returnType" : {
        "returnType" : "CreateLicenseResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLicenseResult"
    },
    "CreateLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLicenseConfigurationRequest, CreateLicenseConfigurationResult>",
      "asyncReturnType" : "CreateLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a license configuration.</p> <p>A license configuration is an abstraction of a customer license agreement that can be consumed and enforced by License Manager. Components include specifications for the license type (licensing by instance, socket, CPU, or vCPU), allowed tenancy (shared tenancy, Dedicated Instance, Dedicated Host, or all of these), license affinity to host (how long a license must be associated with a host), and the number of licenses purchased and used.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLicenseConfigurationRequest",
        "variableName" : "createLicenseConfigurationRequest",
        "variableType" : "CreateLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateLicenseConfigurationRequest",
        "variableSetterType" : "CreateLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLicenseConfiguration",
      "operationName" : "CreateLicenseConfiguration",
      "returnType" : {
        "returnType" : "CreateLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLicenseConfigurationResult"
    },
    "CreateLicenseManagerReportGenerator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLicenseManagerReportGeneratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLicenseManagerReportGeneratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLicenseManagerReportGeneratorRequest, CreateLicenseManagerReportGeneratorResult>",
      "asyncReturnType" : "CreateLicenseManagerReportGeneratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new report generator.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLicenseManagerReportGeneratorRequest",
        "variableName" : "createLicenseManagerReportGeneratorRequest",
        "variableType" : "CreateLicenseManagerReportGeneratorRequest",
        "documentation" : "",
        "simpleType" : "CreateLicenseManagerReportGeneratorRequest",
        "variableSetterType" : "CreateLicenseManagerReportGeneratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLicenseManagerReportGenerator",
      "operationName" : "CreateLicenseManagerReportGenerator",
      "returnType" : {
        "returnType" : "CreateLicenseManagerReportGeneratorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLicenseManagerReportGeneratorResult"
    },
    "CreateLicenseVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLicenseVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLicenseVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLicenseVersionRequest, CreateLicenseVersionResult>",
      "asyncReturnType" : "CreateLicenseVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new version of the specified license.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RedirectException",
        "documentation" : "<p>This is not the correct Region for the resource. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLicenseVersionRequest",
        "variableName" : "createLicenseVersionRequest",
        "variableType" : "CreateLicenseVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateLicenseVersionRequest",
        "variableSetterType" : "CreateLicenseVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLicenseVersion",
      "operationName" : "CreateLicenseVersion",
      "returnType" : {
        "returnType" : "CreateLicenseVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLicenseVersionResult"
    },
    "CreateToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTokenRequest, CreateTokenResult>",
      "asyncReturnType" : "CreateTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a long-lived token.</p> <p>A refresh token is a JWT token used to get an access token. With an access token, you can call AssumeRoleWithWebIdentity to get role credentials that you can use to call License Manager to manage the specified license.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RedirectException",
        "documentation" : "<p>This is not the correct Region for the resource. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTokenRequest",
        "variableName" : "createTokenRequest",
        "variableType" : "CreateTokenRequest",
        "documentation" : "",
        "simpleType" : "CreateTokenRequest",
        "variableSetterType" : "CreateTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createToken",
      "operationName" : "CreateToken",
      "returnType" : {
        "returnType" : "CreateTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTokenResult"
    },
    "DeleteGrant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGrantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGrantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGrantRequest, DeleteGrantResult>",
      "asyncReturnType" : "DeleteGrantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified grant.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGrantRequest",
        "variableName" : "deleteGrantRequest",
        "variableType" : "DeleteGrantRequest",
        "documentation" : "",
        "simpleType" : "DeleteGrantRequest",
        "variableSetterType" : "DeleteGrantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGrant",
      "operationName" : "DeleteGrant",
      "returnType" : {
        "returnType" : "DeleteGrantResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGrantResult"
    },
    "DeleteLicense" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLicenseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLicenseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLicenseRequest, DeleteLicenseResult>",
      "asyncReturnType" : "DeleteLicenseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified license.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RedirectException",
        "documentation" : "<p>This is not the correct Region for the resource. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLicenseRequest",
        "variableName" : "deleteLicenseRequest",
        "variableType" : "DeleteLicenseRequest",
        "documentation" : "",
        "simpleType" : "DeleteLicenseRequest",
        "variableSetterType" : "DeleteLicenseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLicense",
      "operationName" : "DeleteLicense",
      "returnType" : {
        "returnType" : "DeleteLicenseResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLicenseResult"
    },
    "DeleteLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLicenseConfigurationRequest, DeleteLicenseConfigurationResult>",
      "asyncReturnType" : "DeleteLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified license configuration.</p> <p>You cannot delete a license configuration that is in use.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLicenseConfigurationRequest",
        "variableName" : "deleteLicenseConfigurationRequest",
        "variableType" : "DeleteLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteLicenseConfigurationRequest",
        "variableSetterType" : "DeleteLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLicenseConfiguration",
      "operationName" : "DeleteLicenseConfiguration",
      "returnType" : {
        "returnType" : "DeleteLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLicenseConfigurationResult"
    },
    "DeleteLicenseManagerReportGenerator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLicenseManagerReportGeneratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLicenseManagerReportGeneratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLicenseManagerReportGeneratorRequest, DeleteLicenseManagerReportGeneratorResult>",
      "asyncReturnType" : "DeleteLicenseManagerReportGeneratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an existing report generator.</p> <p>This action deletes the report generator, which stops it from generating future reports and cannot be reversed. However, the previous reports from this generator will remain in your S3 bucket.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLicenseManagerReportGeneratorRequest",
        "variableName" : "deleteLicenseManagerReportGeneratorRequest",
        "variableType" : "DeleteLicenseManagerReportGeneratorRequest",
        "documentation" : "",
        "simpleType" : "DeleteLicenseManagerReportGeneratorRequest",
        "variableSetterType" : "DeleteLicenseManagerReportGeneratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLicenseManagerReportGenerator",
      "operationName" : "DeleteLicenseManagerReportGenerator",
      "returnType" : {
        "returnType" : "DeleteLicenseManagerReportGeneratorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLicenseManagerReportGeneratorResult"
    },
    "DeleteToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTokenRequest, DeleteTokenResult>",
      "asyncReturnType" : "DeleteTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified token. Must be called in the license home Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RedirectException",
        "documentation" : "<p>This is not the correct Region for the resource. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTokenRequest",
        "variableName" : "deleteTokenRequest",
        "variableType" : "DeleteTokenRequest",
        "documentation" : "",
        "simpleType" : "DeleteTokenRequest",
        "variableSetterType" : "DeleteTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteToken",
      "operationName" : "DeleteToken",
      "returnType" : {
        "returnType" : "DeleteTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTokenResult"
    },
    "ExtendLicenseConsumption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExtendLicenseConsumptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExtendLicenseConsumptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExtendLicenseConsumptionRequest, ExtendLicenseConsumptionResult>",
      "asyncReturnType" : "ExtendLicenseConsumptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Extends the expiration date for license consumption.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExtendLicenseConsumptionRequest",
        "variableName" : "extendLicenseConsumptionRequest",
        "variableType" : "ExtendLicenseConsumptionRequest",
        "documentation" : "",
        "simpleType" : "ExtendLicenseConsumptionRequest",
        "variableSetterType" : "ExtendLicenseConsumptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "extendLicenseConsumption",
      "operationName" : "ExtendLicenseConsumption",
      "returnType" : {
        "returnType" : "ExtendLicenseConsumptionResult",
        "documentation" : null
      },
      "syncReturnType" : "ExtendLicenseConsumptionResult"
    },
    "GetAccessToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccessTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccessTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccessTokenRequest, GetAccessTokenResult>",
      "asyncReturnType" : "GetAccessTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a temporary access token to use with AssumeRoleWithWebIdentity. Access tokens are valid for one hour.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccessTokenRequest",
        "variableName" : "getAccessTokenRequest",
        "variableType" : "GetAccessTokenRequest",
        "documentation" : "",
        "simpleType" : "GetAccessTokenRequest",
        "variableSetterType" : "GetAccessTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccessToken",
      "operationName" : "GetAccessToken",
      "returnType" : {
        "returnType" : "GetAccessTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccessTokenResult"
    },
    "GetGrant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGrantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGrantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGrantRequest, GetGrantResult>",
      "asyncReturnType" : "GetGrantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information about the specified grant.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGrantRequest",
        "variableName" : "getGrantRequest",
        "variableType" : "GetGrantRequest",
        "documentation" : "",
        "simpleType" : "GetGrantRequest",
        "variableSetterType" : "GetGrantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGrant",
      "operationName" : "GetGrant",
      "returnType" : {
        "returnType" : "GetGrantResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGrantResult"
    },
    "GetLicense" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLicenseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLicenseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLicenseRequest, GetLicenseResult>",
      "asyncReturnType" : "GetLicenseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information about the specified license.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLicenseRequest",
        "variableName" : "getLicenseRequest",
        "variableType" : "GetLicenseRequest",
        "documentation" : "",
        "simpleType" : "GetLicenseRequest",
        "variableSetterType" : "GetLicenseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLicense",
      "operationName" : "GetLicense",
      "returnType" : {
        "returnType" : "GetLicenseResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLicenseResult"
    },
    "GetLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLicenseConfigurationRequest, GetLicenseConfigurationResult>",
      "asyncReturnType" : "GetLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information about the specified license configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLicenseConfigurationRequest",
        "variableName" : "getLicenseConfigurationRequest",
        "variableType" : "GetLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetLicenseConfigurationRequest",
        "variableSetterType" : "GetLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLicenseConfiguration",
      "operationName" : "GetLicenseConfiguration",
      "returnType" : {
        "returnType" : "GetLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLicenseConfigurationResult"
    },
    "GetLicenseManagerReportGenerator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLicenseManagerReportGeneratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLicenseManagerReportGeneratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLicenseManagerReportGeneratorRequest, GetLicenseManagerReportGeneratorResult>",
      "asyncReturnType" : "GetLicenseManagerReportGeneratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information on the specified report generator.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLicenseManagerReportGeneratorRequest",
        "variableName" : "getLicenseManagerReportGeneratorRequest",
        "variableType" : "GetLicenseManagerReportGeneratorRequest",
        "documentation" : "",
        "simpleType" : "GetLicenseManagerReportGeneratorRequest",
        "variableSetterType" : "GetLicenseManagerReportGeneratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLicenseManagerReportGenerator",
      "operationName" : "GetLicenseManagerReportGenerator",
      "returnType" : {
        "returnType" : "GetLicenseManagerReportGeneratorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLicenseManagerReportGeneratorResult"
    },
    "GetLicenseUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLicenseUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLicenseUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLicenseUsageRequest, GetLicenseUsageResult>",
      "asyncReturnType" : "GetLicenseUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information about the usage of the specified license.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLicenseUsageRequest",
        "variableName" : "getLicenseUsageRequest",
        "variableType" : "GetLicenseUsageRequest",
        "documentation" : "",
        "simpleType" : "GetLicenseUsageRequest",
        "variableSetterType" : "GetLicenseUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLicenseUsage",
      "operationName" : "GetLicenseUsage",
      "returnType" : {
        "returnType" : "GetLicenseUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLicenseUsageResult"
    },
    "GetServiceSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceSettingsRequest, GetServiceSettingsResult>",
      "asyncReturnType" : "GetServiceSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the License Manager settings for the current Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceSettingsRequest",
        "variableName" : "getServiceSettingsRequest",
        "variableType" : "GetServiceSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetServiceSettingsRequest",
        "variableSetterType" : "GetServiceSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceSettings",
      "operationName" : "GetServiceSettings",
      "returnType" : {
        "returnType" : "GetServiceSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceSettingsResult"
    },
    "ListAssociationsForLicenseConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociationsForLicenseConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociationsForLicenseConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociationsForLicenseConfigurationRequest, ListAssociationsForLicenseConfigurationResult>",
      "asyncReturnType" : "ListAssociationsForLicenseConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resource associations for the specified license configuration.</p> <p>Resource associations need not consume licenses from a license configuration. For example, an AMI or a stopped instance might not consume a license (depending on the license rules).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FilterLimitExceededException",
        "documentation" : "<p>The request uses too many filters or too many filter values.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssociationsForLicenseConfigurationRequest",
        "variableName" : "listAssociationsForLicenseConfigurationRequest",
        "variableType" : "ListAssociationsForLicenseConfigurationRequest",
        "documentation" : "",
        "simpleType" : "ListAssociationsForLicenseConfigurationRequest",
        "variableSetterType" : "ListAssociationsForLicenseConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociationsForLicenseConfiguration",
      "operationName" : "ListAssociationsForLicenseConfiguration",
      "returnType" : {
        "returnType" : "ListAssociationsForLicenseConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssociationsForLicenseConfigurationResult"
    },
    "ListDistributedGrants" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDistributedGrantsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDistributedGrantsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDistributedGrantsRequest, ListDistributedGrantsResult>",
      "asyncReturnType" : "ListDistributedGrantsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the grants distributed for the specified license.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDistributedGrantsRequest",
        "variableName" : "listDistributedGrantsRequest",
        "variableType" : "ListDistributedGrantsRequest",
        "documentation" : "",
        "simpleType" : "ListDistributedGrantsRequest",
        "variableSetterType" : "ListDistributedGrantsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDistributedGrants",
      "operationName" : "ListDistributedGrants",
      "returnType" : {
        "returnType" : "ListDistributedGrantsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDistributedGrantsResult"
    },
    "ListFailuresForLicenseConfigurationOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFailuresForLicenseConfigurationOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFailuresForLicenseConfigurationOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFailuresForLicenseConfigurationOperationsRequest, ListFailuresForLicenseConfigurationOperationsResult>",
      "asyncReturnType" : "ListFailuresForLicenseConfigurationOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the license configuration operations that failed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFailuresForLicenseConfigurationOperationsRequest",
        "variableName" : "listFailuresForLicenseConfigurationOperationsRequest",
        "variableType" : "ListFailuresForLicenseConfigurationOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListFailuresForLicenseConfigurationOperationsRequest",
        "variableSetterType" : "ListFailuresForLicenseConfigurationOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFailuresForLicenseConfigurationOperations",
      "operationName" : "ListFailuresForLicenseConfigurationOperations",
      "returnType" : {
        "returnType" : "ListFailuresForLicenseConfigurationOperationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFailuresForLicenseConfigurationOperationsResult"
    },
    "ListLicenseConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLicenseConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLicenseConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLicenseConfigurationsRequest, ListLicenseConfigurationsResult>",
      "asyncReturnType" : "ListLicenseConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the license configurations for your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FilterLimitExceededException",
        "documentation" : "<p>The request uses too many filters or too many filter values.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLicenseConfigurationsRequest",
        "variableName" : "listLicenseConfigurationsRequest",
        "variableType" : "ListLicenseConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListLicenseConfigurationsRequest",
        "variableSetterType" : "ListLicenseConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLicenseConfigurations",
      "operationName" : "ListLicenseConfigurations",
      "returnType" : {
        "returnType" : "ListLicenseConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLicenseConfigurationsResult"
    },
    "ListLicenseManagerReportGenerators" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLicenseManagerReportGeneratorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLicenseManagerReportGeneratorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLicenseManagerReportGeneratorsRequest, ListLicenseManagerReportGeneratorsResult>",
      "asyncReturnType" : "ListLicenseManagerReportGeneratorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the report generators for your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLicenseManagerReportGeneratorsRequest",
        "variableName" : "listLicenseManagerReportGeneratorsRequest",
        "variableType" : "ListLicenseManagerReportGeneratorsRequest",
        "documentation" : "",
        "simpleType" : "ListLicenseManagerReportGeneratorsRequest",
        "variableSetterType" : "ListLicenseManagerReportGeneratorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLicenseManagerReportGenerators",
      "operationName" : "ListLicenseManagerReportGenerators",
      "returnType" : {
        "returnType" : "ListLicenseManagerReportGeneratorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLicenseManagerReportGeneratorsResult"
    },
    "ListLicenseSpecificationsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLicenseSpecificationsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLicenseSpecificationsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLicenseSpecificationsForResourceRequest, ListLicenseSpecificationsForResourceResult>",
      "asyncReturnType" : "ListLicenseSpecificationsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the license configurations for the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLicenseSpecificationsForResourceRequest",
        "variableName" : "listLicenseSpecificationsForResourceRequest",
        "variableType" : "ListLicenseSpecificationsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListLicenseSpecificationsForResourceRequest",
        "variableSetterType" : "ListLicenseSpecificationsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLicenseSpecificationsForResource",
      "operationName" : "ListLicenseSpecificationsForResource",
      "returnType" : {
        "returnType" : "ListLicenseSpecificationsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLicenseSpecificationsForResourceResult"
    },
    "ListLicenseVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLicenseVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLicenseVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLicenseVersionsRequest, ListLicenseVersionsResult>",
      "asyncReturnType" : "ListLicenseVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all versions of the specified license.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLicenseVersionsRequest",
        "variableName" : "listLicenseVersionsRequest",
        "variableType" : "ListLicenseVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListLicenseVersionsRequest",
        "variableSetterType" : "ListLicenseVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLicenseVersions",
      "operationName" : "ListLicenseVersions",
      "returnType" : {
        "returnType" : "ListLicenseVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLicenseVersionsResult"
    },
    "ListLicenses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLicensesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLicensesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLicensesRequest, ListLicensesResult>",
      "asyncReturnType" : "ListLicensesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the licenses for your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLicensesRequest",
        "variableName" : "listLicensesRequest",
        "variableType" : "ListLicensesRequest",
        "documentation" : "",
        "simpleType" : "ListLicensesRequest",
        "variableSetterType" : "ListLicensesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLicenses",
      "operationName" : "ListLicenses",
      "returnType" : {
        "returnType" : "ListLicensesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLicensesResult"
    },
    "ListReceivedGrants" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReceivedGrantsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReceivedGrantsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReceivedGrantsRequest, ListReceivedGrantsResult>",
      "asyncReturnType" : "ListReceivedGrantsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists grants that are received but not accepted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReceivedGrantsRequest",
        "variableName" : "listReceivedGrantsRequest",
        "variableType" : "ListReceivedGrantsRequest",
        "documentation" : "",
        "simpleType" : "ListReceivedGrantsRequest",
        "variableSetterType" : "ListReceivedGrantsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReceivedGrants",
      "operationName" : "ListReceivedGrants",
      "returnType" : {
        "returnType" : "ListReceivedGrantsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListReceivedGrantsResult"
    },
    "ListReceivedLicenses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReceivedLicensesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReceivedLicensesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReceivedLicensesRequest, ListReceivedLicensesResult>",
      "asyncReturnType" : "ListReceivedLicensesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists received licenses.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to resource denied.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateLimitExceededException",
        "documentation" : "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReceivedLicensesRequest",
        "variableName" : "listReceivedLicensesRequest",
        "variableType" : "ListReceivedLicensesRequest",
        "documentation" : "",
        "simpleType" : "ListReceivedLicensesRequest",
        "variableSetterType" : "ListReceivedLicensesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReceivedLicenses",
      "operationName" : "ListReceivedLicenses",
      "returnType" : {
        "returnType" : "ListReceivedLicensesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListReceivedLicensesResult"
    },
    "ListResourceInventory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceInventoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceInventoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceInventoryRequest, ListResourceInventoryResult>",
      "asyncReturnType" : "ListResourceInventoryResult",
      "authenticated" : true,
[...]
