{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSLicenseManagerLinuxSubscriptionsAsyncClient",
    "asyncClientBuilderClassName" : "AWSLicenseManagerLinuxSubscriptionsAsyncClientBuilder",
    "asyncInterface" : "AWSLicenseManagerLinuxSubscriptionsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSLicenseManagerLinuxSubscriptionsModuleInjector",
    "defaultEndpoint" : "license-manager-linux-subscriptions.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "license-manager-linux-subscriptions.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>With License Manager, you can discover and track your commercial Linux subscriptions on running Amazon EC2 instances.</p>",
    "endpointPrefix" : "license-manager-linux-subscriptions",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions",
    "packagePath" : "com/amazonaws/services/licensemanagerlinuxsubscriptions",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS License Manager Linux Subscriptions",
    "serviceId" : "License Manager Linux Subscriptions",
    "serviceName" : "AWS License Manager Linux Subscriptions",
    "signingName" : "license-manager-linux-subscriptions",
    "smokeTestsPackageName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions.smoketests",
    "syncClient" : "AWSLicenseManagerLinuxSubscriptionsClient",
    "syncClientBuilderClassName" : "AWSLicenseManagerLinuxSubscriptionsClientBuilder",
    "syncInterface" : "AWSLicenseManagerLinuxSubscriptions",
    "uid" : "license-manager-linux-subscriptions-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeregisterSubscriptionProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterSubscriptionProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterSubscriptionProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterSubscriptionProviderRequest, DeregisterSubscriptionProviderResult>",
      "asyncReturnType" : "DeregisterSubscriptionProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove a third-party subscription provider from the Bring Your Own License (BYOL) subscriptions registered to your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to find the requested Amazon Web Services resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterSubscriptionProviderRequest",
        "variableName" : "deregisterSubscriptionProviderRequest",
        "variableType" : "DeregisterSubscriptionProviderRequest",
        "documentation" : "",
        "simpleType" : "DeregisterSubscriptionProviderRequest",
        "variableSetterType" : "DeregisterSubscriptionProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterSubscriptionProvider",
      "operationName" : "DeregisterSubscriptionProvider",
      "returnType" : {
        "returnType" : "DeregisterSubscriptionProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterSubscriptionProviderResult"
    },
    "GetRegisteredSubscriptionProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRegisteredSubscriptionProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRegisteredSubscriptionProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRegisteredSubscriptionProviderRequest, GetRegisteredSubscriptionProviderResult>",
      "asyncReturnType" : "GetRegisteredSubscriptionProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get details for a Bring Your Own License (BYOL) subscription that's registered to your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to find the requested Amazon Web Services resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRegisteredSubscriptionProviderRequest",
        "variableName" : "getRegisteredSubscriptionProviderRequest",
        "variableType" : "GetRegisteredSubscriptionProviderRequest",
        "documentation" : "",
        "simpleType" : "GetRegisteredSubscriptionProviderRequest",
        "variableSetterType" : "GetRegisteredSubscriptionProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRegisteredSubscriptionProvider",
      "operationName" : "GetRegisteredSubscriptionProvider",
      "returnType" : {
        "returnType" : "GetRegisteredSubscriptionProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRegisteredSubscriptionProviderResult"
    },
    "GetServiceSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceSettingsRequest, GetServiceSettingsResult>",
      "asyncReturnType" : "GetServiceSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Linux subscriptions service settings for your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceSettingsRequest",
        "variableName" : "getServiceSettingsRequest",
        "variableType" : "GetServiceSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetServiceSettingsRequest",
        "variableSetterType" : "GetServiceSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceSettings",
      "operationName" : "GetServiceSettings",
      "returnType" : {
        "returnType" : "GetServiceSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceSettingsResult"
    },
    "ListLinuxSubscriptionInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLinuxSubscriptionInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLinuxSubscriptionInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLinuxSubscriptionInstancesRequest, ListLinuxSubscriptionInstancesResult>",
      "asyncReturnType" : "ListLinuxSubscriptionInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the running Amazon EC2 instances that were discovered with commercial Linux subscriptions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLinuxSubscriptionInstancesRequest",
        "variableName" : "listLinuxSubscriptionInstancesRequest",
        "variableType" : "ListLinuxSubscriptionInstancesRequest",
        "documentation" : "<p>NextToken length limit is half of ddb accepted limit. Increase this limit if parameters in request increases.</p>",
        "simpleType" : "ListLinuxSubscriptionInstancesRequest",
        "variableSetterType" : "ListLinuxSubscriptionInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLinuxSubscriptionInstances",
      "operationName" : "ListLinuxSubscriptionInstances",
      "returnType" : {
        "returnType" : "ListLinuxSubscriptionInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLinuxSubscriptionInstancesResult"
    },
    "ListLinuxSubscriptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLinuxSubscriptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLinuxSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLinuxSubscriptionsRequest, ListLinuxSubscriptionsResult>",
      "asyncReturnType" : "ListLinuxSubscriptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Linux subscriptions that have been discovered. If you have linked your organization, the returned results will include data aggregated across your accounts in Organizations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLinuxSubscriptionsRequest",
        "variableName" : "listLinuxSubscriptionsRequest",
        "variableType" : "ListLinuxSubscriptionsRequest",
        "documentation" : "<p>NextToken length limit is half of ddb accepted limit. Increase this limit if parameters in request increases.</p>",
        "simpleType" : "ListLinuxSubscriptionsRequest",
        "variableSetterType" : "ListLinuxSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLinuxSubscriptions",
      "operationName" : "ListLinuxSubscriptions",
      "returnType" : {
        "returnType" : "ListLinuxSubscriptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLinuxSubscriptionsResult"
    },
    "ListRegisteredSubscriptionProviders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRegisteredSubscriptionProvidersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRegisteredSubscriptionProvidersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRegisteredSubscriptionProvidersRequest, ListRegisteredSubscriptionProvidersResult>",
      "asyncReturnType" : "ListRegisteredSubscriptionProvidersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List Bring Your Own License (BYOL) subscription registration resources for your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRegisteredSubscriptionProvidersRequest",
        "variableName" : "listRegisteredSubscriptionProvidersRequest",
        "variableType" : "ListRegisteredSubscriptionProvidersRequest",
        "documentation" : "",
        "simpleType" : "ListRegisteredSubscriptionProvidersRequest",
        "variableSetterType" : "ListRegisteredSubscriptionProvidersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRegisteredSubscriptionProviders",
      "operationName" : "ListRegisteredSubscriptionProviders",
      "returnType" : {
        "returnType" : "ListRegisteredSubscriptionProvidersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRegisteredSubscriptionProvidersResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the metadata tags that are assigned to the specified Amazon Web Services resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to find the requested Amazon Web Services resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RegisterSubscriptionProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterSubscriptionProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterSubscriptionProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterSubscriptionProviderRequest, RegisterSubscriptionProviderResult>",
      "asyncReturnType" : "RegisterSubscriptionProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Register the supported third-party subscription provider for your Bring Your Own License (BYOL) subscription.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterSubscriptionProviderRequest",
        "variableName" : "registerSubscriptionProviderRequest",
        "variableType" : "RegisterSubscriptionProviderRequest",
        "documentation" : "",
        "simpleType" : "RegisterSubscriptionProviderRequest",
        "variableSetterType" : "RegisterSubscriptionProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerSubscriptionProvider",
      "operationName" : "RegisterSubscriptionProvider",
      "returnType" : {
        "returnType" : "RegisterSubscriptionProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterSubscriptionProviderResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add metadata tags to the specified Amazon Web Services resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to find the requested Amazon Web Services resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove one or more metadata tag from the specified Amazon Web Services resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to find the requested Amazon Web Services resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateServiceSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceSettingsRequest, UpdateServiceSettingsResult>",
      "asyncReturnType" : "UpdateServiceSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the service settings for Linux subscriptions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The provided input is not valid. Try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServiceSettingsRequest",
        "variableName" : "updateServiceSettingsRequest",
        "variableType" : "UpdateServiceSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateServiceSettingsRequest",
        "variableSetterType" : "UpdateServiceSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServiceSettings",
      "operationName" : "UpdateServiceSettings",
      "returnType" : {
        "returnType" : "UpdateServiceSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServiceSettingsResult"
    }
  },
  "shapes" : {
    "DeregisterSubscriptionProviderRequest" : {
      "c2jName" : "DeregisterSubscriptionProviderRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions.request.DeregisterSubscriptionProviderRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeregisterSubscriptionProvider",
        "locationName" : null,
        "requestUri" : "/subscription/DeregisterSubscriptionProvider",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "SubscriptionProviderArn",
        "c2jShape" : "SubscriptionProviderArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the subscription provider resource to deregister.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubscriptionProviderArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>\n@return The Amazon Resource Name (ARN) of the subscription provider resource to deregister.*/",
        "getterMethodName" : "getSubscriptionProviderArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubscriptionProviderArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubscriptionProviderArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SubscriptionProviderArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the subscription provider resource to deregister.*/",
        "setterMethodName" : "setSubscriptionProviderArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the subscription provider resource to deregister.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SubscriptionProviderArn" : {
          "c2jName" : "SubscriptionProviderArn",
          "c2jShape" : "SubscriptionProviderArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the subscription provider resource to deregister.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSubscriptionProviderArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>\n@return The Amazon Resource Name (ARN) of the subscription provider resource to deregister.*/",
          "getterMethodName" : "getSubscriptionProviderArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SubscriptionProviderArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SubscriptionProviderArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SubscriptionProviderArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the subscription provider resource to deregister.*/",
          "setterMethodName" : "setSubscriptionProviderArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "subscriptionProviderArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the subscription provider resource to deregister.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "subscriptionProviderArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the subscription provider resource to deregister.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "SubscriptionProviderArn" ],
      "shapeName" : "DeregisterSubscriptionProviderRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterSubscriptionProviderRequest",
        "variableName" : "deregisterSubscriptionProviderRequest",
        "variableType" : "DeregisterSubscriptionProviderRequest",
        "documentation" : null,
        "simpleType" : "DeregisterSubscriptionProviderRequest",
        "variableSetterType" : "DeregisterSubscriptionProviderRequest"
      },
      "wrapper" : false
    },
    "DeregisterSubscriptionProviderResult" : {
      "c2jName" : "DeregisterSubscriptionProviderResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions.response.DeregisterSubscriptionProviderResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "DeregisterSubscriptionProviderResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterSubscriptionProviderResult",
        "variableName" : "deregisterSubscriptionProviderResult",
        "variableType" : "DeregisterSubscriptionProviderResult",
        "documentation" : null,
        "simpleType" : "DeregisterSubscriptionProviderResult",
        "variableSetterType" : "DeregisterSubscriptionProviderResult"
      },
      "wrapper" : false
    },
    "Filter" : {
      "c2jName" : "Filter",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A filter object that is used to return more specific results from a describe operation. Filters can be used to match a set of resources by specific criteria.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions.model.Filter",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The type of name to filter by.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The type of name to filter by.</p>\n@param name The type of name to filter by.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The type of name to filter by.</p>\n@return The type of name to filter by.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of name to filter by.</p>\n@param name The type of name to filter by.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of name to filter by.</p>\n@param name The type of name to filter by.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The type of name to filter by.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Operator",
        "c2jShape" : "Operator",
        "deprecated" : false,
        "documentation" : "<p>An operator for filtering results.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "Operator",
        "fluentSetterDocumentation" : "/**<p>An operator for filtering results.</p>\n@param operator An operator for filtering results.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Operator*/",
        "fluentSetterMethodName" : "withOperator",
        "getterDocumentation" : "/**<p>An operator for filtering results.</p>\n@return An operator for filtering results.\n@see Operator*/",
        "getterMethodName" : "getOperator",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Operator",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Operator",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Operator",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An operator for filtering results.</p>\n@param operator An operator for filtering results.\n@see Operator*/",
        "setterMethodName" : "setOperator",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "operator",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An operator for filtering results.</p>\n@param operator An operator for filtering results.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Operator*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "operator",
          "variableType" : "String",
          "documentation" : "<p>An operator for filtering results.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Values",
        "c2jShape" : "StringList",
        "deprecated" : false,
        "documentation" : "<p>One or more values for the name to filter by.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>One or more values for the name to filter by.</p>\n@param values One or more values for the name to filter by.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withValues",
        "getterDocumentation" : "/**<p>One or more values for the name to filter by.</p>\n@return One or more values for the name to filter by.*/",
        "getterMethodName" : "getValues",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Values",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Values",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "StringListMemberString",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Values",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>One or more values for the name to filter by.</p>\n@param values One or more values for the name to filter by.*/",
        "setterMethodName" : "setValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "values",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>One or more values for the name to filter by.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValues(java.util.Collection)} or {@link #withValues(java.util.Collection)} if you want to override the existing values.</p>\n@param values One or more values for the name to filter by.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "values",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>One or more values for the name to filter by.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The type of name to filter by.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The type of name to filter by.</p>\n@param name The type of name to filter by.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The type of name to filter by.</p>\n@return The type of name to filter by.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of name to filter by.</p>\n@param name The type of name to filter by.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of name to filter by.</p>\n@param name The type of name to filter by.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The type of name to filter by.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Operator" : {
          "c2jName" : "Operator",
          "c2jShape" : "Operator",
          "deprecated" : false,
          "documentation" : "<p>An operator for filtering results.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "Operator",
          "fluentSetterDocumentation" : "/**<p>An operator for filtering results.</p>\n@param operator An operator for filtering results.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Operator*/",
          "fluentSetterMethodName" : "withOperator",
          "getterDocumentation" : "/**<p>An operator for filtering results.</p>\n@return An operator for filtering results.\n@see Operator*/",
          "getterMethodName" : "getOperator",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Operator",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Operator",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Operator",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An operator for filtering results.</p>\n@param operator An operator for filtering results.\n@see Operator*/",
          "setterMethodName" : "setOperator",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "operator",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An operator for filtering results.</p>\n@param operator An operator for filtering results.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Operator*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "operator",
            "variableType" : "String",
            "documentation" : "<p>An operator for filtering results.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Values" : {
          "c2jName" : "Values",
          "c2jShape" : "StringList",
          "deprecated" : false,
          "documentation" : "<p>One or more values for the name to filter by.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>One or more values for the name to filter by.</p>\n@param values One or more values for the name to filter by.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withValues",
          "getterDocumentation" : "/**<p>One or more values for the name to filter by.</p>\n@return One or more values for the name to filter by.*/",
          "getterMethodName" : "getValues",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Values",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Values",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "StringListMemberString",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Values",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>One or more values for the name to filter by.</p>\n@param values One or more values for the name to filter by.*/",
          "setterMethodName" : "setValues",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "values",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>One or more values for the name to filter by.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValues(java.util.Collection)} or {@link #withValues(java.util.Collection)} if you want to override the existing values.</p>\n@param values One or more values for the name to filter by.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "values",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>One or more values for the name to filter by.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Filter",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Filter",
        "variableName" : "filter",
        "variableType" : "Filter",
        "documentation" : null,
        "simpleType" : "Filter",
        "variableSetterType" : "Filter"
      },
      "wrapper" : false
    },
    "GetRegisteredSubscriptionProviderRequest" : {
      "c2jName" : "GetRegisteredSubscriptionProviderRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions.request.GetRegisteredSubscriptionProviderRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetRegisteredSubscriptionProvider",
        "locationName" : null,
        "requestUri" : "/subscription/GetRegisteredSubscriptionProvider",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "SubscriptionProviderArn",
        "c2jShape" : "SubscriptionProviderArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubscriptionProviderArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>\n@return The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.*/",
        "getterMethodName" : "getSubscriptionProviderArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubscriptionProviderArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubscriptionProviderArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SubscriptionProviderArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.*/",
        "setterMethodName" : "setSubscriptionProviderArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SubscriptionProviderArn" : {
          "c2jName" : "SubscriptionProviderArn",
          "c2jShape" : "SubscriptionProviderArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSubscriptionProviderArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>\n@return The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.*/",
          "getterMethodName" : "getSubscriptionProviderArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SubscriptionProviderArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SubscriptionProviderArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SubscriptionProviderArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.*/",
          "setterMethodName" : "setSubscriptionProviderArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "subscriptionProviderArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "subscriptionProviderArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the BYOL registration resource to get details for.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "SubscriptionProviderArn" ],
      "shapeName" : "GetRegisteredSubscriptionProviderRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRegisteredSubscriptionProviderRequest",
        "variableName" : "getRegisteredSubscriptionProviderRequest",
        "variableType" : "GetRegisteredSubscriptionProviderRequest",
        "documentation" : null,
        "simpleType" : "GetRegisteredSubscriptionProviderRequest",
        "variableSetterType" : "GetRegisteredSubscriptionProviderRequest"
      },
      "wrapper" : false
    },
    "GetRegisteredSubscriptionProviderResult" : {
      "c2jName" : "GetRegisteredSubscriptionProviderResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.licensemanagerlinuxsubscriptions.response.GetRegisteredSubscriptionProviderResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "LastSuccessfulDataRetrievalTime",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The timestamp from the last time License Manager retrieved subscription details from your registered third-party Linux subscription provider.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The timestamp from the last time License Manager retrieved subscription details from your registered third-party Linux subscription provider.</p>\n@param lastSuccessfulDataRetrievalTime The timestamp from the last time License Manager retrieved subscription details from your registered third-party Linux subscription provider.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastSuccessfulDataRetrievalTime",
        "getterDocumentation" : "/**<p>The timestamp from the last time License Manager retrieved subscription details from your registered third-party Linux subscription provider.</p>\n@return The timestamp from the last time License Manager retrieved subscription details from your registered third-party Linux subscription provider.*/",
        "getterMethodName" : "getLastSuccessfulDataRetrievalTime",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastSuccessfulDataRetrievalTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastSuccessfulDataRetrievalTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LastSuccessfulDataRetrievalTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The timestamp from the last time License Manager retrieved subscription details from your registered third-party Linux subscription provider.</p>\n@param lastSuccessfulDataRetrievalTime The timestamp from the last time License Manager retrieved subscription details from your registered third-party Linux subscription provider.*/",
        "setterMethodName" : "setLastSuccessfulDataRetrievalTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "lastSuccessfulDataRetrievalTime",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The timestamp from the last time License Manager retrieved subscription details from your registered third-party Linux subscription provider.</p>\n@param lastSuccessfulDataRetrievalTime The timestamp from the last time License Manager retrieved subscription details from your registered third-party Linux subscription provider.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "lastSuccessfulDataRetrievalTime",
          "variableType" : "String",
          "documentation" : "<p>The timestamp from the last time License Manager retrieved subscription details from your registered third-party Linux subscription provider.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SecretArn",
        "c2jShape" : "SecretArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the third-party access secret stored in Secrets Manager for the BYOL registration resource specified in the request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the third-party access secret stored in Secrets Manager for the BYOL registration resource specified in the request.</p>\n@param secretArn The Amazon Resource Name (ARN) of the third-party access secret stored in Secrets Manager for the BYOL registration resource specified in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecretArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the third-party access secret stored in Secrets Manager for the BYOL registration resource specified in the request.</p>\n@return The Amazon Resource Name (ARN) of the third-party access secret stored in Secrets Manager for the BYOL registration resource specified in the request.*/",
        "getterMethodName" : "getSecretArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SecretArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SecretArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SecretArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the third-party access secret stored in Secrets Manager for the BYOL registration resource specified in the request.</p>\n@param secretArn The Amazon Resource Name (ARN) of the third-party access secret stored in Secrets Manager for the BYOL registration resource specified in the request.*/",
        "setterMethodName" : "setSecretArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secretArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the third-party access secret stored in Secrets Manager for the BYOL registration resource specified in the request.</p>\n@param secretArn The Amazon Resource Name (ARN) of the third-party access secret stored in Secrets Manager for the BYOL registration resource specified in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secretArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the third-party access secret stored in Secrets Manager for the BYOL registration resource specified in the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubscriptionProviderArn",
        "c2jShape" : "SubscriptionProviderArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) for the BYOL registration resource specified in the request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the BYOL registration resource specified in the request.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) for the BYOL registration resource specified in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubscriptionProviderArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the BYOL registration resource specified in the request.</p>\n@return The Amazon Resource Name (ARN) for the BYOL registration resource specified in the request.*/",
        "getterMethodName" : "getSubscriptionProviderArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubscriptionProviderArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubscriptionProviderArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SubscriptionProviderArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the BYOL registration resource specified in the request.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) for the BYOL registration resource specified in the request.*/",
        "setterMethodName" : "setSubscriptionProviderArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the BYOL registration resource specified in the request.</p>\n@param subscriptionProviderArn The Amazon Resource Name (ARN) for the BYOL registration resource specified in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) for the BYOL registration resource specified in the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubscriptionProviderSource",
        "c2jShape" : "SubscriptionProviderSource",
        "deprecated" : false,
        "documentation" : "<p>The subscription provider for the BYOL registration resource specified in the request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "SubscriptionProviderSource",
        "fluentSetterDocumentation" : "/**<p>The subscription provider for the BYOL registration resource specified in the request.</p>\n@param subscriptionProviderSource The subscription provider for the BYOL registration resource specified in the request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SubscriptionProviderSource*/",
        "fluentSetterMethodName" : "withSubscriptionProviderSource",
        "getterDocumentation" : "/**<p>The subscription provider for the BYOL registration resource specified in the request.</p>\n@return The subscription provider for the BYOL registration resource specified in the request.\n@see SubscriptionProviderSource*/",
        "getterMethodName" : "getSubscriptionProviderSource",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubscriptionProviderSource",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubscriptionProviderSource",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SubscriptionProviderSource",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The subscription provider for the BYOL registration resource specified in the request.</p>\n@param subscriptionProviderSource The subscription provider for the BYOL registration resource specified in the request.\n@see SubscriptionProviderSource*/",
        "setterMethodName" : "setSubscriptionProviderSource",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderSource",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The subscription provider for the BYOL registration resource specified in the request.</p>\n@param subscriptionProviderSource The subscription provider for the BYOL registration resource specified in the request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SubscriptionProviderSource*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderSource",
          "variableType" : "String",
          "documentation" : "<p>The subscription provider for the BYOL registration resource specified in the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubscriptionProviderStatus",
        "c2jShape" : "SubscriptionProviderStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the Linux subscription provider access token from the last successful subscription data request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "SubscriptionProviderStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the Linux subscription provider access token from the last successful subscription data request.</p>\n@param subscriptionProviderStatus The status of the Linux subscription provider access token from the last successful subscription data request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SubscriptionProviderStatus*/",
        "fluentSetterMethodName" : "withSubscriptionProviderStatus",
        "getterDocumentation" : "/**<p>The status of the Linux subscription provider access token from the last successful subscription data request.</p>\n@return The status of the Linux subscription provider access token from the last successful subscription data request.\n@see SubscriptionProviderStatus*/",
        "getterMethodName" : "getSubscriptionProviderStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubscriptionProviderStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubscriptionProviderStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SubscriptionProviderStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the Linux subscription provider access token from the last successful subscription data request.</p>\n@param subscriptionProviderStatus The status of the Linux subscription provider access token from the last successful subscription data request.\n@see SubscriptionProviderStatus*/",
        "setterMethodName" : "setSubscriptionProviderStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the Linux subscription provider access token from the last successful subscription data request.</p>\n@param subscriptionProviderStatus The status of the Linux subscription provider access token from the last successful subscription data request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SubscriptionProviderStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderStatus",
          "variableType" : "String",
          "documentation" : "<p>The status of the Linux subscription provider access token from the last successful subscription data request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubscriptionProviderStatusMessage",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The detailed message from your subscription provider token status.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The detailed message from your subscription provider token status.</p>\n@param subscriptionProviderStatusMessage The detailed message from your subscription provider token status.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubscriptionProviderStatusMessage",
        "getterDocumentation" : "/**<p>The detailed message from your subscription provider token status.</p>\n@return The detailed message from your subscription provider token status.*/",
        "getterMethodName" : "getSubscriptionProviderStatusMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubscriptionProviderStatusMessage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubscriptionProviderStatusMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SubscriptionProviderStatusMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The detailed message from your subscription provider token status.</p>\n@param subscriptionProviderStatusMessage The detailed message from your subscription provider token status.*/",
        "setterMethodName" : "setSubscriptionProviderStatusMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderStatusMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The detailed message from your subscription provider token status.</p>\n@param subscriptionProviderStatusMessage The detailed message from your subscription provider token status.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subscriptionProviderStatusMessage",
          "variableType" : "String",
          "documentation" : "<p>The detailed message from your subscription provider token status.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
[...]
