{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-11-28",
    "asyncClient" : "AmazonLightsailAsyncClient",
    "asyncClientBuilderClassName" : "AmazonLightsailAsyncClientBuilder",
    "asyncInterface" : "AmazonLightsailAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonLightsailModuleInjector",
    "defaultEndpoint" : "lightsail.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "lightsail.us-east-1.amazonaws.com",
    "documentation" : "<p>Amazon Lightsail is the easiest way to get started with AWS for developers who just need virtual private servers. Lightsail includes everything you need to launch your project quickly - a virtual machine, SSD-based storage, data transfer, DNS management, and a static IP - for a low, predictable price. You manage those Lightsail servers through the Lightsail console or by using the API or command-line interface (CLI).</p> <p>For more information about Lightsail concepts and tasks, see the <a href=\"http://lightsail.aws.amazon.com/ls/docs\">Lightsail Dev Guide</a>.</p> <p>To use the Lightsail API or the CLI, you will need to use AWS Identity and Access Management (IAM) to generate access keys. For details about how to set this up, see the <a href=\"http://lightsail.aws.amazon.com/ls/docs/how-to/articles/lightsail-how-to-set-up-access-keys-to-use-sdk-api-cli\">Lightsail Dev Guide</a>.</p>",
    "endpointPrefix" : "lightsail",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.lightsail",
    "packagePath" : "com/amazonaws/services/lightsail",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Lightsail",
    "serviceName" : "Amazon Lightsail",
    "signingName" : "lightsail",
    "smokeTestsPackageName" : "com.amazonaws.services.lightsail.smoketests",
    "syncClient" : "AmazonLightsailClient",
    "syncClientBuilderClassName" : "AmazonLightsailClientBuilder",
    "syncInterface" : "AmazonLightsail",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AllocateStaticIp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AllocateStaticIpResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AllocateStaticIpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocateStaticIpRequest, AllocateStaticIpResult>",
      "asyncReturnType" : "AllocateStaticIpResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allocates a static IP address.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AllocateStaticIpRequest",
        "variableName" : "allocateStaticIpRequest",
        "variableType" : "AllocateStaticIpRequest",
        "documentation" : "",
        "simpleType" : "AllocateStaticIpRequest",
        "variableSetterType" : "AllocateStaticIpRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "allocateStaticIp",
      "operationName" : "AllocateStaticIp",
      "returnType" : {
        "returnType" : "AllocateStaticIpResult",
        "documentation" : null
      },
      "syncReturnType" : "AllocateStaticIpResult"
    },
    "AttachStaticIp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AttachStaticIpResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AttachStaticIpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachStaticIpRequest, AttachStaticIpResult>",
      "asyncReturnType" : "AttachStaticIpResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches a static IP address to a specific Amazon Lightsail instance.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AttachStaticIpRequest",
        "variableName" : "attachStaticIpRequest",
        "variableType" : "AttachStaticIpRequest",
        "documentation" : "",
        "simpleType" : "AttachStaticIpRequest",
        "variableSetterType" : "AttachStaticIpRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "attachStaticIp",
      "operationName" : "AttachStaticIp",
      "returnType" : {
        "returnType" : "AttachStaticIpResult",
        "documentation" : null
      },
      "syncReturnType" : "AttachStaticIpResult"
    },
    "CloseInstancePublicPorts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CloseInstancePublicPortsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CloseInstancePublicPortsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CloseInstancePublicPortsRequest, CloseInstancePublicPortsResult>",
      "asyncReturnType" : "CloseInstancePublicPortsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Closes the public ports on a specific Amazon Lightsail instance.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CloseInstancePublicPortsRequest",
        "variableName" : "closeInstancePublicPortsRequest",
        "variableType" : "CloseInstancePublicPortsRequest",
        "documentation" : "",
        "simpleType" : "CloseInstancePublicPortsRequest",
        "variableSetterType" : "CloseInstancePublicPortsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "closeInstancePublicPorts",
      "operationName" : "CloseInstancePublicPorts",
      "returnType" : {
        "returnType" : "CloseInstancePublicPortsResult",
        "documentation" : null
      },
      "syncReturnType" : "CloseInstancePublicPortsResult"
    },
    "CreateDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainRequest, CreateDomainResult>",
      "asyncReturnType" : "CreateDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a domain resource for the specified domain (e.g., example.com).</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDomainRequest",
        "variableName" : "createDomainRequest",
        "variableType" : "CreateDomainRequest",
        "documentation" : "",
        "simpleType" : "CreateDomainRequest",
        "variableSetterType" : "CreateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDomain",
      "operationName" : "CreateDomain",
      "returnType" : {
        "returnType" : "CreateDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDomainResult"
    },
    "CreateDomainEntry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainEntryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainEntryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainEntryRequest, CreateDomainEntryResult>",
      "asyncReturnType" : "CreateDomainEntryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates one of the following entry records associated with the domain: A record, CNAME record, TXT record, or MX record.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDomainEntryRequest",
        "variableName" : "createDomainEntryRequest",
        "variableType" : "CreateDomainEntryRequest",
        "documentation" : "",
        "simpleType" : "CreateDomainEntryRequest",
        "variableSetterType" : "CreateDomainEntryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDomainEntry",
      "operationName" : "CreateDomainEntry",
      "returnType" : {
        "returnType" : "CreateDomainEntryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDomainEntryResult"
    },
    "CreateInstanceSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInstanceSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInstanceSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInstanceSnapshotRequest, CreateInstanceSnapshotResult>",
      "asyncReturnType" : "CreateInstanceSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a snapshot of a specific virtual private server, or <i>instance</i>. You can use a snapshot to create a new instance that is based on that snapshot.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateInstanceSnapshotRequest",
        "variableName" : "createInstanceSnapshotRequest",
        "variableType" : "CreateInstanceSnapshotRequest",
        "documentation" : "",
        "simpleType" : "CreateInstanceSnapshotRequest",
        "variableSetterType" : "CreateInstanceSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInstanceSnapshot",
      "operationName" : "CreateInstanceSnapshot",
      "returnType" : {
        "returnType" : "CreateInstanceSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateInstanceSnapshotResult"
    },
    "CreateInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInstancesRequest, CreateInstancesResult>",
      "asyncReturnType" : "CreateInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates one or more Amazon Lightsail virtual private servers, or <i>instances</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateInstancesRequest",
        "variableName" : "createInstancesRequest",
        "variableType" : "CreateInstancesRequest",
        "documentation" : "",
        "simpleType" : "CreateInstancesRequest",
        "variableSetterType" : "CreateInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInstances",
      "operationName" : "CreateInstances",
      "returnType" : {
        "returnType" : "CreateInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateInstancesResult"
    },
    "CreateInstancesFromSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInstancesFromSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInstancesFromSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInstancesFromSnapshotRequest, CreateInstancesFromSnapshotResult>",
      "asyncReturnType" : "CreateInstancesFromSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uses a specific snapshot as a blueprint for creating one or more new instances that are based on that identical configuration.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateInstancesFromSnapshotRequest",
        "variableName" : "createInstancesFromSnapshotRequest",
        "variableType" : "CreateInstancesFromSnapshotRequest",
        "documentation" : "",
        "simpleType" : "CreateInstancesFromSnapshotRequest",
        "variableSetterType" : "CreateInstancesFromSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInstancesFromSnapshot",
      "operationName" : "CreateInstancesFromSnapshot",
      "returnType" : {
        "returnType" : "CreateInstancesFromSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateInstancesFromSnapshotResult"
    },
    "CreateKeyPair" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKeyPairResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKeyPairResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKeyPairRequest, CreateKeyPairResult>",
      "asyncReturnType" : "CreateKeyPairResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates sn SSH key pair.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateKeyPairRequest",
        "variableName" : "createKeyPairRequest",
        "variableType" : "CreateKeyPairRequest",
        "documentation" : "",
        "simpleType" : "CreateKeyPairRequest",
        "variableSetterType" : "CreateKeyPairRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKeyPair",
      "operationName" : "CreateKeyPair",
      "returnType" : {
        "returnType" : "CreateKeyPairResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKeyPairResult"
    },
    "DeleteDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainRequest, DeleteDomainResult>",
      "asyncReturnType" : "DeleteDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified domain recordset and all of its domain records.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDomainRequest",
        "variableName" : "deleteDomainRequest",
        "variableType" : "DeleteDomainRequest",
        "documentation" : "",
        "simpleType" : "DeleteDomainRequest",
        "variableSetterType" : "DeleteDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDomain",
      "operationName" : "DeleteDomain",
      "returnType" : {
        "returnType" : "DeleteDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDomainResult"
    },
    "DeleteDomainEntry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDomainEntryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDomainEntryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainEntryRequest, DeleteDomainEntryResult>",
      "asyncReturnType" : "DeleteDomainEntryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific domain entry.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDomainEntryRequest",
        "variableName" : "deleteDomainEntryRequest",
        "variableType" : "DeleteDomainEntryRequest",
        "documentation" : "",
        "simpleType" : "DeleteDomainEntryRequest",
        "variableSetterType" : "DeleteDomainEntryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDomainEntry",
      "operationName" : "DeleteDomainEntry",
      "returnType" : {
        "returnType" : "DeleteDomainEntryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDomainEntryResult"
    },
    "DeleteInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInstanceRequest, DeleteInstanceResult>",
      "asyncReturnType" : "DeleteInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific Amazon Lightsail virtual private server, or <i>instance</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteInstanceRequest",
        "variableName" : "deleteInstanceRequest",
        "variableType" : "DeleteInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeleteInstanceRequest",
        "variableSetterType" : "DeleteInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInstance",
      "operationName" : "DeleteInstance",
      "returnType" : {
        "returnType" : "DeleteInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInstanceResult"
    },
    "DeleteInstanceSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInstanceSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInstanceSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInstanceSnapshotRequest, DeleteInstanceSnapshotResult>",
      "asyncReturnType" : "DeleteInstanceSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific snapshot of a virtual private server (or <i>instance</i>).</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteInstanceSnapshotRequest",
        "variableName" : "deleteInstanceSnapshotRequest",
        "variableType" : "DeleteInstanceSnapshotRequest",
        "documentation" : "",
        "simpleType" : "DeleteInstanceSnapshotRequest",
        "variableSetterType" : "DeleteInstanceSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInstanceSnapshot",
      "operationName" : "DeleteInstanceSnapshot",
      "returnType" : {
        "returnType" : "DeleteInstanceSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInstanceSnapshotResult"
    },
    "DeleteKeyPair" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteKeyPairResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteKeyPairResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteKeyPairRequest, DeleteKeyPairResult>",
      "asyncReturnType" : "DeleteKeyPairResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific SSH key pair.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteKeyPairRequest",
        "variableName" : "deleteKeyPairRequest",
        "variableType" : "DeleteKeyPairRequest",
        "documentation" : "",
        "simpleType" : "DeleteKeyPairRequest",
        "variableSetterType" : "DeleteKeyPairRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteKeyPair",
      "operationName" : "DeleteKeyPair",
      "returnType" : {
        "returnType" : "DeleteKeyPairResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteKeyPairResult"
    },
    "DetachStaticIp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetachStaticIpResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetachStaticIpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachStaticIpRequest, DetachStaticIpResult>",
      "asyncReturnType" : "DetachStaticIpResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detaches a static IP from the Amazon Lightsail instance to which it is attached.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetachStaticIpRequest",
        "variableName" : "detachStaticIpRequest",
        "variableType" : "DetachStaticIpRequest",
        "documentation" : "",
        "simpleType" : "DetachStaticIpRequest",
        "variableSetterType" : "DetachStaticIpRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detachStaticIp",
      "operationName" : "DetachStaticIp",
      "returnType" : {
        "returnType" : "DetachStaticIpResult",
        "documentation" : null
      },
      "syncReturnType" : "DetachStaticIpResult"
    },
    "DownloadDefaultKeyPair" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DownloadDefaultKeyPairResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DownloadDefaultKeyPairResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DownloadDefaultKeyPairRequest, DownloadDefaultKeyPairResult>",
      "asyncReturnType" : "DownloadDefaultKeyPairResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Downloads the default SSH key pair from the user's account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DownloadDefaultKeyPairRequest",
        "variableName" : "downloadDefaultKeyPairRequest",
        "variableType" : "DownloadDefaultKeyPairRequest",
        "documentation" : "",
        "simpleType" : "DownloadDefaultKeyPairRequest",
        "variableSetterType" : "DownloadDefaultKeyPairRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "downloadDefaultKeyPair",
      "operationName" : "DownloadDefaultKeyPair",
      "returnType" : {
        "returnType" : "DownloadDefaultKeyPairResult",
        "documentation" : null
      },
      "syncReturnType" : "DownloadDefaultKeyPairResult"
    },
    "GetActiveNames" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetActiveNamesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetActiveNamesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetActiveNamesRequest, GetActiveNamesResult>",
      "asyncReturnType" : "GetActiveNamesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the names of all active (not deleted) resources.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetActiveNamesRequest",
        "variableName" : "getActiveNamesRequest",
        "variableType" : "GetActiveNamesRequest",
        "documentation" : "",
        "simpleType" : "GetActiveNamesRequest",
        "variableSetterType" : "GetActiveNamesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getActiveNames",
      "operationName" : "GetActiveNames",
      "returnType" : {
        "returnType" : "GetActiveNamesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetActiveNamesResult"
    },
    "GetBlueprints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBlueprintsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBlueprintsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBlueprintsRequest, GetBlueprintsResult>",
      "asyncReturnType" : "GetBlueprintsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of available instance images, or <i>blueprints</i>. You can use a blueprint to create a new virtual private server already running a specific operating system, as well as a preinstalled app or development stack. The software each instance is running depends on the blueprint image you choose.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetBlueprintsRequest",
        "variableName" : "getBlueprintsRequest",
        "variableType" : "GetBlueprintsRequest",
        "documentation" : "",
        "simpleType" : "GetBlueprintsRequest",
        "variableSetterType" : "GetBlueprintsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBlueprints",
      "operationName" : "GetBlueprints",
      "returnType" : {
        "returnType" : "GetBlueprintsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBlueprintsResult"
    },
    "GetBundles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBundlesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBundlesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBundlesRequest, GetBundlesResult>",
      "asyncReturnType" : "GetBundlesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of bundles that are available for purchase. A bundle describes the specs for your virtual private server (or <i>instance</i>).</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetBundlesRequest",
        "variableName" : "getBundlesRequest",
        "variableType" : "GetBundlesRequest",
        "documentation" : "",
        "simpleType" : "GetBundlesRequest",
        "variableSetterType" : "GetBundlesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBundles",
      "operationName" : "GetBundles",
      "returnType" : {
        "returnType" : "GetBundlesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBundlesResult"
    },
    "GetDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainRequest, GetDomainResult>",
      "asyncReturnType" : "GetDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific domain recordset.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDomainRequest",
        "variableName" : "getDomainRequest",
        "variableType" : "GetDomainRequest",
        "documentation" : "",
        "simpleType" : "GetDomainRequest",
        "variableSetterType" : "GetDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomain",
      "operationName" : "GetDomain",
      "returnType" : {
        "returnType" : "GetDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDomainResult"
    },
    "GetDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainsRequest, GetDomainsResult>",
      "asyncReturnType" : "GetDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all domains in the user's account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDomainsRequest",
        "variableName" : "getDomainsRequest",
        "variableType" : "GetDomainsRequest",
        "documentation" : "",
        "simpleType" : "GetDomainsRequest",
        "variableSetterType" : "GetDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomains",
      "operationName" : "GetDomains",
      "returnType" : {
        "returnType" : "GetDomainsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDomainsResult"
    },
    "GetInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstanceRequest, GetInstanceResult>",
      "asyncReturnType" : "GetInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific Amazon Lightsail instance, which is a virtual private server.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstanceRequest",
        "variableName" : "getInstanceRequest",
        "variableType" : "GetInstanceRequest",
        "documentation" : "",
        "simpleType" : "GetInstanceRequest",
        "variableSetterType" : "GetInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstance",
      "operationName" : "GetInstance",
      "returnType" : {
        "returnType" : "GetInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstanceResult"
    },
    "GetInstanceAccessDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstanceAccessDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstanceAccessDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstanceAccessDetailsRequest, GetInstanceAccessDetailsResult>",
      "asyncReturnType" : "GetInstanceAccessDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns temporary SSH keys you can use to connect to a specific virtual private server, or <i>instance</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstanceAccessDetailsRequest",
        "variableName" : "getInstanceAccessDetailsRequest",
        "variableType" : "GetInstanceAccessDetailsRequest",
        "documentation" : "",
        "simpleType" : "GetInstanceAccessDetailsRequest",
        "variableSetterType" : "GetInstanceAccessDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstanceAccessDetails",
      "operationName" : "GetInstanceAccessDetails",
      "returnType" : {
        "returnType" : "GetInstanceAccessDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstanceAccessDetailsResult"
    },
    "GetInstanceMetricData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstanceMetricDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstanceMetricDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstanceMetricDataRequest, GetInstanceMetricDataResult>",
      "asyncReturnType" : "GetInstanceMetricDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the data points for the specified Amazon Lightsail instance metric, given an instance name.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstanceMetricDataRequest",
        "variableName" : "getInstanceMetricDataRequest",
        "variableType" : "GetInstanceMetricDataRequest",
        "documentation" : "",
        "simpleType" : "GetInstanceMetricDataRequest",
        "variableSetterType" : "GetInstanceMetricDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstanceMetricData",
      "operationName" : "GetInstanceMetricData",
      "returnType" : {
        "returnType" : "GetInstanceMetricDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstanceMetricDataResult"
    },
    "GetInstancePortStates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstancePortStatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstancePortStatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstancePortStatesRequest, GetInstancePortStatesResult>",
      "asyncReturnType" : "GetInstancePortStatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the port states for a specific virtual private server, or <i>instance</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstancePortStatesRequest",
        "variableName" : "getInstancePortStatesRequest",
        "variableType" : "GetInstancePortStatesRequest",
        "documentation" : "",
        "simpleType" : "GetInstancePortStatesRequest",
        "variableSetterType" : "GetInstancePortStatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstancePortStates",
      "operationName" : "GetInstancePortStates",
      "returnType" : {
        "returnType" : "GetInstancePortStatesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstancePortStatesResult"
    },
    "GetInstanceSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstanceSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstanceSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstanceSnapshotRequest, GetInstanceSnapshotResult>",
      "asyncReturnType" : "GetInstanceSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific instance snapshot.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstanceSnapshotRequest",
        "variableName" : "getInstanceSnapshotRequest",
        "variableType" : "GetInstanceSnapshotRequest",
        "documentation" : "",
        "simpleType" : "GetInstanceSnapshotRequest",
        "variableSetterType" : "GetInstanceSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstanceSnapshot",
      "operationName" : "GetInstanceSnapshot",
      "returnType" : {
        "returnType" : "GetInstanceSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstanceSnapshotResult"
    },
    "GetInstanceSnapshots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstanceSnapshotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstanceSnapshotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstanceSnapshotsRequest, GetInstanceSnapshotsResult>",
      "asyncReturnType" : "GetInstanceSnapshotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all instance snapshots for the user's account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstanceSnapshotsRequest",
        "variableName" : "getInstanceSnapshotsRequest",
        "variableType" : "GetInstanceSnapshotsRequest",
        "documentation" : "",
        "simpleType" : "GetInstanceSnapshotsRequest",
        "variableSetterType" : "GetInstanceSnapshotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstanceSnapshots",
      "operationName" : "GetInstanceSnapshots",
      "returnType" : {
        "returnType" : "GetInstanceSnapshotsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstanceSnapshotsResult"
    },
    "GetInstanceState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstanceStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstanceStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstanceStateRequest, GetInstanceStateResult>",
      "asyncReturnType" : "GetInstanceStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the state of a specific instance. Works on one instance at a time.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstanceStateRequest",
        "variableName" : "getInstanceStateRequest",
        "variableType" : "GetInstanceStateRequest",
        "documentation" : "",
        "simpleType" : "GetInstanceStateRequest",
        "variableSetterType" : "GetInstanceStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstanceState",
      "operationName" : "GetInstanceState",
      "returnType" : {
        "returnType" : "GetInstanceStateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstanceStateResult"
    },
    "GetInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstancesRequest, GetInstancesResult>",
      "asyncReturnType" : "GetInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about all Amazon Lightsail virtual private servers, or <i>instances</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstancesRequest",
        "variableName" : "getInstancesRequest",
        "variableType" : "GetInstancesRequest",
        "documentation" : "",
        "simpleType" : "GetInstancesRequest",
        "variableSetterType" : "GetInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstances",
      "operationName" : "GetInstances",
      "returnType" : {
        "returnType" : "GetInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstancesResult"
    },
    "GetKeyPair" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKeyPairResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKeyPairResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKeyPairRequest, GetKeyPairResult>",
      "asyncReturnType" : "GetKeyPairResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific key pair.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetKeyPairRequest",
        "variableName" : "getKeyPairRequest",
        "variableType" : "GetKeyPairRequest",
        "documentation" : "",
        "simpleType" : "GetKeyPairRequest",
        "variableSetterType" : "GetKeyPairRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKeyPair",
      "operationName" : "GetKeyPair",
      "returnType" : {
        "returnType" : "GetKeyPairResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKeyPairResult"
    },
    "GetKeyPairs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKeyPairsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKeyPairsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKeyPairsRequest, GetKeyPairsResult>",
      "asyncReturnType" : "GetKeyPairsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about all key pairs in the user's account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetKeyPairsRequest",
        "variableName" : "getKeyPairsRequest",
        "variableType" : "GetKeyPairsRequest",
        "documentation" : "",
        "simpleType" : "GetKeyPairsRequest",
        "variableSetterType" : "GetKeyPairsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKeyPairs",
      "operationName" : "GetKeyPairs",
      "returnType" : {
        "returnType" : "GetKeyPairsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKeyPairsResult"
    },
    "GetOperation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOperationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOperationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOperationRequest, GetOperationResult>",
      "asyncReturnType" : "GetOperationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific operation. Operations include events such as when you create an instance, allocate a static IP, attach a static IP, and so on.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetOperationRequest",
        "variableName" : "getOperationRequest",
        "variableType" : "GetOperationRequest",
        "documentation" : "",
        "simpleType" : "GetOperationRequest",
        "variableSetterType" : "GetOperationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOperation",
      "operationName" : "GetOperation",
      "returnType" : {
        "returnType" : "GetOperationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOperationResult"
    },
    "GetOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOperationsRequest, GetOperationsResult>",
      "asyncReturnType" : "GetOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about all operations.</p> <p>Results are returned from oldest to newest, up to a maximum of 200. Results can be paged by making each subsequent call to <code>GetOperations</code> use the maximum (last) <code>statusChangedAt</code> value from the previous request.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetOperationsRequest",
        "variableName" : "getOperationsRequest",
        "variableType" : "GetOperationsRequest",
        "documentation" : "",
        "simpleType" : "GetOperationsRequest",
        "variableSetterType" : "GetOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOperations",
      "operationName" : "GetOperations",
      "returnType" : {
        "returnType" : "GetOperationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOperationsResult"
    },
    "GetOperationsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOperationsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOperationsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOperationsForResourceRequest, GetOperationsForResourceResult>",
      "asyncReturnType" : "GetOperationsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets operations for a specific resource (e.g., an instance or a static IP).</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetOperationsForResourceRequest",
        "variableName" : "getOperationsForResourceRequest",
        "variableType" : "GetOperationsForResourceRequest",
        "documentation" : "",
        "simpleType" : "GetOperationsForResourceRequest",
        "variableSetterType" : "GetOperationsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOperationsForResource",
      "operationName" : "GetOperationsForResource",
      "returnType" : {
        "returnType" : "GetOperationsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOperationsForResourceResult"
    },
    "GetRegions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRegionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRegionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRegionsRequest, GetRegionsResult>",
      "asyncReturnType" : "GetRegionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all valid regions for Amazon Lightsail.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetRegionsRequest",
        "variableName" : "getRegionsRequest",
        "variableType" : "GetRegionsRequest",
        "documentation" : "",
        "simpleType" : "GetRegionsRequest",
        "variableSetterType" : "GetRegionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRegions",
      "operationName" : "GetRegions",
      "returnType" : {
        "returnType" : "GetRegionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRegionsResult"
    },
    "GetStaticIp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStaticIpResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStaticIpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStaticIpRequest, GetStaticIpResult>",
      "asyncReturnType" : "GetStaticIpResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific static IP.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetStaticIpRequest",
        "variableName" : "getStaticIpRequest",
        "variableType" : "GetStaticIpRequest",
        "documentation" : "",
        "simpleType" : "GetStaticIpRequest",
        "variableSetterType" : "GetStaticIpRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStaticIp",
      "operationName" : "GetStaticIp",
      "returnType" : {
        "returnType" : "GetStaticIpResult",
        "documentation" : null
      },
      "syncReturnType" : "GetStaticIpResult"
    },
    "GetStaticIps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStaticIpsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStaticIpsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStaticIpsRequest, GetStaticIpsResult>",
      "asyncReturnType" : "GetStaticIpsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about all static IPs in the user's account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetStaticIpsRequest",
        "variableName" : "getStaticIpsRequest",
        "variableType" : "GetStaticIpsRequest",
        "documentation" : "",
        "simpleType" : "GetStaticIpsRequest",
        "variableSetterType" : "GetStaticIpsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStaticIps",
      "operationName" : "GetStaticIps",
      "returnType" : {
        "returnType" : "GetStaticIpsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetStaticIpsResult"
    },
    "ImportKeyPair" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportKeyPairResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportKeyPairResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportKeyPairRequest, ImportKeyPairResult>",
      "asyncReturnType" : "ImportKeyPairResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports a public SSH key from a specific key pair.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ImportKeyPairRequest",
        "variableName" : "importKeyPairRequest",
        "variableType" : "ImportKeyPairRequest",
        "documentation" : "",
        "simpleType" : "ImportKeyPairRequest",
        "variableSetterType" : "ImportKeyPairRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importKeyPair",
      "operationName" : "ImportKeyPair",
      "returnType" : {
        "returnType" : "ImportKeyPairResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportKeyPairResult"
    },
    "IsVpcPeered" : {
      "asyncCallableType" : "java.util.concurrent.Callable<IsVpcPeeredResult>",
      "asyncFutureType" : "java.util.concurrent.Future<IsVpcPeeredResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<IsVpcPeeredRequest, IsVpcPeeredResult>",
      "asyncReturnType" : "IsVpcPeeredResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a Boolean value indicating whether your Lightsail VPC is peered.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>A general service exception.</p>"
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Lightsail throws this exception when user input does not conform to the validation rules of an input field.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Lightsail throws this exception when it cannot find a resource.</p>"
      }, {
        "exceptionName" : "OperationFailureException",
        "documentation" : "<p>Lightsail throws this exception when an operation fails to execute.</p>"
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.</p>"
      }, {
        "exceptionName" : "AccountSetupInProgressException",
        "documentation" : "<p>Lightsail throws this exception when an account is still in the setup in progress state.</p>"
      }, {
        "exceptionName" : "UnauthenticatedException",
        "documentation" : "<p>Lightsail throws this exception when the user has not been authenticated.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "IsVpcPeeredRequest",
        "variableName" : "isVpcPeeredRequest",
        "variableType" : "IsVpcPeeredRequest",
        "documentation" : "",
        "simpleType" : "IsVpcPeeredRequest",
        "variableSetterType" : "IsVpcPeeredRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "isVpcPeered",
      "operationName" : "IsVpcPeered",
      "returnType" : {
        "returnType" : "IsVpcPeeredResult",
        "documentation" : null
      },
      "syncReturnType" : "IsVpcPeeredResult"
    },
    "OpenInstancePublicPorts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<OpenInstancePublicPortsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<OpenInstancePublicPortsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<OpenInstancePublicPortsRequest, OpenInstancePublicPortsResult>",
      "asyncReturnType" : "OpenInstancePublicPortsResult",
[...]
