{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-11-19",
    "asyncClient" : "AmazonLocationAsyncClient",
    "asyncClientBuilderClassName" : "AmazonLocationAsyncClientBuilder",
    "asyncInterface" : "AmazonLocationAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonLocationModuleInjector",
    "defaultEndpoint" : "geo.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "geo.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Suite of geospatial services including Maps, Places, Tracking, and Geofencing</p>",
    "endpointPrefix" : "geo",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.location",
    "packagePath" : "com/amazonaws/services/location",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Location Service",
    "serviceId" : "Location",
    "serviceName" : "Amazon Location Service",
    "signingName" : "geo",
    "smokeTestsPackageName" : "com.amazonaws.services.location.smoketests",
    "syncClient" : "AmazonLocationClient",
    "syncClientBuilderClassName" : "AmazonLocationClientBuilder",
    "syncInterface" : "AmazonLocation",
    "uid" : "location-2020-11-19",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateTrackerConsumer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateTrackerConsumerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateTrackerConsumerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateTrackerConsumerRequest, AssociateTrackerConsumerResult>",
      "asyncReturnType" : "AssociateTrackerConsumerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an association between a geofence collection and a tracker resource. This allows the tracker resource to communicate location data to the linked geofence collection.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request was unsuccessful due to a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateTrackerConsumerRequest",
        "variableName" : "associateTrackerConsumerRequest",
        "variableType" : "AssociateTrackerConsumerRequest",
        "documentation" : "",
        "simpleType" : "AssociateTrackerConsumerRequest",
        "variableSetterType" : "AssociateTrackerConsumerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateTrackerConsumer",
      "operationName" : "AssociateTrackerConsumer",
      "returnType" : {
        "returnType" : "AssociateTrackerConsumerResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateTrackerConsumerResult"
    },
    "BatchDeleteGeofence" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteGeofenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteGeofenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteGeofenceRequest, BatchDeleteGeofenceResult>",
      "asyncReturnType" : "BatchDeleteGeofenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a batch of geofences from a geofence collection.</p> <note> <p>This action deletes the resource permanently. You can't undo this action.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "geofencing."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "geofencing."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteGeofenceRequest",
        "variableName" : "batchDeleteGeofenceRequest",
        "variableType" : "BatchDeleteGeofenceRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteGeofenceRequest",
        "variableSetterType" : "BatchDeleteGeofenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteGeofence",
      "operationName" : "BatchDeleteGeofence",
      "returnType" : {
        "returnType" : "BatchDeleteGeofenceResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteGeofenceResult"
    },
    "BatchEvaluateGeofences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchEvaluateGeofencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchEvaluateGeofencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchEvaluateGeofencesRequest, BatchEvaluateGeofencesResult>",
      "asyncReturnType" : "BatchEvaluateGeofencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used in geofence monitoring. Evaluates device positions against the position of geofences in a given geofence collection.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "geofencing."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "geofencing."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchEvaluateGeofencesRequest",
        "variableName" : "batchEvaluateGeofencesRequest",
        "variableType" : "BatchEvaluateGeofencesRequest",
        "documentation" : "",
        "simpleType" : "BatchEvaluateGeofencesRequest",
        "variableSetterType" : "BatchEvaluateGeofencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchEvaluateGeofences",
      "operationName" : "BatchEvaluateGeofences",
      "returnType" : {
        "returnType" : "BatchEvaluateGeofencesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchEvaluateGeofencesResult"
    },
    "BatchGetDevicePosition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetDevicePositionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetDevicePositionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetDevicePositionRequest, BatchGetDevicePositionResult>",
      "asyncReturnType" : "BatchGetDevicePositionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A batch request to retrieve device positions.</p> <note> <p>The response will return the device positions from the last 24 hours.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetDevicePositionRequest",
        "variableName" : "batchGetDevicePositionRequest",
        "variableType" : "BatchGetDevicePositionRequest",
        "documentation" : "",
        "simpleType" : "BatchGetDevicePositionRequest",
        "variableSetterType" : "BatchGetDevicePositionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetDevicePosition",
      "operationName" : "BatchGetDevicePosition",
      "returnType" : {
        "returnType" : "BatchGetDevicePositionResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetDevicePositionResult"
    },
    "BatchPutGeofence" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchPutGeofenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchPutGeofenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchPutGeofenceRequest, BatchPutGeofenceResult>",
      "asyncReturnType" : "BatchPutGeofenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A batch request for storing geofences into a given geofence collection.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "geofencing."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "geofencing."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchPutGeofenceRequest",
        "variableName" : "batchPutGeofenceRequest",
        "variableType" : "BatchPutGeofenceRequest",
        "documentation" : "",
        "simpleType" : "BatchPutGeofenceRequest",
        "variableSetterType" : "BatchPutGeofenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchPutGeofence",
      "operationName" : "BatchPutGeofence",
      "returnType" : {
        "returnType" : "BatchPutGeofenceResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchPutGeofenceResult"
    },
    "BatchUpdateDevicePosition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdateDevicePositionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdateDevicePositionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdateDevicePositionRequest, BatchUpdateDevicePositionResult>",
      "asyncReturnType" : "BatchUpdateDevicePositionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads a position update for one or more devices to a tracker resource. The data is used for API queries requesting the device position and position history.</p> <note> <p>Limitation — Location data is sampled at a fixed rate of 1 position per 30 second interval, and retained for 1 year before it is deleted.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdateDevicePositionRequest",
        "variableName" : "batchUpdateDevicePositionRequest",
        "variableType" : "BatchUpdateDevicePositionRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdateDevicePositionRequest",
        "variableSetterType" : "BatchUpdateDevicePositionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdateDevicePosition",
      "operationName" : "BatchUpdateDevicePosition",
      "returnType" : {
        "returnType" : "BatchUpdateDevicePositionResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdateDevicePositionResult"
    },
    "CreateGeofenceCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGeofenceCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGeofenceCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGeofenceCollectionRequest, CreateGeofenceCollectionResult>",
      "asyncReturnType" : "CreateGeofenceCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a geofence collection, which manages and stores geofences.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "geofencing."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request was unsuccessful due to a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "geofencing."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGeofenceCollectionRequest",
        "variableName" : "createGeofenceCollectionRequest",
        "variableType" : "CreateGeofenceCollectionRequest",
        "documentation" : "",
        "simpleType" : "CreateGeofenceCollectionRequest",
        "variableSetterType" : "CreateGeofenceCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGeofenceCollection",
      "operationName" : "CreateGeofenceCollection",
      "returnType" : {
        "returnType" : "CreateGeofenceCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGeofenceCollectionResult"
    },
    "CreateMap" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMapResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMapResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMapRequest, CreateMapResult>",
      "asyncReturnType" : "CreateMapResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a map resource in your AWS account, which provides map tiles of different styles sourced from global location data providers.</p> <note> <p>By using Maps, you agree that AWS may transmit your API queries to your selected third party provider for processing, which may be outside the AWS region you are currently using. For more information, see the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> for Amazon Location Service. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "maps."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request was unsuccessful due to a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "maps."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMapRequest",
        "variableName" : "createMapRequest",
        "variableType" : "CreateMapRequest",
        "documentation" : "",
        "simpleType" : "CreateMapRequest",
        "variableSetterType" : "CreateMapRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMap",
      "operationName" : "CreateMap",
      "returnType" : {
        "returnType" : "CreateMapResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMapResult"
    },
    "CreatePlaceIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePlaceIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePlaceIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePlaceIndexRequest, CreatePlaceIndexResult>",
      "asyncReturnType" : "CreatePlaceIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Place index resource in your AWS account, which supports Places functions with geospatial data sourced from your chosen data provider.</p> <note> <p>By using Places, you agree that AWS may transmit your API queries to your selected third party provider for processing, which may be outside the AWS region you are currently using. </p> <p>Because of licensing limitations, you may not use HERE to store results for locations in Japan. For more information, see the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> for Amazon Location Service.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "places."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request was unsuccessful due to a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "places."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePlaceIndexRequest",
        "variableName" : "createPlaceIndexRequest",
        "variableType" : "CreatePlaceIndexRequest",
        "documentation" : "",
        "simpleType" : "CreatePlaceIndexRequest",
        "variableSetterType" : "CreatePlaceIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPlaceIndex",
      "operationName" : "CreatePlaceIndex",
      "returnType" : {
        "returnType" : "CreatePlaceIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePlaceIndexResult"
    },
    "CreateTracker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrackerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrackerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrackerRequest, CreateTrackerResult>",
      "asyncReturnType" : "CreateTrackerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a tracker resource in your AWS account, which lets you retrieve current and historical location of devices.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request was unsuccessful due to a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTrackerRequest",
        "variableName" : "createTrackerRequest",
        "variableType" : "CreateTrackerRequest",
        "documentation" : "",
        "simpleType" : "CreateTrackerRequest",
        "variableSetterType" : "CreateTrackerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTracker",
      "operationName" : "CreateTracker",
      "returnType" : {
        "returnType" : "CreateTrackerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTrackerResult"
    },
    "DeleteGeofenceCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGeofenceCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGeofenceCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGeofenceCollectionRequest, DeleteGeofenceCollectionResult>",
      "asyncReturnType" : "DeleteGeofenceCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a geofence collection from your AWS account.</p> <note> <p>This action deletes the resource permanently. You can't undo this action. If the geofence collection is the target of a tracker resource, the devices will no longer be monitored.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "geofencing."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "geofencing."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGeofenceCollectionRequest",
        "variableName" : "deleteGeofenceCollectionRequest",
        "variableType" : "DeleteGeofenceCollectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteGeofenceCollectionRequest",
        "variableSetterType" : "DeleteGeofenceCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGeofenceCollection",
      "operationName" : "DeleteGeofenceCollection",
      "returnType" : {
        "returnType" : "DeleteGeofenceCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGeofenceCollectionResult"
    },
    "DeleteMap" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMapResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMapResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMapRequest, DeleteMapResult>",
      "asyncReturnType" : "DeleteMapResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a map resource from your AWS account.</p> <note> <p>This action deletes the resource permanently. You cannot undo this action. If the map is being used in an application, the map may not render.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "maps."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "maps."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMapRequest",
        "variableName" : "deleteMapRequest",
        "variableType" : "DeleteMapRequest",
        "documentation" : "",
        "simpleType" : "DeleteMapRequest",
        "variableSetterType" : "DeleteMapRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMap",
      "operationName" : "DeleteMap",
      "returnType" : {
        "returnType" : "DeleteMapResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMapResult"
    },
    "DeletePlaceIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePlaceIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePlaceIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePlaceIndexRequest, DeletePlaceIndexResult>",
      "asyncReturnType" : "DeletePlaceIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Place index resource from your AWS account.</p> <note> <p>This action deletes the resource permanently. You cannot undo this action.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "places."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "places."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePlaceIndexRequest",
        "variableName" : "deletePlaceIndexRequest",
        "variableType" : "DeletePlaceIndexRequest",
        "documentation" : "",
        "simpleType" : "DeletePlaceIndexRequest",
        "variableSetterType" : "DeletePlaceIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePlaceIndex",
      "operationName" : "DeletePlaceIndex",
      "returnType" : {
        "returnType" : "DeletePlaceIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePlaceIndexResult"
    },
    "DeleteTracker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrackerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrackerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrackerRequest, DeleteTrackerResult>",
      "asyncReturnType" : "DeleteTrackerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a tracker resource from your AWS account.</p> <note> <p>This action deletes the resource permanently. You can't undo this action. If the tracker resource is in use, you may encounter an error. Make sure that the target resource is not a dependency for your applications.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTrackerRequest",
        "variableName" : "deleteTrackerRequest",
        "variableType" : "DeleteTrackerRequest",
        "documentation" : "",
        "simpleType" : "DeleteTrackerRequest",
        "variableSetterType" : "DeleteTrackerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTracker",
      "operationName" : "DeleteTracker",
      "returnType" : {
        "returnType" : "DeleteTrackerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTrackerResult"
    },
    "DescribeGeofenceCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeGeofenceCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeGeofenceCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeGeofenceCollectionRequest, DescribeGeofenceCollectionResult>",
      "asyncReturnType" : "DescribeGeofenceCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the geofence collection details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "geofencing."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "geofencing."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeGeofenceCollectionRequest",
        "variableName" : "describeGeofenceCollectionRequest",
        "variableType" : "DescribeGeofenceCollectionRequest",
        "documentation" : "",
        "simpleType" : "DescribeGeofenceCollectionRequest",
        "variableSetterType" : "DescribeGeofenceCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeGeofenceCollection",
      "operationName" : "DescribeGeofenceCollection",
      "returnType" : {
        "returnType" : "DescribeGeofenceCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeGeofenceCollectionResult"
    },
    "DescribeMap" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMapResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMapResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMapRequest, DescribeMapResult>",
      "asyncReturnType" : "DescribeMapResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the map resource details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "maps."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "maps."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeMapRequest",
        "variableName" : "describeMapRequest",
        "variableType" : "DescribeMapRequest",
        "documentation" : "",
        "simpleType" : "DescribeMapRequest",
        "variableSetterType" : "DescribeMapRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMap",
      "operationName" : "DescribeMap",
      "returnType" : {
        "returnType" : "DescribeMapResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeMapResult"
    },
    "DescribePlaceIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePlaceIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePlaceIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePlaceIndexRequest, DescribePlaceIndexResult>",
      "asyncReturnType" : "DescribePlaceIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the Place index resource details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "places."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "places."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePlaceIndexRequest",
        "variableName" : "describePlaceIndexRequest",
        "variableType" : "DescribePlaceIndexRequest",
        "documentation" : "",
        "simpleType" : "DescribePlaceIndexRequest",
        "variableSetterType" : "DescribePlaceIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePlaceIndex",
      "operationName" : "DescribePlaceIndex",
      "returnType" : {
        "returnType" : "DescribePlaceIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePlaceIndexResult"
    },
    "DescribeTracker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrackerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrackerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrackerRequest, DescribeTrackerResult>",
      "asyncReturnType" : "DescribeTrackerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the tracker resource details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTrackerRequest",
        "variableName" : "describeTrackerRequest",
        "variableType" : "DescribeTrackerRequest",
        "documentation" : "",
        "simpleType" : "DescribeTrackerRequest",
        "variableSetterType" : "DescribeTrackerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTracker",
      "operationName" : "DescribeTracker",
      "returnType" : {
        "returnType" : "DescribeTrackerResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTrackerResult"
    },
    "DisassociateTrackerConsumer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateTrackerConsumerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateTrackerConsumerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateTrackerConsumerRequest, DisassociateTrackerConsumerResult>",
      "asyncReturnType" : "DisassociateTrackerConsumerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the association bewteen a tracker resource and a geofence collection.</p> <note> <p>Once you unlink a tracker resource from a geofence collection, the tracker positions will no longer be automatically evaluated against geofences.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateTrackerConsumerRequest",
        "variableName" : "disassociateTrackerConsumerRequest",
        "variableType" : "DisassociateTrackerConsumerRequest",
        "documentation" : "",
        "simpleType" : "DisassociateTrackerConsumerRequest",
        "variableSetterType" : "DisassociateTrackerConsumerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateTrackerConsumer",
      "operationName" : "DisassociateTrackerConsumer",
      "returnType" : {
        "returnType" : "DisassociateTrackerConsumerResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateTrackerConsumerResult"
    },
    "GetDevicePosition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDevicePositionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDevicePositionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDevicePositionRequest, GetDevicePositionResult>",
      "asyncReturnType" : "GetDevicePositionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the latest device position.</p> <note> <p>Limitation — Device positions are deleted after one year.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDevicePositionRequest",
        "variableName" : "getDevicePositionRequest",
        "variableType" : "GetDevicePositionRequest",
        "documentation" : "",
        "simpleType" : "GetDevicePositionRequest",
        "variableSetterType" : "GetDevicePositionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevicePosition",
      "operationName" : "GetDevicePosition",
      "returnType" : {
        "returnType" : "GetDevicePositionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDevicePositionResult"
    },
    "GetDevicePositionHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDevicePositionHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDevicePositionHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDevicePositionHistoryRequest, GetDevicePositionHistoryResult>",
      "asyncReturnType" : "GetDevicePositionHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the device position history from a tracker resource within a specified range of time.</p> <note> <p>Limitation — Device positions are deleted after one year.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDevicePositionHistoryRequest",
        "variableName" : "getDevicePositionHistoryRequest",
        "variableType" : "GetDevicePositionHistoryRequest",
        "documentation" : "",
        "simpleType" : "GetDevicePositionHistoryRequest",
        "variableSetterType" : "GetDevicePositionHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevicePositionHistory",
      "operationName" : "GetDevicePositionHistory",
      "returnType" : {
        "returnType" : "GetDevicePositionHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDevicePositionHistoryResult"
    },
    "GetGeofence" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGeofenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGeofenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGeofenceRequest, GetGeofenceResult>",
      "asyncReturnType" : "GetGeofenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the geofence details from a geofence collection.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "geofencing."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "geofencing."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGeofenceRequest",
        "variableName" : "getGeofenceRequest",
        "variableType" : "GetGeofenceRequest",
        "documentation" : "",
        "simpleType" : "GetGeofenceRequest",
        "variableSetterType" : "GetGeofenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGeofence",
      "operationName" : "GetGeofence",
      "returnType" : {
        "returnType" : "GetGeofenceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGeofenceResult"
    },
    "GetMapGlyphs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMapGlyphsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMapGlyphsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMapGlyphsRequest, GetMapGlyphsResult>",
      "asyncReturnType" : "GetMapGlyphsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves glyphs used to display labels on a map.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "maps."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "maps."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMapGlyphsRequest",
        "variableName" : "getMapGlyphsRequest",
        "variableType" : "GetMapGlyphsRequest",
        "documentation" : "",
        "simpleType" : "GetMapGlyphsRequest",
        "variableSetterType" : "GetMapGlyphsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMapGlyphs",
      "operationName" : "GetMapGlyphs",
      "returnType" : {
        "returnType" : "GetMapGlyphsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMapGlyphsResult"
    },
    "GetMapSprites" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMapSpritesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMapSpritesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMapSpritesRequest, GetMapSpritesResult>",
      "asyncReturnType" : "GetMapSpritesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the sprite sheet corresponding to a map resource. The sprite sheet is a PNG image paired with a JSON document describing the offsets of individual icons that will be displayed on a rendered map.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "maps."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "maps."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMapSpritesRequest",
        "variableName" : "getMapSpritesRequest",
        "variableType" : "GetMapSpritesRequest",
        "documentation" : "",
        "simpleType" : "GetMapSpritesRequest",
        "variableSetterType" : "GetMapSpritesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMapSprites",
      "operationName" : "GetMapSprites",
      "returnType" : {
        "returnType" : "GetMapSpritesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMapSpritesResult"
    },
    "GetMapStyleDescriptor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMapStyleDescriptorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMapStyleDescriptorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMapStyleDescriptorRequest, GetMapStyleDescriptorResult>",
      "asyncReturnType" : "GetMapStyleDescriptorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the map style descriptor from a map resource. </p> <p>The style descriptor contains speciﬁcations on how features render on a map. For example, what data to display, what order to display the data in, and the style for the data. Style descriptors follow the Mapbox Style Specification.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "maps."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "maps."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMapStyleDescriptorRequest",
        "variableName" : "getMapStyleDescriptorRequest",
        "variableType" : "GetMapStyleDescriptorRequest",
        "documentation" : "",
        "simpleType" : "GetMapStyleDescriptorRequest",
        "variableSetterType" : "GetMapStyleDescriptorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMapStyleDescriptor",
      "operationName" : "GetMapStyleDescriptor",
      "returnType" : {
        "returnType" : "GetMapStyleDescriptorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMapStyleDescriptorResult"
    },
    "GetMapTile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMapTileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMapTileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMapTileRequest, GetMapTileResult>",
      "asyncReturnType" : "GetMapTileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a vector data tile from the map resource. Map tiles are used by clients to render a map. They are addressed using a grid arrangement with an X coordinate, Y coordinate, and Z (zoom) level. </p> <p>The origin (0, 0) is the top left of the map. Increasing the zoom level by 1 doubles both the X and Y dimensions, so a tile containing data for the entire world at (0/0/0) will be split into 4 tiles at zoom 1 (1/0/0, 1/0/1, 1/1/0, 1/1/1).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "maps."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "maps."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMapTileRequest",
        "variableName" : "getMapTileRequest",
        "variableType" : "GetMapTileRequest",
        "documentation" : "",
        "simpleType" : "GetMapTileRequest",
        "variableSetterType" : "GetMapTileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMapTile",
      "operationName" : "GetMapTile",
      "returnType" : {
        "returnType" : "GetMapTileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMapTileResult"
    },
    "ListGeofenceCollections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGeofenceCollectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGeofenceCollectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGeofenceCollectionsRequest, ListGeofenceCollectionsResult>",
      "asyncReturnType" : "ListGeofenceCollectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists geofence collections in your AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "geofencing."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "geofencing."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGeofenceCollectionsRequest",
        "variableName" : "listGeofenceCollectionsRequest",
        "variableType" : "ListGeofenceCollectionsRequest",
        "documentation" : "",
        "simpleType" : "ListGeofenceCollectionsRequest",
        "variableSetterType" : "ListGeofenceCollectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGeofenceCollections",
      "operationName" : "ListGeofenceCollections",
      "returnType" : {
        "returnType" : "ListGeofenceCollectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGeofenceCollectionsResult"
    },
    "ListGeofences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGeofencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGeofencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGeofencesRequest, ListGeofencesResult>",
      "asyncReturnType" : "ListGeofencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists geofences stored in a given geofence collection.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "geofencing."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "geofencing."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGeofencesRequest",
        "variableName" : "listGeofencesRequest",
        "variableType" : "ListGeofencesRequest",
        "documentation" : "",
        "simpleType" : "ListGeofencesRequest",
        "variableSetterType" : "ListGeofencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGeofences",
      "operationName" : "ListGeofences",
      "returnType" : {
        "returnType" : "ListGeofencesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGeofencesResult"
    },
    "ListMaps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMapsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMapsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMapsRequest, ListMapsResult>",
      "asyncReturnType" : "ListMapsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists map resources in your AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "maps."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "maps."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMapsRequest",
        "variableName" : "listMapsRequest",
        "variableType" : "ListMapsRequest",
        "documentation" : "",
        "simpleType" : "ListMapsRequest",
        "variableSetterType" : "ListMapsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMaps",
      "operationName" : "ListMaps",
      "returnType" : {
        "returnType" : "ListMapsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMapsResult"
    },
    "ListPlaceIndexes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPlaceIndexesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPlaceIndexesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPlaceIndexesRequest, ListPlaceIndexesResult>",
      "asyncReturnType" : "ListPlaceIndexesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists Place index resources in your AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "places."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "places."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPlaceIndexesRequest",
        "variableName" : "listPlaceIndexesRequest",
        "variableType" : "ListPlaceIndexesRequest",
        "documentation" : "",
        "simpleType" : "ListPlaceIndexesRequest",
        "variableSetterType" : "ListPlaceIndexesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPlaceIndexes",
      "operationName" : "ListPlaceIndexes",
      "returnType" : {
        "returnType" : "ListPlaceIndexesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPlaceIndexesResult"
    },
    "ListTrackerConsumers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTrackerConsumersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTrackerConsumersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTrackerConsumersRequest, ListTrackerConsumersResult>",
      "asyncReturnType" : "ListTrackerConsumersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists geofence collections currently associated to the given tracker resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTrackerConsumersRequest",
        "variableName" : "listTrackerConsumersRequest",
        "variableType" : "ListTrackerConsumersRequest",
        "documentation" : "",
        "simpleType" : "ListTrackerConsumersRequest",
        "variableSetterType" : "ListTrackerConsumersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTrackerConsumers",
      "operationName" : "ListTrackerConsumers",
      "returnType" : {
        "returnType" : "ListTrackerConsumersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTrackerConsumersResult"
    },
    "ListTrackers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTrackersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTrackersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTrackersRequest, ListTrackersResult>",
      "asyncReturnType" : "ListTrackersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists tracker resources in your AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "tracking."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "tracking."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTrackersRequest",
        "variableName" : "listTrackersRequest",
        "variableType" : "ListTrackersRequest",
        "documentation" : "",
        "simpleType" : "ListTrackersRequest",
        "variableSetterType" : "ListTrackersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTrackers",
      "operationName" : "ListTrackers",
      "returnType" : {
        "returnType" : "ListTrackersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTrackersResult"
    },
    "PutGeofence" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutGeofenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutGeofenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutGeofenceRequest, PutGeofenceResult>",
      "asyncReturnType" : "PutGeofenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stores a geofence to a given geofence collection, or updates the geometry of an existing geofence if a geofence ID is included in the request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "geofencing."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request was unsuccessful due to a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "geofencing."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutGeofenceRequest",
        "variableName" : "putGeofenceRequest",
        "variableType" : "PutGeofenceRequest",
        "documentation" : "",
        "simpleType" : "PutGeofenceRequest",
        "variableSetterType" : "PutGeofenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putGeofence",
      "operationName" : "PutGeofence",
      "returnType" : {
        "returnType" : "PutGeofenceResult",
        "documentation" : null
      },
      "syncReturnType" : "PutGeofenceResult"
    },
    "SearchPlaceIndexForPosition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchPlaceIndexForPositionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchPlaceIndexForPositionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchPlaceIndexForPositionRequest, SearchPlaceIndexForPositionResult>",
      "asyncReturnType" : "SearchPlaceIndexForPositionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Reverse geocodes a given coordinate and returns a legible address. Allows you to search for Places or points of interest near a given position.</p> <note> <p>By using Places, you agree that AWS may transmit your API queries to your selected third party provider for processing, which may be outside the AWS region you are currently using. </p> <p>Because of licensing limitations, you may not use HERE to store results for locations in Japan. For more information, see the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> for Amazon Location Service.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "places."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "places."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchPlaceIndexForPositionRequest",
        "variableName" : "searchPlaceIndexForPositionRequest",
        "variableType" : "SearchPlaceIndexForPositionRequest",
        "documentation" : "",
        "simpleType" : "SearchPlaceIndexForPositionRequest",
        "variableSetterType" : "SearchPlaceIndexForPositionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchPlaceIndexForPosition",
      "operationName" : "SearchPlaceIndexForPosition",
      "returnType" : {
        "returnType" : "SearchPlaceIndexForPositionResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchPlaceIndexForPositionResult"
    },
    "SearchPlaceIndexForText" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchPlaceIndexForTextResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchPlaceIndexForTextResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchPlaceIndexForTextRequest, SearchPlaceIndexForTextResult>",
      "asyncReturnType" : "SearchPlaceIndexForTextResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Geocodes free-form text, such as an address, name, city, or region to allow you to search for Places or points of interest. </p> <p>Includes the option to apply additional parameters to narrow your list of results.</p> <note> <p>You can search for places near a given position using <code>BiasPosition</code>, or filter results within a bounding box using <code>FilterBBox</code>. Providing both parameters simultaneously returns an error.</p> </note> <note> <p>By using Places, you agree that AWS may transmit your API queries to your selected third party provider for processing, which may be outside the AWS region you are currently using. </p> <p>Also, when using HERE as your data provider, you may not (a) use HERE Places for Asset Management, or (b) select the <code>Storage</code> option for the <code>IntendedUse</code> parameter when requesting Places in Japan. For more information, see the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> for Amazon Location Service.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "places."
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed to process because of an unknown server error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource that you've entered was not found in your AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "places."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchPlaceIndexForTextRequest",
        "variableName" : "searchPlaceIndexForTextRequest",
        "variableType" : "SearchPlaceIndexForTextRequest",
        "documentation" : "",
        "simpleType" : "SearchPlaceIndexForTextRequest",
        "variableSetterType" : "SearchPlaceIndexForTextRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchPlaceIndexForText",
      "operationName" : "SearchPlaceIndexForText",
      "returnType" : {
        "returnType" : "SearchPlaceIndexForTextResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchPlaceIndexForTextResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request was denied due to insufficient access or permission. Check with an administrator to verify your permissions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.location.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.location.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
[...]
