{
  "customizationConfig" : {
    "additionalShapeConstructors" : {
      "CreateLogGroupRequest" : {
        "constructorForms" : [ [ "LogGroupName" ] ]
      },
      "CreateLogStreamRequest" : {
        "constructorForms" : [ [ "LogGroupName", "LogStreamName" ] ]
      },
      "DeleteLogGroupRequest" : {
        "constructorForms" : [ [ "LogGroupName" ] ]
      },
      "DeleteLogStreamRequest" : {
        "constructorForms" : [ [ "LogGroupName", "LogStreamName" ] ]
      },
      "DeleteMetricFilterRequest" : {
        "constructorForms" : [ [ "LogGroupName", "FilterName" ] ]
      },
      "DeleteRetentionPolicyRequest" : {
        "constructorForms" : [ [ "LogGroupName" ] ]
      },
      "DescribeLogStreamsRequest" : {
        "constructorForms" : [ [ "LogGroupName" ] ]
      },
      "DescribeMetricFiltersRequest" : {
        "constructorForms" : [ [ "LogGroupName" ] ]
      },
      "GetLogEventsRequest" : {
        "constructorForms" : [ [ "LogGroupName", "LogStreamName" ] ]
      },
      "PutLogEventsRequest" : {
        "constructorForms" : [ [ "LogGroupName", "LogStreamName", "LogEvents" ] ]
      },
      "PutMetricFilterRequest" : {
        "constructorForms" : [ [ "LogGroupName", "FilterName", "FilterPattern", "MetricTransformations" ] ]
      },
      "PutRetentionPolicyRequest" : {
        "constructorForms" : [ [ "LogGroupName", "RetentionInDays" ] ]
      }
    },
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DescribeExportTasksRequest" : [ "statusCode" ],
      "DescribeLogStreamsRequest" : [ "orderBy" ],
      "ExportTaskStatus" : [ "code" ],
      "PutSubscriptionFilterRequest" : [ "distribution" ],
      "SubscriptionFilter" : [ "distribution" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeDestinations" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeLogGroups" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true
  },
  "metadata" : {
    "apiVersion" : "2014-03-28",
    "asyncClient" : "AWSLogsAsyncClient",
    "asyncClientBuilderClassName" : "AWSLogsAsyncClientBuilder",
    "asyncInterface" : "AWSLogsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSLogsModuleInjector",
    "defaultEndpoint" : "https://logs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "logs.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You can use Amazon CloudWatch Logs to monitor, store, and access your log files from Amazon EC2 instances, AWS CloudTrail, or other sources. You can then retrieve the associated log data from CloudWatch Logs using the CloudWatch console, CloudWatch Logs commands in the AWS CLI, CloudWatch Logs API, or CloudWatch Logs SDK.</p> <p>You can use CloudWatch Logs to:</p> <ul> <li> <p> <b>Monitor logs from EC2 instances in real-time</b>: You can use CloudWatch Logs to monitor applications and systems using log data. For example, CloudWatch Logs can track the number of errors that occur in your application logs and send you a notification whenever the rate of errors exceeds a threshold that you specify. CloudWatch Logs uses your log data for monitoring; so, no code changes are required. For example, you can monitor application logs for specific literal terms (such as \"NullReferenceException\") or count the number of occurrences of a literal term at a particular position in log data (such as \"404\" status codes in an Apache access log). When the term you are searching for is found, CloudWatch Logs reports the data to a CloudWatch metric that you specify.</p> </li> <li> <p> <b>Monitor AWS CloudTrail logged events</b>: You can create alarms in CloudWatch and receive notifications of particular API activity as captured by CloudTrail and use the notification to perform troubleshooting.</p> </li> <li> <p> <b>Archive log data</b>: You can use CloudWatch Logs to store your log data in highly durable storage. You can change the log retention setting so that any log events older than this setting are automatically deleted. The CloudWatch Logs agent makes it easy to quickly send both rotated and non-rotated log data off of a host and into the log service. You can then access the raw log data when you need it.</p> </li> </ul>",
    "endpointPrefix" : "logs",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.logs",
    "packagePath" : "com/amazonaws/services/logs",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudWatch Logs",
    "serviceName" : "Amazon CloudWatch Logs",
    "signingName" : "logs",
    "smokeTestsPackageName" : "com.amazonaws.services.logs.smoketests",
    "syncClient" : "AWSLogsClient",
    "syncClientBuilderClassName" : "AWSLogsClientBuilder",
    "syncInterface" : "AWSLogs",
    "uid" : "logs-2014-03-28",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateKmsKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateKmsKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateKmsKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateKmsKeyRequest, AssociateKmsKeyResult>",
      "asyncReturnType" : "AssociateKmsKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified AWS Key Management Service (AWS KMS) customer master key (CMK) with the specified log group.</p> <p>Associating an AWS KMS CMK with a log group overrides any existing associations between the log group and a CMK. After a CMK is associated with a log group, all newly ingested data for the log group is encrypted using the CMK. This association is stored as long as the data encrypted with the CMK is still within Amazon CloudWatch Logs. This enables Amazon CloudWatch Logs to decrypt this data whenever it is requested.</p> <p>Note that it can take up to 5 minutes for this operation to take effect.</p> <p>If you attempt to associate a CMK with a log group but the CMK does not exist or the CMK is disabled, you will receive an <code>InvalidParameterException</code> error. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateKmsKeyRequest",
        "variableName" : "associateKmsKeyRequest",
        "variableType" : "AssociateKmsKeyRequest",
        "documentation" : "",
        "simpleType" : "AssociateKmsKeyRequest",
        "variableSetterType" : "AssociateKmsKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateKmsKey",
      "operationName" : "AssociateKmsKey",
      "returnType" : {
        "returnType" : "AssociateKmsKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateKmsKeyResult"
    },
    "CancelExportTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelExportTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelExportTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelExportTaskRequest, CancelExportTaskResult>",
      "asyncReturnType" : "CancelExportTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the specified export task.</p> <p>The task must be in the <code>PENDING</code> or <code>RUNNING</code> state.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation is not valid on the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelExportTaskRequest",
        "variableName" : "cancelExportTaskRequest",
        "variableType" : "CancelExportTaskRequest",
        "documentation" : "",
        "simpleType" : "CancelExportTaskRequest",
        "variableSetterType" : "CancelExportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelExportTask",
      "operationName" : "CancelExportTask",
      "returnType" : {
        "returnType" : "CancelExportTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelExportTaskResult"
    },
    "CreateExportTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateExportTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateExportTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateExportTaskRequest, CreateExportTaskResult>",
      "asyncReturnType" : "CreateExportTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an export task, which allows you to efficiently export data from a log group to an Amazon S3 bucket.</p> <p>This is an asynchronous call. If all the required information is provided, this operation initiates an export task and responds with the ID of the task. After the task has started, you can use <a>DescribeExportTasks</a> to get the status of the export task. Each account can only have one active (<code>RUNNING</code> or <code>PENDING</code>) export task at a time. To cancel an export task, use <a>CancelExportTask</a>.</p> <p>You can export logs from multiple log groups or multiple time ranges to the same S3 bucket. To separate out log data for each export task, you can specify a prefix to be used as the Amazon S3 key prefix for all exported objects.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have reached the maximum number of resources that can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateExportTaskRequest",
        "variableName" : "createExportTaskRequest",
        "variableType" : "CreateExportTaskRequest",
        "documentation" : "",
        "simpleType" : "CreateExportTaskRequest",
        "variableSetterType" : "CreateExportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createExportTask",
      "operationName" : "CreateExportTask",
      "returnType" : {
        "returnType" : "CreateExportTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateExportTaskResult"
    },
    "CreateLogGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLogGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLogGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLogGroupRequest, CreateLogGroupResult>",
      "asyncReturnType" : "CreateLogGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a log group with the specified name.</p> <p>You can create up to 5000 log groups per account.</p> <p>You must use the following guidelines when naming a log group:</p> <ul> <li> <p>Log group names must be unique within a region for an AWS account.</p> </li> <li> <p>Log group names can be between 1 and 512 characters long.</p> </li> <li> <p>Log group names consist of the following characters: a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), '/' (forward slash), and '.' (period).</p> </li> </ul> <p>If you associate a AWS Key Management Service (AWS KMS) customer master key (CMK) with the log group, ingested data is encrypted using the CMK. This association is stored as long as the data encrypted with the CMK is still within Amazon CloudWatch Logs. This enables Amazon CloudWatch Logs to decrypt this data whenever it is requested.</p> <p>If you attempt to associate a CMK with the log group but the CMK does not exist or the CMK is disabled, you will receive an <code>InvalidParameterException</code> error. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have reached the maximum number of resources that can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLogGroupRequest",
        "variableName" : "createLogGroupRequest",
        "variableType" : "CreateLogGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateLogGroupRequest",
        "variableSetterType" : "CreateLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLogGroup",
      "operationName" : "CreateLogGroup",
      "returnType" : {
        "returnType" : "CreateLogGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLogGroupResult"
    },
    "CreateLogStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLogStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLogStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLogStreamRequest, CreateLogStreamResult>",
      "asyncReturnType" : "CreateLogStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a log stream for the specified log group.</p> <p>There is no limit on the number of log streams that you can create for a log group.</p> <p>You must use the following guidelines when naming a log stream:</p> <ul> <li> <p>Log stream names must be unique within the log group.</p> </li> <li> <p>Log stream names can be between 1 and 512 characters long.</p> </li> <li> <p>The ':' (colon) and '*' (asterisk) characters are not allowed.</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLogStreamRequest",
        "variableName" : "createLogStreamRequest",
        "variableType" : "CreateLogStreamRequest",
        "documentation" : "",
        "simpleType" : "CreateLogStreamRequest",
        "variableSetterType" : "CreateLogStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLogStream",
      "operationName" : "CreateLogStream",
      "returnType" : {
        "returnType" : "CreateLogStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLogStreamResult"
    },
    "DeleteDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDestinationRequest, DeleteDestinationResult>",
      "asyncReturnType" : "DeleteDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified destination, and eventually disables all the subscription filters that publish to it. This operation does not delete the physical resource encapsulated by the destination.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDestinationRequest",
        "variableName" : "deleteDestinationRequest",
        "variableType" : "DeleteDestinationRequest",
        "documentation" : "",
        "simpleType" : "DeleteDestinationRequest",
        "variableSetterType" : "DeleteDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDestination",
      "operationName" : "DeleteDestination",
      "returnType" : {
        "returnType" : "DeleteDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDestinationResult"
    },
    "DeleteLogGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLogGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLogGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLogGroupRequest, DeleteLogGroupResult>",
      "asyncReturnType" : "DeleteLogGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified log group and permanently deletes all the archived log events associated with the log group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLogGroupRequest",
        "variableName" : "deleteLogGroupRequest",
        "variableType" : "DeleteLogGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteLogGroupRequest",
        "variableSetterType" : "DeleteLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLogGroup",
      "operationName" : "DeleteLogGroup",
      "returnType" : {
        "returnType" : "DeleteLogGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLogGroupResult"
    },
    "DeleteLogStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLogStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLogStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLogStreamRequest, DeleteLogStreamResult>",
      "asyncReturnType" : "DeleteLogStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified log stream and permanently deletes all the archived log events associated with the log stream.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLogStreamRequest",
        "variableName" : "deleteLogStreamRequest",
        "variableType" : "DeleteLogStreamRequest",
        "documentation" : "",
        "simpleType" : "DeleteLogStreamRequest",
        "variableSetterType" : "DeleteLogStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLogStream",
      "operationName" : "DeleteLogStream",
      "returnType" : {
        "returnType" : "DeleteLogStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLogStreamResult"
    },
    "DeleteMetricFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMetricFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMetricFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMetricFilterRequest, DeleteMetricFilterResult>",
      "asyncReturnType" : "DeleteMetricFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified metric filter.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteMetricFilterRequest",
        "variableName" : "deleteMetricFilterRequest",
        "variableType" : "DeleteMetricFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteMetricFilterRequest",
        "variableSetterType" : "DeleteMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMetricFilter",
      "operationName" : "DeleteMetricFilter",
      "returnType" : {
        "returnType" : "DeleteMetricFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMetricFilterResult"
    },
    "DeleteResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourcePolicyRequest, DeleteResourcePolicyResult>",
      "asyncReturnType" : "DeleteResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a resource policy from this account. This revokes the access of the identities in that policy to put log events to this account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteResourcePolicyRequest",
        "variableName" : "deleteResourcePolicyRequest",
        "variableType" : "DeleteResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourcePolicyRequest",
        "variableSetterType" : "DeleteResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourcePolicy",
      "operationName" : "DeleteResourcePolicy",
      "returnType" : {
        "returnType" : "DeleteResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourcePolicyResult"
    },
    "DeleteRetentionPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRetentionPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRetentionPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRetentionPolicyRequest, DeleteRetentionPolicyResult>",
      "asyncReturnType" : "DeleteRetentionPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified retention policy.</p> <p>Log events do not expire if they belong to log groups without a retention policy.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRetentionPolicyRequest",
        "variableName" : "deleteRetentionPolicyRequest",
        "variableType" : "DeleteRetentionPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteRetentionPolicyRequest",
        "variableSetterType" : "DeleteRetentionPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRetentionPolicy",
      "operationName" : "DeleteRetentionPolicy",
      "returnType" : {
        "returnType" : "DeleteRetentionPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRetentionPolicyResult"
    },
    "DeleteSubscriptionFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriptionFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriptionFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriptionFilterRequest, DeleteSubscriptionFilterResult>",
      "asyncReturnType" : "DeleteSubscriptionFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified subscription filter.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSubscriptionFilterRequest",
        "variableName" : "deleteSubscriptionFilterRequest",
        "variableType" : "DeleteSubscriptionFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubscriptionFilterRequest",
        "variableSetterType" : "DeleteSubscriptionFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscriptionFilter",
      "operationName" : "DeleteSubscriptionFilter",
      "returnType" : {
        "returnType" : "DeleteSubscriptionFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSubscriptionFilterResult"
    },
    "DescribeDestinations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDestinationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDestinationsRequest, DescribeDestinationsResult>",
      "asyncReturnType" : "DescribeDestinationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all your destinations. The results are ASCII-sorted by destination name.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDestinationsRequest",
        "variableName" : "describeDestinationsRequest",
        "variableType" : "DescribeDestinationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeDestinationsRequest",
        "variableSetterType" : "DescribeDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDestinations",
      "operationName" : "DescribeDestinations",
      "returnType" : {
        "returnType" : "DescribeDestinationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDestinationsResult"
    },
    "DescribeExportTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExportTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExportTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExportTasksRequest, DescribeExportTasksResult>",
      "asyncReturnType" : "DescribeExportTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the specified export tasks. You can list all your export tasks or filter the results based on task ID or task status.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeExportTasksRequest",
        "variableName" : "describeExportTasksRequest",
        "variableType" : "DescribeExportTasksRequest",
        "documentation" : "",
        "simpleType" : "DescribeExportTasksRequest",
        "variableSetterType" : "DescribeExportTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeExportTasks",
      "operationName" : "DescribeExportTasks",
      "returnType" : {
        "returnType" : "DescribeExportTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeExportTasksResult"
    },
    "DescribeLogGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLogGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLogGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLogGroupsRequest, DescribeLogGroupsResult>",
      "asyncReturnType" : "DescribeLogGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the specified log groups. You can list all your log groups or filter the results by prefix. The results are ASCII-sorted by log group name.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLogGroupsRequest",
        "variableName" : "describeLogGroupsRequest",
        "variableType" : "DescribeLogGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeLogGroupsRequest",
        "variableSetterType" : "DescribeLogGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLogGroups",
      "operationName" : "DescribeLogGroups",
      "returnType" : {
        "returnType" : "DescribeLogGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLogGroupsResult"
    },
    "DescribeLogStreams" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLogStreamsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLogStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLogStreamsRequest, DescribeLogStreamsResult>",
      "asyncReturnType" : "DescribeLogStreamsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the log streams for the specified log group. You can list all the log streams or filter the results by prefix. You can also control how the results are ordered.</p> <p>This operation has a limit of five transactions per second, after which transactions are throttled.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLogStreamsRequest",
        "variableName" : "describeLogStreamsRequest",
        "variableType" : "DescribeLogStreamsRequest",
        "documentation" : "",
        "simpleType" : "DescribeLogStreamsRequest",
        "variableSetterType" : "DescribeLogStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLogStreams",
      "operationName" : "DescribeLogStreams",
      "returnType" : {
        "returnType" : "DescribeLogStreamsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLogStreamsResult"
    },
    "DescribeMetricFilters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMetricFiltersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMetricFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMetricFiltersRequest, DescribeMetricFiltersResult>",
      "asyncReturnType" : "DescribeMetricFiltersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the specified metric filters. You can list all the metric filters or filter the results by log name, prefix, metric name, or metric namespace. The results are ASCII-sorted by filter name.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeMetricFiltersRequest",
        "variableName" : "describeMetricFiltersRequest",
        "variableType" : "DescribeMetricFiltersRequest",
        "documentation" : "",
        "simpleType" : "DescribeMetricFiltersRequest",
        "variableSetterType" : "DescribeMetricFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMetricFilters",
      "operationName" : "DescribeMetricFilters",
      "returnType" : {
        "returnType" : "DescribeMetricFiltersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeMetricFiltersResult"
    },
    "DescribeResourcePolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourcePoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourcePoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourcePoliciesRequest, DescribeResourcePoliciesResult>",
      "asyncReturnType" : "DescribeResourcePoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resource policies in this account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeResourcePoliciesRequest",
        "variableName" : "describeResourcePoliciesRequest",
        "variableType" : "DescribeResourcePoliciesRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourcePoliciesRequest",
        "variableSetterType" : "DescribeResourcePoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResourcePolicies",
      "operationName" : "DescribeResourcePolicies",
      "returnType" : {
        "returnType" : "DescribeResourcePoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourcePoliciesResult"
    },
    "DescribeSubscriptionFilters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscriptionFiltersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscriptionFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscriptionFiltersRequest, DescribeSubscriptionFiltersResult>",
      "asyncReturnType" : "DescribeSubscriptionFiltersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the subscription filters for the specified log group. You can list all the subscription filters or filter the results by prefix. The results are ASCII-sorted by filter name.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSubscriptionFiltersRequest",
        "variableName" : "describeSubscriptionFiltersRequest",
        "variableType" : "DescribeSubscriptionFiltersRequest",
        "documentation" : "",
        "simpleType" : "DescribeSubscriptionFiltersRequest",
        "variableSetterType" : "DescribeSubscriptionFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubscriptionFilters",
      "operationName" : "DescribeSubscriptionFilters",
      "returnType" : {
        "returnType" : "DescribeSubscriptionFiltersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSubscriptionFiltersResult"
    },
    "DisassociateKmsKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateKmsKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateKmsKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateKmsKeyRequest, DisassociateKmsKeyResult>",
      "asyncReturnType" : "DisassociateKmsKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the associated AWS Key Management Service (AWS KMS) customer master key (CMK) from the specified log group.</p> <p>After the AWS KMS CMK is disassociated from the log group, AWS CloudWatch Logs stops encrypting newly ingested data for the log group. All previously ingested data remains encrypted, and AWS CloudWatch Logs requires permissions for the CMK whenever the encrypted data is requested.</p> <p>Note that it can take up to 5 minutes for this operation to take effect.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateKmsKeyRequest",
        "variableName" : "disassociateKmsKeyRequest",
        "variableType" : "DisassociateKmsKeyRequest",
        "documentation" : "",
        "simpleType" : "DisassociateKmsKeyRequest",
        "variableSetterType" : "DisassociateKmsKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateKmsKey",
      "operationName" : "DisassociateKmsKey",
      "returnType" : {
        "returnType" : "DisassociateKmsKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateKmsKeyResult"
    },
    "FilterLogEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<FilterLogEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<FilterLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<FilterLogEventsRequest, FilterLogEventsResult>",
      "asyncReturnType" : "FilterLogEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists log events from the specified log group. You can list all the log events or filter the results using a filter pattern, a time range, and the name of the log stream.</p> <p>By default, this operation returns as many log events as can fit in 1 MB (up to 10,000 log events), or all the events found within the time range that you specify. If the results include a token, then there are more log events available, and you can get additional results by specifying the token in a subsequent call.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "FilterLogEventsRequest",
        "variableName" : "filterLogEventsRequest",
        "variableType" : "FilterLogEventsRequest",
        "documentation" : "",
        "simpleType" : "FilterLogEventsRequest",
        "variableSetterType" : "FilterLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "filterLogEvents",
      "operationName" : "FilterLogEvents",
      "returnType" : {
        "returnType" : "FilterLogEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "FilterLogEventsResult"
    },
    "GetLogEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLogEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLogEventsRequest, GetLogEventsResult>",
      "asyncReturnType" : "GetLogEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists log events from the specified log stream. You can list all the log events or filter using a time range.</p> <p>By default, this operation returns as many log events as can fit in a response size of 1MB (up to 10,000 log events). You can get additional log events by specifying one of the tokens in a subsequent call.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetLogEventsRequest",
        "variableName" : "getLogEventsRequest",
        "variableType" : "GetLogEventsRequest",
        "documentation" : "",
        "simpleType" : "GetLogEventsRequest",
        "variableSetterType" : "GetLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLogEvents",
      "operationName" : "GetLogEvents",
      "returnType" : {
        "returnType" : "GetLogEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLogEventsResult"
    },
    "ListTagsLogGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsLogGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsLogGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsLogGroupRequest, ListTagsLogGroupResult>",
      "asyncReturnType" : "ListTagsLogGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified log group.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsLogGroupRequest",
        "variableName" : "listTagsLogGroupRequest",
        "variableType" : "ListTagsLogGroupRequest",
        "documentation" : "",
        "simpleType" : "ListTagsLogGroupRequest",
        "variableSetterType" : "ListTagsLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsLogGroup",
      "operationName" : "ListTagsLogGroup",
      "returnType" : {
        "returnType" : "ListTagsLogGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsLogGroupResult"
    },
    "PutDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDestinationRequest, PutDestinationResult>",
      "asyncReturnType" : "PutDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a destination. A destination encapsulates a physical resource (such as an Amazon Kinesis stream) and enables you to subscribe to a real-time stream of log events for a different account, ingested using <a>PutLogEvents</a>. Currently, the only supported physical resource is a Kinesis stream belonging to the same account as the destination.</p> <p>Through an access policy, a destination controls what is written to its Kinesis stream. By default, <code>PutDestination</code> does not set any access policy with the destination, which means a cross-account user cannot call <a>PutSubscriptionFilter</a> against this destination. To enable this, the destination owner must call <a>PutDestinationPolicy</a> after <code>PutDestination</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutDestinationRequest",
        "variableName" : "putDestinationRequest",
        "variableType" : "PutDestinationRequest",
        "documentation" : "",
        "simpleType" : "PutDestinationRequest",
        "variableSetterType" : "PutDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDestination",
      "operationName" : "PutDestination",
      "returnType" : {
        "returnType" : "PutDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDestinationResult"
    },
    "PutDestinationPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDestinationPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDestinationPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDestinationPolicyRequest, PutDestinationPolicyResult>",
      "asyncReturnType" : "PutDestinationPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates an access policy associated with an existing destination. An access policy is an <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies_overview.html\">IAM policy document</a> that is used to authorize claims to register a subscription filter against a given destination.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutDestinationPolicyRequest",
        "variableName" : "putDestinationPolicyRequest",
        "variableType" : "PutDestinationPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutDestinationPolicyRequest",
        "variableSetterType" : "PutDestinationPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDestinationPolicy",
      "operationName" : "PutDestinationPolicy",
      "returnType" : {
        "returnType" : "PutDestinationPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDestinationPolicyResult"
    },
    "PutLogEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutLogEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLogEventsRequest, PutLogEventsResult>",
      "asyncReturnType" : "PutLogEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads a batch of log events to the specified log stream.</p> <p>You must include the sequence token obtained from the response of the previous call. An upload in a newly created log stream does not require a sequence token. You can also get the sequence token using <a>DescribeLogStreams</a>. If you call <code>PutLogEvents</code> twice within a narrow time period using the same value for <code>sequenceToken</code>, both calls may be successful, or one may be rejected.</p> <p>The batch of events must satisfy the following constraints:</p> <ul> <li> <p>The maximum batch size is 1,048,576 bytes, and this size is calculated as the sum of all event messages in UTF-8, plus 26 bytes for each log event.</p> </li> <li> <p>None of the log events in the batch can be more than 2 hours in the future.</p> </li> <li> <p>None of the log events in the batch can be older than 14 days or the retention period of the log group.</p> </li> <li> <p>The log events in the batch must be in chronological ordered by their time stamp (the time the event occurred, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC).</p> </li> <li> <p>The maximum number of log events in a batch is 10,000.</p> </li> <li> <p>A batch of log events in a single request cannot span more than 24 hours. Otherwise, the operation fails.</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSequenceTokenException",
        "documentation" : "<p>The sequence token is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataAlreadyAcceptedException",
        "documentation" : "<p>The event was already logged.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutLogEventsRequest",
        "variableName" : "putLogEventsRequest",
        "variableType" : "PutLogEventsRequest",
        "documentation" : "",
        "simpleType" : "PutLogEventsRequest",
        "variableSetterType" : "PutLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putLogEvents",
      "operationName" : "PutLogEvents",
      "returnType" : {
        "returnType" : "PutLogEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutLogEventsResult"
    },
    "PutMetricFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutMetricFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutMetricFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricFilterRequest, PutMetricFilterResult>",
      "asyncReturnType" : "PutMetricFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a metric filter and associates it with the specified log group. Metric filters allow you to configure rules to extract metric data from log events ingested through <a>PutLogEvents</a>.</p> <p>The maximum number of metric filters that can be associated with a log group is 100.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have reached the maximum number of resources that can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutMetricFilterRequest",
        "variableName" : "putMetricFilterRequest",
        "variableType" : "PutMetricFilterRequest",
        "documentation" : "",
        "simpleType" : "PutMetricFilterRequest",
        "variableSetterType" : "PutMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putMetricFilter",
      "operationName" : "PutMetricFilter",
      "returnType" : {
        "returnType" : "PutMetricFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "PutMetricFilterResult"
    },
    "PutResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResourcePolicyRequest, PutResourcePolicyResult>",
      "asyncReturnType" : "PutResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a resource policy allowing other AWS services to put log events to this account, such as Amazon Route 53. An account can have up to 50 resource policies per region.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have reached the maximum number of resources that can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutResourcePolicyRequest",
        "variableName" : "putResourcePolicyRequest",
        "variableType" : "PutResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "PutResourcePolicyRequest",
        "variableSetterType" : "PutResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResourcePolicy",
      "operationName" : "PutResourcePolicy",
      "returnType" : {
        "returnType" : "PutResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutResourcePolicyResult"
    },
    "PutRetentionPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRetentionPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRetentionPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRetentionPolicyRequest, PutRetentionPolicyResult>",
      "asyncReturnType" : "PutRetentionPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the retention of the specified log group. A retention policy allows you to configure the number of days for which to retain log events in the specified log group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutRetentionPolicyRequest",
        "variableName" : "putRetentionPolicyRequest",
        "variableType" : "PutRetentionPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutRetentionPolicyRequest",
        "variableSetterType" : "PutRetentionPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRetentionPolicy",
      "operationName" : "PutRetentionPolicy",
      "returnType" : {
        "returnType" : "PutRetentionPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRetentionPolicyResult"
    },
    "PutSubscriptionFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutSubscriptionFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutSubscriptionFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutSubscriptionFilterRequest, PutSubscriptionFilterResult>",
      "asyncReturnType" : "PutSubscriptionFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a subscription filter and associates it with the specified log group. Subscription filters allow you to subscribe to a real-time stream of log events ingested through <a>PutLogEvents</a> and have them delivered to a specific destination. Currently, the supported destinations are:</p> <ul> <li> <p>An Amazon Kinesis stream belonging to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>A logical destination that belongs to a different account, for cross-account delivery.</p> </li> <li> <p>An Amazon Kinesis Firehose delivery stream that belongs to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>An AWS Lambda function that belongs to the same account as the subscription filter, for same-account delivery.</p> </li> </ul> <p>There can only be one subscription filter associated with a log group. If you are updating an existing filter, you must specify the correct name in <code>filterName</code>. Otherwise, the call fails because you cannot associate a second filter with a log group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have reached the maximum number of resources that can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutSubscriptionFilterRequest",
        "variableName" : "putSubscriptionFilterRequest",
        "variableType" : "PutSubscriptionFilterRequest",
        "documentation" : "",
        "simpleType" : "PutSubscriptionFilterRequest",
        "variableSetterType" : "PutSubscriptionFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putSubscriptionFilter",
      "operationName" : "PutSubscriptionFilter",
      "returnType" : {
        "returnType" : "PutSubscriptionFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "PutSubscriptionFilterResult"
    },
    "TagLogGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagLogGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagLogGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagLogGroupRequest, TagLogGroupResult>",
      "asyncReturnType" : "TagLogGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or updates the specified tags for the specified log group.</p> <p>To list the tags for a log group, use <a>ListTagsLogGroup</a>. To remove tags, use <a>UntagLogGroup</a>.</p> <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/log-group-tagging.html\">Tag Log Groups in Amazon CloudWatch Logs</a> in the <i>Amazon CloudWatch Logs User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TagLogGroupRequest",
        "variableName" : "tagLogGroupRequest",
        "variableType" : "TagLogGroupRequest",
        "documentation" : "",
        "simpleType" : "TagLogGroupRequest",
        "variableSetterType" : "TagLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagLogGroup",
      "operationName" : "TagLogGroup",
      "returnType" : {
        "returnType" : "TagLogGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "TagLogGroupResult"
    },
    "TestMetricFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestMetricFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestMetricFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestMetricFilterRequest, TestMetricFilterResult>",
      "asyncReturnType" : "TestMetricFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tests the filter pattern of a metric filter against a sample of log event messages. You can use this operation to validate the correctness of a metric filter pattern.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TestMetricFilterRequest",
        "variableName" : "testMetricFilterRequest",
        "variableType" : "TestMetricFilterRequest",
        "documentation" : "",
        "simpleType" : "TestMetricFilterRequest",
        "variableSetterType" : "TestMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testMetricFilter",
      "operationName" : "TestMetricFilter",
      "returnType" : {
        "returnType" : "TestMetricFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "TestMetricFilterResult"
    },
    "UntagLogGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagLogGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagLogGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagLogGroupRequest, UntagLogGroupResult>",
      "asyncReturnType" : "UntagLogGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified log group.</p> <p>To list the tags for a log group, use <a>ListTagsLogGroup</a>. To add tags, use <a>UntagLogGroup</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UntagLogGroupRequest",
        "variableName" : "untagLogGroupRequest",
        "variableType" : "UntagLogGroupRequest",
        "documentation" : "",
        "simpleType" : "UntagLogGroupRequest",
        "variableSetterType" : "UntagLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagLogGroup",
      "operationName" : "UntagLogGroup",
      "returnType" : {
        "returnType" : "UntagLogGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagLogGroupResult"
    }
  },
  "shapes" : {
    "AssociateKmsKeyRequest" : {
      "c2jName" : "AssociateKmsKeyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateKmsKey",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Logs_20140328.AssociateKmsKey",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "logGroupName",
        "c2jShape" : "LogGroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the log group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogGroupName",
        "getterDocumentation" : "/**<p>The name of the log group.</p>\n@return The name of the log group.*/",
        "getterMethodName" : "getLogGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "logGroupName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "logGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LogGroupName",
        "setterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.*/",
        "setterMethodName" : "setLogGroupName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "<p>The name of the log group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "kmsKeyId",
        "c2jShape" : "KmsKeyId",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>\n@param kmsKeyId The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKmsKeyId",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>\n@return The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.*/",
        "getterMethodName" : "getKmsKeyId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "kmsKeyId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "kmsKeyId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KmsKeyId",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>\n@param kmsKeyId The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.*/",
        "setterMethodName" : "setKmsKeyId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "kmsKeyId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>\n@param kmsKeyId The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "kmsKeyId",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "KmsKeyId" : {
          "c2jName" : "kmsKeyId",
          "c2jShape" : "KmsKeyId",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>\n@param kmsKeyId The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKmsKeyId",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>\n@return The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.*/",
          "getterMethodName" : "getKmsKeyId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "kmsKeyId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "kmsKeyId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "KmsKeyId",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>\n@param kmsKeyId The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.*/",
          "setterMethodName" : "setKmsKeyId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "kmsKeyId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>\n@param kmsKeyId The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "kmsKeyId",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LogGroupName" : {
          "c2jName" : "logGroupName",
          "c2jShape" : "LogGroupName",
          "deprecated" : false,
          "documentation" : "<p>The name of the log group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLogGroupName",
          "getterDocumentation" : "/**<p>The name of the log group.</p>\n@return The name of the log group.*/",
          "getterMethodName" : "getLogGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "logGroupName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "logGroupName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LogGroupName",
          "setterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.*/",
          "setterMethodName" : "setLogGroupName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "<p>The name of the log group.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "logGroupName", "kmsKeyId" ],
      "shapeName" : "AssociateKmsKeyRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AssociateKmsKeyRequest",
        "variableName" : "associateKmsKeyRequest",
        "variableType" : "AssociateKmsKeyRequest",
        "documentation" : null,
        "simpleType" : "AssociateKmsKeyRequest",
        "variableSetterType" : "AssociateKmsKeyRequest"
      },
      "wrapper" : false
    },
    "AssociateKmsKeyResult" : {
      "c2jName" : "AssociateKmsKeyResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateKmsKeyResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AssociateKmsKeyResult",
        "variableName" : "associateKmsKeyResult",
        "variableType" : "AssociateKmsKeyResult",
        "documentation" : null,
        "simpleType" : "AssociateKmsKeyResult",
        "variableSetterType" : "AssociateKmsKeyResult"
      },
      "wrapper" : false
    },
    "CancelExportTaskRequest" : {
      "c2jName" : "CancelExportTaskRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelExportTask",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Logs_20140328.CancelExportTask",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "taskId",
        "c2jShape" : "ExportTaskId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the export task.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTaskId",
        "getterDocumentation" : "/**<p>The ID of the export task.</p>\n@return The ID of the export task.*/",
        "getterMethodName" : "getTaskId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "taskId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "taskId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TaskId",
        "setterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.*/",
        "setterMethodName" : "setTaskId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "taskId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "taskId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the export task.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TaskId" : {
          "c2jName" : "taskId",
          "c2jShape" : "ExportTaskId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the export task.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTaskId",
          "getterDocumentation" : "/**<p>The ID of the export task.</p>\n@return The ID of the export task.*/",
          "getterMethodName" : "getTaskId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "taskId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "taskId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TaskId",
          "setterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.*/",
[...]
