{
  "customizationConfig" : {
    "additionalShapeConstructors" : {
      "CreateLogGroupRequest" : {
        "constructorForms" : [ [ "LogGroupName" ] ]
      },
      "CreateLogStreamRequest" : {
        "constructorForms" : [ [ "LogGroupName", "LogStreamName" ] ]
      },
      "DeleteLogGroupRequest" : {
        "constructorForms" : [ [ "LogGroupName" ] ]
      },
      "DeleteLogStreamRequest" : {
        "constructorForms" : [ [ "LogGroupName", "LogStreamName" ] ]
      },
      "DeleteMetricFilterRequest" : {
        "constructorForms" : [ [ "LogGroupName", "FilterName" ] ]
      },
      "DeleteRetentionPolicyRequest" : {
        "constructorForms" : [ [ "LogGroupName" ] ]
      },
      "DescribeLogStreamsRequest" : {
        "constructorForms" : [ [ "LogGroupName" ] ]
      },
      "DescribeMetricFiltersRequest" : {
        "constructorForms" : [ [ "LogGroupName" ] ]
      },
      "GetLogEventsRequest" : {
        "constructorForms" : [ [ "LogGroupName", "LogStreamName" ] ]
      },
      "PutLogEventsRequest" : {
        "constructorForms" : [ [ "LogGroupName", "LogStreamName", "LogEvents" ] ]
      },
      "PutMetricFilterRequest" : {
        "constructorForms" : [ [ "LogGroupName", "FilterName", "FilterPattern", "MetricTransformations" ] ]
      },
      "PutRetentionPolicyRequest" : {
        "constructorForms" : [ [ "LogGroupName", "RetentionInDays" ] ]
      }
    },
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeDestinations" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeLogGroups" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true
  },
  "metadata" : {
    "apiVersion" : "2014-03-28",
    "asyncClient" : "AWSLogsAsyncClient",
    "asyncClientBuilderClassName" : "AWSLogsAsyncClientBuilder",
    "asyncInterface" : "AWSLogsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSLogsModuleInjector",
    "defaultEndpoint" : "https://logs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "logs.us-east-1.amazonaws.com",
    "documentation" : "<p>You can use Amazon CloudWatch Logs to monitor, store, and access your log files from EC2 instances, Amazon CloudTrail, or other sources. You can then retrieve the associated log data from CloudWatch Logs using the Amazon CloudWatch console, the CloudWatch Logs commands in the AWS CLI, the CloudWatch Logs API, or the CloudWatch Logs SDK.</p> <p>You can use CloudWatch Logs to:</p> <ul> <li> <p> <b>Monitor Logs from Amazon EC2 Instances in Real-time</b>: You can use CloudWatch Logs to monitor applications and systems using log data. For example, CloudWatch Logs can track the number of errors that occur in your application logs and send you a notification whenever the rate of errors exceeds a threshold you specify. CloudWatch Logs uses your log data for monitoring; so, no code changes are required. For example, you can monitor application logs for specific literal terms (such as \"NullReferenceException\") or count the number of occurrences of a literal term at a particular position in log data (such as \"404\" status codes in an Apache access log). When the term you are searching for is found, CloudWatch Logs reports the data to a Amazon CloudWatch metric that you specify.</p> </li> <li> <p> <b>Monitor Amazon CloudTrail Logged Events</b>: You can create alarms in Amazon CloudWatch and receive notifications of particular API activity as captured by CloudTrail and use the notification to perform troubleshooting.</p> </li> <li> <p> <b>Archive Log Data</b>: You can use CloudWatch Logs to store your log data in highly durable storage. You can change the log retention setting so that any log events older than this setting are automatically deleted. The CloudWatch Logs agent makes it easy to quickly send both rotated and non-rotated log data off of a host and into the log service. You can then access the raw log data when you need it.</p> </li> </ul>",
    "endpointPrefix" : "logs",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.logs",
    "packagePath" : "com/amazonaws/services/logs",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudWatch Logs",
    "serviceName" : "Amazon CloudWatch Logs",
    "signingName" : "logs",
    "smokeTestsPackageName" : "com.amazonaws.services.logs.smoketests",
    "syncClient" : "AWSLogsClient",
    "syncClientBuilderClassName" : "AWSLogsClientBuilder",
    "syncInterface" : "AWSLogs",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelExportTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelExportTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelExportTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelExportTaskRequest, CancelExportTaskResult>",
      "asyncReturnType" : "CancelExportTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the specified export task.</p> <p>The task must be in the <code>PENDING</code> or <code>RUNNING</code> state.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation is not valid on the specified resource.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelExportTaskRequest",
        "variableName" : "cancelExportTaskRequest",
        "variableType" : "CancelExportTaskRequest",
        "documentation" : "",
        "simpleType" : "CancelExportTaskRequest",
        "variableSetterType" : "CancelExportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelExportTask",
      "operationName" : "CancelExportTask",
      "returnType" : {
        "returnType" : "CancelExportTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelExportTaskResult"
    },
    "CreateExportTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateExportTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateExportTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateExportTaskRequest, CreateExportTaskResult>",
      "asyncReturnType" : "CreateExportTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an export task, which allows you to efficiently export data from a log group to an Amazon S3 bucket.</p> <p>This is an asynchronous call. If all the required information is provided, this operation initiates an export task and responds with the ID of the task. After the task has started, you can use <a>DescribeExportTasks</a> to get the status of the export task. Each account can only have one active (<code>RUNNING</code> or <code>PENDING</code>) export task at a time. To cancel an export task, use <a>CancelExportTask</a>.</p> <p>You can export logs from multiple log groups or multiple time ranges to the same S3 bucket. To separate out log data for each export task, you can specify a prefix that will be used as the Amazon S3 key prefix for all exported objects.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateExportTaskRequest",
        "variableName" : "createExportTaskRequest",
        "variableType" : "CreateExportTaskRequest",
        "documentation" : "",
        "simpleType" : "CreateExportTaskRequest",
        "variableSetterType" : "CreateExportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createExportTask",
      "operationName" : "CreateExportTask",
      "returnType" : {
        "returnType" : "CreateExportTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateExportTaskResult"
    },
    "CreateLogGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLogGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLogGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLogGroupRequest, CreateLogGroupResult>",
      "asyncReturnType" : "CreateLogGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a log group with the specified name.</p> <p>You can create up to 5000 log groups per account.</p> <p>You must use the following guidelines when naming a log group:</p> <ul> <li> <p>Log group names must be unique within a region for an AWS account.</p> </li> <li> <p>Log group names can be between 1 and 512 characters long.</p> </li> <li> <p>Log group names consist of the following characters: a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), '/' (forward slash), and '.' (period).</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLogGroupRequest",
        "variableName" : "createLogGroupRequest",
        "variableType" : "CreateLogGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateLogGroupRequest",
        "variableSetterType" : "CreateLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLogGroup",
      "operationName" : "CreateLogGroup",
      "returnType" : {
        "returnType" : "CreateLogGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLogGroupResult"
    },
    "CreateLogStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLogStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLogStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLogStreamRequest, CreateLogStreamResult>",
      "asyncReturnType" : "CreateLogStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a log stream for the specified log group.</p> <p>There is no limit on the number of log streams that you can create for a log group.</p> <p>You must use the following guidelines when naming a log stream:</p> <ul> <li> <p>Log stream names must be unique within the log group.</p> </li> <li> <p>Log stream names can be between 1 and 512 characters long.</p> </li> <li> <p>The ':' (colon) and '*' (asterisk) characters are not allowed.</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLogStreamRequest",
        "variableName" : "createLogStreamRequest",
        "variableType" : "CreateLogStreamRequest",
        "documentation" : "",
        "simpleType" : "CreateLogStreamRequest",
        "variableSetterType" : "CreateLogStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLogStream",
      "operationName" : "CreateLogStream",
      "returnType" : {
        "returnType" : "CreateLogStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLogStreamResult"
    },
    "DeleteDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDestinationRequest, DeleteDestinationResult>",
      "asyncReturnType" : "DeleteDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified destination, and eventually disables all the subscription filters that publish to it. This operation does not delete the physical resource encapsulated by the destination.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDestinationRequest",
        "variableName" : "deleteDestinationRequest",
        "variableType" : "DeleteDestinationRequest",
        "documentation" : "",
        "simpleType" : "DeleteDestinationRequest",
        "variableSetterType" : "DeleteDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDestination",
      "operationName" : "DeleteDestination",
      "returnType" : {
        "returnType" : "DeleteDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDestinationResult"
    },
    "DeleteLogGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLogGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLogGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLogGroupRequest, DeleteLogGroupResult>",
      "asyncReturnType" : "DeleteLogGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified log group and permanently deletes all the archived log events associated with the log group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLogGroupRequest",
        "variableName" : "deleteLogGroupRequest",
        "variableType" : "DeleteLogGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteLogGroupRequest",
        "variableSetterType" : "DeleteLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLogGroup",
      "operationName" : "DeleteLogGroup",
      "returnType" : {
        "returnType" : "DeleteLogGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLogGroupResult"
    },
    "DeleteLogStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLogStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLogStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLogStreamRequest, DeleteLogStreamResult>",
      "asyncReturnType" : "DeleteLogStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified log stream and permanently deletes all the archived log events associated with the log stream.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLogStreamRequest",
        "variableName" : "deleteLogStreamRequest",
        "variableType" : "DeleteLogStreamRequest",
        "documentation" : "",
        "simpleType" : "DeleteLogStreamRequest",
        "variableSetterType" : "DeleteLogStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLogStream",
      "operationName" : "DeleteLogStream",
      "returnType" : {
        "returnType" : "DeleteLogStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLogStreamResult"
    },
    "DeleteMetricFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMetricFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMetricFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMetricFilterRequest, DeleteMetricFilterResult>",
      "asyncReturnType" : "DeleteMetricFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified metric filter.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteMetricFilterRequest",
        "variableName" : "deleteMetricFilterRequest",
        "variableType" : "DeleteMetricFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteMetricFilterRequest",
        "variableSetterType" : "DeleteMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMetricFilter",
      "operationName" : "DeleteMetricFilter",
      "returnType" : {
        "returnType" : "DeleteMetricFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMetricFilterResult"
    },
    "DeleteRetentionPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRetentionPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRetentionPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRetentionPolicyRequest, DeleteRetentionPolicyResult>",
      "asyncReturnType" : "DeleteRetentionPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified retention policy.</p> <p>Log events do not expire if they belong to log groups without a retention policy.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRetentionPolicyRequest",
        "variableName" : "deleteRetentionPolicyRequest",
        "variableType" : "DeleteRetentionPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteRetentionPolicyRequest",
        "variableSetterType" : "DeleteRetentionPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRetentionPolicy",
      "operationName" : "DeleteRetentionPolicy",
      "returnType" : {
        "returnType" : "DeleteRetentionPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRetentionPolicyResult"
    },
    "DeleteSubscriptionFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriptionFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriptionFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriptionFilterRequest, DeleteSubscriptionFilterResult>",
      "asyncReturnType" : "DeleteSubscriptionFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified subscription filter.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSubscriptionFilterRequest",
        "variableName" : "deleteSubscriptionFilterRequest",
        "variableType" : "DeleteSubscriptionFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubscriptionFilterRequest",
        "variableSetterType" : "DeleteSubscriptionFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscriptionFilter",
      "operationName" : "DeleteSubscriptionFilter",
      "returnType" : {
        "returnType" : "DeleteSubscriptionFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSubscriptionFilterResult"
    },
    "DescribeDestinations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDestinationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDestinationsRequest, DescribeDestinationsResult>",
      "asyncReturnType" : "DescribeDestinationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all your destinations. The results are ASCII-sorted by destination name.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDestinationsRequest",
        "variableName" : "describeDestinationsRequest",
        "variableType" : "DescribeDestinationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeDestinationsRequest",
        "variableSetterType" : "DescribeDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDestinations",
      "operationName" : "DescribeDestinations",
      "returnType" : {
        "returnType" : "DescribeDestinationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDestinationsResult"
    },
    "DescribeExportTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExportTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExportTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExportTasksRequest, DescribeExportTasksResult>",
      "asyncReturnType" : "DescribeExportTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the specified export tasks. You can list all your export tasks or filter the results based on task ID or task status.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeExportTasksRequest",
        "variableName" : "describeExportTasksRequest",
        "variableType" : "DescribeExportTasksRequest",
        "documentation" : "",
        "simpleType" : "DescribeExportTasksRequest",
        "variableSetterType" : "DescribeExportTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeExportTasks",
      "operationName" : "DescribeExportTasks",
      "returnType" : {
        "returnType" : "DescribeExportTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeExportTasksResult"
    },
    "DescribeLogGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLogGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLogGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLogGroupsRequest, DescribeLogGroupsResult>",
      "asyncReturnType" : "DescribeLogGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the specified log groups. You can list all your log groups or filter the results by prefix. The results are ASCII-sorted by log group name.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLogGroupsRequest",
        "variableName" : "describeLogGroupsRequest",
        "variableType" : "DescribeLogGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeLogGroupsRequest",
        "variableSetterType" : "DescribeLogGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLogGroups",
      "operationName" : "DescribeLogGroups",
      "returnType" : {
        "returnType" : "DescribeLogGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLogGroupsResult"
    },
    "DescribeLogStreams" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLogStreamsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLogStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLogStreamsRequest, DescribeLogStreamsResult>",
      "asyncReturnType" : "DescribeLogStreamsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the log streams for the specified log group. You can list all the log streams or filter the results by prefix. You can also control how the results are ordered.</p> <p>This operation has a limit of five transactions per second, after which transactions are throttled.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLogStreamsRequest",
        "variableName" : "describeLogStreamsRequest",
        "variableType" : "DescribeLogStreamsRequest",
        "documentation" : "",
        "simpleType" : "DescribeLogStreamsRequest",
        "variableSetterType" : "DescribeLogStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLogStreams",
      "operationName" : "DescribeLogStreams",
      "returnType" : {
        "returnType" : "DescribeLogStreamsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLogStreamsResult"
    },
    "DescribeMetricFilters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMetricFiltersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMetricFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMetricFiltersRequest, DescribeMetricFiltersResult>",
      "asyncReturnType" : "DescribeMetricFiltersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the specified metric filters. You can list all the metric filters or filter the results by log name, prefix, metric name, or metric namespace. The results are ASCII-sorted by filter name.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeMetricFiltersRequest",
        "variableName" : "describeMetricFiltersRequest",
        "variableType" : "DescribeMetricFiltersRequest",
        "documentation" : "",
        "simpleType" : "DescribeMetricFiltersRequest",
        "variableSetterType" : "DescribeMetricFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMetricFilters",
      "operationName" : "DescribeMetricFilters",
      "returnType" : {
        "returnType" : "DescribeMetricFiltersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeMetricFiltersResult"
    },
    "DescribeSubscriptionFilters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscriptionFiltersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscriptionFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscriptionFiltersRequest, DescribeSubscriptionFiltersResult>",
      "asyncReturnType" : "DescribeSubscriptionFiltersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the subscription filters for the specified log group. You can list all the subscription filters or filter the results by prefix. The results are ASCII-sorted by filter name.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSubscriptionFiltersRequest",
        "variableName" : "describeSubscriptionFiltersRequest",
        "variableType" : "DescribeSubscriptionFiltersRequest",
        "documentation" : "",
        "simpleType" : "DescribeSubscriptionFiltersRequest",
        "variableSetterType" : "DescribeSubscriptionFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubscriptionFilters",
      "operationName" : "DescribeSubscriptionFilters",
      "returnType" : {
        "returnType" : "DescribeSubscriptionFiltersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSubscriptionFiltersResult"
    },
    "FilterLogEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<FilterLogEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<FilterLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<FilterLogEventsRequest, FilterLogEventsResult>",
      "asyncReturnType" : "FilterLogEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists log events from the specified log group. You can list all the log events or filter the results using a filter pattern, a time range, and the name of the log stream.</p> <p>By default, this operation returns as many log events as can fit in 1MB (up to 10,000 log events), or all the events found within the time range that you specify. If the results include a token, then there are more log events available, and you can get additional results by specifying the token in a subsequent call.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "FilterLogEventsRequest",
        "variableName" : "filterLogEventsRequest",
        "variableType" : "FilterLogEventsRequest",
        "documentation" : "",
        "simpleType" : "FilterLogEventsRequest",
        "variableSetterType" : "FilterLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "filterLogEvents",
      "operationName" : "FilterLogEvents",
      "returnType" : {
        "returnType" : "FilterLogEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "FilterLogEventsResult"
    },
    "GetLogEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLogEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLogEventsRequest, GetLogEventsResult>",
      "asyncReturnType" : "GetLogEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists log events from the specified log stream. You can list all the log events or filter using a time range.</p> <p>By default, this operation returns as many log events as can fit in a response size of 1MB (up to 10,000 log events). If the results include tokens, there are more log events available. You can get additional log events by specifying one of the tokens in a subsequent call.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetLogEventsRequest",
        "variableName" : "getLogEventsRequest",
        "variableType" : "GetLogEventsRequest",
        "documentation" : "",
        "simpleType" : "GetLogEventsRequest",
        "variableSetterType" : "GetLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLogEvents",
      "operationName" : "GetLogEvents",
      "returnType" : {
        "returnType" : "GetLogEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLogEventsResult"
    },
    "PutDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDestinationRequest, PutDestinationResult>",
      "asyncReturnType" : "PutDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a destination. A destination encapsulates a physical resource (such as a Kinesis stream) and enables you to subscribe to a real-time stream of log events of a different account, ingested using <a>PutLogEvents</a>. Currently, the only supported physical resource is a Amazon Kinesis stream belonging to the same account as the destination.</p> <p>A destination controls what is written to its Amazon Kinesis stream through an access policy. By default, <code>PutDestination</code> does not set any access policy with the destination, which means a cross-account user cannot call <a>PutSubscriptionFilter</a> against this destination. To enable this, the destination owner must call <a>PutDestinationPolicy</a> after <code>PutDestination</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutDestinationRequest",
        "variableName" : "putDestinationRequest",
        "variableType" : "PutDestinationRequest",
        "documentation" : "",
        "simpleType" : "PutDestinationRequest",
        "variableSetterType" : "PutDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDestination",
      "operationName" : "PutDestination",
      "returnType" : {
        "returnType" : "PutDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDestinationResult"
    },
    "PutDestinationPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDestinationPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDestinationPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDestinationPolicyRequest, PutDestinationPolicyResult>",
      "asyncReturnType" : "PutDestinationPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates an access policy associated with an existing destination. An access policy is an <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies_overview.html\">IAM policy document</a> that is used to authorize claims to register a subscription filter against a given destination.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutDestinationPolicyRequest",
        "variableName" : "putDestinationPolicyRequest",
        "variableType" : "PutDestinationPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutDestinationPolicyRequest",
        "variableSetterType" : "PutDestinationPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDestinationPolicy",
      "operationName" : "PutDestinationPolicy",
      "returnType" : {
        "returnType" : "PutDestinationPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDestinationPolicyResult"
    },
    "PutLogEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutLogEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLogEventsRequest, PutLogEventsResult>",
      "asyncReturnType" : "PutLogEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads a batch of log events to the specified log stream.</p> <p>You must include the sequence token obtained from the response of the previous call. An upload in a newly created log stream does not require a sequence token. You can also get the sequence token using <a>DescribeLogStreams</a>.</p> <p>The batch of events must satisfy the following constraints:</p> <ul> <li> <p>The maximum batch size is 1,048,576 bytes, and this size is calculated as the sum of all event messages in UTF-8, plus 26 bytes for each log event.</p> </li> <li> <p>None of the log events in the batch can be more than 2 hours in the future.</p> </li> <li> <p>None of the log events in the batch can be older than 14 days or the retention period of the log group.</p> </li> <li> <p>The log events in the batch must be in chronological ordered by their timestamp.</p> </li> <li> <p>The maximum number of log events in a batch is 10,000.</p> </li> <li> <p>A batch of log events in a single PutLogEvents request cannot span more than 24 hours. Otherwise, the PutLogEvents operation will fail.</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "InvalidSequenceTokenException",
        "documentation" : "<p>The sequence token is not valid.</p>"
      }, {
        "exceptionName" : "DataAlreadyAcceptedException",
        "documentation" : "<p>The event was already logged.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutLogEventsRequest",
        "variableName" : "putLogEventsRequest",
        "variableType" : "PutLogEventsRequest",
        "documentation" : "",
        "simpleType" : "PutLogEventsRequest",
        "variableSetterType" : "PutLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putLogEvents",
      "operationName" : "PutLogEvents",
      "returnType" : {
        "returnType" : "PutLogEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutLogEventsResult"
    },
    "PutMetricFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutMetricFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutMetricFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricFilterRequest, PutMetricFilterResult>",
      "asyncReturnType" : "PutMetricFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a metric filter and associates it with the specified log group. Metric filters allow you to configure rules to extract metric data from log events ingested through <a>PutLogEvents</a>.</p> <p>The maximum number of metric filters that can be associated with a log group is 100.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutMetricFilterRequest",
        "variableName" : "putMetricFilterRequest",
        "variableType" : "PutMetricFilterRequest",
        "documentation" : "",
        "simpleType" : "PutMetricFilterRequest",
        "variableSetterType" : "PutMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putMetricFilter",
      "operationName" : "PutMetricFilter",
      "returnType" : {
        "returnType" : "PutMetricFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "PutMetricFilterResult"
    },
    "PutRetentionPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRetentionPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRetentionPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRetentionPolicyRequest, PutRetentionPolicyResult>",
      "asyncReturnType" : "PutRetentionPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the retention of the specified log group. A retention policy allows you to configure the number of days you want to retain log events in the specified log group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutRetentionPolicyRequest",
        "variableName" : "putRetentionPolicyRequest",
        "variableType" : "PutRetentionPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutRetentionPolicyRequest",
        "variableSetterType" : "PutRetentionPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRetentionPolicy",
      "operationName" : "PutRetentionPolicy",
      "returnType" : {
        "returnType" : "PutRetentionPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRetentionPolicyResult"
    },
    "PutSubscriptionFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutSubscriptionFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutSubscriptionFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutSubscriptionFilterRequest, PutSubscriptionFilterResult>",
      "asyncReturnType" : "PutSubscriptionFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a subscription filter and associates it with the specified log group. Subscription filters allow you to subscribe to a real-time stream of log events ingested through <a>PutLogEvents</a> and have them delivered to a specific destination. Currently, the supported destinations are:</p> <ul> <li> <p>An Amazon Kinesis stream belonging to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>A logical destination that belongs to a different account, for cross-account delivery.</p> </li> <li> <p>An Amazon Kinesis Firehose stream that belongs to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>An AWS Lambda function that belongs to the same account as the subscription filter, for same-account delivery.</p> </li> </ul> <p>There can only be one subscription filter associated with a log group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutSubscriptionFilterRequest",
        "variableName" : "putSubscriptionFilterRequest",
        "variableType" : "PutSubscriptionFilterRequest",
        "documentation" : "",
        "simpleType" : "PutSubscriptionFilterRequest",
        "variableSetterType" : "PutSubscriptionFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putSubscriptionFilter",
      "operationName" : "PutSubscriptionFilter",
      "returnType" : {
        "returnType" : "PutSubscriptionFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "PutSubscriptionFilterResult"
    },
    "TestMetricFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestMetricFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestMetricFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestMetricFilterRequest, TestMetricFilterResult>",
      "asyncReturnType" : "TestMetricFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tests the filter pattern of a metric filter against a sample of log event messages. You can use this operation to validate the correctness of a metric filter pattern.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is specified incorrectly.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TestMetricFilterRequest",
        "variableName" : "testMetricFilterRequest",
        "variableType" : "TestMetricFilterRequest",
        "documentation" : "",
        "simpleType" : "TestMetricFilterRequest",
        "variableSetterType" : "TestMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testMetricFilter",
      "operationName" : "TestMetricFilter",
      "returnType" : {
        "returnType" : "TestMetricFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "TestMetricFilterResult"
    }
  },
  "shapes" : {
    "CancelExportTaskRequest" : {
      "c2jName" : "CancelExportTaskRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelExportTask",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Logs_20140328.CancelExportTask",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "taskId",
        "c2jShape" : "ExportTaskId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the export task.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The ID of the export task.</p>\n@return The ID of the export task.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "taskId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "taskId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "TaskId",
        "setterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "taskId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "taskId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the export task.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TaskId" : {
          "c2jName" : "taskId",
          "c2jShape" : "ExportTaskId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the export task.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The ID of the export task.</p>\n@return The ID of the export task.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "taskId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "taskId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "TaskId",
          "setterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "taskId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The ID of the export task.</p>\n@param taskId The ID of the export task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "taskId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the export task.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "taskId" ],
      "shapeName" : "CancelExportTaskRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CancelExportTaskRequest",
        "variableName" : "cancelExportTaskRequest",
        "variableType" : "CancelExportTaskRequest",
        "documentation" : null,
        "simpleType" : "CancelExportTaskRequest",
        "variableSetterType" : "CancelExportTaskRequest"
      },
      "wrapper" : false
    },
    "CancelExportTaskResult" : {
      "c2jName" : "CancelExportTaskResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CancelExportTaskResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CancelExportTaskResult",
        "variableName" : "cancelExportTaskResult",
        "variableType" : "CancelExportTaskResult",
        "documentation" : null,
        "simpleType" : "CancelExportTaskResult",
        "variableSetterType" : "CancelExportTaskResult"
      },
      "wrapper" : false
    },
    "CreateExportTaskRequest" : {
      "c2jName" : "CreateExportTaskRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateExportTask",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Logs_20140328.CreateExportTask",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "taskName",
        "c2jShape" : "ExportTaskName",
        "deprecated" : false,
        "documentation" : "<p>The name of the export task.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the export task.</p>\n@param taskName The name of the export task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the export task.</p>\n@return The name of the export task.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "taskName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "taskName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "TaskName",
        "setterDocumentation" : "/**<p>The name of the export task.</p>\n@param taskName The name of the export task.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "taskName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the export task.</p>\n@param taskName The name of the export task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "taskName",
          "variableType" : "String",
          "documentation" : "<p>The name of the export task.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "logGroupName",
        "c2jShape" : "LogGroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the log group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the log group.</p>\n@return The name of the log group.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "logGroupName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "logGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "LogGroupName",
        "setterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "<p>The name of the log group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "logStreamNamePrefix",
        "c2jShape" : "LogStreamName",
        "deprecated" : false,
        "documentation" : "<p>Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.</p>\n@param logStreamNamePrefix Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.</p>\n@return Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "logStreamNamePrefix",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "logStreamNamePrefix",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "LogStreamNamePrefix",
        "setterDocumentation" : "/**<p>Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.</p>\n@param logStreamNamePrefix Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "logStreamNamePrefix",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.</p>\n@param logStreamNamePrefix Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "logStreamNamePrefix",
          "variableType" : "String",
          "documentation" : "<p>Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "from",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>\n@param from The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>\n@return The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.*/",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "from",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "from",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "From",
        "setterDocumentation" : "/**<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>\n@param from The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.*/",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "from",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>\n@param from The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "from",
          "variableType" : "Long",
          "documentation" : "<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "to",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The end time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The end time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.</p>\n@param to The end time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The end time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.</p>\n@return The end time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.*/",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "to",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "to",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "To",
        "setterDocumentation" : "/**<p>The end time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.</p>\n@param to The end time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.*/",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "to",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The end time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.</p>\n@param to The end time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "to",
          "variableType" : "Long",
          "documentation" : "<p>The end time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "destination",
        "c2jShape" : "ExportDestinationBucket",
        "deprecated" : false,
        "documentation" : "<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>\n@param destination The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>\n@return The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "destination",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "destination",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Destination",
        "setterDocumentation" : "/**<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>\n@param destination The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "destination",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>\n@param destination The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "destination",
          "variableType" : "String",
          "documentation" : "<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "destinationPrefix",
        "c2jShape" : "ExportDestinationPrefix",
        "deprecated" : false,
        "documentation" : "<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>\n@param destinationPrefix The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>\n@return The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "destinationPrefix",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "destinationPrefix",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DestinationPrefix",
        "setterDocumentation" : "/**<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>\n@param destinationPrefix The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "destinationPrefix",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>\n@param destinationPrefix The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "destinationPrefix",
          "variableType" : "String",
          "documentation" : "<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Destination" : {
          "c2jName" : "destination",
          "c2jShape" : "ExportDestinationBucket",
          "deprecated" : false,
          "documentation" : "<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>\n@param destination The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>\n@return The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "destination",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "destination",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Destination",
          "setterDocumentation" : "/**<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>\n@param destination The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "destination",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>\n@param destination The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "destination",
            "variableType" : "String",
            "documentation" : "<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DestinationPrefix" : {
          "c2jName" : "destinationPrefix",
          "c2jShape" : "ExportDestinationPrefix",
          "deprecated" : false,
          "documentation" : "<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>\n@param destinationPrefix The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>\n@return The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "destinationPrefix",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "destinationPrefix",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "DestinationPrefix",
          "setterDocumentation" : "/**<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>\n@param destinationPrefix The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "destinationPrefix",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>\n@param destinationPrefix The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "destinationPrefix",
            "variableType" : "String",
            "documentation" : "<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "From" : {
          "c2jName" : "from",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>\n@param from The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>\n@return The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.*/",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "from",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "from",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "From",
          "setterDocumentation" : "/**<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>\n@param from The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.*/",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "from",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>\n@param from The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "from",
            "variableType" : "Long",
            "documentation" : "<p>The start time of the range for the request, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "LogGroupName" : {
          "c2jName" : "logGroupName",
          "c2jShape" : "LogGroupName",
          "deprecated" : false,
          "documentation" : "<p>The name of the log group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the log group.</p>\n@return The name of the log group.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "logGroupName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "logGroupName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "LogGroupName",
          "setterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the log group.</p>\n@param logGroupName The name of the log group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "<p>The name of the log group.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LogStreamNamePrefix" : {
          "c2jName" : "logStreamNamePrefix",
          "c2jShape" : "LogStreamName",
          "deprecated" : false,
          "documentation" : "<p>Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.</p>\n@param logStreamNamePrefix Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.</p>\n@return Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "logStreamNamePrefix",
            "queryString" : false,
            "statusCode" : false,
[...]
