{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-12-15",
    "asyncClient" : "AmazonLookoutEquipmentAsyncClient",
    "asyncClientBuilderClassName" : "AmazonLookoutEquipmentAsyncClientBuilder",
    "asyncInterface" : "AmazonLookoutEquipmentAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonLookoutEquipmentModuleInjector",
    "defaultEndpoint" : "lookoutequipment.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "lookoutequipment.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Lookout for Equipment is a machine learning service that uses advanced analytics to identify anomalies in machines from sensor data for use in predictive maintenance. </p>",
    "endpointPrefix" : "lookoutequipment",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.lookoutequipment",
    "packagePath" : "com/amazonaws/services/lookoutequipment",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "LookoutEquipment",
    "serviceFullName" : "Amazon Lookout for Equipment",
    "serviceId" : "LookoutEquipment",
    "serviceName" : "LookoutEquipment",
    "signingName" : "lookoutequipment",
    "smokeTestsPackageName" : "com.amazonaws.services.lookoutequipment.smoketests",
    "syncClient" : "AmazonLookoutEquipmentClient",
    "syncClientBuilderClassName" : "AmazonLookoutEquipmentClientBuilder",
    "syncInterface" : "AmazonLookoutEquipment",
    "uid" : "lookoutequipment-2020-12-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetRequest, CreateDatasetResult>",
      "asyncReturnType" : "CreateDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a container for a collection of data being ingested for analysis. The dataset contains the metadata describing where the data is and what the data actually looks like. In other words, it contains the location of the data source, the data schema, and other information. A dataset also contains any tags associated with the ingested data. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetRequest",
        "variableName" : "createDatasetRequest",
        "variableType" : "CreateDatasetRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetRequest",
        "variableSetterType" : "CreateDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataset",
      "operationName" : "CreateDataset",
      "returnType" : {
        "returnType" : "CreateDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetResult"
    },
    "CreateInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInferenceSchedulerRequest, CreateInferenceSchedulerResult>",
      "asyncReturnType" : "CreateInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a scheduled inference. Scheduling an inference is setting up a continuous real-time inference plan to analyze new measurement data. When setting up the schedule, you provide an S3 bucket location for the input data, assign it a delimiter between separate entries in the data, set an offset delay if desired, and set the frequency of inferencing. You must also provide an S3 bucket location for the output data. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateInferenceSchedulerRequest",
        "variableName" : "createInferenceSchedulerRequest",
        "variableType" : "CreateInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "CreateInferenceSchedulerRequest",
        "variableSetterType" : "CreateInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInferenceScheduler",
      "operationName" : "CreateInferenceScheduler",
      "returnType" : {
        "returnType" : "CreateInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateInferenceSchedulerResult"
    },
    "CreateModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateModelRequest, CreateModelResult>",
      "asyncReturnType" : "CreateModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an ML model for data inference. </p> <p>A machine-learning (ML) model is a mathematical model that finds patterns in your data. In Amazon Lookout for Equipment, the model learns the patterns of normal behavior and detects abnormal behavior that could be potential equipment failure (or maintenance events). The models are made by analyzing normal data and abnormalities in machine behavior that have already occurred.</p> <p>Your model is trained using a portion of the data from your dataset and uses that data to learn patterns of normal behavior and abnormal patterns that lead to equipment failure. Another portion of the data is used to evaluate the model's accuracy. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateModelRequest",
        "variableName" : "createModelRequest",
        "variableType" : "CreateModelRequest",
        "documentation" : "",
        "simpleType" : "CreateModelRequest",
        "variableSetterType" : "CreateModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createModel",
      "operationName" : "CreateModel",
      "returnType" : {
        "returnType" : "CreateModelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateModelResult"
    },
    "DeleteDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetRequest, DeleteDatasetResult>",
      "asyncReturnType" : "DeleteDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a dataset and associated artifacts. The operation will check to see if any inference scheduler or data ingestion job is currently using the dataset, and if there isn't, the dataset, its metadata, and any associated data stored in S3 will be deleted. This does not affect any models that used this dataset for training and evaluation, but does prevent it from being used in the future. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatasetRequest",
        "variableName" : "deleteDatasetRequest",
        "variableType" : "DeleteDatasetRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatasetRequest",
        "variableSetterType" : "DeleteDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataset",
      "operationName" : "DeleteDataset",
      "returnType" : {
        "returnType" : "DeleteDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatasetResult"
    },
    "DeleteInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInferenceSchedulerRequest, DeleteInferenceSchedulerResult>",
      "asyncReturnType" : "DeleteInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an inference scheduler that has been set up. Already processed output results are not affected. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInferenceSchedulerRequest",
        "variableName" : "deleteInferenceSchedulerRequest",
        "variableType" : "DeleteInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "DeleteInferenceSchedulerRequest",
        "variableSetterType" : "DeleteInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInferenceScheduler",
      "operationName" : "DeleteInferenceScheduler",
      "returnType" : {
        "returnType" : "DeleteInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInferenceSchedulerResult"
    },
    "DeleteModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteModelRequest, DeleteModelResult>",
      "asyncReturnType" : "DeleteModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an ML model currently available for Amazon Lookout for Equipment. This will prevent it from being used with an inference scheduler, even one that is already set up. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteModelRequest",
        "variableName" : "deleteModelRequest",
        "variableType" : "DeleteModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteModelRequest",
        "variableSetterType" : "DeleteModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteModel",
      "operationName" : "DeleteModel",
      "returnType" : {
        "returnType" : "DeleteModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteModelResult"
    },
    "DescribeDataIngestionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDataIngestionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDataIngestionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDataIngestionJobRequest, DescribeDataIngestionJobResult>",
      "asyncReturnType" : "DescribeDataIngestionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information on a specific data ingestion job such as creation time, dataset ARN, status, and so on. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDataIngestionJobRequest",
        "variableName" : "describeDataIngestionJobRequest",
        "variableType" : "DescribeDataIngestionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeDataIngestionJobRequest",
        "variableSetterType" : "DescribeDataIngestionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataIngestionJob",
      "operationName" : "DescribeDataIngestionJob",
      "returnType" : {
        "returnType" : "DescribeDataIngestionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDataIngestionJobResult"
    },
    "DescribeDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetRequest, DescribeDatasetResult>",
      "asyncReturnType" : "DescribeDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information on a specified dataset such as the schema location, status, and so on.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetRequest",
        "variableName" : "describeDatasetRequest",
        "variableType" : "DescribeDatasetRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetRequest",
        "variableSetterType" : "DescribeDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataset",
      "operationName" : "DescribeDataset",
      "returnType" : {
        "returnType" : "DescribeDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetResult"
    },
    "DescribeInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInferenceSchedulerRequest, DescribeInferenceSchedulerResult>",
      "asyncReturnType" : "DescribeInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Specifies information about the inference scheduler being used, including name, model, status, and associated metadata </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeInferenceSchedulerRequest",
        "variableName" : "describeInferenceSchedulerRequest",
        "variableType" : "DescribeInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "DescribeInferenceSchedulerRequest",
        "variableSetterType" : "DescribeInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInferenceScheduler",
      "operationName" : "DescribeInferenceScheduler",
      "returnType" : {
        "returnType" : "DescribeInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeInferenceSchedulerResult"
    },
    "DescribeModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeModelRequest, DescribeModelResult>",
      "asyncReturnType" : "DescribeModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides overall information about a specific ML model, including model name and ARN, dataset, training and evaluation information, status, and so on. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeModelRequest",
        "variableName" : "describeModelRequest",
        "variableType" : "DescribeModelRequest",
        "documentation" : "",
        "simpleType" : "DescribeModelRequest",
        "variableSetterType" : "DescribeModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeModel",
      "operationName" : "DescribeModel",
      "returnType" : {
        "returnType" : "DescribeModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeModelResult"
    },
    "ListDataIngestionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataIngestionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataIngestionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataIngestionJobsRequest, ListDataIngestionJobsResult>",
      "asyncReturnType" : "ListDataIngestionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of all data ingestion jobs, including dataset name and ARN, S3 location of the input data, status, and so on. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataIngestionJobsRequest",
        "variableName" : "listDataIngestionJobsRequest",
        "variableType" : "ListDataIngestionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDataIngestionJobsRequest",
        "variableSetterType" : "ListDataIngestionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataIngestionJobs",
      "operationName" : "ListDataIngestionJobs",
      "returnType" : {
        "returnType" : "ListDataIngestionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataIngestionJobsResult"
    },
    "ListDatasets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetsRequest, ListDatasetsResult>",
      "asyncReturnType" : "ListDatasetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all datasets currently available in your account, filtering on the dataset name. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetsRequest",
        "variableName" : "listDatasetsRequest",
        "variableType" : "ListDatasetsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetsRequest",
        "variableSetterType" : "ListDatasetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasets",
      "operationName" : "ListDatasets",
      "returnType" : {
        "returnType" : "ListDatasetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetsResult"
    },
    "ListInferenceExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInferenceExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInferenceExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInferenceExecutionsRequest, ListInferenceExecutionsResult>",
      "asyncReturnType" : "ListInferenceExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists all inference executions that have been performed by the specified inference scheduler. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInferenceExecutionsRequest",
        "variableName" : "listInferenceExecutionsRequest",
        "variableType" : "ListInferenceExecutionsRequest",
        "documentation" : "",
        "simpleType" : "ListInferenceExecutionsRequest",
        "variableSetterType" : "ListInferenceExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInferenceExecutions",
      "operationName" : "ListInferenceExecutions",
      "returnType" : {
        "returnType" : "ListInferenceExecutionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInferenceExecutionsResult"
    },
    "ListInferenceSchedulers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInferenceSchedulersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInferenceSchedulersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInferenceSchedulersRequest, ListInferenceSchedulersResult>",
      "asyncReturnType" : "ListInferenceSchedulersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of all inference schedulers currently available for your account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInferenceSchedulersRequest",
        "variableName" : "listInferenceSchedulersRequest",
        "variableType" : "ListInferenceSchedulersRequest",
        "documentation" : "",
        "simpleType" : "ListInferenceSchedulersRequest",
        "variableSetterType" : "ListInferenceSchedulersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInferenceSchedulers",
      "operationName" : "ListInferenceSchedulers",
      "returnType" : {
        "returnType" : "ListInferenceSchedulersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInferenceSchedulersResult"
    },
    "ListModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListModelsRequest, ListModelsResult>",
      "asyncReturnType" : "ListModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a list of all models in the account, including model name and ARN, dataset, and status. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListModelsRequest",
        "variableName" : "listModelsRequest",
        "variableType" : "ListModelsRequest",
        "documentation" : "",
        "simpleType" : "ListModelsRequest",
        "variableSetterType" : "ListModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listModels",
      "operationName" : "ListModels",
      "returnType" : {
        "returnType" : "ListModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListModelsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the tags for a specified resource, including key and value. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartDataIngestionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDataIngestionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDataIngestionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDataIngestionJobRequest, StartDataIngestionJobResult>",
      "asyncReturnType" : "StartDataIngestionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a data ingestion job. Amazon Lookout for Equipment returns the job status. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDataIngestionJobRequest",
        "variableName" : "startDataIngestionJobRequest",
        "variableType" : "StartDataIngestionJobRequest",
        "documentation" : "",
        "simpleType" : "StartDataIngestionJobRequest",
        "variableSetterType" : "StartDataIngestionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDataIngestionJob",
      "operationName" : "StartDataIngestionJob",
      "returnType" : {
        "returnType" : "StartDataIngestionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDataIngestionJobResult"
    },
    "StartInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartInferenceSchedulerRequest, StartInferenceSchedulerResult>",
      "asyncReturnType" : "StartInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an inference scheduler. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartInferenceSchedulerRequest",
        "variableName" : "startInferenceSchedulerRequest",
        "variableType" : "StartInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "StartInferenceSchedulerRequest",
        "variableSetterType" : "StartInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startInferenceScheduler",
      "operationName" : "StartInferenceScheduler",
      "returnType" : {
        "returnType" : "StartInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "StartInferenceSchedulerResult"
    },
    "StopInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopInferenceSchedulerRequest, StopInferenceSchedulerResult>",
      "asyncReturnType" : "StopInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an inference scheduler. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopInferenceSchedulerRequest",
        "variableName" : "stopInferenceSchedulerRequest",
        "variableType" : "StopInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "StopInferenceSchedulerRequest",
        "variableSetterType" : "StopInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopInferenceScheduler",
      "operationName" : "StopInferenceScheduler",
      "returnType" : {
        "returnType" : "StopInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "StopInferenceSchedulerResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a given tag to a resource in your account. A tag is a key-value pair which can be added to an Amazon Lookout for Equipment resource as metadata. Tags can be used for organizing your resources as well as helping you to search and filter by tag. Multiple tags can be added to a resource, either when you create it, or later. Up to 50 tags can be associated with each resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a specific tag from a given resource. The tag is specified by its key. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateInferenceSchedulerRequest, UpdateInferenceSchedulerResult>",
      "asyncReturnType" : "UpdateInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an inference scheduler. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateInferenceSchedulerRequest",
        "variableName" : "updateInferenceSchedulerRequest",
        "variableType" : "UpdateInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "UpdateInferenceSchedulerRequest",
        "variableSetterType" : "UpdateInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateInferenceScheduler",
      "operationName" : "UpdateInferenceScheduler",
      "returnType" : {
        "returnType" : "UpdateInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateInferenceSchedulerResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.lookoutequipment.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.lookoutequipment.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.lookoutequipment.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.lookoutequipment.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateDatasetRequest" : {
      "c2jName" : "CreateDatasetRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.lookoutequipment.request.CreateDatasetRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateDataset",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSLookoutEquipmentFrontendService.CreateDataset",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DatasetName",
        "c2jShape" : "DatasetName",
        "deprecated" : false,
        "documentation" : "<p>The name of the dataset being created. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the dataset being created. </p>\n@param datasetName The name of the dataset being created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatasetName",
        "getterDocumentation" : "/**<p>The name of the dataset being created. </p>\n@return The name of the dataset being created.*/",
        "getterMethodName" : "getDatasetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatasetName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatasetName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DatasetName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the dataset being created. </p>\n@param datasetName The name of the dataset being created.*/",
        "setterMethodName" : "setDatasetName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datasetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the dataset being created. </p>\n@param datasetName The name of the dataset being created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datasetName",
          "variableType" : "String",
          "documentation" : "<p>The name of the dataset being created. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DatasetSchema",
        "c2jShape" : "DatasetSchema",
        "deprecated" : false,
        "documentation" : "<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>\n@param datasetSchema A JSON description of the data that is in each time series dataset, including names, column names, and data types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatasetSchema",
        "getterDocumentation" : "/**<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>\n@return A JSON description of the data that is in each time series dataset, including names, column names, and data types.*/",
        "getterMethodName" : "getDatasetSchema",
        "getterModel" : {
          "returnType" : "DatasetSchema",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatasetSchema",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatasetSchema",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DatasetSchema",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>\n@param datasetSchema A JSON description of the data that is in each time series dataset, including names, column names, and data types.*/",
        "setterMethodName" : "setDatasetSchema",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DatasetSchema",
          "variableName" : "datasetSchema",
          "variableType" : "DatasetSchema",
          "documentation" : "",
          "simpleType" : "DatasetSchema",
          "variableSetterType" : "DatasetSchema"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>\n@param datasetSchema A JSON description of the data that is in each time series dataset, including names, column names, and data types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DatasetSchema",
          "variableName" : "datasetSchema",
          "variableType" : "DatasetSchema",
          "documentation" : "<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>",
          "simpleType" : "DatasetSchema",
          "variableSetterType" : "DatasetSchema"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ServerSideKmsKeyId",
        "c2jShape" : "NameOrArn",
        "deprecated" : false,
        "documentation" : "<p>Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt dataset data by Amazon Lookout for Equipment. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt dataset data by Amazon Lookout for Equipment. </p>\n@param serverSideKmsKeyId Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt dataset data by Amazon Lookout for Equipment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withServerSideKmsKeyId",
        "getterDocumentation" : "/**<p>Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt dataset data by Amazon Lookout for Equipment. </p>\n@return Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt dataset data by Amazon Lookout for Equipment.*/",
        "getterMethodName" : "getServerSideKmsKeyId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServerSideKmsKeyId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServerSideKmsKeyId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ServerSideKmsKeyId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt dataset data by Amazon Lookout for Equipment. </p>\n@param serverSideKmsKeyId Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt dataset data by Amazon Lookout for Equipment.*/",
        "setterMethodName" : "setServerSideKmsKeyId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serverSideKmsKeyId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt dataset data by Amazon Lookout for Equipment. </p>\n@param serverSideKmsKeyId Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt dataset data by Amazon Lookout for Equipment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serverSideKmsKeyId",
          "variableType" : "String",
          "documentation" : "<p>Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt dataset data by Amazon Lookout for Equipment. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientToken",
        "c2jShape" : "IdempotenceToken",
        "deprecated" : false,
        "documentation" : "<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>\n@param clientToken A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>\n@return A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>\n@param clientToken A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>\n@param clientToken A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>Any tags associated with the ingested data described in the dataset. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Any tags associated with the ingested data described in the dataset. </p>\n@param tags Any tags associated with the ingested data described in the dataset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>Any tags associated with the ingested data described in the dataset. </p>\n@return Any tags associated with the ingested data described in the dataset.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Any tags associated with the ingested data described in the dataset. </p>\n@param tags Any tags associated with the ingested data described in the dataset.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Any tags associated with the ingested data described in the dataset. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags Any tags associated with the ingested data described in the dataset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>Any tags associated with the ingested data described in the dataset. </p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "ClientToken",
          "c2jShape" : "IdempotenceToken",
          "deprecated" : false,
          "documentation" : "<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>\n@param clientToken A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>\n@return A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ClientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ClientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>\n@param clientToken A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>\n@param clientToken A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DatasetName" : {
          "c2jName" : "DatasetName",
          "c2jShape" : "DatasetName",
          "deprecated" : false,
          "documentation" : "<p>The name of the dataset being created. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the dataset being created. </p>\n@param datasetName The name of the dataset being created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDatasetName",
          "getterDocumentation" : "/**<p>The name of the dataset being created. </p>\n@return The name of the dataset being created.*/",
          "getterMethodName" : "getDatasetName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DatasetName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DatasetName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DatasetName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the dataset being created. </p>\n@param datasetName The name of the dataset being created.*/",
          "setterMethodName" : "setDatasetName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datasetName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the dataset being created. </p>\n@param datasetName The name of the dataset being created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datasetName",
            "variableType" : "String",
            "documentation" : "<p>The name of the dataset being created. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DatasetSchema" : {
          "c2jName" : "DatasetSchema",
          "c2jShape" : "DatasetSchema",
          "deprecated" : false,
          "documentation" : "<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>\n@param datasetSchema A JSON description of the data that is in each time series dataset, including names, column names, and data types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDatasetSchema",
          "getterDocumentation" : "/**<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>\n@return A JSON description of the data that is in each time series dataset, including names, column names, and data types.*/",
          "getterMethodName" : "getDatasetSchema",
          "getterModel" : {
            "returnType" : "DatasetSchema",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DatasetSchema",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DatasetSchema",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "DatasetSchema",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>\n@param datasetSchema A JSON description of the data that is in each time series dataset, including names, column names, and data types.*/",
          "setterMethodName" : "setDatasetSchema",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DatasetSchema",
            "variableName" : "datasetSchema",
            "variableType" : "DatasetSchema",
            "documentation" : "",
            "simpleType" : "DatasetSchema",
            "variableSetterType" : "DatasetSchema"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
[...]
