{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-12-15",
    "asyncClient" : "AmazonLookoutEquipmentAsyncClient",
    "asyncClientBuilderClassName" : "AmazonLookoutEquipmentAsyncClientBuilder",
    "asyncInterface" : "AmazonLookoutEquipmentAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonLookoutEquipmentModuleInjector",
    "defaultEndpoint" : "lookoutequipment.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "lookoutequipment.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Lookout for Equipment is a machine learning service that uses advanced analytics to identify anomalies in machines from sensor data for use in predictive maintenance. </p>",
    "endpointPrefix" : "lookoutequipment",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.lookoutequipment",
    "packagePath" : "com/amazonaws/services/lookoutequipment",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "LookoutEquipment",
    "serviceFullName" : "Amazon Lookout for Equipment",
    "serviceId" : "LookoutEquipment",
    "serviceName" : "LookoutEquipment",
    "signingName" : "lookoutequipment",
    "smokeTestsPackageName" : "com.amazonaws.services.lookoutequipment.smoketests",
    "syncClient" : "AmazonLookoutEquipmentClient",
    "syncClientBuilderClassName" : "AmazonLookoutEquipmentClientBuilder",
    "syncInterface" : "AmazonLookoutEquipment",
    "uid" : "lookoutequipment-2020-12-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetRequest, CreateDatasetResult>",
      "asyncReturnType" : "CreateDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a container for a collection of data being ingested for analysis. The dataset contains the metadata describing where the data is and what the data actually looks like. In other words, it contains the location of the data source, the data schema, and other information. A dataset also contains any tags associated with the ingested data. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetRequest",
        "variableName" : "createDatasetRequest",
        "variableType" : "CreateDatasetRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetRequest",
        "variableSetterType" : "CreateDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataset",
      "operationName" : "CreateDataset",
      "returnType" : {
        "returnType" : "CreateDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetResult"
    },
    "CreateInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInferenceSchedulerRequest, CreateInferenceSchedulerResult>",
      "asyncReturnType" : "CreateInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a scheduled inference. Scheduling an inference is setting up a continuous real-time inference plan to analyze new measurement data. When setting up the schedule, you provide an S3 bucket location for the input data, assign it a delimiter between separate entries in the data, set an offset delay if desired, and set the frequency of inferencing. You must also provide an S3 bucket location for the output data. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateInferenceSchedulerRequest",
        "variableName" : "createInferenceSchedulerRequest",
        "variableType" : "CreateInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "CreateInferenceSchedulerRequest",
        "variableSetterType" : "CreateInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInferenceScheduler",
      "operationName" : "CreateInferenceScheduler",
      "returnType" : {
        "returnType" : "CreateInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateInferenceSchedulerResult"
    },
    "CreateLabel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLabelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLabelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLabelRequest, CreateLabelResult>",
      "asyncReturnType" : "CreateLabelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a label for an event. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLabelRequest",
        "variableName" : "createLabelRequest",
        "variableType" : "CreateLabelRequest",
        "documentation" : "",
        "simpleType" : "CreateLabelRequest",
        "variableSetterType" : "CreateLabelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLabel",
      "operationName" : "CreateLabel",
      "returnType" : {
        "returnType" : "CreateLabelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLabelResult"
    },
    "CreateLabelGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLabelGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLabelGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLabelGroupRequest, CreateLabelGroupResult>",
      "asyncReturnType" : "CreateLabelGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a group of labels. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLabelGroupRequest",
        "variableName" : "createLabelGroupRequest",
        "variableType" : "CreateLabelGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateLabelGroupRequest",
        "variableSetterType" : "CreateLabelGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLabelGroup",
      "operationName" : "CreateLabelGroup",
      "returnType" : {
        "returnType" : "CreateLabelGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLabelGroupResult"
    },
    "CreateModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateModelRequest, CreateModelResult>",
      "asyncReturnType" : "CreateModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an ML model for data inference. </p> <p>A machine-learning (ML) model is a mathematical model that finds patterns in your data. In Amazon Lookout for Equipment, the model learns the patterns of normal behavior and detects abnormal behavior that could be potential equipment failure (or maintenance events). The models are made by analyzing normal data and abnormalities in machine behavior that have already occurred.</p> <p>Your model is trained using a portion of the data from your dataset and uses that data to learn patterns of normal behavior and abnormal patterns that lead to equipment failure. Another portion of the data is used to evaluate the model's accuracy. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateModelRequest",
        "variableName" : "createModelRequest",
        "variableType" : "CreateModelRequest",
        "documentation" : "",
        "simpleType" : "CreateModelRequest",
        "variableSetterType" : "CreateModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createModel",
      "operationName" : "CreateModel",
      "returnType" : {
        "returnType" : "CreateModelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateModelResult"
    },
    "DeleteDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetRequest, DeleteDatasetResult>",
      "asyncReturnType" : "DeleteDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a dataset and associated artifacts. The operation will check to see if any inference scheduler or data ingestion job is currently using the dataset, and if there isn't, the dataset, its metadata, and any associated data stored in S3 will be deleted. This does not affect any models that used this dataset for training and evaluation, but does prevent it from being used in the future. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatasetRequest",
        "variableName" : "deleteDatasetRequest",
        "variableType" : "DeleteDatasetRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatasetRequest",
        "variableSetterType" : "DeleteDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataset",
      "operationName" : "DeleteDataset",
      "returnType" : {
        "returnType" : "DeleteDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatasetResult"
    },
    "DeleteInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInferenceSchedulerRequest, DeleteInferenceSchedulerResult>",
      "asyncReturnType" : "DeleteInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an inference scheduler that has been set up. Already processed output results are not affected. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInferenceSchedulerRequest",
        "variableName" : "deleteInferenceSchedulerRequest",
        "variableType" : "DeleteInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "DeleteInferenceSchedulerRequest",
        "variableSetterType" : "DeleteInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInferenceScheduler",
      "operationName" : "DeleteInferenceScheduler",
      "returnType" : {
        "returnType" : "DeleteInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInferenceSchedulerResult"
    },
    "DeleteLabel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLabelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLabelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLabelRequest, DeleteLabelResult>",
      "asyncReturnType" : "DeleteLabelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a label. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLabelRequest",
        "variableName" : "deleteLabelRequest",
        "variableType" : "DeleteLabelRequest",
        "documentation" : "",
        "simpleType" : "DeleteLabelRequest",
        "variableSetterType" : "DeleteLabelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLabel",
      "operationName" : "DeleteLabel",
      "returnType" : {
        "returnType" : "DeleteLabelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLabelResult"
    },
    "DeleteLabelGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLabelGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLabelGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLabelGroupRequest, DeleteLabelGroupResult>",
      "asyncReturnType" : "DeleteLabelGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a group of labels. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLabelGroupRequest",
        "variableName" : "deleteLabelGroupRequest",
        "variableType" : "DeleteLabelGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteLabelGroupRequest",
        "variableSetterType" : "DeleteLabelGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLabelGroup",
      "operationName" : "DeleteLabelGroup",
      "returnType" : {
        "returnType" : "DeleteLabelGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLabelGroupResult"
    },
    "DeleteModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteModelRequest, DeleteModelResult>",
      "asyncReturnType" : "DeleteModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an ML model currently available for Amazon Lookout for Equipment. This will prevent it from being used with an inference scheduler, even one that is already set up. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteModelRequest",
        "variableName" : "deleteModelRequest",
        "variableType" : "DeleteModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteModelRequest",
        "variableSetterType" : "DeleteModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteModel",
      "operationName" : "DeleteModel",
      "returnType" : {
        "returnType" : "DeleteModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteModelResult"
    },
    "DescribeDataIngestionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDataIngestionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDataIngestionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDataIngestionJobRequest, DescribeDataIngestionJobResult>",
      "asyncReturnType" : "DescribeDataIngestionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information on a specific data ingestion job such as creation time, dataset ARN, and status.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDataIngestionJobRequest",
        "variableName" : "describeDataIngestionJobRequest",
        "variableType" : "DescribeDataIngestionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeDataIngestionJobRequest",
        "variableSetterType" : "DescribeDataIngestionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataIngestionJob",
      "operationName" : "DescribeDataIngestionJob",
      "returnType" : {
        "returnType" : "DescribeDataIngestionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDataIngestionJobResult"
    },
    "DescribeDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetRequest, DescribeDatasetResult>",
      "asyncReturnType" : "DescribeDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a JSON description of the data in each time series dataset, including names, column names, and data types.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetRequest",
        "variableName" : "describeDatasetRequest",
        "variableType" : "DescribeDatasetRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetRequest",
        "variableSetterType" : "DescribeDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataset",
      "operationName" : "DescribeDataset",
      "returnType" : {
        "returnType" : "DescribeDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetResult"
    },
    "DescribeInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInferenceSchedulerRequest, DescribeInferenceSchedulerResult>",
      "asyncReturnType" : "DescribeInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Specifies information about the inference scheduler being used, including name, model, status, and associated metadata </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeInferenceSchedulerRequest",
        "variableName" : "describeInferenceSchedulerRequest",
        "variableType" : "DescribeInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "DescribeInferenceSchedulerRequest",
        "variableSetterType" : "DescribeInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInferenceScheduler",
      "operationName" : "DescribeInferenceScheduler",
      "returnType" : {
        "returnType" : "DescribeInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeInferenceSchedulerResult"
    },
    "DescribeLabel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLabelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLabelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLabelRequest, DescribeLabelResult>",
      "asyncReturnType" : "DescribeLabelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the name of the label. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLabelRequest",
        "variableName" : "describeLabelRequest",
        "variableType" : "DescribeLabelRequest",
        "documentation" : "",
        "simpleType" : "DescribeLabelRequest",
        "variableSetterType" : "DescribeLabelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLabel",
      "operationName" : "DescribeLabel",
      "returnType" : {
        "returnType" : "DescribeLabelResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLabelResult"
    },
    "DescribeLabelGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLabelGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLabelGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLabelGroupRequest, DescribeLabelGroupResult>",
      "asyncReturnType" : "DescribeLabelGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns information about the label group. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLabelGroupRequest",
        "variableName" : "describeLabelGroupRequest",
        "variableType" : "DescribeLabelGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeLabelGroupRequest",
        "variableSetterType" : "DescribeLabelGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLabelGroup",
      "operationName" : "DescribeLabelGroup",
      "returnType" : {
        "returnType" : "DescribeLabelGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLabelGroupResult"
    },
    "DescribeModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeModelRequest, DescribeModelResult>",
      "asyncReturnType" : "DescribeModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a JSON containing the overall information about a specific ML model, including model name and ARN, dataset, training and evaluation information, status, and so on. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeModelRequest",
        "variableName" : "describeModelRequest",
        "variableType" : "DescribeModelRequest",
        "documentation" : "",
        "simpleType" : "DescribeModelRequest",
        "variableSetterType" : "DescribeModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeModel",
      "operationName" : "DescribeModel",
      "returnType" : {
        "returnType" : "DescribeModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeModelResult"
    },
    "ListDataIngestionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataIngestionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataIngestionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataIngestionJobsRequest, ListDataIngestionJobsResult>",
      "asyncReturnType" : "ListDataIngestionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of all data ingestion jobs, including dataset name and ARN, S3 location of the input data, status, and so on. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataIngestionJobsRequest",
        "variableName" : "listDataIngestionJobsRequest",
        "variableType" : "ListDataIngestionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDataIngestionJobsRequest",
        "variableSetterType" : "ListDataIngestionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataIngestionJobs",
      "operationName" : "ListDataIngestionJobs",
      "returnType" : {
        "returnType" : "ListDataIngestionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataIngestionJobsResult"
    },
    "ListDatasets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetsRequest, ListDatasetsResult>",
      "asyncReturnType" : "ListDatasetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all datasets currently available in your account, filtering on the dataset name. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetsRequest",
        "variableName" : "listDatasetsRequest",
        "variableType" : "ListDatasetsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetsRequest",
        "variableSetterType" : "ListDatasetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasets",
      "operationName" : "ListDatasets",
      "returnType" : {
        "returnType" : "ListDatasetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetsResult"
    },
    "ListInferenceEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInferenceEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInferenceEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInferenceEventsRequest, ListInferenceEventsResult>",
      "asyncReturnType" : "ListInferenceEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists all inference events that have been found for the specified inference scheduler. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInferenceEventsRequest",
        "variableName" : "listInferenceEventsRequest",
        "variableType" : "ListInferenceEventsRequest",
        "documentation" : "",
        "simpleType" : "ListInferenceEventsRequest",
        "variableSetterType" : "ListInferenceEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInferenceEvents",
      "operationName" : "ListInferenceEvents",
      "returnType" : {
        "returnType" : "ListInferenceEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInferenceEventsResult"
    },
    "ListInferenceExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInferenceExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInferenceExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInferenceExecutionsRequest, ListInferenceExecutionsResult>",
      "asyncReturnType" : "ListInferenceExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists all inference executions that have been performed by the specified inference scheduler. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInferenceExecutionsRequest",
        "variableName" : "listInferenceExecutionsRequest",
        "variableType" : "ListInferenceExecutionsRequest",
        "documentation" : "",
        "simpleType" : "ListInferenceExecutionsRequest",
        "variableSetterType" : "ListInferenceExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInferenceExecutions",
      "operationName" : "ListInferenceExecutions",
      "returnType" : {
        "returnType" : "ListInferenceExecutionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInferenceExecutionsResult"
    },
    "ListInferenceSchedulers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInferenceSchedulersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInferenceSchedulersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInferenceSchedulersRequest, ListInferenceSchedulersResult>",
      "asyncReturnType" : "ListInferenceSchedulersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of all inference schedulers currently available for your account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInferenceSchedulersRequest",
        "variableName" : "listInferenceSchedulersRequest",
        "variableType" : "ListInferenceSchedulersRequest",
        "documentation" : "",
        "simpleType" : "ListInferenceSchedulersRequest",
        "variableSetterType" : "ListInferenceSchedulersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInferenceSchedulers",
      "operationName" : "ListInferenceSchedulers",
      "returnType" : {
        "returnType" : "ListInferenceSchedulersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInferenceSchedulersResult"
    },
    "ListLabelGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLabelGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLabelGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLabelGroupsRequest, ListLabelGroupsResult>",
      "asyncReturnType" : "ListLabelGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of the label groups. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLabelGroupsRequest",
        "variableName" : "listLabelGroupsRequest",
        "variableType" : "ListLabelGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListLabelGroupsRequest",
        "variableSetterType" : "ListLabelGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLabelGroups",
      "operationName" : "ListLabelGroups",
      "returnType" : {
        "returnType" : "ListLabelGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLabelGroupsResult"
    },
    "ListLabels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLabelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLabelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLabelsRequest, ListLabelsResult>",
      "asyncReturnType" : "ListLabelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Provides a list of labels. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLabelsRequest",
        "variableName" : "listLabelsRequest",
        "variableType" : "ListLabelsRequest",
        "documentation" : "",
        "simpleType" : "ListLabelsRequest",
        "variableSetterType" : "ListLabelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLabels",
      "operationName" : "ListLabels",
      "returnType" : {
        "returnType" : "ListLabelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLabelsResult"
    },
    "ListModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListModelsRequest, ListModelsResult>",
      "asyncReturnType" : "ListModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a list of all models in the account, including model name and ARN, dataset, and status. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListModelsRequest",
        "variableName" : "listModelsRequest",
        "variableType" : "ListModelsRequest",
        "documentation" : "",
        "simpleType" : "ListModelsRequest",
        "variableSetterType" : "ListModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listModels",
      "operationName" : "ListModels",
      "returnType" : {
        "returnType" : "ListModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListModelsResult"
    },
    "ListSensorStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSensorStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSensorStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSensorStatisticsRequest, ListSensorStatisticsResult>",
      "asyncReturnType" : "ListSensorStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists statistics about the data collected for each of the sensors that have been successfully ingested in the particular dataset. Can also be used to retreive Sensor Statistics for a previous ingestion job. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSensorStatisticsRequest",
        "variableName" : "listSensorStatisticsRequest",
        "variableType" : "ListSensorStatisticsRequest",
        "documentation" : "",
        "simpleType" : "ListSensorStatisticsRequest",
        "variableSetterType" : "ListSensorStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSensorStatistics",
      "operationName" : "ListSensorStatistics",
      "returnType" : {
        "returnType" : "ListSensorStatisticsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSensorStatisticsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the tags for a specified resource, including key and value. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartDataIngestionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDataIngestionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDataIngestionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDataIngestionJobRequest, StartDataIngestionJobResult>",
      "asyncReturnType" : "StartDataIngestionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a data ingestion job. Amazon Lookout for Equipment returns the job status. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDataIngestionJobRequest",
        "variableName" : "startDataIngestionJobRequest",
        "variableType" : "StartDataIngestionJobRequest",
        "documentation" : "",
        "simpleType" : "StartDataIngestionJobRequest",
        "variableSetterType" : "StartDataIngestionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDataIngestionJob",
      "operationName" : "StartDataIngestionJob",
      "returnType" : {
        "returnType" : "StartDataIngestionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDataIngestionJobResult"
    },
    "StartInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartInferenceSchedulerRequest, StartInferenceSchedulerResult>",
      "asyncReturnType" : "StartInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an inference scheduler. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartInferenceSchedulerRequest",
        "variableName" : "startInferenceSchedulerRequest",
        "variableType" : "StartInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "StartInferenceSchedulerRequest",
        "variableSetterType" : "StartInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startInferenceScheduler",
      "operationName" : "StartInferenceScheduler",
      "returnType" : {
        "returnType" : "StartInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "StartInferenceSchedulerResult"
    },
    "StopInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopInferenceSchedulerRequest, StopInferenceSchedulerResult>",
      "asyncReturnType" : "StopInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an inference scheduler. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopInferenceSchedulerRequest",
        "variableName" : "stopInferenceSchedulerRequest",
        "variableType" : "StopInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "StopInferenceSchedulerRequest",
        "variableSetterType" : "StopInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopInferenceScheduler",
      "operationName" : "StopInferenceScheduler",
      "returnType" : {
        "returnType" : "StopInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "StopInferenceSchedulerResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a given tag to a resource in your account. A tag is a key-value pair which can be added to an Amazon Lookout for Equipment resource as metadata. Tags can be used for organizing your resources as well as helping you to search and filter by tag. Multiple tags can be added to a resource, either when you create it, or later. Up to 50 tags can be associated with each resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> Resource limitations have been exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a specific tag from a given resource. The tag is specified by its key. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateInferenceScheduler" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateInferenceSchedulerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateInferenceSchedulerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateInferenceSchedulerRequest, UpdateInferenceSchedulerResult>",
      "asyncReturnType" : "UpdateInferenceSchedulerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an inference scheduler. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateInferenceSchedulerRequest",
        "variableName" : "updateInferenceSchedulerRequest",
        "variableType" : "UpdateInferenceSchedulerRequest",
        "documentation" : "",
        "simpleType" : "UpdateInferenceSchedulerRequest",
        "variableSetterType" : "UpdateInferenceSchedulerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateInferenceScheduler",
      "operationName" : "UpdateInferenceScheduler",
      "returnType" : {
        "returnType" : "UpdateInferenceSchedulerResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateInferenceSchedulerResult"
    },
    "UpdateLabelGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLabelGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLabelGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLabelGroupRequest, UpdateLabelGroupResult>",
      "asyncReturnType" : "UpdateLabelGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates the label group. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLabelGroupRequest",
        "variableName" : "updateLabelGroupRequest",
        "variableType" : "UpdateLabelGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateLabelGroupRequest",
        "variableSetterType" : "UpdateLabelGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLabelGroup",
      "operationName" : "UpdateLabelGroup",
      "returnType" : {
        "returnType" : "UpdateLabelGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLabelGroupResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request could not be completed because you do not have access to the resource. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.lookoutequipment.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.lookoutequipment.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CategoricalValues" : {
      "c2jName" : "CategoricalValues",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Entity that comprises information on categorical values in data. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.lookoutequipment.model.CategoricalValues",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Status",
        "c2jShape" : "StatisticalIssueStatus",
        "deprecated" : false,
        "documentation" : "<p> Indicates whether there is a potential data issue related to categorical values. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "StatisticalIssueStatus",
        "fluentSetterDocumentation" : "/**<p> Indicates whether there is a potential data issue related to categorical values. </p>\n@param status Indicates whether there is a potential data issue related to categorical values.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StatisticalIssueStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p> Indicates whether there is a potential data issue related to categorical values. </p>\n@return Indicates whether there is a potential data issue related to categorical values.\n@see StatisticalIssueStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Indicates whether there is a potential data issue related to categorical values. </p>\n@param status Indicates whether there is a potential data issue related to categorical values.\n@see StatisticalIssueStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Indicates whether there is a potential data issue related to categorical values. </p>\n@param status Indicates whether there is a potential data issue related to categorical values.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StatisticalIssueStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p> Indicates whether there is a potential data issue related to categorical values. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NumberOfCategory",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> Indicates the number of categories in the data. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Indicates the number of categories in the data. </p>\n@param numberOfCategory Indicates the number of categories in the data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNumberOfCategory",
        "getterDocumentation" : "/**<p> Indicates the number of categories in the data. </p>\n@return Indicates the number of categories in the data.*/",
        "getterMethodName" : "getNumberOfCategory",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NumberOfCategory",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NumberOfCategory",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
[...]
