{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-07-25",
    "asyncClient" : "AmazonLookoutMetricsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonLookoutMetricsAsyncClientBuilder",
    "asyncInterface" : "AmazonLookoutMetricsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonLookoutMetricsModuleInjector",
    "defaultEndpoint" : "lookoutmetrics.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "lookoutmetrics.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This is the <i>Amazon Lookout for Metrics API Reference</i>. For an introduction to the service with tutorials for getting started, visit <a href=\"https://docs.aws.amazon.com/lookoutmetrics/latest/dev\">Amazon Lookout for Metrics Developer Guide</a>.</p>",
    "endpointPrefix" : "lookoutmetrics",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.lookoutmetrics",
    "packagePath" : "com/amazonaws/services/lookoutmetrics",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "LookoutMetrics",
    "serviceFullName" : "Amazon Lookout for Metrics",
    "serviceId" : "LookoutMetrics",
    "serviceName" : "LookoutMetrics",
    "signingName" : "lookoutmetrics",
    "smokeTestsPackageName" : "com.amazonaws.services.lookoutmetrics.smoketests",
    "syncClient" : "AmazonLookoutMetricsClient",
    "syncClientBuilderClassName" : "AmazonLookoutMetricsClientBuilder",
    "syncInterface" : "AmazonLookoutMetrics",
    "uid" : "lookoutmetrics-2017-07-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ActivateAnomalyDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ActivateAnomalyDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ActivateAnomalyDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivateAnomalyDetectorRequest, ActivateAnomalyDetectorResult>",
      "asyncReturnType" : "ActivateAnomalyDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates an anomaly detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivateAnomalyDetectorRequest",
        "variableName" : "activateAnomalyDetectorRequest",
        "variableType" : "ActivateAnomalyDetectorRequest",
        "documentation" : "",
        "simpleType" : "ActivateAnomalyDetectorRequest",
        "variableSetterType" : "ActivateAnomalyDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "activateAnomalyDetector",
      "operationName" : "ActivateAnomalyDetector",
      "returnType" : {
        "returnType" : "ActivateAnomalyDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "ActivateAnomalyDetectorResult"
    },
    "BackTestAnomalyDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BackTestAnomalyDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BackTestAnomalyDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BackTestAnomalyDetectorRequest, BackTestAnomalyDetectorResult>",
      "asyncReturnType" : "BackTestAnomalyDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Runs a backtest for anomaly detection for the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BackTestAnomalyDetectorRequest",
        "variableName" : "backTestAnomalyDetectorRequest",
        "variableType" : "BackTestAnomalyDetectorRequest",
        "documentation" : "",
        "simpleType" : "BackTestAnomalyDetectorRequest",
        "variableSetterType" : "BackTestAnomalyDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "backTestAnomalyDetector",
      "operationName" : "BackTestAnomalyDetector",
      "returnType" : {
        "returnType" : "BackTestAnomalyDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "BackTestAnomalyDetectorResult"
    },
    "CreateAlert" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAlertResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAlertResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAlertRequest, CreateAlertResult>",
      "asyncReturnType" : "CreateAlertResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an alert for an anomaly detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeded the service's quotas. Check the service quotas and try again.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAlertRequest",
        "variableName" : "createAlertRequest",
        "variableType" : "CreateAlertRequest",
        "documentation" : "",
        "simpleType" : "CreateAlertRequest",
        "variableSetterType" : "CreateAlertRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlert",
      "operationName" : "CreateAlert",
      "returnType" : {
        "returnType" : "CreateAlertResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAlertResult"
    },
    "CreateAnomalyDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAnomalyDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAnomalyDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAnomalyDetectorRequest, CreateAnomalyDetectorResult>",
      "asyncReturnType" : "CreateAnomalyDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an anomaly detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeded the service's quotas. Check the service quotas and try again.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAnomalyDetectorRequest",
        "variableName" : "createAnomalyDetectorRequest",
        "variableType" : "CreateAnomalyDetectorRequest",
        "documentation" : "",
        "simpleType" : "CreateAnomalyDetectorRequest",
        "variableSetterType" : "CreateAnomalyDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAnomalyDetector",
      "operationName" : "CreateAnomalyDetector",
      "returnType" : {
        "returnType" : "CreateAnomalyDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAnomalyDetectorResult"
    },
    "CreateMetricSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMetricSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMetricSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMetricSetRequest, CreateMetricSetResult>",
      "asyncReturnType" : "CreateMetricSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeded the service's quotas. Check the service quotas and try again.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMetricSetRequest",
        "variableName" : "createMetricSetRequest",
        "variableType" : "CreateMetricSetRequest",
        "documentation" : "",
        "simpleType" : "CreateMetricSetRequest",
        "variableSetterType" : "CreateMetricSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMetricSet",
      "operationName" : "CreateMetricSet",
      "returnType" : {
        "returnType" : "CreateMetricSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMetricSetResult"
    },
    "DeactivateAnomalyDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeactivateAnomalyDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeactivateAnomalyDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeactivateAnomalyDetectorRequest, DeactivateAnomalyDetectorResult>",
      "asyncReturnType" : "DeactivateAnomalyDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deactivates an anomaly detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeactivateAnomalyDetectorRequest",
        "variableName" : "deactivateAnomalyDetectorRequest",
        "variableType" : "DeactivateAnomalyDetectorRequest",
        "documentation" : "",
        "simpleType" : "DeactivateAnomalyDetectorRequest",
        "variableSetterType" : "DeactivateAnomalyDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deactivateAnomalyDetector",
      "operationName" : "DeactivateAnomalyDetector",
      "returnType" : {
        "returnType" : "DeactivateAnomalyDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeactivateAnomalyDetectorResult"
    },
    "DeleteAlert" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAlertResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAlertResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAlertRequest, DeleteAlertResult>",
      "asyncReturnType" : "DeleteAlertResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an alert.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAlertRequest",
        "variableName" : "deleteAlertRequest",
        "variableType" : "DeleteAlertRequest",
        "documentation" : "",
        "simpleType" : "DeleteAlertRequest",
        "variableSetterType" : "DeleteAlertRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlert",
      "operationName" : "DeleteAlert",
      "returnType" : {
        "returnType" : "DeleteAlertResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAlertResult"
    },
    "DeleteAnomalyDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAnomalyDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAnomalyDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAnomalyDetectorRequest, DeleteAnomalyDetectorResult>",
      "asyncReturnType" : "DeleteAnomalyDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a detector. Deleting an anomaly detector will delete all of its corresponding resources including any configured datasets and alerts.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAnomalyDetectorRequest",
        "variableName" : "deleteAnomalyDetectorRequest",
        "variableType" : "DeleteAnomalyDetectorRequest",
        "documentation" : "",
        "simpleType" : "DeleteAnomalyDetectorRequest",
        "variableSetterType" : "DeleteAnomalyDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAnomalyDetector",
      "operationName" : "DeleteAnomalyDetector",
      "returnType" : {
        "returnType" : "DeleteAnomalyDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAnomalyDetectorResult"
    },
    "DescribeAlert" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlertResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlertResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlertRequest, DescribeAlertResult>",
      "asyncReturnType" : "DescribeAlertResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an alert.</p> <p>Amazon Lookout for Metrics API actions are eventually consistent. If you do a read operation on a resource immediately after creating or modifying it, use retries to allow time for the write operation to complete.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAlertRequest",
        "variableName" : "describeAlertRequest",
        "variableType" : "DescribeAlertRequest",
        "documentation" : "",
        "simpleType" : "DescribeAlertRequest",
        "variableSetterType" : "DescribeAlertRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlert",
      "operationName" : "DescribeAlert",
      "returnType" : {
        "returnType" : "DescribeAlertResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAlertResult"
    },
    "DescribeAnomalyDetectionExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAnomalyDetectionExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAnomalyDetectionExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAnomalyDetectionExecutionsRequest, DescribeAnomalyDetectionExecutionsResult>",
      "asyncReturnType" : "DescribeAnomalyDetectionExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the status of the specified anomaly detection jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAnomalyDetectionExecutionsRequest",
        "variableName" : "describeAnomalyDetectionExecutionsRequest",
        "variableType" : "DescribeAnomalyDetectionExecutionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAnomalyDetectionExecutionsRequest",
        "variableSetterType" : "DescribeAnomalyDetectionExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAnomalyDetectionExecutions",
      "operationName" : "DescribeAnomalyDetectionExecutions",
      "returnType" : {
        "returnType" : "DescribeAnomalyDetectionExecutionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAnomalyDetectionExecutionsResult"
    },
    "DescribeAnomalyDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAnomalyDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAnomalyDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAnomalyDetectorRequest, DescribeAnomalyDetectorResult>",
      "asyncReturnType" : "DescribeAnomalyDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a detector.</p> <p>Amazon Lookout for Metrics API actions are eventually consistent. If you do a read operation on a resource immediately after creating or modifying it, use retries to allow time for the write operation to complete.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAnomalyDetectorRequest",
        "variableName" : "describeAnomalyDetectorRequest",
        "variableType" : "DescribeAnomalyDetectorRequest",
        "documentation" : "",
        "simpleType" : "DescribeAnomalyDetectorRequest",
        "variableSetterType" : "DescribeAnomalyDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAnomalyDetector",
      "operationName" : "DescribeAnomalyDetector",
      "returnType" : {
        "returnType" : "DescribeAnomalyDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAnomalyDetectorResult"
    },
    "DescribeMetricSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMetricSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMetricSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMetricSetRequest, DescribeMetricSetResult>",
      "asyncReturnType" : "DescribeMetricSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a dataset.</p> <p>Amazon Lookout for Metrics API actions are eventually consistent. If you do a read operation on a resource immediately after creating or modifying it, use retries to allow time for the write operation to complete.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeMetricSetRequest",
        "variableName" : "describeMetricSetRequest",
        "variableType" : "DescribeMetricSetRequest",
        "documentation" : "",
        "simpleType" : "DescribeMetricSetRequest",
        "variableSetterType" : "DescribeMetricSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMetricSet",
      "operationName" : "DescribeMetricSet",
      "returnType" : {
        "returnType" : "DescribeMetricSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeMetricSetResult"
    },
    "DetectMetricSetConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectMetricSetConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectMetricSetConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectMetricSetConfigRequest, DetectMetricSetConfigResult>",
      "asyncReturnType" : "DetectMetricSetConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detects an Amazon S3 dataset's file format, interval, and offset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectMetricSetConfigRequest",
        "variableName" : "detectMetricSetConfigRequest",
        "variableType" : "DetectMetricSetConfigRequest",
        "documentation" : "",
        "simpleType" : "DetectMetricSetConfigRequest",
        "variableSetterType" : "DetectMetricSetConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectMetricSetConfig",
      "operationName" : "DetectMetricSetConfig",
      "returnType" : {
        "returnType" : "DetectMetricSetConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectMetricSetConfigResult"
    },
    "GetAnomalyGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAnomalyGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAnomalyGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAnomalyGroupRequest, GetAnomalyGroupResult>",
      "asyncReturnType" : "GetAnomalyGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about a group of anomalous metrics.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAnomalyGroupRequest",
        "variableName" : "getAnomalyGroupRequest",
        "variableType" : "GetAnomalyGroupRequest",
        "documentation" : "",
        "simpleType" : "GetAnomalyGroupRequest",
        "variableSetterType" : "GetAnomalyGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAnomalyGroup",
      "operationName" : "GetAnomalyGroup",
      "returnType" : {
        "returnType" : "GetAnomalyGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAnomalyGroupResult"
    },
    "GetDataQualityMetrics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataQualityMetricsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataQualityMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataQualityMetricsRequest, GetDataQualityMetricsResult>",
      "asyncReturnType" : "GetDataQualityMetricsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about the requested data quality metrics.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataQualityMetricsRequest",
        "variableName" : "getDataQualityMetricsRequest",
        "variableType" : "GetDataQualityMetricsRequest",
        "documentation" : "",
        "simpleType" : "GetDataQualityMetricsRequest",
        "variableSetterType" : "GetDataQualityMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataQualityMetrics",
      "operationName" : "GetDataQualityMetrics",
      "returnType" : {
        "returnType" : "GetDataQualityMetricsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDataQualityMetricsResult"
    },
    "GetFeedback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFeedbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFeedbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFeedbackRequest, GetFeedbackResult>",
      "asyncReturnType" : "GetFeedbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get feedback for an anomaly group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFeedbackRequest",
        "variableName" : "getFeedbackRequest",
        "variableType" : "GetFeedbackRequest",
        "documentation" : "",
        "simpleType" : "GetFeedbackRequest",
        "variableSetterType" : "GetFeedbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFeedback",
      "operationName" : "GetFeedback",
      "returnType" : {
        "returnType" : "GetFeedbackResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFeedbackResult"
    },
    "GetSampleData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSampleDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSampleDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSampleDataRequest, GetSampleDataResult>",
      "asyncReturnType" : "GetSampleDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a selection of sample records from an Amazon S3 datasource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSampleDataRequest",
        "variableName" : "getSampleDataRequest",
        "variableType" : "GetSampleDataRequest",
        "documentation" : "",
        "simpleType" : "GetSampleDataRequest",
        "variableSetterType" : "GetSampleDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSampleData",
      "operationName" : "GetSampleData",
      "returnType" : {
        "returnType" : "GetSampleDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSampleDataResult"
    },
    "ListAlerts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAlertsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAlertsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAlertsRequest, ListAlertsResult>",
      "asyncReturnType" : "ListAlertsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the alerts attached to a detector.</p> <p>Amazon Lookout for Metrics API actions are eventually consistent. If you do a read operation on a resource immediately after creating or modifying it, use retries to allow time for the write operation to complete.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAlertsRequest",
        "variableName" : "listAlertsRequest",
        "variableType" : "ListAlertsRequest",
        "documentation" : "",
        "simpleType" : "ListAlertsRequest",
        "variableSetterType" : "ListAlertsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAlerts",
      "operationName" : "ListAlerts",
      "returnType" : {
        "returnType" : "ListAlertsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAlertsResult"
    },
    "ListAnomalyDetectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnomalyDetectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnomalyDetectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnomalyDetectorsRequest, ListAnomalyDetectorsResult>",
      "asyncReturnType" : "ListAnomalyDetectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the detectors in the current AWS Region.</p> <p>Amazon Lookout for Metrics API actions are eventually consistent. If you do a read operation on a resource immediately after creating or modifying it, use retries to allow time for the write operation to complete.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnomalyDetectorsRequest",
        "variableName" : "listAnomalyDetectorsRequest",
        "variableType" : "ListAnomalyDetectorsRequest",
        "documentation" : "",
        "simpleType" : "ListAnomalyDetectorsRequest",
        "variableSetterType" : "ListAnomalyDetectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnomalyDetectors",
      "operationName" : "ListAnomalyDetectors",
      "returnType" : {
        "returnType" : "ListAnomalyDetectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAnomalyDetectorsResult"
    },
    "ListAnomalyGroupRelatedMetrics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnomalyGroupRelatedMetricsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnomalyGroupRelatedMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnomalyGroupRelatedMetricsRequest, ListAnomalyGroupRelatedMetricsResult>",
      "asyncReturnType" : "ListAnomalyGroupRelatedMetricsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of measures that are potential causes or effects of an anomaly group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnomalyGroupRelatedMetricsRequest",
        "variableName" : "listAnomalyGroupRelatedMetricsRequest",
        "variableType" : "ListAnomalyGroupRelatedMetricsRequest",
        "documentation" : "",
        "simpleType" : "ListAnomalyGroupRelatedMetricsRequest",
        "variableSetterType" : "ListAnomalyGroupRelatedMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnomalyGroupRelatedMetrics",
      "operationName" : "ListAnomalyGroupRelatedMetrics",
      "returnType" : {
        "returnType" : "ListAnomalyGroupRelatedMetricsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAnomalyGroupRelatedMetricsResult"
    },
    "ListAnomalyGroupSummaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnomalyGroupSummariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnomalyGroupSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnomalyGroupSummariesRequest, ListAnomalyGroupSummariesResult>",
      "asyncReturnType" : "ListAnomalyGroupSummariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of anomaly groups.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnomalyGroupSummariesRequest",
        "variableName" : "listAnomalyGroupSummariesRequest",
        "variableType" : "ListAnomalyGroupSummariesRequest",
        "documentation" : "",
        "simpleType" : "ListAnomalyGroupSummariesRequest",
        "variableSetterType" : "ListAnomalyGroupSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnomalyGroupSummaries",
      "operationName" : "ListAnomalyGroupSummaries",
      "returnType" : {
        "returnType" : "ListAnomalyGroupSummariesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAnomalyGroupSummariesResult"
    },
    "ListAnomalyGroupTimeSeries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnomalyGroupTimeSeriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnomalyGroupTimeSeriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnomalyGroupTimeSeriesRequest, ListAnomalyGroupTimeSeriesResult>",
      "asyncReturnType" : "ListAnomalyGroupTimeSeriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of anomalous metrics for a measure in an anomaly group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnomalyGroupTimeSeriesRequest",
        "variableName" : "listAnomalyGroupTimeSeriesRequest",
        "variableType" : "ListAnomalyGroupTimeSeriesRequest",
        "documentation" : "",
        "simpleType" : "ListAnomalyGroupTimeSeriesRequest",
        "variableSetterType" : "ListAnomalyGroupTimeSeriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnomalyGroupTimeSeries",
      "operationName" : "ListAnomalyGroupTimeSeries",
      "returnType" : {
        "returnType" : "ListAnomalyGroupTimeSeriesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAnomalyGroupTimeSeriesResult"
    },
    "ListMetricSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMetricSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMetricSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMetricSetsRequest, ListMetricSetsResult>",
      "asyncReturnType" : "ListMetricSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the datasets in the current AWS Region.</p> <p>Amazon Lookout for Metrics API actions are eventually consistent. If you do a read operation on a resource immediately after creating or modifying it, use retries to allow time for the write operation to complete.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMetricSetsRequest",
        "variableName" : "listMetricSetsRequest",
        "variableType" : "ListMetricSetsRequest",
        "documentation" : "",
        "simpleType" : "ListMetricSetsRequest",
        "variableSetterType" : "ListMetricSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMetricSets",
      "operationName" : "ListMetricSets",
      "returnType" : {
        "returnType" : "ListMetricSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMetricSetsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of <a href=\"https://docs.aws.amazon.com/lookoutmetrics/latest/dev/detectors-tags.html\">tags</a> for a detector, dataset, or alert.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutFeedback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutFeedbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutFeedbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutFeedbackRequest, PutFeedbackResult>",
      "asyncReturnType" : "PutFeedbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add feedback for an anomalous metric.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutFeedbackRequest",
        "variableName" : "putFeedbackRequest",
        "variableType" : "PutFeedbackRequest",
        "documentation" : "",
        "simpleType" : "PutFeedbackRequest",
        "variableSetterType" : "PutFeedbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putFeedback",
      "operationName" : "PutFeedback",
      "returnType" : {
        "returnType" : "PutFeedbackResult",
        "documentation" : null
      },
      "syncReturnType" : "PutFeedbackResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds <a href=\"https://docs.aws.amazon.com/lookoutmetrics/latest/dev/detectors-tags.html\">tags</a> to a detector, dataset, or alert.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes <a href=\"https://docs.aws.amazon.com/lookoutmetrics/latest/dev/detectors-tags.html\">tags</a> from a detector, dataset, or alert.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAlert" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAlertResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAlertResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAlertRequest, UpdateAlertResult>",
      "asyncReturnType" : "UpdateAlertResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Make changes to an existing alert.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAlertRequest",
        "variableName" : "updateAlertRequest",
        "variableType" : "UpdateAlertRequest",
        "documentation" : "",
        "simpleType" : "UpdateAlertRequest",
        "variableSetterType" : "UpdateAlertRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAlert",
      "operationName" : "UpdateAlert",
      "returnType" : {
        "returnType" : "UpdateAlertResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAlertResult"
    },
    "UpdateAnomalyDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAnomalyDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAnomalyDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAnomalyDetectorRequest, UpdateAnomalyDetectorResult>",
      "asyncReturnType" : "UpdateAnomalyDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a detector. After activation, you can only change a detector's ingestion delay and description.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAnomalyDetectorRequest",
        "variableName" : "updateAnomalyDetectorRequest",
        "variableType" : "UpdateAnomalyDetectorRequest",
        "documentation" : "",
        "simpleType" : "UpdateAnomalyDetectorRequest",
        "variableSetterType" : "UpdateAnomalyDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAnomalyDetector",
      "operationName" : "UpdateAnomalyDetector",
      "returnType" : {
        "returnType" : "UpdateAnomalyDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAnomalyDetectorResult"
    },
    "UpdateMetricSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMetricSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMetricSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMetricSetRequest, UpdateMetricSetResult>",
      "asyncReturnType" : "UpdateMetricSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the ARN of the resource and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service. Check your input values and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request was denied due to too many requests being submitted at the same time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeded the service's quotas. Check the service quotas and try again.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMetricSetRequest",
        "variableName" : "updateMetricSetRequest",
        "variableType" : "UpdateMetricSetRequest",
        "documentation" : "",
        "simpleType" : "UpdateMetricSetRequest",
        "variableSetterType" : "UpdateMetricSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMetricSet",
      "operationName" : "UpdateMetricSet",
      "returnType" : {
        "returnType" : "UpdateMetricSetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateMetricSetResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient permissions to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.lookoutmetrics.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.lookoutmetrics.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Action" : {
      "c2jName" : "Action",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A configuration that specifies the action to perform when anomalies are detected.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.lookoutmetrics.model.Action",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "SNSConfiguration",
        "c2jShape" : "SNSConfiguration",
        "deprecated" : false,
        "documentation" : "<p>A configuration for an Amazon SNS channel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A configuration for an Amazon SNS channel.</p>\n@param sNSConfiguration A configuration for an Amazon SNS channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSNSConfiguration",
        "getterDocumentation" : "/**<p>A configuration for an Amazon SNS channel.</p>\n@return A configuration for an Amazon SNS channel.*/",
        "getterMethodName" : "getSNSConfiguration",
        "getterModel" : {
          "returnType" : "SNSConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SNSConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SNSConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SNSConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A configuration for an Amazon SNS channel.</p>\n@param sNSConfiguration A configuration for an Amazon SNS channel.*/",
        "setterMethodName" : "setSNSConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SNSConfiguration",
          "variableName" : "sNSConfiguration",
          "variableType" : "SNSConfiguration",
          "documentation" : "",
          "simpleType" : "SNSConfiguration",
          "variableSetterType" : "SNSConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A configuration for an Amazon SNS channel.</p>\n@param sNSConfiguration A configuration for an Amazon SNS channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SNSConfiguration",
          "variableName" : "sNSConfiguration",
          "variableType" : "SNSConfiguration",
          "documentation" : "<p>A configuration for an Amazon SNS channel.</p>",
          "simpleType" : "SNSConfiguration",
          "variableSetterType" : "SNSConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LambdaConfiguration",
        "c2jShape" : "LambdaConfiguration",
        "deprecated" : false,
        "documentation" : "<p>A configuration for an AWS Lambda channel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A configuration for an AWS Lambda channel.</p>\n@param lambdaConfiguration A configuration for an AWS Lambda channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLambdaConfiguration",
        "getterDocumentation" : "/**<p>A configuration for an AWS Lambda channel.</p>\n@return A configuration for an AWS Lambda channel.*/",
        "getterMethodName" : "getLambdaConfiguration",
        "getterModel" : {
          "returnType" : "LambdaConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LambdaConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LambdaConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "LambdaConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A configuration for an AWS Lambda channel.</p>\n@param lambdaConfiguration A configuration for an AWS Lambda channel.*/",
        "setterMethodName" : "setLambdaConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "LambdaConfiguration",
          "variableName" : "lambdaConfiguration",
          "variableType" : "LambdaConfiguration",
          "documentation" : "",
          "simpleType" : "LambdaConfiguration",
          "variableSetterType" : "LambdaConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A configuration for an AWS Lambda channel.</p>\n@param lambdaConfiguration A configuration for an AWS Lambda channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "LambdaConfiguration",
          "variableName" : "lambdaConfiguration",
          "variableType" : "LambdaConfiguration",
          "documentation" : "<p>A configuration for an AWS Lambda channel.</p>",
          "simpleType" : "LambdaConfiguration",
          "variableSetterType" : "LambdaConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LambdaConfiguration" : {
          "c2jName" : "LambdaConfiguration",
          "c2jShape" : "LambdaConfiguration",
          "deprecated" : false,
          "documentation" : "<p>A configuration for an AWS Lambda channel.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A configuration for an AWS Lambda channel.</p>\n@param lambdaConfiguration A configuration for an AWS Lambda channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLambdaConfiguration",
          "getterDocumentation" : "/**<p>A configuration for an AWS Lambda channel.</p>\n@return A configuration for an AWS Lambda channel.*/",
          "getterMethodName" : "getLambdaConfiguration",
          "getterModel" : {
            "returnType" : "LambdaConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LambdaConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LambdaConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "LambdaConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A configuration for an AWS Lambda channel.</p>\n@param lambdaConfiguration A configuration for an AWS Lambda channel.*/",
          "setterMethodName" : "setLambdaConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "LambdaConfiguration",
            "variableName" : "lambdaConfiguration",
            "variableType" : "LambdaConfiguration",
            "documentation" : "",
            "simpleType" : "LambdaConfiguration",
            "variableSetterType" : "LambdaConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A configuration for an AWS Lambda channel.</p>\n@param lambdaConfiguration A configuration for an AWS Lambda channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "LambdaConfiguration",
            "variableName" : "lambdaConfiguration",
            "variableType" : "LambdaConfiguration",
            "documentation" : "<p>A configuration for an AWS Lambda channel.</p>",
            "simpleType" : "LambdaConfiguration",
            "variableSetterType" : "LambdaConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "SNSConfiguration" : {
          "c2jName" : "SNSConfiguration",
          "c2jShape" : "SNSConfiguration",
          "deprecated" : false,
          "documentation" : "<p>A configuration for an Amazon SNS channel.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A configuration for an Amazon SNS channel.</p>\n@param sNSConfiguration A configuration for an Amazon SNS channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSNSConfiguration",
          "getterDocumentation" : "/**<p>A configuration for an Amazon SNS channel.</p>\n@return A configuration for an Amazon SNS channel.*/",
          "getterMethodName" : "getSNSConfiguration",
          "getterModel" : {
            "returnType" : "SNSConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SNSConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SNSConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SNSConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A configuration for an Amazon SNS channel.</p>\n@param sNSConfiguration A configuration for an Amazon SNS channel.*/",
          "setterMethodName" : "setSNSConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SNSConfiguration",
            "variableName" : "sNSConfiguration",
            "variableType" : "SNSConfiguration",
            "documentation" : "",
            "simpleType" : "SNSConfiguration",
            "variableSetterType" : "SNSConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A configuration for an Amazon SNS channel.</p>\n@param sNSConfiguration A configuration for an Amazon SNS channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SNSConfiguration",
            "variableName" : "sNSConfiguration",
            "variableType" : "SNSConfiguration",
            "documentation" : "<p>A configuration for an Amazon SNS channel.</p>",
            "simpleType" : "SNSConfiguration",
            "variableSetterType" : "SNSConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.lookoutmetrics.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Action",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Action",
        "variableName" : "action",
        "variableType" : "Action",
        "documentation" : null,
        "simpleType" : "Action",
        "variableSetterType" : "Action"
      },
      "wrapper" : false
    },
    "ActivateAnomalyDetectorRequest" : {
      "c2jName" : "ActivateAnomalyDetectorRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.lookoutmetrics.request.ActivateAnomalyDetectorRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ActivateAnomalyDetector",
        "locationName" : null,
        "requestUri" : "/ActivateAnomalyDetector",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "AnomalyDetectorArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the anomaly detector.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the anomaly detector.</p>\n@param anomalyDetectorArn The ARN of the anomaly detector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAnomalyDetectorArn",
        "getterDocumentation" : "/**<p>The ARN of the anomaly detector.</p>\n@return The ARN of the anomaly detector.*/",
        "getterMethodName" : "getAnomalyDetectorArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
[...]
