{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "AddTagsInput" : [ "ResourceType" ],
      "AddTagsOutput" : [ "ResourceType" ],
      "BatchPrediction" : [ "Status" ],
      "CreateMLModelInput" : [ "MLModelType" ],
      "DataSource" : [ "Status" ],
      "DeleteTagsInput" : [ "ResourceType" ],
      "DeleteTagsOutput" : [ "ResourceType" ],
      "DescribeBatchPredictionsInput" : [ "FilterVariable", "SortOrder" ],
      "DescribeDataSourcesInput" : [ "FilterVariable", "SortOrder" ],
      "DescribeEvaluationsInput" : [ "FilterVariable", "SortOrder" ],
      "DescribeMLModelsInput" : [ "FilterVariable", "SortOrder" ],
      "DescribeTagsInput" : [ "ResourceType" ],
      "DescribeTagsOutput" : [ "ResourceType" ],
      "Evaluation" : [ "Status" ],
      "GetBatchPredictionOutput" : [ "Status" ],
      "GetDataSourceOutput" : [ "Status" ],
      "GetEvaluationOutput" : [ "Status" ],
      "GetMLModelOutput" : [ "Status", "MLModelType" ],
      "MLModel" : [ "Status", "Algorithm", "MLModelType" ],
      "RealtimeEndpointInfo" : [ "EndpointStatus" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeBatchPredictions" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeDataSources" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeEvaluations" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeMLModels" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2014-12-12",
    "asyncClient" : "AmazonMachineLearningAsyncClient",
    "asyncClientBuilderClassName" : "AmazonMachineLearningAsyncClientBuilder",
    "asyncInterface" : "AmazonMachineLearningAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonMachineLearningModuleInjector",
    "defaultEndpoint" : "https://machinelearning.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "machinelearning.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "Definition of the public APIs exposed by Amazon Machine Learning",
    "endpointPrefix" : "machinelearning",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.machinelearning",
    "packagePath" : "com/amazonaws/services/machinelearning",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Machine Learning",
    "serviceId" : "Machine Learning",
    "serviceName" : "Amazon Machine Learning",
    "signingName" : "machinelearning",
    "smokeTestsPackageName" : "com.amazonaws.services.machinelearning.smoketests",
    "syncClient" : "AmazonMachineLearningClient",
    "syncClientBuilderClassName" : "AmazonMachineLearningClientBuilder",
    "syncInterface" : "AmazonMachineLearning",
    "uid" : "machinelearning-2014-12-12",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to an object, up to a limit of 10. Each tag consists of a key and an optional value. If you add a tag using a key that is already associated with the ML object, <code>AddTags</code> updates the tag's value.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>Amazon ML returns the following elements. </p>"
      },
      "syncReturnType" : "AddTagsResult"
    },
    "CreateBatchPrediction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBatchPredictionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBatchPredictionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBatchPredictionRequest, CreateBatchPredictionResult>",
      "asyncReturnType" : "CreateBatchPredictionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates predictions for a group of observations. The observations to process exist in one or more data files referenced by a <code>DataSource</code>. This operation creates a new <code>BatchPrediction</code>, and uses an <code>MLModel</code> and the data files referenced by the <code>DataSource</code> as information sources. </p> <p><code>CreateBatchPrediction</code> is an asynchronous operation. In response to <code>CreateBatchPrediction</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>BatchPrediction</code> status to <code>PENDING</code>. After the <code>BatchPrediction</code> completes, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can poll for status updates by using the <a>GetBatchPrediction</a> operation and checking the <code>Status</code> parameter of the result. After the <code>COMPLETED</code> status appears, the results are available in the location specified by the <code>OutputUri</code> parameter.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBatchPredictionRequest",
        "variableName" : "createBatchPredictionRequest",
        "variableType" : "CreateBatchPredictionRequest",
        "documentation" : "",
        "simpleType" : "CreateBatchPredictionRequest",
        "variableSetterType" : "CreateBatchPredictionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBatchPrediction",
      "operationName" : "CreateBatchPrediction",
      "returnType" : {
        "returnType" : "CreateBatchPredictionResult",
        "documentation" : "<p> Represents the output of a <code>CreateBatchPrediction</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateBatchPrediction</code> operation is asynchronous. You can poll for status updates by using the <code>&gt;GetBatchPrediction</code> operation and checking the <code>Status</code> parameter of the result. </p>"
      },
      "syncReturnType" : "CreateBatchPredictionResult"
    },
    "CreateDataSourceFromRDS" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSourceFromRDSResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSourceFromRDSResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSourceFromRDSRequest, CreateDataSourceFromRDSResult>",
      "asyncReturnType" : "CreateDataSourceFromRDSResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>DataSource</code> object from an <a href=\"http://aws.amazon.com/rds/\"> Amazon Relational Database Service</a> (Amazon RDS). A <code>DataSource</code> references data that can be used to perform <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromRDS</code> is an asynchronous operation. In response to <code>CreateDataSourceFromRDS</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in the <code>COMPLETED</code> or <code>PENDING</code> state can be used only to perform <code>&gt;CreateMLModel</code>&gt;, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML cannot accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataSourceFromRDSRequest",
        "variableName" : "createDataSourceFromRDSRequest",
        "variableType" : "CreateDataSourceFromRDSRequest",
        "documentation" : "",
        "simpleType" : "CreateDataSourceFromRDSRequest",
        "variableSetterType" : "CreateDataSourceFromRDSRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataSourceFromRDS",
      "operationName" : "CreateDataSourceFromRDS",
      "returnType" : {
        "returnType" : "CreateDataSourceFromRDSResult",
        "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromRDS</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRDS</code>&gt; operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. You can inspect the <code>Message</code> when <code>Status</code> shows up as <code>FAILED</code>. You can also check the progress of the copy operation by going to the <code>DataPipeline</code> console and looking up the pipeline using the <code>pipelineId </code> from the describe call.</p>"
      },
      "syncReturnType" : "CreateDataSourceFromRDSResult"
    },
    "CreateDataSourceFromRedshift" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSourceFromRedshiftResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSourceFromRedshiftResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSourceFromRedshiftRequest, CreateDataSourceFromRedshiftResult>",
      "asyncReturnType" : "CreateDataSourceFromRedshiftResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>DataSource</code> from a database hosted on an Amazon Redshift cluster. A <code>DataSource</code> references data that can be used to perform either <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromRedshift</code> is an asynchronous operation. In response to <code>CreateDataSourceFromRedshift</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in <code>COMPLETED</code> or <code>PENDING</code> states can be used to perform only <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML can't accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p> <p>The observations should be contained in the database hosted on an Amazon Redshift cluster and should be specified by a <code>SelectSqlQuery</code> query. Amazon ML executes an <code>Unload</code> command in Amazon Redshift to transfer the result set of the <code>SelectSqlQuery</code> query to <code>S3StagingLocation</code>.</p> <p>After the <code>DataSource</code> has been created, it's ready for use in evaluations and batch predictions. If you plan to use the <code>DataSource</code> to train an <code>MLModel</code>, the <code>DataSource</code> also requires a recipe. A recipe describes how each input variable will be used in training an <code>MLModel</code>. Will the variable be included or excluded from training? Will the variable be manipulated; for example, will it be combined with another variable or will it be split apart into word combinations? The recipe provides answers to these questions.</p> <?oxy_insert_start author=\"laurama\" timestamp=\"20160406T153842-0700\"><p>You can't change an existing datasource, but you can copy and modify the settings from an existing Amazon Redshift datasource to create a new datasource. To do so, call <code>GetDataSource</code> for an existing datasource and copy the values to a <code>CreateDataSource</code> call. Change the settings that you want to change and make sure that all required fields have the appropriate values.</p> <?oxy_insert_end>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataSourceFromRedshiftRequest",
        "variableName" : "createDataSourceFromRedshiftRequest",
        "variableType" : "CreateDataSourceFromRedshiftRequest",
        "documentation" : "",
        "simpleType" : "CreateDataSourceFromRedshiftRequest",
        "variableSetterType" : "CreateDataSourceFromRedshiftRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataSourceFromRedshift",
      "operationName" : "CreateDataSourceFromRedshift",
      "returnType" : {
        "returnType" : "CreateDataSourceFromRedshiftResult",
        "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromRedshift</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRedshift</code> operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>"
      },
      "syncReturnType" : "CreateDataSourceFromRedshiftResult"
    },
    "CreateDataSourceFromS3" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSourceFromS3Result>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSourceFromS3Result>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSourceFromS3Request, CreateDataSourceFromS3Result>",
      "asyncReturnType" : "CreateDataSourceFromS3Result",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>DataSource</code> object. A <code>DataSource</code> references data that can be used to perform <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromS3</code> is an asynchronous operation. In response to <code>CreateDataSourceFromS3</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> has been created and is ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in the <code>COMPLETED</code> or <code>PENDING</code> state can be used to perform only <code>CreateMLModel</code>, <code>CreateEvaluation</code> or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML can't accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p> <p>The observation data used in a <code>DataSource</code> should be ready to use; that is, it should have a consistent structure, and missing data values should be kept to a minimum. The observation data must reside in one or more .csv files in an Amazon Simple Storage Service (Amazon S3) location, along with a schema that describes the data items by name and type. The same schema must be used for all of the data files referenced by the <code>DataSource</code>. </p> <p>After the <code>DataSource</code> has been created, it's ready to use in evaluations and batch predictions. If you plan to use the <code>DataSource</code> to train an <code>MLModel</code>, the <code>DataSource</code> also needs a recipe. A recipe describes how each input variable will be used in training an <code>MLModel</code>. Will the variable be included or excluded from training? Will the variable be manipulated; for example, will it be combined with another variable or will it be split apart into word combinations? The recipe provides answers to these questions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataSourceFromS3Request",
        "variableName" : "createDataSourceFromS3Request",
        "variableType" : "CreateDataSourceFromS3Request",
        "documentation" : "",
        "simpleType" : "CreateDataSourceFromS3Request",
        "variableSetterType" : "CreateDataSourceFromS3Request"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataSourceFromS3",
      "operationName" : "CreateDataSourceFromS3",
      "returnType" : {
        "returnType" : "CreateDataSourceFromS3Result",
        "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromS3</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromS3</code> operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>"
      },
      "syncReturnType" : "CreateDataSourceFromS3Result"
    },
    "CreateEvaluation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEvaluationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEvaluationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEvaluationRequest, CreateEvaluationResult>",
      "asyncReturnType" : "CreateEvaluationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new <code>Evaluation</code> of an <code>MLModel</code>. An <code>MLModel</code> is evaluated on a set of observations associated to a <code>DataSource</code>. Like a <code>DataSource</code> for an <code>MLModel</code>, the <code>DataSource</code> for an <code>Evaluation</code> contains values for the <code>Target Variable</code>. The <code>Evaluation</code> compares the predicted result for each observation to the actual outcome and provides a summary so that you know how effective the <code>MLModel</code> functions on the test data. Evaluation generates a relevant performance metric, such as BinaryAUC, RegressionRMSE or MulticlassAvgFScore based on the corresponding <code>MLModelType</code>: <code>BINARY</code>, <code>REGRESSION</code> or <code>MULTICLASS</code>. </p> <p><code>CreateEvaluation</code> is an asynchronous operation. In response to <code>CreateEvaluation</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the evaluation status to <code>PENDING</code>. After the <code>Evaluation</code> is created and ready for use, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can use the <code>GetEvaluation</code> operation to check progress of the evaluation during the creation operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEvaluationRequest",
        "variableName" : "createEvaluationRequest",
        "variableType" : "CreateEvaluationRequest",
        "documentation" : "",
        "simpleType" : "CreateEvaluationRequest",
        "variableSetterType" : "CreateEvaluationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEvaluation",
      "operationName" : "CreateEvaluation",
      "returnType" : {
        "returnType" : "CreateEvaluationResult",
        "documentation" : "<p> Represents the output of a <code>CreateEvaluation</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p><code>CreateEvaluation</code> operation is asynchronous. You can poll for status updates by using the <code>GetEvcaluation</code> operation and checking the <code>Status</code> parameter. </p>"
      },
      "syncReturnType" : "CreateEvaluationResult"
    },
    "CreateMLModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMLModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMLModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMLModelRequest, CreateMLModelResult>",
      "asyncReturnType" : "CreateMLModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new <code>MLModel</code> using the <code>DataSource</code> and the recipe as information sources. </p> <p>An <code>MLModel</code> is nearly immutable. Users can update only the <code>MLModelName</code> and the <code>ScoreThreshold</code> in an <code>MLModel</code> without creating a new <code>MLModel</code>. </p> <p><code>CreateMLModel</code> is an asynchronous operation. In response to <code>CreateMLModel</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>MLModel</code> status to <code>PENDING</code>. After the <code>MLModel</code> has been created and ready is for use, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can use the <code>GetMLModel</code> operation to check the progress of the <code>MLModel</code> during the creation operation.</p> <p> <code>CreateMLModel</code> requires a <code>DataSource</code> with computed statistics, which can be created by setting <code>ComputeStatistics</code> to <code>true</code> in <code>CreateDataSourceFromRDS</code>, <code>CreateDataSourceFromS3</code>, or <code>CreateDataSourceFromRedshift</code> operations. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMLModelRequest",
        "variableName" : "createMLModelRequest",
        "variableType" : "CreateMLModelRequest",
        "documentation" : "",
        "simpleType" : "CreateMLModelRequest",
        "variableSetterType" : "CreateMLModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMLModel",
      "operationName" : "CreateMLModel",
      "returnType" : {
        "returnType" : "CreateMLModelResult",
        "documentation" : "<p> Represents the output of a <code>CreateMLModel</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateMLModel</code> operation is asynchronous. You can poll for status updates by using the <code>GetMLModel</code> operation and checking the <code>Status</code> parameter. </p>"
      },
      "syncReturnType" : "CreateMLModelResult"
    },
    "CreateRealtimeEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRealtimeEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRealtimeEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRealtimeEndpointRequest, CreateRealtimeEndpointResult>",
      "asyncReturnType" : "CreateRealtimeEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a real-time endpoint for the <code>MLModel</code>. The endpoint contains the URI of the <code>MLModel</code>; that is, the location to send real-time prediction requests for the specified <code>MLModel</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRealtimeEndpointRequest",
        "variableName" : "createRealtimeEndpointRequest",
        "variableType" : "CreateRealtimeEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateRealtimeEndpointRequest",
        "variableSetterType" : "CreateRealtimeEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRealtimeEndpoint",
      "operationName" : "CreateRealtimeEndpoint",
      "returnType" : {
        "returnType" : "CreateRealtimeEndpointResult",
        "documentation" : "<p>Represents the output of an <code>CreateRealtimeEndpoint</code> operation.</p> <p>The result contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>.</p> <note> <p>The endpoint information includes the URI of the <code>MLModel</code>; that is, the location to send online prediction requests for the specified <code>MLModel</code>.</p> </note>"
      },
      "syncReturnType" : "CreateRealtimeEndpointResult"
    },
    "DeleteBatchPrediction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBatchPredictionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBatchPredictionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBatchPredictionRequest, DeleteBatchPredictionResult>",
      "asyncReturnType" : "DeleteBatchPredictionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns the DELETED status to a <code>BatchPrediction</code>, rendering it unusable.</p> <p>After using the <code>DeleteBatchPrediction</code> operation, you can use the <a>GetBatchPrediction</a> operation to verify that the status of the <code>BatchPrediction</code> changed to DELETED.</p> <p><b>Caution:</b> The result of the <code>DeleteBatchPrediction</code> operation is irreversible.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBatchPredictionRequest",
        "variableName" : "deleteBatchPredictionRequest",
        "variableType" : "DeleteBatchPredictionRequest",
        "documentation" : "",
        "simpleType" : "DeleteBatchPredictionRequest",
        "variableSetterType" : "DeleteBatchPredictionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBatchPrediction",
      "operationName" : "DeleteBatchPrediction",
      "returnType" : {
        "returnType" : "DeleteBatchPredictionResult",
        "documentation" : "<p> Represents the output of a <code>DeleteBatchPrediction</code> operation.</p> <p>You can use the <code>GetBatchPrediction</code> operation and check the value of the <code>Status</code> parameter to see whether a <code>BatchPrediction</code> is marked as <code>DELETED</code>.</p>"
      },
      "syncReturnType" : "DeleteBatchPredictionResult"
    },
    "DeleteDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDataSourceRequest, DeleteDataSourceResult>",
      "asyncReturnType" : "DeleteDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns the DELETED status to a <code>DataSource</code>, rendering it unusable.</p> <p>After using the <code>DeleteDataSource</code> operation, you can use the <a>GetDataSource</a> operation to verify that the status of the <code>DataSource</code> changed to DELETED.</p> <p><b>Caution:</b> The results of the <code>DeleteDataSource</code> operation are irreversible.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDataSourceRequest",
        "variableName" : "deleteDataSourceRequest",
        "variableType" : "DeleteDataSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteDataSourceRequest",
        "variableSetterType" : "DeleteDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataSource",
      "operationName" : "DeleteDataSource",
      "returnType" : {
        "returnType" : "DeleteDataSourceResult",
        "documentation" : "<p> Represents the output of a <code>DeleteDataSource</code> operation.</p>"
      },
      "syncReturnType" : "DeleteDataSourceResult"
    },
    "DeleteEvaluation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEvaluationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEvaluationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEvaluationRequest, DeleteEvaluationResult>",
      "asyncReturnType" : "DeleteEvaluationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns the <code>DELETED</code> status to an <code>Evaluation</code>, rendering it unusable.</p> <p>After invoking the <code>DeleteEvaluation</code> operation, you can use the <code>GetEvaluation</code> operation to verify that the status of the <code>Evaluation</code> changed to <code>DELETED</code>.</p> <caution><title>Caution</title> <p>The results of the <code>DeleteEvaluation</code> operation are irreversible.</p></caution>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEvaluationRequest",
        "variableName" : "deleteEvaluationRequest",
        "variableType" : "DeleteEvaluationRequest",
        "documentation" : "",
        "simpleType" : "DeleteEvaluationRequest",
        "variableSetterType" : "DeleteEvaluationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEvaluation",
      "operationName" : "DeleteEvaluation",
      "returnType" : {
        "returnType" : "DeleteEvaluationResult",
        "documentation" : "<p> Represents the output of a <code>DeleteEvaluation</code> operation. The output indicates that Amazon Machine Learning (Amazon ML) received the request.</p> <p>You can use the <code>GetEvaluation</code> operation and check the value of the <code>Status</code> parameter to see whether an <code>Evaluation</code> is marked as <code>DELETED</code>.</p>"
      },
      "syncReturnType" : "DeleteEvaluationResult"
    },
    "DeleteMLModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMLModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMLModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMLModelRequest, DeleteMLModelResult>",
      "asyncReturnType" : "DeleteMLModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns the <code>DELETED</code> status to an <code>MLModel</code>, rendering it unusable.</p> <p>After using the <code>DeleteMLModel</code> operation, you can use the <code>GetMLModel</code> operation to verify that the status of the <code>MLModel</code> changed to DELETED.</p> <p><b>Caution:</b> The result of the <code>DeleteMLModel</code> operation is irreversible.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMLModelRequest",
        "variableName" : "deleteMLModelRequest",
        "variableType" : "DeleteMLModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteMLModelRequest",
        "variableSetterType" : "DeleteMLModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMLModel",
      "operationName" : "DeleteMLModel",
      "returnType" : {
        "returnType" : "DeleteMLModelResult",
        "documentation" : "<p>Represents the output of a <code>DeleteMLModel</code> operation.</p> <p>You can use the <code>GetMLModel</code> operation and check the value of the <code>Status</code> parameter to see whether an <code>MLModel</code> is marked as <code>DELETED</code>.</p>"
      },
      "syncReturnType" : "DeleteMLModelResult"
    },
    "DeleteRealtimeEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRealtimeEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRealtimeEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRealtimeEndpointRequest, DeleteRealtimeEndpointResult>",
      "asyncReturnType" : "DeleteRealtimeEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a real time endpoint of an <code>MLModel</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRealtimeEndpointRequest",
        "variableName" : "deleteRealtimeEndpointRequest",
        "variableType" : "DeleteRealtimeEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteRealtimeEndpointRequest",
        "variableSetterType" : "DeleteRealtimeEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRealtimeEndpoint",
      "operationName" : "DeleteRealtimeEndpoint",
      "returnType" : {
        "returnType" : "DeleteRealtimeEndpointResult",
        "documentation" : "<p>Represents the output of an <code>DeleteRealtimeEndpoint</code> operation.</p> <p>The result contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>. </p>"
      },
      "syncReturnType" : "DeleteRealtimeEndpointResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified tags associated with an ML object. After this operation is complete, you can't recover deleted tags.</p> <p>If you specify a tag that doesn't exist, Amazon ML ignores it.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : "<p>Amazon ML returns the following elements. </p>"
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DescribeBatchPredictions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBatchPredictionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBatchPredictionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBatchPredictionsRequest, DescribeBatchPredictionsResult>",
      "asyncReturnType" : "DescribeBatchPredictionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <code>BatchPrediction</code> operations that match the search criteria in the request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBatchPredictionsRequest",
        "variableName" : "describeBatchPredictionsRequest",
        "variableType" : "DescribeBatchPredictionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeBatchPredictionsRequest",
        "variableSetterType" : "DescribeBatchPredictionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBatchPredictions",
      "operationName" : "DescribeBatchPredictions",
      "returnType" : {
        "returnType" : "DescribeBatchPredictionsResult",
        "documentation" : "<p>Represents the output of a <code>DescribeBatchPredictions</code> operation. The content is essentially a list of <code>BatchPrediction</code>s.</p>"
      },
      "syncReturnType" : "DescribeBatchPredictionsResult"
    },
    "DescribeDataSources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDataSourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDataSourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDataSourcesRequest, DescribeDataSourcesResult>",
      "asyncReturnType" : "DescribeDataSourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <code>DataSource</code> that match the search criteria in the request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDataSourcesRequest",
        "variableName" : "describeDataSourcesRequest",
        "variableType" : "DescribeDataSourcesRequest",
        "documentation" : "",
        "simpleType" : "DescribeDataSourcesRequest",
        "variableSetterType" : "DescribeDataSourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataSources",
      "operationName" : "DescribeDataSources",
      "returnType" : {
        "returnType" : "DescribeDataSourcesResult",
        "documentation" : "<p>Represents the query results from a <a>DescribeDataSources</a> operation. The content is essentially a list of <code>DataSource</code>.</p>"
      },
      "syncReturnType" : "DescribeDataSourcesResult"
    },
    "DescribeEvaluations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEvaluationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEvaluationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEvaluationsRequest, DescribeEvaluationsResult>",
      "asyncReturnType" : "DescribeEvaluationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <code>DescribeEvaluations</code> that match the search criteria in the request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEvaluationsRequest",
        "variableName" : "describeEvaluationsRequest",
        "variableType" : "DescribeEvaluationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEvaluationsRequest",
        "variableSetterType" : "DescribeEvaluationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEvaluations",
      "operationName" : "DescribeEvaluations",
      "returnType" : {
        "returnType" : "DescribeEvaluationsResult",
        "documentation" : "<p>Represents the query results from a <code>DescribeEvaluations</code> operation. The content is essentially a list of <code>Evaluation</code>.</p>"
      },
      "syncReturnType" : "DescribeEvaluationsResult"
    },
    "DescribeMLModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMLModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMLModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMLModelsRequest, DescribeMLModelsResult>",
      "asyncReturnType" : "DescribeMLModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <code>MLModel</code> that match the search criteria in the request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeMLModelsRequest",
        "variableName" : "describeMLModelsRequest",
        "variableType" : "DescribeMLModelsRequest",
        "documentation" : "",
        "simpleType" : "DescribeMLModelsRequest",
        "variableSetterType" : "DescribeMLModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMLModels",
      "operationName" : "DescribeMLModels",
      "returnType" : {
        "returnType" : "DescribeMLModelsResult",
        "documentation" : "<p>Represents the output of a <code>DescribeMLModels</code> operation. The content is essentially a list of <code>MLModel</code>.</p>"
      },
      "syncReturnType" : "DescribeMLModelsResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more of the tags for your Amazon ML object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p>Amazon ML returns the following elements. </p>"
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "GetBatchPrediction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBatchPredictionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBatchPredictionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBatchPredictionRequest, GetBatchPredictionResult>",
      "asyncReturnType" : "GetBatchPredictionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a <code>BatchPrediction</code> that includes detailed metadata, status, and data file information for a <code>Batch Prediction</code> request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBatchPredictionRequest",
        "variableName" : "getBatchPredictionRequest",
        "variableType" : "GetBatchPredictionRequest",
        "documentation" : "",
        "simpleType" : "GetBatchPredictionRequest",
        "variableSetterType" : "GetBatchPredictionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBatchPrediction",
      "operationName" : "GetBatchPrediction",
      "returnType" : {
        "returnType" : "GetBatchPredictionResult",
        "documentation" : "<p>Represents the output of a <code>GetBatchPrediction</code> operation and describes a <code>BatchPrediction</code>.</p>"
      },
      "syncReturnType" : "GetBatchPredictionResult"
    },
    "GetDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataSourceRequest, GetDataSourceResult>",
      "asyncReturnType" : "GetDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a <code>DataSource</code> that includes metadata and data file information, as well as the current status of the <code>DataSource</code>.</p> <p><code>GetDataSource</code> provides results in normal or verbose format. The verbose format adds the schema description and the list of files pointed to by the DataSource to the normal format.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataSourceRequest",
        "variableName" : "getDataSourceRequest",
        "variableType" : "GetDataSourceRequest",
        "documentation" : "",
        "simpleType" : "GetDataSourceRequest",
        "variableSetterType" : "GetDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataSource",
      "operationName" : "GetDataSource",
      "returnType" : {
        "returnType" : "GetDataSourceResult",
        "documentation" : "<p>Represents the output of a <code>GetDataSource</code> operation and describes a <code>DataSource</code>.</p>"
      },
      "syncReturnType" : "GetDataSourceResult"
    },
    "GetEvaluation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEvaluationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEvaluationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEvaluationRequest, GetEvaluationResult>",
      "asyncReturnType" : "GetEvaluationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an <code>Evaluation</code> that includes metadata as well as the current status of the <code>Evaluation</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEvaluationRequest",
        "variableName" : "getEvaluationRequest",
        "variableType" : "GetEvaluationRequest",
        "documentation" : "",
        "simpleType" : "GetEvaluationRequest",
        "variableSetterType" : "GetEvaluationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEvaluation",
      "operationName" : "GetEvaluation",
      "returnType" : {
        "returnType" : "GetEvaluationResult",
        "documentation" : "<p>Represents the output of a <code>GetEvaluation</code> operation and describes an <code>Evaluation</code>.</p>"
      },
      "syncReturnType" : "GetEvaluationResult"
    },
    "GetMLModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMLModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMLModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMLModelRequest, GetMLModelResult>",
      "asyncReturnType" : "GetMLModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an <code>MLModel</code> that includes detailed metadata, data source information, and the current status of the <code>MLModel</code>.</p> <p><code>GetMLModel</code> provides results in normal or verbose format. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMLModelRequest",
        "variableName" : "getMLModelRequest",
        "variableType" : "GetMLModelRequest",
        "documentation" : "",
        "simpleType" : "GetMLModelRequest",
        "variableSetterType" : "GetMLModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMLModel",
      "operationName" : "GetMLModel",
      "returnType" : {
        "returnType" : "GetMLModelResult",
        "documentation" : "<p>Represents the output of a <code>GetMLModel</code> operation, and provides detailed information about a <code>MLModel</code>.</p>"
      },
      "syncReturnType" : "GetMLModelResult"
    },
    "Predict" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PredictResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PredictResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PredictRequest, PredictResult>",
      "asyncReturnType" : "PredictResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a prediction for the observation using the specified <code>ML Model</code>.</p> <note><title>Note</title> <p>Not all response parameters will be populated. Whether a response parameter is populated depends on the type of model requested.</p></note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The subscriber exceeded the maximum number of operations. This exception can occur when listing objects such as <code>DataSource</code>.</p>",
        "httpStatusCode" : 417
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PredictorNotMountedException",
        "documentation" : "<p>The exception is thrown when a predict request is made to an unmounted <code>MLModel</code>.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PredictRequest",
        "variableName" : "predictRequest",
        "variableType" : "PredictRequest",
        "documentation" : "",
        "simpleType" : "PredictRequest",
        "variableSetterType" : "PredictRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "predict",
      "operationName" : "Predict",
      "returnType" : {
        "returnType" : "PredictResult",
        "documentation" : null
      },
      "syncReturnType" : "PredictResult"
    },
    "UpdateBatchPrediction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBatchPredictionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBatchPredictionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBatchPredictionRequest, UpdateBatchPredictionResult>",
      "asyncReturnType" : "UpdateBatchPredictionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>BatchPredictionName</code> of a <code>BatchPrediction</code>.</p> <p>You can use the <code>GetBatchPrediction</code> operation to view the contents of the updated data element.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBatchPredictionRequest",
        "variableName" : "updateBatchPredictionRequest",
        "variableType" : "UpdateBatchPredictionRequest",
        "documentation" : "",
        "simpleType" : "UpdateBatchPredictionRequest",
        "variableSetterType" : "UpdateBatchPredictionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBatchPrediction",
      "operationName" : "UpdateBatchPrediction",
      "returnType" : {
        "returnType" : "UpdateBatchPredictionResult",
        "documentation" : "<p>Represents the output of an <code>UpdateBatchPrediction</code> operation.</p> <p>You can see the updated content by using the <code>GetBatchPrediction</code> operation.</p>"
      },
      "syncReturnType" : "UpdateBatchPredictionResult"
    },
    "UpdateDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDataSourceRequest, UpdateDataSourceResult>",
      "asyncReturnType" : "UpdateDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>DataSourceName</code> of a <code>DataSource</code>.</p> <p>You can use the <code>GetDataSource</code> operation to view the contents of the updated data element.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDataSourceRequest",
        "variableName" : "updateDataSourceRequest",
        "variableType" : "UpdateDataSourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateDataSourceRequest",
        "variableSetterType" : "UpdateDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataSource",
      "operationName" : "UpdateDataSource",
      "returnType" : {
        "returnType" : "UpdateDataSourceResult",
        "documentation" : "<p>Represents the output of an <code>UpdateDataSource</code> operation.</p> <p>You can see the updated content by using the <code>GetBatchPrediction</code> operation.</p>"
      },
      "syncReturnType" : "UpdateDataSourceResult"
    },
    "UpdateEvaluation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEvaluationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEvaluationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEvaluationRequest, UpdateEvaluationResult>",
      "asyncReturnType" : "UpdateEvaluationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>EvaluationName</code> of an <code>Evaluation</code>.</p> <p>You can use the <code>GetEvaluation</code> operation to view the contents of the updated data element.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEvaluationRequest",
        "variableName" : "updateEvaluationRequest",
        "variableType" : "UpdateEvaluationRequest",
        "documentation" : "",
        "simpleType" : "UpdateEvaluationRequest",
        "variableSetterType" : "UpdateEvaluationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEvaluation",
      "operationName" : "UpdateEvaluation",
      "returnType" : {
        "returnType" : "UpdateEvaluationResult",
        "documentation" : "<p>Represents the output of an <code>UpdateEvaluation</code> operation.</p> <p>You can see the updated content by using the <code>GetEvaluation</code> operation.</p>"
      },
      "syncReturnType" : "UpdateEvaluationResult"
    },
    "UpdateMLModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMLModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMLModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMLModelRequest, UpdateMLModelResult>",
      "asyncReturnType" : "UpdateMLModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>MLModelName</code> and the <code>ScoreThreshold</code> of an <code>MLModel</code>.</p> <p>You can use the <code>GetMLModel</code> operation to view the contents of the updated data element.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMLModelRequest",
        "variableName" : "updateMLModelRequest",
        "variableType" : "UpdateMLModelRequest",
        "documentation" : "",
        "simpleType" : "UpdateMLModelRequest",
        "variableSetterType" : "UpdateMLModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMLModel",
      "operationName" : "UpdateMLModel",
      "returnType" : {
        "returnType" : "UpdateMLModelResult",
        "documentation" : "<p>Represents the output of an <code>UpdateMLModel</code> operation.</p> <p>You can see the updated content by using the <code>GetMLModel</code> operation.</p>"
      },
      "syncReturnType" : "UpdateMLModelResult"
    }
  },
  "shapes" : {
    "AddTagsRequest" : {
      "c2jName" : "AddTagsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTags",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AmazonML_20141212.AddTags",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.</p>\n@param tags The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.</p>\n@return The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.</p>\n@param tags The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceId",
        "c2jShape" : "EntityId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>\n@param resourceId The ID of the ML object to tag. For example, <code>exampleModelId</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceId",
        "getterDocumentation" : "/**<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>\n@return The ID of the ML object to tag. For example, <code>exampleModelId</code>.*/",
        "getterMethodName" : "getResourceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>\n@param resourceId The ID of the ML object to tag. For example, <code>exampleModelId</code>.*/",
        "setterMethodName" : "setResourceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>\n@param resourceId The ID of the ML object to tag. For example, <code>exampleModelId</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceType",
        "c2jShape" : "TaggableResourceType",
        "deprecated" : false,
        "documentation" : "<p>The type of the ML object to tag. </p>",
        "enumType" : "TaggableResourceType",
        "fluentSetterDocumentation" : "/**<p>The type of the ML object to tag. </p>\n@param resourceType The type of the ML object to tag.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TaggableResourceType*/",
        "fluentSetterMethodName" : "withResourceType",
        "getterDocumentation" : "/**<p>The type of the ML object to tag. </p>\n@return The type of the ML object to tag.\n@see TaggableResourceType*/",
        "getterMethodName" : "getResourceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of the ML object to tag. </p>\n@param resourceType The type of the ML object to tag.\n@see TaggableResourceType*/",
        "setterMethodName" : "setResourceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of the ML object to tag. </p>\n@param resourceType The type of the ML object to tag.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TaggableResourceType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "<p>The type of the ML object to tag. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceId" : {
          "c2jName" : "ResourceId",
          "c2jShape" : "EntityId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>\n@param resourceId The ID of the ML object to tag. For example, <code>exampleModelId</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceId",
          "getterDocumentation" : "/**<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>\n@return The ID of the ML object to tag. For example, <code>exampleModelId</code>.*/",
          "getterMethodName" : "getResourceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>\n@param resourceId The ID of the ML object to tag. For example, <code>exampleModelId</code>.*/",
          "setterMethodName" : "setResourceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>\n@param resourceId The ID of the ML object to tag. For example, <code>exampleModelId</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceType" : {
          "c2jName" : "ResourceType",
          "c2jShape" : "TaggableResourceType",
          "deprecated" : false,
          "documentation" : "<p>The type of the ML object to tag. </p>",
          "enumType" : "TaggableResourceType",
          "fluentSetterDocumentation" : "/**<p>The type of the ML object to tag. </p>\n@param resourceType The type of the ML object to tag.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TaggableResourceType*/",
          "fluentSetterMethodName" : "withResourceType",
          "getterDocumentation" : "/**<p>The type of the ML object to tag. </p>\n@return The type of the ML object to tag.\n@see TaggableResourceType*/",
          "getterMethodName" : "getResourceType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of the ML object to tag. </p>\n@param resourceType The type of the ML object to tag.\n@see TaggableResourceType*/",
          "setterMethodName" : "setResourceType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of the ML object to tag. </p>\n@param resourceType The type of the ML object to tag.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TaggableResourceType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "<p>The type of the ML object to tag. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
[...]
