{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2014-12-12",
    "endpointPrefix" : "machinelearning",
    "jsonVersion" : "1.1",
    "protocol" : "json",
    "resultWrapped" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Machine Learning",
    "signatureVersion" : "v4",
    "signingName" : "machinelearning",
    "targetPrefix" : "AmazonML_20141212",
    "uid" : "machinelearning-2014-12-12",
    "xmlNamespace" : null
  },
  "operations" : {
    "AddTags" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to an object, up to a limit of 10. Each tag consists of a key and an optional value. If you add a tag using a key that is already associated with the ML object, <code>AddTags</code> updates the tag's value.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTagException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "TagLimitExceededException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "AddTagsInput",
        "xmlNamespace" : null
      },
      "name" : "AddTags",
      "output" : {
        "documentation" : "<p>Amazon ML returns the following elements. </p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "AddTagsOutput"
      }
    },
    "CreateBatchPrediction" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Generates predictions for a group of observations. The observations to process exist in one or more data files referenced by a <code>DataSource</code>. This operation creates a new <code>BatchPrediction</code>, and uses an <code>MLModel</code> and the data files referenced by the <code>DataSource</code> as information sources. </p> <p><code>CreateBatchPrediction</code> is an asynchronous operation. In response to <code>CreateBatchPrediction</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>BatchPrediction</code> status to <code>PENDING</code>. After the <code>BatchPrediction</code> completes, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can poll for status updates by using the <a>GetBatchPrediction</a> operation and checking the <code>Status</code> parameter of the result. After the <code>COMPLETED</code> status appears, the results are available in the location specified by the <code>OutputUri</code> parameter.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      }, {
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "IdempotentParameterMismatchException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateBatchPredictionInput",
        "xmlNamespace" : null
      },
      "name" : "CreateBatchPrediction",
      "output" : {
        "documentation" : "<p> Represents the output of a <code>CreateBatchPrediction</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateBatchPrediction</code> operation is asynchronous. You can poll for status updates by using the <code>&gt;GetBatchPrediction</code> operation and checking the <code>Status</code> parameter of the result. </p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateBatchPredictionOutput"
      }
    },
    "CreateDataSourceFromRDS" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>DataSource</code> object from an <a href=\"http://aws.amazon.com/rds/\"> Amazon Relational Database Service</a> (Amazon RDS). A <code>DataSource</code> references data that can be used to perform <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromRDS</code> is an asynchronous operation. In response to <code>CreateDataSourceFromRDS</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in the <code>COMPLETED</code> or <code>PENDING</code> state can be used only to perform <code>&gt;CreateMLModel</code>&gt;, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML cannot accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      }, {
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "IdempotentParameterMismatchException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDataSourceFromRDSInput",
        "xmlNamespace" : null
      },
      "name" : "CreateDataSourceFromRDS",
      "output" : {
        "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromRDS</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRDS</code>&gt; operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. You can inspect the <code>Message</code> when <code>Status</code> shows up as <code>FAILED</code>. You can also check the progress of the copy operation by going to the <code>DataPipeline</code> console and looking up the pipeline using the <code>pipelineId </code> from the describe call.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateDataSourceFromRDSOutput"
      }
    },
    "CreateDataSourceFromRedshift" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>DataSource</code> from a database hosted on an Amazon Redshift cluster. A <code>DataSource</code> references data that can be used to perform either <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromRedshift</code> is an asynchronous operation. In response to <code>CreateDataSourceFromRedshift</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in <code>COMPLETED</code> or <code>PENDING</code> states can be used to perform only <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML can't accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p> <p>The observations should be contained in the database hosted on an Amazon Redshift cluster and should be specified by a <code>SelectSqlQuery</code> query. Amazon ML executes an <code>Unload</code> command in Amazon Redshift to transfer the result set of the <code>SelectSqlQuery</code> query to <code>S3StagingLocation</code>.</p> <p>After the <code>DataSource</code> has been created, it's ready for use in evaluations and batch predictions. If you plan to use the <code>DataSource</code> to train an <code>MLModel</code>, the <code>DataSource</code> also requires a recipe. A recipe describes how each input variable will be used in training an <code>MLModel</code>. Will the variable be included or excluded from training? Will the variable be manipulated; for example, will it be combined with another variable or will it be split apart into word combinations? The recipe provides answers to these questions.</p> <?oxy_insert_start author=\"laurama\" timestamp=\"20160406T153842-0700\"><p>You can't change an existing datasource, but you can copy and modify the settings from an existing Amazon Redshift datasource to create a new datasource. To do so, call <code>GetDataSource</code> for an existing datasource and copy the values to a <code>CreateDataSource</code> call. Change the settings that you want to change and make sure that all required fields have the appropriate values.</p> <?oxy_insert_end>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      }, {
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "IdempotentParameterMismatchException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDataSourceFromRedshiftInput",
        "xmlNamespace" : null
      },
      "name" : "CreateDataSourceFromRedshift",
      "output" : {
        "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromRedshift</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRedshift</code> operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateDataSourceFromRedshiftOutput"
      }
    },
    "CreateDataSourceFromS3" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>DataSource</code> object. A <code>DataSource</code> references data that can be used to perform <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromS3</code> is an asynchronous operation. In response to <code>CreateDataSourceFromS3</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> has been created and is ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in the <code>COMPLETED</code> or <code>PENDING</code> state can be used to perform only <code>CreateMLModel</code>, <code>CreateEvaluation</code> or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML can't accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p> <p>The observation data used in a <code>DataSource</code> should be ready to use; that is, it should have a consistent structure, and missing data values should be kept to a minimum. The observation data must reside in one or more .csv files in an Amazon Simple Storage Service (Amazon S3) location, along with a schema that describes the data items by name and type. The same schema must be used for all of the data files referenced by the <code>DataSource</code>. </p> <p>After the <code>DataSource</code> has been created, it's ready to use in evaluations and batch predictions. If you plan to use the <code>DataSource</code> to train an <code>MLModel</code>, the <code>DataSource</code> also needs a recipe. A recipe describes how each input variable will be used in training an <code>MLModel</code>. Will the variable be included or excluded from training? Will the variable be manipulated; for example, will it be combined with another variable or will it be split apart into word combinations? The recipe provides answers to these questions.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      }, {
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "IdempotentParameterMismatchException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDataSourceFromS3Input",
        "xmlNamespace" : null
      },
      "name" : "CreateDataSourceFromS3",
      "output" : {
        "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromS3</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromS3</code> operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateDataSourceFromS3Output"
      }
    },
    "CreateEvaluation" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new <code>Evaluation</code> of an <code>MLModel</code>. An <code>MLModel</code> is evaluated on a set of observations associated to a <code>DataSource</code>. Like a <code>DataSource</code> for an <code>MLModel</code>, the <code>DataSource</code> for an <code>Evaluation</code> contains values for the <code>Target Variable</code>. The <code>Evaluation</code> compares the predicted result for each observation to the actual outcome and provides a summary so that you know how effective the <code>MLModel</code> functions on the test data. Evaluation generates a relevant performance metric, such as BinaryAUC, RegressionRMSE or MulticlassAvgFScore based on the corresponding <code>MLModelType</code>: <code>BINARY</code>, <code>REGRESSION</code> or <code>MULTICLASS</code>. </p> <p><code>CreateEvaluation</code> is an asynchronous operation. In response to <code>CreateEvaluation</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the evaluation status to <code>PENDING</code>. After the <code>Evaluation</code> is created and ready for use, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can use the <code>GetEvaluation</code> operation to check progress of the evaluation during the creation operation.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      }, {
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "IdempotentParameterMismatchException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateEvaluationInput",
        "xmlNamespace" : null
      },
      "name" : "CreateEvaluation",
      "output" : {
        "documentation" : "<p> Represents the output of a <code>CreateEvaluation</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p><code>CreateEvaluation</code> operation is asynchronous. You can poll for status updates by using the <code>GetEvcaluation</code> operation and checking the <code>Status</code> parameter. </p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateEvaluationOutput"
      }
    },
    "CreateMLModel" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new <code>MLModel</code> using the <code>DataSource</code> and the recipe as information sources. </p> <p>An <code>MLModel</code> is nearly immutable. Users can update only the <code>MLModelName</code> and the <code>ScoreThreshold</code> in an <code>MLModel</code> without creating a new <code>MLModel</code>. </p> <p><code>CreateMLModel</code> is an asynchronous operation. In response to <code>CreateMLModel</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>MLModel</code> status to <code>PENDING</code>. After the <code>MLModel</code> has been created and ready is for use, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can use the <code>GetMLModel</code> operation to check the progress of the <code>MLModel</code> during the creation operation.</p> <p> <code>CreateMLModel</code> requires a <code>DataSource</code> with computed statistics, which can be created by setting <code>ComputeStatistics</code> to <code>true</code> in <code>CreateDataSourceFromRDS</code>, <code>CreateDataSourceFromS3</code>, or <code>CreateDataSourceFromRedshift</code> operations. </p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      }, {
        "documentation" : "<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "IdempotentParameterMismatchException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateMLModelInput",
        "xmlNamespace" : null
      },
      "name" : "CreateMLModel",
      "output" : {
        "documentation" : "<p> Represents the output of a <code>CreateMLModel</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateMLModel</code> operation is asynchronous. You can poll for status updates by using the <code>GetMLModel</code> operation and checking the <code>Status</code> parameter. </p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateMLModelOutput"
      }
    },
    "CreateRealtimeEndpoint" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a real-time endpoint for the <code>MLModel</code>. The endpoint contains the URI of the <code>MLModel</code>; that is, the location to send real-time prediction requests for the specified <code>MLModel</code>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateRealtimeEndpointInput",
        "xmlNamespace" : null
      },
      "name" : "CreateRealtimeEndpoint",
      "output" : {
        "documentation" : "<p>Represents the output of an <code>CreateRealtimeEndpoint</code> operation.</p> <p>The result contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>.</p> <note> <p>The endpoint information includes the URI of the <code>MLModel</code>; that is, the location to send online prediction requests for the specified <code>MLModel</code>.</p> </note>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateRealtimeEndpointOutput"
      }
    },
    "DeleteBatchPrediction" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Assigns the DELETED status to a <code>BatchPrediction</code>, rendering it unusable.</p> <p>After using the <code>DeleteBatchPrediction</code> operation, you can use the <a>GetBatchPrediction</a> operation to verify that the status of the <code>BatchPrediction</code> changed to DELETED.</p> <p><b>Caution:</b> The result of the <code>DeleteBatchPrediction</code> operation is irreversible.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteBatchPredictionInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteBatchPrediction",
      "output" : {
        "documentation" : "<p> Represents the output of a <code>DeleteBatchPrediction</code> operation.</p> <p>You can use the <code>GetBatchPrediction</code> operation and check the value of the <code>Status</code> parameter to see whether a <code>BatchPrediction</code> is marked as <code>DELETED</code>.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteBatchPredictionOutput"
      }
    },
    "DeleteDataSource" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Assigns the DELETED status to a <code>DataSource</code>, rendering it unusable.</p> <p>After using the <code>DeleteDataSource</code> operation, you can use the <a>GetDataSource</a> operation to verify that the status of the <code>DataSource</code> changed to DELETED.</p> <p><b>Caution:</b> The results of the <code>DeleteDataSource</code> operation are irreversible.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDataSourceInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteDataSource",
      "output" : {
        "documentation" : "<p> Represents the output of a <code>DeleteDataSource</code> operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteDataSourceOutput"
      }
    },
    "DeleteEvaluation" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Assigns the <code>DELETED</code> status to an <code>Evaluation</code>, rendering it unusable.</p> <p>After invoking the <code>DeleteEvaluation</code> operation, you can use the <code>GetEvaluation</code> operation to verify that the status of the <code>Evaluation</code> changed to <code>DELETED</code>.</p> <caution><title>Caution</title> <p>The results of the <code>DeleteEvaluation</code> operation are irreversible.</p></caution>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteEvaluationInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteEvaluation",
      "output" : {
        "documentation" : "<p> Represents the output of a <code>DeleteEvaluation</code> operation. The output indicates that Amazon Machine Learning (Amazon ML) received the request.</p> <p>You can use the <code>GetEvaluation</code> operation and check the value of the <code>Status</code> parameter to see whether an <code>Evaluation</code> is marked as <code>DELETED</code>.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteEvaluationOutput"
      }
    },
    "DeleteMLModel" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Assigns the <code>DELETED</code> status to an <code>MLModel</code>, rendering it unusable.</p> <p>After using the <code>DeleteMLModel</code> operation, you can use the <code>GetMLModel</code> operation to verify that the status of the <code>MLModel</code> changed to DELETED.</p> <p><b>Caution:</b> The result of the <code>DeleteMLModel</code> operation is irreversible.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteMLModelInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteMLModel",
      "output" : {
        "documentation" : "<p>Represents the output of a <code>DeleteMLModel</code> operation.</p> <p>You can use the <code>GetMLModel</code> operation and check the value of the <code>Status</code> parameter to see whether an <code>MLModel</code> is marked as <code>DELETED</code>.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteMLModelOutput"
      }
    },
    "DeleteRealtimeEndpoint" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a real time endpoint of an <code>MLModel</code>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteRealtimeEndpointInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteRealtimeEndpoint",
      "output" : {
        "documentation" : "<p>Represents the output of an <code>DeleteRealtimeEndpoint</code> operation.</p> <p>The result contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>. </p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteRealtimeEndpointOutput"
      }
    },
    "DeleteTags" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified tags associated with an ML object. After this operation is complete, you can't recover deleted tags.</p> <p>If you specify a tag that doesn't exist, Amazon ML ignores it.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidTagException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteTagsInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteTags",
      "output" : {
        "documentation" : "<p>Amazon ML returns the following elements. </p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteTagsOutput"
      }
    },
    "DescribeBatchPredictions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <code>BatchPrediction</code> operations that match the search criteria in the request.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeBatchPredictionsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeBatchPredictions",
      "output" : {
        "documentation" : "<p>Represents the output of a <code>DescribeBatchPredictions</code> operation. The content is essentially a list of <code>BatchPrediction</code>s.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeBatchPredictionsOutput"
      }
    },
    "DescribeDataSources" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <code>DataSource</code> that match the search criteria in the request.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDataSourcesInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeDataSources",
      "output" : {
        "documentation" : "<p>Represents the query results from a <a>DescribeDataSources</a> operation. The content is essentially a list of <code>DataSource</code>.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeDataSourcesOutput"
      }
    },
    "DescribeEvaluations" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <code>DescribeEvaluations</code> that match the search criteria in the request.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeEvaluationsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeEvaluations",
      "output" : {
        "documentation" : "<p>Represents the query results from a <code>DescribeEvaluations</code> operation. The content is essentially a list of <code>Evaluation</code>.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeEvaluationsOutput"
      }
    },
    "DescribeMLModels" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <code>MLModel</code> that match the search criteria in the request.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeMLModelsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeMLModels",
      "output" : {
        "documentation" : "<p>Represents the output of a <code>DescribeMLModels</code> operation. The content is essentially a list of <code>MLModel</code>.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeMLModelsOutput"
      }
    },
    "DescribeTags" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes one or more of the tags for your Amazon ML object.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeTagsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeTags",
      "output" : {
        "documentation" : "<p>Amazon ML returns the following elements. </p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeTagsOutput"
      }
    },
    "GetBatchPrediction" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a <code>BatchPrediction</code> that includes detailed metadata, status, and data file information for a <code>Batch Prediction</code> request.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBatchPredictionInput",
        "xmlNamespace" : null
      },
      "name" : "GetBatchPrediction",
      "output" : {
        "documentation" : "<p>Represents the output of a <code>GetBatchPrediction</code> operation and describes a <code>BatchPrediction</code>.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBatchPredictionOutput"
      }
    },
    "GetDataSource" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a <code>DataSource</code> that includes metadata and data file information, as well as the current status of the <code>DataSource</code>.</p> <p><code>GetDataSource</code> provides results in normal or verbose format. The verbose format adds the schema description and the list of files pointed to by the DataSource to the normal format.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetDataSourceInput",
        "xmlNamespace" : null
      },
      "name" : "GetDataSource",
      "output" : {
        "documentation" : "<p>Represents the output of a <code>GetDataSource</code> operation and describes a <code>DataSource</code>.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetDataSourceOutput"
      }
    },
    "GetEvaluation" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns an <code>Evaluation</code> that includes metadata as well as the current status of the <code>Evaluation</code>.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetEvaluationInput",
        "xmlNamespace" : null
      },
      "name" : "GetEvaluation",
      "output" : {
        "documentation" : "<p>Represents the output of a <code>GetEvaluation</code> operation and describes an <code>Evaluation</code>.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetEvaluationOutput"
      }
    },
    "GetMLModel" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns an <code>MLModel</code> that includes detailed metadata, data source information, and the current status of the <code>MLModel</code>.</p> <p><code>GetMLModel</code> provides results in normal or verbose format. </p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetMLModelInput",
        "xmlNamespace" : null
      },
      "name" : "GetMLModel",
      "output" : {
        "documentation" : "<p>Represents the output of a <code>GetMLModel</code> operation, and provides detailed information about a <code>MLModel</code>.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetMLModelOutput"
      }
    },
    "Predict" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Generates a prediction for the observation using the specified <code>ML Model</code>.</p> <note><title>Note</title> <p>Not all response parameters will be populated. Whether a response parameter is populated depends on the type of model requested.</p></note>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The subscriber exceeded the maximum number of operations. This exception can occur when listing objects such as <code>DataSource</code>.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 417
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      }, {
        "documentation" : "<p>The exception is thrown when a predict request is made to an unmounted <code>MLModel</code>.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "PredictorNotMountedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "PredictInput",
        "xmlNamespace" : null
      },
      "name" : "Predict",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PredictOutput"
      }
    },
    "UpdateBatchPrediction" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>BatchPredictionName</code> of a <code>BatchPrediction</code>.</p> <p>You can use the <code>GetBatchPrediction</code> operation to view the contents of the updated data element.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateBatchPredictionInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateBatchPrediction",
      "output" : {
        "documentation" : "<p>Represents the output of an <code>UpdateBatchPrediction</code> operation.</p> <p>You can see the updated content by using the <code>GetBatchPrediction</code> operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateBatchPredictionOutput"
      }
    },
    "UpdateDataSource" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>DataSourceName</code> of a <code>DataSource</code>.</p> <p>You can use the <code>GetDataSource</code> operation to view the contents of the updated data element.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateDataSourceInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateDataSource",
      "output" : {
        "documentation" : "<p>Represents the output of an <code>UpdateDataSource</code> operation.</p> <p>You can see the updated content by using the <code>GetBatchPrediction</code> operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateDataSourceOutput"
      }
    },
    "UpdateEvaluation" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>EvaluationName</code> of an <code>Evaluation</code>.</p> <p>You can use the <code>GetEvaluation</code> operation to view the contents of the updated data element.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateEvaluationInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateEvaluation",
      "output" : {
        "documentation" : "<p>Represents the output of an <code>UpdateEvaluation</code> operation.</p> <p>You can see the updated content by using the <code>GetEvaluation</code> operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateEvaluationOutput"
      }
    },
    "UpdateMLModel" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>MLModelName</code> and the <code>ScoreThreshold</code> of an <code>MLModel</code>.</p> <p>You can use the <code>GetMLModel</code> operation to view the contents of the updated data element.</p>",
      "errors" : [ {
        "documentation" : "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidInputException"
      }, {
        "documentation" : "<p>A specified resource cannot be located.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An error on the server occurred when trying to process a request.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServerException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateMLModelInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateMLModel",
      "output" : {
        "documentation" : "<p>Represents the output of an <code>UpdateMLModel</code> operation.</p> <p>You can see the updated content by using the <code>GetMLModel</code> operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateMLModelOutput"
      }
    }
  },
  "shapes" : {
    "AddTagsInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ResourceId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ResourceType" : {
          "deprecated" : false,
          "documentation" : "<p>The type of the ML object to tag. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TaggableResourceType",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Tags" : {
          "deprecated" : false,
          "documentation" : "<p>The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TagList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "Tags", "ResourceId", "ResourceType" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AddTagsOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Amazon ML returns the following elements. </p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ResourceId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the ML object that was tagged.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ResourceType" : {
          "deprecated" : false,
          "documentation" : "<p>The type of the ML object that was tagged.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TaggableResourceType",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Algorithm" : {
      "deprecated" : false,
      "documentation" : "<p>The function used to train an <code>MLModel</code>. Training choices supported by Amazon ML include the following:</p> <ul> <li> <code>SGD</code> - Stochastic Gradient Descent.</li> <li> <code>RandomForest</code> - Random forest of decision trees.</li> </ul>",
      "enum" : [ "sgd" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "AwsUserArn" : {
      "deprecated" : false,
      "documentation" : "<p>An Amazon Web Service (AWS) user account identifier. The account identifier can be an AWS root account or an AWS Identity and Access Management (IAM) user.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : "arn:aws:iam::[0-9]+:((user/.+)|(root))",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "BatchPrediction" : {
      "deprecated" : false,
      "documentation" : "<p> Represents the output of a <code>GetBatchPrediction</code> operation.</p> <p> The content consists of the detailed metadata, the status, and the data file information of a <code>Batch Prediction</code>.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "BatchPredictionDataSourceId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the <code>DataSource</code> that points to the group of observations to predict.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "BatchPredictionId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID assigned to the <code>BatchPrediction</code> at creation. This value should be identical to the value of the <code>BatchPredictionID</code> in the request. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ComputeTime" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LongType",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CreatedAt" : {
          "deprecated" : false,
          "documentation" : "<p>The time that the <code>BatchPrediction</code> was created. The time is expressed in epoch time.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EpochTime",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CreatedByIamUser" : {
          "deprecated" : false,
          "documentation" : "<p>The AWS user account that invoked the <code>BatchPrediction</code>. The account type can be either an AWS root account or an AWS Identity and Access Management (IAM) user account.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AwsUserArn",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "FinishedAt" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EpochTime",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "InputDataLocationS3" : {
          "deprecated" : false,
          "documentation" : "<p>The location of the data file or directory in Amazon Simple Storage Service (Amazon S3).</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "S3Url",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "InvalidRecordCount" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LongType",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastUpdatedAt" : {
          "deprecated" : false,
          "documentation" : "<p>The time of the most recent edit to the <code>BatchPrediction</code>. The time is expressed in epoch time.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EpochTime",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "MLModelId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the <code>MLModel</code> that generated predictions for the <code>BatchPrediction</code> request.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Message" : {
          "deprecated" : false,
          "documentation" : "<p>A description of the most recent details about processing the batch prediction request.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Message",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "<p>A user-supplied name or description of the <code>BatchPrediction</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "OutputUri" : {
          "deprecated" : false,
          "documentation" : "<p>The location of an Amazon S3 bucket or directory to receive the operation results. The following substrings are not allowed in the <code>s3 key</code> portion of the <code>outputURI</code> field: ':', '//', '/./', '/../'.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "S3Url",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "StartedAt" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EpochTime",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Status" : {
          "deprecated" : false,
          "documentation" : "<p>The status of the <code>BatchPrediction</code>. This element can have one of the following values:</p> <ul> <li> <code>PENDING</code> - Amazon Machine Learning (Amazon ML) submitted a request to generate predictions for a batch of observations.</li> <li> <code>INPROGRESS</code> - The process is underway.</li> <li> <code>FAILED</code> - The request to perform a batch prediction did not run to completion. It is not usable.</li> <li> <code>COMPLETED</code> - The batch prediction process completed successfully.</li> <li> <code>DELETED</code> - The <code>BatchPrediction</code> is marked as deleted. It is not usable.</li> </ul>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityStatus",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "TotalRecordCount" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LongType",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BatchPredictionFilterVariable" : {
      "deprecated" : false,
      "documentation" : "<p>A list of the variables to use in searching or filtering <code>BatchPrediction</code>.</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>BatchPrediction</code> creation date.</li> <li> <code>Status</code> - Sets the search criteria to <code>BatchPrediction</code> status.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>BatchPrediction</code><b> </b> <code>Name</code>.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>BatchPrediction</code> creation.</li> <li> <code>MLModelId</code> - Sets the search criteria to the <code>MLModel</code> used in the <code>BatchPrediction</code>.</li> <li> <code>DataSourceId</code> - Sets the search criteria to the <code>DataSource</code> used in the <code>BatchPrediction</code>.</li> <li> <code>DataURI</code> - Sets the search criteria to the data file(s) used in the <code>BatchPrediction</code>. The URL can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> </ul>",
      "enum" : [ "CreatedAt", "LastUpdatedAt", "Status", "Name", "IAMUser", "MLModelId", "DataSourceId", "DataURI" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "BatchPredictions" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "BatchPrediction",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "ComparatorValue" : {
      "deprecated" : false,
      "documentation" : "<p>The value specified in a filtering condition. The <code>ComparatorValue</code> becomes the reference value when matching or evaluating data values in filtering and searching functions.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 1024,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : ".*\\S.*|^$",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ComputeStatistics" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "boolean",
      "value" : null,
      "wrapper" : false
    },
    "CreateBatchPredictionInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "BatchPredictionDataSourceId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the <code>DataSource</code> that points to the group of observations to predict.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "BatchPredictionId" : {
          "deprecated" : false,
          "documentation" : "<p>A user-supplied ID that uniquely identifies the <code>BatchPrediction</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "BatchPredictionName" : {
          "deprecated" : false,
          "documentation" : "<p>A user-supplied name or description of the <code>BatchPrediction</code>. <code>BatchPredictionName</code> can only use the UTF-8 character set.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "MLModelId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the <code>MLModel</code> that will generate predictions for the group of observations. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "OutputUri" : {
          "deprecated" : false,
          "documentation" : "<p>The location of an Amazon Simple Storage Service (Amazon S3) bucket or directory to store the batch prediction results. The following substrings are not allowed in the <code>s3 key</code> portion of the <code>outputURI</code> field: ':', '//', '/./', '/../'.</p> <p>Amazon ML needs permissions to store and retrieve the logs on your behalf. For information about how to set permissions, see the <a href=\"http://docs.aws.amazon.com/machine-learning/latest/dg\">Amazon Machine Learning Developer Guide</a>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "S3Url",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "BatchPredictionId", "MLModelId", "BatchPredictionDataSourceId", "OutputUri" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateBatchPredictionOutput" : {
      "deprecated" : false,
      "documentation" : "<p> Represents the output of a <code>CreateBatchPrediction</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateBatchPrediction</code> operation is asynchronous. You can poll for status updates by using the <code>&gt;GetBatchPrediction</code> operation and checking the <code>Status</code> parameter of the result. </p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "BatchPredictionId" : {
          "deprecated" : false,
          "documentation" : "<p>A user-supplied ID that uniquely identifies the <code>BatchPrediction</code>. This value is identical to the value of the <code>BatchPredictionId</code> in the request.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDataSourceFromRDSInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ComputeStatistics" : {
          "deprecated" : false,
          "documentation" : "<p>The compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by a <code>DataSource</code>. Amazon ML uses the statistics internally during <code>MLModel</code> training. This parameter must be set to <code>true</code> if the <code></code>DataSource<code></code> needs to be used for <code>MLModel</code> training. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ComputeStatistics",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DataSourceId" : {
          "deprecated" : false,
          "documentation" : "<p>A user-supplied ID that uniquely identifies the <code>DataSource</code>. Typically, an Amazon Resource Number (ARN) becomes the ID for a <code>DataSource</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DataSourceName" : {
          "deprecated" : false,
          "documentation" : "<p>A user-supplied name or description of the <code>DataSource</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RDSData" : {
          "deprecated" : false,
          "documentation" : "<p>The data specification of an Amazon RDS <code>DataSource</code>:</p> <ul> <li><p>DatabaseInformation - <ul> <li> <code>DatabaseName</code> - The name of the Amazon RDS database.</li> <li> <code>InstanceIdentifier </code> - A unique identifier for the Amazon RDS database instance.</li> </ul> </p></li> <li><p>DatabaseCredentials - AWS Identity and Access Management (IAM) credentials that are used to connect to the Amazon RDS database.</p></li> <li><p>ResourceRole - A role (DataPipelineDefaultResourceRole) assumed by an EC2 instance to carry out the copy task from Amazon RDS to Amazon Simple Storage Service (Amazon S3). For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-iam-roles.html\">Role templates</a> for data pipelines.</p></li> <li><p>ServiceRole - A role (DataPipelineDefaultRole) assumed by the AWS Data Pipeline service to monitor the progress of the copy task from Amazon RDS to Amazon S3. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-iam-roles.html\">Role templates</a> for data pipelines.</p></li> <li><p>SecurityInfo - The security information to use to access an RDS DB instance. You need to set up appropriate ingress rules for the security entity IDs provided to allow access to the Amazon RDS instance. Specify a [<code>SubnetId</code>, <code>SecurityGroupIds</code>] pair for a VPC-based RDS DB instance.</p></li> <li><p>SelectSqlQuery - A query that is used to retrieve the observation data for the <code>Datasource</code>.</p></li> <li><p>S3StagingLocation - The Amazon S3 location for staging Amazon RDS data. The data retrieved from Amazon RDS using <code>SelectSqlQuery</code> is stored in this location.</p></li> <li><p>DataSchemaUri - The Amazon S3 location of the <code>DataSchema</code>.</p></li> <li><p>DataSchema - A JSON string representing the schema. This is not required if <code>DataSchemaUri</code> is specified. </p></li> <li> <p>DataRearrangement - A JSON string that represents the splitting and rearrangement requirements for the <code>Datasource</code>. </p> <br> <p> Sample - <code> \"{\\\"splitting\\\":{\\\"percentBegin\\\":10,\\\"percentEnd\\\":60}}\"</code> </p> </li> </ul>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RDSDataSpec",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RoleARN" : {
          "deprecated" : false,
          "documentation" : "<p>The role that Amazon ML assumes on behalf of the user to create and activate a data pipeline in the user's account and copy data using the <code>SelectSqlQuery</code> query from Amazon RDS to Amazon S3.</p> <p> </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RoleARN",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DataSourceId", "RDSData", "RoleARN" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDataSourceFromRDSOutput" : {
      "deprecated" : false,
      "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromRDS</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRDS</code>&gt; operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. You can inspect the <code>Message</code> when <code>Status</code> shows up as <code>FAILED</code>. You can also check the progress of the copy operation by going to the <code>DataPipeline</code> console and looking up the pipeline using the <code>pipelineId </code> from the describe call.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DataSourceId" : {
          "deprecated" : false,
          "documentation" : "<p>A user-supplied ID that uniquely identifies the datasource. This value should be identical to the value of the <code>DataSourceID</code> in the request. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDataSourceFromRedshiftInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ComputeStatistics" : {
          "deprecated" : false,
          "documentation" : "<p>The compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by a <code>DataSource</code>. Amazon ML uses the statistics internally during <code>MLModel</code> training. This parameter must be set to <code>true</code> if the <code>DataSource</code> needs to be used for <code>MLModel</code> training.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ComputeStatistics",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DataSourceId" : {
          "deprecated" : false,
          "documentation" : "<p>A user-supplied ID that uniquely identifies the <code>DataSource</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DataSourceName" : {
          "deprecated" : false,
          "documentation" : "<p>A user-supplied name or description of the <code>DataSource</code>. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "EntityName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DataSpec" : {
          "deprecated" : false,
          "documentation" : "<p>The data specification of an Amazon Redshift <code>DataSource</code>:</p> <ul> <li><p>DatabaseInformation - <ul> <li> <code>DatabaseName</code> - The name of the Amazon Redshift database. </li> <li> <code> ClusterIdentifier</code> - The unique ID for the Amazon Redshift cluster.</li> </ul></p></li> <li><p>DatabaseCredentials - The AWS Identity and Access Management (IAM) credentials that are used to connect to the Amazon Redshift database.</p></li> <li><p>SelectSqlQuery - The query that is used to retrieve the observation data for the <code>Datasource</code>.</p></li> <li><p>S3StagingLocation - The Amazon Simple Storage Service (Amazon S3) location for staging Amazon Redshift data. The data retrieved from Amazon Redshift using the <code>SelectSqlQuery</code> query is stored in this location.</p></li> <li><p>DataSchemaUri - The Amazon S3 location of the <code>DataSchema</code>.</p></li> <li><p>DataSchema - A JSON string representing the schema. This is not required if <code>DataSchemaUri</code> is specified. </p></li> <li> <p>DataRearrangement - A JSON string that represents the splitting and rearrangement requirements for the <code>DataSource</code>.</p> <p> Sample - <code> \"{\\\"splitting\\\":{\\\"percentBegin\\\":10,\\\"percentEnd\\\":60}}\"</code> </p> </li> </ul>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RedshiftDataSpec",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RoleARN" : {
          "deprecated" : false,
          "documentation" : "<p>A fully specified role Amazon Resource Name (ARN). Amazon ML assumes the role on behalf of the user to create the following: </p> <p> <ul> <li><p>A security group to allow Amazon ML to execute the <code>SelectSqlQuery</code> query on an Amazon Redshift cluster</p></li> <li><p>An Amazon S3 bucket policy to grant Amazon ML read/write permissions on the <code>S3StagingLocation</code></p></li> </ul> </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RoleARN",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DataSourceId", "DataSpec", "RoleARN" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDataSourceFromRedshiftOutput" : {
      "deprecated" : false,
      "documentation" : "<p> Represents the output of a <code>CreateDataSourceFromRedshift</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRedshift</code> operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DataSourceId" : {
          "deprecated" : false,
[...]
