{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-12-19",
    "asyncClient" : "AmazonMacieAsyncClient",
    "asyncClientBuilderClassName" : "AmazonMacieAsyncClientBuilder",
    "asyncInterface" : "AmazonMacieAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonMacieModuleInjector",
    "defaultEndpoint" : "macie.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "macie.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Macie</fullname> <p>Amazon Macie is a security service that uses machine learning to automatically discover, classify, and protect sensitive data in AWS. Macie recognizes sensitive data such as personally identifiable information (PII) or intellectual property, and provides you with dashboards and alerts that give visibility into how this data is being accessed or moved. For more information, see the <a href=\"https://docs.aws.amazon.com/macie/latest/userguide/what-is-macie.html\">Macie User Guide</a>. </p>",
    "endpointPrefix" : "macie",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.macie",
    "packagePath" : "com/amazonaws/services/macie",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Macie",
    "serviceId" : "Macie",
    "serviceName" : "Amazon Macie",
    "signingName" : "macie",
    "smokeTestsPackageName" : "com.amazonaws.services.macie.smoketests",
    "syncClient" : "AmazonMacieClient",
    "syncClientBuilderClassName" : "AmazonMacieClientBuilder",
    "syncInterface" : "AmazonMacie",
    "uid" : "macie-2017-12-19",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateMemberAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateMemberAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateMemberAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateMemberAccountRequest, AssociateMemberAccountResult>",
      "asyncReturnType" : "AssociateMemberAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a specified AWS account with Amazon Macie as a member account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateMemberAccountRequest",
        "variableName" : "associateMemberAccountRequest",
        "variableType" : "AssociateMemberAccountRequest",
        "documentation" : "",
        "simpleType" : "AssociateMemberAccountRequest",
        "variableSetterType" : "AssociateMemberAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateMemberAccount",
      "operationName" : "AssociateMemberAccount",
      "returnType" : {
        "returnType" : "AssociateMemberAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateMemberAccountResult"
    },
    "AssociateS3Resources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateS3ResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateS3ResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateS3ResourcesRequest, AssociateS3ResourcesResult>",
      "asyncReturnType" : "AssociateS3ResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates specified S3 resources with Amazon Macie for monitoring and data classification. If memberAccountId isn't specified, the action associates specified S3 resources with Macie for the current master account. If memberAccountId is specified, the action associates specified S3 resources with Macie for the specified member account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateS3ResourcesRequest",
        "variableName" : "associateS3ResourcesRequest",
        "variableType" : "AssociateS3ResourcesRequest",
        "documentation" : "",
        "simpleType" : "AssociateS3ResourcesRequest",
        "variableSetterType" : "AssociateS3ResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateS3Resources",
      "operationName" : "AssociateS3Resources",
      "returnType" : {
        "returnType" : "AssociateS3ResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateS3ResourcesResult"
    },
    "DisassociateMemberAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateMemberAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateMemberAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateMemberAccountRequest, DisassociateMemberAccountResult>",
      "asyncReturnType" : "DisassociateMemberAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified member account from Amazon Macie.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateMemberAccountRequest",
        "variableName" : "disassociateMemberAccountRequest",
        "variableType" : "DisassociateMemberAccountRequest",
        "documentation" : "",
        "simpleType" : "DisassociateMemberAccountRequest",
        "variableSetterType" : "DisassociateMemberAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateMemberAccount",
      "operationName" : "DisassociateMemberAccount",
      "returnType" : {
        "returnType" : "DisassociateMemberAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateMemberAccountResult"
    },
    "DisassociateS3Resources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateS3ResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateS3ResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateS3ResourcesRequest, DisassociateS3ResourcesResult>",
      "asyncReturnType" : "DisassociateS3ResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes specified S3 resources from being monitored by Amazon Macie. If memberAccountId isn't specified, the action removes specified S3 resources from Macie for the current master account. If memberAccountId is specified, the action removes specified S3 resources from Macie for the specified member account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateS3ResourcesRequest",
        "variableName" : "disassociateS3ResourcesRequest",
        "variableType" : "DisassociateS3ResourcesRequest",
        "documentation" : "",
        "simpleType" : "DisassociateS3ResourcesRequest",
        "variableSetterType" : "DisassociateS3ResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateS3Resources",
      "operationName" : "DisassociateS3Resources",
      "returnType" : {
        "returnType" : "DisassociateS3ResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateS3ResourcesResult"
    },
    "ListMemberAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMemberAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMemberAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMemberAccountsRequest, ListMemberAccountsResult>",
      "asyncReturnType" : "ListMemberAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Amazon Macie member accounts for the current Amazon Macie master account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMemberAccountsRequest",
        "variableName" : "listMemberAccountsRequest",
        "variableType" : "ListMemberAccountsRequest",
        "documentation" : "",
        "simpleType" : "ListMemberAccountsRequest",
        "variableSetterType" : "ListMemberAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMemberAccounts",
      "operationName" : "ListMemberAccounts",
      "returnType" : {
        "returnType" : "ListMemberAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMemberAccountsResult"
    },
    "ListS3Resources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListS3ResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListS3ResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListS3ResourcesRequest, ListS3ResourcesResult>",
      "asyncReturnType" : "ListS3ResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the S3 resources associated with Amazon Macie. If memberAccountId isn't specified, the action lists the S3 resources associated with Amazon Macie for the current master account. If memberAccountId is specified, the action lists the S3 resources associated with Amazon Macie for the specified member account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListS3ResourcesRequest",
        "variableName" : "listS3ResourcesRequest",
        "variableType" : "ListS3ResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListS3ResourcesRequest",
        "variableSetterType" : "ListS3ResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listS3Resources",
      "operationName" : "ListS3Resources",
      "returnType" : {
        "returnType" : "ListS3ResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListS3ResourcesResult"
    },
    "UpdateS3Resources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateS3ResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateS3ResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateS3ResourcesRequest, UpdateS3ResourcesResult>",
      "asyncReturnType" : "UpdateS3ResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the classification types for the specified S3 resources. If memberAccountId isn't specified, the action updates the classification types of the S3 resources associated with Amazon Macie for the current master account. If memberAccountId is specified, the action updates the classification types of the S3 resources associated with Amazon Macie for the specified member account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateS3ResourcesRequest",
        "variableName" : "updateS3ResourcesRequest",
        "variableType" : "UpdateS3ResourcesRequest",
        "documentation" : "",
        "simpleType" : "UpdateS3ResourcesRequest",
        "variableSetterType" : "UpdateS3ResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateS3Resources",
      "operationName" : "UpdateS3Resources",
      "returnType" : {
        "returnType" : "UpdateS3ResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateS3ResourcesResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "resourceType",
        "c2jShape" : "ResourceType",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param resourceType \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceType",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getResourceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceType",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param resourceType */",
        "setterMethodName" : "setResourceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param resourceType \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceType" : {
          "c2jName" : "resourceType",
          "c2jShape" : "ResourceType",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param resourceType \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceType",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getResourceType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceType",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param resourceType */",
          "setterMethodName" : "setResourceType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param resourceType \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssociateMemberAccountRequest" : {
      "c2jName" : "AssociateMemberAccountRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateMemberAccount",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "MacieService.AssociateMemberAccount",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "memberAccountId",
        "c2jShape" : "AWSAccountId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>\n@param memberAccountId The ID of the AWS account that you want to associate with Amazon Macie as a member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMemberAccountId",
        "getterDocumentation" : "/**<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>\n@return The ID of the AWS account that you want to associate with Amazon Macie as a member account.*/",
        "getterMethodName" : "getMemberAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "memberAccountId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "memberAccountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MemberAccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>\n@param memberAccountId The ID of the AWS account that you want to associate with Amazon Macie as a member account.*/",
        "setterMethodName" : "setMemberAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "memberAccountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>\n@param memberAccountId The ID of the AWS account that you want to associate with Amazon Macie as a member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "memberAccountId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MemberAccountId" : {
          "c2jName" : "memberAccountId",
          "c2jShape" : "AWSAccountId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>\n@param memberAccountId The ID of the AWS account that you want to associate with Amazon Macie as a member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMemberAccountId",
          "getterDocumentation" : "/**<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>\n@return The ID of the AWS account that you want to associate with Amazon Macie as a member account.*/",
          "getterMethodName" : "getMemberAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "memberAccountId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "memberAccountId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MemberAccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>\n@param memberAccountId The ID of the AWS account that you want to associate with Amazon Macie as a member account.*/",
          "setterMethodName" : "setMemberAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "memberAccountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>\n@param memberAccountId The ID of the AWS account that you want to associate with Amazon Macie as a member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "memberAccountId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "memberAccountId" ],
      "shapeName" : "AssociateMemberAccountRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateMemberAccountRequest",
        "variableName" : "associateMemberAccountRequest",
        "variableType" : "AssociateMemberAccountRequest",
        "documentation" : null,
        "simpleType" : "AssociateMemberAccountRequest",
        "variableSetterType" : "AssociateMemberAccountRequest"
      },
      "wrapper" : false
    },
    "AssociateMemberAccountResult" : {
      "c2jName" : "AssociateMemberAccountResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateMemberAccountResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateMemberAccountResult",
        "variableName" : "associateMemberAccountResult",
        "variableType" : "AssociateMemberAccountResult",
        "documentation" : null,
        "simpleType" : "AssociateMemberAccountResult",
        "variableSetterType" : "AssociateMemberAccountResult"
      },
      "wrapper" : false
    },
    "AssociateS3ResourcesRequest" : {
      "c2jName" : "AssociateS3ResourcesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateS3Resources",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "MacieService.AssociateS3Resources",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "memberAccountId",
        "c2jShape" : "AWSAccountId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>\n@param memberAccountId The ID of the Amazon Macie member account whose resources you want to associate with Macie.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMemberAccountId",
        "getterDocumentation" : "/**<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>\n@return The ID of the Amazon Macie member account whose resources you want to associate with Macie.*/",
        "getterMethodName" : "getMemberAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "memberAccountId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "memberAccountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MemberAccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>\n@param memberAccountId The ID of the Amazon Macie member account whose resources you want to associate with Macie.*/",
        "setterMethodName" : "setMemberAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "memberAccountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>\n@param memberAccountId The ID of the Amazon Macie member account whose resources you want to associate with Macie.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "memberAccountId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "s3Resources",
        "c2jShape" : "S3ResourcesClassification",
        "deprecated" : false,
        "documentation" : "<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>\n@param s3Resources The S3 resources that you want to associate with Amazon Macie for monitoring and data classification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3Resources",
        "getterDocumentation" : "/**<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>\n@return The S3 resources that you want to associate with Amazon Macie for monitoring and data classification.*/",
        "getterMethodName" : "getS3Resources",
        "getterModel" : {
          "returnType" : "java.util.List<S3ResourceClassification>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "s3Resources",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "s3Resources",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "S3ResourceClassification",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "S3ResourceClassification",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "S3ResourceClassification",
              "variableName" : "member",
              "variableType" : "S3ResourceClassification",
              "documentation" : "",
              "simpleType" : "S3ResourceClassification",
              "variableSetterType" : "S3ResourceClassification"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "S3ResourceClassification",
              "variableName" : "member",
              "variableType" : "S3ResourceClassification",
              "documentation" : "",
              "simpleType" : "S3ResourceClassification",
              "variableSetterType" : "S3ResourceClassification"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "S3ResourceClassification",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "S3ResourceClassification",
          "templateImplType" : "java.util.ArrayList<S3ResourceClassification>",
          "templateType" : "java.util.List<S3ResourceClassification>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "S3Resources",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>\n@param s3Resources The S3 resources that you want to associate with Amazon Macie for monitoring and data classification.*/",
        "setterMethodName" : "setS3Resources",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<S3ResourceClassification>",
          "variableName" : "s3Resources",
          "variableType" : "java.util.List<S3ResourceClassification>",
          "documentation" : "",
          "simpleType" : "List<S3ResourceClassification>",
          "variableSetterType" : "java.util.Collection<S3ResourceClassification>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setS3Resources(java.util.Collection)} or {@link #withS3Resources(java.util.Collection)} if you want to override the existing values.</p>\n@param s3Resources The S3 resources that you want to associate with Amazon Macie for monitoring and data classification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<S3ResourceClassification>",
          "variableName" : "s3Resources",
          "variableType" : "java.util.List<S3ResourceClassification>",
          "documentation" : "<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>",
          "simpleType" : "List<S3ResourceClassification>",
          "variableSetterType" : "java.util.Collection<S3ResourceClassification>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MemberAccountId" : {
          "c2jName" : "memberAccountId",
          "c2jShape" : "AWSAccountId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>\n@param memberAccountId The ID of the Amazon Macie member account whose resources you want to associate with Macie.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMemberAccountId",
          "getterDocumentation" : "/**<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>\n@return The ID of the Amazon Macie member account whose resources you want to associate with Macie.*/",
          "getterMethodName" : "getMemberAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "memberAccountId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "memberAccountId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MemberAccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>\n@param memberAccountId The ID of the Amazon Macie member account whose resources you want to associate with Macie.*/",
          "setterMethodName" : "setMemberAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "memberAccountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>\n@param memberAccountId The ID of the Amazon Macie member account whose resources you want to associate with Macie.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "memberAccountId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "S3Resources" : {
          "c2jName" : "s3Resources",
          "c2jShape" : "S3ResourcesClassification",
          "deprecated" : false,
          "documentation" : "<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>\n@param s3Resources The S3 resources that you want to associate with Amazon Macie for monitoring and data classification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withS3Resources",
          "getterDocumentation" : "/**<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>\n@return The S3 resources that you want to associate with Amazon Macie for monitoring and data classification.*/",
          "getterMethodName" : "getS3Resources",
          "getterModel" : {
            "returnType" : "java.util.List<S3ResourceClassification>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "s3Resources",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "s3Resources",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "S3ResourceClassification",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "S3ResourceClassification",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "S3ResourceClassification",
                "variableName" : "member",
                "variableType" : "S3ResourceClassification",
                "documentation" : "",
                "simpleType" : "S3ResourceClassification",
                "variableSetterType" : "S3ResourceClassification"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "S3ResourceClassification",
                "variableName" : "member",
                "variableType" : "S3ResourceClassification",
                "documentation" : "",
                "simpleType" : "S3ResourceClassification",
                "variableSetterType" : "S3ResourceClassification"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "S3ResourceClassification",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "S3ResourceClassification",
            "templateImplType" : "java.util.ArrayList<S3ResourceClassification>",
            "templateType" : "java.util.List<S3ResourceClassification>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "S3Resources",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>\n@param s3Resources The S3 resources that you want to associate with Amazon Macie for monitoring and data classification.*/",
          "setterMethodName" : "setS3Resources",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<S3ResourceClassification>",
            "variableName" : "s3Resources",
            "variableType" : "java.util.List<S3ResourceClassification>",
            "documentation" : "",
            "simpleType" : "List<S3ResourceClassification>",
            "variableSetterType" : "java.util.Collection<S3ResourceClassification>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setS3Resources(java.util.Collection)} or {@link #withS3Resources(java.util.Collection)} if you want to override the existing values.</p>\n@param s3Resources The S3 resources that you want to associate with Amazon Macie for monitoring and data classification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<S3ResourceClassification>",
            "variableName" : "s3Resources",
            "variableType" : "java.util.List<S3ResourceClassification>",
            "documentation" : "<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>",
            "simpleType" : "List<S3ResourceClassification>",
            "variableSetterType" : "java.util.Collection<S3ResourceClassification>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "s3Resources" ],
      "shapeName" : "AssociateS3ResourcesRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateS3ResourcesRequest",
        "variableName" : "associateS3ResourcesRequest",
        "variableType" : "AssociateS3ResourcesRequest",
        "documentation" : null,
        "simpleType" : "AssociateS3ResourcesRequest",
        "variableSetterType" : "AssociateS3ResourcesRequest"
      },
      "wrapper" : false
    },
    "AssociateS3ResourcesResult" : {
      "c2jName" : "AssociateS3ResourcesResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "failedS3Resources",
        "c2jShape" : "FailedS3Resources",
        "deprecated" : false,
        "documentation" : "<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>\n@param failedS3Resources S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFailedS3Resources",
        "getterDocumentation" : "/**<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>\n@return S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item.*/",
        "getterMethodName" : "getFailedS3Resources",
        "getterModel" : {
          "returnType" : "java.util.List<FailedS3Resource>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "failedS3Resources",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "failedS3Resources",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "FailedS3Resource",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "FailedS3Resource",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "FailedS3Resource",
              "variableName" : "member",
              "variableType" : "FailedS3Resource",
              "documentation" : "",
              "simpleType" : "FailedS3Resource",
              "variableSetterType" : "FailedS3Resource"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "FailedS3Resource",
              "variableName" : "member",
              "variableType" : "FailedS3Resource",
              "documentation" : "",
              "simpleType" : "FailedS3Resource",
              "variableSetterType" : "FailedS3Resource"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "FailedS3Resource",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "FailedS3Resource",
          "templateImplType" : "java.util.ArrayList<FailedS3Resource>",
          "templateType" : "java.util.List<FailedS3Resource>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "FailedS3Resources",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>\n@param failedS3Resources S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item.*/",
        "setterMethodName" : "setFailedS3Resources",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<FailedS3Resource>",
          "variableName" : "failedS3Resources",
          "variableType" : "java.util.List<FailedS3Resource>",
          "documentation" : "",
          "simpleType" : "List<FailedS3Resource>",
          "variableSetterType" : "java.util.Collection<FailedS3Resource>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailedS3Resources(java.util.Collection)} or {@link #withFailedS3Resources(java.util.Collection)} if you want to override the existing values.</p>\n@param failedS3Resources S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<FailedS3Resource>",
          "variableName" : "failedS3Resources",
          "variableType" : "java.util.List<FailedS3Resource>",
          "documentation" : "<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>",
          "simpleType" : "List<FailedS3Resource>",
          "variableSetterType" : "java.util.Collection<FailedS3Resource>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FailedS3Resources" : {
          "c2jName" : "failedS3Resources",
          "c2jShape" : "FailedS3Resources",
          "deprecated" : false,
          "documentation" : "<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>\n@param failedS3Resources S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFailedS3Resources",
          "getterDocumentation" : "/**<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>\n@return S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item.*/",
          "getterMethodName" : "getFailedS3Resources",
          "getterModel" : {
            "returnType" : "java.util.List<FailedS3Resource>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "failedS3Resources",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "failedS3Resources",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "FailedS3Resource",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "FailedS3Resource",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "FailedS3Resource",
                "variableName" : "member",
                "variableType" : "FailedS3Resource",
                "documentation" : "",
                "simpleType" : "FailedS3Resource",
                "variableSetterType" : "FailedS3Resource"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "FailedS3Resource",
                "variableName" : "member",
                "variableType" : "FailedS3Resource",
                "documentation" : "",
                "simpleType" : "FailedS3Resource",
                "variableSetterType" : "FailedS3Resource"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "FailedS3Resource",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "FailedS3Resource",
            "templateImplType" : "java.util.ArrayList<FailedS3Resource>",
            "templateType" : "java.util.List<FailedS3Resource>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "FailedS3Resources",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>\n@param failedS3Resources S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item.*/",
          "setterMethodName" : "setFailedS3Resources",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<FailedS3Resource>",
            "variableName" : "failedS3Resources",
            "variableType" : "java.util.List<FailedS3Resource>",
            "documentation" : "",
            "simpleType" : "List<FailedS3Resource>",
            "variableSetterType" : "java.util.Collection<FailedS3Resource>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailedS3Resources(java.util.Collection)} or {@link #withFailedS3Resources(java.util.Collection)} if you want to override the existing values.</p>\n@param failedS3Resources S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<FailedS3Resource>",
            "variableName" : "failedS3Resources",
            "variableType" : "java.util.List<FailedS3Resource>",
            "documentation" : "<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>",
            "simpleType" : "List<FailedS3Resource>",
            "variableSetterType" : "java.util.Collection<FailedS3Resource>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateS3ResourcesResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateS3ResourcesResult",
        "variableName" : "associateS3ResourcesResult",
        "variableType" : "AssociateS3ResourcesResult",
        "documentation" : null,
        "simpleType" : "AssociateS3ResourcesResult",
        "variableSetterType" : "AssociateS3ResourcesResult"
      },
      "wrapper" : false
    },
    "ClassificationType" : {
      "c2jName" : "ClassificationType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The classification type that Amazon Macie applies to the associated S3 resources. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "oneTime",
        "c2jShape" : "S3OneTimeClassificationType",
        "deprecated" : false,
        "documentation" : "<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>",
        "enumType" : "S3OneTimeClassificationType",
        "fluentSetterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@param oneTime A one-time classification of all of the existing objects in a specified S3 bucket.\n@return Returns a reference to this object so that method calls can be chained together.\n@see S3OneTimeClassificationType*/",
        "fluentSetterMethodName" : "withOneTime",
        "getterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@return A one-time classification of all of the existing objects in a specified S3 bucket.\n@see S3OneTimeClassificationType*/",
        "getterMethodName" : "getOneTime",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "oneTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "oneTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OneTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@param oneTime A one-time classification of all of the existing objects in a specified S3 bucket.\n@see S3OneTimeClassificationType*/",
        "setterMethodName" : "setOneTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "oneTime",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@param oneTime A one-time classification of all of the existing objects in a specified S3 bucket.\n@return Returns a reference to this object so that method calls can be chained together.\n@see S3OneTimeClassificationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "oneTime",
          "variableType" : "String",
          "documentation" : "<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "continuous",
        "c2jShape" : "S3ContinuousClassificationType",
        "deprecated" : false,
        "documentation" : "<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>",
        "enumType" : "S3ContinuousClassificationType",
        "fluentSetterDocumentation" : "/**<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>\n@param continuous A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie.\n@return Returns a reference to this object so that method calls can be chained together.\n@see S3ContinuousClassificationType*/",
        "fluentSetterMethodName" : "withContinuous",
        "getterDocumentation" : "/**<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>\n@return A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie.\n@see S3ContinuousClassificationType*/",
        "getterMethodName" : "getContinuous",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "continuous",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "continuous",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Continuous",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>\n@param continuous A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie.\n@see S3ContinuousClassificationType*/",
        "setterMethodName" : "setContinuous",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "continuous",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>\n@param continuous A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie.\n@return Returns a reference to this object so that method calls can be chained together.\n@see S3ContinuousClassificationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "continuous",
          "variableType" : "String",
          "documentation" : "<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Continuous" : {
          "c2jName" : "continuous",
          "c2jShape" : "S3ContinuousClassificationType",
          "deprecated" : false,
          "documentation" : "<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>",
          "enumType" : "S3ContinuousClassificationType",
          "fluentSetterDocumentation" : "/**<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>\n@param continuous A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie.\n@return Returns a reference to this object so that method calls can be chained together.\n@see S3ContinuousClassificationType*/",
          "fluentSetterMethodName" : "withContinuous",
          "getterDocumentation" : "/**<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>\n@return A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie.\n@see S3ContinuousClassificationType*/",
          "getterMethodName" : "getContinuous",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "continuous",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "continuous",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Continuous",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>\n@param continuous A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie.\n@see S3ContinuousClassificationType*/",
          "setterMethodName" : "setContinuous",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "continuous",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>\n@param continuous A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie.\n@return Returns a reference to this object so that method calls can be chained together.\n@see S3ContinuousClassificationType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "continuous",
            "variableType" : "String",
            "documentation" : "<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "OneTime" : {
          "c2jName" : "oneTime",
          "c2jShape" : "S3OneTimeClassificationType",
          "deprecated" : false,
          "documentation" : "<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>",
          "enumType" : "S3OneTimeClassificationType",
          "fluentSetterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@param oneTime A one-time classification of all of the existing objects in a specified S3 bucket.\n@return Returns a reference to this object so that method calls can be chained together.\n@see S3OneTimeClassificationType*/",
          "fluentSetterMethodName" : "withOneTime",
          "getterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@return A one-time classification of all of the existing objects in a specified S3 bucket.\n@see S3OneTimeClassificationType*/",
          "getterMethodName" : "getOneTime",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "oneTime",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "oneTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OneTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@param oneTime A one-time classification of all of the existing objects in a specified S3 bucket.\n@see S3OneTimeClassificationType*/",
          "setterMethodName" : "setOneTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "oneTime",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@param oneTime A one-time classification of all of the existing objects in a specified S3 bucket.\n@return Returns a reference to this object so that method calls can be chained together.\n@see S3OneTimeClassificationType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "oneTime",
            "variableType" : "String",
            "documentation" : "<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "oneTime", "continuous" ],
      "shapeName" : "ClassificationType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ClassificationType",
        "variableName" : "classificationType",
        "variableType" : "ClassificationType",
        "documentation" : null,
        "simpleType" : "ClassificationType",
        "variableSetterType" : "ClassificationType"
      },
      "wrapper" : false
    },
    "ClassificationTypeUpdate" : {
      "c2jName" : "ClassificationTypeUpdate",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The classification type that Amazon Macie applies to the associated S3 resources. At least one of the classification types (oneTime or continuous) must be specified. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "oneTime",
        "c2jShape" : "S3OneTimeClassificationType",
        "deprecated" : false,
        "documentation" : "<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>",
        "enumType" : "S3OneTimeClassificationType",
        "fluentSetterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@param oneTime A one-time classification of all of the existing objects in a specified S3 bucket.\n@return Returns a reference to this object so that method calls can be chained together.\n@see S3OneTimeClassificationType*/",
        "fluentSetterMethodName" : "withOneTime",
        "getterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@return A one-time classification of all of the existing objects in a specified S3 bucket.\n@see S3OneTimeClassificationType*/",
        "getterMethodName" : "getOneTime",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "oneTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "oneTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OneTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@param oneTime A one-time classification of all of the existing objects in a specified S3 bucket.\n@see S3OneTimeClassificationType*/",
        "setterMethodName" : "setOneTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "oneTime",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>\n@param oneTime A one-time classification of all of the existing objects in a specified S3 bucket.\n@return Returns a reference to this object so that method calls can be chained together.\n@see S3OneTimeClassificationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "oneTime",
          "variableType" : "String",
          "documentation" : "<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "continuous",
        "c2jShape" : "S3ContinuousClassificationType",
        "deprecated" : false,
        "documentation" : "<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>",
        "enumType" : "S3ContinuousClassificationType",
[...]
