{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-10-17",
    "asyncClient" : "AWSMailManagerAsyncClient",
    "asyncClientBuilderClassName" : "AWSMailManagerAsyncClientBuilder",
    "asyncInterface" : "AWSMailManagerAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSMailManagerModuleInjector",
    "defaultEndpoint" : "mail-manager.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mail-manager.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p><fullname>AWS SES Mail Manager API</fullname> <p> <a href=\"http://aws.amazon.com/ses\">AWS SES Mail Manager API</a> contains operations and data types that comprise the Mail Manager feature of Amazon Simple Email Service.</p> <p>Mail Manager is a set of Amazon SES email gateway features designed to help you strengthen your organization's email infrastructure, simplify email workflow management, and streamline email compliance control. To learn more, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/eb.html\">Mail Manager chapter</a> in the Amazon SES Developer Guide.</p></p>",
    "endpointPrefix" : "mail-manager",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.mailmanager",
    "packagePath" : "com/amazonaws/services/mailmanager",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "MailManager",
    "serviceId" : "MailManager",
    "serviceName" : "MailManager",
    "signingName" : "ses",
    "smokeTestsPackageName" : "com.amazonaws.services.mailmanager.smoketests",
    "syncClient" : "AWSMailManagerClient",
    "syncClientBuilderClassName" : "AWSMailManagerClientBuilder",
    "syncInterface" : "AWSMailManager",
    "uid" : "mailmanager-2023-10-17",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAddonInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAddonInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAddonInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAddonInstanceRequest, CreateAddonInstanceResult>",
      "asyncReturnType" : "CreateAddonInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Add On instance for the subscription indicated in the request. The resulting Amazon Resource Name (ARN) can be used in a conditional statement for a rule set or traffic policy. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAddonInstanceRequest",
        "variableName" : "createAddonInstanceRequest",
        "variableType" : "CreateAddonInstanceRequest",
        "documentation" : "",
        "simpleType" : "CreateAddonInstanceRequest",
        "variableSetterType" : "CreateAddonInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAddonInstance",
      "operationName" : "CreateAddonInstance",
      "returnType" : {
        "returnType" : "CreateAddonInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAddonInstanceResult"
    },
    "CreateAddonSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAddonSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAddonSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAddonSubscriptionRequest, CreateAddonSubscriptionResult>",
      "asyncReturnType" : "CreateAddonSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a subscription for an Add On representing the acceptance of its terms of use and additional pricing. The subscription can then be used to create an instance for use in rule sets or traffic policies.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAddonSubscriptionRequest",
        "variableName" : "createAddonSubscriptionRequest",
        "variableType" : "CreateAddonSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "CreateAddonSubscriptionRequest",
        "variableSetterType" : "CreateAddonSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAddonSubscription",
      "operationName" : "CreateAddonSubscription",
      "returnType" : {
        "returnType" : "CreateAddonSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAddonSubscriptionResult"
    },
    "CreateArchive" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateArchiveResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateArchiveResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateArchiveRequest, CreateArchiveResult>",
      "asyncReturnType" : "CreateArchiveResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new email archive resource for storing and retaining emails.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateArchiveRequest",
        "variableName" : "createArchiveRequest",
        "variableType" : "CreateArchiveRequest",
        "documentation" : "<p>The request to create a new email archive.</p>",
        "simpleType" : "CreateArchiveRequest",
        "variableSetterType" : "CreateArchiveRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createArchive",
      "operationName" : "CreateArchive",
      "returnType" : {
        "returnType" : "CreateArchiveResult",
        "documentation" : "<p>The response from creating a new email archive.</p>"
      },
      "syncReturnType" : "CreateArchiveResult"
    },
    "CreateIngressPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIngressPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIngressPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIngressPointRequest, CreateIngressPointResult>",
      "asyncReturnType" : "CreateIngressPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provision a new ingress endpoint resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIngressPointRequest",
        "variableName" : "createIngressPointRequest",
        "variableType" : "CreateIngressPointRequest",
        "documentation" : "",
        "simpleType" : "CreateIngressPointRequest",
        "variableSetterType" : "CreateIngressPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIngressPoint",
      "operationName" : "CreateIngressPoint",
      "returnType" : {
        "returnType" : "CreateIngressPointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIngressPointResult"
    },
    "CreateRelay" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRelayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRelayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRelayRequest, CreateRelayResult>",
      "asyncReturnType" : "CreateRelayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a relay resource which can be used in rules to relay incoming emails to defined relay destinations. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRelayRequest",
        "variableName" : "createRelayRequest",
        "variableType" : "CreateRelayRequest",
        "documentation" : "",
        "simpleType" : "CreateRelayRequest",
        "variableSetterType" : "CreateRelayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRelay",
      "operationName" : "CreateRelay",
      "returnType" : {
        "returnType" : "CreateRelayResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRelayResult"
    },
    "CreateRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleSetRequest, CreateRuleSetResult>",
      "asyncReturnType" : "CreateRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provision a new rule set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRuleSetRequest",
        "variableName" : "createRuleSetRequest",
        "variableType" : "CreateRuleSetRequest",
        "documentation" : "",
        "simpleType" : "CreateRuleSetRequest",
        "variableSetterType" : "CreateRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRuleSet",
      "operationName" : "CreateRuleSet",
      "returnType" : {
        "returnType" : "CreateRuleSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRuleSetResult"
    },
    "CreateTrafficPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrafficPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrafficPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrafficPolicyRequest, CreateTrafficPolicyResult>",
      "asyncReturnType" : "CreateTrafficPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provision a new traffic policy resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTrafficPolicyRequest",
        "variableName" : "createTrafficPolicyRequest",
        "variableType" : "CreateTrafficPolicyRequest",
        "documentation" : "",
        "simpleType" : "CreateTrafficPolicyRequest",
        "variableSetterType" : "CreateTrafficPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTrafficPolicy",
      "operationName" : "CreateTrafficPolicy",
      "returnType" : {
        "returnType" : "CreateTrafficPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTrafficPolicyResult"
    },
    "DeleteAddonInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAddonInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAddonInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAddonInstanceRequest, DeleteAddonInstanceResult>",
      "asyncReturnType" : "DeleteAddonInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Add On instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAddonInstanceRequest",
        "variableName" : "deleteAddonInstanceRequest",
        "variableType" : "DeleteAddonInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeleteAddonInstanceRequest",
        "variableSetterType" : "DeleteAddonInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAddonInstance",
      "operationName" : "DeleteAddonInstance",
      "returnType" : {
        "returnType" : "DeleteAddonInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAddonInstanceResult"
    },
    "DeleteAddonSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAddonSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAddonSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAddonSubscriptionRequest, DeleteAddonSubscriptionResult>",
      "asyncReturnType" : "DeleteAddonSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Add On subscription.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAddonSubscriptionRequest",
        "variableName" : "deleteAddonSubscriptionRequest",
        "variableType" : "DeleteAddonSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteAddonSubscriptionRequest",
        "variableSetterType" : "DeleteAddonSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAddonSubscription",
      "operationName" : "DeleteAddonSubscription",
      "returnType" : {
        "returnType" : "DeleteAddonSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAddonSubscriptionResult"
    },
    "DeleteArchive" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteArchiveResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteArchiveResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteArchiveRequest, DeleteArchiveResult>",
      "asyncReturnType" : "DeleteArchiveResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates deletion of an email archive. This changes the archive state to pending deletion. In this state, no new emails can be added, and existing archived emails become inaccessible (search, export, download). The archive and all of its contents will be permanently deleted 30 days after entering the pending deletion state, regardless of the configured retention period. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteArchiveRequest",
        "variableName" : "deleteArchiveRequest",
        "variableType" : "DeleteArchiveRequest",
        "documentation" : "<p>The request to initiate deletion of an email archive.</p>",
        "simpleType" : "DeleteArchiveRequest",
        "variableSetterType" : "DeleteArchiveRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteArchive",
      "operationName" : "DeleteArchive",
      "returnType" : {
        "returnType" : "DeleteArchiveResult",
        "documentation" : "<p>The response indicating if the archive deletion was successfully initiated.</p> <p>On success, returns an HTTP 200 status code. On failure, returns an error message.</p>"
      },
      "syncReturnType" : "DeleteArchiveResult"
    },
    "DeleteIngressPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIngressPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIngressPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIngressPointRequest, DeleteIngressPointResult>",
      "asyncReturnType" : "DeleteIngressPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an ingress endpoint resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIngressPointRequest",
        "variableName" : "deleteIngressPointRequest",
        "variableType" : "DeleteIngressPointRequest",
        "documentation" : "",
        "simpleType" : "DeleteIngressPointRequest",
        "variableSetterType" : "DeleteIngressPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIngressPoint",
      "operationName" : "DeleteIngressPoint",
      "returnType" : {
        "returnType" : "DeleteIngressPointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIngressPointResult"
    },
    "DeleteRelay" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRelayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRelayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRelayRequest, DeleteRelayResult>",
      "asyncReturnType" : "DeleteRelayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing relay resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRelayRequest",
        "variableName" : "deleteRelayRequest",
        "variableType" : "DeleteRelayRequest",
        "documentation" : "",
        "simpleType" : "DeleteRelayRequest",
        "variableSetterType" : "DeleteRelayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRelay",
      "operationName" : "DeleteRelay",
      "returnType" : {
        "returnType" : "DeleteRelayResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRelayResult"
    },
    "DeleteRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleSetRequest, DeleteRuleSetResult>",
      "asyncReturnType" : "DeleteRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a rule set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRuleSetRequest",
        "variableName" : "deleteRuleSetRequest",
        "variableType" : "DeleteRuleSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteRuleSetRequest",
        "variableSetterType" : "DeleteRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRuleSet",
      "operationName" : "DeleteRuleSet",
      "returnType" : {
        "returnType" : "DeleteRuleSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRuleSetResult"
    },
    "DeleteTrafficPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrafficPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrafficPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrafficPolicyRequest, DeleteTrafficPolicyResult>",
      "asyncReturnType" : "DeleteTrafficPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a traffic policy resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTrafficPolicyRequest",
        "variableName" : "deleteTrafficPolicyRequest",
        "variableType" : "DeleteTrafficPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteTrafficPolicyRequest",
        "variableSetterType" : "DeleteTrafficPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTrafficPolicy",
      "operationName" : "DeleteTrafficPolicy",
      "returnType" : {
        "returnType" : "DeleteTrafficPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTrafficPolicyResult"
    },
    "GetAddonInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAddonInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAddonInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAddonInstanceRequest, GetAddonInstanceResult>",
      "asyncReturnType" : "GetAddonInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information about an Add On instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAddonInstanceRequest",
        "variableName" : "getAddonInstanceRequest",
        "variableType" : "GetAddonInstanceRequest",
        "documentation" : "",
        "simpleType" : "GetAddonInstanceRequest",
        "variableSetterType" : "GetAddonInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAddonInstance",
      "operationName" : "GetAddonInstance",
      "returnType" : {
        "returnType" : "GetAddonInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAddonInstanceResult"
    },
    "GetAddonSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAddonSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAddonSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAddonSubscriptionRequest, GetAddonSubscriptionResult>",
      "asyncReturnType" : "GetAddonSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information about an Add On subscription.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAddonSubscriptionRequest",
        "variableName" : "getAddonSubscriptionRequest",
        "variableType" : "GetAddonSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "GetAddonSubscriptionRequest",
        "variableSetterType" : "GetAddonSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAddonSubscription",
      "operationName" : "GetAddonSubscription",
      "returnType" : {
        "returnType" : "GetAddonSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAddonSubscriptionResult"
    },
    "GetArchive" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetArchiveResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetArchiveResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetArchiveRequest, GetArchiveResult>",
      "asyncReturnType" : "GetArchiveResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the full details and current state of a specified email archive.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetArchiveRequest",
        "variableName" : "getArchiveRequest",
        "variableType" : "GetArchiveRequest",
        "documentation" : "<p>The request to retrieve details of an email archive.</p>",
        "simpleType" : "GetArchiveRequest",
        "variableSetterType" : "GetArchiveRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getArchive",
      "operationName" : "GetArchive",
      "returnType" : {
        "returnType" : "GetArchiveResult",
        "documentation" : "<p>The response containing details of the requested archive.</p>"
      },
      "syncReturnType" : "GetArchiveResult"
    },
    "GetArchiveExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetArchiveExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetArchiveExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetArchiveExportRequest, GetArchiveExportResult>",
      "asyncReturnType" : "GetArchiveExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details and current status of a specific email archive export job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetArchiveExportRequest",
        "variableName" : "getArchiveExportRequest",
        "variableType" : "GetArchiveExportRequest",
        "documentation" : "<p>The request to retrieve details of a specific archive export job.</p>",
        "simpleType" : "GetArchiveExportRequest",
        "variableSetterType" : "GetArchiveExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getArchiveExport",
      "operationName" : "GetArchiveExport",
      "returnType" : {
        "returnType" : "GetArchiveExportResult",
        "documentation" : "<p>The response containing details of the specified archive export job.</p>"
      },
      "syncReturnType" : "GetArchiveExportResult"
    },
    "GetArchiveMessage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetArchiveMessageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetArchiveMessageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetArchiveMessageRequest, GetArchiveMessageResult>",
      "asyncReturnType" : "GetArchiveMessageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a pre-signed URL that provides temporary download access to the specific email message stored in the archive. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetArchiveMessageRequest",
        "variableName" : "getArchiveMessageRequest",
        "variableType" : "GetArchiveMessageRequest",
        "documentation" : "<p>The request to get details of a specific email message stored in an archive.</p>",
        "simpleType" : "GetArchiveMessageRequest",
        "variableSetterType" : "GetArchiveMessageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getArchiveMessage",
      "operationName" : "GetArchiveMessage",
      "returnType" : {
        "returnType" : "GetArchiveMessageResult",
        "documentation" : "<p>The response containing details about the requested archived email message.</p>"
      },
      "syncReturnType" : "GetArchiveMessageResult"
    },
    "GetArchiveMessageContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetArchiveMessageContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetArchiveMessageContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetArchiveMessageContentRequest, GetArchiveMessageContentResult>",
      "asyncReturnType" : "GetArchiveMessageContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the textual content of a specific email message stored in the archive. Attachments are not included. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetArchiveMessageContentRequest",
        "variableName" : "getArchiveMessageContentRequest",
        "variableType" : "GetArchiveMessageContentRequest",
        "documentation" : "<p>The request to get the textual content of a specific email message stored in an archive.</p>",
        "simpleType" : "GetArchiveMessageContentRequest",
        "variableSetterType" : "GetArchiveMessageContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getArchiveMessageContent",
      "operationName" : "GetArchiveMessageContent",
      "returnType" : {
        "returnType" : "GetArchiveMessageContentResult",
        "documentation" : "<p>The response containing the textual content of the requested archived email message.</p>"
      },
      "syncReturnType" : "GetArchiveMessageContentResult"
    },
    "GetArchiveSearch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetArchiveSearchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetArchiveSearchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetArchiveSearchRequest, GetArchiveSearchResult>",
      "asyncReturnType" : "GetArchiveSearchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details and current status of a specific email archive search job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetArchiveSearchRequest",
        "variableName" : "getArchiveSearchRequest",
        "variableType" : "GetArchiveSearchRequest",
        "documentation" : "<p>The request to retrieve details of a specific archive search job.</p>",
        "simpleType" : "GetArchiveSearchRequest",
        "variableSetterType" : "GetArchiveSearchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getArchiveSearch",
      "operationName" : "GetArchiveSearch",
      "returnType" : {
        "returnType" : "GetArchiveSearchResult",
        "documentation" : "<p>The response containing details of the specified archive search job.</p>"
      },
      "syncReturnType" : "GetArchiveSearchResult"
    },
    "GetArchiveSearchResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetArchiveSearchResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetArchiveSearchResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetArchiveSearchResultsRequest, GetArchiveSearchResultsResult>",
      "asyncReturnType" : "GetArchiveSearchResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the results of a completed email archive search job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetArchiveSearchResultsRequest",
        "variableName" : "getArchiveSearchResultsRequest",
        "variableType" : "GetArchiveSearchResultsRequest",
        "documentation" : "<p>The request to retrieve results from a completed archive search job.</p>",
        "simpleType" : "GetArchiveSearchResultsRequest",
        "variableSetterType" : "GetArchiveSearchResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getArchiveSearchResults",
      "operationName" : "GetArchiveSearchResults",
      "returnType" : {
        "returnType" : "GetArchiveSearchResultsResult",
        "documentation" : "<p>The response containing search results from a completed archive search.</p>"
      },
      "syncReturnType" : "GetArchiveSearchResultsResult"
    },
    "GetIngressPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIngressPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIngressPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIngressPointRequest, GetIngressPointResult>",
      "asyncReturnType" : "GetIngressPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Fetch ingress endpoint resource attributes.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIngressPointRequest",
        "variableName" : "getIngressPointRequest",
        "variableType" : "GetIngressPointRequest",
        "documentation" : "",
        "simpleType" : "GetIngressPointRequest",
        "variableSetterType" : "GetIngressPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIngressPoint",
      "operationName" : "GetIngressPoint",
      "returnType" : {
        "returnType" : "GetIngressPointResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIngressPointResult"
    },
    "GetRelay" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRelayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRelayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRelayRequest, GetRelayResult>",
      "asyncReturnType" : "GetRelayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Fetch the relay resource and it's attributes.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRelayRequest",
        "variableName" : "getRelayRequest",
        "variableType" : "GetRelayRequest",
        "documentation" : "",
        "simpleType" : "GetRelayRequest",
        "variableSetterType" : "GetRelayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRelay",
      "operationName" : "GetRelay",
      "returnType" : {
        "returnType" : "GetRelayResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRelayResult"
    },
    "GetRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRuleSetRequest, GetRuleSetResult>",
      "asyncReturnType" : "GetRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Fetch attributes of a rule set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRuleSetRequest",
        "variableName" : "getRuleSetRequest",
        "variableType" : "GetRuleSetRequest",
        "documentation" : "",
        "simpleType" : "GetRuleSetRequest",
        "variableSetterType" : "GetRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRuleSet",
      "operationName" : "GetRuleSet",
      "returnType" : {
        "returnType" : "GetRuleSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRuleSetResult"
    },
    "GetTrafficPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTrafficPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTrafficPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTrafficPolicyRequest, GetTrafficPolicyResult>",
      "asyncReturnType" : "GetTrafficPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Fetch attributes of a traffic policy resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTrafficPolicyRequest",
        "variableName" : "getTrafficPolicyRequest",
        "variableType" : "GetTrafficPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetTrafficPolicyRequest",
        "variableSetterType" : "GetTrafficPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTrafficPolicy",
      "operationName" : "GetTrafficPolicy",
      "returnType" : {
        "returnType" : "GetTrafficPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTrafficPolicyResult"
    },
    "ListAddonInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAddonInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAddonInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAddonInstancesRequest, ListAddonInstancesResult>",
      "asyncReturnType" : "ListAddonInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Add On instances in your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAddonInstancesRequest",
        "variableName" : "listAddonInstancesRequest",
        "variableType" : "ListAddonInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListAddonInstancesRequest",
        "variableSetterType" : "ListAddonInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAddonInstances",
      "operationName" : "ListAddonInstances",
      "returnType" : {
        "returnType" : "ListAddonInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAddonInstancesResult"
    },
    "ListAddonSubscriptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAddonSubscriptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAddonSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAddonSubscriptionsRequest, ListAddonSubscriptionsResult>",
      "asyncReturnType" : "ListAddonSubscriptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Add On subscriptions in your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAddonSubscriptionsRequest",
        "variableName" : "listAddonSubscriptionsRequest",
        "variableType" : "ListAddonSubscriptionsRequest",
        "documentation" : "",
        "simpleType" : "ListAddonSubscriptionsRequest",
        "variableSetterType" : "ListAddonSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAddonSubscriptions",
      "operationName" : "ListAddonSubscriptions",
      "returnType" : {
        "returnType" : "ListAddonSubscriptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAddonSubscriptionsResult"
    },
    "ListArchiveExports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListArchiveExportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListArchiveExportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListArchiveExportsRequest, ListArchiveExportsResult>",
      "asyncReturnType" : "ListArchiveExportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of email archive export jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListArchiveExportsRequest",
        "variableName" : "listArchiveExportsRequest",
        "variableType" : "ListArchiveExportsRequest",
        "documentation" : "<p>The request to list archive export jobs in your account.</p>",
        "simpleType" : "ListArchiveExportsRequest",
        "variableSetterType" : "ListArchiveExportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listArchiveExports",
      "operationName" : "ListArchiveExports",
      "returnType" : {
        "returnType" : "ListArchiveExportsResult",
        "documentation" : "<p>The response containing a list of archive export jobs and their statuses.</p>"
      },
      "syncReturnType" : "ListArchiveExportsResult"
    },
    "ListArchiveSearches" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListArchiveSearchesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListArchiveSearchesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListArchiveSearchesRequest, ListArchiveSearchesResult>",
      "asyncReturnType" : "ListArchiveSearchesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of email archive search jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListArchiveSearchesRequest",
        "variableName" : "listArchiveSearchesRequest",
        "variableType" : "ListArchiveSearchesRequest",
        "documentation" : "<p>The request to list archive search jobs in your account.</p>",
        "simpleType" : "ListArchiveSearchesRequest",
        "variableSetterType" : "ListArchiveSearchesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listArchiveSearches",
      "operationName" : "ListArchiveSearches",
      "returnType" : {
        "returnType" : "ListArchiveSearchesResult",
        "documentation" : "<p>The response containing a list of archive search jobs and their statuses.</p>"
      },
      "syncReturnType" : "ListArchiveSearchesResult"
    },
    "ListArchives" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListArchivesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListArchivesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListArchivesRequest, ListArchivesResult>",
      "asyncReturnType" : "ListArchivesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all email archives in your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListArchivesRequest",
        "variableName" : "listArchivesRequest",
        "variableType" : "ListArchivesRequest",
        "documentation" : "<p>The request to list email archives in your account.</p>",
        "simpleType" : "ListArchivesRequest",
        "variableSetterType" : "ListArchivesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listArchives",
      "operationName" : "ListArchives",
      "returnType" : {
        "returnType" : "ListArchivesResult",
        "documentation" : "<p>The response containing a list of your email archives.</p>"
      },
      "syncReturnType" : "ListArchivesResult"
    },
    "ListIngressPoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIngressPointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIngressPointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIngressPointsRequest, ListIngressPointsResult>",
      "asyncReturnType" : "ListIngressPointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all ingress endpoint resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIngressPointsRequest",
        "variableName" : "listIngressPointsRequest",
        "variableType" : "ListIngressPointsRequest",
        "documentation" : "",
        "simpleType" : "ListIngressPointsRequest",
        "variableSetterType" : "ListIngressPointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIngressPoints",
      "operationName" : "ListIngressPoints",
      "returnType" : {
        "returnType" : "ListIngressPointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIngressPointsResult"
    },
    "ListRelays" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRelaysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRelaysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRelaysRequest, ListRelaysResult>",
      "asyncReturnType" : "ListRelaysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the existing relay resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRelaysRequest",
        "variableName" : "listRelaysRequest",
        "variableType" : "ListRelaysRequest",
        "documentation" : "",
        "simpleType" : "ListRelaysRequest",
        "variableSetterType" : "ListRelaysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRelays",
      "operationName" : "ListRelays",
      "returnType" : {
        "returnType" : "ListRelaysResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRelaysResult"
    },
    "ListRuleSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRuleSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRuleSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRuleSetsRequest, ListRuleSetsResult>",
      "asyncReturnType" : "ListRuleSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List rule sets for this account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRuleSetsRequest",
        "variableName" : "listRuleSetsRequest",
        "variableType" : "ListRuleSetsRequest",
        "documentation" : "",
        "simpleType" : "ListRuleSetsRequest",
        "variableSetterType" : "ListRuleSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRuleSets",
      "operationName" : "ListRuleSets",
      "returnType" : {
        "returnType" : "ListRuleSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRuleSetsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves the list of tags (keys and values) assigned to the resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTrafficPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTrafficPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTrafficPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTrafficPoliciesRequest, ListTrafficPoliciesResult>",
      "asyncReturnType" : "ListTrafficPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List traffic policy resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTrafficPoliciesRequest",
        "variableName" : "listTrafficPoliciesRequest",
        "variableType" : "ListTrafficPoliciesRequest",
        "documentation" : "",
        "simpleType" : "ListTrafficPoliciesRequest",
        "variableSetterType" : "ListTrafficPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTrafficPolicies",
      "operationName" : "ListTrafficPolicies",
      "returnType" : {
        "returnType" : "ListTrafficPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTrafficPoliciesResult"
    },
    "StartArchiveExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartArchiveExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartArchiveExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartArchiveExportRequest, StartArchiveExportResult>",
      "asyncReturnType" : "StartArchiveExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates an export of emails from the specified archive.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartArchiveExportRequest",
        "variableName" : "startArchiveExportRequest",
        "variableType" : "StartArchiveExportRequest",
        "documentation" : "<p>The request to initiate an export of emails from an archive.</p>",
        "simpleType" : "StartArchiveExportRequest",
        "variableSetterType" : "StartArchiveExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startArchiveExport",
      "operationName" : "StartArchiveExport",
      "returnType" : {
        "returnType" : "StartArchiveExportResult",
        "documentation" : "<p>The response from initiating an archive export.</p>"
      },
      "syncReturnType" : "StartArchiveExportResult"
    },
    "StartArchiveSearch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartArchiveSearchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartArchiveSearchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartArchiveSearchRequest, StartArchiveSearchResult>",
      "asyncReturnType" : "StartArchiveSearchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a search across emails in the specified archive.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartArchiveSearchRequest",
        "variableName" : "startArchiveSearchRequest",
        "variableType" : "StartArchiveSearchRequest",
        "documentation" : "<p>The request to initiate a search across emails in an archive.</p>",
        "simpleType" : "StartArchiveSearchRequest",
        "variableSetterType" : "StartArchiveSearchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startArchiveSearch",
      "operationName" : "StartArchiveSearch",
      "returnType" : {
        "returnType" : "StartArchiveSearchResult",
        "documentation" : "<p>The response from initiating an archive search.</p>"
      },
      "syncReturnType" : "StartArchiveSearchResult"
    },
    "StopArchiveExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopArchiveExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopArchiveExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopArchiveExportRequest, StopArchiveExportResult>",
      "asyncReturnType" : "StopArchiveExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an in-progress export of emails from an archive.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopArchiveExportRequest",
        "variableName" : "stopArchiveExportRequest",
        "variableType" : "StopArchiveExportRequest",
        "documentation" : "<p>The request to stop an in-progress archive export job.</p>",
        "simpleType" : "StopArchiveExportRequest",
        "variableSetterType" : "StopArchiveExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopArchiveExport",
      "operationName" : "StopArchiveExport",
      "returnType" : {
        "returnType" : "StopArchiveExportResult",
        "documentation" : "<p>The response indicating if the request to stop the export job succeeded.</p> <p>On success, returns an HTTP 200 status code. On failure, returns an error message.</p>"
      },
      "syncReturnType" : "StopArchiveExportResult"
    },
    "StopArchiveSearch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopArchiveSearchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopArchiveSearchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopArchiveSearchRequest, StopArchiveSearchResult>",
      "asyncReturnType" : "StopArchiveSearchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an in-progress archive search job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopArchiveSearchRequest",
        "variableName" : "stopArchiveSearchRequest",
        "variableType" : "StopArchiveSearchRequest",
        "documentation" : "<p>The request to stop an in-progress archive search job.</p>",
        "simpleType" : "StopArchiveSearchRequest",
        "variableSetterType" : "StopArchiveSearchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopArchiveSearch",
      "operationName" : "StopArchiveSearch",
      "returnType" : {
        "returnType" : "StopArchiveSearchResult",
        "documentation" : "<p>The response indicating if the request to stop the search job succeeded.</p> <p>On success, returns an HTTP 200 status code. On failure, returns an error message.</p>"
      },
      "syncReturnType" : "StopArchiveSearchResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Adds one or more tags (keys and values) to a specified resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Remove one or more tags (keys and values) from a specified resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateArchive" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateArchiveResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateArchiveResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateArchiveRequest, UpdateArchiveResult>",
      "asyncReturnType" : "UpdateArchiveResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the attributes of an existing email archive.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Occurs when a user is denied access to a specific resource or action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Occurs when an operation exceeds a predefined service quota or limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Occurs when a service's request rate limit is exceeded, resulting in throttling of further requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateArchiveRequest",
        "variableName" : "updateArchiveRequest",
        "variableType" : "UpdateArchiveRequest",
        "documentation" : "<p>The request to update properties of an existing email archive.</p>",
        "simpleType" : "UpdateArchiveRequest",
        "variableSetterType" : "UpdateArchiveRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateArchive",
      "operationName" : "UpdateArchive",
      "returnType" : {
        "returnType" : "UpdateArchiveResult",
        "documentation" : "<p>The response indicating if the archive update succeeded or failed.</p> <p>On success, returns an HTTP 200 status code. On failure, returns an error message.</p>"
      },
      "syncReturnType" : "UpdateArchiveResult"
    },
    "UpdateIngressPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIngressPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIngressPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIngressPointRequest, UpdateIngressPointResult>",
      "asyncReturnType" : "UpdateIngressPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update attributes of a provisioned ingress endpoint resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIngressPointRequest",
        "variableName" : "updateIngressPointRequest",
        "variableType" : "UpdateIngressPointRequest",
        "documentation" : "",
        "simpleType" : "UpdateIngressPointRequest",
        "variableSetterType" : "UpdateIngressPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIngressPoint",
      "operationName" : "UpdateIngressPoint",
      "returnType" : {
        "returnType" : "UpdateIngressPointResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateIngressPointResult"
    },
    "UpdateRelay" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRelayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRelayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRelayRequest, UpdateRelayResult>",
      "asyncReturnType" : "UpdateRelayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the attributes of an existing relay resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRelayRequest",
        "variableName" : "updateRelayRequest",
        "variableType" : "UpdateRelayRequest",
        "documentation" : "",
        "simpleType" : "UpdateRelayRequest",
        "variableSetterType" : "UpdateRelayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRelay",
      "operationName" : "UpdateRelay",
      "returnType" : {
        "returnType" : "UpdateRelayResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRelayResult"
    },
    "UpdateRuleSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRuleSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRuleSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRuleSetRequest, UpdateRuleSetResult>",
      "asyncReturnType" : "UpdateRuleSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>&gt;Update attributes of an already provisioned rule set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request validation has failed. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Occurs when a requested resource is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRuleSetRequest",
        "variableName" : "updateRuleSetRequest",
        "variableType" : "UpdateRuleSetRequest",
        "documentation" : "",
        "simpleType" : "UpdateRuleSetRequest",
        "variableSetterType" : "UpdateRuleSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRuleSet",
      "operationName" : "UpdateRuleSet",
      "returnType" : {
        "returnType" : "UpdateRuleSetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRuleSetResult"
    },
    "UpdateTrafficPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTrafficPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTrafficPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTrafficPolicyRequest, UpdateTrafficPolicyResult>",
      "asyncReturnType" : "UpdateTrafficPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
[...]
