{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-09-24",
    "asyncClient" : "AmazonManagedBlockchainAsyncClient",
    "asyncClientBuilderClassName" : "AmazonManagedBlockchainAsyncClientBuilder",
    "asyncInterface" : "AmazonManagedBlockchainAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonManagedBlockchainModuleInjector",
    "defaultEndpoint" : "managedblockchain.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "managedblockchain.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p/> <p>Amazon Managed Blockchain is a fully managed service for creating and managing blockchain networks using open source frameworks. Blockchain allows you to build applications where multiple parties can securely and transparently run transactions and share data without the need for a trusted, central authority. Currently, Managed Blockchain supports the Hyperledger Fabric open source framework. </p>",
    "endpointPrefix" : "managedblockchain",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.managedblockchain",
    "packagePath" : "com/amazonaws/services/managedblockchain",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "ManagedBlockchain",
    "serviceFullName" : "Amazon Managed Blockchain",
    "serviceId" : "ManagedBlockchain",
    "serviceName" : "ManagedBlockchain",
    "signingName" : "managedblockchain",
    "smokeTestsPackageName" : "com.amazonaws.services.managedblockchain.smoketests",
    "syncClient" : "AmazonManagedBlockchainClient",
    "syncClientBuilderClassName" : "AmazonManagedBlockchainClientBuilder",
    "syncInterface" : "AmazonManagedBlockchain",
    "uid" : "managedblockchain-2018-09-24",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMemberRequest, CreateMemberResult>",
      "asyncReturnType" : "CreateMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a member within a Managed Blockchain network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>A resource request is issued for a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotReadyException",
        "documentation" : "<p>The requested resource exists but is not in a status that can complete the operation.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The maximum number of resources of that type already exist. Ensure the resources requested are within the boundaries of the service edition and your account limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMemberRequest",
        "variableName" : "createMemberRequest",
        "variableType" : "CreateMemberRequest",
        "documentation" : "",
        "simpleType" : "CreateMemberRequest",
        "variableSetterType" : "CreateMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMember",
      "operationName" : "CreateMember",
      "returnType" : {
        "returnType" : "CreateMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMemberResult"
    },
    "CreateNetwork" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNetworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNetworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNetworkRequest, CreateNetworkResult>",
      "asyncReturnType" : "CreateNetworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new blockchain network using Amazon Managed Blockchain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>A resource request is issued for a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The maximum number of resources of that type already exist. Ensure the resources requested are within the boundaries of the service edition and your account limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNetworkRequest",
        "variableName" : "createNetworkRequest",
        "variableType" : "CreateNetworkRequest",
        "documentation" : "",
        "simpleType" : "CreateNetworkRequest",
        "variableSetterType" : "CreateNetworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNetwork",
      "operationName" : "CreateNetwork",
      "returnType" : {
        "returnType" : "CreateNetworkResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNetworkResult"
    },
    "CreateNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNodeRequest, CreateNodeResult>",
      "asyncReturnType" : "CreateNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a peer node in a member.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>A resource request is issued for a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotReadyException",
        "documentation" : "<p>The requested resource exists but is not in a status that can complete the operation.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The maximum number of resources of that type already exist. Ensure the resources requested are within the boundaries of the service edition and your account limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNodeRequest",
        "variableName" : "createNodeRequest",
        "variableType" : "CreateNodeRequest",
        "documentation" : "",
        "simpleType" : "CreateNodeRequest",
        "variableSetterType" : "CreateNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNode",
      "operationName" : "CreateNode",
      "returnType" : {
        "returnType" : "CreateNodeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNodeResult"
    },
    "CreateProposal" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProposalResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProposalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProposalRequest, CreateProposalResult>",
      "asyncReturnType" : "CreateProposalResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a proposal for a change to the network that other members of the network can vote on, for example, a proposal to add a new member to the network. Any member can create a proposal.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceNotReadyException",
        "documentation" : "<p>The requested resource exists but is not in a status that can complete the operation.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProposalRequest",
        "variableName" : "createProposalRequest",
        "variableType" : "CreateProposalRequest",
        "documentation" : "",
        "simpleType" : "CreateProposalRequest",
        "variableSetterType" : "CreateProposalRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProposal",
      "operationName" : "CreateProposal",
      "returnType" : {
        "returnType" : "CreateProposalResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProposalResult"
    },
    "DeleteMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMemberRequest, DeleteMemberResult>",
      "asyncReturnType" : "DeleteMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a member. Deleting a member removes the member and all associated resources from the network. <code>DeleteMember</code> can only be called for a specified <code>MemberId</code> if the principal performing the action is associated with the AWS account that owns the member. In all other cases, the <code>DeleteMember</code> action is carried out as the result of an approved proposal to remove a member. If <code>MemberId</code> is the last member in a network specified by the last AWS account, the network is deleted also.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceNotReadyException",
        "documentation" : "<p>The requested resource exists but is not in a status that can complete the operation.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMemberRequest",
        "variableName" : "deleteMemberRequest",
        "variableType" : "DeleteMemberRequest",
        "documentation" : "",
        "simpleType" : "DeleteMemberRequest",
        "variableSetterType" : "DeleteMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMember",
      "operationName" : "DeleteMember",
      "returnType" : {
        "returnType" : "DeleteMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMemberResult"
    },
    "DeleteNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNodeRequest, DeleteNodeResult>",
      "asyncReturnType" : "DeleteNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a peer node from a member that your AWS account owns. All data on the node is lost and cannot be recovered.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceNotReadyException",
        "documentation" : "<p>The requested resource exists but is not in a status that can complete the operation.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNodeRequest",
        "variableName" : "deleteNodeRequest",
        "variableType" : "DeleteNodeRequest",
        "documentation" : "",
        "simpleType" : "DeleteNodeRequest",
        "variableSetterType" : "DeleteNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNode",
      "operationName" : "DeleteNode",
      "returnType" : {
        "returnType" : "DeleteNodeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNodeResult"
    },
    "GetMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMemberRequest, GetMemberResult>",
      "asyncReturnType" : "GetMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns detailed information about a member.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMemberRequest",
        "variableName" : "getMemberRequest",
        "variableType" : "GetMemberRequest",
        "documentation" : "",
        "simpleType" : "GetMemberRequest",
        "variableSetterType" : "GetMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMember",
      "operationName" : "GetMember",
      "returnType" : {
        "returnType" : "GetMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMemberResult"
    },
    "GetNetwork" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNetworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNetworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNetworkRequest, GetNetworkResult>",
      "asyncReturnType" : "GetNetworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns detailed information about a network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNetworkRequest",
        "variableName" : "getNetworkRequest",
        "variableType" : "GetNetworkRequest",
        "documentation" : "",
        "simpleType" : "GetNetworkRequest",
        "variableSetterType" : "GetNetworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNetwork",
      "operationName" : "GetNetwork",
      "returnType" : {
        "returnType" : "GetNetworkResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNetworkResult"
    },
    "GetNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNodeRequest, GetNodeResult>",
      "asyncReturnType" : "GetNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns detailed information about a peer node.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNodeRequest",
        "variableName" : "getNodeRequest",
        "variableType" : "GetNodeRequest",
        "documentation" : "",
        "simpleType" : "GetNodeRequest",
        "variableSetterType" : "GetNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNode",
      "operationName" : "GetNode",
      "returnType" : {
        "returnType" : "GetNodeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNodeResult"
    },
    "GetProposal" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProposalResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProposalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProposalRequest, GetProposalResult>",
      "asyncReturnType" : "GetProposalResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns detailed information about a proposal.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProposalRequest",
        "variableName" : "getProposalRequest",
        "variableType" : "GetProposalRequest",
        "documentation" : "",
        "simpleType" : "GetProposalRequest",
        "variableSetterType" : "GetProposalRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProposal",
      "operationName" : "GetProposal",
      "returnType" : {
        "returnType" : "GetProposalResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProposalResult"
    },
    "ListInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvitationsRequest, ListInvitationsResult>",
      "asyncReturnType" : "ListInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a listing of all invitations made on the specified network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The maximum number of resources of that type already exist. Ensure the resources requested are within the boundaries of the service edition and your account limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInvitationsRequest",
        "variableName" : "listInvitationsRequest",
        "variableType" : "ListInvitationsRequest",
        "documentation" : "",
        "simpleType" : "ListInvitationsRequest",
        "variableSetterType" : "ListInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInvitations",
      "operationName" : "ListInvitations",
      "returnType" : {
        "returnType" : "ListInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInvitationsResult"
    },
    "ListMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMembersRequest, ListMembersResult>",
      "asyncReturnType" : "ListMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a listing of the members in a network and properties of their configurations.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMembersRequest",
        "variableName" : "listMembersRequest",
        "variableType" : "ListMembersRequest",
        "documentation" : "",
        "simpleType" : "ListMembersRequest",
        "variableSetterType" : "ListMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMembers",
      "operationName" : "ListMembers",
      "returnType" : {
        "returnType" : "ListMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMembersResult"
    },
    "ListNetworks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNetworksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNetworksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNetworksRequest, ListNetworksResult>",
      "asyncReturnType" : "ListNetworksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the networks in which the current AWS account has members.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNetworksRequest",
        "variableName" : "listNetworksRequest",
        "variableType" : "ListNetworksRequest",
        "documentation" : "",
        "simpleType" : "ListNetworksRequest",
        "variableSetterType" : "ListNetworksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNetworks",
      "operationName" : "ListNetworks",
      "returnType" : {
        "returnType" : "ListNetworksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNetworksResult"
    },
    "ListNodes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNodesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNodesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNodesRequest, ListNodesResult>",
      "asyncReturnType" : "ListNodesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the nodes within a network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNodesRequest",
        "variableName" : "listNodesRequest",
        "variableType" : "ListNodesRequest",
        "documentation" : "",
        "simpleType" : "ListNodesRequest",
        "variableSetterType" : "ListNodesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNodes",
      "operationName" : "ListNodes",
      "returnType" : {
        "returnType" : "ListNodesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNodesResult"
    },
    "ListProposalVotes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProposalVotesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProposalVotesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProposalVotesRequest, ListProposalVotesResult>",
      "asyncReturnType" : "ListProposalVotesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the listing of votes for a specified proposal, including the value of each vote and the unique identifier of the member that cast the vote.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProposalVotesRequest",
        "variableName" : "listProposalVotesRequest",
        "variableType" : "ListProposalVotesRequest",
        "documentation" : "",
        "simpleType" : "ListProposalVotesRequest",
        "variableSetterType" : "ListProposalVotesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProposalVotes",
      "operationName" : "ListProposalVotes",
      "returnType" : {
        "returnType" : "ListProposalVotesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProposalVotesResult"
    },
    "ListProposals" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProposalsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProposalsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProposalsRequest, ListProposalsResult>",
      "asyncReturnType" : "ListProposalsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a listing of proposals for the network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProposalsRequest",
        "variableName" : "listProposalsRequest",
        "variableType" : "ListProposalsRequest",
        "documentation" : "",
        "simpleType" : "ListProposalsRequest",
        "variableSetterType" : "ListProposalsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProposals",
      "operationName" : "ListProposals",
      "returnType" : {
        "returnType" : "ListProposalsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProposalsResult"
    },
    "RejectInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RejectInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RejectInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RejectInvitationRequest, RejectInvitationResult>",
      "asyncReturnType" : "RejectInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Rejects an invitation to join a network. This action can be called by a principal in an AWS account that has received an invitation to create a member and join a network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalActionException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RejectInvitationRequest",
        "variableName" : "rejectInvitationRequest",
        "variableType" : "RejectInvitationRequest",
        "documentation" : "",
        "simpleType" : "RejectInvitationRequest",
        "variableSetterType" : "RejectInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rejectInvitation",
      "operationName" : "RejectInvitation",
      "returnType" : {
        "returnType" : "RejectInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "RejectInvitationResult"
    },
    "VoteOnProposal" : {
      "asyncCallableType" : "java.util.concurrent.Callable<VoteOnProposalResult>",
      "asyncFutureType" : "java.util.concurrent.Future<VoteOnProposalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<VoteOnProposalRequest, VoteOnProposalResult>",
      "asyncReturnType" : "VoteOnProposalResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Casts a vote for a specified <code>ProposalId</code> on behalf of a member. The member to vote as, specified by <code>VoterMemberId</code>, must be in the same AWS account as the principal that calls the action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalActionException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource does not exist on the network. It may have been deleted or referenced inaccurately.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation could not be performed because a service is throttling requests. The most common source of throttling errors is launching EC2 instances such that your service limit for EC2 instances is exceeded. Request a limit increase or delete unused resources if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "VoteOnProposalRequest",
        "variableName" : "voteOnProposalRequest",
        "variableType" : "VoteOnProposalRequest",
        "documentation" : "",
        "simpleType" : "VoteOnProposalRequest",
        "variableSetterType" : "VoteOnProposalRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "voteOnProposal",
      "operationName" : "VoteOnProposal",
      "returnType" : {
        "returnType" : "VoteOnProposalResult",
        "documentation" : null
      },
      "syncReturnType" : "VoteOnProposalResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ApprovalThresholdPolicy" : {
      "c2jName" : "ApprovalThresholdPolicy",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A policy type that defines the voting rules for the network. The rules decide if a proposal is approved. Approval may be based on criteria such as the percentage of <code>YES</code> votes and the duration of the proposal. The policy applies to all proposals and is specified when the network is created.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ThresholdPercentage",
        "c2jShape" : "ThresholdPercentageInt",
        "deprecated" : false,
        "documentation" : "<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>\n@param thresholdPercentage The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withThresholdPercentage",
        "getterDocumentation" : "/**<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>\n@return The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.*/",
        "getterMethodName" : "getThresholdPercentage",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ThresholdPercentage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ThresholdPercentage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "ThresholdPercentage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>\n@param thresholdPercentage The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.*/",
        "setterMethodName" : "setThresholdPercentage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "thresholdPercentage",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>\n@param thresholdPercentage The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "thresholdPercentage",
          "variableType" : "Integer",
          "documentation" : "<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ProposalDurationInHours",
        "c2jShape" : "ProposalDurationInt",
        "deprecated" : false,
        "documentation" : "<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>\n@param proposalDurationInHours The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProposalDurationInHours",
        "getterDocumentation" : "/**<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>\n@return The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.*/",
        "getterMethodName" : "getProposalDurationInHours",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProposalDurationInHours",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProposalDurationInHours",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "ProposalDurationInHours",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>\n@param proposalDurationInHours The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.*/",
        "setterMethodName" : "setProposalDurationInHours",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "proposalDurationInHours",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>\n@param proposalDurationInHours The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "proposalDurationInHours",
          "variableType" : "Integer",
          "documentation" : "<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ThresholdComparator",
        "c2jShape" : "ThresholdComparator",
        "deprecated" : false,
        "documentation" : "<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>",
        "enumType" : "ThresholdComparator",
        "fluentSetterDocumentation" : "/**<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>\n@param thresholdComparator Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ThresholdComparator*/",
        "fluentSetterMethodName" : "withThresholdComparator",
        "getterDocumentation" : "/**<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>\n@return Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.\n@see ThresholdComparator*/",
        "getterMethodName" : "getThresholdComparator",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ThresholdComparator",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ThresholdComparator",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ThresholdComparator",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>\n@param thresholdComparator Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.\n@see ThresholdComparator*/",
        "setterMethodName" : "setThresholdComparator",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thresholdComparator",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>\n@param thresholdComparator Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ThresholdComparator*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thresholdComparator",
          "variableType" : "String",
          "documentation" : "<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ProposalDurationInHours" : {
          "c2jName" : "ProposalDurationInHours",
          "c2jShape" : "ProposalDurationInt",
          "deprecated" : false,
          "documentation" : "<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>\n@param proposalDurationInHours The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProposalDurationInHours",
          "getterDocumentation" : "/**<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>\n@return The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.*/",
          "getterMethodName" : "getProposalDurationInHours",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ProposalDurationInHours",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProposalDurationInHours",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "ProposalDurationInHours",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>\n@param proposalDurationInHours The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.*/",
          "setterMethodName" : "setProposalDurationInHours",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "proposalDurationInHours",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>\n@param proposalDurationInHours The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "proposalDurationInHours",
            "variableType" : "Integer",
            "documentation" : "<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "ThresholdComparator" : {
          "c2jName" : "ThresholdComparator",
          "c2jShape" : "ThresholdComparator",
          "deprecated" : false,
          "documentation" : "<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>",
          "enumType" : "ThresholdComparator",
          "fluentSetterDocumentation" : "/**<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>\n@param thresholdComparator Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ThresholdComparator*/",
          "fluentSetterMethodName" : "withThresholdComparator",
          "getterDocumentation" : "/**<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>\n@return Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.\n@see ThresholdComparator*/",
          "getterMethodName" : "getThresholdComparator",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ThresholdComparator",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ThresholdComparator",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ThresholdComparator",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>\n@param thresholdComparator Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.\n@see ThresholdComparator*/",
          "setterMethodName" : "setThresholdComparator",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "thresholdComparator",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>\n@param thresholdComparator Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ThresholdComparator*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "thresholdComparator",
            "variableType" : "String",
            "documentation" : "<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ThresholdPercentage" : {
          "c2jName" : "ThresholdPercentage",
          "c2jShape" : "ThresholdPercentageInt",
          "deprecated" : false,
          "documentation" : "<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>\n@param thresholdPercentage The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withThresholdPercentage",
          "getterDocumentation" : "/**<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>\n@return The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.*/",
          "getterMethodName" : "getThresholdPercentage",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ThresholdPercentage",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ThresholdPercentage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "ThresholdPercentage",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>\n@param thresholdPercentage The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.*/",
          "setterMethodName" : "setThresholdPercentage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "thresholdPercentage",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>\n@param thresholdPercentage The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "thresholdPercentage",
            "variableType" : "Integer",
            "documentation" : "<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ApprovalThresholdPolicy",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApprovalThresholdPolicy",
        "variableName" : "approvalThresholdPolicy",
        "variableType" : "ApprovalThresholdPolicy",
        "documentation" : null,
        "simpleType" : "ApprovalThresholdPolicy",
        "variableSetterType" : "ApprovalThresholdPolicy"
      },
      "wrapper" : false
    },
    "CreateMemberRequest" : {
      "c2jName" : "CreateMemberInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateMember",
        "locationName" : null,
        "requestUri" : "/networks/{networkId}/members",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ClientRequestToken",
        "c2jShape" : "ClientRequestTokenString",
        "deprecated" : false,
        "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>\n@param clientRequestToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientRequestToken",
        "getterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>\n@return A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.*/",
        "getterMethodName" : "getClientRequestToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientRequestToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientRequestToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientRequestToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>\n@param clientRequestToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.*/",
        "setterMethodName" : "setClientRequestToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
[...]
