{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-05-04",
    "asyncClient" : "AmazonManagedBlockchainQueryAsyncClient",
    "asyncClientBuilderClassName" : "AmazonManagedBlockchainQueryAsyncClientBuilder",
    "asyncInterface" : "AmazonManagedBlockchainQueryAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonManagedBlockchainQueryModuleInjector",
    "defaultEndpoint" : "managedblockchain-query.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "managedblockchain-query.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Managed Blockchain (AMB) Query provides you with convenient access to multi-blockchain network data, which makes it easier for you to extract contextual data related to blockchain activity. You can use AMB Query to read data from public blockchain networks, such as Bitcoin Mainnet and Ethereum Mainnet. You can also get information such as the current and historical balances of addresses, or you can get a list of blockchain transactions for a given time period. Additionally, you can get details of a given transaction, such as transaction events, which you can further analyze or use in business logic for your applications.</p>",
    "endpointPrefix" : "managedblockchain-query",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.managedblockchainquery",
    "packagePath" : "com/amazonaws/services/managedblockchainquery",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Managed Blockchain Query",
    "serviceId" : "ManagedBlockchain Query",
    "serviceName" : "Amazon Managed Blockchain Query",
    "signingName" : "managedblockchain-query",
    "smokeTestsPackageName" : "com.amazonaws.services.managedblockchainquery.smoketests",
    "syncClient" : "AmazonManagedBlockchainQueryClient",
    "syncClientBuilderClassName" : "AmazonManagedBlockchainQueryClientBuilder",
    "syncInterface" : "AmazonManagedBlockchainQuery",
    "uid" : "managedblockchain-query-2023-05-04",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetTokenBalance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetTokenBalanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetTokenBalanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetTokenBalanceRequest, BatchGetTokenBalanceResult>",
      "asyncReturnType" : "BatchGetTokenBalanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the token balance for a batch of tokens by using the <code>BatchGetTokenBalance</code> action for every token in the request.</p> <note> <p>Only the native tokens BTC and ETH, and the ERC-20, ERC-721, and ERC 1155 token standards are supported.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation couldn't be performed because a service is throttling requests. The most common source of throttling errors is when you create resources that exceed your service limit for this resource type. Request a limit increase or delete unused resources, if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The resource passed is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an internal error in the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded for this resource.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetTokenBalanceRequest",
        "variableName" : "batchGetTokenBalanceRequest",
        "variableType" : "BatchGetTokenBalanceRequest",
        "documentation" : "",
        "simpleType" : "BatchGetTokenBalanceRequest",
        "variableSetterType" : "BatchGetTokenBalanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetTokenBalance",
      "operationName" : "BatchGetTokenBalance",
      "returnType" : {
        "returnType" : "BatchGetTokenBalanceResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetTokenBalanceResult"
    },
    "GetAssetContract" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssetContractResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssetContractResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssetContractRequest, GetAssetContractResult>",
      "asyncReturnType" : "GetAssetContractResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the information about a specific contract deployed on the blockchain.</p> <note> <ul> <li> <p>The Bitcoin blockchain networks do not support this operation.</p> </li> <li> <p>Metadata is currently only available for some <code>ERC-20</code> contracts. Metadata will be available for additional contracts in the future.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation couldn't be performed because a service is throttling requests. The most common source of throttling errors is when you create resources that exceed your service limit for this resource type. Request a limit increase or delete unused resources, if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The resource passed is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an internal error in the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded for this resource.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssetContractRequest",
        "variableName" : "getAssetContractRequest",
        "variableType" : "GetAssetContractRequest",
        "documentation" : "",
        "simpleType" : "GetAssetContractRequest",
        "variableSetterType" : "GetAssetContractRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssetContract",
      "operationName" : "GetAssetContract",
      "returnType" : {
        "returnType" : "GetAssetContractResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssetContractResult"
    },
    "GetTokenBalance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTokenBalanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTokenBalanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTokenBalanceRequest, GetTokenBalanceResult>",
      "asyncReturnType" : "GetTokenBalanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the balance of a specific token, including native tokens, for a given address (wallet or contract) on the blockchain.</p> <note> <p>Only the native tokens BTC and ETH, and the ERC-20, ERC-721, and ERC 1155 token standards are supported.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation couldn't be performed because a service is throttling requests. The most common source of throttling errors is when you create resources that exceed your service limit for this resource type. Request a limit increase or delete unused resources, if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The resource passed is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an internal error in the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded for this resource.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTokenBalanceRequest",
        "variableName" : "getTokenBalanceRequest",
        "variableType" : "GetTokenBalanceRequest",
        "documentation" : "",
        "simpleType" : "GetTokenBalanceRequest",
        "variableSetterType" : "GetTokenBalanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTokenBalance",
      "operationName" : "GetTokenBalance",
      "returnType" : {
        "returnType" : "GetTokenBalanceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTokenBalanceResult"
    },
    "GetTransaction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTransactionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTransactionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTransactionRequest, GetTransactionResult>",
      "asyncReturnType" : "GetTransactionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of a transaction.</p> <note> <p>This action will return transaction details for all transactions that are <i>confirmed</i> on the blockchain, even if they have not reached <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ambq-dg/key-concepts.html#finality\">finality</a>. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation couldn't be performed because a service is throttling requests. The most common source of throttling errors is when you create resources that exceed your service limit for this resource type. Request a limit increase or delete unused resources, if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The resource passed is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an internal error in the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded for this resource.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTransactionRequest",
        "variableName" : "getTransactionRequest",
        "variableType" : "GetTransactionRequest",
        "documentation" : "",
        "simpleType" : "GetTransactionRequest",
        "variableSetterType" : "GetTransactionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTransaction",
      "operationName" : "GetTransaction",
      "returnType" : {
        "returnType" : "GetTransactionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTransactionResult"
    },
    "ListAssetContracts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssetContractsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssetContractsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssetContractsRequest, ListAssetContractsResult>",
      "asyncReturnType" : "ListAssetContractsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the contracts for a given contract type deployed by an address (either a contract address or a wallet address).</p> <p>The Bitcoin blockchain networks do not support this operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation couldn't be performed because a service is throttling requests. The most common source of throttling errors is when you create resources that exceed your service limit for this resource type. Request a limit increase or delete unused resources, if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The resource passed is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an internal error in the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded for this resource.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssetContractsRequest",
        "variableName" : "listAssetContractsRequest",
        "variableType" : "ListAssetContractsRequest",
        "documentation" : "",
        "simpleType" : "ListAssetContractsRequest",
        "variableSetterType" : "ListAssetContractsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssetContracts",
      "operationName" : "ListAssetContracts",
      "returnType" : {
        "returnType" : "ListAssetContractsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssetContractsResult"
    },
    "ListFilteredTransactionEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFilteredTransactionEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFilteredTransactionEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFilteredTransactionEventsRequest, ListFilteredTransactionEventsResult>",
      "asyncReturnType" : "ListFilteredTransactionEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the transaction events for an address on the blockchain.</p> <note> <p>This operation is only supported on the Bitcoin networks.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation couldn't be performed because a service is throttling requests. The most common source of throttling errors is when you create resources that exceed your service limit for this resource type. Request a limit increase or delete unused resources, if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The resource passed is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an internal error in the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded for this resource.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFilteredTransactionEventsRequest",
        "variableName" : "listFilteredTransactionEventsRequest",
        "variableType" : "ListFilteredTransactionEventsRequest",
        "documentation" : "",
        "simpleType" : "ListFilteredTransactionEventsRequest",
        "variableSetterType" : "ListFilteredTransactionEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFilteredTransactionEvents",
      "operationName" : "ListFilteredTransactionEvents",
      "returnType" : {
        "returnType" : "ListFilteredTransactionEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFilteredTransactionEventsResult"
    },
    "ListTokenBalances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTokenBalancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTokenBalancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTokenBalancesRequest, ListTokenBalancesResult>",
      "asyncReturnType" : "ListTokenBalancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This action returns the following for a given blockchain network:</p> <ul> <li> <p>Lists all token balances owned by an address (either a contract address or a wallet address).</p> </li> <li> <p>Lists all token balances for all tokens created by a contract.</p> </li> <li> <p>Lists all token balances for a given token.</p> </li> </ul> <note> <p>You must always specify the network property of the <code>tokenFilter</code> when using this operation.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation couldn't be performed because a service is throttling requests. The most common source of throttling errors is when you create resources that exceed your service limit for this resource type. Request a limit increase or delete unused resources, if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The resource passed is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an internal error in the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded for this resource.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTokenBalancesRequest",
        "variableName" : "listTokenBalancesRequest",
        "variableType" : "ListTokenBalancesRequest",
        "documentation" : "",
        "simpleType" : "ListTokenBalancesRequest",
        "variableSetterType" : "ListTokenBalancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTokenBalances",
      "operationName" : "ListTokenBalances",
      "returnType" : {
        "returnType" : "ListTokenBalancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTokenBalancesResult"
    },
    "ListTransactionEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTransactionEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTransactionEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTransactionEventsRequest, ListTransactionEventsResult>",
      "asyncReturnType" : "ListTransactionEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the transaction events for a transaction </p> <note> <p>This action will return transaction details for all transactions that are <i>confirmed</i> on the blockchain, even if they have not reached <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ambq-dg/key-concepts.html#finality\">finality</a>. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation couldn't be performed because a service is throttling requests. The most common source of throttling errors is when you create resources that exceed your service limit for this resource type. Request a limit increase or delete unused resources, if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The resource passed is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an internal error in the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded for this resource.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTransactionEventsRequest",
        "variableName" : "listTransactionEventsRequest",
        "variableType" : "ListTransactionEventsRequest",
        "documentation" : "",
        "simpleType" : "ListTransactionEventsRequest",
        "variableSetterType" : "ListTransactionEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTransactionEvents",
      "operationName" : "ListTransactionEvents",
      "returnType" : {
        "returnType" : "ListTransactionEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTransactionEventsResult"
    },
    "ListTransactions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTransactionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTransactionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTransactionsRequest, ListTransactionsResult>",
      "asyncReturnType" : "ListTransactionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the transaction events for a transaction.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request or operation couldn't be performed because a service is throttling requests. The most common source of throttling errors is when you create resources that exceed your service limit for this resource type. Request a limit increase or delete unused resources, if possible.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The resource passed is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an internal error in the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded for this resource.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTransactionsRequest",
        "variableName" : "listTransactionsRequest",
        "variableType" : "ListTransactionsRequest",
        "documentation" : "",
        "simpleType" : "ListTransactionsRequest",
        "variableSetterType" : "ListTransactionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTransactions",
      "operationName" : "ListTransactions",
      "returnType" : {
        "returnType" : "ListTransactionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTransactionsResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.managedblockchainquery.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.managedblockchainquery.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AddressIdentifierFilter" : {
      "c2jName" : "AddressIdentifierFilter",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This is the container for the unique public address on the blockchain.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.managedblockchainquery.model.AddressIdentifierFilter",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "transactionEventToAddress",
        "c2jShape" : "AddressIdentifierFilterTransactionEventToAddressList",
        "deprecated" : false,
        "documentation" : "<p>The container for the recipient address of the transaction. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The container for the recipient address of the transaction. </p>\n@param transactionEventToAddress The container for the recipient address of the transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTransactionEventToAddress",
        "getterDocumentation" : "/**<p>The container for the recipient address of the transaction. </p>\n@return The container for the recipient address of the transaction.*/",
        "getterMethodName" : "getTransactionEventToAddress",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "transactionEventToAddress",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "transactionEventToAddress",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ChainAddress",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "TransactionEventToAddress",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The container for the recipient address of the transaction. </p>\n@param transactionEventToAddress The container for the recipient address of the transaction.*/",
        "setterMethodName" : "setTransactionEventToAddress",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "transactionEventToAddress",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The container for the recipient address of the transaction. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTransactionEventToAddress(java.util.Collection)} or {@link #withTransactionEventToAddress(java.util.Collection)} if you want to override the existing values.</p>\n@param transactionEventToAddress The container for the recipient address of the transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "transactionEventToAddress",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The container for the recipient address of the transaction. </p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TransactionEventToAddress" : {
          "c2jName" : "transactionEventToAddress",
          "c2jShape" : "AddressIdentifierFilterTransactionEventToAddressList",
          "deprecated" : false,
          "documentation" : "<p>The container for the recipient address of the transaction. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The container for the recipient address of the transaction. </p>\n@param transactionEventToAddress The container for the recipient address of the transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTransactionEventToAddress",
          "getterDocumentation" : "/**<p>The container for the recipient address of the transaction. </p>\n@return The container for the recipient address of the transaction.*/",
          "getterMethodName" : "getTransactionEventToAddress",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "transactionEventToAddress",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "transactionEventToAddress",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ChainAddress",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "TransactionEventToAddress",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The container for the recipient address of the transaction. </p>\n@param transactionEventToAddress The container for the recipient address of the transaction.*/",
          "setterMethodName" : "setTransactionEventToAddress",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "transactionEventToAddress",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The container for the recipient address of the transaction. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTransactionEventToAddress(java.util.Collection)} or {@link #withTransactionEventToAddress(java.util.Collection)} if you want to override the existing values.</p>\n@param transactionEventToAddress The container for the recipient address of the transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "transactionEventToAddress",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The container for the recipient address of the transaction. </p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.managedblockchainquery.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "transactionEventToAddress" ],
      "shapeName" : "AddressIdentifierFilter",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddressIdentifierFilter",
        "variableName" : "addressIdentifierFilter",
        "variableType" : "AddressIdentifierFilter",
        "documentation" : null,
        "simpleType" : "AddressIdentifierFilter",
        "variableSetterType" : "AddressIdentifierFilter"
      },
      "wrapper" : false
    },
    "AssetContract" : {
      "c2jName" : "AssetContract",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This container contains information about an contract.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.managedblockchainquery.model.AssetContract",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "contractIdentifier",
        "c2jShape" : "ContractIdentifier",
        "deprecated" : false,
        "documentation" : "<p>The container for the contract identifier containing its blockchain network and address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The container for the contract identifier containing its blockchain network and address.</p>\n@param contractIdentifier The container for the contract identifier containing its blockchain network and address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContractIdentifier",
        "getterDocumentation" : "/**<p>The container for the contract identifier containing its blockchain network and address.</p>\n@return The container for the contract identifier containing its blockchain network and address.*/",
        "getterMethodName" : "getContractIdentifier",
        "getterModel" : {
          "returnType" : "ContractIdentifier",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "contractIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "contractIdentifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ContractIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The container for the contract identifier containing its blockchain network and address.</p>\n@param contractIdentifier The container for the contract identifier containing its blockchain network and address.*/",
        "setterMethodName" : "setContractIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ContractIdentifier",
          "variableName" : "contractIdentifier",
          "variableType" : "ContractIdentifier",
          "documentation" : "",
          "simpleType" : "ContractIdentifier",
          "variableSetterType" : "ContractIdentifier"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The container for the contract identifier containing its blockchain network and address.</p>\n@param contractIdentifier The container for the contract identifier containing its blockchain network and address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ContractIdentifier",
          "variableName" : "contractIdentifier",
          "variableType" : "ContractIdentifier",
          "documentation" : "<p>The container for the contract identifier containing its blockchain network and address.</p>",
          "simpleType" : "ContractIdentifier",
          "variableSetterType" : "ContractIdentifier"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tokenStandard",
        "c2jShape" : "QueryTokenStandard",
        "deprecated" : false,
        "documentation" : "<p>The token standard of the contract.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "QueryTokenStandard",
        "fluentSetterDocumentation" : "/**<p>The token standard of the contract.</p>\n@param tokenStandard The token standard of the contract.\n@return Returns a reference to this object so that method calls can be chained together.\n@see QueryTokenStandard*/",
        "fluentSetterMethodName" : "withTokenStandard",
        "getterDocumentation" : "/**<p>The token standard of the contract.</p>\n@return The token standard of the contract.\n@see QueryTokenStandard*/",
        "getterMethodName" : "getTokenStandard",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tokenStandard",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tokenStandard",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TokenStandard",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The token standard of the contract.</p>\n@param tokenStandard The token standard of the contract.\n@see QueryTokenStandard*/",
        "setterMethodName" : "setTokenStandard",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "tokenStandard",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The token standard of the contract.</p>\n@param tokenStandard The token standard of the contract.\n@return Returns a reference to this object so that method calls can be chained together.\n@see QueryTokenStandard*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "tokenStandard",
          "variableType" : "String",
          "documentation" : "<p>The token standard of the contract.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "deployerAddress",
        "c2jShape" : "ChainAddress",
        "deprecated" : false,
        "documentation" : "<p>The address of the contract deployer.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The address of the contract deployer.</p>\n@param deployerAddress The address of the contract deployer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeployerAddress",
        "getterDocumentation" : "/**<p>The address of the contract deployer.</p>\n@return The address of the contract deployer.*/",
        "getterMethodName" : "getDeployerAddress",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deployerAddress",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deployerAddress",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeployerAddress",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The address of the contract deployer.</p>\n@param deployerAddress The address of the contract deployer.*/",
        "setterMethodName" : "setDeployerAddress",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deployerAddress",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The address of the contract deployer.</p>\n@param deployerAddress The address of the contract deployer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deployerAddress",
          "variableType" : "String",
          "documentation" : "<p>The address of the contract deployer.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ContractIdentifier" : {
          "c2jName" : "contractIdentifier",
          "c2jShape" : "ContractIdentifier",
          "deprecated" : false,
          "documentation" : "<p>The container for the contract identifier containing its blockchain network and address.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The container for the contract identifier containing its blockchain network and address.</p>\n@param contractIdentifier The container for the contract identifier containing its blockchain network and address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContractIdentifier",
          "getterDocumentation" : "/**<p>The container for the contract identifier containing its blockchain network and address.</p>\n@return The container for the contract identifier containing its blockchain network and address.*/",
          "getterMethodName" : "getContractIdentifier",
          "getterModel" : {
            "returnType" : "ContractIdentifier",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "contractIdentifier",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "contractIdentifier",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ContractIdentifier",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The container for the contract identifier containing its blockchain network and address.</p>\n@param contractIdentifier The container for the contract identifier containing its blockchain network and address.*/",
          "setterMethodName" : "setContractIdentifier",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ContractIdentifier",
            "variableName" : "contractIdentifier",
            "variableType" : "ContractIdentifier",
            "documentation" : "",
            "simpleType" : "ContractIdentifier",
            "variableSetterType" : "ContractIdentifier"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The container for the contract identifier containing its blockchain network and address.</p>\n@param contractIdentifier The container for the contract identifier containing its blockchain network and address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ContractIdentifier",
            "variableName" : "contractIdentifier",
            "variableType" : "ContractIdentifier",
            "documentation" : "<p>The container for the contract identifier containing its blockchain network and address.</p>",
            "simpleType" : "ContractIdentifier",
            "variableSetterType" : "ContractIdentifier"
          },
          "xmlNameSpaceUri" : null
        },
        "DeployerAddress" : {
          "c2jName" : "deployerAddress",
          "c2jShape" : "ChainAddress",
          "deprecated" : false,
          "documentation" : "<p>The address of the contract deployer.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The address of the contract deployer.</p>\n@param deployerAddress The address of the contract deployer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeployerAddress",
          "getterDocumentation" : "/**<p>The address of the contract deployer.</p>\n@return The address of the contract deployer.*/",
          "getterMethodName" : "getDeployerAddress",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "deployerAddress",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "deployerAddress",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeployerAddress",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The address of the contract deployer.</p>\n@param deployerAddress The address of the contract deployer.*/",
          "setterMethodName" : "setDeployerAddress",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deployerAddress",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The address of the contract deployer.</p>\n@param deployerAddress The address of the contract deployer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deployerAddress",
            "variableType" : "String",
            "documentation" : "<p>The address of the contract deployer.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TokenStandard" : {
          "c2jName" : "tokenStandard",
          "c2jShape" : "QueryTokenStandard",
          "deprecated" : false,
          "documentation" : "<p>The token standard of the contract.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "QueryTokenStandard",
          "fluentSetterDocumentation" : "/**<p>The token standard of the contract.</p>\n@param tokenStandard The token standard of the contract.\n@return Returns a reference to this object so that method calls can be chained together.\n@see QueryTokenStandard*/",
          "fluentSetterMethodName" : "withTokenStandard",
          "getterDocumentation" : "/**<p>The token standard of the contract.</p>\n@return The token standard of the contract.\n@see QueryTokenStandard*/",
          "getterMethodName" : "getTokenStandard",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "tokenStandard",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tokenStandard",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TokenStandard",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The token standard of the contract.</p>\n@param tokenStandard The token standard of the contract.\n@see QueryTokenStandard*/",
          "setterMethodName" : "setTokenStandard",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "tokenStandard",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The token standard of the contract.</p>\n@param tokenStandard The token standard of the contract.\n@return Returns a reference to this object so that method calls can be chained together.\n@see QueryTokenStandard*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "tokenStandard",
            "variableType" : "String",
            "documentation" : "<p>The token standard of the contract.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.managedblockchainquery.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "contractIdentifier", "tokenStandard", "deployerAddress" ],
      "shapeName" : "AssetContract",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssetContract",
        "variableName" : "assetContract",
        "variableType" : "AssetContract",
        "documentation" : null,
        "simpleType" : "AssetContract",
        "variableSetterType" : "AssetContract"
      },
      "wrapper" : false
    },
    "BatchGetTokenBalanceErrorItem" : {
      "c2jName" : "BatchGetTokenBalanceErrorItem",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Error generated from a failed <code>BatchGetTokenBalance</code> request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.managedblockchainquery.model.BatchGetTokenBalanceErrorItem",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "tokenIdentifier",
        "c2jShape" : "TokenIdentifier",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param tokenIdentifier \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTokenIdentifier",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getTokenIdentifier",
        "getterModel" : {
          "returnType" : "TokenIdentifier",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tokenIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tokenIdentifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TokenIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param tokenIdentifier */",
        "setterMethodName" : "setTokenIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TokenIdentifier",
          "variableName" : "tokenIdentifier",
          "variableType" : "TokenIdentifier",
          "documentation" : "",
          "simpleType" : "TokenIdentifier",
          "variableSetterType" : "TokenIdentifier"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param tokenIdentifier \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TokenIdentifier",
          "variableName" : "tokenIdentifier",
          "variableType" : "TokenIdentifier",
          "documentation" : "",
          "simpleType" : "TokenIdentifier",
          "variableSetterType" : "TokenIdentifier"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ownerIdentifier",
        "c2jShape" : "OwnerIdentifier",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param ownerIdentifier \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOwnerIdentifier",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getOwnerIdentifier",
        "getterModel" : {
          "returnType" : "OwnerIdentifier",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ownerIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ownerIdentifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "OwnerIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param ownerIdentifier */",
        "setterMethodName" : "setOwnerIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "OwnerIdentifier",
          "variableName" : "ownerIdentifier",
          "variableType" : "OwnerIdentifier",
          "documentation" : "",
          "simpleType" : "OwnerIdentifier",
          "variableSetterType" : "OwnerIdentifier"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param ownerIdentifier \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "OwnerIdentifier",
          "variableName" : "ownerIdentifier",
          "variableType" : "OwnerIdentifier",
          "documentation" : "",
          "simpleType" : "OwnerIdentifier",
          "variableSetterType" : "OwnerIdentifier"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "atBlockchainInstant",
        "c2jShape" : "BlockchainInstant",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param atBlockchainInstant \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAtBlockchainInstant",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getAtBlockchainInstant",
        "getterModel" : {
          "returnType" : "BlockchainInstant",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "atBlockchainInstant",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "atBlockchainInstant",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AtBlockchainInstant",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param atBlockchainInstant */",
        "setterMethodName" : "setAtBlockchainInstant",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "BlockchainInstant",
          "variableName" : "atBlockchainInstant",
          "variableType" : "BlockchainInstant",
          "documentation" : "",
          "simpleType" : "BlockchainInstant",
          "variableSetterType" : "BlockchainInstant"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param atBlockchainInstant \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "BlockchainInstant",
          "variableName" : "atBlockchainInstant",
          "variableType" : "BlockchainInstant",
          "documentation" : "",
          "simpleType" : "BlockchainInstant",
          "variableSetterType" : "BlockchainInstant"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "errorCode",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The error code associated with the error.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The error code associated with the error.</p>\n@param errorCode The error code associated with the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorCode",
        "getterDocumentation" : "/**<p>The error code associated with the error.</p>\n@return The error code associated with the error.*/",
        "getterMethodName" : "getErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "errorCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "errorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The error code associated with the error.</p>\n@param errorCode The error code associated with the error.*/",
        "setterMethodName" : "setErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error code associated with the error.</p>\n@param errorCode The error code associated with the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "<p>The error code associated with the error.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "errorMessage",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The message associated with the error.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The message associated with the error.</p>\n@param errorMessage The message associated with the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorMessage",
        "getterDocumentation" : "/**<p>The message associated with the error.</p>\n@return The message associated with the error.*/",
        "getterMethodName" : "getErrorMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "errorMessage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "errorMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The message associated with the error.</p>\n@param errorMessage The message associated with the error.*/",
        "setterMethodName" : "setErrorMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The message associated with the error.</p>\n@param errorMessage The message associated with the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorMessage",
          "variableType" : "String",
          "documentation" : "<p>The message associated with the error.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "errorType",
        "c2jShape" : "ErrorType",
        "deprecated" : false,
        "documentation" : "<p>The type of error.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ErrorType",
        "fluentSetterDocumentation" : "/**<p>The type of error.</p>\n@param errorType The type of error.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorType*/",
        "fluentSetterMethodName" : "withErrorType",
        "getterDocumentation" : "/**<p>The type of error.</p>\n@return The type of error.\n@see ErrorType*/",
        "getterMethodName" : "getErrorType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "errorType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "errorType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of error.</p>\n@param errorType The type of error.\n@see ErrorType*/",
        "setterMethodName" : "setErrorType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of error.</p>\n@param errorType The type of error.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorType",
          "variableType" : "String",
          "documentation" : "<p>The type of error.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AtBlockchainInstant" : {
          "c2jName" : "atBlockchainInstant",
          "c2jShape" : "BlockchainInstant",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param atBlockchainInstant \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAtBlockchainInstant",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getAtBlockchainInstant",
          "getterModel" : {
            "returnType" : "BlockchainInstant",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "atBlockchainInstant",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "atBlockchainInstant",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "AtBlockchainInstant",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param atBlockchainInstant */",
          "setterMethodName" : "setAtBlockchainInstant",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "BlockchainInstant",
            "variableName" : "atBlockchainInstant",
            "variableType" : "BlockchainInstant",
            "documentation" : "",
            "simpleType" : "BlockchainInstant",
            "variableSetterType" : "BlockchainInstant"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param atBlockchainInstant \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "BlockchainInstant",
            "variableName" : "atBlockchainInstant",
            "variableType" : "BlockchainInstant",
            "documentation" : "",
            "simpleType" : "BlockchainInstant",
            "variableSetterType" : "BlockchainInstant"
          },
          "xmlNameSpaceUri" : null
        },
        "ErrorCode" : {
          "c2jName" : "errorCode",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The error code associated with the error.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The error code associated with the error.</p>\n@param errorCode The error code associated with the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorCode",
          "getterDocumentation" : "/**<p>The error code associated with the error.</p>\n@return The error code associated with the error.*/",
          "getterMethodName" : "getErrorCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "errorCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "errorCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The error code associated with the error.</p>\n@param errorCode The error code associated with the error.*/",
          "setterMethodName" : "setErrorCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The error code associated with the error.</p>\n@param errorCode The error code associated with the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "<p>The error code associated with the error.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ErrorMessage" : {
          "c2jName" : "errorMessage",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The message associated with the error.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The message associated with the error.</p>\n@param errorMessage The message associated with the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorMessage",
          "getterDocumentation" : "/**<p>The message associated with the error.</p>\n@return The message associated with the error.*/",
          "getterMethodName" : "getErrorMessage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "errorMessage",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "errorMessage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorMessage",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The message associated with the error.</p>\n@param errorMessage The message associated with the error.*/",
          "setterMethodName" : "setErrorMessage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorMessage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The message associated with the error.</p>\n@param errorMessage The message associated with the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorMessage",
            "variableType" : "String",
            "documentation" : "<p>The message associated with the error.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ErrorType" : {
          "c2jName" : "errorType",
          "c2jShape" : "ErrorType",
          "deprecated" : false,
          "documentation" : "<p>The type of error.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ErrorType",
          "fluentSetterDocumentation" : "/**<p>The type of error.</p>\n@param errorType The type of error.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorType*/",
          "fluentSetterMethodName" : "withErrorType",
          "getterDocumentation" : "/**<p>The type of error.</p>\n@return The type of error.\n@see ErrorType*/",
          "getterMethodName" : "getErrorType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "errorType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "errorType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of error.</p>\n@param errorType The type of error.\n@see ErrorType*/",
          "setterMethodName" : "setErrorType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
[...]
