{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-03-01",
    "asyncClient" : "AWSMarketplaceAgreementAsyncClient",
    "asyncClientBuilderClassName" : "AWSMarketplaceAgreementAsyncClientBuilder",
    "asyncInterface" : "AWSMarketplaceAgreementAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSMarketplaceAgreementModuleInjector",
    "defaultEndpoint" : "agreement-marketplace.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "agreement-marketplace.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Marketplace is a curated digital catalog that customers can use to find, buy, deploy, and manage third-party software, data, and services to build solutions and run their businesses. The AWS Marketplace Agreement Service provides an API interface that helps AWS Marketplace sellers manage their product-related agreements, including listing, searching, and filtering agreements.</p> <p>To manage agreements in AWS Marketplace, you must ensure that your AWS Identity and Access Management (IAM) policies and roles are set up. The user must have the required policies/permissions that allow them to carry out the actions in AWS:</p> <ul> <li> <p> <code>DescribeAgreement</code> – Grants permission to users to obtain detailed meta data about any of their agreements.</p> </li> <li> <p> <code>GetAgreementTerms</code> – Grants permission to users to obtain details about the terms of an agreement.</p> </li> <li> <p> <code>SearchAgreements</code> – Grants permission to users to search through all their agreements.</p> </li> </ul>",
    "endpointPrefix" : "agreement-marketplace",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.marketplaceagreement",
    "packagePath" : "com/amazonaws/services/marketplaceagreement",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Agreement Service",
    "serviceFullName" : "AWS Marketplace Agreement Service",
    "serviceId" : "Marketplace Agreement",
    "serviceName" : "Agreement Service",
    "signingName" : "aws-marketplace",
    "smokeTestsPackageName" : "com.amazonaws.services.marketplaceagreement.smoketests",
    "syncClient" : "AWSMarketplaceAgreementClient",
    "syncClientBuilderClassName" : "AWSMarketplaceAgreementClientBuilder",
    "syncInterface" : "AWSMarketplaceAgreement",
    "uid" : "marketplace-agreement-2020-03-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DescribeAgreement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAgreementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAgreementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAgreementRequest, DescribeAgreementResult>",
      "asyncReturnType" : "DescribeAgreementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides details about an agreement, such as the proposer, acceptor, start date, and end date.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAgreementRequest",
        "variableName" : "describeAgreementRequest",
        "variableType" : "DescribeAgreementRequest",
        "documentation" : "",
        "simpleType" : "DescribeAgreementRequest",
        "variableSetterType" : "DescribeAgreementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAgreement",
      "operationName" : "DescribeAgreement",
      "returnType" : {
        "returnType" : "DescribeAgreementResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAgreementResult"
    },
    "GetAgreementTerms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAgreementTermsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAgreementTermsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAgreementTermsRequest, GetAgreementTermsResult>",
      "asyncReturnType" : "GetAgreementTermsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains details about the terms in an agreement that you participated in as proposer or acceptor.</p> <p>The details include:</p> <ul> <li> <p> <code>TermType</code> – The type of term, such as <code>LegalTerm</code>, <code>RenewalTerm</code>, or <code>ConfigurableUpfrontPricingTerm</code>.</p> </li> <li> <p> <code>TermID</code> – The ID of the particular term, which is common between offer and agreement.</p> </li> <li> <p> <code>TermPayload</code> – The key information contained in the term, such as the EULA for <code>LegalTerm</code> or pricing and dimensions for various pricing terms, such as <code>ConfigurableUpfrontPricingTerm</code> or <code>UsageBasedPricingTerm</code>.</p> </li> </ul> <ul> <li> <p> <code>Configuration</code> – The buyer/acceptor's selection at the time of agreement creation, such as the number of units purchased for a dimension or setting the <code>EnableAutoRenew</code> flag.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAgreementTermsRequest",
        "variableName" : "getAgreementTermsRequest",
        "variableType" : "GetAgreementTermsRequest",
        "documentation" : "",
        "simpleType" : "GetAgreementTermsRequest",
        "variableSetterType" : "GetAgreementTermsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAgreementTerms",
      "operationName" : "GetAgreementTerms",
      "returnType" : {
        "returnType" : "GetAgreementTermsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAgreementTermsResult"
    },
    "SearchAgreements" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchAgreementsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchAgreementsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchAgreementsRequest, SearchAgreementsResult>",
      "asyncReturnType" : "SearchAgreementsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches across all agreements that a proposer or an acceptor has in AWS Marketplace. The search returns a list of agreements with basic agreement information.</p> <p>The following filter combinations are supported:</p> <ul> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>ResourceIdentifier</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>OfferId</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>AcceptorAccountId</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>Status</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>ResourceIdentifier</code> + <code>Status</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>OfferId</code> + <code>Status</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>AcceptorAccountId</code> + <code>Status</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>ResourceType</code> + <code>Status</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>AcceptorAccountId</code> + <code>ResourceType</code> + <code>Status</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>AcceptorAccountId</code> + <code>OfferId</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>AcceptorAccountId</code> + <code>OfferId</code> + <code>Status</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>AcceptorAccountId</code> + <code>ResourceIdentifier</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>AcceptorAccountId</code> + <code>ResourceIdentifier</code> + <code>Status</code> </p> </li> <li> <p> <code>PartyType</code> as <code>Proposer</code> + <code>AgreementType</code> + <code>AcceptorAccountId</code> + <code>ResourceType</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchAgreementsRequest",
        "variableName" : "searchAgreementsRequest",
        "variableType" : "SearchAgreementsRequest",
        "documentation" : "",
        "simpleType" : "SearchAgreementsRequest",
        "variableSetterType" : "SearchAgreementsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchAgreements",
      "operationName" : "SearchAgreements",
      "returnType" : {
        "returnType" : "SearchAgreementsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchAgreementsResult"
    }
  },
  "shapes" : {
    "AcceptedTerm" : {
      "c2jName" : "AcceptedTerm",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A subset of terms proposed by the proposer, which have been accepted by the acceptor as part of agreement creation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.marketplaceagreement.model.AcceptedTerm",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "byolPricingTerm",
        "c2jShape" : "ByolPricingTerm",
        "deprecated" : false,
        "documentation" : "<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>\n@param byolPricingTerm Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withByolPricingTerm",
        "getterDocumentation" : "/**<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>\n@return Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.*/",
        "getterMethodName" : "getByolPricingTerm",
        "getterModel" : {
          "returnType" : "ByolPricingTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "byolPricingTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "byolPricingTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ByolPricingTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>\n@param byolPricingTerm Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.*/",
        "setterMethodName" : "setByolPricingTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ByolPricingTerm",
          "variableName" : "byolPricingTerm",
          "variableType" : "ByolPricingTerm",
          "documentation" : "",
          "simpleType" : "ByolPricingTerm",
          "variableSetterType" : "ByolPricingTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>\n@param byolPricingTerm Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ByolPricingTerm",
          "variableName" : "byolPricingTerm",
          "variableType" : "ByolPricingTerm",
          "documentation" : "<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>",
          "simpleType" : "ByolPricingTerm",
          "variableSetterType" : "ByolPricingTerm"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "configurableUpfrontPricingTerm",
        "c2jShape" : "ConfigurableUpfrontPricingTerm",
        "deprecated" : false,
        "documentation" : "<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>\n@param configurableUpfrontPricingTerm Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfigurableUpfrontPricingTerm",
        "getterDocumentation" : "/**<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>\n@return Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.*/",
        "getterMethodName" : "getConfigurableUpfrontPricingTerm",
        "getterModel" : {
          "returnType" : "ConfigurableUpfrontPricingTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "configurableUpfrontPricingTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "configurableUpfrontPricingTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ConfigurableUpfrontPricingTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>\n@param configurableUpfrontPricingTerm Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.*/",
        "setterMethodName" : "setConfigurableUpfrontPricingTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ConfigurableUpfrontPricingTerm",
          "variableName" : "configurableUpfrontPricingTerm",
          "variableType" : "ConfigurableUpfrontPricingTerm",
          "documentation" : "",
          "simpleType" : "ConfigurableUpfrontPricingTerm",
          "variableSetterType" : "ConfigurableUpfrontPricingTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>\n@param configurableUpfrontPricingTerm Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ConfigurableUpfrontPricingTerm",
          "variableName" : "configurableUpfrontPricingTerm",
          "variableType" : "ConfigurableUpfrontPricingTerm",
          "documentation" : "<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>",
          "simpleType" : "ConfigurableUpfrontPricingTerm",
          "variableSetterType" : "ConfigurableUpfrontPricingTerm"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "fixedUpfrontPricingTerm",
        "c2jShape" : "FixedUpfrontPricingTerm",
        "deprecated" : false,
        "documentation" : "<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>\n@param fixedUpfrontPricingTerm Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFixedUpfrontPricingTerm",
        "getterDocumentation" : "/**<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>\n@return Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.*/",
        "getterMethodName" : "getFixedUpfrontPricingTerm",
        "getterModel" : {
          "returnType" : "FixedUpfrontPricingTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "fixedUpfrontPricingTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "fixedUpfrontPricingTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "FixedUpfrontPricingTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>\n@param fixedUpfrontPricingTerm Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.*/",
        "setterMethodName" : "setFixedUpfrontPricingTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FixedUpfrontPricingTerm",
          "variableName" : "fixedUpfrontPricingTerm",
          "variableType" : "FixedUpfrontPricingTerm",
          "documentation" : "",
          "simpleType" : "FixedUpfrontPricingTerm",
          "variableSetterType" : "FixedUpfrontPricingTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>\n@param fixedUpfrontPricingTerm Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FixedUpfrontPricingTerm",
          "variableName" : "fixedUpfrontPricingTerm",
          "variableType" : "FixedUpfrontPricingTerm",
          "documentation" : "<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>",
          "simpleType" : "FixedUpfrontPricingTerm",
          "variableSetterType" : "FixedUpfrontPricingTerm"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "freeTrialPricingTerm",
        "c2jShape" : "FreeTrialPricingTerm",
        "deprecated" : false,
        "documentation" : "<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>\n@param freeTrialPricingTerm Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFreeTrialPricingTerm",
        "getterDocumentation" : "/**<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>\n@return Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.*/",
        "getterMethodName" : "getFreeTrialPricingTerm",
        "getterModel" : {
          "returnType" : "FreeTrialPricingTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "freeTrialPricingTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "freeTrialPricingTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "FreeTrialPricingTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>\n@param freeTrialPricingTerm Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.*/",
        "setterMethodName" : "setFreeTrialPricingTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FreeTrialPricingTerm",
          "variableName" : "freeTrialPricingTerm",
          "variableType" : "FreeTrialPricingTerm",
          "documentation" : "",
          "simpleType" : "FreeTrialPricingTerm",
          "variableSetterType" : "FreeTrialPricingTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>\n@param freeTrialPricingTerm Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FreeTrialPricingTerm",
          "variableName" : "freeTrialPricingTerm",
          "variableType" : "FreeTrialPricingTerm",
          "documentation" : "<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>",
          "simpleType" : "FreeTrialPricingTerm",
          "variableSetterType" : "FreeTrialPricingTerm"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "legalTerm",
        "c2jShape" : "LegalTerm",
        "deprecated" : false,
        "documentation" : "<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>\n@param legalTerm Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLegalTerm",
        "getterDocumentation" : "/**<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>\n@return Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).*/",
        "getterMethodName" : "getLegalTerm",
        "getterModel" : {
          "returnType" : "LegalTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "legalTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "legalTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "LegalTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>\n@param legalTerm Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).*/",
        "setterMethodName" : "setLegalTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "LegalTerm",
          "variableName" : "legalTerm",
          "variableType" : "LegalTerm",
          "documentation" : "",
          "simpleType" : "LegalTerm",
          "variableSetterType" : "LegalTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>\n@param legalTerm Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "LegalTerm",
          "variableName" : "legalTerm",
          "variableType" : "LegalTerm",
          "documentation" : "<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>",
          "simpleType" : "LegalTerm",
          "variableSetterType" : "LegalTerm"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "paymentScheduleTerm",
        "c2jShape" : "PaymentScheduleTerm",
        "deprecated" : false,
        "documentation" : "<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>\n@param paymentScheduleTerm Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPaymentScheduleTerm",
        "getterDocumentation" : "/**<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>\n@return Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.*/",
        "getterMethodName" : "getPaymentScheduleTerm",
        "getterModel" : {
          "returnType" : "PaymentScheduleTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "paymentScheduleTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "paymentScheduleTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "PaymentScheduleTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>\n@param paymentScheduleTerm Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.*/",
        "setterMethodName" : "setPaymentScheduleTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PaymentScheduleTerm",
          "variableName" : "paymentScheduleTerm",
          "variableType" : "PaymentScheduleTerm",
          "documentation" : "",
          "simpleType" : "PaymentScheduleTerm",
          "variableSetterType" : "PaymentScheduleTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>\n@param paymentScheduleTerm Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PaymentScheduleTerm",
          "variableName" : "paymentScheduleTerm",
          "variableType" : "PaymentScheduleTerm",
          "documentation" : "<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>",
          "simpleType" : "PaymentScheduleTerm",
          "variableSetterType" : "PaymentScheduleTerm"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "recurringPaymentTerm",
        "c2jShape" : "RecurringPaymentTerm",
        "deprecated" : false,
        "documentation" : "<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>\n@param recurringPaymentTerm Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRecurringPaymentTerm",
        "getterDocumentation" : "/**<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>\n@return Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.*/",
        "getterMethodName" : "getRecurringPaymentTerm",
        "getterModel" : {
          "returnType" : "RecurringPaymentTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "recurringPaymentTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "recurringPaymentTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "RecurringPaymentTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>\n@param recurringPaymentTerm Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.*/",
        "setterMethodName" : "setRecurringPaymentTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RecurringPaymentTerm",
          "variableName" : "recurringPaymentTerm",
          "variableType" : "RecurringPaymentTerm",
          "documentation" : "",
          "simpleType" : "RecurringPaymentTerm",
          "variableSetterType" : "RecurringPaymentTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>\n@param recurringPaymentTerm Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RecurringPaymentTerm",
          "variableName" : "recurringPaymentTerm",
          "variableType" : "RecurringPaymentTerm",
          "documentation" : "<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>",
          "simpleType" : "RecurringPaymentTerm",
          "variableSetterType" : "RecurringPaymentTerm"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "renewalTerm",
        "c2jShape" : "RenewalTerm",
        "deprecated" : false,
        "documentation" : "<p>Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.</p>\n@param renewalTerm Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRenewalTerm",
        "getterDocumentation" : "/**<p>Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.</p>\n@return Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.*/",
        "getterMethodName" : "getRenewalTerm",
        "getterModel" : {
          "returnType" : "RenewalTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "renewalTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "renewalTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "RenewalTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.</p>\n@param renewalTerm Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.*/",
        "setterMethodName" : "setRenewalTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RenewalTerm",
          "variableName" : "renewalTerm",
          "variableType" : "RenewalTerm",
          "documentation" : "",
          "simpleType" : "RenewalTerm",
          "variableSetterType" : "RenewalTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.</p>\n@param renewalTerm Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RenewalTerm",
          "variableName" : "renewalTerm",
          "variableType" : "RenewalTerm",
          "documentation" : "<p>Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.</p>",
          "simpleType" : "RenewalTerm",
          "variableSetterType" : "RenewalTerm"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "supportTerm",
        "c2jShape" : "SupportTerm",
        "deprecated" : false,
        "documentation" : "<p>Defines the customer support available for the acceptors when they purchase the software.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Defines the customer support available for the acceptors when they purchase the software.</p>\n@param supportTerm Defines the customer support available for the acceptors when they purchase the software.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSupportTerm",
        "getterDocumentation" : "/**<p>Defines the customer support available for the acceptors when they purchase the software.</p>\n@return Defines the customer support available for the acceptors when they purchase the software.*/",
        "getterMethodName" : "getSupportTerm",
        "getterModel" : {
          "returnType" : "SupportTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "supportTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "supportTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SupportTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Defines the customer support available for the acceptors when they purchase the software.</p>\n@param supportTerm Defines the customer support available for the acceptors when they purchase the software.*/",
        "setterMethodName" : "setSupportTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SupportTerm",
          "variableName" : "supportTerm",
          "variableType" : "SupportTerm",
          "documentation" : "",
          "simpleType" : "SupportTerm",
          "variableSetterType" : "SupportTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Defines the customer support available for the acceptors when they purchase the software.</p>\n@param supportTerm Defines the customer support available for the acceptors when they purchase the software.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SupportTerm",
          "variableName" : "supportTerm",
          "variableType" : "SupportTerm",
          "documentation" : "<p>Defines the customer support available for the acceptors when they purchase the software.</p>",
          "simpleType" : "SupportTerm",
          "variableSetterType" : "SupportTerm"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "usageBasedPricingTerm",
        "c2jShape" : "UsageBasedPricingTerm",
        "deprecated" : false,
        "documentation" : "<p>Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.</p>\n@param usageBasedPricingTerm Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsageBasedPricingTerm",
        "getterDocumentation" : "/**<p>Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.</p>\n@return Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.*/",
        "getterMethodName" : "getUsageBasedPricingTerm",
        "getterModel" : {
          "returnType" : "UsageBasedPricingTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "usageBasedPricingTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "usageBasedPricingTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "UsageBasedPricingTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.</p>\n@param usageBasedPricingTerm Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.*/",
        "setterMethodName" : "setUsageBasedPricingTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "UsageBasedPricingTerm",
          "variableName" : "usageBasedPricingTerm",
          "variableType" : "UsageBasedPricingTerm",
          "documentation" : "",
          "simpleType" : "UsageBasedPricingTerm",
          "variableSetterType" : "UsageBasedPricingTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.</p>\n@param usageBasedPricingTerm Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "UsageBasedPricingTerm",
          "variableName" : "usageBasedPricingTerm",
          "variableType" : "UsageBasedPricingTerm",
          "documentation" : "<p>Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.</p>",
          "simpleType" : "UsageBasedPricingTerm",
          "variableSetterType" : "UsageBasedPricingTerm"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "validityTerm",
        "c2jShape" : "ValidityTerm",
        "deprecated" : false,
        "documentation" : "<p>Defines the conditions that will keep an agreement created from this offer valid.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Defines the conditions that will keep an agreement created from this offer valid.</p>\n@param validityTerm Defines the conditions that will keep an agreement created from this offer valid.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withValidityTerm",
        "getterDocumentation" : "/**<p>Defines the conditions that will keep an agreement created from this offer valid.</p>\n@return Defines the conditions that will keep an agreement created from this offer valid.*/",
        "getterMethodName" : "getValidityTerm",
        "getterModel" : {
          "returnType" : "ValidityTerm",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "validityTerm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "validityTerm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ValidityTerm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Defines the conditions that will keep an agreement created from this offer valid.</p>\n@param validityTerm Defines the conditions that will keep an agreement created from this offer valid.*/",
        "setterMethodName" : "setValidityTerm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ValidityTerm",
          "variableName" : "validityTerm",
          "variableType" : "ValidityTerm",
          "documentation" : "",
          "simpleType" : "ValidityTerm",
          "variableSetterType" : "ValidityTerm"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Defines the conditions that will keep an agreement created from this offer valid.</p>\n@param validityTerm Defines the conditions that will keep an agreement created from this offer valid.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ValidityTerm",
          "variableName" : "validityTerm",
          "variableType" : "ValidityTerm",
          "documentation" : "<p>Defines the conditions that will keep an agreement created from this offer valid.</p>",
          "simpleType" : "ValidityTerm",
          "variableSetterType" : "ValidityTerm"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ByolPricingTerm" : {
          "c2jName" : "byolPricingTerm",
          "c2jShape" : "ByolPricingTerm",
          "deprecated" : false,
          "documentation" : "<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>\n@param byolPricingTerm Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withByolPricingTerm",
          "getterDocumentation" : "/**<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>\n@return Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.*/",
          "getterMethodName" : "getByolPricingTerm",
          "getterModel" : {
            "returnType" : "ByolPricingTerm",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "byolPricingTerm",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "byolPricingTerm",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ByolPricingTerm",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>\n@param byolPricingTerm Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.*/",
          "setterMethodName" : "setByolPricingTerm",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ByolPricingTerm",
            "variableName" : "byolPricingTerm",
            "variableType" : "ByolPricingTerm",
            "documentation" : "",
            "simpleType" : "ByolPricingTerm",
            "variableSetterType" : "ByolPricingTerm"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>\n@param byolPricingTerm Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ByolPricingTerm",
            "variableName" : "byolPricingTerm",
            "variableType" : "ByolPricingTerm",
            "documentation" : "<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>",
            "simpleType" : "ByolPricingTerm",
            "variableSetterType" : "ByolPricingTerm"
          },
          "xmlNameSpaceUri" : null
        },
        "ConfigurableUpfrontPricingTerm" : {
          "c2jName" : "configurableUpfrontPricingTerm",
          "c2jShape" : "ConfigurableUpfrontPricingTerm",
          "deprecated" : false,
          "documentation" : "<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>\n@param configurableUpfrontPricingTerm Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfigurableUpfrontPricingTerm",
          "getterDocumentation" : "/**<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>\n@return Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.*/",
          "getterMethodName" : "getConfigurableUpfrontPricingTerm",
          "getterModel" : {
            "returnType" : "ConfigurableUpfrontPricingTerm",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "configurableUpfrontPricingTerm",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "configurableUpfrontPricingTerm",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ConfigurableUpfrontPricingTerm",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>\n@param configurableUpfrontPricingTerm Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.*/",
          "setterMethodName" : "setConfigurableUpfrontPricingTerm",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ConfigurableUpfrontPricingTerm",
            "variableName" : "configurableUpfrontPricingTerm",
            "variableType" : "ConfigurableUpfrontPricingTerm",
            "documentation" : "",
            "simpleType" : "ConfigurableUpfrontPricingTerm",
            "variableSetterType" : "ConfigurableUpfrontPricingTerm"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>\n@param configurableUpfrontPricingTerm Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ConfigurableUpfrontPricingTerm",
            "variableName" : "configurableUpfrontPricingTerm",
            "variableType" : "ConfigurableUpfrontPricingTerm",
            "documentation" : "<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>",
            "simpleType" : "ConfigurableUpfrontPricingTerm",
            "variableSetterType" : "ConfigurableUpfrontPricingTerm"
          },
          "xmlNameSpaceUri" : null
        },
        "FixedUpfrontPricingTerm" : {
          "c2jName" : "fixedUpfrontPricingTerm",
          "c2jShape" : "FixedUpfrontPricingTerm",
          "deprecated" : false,
          "documentation" : "<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>\n@param fixedUpfrontPricingTerm Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFixedUpfrontPricingTerm",
          "getterDocumentation" : "/**<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>\n@return Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.*/",
          "getterMethodName" : "getFixedUpfrontPricingTerm",
          "getterModel" : {
            "returnType" : "FixedUpfrontPricingTerm",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "fixedUpfrontPricingTerm",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "fixedUpfrontPricingTerm",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "FixedUpfrontPricingTerm",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>\n@param fixedUpfrontPricingTerm Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.*/",
          "setterMethodName" : "setFixedUpfrontPricingTerm",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FixedUpfrontPricingTerm",
            "variableName" : "fixedUpfrontPricingTerm",
            "variableType" : "FixedUpfrontPricingTerm",
            "documentation" : "",
            "simpleType" : "FixedUpfrontPricingTerm",
            "variableSetterType" : "FixedUpfrontPricingTerm"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>\n@param fixedUpfrontPricingTerm Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FixedUpfrontPricingTerm",
            "variableName" : "fixedUpfrontPricingTerm",
            "variableType" : "FixedUpfrontPricingTerm",
            "documentation" : "<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>",
            "simpleType" : "FixedUpfrontPricingTerm",
            "variableSetterType" : "FixedUpfrontPricingTerm"
          },
          "xmlNameSpaceUri" : null
        },
        "FreeTrialPricingTerm" : {
          "c2jName" : "freeTrialPricingTerm",
          "c2jShape" : "FreeTrialPricingTerm",
          "deprecated" : false,
          "documentation" : "<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>\n@param freeTrialPricingTerm Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFreeTrialPricingTerm",
          "getterDocumentation" : "/**<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>\n@return Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.*/",
          "getterMethodName" : "getFreeTrialPricingTerm",
          "getterModel" : {
            "returnType" : "FreeTrialPricingTerm",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "freeTrialPricingTerm",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "freeTrialPricingTerm",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "FreeTrialPricingTerm",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>\n@param freeTrialPricingTerm Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.*/",
          "setterMethodName" : "setFreeTrialPricingTerm",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FreeTrialPricingTerm",
            "variableName" : "freeTrialPricingTerm",
            "variableType" : "FreeTrialPricingTerm",
            "documentation" : "",
            "simpleType" : "FreeTrialPricingTerm",
            "variableSetterType" : "FreeTrialPricingTerm"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>\n@param freeTrialPricingTerm Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FreeTrialPricingTerm",
            "variableName" : "freeTrialPricingTerm",
            "variableType" : "FreeTrialPricingTerm",
            "documentation" : "<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>",
            "simpleType" : "FreeTrialPricingTerm",
            "variableSetterType" : "FreeTrialPricingTerm"
          },
          "xmlNameSpaceUri" : null
        },
        "LegalTerm" : {
          "c2jName" : "legalTerm",
          "c2jShape" : "LegalTerm",
          "deprecated" : false,
          "documentation" : "<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>\n@param legalTerm Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLegalTerm",
          "getterDocumentation" : "/**<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>\n@return Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).*/",
          "getterMethodName" : "getLegalTerm",
          "getterModel" : {
            "returnType" : "LegalTerm",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "legalTerm",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "legalTerm",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "LegalTerm",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>\n@param legalTerm Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).*/",
          "setterMethodName" : "setLegalTerm",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "LegalTerm",
            "variableName" : "legalTerm",
            "variableType" : "LegalTerm",
            "documentation" : "",
            "simpleType" : "LegalTerm",
            "variableSetterType" : "LegalTerm"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>\n@param legalTerm Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "LegalTerm",
            "variableName" : "legalTerm",
            "variableType" : "LegalTerm",
            "documentation" : "<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>",
            "simpleType" : "LegalTerm",
            "variableSetterType" : "LegalTerm"
          },
          "xmlNameSpaceUri" : null
        },
        "PaymentScheduleTerm" : {
          "c2jName" : "paymentScheduleTerm",
          "c2jShape" : "PaymentScheduleTerm",
          "deprecated" : false,
          "documentation" : "<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>\n@param paymentScheduleTerm Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPaymentScheduleTerm",
          "getterDocumentation" : "/**<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>\n@return Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.*/",
          "getterMethodName" : "getPaymentScheduleTerm",
          "getterModel" : {
            "returnType" : "PaymentScheduleTerm",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "paymentScheduleTerm",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "paymentScheduleTerm",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "PaymentScheduleTerm",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>\n@param paymentScheduleTerm Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.*/",
          "setterMethodName" : "setPaymentScheduleTerm",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PaymentScheduleTerm",
            "variableName" : "paymentScheduleTerm",
            "variableType" : "PaymentScheduleTerm",
            "documentation" : "",
            "simpleType" : "PaymentScheduleTerm",
            "variableSetterType" : "PaymentScheduleTerm"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>\n@param paymentScheduleTerm Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PaymentScheduleTerm",
            "variableName" : "paymentScheduleTerm",
            "variableType" : "PaymentScheduleTerm",
            "documentation" : "<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>",
            "simpleType" : "PaymentScheduleTerm",
            "variableSetterType" : "PaymentScheduleTerm"
          },
          "xmlNameSpaceUri" : null
        },
        "RecurringPaymentTerm" : {
          "c2jName" : "recurringPaymentTerm",
          "c2jShape" : "RecurringPaymentTerm",
          "deprecated" : false,
          "documentation" : "<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>\n@param recurringPaymentTerm Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRecurringPaymentTerm",
          "getterDocumentation" : "/**<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>\n@return Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.*/",
          "getterMethodName" : "getRecurringPaymentTerm",
          "getterModel" : {
            "returnType" : "RecurringPaymentTerm",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "recurringPaymentTerm",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "recurringPaymentTerm",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "RecurringPaymentTerm",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>\n@param recurringPaymentTerm Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.*/",
          "setterMethodName" : "setRecurringPaymentTerm",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "RecurringPaymentTerm",
            "variableName" : "recurringPaymentTerm",
            "variableType" : "RecurringPaymentTerm",
            "documentation" : "",
            "simpleType" : "RecurringPaymentTerm",
            "variableSetterType" : "RecurringPaymentTerm"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>\n@param recurringPaymentTerm Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "RecurringPaymentTerm",
            "variableName" : "recurringPaymentTerm",
            "variableType" : "RecurringPaymentTerm",
            "documentation" : "<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>",
            "simpleType" : "RecurringPaymentTerm",
            "variableSetterType" : "RecurringPaymentTerm"
          },
          "xmlNameSpaceUri" : null
        },
        "RenewalTerm" : {
          "c2jName" : "renewalTerm",
          "c2jShape" : "RenewalTerm",
          "deprecated" : false,
          "documentation" : "<p>Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.</p>\n@param renewalTerm Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRenewalTerm",
[...]
