{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-09-17",
    "asyncClient" : "AWSMarketplaceCatalogAsyncClient",
    "asyncClientBuilderClassName" : "AWSMarketplaceCatalogAsyncClientBuilder",
    "asyncInterface" : "AWSMarketplaceCatalogAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSMarketplaceCatalogModuleInjector",
    "defaultEndpoint" : "catalog.marketplace.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "catalog.marketplace.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Catalog API actions allow you to manage your entities through list, describe, and update capabilities. An entity can be a product or an offer on AWS Marketplace. </p> <p>You can automate your entity update process by integrating the AWS Marketplace Catalog API with your AWS Marketplace product build or deployment pipelines. You can also create your own applications on top of the Catalog API to manage your products on AWS Marketplace.</p>",
    "endpointPrefix" : "catalog.marketplace",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.marketplacecatalog",
    "packagePath" : "com/amazonaws/services/marketplacecatalog",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS Marketplace Catalog",
    "serviceFullName" : "AWS Marketplace Catalog Service",
    "serviceId" : "Marketplace Catalog",
    "serviceName" : "AWS Marketplace Catalog",
    "signingName" : "aws-marketplace",
    "smokeTestsPackageName" : "com.amazonaws.services.marketplacecatalog.smoketests",
    "syncClient" : "AWSMarketplaceCatalogClient",
    "syncClientBuilderClassName" : "AWSMarketplaceCatalogClientBuilder",
    "syncInterface" : "AWSMarketplaceCatalog",
    "uid" : "marketplace-catalog-2018-09-17",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchDescribeEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDescribeEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDescribeEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDescribeEntitiesRequest, BatchDescribeEntitiesResult>",
      "asyncReturnType" : "BatchDescribeEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata and content for multiple entities. This is the Batch version of the <code>DescribeEntity</code> API and uses the same IAM permission action as <code>DescribeEntity</code> API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDescribeEntitiesRequest",
        "variableName" : "batchDescribeEntitiesRequest",
        "variableType" : "BatchDescribeEntitiesRequest",
        "documentation" : "",
        "simpleType" : "BatchDescribeEntitiesRequest",
        "variableSetterType" : "BatchDescribeEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDescribeEntities",
      "operationName" : "BatchDescribeEntities",
      "returnType" : {
        "returnType" : "BatchDescribeEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDescribeEntitiesResult"
    },
    "CancelChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelChangeSetRequest, CancelChangeSetResult>",
      "asyncReturnType" : "CancelChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used to cancel an open change request. Must be sent before the status of the request changes to <code>APPLYING</code>, the final stage of completing your change request. You can describe a change during the 60-day request history retention period for API calls.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is currently in use.</p>",
        "httpStatusCode" : 423
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelChangeSetRequest",
        "variableName" : "cancelChangeSetRequest",
        "variableType" : "CancelChangeSetRequest",
        "documentation" : "",
        "simpleType" : "CancelChangeSetRequest",
        "variableSetterType" : "CancelChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelChangeSet",
      "operationName" : "CancelChangeSet",
      "returnType" : {
        "returnType" : "CancelChangeSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelChangeSetResult"
    },
    "DeleteResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourcePolicyRequest, DeleteResourcePolicyResult>",
      "asyncReturnType" : "DeleteResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a resource-based policy on an entity that is identified by its resource ARN.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourcePolicyRequest",
        "variableName" : "deleteResourcePolicyRequest",
        "variableType" : "DeleteResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourcePolicyRequest",
        "variableSetterType" : "DeleteResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourcePolicy",
      "operationName" : "DeleteResourcePolicy",
      "returnType" : {
        "returnType" : "DeleteResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourcePolicyResult"
    },
    "DescribeChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChangeSetRequest, DescribeChangeSetResult>",
      "asyncReturnType" : "DescribeChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about a given change set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChangeSetRequest",
        "variableName" : "describeChangeSetRequest",
        "variableType" : "DescribeChangeSetRequest",
        "documentation" : "",
        "simpleType" : "DescribeChangeSetRequest",
        "variableSetterType" : "DescribeChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChangeSet",
      "operationName" : "DescribeChangeSet",
      "returnType" : {
        "returnType" : "DescribeChangeSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChangeSetResult"
    },
    "DescribeEntity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEntityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEntityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEntityRequest, DescribeEntityResult>",
      "asyncReturnType" : "DescribeEntityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the metadata and content of the entity.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotSupportedException",
        "documentation" : "<p>Currently, the specified resource is not supported.</p>",
        "httpStatusCode" : 415
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEntityRequest",
        "variableName" : "describeEntityRequest",
        "variableType" : "DescribeEntityRequest",
        "documentation" : "",
        "simpleType" : "DescribeEntityRequest",
        "variableSetterType" : "DescribeEntityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEntity",
      "operationName" : "DescribeEntity",
      "returnType" : {
        "returnType" : "DescribeEntityResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEntityResult"
    },
    "GetResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcePolicyRequest, GetResourcePolicyResult>",
      "asyncReturnType" : "GetResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a resource-based policy of an entity that is identified by its resource ARN.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourcePolicyRequest",
        "variableName" : "getResourcePolicyRequest",
        "variableType" : "GetResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "GetResourcePolicyRequest",
        "variableSetterType" : "GetResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourcePolicy",
      "operationName" : "GetResourcePolicy",
      "returnType" : {
        "returnType" : "GetResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourcePolicyResult"
    },
    "ListChangeSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChangeSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChangeSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChangeSetsRequest, ListChangeSetsResult>",
      "asyncReturnType" : "ListChangeSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of change sets owned by the account being used to make the call. You can filter this list by providing any combination of <code>entityId</code>, <code>ChangeSetName</code>, and status. If you provide more than one filter, the API operation applies a logical AND between the filters.</p> <p>You can describe a change during the 60-day request history retention period for API calls.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChangeSetsRequest",
        "variableName" : "listChangeSetsRequest",
        "variableType" : "ListChangeSetsRequest",
        "documentation" : "",
        "simpleType" : "ListChangeSetsRequest",
        "variableSetterType" : "ListChangeSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChangeSets",
      "operationName" : "ListChangeSets",
      "returnType" : {
        "returnType" : "ListChangeSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChangeSetsResult"
    },
    "ListEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEntitiesRequest, ListEntitiesResult>",
      "asyncReturnType" : "ListEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides the list of entities of a given type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEntitiesRequest",
        "variableName" : "listEntitiesRequest",
        "variableType" : "ListEntitiesRequest",
        "documentation" : "",
        "simpleType" : "ListEntitiesRequest",
        "variableSetterType" : "ListEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEntities",
      "operationName" : "ListEntities",
      "returnType" : {
        "returnType" : "ListEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEntitiesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags that have been added to a resource (either an <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/welcome.html#catalog-api-entities\">entity</a> or <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/welcome.html#working-with-change-sets\">change set</a>).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResourcePolicyRequest, PutResourcePolicyResult>",
      "asyncReturnType" : "PutResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches a resource-based policy to an entity. Examples of an entity include: <code>AmiProduct</code> and <code>ContainerProduct</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutResourcePolicyRequest",
        "variableName" : "putResourcePolicyRequest",
        "variableType" : "PutResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "PutResourcePolicyRequest",
        "variableSetterType" : "PutResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResourcePolicy",
      "operationName" : "PutResourcePolicy",
      "returnType" : {
        "returnType" : "PutResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutResourcePolicyResult"
    },
    "StartChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartChangeSetRequest, StartChangeSetResult>",
      "asyncReturnType" : "StartChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows you to request changes for your entities. Within a single <code>ChangeSet</code>, you can't start the same change type against the same entity multiple times. Additionally, when a <code>ChangeSet</code> is running, all the entities targeted by the different changes are locked until the change set has completed (either succeeded, cancelled, or failed). If you try to start a change set containing a change against an entity that is already locked, you will receive a <code>ResourceInUseException</code> error.</p> <p>For example, you can't start the <code>ChangeSet</code> described in the <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/API_StartChangeSet.html#API_StartChangeSet_Examples\">example</a> later in this topic because it contains two changes to run the same change type (<code>AddRevisions</code>) against the same entity (<code>entity-id@1</code>).</p> <p>For more information about working with change sets, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/welcome.html#working-with-change-sets\"> Working with change sets</a>. For information about change types for single-AMI products, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/ami-products.html#working-with-single-AMI-products\">Working with single-AMI products</a>. Also, for more information about change types available for container-based products, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/container-products.html#working-with-container-products\">Working with container products</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is currently in use.</p>",
        "httpStatusCode" : 423
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The maximum number of open requests per account has been exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartChangeSetRequest",
        "variableName" : "startChangeSetRequest",
        "variableType" : "StartChangeSetRequest",
        "documentation" : "",
        "simpleType" : "StartChangeSetRequest",
        "variableSetterType" : "StartChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startChangeSet",
      "operationName" : "StartChangeSet",
      "returnType" : {
        "returnType" : "StartChangeSetResult",
        "documentation" : null
      },
      "syncReturnType" : "StartChangeSetResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tags a resource (either an <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/welcome.html#catalog-api-entities\">entity</a> or <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/welcome.html#working-with-change-sets\">change set</a>).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag or list of tags from a resource (either an <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/welcome.html#catalog-api-entities\">entity</a> or <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/welcome.html#working-with-change-sets\">change set</a>).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p> <p>HTTP status code: 404</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p> <p>HTTP status code: 500</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p> <p>HTTP status code: 422</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p> <p>HTTP status code: 429</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access is denied.</p> <p>HTTP status code: 403</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.marketplacecatalog.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.marketplacecatalog.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AmiProductEntityIdFilter" : {
      "c2jName" : "AmiProductEntityIdFilter",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Object that allows filtering on entity id of an AMI product.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.marketplacecatalog.model.AmiProductEntityIdFilter",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ValueList",
        "c2jShape" : "AmiProductEntityIdFilterValueList",
        "deprecated" : false,
        "documentation" : "<p>A string array of unique entity id values to be filtered on.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A string array of unique entity id values to be filtered on.</p>\n@param valueList A string array of unique entity id values to be filtered on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withValueList",
        "getterDocumentation" : "/**<p>A string array of unique entity id values to be filtered on.</p>\n@return A string array of unique entity id values to be filtered on.*/",
        "getterMethodName" : "getValueList",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ValueList",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ValueList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AmiProductEntityIdString",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ValueList",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A string array of unique entity id values to be filtered on.</p>\n@param valueList A string array of unique entity id values to be filtered on.*/",
        "setterMethodName" : "setValueList",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "valueList",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A string array of unique entity id values to be filtered on.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValueList(java.util.Collection)} or {@link #withValueList(java.util.Collection)} if you want to override the existing values.</p>\n@param valueList A string array of unique entity id values to be filtered on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "valueList",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A string array of unique entity id values to be filtered on.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ValueList" : {
          "c2jName" : "ValueList",
          "c2jShape" : "AmiProductEntityIdFilterValueList",
          "deprecated" : false,
          "documentation" : "<p>A string array of unique entity id values to be filtered on.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A string array of unique entity id values to be filtered on.</p>\n@param valueList A string array of unique entity id values to be filtered on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withValueList",
          "getterDocumentation" : "/**<p>A string array of unique entity id values to be filtered on.</p>\n@return A string array of unique entity id values to be filtered on.*/",
          "getterMethodName" : "getValueList",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ValueList",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ValueList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "AmiProductEntityIdString",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ValueList",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A string array of unique entity id values to be filtered on.</p>\n@param valueList A string array of unique entity id values to be filtered on.*/",
          "setterMethodName" : "setValueList",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "valueList",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A string array of unique entity id values to be filtered on.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValueList(java.util.Collection)} or {@link #withValueList(java.util.Collection)} if you want to override the existing values.</p>\n@param valueList A string array of unique entity id values to be filtered on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "valueList",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>A string array of unique entity id values to be filtered on.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.marketplacecatalog.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AmiProductEntityIdFilter",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmiProductEntityIdFilter",
        "variableName" : "amiProductEntityIdFilter",
        "variableType" : "AmiProductEntityIdFilter",
        "documentation" : null,
        "simpleType" : "AmiProductEntityIdFilter",
        "variableSetterType" : "AmiProductEntityIdFilter"
      },
      "wrapper" : false
    },
    "AmiProductFilters" : {
      "c2jName" : "AmiProductFilters",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Object containing all the filter fields for AMI products. Client can add only one wildcard filter and a maximum of 8 filters in a single <code>ListEntities</code> request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.marketplacecatalog.model.AmiProductFilters",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "EntityId",
        "c2jShape" : "AmiProductEntityIdFilter",
        "deprecated" : false,
        "documentation" : "<p>Unique identifier for the AMI product.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique identifier for the AMI product.</p>\n@param entityId Unique identifier for the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEntityId",
        "getterDocumentation" : "/**<p>Unique identifier for the AMI product.</p>\n@return Unique identifier for the AMI product.*/",
        "getterMethodName" : "getEntityId",
        "getterModel" : {
          "returnType" : "AmiProductEntityIdFilter",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EntityId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EntityId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "EntityId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique identifier for the AMI product.</p>\n@param entityId Unique identifier for the AMI product.*/",
        "setterMethodName" : "setEntityId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmiProductEntityIdFilter",
          "variableName" : "entityId",
          "variableType" : "AmiProductEntityIdFilter",
          "documentation" : "",
          "simpleType" : "AmiProductEntityIdFilter",
          "variableSetterType" : "AmiProductEntityIdFilter"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique identifier for the AMI product.</p>\n@param entityId Unique identifier for the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmiProductEntityIdFilter",
          "variableName" : "entityId",
          "variableType" : "AmiProductEntityIdFilter",
          "documentation" : "<p>Unique identifier for the AMI product.</p>",
          "simpleType" : "AmiProductEntityIdFilter",
          "variableSetterType" : "AmiProductEntityIdFilter"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastModifiedDate",
        "c2jShape" : "AmiProductLastModifiedDateFilter",
        "deprecated" : false,
        "documentation" : "<p>The last date on which the AMI product was modified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The last date on which the AMI product was modified.</p>\n@param lastModifiedDate The last date on which the AMI product was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastModifiedDate",
        "getterDocumentation" : "/**<p>The last date on which the AMI product was modified.</p>\n@return The last date on which the AMI product was modified.*/",
        "getterMethodName" : "getLastModifiedDate",
        "getterModel" : {
          "returnType" : "AmiProductLastModifiedDateFilter",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastModifiedDate",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastModifiedDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "LastModifiedDate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The last date on which the AMI product was modified.</p>\n@param lastModifiedDate The last date on which the AMI product was modified.*/",
        "setterMethodName" : "setLastModifiedDate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmiProductLastModifiedDateFilter",
          "variableName" : "lastModifiedDate",
          "variableType" : "AmiProductLastModifiedDateFilter",
          "documentation" : "",
          "simpleType" : "AmiProductLastModifiedDateFilter",
          "variableSetterType" : "AmiProductLastModifiedDateFilter"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The last date on which the AMI product was modified.</p>\n@param lastModifiedDate The last date on which the AMI product was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmiProductLastModifiedDateFilter",
          "variableName" : "lastModifiedDate",
          "variableType" : "AmiProductLastModifiedDateFilter",
          "documentation" : "<p>The last date on which the AMI product was modified.</p>",
          "simpleType" : "AmiProductLastModifiedDateFilter",
          "variableSetterType" : "AmiProductLastModifiedDateFilter"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ProductTitle",
        "c2jShape" : "AmiProductTitleFilter",
        "deprecated" : false,
        "documentation" : "<p>The title of the AMI product.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The title of the AMI product.</p>\n@param productTitle The title of the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProductTitle",
        "getterDocumentation" : "/**<p>The title of the AMI product.</p>\n@return The title of the AMI product.*/",
        "getterMethodName" : "getProductTitle",
        "getterModel" : {
          "returnType" : "AmiProductTitleFilter",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProductTitle",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProductTitle",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ProductTitle",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The title of the AMI product.</p>\n@param productTitle The title of the AMI product.*/",
        "setterMethodName" : "setProductTitle",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmiProductTitleFilter",
          "variableName" : "productTitle",
          "variableType" : "AmiProductTitleFilter",
          "documentation" : "",
          "simpleType" : "AmiProductTitleFilter",
          "variableSetterType" : "AmiProductTitleFilter"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The title of the AMI product.</p>\n@param productTitle The title of the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmiProductTitleFilter",
          "variableName" : "productTitle",
          "variableType" : "AmiProductTitleFilter",
          "documentation" : "<p>The title of the AMI product.</p>",
          "simpleType" : "AmiProductTitleFilter",
          "variableSetterType" : "AmiProductTitleFilter"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Visibility",
        "c2jShape" : "AmiProductVisibilityFilter",
        "deprecated" : false,
        "documentation" : "<p>The visibility of the AMI product.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The visibility of the AMI product.</p>\n@param visibility The visibility of the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVisibility",
        "getterDocumentation" : "/**<p>The visibility of the AMI product.</p>\n@return The visibility of the AMI product.*/",
        "getterMethodName" : "getVisibility",
        "getterModel" : {
          "returnType" : "AmiProductVisibilityFilter",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Visibility",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Visibility",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Visibility",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The visibility of the AMI product.</p>\n@param visibility The visibility of the AMI product.*/",
        "setterMethodName" : "setVisibility",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmiProductVisibilityFilter",
          "variableName" : "visibility",
          "variableType" : "AmiProductVisibilityFilter",
          "documentation" : "",
          "simpleType" : "AmiProductVisibilityFilter",
          "variableSetterType" : "AmiProductVisibilityFilter"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The visibility of the AMI product.</p>\n@param visibility The visibility of the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmiProductVisibilityFilter",
          "variableName" : "visibility",
          "variableType" : "AmiProductVisibilityFilter",
          "documentation" : "<p>The visibility of the AMI product.</p>",
          "simpleType" : "AmiProductVisibilityFilter",
          "variableSetterType" : "AmiProductVisibilityFilter"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EntityId" : {
          "c2jName" : "EntityId",
          "c2jShape" : "AmiProductEntityIdFilter",
          "deprecated" : false,
          "documentation" : "<p>Unique identifier for the AMI product.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique identifier for the AMI product.</p>\n@param entityId Unique identifier for the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEntityId",
          "getterDocumentation" : "/**<p>Unique identifier for the AMI product.</p>\n@return Unique identifier for the AMI product.*/",
          "getterMethodName" : "getEntityId",
          "getterModel" : {
            "returnType" : "AmiProductEntityIdFilter",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EntityId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EntityId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "EntityId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unique identifier for the AMI product.</p>\n@param entityId Unique identifier for the AMI product.*/",
          "setterMethodName" : "setEntityId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AmiProductEntityIdFilter",
            "variableName" : "entityId",
            "variableType" : "AmiProductEntityIdFilter",
            "documentation" : "",
            "simpleType" : "AmiProductEntityIdFilter",
            "variableSetterType" : "AmiProductEntityIdFilter"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique identifier for the AMI product.</p>\n@param entityId Unique identifier for the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AmiProductEntityIdFilter",
            "variableName" : "entityId",
            "variableType" : "AmiProductEntityIdFilter",
            "documentation" : "<p>Unique identifier for the AMI product.</p>",
            "simpleType" : "AmiProductEntityIdFilter",
            "variableSetterType" : "AmiProductEntityIdFilter"
          },
          "xmlNameSpaceUri" : null
        },
        "LastModifiedDate" : {
          "c2jName" : "LastModifiedDate",
          "c2jShape" : "AmiProductLastModifiedDateFilter",
          "deprecated" : false,
          "documentation" : "<p>The last date on which the AMI product was modified.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The last date on which the AMI product was modified.</p>\n@param lastModifiedDate The last date on which the AMI product was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastModifiedDate",
          "getterDocumentation" : "/**<p>The last date on which the AMI product was modified.</p>\n@return The last date on which the AMI product was modified.*/",
          "getterMethodName" : "getLastModifiedDate",
          "getterModel" : {
            "returnType" : "AmiProductLastModifiedDateFilter",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LastModifiedDate",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LastModifiedDate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "LastModifiedDate",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The last date on which the AMI product was modified.</p>\n@param lastModifiedDate The last date on which the AMI product was modified.*/",
          "setterMethodName" : "setLastModifiedDate",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AmiProductLastModifiedDateFilter",
            "variableName" : "lastModifiedDate",
            "variableType" : "AmiProductLastModifiedDateFilter",
            "documentation" : "",
            "simpleType" : "AmiProductLastModifiedDateFilter",
            "variableSetterType" : "AmiProductLastModifiedDateFilter"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The last date on which the AMI product was modified.</p>\n@param lastModifiedDate The last date on which the AMI product was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AmiProductLastModifiedDateFilter",
            "variableName" : "lastModifiedDate",
            "variableType" : "AmiProductLastModifiedDateFilter",
            "documentation" : "<p>The last date on which the AMI product was modified.</p>",
            "simpleType" : "AmiProductLastModifiedDateFilter",
            "variableSetterType" : "AmiProductLastModifiedDateFilter"
          },
          "xmlNameSpaceUri" : null
        },
        "ProductTitle" : {
          "c2jName" : "ProductTitle",
          "c2jShape" : "AmiProductTitleFilter",
          "deprecated" : false,
          "documentation" : "<p>The title of the AMI product.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The title of the AMI product.</p>\n@param productTitle The title of the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProductTitle",
          "getterDocumentation" : "/**<p>The title of the AMI product.</p>\n@return The title of the AMI product.*/",
          "getterMethodName" : "getProductTitle",
          "getterModel" : {
            "returnType" : "AmiProductTitleFilter",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ProductTitle",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProductTitle",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ProductTitle",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The title of the AMI product.</p>\n@param productTitle The title of the AMI product.*/",
          "setterMethodName" : "setProductTitle",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AmiProductTitleFilter",
            "variableName" : "productTitle",
            "variableType" : "AmiProductTitleFilter",
            "documentation" : "",
            "simpleType" : "AmiProductTitleFilter",
            "variableSetterType" : "AmiProductTitleFilter"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The title of the AMI product.</p>\n@param productTitle The title of the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AmiProductTitleFilter",
            "variableName" : "productTitle",
            "variableType" : "AmiProductTitleFilter",
            "documentation" : "<p>The title of the AMI product.</p>",
            "simpleType" : "AmiProductTitleFilter",
            "variableSetterType" : "AmiProductTitleFilter"
          },
          "xmlNameSpaceUri" : null
        },
        "Visibility" : {
          "c2jName" : "Visibility",
          "c2jShape" : "AmiProductVisibilityFilter",
          "deprecated" : false,
          "documentation" : "<p>The visibility of the AMI product.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The visibility of the AMI product.</p>\n@param visibility The visibility of the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVisibility",
          "getterDocumentation" : "/**<p>The visibility of the AMI product.</p>\n@return The visibility of the AMI product.*/",
          "getterMethodName" : "getVisibility",
          "getterModel" : {
            "returnType" : "AmiProductVisibilityFilter",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Visibility",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Visibility",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Visibility",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The visibility of the AMI product.</p>\n@param visibility The visibility of the AMI product.*/",
          "setterMethodName" : "setVisibility",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AmiProductVisibilityFilter",
            "variableName" : "visibility",
            "variableType" : "AmiProductVisibilityFilter",
            "documentation" : "",
            "simpleType" : "AmiProductVisibilityFilter",
            "variableSetterType" : "AmiProductVisibilityFilter"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The visibility of the AMI product.</p>\n@param visibility The visibility of the AMI product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AmiProductVisibilityFilter",
            "variableName" : "visibility",
            "variableType" : "AmiProductVisibilityFilter",
            "documentation" : "<p>The visibility of the AMI product.</p>",
            "simpleType" : "AmiProductVisibilityFilter",
            "variableSetterType" : "AmiProductVisibilityFilter"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.marketplacecatalog.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AmiProductFilters",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmiProductFilters",
        "variableName" : "amiProductFilters",
        "variableType" : "AmiProductFilters",
        "documentation" : null,
        "simpleType" : "AmiProductFilters",
        "variableSetterType" : "AmiProductFilters"
      },
      "wrapper" : false
    },
    "AmiProductLastModifiedDateFilter" : {
      "c2jName" : "AmiProductLastModifiedDateFilter",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Object that allows filtering based on the last modified date of AMI products.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.marketplacecatalog.model.AmiProductLastModifiedDateFilter",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DateRange",
        "c2jShape" : "AmiProductLastModifiedDateFilterDateRange",
        "deprecated" : false,
        "documentation" : "<p>Dates between which the AMI product was last modified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Dates between which the AMI product was last modified.</p>\n@param dateRange Dates between which the AMI product was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDateRange",
        "getterDocumentation" : "/**<p>Dates between which the AMI product was last modified.</p>\n@return Dates between which the AMI product was last modified.*/",
        "getterMethodName" : "getDateRange",
        "getterModel" : {
          "returnType" : "AmiProductLastModifiedDateFilterDateRange",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DateRange",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DateRange",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DateRange",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Dates between which the AMI product was last modified.</p>\n@param dateRange Dates between which the AMI product was last modified.*/",
        "setterMethodName" : "setDateRange",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmiProductLastModifiedDateFilterDateRange",
          "variableName" : "dateRange",
          "variableType" : "AmiProductLastModifiedDateFilterDateRange",
          "documentation" : "",
          "simpleType" : "AmiProductLastModifiedDateFilterDateRange",
          "variableSetterType" : "AmiProductLastModifiedDateFilterDateRange"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Dates between which the AMI product was last modified.</p>\n@param dateRange Dates between which the AMI product was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmiProductLastModifiedDateFilterDateRange",
          "variableName" : "dateRange",
          "variableType" : "AmiProductLastModifiedDateFilterDateRange",
          "documentation" : "<p>Dates between which the AMI product was last modified.</p>",
          "simpleType" : "AmiProductLastModifiedDateFilterDateRange",
          "variableSetterType" : "AmiProductLastModifiedDateFilterDateRange"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DateRange" : {
          "c2jName" : "DateRange",
          "c2jShape" : "AmiProductLastModifiedDateFilterDateRange",
          "deprecated" : false,
          "documentation" : "<p>Dates between which the AMI product was last modified.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Dates between which the AMI product was last modified.</p>\n@param dateRange Dates between which the AMI product was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDateRange",
          "getterDocumentation" : "/**<p>Dates between which the AMI product was last modified.</p>\n@return Dates between which the AMI product was last modified.*/",
          "getterMethodName" : "getDateRange",
          "getterModel" : {
            "returnType" : "AmiProductLastModifiedDateFilterDateRange",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DateRange",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DateRange",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "DateRange",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Dates between which the AMI product was last modified.</p>\n@param dateRange Dates between which the AMI product was last modified.*/",
          "setterMethodName" : "setDateRange",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AmiProductLastModifiedDateFilterDateRange",
            "variableName" : "dateRange",
            "variableType" : "AmiProductLastModifiedDateFilterDateRange",
            "documentation" : "",
            "simpleType" : "AmiProductLastModifiedDateFilterDateRange",
            "variableSetterType" : "AmiProductLastModifiedDateFilterDateRange"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Dates between which the AMI product was last modified.</p>\n@param dateRange Dates between which the AMI product was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AmiProductLastModifiedDateFilterDateRange",
            "variableName" : "dateRange",
            "variableType" : "AmiProductLastModifiedDateFilterDateRange",
            "documentation" : "<p>Dates between which the AMI product was last modified.</p>",
            "simpleType" : "AmiProductLastModifiedDateFilterDateRange",
            "variableSetterType" : "AmiProductLastModifiedDateFilterDateRange"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.marketplacecatalog.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AmiProductLastModifiedDateFilter",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmiProductLastModifiedDateFilter",
        "variableName" : "amiProductLastModifiedDateFilter",
        "variableType" : "AmiProductLastModifiedDateFilter",
        "documentation" : null,
        "simpleType" : "AmiProductLastModifiedDateFilter",
        "variableSetterType" : "AmiProductLastModifiedDateFilter"
      },
      "wrapper" : false
    },
    "AmiProductLastModifiedDateFilterDateRange" : {
      "c2jName" : "AmiProductLastModifiedDateFilterDateRange",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Object that contains date range of the last modified date to be filtered on. You can optionally provide a <code>BeforeValue</code> and/or <code>AfterValue</code>. Both are inclusive.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.marketplacecatalog.model.AmiProductLastModifiedDateFilterDateRange",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AfterValue",
        "c2jShape" : "DateTimeISO8601",
        "deprecated" : false,
        "documentation" : "<p>Date after which the AMI product was last modified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Date after which the AMI product was last modified.</p>\n@param afterValue Date after which the AMI product was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAfterValue",
        "getterDocumentation" : "/**<p>Date after which the AMI product was last modified.</p>\n@return Date after which the AMI product was last modified.*/",
        "getterMethodName" : "getAfterValue",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AfterValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AfterValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AfterValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Date after which the AMI product was last modified.</p>\n@param afterValue Date after which the AMI product was last modified.*/",
        "setterMethodName" : "setAfterValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "afterValue",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Date after which the AMI product was last modified.</p>\n@param afterValue Date after which the AMI product was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "afterValue",
          "variableType" : "String",
          "documentation" : "<p>Date after which the AMI product was last modified.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BeforeValue",
        "c2jShape" : "DateTimeISO8601",
        "deprecated" : false,
        "documentation" : "<p>Date before which the AMI product was last modified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Date before which the AMI product was last modified.</p>\n@param beforeValue Date before which the AMI product was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBeforeValue",
        "getterDocumentation" : "/**<p>Date before which the AMI product was last modified.</p>\n@return Date before which the AMI product was last modified.*/",
        "getterMethodName" : "getBeforeValue",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BeforeValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BeforeValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BeforeValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Date before which the AMI product was last modified.</p>\n@param beforeValue Date before which the AMI product was last modified.*/",
        "setterMethodName" : "setBeforeValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "beforeValue",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Date before which the AMI product was last modified.</p>\n@param beforeValue Date before which the AMI product was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "beforeValue",
          "variableType" : "String",
          "documentation" : "<p>Date before which the AMI product was last modified.</p>",
          "simpleType" : "String",
[...]
