{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-09-17",
    "asyncClient" : "AWSMarketplaceCatalogAsyncClient",
    "asyncClientBuilderClassName" : "AWSMarketplaceCatalogAsyncClientBuilder",
    "asyncInterface" : "AWSMarketplaceCatalogAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSMarketplaceCatalogModuleInjector",
    "defaultEndpoint" : "catalog.marketplace.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "catalog.marketplace.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Catalog API actions allow you to create, describe, list, and delete changes to your published entities. An entity is a product or an offer on AWS Marketplace.</p> <p>You can automate your entity update process by integrating the AWS Marketplace Catalog API with your AWS Marketplace product build or deployment pipelines. You can also create your own applications on top of the Catalog API to manage your products on AWS Marketplace.</p>",
    "endpointPrefix" : "catalog.marketplace",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.marketplacecatalog",
    "packagePath" : "com/amazonaws/services/marketplacecatalog",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS Marketplace Catalog",
    "serviceFullName" : "AWS Marketplace Catalog Service",
    "serviceId" : "Marketplace Catalog",
    "serviceName" : "AWS Marketplace Catalog",
    "signingName" : "aws-marketplace",
    "smokeTestsPackageName" : "com.amazonaws.services.marketplacecatalog.smoketests",
    "syncClient" : "AWSMarketplaceCatalogClient",
    "syncClientBuilderClassName" : "AWSMarketplaceCatalogClientBuilder",
    "syncInterface" : "AWSMarketplaceCatalog",
    "uid" : "marketplace-catalog-2018-09-17",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelChangeSetRequest, CancelChangeSetResult>",
      "asyncReturnType" : "CancelChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used to cancel an open change request. Must be sent before the status of the request changes to <code>APPLYING</code>, the final stage of completing your change request. You can describe a change during the 60-day request history retention period for API calls.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is currently in use.</p>",
        "httpStatusCode" : 423
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelChangeSetRequest",
        "variableName" : "cancelChangeSetRequest",
        "variableType" : "CancelChangeSetRequest",
        "documentation" : "",
        "simpleType" : "CancelChangeSetRequest",
        "variableSetterType" : "CancelChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelChangeSet",
      "operationName" : "CancelChangeSet",
      "returnType" : {
        "returnType" : "CancelChangeSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelChangeSetResult"
    },
    "DescribeChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChangeSetRequest, DescribeChangeSetResult>",
      "asyncReturnType" : "DescribeChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about a given change set.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChangeSetRequest",
        "variableName" : "describeChangeSetRequest",
        "variableType" : "DescribeChangeSetRequest",
        "documentation" : "",
        "simpleType" : "DescribeChangeSetRequest",
        "variableSetterType" : "DescribeChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChangeSet",
      "operationName" : "DescribeChangeSet",
      "returnType" : {
        "returnType" : "DescribeChangeSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeChangeSetResult"
    },
    "DescribeEntity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEntityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEntityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEntityRequest, DescribeEntityResult>",
      "asyncReturnType" : "DescribeEntityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the metadata and content of the entity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotSupportedException",
        "documentation" : "<p>Currently, the specified resource is not supported.</p>",
        "httpStatusCode" : 415
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEntityRequest",
        "variableName" : "describeEntityRequest",
        "variableType" : "DescribeEntityRequest",
        "documentation" : "",
        "simpleType" : "DescribeEntityRequest",
        "variableSetterType" : "DescribeEntityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEntity",
      "operationName" : "DescribeEntity",
      "returnType" : {
        "returnType" : "DescribeEntityResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEntityResult"
    },
    "ListChangeSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChangeSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChangeSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChangeSetsRequest, ListChangeSetsResult>",
      "asyncReturnType" : "ListChangeSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of change sets owned by the account being used to make the call. You can filter this list by providing any combination of <code>entityId</code>, <code>ChangeSetName</code>, and status. If you provide more than one filter, the API operation applies a logical AND between the filters.</p> <p>You can describe a change during the 60-day request history retention period for API calls.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChangeSetsRequest",
        "variableName" : "listChangeSetsRequest",
        "variableType" : "ListChangeSetsRequest",
        "documentation" : "",
        "simpleType" : "ListChangeSetsRequest",
        "variableSetterType" : "ListChangeSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChangeSets",
      "operationName" : "ListChangeSets",
      "returnType" : {
        "returnType" : "ListChangeSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChangeSetsResult"
    },
    "ListEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEntitiesRequest, ListEntitiesResult>",
      "asyncReturnType" : "ListEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides the list of entities of a given type.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEntitiesRequest",
        "variableName" : "listEntitiesRequest",
        "variableType" : "ListEntitiesRequest",
        "documentation" : "",
        "simpleType" : "ListEntitiesRequest",
        "variableSetterType" : "ListEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEntities",
      "operationName" : "ListEntities",
      "returnType" : {
        "returnType" : "ListEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEntitiesResult"
    },
    "StartChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartChangeSetRequest, StartChangeSetResult>",
      "asyncReturnType" : "StartChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation allows you to request changes in your entities.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>There was an internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An error occurred during validation.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource wasn't found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is currently in use.</p>",
        "httpStatusCode" : 423
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Too many requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The maximum number of open requests per account has been exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartChangeSetRequest",
        "variableName" : "startChangeSetRequest",
        "variableType" : "StartChangeSetRequest",
        "documentation" : "",
        "simpleType" : "StartChangeSetRequest",
        "variableSetterType" : "StartChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startChangeSet",
      "operationName" : "StartChangeSet",
      "returnType" : {
        "returnType" : "StartChangeSetResult",
        "documentation" : null
      },
      "syncReturnType" : "StartChangeSetResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access is denied.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CancelChangeSetRequest" : {
      "c2jName" : "CancelChangeSetRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelChangeSet",
        "locationName" : null,
        "requestUri" : "/CancelChangeSet",
        "target" : null,
        "verb" : "PATCH",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Catalog",
        "c2jShape" : "Catalog",
        "deprecated" : false,
        "documentation" : "<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>\n@param catalog Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCatalog",
        "getterDocumentation" : "/**<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>\n@return Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.*/",
        "getterMethodName" : "getCatalog",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "catalog",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "catalog",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Catalog",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>\n@param catalog Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.*/",
        "setterMethodName" : "setCatalog",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "catalog",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>\n@param catalog Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "catalog",
          "variableType" : "String",
          "documentation" : "<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChangeSetId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>\n@param changeSetId Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChangeSetId",
        "getterDocumentation" : "/**<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>\n@return Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.*/",
        "getterMethodName" : "getChangeSetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "changeSetId",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "changeSetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChangeSetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>\n@param changeSetId Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.*/",
        "setterMethodName" : "setChangeSetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>\n@param changeSetId Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetId",
          "variableType" : "String",
          "documentation" : "<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Catalog" : {
          "c2jName" : "Catalog",
          "c2jShape" : "Catalog",
          "deprecated" : false,
          "documentation" : "<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>\n@param catalog Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCatalog",
          "getterDocumentation" : "/**<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>\n@return Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.*/",
          "getterMethodName" : "getCatalog",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "catalog",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "catalog",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Catalog",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>\n@param catalog Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.*/",
          "setterMethodName" : "setCatalog",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "catalog",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>\n@param catalog Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "catalog",
            "variableType" : "String",
            "documentation" : "<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ChangeSetId" : {
          "c2jName" : "ChangeSetId",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>\n@param changeSetId Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChangeSetId",
          "getterDocumentation" : "/**<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>\n@return Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.*/",
          "getterMethodName" : "getChangeSetId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "changeSetId",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "changeSetId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChangeSetId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>\n@param changeSetId Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.*/",
          "setterMethodName" : "setChangeSetId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "changeSetId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>\n@param changeSetId Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "changeSetId",
            "variableType" : "String",
            "documentation" : "<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Catalog", "ChangeSetId" ],
      "shapeName" : "CancelChangeSetRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelChangeSetRequest",
        "variableName" : "cancelChangeSetRequest",
        "variableType" : "CancelChangeSetRequest",
        "documentation" : null,
        "simpleType" : "CancelChangeSetRequest",
        "variableSetterType" : "CancelChangeSetRequest"
      },
      "wrapper" : false
    },
    "CancelChangeSetResult" : {
      "c2jName" : "CancelChangeSetResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ChangeSetId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the change set referenced in this request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the change set referenced in this request.</p>\n@param changeSetId The unique identifier for the change set referenced in this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChangeSetId",
        "getterDocumentation" : "/**<p>The unique identifier for the change set referenced in this request.</p>\n@return The unique identifier for the change set referenced in this request.*/",
        "getterMethodName" : "getChangeSetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChangeSetId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChangeSetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChangeSetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier for the change set referenced in this request.</p>\n@param changeSetId The unique identifier for the change set referenced in this request.*/",
        "setterMethodName" : "setChangeSetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for the change set referenced in this request.</p>\n@param changeSetId The unique identifier for the change set referenced in this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for the change set referenced in this request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChangeSetArn",
        "c2jShape" : "ARN",
        "deprecated" : false,
        "documentation" : "<p>The ARN associated with the change set referenced in this request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN associated with the change set referenced in this request.</p>\n@param changeSetArn The ARN associated with the change set referenced in this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChangeSetArn",
        "getterDocumentation" : "/**<p>The ARN associated with the change set referenced in this request.</p>\n@return The ARN associated with the change set referenced in this request.*/",
        "getterMethodName" : "getChangeSetArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChangeSetArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChangeSetArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChangeSetArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN associated with the change set referenced in this request.</p>\n@param changeSetArn The ARN associated with the change set referenced in this request.*/",
        "setterMethodName" : "setChangeSetArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN associated with the change set referenced in this request.</p>\n@param changeSetArn The ARN associated with the change set referenced in this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN associated with the change set referenced in this request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ChangeSetArn" : {
          "c2jName" : "ChangeSetArn",
          "c2jShape" : "ARN",
          "deprecated" : false,
          "documentation" : "<p>The ARN associated with the change set referenced in this request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN associated with the change set referenced in this request.</p>\n@param changeSetArn The ARN associated with the change set referenced in this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChangeSetArn",
          "getterDocumentation" : "/**<p>The ARN associated with the change set referenced in this request.</p>\n@return The ARN associated with the change set referenced in this request.*/",
          "getterMethodName" : "getChangeSetArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ChangeSetArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ChangeSetArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChangeSetArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN associated with the change set referenced in this request.</p>\n@param changeSetArn The ARN associated with the change set referenced in this request.*/",
          "setterMethodName" : "setChangeSetArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "changeSetArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN associated with the change set referenced in this request.</p>\n@param changeSetArn The ARN associated with the change set referenced in this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "changeSetArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN associated with the change set referenced in this request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ChangeSetId" : {
          "c2jName" : "ChangeSetId",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier for the change set referenced in this request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier for the change set referenced in this request.</p>\n@param changeSetId The unique identifier for the change set referenced in this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChangeSetId",
          "getterDocumentation" : "/**<p>The unique identifier for the change set referenced in this request.</p>\n@return The unique identifier for the change set referenced in this request.*/",
          "getterMethodName" : "getChangeSetId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ChangeSetId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ChangeSetId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChangeSetId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique identifier for the change set referenced in this request.</p>\n@param changeSetId The unique identifier for the change set referenced in this request.*/",
          "setterMethodName" : "setChangeSetId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "changeSetId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique identifier for the change set referenced in this request.</p>\n@param changeSetId The unique identifier for the change set referenced in this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "changeSetId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier for the change set referenced in this request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CancelChangeSetResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelChangeSetResult",
        "variableName" : "cancelChangeSetResult",
        "variableType" : "CancelChangeSetResult",
        "documentation" : null,
        "simpleType" : "CancelChangeSetResult",
        "variableSetterType" : "CancelChangeSetResult"
      },
      "wrapper" : false
    },
    "Change" : {
      "c2jName" : "Change",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object that contains the <code>ChangeType</code>, <code>Details</code>, and <code>Entity</code>.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ChangeType",
        "c2jShape" : "ChangeType",
        "deprecated" : false,
        "documentation" : "<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>\n@param changeType Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChangeType",
        "getterDocumentation" : "/**<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>\n@return Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.*/",
        "getterMethodName" : "getChangeType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChangeType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChangeType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChangeType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>\n@param changeType Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.*/",
        "setterMethodName" : "setChangeType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>\n@param changeType Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeType",
          "variableType" : "String",
          "documentation" : "<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Entity",
        "c2jShape" : "Entity",
        "deprecated" : false,
        "documentation" : "<p>The entity to be changed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The entity to be changed.</p>\n@param entity The entity to be changed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEntity",
        "getterDocumentation" : "/**<p>The entity to be changed.</p>\n@return The entity to be changed.*/",
        "getterMethodName" : "getEntity",
        "getterModel" : {
          "returnType" : "Entity",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Entity",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Entity",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Entity",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The entity to be changed.</p>\n@param entity The entity to be changed.*/",
        "setterMethodName" : "setEntity",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Entity",
          "variableName" : "entity",
          "variableType" : "Entity",
          "documentation" : "",
          "simpleType" : "Entity",
          "variableSetterType" : "Entity"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The entity to be changed.</p>\n@param entity The entity to be changed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Entity",
          "variableName" : "entity",
          "variableType" : "Entity",
          "documentation" : "<p>The entity to be changed.</p>",
          "simpleType" : "Entity",
          "variableSetterType" : "Entity"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Details",
        "c2jShape" : "Json",
        "deprecated" : false,
        "documentation" : "<p>This object contains details specific to the change type of the requested change.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>This object contains details specific to the change type of the requested change.</p>\n@param details This object contains details specific to the change type of the requested change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDetails",
        "getterDocumentation" : "/**<p>This object contains details specific to the change type of the requested change.</p>\n@return This object contains details specific to the change type of the requested change.*/",
        "getterMethodName" : "getDetails",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Details",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Details",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Details",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>This object contains details specific to the change type of the requested change.</p>\n@param details This object contains details specific to the change type of the requested change.*/",
        "setterMethodName" : "setDetails",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "details",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>This object contains details specific to the change type of the requested change.</p>\n@param details This object contains details specific to the change type of the requested change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "details",
          "variableType" : "String",
          "documentation" : "<p>This object contains details specific to the change type of the requested change.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ChangeType" : {
          "c2jName" : "ChangeType",
          "c2jShape" : "ChangeType",
          "deprecated" : false,
          "documentation" : "<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>\n@param changeType Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChangeType",
          "getterDocumentation" : "/**<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>\n@return Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.*/",
          "getterMethodName" : "getChangeType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ChangeType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ChangeType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChangeType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>\n@param changeType Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.*/",
          "setterMethodName" : "setChangeType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "changeType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>\n@param changeType Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "changeType",
            "variableType" : "String",
            "documentation" : "<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Details" : {
          "c2jName" : "Details",
          "c2jShape" : "Json",
          "deprecated" : false,
          "documentation" : "<p>This object contains details specific to the change type of the requested change.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>This object contains details specific to the change type of the requested change.</p>\n@param details This object contains details specific to the change type of the requested change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDetails",
          "getterDocumentation" : "/**<p>This object contains details specific to the change type of the requested change.</p>\n@return This object contains details specific to the change type of the requested change.*/",
          "getterMethodName" : "getDetails",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Details",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Details",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Details",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>This object contains details specific to the change type of the requested change.</p>\n@param details This object contains details specific to the change type of the requested change.*/",
          "setterMethodName" : "setDetails",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "details",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>This object contains details specific to the change type of the requested change.</p>\n@param details This object contains details specific to the change type of the requested change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "details",
            "variableType" : "String",
            "documentation" : "<p>This object contains details specific to the change type of the requested change.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Entity" : {
          "c2jName" : "Entity",
          "c2jShape" : "Entity",
          "deprecated" : false,
          "documentation" : "<p>The entity to be changed.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The entity to be changed.</p>\n@param entity The entity to be changed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEntity",
          "getterDocumentation" : "/**<p>The entity to be changed.</p>\n@return The entity to be changed.*/",
          "getterMethodName" : "getEntity",
          "getterModel" : {
            "returnType" : "Entity",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Entity",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Entity",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Entity",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The entity to be changed.</p>\n@param entity The entity to be changed.*/",
          "setterMethodName" : "setEntity",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Entity",
            "variableName" : "entity",
            "variableType" : "Entity",
            "documentation" : "",
            "simpleType" : "Entity",
            "variableSetterType" : "Entity"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The entity to be changed.</p>\n@param entity The entity to be changed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Entity",
            "variableName" : "entity",
            "variableType" : "Entity",
            "documentation" : "<p>The entity to be changed.</p>",
            "simpleType" : "Entity",
            "variableSetterType" : "Entity"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ChangeType", "Entity", "Details" ],
      "shapeName" : "Change",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Change",
        "variableName" : "change",
        "variableType" : "Change",
        "documentation" : null,
        "simpleType" : "Change",
        "variableSetterType" : "Change"
      },
      "wrapper" : false
    },
    "ChangeSetSummaryListItem" : {
      "c2jName" : "ChangeSetSummaryListItem",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A summary of a change set returned in a list of change sets when the <code>ListChangeSets</code> action is called.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ChangeSetId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for a change set.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for a change set.</p>\n@param changeSetId The unique identifier for a change set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChangeSetId",
        "getterDocumentation" : "/**<p>The unique identifier for a change set.</p>\n@return The unique identifier for a change set.*/",
        "getterMethodName" : "getChangeSetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChangeSetId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChangeSetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChangeSetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier for a change set.</p>\n@param changeSetId The unique identifier for a change set.*/",
        "setterMethodName" : "setChangeSetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for a change set.</p>\n@param changeSetId The unique identifier for a change set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for a change set.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChangeSetArn",
        "c2jShape" : "ARN",
        "deprecated" : false,
        "documentation" : "<p>The ARN associated with the unique identifier for the change set referenced in this request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN associated with the unique identifier for the change set referenced in this request.</p>\n@param changeSetArn The ARN associated with the unique identifier for the change set referenced in this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChangeSetArn",
        "getterDocumentation" : "/**<p>The ARN associated with the unique identifier for the change set referenced in this request.</p>\n@return The ARN associated with the unique identifier for the change set referenced in this request.*/",
        "getterMethodName" : "getChangeSetArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChangeSetArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChangeSetArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChangeSetArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN associated with the unique identifier for the change set referenced in this request.</p>\n@param changeSetArn The ARN associated with the unique identifier for the change set referenced in this request.*/",
        "setterMethodName" : "setChangeSetArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN associated with the unique identifier for the change set referenced in this request.</p>\n@param changeSetArn The ARN associated with the unique identifier for the change set referenced in this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN associated with the unique identifier for the change set referenced in this request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChangeSetName",
        "c2jShape" : "ChangeSetName",
        "deprecated" : false,
        "documentation" : "<p>The non-unique name for the change set.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The non-unique name for the change set.</p>\n@param changeSetName The non-unique name for the change set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChangeSetName",
        "getterDocumentation" : "/**<p>The non-unique name for the change set.</p>\n@return The non-unique name for the change set.*/",
        "getterMethodName" : "getChangeSetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChangeSetName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChangeSetName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChangeSetName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The non-unique name for the change set.</p>\n@param changeSetName The non-unique name for the change set.*/",
        "setterMethodName" : "setChangeSetName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The non-unique name for the change set.</p>\n@param changeSetName The non-unique name for the change set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "changeSetName",
          "variableType" : "String",
          "documentation" : "<p>The non-unique name for the change set.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StartTime",
        "c2jShape" : "DateTimeISO8601",
        "deprecated" : false,
        "documentation" : "<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.</p>\n@param startTime The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStartTime",
        "getterDocumentation" : "/**<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.</p>\n@return The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.*/",
        "getterMethodName" : "getStartTime",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StartTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StartTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StartTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.</p>\n@param startTime The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.*/",
        "setterMethodName" : "setStartTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "startTime",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.</p>\n@param startTime The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "startTime",
          "variableType" : "String",
          "documentation" : "<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EndTime",
        "c2jShape" : "DateTimeISO8601",
        "deprecated" : false,
        "documentation" : "<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.</p>\n@param endTime The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndTime",
        "getterDocumentation" : "/**<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.</p>\n@return The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.*/",
        "getterMethodName" : "getEndTime",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EndTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EndTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.</p>\n@param endTime The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.*/",
        "setterMethodName" : "setEndTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endTime",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.</p>\n@param endTime The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endTime",
          "variableType" : "String",
          "documentation" : "<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "ChangeStatus",
        "deprecated" : false,
        "documentation" : "<p>The current status of the change set.</p>",
        "enumType" : "ChangeStatus",
        "fluentSetterDocumentation" : "/**<p>The current status of the change set.</p>\n@param status The current status of the change set.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The current status of the change set.</p>\n@return The current status of the change set.\n@see ChangeStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The current status of the change set.</p>\n@param status The current status of the change set.\n@see ChangeStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current status of the change set.</p>\n@param status The current status of the change set.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The current status of the change set.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EntityIdList",
        "c2jShape" : "ResourceIdList",
        "deprecated" : false,
        "documentation" : "<p>This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.</p>\n@param entityIdList This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEntityIdList",
        "getterDocumentation" : "/**<p>This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.</p>\n@return This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.*/",
        "getterMethodName" : "getEntityIdList",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EntityIdList",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EntityIdList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ResourceId",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "EntityIdList",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.</p>\n@param entityIdList This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.*/",
        "setterMethodName" : "setEntityIdList",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "entityIdList",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEntityIdList(java.util.Collection)} or {@link #withEntityIdList(java.util.Collection)} if you want to override the existing values.</p>\n@param entityIdList This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "entityIdList",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ChangeSetArn" : {
          "c2jName" : "ChangeSetArn",
          "c2jShape" : "ARN",
[...]
