{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-10-12",
    "asyncClient" : "AWSMediaPackageAsyncClient",
    "asyncClientBuilderClassName" : "AWSMediaPackageAsyncClientBuilder",
    "asyncInterface" : "AWSMediaPackageAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSMediaPackageModuleInjector",
    "defaultEndpoint" : "mediapackage.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mediapackage.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "AWS Elemental MediaPackage",
    "endpointPrefix" : "mediapackage",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mediapackage",
    "packagePath" : "com/amazonaws/services/mediapackage",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "MediaPackage",
    "serviceFullName" : "AWS Elemental MediaPackage",
    "serviceId" : "MediaPackage",
    "serviceName" : "MediaPackage",
    "signingName" : "mediapackage",
    "smokeTestsPackageName" : "com.amazonaws.services.mediapackage.smoketests",
    "syncClient" : "AWSMediaPackageClient",
    "syncClientBuilderClassName" : "AWSMediaPackageClientBuilder",
    "syncInterface" : "AWSMediaPackage",
    "uid" : "mediapackage-2017-10-12",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelRequest, CreateChannelResult>",
      "asyncReturnType" : "CreateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new Channel.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChannelRequest",
        "variableName" : "createChannelRequest",
        "variableType" : "CreateChannelRequest",
        "documentation" : "A new Channel configuration.",
        "simpleType" : "CreateChannelRequest",
        "variableSetterType" : "CreateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannel",
      "operationName" : "CreateChannel",
      "returnType" : {
        "returnType" : "CreateChannelResult",
        "documentation" : "The new Channel record."
      },
      "syncReturnType" : "CreateChannelResult"
    },
    "CreateOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateOriginEndpointRequest, CreateOriginEndpointResult>",
      "asyncReturnType" : "CreateOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new OriginEndpoint record.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateOriginEndpointRequest",
        "variableName" : "createOriginEndpointRequest",
        "variableType" : "CreateOriginEndpointRequest",
        "documentation" : "Configuration parameters used to create a new OriginEndpoint.",
        "simpleType" : "CreateOriginEndpointRequest",
        "variableSetterType" : "CreateOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createOriginEndpoint",
      "operationName" : "CreateOriginEndpoint",
      "returnType" : {
        "returnType" : "CreateOriginEndpointResult",
        "documentation" : "A new OriginEndpoint record."
      },
      "syncReturnType" : "CreateOriginEndpointResult"
    },
    "DeleteChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelRequest, DeleteChannelResult>",
      "asyncReturnType" : "DeleteChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an existing Channel.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelRequest",
        "variableName" : "deleteChannelRequest",
        "variableType" : "DeleteChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelRequest",
        "variableSetterType" : "DeleteChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannel",
      "operationName" : "DeleteChannel",
      "returnType" : {
        "returnType" : "DeleteChannelResult",
        "documentation" : "The Channel has been deleted."
      },
      "syncReturnType" : "DeleteChannelResult"
    },
    "DeleteOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteOriginEndpointRequest, DeleteOriginEndpointResult>",
      "asyncReturnType" : "DeleteOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an existing OriginEndpoint.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteOriginEndpointRequest",
        "variableName" : "deleteOriginEndpointRequest",
        "variableType" : "DeleteOriginEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteOriginEndpointRequest",
        "variableSetterType" : "DeleteOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteOriginEndpoint",
      "operationName" : "DeleteOriginEndpoint",
      "returnType" : {
        "returnType" : "DeleteOriginEndpointResult",
        "documentation" : "The OriginEndpoint has been deleted."
      },
      "syncReturnType" : "DeleteOriginEndpointResult"
    },
    "DescribeChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelRequest, DescribeChannelResult>",
      "asyncReturnType" : "DescribeChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Gets details about a Channel.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeChannelRequest",
        "variableName" : "describeChannelRequest",
        "variableType" : "DescribeChannelRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelRequest",
        "variableSetterType" : "DescribeChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannel",
      "operationName" : "DescribeChannel",
      "returnType" : {
        "returnType" : "DescribeChannelResult",
        "documentation" : "A Channel record."
      },
      "syncReturnType" : "DescribeChannelResult"
    },
    "DescribeOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeOriginEndpointRequest, DescribeOriginEndpointResult>",
      "asyncReturnType" : "DescribeOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Gets details about an existing OriginEndpoint.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeOriginEndpointRequest",
        "variableName" : "describeOriginEndpointRequest",
        "variableType" : "DescribeOriginEndpointRequest",
        "documentation" : "",
        "simpleType" : "DescribeOriginEndpointRequest",
        "variableSetterType" : "DescribeOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeOriginEndpoint",
      "operationName" : "DescribeOriginEndpoint",
      "returnType" : {
        "returnType" : "DescribeOriginEndpointResult",
        "documentation" : "An OriginEndpoint record."
      },
      "syncReturnType" : "DescribeOriginEndpointResult"
    },
    "ListChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChannelsRequest, ListChannelsResult>",
      "asyncReturnType" : "ListChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of Channels.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChannelsRequest",
        "variableName" : "listChannelsRequest",
        "variableType" : "ListChannelsRequest",
        "documentation" : "",
        "simpleType" : "ListChannelsRequest",
        "variableSetterType" : "ListChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChannels",
      "operationName" : "ListChannels",
      "returnType" : {
        "returnType" : "ListChannelsResult",
        "documentation" : "A collection of Channel records."
      },
      "syncReturnType" : "ListChannelsResult"
    },
    "ListOriginEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOriginEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOriginEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOriginEndpointsRequest, ListOriginEndpointsResult>",
      "asyncReturnType" : "ListOriginEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of OriginEndpoint records.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOriginEndpointsRequest",
        "variableName" : "listOriginEndpointsRequest",
        "variableType" : "ListOriginEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListOriginEndpointsRequest",
        "variableSetterType" : "ListOriginEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOriginEndpoints",
      "operationName" : "ListOriginEndpoints",
      "returnType" : {
        "returnType" : "ListOriginEndpointsResult",
        "documentation" : "A collection of OriginEndpoint records."
      },
      "syncReturnType" : "ListOriginEndpointsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RotateChannelCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RotateChannelCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RotateChannelCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RotateChannelCredentialsRequest, RotateChannelCredentialsResult>",
      "asyncReturnType" : "RotateChannelCredentialsResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "Changes the Channel's first IngestEndpoint's username and password. WARNING - This API is deprecated. Please use RotateIngestEndpointCredentials instead",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RotateChannelCredentialsRequest",
        "variableName" : "rotateChannelCredentialsRequest",
        "variableType" : "RotateChannelCredentialsRequest",
        "documentation" : "",
        "simpleType" : "RotateChannelCredentialsRequest",
        "variableSetterType" : "RotateChannelCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rotateChannelCredentials",
      "operationName" : "RotateChannelCredentials",
      "returnType" : {
        "returnType" : "RotateChannelCredentialsResult",
        "documentation" : "The updated Channel record."
      },
      "syncReturnType" : "RotateChannelCredentialsResult"
    },
    "RotateIngestEndpointCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RotateIngestEndpointCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RotateIngestEndpointCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RotateIngestEndpointCredentialsRequest, RotateIngestEndpointCredentialsResult>",
      "asyncReturnType" : "RotateIngestEndpointCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Rotate the IngestEndpoint's username and password, as specified by the IngestEndpoint's id.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RotateIngestEndpointCredentialsRequest",
        "variableName" : "rotateIngestEndpointCredentialsRequest",
        "variableType" : "RotateIngestEndpointCredentialsRequest",
        "documentation" : "",
        "simpleType" : "RotateIngestEndpointCredentialsRequest",
        "variableSetterType" : "RotateIngestEndpointCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rotateIngestEndpointCredentials",
      "operationName" : "RotateIngestEndpointCredentials",
      "returnType" : {
        "returnType" : "RotateIngestEndpointCredentialsResult",
        "documentation" : "The updated Channel record."
      },
      "syncReturnType" : "RotateIngestEndpointCredentialsResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateChannelRequest, UpdateChannelResult>",
      "asyncReturnType" : "UpdateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an existing Channel.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateChannelRequest",
        "variableName" : "updateChannelRequest",
        "variableType" : "UpdateChannelRequest",
        "documentation" : "Configuration parameters used to update the Channel.",
        "simpleType" : "UpdateChannelRequest",
        "variableSetterType" : "UpdateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateChannel",
      "operationName" : "UpdateChannel",
      "returnType" : {
        "returnType" : "UpdateChannelResult",
        "documentation" : "The updated Channel record."
      },
      "syncReturnType" : "UpdateChannelResult"
    },
    "UpdateOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateOriginEndpointRequest, UpdateOriginEndpointResult>",
      "asyncReturnType" : "UpdateOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an existing OriginEndpoint.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateOriginEndpointRequest",
        "variableName" : "updateOriginEndpointRequest",
        "variableType" : "UpdateOriginEndpointRequest",
        "documentation" : "Configuration parameters used to update an existing OriginEndpoint.",
        "simpleType" : "UpdateOriginEndpointRequest",
        "variableSetterType" : "UpdateOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateOriginEndpoint",
      "operationName" : "UpdateOriginEndpoint",
      "returnType" : {
        "returnType" : "UpdateOriginEndpointResult",
        "documentation" : "An updated OriginEndpoint record."
      },
      "syncReturnType" : "UpdateOriginEndpointResult"
    }
  },
  "shapes" : {
    "AdMarkers" : {
      "c2jName" : "AdMarkers",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "NONE",
        "value" : "NONE"
      }, {
        "name" : "SCTE35_ENHANCED",
        "value" : "SCTE35_ENHANCED"
      }, {
        "name" : "PASSTHROUGH",
        "value" : "PASSTHROUGH"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AdMarkers",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AdMarkers",
        "variableName" : "adMarkers",
        "variableType" : "AdMarkers",
        "documentation" : null,
        "simpleType" : "AdMarkers",
        "variableSetterType" : "AdMarkers"
      },
      "wrapper" : false
    },
    "Channel" : {
      "c2jName" : "Channel",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A Channel resource configuration.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Arn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@return The Amazon Resource Name (ARN) assigned to the Channel.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "A short text description of the Channel.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**A short text description of the Channel.\n@return A short text description of the Channel.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "A short text description of the Channel.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HlsIngest",
        "c2jShape" : "HlsIngest",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHlsIngest",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getHlsIngest",
        "getterModel" : {
          "returnType" : "HlsIngest",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "hlsIngest",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "hlsIngest",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "HlsIngest",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param hlsIngest */",
        "setterMethodName" : "setHlsIngest",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "HlsIngest",
          "variableName" : "hlsIngest",
          "variableType" : "HlsIngest",
          "documentation" : "",
          "simpleType" : "HlsIngest",
          "variableSetterType" : "HlsIngest"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "HlsIngest",
          "variableName" : "hlsIngest",
          "variableType" : "HlsIngest",
          "documentation" : "",
          "simpleType" : "HlsIngest",
          "variableSetterType" : "HlsIngest"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The ID of the Channel.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**The ID of the Channel.\n@return The ID of the Channel.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "The ID of the Channel.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "Tags",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param tags \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param tags */",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param tags \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "Arn",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@return The Amazon Resource Name (ARN) assigned to the Channel.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "sensitive" : false,
          "setterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "A short text description of the Channel.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**A short text description of the Channel.\n@return A short text description of the Channel.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "A short text description of the Channel.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HlsIngest" : {
          "c2jName" : "HlsIngest",
          "c2jShape" : "HlsIngest",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHlsIngest",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getHlsIngest",
          "getterModel" : {
            "returnType" : "HlsIngest",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "hlsIngest",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "hlsIngest",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "HlsIngest",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param hlsIngest */",
          "setterMethodName" : "setHlsIngest",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "HlsIngest",
            "variableName" : "hlsIngest",
            "variableType" : "HlsIngest",
            "documentation" : "",
            "simpleType" : "HlsIngest",
            "variableSetterType" : "HlsIngest"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "HlsIngest",
            "variableName" : "hlsIngest",
            "variableType" : "HlsIngest",
            "documentation" : "",
            "simpleType" : "HlsIngest",
            "variableSetterType" : "HlsIngest"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The ID of the Channel.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**The ID of the Channel.\n@return The ID of the Channel.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "id",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "The ID of the Channel.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "Tags",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param tags \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "__string",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Tags",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param tags */",
          "setterMethodName" : "setTags",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param tags \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Channel",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Channel",
        "variableName" : "channel",
        "variableType" : "Channel",
        "documentation" : null,
        "simpleType" : "Channel",
        "variableSetterType" : "Channel"
      },
      "wrapper" : false
    },
    "CmafEncryption" : {
      "c2jName" : "CmafEncryption",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A Common Media Application Format (CMAF) encryption configuration.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "KeyRotationIntervalSeconds",
        "c2jShape" : "__integer",
        "deprecated" : false,
        "documentation" : "Time (in seconds) between each encryption key rotation.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Time (in seconds) between each encryption key rotation.\n@param keyRotationIntervalSeconds Time (in seconds) between each encryption key rotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKeyRotationIntervalSeconds",
        "getterDocumentation" : "/**Time (in seconds) between each encryption key rotation.\n@return Time (in seconds) between each encryption key rotation.*/",
        "getterMethodName" : "getKeyRotationIntervalSeconds",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "keyRotationIntervalSeconds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "keyRotationIntervalSeconds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "KeyRotationIntervalSeconds",
        "sensitive" : false,
        "setterDocumentation" : "/**Time (in seconds) between each encryption key rotation.\n@param keyRotationIntervalSeconds Time (in seconds) between each encryption key rotation.*/",
        "setterMethodName" : "setKeyRotationIntervalSeconds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "keyRotationIntervalSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Time (in seconds) between each encryption key rotation.\n@param keyRotationIntervalSeconds Time (in seconds) between each encryption key rotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "keyRotationIntervalSeconds",
          "variableType" : "Integer",
          "documentation" : "Time (in seconds) between each encryption key rotation.",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SpekeKeyProvider",
        "c2jShape" : "SpekeKeyProvider",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param spekeKeyProvider \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSpekeKeyProvider",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getSpekeKeyProvider",
        "getterModel" : {
          "returnType" : "SpekeKeyProvider",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "spekeKeyProvider",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "spekeKeyProvider",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SpekeKeyProvider",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param spekeKeyProvider */",
        "setterMethodName" : "setSpekeKeyProvider",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SpekeKeyProvider",
          "variableName" : "spekeKeyProvider",
          "variableType" : "SpekeKeyProvider",
          "documentation" : "",
          "simpleType" : "SpekeKeyProvider",
          "variableSetterType" : "SpekeKeyProvider"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param spekeKeyProvider \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SpekeKeyProvider",
          "variableName" : "spekeKeyProvider",
          "variableType" : "SpekeKeyProvider",
          "documentation" : "",
          "simpleType" : "SpekeKeyProvider",
          "variableSetterType" : "SpekeKeyProvider"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "KeyRotationIntervalSeconds" : {
          "c2jName" : "KeyRotationIntervalSeconds",
          "c2jShape" : "__integer",
          "deprecated" : false,
          "documentation" : "Time (in seconds) between each encryption key rotation.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Time (in seconds) between each encryption key rotation.\n@param keyRotationIntervalSeconds Time (in seconds) between each encryption key rotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKeyRotationIntervalSeconds",
          "getterDocumentation" : "/**Time (in seconds) between each encryption key rotation.\n@return Time (in seconds) between each encryption key rotation.*/",
          "getterMethodName" : "getKeyRotationIntervalSeconds",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "keyRotationIntervalSeconds",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "keyRotationIntervalSeconds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "KeyRotationIntervalSeconds",
          "sensitive" : false,
          "setterDocumentation" : "/**Time (in seconds) between each encryption key rotation.\n@param keyRotationIntervalSeconds Time (in seconds) between each encryption key rotation.*/",
          "setterMethodName" : "setKeyRotationIntervalSeconds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "keyRotationIntervalSeconds",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Time (in seconds) between each encryption key rotation.\n@param keyRotationIntervalSeconds Time (in seconds) between each encryption key rotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "keyRotationIntervalSeconds",
            "variableType" : "Integer",
            "documentation" : "Time (in seconds) between each encryption key rotation.",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "SpekeKeyProvider" : {
          "c2jName" : "SpekeKeyProvider",
          "c2jShape" : "SpekeKeyProvider",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param spekeKeyProvider \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSpekeKeyProvider",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getSpekeKeyProvider",
          "getterModel" : {
            "returnType" : "SpekeKeyProvider",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "spekeKeyProvider",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "spekeKeyProvider",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SpekeKeyProvider",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param spekeKeyProvider */",
          "setterMethodName" : "setSpekeKeyProvider",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SpekeKeyProvider",
            "variableName" : "spekeKeyProvider",
            "variableType" : "SpekeKeyProvider",
            "documentation" : "",
            "simpleType" : "SpekeKeyProvider",
            "variableSetterType" : "SpekeKeyProvider"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param spekeKeyProvider \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SpekeKeyProvider",
            "variableName" : "spekeKeyProvider",
            "variableType" : "SpekeKeyProvider",
            "documentation" : "",
            "simpleType" : "SpekeKeyProvider",
            "variableSetterType" : "SpekeKeyProvider"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "SpekeKeyProvider" ],
      "shapeName" : "CmafEncryption",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CmafEncryption",
        "variableName" : "cmafEncryption",
        "variableType" : "CmafEncryption",
        "documentation" : null,
        "simpleType" : "CmafEncryption",
        "variableSetterType" : "CmafEncryption"
      },
      "wrapper" : false
    },
    "CmafPackage" : {
      "c2jName" : "CmafPackage",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A Common Media Application Format (CMAF) packaging configuration.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Encryption",
        "c2jShape" : "CmafEncryption",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param encryption \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEncryption",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getEncryption",
        "getterModel" : {
          "returnType" : "CmafEncryption",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "encryption",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "encryption",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Encryption",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param encryption */",
        "setterMethodName" : "setEncryption",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CmafEncryption",
          "variableName" : "encryption",
          "variableType" : "CmafEncryption",
          "documentation" : "",
          "simpleType" : "CmafEncryption",
          "variableSetterType" : "CmafEncryption"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param encryption \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CmafEncryption",
          "variableName" : "encryption",
          "variableType" : "CmafEncryption",
          "documentation" : "",
          "simpleType" : "CmafEncryption",
          "variableSetterType" : "CmafEncryption"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HlsManifests",
        "c2jShape" : "__listOfHlsManifest",
        "deprecated" : false,
        "documentation" : "A list of HLS manifest configurations",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A list of HLS manifest configurations\n@param hlsManifests A list of HLS manifest configurations\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHlsManifests",
        "getterDocumentation" : "/**A list of HLS manifest configurations\n@return A list of HLS manifest configurations*/",
        "getterMethodName" : "getHlsManifests",
        "getterModel" : {
          "returnType" : "java.util.List<HlsManifest>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "hlsManifests",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "hlsManifests",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "HlsManifest",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "HlsManifest",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "HlsManifest",
              "variableName" : "member",
              "variableType" : "HlsManifest",
              "documentation" : "",
              "simpleType" : "HlsManifest",
              "variableSetterType" : "HlsManifest"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "HlsManifest",
              "variableName" : "member",
              "variableType" : "HlsManifest",
              "documentation" : "",
              "simpleType" : "HlsManifest",
              "variableSetterType" : "HlsManifest"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "HlsManifest",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "HlsManifest",
          "templateImplType" : "java.util.ArrayList<HlsManifest>",
          "templateType" : "java.util.List<HlsManifest>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "HlsManifests",
        "sensitive" : false,
        "setterDocumentation" : "/**A list of HLS manifest configurations\n@param hlsManifests A list of HLS manifest configurations*/",
        "setterMethodName" : "setHlsManifests",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<HlsManifest>",
          "variableName" : "hlsManifests",
          "variableType" : "java.util.List<HlsManifest>",
          "documentation" : "",
          "simpleType" : "List<HlsManifest>",
          "variableSetterType" : "java.util.Collection<HlsManifest>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A list of HLS manifest configurations\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setHlsManifests(java.util.Collection)} or {@link #withHlsManifests(java.util.Collection)} if you want to override the existing values.</p>\n@param hlsManifests A list of HLS manifest configurations\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<HlsManifest>",
          "variableName" : "hlsManifests",
          "variableType" : "java.util.List<HlsManifest>",
          "documentation" : "A list of HLS manifest configurations",
          "simpleType" : "List<HlsManifest>",
          "variableSetterType" : "java.util.Collection<HlsManifest>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SegmentDurationSeconds",
        "c2jShape" : "__integer",
        "deprecated" : false,
        "documentation" : "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n\n@param segmentDurationSeconds Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSegmentDurationSeconds",
        "getterDocumentation" : "/**Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n\n@return Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.*/",
        "getterMethodName" : "getSegmentDurationSeconds",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "segmentDurationSeconds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "segmentDurationSeconds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "SegmentDurationSeconds",
        "sensitive" : false,
        "setterDocumentation" : "/**Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n\n@param segmentDurationSeconds Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.*/",
        "setterMethodName" : "setSegmentDurationSeconds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "segmentDurationSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
