{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-11-14",
    "asyncClient" : "AWSMediaConnectAsyncClient",
    "asyncClientBuilderClassName" : "AWSMediaConnectAsyncClientBuilder",
    "asyncInterface" : "AWSMediaConnectAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSMediaConnectModuleInjector",
    "defaultEndpoint" : "mediaconnect.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mediaconnect.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "API for AWS Elemental MediaConnect",
    "endpointPrefix" : "mediaconnect",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mediaconnect",
    "packagePath" : "com/amazonaws/services/mediaconnect",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS MediaConnect",
    "serviceId" : "MediaConnect",
    "serviceName" : "AWS MediaConnect",
    "signingName" : "mediaconnect",
    "smokeTestsPackageName" : "com.amazonaws.services.mediaconnect.smoketests",
    "syncClient" : "AWSMediaConnectClient",
    "syncClientBuilderClassName" : "AWSMediaConnectClientBuilder",
    "syncInterface" : "AWSMediaConnect",
    "uid" : "mediaconnect-2018-11-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddFlowMediaStreams" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddFlowMediaStreamsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddFlowMediaStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddFlowMediaStreamsRequest, AddFlowMediaStreamsResult>",
      "asyncReturnType" : "AddFlowMediaStreamsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Adds media streams to an existing flow. After you add a media stream to a flow, you can associate it with a source and/or an output that uses the ST 2110 JPEG XS or CDI protocol.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddFlowMediaStreamsRequest",
        "variableName" : "addFlowMediaStreamsRequest",
        "variableType" : "AddFlowMediaStreamsRequest",
        "documentation" : "A request to add media streams to the flow.",
        "simpleType" : "AddFlowMediaStreamsRequest",
        "variableSetterType" : "AddFlowMediaStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addFlowMediaStreams",
      "operationName" : "AddFlowMediaStreams",
      "returnType" : {
        "returnType" : "AddFlowMediaStreamsResult",
        "documentation" : "MediaConnect created the new resource successfully."
      },
      "syncReturnType" : "AddFlowMediaStreamsResult"
    },
    "AddFlowOutputs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddFlowOutputsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddFlowOutputsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddFlowOutputsRequest, AddFlowOutputsResult>",
      "asyncReturnType" : "AddFlowOutputsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Adds outputs to an existing flow. You can create up to 50 outputs per flow.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AddFlowOutputs420Exception",
        "documentation" : "AWS Elemental MediaConnect can't complete this request because this flow already has the maximum number of allowed outputs (50). For more information, contact AWS Customer Support.",
        "httpStatusCode" : 420
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddFlowOutputsRequest",
        "variableName" : "addFlowOutputsRequest",
        "variableType" : "AddFlowOutputsRequest",
        "documentation" : "A request to add outputs to the specified flow.",
        "simpleType" : "AddFlowOutputsRequest",
        "variableSetterType" : "AddFlowOutputsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addFlowOutputs",
      "operationName" : "AddFlowOutputs",
      "returnType" : {
        "returnType" : "AddFlowOutputsResult",
        "documentation" : "AWS Elemental MediaConnect added the outputs successfully."
      },
      "syncReturnType" : "AddFlowOutputsResult"
    },
    "AddFlowSources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddFlowSourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddFlowSourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddFlowSourcesRequest, AddFlowSourcesResult>",
      "asyncReturnType" : "AddFlowSourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Adds Sources to flow",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddFlowSourcesRequest",
        "variableName" : "addFlowSourcesRequest",
        "variableType" : "AddFlowSourcesRequest",
        "documentation" : "A request to add sources to the flow.",
        "simpleType" : "AddFlowSourcesRequest",
        "variableSetterType" : "AddFlowSourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addFlowSources",
      "operationName" : "AddFlowSources",
      "returnType" : {
        "returnType" : "AddFlowSourcesResult",
        "documentation" : "AWS Elemental MediaConnect added sources to the flow successfully."
      },
      "syncReturnType" : "AddFlowSourcesResult"
    },
    "AddFlowVpcInterfaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddFlowVpcInterfacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddFlowVpcInterfacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddFlowVpcInterfacesRequest, AddFlowVpcInterfacesResult>",
      "asyncReturnType" : "AddFlowVpcInterfacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Adds VPC interfaces to flow",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddFlowVpcInterfacesRequest",
        "variableName" : "addFlowVpcInterfacesRequest",
        "variableType" : "AddFlowVpcInterfacesRequest",
        "documentation" : "A request to add VPC interfaces to the flow.",
        "simpleType" : "AddFlowVpcInterfacesRequest",
        "variableSetterType" : "AddFlowVpcInterfacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addFlowVpcInterfaces",
      "operationName" : "AddFlowVpcInterfaces",
      "returnType" : {
        "returnType" : "AddFlowVpcInterfacesResult",
        "documentation" : "The following VPC interface was added to the Flow configuration."
      },
      "syncReturnType" : "AddFlowVpcInterfacesResult"
    },
    "CreateFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFlowRequest, CreateFlowResult>",
      "asyncReturnType" : "CreateFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50).",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CreateFlow420Exception",
        "documentation" : "Your account already contains the maximum number of 20 flows per account, per Region. For more information, contact AWS Customer Support.",
        "httpStatusCode" : 420
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFlowRequest",
        "variableName" : "createFlowRequest",
        "variableType" : "CreateFlowRequest",
        "documentation" : "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50).",
        "simpleType" : "CreateFlowRequest",
        "variableSetterType" : "CreateFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFlow",
      "operationName" : "CreateFlow",
      "returnType" : {
        "returnType" : "CreateFlowResult",
        "documentation" : "AWS Elemental MediaConnect created the new flow successfully."
      },
      "syncReturnType" : "CreateFlowResult"
    },
    "DeleteFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFlowRequest, DeleteFlowResult>",
      "asyncReturnType" : "DeleteFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a flow. Before you can delete a flow, you must stop the flow.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFlowRequest",
        "variableName" : "deleteFlowRequest",
        "variableType" : "DeleteFlowRequest",
        "documentation" : "",
        "simpleType" : "DeleteFlowRequest",
        "variableSetterType" : "DeleteFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFlow",
      "operationName" : "DeleteFlow",
      "returnType" : {
        "returnType" : "DeleteFlowResult",
        "documentation" : "AWS Elemental MediaConnect is deleting the flow."
      },
      "syncReturnType" : "DeleteFlowResult"
    },
    "DescribeFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFlowRequest, DescribeFlowResult>",
      "asyncReturnType" : "DescribeFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Displays the details of a flow. The response includes the flow ARN, name, and Availability Zone, as well as details about the source, outputs, and entitlements.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFlowRequest",
        "variableName" : "describeFlowRequest",
        "variableType" : "DescribeFlowRequest",
        "documentation" : "",
        "simpleType" : "DescribeFlowRequest",
        "variableSetterType" : "DescribeFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFlow",
      "operationName" : "DescribeFlow",
      "returnType" : {
        "returnType" : "DescribeFlowResult",
        "documentation" : "AWS Elemental MediaConnect returned the flow details successfully."
      },
      "syncReturnType" : "DescribeFlowResult"
    },
    "DescribeOffering" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeOfferingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeOfferingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeOfferingRequest, DescribeOfferingResult>",
      "asyncReturnType" : "DescribeOfferingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Displays the details of an offering. The response includes the offering description, duration, outbound bandwidth, price, and Amazon Resource Name (ARN).",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeOfferingRequest",
        "variableName" : "describeOfferingRequest",
        "variableType" : "DescribeOfferingRequest",
        "documentation" : "",
        "simpleType" : "DescribeOfferingRequest",
        "variableSetterType" : "DescribeOfferingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeOffering",
      "operationName" : "DescribeOffering",
      "returnType" : {
        "returnType" : "DescribeOfferingResult",
        "documentation" : "MediaConnect returned the offering details successfully."
      },
      "syncReturnType" : "DescribeOfferingResult"
    },
    "DescribeReservation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReservationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReservationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReservationRequest, DescribeReservationResult>",
      "asyncReturnType" : "DescribeReservationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Displays the details of a reservation. The response includes the reservation name, state, start date and time, and the details of the offering that make up the rest of the reservation (such as price, duration, and outbound bandwidth).",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReservationRequest",
        "variableName" : "describeReservationRequest",
        "variableType" : "DescribeReservationRequest",
        "documentation" : "",
        "simpleType" : "DescribeReservationRequest",
        "variableSetterType" : "DescribeReservationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReservation",
      "operationName" : "DescribeReservation",
      "returnType" : {
        "returnType" : "DescribeReservationResult",
        "documentation" : "MediaConnect returned the reservation details successfully."
      },
      "syncReturnType" : "DescribeReservationResult"
    },
    "GrantFlowEntitlements" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GrantFlowEntitlementsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GrantFlowEntitlementsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GrantFlowEntitlementsRequest, GrantFlowEntitlementsResult>",
      "asyncReturnType" : "GrantFlowEntitlementsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Grants entitlements to an existing flow.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "GrantFlowEntitlements420Exception",
        "documentation" : "AWS Elemental MediaConnect can't complete this request because this flow already has the maximum number of allowed entitlements (50). For more information, contact AWS Customer Support.",
        "httpStatusCode" : 420
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GrantFlowEntitlementsRequest",
        "variableName" : "grantFlowEntitlementsRequest",
        "variableType" : "GrantFlowEntitlementsRequest",
        "documentation" : "A request to grant entitlements on a flow.",
        "simpleType" : "GrantFlowEntitlementsRequest",
        "variableSetterType" : "GrantFlowEntitlementsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "grantFlowEntitlements",
      "operationName" : "GrantFlowEntitlements",
      "returnType" : {
        "returnType" : "GrantFlowEntitlementsResult",
        "documentation" : "AWS Elemental MediaConnect granted the entitlements successfully."
      },
      "syncReturnType" : "GrantFlowEntitlementsResult"
    },
    "ListEntitlements" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEntitlementsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEntitlementsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEntitlementsRequest, ListEntitlementsResult>",
      "asyncReturnType" : "ListEntitlementsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Displays a list of all entitlements that have been granted to this account. This request returns 20 results per page.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEntitlementsRequest",
        "variableName" : "listEntitlementsRequest",
        "variableType" : "ListEntitlementsRequest",
        "documentation" : "",
        "simpleType" : "ListEntitlementsRequest",
        "variableSetterType" : "ListEntitlementsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEntitlements",
      "operationName" : "ListEntitlements",
      "returnType" : {
        "returnType" : "ListEntitlementsResult",
        "documentation" : "AWS Elemental MediaConnect returned the list of entitlements successfully."
      },
      "syncReturnType" : "ListEntitlementsResult"
    },
    "ListFlows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFlowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFlowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFlowsRequest, ListFlowsResult>",
      "asyncReturnType" : "ListFlowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Displays a list of flows that are associated with this account. This request returns a paginated result.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFlowsRequest",
        "variableName" : "listFlowsRequest",
        "variableType" : "ListFlowsRequest",
        "documentation" : "",
        "simpleType" : "ListFlowsRequest",
        "variableSetterType" : "ListFlowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFlows",
      "operationName" : "ListFlows",
      "returnType" : {
        "returnType" : "ListFlowsResult",
        "documentation" : "AWS Elemental MediaConnect returned the list of flows successfully."
      },
      "syncReturnType" : "ListFlowsResult"
    },
    "ListOfferings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOfferingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOfferingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOfferingsRequest, ListOfferingsResult>",
      "asyncReturnType" : "ListOfferingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Displays a list of all offerings that are available to this account in the current AWS Region. If you have an active reservation (which means you've purchased an offering that has already started and hasn't expired yet), your account isn't eligible for other offerings.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOfferingsRequest",
        "variableName" : "listOfferingsRequest",
        "variableType" : "ListOfferingsRequest",
        "documentation" : "",
        "simpleType" : "ListOfferingsRequest",
        "variableSetterType" : "ListOfferingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOfferings",
      "operationName" : "ListOfferings",
      "returnType" : {
        "returnType" : "ListOfferingsResult",
        "documentation" : "MediaConnect returned the list of offerings successfully."
      },
      "syncReturnType" : "ListOfferingsResult"
    },
    "ListReservations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReservationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReservationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReservationsRequest, ListReservationsResult>",
      "asyncReturnType" : "ListReservationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Displays a list of all reservations that have been purchased by this account in the current AWS Region. This list includes all reservations in all states (such as active and expired).",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReservationsRequest",
        "variableName" : "listReservationsRequest",
        "variableType" : "ListReservationsRequest",
        "documentation" : "",
        "simpleType" : "ListReservationsRequest",
        "variableSetterType" : "ListReservationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReservations",
      "operationName" : "ListReservations",
      "returnType" : {
        "returnType" : "ListReservationsResult",
        "documentation" : "MediaConnect returned the list of reservations successfully."
      },
      "syncReturnType" : "ListReservationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List all tags on an AWS Elemental MediaConnect resource",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource was not found",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The client performed an invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "Internal service error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "The tags for the resource"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PurchaseOffering" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PurchaseOfferingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PurchaseOfferingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PurchaseOfferingRequest, PurchaseOfferingResult>",
      "asyncReturnType" : "PurchaseOfferingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Submits a request to purchase an offering. If you already have an active reservation, you can't purchase another offering.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PurchaseOfferingRequest",
        "variableName" : "purchaseOfferingRequest",
        "variableType" : "PurchaseOfferingRequest",
        "documentation" : "A request to purchase a offering.",
        "simpleType" : "PurchaseOfferingRequest",
        "variableSetterType" : "PurchaseOfferingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "purchaseOffering",
      "operationName" : "PurchaseOffering",
      "returnType" : {
        "returnType" : "PurchaseOfferingResult",
        "documentation" : "AWS Elemental MediaConnect purchased offering successfully."
      },
      "syncReturnType" : "PurchaseOfferingResult"
    },
    "RemoveFlowMediaStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveFlowMediaStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveFlowMediaStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveFlowMediaStreamRequest, RemoveFlowMediaStreamResult>",
      "asyncReturnType" : "RemoveFlowMediaStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Removes a media stream from a flow. This action is only available if the media stream is not associated with a source or output.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveFlowMediaStreamRequest",
        "variableName" : "removeFlowMediaStreamRequest",
        "variableType" : "RemoveFlowMediaStreamRequest",
        "documentation" : "",
        "simpleType" : "RemoveFlowMediaStreamRequest",
        "variableSetterType" : "RemoveFlowMediaStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeFlowMediaStream",
      "operationName" : "RemoveFlowMediaStream",
      "returnType" : {
        "returnType" : "RemoveFlowMediaStreamResult",
        "documentation" : "The media stream was successfully removed from the flow."
      },
      "syncReturnType" : "RemoveFlowMediaStreamResult"
    },
    "RemoveFlowOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveFlowOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveFlowOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveFlowOutputRequest, RemoveFlowOutputResult>",
      "asyncReturnType" : "RemoveFlowOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Removes an output from an existing flow. This request can be made only on an output that does not have an entitlement associated with it. If the output has an entitlement, you must revoke the entitlement instead. When an entitlement is revoked from a flow, the service automatically removes the associated output.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveFlowOutputRequest",
        "variableName" : "removeFlowOutputRequest",
        "variableType" : "RemoveFlowOutputRequest",
        "documentation" : "",
        "simpleType" : "RemoveFlowOutputRequest",
        "variableSetterType" : "RemoveFlowOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeFlowOutput",
      "operationName" : "RemoveFlowOutput",
      "returnType" : {
        "returnType" : "RemoveFlowOutputResult",
        "documentation" : "output successfully removed from flow configuration."
      },
      "syncReturnType" : "RemoveFlowOutputResult"
    },
    "RemoveFlowSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveFlowSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveFlowSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveFlowSourceRequest, RemoveFlowSourceResult>",
      "asyncReturnType" : "RemoveFlowSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Removes a source from an existing flow. This request can be made only if there is more than one source on the flow.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveFlowSourceRequest",
        "variableName" : "removeFlowSourceRequest",
        "variableType" : "RemoveFlowSourceRequest",
        "documentation" : "",
        "simpleType" : "RemoveFlowSourceRequest",
        "variableSetterType" : "RemoveFlowSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeFlowSource",
      "operationName" : "RemoveFlowSource",
      "returnType" : {
        "returnType" : "RemoveFlowSourceResult",
        "documentation" : "source successfully removed from flow configuration."
      },
      "syncReturnType" : "RemoveFlowSourceResult"
    },
    "RemoveFlowVpcInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveFlowVpcInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveFlowVpcInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveFlowVpcInterfaceRequest, RemoveFlowVpcInterfaceResult>",
      "asyncReturnType" : "RemoveFlowVpcInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Removes a VPC Interface from an existing flow. This request can be made only on a VPC interface that does not have a Source or Output associated with it. If the VPC interface is referenced by a Source or Output, you must first delete or update the Source or Output to no longer reference the VPC interface.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveFlowVpcInterfaceRequest",
        "variableName" : "removeFlowVpcInterfaceRequest",
        "variableType" : "RemoveFlowVpcInterfaceRequest",
        "documentation" : "",
        "simpleType" : "RemoveFlowVpcInterfaceRequest",
        "variableSetterType" : "RemoveFlowVpcInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeFlowVpcInterface",
      "operationName" : "RemoveFlowVpcInterface",
      "returnType" : {
        "returnType" : "RemoveFlowVpcInterfaceResult",
        "documentation" : "VPC interface successfully removed from flow configuration."
      },
      "syncReturnType" : "RemoveFlowVpcInterfaceResult"
    },
    "RevokeFlowEntitlement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokeFlowEntitlementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokeFlowEntitlementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeFlowEntitlementRequest, RevokeFlowEntitlementResult>",
      "asyncReturnType" : "RevokeFlowEntitlementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Revokes an entitlement from a flow. Once an entitlement is revoked, the content becomes unavailable to the subscriber and the associated output is removed.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokeFlowEntitlementRequest",
        "variableName" : "revokeFlowEntitlementRequest",
        "variableType" : "RevokeFlowEntitlementRequest",
        "documentation" : "",
        "simpleType" : "RevokeFlowEntitlementRequest",
        "variableSetterType" : "RevokeFlowEntitlementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokeFlowEntitlement",
      "operationName" : "RevokeFlowEntitlement",
      "returnType" : {
        "returnType" : "RevokeFlowEntitlementResult",
        "documentation" : "AWS Elemental MediaConnect revoked the entitlement successfully."
      },
      "syncReturnType" : "RevokeFlowEntitlementResult"
    },
    "StartFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartFlowRequest, StartFlowResult>",
      "asyncReturnType" : "StartFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Starts a flow.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartFlowRequest",
        "variableName" : "startFlowRequest",
        "variableType" : "StartFlowRequest",
        "documentation" : "",
        "simpleType" : "StartFlowRequest",
        "variableSetterType" : "StartFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startFlow",
      "operationName" : "StartFlow",
      "returnType" : {
        "returnType" : "StartFlowResult",
        "documentation" : "AWS Elemental MediaConnect is starting the flow."
      },
      "syncReturnType" : "StartFlowResult"
    },
    "StopFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopFlowRequest, StopFlowResult>",
      "asyncReturnType" : "StopFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Stops a flow.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopFlowRequest",
        "variableName" : "stopFlowRequest",
        "variableType" : "StopFlowRequest",
        "documentation" : "",
        "simpleType" : "StopFlowRequest",
        "variableSetterType" : "StopFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopFlow",
      "operationName" : "StopFlow",
      "returnType" : {
        "returnType" : "StopFlowResult",
        "documentation" : "AWS Elemental MediaConnect is stopping the flow."
      },
      "syncReturnType" : "StopFlowResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Associates the specified tags to a resource with the specified resourceArn. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are deleted as well.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource was not found",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The client performed an invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "Internal service error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "The tags to add to the resource. A tag is an array of key-value pairs. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes specified tags from a resource.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource was not found",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The client performed an invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "Internal service error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFlowRequest, UpdateFlowResult>",
      "asyncReturnType" : "UpdateFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates flow",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFlowRequest",
        "variableName" : "updateFlowRequest",
        "variableType" : "UpdateFlowRequest",
        "documentation" : "A request to update flow.",
        "simpleType" : "UpdateFlowRequest",
        "variableSetterType" : "UpdateFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFlow",
      "operationName" : "UpdateFlow",
      "returnType" : {
        "returnType" : "UpdateFlowResult",
        "documentation" : "AWS Elemental MediaConnect updated the flow successfully."
      },
      "syncReturnType" : "UpdateFlowResult"
    },
    "UpdateFlowEntitlement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFlowEntitlementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFlowEntitlementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFlowEntitlementRequest, UpdateFlowEntitlementResult>",
      "asyncReturnType" : "UpdateFlowEntitlementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "You can change an entitlement's description, subscribers, and encryption. If you change the subscribers, the service will remove the outputs that are are used by the subscribers that are removed.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFlowEntitlementRequest",
        "variableName" : "updateFlowEntitlementRequest",
        "variableType" : "UpdateFlowEntitlementRequest",
        "documentation" : "The entitlement fields that you want to update.",
        "simpleType" : "UpdateFlowEntitlementRequest",
        "variableSetterType" : "UpdateFlowEntitlementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFlowEntitlement",
      "operationName" : "UpdateFlowEntitlement",
      "returnType" : {
        "returnType" : "UpdateFlowEntitlementResult",
        "documentation" : "AWS Elemental MediaConnect updated the entitlement successfully."
      },
      "syncReturnType" : "UpdateFlowEntitlementResult"
    },
    "UpdateFlowMediaStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFlowMediaStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFlowMediaStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFlowMediaStreamRequest, UpdateFlowMediaStreamResult>",
      "asyncReturnType" : "UpdateFlowMediaStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an existing media stream.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFlowMediaStreamRequest",
        "variableName" : "updateFlowMediaStreamRequest",
        "variableType" : "UpdateFlowMediaStreamRequest",
        "documentation" : "The fields that you want to update in the media stream.",
        "simpleType" : "UpdateFlowMediaStreamRequest",
        "variableSetterType" : "UpdateFlowMediaStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFlowMediaStream",
      "operationName" : "UpdateFlowMediaStream",
      "returnType" : {
        "returnType" : "UpdateFlowMediaStreamResult",
        "documentation" : "MediaConnect is updating the media stream."
      },
      "syncReturnType" : "UpdateFlowMediaStreamResult"
    },
    "UpdateFlowOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFlowOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFlowOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFlowOutputRequest, UpdateFlowOutputResult>",
      "asyncReturnType" : "UpdateFlowOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an existing flow output.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFlowOutputRequest",
        "variableName" : "updateFlowOutputRequest",
        "variableType" : "UpdateFlowOutputRequest",
        "documentation" : "The fields that you want to update in the output.",
        "simpleType" : "UpdateFlowOutputRequest",
        "variableSetterType" : "UpdateFlowOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFlowOutput",
      "operationName" : "UpdateFlowOutput",
      "returnType" : {
        "returnType" : "UpdateFlowOutputResult",
        "documentation" : "AWS Elemental MediaConnect updated the output successfully."
      },
      "syncReturnType" : "UpdateFlowOutputResult"
    },
    "UpdateFlowSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFlowSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFlowSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFlowSourceRequest, UpdateFlowSourceResult>",
      "asyncReturnType" : "UpdateFlowSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates the source of a flow.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFlowSourceRequest",
        "variableName" : "updateFlowSourceRequest",
        "variableType" : "UpdateFlowSourceRequest",
        "documentation" : "A request to update the source of a flow.",
        "simpleType" : "UpdateFlowSourceRequest",
        "variableSetterType" : "UpdateFlowSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFlowSource",
      "operationName" : "UpdateFlowSource",
      "returnType" : {
        "returnType" : "UpdateFlowSourceResult",
        "documentation" : "AWS Elemental MediaConnect updated the flow successfully."
      },
      "syncReturnType" : "UpdateFlowSourceResult"
    }
  },
  "shapes" : {
    "AddFlowMediaStreamsRequest" : {
      "c2jName" : "AddFlowMediaStreamsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A request to add media streams to the flow.",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mediaconnect.request.AddFlowMediaStreamsRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddFlowMediaStreams",
        "locationName" : null,
        "requestUri" : "/v1/flows/{flowArn}/mediaStreams",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "FlowArn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The Amazon Resource Name (ARN) of the flow.",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) of the flow.\n@param flowArn The Amazon Resource Name (ARN) of the flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFlowArn",
        "getterDocumentation" : "/**The Amazon Resource Name (ARN) of the flow.\n@return The Amazon Resource Name (ARN) of the flow.*/",
        "getterMethodName" : "getFlowArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "flowArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "flowArn",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FlowArn",
        "sensitive" : false,
        "setterDocumentation" : "/**The Amazon Resource Name (ARN) of the flow.\n@param flowArn The Amazon Resource Name (ARN) of the flow.*/",
        "setterMethodName" : "setFlowArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "flowArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) of the flow.\n@param flowArn The Amazon Resource Name (ARN) of the flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "flowArn",
          "variableType" : "String",
          "documentation" : "The Amazon Resource Name (ARN) of the flow.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MediaStreams",
        "c2jShape" : "__listOfAddMediaStreamRequest",
        "deprecated" : false,
        "documentation" : "The media streams that you want to add to the flow.",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The media streams that you want to add to the flow.\n@param mediaStreams The media streams that you want to add to the flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMediaStreams",
        "getterDocumentation" : "/**The media streams that you want to add to the flow.\n@return The media streams that you want to add to the flow.*/",
        "getterMethodName" : "getMediaStreams",
        "getterModel" : {
          "returnType" : "java.util.List<AddMediaStreamRequest>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "mediaStreams",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "mediaStreams",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AddMediaStreamRequest",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "AddMediaStreamRequest",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "AddMediaStreamRequest",
              "variableName" : "member",
              "variableType" : "AddMediaStreamRequest",
              "documentation" : "",
              "simpleType" : "AddMediaStreamRequest",
              "variableSetterType" : "AddMediaStreamRequest"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "AddMediaStreamRequest",
              "variableName" : "member",
              "variableType" : "AddMediaStreamRequest",
              "documentation" : "",
              "simpleType" : "AddMediaStreamRequest",
              "variableSetterType" : "AddMediaStreamRequest"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "AddMediaStreamRequest",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "AddMediaStreamRequest",
          "templateImplType" : "java.util.ArrayList<AddMediaStreamRequest>",
          "templateType" : "java.util.List<AddMediaStreamRequest>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "MediaStreams",
        "sensitive" : false,
        "setterDocumentation" : "/**The media streams that you want to add to the flow.\n@param mediaStreams The media streams that you want to add to the flow.*/",
        "setterMethodName" : "setMediaStreams",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<AddMediaStreamRequest>",
          "variableName" : "mediaStreams",
          "variableType" : "java.util.List<AddMediaStreamRequest>",
          "documentation" : "",
          "simpleType" : "List<AddMediaStreamRequest>",
          "variableSetterType" : "java.util.Collection<AddMediaStreamRequest>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The media streams that you want to add to the flow.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMediaStreams(java.util.Collection)} or {@link #withMediaStreams(java.util.Collection)} if you want to override the existing values.</p>\n@param mediaStreams The media streams that you want to add to the flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<AddMediaStreamRequest>",
          "variableName" : "mediaStreams",
          "variableType" : "java.util.List<AddMediaStreamRequest>",
          "documentation" : "The media streams that you want to add to the flow.",
          "simpleType" : "List<AddMediaStreamRequest>",
          "variableSetterType" : "java.util.Collection<AddMediaStreamRequest>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FlowArn" : {
          "c2jName" : "FlowArn",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The Amazon Resource Name (ARN) of the flow.",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) of the flow.\n@param flowArn The Amazon Resource Name (ARN) of the flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFlowArn",
          "getterDocumentation" : "/**The Amazon Resource Name (ARN) of the flow.\n@return The Amazon Resource Name (ARN) of the flow.*/",
          "getterMethodName" : "getFlowArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "flowArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "flowArn",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FlowArn",
          "sensitive" : false,
          "setterDocumentation" : "/**The Amazon Resource Name (ARN) of the flow.\n@param flowArn The Amazon Resource Name (ARN) of the flow.*/",
          "setterMethodName" : "setFlowArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "flowArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) of the flow.\n@param flowArn The Amazon Resource Name (ARN) of the flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "flowArn",
            "variableType" : "String",
            "documentation" : "The Amazon Resource Name (ARN) of the flow.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MediaStreams" : {
          "c2jName" : "MediaStreams",
          "c2jShape" : "__listOfAddMediaStreamRequest",
          "deprecated" : false,
          "documentation" : "The media streams that you want to add to the flow.",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The media streams that you want to add to the flow.\n@param mediaStreams The media streams that you want to add to the flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMediaStreams",
          "getterDocumentation" : "/**The media streams that you want to add to the flow.\n@return The media streams that you want to add to the flow.*/",
          "getterMethodName" : "getMediaStreams",
          "getterModel" : {
            "returnType" : "java.util.List<AddMediaStreamRequest>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "mediaStreams",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "mediaStreams",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "AddMediaStreamRequest",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "AddMediaStreamRequest",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
[...]
