{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-12-25",
    "asyncClient" : "AWSMediaPackageV2AsyncClient",
    "asyncClientBuilderClassName" : "AWSMediaPackageV2AsyncClientBuilder",
    "asyncInterface" : "AWSMediaPackageV2Async",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSMediaPackageV2ModuleInjector",
    "defaultEndpoint" : "mediapackagev2.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mediapackagev2.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<note> <p>This guide is intended for creating AWS Elemental MediaPackage resources in MediaPackage Version 2 (v2) starting from May 2023. To get started with MediaPackage v2, create your MediaPackage resources. There isn't an automated process to migrate your resources from MediaPackage v1 to MediaPackage v2. </p> <p>The names of the entities that you use to access this API, like URLs and ARNs, all have the versioning information added, like \"v2\", to distinguish from the prior version. If you used MediaPackage prior to this release, you can't use the MediaPackage v2 CLI or the MediaPackage v2 API to access any MediaPackage v1 resources.</p> <p>If you created resources in MediaPackage v1, use video on demand (VOD) workflows, and aren't looking to migrate to MediaPackage v2 yet, see the <a href=\"https://docs.aws.amazon.com/mediapackage/latest/apireference/what-is.html\">MediaPackage v1 Live API Reference</a>.</p> </note> <p>This is the AWS Elemental MediaPackage v2 Live REST API Reference. It describes all the MediaPackage API operations for live content in detail, and provides sample requests, responses, and errors for the supported web services protocols.</p> <p>We assume that you have the IAM permissions that you need to use MediaPackage via the REST API. We also assume that you are familiar with the features and operations of MediaPackage, as described in the AWS Elemental MediaPackage User Guide.</p>",
    "endpointPrefix" : "mediapackagev2",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mediapackagev2",
    "packagePath" : "com/amazonaws/services/mediapackagev2",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "mediapackagev2",
    "serviceFullName" : "AWS Elemental MediaPackage v2",
    "serviceId" : "MediaPackageV2",
    "serviceName" : "mediapackagev2",
    "signingName" : "mediapackagev2",
    "smokeTestsPackageName" : "com.amazonaws.services.mediapackagev2.smoketests",
    "syncClient" : "AWSMediaPackageV2Client",
    "syncClientBuilderClassName" : "AWSMediaPackageV2ClientBuilder",
    "syncInterface" : "AWSMediaPackageV2",
    "uid" : "mediapackagev2-2022-12-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelRequest, CreateChannelResult>",
      "asyncReturnType" : "CreateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a channel to start receiving content streams. The channel represents the input to MediaPackage for incoming live content from an encoder such as AWS Elemental MediaLive. The channel receives content, and after packaging it, outputs it through an origin endpoint to downstream devices (such as video players or CDNs) that request the content. You can create only one channel with each request. We recommend that you spread out channels between channel groups, such as putting redundant channels in the same AWS Region in different channel groups.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChannelRequest",
        "variableName" : "createChannelRequest",
        "variableType" : "CreateChannelRequest",
        "documentation" : "",
        "simpleType" : "CreateChannelRequest",
        "variableSetterType" : "CreateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannel",
      "operationName" : "CreateChannel",
      "returnType" : {
        "returnType" : "CreateChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateChannelResult"
    },
    "CreateChannelGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelGroupRequest, CreateChannelGroupResult>",
      "asyncReturnType" : "CreateChannelGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a channel group to group your channels and origin endpoints. A channel group is the top-level resource that consists of channels and origin endpoints that are associated with it and that provides predictable URLs for stream delivery. All channels and origin endpoints within the channel group are guaranteed to share the DNS. You can create only one channel group with each request. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChannelGroupRequest",
        "variableName" : "createChannelGroupRequest",
        "variableType" : "CreateChannelGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateChannelGroupRequest",
        "variableSetterType" : "CreateChannelGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannelGroup",
      "operationName" : "CreateChannelGroup",
      "returnType" : {
        "returnType" : "CreateChannelGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateChannelGroupResult"
    },
    "CreateOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateOriginEndpointRequest, CreateOriginEndpointResult>",
      "asyncReturnType" : "CreateOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The endpoint is attached to a channel, and represents the output of the live content. You can associate multiple endpoints to a single channel. Each endpoint gives players and downstream CDNs (such as Amazon CloudFront) access to the content for playback. Content can't be served from a channel until it has an endpoint. You can create only one endpoint with each request. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateOriginEndpointRequest",
        "variableName" : "createOriginEndpointRequest",
        "variableType" : "CreateOriginEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateOriginEndpointRequest",
        "variableSetterType" : "CreateOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createOriginEndpoint",
      "operationName" : "CreateOriginEndpoint",
      "returnType" : {
        "returnType" : "CreateOriginEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateOriginEndpointResult"
    },
    "DeleteChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelRequest, DeleteChannelResult>",
      "asyncReturnType" : "DeleteChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a channel to stop AWS Elemental MediaPackage from receiving further content. You must delete the channel's origin endpoints before you can delete the channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelRequest",
        "variableName" : "deleteChannelRequest",
        "variableType" : "DeleteChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelRequest",
        "variableSetterType" : "DeleteChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannel",
      "operationName" : "DeleteChannel",
      "returnType" : {
        "returnType" : "DeleteChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChannelResult"
    },
    "DeleteChannelGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelGroupRequest, DeleteChannelGroupResult>",
      "asyncReturnType" : "DeleteChannelGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a channel group. You must delete the channel group's channels and origin endpoints before you can delete the channel group. If you delete a channel group, you'll lose access to the egress domain and will have to create a new channel group to replace it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelGroupRequest",
        "variableName" : "deleteChannelGroupRequest",
        "variableType" : "DeleteChannelGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelGroupRequest",
        "variableSetterType" : "DeleteChannelGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannelGroup",
      "operationName" : "DeleteChannelGroup",
      "returnType" : {
        "returnType" : "DeleteChannelGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChannelGroupResult"
    },
    "DeleteChannelPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelPolicyRequest, DeleteChannelPolicyResult>",
      "asyncReturnType" : "DeleteChannelPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a channel policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteChannelPolicyRequest",
        "variableName" : "deleteChannelPolicyRequest",
        "variableType" : "DeleteChannelPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelPolicyRequest",
        "variableSetterType" : "DeleteChannelPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannelPolicy",
      "operationName" : "DeleteChannelPolicy",
      "returnType" : {
        "returnType" : "DeleteChannelPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteChannelPolicyResult"
    },
    "DeleteOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteOriginEndpointRequest, DeleteOriginEndpointResult>",
      "asyncReturnType" : "DeleteOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Origin endpoints can serve content until they're deleted. Delete the endpoint if it should no longer respond to playback requests. You must delete all endpoints from a channel before you can delete the channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteOriginEndpointRequest",
        "variableName" : "deleteOriginEndpointRequest",
        "variableType" : "DeleteOriginEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteOriginEndpointRequest",
        "variableSetterType" : "DeleteOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteOriginEndpoint",
      "operationName" : "DeleteOriginEndpoint",
      "returnType" : {
        "returnType" : "DeleteOriginEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteOriginEndpointResult"
    },
    "DeleteOriginEndpointPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteOriginEndpointPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteOriginEndpointPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteOriginEndpointPolicyRequest, DeleteOriginEndpointPolicyResult>",
      "asyncReturnType" : "DeleteOriginEndpointPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an origin endpoint policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteOriginEndpointPolicyRequest",
        "variableName" : "deleteOriginEndpointPolicyRequest",
        "variableType" : "DeleteOriginEndpointPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteOriginEndpointPolicyRequest",
        "variableSetterType" : "DeleteOriginEndpointPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteOriginEndpointPolicy",
      "operationName" : "DeleteOriginEndpointPolicy",
      "returnType" : {
        "returnType" : "DeleteOriginEndpointPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteOriginEndpointPolicyResult"
    },
    "GetChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChannelRequest, GetChannelResult>",
      "asyncReturnType" : "GetChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified channel that's configured in AWS Elemental MediaPackage, including the origin endpoints that are associated with it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChannelRequest",
        "variableName" : "getChannelRequest",
        "variableType" : "GetChannelRequest",
        "documentation" : "",
        "simpleType" : "GetChannelRequest",
        "variableSetterType" : "GetChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChannel",
      "operationName" : "GetChannel",
      "returnType" : {
        "returnType" : "GetChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetChannelResult"
    },
    "GetChannelGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChannelGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChannelGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChannelGroupRequest, GetChannelGroupResult>",
      "asyncReturnType" : "GetChannelGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified channel group that's configured in AWS Elemental MediaPackage, including the channels and origin endpoints that are associated with it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChannelGroupRequest",
        "variableName" : "getChannelGroupRequest",
        "variableType" : "GetChannelGroupRequest",
        "documentation" : "",
        "simpleType" : "GetChannelGroupRequest",
        "variableSetterType" : "GetChannelGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChannelGroup",
      "operationName" : "GetChannelGroup",
      "returnType" : {
        "returnType" : "GetChannelGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetChannelGroupResult"
    },
    "GetChannelPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChannelPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChannelPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChannelPolicyRequest, GetChannelPolicyResult>",
      "asyncReturnType" : "GetChannelPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified channel policy that's configured in AWS Elemental MediaPackage. With policies, you can specify who has access to AWS resources and what actions they can perform on those resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChannelPolicyRequest",
        "variableName" : "getChannelPolicyRequest",
        "variableType" : "GetChannelPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetChannelPolicyRequest",
        "variableSetterType" : "GetChannelPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChannelPolicy",
      "operationName" : "GetChannelPolicy",
      "returnType" : {
        "returnType" : "GetChannelPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetChannelPolicyResult"
    },
    "GetOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOriginEndpointRequest, GetOriginEndpointResult>",
      "asyncReturnType" : "GetOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified origin endpoint that's configured in AWS Elemental MediaPackage to obtain its playback URL and to view the packaging settings that it's currently using.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOriginEndpointRequest",
        "variableName" : "getOriginEndpointRequest",
        "variableType" : "GetOriginEndpointRequest",
        "documentation" : "",
        "simpleType" : "GetOriginEndpointRequest",
        "variableSetterType" : "GetOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOriginEndpoint",
      "operationName" : "GetOriginEndpoint",
      "returnType" : {
        "returnType" : "GetOriginEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOriginEndpointResult"
    },
    "GetOriginEndpointPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOriginEndpointPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOriginEndpointPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOriginEndpointPolicyRequest, GetOriginEndpointPolicyResult>",
      "asyncReturnType" : "GetOriginEndpointPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified origin endpoint policy that's configured in AWS Elemental MediaPackage.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOriginEndpointPolicyRequest",
        "variableName" : "getOriginEndpointPolicyRequest",
        "variableType" : "GetOriginEndpointPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetOriginEndpointPolicyRequest",
        "variableSetterType" : "GetOriginEndpointPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOriginEndpointPolicy",
      "operationName" : "GetOriginEndpointPolicy",
      "returnType" : {
        "returnType" : "GetOriginEndpointPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOriginEndpointPolicyResult"
    },
    "ListChannelGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChannelGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChannelGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChannelGroupsRequest, ListChannelGroupsResult>",
      "asyncReturnType" : "ListChannelGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all channel groups that are configured in AWS Elemental MediaPackage, including the channels and origin endpoints that are associated with it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChannelGroupsRequest",
        "variableName" : "listChannelGroupsRequest",
        "variableType" : "ListChannelGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListChannelGroupsRequest",
        "variableSetterType" : "ListChannelGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChannelGroups",
      "operationName" : "ListChannelGroups",
      "returnType" : {
        "returnType" : "ListChannelGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChannelGroupsResult"
    },
    "ListChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChannelsRequest, ListChannelsResult>",
      "asyncReturnType" : "ListChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all channels in a specific channel group that are configured in AWS Elemental MediaPackage, including the origin endpoints that are associated with it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChannelsRequest",
        "variableName" : "listChannelsRequest",
        "variableType" : "ListChannelsRequest",
        "documentation" : "",
        "simpleType" : "ListChannelsRequest",
        "variableSetterType" : "ListChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChannels",
      "operationName" : "ListChannels",
      "returnType" : {
        "returnType" : "ListChannelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChannelsResult"
    },
    "ListOriginEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOriginEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOriginEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOriginEndpointsRequest, ListOriginEndpointsResult>",
      "asyncReturnType" : "ListOriginEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all origin endpoints in a specific channel that are configured in AWS Elemental MediaPackage.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOriginEndpointsRequest",
        "variableName" : "listOriginEndpointsRequest",
        "variableType" : "ListOriginEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListOriginEndpointsRequest",
        "variableSetterType" : "ListOriginEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOriginEndpoints",
      "operationName" : "ListOriginEndpoints",
      "returnType" : {
        "returnType" : "ListOriginEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOriginEndpointsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags assigned to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutChannelPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutChannelPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutChannelPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutChannelPolicyRequest, PutChannelPolicyResult>",
      "asyncReturnType" : "PutChannelPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches an IAM policy to the specified channel. With policies, you can specify who has access to AWS resources and what actions they can perform on those resources. You can attach only one policy with each request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutChannelPolicyRequest",
        "variableName" : "putChannelPolicyRequest",
        "variableType" : "PutChannelPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutChannelPolicyRequest",
        "variableSetterType" : "PutChannelPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putChannelPolicy",
      "operationName" : "PutChannelPolicy",
      "returnType" : {
        "returnType" : "PutChannelPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutChannelPolicyResult"
    },
    "PutOriginEndpointPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutOriginEndpointPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutOriginEndpointPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutOriginEndpointPolicyRequest, PutOriginEndpointPolicyResult>",
      "asyncReturnType" : "PutOriginEndpointPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches an IAM policy to the specified origin endpoint. You can attach only one policy with each request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutOriginEndpointPolicyRequest",
        "variableName" : "putOriginEndpointPolicyRequest",
        "variableType" : "PutOriginEndpointPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutOriginEndpointPolicyRequest",
        "variableSetterType" : "PutOriginEndpointPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putOriginEndpointPolicy",
      "operationName" : "PutOriginEndpointPolicy",
      "returnType" : {
        "returnType" : "PutOriginEndpointPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutOriginEndpointPolicyResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one of more tags (key-value pairs) to the specified MediaPackage resource.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only resources with certain tag values. You can use the TagResource operation with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateChannelRequest, UpdateChannelResult>",
      "asyncReturnType" : "UpdateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the specified channel. You can edit if MediaPackage sends ingest or egress access logs to the CloudWatch log group, if content will be encrypted, the description on a channel, and your channel's policy settings. You can't edit the name of the channel or CloudFront distribution details.</p> <p>Any edits you make that impact the video output may not be reflected for a few minutes.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateChannelRequest",
        "variableName" : "updateChannelRequest",
        "variableType" : "UpdateChannelRequest",
        "documentation" : "",
        "simpleType" : "UpdateChannelRequest",
        "variableSetterType" : "UpdateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateChannel",
      "operationName" : "UpdateChannel",
      "returnType" : {
        "returnType" : "UpdateChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateChannelResult"
    },
    "UpdateChannelGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateChannelGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateChannelGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateChannelGroupRequest, UpdateChannelGroupResult>",
      "asyncReturnType" : "UpdateChannelGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the specified channel group. You can edit the description on a channel group for easier identification later from the AWS Elemental MediaPackage console. You can't edit the name of the channel group.</p> <p>Any edits you make that impact the video output may not be reflected for a few minutes.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateChannelGroupRequest",
        "variableName" : "updateChannelGroupRequest",
        "variableType" : "UpdateChannelGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateChannelGroupRequest",
        "variableSetterType" : "UpdateChannelGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateChannelGroup",
      "operationName" : "UpdateChannelGroup",
      "returnType" : {
        "returnType" : "UpdateChannelGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateChannelGroupResult"
    },
    "UpdateOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateOriginEndpointRequest, UpdateOriginEndpointResult>",
      "asyncReturnType" : "UpdateOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the specified origin endpoint. Edit the packaging preferences on an endpoint to optimize the viewing experience. You can't edit the name of the endpoint.</p> <p>Any edits you make that impact the video output may not be reflected for a few minutes.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to meet the constraints specified by the AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateOriginEndpointRequest",
        "variableName" : "updateOriginEndpointRequest",
        "variableType" : "UpdateOriginEndpointRequest",
        "documentation" : "",
        "simpleType" : "UpdateOriginEndpointRequest",
        "variableSetterType" : "UpdateOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateOriginEndpoint",
      "operationName" : "UpdateOriginEndpoint",
      "returnType" : {
        "returnType" : "UpdateOriginEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateOriginEndpointResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.mediapackagev2.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.mediapackagev2.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AdMarkerDash" : {
      "c2jName" : "AdMarkerDash",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "BINARY",
        "value" : "BINARY"
      }, {
        "name" : "XML",
        "value" : "XML"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mediapackagev2.enum.AdMarkerDash",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.mediapackagev2.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AdMarkerDash",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AdMarkerDash",
        "variableName" : "adMarkerDash",
        "variableType" : "AdMarkerDash",
        "documentation" : null,
        "simpleType" : "AdMarkerDash",
        "variableSetterType" : "AdMarkerDash"
      },
      "wrapper" : false
    },
    "AdMarkerHls" : {
      "c2jName" : "AdMarkerHls",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "DATERANGE",
        "value" : "DATERANGE"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mediapackagev2.enum.AdMarkerHls",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.mediapackagev2.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AdMarkerHls",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AdMarkerHls",
        "variableName" : "adMarkerHls",
        "variableType" : "AdMarkerHls",
        "documentation" : null,
        "simpleType" : "AdMarkerHls",
        "variableSetterType" : "AdMarkerHls"
      },
      "wrapper" : false
    },
    "ChannelGroupListConfiguration" : {
      "c2jName" : "ChannelGroupListConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configuration of the channel group.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mediapackagev2.model.ChannelGroupListConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ChannelGroupName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>\n@param channelGroupName The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChannelGroupName",
        "getterDocumentation" : "/**<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>\n@return The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.*/",
        "getterMethodName" : "getChannelGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChannelGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChannelGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChannelGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>\n@param channelGroupName The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.*/",
        "setterMethodName" : "setChannelGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>\n@param channelGroupName The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelGroupName",
          "variableType" : "String",
          "documentation" : "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Arn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the resource.</p>\n@param arn The Amazon Resource Name (ARN) associated with the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the resource.</p>\n@return The Amazon Resource Name (ARN) associated with the resource.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the resource.</p>\n@param arn The Amazon Resource Name (ARN) associated with the resource.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the resource.</p>\n@param arn The Amazon Resource Name (ARN) associated with the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time the channel group was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time the channel group was created.</p>\n@param createdAt The date and time the channel group was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>The date and time the channel group was created.</p>\n@return The date and time the channel group was created.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time the channel group was created.</p>\n@param createdAt The date and time the channel group was created.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time the channel group was created.</p>\n@param createdAt The date and time the channel group was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time the channel group was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ModifiedAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time the channel group was modified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time the channel group was modified.</p>\n@param modifiedAt The date and time the channel group was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModifiedAt",
        "getterDocumentation" : "/**<p>The date and time the channel group was modified.</p>\n@return The date and time the channel group was modified.*/",
        "getterMethodName" : "getModifiedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ModifiedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ModifiedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "ModifiedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time the channel group was modified.</p>\n@param modifiedAt The date and time the channel group was modified.*/",
        "setterMethodName" : "setModifiedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "modifiedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time the channel group was modified.</p>\n@param modifiedAt The date and time the channel group was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "modifiedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time the channel group was modified.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "ResourceDescription",
        "deprecated" : false,
        "documentation" : "<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>\n@param description Any descriptive information that you want to add to the channel group for future identification purposes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>\n@return Any descriptive information that you want to add to the channel group for future identification purposes.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>\n@param description Any descriptive information that you want to add to the channel group for future identification purposes.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>\n@param description Any descriptive information that you want to add to the channel group for future identification purposes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "Arn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the resource.</p>\n@param arn The Amazon Resource Name (ARN) associated with the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the resource.</p>\n@return The Amazon Resource Name (ARN) associated with the resource.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Arn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the resource.</p>\n@param arn The Amazon Resource Name (ARN) associated with the resource.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) associated with the resource.</p>\n@param arn The Amazon Resource Name (ARN) associated with the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ChannelGroupName" : {
          "c2jName" : "ChannelGroupName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>\n@param channelGroupName The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChannelGroupName",
          "getterDocumentation" : "/**<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>\n@return The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.*/",
          "getterMethodName" : "getChannelGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ChannelGroupName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ChannelGroupName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChannelGroupName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>\n@param channelGroupName The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.*/",
          "setterMethodName" : "setChannelGroupName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
[...]
