{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-11-07",
    "asyncClient" : "AWSMediaPackageVodAsyncClient",
    "asyncClientBuilderClassName" : "AWSMediaPackageVodAsyncClientBuilder",
    "asyncInterface" : "AWSMediaPackageVodAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSMediaPackageVodModuleInjector",
    "defaultEndpoint" : "mediapackage-vod.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mediapackage-vod.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "AWS Elemental MediaPackage VOD",
    "endpointPrefix" : "mediapackage-vod",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mediapackagevod",
    "packagePath" : "com/amazonaws/services/mediapackagevod",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "MediaPackage Vod",
    "serviceFullName" : "AWS Elemental MediaPackage VOD",
    "serviceId" : "MediaPackage Vod",
    "serviceName" : "MediaPackage Vod",
    "signingName" : "mediapackage-vod",
    "smokeTestsPackageName" : "com.amazonaws.services.mediapackagevod.smoketests",
    "syncClient" : "AWSMediaPackageVodClient",
    "syncClientBuilderClassName" : "AWSMediaPackageVodClientBuilder",
    "syncInterface" : "AWSMediaPackageVod",
    "uid" : "mediapackage-vod-2018-11-07",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAsset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssetRequest, CreateAssetResult>",
      "asyncReturnType" : "CreateAssetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new MediaPackage VOD Asset resource.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAssetRequest",
        "variableName" : "createAssetRequest",
        "variableType" : "CreateAssetRequest",
        "documentation" : "A new MediaPackage VOD Asset configuration.",
        "simpleType" : "CreateAssetRequest",
        "variableSetterType" : "CreateAssetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAsset",
      "operationName" : "CreateAsset",
      "returnType" : {
        "returnType" : "CreateAssetResult",
        "documentation" : "The new MediaPackage VOD Asset resource."
      },
      "syncReturnType" : "CreateAssetResult"
    },
    "CreatePackagingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePackagingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePackagingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePackagingConfigurationRequest, CreatePackagingConfigurationResult>",
      "asyncReturnType" : "CreatePackagingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new MediaPackage VOD PackagingConfiguration resource.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePackagingConfigurationRequest",
        "variableName" : "createPackagingConfigurationRequest",
        "variableType" : "CreatePackagingConfigurationRequest",
        "documentation" : "A new MediaPackage VOD PackagingConfiguration resource configuration.",
        "simpleType" : "CreatePackagingConfigurationRequest",
        "variableSetterType" : "CreatePackagingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPackagingConfiguration",
      "operationName" : "CreatePackagingConfiguration",
      "returnType" : {
        "returnType" : "CreatePackagingConfigurationResult",
        "documentation" : "The new MediaPackage VOD PackagingConfiguration resource."
      },
      "syncReturnType" : "CreatePackagingConfigurationResult"
    },
    "CreatePackagingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePackagingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePackagingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePackagingGroupRequest, CreatePackagingGroupResult>",
      "asyncReturnType" : "CreatePackagingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new MediaPackage VOD PackagingGroup resource.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePackagingGroupRequest",
        "variableName" : "createPackagingGroupRequest",
        "variableType" : "CreatePackagingGroupRequest",
        "documentation" : "A new MediaPackage VOD PackagingGroup resource configuration.",
        "simpleType" : "CreatePackagingGroupRequest",
        "variableSetterType" : "CreatePackagingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPackagingGroup",
      "operationName" : "CreatePackagingGroup",
      "returnType" : {
        "returnType" : "CreatePackagingGroupResult",
        "documentation" : "The new MediaPackage VOD PackagingGroup resource."
      },
      "syncReturnType" : "CreatePackagingGroupResult"
    },
    "DeleteAsset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssetRequest, DeleteAssetResult>",
      "asyncReturnType" : "DeleteAssetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an existing MediaPackage VOD Asset resource.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAssetRequest",
        "variableName" : "deleteAssetRequest",
        "variableType" : "DeleteAssetRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssetRequest",
        "variableSetterType" : "DeleteAssetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAsset",
      "operationName" : "DeleteAsset",
      "returnType" : {
        "returnType" : "DeleteAssetResult",
        "documentation" : "The MediaPackage VOD Asset resource has been deleted."
      },
      "syncReturnType" : "DeleteAssetResult"
    },
    "DeletePackagingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePackagingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePackagingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePackagingConfigurationRequest, DeletePackagingConfigurationResult>",
      "asyncReturnType" : "DeletePackagingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a MediaPackage VOD PackagingConfiguration resource.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePackagingConfigurationRequest",
        "variableName" : "deletePackagingConfigurationRequest",
        "variableType" : "DeletePackagingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeletePackagingConfigurationRequest",
        "variableSetterType" : "DeletePackagingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePackagingConfiguration",
      "operationName" : "DeletePackagingConfiguration",
      "returnType" : {
        "returnType" : "DeletePackagingConfigurationResult",
        "documentation" : "The MediaPackage VOD PackagingConfiguration resource has been deleted."
      },
      "syncReturnType" : "DeletePackagingConfigurationResult"
    },
    "DeletePackagingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePackagingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePackagingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePackagingGroupRequest, DeletePackagingGroupResult>",
      "asyncReturnType" : "DeletePackagingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a MediaPackage VOD PackagingGroup resource.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePackagingGroupRequest",
        "variableName" : "deletePackagingGroupRequest",
        "variableType" : "DeletePackagingGroupRequest",
        "documentation" : "",
        "simpleType" : "DeletePackagingGroupRequest",
        "variableSetterType" : "DeletePackagingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePackagingGroup",
      "operationName" : "DeletePackagingGroup",
      "returnType" : {
        "returnType" : "DeletePackagingGroupResult",
        "documentation" : "The MediaPackage VOD PackagingGroup resource has been deleted."
      },
      "syncReturnType" : "DeletePackagingGroupResult"
    },
    "DescribeAsset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAssetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAssetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAssetRequest, DescribeAssetResult>",
      "asyncReturnType" : "DescribeAssetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a description of a MediaPackage VOD Asset resource.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAssetRequest",
        "variableName" : "describeAssetRequest",
        "variableType" : "DescribeAssetRequest",
        "documentation" : "",
        "simpleType" : "DescribeAssetRequest",
        "variableSetterType" : "DescribeAssetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAsset",
      "operationName" : "DescribeAsset",
      "returnType" : {
        "returnType" : "DescribeAssetResult",
        "documentation" : "A MediaPackage VOD Asset resource."
      },
      "syncReturnType" : "DescribeAssetResult"
    },
    "DescribePackagingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePackagingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePackagingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePackagingConfigurationRequest, DescribePackagingConfigurationResult>",
      "asyncReturnType" : "DescribePackagingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a description of a MediaPackage VOD PackagingConfiguration resource.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePackagingConfigurationRequest",
        "variableName" : "describePackagingConfigurationRequest",
        "variableType" : "DescribePackagingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribePackagingConfigurationRequest",
        "variableSetterType" : "DescribePackagingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePackagingConfiguration",
      "operationName" : "DescribePackagingConfiguration",
      "returnType" : {
        "returnType" : "DescribePackagingConfigurationResult",
        "documentation" : "A MediaPackage VOD PackagingConfiguration resource."
      },
      "syncReturnType" : "DescribePackagingConfigurationResult"
    },
    "DescribePackagingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePackagingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePackagingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePackagingGroupRequest, DescribePackagingGroupResult>",
      "asyncReturnType" : "DescribePackagingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a description of a MediaPackage VOD PackagingGroup resource.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePackagingGroupRequest",
        "variableName" : "describePackagingGroupRequest",
        "variableType" : "DescribePackagingGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribePackagingGroupRequest",
        "variableSetterType" : "DescribePackagingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePackagingGroup",
      "operationName" : "DescribePackagingGroup",
      "returnType" : {
        "returnType" : "DescribePackagingGroupResult",
        "documentation" : "A MediaPackage VOD PackagingGroup resource."
      },
      "syncReturnType" : "DescribePackagingGroupResult"
    },
    "ListAssets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssetsRequest, ListAssetsResult>",
      "asyncReturnType" : "ListAssetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of MediaPackage VOD Asset resources.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssetsRequest",
        "variableName" : "listAssetsRequest",
        "variableType" : "ListAssetsRequest",
        "documentation" : "",
        "simpleType" : "ListAssetsRequest",
        "variableSetterType" : "ListAssetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssets",
      "operationName" : "ListAssets",
      "returnType" : {
        "returnType" : "ListAssetsResult",
        "documentation" : "A collection of MediaPackage VOD Asset resources."
      },
      "syncReturnType" : "ListAssetsResult"
    },
    "ListPackagingConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPackagingConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPackagingConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPackagingConfigurationsRequest, ListPackagingConfigurationsResult>",
      "asyncReturnType" : "ListPackagingConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of MediaPackage VOD PackagingConfiguration resources.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPackagingConfigurationsRequest",
        "variableName" : "listPackagingConfigurationsRequest",
        "variableType" : "ListPackagingConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListPackagingConfigurationsRequest",
        "variableSetterType" : "ListPackagingConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPackagingConfigurations",
      "operationName" : "ListPackagingConfigurations",
      "returnType" : {
        "returnType" : "ListPackagingConfigurationsResult",
        "documentation" : "A collection of MediaPackage VOD PackagingConfiguration resources."
      },
      "syncReturnType" : "ListPackagingConfigurationsResult"
    },
    "ListPackagingGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPackagingGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPackagingGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPackagingGroupsRequest, ListPackagingGroupsResult>",
      "asyncReturnType" : "ListPackagingGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of MediaPackage VOD PackagingGroup resources.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPackagingGroupsRequest",
        "variableName" : "listPackagingGroupsRequest",
        "variableType" : "ListPackagingGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListPackagingGroupsRequest",
        "variableSetterType" : "ListPackagingGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPackagingGroups",
      "operationName" : "ListPackagingGroups",
      "returnType" : {
        "returnType" : "ListPackagingGroupsResult",
        "documentation" : "A collection of MediaPackage VOD PackagingGroup resources."
      },
      "syncReturnType" : "ListPackagingGroupsResult"
    }
  },
  "shapes" : {
    "AdMarkers" : {
      "c2jName" : "AdMarkers",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "NONE",
        "value" : "NONE"
      }, {
        "name" : "SCTE35_ENHANCED",
        "value" : "SCTE35_ENHANCED"
      }, {
        "name" : "PASSTHROUGH",
        "value" : "PASSTHROUGH"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AdMarkers",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AdMarkers",
        "variableName" : "adMarkers",
        "variableType" : "AdMarkers",
        "documentation" : null,
        "simpleType" : "AdMarkers",
        "variableSetterType" : "AdMarkers"
      },
      "wrapper" : false
    },
    "AssetShallow" : {
      "c2jName" : "AssetShallow",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A MediaPackage VOD Asset resource.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Arn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The ARN of the Asset.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ARN of the Asset.\n@param arn The ARN of the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**The ARN of the Asset.\n@return The ARN of the Asset.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**The ARN of the Asset.\n@param arn The ARN of the Asset.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ARN of the Asset.\n@param arn The ARN of the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "The ARN of the Asset.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedAt",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The time the Asset was initially submitted for Ingest.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The time the Asset was initially submitted for Ingest.\n@param createdAt The time the Asset was initially submitted for Ingest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**The time the Asset was initially submitted for Ingest.\n@return The time the Asset was initially submitted for Ingest.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**The time the Asset was initially submitted for Ingest.\n@param createdAt The time the Asset was initially submitted for Ingest.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "createdAt",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The time the Asset was initially submitted for Ingest.\n@param createdAt The time the Asset was initially submitted for Ingest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "createdAt",
          "variableType" : "String",
          "documentation" : "The time the Asset was initially submitted for Ingest.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The unique identifier for the Asset.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The unique identifier for the Asset.\n@param id The unique identifier for the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**The unique identifier for the Asset.\n@return The unique identifier for the Asset.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**The unique identifier for the Asset.\n@param id The unique identifier for the Asset.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The unique identifier for the Asset.\n@param id The unique identifier for the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "The unique identifier for the Asset.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PackagingGroupId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The ID of the PackagingGroup for the Asset.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ID of the PackagingGroup for the Asset.\n@param packagingGroupId The ID of the PackagingGroup for the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPackagingGroupId",
        "getterDocumentation" : "/**The ID of the PackagingGroup for the Asset.\n@return The ID of the PackagingGroup for the Asset.*/",
        "getterMethodName" : "getPackagingGroupId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "packagingGroupId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "packagingGroupId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PackagingGroupId",
        "sensitive" : false,
        "setterDocumentation" : "/**The ID of the PackagingGroup for the Asset.\n@param packagingGroupId The ID of the PackagingGroup for the Asset.*/",
        "setterMethodName" : "setPackagingGroupId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "packagingGroupId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ID of the PackagingGroup for the Asset.\n@param packagingGroupId The ID of the PackagingGroup for the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "packagingGroupId",
          "variableType" : "String",
          "documentation" : "The ID of the PackagingGroup for the Asset.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The resource ID to include in SPEKE key requests.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The resource ID to include in SPEKE key requests.\n@param resourceId The resource ID to include in SPEKE key requests.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceId",
        "getterDocumentation" : "/**The resource ID to include in SPEKE key requests.\n@return The resource ID to include in SPEKE key requests.*/",
        "getterMethodName" : "getResourceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceId",
        "sensitive" : false,
        "setterDocumentation" : "/**The resource ID to include in SPEKE key requests.\n@param resourceId The resource ID to include in SPEKE key requests.*/",
        "setterMethodName" : "setResourceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The resource ID to include in SPEKE key requests.\n@param resourceId The resource ID to include in SPEKE key requests.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "The resource ID to include in SPEKE key requests.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SourceArn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "ARN of the source object in S3.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**ARN of the source object in S3.\n@param sourceArn ARN of the source object in S3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSourceArn",
        "getterDocumentation" : "/**ARN of the source object in S3.\n@return ARN of the source object in S3.*/",
        "getterMethodName" : "getSourceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "sourceArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SourceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**ARN of the source object in S3.\n@param sourceArn ARN of the source object in S3.*/",
        "setterMethodName" : "setSourceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**ARN of the source object in S3.\n@param sourceArn ARN of the source object in S3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceArn",
          "variableType" : "String",
          "documentation" : "ARN of the source object in S3.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SourceRoleArn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The IAM role ARN used to access the source S3 bucket.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The IAM role ARN used to access the source S3 bucket.\n@param sourceRoleArn The IAM role ARN used to access the source S3 bucket.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSourceRoleArn",
        "getterDocumentation" : "/**The IAM role ARN used to access the source S3 bucket.\n@return The IAM role ARN used to access the source S3 bucket.*/",
        "getterMethodName" : "getSourceRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "sourceRoleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sourceRoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SourceRoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**The IAM role ARN used to access the source S3 bucket.\n@param sourceRoleArn The IAM role ARN used to access the source S3 bucket.*/",
        "setterMethodName" : "setSourceRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceRoleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The IAM role ARN used to access the source S3 bucket.\n@param sourceRoleArn The IAM role ARN used to access the source S3 bucket.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceRoleArn",
          "variableType" : "String",
          "documentation" : "The IAM role ARN used to access the source S3 bucket.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "Arn",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The ARN of the Asset.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The ARN of the Asset.\n@param arn The ARN of the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**The ARN of the Asset.\n@return The ARN of the Asset.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "sensitive" : false,
          "setterDocumentation" : "/**The ARN of the Asset.\n@param arn The ARN of the Asset.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The ARN of the Asset.\n@param arn The ARN of the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "The ARN of the Asset.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CreatedAt" : {
          "c2jName" : "CreatedAt",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The time the Asset was initially submitted for Ingest.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The time the Asset was initially submitted for Ingest.\n@param createdAt The time the Asset was initially submitted for Ingest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedAt",
          "getterDocumentation" : "/**The time the Asset was initially submitted for Ingest.\n@return The time the Asset was initially submitted for Ingest.*/",
          "getterMethodName" : "getCreatedAt",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "createdAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "createdAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CreatedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**The time the Asset was initially submitted for Ingest.\n@param createdAt The time the Asset was initially submitted for Ingest.*/",
          "setterMethodName" : "setCreatedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "createdAt",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The time the Asset was initially submitted for Ingest.\n@param createdAt The time the Asset was initially submitted for Ingest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "createdAt",
            "variableType" : "String",
            "documentation" : "The time the Asset was initially submitted for Ingest.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The unique identifier for the Asset.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The unique identifier for the Asset.\n@param id The unique identifier for the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**The unique identifier for the Asset.\n@return The unique identifier for the Asset.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**The unique identifier for the Asset.\n@param id The unique identifier for the Asset.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The unique identifier for the Asset.\n@param id The unique identifier for the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "The unique identifier for the Asset.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PackagingGroupId" : {
          "c2jName" : "PackagingGroupId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The ID of the PackagingGroup for the Asset.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The ID of the PackagingGroup for the Asset.\n@param packagingGroupId The ID of the PackagingGroup for the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPackagingGroupId",
          "getterDocumentation" : "/**The ID of the PackagingGroup for the Asset.\n@return The ID of the PackagingGroup for the Asset.*/",
          "getterMethodName" : "getPackagingGroupId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "packagingGroupId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "packagingGroupId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "PackagingGroupId",
          "sensitive" : false,
          "setterDocumentation" : "/**The ID of the PackagingGroup for the Asset.\n@param packagingGroupId The ID of the PackagingGroup for the Asset.*/",
          "setterMethodName" : "setPackagingGroupId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "packagingGroupId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The ID of the PackagingGroup for the Asset.\n@param packagingGroupId The ID of the PackagingGroup for the Asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "packagingGroupId",
            "variableType" : "String",
            "documentation" : "The ID of the PackagingGroup for the Asset.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceId" : {
          "c2jName" : "ResourceId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The resource ID to include in SPEKE key requests.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The resource ID to include in SPEKE key requests.\n@param resourceId The resource ID to include in SPEKE key requests.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceId",
          "getterDocumentation" : "/**The resource ID to include in SPEKE key requests.\n@return The resource ID to include in SPEKE key requests.*/",
          "getterMethodName" : "getResourceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceId",
          "sensitive" : false,
          "setterDocumentation" : "/**The resource ID to include in SPEKE key requests.\n@param resourceId The resource ID to include in SPEKE key requests.*/",
          "setterMethodName" : "setResourceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The resource ID to include in SPEKE key requests.\n@param resourceId The resource ID to include in SPEKE key requests.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "The resource ID to include in SPEKE key requests.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SourceArn" : {
          "c2jName" : "SourceArn",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "ARN of the source object in S3.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**ARN of the source object in S3.\n@param sourceArn ARN of the source object in S3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSourceArn",
          "getterDocumentation" : "/**ARN of the source object in S3.\n@return ARN of the source object in S3.*/",
          "getterMethodName" : "getSourceArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "sourceArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "sourceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SourceArn",
          "sensitive" : false,
          "setterDocumentation" : "/**ARN of the source object in S3.\n@param sourceArn ARN of the source object in S3.*/",
          "setterMethodName" : "setSourceArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**ARN of the source object in S3.\n@param sourceArn ARN of the source object in S3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceArn",
            "variableType" : "String",
            "documentation" : "ARN of the source object in S3.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SourceRoleArn" : {
          "c2jName" : "SourceRoleArn",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The IAM role ARN used to access the source S3 bucket.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The IAM role ARN used to access the source S3 bucket.\n@param sourceRoleArn The IAM role ARN used to access the source S3 bucket.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSourceRoleArn",
          "getterDocumentation" : "/**The IAM role ARN used to access the source S3 bucket.\n@return The IAM role ARN used to access the source S3 bucket.*/",
          "getterMethodName" : "getSourceRoleArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "sourceRoleArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "sourceRoleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SourceRoleArn",
          "sensitive" : false,
          "setterDocumentation" : "/**The IAM role ARN used to access the source S3 bucket.\n@param sourceRoleArn The IAM role ARN used to access the source S3 bucket.*/",
          "setterMethodName" : "setSourceRoleArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceRoleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The IAM role ARN used to access the source S3 bucket.\n@param sourceRoleArn The IAM role ARN used to access the source S3 bucket.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceRoleArn",
            "variableType" : "String",
            "documentation" : "The IAM role ARN used to access the source S3 bucket.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssetShallow",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssetShallow",
        "variableName" : "assetShallow",
        "variableType" : "AssetShallow",
        "documentation" : null,
        "simpleType" : "AssetShallow",
        "variableSetterType" : "AssetShallow"
      },
      "wrapper" : false
    },
    "CmafEncryption" : {
      "c2jName" : "CmafEncryption",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A CMAF encryption configuration.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "SpekeKeyProvider",
        "c2jShape" : "SpekeKeyProvider",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param spekeKeyProvider \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSpekeKeyProvider",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getSpekeKeyProvider",
        "getterModel" : {
          "returnType" : "SpekeKeyProvider",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "spekeKeyProvider",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "spekeKeyProvider",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SpekeKeyProvider",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param spekeKeyProvider */",
        "setterMethodName" : "setSpekeKeyProvider",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SpekeKeyProvider",
          "variableName" : "spekeKeyProvider",
          "variableType" : "SpekeKeyProvider",
          "documentation" : "",
          "simpleType" : "SpekeKeyProvider",
          "variableSetterType" : "SpekeKeyProvider"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param spekeKeyProvider \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SpekeKeyProvider",
          "variableName" : "spekeKeyProvider",
          "variableType" : "SpekeKeyProvider",
          "documentation" : "",
          "simpleType" : "SpekeKeyProvider",
          "variableSetterType" : "SpekeKeyProvider"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SpekeKeyProvider" : {
          "c2jName" : "SpekeKeyProvider",
          "c2jShape" : "SpekeKeyProvider",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param spekeKeyProvider \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSpekeKeyProvider",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getSpekeKeyProvider",
          "getterModel" : {
            "returnType" : "SpekeKeyProvider",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "spekeKeyProvider",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "spekeKeyProvider",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SpekeKeyProvider",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param spekeKeyProvider */",
          "setterMethodName" : "setSpekeKeyProvider",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SpekeKeyProvider",
            "variableName" : "spekeKeyProvider",
            "variableType" : "SpekeKeyProvider",
            "documentation" : "",
            "simpleType" : "SpekeKeyProvider",
            "variableSetterType" : "SpekeKeyProvider"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param spekeKeyProvider \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SpekeKeyProvider",
            "variableName" : "spekeKeyProvider",
            "variableType" : "SpekeKeyProvider",
            "documentation" : "",
            "simpleType" : "SpekeKeyProvider",
            "variableSetterType" : "SpekeKeyProvider"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "SpekeKeyProvider" ],
      "shapeName" : "CmafEncryption",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CmafEncryption",
        "variableName" : "cmafEncryption",
        "variableType" : "CmafEncryption",
        "documentation" : null,
        "simpleType" : "CmafEncryption",
        "variableSetterType" : "CmafEncryption"
      },
      "wrapper" : false
    },
    "CmafPackage" : {
      "c2jName" : "CmafPackage",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A CMAF packaging configuration.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Encryption",
        "c2jShape" : "CmafEncryption",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param encryption \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEncryption",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getEncryption",
        "getterModel" : {
          "returnType" : "CmafEncryption",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "encryption",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "encryption",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Encryption",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param encryption */",
        "setterMethodName" : "setEncryption",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CmafEncryption",
          "variableName" : "encryption",
          "variableType" : "CmafEncryption",
          "documentation" : "",
          "simpleType" : "CmafEncryption",
          "variableSetterType" : "CmafEncryption"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param encryption \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CmafEncryption",
          "variableName" : "encryption",
          "variableType" : "CmafEncryption",
          "documentation" : "",
          "simpleType" : "CmafEncryption",
          "variableSetterType" : "CmafEncryption"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HlsManifests",
        "c2jShape" : "__listOfHlsManifest",
        "deprecated" : false,
        "documentation" : "A list of HLS manifest configurations.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A list of HLS manifest configurations.\n@param hlsManifests A list of HLS manifest configurations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHlsManifests",
        "getterDocumentation" : "/**A list of HLS manifest configurations.\n@return A list of HLS manifest configurations.*/",
        "getterMethodName" : "getHlsManifests",
        "getterModel" : {
          "returnType" : "java.util.List<HlsManifest>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "hlsManifests",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "hlsManifests",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "HlsManifest",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "HlsManifest",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "HlsManifest",
              "variableName" : "member",
              "variableType" : "HlsManifest",
              "documentation" : "",
              "simpleType" : "HlsManifest",
              "variableSetterType" : "HlsManifest"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "HlsManifest",
              "variableName" : "member",
              "variableType" : "HlsManifest",
              "documentation" : "",
              "simpleType" : "HlsManifest",
              "variableSetterType" : "HlsManifest"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "HlsManifest",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "HlsManifest",
          "templateImplType" : "java.util.ArrayList<HlsManifest>",
          "templateType" : "java.util.List<HlsManifest>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "HlsManifests",
        "sensitive" : false,
        "setterDocumentation" : "/**A list of HLS manifest configurations.\n@param hlsManifests A list of HLS manifest configurations.*/",
        "setterMethodName" : "setHlsManifests",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<HlsManifest>",
          "variableName" : "hlsManifests",
          "variableType" : "java.util.List<HlsManifest>",
          "documentation" : "",
          "simpleType" : "List<HlsManifest>",
          "variableSetterType" : "java.util.Collection<HlsManifest>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A list of HLS manifest configurations.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setHlsManifests(java.util.Collection)} or {@link #withHlsManifests(java.util.Collection)} if you want to override the existing values.</p>\n@param hlsManifests A list of HLS manifest configurations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<HlsManifest>",
          "variableName" : "hlsManifests",
          "variableType" : "java.util.List<HlsManifest>",
          "documentation" : "A list of HLS manifest configurations.",
          "simpleType" : "List<HlsManifest>",
          "variableSetterType" : "java.util.Collection<HlsManifest>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SegmentDurationSeconds",
        "c2jShape" : "__integer",
        "deprecated" : false,
        "documentation" : "Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.\n",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.\n\n@param segmentDurationSeconds Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSegmentDurationSeconds",
        "getterDocumentation" : "/**Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.\n\n@return Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.*/",
        "getterMethodName" : "getSegmentDurationSeconds",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "segmentDurationSeconds",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "segmentDurationSeconds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "SegmentDurationSeconds",
        "sensitive" : false,
        "setterDocumentation" : "/**Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.\n\n@param segmentDurationSeconds Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.*/",
        "setterMethodName" : "setSegmentDurationSeconds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "segmentDurationSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.\n\n@param segmentDurationSeconds Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "segmentDurationSeconds",
          "variableType" : "Integer",
          "documentation" : "Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.\n",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Encryption" : {
          "c2jName" : "Encryption",
          "c2jShape" : "CmafEncryption",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param encryption \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEncryption",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getEncryption",
          "getterModel" : {
            "returnType" : "CmafEncryption",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "encryption",
[...]
