{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-09-01",
    "asyncClient" : "AWSMediaStoreAsyncClient",
    "asyncClientBuilderClassName" : "AWSMediaStoreAsyncClientBuilder",
    "asyncInterface" : "AWSMediaStoreAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSMediaStoreModuleInjector",
    "defaultEndpoint" : "mediastore.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mediastore.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>An AWS Elemental MediaStore container is a namespace that holds folders and objects. You use a container endpoint to create, read, and delete objects. </p>",
    "endpointPrefix" : "mediastore",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mediastore",
    "packagePath" : "com/amazonaws/services/mediastore",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "MediaStore",
    "serviceFullName" : "AWS Elemental MediaStore",
    "serviceId" : "MediaStore",
    "serviceName" : "MediaStore",
    "signingName" : "mediastore",
    "smokeTestsPackageName" : "com.amazonaws.services.mediastore.smoketests",
    "syncClient" : "AWSMediaStoreClient",
    "syncClientBuilderClassName" : "AWSMediaStoreClientBuilder",
    "syncInterface" : "AWSMediaStore",
    "uid" : "mediastore-2017-09-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateContainer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateContainerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateContainerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateContainerRequest, CreateContainerResult>",
      "asyncReturnType" : "CreateContainerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a storage container to hold objects. A container is similar to a bucket in the Amazon S3 service.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateContainerRequest",
        "variableName" : "createContainerRequest",
        "variableType" : "CreateContainerRequest",
        "documentation" : "",
        "simpleType" : "CreateContainerRequest",
        "variableSetterType" : "CreateContainerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createContainer",
      "operationName" : "CreateContainer",
      "returnType" : {
        "returnType" : "CreateContainerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateContainerResult"
    },
    "DeleteContainer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteContainerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteContainerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteContainerRequest, DeleteContainerResult>",
      "asyncReturnType" : "DeleteContainerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified container. Before you make a <code>DeleteContainer</code> request, delete any objects in the container or in any folders in the container. You can delete only empty containers. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteContainerRequest",
        "variableName" : "deleteContainerRequest",
        "variableType" : "DeleteContainerRequest",
        "documentation" : "",
        "simpleType" : "DeleteContainerRequest",
        "variableSetterType" : "DeleteContainerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteContainer",
      "operationName" : "DeleteContainer",
      "returnType" : {
        "returnType" : "DeleteContainerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteContainerResult"
    },
    "DeleteContainerPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteContainerPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteContainerPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteContainerPolicyRequest, DeleteContainerPolicyResult>",
      "asyncReturnType" : "DeleteContainerPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the access policy that is associated with the specified container.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>The policy that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteContainerPolicyRequest",
        "variableName" : "deleteContainerPolicyRequest",
        "variableType" : "DeleteContainerPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteContainerPolicyRequest",
        "variableSetterType" : "DeleteContainerPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteContainerPolicy",
      "operationName" : "DeleteContainerPolicy",
      "returnType" : {
        "returnType" : "DeleteContainerPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteContainerPolicyResult"
    },
    "DeleteCorsPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCorsPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCorsPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCorsPolicyRequest, DeleteCorsPolicyResult>",
      "asyncReturnType" : "DeleteCorsPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the cross-origin resource sharing (CORS) configuration information that is set for the container.</p> <p>To use this operation, you must have permission to perform the <code>MediaStore:DeleteCorsPolicy</code> action. The container owner has this permission by default and can grant this permission to others.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CorsPolicyNotFoundException",
        "documentation" : "<p>The CORS policy that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCorsPolicyRequest",
        "variableName" : "deleteCorsPolicyRequest",
        "variableType" : "DeleteCorsPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteCorsPolicyRequest",
        "variableSetterType" : "DeleteCorsPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCorsPolicy",
      "operationName" : "DeleteCorsPolicy",
      "returnType" : {
        "returnType" : "DeleteCorsPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCorsPolicyResult"
    },
    "DeleteLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLifecyclePolicyRequest, DeleteLifecyclePolicyResult>",
      "asyncReturnType" : "DeleteLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an object lifecycle policy from a container. It takes up to 20 minutes for the change to take effect.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>The policy that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLifecyclePolicyRequest",
        "variableName" : "deleteLifecyclePolicyRequest",
        "variableType" : "DeleteLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteLifecyclePolicyRequest",
        "variableSetterType" : "DeleteLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLifecyclePolicy",
      "operationName" : "DeleteLifecyclePolicy",
      "returnType" : {
        "returnType" : "DeleteLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLifecyclePolicyResult"
    },
    "DescribeContainer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeContainerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeContainerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeContainerRequest, DescribeContainerResult>",
      "asyncReturnType" : "DescribeContainerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the properties of the requested container. This request is commonly used to retrieve the endpoint of a container. An endpoint is a value assigned by the service when a new container is created. A container's endpoint does not change after it has been assigned. The <code>DescribeContainer</code> request returns a single <code>Container</code> object based on <code>ContainerName</code>. To return all <code>Container</code> objects that are associated with a specified AWS account, use <a>ListContainers</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeContainerRequest",
        "variableName" : "describeContainerRequest",
        "variableType" : "DescribeContainerRequest",
        "documentation" : "",
        "simpleType" : "DescribeContainerRequest",
        "variableSetterType" : "DescribeContainerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeContainer",
      "operationName" : "DescribeContainer",
      "returnType" : {
        "returnType" : "DescribeContainerResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeContainerResult"
    },
    "GetContainerPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContainerPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContainerPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContainerPolicyRequest, GetContainerPolicyResult>",
      "asyncReturnType" : "GetContainerPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the access policy for the specified container. For information about the data that is included in an access policy, see the <a href=\"https://aws.amazon.com/documentation/iam/\">AWS Identity and Access Management User Guide</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>The policy that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContainerPolicyRequest",
        "variableName" : "getContainerPolicyRequest",
        "variableType" : "GetContainerPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetContainerPolicyRequest",
        "variableSetterType" : "GetContainerPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContainerPolicy",
      "operationName" : "GetContainerPolicy",
      "returnType" : {
        "returnType" : "GetContainerPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContainerPolicyResult"
    },
    "GetCorsPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCorsPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCorsPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCorsPolicyRequest, GetCorsPolicyResult>",
      "asyncReturnType" : "GetCorsPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the cross-origin resource sharing (CORS) configuration information that is set for the container.</p> <p>To use this operation, you must have permission to perform the <code>MediaStore:GetCorsPolicy</code> action. By default, the container owner has this permission and can grant it to others.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CorsPolicyNotFoundException",
        "documentation" : "<p>The CORS policy that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCorsPolicyRequest",
        "variableName" : "getCorsPolicyRequest",
        "variableType" : "GetCorsPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetCorsPolicyRequest",
        "variableSetterType" : "GetCorsPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCorsPolicy",
      "operationName" : "GetCorsPolicy",
      "returnType" : {
        "returnType" : "GetCorsPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCorsPolicyResult"
    },
    "GetLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLifecyclePolicyRequest, GetLifecyclePolicyResult>",
      "asyncReturnType" : "GetLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the object lifecycle policy that is assigned to a container.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>The policy that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLifecyclePolicyRequest",
        "variableName" : "getLifecyclePolicyRequest",
        "variableType" : "GetLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "GetLifecyclePolicyRequest",
        "variableSetterType" : "GetLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLifecyclePolicy",
      "operationName" : "GetLifecyclePolicy",
      "returnType" : {
        "returnType" : "GetLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLifecyclePolicyResult"
    },
    "ListContainers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListContainersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListContainersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListContainersRequest, ListContainersResult>",
      "asyncReturnType" : "ListContainersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the properties of all containers in AWS Elemental MediaStore. </p> <p>You can query to receive all the containers in one response. Or you can include the <code>MaxResults</code> parameter to receive a limited number of containers in each response. In this case, the response includes a token. To get the next set of containers, send the command again, this time with the <code>NextToken</code> parameter (with the returned token as its value). The next set of responses appears, with a token if there are still more containers to receive. </p> <p>See also <a>DescribeContainer</a>, which gets the properties of one container. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListContainersRequest",
        "variableName" : "listContainersRequest",
        "variableType" : "ListContainersRequest",
        "documentation" : "",
        "simpleType" : "ListContainersRequest",
        "variableSetterType" : "ListContainersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listContainers",
      "operationName" : "ListContainers",
      "returnType" : {
        "returnType" : "ListContainersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListContainersResult"
    },
    "PutContainerPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutContainerPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutContainerPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutContainerPolicyRequest, PutContainerPolicyResult>",
      "asyncReturnType" : "PutContainerPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an access policy for the specified container to restrict the users and clients that can access it. For information about the data that is included in an access policy, see the <a href=\"https://aws.amazon.com/documentation/iam/\">AWS Identity and Access Management User Guide</a>.</p> <p>For this release of the REST API, you can create only one policy for a container. If you enter <code>PutContainerPolicy</code> twice, the second command modifies the existing policy. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutContainerPolicyRequest",
        "variableName" : "putContainerPolicyRequest",
        "variableType" : "PutContainerPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutContainerPolicyRequest",
        "variableSetterType" : "PutContainerPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putContainerPolicy",
      "operationName" : "PutContainerPolicy",
      "returnType" : {
        "returnType" : "PutContainerPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutContainerPolicyResult"
    },
    "PutCorsPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutCorsPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutCorsPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutCorsPolicyRequest, PutCorsPolicyResult>",
      "asyncReturnType" : "PutCorsPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the cross-origin resource sharing (CORS) configuration on a container so that the container can service cross-origin requests. For example, you might want to enable a request whose origin is http://www.example.com to access your AWS Elemental MediaStore container at my.example.container.com by using the browser's XMLHttpRequest capability.</p> <p>To enable CORS on a container, you attach a CORS policy to the container. In the CORS policy, you configure rules that identify origins and the HTTP methods that can be executed on your container. The policy can contain up to 398,000 characters. You can add up to 100 rules to a CORS policy. If more than one rule applies, the service uses the first applicable rule listed.</p> <p>To learn more about CORS, see <a href=\"https://docs.aws.amazon.com/mediastore/latest/ug/cors-policy.html\">Cross-Origin Resource Sharing (CORS) in AWS Elemental MediaStore</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutCorsPolicyRequest",
        "variableName" : "putCorsPolicyRequest",
        "variableType" : "PutCorsPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutCorsPolicyRequest",
        "variableSetterType" : "PutCorsPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putCorsPolicy",
      "operationName" : "PutCorsPolicy",
      "returnType" : {
        "returnType" : "PutCorsPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutCorsPolicyResult"
    },
    "PutLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLifecyclePolicyRequest, PutLifecyclePolicyResult>",
      "asyncReturnType" : "PutLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Writes an object lifecycle policy to a container. If the container already has an object lifecycle policy, the service replaces the existing policy with the new policy. It takes up to 20 minutes for the change to take effect.</p> <p>For information about how to construct an object lifecycle policy, see <a href=\"https://docs.aws.amazon.com/mediastore/latest/ug/policies-object-lifecycle-components.html\">Components of an Object Lifecycle Policy</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutLifecyclePolicyRequest",
        "variableName" : "putLifecyclePolicyRequest",
        "variableType" : "PutLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "PutLifecyclePolicyRequest",
        "variableSetterType" : "PutLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putLifecyclePolicy",
      "operationName" : "PutLifecyclePolicy",
      "returnType" : {
        "returnType" : "PutLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutLifecyclePolicyResult"
    },
    "StartAccessLogging" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartAccessLoggingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartAccessLoggingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartAccessLoggingRequest, StartAccessLoggingResult>",
      "asyncReturnType" : "StartAccessLoggingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts access logging on the specified container. When you enable access logging on a container, MediaStore delivers access logs for objects stored in that container to Amazon CloudWatch Logs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartAccessLoggingRequest",
        "variableName" : "startAccessLoggingRequest",
        "variableType" : "StartAccessLoggingRequest",
        "documentation" : "",
        "simpleType" : "StartAccessLoggingRequest",
        "variableSetterType" : "StartAccessLoggingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startAccessLogging",
      "operationName" : "StartAccessLogging",
      "returnType" : {
        "returnType" : "StartAccessLoggingResult",
        "documentation" : null
      },
      "syncReturnType" : "StartAccessLoggingResult"
    },
    "StopAccessLogging" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopAccessLoggingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopAccessLoggingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopAccessLoggingRequest, StopAccessLoggingResult>",
      "asyncReturnType" : "StopAccessLoggingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops access logging on the specified container. When you stop access logging on a container, MediaStore stops sending access logs to Amazon CloudWatch Logs. These access logs are not saved and are not retrievable.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ContainerInUseException",
        "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ContainerNotFoundException",
        "documentation" : "<p>The container that you specified in the request does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopAccessLoggingRequest",
        "variableName" : "stopAccessLoggingRequest",
        "variableType" : "StopAccessLoggingRequest",
        "documentation" : "",
        "simpleType" : "StopAccessLoggingRequest",
        "variableSetterType" : "StopAccessLoggingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopAccessLogging",
      "operationName" : "StopAccessLogging",
      "returnType" : {
        "returnType" : "StopAccessLoggingResult",
        "documentation" : null
      },
      "syncReturnType" : "StopAccessLoggingResult"
    }
  },
  "shapes" : {
    "Container" : {
      "c2jName" : "Container",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This section describes operations that you can perform on an AWS Elemental MediaStore container.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Endpoint",
        "c2jShape" : "Endpoint",
        "deprecated" : false,
        "documentation" : "<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>\n@param endpoint The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndpoint",
        "getterDocumentation" : "/**<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>\n@return The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.*/",
        "getterMethodName" : "getEndpoint",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Endpoint",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Endpoint",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Endpoint",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>\n@param endpoint The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.*/",
        "setterMethodName" : "setEndpoint",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endpoint",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>\n@param endpoint The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endpoint",
          "variableType" : "String",
          "documentation" : "<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreationTime",
        "c2jShape" : "TimeStamp",
        "deprecated" : false,
        "documentation" : "<p>Unix timestamp.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unix timestamp.</p>\n@param creationTime Unix timestamp.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreationTime",
        "getterDocumentation" : "/**<p>Unix timestamp.</p>\n@return Unix timestamp.*/",
        "getterMethodName" : "getCreationTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreationTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreationTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreationTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unix timestamp.</p>\n@param creationTime Unix timestamp.*/",
        "setterMethodName" : "setCreationTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unix timestamp.</p>\n@param creationTime Unix timestamp.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Unix timestamp.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ARN",
        "c2jShape" : "ContainerARN",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>\n@param aRN The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withARN",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>\n@return The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies*/",
        "getterMethodName" : "getARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ARN",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ARN",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>\n@param aRN The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies*/",
        "setterMethodName" : "setARN",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "aRN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>\n@param aRN The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "aRN",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "ContainerName",
        "deprecated" : false,
        "documentation" : "<p>The name of the container.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the container.</p>\n@param name The name of the container.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the container.</p>\n@return The name of the container.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the container.</p>\n@param name The name of the container.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the container.</p>\n@param name The name of the container.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the container.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "ContainerStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>",
        "enumType" : "ContainerStatus",
        "fluentSetterDocumentation" : "/**<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>\n@param status The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContainerStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>\n@return The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.\n@see ContainerStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>\n@param status The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.\n@see ContainerStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>\n@param status The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContainerStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AccessLoggingEnabled",
        "c2jShape" : "ContainerAccessLoggingEnabled",
        "deprecated" : false,
        "documentation" : "<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>\n@param accessLoggingEnabled The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccessLoggingEnabled",
        "getterDocumentation" : "/**<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>\n@return The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.*/",
        "getterMethodName" : "getAccessLoggingEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccessLoggingEnabled",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccessLoggingEnabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "AccessLoggingEnabled",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>\n@param accessLoggingEnabled The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.*/",
        "setterMethodName" : "setAccessLoggingEnabled",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "accessLoggingEnabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>\n@param accessLoggingEnabled The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "accessLoggingEnabled",
          "variableType" : "Boolean",
          "documentation" : "<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ARN" : {
          "c2jName" : "ARN",
          "c2jShape" : "ContainerARN",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>\n@param aRN The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withARN",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>\n@return The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies*/",
          "getterMethodName" : "getARN",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ARN",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ARN",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ARN",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>\n@param aRN The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies*/",
          "setterMethodName" : "setARN",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "aRN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>\n@param aRN The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "aRN",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the container. The ARN has the following format:</p> <p>arn:aws:&lt;region&gt;:&lt;account that owns this container&gt;:container/&lt;name of container&gt; </p> <p>For example: arn:aws:mediastore:us-west-2:111122223333:container/movies </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AccessLoggingEnabled" : {
          "c2jName" : "AccessLoggingEnabled",
          "c2jShape" : "ContainerAccessLoggingEnabled",
          "deprecated" : false,
          "documentation" : "<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>\n@param accessLoggingEnabled The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccessLoggingEnabled",
          "getterDocumentation" : "/**<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>\n@return The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.*/",
          "getterMethodName" : "getAccessLoggingEnabled",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AccessLoggingEnabled",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AccessLoggingEnabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "AccessLoggingEnabled",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>\n@param accessLoggingEnabled The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.*/",
          "setterMethodName" : "setAccessLoggingEnabled",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "accessLoggingEnabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>\n@param accessLoggingEnabled The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "accessLoggingEnabled",
            "variableType" : "Boolean",
            "documentation" : "<p>The state of access logging on the container. This value is <code>false</code> by default, indicating that AWS Elemental MediaStore does not send access logs to Amazon CloudWatch Logs. When you enable access logging on the container, MediaStore changes this value to <code>true</code>, indicating that the service delivers access logs for objects stored in that container to CloudWatch Logs.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "CreationTime" : {
          "c2jName" : "CreationTime",
          "c2jShape" : "TimeStamp",
          "deprecated" : false,
          "documentation" : "<p>Unix timestamp.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unix timestamp.</p>\n@param creationTime Unix timestamp.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreationTime",
          "getterDocumentation" : "/**<p>Unix timestamp.</p>\n@return Unix timestamp.*/",
          "getterMethodName" : "getCreationTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CreationTime",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CreationTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreationTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unix timestamp.</p>\n@param creationTime Unix timestamp.*/",
          "setterMethodName" : "setCreationTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "creationTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unix timestamp.</p>\n@param creationTime Unix timestamp.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "creationTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p>Unix timestamp.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Endpoint" : {
          "c2jName" : "Endpoint",
          "c2jShape" : "Endpoint",
          "deprecated" : false,
          "documentation" : "<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>\n@param endpoint The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndpoint",
          "getterDocumentation" : "/**<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>\n@return The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.*/",
          "getterMethodName" : "getEndpoint",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Endpoint",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Endpoint",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Endpoint",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>\n@param endpoint The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.*/",
          "setterMethodName" : "setEndpoint",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "endpoint",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>\n@param endpoint The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "endpoint",
            "variableType" : "String",
            "documentation" : "<p>The DNS endpoint of the container. Use the endpoint to identify the specific container when sending requests to the data plane. The service assigns this value when the container is created. Once the value has been assigned, it does not change.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "ContainerName",
          "deprecated" : false,
          "documentation" : "<p>The name of the container.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the container.</p>\n@param name The name of the container.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the container.</p>\n@return The name of the container.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the container.</p>\n@param name The name of the container.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the container.</p>\n@param name The name of the container.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the container.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "ContainerStatus",
          "deprecated" : false,
          "documentation" : "<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>",
          "enumType" : "ContainerStatus",
          "fluentSetterDocumentation" : "/**<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>\n@param status The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContainerStatus*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>\n@return The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.\n@see ContainerStatus*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Status",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>\n@param status The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.\n@see ContainerStatus*/",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>\n@param status The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContainerStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p>The status of container creation or deletion. The status is one of the following: <code>CREATING</code>, <code>ACTIVE</code>, or <code>DELETING</code>. While the service is creating the container, the status is <code>CREATING</code>. When the endpoint is available, the status changes to <code>ACTIVE</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Container",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Container",
        "variableName" : "container",
        "variableType" : "Container",
        "documentation" : null,
        "simpleType" : "Container",
        "variableSetterType" : "Container"
      },
      "wrapper" : false
    },
    "ContainerInUseException" : {
      "c2jName" : "ContainerInUseException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The container that you specified in the request already exists or is being updated.</p>",
      "enums" : null,
      "errorCode" : "ContainerInUseException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ContainerInUseException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ContainerInUseException",
        "variableName" : "containerInUseException",
        "variableType" : "ContainerInUseException",
        "documentation" : null,
        "simpleType" : "ContainerInUseException",
        "variableSetterType" : "ContainerInUseException"
      },
      "wrapper" : false
    },
    "ContainerNotFoundException" : {
      "c2jName" : "ContainerNotFoundException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The container that you specified in the request does not exist.</p>",
      "enums" : null,
      "errorCode" : "ContainerNotFoundException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ContainerNotFoundException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ContainerNotFoundException",
        "variableName" : "containerNotFoundException",
        "variableType" : "ContainerNotFoundException",
        "documentation" : null,
        "simpleType" : "ContainerNotFoundException",
        "variableSetterType" : "ContainerNotFoundException"
      },
      "wrapper" : false
    },
    "ContainerStatus" : {
      "c2jName" : "ContainerStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "ACTIVE",
        "value" : "ACTIVE"
      }, {
        "name" : "CREATING",
        "value" : "CREATING"
      }, {
        "name" : "DELETING",
        "value" : "DELETING"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ContainerStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ContainerStatus",
        "variableName" : "containerStatus",
        "variableType" : "ContainerStatus",
        "documentation" : null,
        "simpleType" : "ContainerStatus",
        "variableSetterType" : "ContainerStatus"
      },
      "wrapper" : false
    },
    "CorsPolicyNotFoundException" : {
      "c2jName" : "CorsPolicyNotFoundException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The CORS policy that you specified in the request does not exist.</p>",
      "enums" : null,
      "errorCode" : "CorsPolicyNotFoundException",
      "hasHeaderMember" : false,
[...]
