{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-11-14",
    "asyncClient" : "AWSMediaConnectAsyncClient",
    "asyncClientBuilderClassName" : "AWSMediaConnectAsyncClientBuilder",
    "asyncInterface" : "AWSMediaConnectAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSMediaConnectModuleInjector",
    "defaultEndpoint" : "mediaconnect.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mediaconnect.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "API for AWS Elemental MediaConnect",
    "endpointPrefix" : "mediaconnect",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mediaconnect",
    "packagePath" : "com/amazonaws/services/mediaconnect",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS MediaConnect",
    "serviceId" : "MediaConnect",
    "serviceName" : "AWS MediaConnect",
    "signingName" : "mediaconnect",
    "smokeTestsPackageName" : "com.amazonaws.services.mediaconnect.smoketests",
    "syncClient" : "AWSMediaConnectClient",
    "syncClientBuilderClassName" : "AWSMediaConnectClientBuilder",
    "syncInterface" : "AWSMediaConnect",
    "uid" : "mediaconnect-2018-11-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddFlowOutputs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddFlowOutputsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddFlowOutputsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddFlowOutputsRequest, AddFlowOutputsResult>",
      "asyncReturnType" : "AddFlowOutputsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Adds outputs to an existing flow. You can create up to 20 outputs per flow.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AddFlowOutputs420Exception",
        "documentation" : "AWS Elemental MediaConnect can't complete this request because this flow already has the maximum number of allowed outputs (20). For more information, contact AWS Customer Support.",
        "httpStatusCode" : 420
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddFlowOutputsRequest",
        "variableName" : "addFlowOutputsRequest",
        "variableType" : "AddFlowOutputsRequest",
        "documentation" : "A request to add outputs to the specified flow.",
        "simpleType" : "AddFlowOutputsRequest",
        "variableSetterType" : "AddFlowOutputsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addFlowOutputs",
      "operationName" : "AddFlowOutputs",
      "returnType" : {
        "returnType" : "AddFlowOutputsResult",
        "documentation" : "AWS Elemental MediaConnect added the outputs successfully."
      },
      "syncReturnType" : "AddFlowOutputsResult"
    },
    "CreateFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFlowRequest, CreateFlowResult>",
      "asyncReturnType" : "CreateFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 20) and entitlements (up to 50).",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CreateFlow420Exception",
        "documentation" : "Your account already contains the maximum number of 20 flows per account, per Region. For more information, contact AWS Customer Support.",
        "httpStatusCode" : 420
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFlowRequest",
        "variableName" : "createFlowRequest",
        "variableType" : "CreateFlowRequest",
        "documentation" : "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 20) and entitlements (up to 50).",
        "simpleType" : "CreateFlowRequest",
        "variableSetterType" : "CreateFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFlow",
      "operationName" : "CreateFlow",
      "returnType" : {
        "returnType" : "CreateFlowResult",
        "documentation" : "AWS Elemental MediaConnect created the new flow successfully."
      },
      "syncReturnType" : "CreateFlowResult"
    },
    "DeleteFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFlowRequest, DeleteFlowResult>",
      "asyncReturnType" : "DeleteFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a flow. Before you can delete a flow, you must stop the flow.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFlowRequest",
        "variableName" : "deleteFlowRequest",
        "variableType" : "DeleteFlowRequest",
        "documentation" : "",
        "simpleType" : "DeleteFlowRequest",
        "variableSetterType" : "DeleteFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFlow",
      "operationName" : "DeleteFlow",
      "returnType" : {
        "returnType" : "DeleteFlowResult",
        "documentation" : "AWS Elemental MediaConnect is deleting the flow."
      },
      "syncReturnType" : "DeleteFlowResult"
    },
    "DescribeFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFlowRequest, DescribeFlowResult>",
      "asyncReturnType" : "DescribeFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Displays the details of a flow. The response includes the flow ARN, name, and Availability Zone, as well as details about the source, outputs, and entitlements.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFlowRequest",
        "variableName" : "describeFlowRequest",
        "variableType" : "DescribeFlowRequest",
        "documentation" : "",
        "simpleType" : "DescribeFlowRequest",
        "variableSetterType" : "DescribeFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFlow",
      "operationName" : "DescribeFlow",
      "returnType" : {
        "returnType" : "DescribeFlowResult",
        "documentation" : "AWS Elemental MediaConnect returned the flow details successfully."
      },
      "syncReturnType" : "DescribeFlowResult"
    },
    "GrantFlowEntitlements" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GrantFlowEntitlementsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GrantFlowEntitlementsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GrantFlowEntitlementsRequest, GrantFlowEntitlementsResult>",
      "asyncReturnType" : "GrantFlowEntitlementsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Grants entitlements to an existing flow.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "GrantFlowEntitlements420Exception",
        "documentation" : "AWS Elemental MediaConnect can't complete this request because this flow already has the maximum number of allowed entitlements (50). For more information, contact AWS Customer Support.",
        "httpStatusCode" : 420
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GrantFlowEntitlementsRequest",
        "variableName" : "grantFlowEntitlementsRequest",
        "variableType" : "GrantFlowEntitlementsRequest",
        "documentation" : "A request to grant entitlements on a flow.",
        "simpleType" : "GrantFlowEntitlementsRequest",
        "variableSetterType" : "GrantFlowEntitlementsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "grantFlowEntitlements",
      "operationName" : "GrantFlowEntitlements",
      "returnType" : {
        "returnType" : "GrantFlowEntitlementsResult",
        "documentation" : "AWS Elemental MediaConnect granted the entitlements successfully."
      },
      "syncReturnType" : "GrantFlowEntitlementsResult"
    },
    "ListEntitlements" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEntitlementsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEntitlementsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEntitlementsRequest, ListEntitlementsResult>",
      "asyncReturnType" : "ListEntitlementsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Displays a list of all entitlements that have been granted to this account. This request returns 20 results per page.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEntitlementsRequest",
        "variableName" : "listEntitlementsRequest",
        "variableType" : "ListEntitlementsRequest",
        "documentation" : "",
        "simpleType" : "ListEntitlementsRequest",
        "variableSetterType" : "ListEntitlementsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEntitlements",
      "operationName" : "ListEntitlements",
      "returnType" : {
        "returnType" : "ListEntitlementsResult",
        "documentation" : "AWS Elemental MediaConnect returned the list of entitlements successfully."
      },
      "syncReturnType" : "ListEntitlementsResult"
    },
    "ListFlows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFlowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFlowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFlowsRequest, ListFlowsResult>",
      "asyncReturnType" : "ListFlowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Displays a list of flows that are associated with this account. This request returns a paginated result.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFlowsRequest",
        "variableName" : "listFlowsRequest",
        "variableType" : "ListFlowsRequest",
        "documentation" : "",
        "simpleType" : "ListFlowsRequest",
        "variableSetterType" : "ListFlowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFlows",
      "operationName" : "ListFlows",
      "returnType" : {
        "returnType" : "ListFlowsResult",
        "documentation" : "AWS Elemental MediaConnect returned the list of flows successfully."
      },
      "syncReturnType" : "ListFlowsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List all tags on an AWS Elemental MediaConnect resource",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource was not found",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The client performed an invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "Internal service error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "The tags for the resource"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RemoveFlowOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveFlowOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveFlowOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveFlowOutputRequest, RemoveFlowOutputResult>",
      "asyncReturnType" : "RemoveFlowOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Removes an output from an existing flow. This request can be made only on an output that does not have an entitlement associated with it. If the output has an entitlement, you must revoke the entitlement instead. When an entitlement is revoked from a flow, the service automatically removes the associated output.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveFlowOutputRequest",
        "variableName" : "removeFlowOutputRequest",
        "variableType" : "RemoveFlowOutputRequest",
        "documentation" : "",
        "simpleType" : "RemoveFlowOutputRequest",
        "variableSetterType" : "RemoveFlowOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeFlowOutput",
      "operationName" : "RemoveFlowOutput",
      "returnType" : {
        "returnType" : "RemoveFlowOutputResult",
        "documentation" : "output successfully removed from flow configuration."
      },
      "syncReturnType" : "RemoveFlowOutputResult"
    },
    "RevokeFlowEntitlement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokeFlowEntitlementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokeFlowEntitlementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeFlowEntitlementRequest, RevokeFlowEntitlementResult>",
      "asyncReturnType" : "RevokeFlowEntitlementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Revokes an entitlement from a flow. Once an entitlement is revoked, the content becomes unavailable to the subscriber and the associated output is removed.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokeFlowEntitlementRequest",
        "variableName" : "revokeFlowEntitlementRequest",
        "variableType" : "RevokeFlowEntitlementRequest",
        "documentation" : "",
        "simpleType" : "RevokeFlowEntitlementRequest",
        "variableSetterType" : "RevokeFlowEntitlementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokeFlowEntitlement",
      "operationName" : "RevokeFlowEntitlement",
      "returnType" : {
        "returnType" : "RevokeFlowEntitlementResult",
        "documentation" : "AWS Elemental MediaConnect revoked the entitlement successfully."
      },
      "syncReturnType" : "RevokeFlowEntitlementResult"
    },
    "StartFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartFlowRequest, StartFlowResult>",
      "asyncReturnType" : "StartFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Starts a flow.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartFlowRequest",
        "variableName" : "startFlowRequest",
        "variableType" : "StartFlowRequest",
        "documentation" : "",
        "simpleType" : "StartFlowRequest",
        "variableSetterType" : "StartFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startFlow",
      "operationName" : "StartFlow",
      "returnType" : {
        "returnType" : "StartFlowResult",
        "documentation" : "AWS Elemental MediaConnect is starting the flow."
      },
      "syncReturnType" : "StartFlowResult"
    },
    "StopFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopFlowRequest, StopFlowResult>",
      "asyncReturnType" : "StopFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Stops a flow.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopFlowRequest",
        "variableName" : "stopFlowRequest",
        "variableType" : "StopFlowRequest",
        "documentation" : "",
        "simpleType" : "StopFlowRequest",
        "variableSetterType" : "StopFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopFlow",
      "operationName" : "StopFlow",
      "returnType" : {
        "returnType" : "StopFlowResult",
        "documentation" : "AWS Elemental MediaConnect is stopping the flow."
      },
      "syncReturnType" : "StopFlowResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Associates the specified tags to a resource with the specified resourceArn. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are deleted as well.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource was not found",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The client performed an invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "Internal service error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "The tags to add to the resource. A tag is an array of key-value pairs. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes specified tags from a resource.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource was not found",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "The client performed an invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "Internal service error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateFlowEntitlement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFlowEntitlementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFlowEntitlementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFlowEntitlementRequest, UpdateFlowEntitlementResult>",
      "asyncReturnType" : "UpdateFlowEntitlementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "You can change an entitlement's description, subscribers, and encryption. If you change the subscribers, the service will remove the outputs that are are used by the subscribers that are removed.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFlowEntitlementRequest",
        "variableName" : "updateFlowEntitlementRequest",
        "variableType" : "UpdateFlowEntitlementRequest",
        "documentation" : "The entitlement fields that you want to update.",
        "simpleType" : "UpdateFlowEntitlementRequest",
        "variableSetterType" : "UpdateFlowEntitlementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFlowEntitlement",
      "operationName" : "UpdateFlowEntitlement",
      "returnType" : {
        "returnType" : "UpdateFlowEntitlementResult",
        "documentation" : "AWS Elemental MediaConnect updated the entitlement successfully."
      },
      "syncReturnType" : "UpdateFlowEntitlementResult"
    },
    "UpdateFlowOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFlowOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFlowOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFlowOutputRequest, UpdateFlowOutputResult>",
      "asyncReturnType" : "UpdateFlowOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an existing flow output.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFlowOutputRequest",
        "variableName" : "updateFlowOutputRequest",
        "variableType" : "UpdateFlowOutputRequest",
        "documentation" : "The fields that you want to update in the output.",
        "simpleType" : "UpdateFlowOutputRequest",
        "variableSetterType" : "UpdateFlowOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFlowOutput",
      "operationName" : "UpdateFlowOutput",
      "returnType" : {
        "returnType" : "UpdateFlowOutputResult",
        "documentation" : "AWS Elemental MediaConnect updated the output successfully."
      },
      "syncReturnType" : "UpdateFlowOutputResult"
    },
    "UpdateFlowSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFlowSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFlowSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFlowSourceRequest, UpdateFlowSourceResult>",
      "asyncReturnType" : "UpdateFlowSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates the source of a flow.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "The request that you submitted is not valid.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "You don't have the required permissions to perform this operation.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "AWS Elemental MediaConnect is currently unavailable. Try again later.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFlowSourceRequest",
        "variableName" : "updateFlowSourceRequest",
        "variableType" : "UpdateFlowSourceRequest",
        "documentation" : "A request to update the source of a flow.",
        "simpleType" : "UpdateFlowSourceRequest",
        "variableSetterType" : "UpdateFlowSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFlowSource",
      "operationName" : "UpdateFlowSource",
      "returnType" : {
        "returnType" : "UpdateFlowSourceResult",
        "documentation" : "AWS Elemental MediaConnect updated the flow successfully."
      },
      "syncReturnType" : "UpdateFlowSourceResult"
    }
  },
  "shapes" : {
    "AddFlowOutputs420Exception" : {
      "c2jName" : "AddFlowOutputs420Exception",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
      "enums" : null,
      "errorCode" : "AddFlowOutputs420Exception",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AddFlowOutputs420Exception",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddFlowOutputs420Exception",
        "variableName" : "addFlowOutputs420Exception",
        "variableType" : "AddFlowOutputs420Exception",
        "documentation" : null,
        "simpleType" : "AddFlowOutputs420Exception",
        "variableSetterType" : "AddFlowOutputs420Exception"
      },
      "wrapper" : false
    },
    "AddFlowOutputsRequest" : {
      "c2jName" : "AddFlowOutputsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A request to add outputs to the specified flow.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddFlowOutputs",
        "locationName" : null,
        "requestUri" : "/v1/flows/{flowArn}/outputs",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "FlowArn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The flow that you want to add outputs to.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The flow that you want to add outputs to.\n@param flowArn The flow that you want to add outputs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFlowArn",
        "getterDocumentation" : "/**The flow that you want to add outputs to.\n@return The flow that you want to add outputs to.*/",
        "getterMethodName" : "getFlowArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "flowArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "flowArn",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FlowArn",
        "sensitive" : false,
        "setterDocumentation" : "/**The flow that you want to add outputs to.\n@param flowArn The flow that you want to add outputs to.*/",
        "setterMethodName" : "setFlowArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "flowArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The flow that you want to add outputs to.\n@param flowArn The flow that you want to add outputs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "flowArn",
          "variableType" : "String",
          "documentation" : "The flow that you want to add outputs to.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Outputs",
        "c2jShape" : "__listOfAddOutputRequest",
        "deprecated" : false,
        "documentation" : "A list of outputs that you want to add.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A list of outputs that you want to add.\n@param outputs A list of outputs that you want to add.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOutputs",
        "getterDocumentation" : "/**A list of outputs that you want to add.\n@return A list of outputs that you want to add.*/",
        "getterMethodName" : "getOutputs",
        "getterModel" : {
          "returnType" : "java.util.List<AddOutputRequest>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "outputs",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "outputs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AddOutputRequest",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "AddOutputRequest",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "AddOutputRequest",
              "variableName" : "member",
              "variableType" : "AddOutputRequest",
              "documentation" : "",
              "simpleType" : "AddOutputRequest",
              "variableSetterType" : "AddOutputRequest"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "AddOutputRequest",
              "variableName" : "member",
              "variableType" : "AddOutputRequest",
              "documentation" : "",
              "simpleType" : "AddOutputRequest",
              "variableSetterType" : "AddOutputRequest"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "AddOutputRequest",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "AddOutputRequest",
          "templateImplType" : "java.util.ArrayList<AddOutputRequest>",
          "templateType" : "java.util.List<AddOutputRequest>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Outputs",
        "sensitive" : false,
        "setterDocumentation" : "/**A list of outputs that you want to add.\n@param outputs A list of outputs that you want to add.*/",
        "setterMethodName" : "setOutputs",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<AddOutputRequest>",
          "variableName" : "outputs",
          "variableType" : "java.util.List<AddOutputRequest>",
          "documentation" : "",
          "simpleType" : "List<AddOutputRequest>",
          "variableSetterType" : "java.util.Collection<AddOutputRequest>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A list of outputs that you want to add.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOutputs(java.util.Collection)} or {@link #withOutputs(java.util.Collection)} if you want to override the existing values.</p>\n@param outputs A list of outputs that you want to add.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<AddOutputRequest>",
          "variableName" : "outputs",
          "variableType" : "java.util.List<AddOutputRequest>",
          "documentation" : "A list of outputs that you want to add.",
          "simpleType" : "List<AddOutputRequest>",
          "variableSetterType" : "java.util.Collection<AddOutputRequest>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FlowArn" : {
          "c2jName" : "FlowArn",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The flow that you want to add outputs to.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The flow that you want to add outputs to.\n@param flowArn The flow that you want to add outputs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFlowArn",
          "getterDocumentation" : "/**The flow that you want to add outputs to.\n@return The flow that you want to add outputs to.*/",
          "getterMethodName" : "getFlowArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "flowArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "flowArn",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FlowArn",
          "sensitive" : false,
          "setterDocumentation" : "/**The flow that you want to add outputs to.\n@param flowArn The flow that you want to add outputs to.*/",
          "setterMethodName" : "setFlowArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "flowArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The flow that you want to add outputs to.\n@param flowArn The flow that you want to add outputs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "flowArn",
            "variableType" : "String",
            "documentation" : "The flow that you want to add outputs to.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Outputs" : {
          "c2jName" : "Outputs",
          "c2jShape" : "__listOfAddOutputRequest",
          "deprecated" : false,
          "documentation" : "A list of outputs that you want to add.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A list of outputs that you want to add.\n@param outputs A list of outputs that you want to add.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOutputs",
          "getterDocumentation" : "/**A list of outputs that you want to add.\n@return A list of outputs that you want to add.*/",
          "getterMethodName" : "getOutputs",
          "getterModel" : {
            "returnType" : "java.util.List<AddOutputRequest>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "outputs",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "outputs",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "AddOutputRequest",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "AddOutputRequest",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "AddOutputRequest",
                "variableName" : "member",
                "variableType" : "AddOutputRequest",
                "documentation" : "",
                "simpleType" : "AddOutputRequest",
                "variableSetterType" : "AddOutputRequest"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "AddOutputRequest",
                "variableName" : "member",
                "variableType" : "AddOutputRequest",
                "documentation" : "",
                "simpleType" : "AddOutputRequest",
                "variableSetterType" : "AddOutputRequest"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "AddOutputRequest",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "AddOutputRequest",
            "templateImplType" : "java.util.ArrayList<AddOutputRequest>",
            "templateType" : "java.util.List<AddOutputRequest>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Outputs",
          "sensitive" : false,
          "setterDocumentation" : "/**A list of outputs that you want to add.\n@param outputs A list of outputs that you want to add.*/",
          "setterMethodName" : "setOutputs",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<AddOutputRequest>",
            "variableName" : "outputs",
            "variableType" : "java.util.List<AddOutputRequest>",
            "documentation" : "",
            "simpleType" : "List<AddOutputRequest>",
            "variableSetterType" : "java.util.Collection<AddOutputRequest>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**A list of outputs that you want to add.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOutputs(java.util.Collection)} or {@link #withOutputs(java.util.Collection)} if you want to override the existing values.</p>\n@param outputs A list of outputs that you want to add.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<AddOutputRequest>",
            "variableName" : "outputs",
            "variableType" : "java.util.List<AddOutputRequest>",
            "documentation" : "A list of outputs that you want to add.",
            "simpleType" : "List<AddOutputRequest>",
            "variableSetterType" : "java.util.Collection<AddOutputRequest>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "FlowArn", "Outputs" ],
      "shapeName" : "AddFlowOutputsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddFlowOutputsRequest",
        "variableName" : "addFlowOutputsRequest",
        "variableType" : "AddFlowOutputsRequest",
        "documentation" : null,
        "simpleType" : "AddFlowOutputsRequest",
        "variableSetterType" : "AddFlowOutputsRequest"
      },
      "wrapper" : false
    },
    "AddFlowOutputsResult" : {
      "c2jName" : "AddFlowOutputsResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "FlowArn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The ARN of the flow that these outputs were added to.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ARN of the flow that these outputs were added to.\n@param flowArn The ARN of the flow that these outputs were added to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFlowArn",
        "getterDocumentation" : "/**The ARN of the flow that these outputs were added to.\n@return The ARN of the flow that these outputs were added to.*/",
        "getterMethodName" : "getFlowArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "flowArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "flowArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FlowArn",
        "sensitive" : false,
        "setterDocumentation" : "/**The ARN of the flow that these outputs were added to.\n@param flowArn The ARN of the flow that these outputs were added to.*/",
        "setterMethodName" : "setFlowArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "flowArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ARN of the flow that these outputs were added to.\n@param flowArn The ARN of the flow that these outputs were added to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "flowArn",
          "variableType" : "String",
          "documentation" : "The ARN of the flow that these outputs were added to.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Outputs",
        "c2jShape" : "__listOfOutput",
        "deprecated" : false,
        "documentation" : "The details of the newly added outputs.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The details of the newly added outputs.\n@param outputs The details of the newly added outputs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOutputs",
        "getterDocumentation" : "/**The details of the newly added outputs.\n@return The details of the newly added outputs.*/",
        "getterMethodName" : "getOutputs",
        "getterModel" : {
          "returnType" : "java.util.List<Output>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "outputs",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "outputs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Output",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Output",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Output",
              "variableName" : "member",
              "variableType" : "Output",
              "documentation" : "",
              "simpleType" : "Output",
              "variableSetterType" : "Output"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Output",
              "variableName" : "member",
              "variableType" : "Output",
              "documentation" : "",
              "simpleType" : "Output",
              "variableSetterType" : "Output"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Output",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Output",
          "templateImplType" : "java.util.ArrayList<Output>",
          "templateType" : "java.util.List<Output>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Outputs",
        "sensitive" : false,
        "setterDocumentation" : "/**The details of the newly added outputs.\n@param outputs The details of the newly added outputs.*/",
        "setterMethodName" : "setOutputs",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Output>",
          "variableName" : "outputs",
          "variableType" : "java.util.List<Output>",
          "documentation" : "",
          "simpleType" : "List<Output>",
          "variableSetterType" : "java.util.Collection<Output>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The details of the newly added outputs.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOutputs(java.util.Collection)} or {@link #withOutputs(java.util.Collection)} if you want to override the existing values.</p>\n@param outputs The details of the newly added outputs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Output>",
          "variableName" : "outputs",
          "variableType" : "java.util.List<Output>",
          "documentation" : "The details of the newly added outputs.",
          "simpleType" : "List<Output>",
          "variableSetterType" : "java.util.Collection<Output>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FlowArn" : {
          "c2jName" : "FlowArn",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The ARN of the flow that these outputs were added to.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The ARN of the flow that these outputs were added to.\n@param flowArn The ARN of the flow that these outputs were added to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFlowArn",
          "getterDocumentation" : "/**The ARN of the flow that these outputs were added to.\n@return The ARN of the flow that these outputs were added to.*/",
          "getterMethodName" : "getFlowArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "flowArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "flowArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FlowArn",
          "sensitive" : false,
          "setterDocumentation" : "/**The ARN of the flow that these outputs were added to.\n@param flowArn The ARN of the flow that these outputs were added to.*/",
          "setterMethodName" : "setFlowArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "flowArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The ARN of the flow that these outputs were added to.\n@param flowArn The ARN of the flow that these outputs were added to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "flowArn",
            "variableType" : "String",
            "documentation" : "The ARN of the flow that these outputs were added to.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Outputs" : {
          "c2jName" : "Outputs",
          "c2jShape" : "__listOfOutput",
          "deprecated" : false,
          "documentation" : "The details of the newly added outputs.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The details of the newly added outputs.\n@param outputs The details of the newly added outputs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOutputs",
          "getterDocumentation" : "/**The details of the newly added outputs.\n@return The details of the newly added outputs.*/",
          "getterMethodName" : "getOutputs",
          "getterModel" : {
            "returnType" : "java.util.List<Output>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "outputs",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "outputs",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Output",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Output",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Output",
                "variableName" : "member",
                "variableType" : "Output",
                "documentation" : "",
                "simpleType" : "Output",
                "variableSetterType" : "Output"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Output",
                "variableName" : "member",
                "variableType" : "Output",
                "documentation" : "",
                "simpleType" : "Output",
                "variableSetterType" : "Output"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Output",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Output",
            "templateImplType" : "java.util.ArrayList<Output>",
            "templateType" : "java.util.List<Output>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Outputs",
          "sensitive" : false,
          "setterDocumentation" : "/**The details of the newly added outputs.\n@param outputs The details of the newly added outputs.*/",
          "setterMethodName" : "setOutputs",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Output>",
            "variableName" : "outputs",
            "variableType" : "java.util.List<Output>",
            "documentation" : "",
            "simpleType" : "List<Output>",
            "variableSetterType" : "java.util.Collection<Output>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The details of the newly added outputs.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOutputs(java.util.Collection)} or {@link #withOutputs(java.util.Collection)} if you want to override the existing values.</p>\n@param outputs The details of the newly added outputs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Output>",
            "variableName" : "outputs",
            "variableType" : "java.util.List<Output>",
            "documentation" : "The details of the newly added outputs.",
            "simpleType" : "List<Output>",
            "variableSetterType" : "java.util.Collection<Output>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AddFlowOutputsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddFlowOutputsResult",
        "variableName" : "addFlowOutputsResult",
        "variableType" : "AddFlowOutputsResult",
        "documentation" : null,
        "simpleType" : "AddFlowOutputsResult",
        "variableSetterType" : "AddFlowOutputsResult"
      },
      "wrapper" : false
    },
    "AddOutputRequest" : {
      "c2jName" : "AddOutputRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The output that you want to add to this flow.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Description",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.\n@param description A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.\n@return A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.\n@param description A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.\n@param description A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Destination",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The IP address from which video will be sent to output destinations.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The IP address from which video will be sent to output destinations.\n@param destination The IP address from which video will be sent to output destinations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDestination",
        "getterDocumentation" : "/**The IP address from which video will be sent to output destinations.\n@return The IP address from which video will be sent to output destinations.*/",
        "getterMethodName" : "getDestination",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "destination",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "destination",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Destination",
        "sensitive" : false,
        "setterDocumentation" : "/**The IP address from which video will be sent to output destinations.\n@param destination The IP address from which video will be sent to output destinations.*/",
        "setterMethodName" : "setDestination",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "destination",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The IP address from which video will be sent to output destinations.\n@param destination The IP address from which video will be sent to output destinations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "destination",
          "variableType" : "String",
          "documentation" : "The IP address from which video will be sent to output destinations.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Encryption",
        "c2jShape" : "Encryption",
        "deprecated" : false,
        "documentation" : "The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).\n@param encryption The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEncryption",
        "getterDocumentation" : "/**The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).\n@return The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).*/",
        "getterMethodName" : "getEncryption",
        "getterModel" : {
          "returnType" : "Encryption",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "encryption",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "encryption",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Encryption",
        "sensitive" : false,
        "setterDocumentation" : "/**The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).\n@param encryption The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).*/",
        "setterMethodName" : "setEncryption",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Encryption",
          "variableName" : "encryption",
[...]
