{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-10-12",
    "asyncClient" : "AWSMediaPackageAsyncClient",
    "asyncClientBuilderClassName" : "AWSMediaPackageAsyncClientBuilder",
    "asyncInterface" : "AWSMediaPackageAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSMediaPackageModuleInjector",
    "defaultEndpoint" : "mediapackage.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mediapackage.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "AWS Elemental MediaPackage",
    "endpointPrefix" : "mediapackage",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mediapackage",
    "packagePath" : "com/amazonaws/services/mediapackage",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "MediaPackage",
    "serviceFullName" : "AWS Elemental MediaPackage",
    "serviceName" : "MediaPackage",
    "signingName" : "mediapackage",
    "smokeTestsPackageName" : "com.amazonaws.services.mediapackage.smoketests",
    "syncClient" : "AWSMediaPackageClient",
    "syncClientBuilderClassName" : "AWSMediaPackageClientBuilder",
    "syncInterface" : "AWSMediaPackage",
    "uid" : "mediapackage-2017-10-12",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChannelRequest, CreateChannelResult>",
      "asyncReturnType" : "CreateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new Channel.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateChannelRequest",
        "variableName" : "createChannelRequest",
        "variableType" : "CreateChannelRequest",
        "documentation" : "A new Channel configuration.",
        "simpleType" : "CreateChannelRequest",
        "variableSetterType" : "CreateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChannel",
      "operationName" : "CreateChannel",
      "returnType" : {
        "returnType" : "CreateChannelResult",
        "documentation" : "The new Channel record."
      },
      "syncReturnType" : "CreateChannelResult"
    },
    "CreateOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateOriginEndpointRequest, CreateOriginEndpointResult>",
      "asyncReturnType" : "CreateOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new OriginEndpoint record.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateOriginEndpointRequest",
        "variableName" : "createOriginEndpointRequest",
        "variableType" : "CreateOriginEndpointRequest",
        "documentation" : "Configuration parameters used to create a new OriginEndpoint.",
        "simpleType" : "CreateOriginEndpointRequest",
        "variableSetterType" : "CreateOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createOriginEndpoint",
      "operationName" : "CreateOriginEndpoint",
      "returnType" : {
        "returnType" : "CreateOriginEndpointResult",
        "documentation" : "A new OriginEndpoint record."
      },
      "syncReturnType" : "CreateOriginEndpointResult"
    },
    "DeleteChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChannelRequest, DeleteChannelResult>",
      "asyncReturnType" : "DeleteChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an existing Channel.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteChannelRequest",
        "variableName" : "deleteChannelRequest",
        "variableType" : "DeleteChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteChannelRequest",
        "variableSetterType" : "DeleteChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChannel",
      "operationName" : "DeleteChannel",
      "returnType" : {
        "returnType" : "DeleteChannelResult",
        "documentation" : "The Channel has been deleted."
      },
      "syncReturnType" : "DeleteChannelResult"
    },
    "DeleteOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteOriginEndpointRequest, DeleteOriginEndpointResult>",
      "asyncReturnType" : "DeleteOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an existing OriginEndpoint.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteOriginEndpointRequest",
        "variableName" : "deleteOriginEndpointRequest",
        "variableType" : "DeleteOriginEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteOriginEndpointRequest",
        "variableSetterType" : "DeleteOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteOriginEndpoint",
      "operationName" : "DeleteOriginEndpoint",
      "returnType" : {
        "returnType" : "DeleteOriginEndpointResult",
        "documentation" : "The OriginEndpoint has been deleted."
      },
      "syncReturnType" : "DeleteOriginEndpointResult"
    },
    "DescribeChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChannelRequest, DescribeChannelResult>",
      "asyncReturnType" : "DescribeChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Gets details about a Channel.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeChannelRequest",
        "variableName" : "describeChannelRequest",
        "variableType" : "DescribeChannelRequest",
        "documentation" : "",
        "simpleType" : "DescribeChannelRequest",
        "variableSetterType" : "DescribeChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChannel",
      "operationName" : "DescribeChannel",
      "returnType" : {
        "returnType" : "DescribeChannelResult",
        "documentation" : "A Channel record."
      },
      "syncReturnType" : "DescribeChannelResult"
    },
    "DescribeOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeOriginEndpointRequest, DescribeOriginEndpointResult>",
      "asyncReturnType" : "DescribeOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Gets details about an existing OriginEndpoint.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeOriginEndpointRequest",
        "variableName" : "describeOriginEndpointRequest",
        "variableType" : "DescribeOriginEndpointRequest",
        "documentation" : "",
        "simpleType" : "DescribeOriginEndpointRequest",
        "variableSetterType" : "DescribeOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeOriginEndpoint",
      "operationName" : "DescribeOriginEndpoint",
      "returnType" : {
        "returnType" : "DescribeOriginEndpointResult",
        "documentation" : "An OriginEndpoint record."
      },
      "syncReturnType" : "DescribeOriginEndpointResult"
    },
    "ListChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChannelsRequest, ListChannelsResult>",
      "asyncReturnType" : "ListChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of Channels.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListChannelsRequest",
        "variableName" : "listChannelsRequest",
        "variableType" : "ListChannelsRequest",
        "documentation" : "",
        "simpleType" : "ListChannelsRequest",
        "variableSetterType" : "ListChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChannels",
      "operationName" : "ListChannels",
      "returnType" : {
        "returnType" : "ListChannelsResult",
        "documentation" : "A collection of Channel records."
      },
      "syncReturnType" : "ListChannelsResult"
    },
    "ListOriginEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOriginEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOriginEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOriginEndpointsRequest, ListOriginEndpointsResult>",
      "asyncReturnType" : "ListOriginEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of OriginEndpoint records.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListOriginEndpointsRequest",
        "variableName" : "listOriginEndpointsRequest",
        "variableType" : "ListOriginEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListOriginEndpointsRequest",
        "variableSetterType" : "ListOriginEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOriginEndpoints",
      "operationName" : "ListOriginEndpoints",
      "returnType" : {
        "returnType" : "ListOriginEndpointsResult",
        "documentation" : "A collection of OriginEndpoint records."
      },
      "syncReturnType" : "ListOriginEndpointsResult"
    },
    "RotateChannelCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RotateChannelCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RotateChannelCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RotateChannelCredentialsRequest, RotateChannelCredentialsResult>",
      "asyncReturnType" : "RotateChannelCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Changes the Channel ingest username and password.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RotateChannelCredentialsRequest",
        "variableName" : "rotateChannelCredentialsRequest",
        "variableType" : "RotateChannelCredentialsRequest",
        "documentation" : "",
        "simpleType" : "RotateChannelCredentialsRequest",
        "variableSetterType" : "RotateChannelCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rotateChannelCredentials",
      "operationName" : "RotateChannelCredentials",
      "returnType" : {
        "returnType" : "RotateChannelCredentialsResult",
        "documentation" : "The updated Channel record."
      },
      "syncReturnType" : "RotateChannelCredentialsResult"
    },
    "UpdateChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateChannelRequest, UpdateChannelResult>",
      "asyncReturnType" : "UpdateChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an existing Channel.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateChannelRequest",
        "variableName" : "updateChannelRequest",
        "variableType" : "UpdateChannelRequest",
        "documentation" : "Configuration parameters used to update the Channel.",
        "simpleType" : "UpdateChannelRequest",
        "variableSetterType" : "UpdateChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateChannel",
      "operationName" : "UpdateChannel",
      "returnType" : {
        "returnType" : "UpdateChannelResult",
        "documentation" : "The updated Channel record."
      },
      "syncReturnType" : "UpdateChannelResult"
    },
    "UpdateOriginEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateOriginEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateOriginEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateOriginEndpointRequest, UpdateOriginEndpointResult>",
      "asyncReturnType" : "UpdateOriginEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an existing OriginEndpoint.",
      "exceptions" : [ {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "The parameters sent in the request are not valid.",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "The client is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "The client has exceeded their resource or throttling limits.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateOriginEndpointRequest",
        "variableName" : "updateOriginEndpointRequest",
        "variableType" : "UpdateOriginEndpointRequest",
        "documentation" : "Configuration parameters used to update an existing OriginEndpoint.",
        "simpleType" : "UpdateOriginEndpointRequest",
        "variableSetterType" : "UpdateOriginEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateOriginEndpoint",
      "operationName" : "UpdateOriginEndpoint",
      "returnType" : {
        "returnType" : "UpdateOriginEndpointResult",
        "documentation" : "An updated OriginEndpoint record."
      },
      "syncReturnType" : "UpdateOriginEndpointResult"
    }
  },
  "shapes" : {
    "AdMarkers" : {
      "c2jName" : "AdMarkers",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "NONE",
        "value" : "NONE"
      }, {
        "name" : "SCTE35_ENHANCED",
        "value" : "SCTE35_ENHANCED"
      }, {
        "name" : "PASSTHROUGH",
        "value" : "PASSTHROUGH"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AdMarkers",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AdMarkers",
        "variableName" : "adMarkers",
        "variableType" : "AdMarkers",
        "documentation" : null,
        "simpleType" : "AdMarkers",
        "variableSetterType" : "AdMarkers"
      },
      "wrapper" : false
    },
    "Channel" : {
      "c2jName" : "Channel",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A Channel resource configuration.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Arn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@return The Amazon Resource Name (ARN) assigned to the Channel.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "setterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "A short text description of the Channel.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**A short text description of the Channel.\n@return A short text description of the Channel.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "setterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "A short text description of the Channel.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HlsIngest",
        "c2jShape" : "HlsIngest",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHlsIngest",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getHlsIngest",
        "getterModel" : {
          "returnType" : "HlsIngest",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "hlsIngest",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "hlsIngest",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "HlsIngest",
        "setterDocumentation" : "/**\n@param hlsIngest */",
        "setterMethodName" : "setHlsIngest",
        "setterModel" : {
          "variableDeclarationType" : "HlsIngest",
          "variableName" : "hlsIngest",
          "variableType" : "HlsIngest",
          "documentation" : "",
          "simpleType" : "HlsIngest",
          "variableSetterType" : "HlsIngest"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "HlsIngest",
          "variableName" : "hlsIngest",
          "variableType" : "HlsIngest",
          "documentation" : "",
          "simpleType" : "HlsIngest",
          "variableSetterType" : "HlsIngest"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The ID of the Channel.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**The ID of the Channel.\n@return The ID of the Channel.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "setterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "The ID of the Channel.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "Arn",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@return The Amazon Resource Name (ARN) assigned to the Channel.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "setterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "A short text description of the Channel.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**A short text description of the Channel.\n@return A short text description of the Channel.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "setterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "A short text description of the Channel.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HlsIngest" : {
          "c2jName" : "HlsIngest",
          "c2jShape" : "HlsIngest",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHlsIngest",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getHlsIngest",
          "getterModel" : {
            "returnType" : "HlsIngest",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "hlsIngest",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "hlsIngest",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "HlsIngest",
          "setterDocumentation" : "/**\n@param hlsIngest */",
          "setterMethodName" : "setHlsIngest",
          "setterModel" : {
            "variableDeclarationType" : "HlsIngest",
            "variableName" : "hlsIngest",
            "variableType" : "HlsIngest",
            "documentation" : "",
            "simpleType" : "HlsIngest",
            "variableSetterType" : "HlsIngest"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "HlsIngest",
            "variableName" : "hlsIngest",
            "variableType" : "HlsIngest",
            "documentation" : "",
            "simpleType" : "HlsIngest",
            "variableSetterType" : "HlsIngest"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The ID of the Channel.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**The ID of the Channel.\n@return The ID of the Channel.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "id",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "setterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "The ID of the Channel.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Channel",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Channel",
        "variableName" : "channel",
        "variableType" : "Channel",
        "documentation" : null,
        "simpleType" : "Channel",
        "variableSetterType" : "Channel"
      },
      "wrapper" : false
    },
    "CreateChannelRequest" : {
      "c2jName" : "CreateChannelRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A new Channel configuration.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateChannel",
        "locationName" : null,
        "requestUri" : "/channels",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Description",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "A short text description of the Channel.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**A short text description of the Channel.\n@return A short text description of the Channel.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "setterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "A short text description of the Channel.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n\n@param id The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n\n@return The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "setterDocumentation" : "/**The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n\n@param id The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n\n@param id The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "A short text description of the Channel.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**A short text description of the Channel.\n@return A short text description of the Channel.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "setterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "A short text description of the Channel.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n\n@param id The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n\n@return The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "id",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "setterDocumentation" : "/**The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n\n@param id The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n\n@param id The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Id" ],
      "shapeName" : "CreateChannelRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateChannelRequest",
        "variableName" : "createChannelRequest",
        "variableType" : "CreateChannelRequest",
        "documentation" : null,
        "simpleType" : "CreateChannelRequest",
        "variableSetterType" : "CreateChannelRequest"
      },
      "wrapper" : false
    },
    "CreateChannelResult" : {
      "c2jName" : "CreateChannelResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Arn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@return The Amazon Resource Name (ARN) assigned to the Channel.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "setterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "A short text description of the Channel.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**A short text description of the Channel.\n@return A short text description of the Channel.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "setterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "A short text description of the Channel.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HlsIngest",
        "c2jShape" : "HlsIngest",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHlsIngest",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getHlsIngest",
        "getterModel" : {
          "returnType" : "HlsIngest",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "hlsIngest",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "hlsIngest",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "HlsIngest",
        "setterDocumentation" : "/**\n@param hlsIngest */",
        "setterMethodName" : "setHlsIngest",
        "setterModel" : {
          "variableDeclarationType" : "HlsIngest",
          "variableName" : "hlsIngest",
          "variableType" : "HlsIngest",
          "documentation" : "",
          "simpleType" : "HlsIngest",
          "variableSetterType" : "HlsIngest"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "HlsIngest",
          "variableName" : "hlsIngest",
          "variableType" : "HlsIngest",
          "documentation" : "",
          "simpleType" : "HlsIngest",
          "variableSetterType" : "HlsIngest"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The ID of the Channel.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**The ID of the Channel.\n@return The ID of the Channel.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "setterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "The ID of the Channel.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "Arn",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@return The Amazon Resource Name (ARN) assigned to the Channel.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "setterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) assigned to the Channel.\n@param arn The Amazon Resource Name (ARN) assigned to the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "The Amazon Resource Name (ARN) assigned to the Channel.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "A short text description of the Channel.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**A short text description of the Channel.\n@return A short text description of the Channel.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "setterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**A short text description of the Channel.\n@param description A short text description of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "A short text description of the Channel.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HlsIngest" : {
          "c2jName" : "HlsIngest",
          "c2jShape" : "HlsIngest",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHlsIngest",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getHlsIngest",
          "getterModel" : {
            "returnType" : "HlsIngest",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "hlsIngest",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "hlsIngest",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "HlsIngest",
          "setterDocumentation" : "/**\n@param hlsIngest */",
          "setterMethodName" : "setHlsIngest",
          "setterModel" : {
            "variableDeclarationType" : "HlsIngest",
            "variableName" : "hlsIngest",
            "variableType" : "HlsIngest",
            "documentation" : "",
            "simpleType" : "HlsIngest",
            "variableSetterType" : "HlsIngest"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param hlsIngest \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "HlsIngest",
            "variableName" : "hlsIngest",
            "variableType" : "HlsIngest",
            "documentation" : "",
            "simpleType" : "HlsIngest",
            "variableSetterType" : "HlsIngest"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The ID of the Channel.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**The ID of the Channel.\n@return The ID of the Channel.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "id",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "setterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The ID of the Channel.\n@param id The ID of the Channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "The ID of the Channel.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateChannelResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CreateChannelResult",
        "variableName" : "createChannelResult",
        "variableType" : "CreateChannelResult",
        "documentation" : null,
        "simpleType" : "CreateChannelResult",
        "variableSetterType" : "CreateChannelResult"
      },
      "wrapper" : false
    },
    "CreateOriginEndpointRequest" : {
      "c2jName" : "CreateOriginEndpointRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Configuration parameters used to create a new OriginEndpoint.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateOriginEndpoint",
        "locationName" : null,
        "requestUri" : "/origin_endpoints",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ChannelId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.\n",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.\n\n@param channelId The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChannelId",
        "getterDocumentation" : "/**The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.\n\n@return The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.*/",
        "getterMethodName" : "getChannelId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "channelId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "channelId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChannelId",
        "setterDocumentation" : "/**The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.\n\n@param channelId The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.*/",
        "setterMethodName" : "setChannelId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "channelId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.\n\n@param channelId The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "channelId",
          "variableType" : "String",
          "documentation" : "The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.\n",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DashPackage",
        "c2jShape" : "DashPackage",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param dashPackage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDashPackage",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getDashPackage",
        "getterModel" : {
          "returnType" : "DashPackage",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "dashPackage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "dashPackage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DashPackage",
        "setterDocumentation" : "/**\n@param dashPackage */",
        "setterMethodName" : "setDashPackage",
        "setterModel" : {
          "variableDeclarationType" : "DashPackage",
          "variableName" : "dashPackage",
          "variableType" : "DashPackage",
          "documentation" : "",
          "simpleType" : "DashPackage",
          "variableSetterType" : "DashPackage"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param dashPackage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "DashPackage",
          "variableName" : "dashPackage",
          "variableType" : "DashPackage",
          "documentation" : "",
          "simpleType" : "DashPackage",
          "variableSetterType" : "DashPackage"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "A short text description of the OriginEndpoint.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A short text description of the OriginEndpoint.\n@param description A short text description of the OriginEndpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**A short text description of the OriginEndpoint.\n@return A short text description of the OriginEndpoint.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "setterDocumentation" : "/**A short text description of the OriginEndpoint.\n@param description A short text description of the OriginEndpoint.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A short text description of the OriginEndpoint.\n@param description A short text description of the OriginEndpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "A short text description of the OriginEndpoint.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HlsPackage",
        "c2jShape" : "HlsPackage",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param hlsPackage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHlsPackage",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getHlsPackage",
        "getterModel" : {
          "returnType" : "HlsPackage",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
[...]
