{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-01-01",
    "asyncClient" : "AmazonMemoryDBAsyncClient",
    "asyncClientBuilderClassName" : "AmazonMemoryDBAsyncClientBuilder",
    "asyncInterface" : "AmazonMemoryDBAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonMemoryDBModuleInjector",
    "defaultEndpoint" : "memory-db.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "memory-db.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>MemoryDB for Redis is a fully managed, Redis-compatible, in-memory database that delivers ultra-fast performance and Multi-AZ durability for modern applications built using microservices architectures. MemoryDB stores the entire database in-memory, enabling low latency and high throughput data access. It is compatible with Redis, a popular open source data store, enabling you to leverage Redis’ flexible and friendly data structures, APIs, and commands.</p>",
    "endpointPrefix" : "memory-db",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.memorydb",
    "packagePath" : "com/amazonaws/services/memorydb",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon MemoryDB",
    "serviceFullName" : "Amazon MemoryDB",
    "serviceId" : "MemoryDB",
    "serviceName" : "Amazon MemoryDB",
    "signingName" : "memorydb",
    "smokeTestsPackageName" : "com.amazonaws.services.memorydb.smoketests",
    "syncClient" : "AmazonMemoryDBClient",
    "syncClientBuilderClassName" : "AmazonMemoryDBClientBuilder",
    "syncInterface" : "AmazonMemoryDB",
    "uid" : "memorydb-2021-01-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchUpdateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdateClusterRequest, BatchUpdateClusterResult>",
      "asyncReturnType" : "BatchUpdateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Apply the service update to a list of clusters supplied. For more information on service updates and applying them, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/managing-updates.html#applying-updates\">Applying the service updates</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUpdateNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdateClusterRequest",
        "variableName" : "batchUpdateClusterRequest",
        "variableType" : "BatchUpdateClusterRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdateClusterRequest",
        "variableSetterType" : "BatchUpdateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdateCluster",
      "operationName" : "BatchUpdateCluster",
      "returnType" : {
        "returnType" : "BatchUpdateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdateClusterResult"
    },
    "CopySnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CopySnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CopySnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CopySnapshotRequest, CopySnapshotResult>",
      "asyncReturnType" : "CopySnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Makes a copy of an existing snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SnapshotAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SnapshotQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSnapshotStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CopySnapshotRequest",
        "variableName" : "copySnapshotRequest",
        "variableType" : "CopySnapshotRequest",
        "documentation" : "",
        "simpleType" : "CopySnapshotRequest",
        "variableSetterType" : "CopySnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "copySnapshot",
      "operationName" : "CopySnapshot",
      "returnType" : {
        "returnType" : "CopySnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "CopySnapshotResult"
    },
    "CreateACL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateACLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateACLRequest, CreateACLResult>",
      "asyncReturnType" : "CreateACLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Access Control List. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/clusters.acls.html\">Authenticating users with Access Contol Lists (ACLs)</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateUserNameException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ACLAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DefaultUserRequiredException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ACLQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateACLRequest",
        "variableName" : "createACLRequest",
        "variableType" : "CreateACLRequest",
        "documentation" : "",
        "simpleType" : "CreateACLRequest",
        "variableSetterType" : "CreateACLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createACL",
      "operationName" : "CreateACL",
      "returnType" : {
        "returnType" : "CreateACLResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateACLResult"
    },
    "CreateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterRequest, CreateClusterResult>",
      "asyncReturnType" : "CreateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a cluster. All nodes in the cluster run the same protocol-compliant engine software.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClusterQuotaForCustomerExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NodeQuotaForClusterExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NodeQuotaForCustomerExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientClusterCapacityException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidVPCNetworkStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ShardsPerClusterQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCredentialsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ACLNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidACLStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateClusterRequest",
        "variableName" : "createClusterRequest",
        "variableType" : "CreateClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateClusterRequest",
        "variableSetterType" : "CreateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCluster",
      "operationName" : "CreateCluster",
      "returnType" : {
        "returnType" : "CreateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateClusterResult"
    },
    "CreateParameterGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateParameterGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateParameterGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateParameterGroupRequest, CreateParameterGroupResult>",
      "asyncReturnType" : "CreateParameterGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new MemoryDB parameter group. A parameter group is a collection of parameters and their values that are applied to all of the nodes in any cluster. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/parametergroups.html\">Configuring engine parameters using parameter groups</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ParameterGroupQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterGroupStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateParameterGroupRequest",
        "variableName" : "createParameterGroupRequest",
        "variableType" : "CreateParameterGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateParameterGroupRequest",
        "variableSetterType" : "CreateParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createParameterGroup",
      "operationName" : "CreateParameterGroup",
      "returnType" : {
        "returnType" : "CreateParameterGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateParameterGroupResult"
    },
    "CreateSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotRequest, CreateSnapshotResult>",
      "asyncReturnType" : "CreateSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a copy of an entire cluster at a specific moment in time.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SnapshotAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SnapshotQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSnapshotRequest",
        "variableName" : "createSnapshotRequest",
        "variableType" : "CreateSnapshotRequest",
        "documentation" : "",
        "simpleType" : "CreateSnapshotRequest",
        "variableSetterType" : "CreateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSnapshot",
      "operationName" : "CreateSnapshot",
      "returnType" : {
        "returnType" : "CreateSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSnapshotResult"
    },
    "CreateSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubnetGroupRequest, CreateSubnetGroupResult>",
      "asyncReturnType" : "CreateSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a subnet group. A subnet group is a collection of subnets (typically private) that you can designate for your clusters running in an Amazon Virtual Private Cloud (VPC) environment. When you create a cluster in an Amazon VPC, you must specify a subnet group. MemoryDB uses that subnet group to choose a subnet and IP addresses within that subnet to associate with your nodes. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/subnetgroups.html\">Subnets and subnet groups</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SubnetGroupAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetGroupQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetNotAllowedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSubnetGroupRequest",
        "variableName" : "createSubnetGroupRequest",
        "variableType" : "CreateSubnetGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateSubnetGroupRequest",
        "variableSetterType" : "CreateSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubnetGroup",
      "operationName" : "CreateSubnetGroup",
      "returnType" : {
        "returnType" : "CreateSubnetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSubnetGroupResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a MemoryDB user. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/clusters.acls.html\">Authenticating users with Access Contol Lists (ACLs)</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UserAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateUserNameException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeleteACL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteACLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteACLRequest, DeleteACLResult>",
      "asyncReturnType" : "DeleteACLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Access Control List. The ACL must first be disassociated from the cluster before it can be deleted. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/clusters.acls.html\">Authenticating users with Access Contol Lists (ACLs)</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ACLNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidACLStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteACLRequest",
        "variableName" : "deleteACLRequest",
        "variableType" : "DeleteACLRequest",
        "documentation" : "",
        "simpleType" : "DeleteACLRequest",
        "variableSetterType" : "DeleteACLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteACL",
      "operationName" : "DeleteACL",
      "returnType" : {
        "returnType" : "DeleteACLResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteACLResult"
    },
    "DeleteCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteClusterRequest, DeleteClusterResult>",
      "asyncReturnType" : "DeleteClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a cluster. It also deletes all associated nodes and node endpoints</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SnapshotAlreadyExistsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteClusterRequest",
        "variableName" : "deleteClusterRequest",
        "variableType" : "DeleteClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteClusterRequest",
        "variableSetterType" : "DeleteClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCluster",
      "operationName" : "DeleteCluster",
      "returnType" : {
        "returnType" : "DeleteClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteClusterResult"
    },
    "DeleteParameterGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteParameterGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteParameterGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteParameterGroupRequest, DeleteParameterGroupResult>",
      "asyncReturnType" : "DeleteParameterGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified parameter group. You cannot delete a parameter group if it is associated with any clusters. You cannot delete the default parameter groups in your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterGroupStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteParameterGroupRequest",
        "variableName" : "deleteParameterGroupRequest",
        "variableType" : "DeleteParameterGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteParameterGroupRequest",
        "variableSetterType" : "DeleteParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteParameterGroup",
      "operationName" : "DeleteParameterGroup",
      "returnType" : {
        "returnType" : "DeleteParameterGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteParameterGroupResult"
    },
    "DeleteSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSnapshotRequest, DeleteSnapshotResult>",
      "asyncReturnType" : "DeleteSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing snapshot. When you receive a successful response from this operation, MemoryDB immediately begins deleting the snapshot; you cannot cancel or revert this operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSnapshotStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSnapshotRequest",
        "variableName" : "deleteSnapshotRequest",
        "variableType" : "DeleteSnapshotRequest",
        "documentation" : "",
        "simpleType" : "DeleteSnapshotRequest",
        "variableSetterType" : "DeleteSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSnapshot",
      "operationName" : "DeleteSnapshot",
      "returnType" : {
        "returnType" : "DeleteSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSnapshotResult"
    },
    "DeleteSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubnetGroupRequest, DeleteSubnetGroupResult>",
      "asyncReturnType" : "DeleteSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a subnet group. You cannot delete a default subnet group or one that is associated with any clusters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SubnetGroupInUseException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSubnetGroupRequest",
        "variableName" : "deleteSubnetGroupRequest",
        "variableType" : "DeleteSubnetGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubnetGroupRequest",
        "variableSetterType" : "DeleteSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubnetGroup",
      "operationName" : "DeleteSubnetGroup",
      "returnType" : {
        "returnType" : "DeleteSubnetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSubnetGroupResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user. The user will be removed from all ACLs and in turn removed from all clusters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidUserStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DescribeACLs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeACLsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeACLsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeACLsRequest, DescribeACLsResult>",
      "asyncReturnType" : "DescribeACLsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of ACLs</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ACLNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeACLsRequest",
        "variableName" : "describeACLsRequest",
        "variableType" : "DescribeACLsRequest",
        "documentation" : "",
        "simpleType" : "DescribeACLsRequest",
        "variableSetterType" : "DescribeACLsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeACLs",
      "operationName" : "DescribeACLs",
      "returnType" : {
        "returnType" : "DescribeACLsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeACLsResult"
    },
    "DescribeClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClustersRequest, DescribeClustersResult>",
      "asyncReturnType" : "DescribeClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about all provisioned clusters if no cluster identifier is specified, or about a specific cluster if a cluster name is supplied.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClustersRequest",
        "variableName" : "describeClustersRequest",
        "variableType" : "DescribeClustersRequest",
        "documentation" : "",
        "simpleType" : "DescribeClustersRequest",
        "variableSetterType" : "DescribeClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeClusters",
      "operationName" : "DescribeClusters",
      "returnType" : {
        "returnType" : "DescribeClustersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeClustersResult"
    },
    "DescribeEngineVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEngineVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEngineVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEngineVersionsRequest, DescribeEngineVersionsResult>",
      "asyncReturnType" : "DescribeEngineVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the available Redis engine versions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEngineVersionsRequest",
        "variableName" : "describeEngineVersionsRequest",
        "variableType" : "DescribeEngineVersionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEngineVersionsRequest",
        "variableSetterType" : "DescribeEngineVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEngineVersions",
      "operationName" : "DescribeEngineVersions",
      "returnType" : {
        "returnType" : "DescribeEngineVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEngineVersionsResult"
    },
    "DescribeEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventsRequest, DescribeEventsResult>",
      "asyncReturnType" : "DescribeEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns events related to clusters, security groups, and parameter groups. You can obtain events specific to a particular cluster, security group, or parameter group by providing the name as a parameter. By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days' worth of events if necessary.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEventsRequest",
        "variableName" : "describeEventsRequest",
        "variableType" : "DescribeEventsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEventsRequest",
        "variableSetterType" : "DescribeEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEvents",
      "operationName" : "DescribeEvents",
      "returnType" : {
        "returnType" : "DescribeEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEventsResult"
    },
    "DescribeParameterGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeParameterGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeParameterGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeParameterGroupsRequest, DescribeParameterGroupsResult>",
      "asyncReturnType" : "DescribeParameterGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of parameter group descriptions. If a parameter group name is specified, the list contains only the descriptions for that group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeParameterGroupsRequest",
        "variableName" : "describeParameterGroupsRequest",
        "variableType" : "DescribeParameterGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeParameterGroupsRequest",
        "variableSetterType" : "DescribeParameterGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeParameterGroups",
      "operationName" : "DescribeParameterGroups",
      "returnType" : {
        "returnType" : "DescribeParameterGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeParameterGroupsResult"
    },
    "DescribeParameters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeParametersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeParametersRequest, DescribeParametersResult>",
      "asyncReturnType" : "DescribeParametersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the detailed parameter list for a particular parameter group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeParametersRequest",
        "variableName" : "describeParametersRequest",
        "variableType" : "DescribeParametersRequest",
        "documentation" : "",
        "simpleType" : "DescribeParametersRequest",
        "variableSetterType" : "DescribeParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeParameters",
      "operationName" : "DescribeParameters",
      "returnType" : {
        "returnType" : "DescribeParametersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeParametersResult"
    },
    "DescribeReservedNodes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReservedNodesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReservedNodesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReservedNodesRequest, DescribeReservedNodesResult>",
      "asyncReturnType" : "DescribeReservedNodesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about reserved nodes for this account, or about a specified reserved node.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ReservedNodeNotFoundException",
        "documentation" : "<p>The requested node does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReservedNodesRequest",
        "variableName" : "describeReservedNodesRequest",
        "variableType" : "DescribeReservedNodesRequest",
        "documentation" : "",
        "simpleType" : "DescribeReservedNodesRequest",
        "variableSetterType" : "DescribeReservedNodesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReservedNodes",
      "operationName" : "DescribeReservedNodes",
      "returnType" : {
        "returnType" : "DescribeReservedNodesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeReservedNodesResult"
    },
    "DescribeReservedNodesOfferings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReservedNodesOfferingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReservedNodesOfferingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReservedNodesOfferingsRequest, DescribeReservedNodesOfferingsResult>",
      "asyncReturnType" : "DescribeReservedNodesOfferingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists available reserved node offerings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ReservedNodesOfferingNotFoundException",
        "documentation" : "<p>The requested node offering does not exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReservedNodesOfferingsRequest",
        "variableName" : "describeReservedNodesOfferingsRequest",
        "variableType" : "DescribeReservedNodesOfferingsRequest",
        "documentation" : "",
        "simpleType" : "DescribeReservedNodesOfferingsRequest",
        "variableSetterType" : "DescribeReservedNodesOfferingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReservedNodesOfferings",
      "operationName" : "DescribeReservedNodesOfferings",
      "returnType" : {
        "returnType" : "DescribeReservedNodesOfferingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeReservedNodesOfferingsResult"
    },
    "DescribeServiceUpdates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServiceUpdatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServiceUpdatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServiceUpdatesRequest, DescribeServiceUpdatesResult>",
      "asyncReturnType" : "DescribeServiceUpdatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details of the service updates</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeServiceUpdatesRequest",
        "variableName" : "describeServiceUpdatesRequest",
        "variableType" : "DescribeServiceUpdatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeServiceUpdatesRequest",
        "variableSetterType" : "DescribeServiceUpdatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeServiceUpdates",
      "operationName" : "DescribeServiceUpdates",
      "returnType" : {
        "returnType" : "DescribeServiceUpdatesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeServiceUpdatesResult"
    },
    "DescribeSnapshots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSnapshotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSnapshotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSnapshotsRequest, DescribeSnapshotsResult>",
      "asyncReturnType" : "DescribeSnapshotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about cluster snapshots. By default, DescribeSnapshots lists all of your snapshots; it can optionally describe a single snapshot, or just the snapshots associated with a particular cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSnapshotsRequest",
        "variableName" : "describeSnapshotsRequest",
        "variableType" : "DescribeSnapshotsRequest",
        "documentation" : "",
        "simpleType" : "DescribeSnapshotsRequest",
        "variableSetterType" : "DescribeSnapshotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSnapshots",
      "operationName" : "DescribeSnapshots",
      "returnType" : {
        "returnType" : "DescribeSnapshotsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSnapshotsResult"
    },
    "DescribeSubnetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubnetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubnetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubnetGroupsRequest, DescribeSubnetGroupsResult>",
      "asyncReturnType" : "DescribeSubnetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of subnet group descriptions. If a subnet group name is specified, the list contains only the description of that group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSubnetGroupsRequest",
        "variableName" : "describeSubnetGroupsRequest",
        "variableType" : "DescribeSubnetGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeSubnetGroupsRequest",
        "variableSetterType" : "DescribeSubnetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubnetGroups",
      "operationName" : "DescribeSubnetGroups",
      "returnType" : {
        "returnType" : "DescribeSubnetGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSubnetGroupsResult"
    },
    "DescribeUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUsersRequest, DescribeUsersResult>",
      "asyncReturnType" : "DescribeUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of users.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUsersRequest",
        "variableName" : "describeUsersRequest",
        "variableType" : "DescribeUsersRequest",
        "documentation" : "",
        "simpleType" : "DescribeUsersRequest",
        "variableSetterType" : "DescribeUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUsers",
      "operationName" : "DescribeUsers",
      "returnType" : {
        "returnType" : "DescribeUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUsersResult"
    },
    "FailoverShard" : {
      "asyncCallableType" : "java.util.concurrent.Callable<FailoverShardResult>",
      "asyncFutureType" : "java.util.concurrent.Future<FailoverShardResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<FailoverShardRequest, FailoverShardResult>",
      "asyncReturnType" : "FailoverShardResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used to failover a shard. This API is designed for testing the behavior of your application in case of MemoryDB failover. It is not designed to be used as a production-level tool for initiating a failover to overcome a problem you may have with the cluster. Moreover, in certain conditions such as large scale operational events, Amazon may block this API. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "APICallRateForCustomerExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ShardNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TestFailoverNotAvailableException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidKMSKeyException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "FailoverShardRequest",
        "variableName" : "failoverShardRequest",
        "variableType" : "FailoverShardRequest",
        "documentation" : "",
        "simpleType" : "FailoverShardRequest",
        "variableSetterType" : "FailoverShardRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "failoverShard",
      "operationName" : "FailoverShard",
      "returnType" : {
        "returnType" : "FailoverShardResult",
        "documentation" : null
      },
      "syncReturnType" : "FailoverShardResult"
    },
    "ListAllowedNodeTypeUpdates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAllowedNodeTypeUpdatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAllowedNodeTypeUpdatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAllowedNodeTypeUpdatesRequest, ListAllowedNodeTypeUpdatesResult>",
      "asyncReturnType" : "ListAllowedNodeTypeUpdatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all available node types that you can scale to from your cluster's current node type. When you use the UpdateCluster operation to scale your cluster, the value of the NodeType parameter must be one of the node types returned by this operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAllowedNodeTypeUpdatesRequest",
        "variableName" : "listAllowedNodeTypeUpdatesRequest",
        "variableType" : "ListAllowedNodeTypeUpdatesRequest",
        "documentation" : "",
        "simpleType" : "ListAllowedNodeTypeUpdatesRequest",
        "variableSetterType" : "ListAllowedNodeTypeUpdatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAllowedNodeTypeUpdates",
      "operationName" : "ListAllowedNodeTypeUpdates",
      "returnType" : {
        "returnType" : "ListAllowedNodeTypeUpdatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAllowedNodeTypeUpdatesResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags currently on a named resource. A tag is a key-value pair where the key and value are case-sensitive. You can use tags to categorize and track your MemoryDB resources. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/Tagging-Resources.html\">Tagging your MemoryDB resources</a> </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidARNException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ACLNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsResult"
    },
    "PurchaseReservedNodesOffering" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PurchaseReservedNodesOfferingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PurchaseReservedNodesOfferingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PurchaseReservedNodesOfferingRequest, PurchaseReservedNodesOfferingResult>",
      "asyncReturnType" : "PurchaseReservedNodesOfferingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows you to purchase a reserved node offering. Reserved nodes are not eligible for cancellation and are non-refundable.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ReservedNodesOfferingNotFoundException",
        "documentation" : "<p>The requested node offering does not exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReservedNodeAlreadyExistsException",
        "documentation" : "<p>You already have a reservation with the given identifier.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReservedNodeQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the user's node quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PurchaseReservedNodesOfferingRequest",
        "variableName" : "purchaseReservedNodesOfferingRequest",
        "variableType" : "PurchaseReservedNodesOfferingRequest",
        "documentation" : "",
        "simpleType" : "PurchaseReservedNodesOfferingRequest",
        "variableSetterType" : "PurchaseReservedNodesOfferingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "purchaseReservedNodesOffering",
      "operationName" : "PurchaseReservedNodesOffering",
      "returnType" : {
        "returnType" : "PurchaseReservedNodesOfferingResult",
        "documentation" : null
      },
      "syncReturnType" : "PurchaseReservedNodesOfferingResult"
    },
    "ResetParameterGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResetParameterGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResetParameterGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResetParameterGroupRequest, ResetParameterGroupResult>",
      "asyncReturnType" : "ResetParameterGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the parameters of a parameter group to the engine or system default value. You can reset specific parameters by submitting a list of parameter names. To reset the entire parameter group, specify the AllParameters and ParameterGroupName parameters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterGroupStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResetParameterGroupRequest",
        "variableName" : "resetParameterGroupRequest",
        "variableType" : "ResetParameterGroupRequest",
        "documentation" : "",
        "simpleType" : "ResetParameterGroupRequest",
        "variableSetterType" : "ResetParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resetParameterGroup",
      "operationName" : "ResetParameterGroup",
      "returnType" : {
        "returnType" : "ResetParameterGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "ResetParameterGroupResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A tag is a key-value pair where the key and value are case-sensitive. You can use tags to categorize and track all your MemoryDB resources. When you add or remove tags on clusters, those actions will be replicated to all nodes in the cluster. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/iam.resourcelevelpermissions.html\">Resource-level permissions</a>.</p> <p>For example, you can use cost-allocation tags to your MemoryDB resources, Amazon generates a cost allocation report as a comma-separated value (CSV) file with your usage and costs aggregated by your tags. You can apply tags that represent business categories (such as cost centers, application names, or owners) to organize your costs across multiple services. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/tagging.html\">Using Cost Allocation Tags</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ACLNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidARNException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to remove tags on a resource</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SnapshotNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidARNException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ACLNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateACL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateACLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateACLRequest, UpdateACLResult>",
      "asyncReturnType" : "UpdateACLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes the list of users that belong to the Access Control List.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ACLNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateUserNameException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DefaultUserRequiredException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidACLStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateACLRequest",
        "variableName" : "updateACLRequest",
        "variableType" : "UpdateACLRequest",
        "documentation" : "",
        "simpleType" : "UpdateACLRequest",
        "variableSetterType" : "UpdateACLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateACL",
      "operationName" : "UpdateACL",
      "returnType" : {
        "returnType" : "UpdateACLResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateACLResult"
    },
    "UpdateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateClusterRequest, UpdateClusterResult>",
      "asyncReturnType" : "UpdateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the settings for a cluster. You can use this operation to change one or more cluster configuration settings by specifying the settings and the new values.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNodeStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidVPCNetworkStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidKMSKeyException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NodeQuotaForClusterExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClusterQuotaForCustomerExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ShardsPerClusterQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NodeQuotaForCustomerExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoOperationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidACLStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ACLNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateClusterRequest",
        "variableName" : "updateClusterRequest",
        "variableType" : "UpdateClusterRequest",
        "documentation" : "",
        "simpleType" : "UpdateClusterRequest",
        "variableSetterType" : "UpdateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCluster",
      "operationName" : "UpdateCluster",
      "returnType" : {
        "returnType" : "UpdateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateClusterResult"
    },
    "UpdateParameterGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateParameterGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateParameterGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateParameterGroupRequest, UpdateParameterGroupResult>",
      "asyncReturnType" : "UpdateParameterGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the parameters of a parameter group. You can modify up to 20 parameters in a single request by submitting a list parameter name and value pairs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterGroupStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateParameterGroupRequest",
        "variableName" : "updateParameterGroupRequest",
        "variableType" : "UpdateParameterGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateParameterGroupRequest",
        "variableSetterType" : "UpdateParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateParameterGroup",
      "operationName" : "UpdateParameterGroup",
      "returnType" : {
        "returnType" : "UpdateParameterGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateParameterGroupResult"
    },
    "UpdateSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSubnetGroupRequest, UpdateSubnetGroupResult>",
      "asyncReturnType" : "UpdateSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a subnet group. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/ubnetGroups.Modifying.html\">Updating a subnet group</a> </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetQuotaExceededException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetInUseException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetNotAllowedException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSubnetGroupRequest",
        "variableName" : "updateSubnetGroupRequest",
        "variableType" : "UpdateSubnetGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateSubnetGroupRequest",
        "variableSetterType" : "UpdateSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSubnetGroup",
      "operationName" : "UpdateSubnetGroup",
      "returnType" : {
        "returnType" : "UpdateSubnetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSubnetGroupResult"
    },
    "UpdateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserRequest, UpdateUserResult>",
      "asyncReturnType" : "UpdateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes user password(s) and/or access string.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUserStateException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserRequest",
        "variableName" : "updateUserRequest",
        "variableType" : "UpdateUserRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserRequest",
        "variableSetterType" : "UpdateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUser",
      "operationName" : "UpdateUser",
      "returnType" : {
        "returnType" : "UpdateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserResult"
    }
  },
  "shapes" : {
    "ACL" : {
      "c2jName" : "ACL",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An Access Control List. You can authenticate users with Access Contol Lists. ACLs enable you to control cluster access by grouping users. These Access control lists are designed as a way to organize access to clusters.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.memorydb.model.ACL",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the Access Control List</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the Access Control List</p>\n@param name The name of the Access Control List\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the Access Control List</p>\n@return The name of the Access Control List*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the Access Control List</p>\n@param name The name of the Access Control List*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the Access Control List</p>\n@param name The name of the Access Control List\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the Access Control List</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".</p>\n@param status Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".</p>\n@return Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".</p>\n@param status Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".</p>\n@param status Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UserNames",
        "c2jShape" : "UserNameList",
        "deprecated" : false,
        "documentation" : "<p>The list of user names that belong to the ACL.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The list of user names that belong to the ACL.</p>\n@param userNames The list of user names that belong to the ACL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUserNames",
        "getterDocumentation" : "/**<p>The list of user names that belong to the ACL.</p>\n@return The list of user names that belong to the ACL.*/",
        "getterMethodName" : "getUserNames",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
[...]
