{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "UsageRecordResult" : [ "Status" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-01-14",
    "asyncClient" : "AWSMarketplaceMeteringAsyncClient",
    "asyncClientBuilderClassName" : "AWSMarketplaceMeteringAsyncClientBuilder",
    "asyncInterface" : "AWSMarketplaceMeteringAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSMarketplaceMeteringModuleInjector",
    "defaultEndpoint" : "https://metering.marketplace.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "metering.marketplace.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Marketplace Metering Service</fullname> <p>This reference provides descriptions of the low-level AWS Marketplace Metering Service API.</p> <p>AWS Marketplace sellers can use this API to submit usage data for custom usage dimensions.</p> <p> <b>Submitting Metering Records</b> </p> <ul> <li> <p> <i>MeterUsage</i>- Submits the metering record for a Marketplace product. MeterUsage is called from an EC2 instance.</p> </li> <li> <p> <i>BatchMeterUsage</i>- Submits the metering record for a set of customers. BatchMeterUsage is called from a software-as-a-service (SaaS) application.</p> </li> </ul> <p> <b>Accepting New Customers</b> </p> <ul> <li> <p> <i>ResolveCustomer</i>- Called by a SaaS application during the registration process. When a buyer visits your website during the registration process, the buyer submits a Registration Token through the browser. The Registration Token is resolved through this API to obtain a CustomerIdentifier and Product Code.</p> </li> </ul>",
    "endpointPrefix" : "metering.marketplace",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.marketplacemetering",
    "packagePath" : "com/amazonaws/services/marketplacemetering",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWSMarketplace Metering",
    "serviceName" : "AWSMarketplace Metering",
    "signingName" : "aws-marketplace",
    "smokeTestsPackageName" : "com.amazonaws.services.marketplacemetering.smoketests",
    "syncClient" : "AWSMarketplaceMeteringClient",
    "syncClientBuilderClassName" : "AWSMarketplaceMeteringClientBuilder",
    "syncInterface" : "AWSMarketplaceMetering",
    "uid" : "meteringmarketplace-2016-01-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchMeterUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchMeterUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchMeterUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchMeterUsageRequest, BatchMeterUsageResult>",
      "asyncReturnType" : "BatchMeterUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>BatchMeterUsage is called from a SaaS application listed on the AWS Marketplace to post metering records for a set of customers.</p> <p>For identical requests, the API is idempotent; requests can be retried with the same records or a subset of the input records.</p> <p>Every request to BatchMeterUsage is for one product. If you need to meter usage for multiple products, you must make multiple calls to BatchMeterUsage.</p> <p>BatchMeterUsage can process up to 25 UsageRecords at a time.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error has occurred. Retry your request. If the problem persists, post a message with details on the AWS forums.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidProductCodeException",
        "documentation" : "<p>The product code passed does not match the product code used for publishing the product.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUsageDimensionException",
        "documentation" : "<p>The usage dimension does not match one of the UsageDimensions associated with products.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCustomerIdentifierException",
        "documentation" : "<p>You have metered usage for a CustomerIdentifier that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TimestampOutOfBoundsException",
        "documentation" : "<p>The timestamp value passed in the meterUsage() is out of allowed range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The calls to the MeterUsage API are throttled.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchMeterUsageRequest",
        "variableName" : "batchMeterUsageRequest",
        "variableType" : "BatchMeterUsageRequest",
        "documentation" : "<p>A BatchMeterUsageRequest contains UsageRecords, which indicate quantities of usage within your application.</p>",
        "simpleType" : "BatchMeterUsageRequest",
        "variableSetterType" : "BatchMeterUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchMeterUsage",
      "operationName" : "BatchMeterUsage",
      "returnType" : {
        "returnType" : "BatchMeterUsageResult",
        "documentation" : "<p>Contains the UsageRecords processed by BatchMeterUsage and any records that have failed due to transient error.</p>"
      },
      "syncReturnType" : "BatchMeterUsageResult"
    },
    "MeterUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<MeterUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<MeterUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<MeterUsageRequest, MeterUsageResult>",
      "asyncReturnType" : "MeterUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>API to emit metering records. For identical requests, the API is idempotent. It simply returns the metering record ID.</p> <p>MeterUsage is authenticated on the buyer's AWS account, generally when running from an EC2 instance on the AWS Marketplace.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error has occurred. Retry your request. If the problem persists, post a message with details on the AWS forums.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidProductCodeException",
        "documentation" : "<p>The product code passed does not match the product code used for publishing the product.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUsageDimensionException",
        "documentation" : "<p>The usage dimension does not match one of the UsageDimensions associated with products.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointRegionException",
        "documentation" : "<p>The endpoint being called is in a region different from your EC2 instance. The region of the Metering service endpoint and the region of the EC2 instance must match.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TimestampOutOfBoundsException",
        "documentation" : "<p>The timestamp value passed in the meterUsage() is out of allowed range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>A metering record has already been emitted by the same EC2 instance for the given {usageDimension, timestamp} with a different usageQuantity.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The calls to the MeterUsage API are throttled.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "MeterUsageRequest",
        "variableName" : "meterUsageRequest",
        "variableType" : "MeterUsageRequest",
        "documentation" : "",
        "simpleType" : "MeterUsageRequest",
        "variableSetterType" : "MeterUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "meterUsage",
      "operationName" : "MeterUsage",
      "returnType" : {
        "returnType" : "MeterUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "MeterUsageResult"
    },
    "ResolveCustomer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResolveCustomerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResolveCustomerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResolveCustomerRequest, ResolveCustomerResult>",
      "asyncReturnType" : "ResolveCustomerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>ResolveCustomer is called by a SaaS application during the registration process. When a buyer visits your website during the registration process, the buyer submits a registration token through their browser. The registration token is resolved through this API to obtain a CustomerIdentifier and product code.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidTokenException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredTokenException",
        "documentation" : "<p>The submitted registration token has expired. This can happen if the buyer's browser takes too long to redirect to your page, the buyer has resubmitted the registration token, or your application has held on to the registration token for too long. Your SaaS registration website should redeem this token as soon as it is submitted by the buyer's browser.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The calls to the MeterUsage API are throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error has occurred. Retry your request. If the problem persists, post a message with details on the AWS forums.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ResolveCustomerRequest",
        "variableName" : "resolveCustomerRequest",
        "variableType" : "ResolveCustomerRequest",
        "documentation" : "<p>Contains input to the ResolveCustomer operation.</p>",
        "simpleType" : "ResolveCustomerRequest",
        "variableSetterType" : "ResolveCustomerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resolveCustomer",
      "operationName" : "ResolveCustomer",
      "returnType" : {
        "returnType" : "ResolveCustomerResult",
        "documentation" : "<p>The result of the ResolveCustomer operation. Contains the CustomerIdentifier and product code.</p>"
      },
      "syncReturnType" : "ResolveCustomerResult"
    }
  },
  "shapes" : {
    "BatchMeterUsageRequest" : {
      "c2jName" : "BatchMeterUsageRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A BatchMeterUsageRequest contains UsageRecords, which indicate quantities of usage within your application.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchMeterUsage",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSMPMeteringService.BatchMeterUsage",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "UsageRecords",
        "c2jShape" : "UsageRecordList",
        "deprecated" : false,
        "documentation" : "<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>\n@param usageRecords The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsageRecords",
        "getterDocumentation" : "/**<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>\n@return The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.*/",
        "getterMethodName" : "getUsageRecords",
        "getterModel" : {
          "returnType" : "java.util.List<UsageRecord>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "UsageRecords",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "UsageRecords",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "UsageRecord",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "UsageRecord",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "UsageRecord",
              "variableName" : "member",
              "variableType" : "UsageRecord",
              "documentation" : "",
              "simpleType" : "UsageRecord",
              "variableSetterType" : "UsageRecord"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "UsageRecord",
              "variableName" : "member",
              "variableType" : "UsageRecord",
              "documentation" : "",
              "simpleType" : "UsageRecord",
              "variableSetterType" : "UsageRecord"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "UsageRecord",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "UsageRecord",
          "templateImplType" : "java.util.ArrayList<UsageRecord>",
          "templateType" : "java.util.List<UsageRecord>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "UsageRecords",
        "setterDocumentation" : "/**<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>\n@param usageRecords The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.*/",
        "setterMethodName" : "setUsageRecords",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<UsageRecord>",
          "variableName" : "usageRecords",
          "variableType" : "java.util.List<UsageRecord>",
          "documentation" : "",
          "simpleType" : "List<UsageRecord>",
          "variableSetterType" : "java.util.Collection<UsageRecord>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setUsageRecords(java.util.Collection)} or {@link #withUsageRecords(java.util.Collection)} if you want to override the existing values.</p>\n@param usageRecords The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<UsageRecord>",
          "variableName" : "usageRecords",
          "variableType" : "java.util.List<UsageRecord>",
          "documentation" : "<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>",
          "simpleType" : "List<UsageRecord>",
          "variableSetterType" : "java.util.Collection<UsageRecord>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ProductCode",
        "c2jShape" : "ProductCode",
        "deprecated" : false,
        "documentation" : "<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@param productCode Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProductCode",
        "getterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@return Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.*/",
        "getterMethodName" : "getProductCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProductCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProductCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProductCode",
        "setterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@param productCode Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.*/",
        "setterMethodName" : "setProductCode",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "productCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@param productCode Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "productCode",
          "variableType" : "String",
          "documentation" : "<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ProductCode" : {
          "c2jName" : "ProductCode",
          "c2jShape" : "ProductCode",
          "deprecated" : false,
          "documentation" : "<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@param productCode Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProductCode",
          "getterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@return Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.*/",
          "getterMethodName" : "getProductCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ProductCode",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProductCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProductCode",
          "setterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@param productCode Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.*/",
          "setterMethodName" : "setProductCode",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "productCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@param productCode Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "productCode",
            "variableType" : "String",
            "documentation" : "<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "UsageRecords" : {
          "c2jName" : "UsageRecords",
          "c2jShape" : "UsageRecordList",
          "deprecated" : false,
          "documentation" : "<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>\n@param usageRecords The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUsageRecords",
          "getterDocumentation" : "/**<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>\n@return The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.*/",
          "getterMethodName" : "getUsageRecords",
          "getterModel" : {
            "returnType" : "java.util.List<UsageRecord>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "UsageRecords",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "UsageRecords",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "UsageRecord",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "UsageRecord",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "UsageRecord",
                "variableName" : "member",
                "variableType" : "UsageRecord",
                "documentation" : "",
                "simpleType" : "UsageRecord",
                "variableSetterType" : "UsageRecord"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "UsageRecord",
                "variableName" : "member",
                "variableType" : "UsageRecord",
                "documentation" : "",
                "simpleType" : "UsageRecord",
                "variableSetterType" : "UsageRecord"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "UsageRecord",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "UsageRecord",
            "templateImplType" : "java.util.ArrayList<UsageRecord>",
            "templateType" : "java.util.List<UsageRecord>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "UsageRecords",
          "setterDocumentation" : "/**<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>\n@param usageRecords The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.*/",
          "setterMethodName" : "setUsageRecords",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<UsageRecord>",
            "variableName" : "usageRecords",
            "variableType" : "java.util.List<UsageRecord>",
            "documentation" : "",
            "simpleType" : "List<UsageRecord>",
            "variableSetterType" : "java.util.Collection<UsageRecord>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setUsageRecords(java.util.Collection)} or {@link #withUsageRecords(java.util.Collection)} if you want to override the existing values.</p>\n@param usageRecords The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<UsageRecord>",
            "variableName" : "usageRecords",
            "variableType" : "java.util.List<UsageRecord>",
            "documentation" : "<p>The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.</p>",
            "simpleType" : "List<UsageRecord>",
            "variableSetterType" : "java.util.Collection<UsageRecord>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "UsageRecords", "ProductCode" ],
      "shapeName" : "BatchMeterUsageRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BatchMeterUsageRequest",
        "variableName" : "batchMeterUsageRequest",
        "variableType" : "BatchMeterUsageRequest",
        "documentation" : null,
        "simpleType" : "BatchMeterUsageRequest",
        "variableSetterType" : "BatchMeterUsageRequest"
      },
      "wrapper" : false
    },
    "BatchMeterUsageResult" : {
      "c2jName" : "BatchMeterUsageResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the UsageRecords processed by BatchMeterUsage and any records that have failed due to transient error.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Results",
        "c2jShape" : "UsageRecordResultList",
        "deprecated" : false,
        "documentation" : "<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>\n@param results Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResults",
        "getterDocumentation" : "/**<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>\n@return Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.*/",
        "getterMethodName" : "getResults",
        "getterModel" : {
          "returnType" : "java.util.List<UsageRecordResult>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Results",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Results",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "UsageRecordResult",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "UsageRecordResult",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "UsageRecordResult",
              "variableName" : "member",
              "variableType" : "UsageRecordResult",
              "documentation" : "",
              "simpleType" : "UsageRecordResult",
              "variableSetterType" : "UsageRecordResult"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "UsageRecordResult",
              "variableName" : "member",
              "variableType" : "UsageRecordResult",
              "documentation" : "",
              "simpleType" : "UsageRecordResult",
              "variableSetterType" : "UsageRecordResult"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "UsageRecordResult",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "UsageRecordResult",
          "templateImplType" : "java.util.ArrayList<UsageRecordResult>",
          "templateType" : "java.util.List<UsageRecordResult>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Results",
        "setterDocumentation" : "/**<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>\n@param results Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.*/",
        "setterMethodName" : "setResults",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<UsageRecordResult>",
          "variableName" : "results",
          "variableType" : "java.util.List<UsageRecordResult>",
          "documentation" : "",
          "simpleType" : "List<UsageRecordResult>",
          "variableSetterType" : "java.util.Collection<UsageRecordResult>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setResults(java.util.Collection)} or {@link #withResults(java.util.Collection)} if you want to override the existing values.</p>\n@param results Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<UsageRecordResult>",
          "variableName" : "results",
          "variableType" : "java.util.List<UsageRecordResult>",
          "documentation" : "<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>",
          "simpleType" : "List<UsageRecordResult>",
          "variableSetterType" : "java.util.Collection<UsageRecordResult>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UnprocessedRecords",
        "c2jShape" : "UsageRecordList",
        "deprecated" : false,
        "documentation" : "<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>\n@param unprocessedRecords Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUnprocessedRecords",
        "getterDocumentation" : "/**<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>\n@return Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.*/",
        "getterMethodName" : "getUnprocessedRecords",
        "getterModel" : {
          "returnType" : "java.util.List<UsageRecord>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "UnprocessedRecords",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "UnprocessedRecords",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "UsageRecord",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "UsageRecord",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "UsageRecord",
              "variableName" : "member",
              "variableType" : "UsageRecord",
              "documentation" : "",
              "simpleType" : "UsageRecord",
              "variableSetterType" : "UsageRecord"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "UsageRecord",
              "variableName" : "member",
              "variableType" : "UsageRecord",
              "documentation" : "",
              "simpleType" : "UsageRecord",
              "variableSetterType" : "UsageRecord"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "UsageRecord",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "UsageRecord",
          "templateImplType" : "java.util.ArrayList<UsageRecord>",
          "templateType" : "java.util.List<UsageRecord>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "UnprocessedRecords",
        "setterDocumentation" : "/**<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>\n@param unprocessedRecords Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.*/",
        "setterMethodName" : "setUnprocessedRecords",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<UsageRecord>",
          "variableName" : "unprocessedRecords",
          "variableType" : "java.util.List<UsageRecord>",
          "documentation" : "",
          "simpleType" : "List<UsageRecord>",
          "variableSetterType" : "java.util.Collection<UsageRecord>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setUnprocessedRecords(java.util.Collection)} or {@link #withUnprocessedRecords(java.util.Collection)} if you want to override the existing values.</p>\n@param unprocessedRecords Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<UsageRecord>",
          "variableName" : "unprocessedRecords",
          "variableType" : "java.util.List<UsageRecord>",
          "documentation" : "<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>",
          "simpleType" : "List<UsageRecord>",
          "variableSetterType" : "java.util.Collection<UsageRecord>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Results" : {
          "c2jName" : "Results",
          "c2jShape" : "UsageRecordResultList",
          "deprecated" : false,
          "documentation" : "<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>\n@param results Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResults",
          "getterDocumentation" : "/**<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>\n@return Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.*/",
          "getterMethodName" : "getResults",
          "getterModel" : {
            "returnType" : "java.util.List<UsageRecordResult>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Results",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Results",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "UsageRecordResult",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "UsageRecordResult",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "UsageRecordResult",
                "variableName" : "member",
                "variableType" : "UsageRecordResult",
                "documentation" : "",
                "simpleType" : "UsageRecordResult",
                "variableSetterType" : "UsageRecordResult"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "UsageRecordResult",
                "variableName" : "member",
                "variableType" : "UsageRecordResult",
                "documentation" : "",
                "simpleType" : "UsageRecordResult",
                "variableSetterType" : "UsageRecordResult"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "UsageRecordResult",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "UsageRecordResult",
            "templateImplType" : "java.util.ArrayList<UsageRecordResult>",
            "templateType" : "java.util.List<UsageRecordResult>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Results",
          "setterDocumentation" : "/**<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>\n@param results Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.*/",
          "setterMethodName" : "setResults",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<UsageRecordResult>",
            "variableName" : "results",
            "variableType" : "java.util.List<UsageRecordResult>",
            "documentation" : "",
            "simpleType" : "List<UsageRecordResult>",
            "variableSetterType" : "java.util.Collection<UsageRecordResult>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setResults(java.util.Collection)} or {@link #withResults(java.util.Collection)} if you want to override the existing values.</p>\n@param results Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<UsageRecordResult>",
            "variableName" : "results",
            "variableType" : "java.util.List<UsageRecordResult>",
            "documentation" : "<p>Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.</p>",
            "simpleType" : "List<UsageRecordResult>",
            "variableSetterType" : "java.util.Collection<UsageRecordResult>"
          },
          "xmlNameSpaceUri" : null
        },
        "UnprocessedRecords" : {
          "c2jName" : "UnprocessedRecords",
          "c2jShape" : "UsageRecordList",
          "deprecated" : false,
          "documentation" : "<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>\n@param unprocessedRecords Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUnprocessedRecords",
          "getterDocumentation" : "/**<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>\n@return Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.*/",
          "getterMethodName" : "getUnprocessedRecords",
          "getterModel" : {
            "returnType" : "java.util.List<UsageRecord>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "UnprocessedRecords",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "UnprocessedRecords",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "UsageRecord",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "UsageRecord",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "UsageRecord",
                "variableName" : "member",
                "variableType" : "UsageRecord",
                "documentation" : "",
                "simpleType" : "UsageRecord",
                "variableSetterType" : "UsageRecord"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "UsageRecord",
                "variableName" : "member",
                "variableType" : "UsageRecord",
                "documentation" : "",
                "simpleType" : "UsageRecord",
                "variableSetterType" : "UsageRecord"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "UsageRecord",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "UsageRecord",
            "templateImplType" : "java.util.ArrayList<UsageRecord>",
            "templateType" : "java.util.List<UsageRecord>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "UnprocessedRecords",
          "setterDocumentation" : "/**<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>\n@param unprocessedRecords Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.*/",
          "setterMethodName" : "setUnprocessedRecords",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<UsageRecord>",
            "variableName" : "unprocessedRecords",
            "variableType" : "java.util.List<UsageRecord>",
            "documentation" : "",
            "simpleType" : "List<UsageRecord>",
            "variableSetterType" : "java.util.Collection<UsageRecord>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setUnprocessedRecords(java.util.Collection)} or {@link #withUnprocessedRecords(java.util.Collection)} if you want to override the existing values.</p>\n@param unprocessedRecords Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<UsageRecord>",
            "variableName" : "unprocessedRecords",
            "variableType" : "java.util.List<UsageRecord>",
            "documentation" : "<p>Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.</p>",
            "simpleType" : "List<UsageRecord>",
            "variableSetterType" : "java.util.Collection<UsageRecord>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BatchMeterUsageResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BatchMeterUsageResult",
        "variableName" : "batchMeterUsageResult",
        "variableType" : "BatchMeterUsageResult",
        "documentation" : null,
        "simpleType" : "BatchMeterUsageResult",
        "variableSetterType" : "BatchMeterUsageResult"
      },
      "wrapper" : false
    },
    "DuplicateRequestException" : {
      "c2jName" : "DuplicateRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A metering record has already been emitted by the same EC2 instance for the given {usageDimension, timestamp} with a different usageQuantity.</p>",
      "enums" : null,
      "errorCode" : "DuplicateRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DuplicateRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DuplicateRequestException",
        "variableName" : "duplicateRequestException",
        "variableType" : "DuplicateRequestException",
        "documentation" : null,
        "simpleType" : "DuplicateRequestException",
        "variableSetterType" : "DuplicateRequestException"
      },
      "wrapper" : false
    },
    "ExpiredTokenException" : {
      "c2jName" : "ExpiredTokenException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The submitted registration token has expired. This can happen if the buyer's browser takes too long to redirect to your page, the buyer has resubmitted the registration token, or your application has held on to the registration token for too long. Your SaaS registration website should redeem this token as soon as it is submitted by the buyer's browser.</p>",
      "enums" : null,
      "errorCode" : "ExpiredTokenException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ExpiredTokenException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ExpiredTokenException",
        "variableName" : "expiredTokenException",
        "variableType" : "ExpiredTokenException",
        "documentation" : null,
        "simpleType" : "ExpiredTokenException",
        "variableSetterType" : "ExpiredTokenException"
      },
      "wrapper" : false
    },
    "InternalServiceErrorException" : {
      "c2jName" : "InternalServiceErrorException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An internal error has occurred. Retry your request. If the problem persists, post a message with details on the AWS forums.</p>",
      "enums" : null,
      "errorCode" : "InternalServiceErrorException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InternalServiceErrorException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "InternalServiceErrorException",
        "variableName" : "internalServiceErrorException",
        "variableType" : "InternalServiceErrorException",
        "documentation" : null,
        "simpleType" : "InternalServiceErrorException",
        "variableSetterType" : "InternalServiceErrorException"
      },
      "wrapper" : false
    },
    "InvalidCustomerIdentifierException" : {
      "c2jName" : "InvalidCustomerIdentifierException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You have metered usage for a CustomerIdentifier that does not exist.</p>",
      "enums" : null,
      "errorCode" : "InvalidCustomerIdentifierException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidCustomerIdentifierException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "InvalidCustomerIdentifierException",
        "variableName" : "invalidCustomerIdentifierException",
        "variableType" : "InvalidCustomerIdentifierException",
        "documentation" : null,
        "simpleType" : "InvalidCustomerIdentifierException",
        "variableSetterType" : "InvalidCustomerIdentifierException"
      },
      "wrapper" : false
    },
    "InvalidEndpointRegionException" : {
      "c2jName" : "InvalidEndpointRegionException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The endpoint being called is in a region different from your EC2 instance. The region of the Metering service endpoint and the region of the EC2 instance must match.</p>",
      "enums" : null,
      "errorCode" : "InvalidEndpointRegionException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidEndpointRegionException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "InvalidEndpointRegionException",
        "variableName" : "invalidEndpointRegionException",
        "variableType" : "InvalidEndpointRegionException",
        "documentation" : null,
        "simpleType" : "InvalidEndpointRegionException",
        "variableSetterType" : "InvalidEndpointRegionException"
      },
      "wrapper" : false
    },
    "InvalidProductCodeException" : {
      "c2jName" : "InvalidProductCodeException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The product code passed does not match the product code used for publishing the product.</p>",
      "enums" : null,
      "errorCode" : "InvalidProductCodeException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidProductCodeException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "InvalidProductCodeException",
        "variableName" : "invalidProductCodeException",
        "variableType" : "InvalidProductCodeException",
        "documentation" : null,
        "simpleType" : "InvalidProductCodeException",
        "variableSetterType" : "InvalidProductCodeException"
      },
      "wrapper" : false
    },
    "InvalidTokenException" : {
      "c2jName" : "InvalidTokenException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : "InvalidTokenException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidTokenException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "InvalidTokenException",
        "variableName" : "invalidTokenException",
        "variableType" : "InvalidTokenException",
        "documentation" : null,
        "simpleType" : "InvalidTokenException",
        "variableSetterType" : "InvalidTokenException"
      },
      "wrapper" : false
    },
    "InvalidUsageDimensionException" : {
      "c2jName" : "InvalidUsageDimensionException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The usage dimension does not match one of the UsageDimensions associated with products.</p>",
      "enums" : null,
      "errorCode" : "InvalidUsageDimensionException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidUsageDimensionException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "InvalidUsageDimensionException",
        "variableName" : "invalidUsageDimensionException",
        "variableType" : "InvalidUsageDimensionException",
        "documentation" : null,
        "simpleType" : "InvalidUsageDimensionException",
        "variableSetterType" : "InvalidUsageDimensionException"
      },
      "wrapper" : false
    },
    "MeterUsageRequest" : {
      "c2jName" : "MeterUsageRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "MeterUsage",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSMPMeteringService.MeterUsage",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ProductCode",
        "c2jShape" : "ProductCode",
        "deprecated" : false,
        "documentation" : "<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@param productCode Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProductCode",
        "getterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@return Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.*/",
        "getterMethodName" : "getProductCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProductCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProductCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProductCode",
        "setterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@param productCode Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.*/",
        "setterMethodName" : "setProductCode",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "productCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>\n@param productCode Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "productCode",
          "variableType" : "String",
          "documentation" : "<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Timestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p>\n@param timestamp Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimestamp",
        "getterDocumentation" : "/**<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p>\n@return Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.*/",
        "getterMethodName" : "getTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Timestamp",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Timestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "Timestamp",
        "setterDocumentation" : "/**<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p>\n@param timestamp Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.*/",
        "setterMethodName" : "setTimestamp",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p>\n@param timestamp Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UsageDimension",
        "c2jShape" : "UsageDimension",
        "deprecated" : false,
        "documentation" : "<p>It will be one of the fcp dimension name provided during the publishing of the product.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>It will be one of the fcp dimension name provided during the publishing of the product.</p>\n@param usageDimension It will be one of the fcp dimension name provided during the publishing of the product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsageDimension",
        "getterDocumentation" : "/**<p>It will be one of the fcp dimension name provided during the publishing of the product.</p>\n@return It will be one of the fcp dimension name provided during the publishing of the product.*/",
        "getterMethodName" : "getUsageDimension",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "UsageDimension",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "UsageDimension",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UsageDimension",
        "setterDocumentation" : "/**<p>It will be one of the fcp dimension name provided during the publishing of the product.</p>\n@param usageDimension It will be one of the fcp dimension name provided during the publishing of the product.*/",
        "setterMethodName" : "setUsageDimension",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "usageDimension",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>It will be one of the fcp dimension name provided during the publishing of the product.</p>\n@param usageDimension It will be one of the fcp dimension name provided during the publishing of the product.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "usageDimension",
          "variableType" : "String",
          "documentation" : "<p>It will be one of the fcp dimension name provided during the publishing of the product.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UsageQuantity",
        "c2jShape" : "UsageQuantity",
        "deprecated" : false,
        "documentation" : "<p>Consumption value for the hour.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Consumption value for the hour.</p>\n@param usageQuantity Consumption value for the hour.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsageQuantity",
        "getterDocumentation" : "/**<p>Consumption value for the hour.</p>\n@return Consumption value for the hour.*/",
        "getterMethodName" : "getUsageQuantity",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "UsageQuantity",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "UsageQuantity",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "UsageQuantity",
        "setterDocumentation" : "/**<p>Consumption value for the hour.</p>\n@param usageQuantity Consumption value for the hour.*/",
        "setterMethodName" : "setUsageQuantity",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "usageQuantity",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Consumption value for the hour.</p>\n@param usageQuantity Consumption value for the hour.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "usageQuantity",
          "variableType" : "Integer",
          "documentation" : "<p>Consumption value for the hour.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DryRun",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>Checks whether you have the permissions required for the action, but does not make the request. If you have the permissions, the request returns DryRunOperation; otherwise, it returns UnauthorizedException.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Checks whether you have the permissions required for the action, but does not make the request. If you have the permissions, the request returns DryRunOperation; otherwise, it returns UnauthorizedException.</p>\n@param dryRun Checks whether you have the permissions required for the action, but does not make the request. If you have the permissions, the request returns DryRunOperation; otherwise, it returns UnauthorizedException.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDryRun",
        "getterDocumentation" : "/**<p>Checks whether you have the permissions required for the action, but does not make the request. If you have the permissions, the request returns DryRunOperation; otherwise, it returns UnauthorizedException.</p>\n@return Checks whether you have the permissions required for the action, but does not make the request. If you have the permissions, the request returns DryRunOperation; otherwise, it returns UnauthorizedException.*/",
        "getterMethodName" : "getDryRun",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DryRun",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DryRun",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "DryRun",
[...]
