{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-05-31",
    "asyncClient" : "AWSMigrationHubAsyncClient",
    "asyncClientBuilderClassName" : "AWSMigrationHubAsyncClientBuilder",
    "asyncInterface" : "AWSMigrationHubAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSMigrationHubModuleInjector",
    "defaultEndpoint" : "mgh.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mgh.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The AWS Migration Hub API methods help to obtain server and application migration status and integrate your resource-specific migration tool by providing a programmatic interface to Migration Hub. </p>",
    "endpointPrefix" : "mgh",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.migrationhub",
    "packagePath" : "com/amazonaws/services/migrationhub",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Migration Hub",
    "serviceId" : "Migration Hub",
    "serviceName" : "AWS Migration Hub",
    "signingName" : "mgh",
    "smokeTestsPackageName" : "com.amazonaws.services.migrationhub.smoketests",
    "syncClient" : "AWSMigrationHubClient",
    "syncClientBuilderClassName" : "AWSMigrationHubClientBuilder",
    "syncInterface" : "AWSMigrationHub",
    "uid" : "AWSMigrationHub-2017-05-31",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateCreatedArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateCreatedArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateCreatedArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateCreatedArtifactRequest, AssociateCreatedArtifactResult>",
      "asyncReturnType" : "AssociateCreatedArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a created artifact of an AWS cloud resource, the target receiving the migration, with the migration task performed by a migration tool. This API has the following traits:</p> <ul> <li> <p>Migration tools can call the <code>AssociateCreatedArtifact</code> operation to indicate which AWS artifact is associated with a migration task.</p> </li> <li> <p>The created artifact name must be provided in ARN (Amazon Resource Name) format which will contain information about type and region; for example: <code>arn:aws:ec2:us-east-1:488216288981:image/ami-6d0ba87b</code>.</p> </li> <li> <p>Examples of the AWS resource behind the created artifact are, AMI's, EC2 instance, or DMS endpoint, etc.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateCreatedArtifactRequest",
        "variableName" : "associateCreatedArtifactRequest",
        "variableType" : "AssociateCreatedArtifactRequest",
        "documentation" : "",
        "simpleType" : "AssociateCreatedArtifactRequest",
        "variableSetterType" : "AssociateCreatedArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateCreatedArtifact",
      "operationName" : "AssociateCreatedArtifact",
      "returnType" : {
        "returnType" : "AssociateCreatedArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateCreatedArtifactResult"
    },
    "AssociateDiscoveredResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDiscoveredResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDiscoveredResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDiscoveredResourceRequest, AssociateDiscoveredResourceResult>",
      "asyncReturnType" : "AssociateDiscoveredResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a discovered resource ID from Application Discovery Service (ADS) with a migration task.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PolicyErrorException",
        "documentation" : "<p>Exception raised when there are problems accessing ADS (Application Discovery Service); most likely due to a misconfigured policy or the <code>migrationhub-discovery</code> role is missing or not configured correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDiscoveredResourceRequest",
        "variableName" : "associateDiscoveredResourceRequest",
        "variableType" : "AssociateDiscoveredResourceRequest",
        "documentation" : "",
        "simpleType" : "AssociateDiscoveredResourceRequest",
        "variableSetterType" : "AssociateDiscoveredResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDiscoveredResource",
      "operationName" : "AssociateDiscoveredResource",
      "returnType" : {
        "returnType" : "AssociateDiscoveredResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDiscoveredResourceResult"
    },
    "CreateProgressUpdateStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProgressUpdateStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProgressUpdateStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProgressUpdateStreamRequest, CreateProgressUpdateStreamResult>",
      "asyncReturnType" : "CreateProgressUpdateStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a progress update stream which is an AWS resource used for access control as well as a namespace for migration task names that is implicitly linked to your AWS account. It must uniquely identify the migration tool as it is used for all updates made by the tool; however, it does not need to be unique for each AWS account because it is scoped to the AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProgressUpdateStreamRequest",
        "variableName" : "createProgressUpdateStreamRequest",
        "variableType" : "CreateProgressUpdateStreamRequest",
        "documentation" : "",
        "simpleType" : "CreateProgressUpdateStreamRequest",
        "variableSetterType" : "CreateProgressUpdateStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProgressUpdateStream",
      "operationName" : "CreateProgressUpdateStream",
      "returnType" : {
        "returnType" : "CreateProgressUpdateStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProgressUpdateStreamResult"
    },
    "DeleteProgressUpdateStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProgressUpdateStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProgressUpdateStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProgressUpdateStreamRequest, DeleteProgressUpdateStreamResult>",
      "asyncReturnType" : "DeleteProgressUpdateStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a progress update stream, including all of its tasks, which was previously created as an AWS resource used for access control. This API has the following traits:</p> <ul> <li> <p>The only parameter needed for <code>DeleteProgressUpdateStream</code> is the stream name (same as a <code>CreateProgressUpdateStream</code> call).</p> </li> <li> <p>The call will return, and a background process will asynchronously delete the stream and all of its resources (tasks, associated resources, resource attributes, created artifacts).</p> </li> <li> <p>If the stream takes time to be deleted, it might still show up on a <code>ListProgressUpdateStreams</code> call.</p> </li> <li> <p> <code>CreateProgressUpdateStream</code>, <code>ImportMigrationTask</code>, <code>NotifyMigrationTaskState</code>, and all Associate[*] APIs realted to the tasks belonging to the stream will throw \"InvalidInputException\" if the stream of the same name is in the process of being deleted.</p> </li> <li> <p>Once the stream and all of its resources are deleted, <code>CreateProgressUpdateStream</code> for a stream of the same name will succeed, and that stream will be an entirely new logical resource (without any resources associated with the old stream).</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProgressUpdateStreamRequest",
        "variableName" : "deleteProgressUpdateStreamRequest",
        "variableType" : "DeleteProgressUpdateStreamRequest",
        "documentation" : "",
        "simpleType" : "DeleteProgressUpdateStreamRequest",
        "variableSetterType" : "DeleteProgressUpdateStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProgressUpdateStream",
      "operationName" : "DeleteProgressUpdateStream",
      "returnType" : {
        "returnType" : "DeleteProgressUpdateStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProgressUpdateStreamResult"
    },
    "DescribeApplicationState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationStateRequest, DescribeApplicationStateResult>",
      "asyncReturnType" : "DescribeApplicationStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the migration status of an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PolicyErrorException",
        "documentation" : "<p>Exception raised when there are problems accessing ADS (Application Discovery Service); most likely due to a misconfigured policy or the <code>migrationhub-discovery</code> role is missing or not configured correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeApplicationStateRequest",
        "variableName" : "describeApplicationStateRequest",
        "variableType" : "DescribeApplicationStateRequest",
        "documentation" : "",
        "simpleType" : "DescribeApplicationStateRequest",
        "variableSetterType" : "DescribeApplicationStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApplicationState",
      "operationName" : "DescribeApplicationState",
      "returnType" : {
        "returnType" : "DescribeApplicationStateResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeApplicationStateResult"
    },
    "DescribeMigrationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMigrationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMigrationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMigrationTaskRequest, DescribeMigrationTaskResult>",
      "asyncReturnType" : "DescribeMigrationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of all attributes associated with a specific migration task.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeMigrationTaskRequest",
        "variableName" : "describeMigrationTaskRequest",
        "variableType" : "DescribeMigrationTaskRequest",
        "documentation" : "",
        "simpleType" : "DescribeMigrationTaskRequest",
        "variableSetterType" : "DescribeMigrationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMigrationTask",
      "operationName" : "DescribeMigrationTask",
      "returnType" : {
        "returnType" : "DescribeMigrationTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeMigrationTaskResult"
    },
    "DisassociateCreatedArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateCreatedArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateCreatedArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateCreatedArtifactRequest, DisassociateCreatedArtifactResult>",
      "asyncReturnType" : "DisassociateCreatedArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a created artifact of an AWS resource with a migration task performed by a migration tool that was previously associated. This API has the following traits:</p> <ul> <li> <p>A migration user can call the <code>DisassociateCreatedArtifacts</code> operation to disassociate a created AWS Artifact from a migration task.</p> </li> <li> <p>The created artifact name must be provided in ARN (Amazon Resource Name) format which will contain information about type and region; for example: <code>arn:aws:ec2:us-east-1:488216288981:image/ami-6d0ba87b</code>.</p> </li> <li> <p>Examples of the AWS resource behind the created artifact are, AMI's, EC2 instance, or RDS instance, etc.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateCreatedArtifactRequest",
        "variableName" : "disassociateCreatedArtifactRequest",
        "variableType" : "DisassociateCreatedArtifactRequest",
        "documentation" : "",
        "simpleType" : "DisassociateCreatedArtifactRequest",
        "variableSetterType" : "DisassociateCreatedArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateCreatedArtifact",
      "operationName" : "DisassociateCreatedArtifact",
      "returnType" : {
        "returnType" : "DisassociateCreatedArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateCreatedArtifactResult"
    },
    "DisassociateDiscoveredResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDiscoveredResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDiscoveredResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDiscoveredResourceRequest, DisassociateDiscoveredResourceResult>",
      "asyncReturnType" : "DisassociateDiscoveredResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociate an Application Discovery Service (ADS) discovered resource from a migration task.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateDiscoveredResourceRequest",
        "variableName" : "disassociateDiscoveredResourceRequest",
        "variableType" : "DisassociateDiscoveredResourceRequest",
        "documentation" : "",
        "simpleType" : "DisassociateDiscoveredResourceRequest",
        "variableSetterType" : "DisassociateDiscoveredResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDiscoveredResource",
      "operationName" : "DisassociateDiscoveredResource",
      "returnType" : {
        "returnType" : "DisassociateDiscoveredResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDiscoveredResourceResult"
    },
    "ImportMigrationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportMigrationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportMigrationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportMigrationTaskRequest, ImportMigrationTaskResult>",
      "asyncReturnType" : "ImportMigrationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers a new migration task which represents a server, database, etc., being migrated to AWS by a migration tool.</p> <p>This API is a prerequisite to calling the <code>NotifyMigrationTaskState</code> API as the migration tool must first register the migration task with Migration Hub.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportMigrationTaskRequest",
        "variableName" : "importMigrationTaskRequest",
        "variableType" : "ImportMigrationTaskRequest",
        "documentation" : "",
        "simpleType" : "ImportMigrationTaskRequest",
        "variableSetterType" : "ImportMigrationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importMigrationTask",
      "operationName" : "ImportMigrationTask",
      "returnType" : {
        "returnType" : "ImportMigrationTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportMigrationTaskResult"
    },
    "ListCreatedArtifacts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCreatedArtifactsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCreatedArtifactsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCreatedArtifactsRequest, ListCreatedArtifactsResult>",
      "asyncReturnType" : "ListCreatedArtifactsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the created artifacts attached to a given migration task in an update stream. This API has the following traits:</p> <ul> <li> <p>Gets the list of the created artifacts while migration is taking place.</p> </li> <li> <p>Shows the artifacts created by the migration tool that was associated by the <code>AssociateCreatedArtifact</code> API. </p> </li> <li> <p>Lists created artifacts in a paginated interface. </p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCreatedArtifactsRequest",
        "variableName" : "listCreatedArtifactsRequest",
        "variableType" : "ListCreatedArtifactsRequest",
        "documentation" : "",
        "simpleType" : "ListCreatedArtifactsRequest",
        "variableSetterType" : "ListCreatedArtifactsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCreatedArtifacts",
      "operationName" : "ListCreatedArtifacts",
      "returnType" : {
        "returnType" : "ListCreatedArtifactsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCreatedArtifactsResult"
    },
    "ListDiscoveredResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDiscoveredResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDiscoveredResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDiscoveredResourcesRequest, ListDiscoveredResourcesResult>",
      "asyncReturnType" : "ListDiscoveredResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists discovered resources associated with the given <code>MigrationTask</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDiscoveredResourcesRequest",
        "variableName" : "listDiscoveredResourcesRequest",
        "variableType" : "ListDiscoveredResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListDiscoveredResourcesRequest",
        "variableSetterType" : "ListDiscoveredResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDiscoveredResources",
      "operationName" : "ListDiscoveredResources",
      "returnType" : {
        "returnType" : "ListDiscoveredResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDiscoveredResourcesResult"
    },
    "ListMigrationTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMigrationTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMigrationTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMigrationTasksRequest, ListMigrationTasksResult>",
      "asyncReturnType" : "ListMigrationTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all, or filtered by resource name, migration tasks associated with the user account making this call. This API has the following traits:</p> <ul> <li> <p>Can show a summary list of the most recent migration tasks.</p> </li> <li> <p>Can show a summary list of migration tasks associated with a given discovered resource.</p> </li> <li> <p>Lists migration tasks in a paginated interface.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PolicyErrorException",
        "documentation" : "<p>Exception raised when there are problems accessing ADS (Application Discovery Service); most likely due to a misconfigured policy or the <code>migrationhub-discovery</code> role is missing or not configured correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMigrationTasksRequest",
        "variableName" : "listMigrationTasksRequest",
        "variableType" : "ListMigrationTasksRequest",
        "documentation" : "",
        "simpleType" : "ListMigrationTasksRequest",
        "variableSetterType" : "ListMigrationTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMigrationTasks",
      "operationName" : "ListMigrationTasks",
      "returnType" : {
        "returnType" : "ListMigrationTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMigrationTasksResult"
    },
    "ListProgressUpdateStreams" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProgressUpdateStreamsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProgressUpdateStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProgressUpdateStreamsRequest, ListProgressUpdateStreamsResult>",
      "asyncReturnType" : "ListProgressUpdateStreamsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists progress update streams associated with the user account making this call.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProgressUpdateStreamsRequest",
        "variableName" : "listProgressUpdateStreamsRequest",
        "variableType" : "ListProgressUpdateStreamsRequest",
        "documentation" : "",
        "simpleType" : "ListProgressUpdateStreamsRequest",
        "variableSetterType" : "ListProgressUpdateStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProgressUpdateStreams",
      "operationName" : "ListProgressUpdateStreams",
      "returnType" : {
        "returnType" : "ListProgressUpdateStreamsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProgressUpdateStreamsResult"
    },
    "NotifyApplicationState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<NotifyApplicationStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<NotifyApplicationStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<NotifyApplicationStateRequest, NotifyApplicationStateResult>",
      "asyncReturnType" : "NotifyApplicationStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the migration state of an application. For a given application identified by the value passed to <code>ApplicationId</code>, its status is set or updated by passing one of three values to <code>Status</code>: <code>NOT_STARTED | IN_PROGRESS | COMPLETED</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PolicyErrorException",
        "documentation" : "<p>Exception raised when there are problems accessing ADS (Application Discovery Service); most likely due to a misconfigured policy or the <code>migrationhub-discovery</code> role is missing or not configured correctly.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "NotifyApplicationStateRequest",
        "variableName" : "notifyApplicationStateRequest",
        "variableType" : "NotifyApplicationStateRequest",
        "documentation" : "",
        "simpleType" : "NotifyApplicationStateRequest",
        "variableSetterType" : "NotifyApplicationStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "notifyApplicationState",
      "operationName" : "NotifyApplicationState",
      "returnType" : {
        "returnType" : "NotifyApplicationStateResult",
        "documentation" : null
      },
      "syncReturnType" : "NotifyApplicationStateResult"
    },
    "NotifyMigrationTaskState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<NotifyMigrationTaskStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<NotifyMigrationTaskStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<NotifyMigrationTaskStateRequest, NotifyMigrationTaskStateResult>",
      "asyncReturnType" : "NotifyMigrationTaskStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Notifies Migration Hub of the current status, progress, or other detail regarding a migration task. This API has the following traits:</p> <ul> <li> <p>Migration tools will call the <code>NotifyMigrationTaskState</code> API to share the latest progress and status.</p> </li> <li> <p> <code>MigrationTaskName</code> is used for addressing updates to the correct target.</p> </li> <li> <p> <code>ProgressUpdateStream</code> is used for access control and to provide a namespace for each migration tool.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "NotifyMigrationTaskStateRequest",
        "variableName" : "notifyMigrationTaskStateRequest",
        "variableType" : "NotifyMigrationTaskStateRequest",
        "documentation" : "",
        "simpleType" : "NotifyMigrationTaskStateRequest",
        "variableSetterType" : "NotifyMigrationTaskStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "notifyMigrationTaskState",
      "operationName" : "NotifyMigrationTaskState",
      "returnType" : {
        "returnType" : "NotifyMigrationTaskStateResult",
        "documentation" : null
      },
      "syncReturnType" : "NotifyMigrationTaskStateResult"
    },
    "PutResourceAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResourceAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResourceAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResourceAttributesRequest, PutResourceAttributesResult>",
      "asyncReturnType" : "PutResourceAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides identifying details of the resource being migrated so that it can be associated in the Application Discovery Service (ADS)'s repository. This association occurs asynchronously after <code>PutResourceAttributes</code> returns.</p> <important> <ul> <li> <p>Keep in mind that subsequent calls to PutResourceAttributes will override previously stored attributes. For example, if it is first called with a MAC address, but later, it is desired to <i>add</i> an IP address, it will then be required to call it with <i>both</i> the IP and MAC addresses to prevent overiding the MAC address.</p> </li> <li> <p>Note the instructions regarding the special use case of the <a href=\"https://docs.aws.amazon.com/migrationhub/latest/ug/API_PutResourceAttributes.html#migrationhub-PutResourceAttributes-request-ResourceAttributeList\"> <code>ResourceAttributeList</code> </a> parameter when specifying any \"VM\" related value. </p> </li> </ul> </important> <note> <p>Because this is an asynchronous call, it will always return 200, whether an association occurs or not. To confirm if an association was found based on the provided details, call <code>ListDiscoveredResources</code>.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when there is an internal, configuration, or dependency error encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to \"true\".</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub's repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutResourceAttributesRequest",
        "variableName" : "putResourceAttributesRequest",
        "variableType" : "PutResourceAttributesRequest",
        "documentation" : "",
        "simpleType" : "PutResourceAttributesRequest",
        "variableSetterType" : "PutResourceAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResourceAttributes",
      "operationName" : "PutResourceAttributes",
      "returnType" : {
        "returnType" : "PutResourceAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "PutResourceAttributesResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ApplicationStatus" : {
      "c2jName" : "ApplicationStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "NOT_STARTED",
        "value" : "NOT_STARTED"
      }, {
        "name" : "IN_PROGRESS",
        "value" : "IN_PROGRESS"
      }, {
        "name" : "COMPLETED",
        "value" : "COMPLETED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ApplicationStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplicationStatus",
        "variableName" : "applicationStatus",
        "variableType" : "ApplicationStatus",
        "documentation" : null,
        "simpleType" : "ApplicationStatus",
        "variableSetterType" : "ApplicationStatus"
      },
      "wrapper" : false
    },
    "AssociateCreatedArtifactRequest" : {
      "c2jName" : "AssociateCreatedArtifactRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateCreatedArtifact",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSMigrationHub.AssociateCreatedArtifact",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ProgressUpdateStream",
        "c2jShape" : "ProgressUpdateStream",
        "deprecated" : false,
        "documentation" : "<p>The name of the ProgressUpdateStream. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the ProgressUpdateStream. </p>\n@param progressUpdateStream The name of the ProgressUpdateStream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProgressUpdateStream",
        "getterDocumentation" : "/**<p>The name of the ProgressUpdateStream. </p>\n@return The name of the ProgressUpdateStream.*/",
        "getterMethodName" : "getProgressUpdateStream",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProgressUpdateStream",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProgressUpdateStream",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProgressUpdateStream",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the ProgressUpdateStream. </p>\n@param progressUpdateStream The name of the ProgressUpdateStream.*/",
        "setterMethodName" : "setProgressUpdateStream",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "progressUpdateStream",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the ProgressUpdateStream. </p>\n@param progressUpdateStream The name of the ProgressUpdateStream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "progressUpdateStream",
          "variableType" : "String",
          "documentation" : "<p>The name of the ProgressUpdateStream. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MigrationTaskName",
        "c2jShape" : "MigrationTaskName",
        "deprecated" : false,
        "documentation" : "<p>Unique identifier that references the migration task.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique identifier that references the migration task.</p>\n@param migrationTaskName Unique identifier that references the migration task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMigrationTaskName",
        "getterDocumentation" : "/**<p>Unique identifier that references the migration task.</p>\n@return Unique identifier that references the migration task.*/",
        "getterMethodName" : "getMigrationTaskName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MigrationTaskName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MigrationTaskName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MigrationTaskName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique identifier that references the migration task.</p>\n@param migrationTaskName Unique identifier that references the migration task.*/",
        "setterMethodName" : "setMigrationTaskName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "migrationTaskName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique identifier that references the migration task.</p>\n@param migrationTaskName Unique identifier that references the migration task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "migrationTaskName",
          "variableType" : "String",
          "documentation" : "<p>Unique identifier that references the migration task.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedArtifact",
        "c2jShape" : "CreatedArtifact",
        "deprecated" : false,
        "documentation" : "<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>\n@param createdArtifact An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedArtifact",
        "getterDocumentation" : "/**<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>\n@return An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.)*/",
        "getterMethodName" : "getCreatedArtifact",
        "getterModel" : {
          "returnType" : "CreatedArtifact",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedArtifact",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedArtifact",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CreatedArtifact",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>\n@param createdArtifact An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.)*/",
        "setterMethodName" : "setCreatedArtifact",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CreatedArtifact",
          "variableName" : "createdArtifact",
          "variableType" : "CreatedArtifact",
          "documentation" : "",
          "simpleType" : "CreatedArtifact",
          "variableSetterType" : "CreatedArtifact"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>\n@param createdArtifact An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CreatedArtifact",
          "variableName" : "createdArtifact",
          "variableType" : "CreatedArtifact",
          "documentation" : "<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>",
          "simpleType" : "CreatedArtifact",
          "variableSetterType" : "CreatedArtifact"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DryRun",
        "c2jShape" : "DryRun",
        "deprecated" : false,
        "documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>\n@param dryRun Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDryRun",
        "getterDocumentation" : "/**<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>\n@return Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.*/",
        "getterMethodName" : "getDryRun",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DryRun",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DryRun",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "DryRun",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>\n@param dryRun Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.*/",
        "setterMethodName" : "setDryRun",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "dryRun",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>\n@param dryRun Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "dryRun",
          "variableType" : "Boolean",
          "documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CreatedArtifact" : {
          "c2jName" : "CreatedArtifact",
          "c2jShape" : "CreatedArtifact",
          "deprecated" : false,
          "documentation" : "<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>\n@param createdArtifact An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedArtifact",
          "getterDocumentation" : "/**<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>\n@return An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.)*/",
          "getterMethodName" : "getCreatedArtifact",
          "getterModel" : {
            "returnType" : "CreatedArtifact",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CreatedArtifact",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CreatedArtifact",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CreatedArtifact",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>\n@param createdArtifact An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.)*/",
          "setterMethodName" : "setCreatedArtifact",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CreatedArtifact",
            "variableName" : "createdArtifact",
            "variableType" : "CreatedArtifact",
            "documentation" : "",
            "simpleType" : "CreatedArtifact",
            "variableSetterType" : "CreatedArtifact"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>\n@param createdArtifact An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CreatedArtifact",
            "variableName" : "createdArtifact",
            "variableType" : "CreatedArtifact",
            "documentation" : "<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) </p>",
            "simpleType" : "CreatedArtifact",
            "variableSetterType" : "CreatedArtifact"
          },
          "xmlNameSpaceUri" : null
        },
        "DryRun" : {
          "c2jName" : "DryRun",
          "c2jShape" : "DryRun",
          "deprecated" : false,
          "documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>\n@param dryRun Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDryRun",
          "getterDocumentation" : "/**<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>\n@return Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.*/",
          "getterMethodName" : "getDryRun",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DryRun",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DryRun",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "DryRun",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>\n@param dryRun Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.*/",
          "setterMethodName" : "setDryRun",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "dryRun",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>\n@param dryRun Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "dryRun",
            "variableType" : "Boolean",
            "documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "MigrationTaskName" : {
          "c2jName" : "MigrationTaskName",
          "c2jShape" : "MigrationTaskName",
          "deprecated" : false,
          "documentation" : "<p>Unique identifier that references the migration task.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique identifier that references the migration task.</p>\n@param migrationTaskName Unique identifier that references the migration task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMigrationTaskName",
          "getterDocumentation" : "/**<p>Unique identifier that references the migration task.</p>\n@return Unique identifier that references the migration task.*/",
          "getterMethodName" : "getMigrationTaskName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MigrationTaskName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MigrationTaskName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MigrationTaskName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unique identifier that references the migration task.</p>\n@param migrationTaskName Unique identifier that references the migration task.*/",
          "setterMethodName" : "setMigrationTaskName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "migrationTaskName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique identifier that references the migration task.</p>\n@param migrationTaskName Unique identifier that references the migration task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "migrationTaskName",
            "variableType" : "String",
            "documentation" : "<p>Unique identifier that references the migration task.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProgressUpdateStream" : {
          "c2jName" : "ProgressUpdateStream",
          "c2jShape" : "ProgressUpdateStream",
          "deprecated" : false,
          "documentation" : "<p>The name of the ProgressUpdateStream. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the ProgressUpdateStream. </p>\n@param progressUpdateStream The name of the ProgressUpdateStream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProgressUpdateStream",
          "getterDocumentation" : "/**<p>The name of the ProgressUpdateStream. </p>\n@return The name of the ProgressUpdateStream.*/",
          "getterMethodName" : "getProgressUpdateStream",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ProgressUpdateStream",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProgressUpdateStream",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProgressUpdateStream",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the ProgressUpdateStream. </p>\n@param progressUpdateStream The name of the ProgressUpdateStream.*/",
          "setterMethodName" : "setProgressUpdateStream",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "progressUpdateStream",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the ProgressUpdateStream. </p>\n@param progressUpdateStream The name of the ProgressUpdateStream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "progressUpdateStream",
            "variableType" : "String",
            "documentation" : "<p>The name of the ProgressUpdateStream. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ProgressUpdateStream", "MigrationTaskName", "CreatedArtifact" ],
      "shapeName" : "AssociateCreatedArtifactRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateCreatedArtifactRequest",
        "variableName" : "associateCreatedArtifactRequest",
        "variableType" : "AssociateCreatedArtifactRequest",
        "documentation" : null,
        "simpleType" : "AssociateCreatedArtifactRequest",
        "variableSetterType" : "AssociateCreatedArtifactRequest"
      },
      "wrapper" : false
    },
    "AssociateCreatedArtifactResult" : {
      "c2jName" : "AssociateCreatedArtifactResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateCreatedArtifactResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateCreatedArtifactResult",
        "variableName" : "associateCreatedArtifactResult",
        "variableType" : "AssociateCreatedArtifactResult",
        "documentation" : null,
        "simpleType" : "AssociateCreatedArtifactResult",
        "variableSetterType" : "AssociateCreatedArtifactResult"
      },
      "wrapper" : false
    },
    "AssociateDiscoveredResourceRequest" : {
      "c2jName" : "AssociateDiscoveredResourceRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateDiscoveredResource",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSMigrationHub.AssociateDiscoveredResource",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ProgressUpdateStream",
        "c2jShape" : "ProgressUpdateStream",
        "deprecated" : false,
        "documentation" : "<p>The name of the ProgressUpdateStream.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the ProgressUpdateStream.</p>\n@param progressUpdateStream The name of the ProgressUpdateStream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProgressUpdateStream",
        "getterDocumentation" : "/**<p>The name of the ProgressUpdateStream.</p>\n@return The name of the ProgressUpdateStream.*/",
        "getterMethodName" : "getProgressUpdateStream",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProgressUpdateStream",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProgressUpdateStream",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProgressUpdateStream",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the ProgressUpdateStream.</p>\n@param progressUpdateStream The name of the ProgressUpdateStream.*/",
        "setterMethodName" : "setProgressUpdateStream",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "progressUpdateStream",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the ProgressUpdateStream.</p>\n@param progressUpdateStream The name of the ProgressUpdateStream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "progressUpdateStream",
          "variableType" : "String",
          "documentation" : "<p>The name of the ProgressUpdateStream.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MigrationTaskName",
        "c2jShape" : "MigrationTaskName",
        "deprecated" : false,
        "documentation" : "<p>The identifier given to the MigrationTask.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier given to the MigrationTask.</p>\n@param migrationTaskName The identifier given to the MigrationTask.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMigrationTaskName",
        "getterDocumentation" : "/**<p>The identifier given to the MigrationTask.</p>\n@return The identifier given to the MigrationTask.*/",
        "getterMethodName" : "getMigrationTaskName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MigrationTaskName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MigrationTaskName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MigrationTaskName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier given to the MigrationTask.</p>\n@param migrationTaskName The identifier given to the MigrationTask.*/",
        "setterMethodName" : "setMigrationTaskName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "migrationTaskName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier given to the MigrationTask.</p>\n@param migrationTaskName The identifier given to the MigrationTask.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "migrationTaskName",
          "variableType" : "String",
          "documentation" : "<p>The identifier given to the MigrationTask.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DiscoveredResource",
        "c2jShape" : "DiscoveredResource",
        "deprecated" : false,
        "documentation" : "<p>Object representing a Resource.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Object representing a Resource.</p>\n@param discoveredResource Object representing a Resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDiscoveredResource",
        "getterDocumentation" : "/**<p>Object representing a Resource.</p>\n@return Object representing a Resource.*/",
        "getterMethodName" : "getDiscoveredResource",
        "getterModel" : {
          "returnType" : "DiscoveredResource",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
[...]
