{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-02-26",
    "asyncClient" : "AWSmgnAsyncClient",
    "asyncClientBuilderClassName" : "AWSmgnAsyncClientBuilder",
    "asyncInterface" : "AWSmgnAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSmgnModuleInjector",
    "defaultEndpoint" : "mgn.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mgn.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Application Migration Service service.</p>",
    "endpointPrefix" : "mgn",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mgn",
    "packagePath" : "com/amazonaws/services/mgn",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "mgn",
    "serviceFullName" : "Application Migration Service",
    "serviceId" : "mgn",
    "serviceName" : "mgn",
    "signingName" : "mgn",
    "smokeTestsPackageName" : "com.amazonaws.services.mgn.smoketests",
    "syncClient" : "AWSmgnClient",
    "syncClientBuilderClassName" : "AWSmgnClientBuilder",
    "syncInterface" : "AWSmgn",
    "uid" : "mgn-2020-02-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ChangeServerLifeCycleState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ChangeServerLifeCycleStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ChangeServerLifeCycleStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ChangeServerLifeCycleStateRequest, ChangeServerLifeCycleStateResult>",
      "asyncReturnType" : "ChangeServerLifeCycleStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows the user to set the SourceServer.LifeCycle.state property for specific Source Server IDs to one of the following: READY_FOR_TEST or READY_FOR_CUTOVER. This command only works if the Source Server is already launchable (dataReplicationInfo.lagDuration is not null.)</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChangeServerLifeCycleStateRequest",
        "variableName" : "changeServerLifeCycleStateRequest",
        "variableType" : "ChangeServerLifeCycleStateRequest",
        "documentation" : "",
        "simpleType" : "ChangeServerLifeCycleStateRequest",
        "variableSetterType" : "ChangeServerLifeCycleStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "changeServerLifeCycleState",
      "operationName" : "ChangeServerLifeCycleState",
      "returnType" : {
        "returnType" : "ChangeServerLifeCycleStateResult",
        "documentation" : null
      },
      "syncReturnType" : "ChangeServerLifeCycleStateResult"
    },
    "CreateLaunchConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLaunchConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLaunchConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLaunchConfigurationTemplateRequest, CreateLaunchConfigurationTemplateResult>",
      "asyncReturnType" : "CreateLaunchConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new ReplicationConfigurationTemplate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Operating denied due to a file permission or access check error.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLaunchConfigurationTemplateRequest",
        "variableName" : "createLaunchConfigurationTemplateRequest",
        "variableType" : "CreateLaunchConfigurationTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateLaunchConfigurationTemplateRequest",
        "variableSetterType" : "CreateLaunchConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLaunchConfigurationTemplate",
      "operationName" : "CreateLaunchConfigurationTemplate",
      "returnType" : {
        "returnType" : "CreateLaunchConfigurationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLaunchConfigurationTemplateResult"
    },
    "CreateReplicationConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationConfigurationTemplateRequest, CreateReplicationConfigurationTemplateResult>",
      "asyncReturnType" : "CreateReplicationConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new ReplicationConfigurationTemplate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Operating denied due to a file permission or access check error.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateReplicationConfigurationTemplateRequest",
        "variableName" : "createReplicationConfigurationTemplateRequest",
        "variableType" : "CreateReplicationConfigurationTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateReplicationConfigurationTemplateRequest",
        "variableSetterType" : "CreateReplicationConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationConfigurationTemplate",
      "operationName" : "CreateReplicationConfigurationTemplate",
      "returnType" : {
        "returnType" : "CreateReplicationConfigurationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateReplicationConfigurationTemplateResult"
    },
    "DeleteJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteJobRequest, DeleteJobResult>",
      "asyncReturnType" : "DeleteJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a single Job by ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteJobRequest",
        "variableName" : "deleteJobRequest",
        "variableType" : "DeleteJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteJobRequest",
        "variableSetterType" : "DeleteJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteJob",
      "operationName" : "DeleteJob",
      "returnType" : {
        "returnType" : "DeleteJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteJobResult"
    },
    "DeleteLaunchConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLaunchConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLaunchConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLaunchConfigurationTemplateRequest, DeleteLaunchConfigurationTemplateResult>",
      "asyncReturnType" : "DeleteLaunchConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new ReplicationConfigurationTemplate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLaunchConfigurationTemplateRequest",
        "variableName" : "deleteLaunchConfigurationTemplateRequest",
        "variableType" : "DeleteLaunchConfigurationTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteLaunchConfigurationTemplateRequest",
        "variableSetterType" : "DeleteLaunchConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLaunchConfigurationTemplate",
      "operationName" : "DeleteLaunchConfigurationTemplate",
      "returnType" : {
        "returnType" : "DeleteLaunchConfigurationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLaunchConfigurationTemplateResult"
    },
    "DeleteReplicationConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationConfigurationTemplateRequest, DeleteReplicationConfigurationTemplateResult>",
      "asyncReturnType" : "DeleteReplicationConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a single Replication Configuration Template by ID</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReplicationConfigurationTemplateRequest",
        "variableName" : "deleteReplicationConfigurationTemplateRequest",
        "variableType" : "DeleteReplicationConfigurationTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteReplicationConfigurationTemplateRequest",
        "variableSetterType" : "DeleteReplicationConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationConfigurationTemplate",
      "operationName" : "DeleteReplicationConfigurationTemplate",
      "returnType" : {
        "returnType" : "DeleteReplicationConfigurationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteReplicationConfigurationTemplateResult"
    },
    "DeleteSourceServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSourceServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSourceServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSourceServerRequest, DeleteSourceServerResult>",
      "asyncReturnType" : "DeleteSourceServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a single source server by ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSourceServerRequest",
        "variableName" : "deleteSourceServerRequest",
        "variableType" : "DeleteSourceServerRequest",
        "documentation" : "",
        "simpleType" : "DeleteSourceServerRequest",
        "variableSetterType" : "DeleteSourceServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSourceServer",
      "operationName" : "DeleteSourceServer",
      "returnType" : {
        "returnType" : "DeleteSourceServerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSourceServerResult"
    },
    "DeleteVcenterClient" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVcenterClientResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVcenterClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVcenterClientRequest, DeleteVcenterClientResult>",
      "asyncReturnType" : "DeleteVcenterClientResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a given vCenter client by ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVcenterClientRequest",
        "variableName" : "deleteVcenterClientRequest",
        "variableType" : "DeleteVcenterClientRequest",
        "documentation" : "",
        "simpleType" : "DeleteVcenterClientRequest",
        "variableSetterType" : "DeleteVcenterClientRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVcenterClient",
      "operationName" : "DeleteVcenterClient",
      "returnType" : {
        "returnType" : "DeleteVcenterClientResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVcenterClientResult"
    },
    "DescribeJobLogItems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobLogItemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobLogItemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobLogItemsRequest, DescribeJobLogItemsResult>",
      "asyncReturnType" : "DescribeJobLogItemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves detailed job log items with paging.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobLogItemsRequest",
        "variableName" : "describeJobLogItemsRequest",
        "variableType" : "DescribeJobLogItemsRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobLogItemsRequest",
        "variableSetterType" : "DescribeJobLogItemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobLogItems",
      "operationName" : "DescribeJobLogItems",
      "returnType" : {
        "returnType" : "DescribeJobLogItemsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobLogItemsResult"
    },
    "DescribeJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobsRequest, DescribeJobsResult>",
      "asyncReturnType" : "DescribeJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of Jobs. Use the JobsID and fromDate and toData filters to limit which jobs are returned. The response is sorted by creationDataTime - latest date first. Jobs are normally created by the StartTest, StartCutover, and TerminateTargetInstances APIs. Jobs are also created by DiagnosticLaunch and TerminateDiagnosticInstances, which are APIs available only to *Support* and only used in response to relevant support tickets.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobsRequest",
        "variableName" : "describeJobsRequest",
        "variableType" : "DescribeJobsRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobsRequest",
        "variableSetterType" : "DescribeJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobs",
      "operationName" : "DescribeJobs",
      "returnType" : {
        "returnType" : "DescribeJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobsResult"
    },
    "DescribeLaunchConfigurationTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLaunchConfigurationTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLaunchConfigurationTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLaunchConfigurationTemplatesRequest, DescribeLaunchConfigurationTemplatesResult>",
      "asyncReturnType" : "DescribeLaunchConfigurationTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new ReplicationConfigurationTemplate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLaunchConfigurationTemplatesRequest",
        "variableName" : "describeLaunchConfigurationTemplatesRequest",
        "variableType" : "DescribeLaunchConfigurationTemplatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeLaunchConfigurationTemplatesRequest",
        "variableSetterType" : "DescribeLaunchConfigurationTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLaunchConfigurationTemplates",
      "operationName" : "DescribeLaunchConfigurationTemplates",
      "returnType" : {
        "returnType" : "DescribeLaunchConfigurationTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLaunchConfigurationTemplatesResult"
    },
    "DescribeReplicationConfigurationTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationConfigurationTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationConfigurationTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationConfigurationTemplatesRequest, DescribeReplicationConfigurationTemplatesResult>",
      "asyncReturnType" : "DescribeReplicationConfigurationTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all ReplicationConfigurationTemplates, filtered by Source Server IDs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReplicationConfigurationTemplatesRequest",
        "variableName" : "describeReplicationConfigurationTemplatesRequest",
        "variableType" : "DescribeReplicationConfigurationTemplatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeReplicationConfigurationTemplatesRequest",
        "variableSetterType" : "DescribeReplicationConfigurationTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReplicationConfigurationTemplates",
      "operationName" : "DescribeReplicationConfigurationTemplates",
      "returnType" : {
        "returnType" : "DescribeReplicationConfigurationTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeReplicationConfigurationTemplatesResult"
    },
    "DescribeSourceServers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSourceServersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSourceServersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSourceServersRequest, DescribeSourceServersResult>",
      "asyncReturnType" : "DescribeSourceServersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all SourceServers or multiple SourceServers by ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSourceServersRequest",
        "variableName" : "describeSourceServersRequest",
        "variableType" : "DescribeSourceServersRequest",
        "documentation" : "",
        "simpleType" : "DescribeSourceServersRequest",
        "variableSetterType" : "DescribeSourceServersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSourceServers",
      "operationName" : "DescribeSourceServers",
      "returnType" : {
        "returnType" : "DescribeSourceServersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSourceServersResult"
    },
    "DescribeVcenterClients" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVcenterClientsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVcenterClientsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVcenterClientsRequest, DescribeVcenterClientsResult>",
      "asyncReturnType" : "DescribeVcenterClientsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the installed vCenter clients.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVcenterClientsRequest",
        "variableName" : "describeVcenterClientsRequest",
        "variableType" : "DescribeVcenterClientsRequest",
        "documentation" : "",
        "simpleType" : "DescribeVcenterClientsRequest",
        "variableSetterType" : "DescribeVcenterClientsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVcenterClients",
      "operationName" : "DescribeVcenterClients",
      "returnType" : {
        "returnType" : "DescribeVcenterClientsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeVcenterClientsResult"
    },
    "DisconnectFromService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisconnectFromServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisconnectFromServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisconnectFromServiceRequest, DisconnectFromServiceResult>",
      "asyncReturnType" : "DisconnectFromServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disconnects specific Source Servers from Application Migration Service. Data replication is stopped immediately. All AWS resources created by Application Migration Service for enabling the replication of these source servers will be terminated / deleted within 90 minutes. Launched Test or Cutover instances will NOT be terminated. If the agent on the source server has not been prevented from communicating with the Application Migration Service service, then it will receive a command to uninstall itself (within approximately 10 minutes). The following properties of the SourceServer will be changed immediately: dataReplicationInfo.dataReplicationState will be set to DISCONNECTED; The totalStorageBytes property for each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisconnectFromServiceRequest",
        "variableName" : "disconnectFromServiceRequest",
        "variableType" : "DisconnectFromServiceRequest",
        "documentation" : "",
        "simpleType" : "DisconnectFromServiceRequest",
        "variableSetterType" : "DisconnectFromServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disconnectFromService",
      "operationName" : "DisconnectFromService",
      "returnType" : {
        "returnType" : "DisconnectFromServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "DisconnectFromServiceResult"
    },
    "FinalizeCutover" : {
      "asyncCallableType" : "java.util.concurrent.Callable<FinalizeCutoverResult>",
      "asyncFutureType" : "java.util.concurrent.Future<FinalizeCutoverResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<FinalizeCutoverRequest, FinalizeCutoverResult>",
      "asyncReturnType" : "FinalizeCutoverResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Finalizes the cutover immediately for specific Source Servers. All AWS resources created by Application Migration Service for enabling the replication of these source servers will be terminated / deleted within 90 minutes. Launched Test or Cutover instances will NOT be terminated. The AWS Replication Agent will receive a command to uninstall itself (within 10 minutes). The following properties of the SourceServer will be changed immediately: dataReplicationInfo.dataReplicationState will be changed to DISCONNECTED; The SourceServer.lifeCycle.state will be changed to CUTOVER; The totalStorageBytes property fo each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "FinalizeCutoverRequest",
        "variableName" : "finalizeCutoverRequest",
        "variableType" : "FinalizeCutoverRequest",
        "documentation" : "",
        "simpleType" : "FinalizeCutoverRequest",
        "variableSetterType" : "FinalizeCutoverRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "finalizeCutover",
      "operationName" : "FinalizeCutover",
      "returnType" : {
        "returnType" : "FinalizeCutoverResult",
        "documentation" : null
      },
      "syncReturnType" : "FinalizeCutoverResult"
    },
    "GetLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLaunchConfigurationRequest, GetLaunchConfigurationResult>",
      "asyncReturnType" : "GetLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all LaunchConfigurations available, filtered by Source Server IDs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLaunchConfigurationRequest",
        "variableName" : "getLaunchConfigurationRequest",
        "variableType" : "GetLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetLaunchConfigurationRequest",
        "variableSetterType" : "GetLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLaunchConfiguration",
      "operationName" : "GetLaunchConfiguration",
      "returnType" : {
        "returnType" : "GetLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLaunchConfigurationResult"
    },
    "GetReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReplicationConfigurationRequest, GetReplicationConfigurationResult>",
      "asyncReturnType" : "GetReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all ReplicationConfigurations, filtered by Source Server ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReplicationConfigurationRequest",
        "variableName" : "getReplicationConfigurationRequest",
        "variableType" : "GetReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetReplicationConfigurationRequest",
        "variableSetterType" : "GetReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReplicationConfiguration",
      "operationName" : "GetReplicationConfiguration",
      "returnType" : {
        "returnType" : "GetReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReplicationConfigurationResult"
    },
    "InitializeService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InitializeServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InitializeServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitializeServiceRequest, InitializeServiceResult>",
      "asyncReturnType" : "InitializeServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initialize Application Migration Service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Operating denied due to a file permission or access check error.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InitializeServiceRequest",
        "variableName" : "initializeServiceRequest",
        "variableType" : "InitializeServiceRequest",
        "documentation" : "",
        "simpleType" : "InitializeServiceRequest",
        "variableSetterType" : "InitializeServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "initializeService",
      "operationName" : "InitializeService",
      "returnType" : {
        "returnType" : "InitializeServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "InitializeServiceResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all tags for your Application Migration Service resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Reached throttling quota exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Operating denied due to a file permission or access check error.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an unexpected condition that prevented it from fulfilling the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "MarkAsArchived" : {
      "asyncCallableType" : "java.util.concurrent.Callable<MarkAsArchivedResult>",
      "asyncFutureType" : "java.util.concurrent.Future<MarkAsArchivedResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<MarkAsArchivedRequest, MarkAsArchivedResult>",
      "asyncReturnType" : "MarkAsArchivedResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Archives specific Source Servers by setting the SourceServer.isArchived property to true for specified SourceServers by ID. This command only works for SourceServers with a lifecycle. state which equals DISCONNECTED or CUTOVER.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "MarkAsArchivedRequest",
        "variableName" : "markAsArchivedRequest",
        "variableType" : "MarkAsArchivedRequest",
        "documentation" : "",
        "simpleType" : "MarkAsArchivedRequest",
        "variableSetterType" : "MarkAsArchivedRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "markAsArchived",
      "operationName" : "MarkAsArchived",
      "returnType" : {
        "returnType" : "MarkAsArchivedResult",
        "documentation" : null
      },
      "syncReturnType" : "MarkAsArchivedResult"
    },
    "RetryDataReplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetryDataReplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetryDataReplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetryDataReplicationRequest, RetryDataReplicationResult>",
      "asyncReturnType" : "RetryDataReplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Causes the data replication initiation sequence to begin immediately upon next Handshake for specified SourceServer IDs, regardless of when the previous initiation started. This command will not work if the SourceServer is not stalled or is in a DISCONNECTED or STOPPED state.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RetryDataReplicationRequest",
        "variableName" : "retryDataReplicationRequest",
        "variableType" : "RetryDataReplicationRequest",
        "documentation" : "",
        "simpleType" : "RetryDataReplicationRequest",
        "variableSetterType" : "RetryDataReplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retryDataReplication",
      "operationName" : "RetryDataReplication",
      "returnType" : {
        "returnType" : "RetryDataReplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "RetryDataReplicationResult"
    },
    "StartCutover" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartCutoverResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartCutoverResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartCutoverRequest, StartCutoverResult>",
      "asyncReturnType" : "StartCutoverResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Launches a Cutover Instance for specific Source Servers. This command starts a LAUNCH job whose initiatedBy property is StartCutover and changes the SourceServer.lifeCycle.state property to CUTTING_OVER.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartCutoverRequest",
        "variableName" : "startCutoverRequest",
        "variableType" : "StartCutoverRequest",
        "documentation" : "",
        "simpleType" : "StartCutoverRequest",
        "variableSetterType" : "StartCutoverRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startCutover",
      "operationName" : "StartCutover",
      "returnType" : {
        "returnType" : "StartCutoverResult",
        "documentation" : null
      },
      "syncReturnType" : "StartCutoverResult"
    },
    "StartReplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartReplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartReplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartReplicationRequest, StartReplicationResult>",
      "asyncReturnType" : "StartReplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts replication for SNAPSHOT_SHIPPING agents.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request could not be completed because its exceeded the service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartReplicationRequest",
        "variableName" : "startReplicationRequest",
        "variableType" : "StartReplicationRequest",
        "documentation" : "",
        "simpleType" : "StartReplicationRequest",
        "variableSetterType" : "StartReplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startReplication",
      "operationName" : "StartReplication",
      "returnType" : {
        "returnType" : "StartReplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartReplicationResult"
    },
    "StartTest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTestRequest, StartTestResult>",
      "asyncReturnType" : "StartTestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Launches a Test Instance for specific Source Servers. This command starts a LAUNCH job whose initiatedBy property is StartTest and changes the SourceServer.lifeCycle.state property to TESTING.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartTestRequest",
        "variableName" : "startTestRequest",
        "variableType" : "StartTestRequest",
        "documentation" : "",
        "simpleType" : "StartTestRequest",
        "variableSetterType" : "StartTestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTest",
      "operationName" : "StartTest",
      "returnType" : {
        "returnType" : "StartTestResult",
        "documentation" : null
      },
      "syncReturnType" : "StartTestResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or overwrites only the specified tags for the specified Application Migration Service resource or resources. When you specify an existing tag key, the value is overwritten with the new value. Each resource can have a maximum of 50 tags. Each tag consists of a key and optional value.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Reached throttling quota exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Operating denied due to a file permission or access check error.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an unexpected condition that prevented it from fulfilling the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "TerminateTargetInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateTargetInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateTargetInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateTargetInstancesRequest, TerminateTargetInstancesResult>",
      "asyncReturnType" : "TerminateTargetInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a job that terminates specific launched EC2 Test and Cutover instances. This command will not work for any Source Server with a lifecycle.state of TESTING, CUTTING_OVER, or CUTOVER.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TerminateTargetInstancesRequest",
        "variableName" : "terminateTargetInstancesRequest",
        "variableType" : "TerminateTargetInstancesRequest",
        "documentation" : "",
        "simpleType" : "TerminateTargetInstancesRequest",
        "variableSetterType" : "TerminateTargetInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateTargetInstances",
      "operationName" : "TerminateTargetInstances",
      "returnType" : {
        "returnType" : "TerminateTargetInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateTargetInstancesResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified set of tags from the specified set of Application Migration Service resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Reached throttling quota exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Operating denied due to a file permission or access check error.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an unexpected condition that prevented it from fulfilling the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLaunchConfigurationRequest, UpdateLaunchConfigurationResult>",
      "asyncReturnType" : "UpdateLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates multiple LaunchConfigurations by Source Server ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLaunchConfigurationRequest",
        "variableName" : "updateLaunchConfigurationRequest",
        "variableType" : "UpdateLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateLaunchConfigurationRequest",
        "variableSetterType" : "UpdateLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLaunchConfiguration",
      "operationName" : "UpdateLaunchConfiguration",
      "returnType" : {
        "returnType" : "UpdateLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLaunchConfigurationResult"
    },
    "UpdateLaunchConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLaunchConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLaunchConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLaunchConfigurationTemplateRequest, UpdateLaunchConfigurationTemplateResult>",
      "asyncReturnType" : "UpdateLaunchConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new ReplicationConfigurationTemplate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Operating denied due to a file permission or access check error.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLaunchConfigurationTemplateRequest",
        "variableName" : "updateLaunchConfigurationTemplateRequest",
        "variableType" : "UpdateLaunchConfigurationTemplateRequest",
        "documentation" : "",
        "simpleType" : "UpdateLaunchConfigurationTemplateRequest",
        "variableSetterType" : "UpdateLaunchConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLaunchConfigurationTemplate",
      "operationName" : "UpdateLaunchConfigurationTemplate",
      "returnType" : {
        "returnType" : "UpdateLaunchConfigurationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLaunchConfigurationTemplateResult"
    },
    "UpdateReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReplicationConfigurationRequest, UpdateReplicationConfigurationResult>",
      "asyncReturnType" : "UpdateReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows you to update multiple ReplicationConfigurations by Source Server ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Operating denied due to a file permission or access check error.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateReplicationConfigurationRequest",
        "variableName" : "updateReplicationConfigurationRequest",
        "variableType" : "UpdateReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateReplicationConfigurationRequest",
        "variableSetterType" : "UpdateReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReplicationConfiguration",
      "operationName" : "UpdateReplicationConfiguration",
      "returnType" : {
        "returnType" : "UpdateReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateReplicationConfigurationResult"
    },
    "UpdateReplicationConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReplicationConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReplicationConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReplicationConfigurationTemplateRequest, UpdateReplicationConfigurationTemplateResult>",
      "asyncReturnType" : "UpdateReplicationConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates multiple ReplicationConfigurationTemplates by ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Operating denied due to a file permission or access check error.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateReplicationConfigurationTemplateRequest",
        "variableName" : "updateReplicationConfigurationTemplateRequest",
        "variableType" : "UpdateReplicationConfigurationTemplateRequest",
        "documentation" : "",
        "simpleType" : "UpdateReplicationConfigurationTemplateRequest",
        "variableSetterType" : "UpdateReplicationConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReplicationConfigurationTemplate",
      "operationName" : "UpdateReplicationConfigurationTemplate",
      "returnType" : {
        "returnType" : "UpdateReplicationConfigurationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateReplicationConfigurationTemplateResult"
    },
    "UpdateSourceServerReplicationType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSourceServerReplicationTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSourceServerReplicationTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSourceServerReplicationTypeRequest, UpdateSourceServerReplicationTypeResult>",
      "asyncReturnType" : "UpdateSourceServerReplicationTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows you to change between the AGENT_BASED replication type and the SNAPSHOT_SHIPPING replication type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>Uninitialized account exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found exception.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validate exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSourceServerReplicationTypeRequest",
        "variableName" : "updateSourceServerReplicationTypeRequest",
        "variableType" : "UpdateSourceServerReplicationTypeRequest",
        "documentation" : "",
        "simpleType" : "UpdateSourceServerReplicationTypeRequest",
        "variableSetterType" : "UpdateSourceServerReplicationTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSourceServerReplicationType",
      "operationName" : "UpdateSourceServerReplicationType",
      "returnType" : {
        "returnType" : "UpdateSourceServerReplicationTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSourceServerReplicationTypeResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Operating denied due to a file permission or access check error.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.mgn.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "code",
        "c2jShape" : "LargeBoundedString",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param code */",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "code",
          "c2jShape" : "LargeBoundedString",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param code */",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.mgn.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "BootMode" : {
      "c2jName" : "BootMode",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "LEGACY_BIOS",
        "value" : "LEGACY_BIOS"
      }, {
        "name" : "UEFI",
        "value" : "UEFI"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mgn.enum.BootMode",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.mgn.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "BootMode",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BootMode",
        "variableName" : "bootMode",
        "variableType" : "BootMode",
        "documentation" : null,
        "simpleType" : "BootMode",
        "variableSetterType" : "BootMode"
      },
      "wrapper" : false
    },
    "CPU" : {
      "c2jName" : "CPU",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Source server CPU information.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mgn.model.CPU",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "cores",
        "c2jShape" : "PositiveInteger",
        "deprecated" : false,
        "documentation" : "<p>The number of CPU cores on the source server.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of CPU cores on the source server.</p>\n@param cores The number of CPU cores on the source server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCores",
        "getterDocumentation" : "/**<p>The number of CPU cores on the source server.</p>\n@return The number of CPU cores on the source server.*/",
        "getterMethodName" : "getCores",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cores",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cores",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Cores",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of CPU cores on the source server.</p>\n@param cores The number of CPU cores on the source server.*/",
        "setterMethodName" : "setCores",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "cores",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of CPU cores on the source server.</p>\n@param cores The number of CPU cores on the source server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "cores",
          "variableType" : "Long",
          "documentation" : "<p>The number of CPU cores on the source server.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "modelName",
        "c2jShape" : "BoundedString",
        "deprecated" : false,
        "documentation" : "<p>The source server's CPU model name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The source server's CPU model name.</p>\n@param modelName The source server's CPU model name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModelName",
        "getterDocumentation" : "/**<p>The source server's CPU model name.</p>\n@return The source server's CPU model name.*/",
        "getterMethodName" : "getModelName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "modelName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "modelName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ModelName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The source server's CPU model name.</p>\n@param modelName The source server's CPU model name.*/",
        "setterMethodName" : "setModelName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The source server's CPU model name.</p>\n@param modelName The source server's CPU model name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelName",
          "variableType" : "String",
          "documentation" : "<p>The source server's CPU model name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Cores" : {
          "c2jName" : "cores",
          "c2jShape" : "PositiveInteger",
          "deprecated" : false,
          "documentation" : "<p>The number of CPU cores on the source server.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of CPU cores on the source server.</p>\n@param cores The number of CPU cores on the source server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCores",
          "getterDocumentation" : "/**<p>The number of CPU cores on the source server.</p>\n@return The number of CPU cores on the source server.*/",
          "getterMethodName" : "getCores",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "cores",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "cores",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "Cores",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The number of CPU cores on the source server.</p>\n@param cores The number of CPU cores on the source server.*/",
          "setterMethodName" : "setCores",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "cores",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of CPU cores on the source server.</p>\n@param cores The number of CPU cores on the source server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "cores",
            "variableType" : "Long",
            "documentation" : "<p>The number of CPU cores on the source server.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "ModelName" : {
          "c2jName" : "modelName",
          "c2jShape" : "BoundedString",
          "deprecated" : false,
          "documentation" : "<p>The source server's CPU model name.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The source server's CPU model name.</p>\n@param modelName The source server's CPU model name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withModelName",
          "getterDocumentation" : "/**<p>The source server's CPU model name.</p>\n@return The source server's CPU model name.*/",
          "getterMethodName" : "getModelName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "modelName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "modelName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ModelName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The source server's CPU model name.</p>\n@param modelName The source server's CPU model name.*/",
          "setterMethodName" : "setModelName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "modelName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The source server's CPU model name.</p>\n@param modelName The source server's CPU model name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "modelName",
            "variableType" : "String",
            "documentation" : "<p>The source server's CPU model name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.mgn.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CPU",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CPU",
        "variableName" : "cPU",
        "variableType" : "CPU",
        "documentation" : null,
        "simpleType" : "CPU",
        "variableSetterType" : "CPU"
      },
      "wrapper" : false
    },
    "ChangeServerLifeCycleStateRequest" : {
      "c2jName" : "ChangeServerLifeCycleStateRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mgn.request.ChangeServerLifeCycleStateRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ChangeServerLifeCycleState",
        "locationName" : null,
        "requestUri" : "/ChangeServerLifeCycleState",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "lifeCycle",
        "c2jShape" : "ChangeServerLifeCycleStateSourceServerLifecycle",
        "deprecated" : false,
        "documentation" : "<p>The request to change the source server migration lifecycle state.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The request to change the source server migration lifecycle state.</p>\n@param lifeCycle The request to change the source server migration lifecycle state.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLifeCycle",
        "getterDocumentation" : "/**<p>The request to change the source server migration lifecycle state.</p>\n@return The request to change the source server migration lifecycle state.*/",
        "getterMethodName" : "getLifeCycle",
        "getterModel" : {
          "returnType" : "ChangeServerLifeCycleStateSourceServerLifecycle",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lifeCycle",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
[...]
