{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-02-19",
    "asyncClient" : "AWSMigrationHubStrategyRecommendationsAsyncClient",
    "asyncClientBuilderClassName" : "AWSMigrationHubStrategyRecommendationsAsyncClientBuilder",
    "asyncInterface" : "AWSMigrationHubStrategyRecommendationsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSMigrationHubStrategyRecommendationsModuleInjector",
    "defaultEndpoint" : "migrationhub-strategy.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "migrationhub-strategy.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p><fullname>Migration Hub Strategy Recommendations</fullname></p> <pre><code> &lt;p&gt;This API reference provides descriptions, syntax, and other details about each of the actions and data types for Migration Hub Strategy Recommendations (Strategy Recommendations). The topic for each action shows the API request parameters and the response. Alternatively, you can use one of the AWS SDKs to access an API that is tailored to the programming language or platform that you're using. For more information, see &lt;a href=&quot;http://aws.amazon.com/tools/#SDKs&quot;&gt;AWS SDKs&lt;/a&gt;.&lt;/p&gt; </code></pre>",
    "endpointPrefix" : "migrationhub-strategy",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.migrationhubstrategyrecommendations",
    "packagePath" : "com/amazonaws/services/migrationhubstrategyrecommendations",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Migration Hub Strategy Recommendations",
    "serviceId" : "MigrationHubStrategy",
    "serviceName" : "Migration Hub Strategy Recommendations",
    "signingName" : "migrationhub-strategy",
    "smokeTestsPackageName" : "com.amazonaws.services.migrationhubstrategyrecommendations.smoketests",
    "syncClient" : "AWSMigrationHubStrategyRecommendationsClient",
    "syncClientBuilderClassName" : "AWSMigrationHubStrategyRecommendationsClientBuilder",
    "syncInterface" : "AWSMigrationHubStrategyRecommendations",
    "uid" : "migrationhubstrategy-2020-02-19",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetApplicationComponentDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationComponentDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationComponentDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationComponentDetailsRequest, GetApplicationComponentDetailsResult>",
      "asyncReturnType" : "GetApplicationComponentDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves details about an application component. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ID in the request is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetApplicationComponentDetailsRequest",
        "variableName" : "getApplicationComponentDetailsRequest",
        "variableType" : "GetApplicationComponentDetailsRequest",
        "documentation" : "",
        "simpleType" : "GetApplicationComponentDetailsRequest",
        "variableSetterType" : "GetApplicationComponentDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplicationComponentDetails",
      "operationName" : "GetApplicationComponentDetails",
      "returnType" : {
        "returnType" : "GetApplicationComponentDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetApplicationComponentDetailsResult"
    },
    "GetApplicationComponentStrategies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationComponentStrategiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationComponentStrategiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationComponentStrategiesRequest, GetApplicationComponentStrategiesResult>",
      "asyncReturnType" : "GetApplicationComponentStrategiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves a list of all the recommended strategies and tools for an application component running on a server. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ID in the request is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetApplicationComponentStrategiesRequest",
        "variableName" : "getApplicationComponentStrategiesRequest",
        "variableType" : "GetApplicationComponentStrategiesRequest",
        "documentation" : "",
        "simpleType" : "GetApplicationComponentStrategiesRequest",
        "variableSetterType" : "GetApplicationComponentStrategiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplicationComponentStrategies",
      "operationName" : "GetApplicationComponentStrategies",
      "returnType" : {
        "returnType" : "GetApplicationComponentStrategiesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetApplicationComponentStrategiesResult"
    },
    "GetAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssessmentRequest, GetAssessmentResult>",
      "asyncReturnType" : "GetAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves the status of an on-going assessment. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ID in the request is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssessmentRequest",
        "variableName" : "getAssessmentRequest",
        "variableType" : "GetAssessmentRequest",
        "documentation" : "",
        "simpleType" : "GetAssessmentRequest",
        "variableSetterType" : "GetAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssessment",
      "operationName" : "GetAssessment",
      "returnType" : {
        "returnType" : "GetAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssessmentResult"
    },
    "GetImportFileTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetImportFileTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetImportFileTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetImportFileTaskRequest, GetImportFileTaskResult>",
      "asyncReturnType" : "GetImportFileTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves the details about a specific import task. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ID in the request is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetImportFileTaskRequest",
        "variableName" : "getImportFileTaskRequest",
        "variableType" : "GetImportFileTaskRequest",
        "documentation" : "",
        "simpleType" : "GetImportFileTaskRequest",
        "variableSetterType" : "GetImportFileTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getImportFileTask",
      "operationName" : "GetImportFileTask",
      "returnType" : {
        "returnType" : "GetImportFileTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "GetImportFileTaskResult"
    },
    "GetPortfolioPreferences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPortfolioPreferencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPortfolioPreferencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPortfolioPreferencesRequest, GetPortfolioPreferencesResult>",
      "asyncReturnType" : "GetPortfolioPreferencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves your migration and modernization preferences. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ID in the request is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPortfolioPreferencesRequest",
        "variableName" : "getPortfolioPreferencesRequest",
        "variableType" : "GetPortfolioPreferencesRequest",
        "documentation" : "",
        "simpleType" : "GetPortfolioPreferencesRequest",
        "variableSetterType" : "GetPortfolioPreferencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPortfolioPreferences",
      "operationName" : "GetPortfolioPreferences",
      "returnType" : {
        "returnType" : "GetPortfolioPreferencesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPortfolioPreferencesResult"
    },
    "GetPortfolioSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPortfolioSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPortfolioSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPortfolioSummaryRequest, GetPortfolioSummaryResult>",
      "asyncReturnType" : "GetPortfolioSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves overall summary including the number of servers to rehost and the overall number of anti-patterns. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPortfolioSummaryRequest",
        "variableName" : "getPortfolioSummaryRequest",
        "variableType" : "GetPortfolioSummaryRequest",
        "documentation" : "",
        "simpleType" : "GetPortfolioSummaryRequest",
        "variableSetterType" : "GetPortfolioSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPortfolioSummary",
      "operationName" : "GetPortfolioSummary",
      "returnType" : {
        "returnType" : "GetPortfolioSummaryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPortfolioSummaryResult"
    },
    "GetRecommendationReportDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecommendationReportDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecommendationReportDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecommendationReportDetailsRequest, GetRecommendationReportDetailsResult>",
      "asyncReturnType" : "GetRecommendationReportDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves detailed information about the specified recommendation report. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ID in the request is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecommendationReportDetailsRequest",
        "variableName" : "getRecommendationReportDetailsRequest",
        "variableType" : "GetRecommendationReportDetailsRequest",
        "documentation" : "",
        "simpleType" : "GetRecommendationReportDetailsRequest",
        "variableSetterType" : "GetRecommendationReportDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecommendationReportDetails",
      "operationName" : "GetRecommendationReportDetails",
      "returnType" : {
        "returnType" : "GetRecommendationReportDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRecommendationReportDetailsResult"
    },
    "GetServerDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServerDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServerDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServerDetailsRequest, GetServerDetailsResult>",
      "asyncReturnType" : "GetServerDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves detailed information about a specified server. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ID in the request is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServerDetailsRequest",
        "variableName" : "getServerDetailsRequest",
        "variableType" : "GetServerDetailsRequest",
        "documentation" : "",
        "simpleType" : "GetServerDetailsRequest",
        "variableSetterType" : "GetServerDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServerDetails",
      "operationName" : "GetServerDetails",
      "returnType" : {
        "returnType" : "GetServerDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServerDetailsResult"
    },
    "GetServerStrategies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServerStrategiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServerStrategiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServerStrategiesRequest, GetServerStrategiesResult>",
      "asyncReturnType" : "GetServerStrategiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves recommended strategies and tools for the specified server. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ID in the request is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServerStrategiesRequest",
        "variableName" : "getServerStrategiesRequest",
        "variableType" : "GetServerStrategiesRequest",
        "documentation" : "",
        "simpleType" : "GetServerStrategiesRequest",
        "variableSetterType" : "GetServerStrategiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServerStrategies",
      "operationName" : "GetServerStrategies",
      "returnType" : {
        "returnType" : "GetServerStrategiesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServerStrategiesResult"
    },
    "ListApplicationComponents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationComponentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationComponentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationComponentsRequest, ListApplicationComponentsResult>",
      "asyncReturnType" : "ListApplicationComponentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves a list of all the application components (processes). </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceLinkedRoleLockClientException",
        "documentation" : "<p> Exception to indicate that the service-linked role (SLR) is locked. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationComponentsRequest",
        "variableName" : "listApplicationComponentsRequest",
        "variableType" : "ListApplicationComponentsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationComponentsRequest",
        "variableSetterType" : "ListApplicationComponentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplicationComponents",
      "operationName" : "ListApplicationComponents",
      "returnType" : {
        "returnType" : "ListApplicationComponentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationComponentsResult"
    },
    "ListCollectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCollectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCollectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCollectorsRequest, ListCollectorsResult>",
      "asyncReturnType" : "ListCollectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves a list of all the installed collectors. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCollectorsRequest",
        "variableName" : "listCollectorsRequest",
        "variableType" : "ListCollectorsRequest",
        "documentation" : "",
        "simpleType" : "ListCollectorsRequest",
        "variableSetterType" : "ListCollectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCollectors",
      "operationName" : "ListCollectors",
      "returnType" : {
        "returnType" : "ListCollectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCollectorsResult"
    },
    "ListImportFileTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListImportFileTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListImportFileTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImportFileTaskRequest, ListImportFileTaskResult>",
      "asyncReturnType" : "ListImportFileTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Retrieves a list of all the imports performed. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListImportFileTaskRequest",
        "variableName" : "listImportFileTaskRequest",
        "variableType" : "ListImportFileTaskRequest",
        "documentation" : "",
        "simpleType" : "ListImportFileTaskRequest",
        "variableSetterType" : "ListImportFileTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listImportFileTask",
      "operationName" : "ListImportFileTask",
      "returnType" : {
        "returnType" : "ListImportFileTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "ListImportFileTaskResult"
    },
    "ListServers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServersRequest, ListServersResult>",
      "asyncReturnType" : "ListServersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of all the servers. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServersRequest",
        "variableName" : "listServersRequest",
        "variableType" : "ListServersRequest",
        "documentation" : "",
        "simpleType" : "ListServersRequest",
        "variableSetterType" : "ListServersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServers",
      "operationName" : "ListServers",
      "returnType" : {
        "returnType" : "ListServersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServersResult"
    },
    "PutPortfolioPreferences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutPortfolioPreferencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutPortfolioPreferencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPortfolioPreferencesRequest, PutPortfolioPreferencesResult>",
      "asyncReturnType" : "PutPortfolioPreferencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Saves the specified migration and modernization preferences. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> Exception to indicate that there is an ongoing task when a new task is created. Return when once the existing tasks are complete. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutPortfolioPreferencesRequest",
        "variableName" : "putPortfolioPreferencesRequest",
        "variableType" : "PutPortfolioPreferencesRequest",
        "documentation" : "",
        "simpleType" : "PutPortfolioPreferencesRequest",
        "variableSetterType" : "PutPortfolioPreferencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putPortfolioPreferences",
      "operationName" : "PutPortfolioPreferences",
      "returnType" : {
        "returnType" : "PutPortfolioPreferencesResult",
        "documentation" : null
      },
      "syncReturnType" : "PutPortfolioPreferencesResult"
    },
    "StartAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartAssessmentRequest, StartAssessmentResult>",
      "asyncReturnType" : "StartAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Starts the assessment of an on-premises environment. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The AWS account has reached its quota of imports. Contact AWS Support to increase the quota for this account. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartAssessmentRequest",
        "variableName" : "startAssessmentRequest",
        "variableType" : "StartAssessmentRequest",
        "documentation" : "",
        "simpleType" : "StartAssessmentRequest",
        "variableSetterType" : "StartAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startAssessment",
      "operationName" : "StartAssessment",
      "returnType" : {
        "returnType" : "StartAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "StartAssessmentResult"
    },
    "StartImportFileTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartImportFileTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartImportFileTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartImportFileTaskRequest, StartImportFileTaskResult>",
      "asyncReturnType" : "StartImportFileTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Starts a file import. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The AWS account has reached its quota of imports. Contact AWS Support to increase the quota for this account. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartImportFileTaskRequest",
        "variableName" : "startImportFileTaskRequest",
        "variableType" : "StartImportFileTaskRequest",
        "documentation" : "",
        "simpleType" : "StartImportFileTaskRequest",
        "variableSetterType" : "StartImportFileTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startImportFileTask",
      "operationName" : "StartImportFileTask",
      "returnType" : {
        "returnType" : "StartImportFileTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "StartImportFileTaskResult"
    },
    "StartRecommendationReportGeneration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartRecommendationReportGenerationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartRecommendationReportGenerationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartRecommendationReportGenerationRequest, StartRecommendationReportGenerationResult>",
      "asyncReturnType" : "StartRecommendationReportGenerationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Starts generating a recommendation report. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> Exception to indicate that there is an ongoing task when a new task is created. Return when once the existing tasks are complete. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartRecommendationReportGenerationRequest",
        "variableName" : "startRecommendationReportGenerationRequest",
        "variableType" : "StartRecommendationReportGenerationRequest",
        "documentation" : "",
        "simpleType" : "StartRecommendationReportGenerationRequest",
        "variableSetterType" : "StartRecommendationReportGenerationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startRecommendationReportGeneration",
      "operationName" : "StartRecommendationReportGeneration",
      "returnType" : {
        "returnType" : "StartRecommendationReportGenerationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartRecommendationReportGenerationResult"
    },
    "StopAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopAssessmentRequest, StopAssessmentResult>",
      "asyncReturnType" : "StopAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Stops the assessment of an on-premises environment. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopAssessmentRequest",
        "variableName" : "stopAssessmentRequest",
        "variableType" : "StopAssessmentRequest",
        "documentation" : "",
        "simpleType" : "StopAssessmentRequest",
        "variableSetterType" : "StopAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopAssessment",
      "operationName" : "StopAssessment",
      "returnType" : {
        "returnType" : "StopAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "StopAssessmentResult"
    },
    "UpdateApplicationComponentConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationComponentConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationComponentConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationComponentConfigRequest, UpdateApplicationComponentConfigResult>",
      "asyncReturnType" : "UpdateApplicationComponentConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates the configuration of an application component. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ID in the request is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationComponentConfigRequest",
        "variableName" : "updateApplicationComponentConfigRequest",
        "variableType" : "UpdateApplicationComponentConfigRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationComponentConfigRequest",
        "variableSetterType" : "UpdateApplicationComponentConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplicationComponentConfig",
      "operationName" : "UpdateApplicationComponentConfig",
      "returnType" : {
        "returnType" : "UpdateApplicationComponentConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationComponentConfigResult"
    },
    "UpdateServerConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServerConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServerConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServerConfigRequest, UpdateServerConfigResult>",
      "asyncReturnType" : "UpdateServerConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates the configuration of the specified server. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The specified ID in the request is not found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> The request body isn't valid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> The server experienced an internal error. Try again. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServerConfigRequest",
        "variableName" : "updateServerConfigRequest",
        "variableType" : "UpdateServerConfigRequest",
        "documentation" : "",
        "simpleType" : "UpdateServerConfigRequest",
        "variableSetterType" : "UpdateServerConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServerConfig",
      "operationName" : "UpdateServerConfig",
      "returnType" : {
        "returnType" : "UpdateServerConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServerConfigResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The AWS user account does not have permission to perform the action. Check the AWS Identity and Access Management (IAM) policy associated with this account.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.migrationhubstrategyrecommendations.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.migrationhubstrategyrecommendations.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AntipatternReportStatus" : {
      "c2jName" : "AntipatternReportStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "FAILED",
        "value" : "FAILED"
      }, {
        "name" : "IN_PROGRESS",
        "value" : "IN_PROGRESS"
      }, {
        "name" : "SUCCESS",
        "value" : "SUCCESS"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.migrationhubstrategyrecommendations.enum.AntipatternReportStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.migrationhubstrategyrecommendations.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AntipatternReportStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AntipatternReportStatus",
        "variableName" : "antipatternReportStatus",
        "variableType" : "AntipatternReportStatus",
        "documentation" : null,
        "simpleType" : "AntipatternReportStatus",
        "variableSetterType" : "AntipatternReportStatus"
      },
      "wrapper" : false
    },
    "AntipatternSeveritySummary" : {
      "c2jName" : "AntipatternSeveritySummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Contains the summary of anti-patterns and their severity. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.migrationhubstrategyrecommendations.model.AntipatternSeveritySummary",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "count",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> Contains the count of anti-patterns. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Contains the count of anti-patterns. </p>\n@param count Contains the count of anti-patterns.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCount",
        "getterDocumentation" : "/**<p> Contains the count of anti-patterns. </p>\n@return Contains the count of anti-patterns.*/",
        "getterMethodName" : "getCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "count",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "count",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Count",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Contains the count of anti-patterns. </p>\n@param count Contains the count of anti-patterns.*/",
        "setterMethodName" : "setCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "count",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Contains the count of anti-patterns. </p>\n@param count Contains the count of anti-patterns.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "count",
          "variableType" : "Integer",
          "documentation" : "<p> Contains the count of anti-patterns. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "severity",
        "c2jShape" : "Severity",
        "deprecated" : false,
        "documentation" : "<p> Contains the severity of anti-patterns. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "Severity",
        "fluentSetterDocumentation" : "/**<p> Contains the severity of anti-patterns. </p>\n@param severity Contains the severity of anti-patterns.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Severity*/",
        "fluentSetterMethodName" : "withSeverity",
        "getterDocumentation" : "/**<p> Contains the severity of anti-patterns. </p>\n@return Contains the severity of anti-patterns.\n@see Severity*/",
        "getterMethodName" : "getSeverity",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "severity",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "severity",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Severity",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Contains the severity of anti-patterns. </p>\n@param severity Contains the severity of anti-patterns.\n@see Severity*/",
        "setterMethodName" : "setSeverity",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "severity",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Contains the severity of anti-patterns. </p>\n@param severity Contains the severity of anti-patterns.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Severity*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "severity",
          "variableType" : "String",
          "documentation" : "<p> Contains the severity of anti-patterns. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Count" : {
          "c2jName" : "count",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> Contains the count of anti-patterns. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Contains the count of anti-patterns. </p>\n@param count Contains the count of anti-patterns.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCount",
          "getterDocumentation" : "/**<p> Contains the count of anti-patterns. </p>\n@return Contains the count of anti-patterns.*/",
          "getterMethodName" : "getCount",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "count",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "count",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Count",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Contains the count of anti-patterns. </p>\n@param count Contains the count of anti-patterns.*/",
          "setterMethodName" : "setCount",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "count",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Contains the count of anti-patterns. </p>\n@param count Contains the count of anti-patterns.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "count",
            "variableType" : "Integer",
            "documentation" : "<p> Contains the count of anti-patterns. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Severity" : {
          "c2jName" : "severity",
          "c2jShape" : "Severity",
          "deprecated" : false,
          "documentation" : "<p> Contains the severity of anti-patterns. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : "Severity",
          "fluentSetterDocumentation" : "/**<p> Contains the severity of anti-patterns. </p>\n@param severity Contains the severity of anti-patterns.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Severity*/",
          "fluentSetterMethodName" : "withSeverity",
          "getterDocumentation" : "/**<p> Contains the severity of anti-patterns. </p>\n@return Contains the severity of anti-patterns.\n@see Severity*/",
          "getterMethodName" : "getSeverity",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "severity",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "severity",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Severity",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Contains the severity of anti-patterns. </p>\n@param severity Contains the severity of anti-patterns.\n@see Severity*/",
          "setterMethodName" : "setSeverity",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "severity",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Contains the severity of anti-patterns. </p>\n@param severity Contains the severity of anti-patterns.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Severity*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "severity",
            "variableType" : "String",
            "documentation" : "<p> Contains the severity of anti-patterns. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.migrationhubstrategyrecommendations.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AntipatternSeveritySummary",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AntipatternSeveritySummary",
        "variableName" : "antipatternSeveritySummary",
        "variableType" : "AntipatternSeveritySummary",
        "documentation" : null,
        "simpleType" : "AntipatternSeveritySummary",
        "variableSetterType" : "AntipatternSeveritySummary"
      },
      "wrapper" : false
    },
    "AppType" : {
      "c2jName" : "AppType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "DotNetFramework",
        "value" : "DotNetFramework"
      }, {
        "name" : "Java",
        "value" : "Java"
      }, {
        "name" : "SQLServer",
        "value" : "SQLServer"
      }, {
        "name" : "IIS",
        "value" : "IIS"
      }, {
        "name" : "Oracle",
        "value" : "Oracle"
      }, {
        "name" : "Other",
        "value" : "Other"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.migrationhubstrategyrecommendations.enum.AppType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.migrationhubstrategyrecommendations.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AppType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppType",
        "variableName" : "appType",
        "variableType" : "AppType",
        "documentation" : null,
        "simpleType" : "AppType",
        "variableSetterType" : "AppType"
      },
      "wrapper" : false
    },
    "ApplicationComponentCriteria" : {
      "c2jName" : "ApplicationComponentCriteria",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "NOT_DEFINED",
        "value" : "NOT_DEFINED"
      }, {
        "name" : "APP_NAME",
        "value" : "APP_NAME"
      }, {
        "name" : "SERVER_ID",
        "value" : "SERVER_ID"
      }, {
        "name" : "APP_TYPE",
        "value" : "APP_TYPE"
      }, {
        "name" : "STRATEGY",
        "value" : "STRATEGY"
      }, {
        "name" : "DESTINATION",
        "value" : "DESTINATION"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.migrationhubstrategyrecommendations.enum.ApplicationComponentCriteria",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.migrationhubstrategyrecommendations.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ApplicationComponentCriteria",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplicationComponentCriteria",
        "variableName" : "applicationComponentCriteria",
        "variableType" : "ApplicationComponentCriteria",
        "documentation" : null,
        "simpleType" : "ApplicationComponentCriteria",
        "variableSetterType" : "ApplicationComponentCriteria"
      },
      "wrapper" : false
    },
    "ApplicationComponentDetail" : {
      "c2jName" : "ApplicationComponentDetail",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Contains detailed information about an application component. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.migrationhubstrategyrecommendations.model.ApplicationComponentDetail",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "analysisStatus",
        "c2jShape" : "SrcCodeOrDbAnalysisStatus",
        "deprecated" : false,
        "documentation" : "<p> The status of analysis, if the application component has source code or an associated database. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "SrcCodeOrDbAnalysisStatus",
        "fluentSetterDocumentation" : "/**<p> The status of analysis, if the application component has source code or an associated database. </p>\n@param analysisStatus The status of analysis, if the application component has source code or an associated database.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SrcCodeOrDbAnalysisStatus*/",
        "fluentSetterMethodName" : "withAnalysisStatus",
        "getterDocumentation" : "/**<p> The status of analysis, if the application component has source code or an associated database. </p>\n@return The status of analysis, if the application component has source code or an associated database.\n@see SrcCodeOrDbAnalysisStatus*/",
        "getterMethodName" : "getAnalysisStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "analysisStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "analysisStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AnalysisStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The status of analysis, if the application component has source code or an associated database. </p>\n@param analysisStatus The status of analysis, if the application component has source code or an associated database.\n@see SrcCodeOrDbAnalysisStatus*/",
        "setterMethodName" : "setAnalysisStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "analysisStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The status of analysis, if the application component has source code or an associated database. </p>\n@param analysisStatus The status of analysis, if the application component has source code or an associated database.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SrcCodeOrDbAnalysisStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "analysisStatus",
          "variableType" : "String",
          "documentation" : "<p> The status of analysis, if the application component has source code or an associated database. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "antipatternReportS3Object",
        "c2jShape" : "S3Object",
        "deprecated" : false,
        "documentation" : "<p> The S3 bucket name and the Amazon S3 key name for the anti-pattern report. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The S3 bucket name and the Amazon S3 key name for the anti-pattern report. </p>\n@param antipatternReportS3Object The S3 bucket name and the Amazon S3 key name for the anti-pattern report.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAntipatternReportS3Object",
        "getterDocumentation" : "/**<p> The S3 bucket name and the Amazon S3 key name for the anti-pattern report. </p>\n@return The S3 bucket name and the Amazon S3 key name for the anti-pattern report.*/",
        "getterMethodName" : "getAntipatternReportS3Object",
        "getterModel" : {
          "returnType" : "S3Object",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "antipatternReportS3Object",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "antipatternReportS3Object",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AntipatternReportS3Object",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The S3 bucket name and the Amazon S3 key name for the anti-pattern report. </p>\n@param antipatternReportS3Object The S3 bucket name and the Amazon S3 key name for the anti-pattern report.*/",
        "setterMethodName" : "setAntipatternReportS3Object",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3Object",
          "variableName" : "antipatternReportS3Object",
          "variableType" : "S3Object",
          "documentation" : "",
          "simpleType" : "S3Object",
          "variableSetterType" : "S3Object"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The S3 bucket name and the Amazon S3 key name for the anti-pattern report. </p>\n@param antipatternReportS3Object The S3 bucket name and the Amazon S3 key name for the anti-pattern report.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3Object",
          "variableName" : "antipatternReportS3Object",
          "variableType" : "S3Object",
          "documentation" : "<p> The S3 bucket name and the Amazon S3 key name for the anti-pattern report. </p>",
          "simpleType" : "S3Object",
          "variableSetterType" : "S3Object"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "antipatternReportStatus",
        "c2jShape" : "AntipatternReportStatus",
        "deprecated" : false,
        "documentation" : "<p> The status of the anti-pattern report generation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AntipatternReportStatus",
        "fluentSetterDocumentation" : "/**<p> The status of the anti-pattern report generation.</p>\n@param antipatternReportStatus The status of the anti-pattern report generation.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AntipatternReportStatus*/",
        "fluentSetterMethodName" : "withAntipatternReportStatus",
        "getterDocumentation" : "/**<p> The status of the anti-pattern report generation.</p>\n@return The status of the anti-pattern report generation.\n@see AntipatternReportStatus*/",
        "getterMethodName" : "getAntipatternReportStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "antipatternReportStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "antipatternReportStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AntipatternReportStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The status of the anti-pattern report generation.</p>\n@param antipatternReportStatus The status of the anti-pattern report generation.\n@see AntipatternReportStatus*/",
        "setterMethodName" : "setAntipatternReportStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "antipatternReportStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The status of the anti-pattern report generation.</p>\n@param antipatternReportStatus The status of the anti-pattern report generation.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AntipatternReportStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "antipatternReportStatus",
          "variableType" : "String",
          "documentation" : "<p> The status of the anti-pattern report generation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "antipatternReportStatusMessage",
        "c2jShape" : "StatusMessage",
        "deprecated" : false,
        "documentation" : "<p> The status message for the anti-pattern. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The status message for the anti-pattern. </p>\n@param antipatternReportStatusMessage The status message for the anti-pattern.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAntipatternReportStatusMessage",
        "getterDocumentation" : "/**<p> The status message for the anti-pattern. </p>\n@return The status message for the anti-pattern.*/",
        "getterMethodName" : "getAntipatternReportStatusMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "antipatternReportStatusMessage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "antipatternReportStatusMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AntipatternReportStatusMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The status message for the anti-pattern. </p>\n@param antipatternReportStatusMessage The status message for the anti-pattern.*/",
        "setterMethodName" : "setAntipatternReportStatusMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "antipatternReportStatusMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The status message for the anti-pattern. </p>\n@param antipatternReportStatusMessage The status message for the anti-pattern.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "antipatternReportStatusMessage",
          "variableType" : "String",
          "documentation" : "<p> The status message for the anti-pattern. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "appType",
        "c2jShape" : "AppType",
        "deprecated" : false,
        "documentation" : "<p> The type of application component. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AppType",
        "fluentSetterDocumentation" : "/**<p> The type of application component. </p>\n@param appType The type of application component.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AppType*/",
        "fluentSetterMethodName" : "withAppType",
        "getterDocumentation" : "/**<p> The type of application component. </p>\n@return The type of application component.\n@see AppType*/",
        "getterMethodName" : "getAppType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "appType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "appType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The type of application component. </p>\n@param appType The type of application component.\n@see AppType*/",
        "setterMethodName" : "setAppType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The type of application component. </p>\n@param appType The type of application component.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AppType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appType",
          "variableType" : "String",
          "documentation" : "<p> The type of application component. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "associatedServerId",
        "c2jShape" : "ServerId",
        "deprecated" : false,
        "documentation" : "<p> The ID of the server that the application component is running on. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The ID of the server that the application component is running on. </p>\n@param associatedServerId The ID of the server that the application component is running on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAssociatedServerId",
        "getterDocumentation" : "/**<p> The ID of the server that the application component is running on. </p>\n@return The ID of the server that the application component is running on.*/",
        "getterMethodName" : "getAssociatedServerId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "associatedServerId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "associatedServerId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AssociatedServerId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The ID of the server that the application component is running on. </p>\n@param associatedServerId The ID of the server that the application component is running on.*/",
        "setterMethodName" : "setAssociatedServerId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "associatedServerId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The ID of the server that the application component is running on. </p>\n@param associatedServerId The ID of the server that the application component is running on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "associatedServerId",
          "variableType" : "String",
          "documentation" : "<p> The ID of the server that the application component is running on. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "databaseConfigDetail",
        "c2jShape" : "DatabaseConfigDetail",
        "deprecated" : false,
        "documentation" : "<p> Configuration details for the database associated with the application component. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Configuration details for the database associated with the application component. </p>\n@param databaseConfigDetail Configuration details for the database associated with the application component.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatabaseConfigDetail",
        "getterDocumentation" : "/**<p> Configuration details for the database associated with the application component. </p>\n@return Configuration details for the database associated with the application component.*/",
        "getterMethodName" : "getDatabaseConfigDetail",
        "getterModel" : {
          "returnType" : "DatabaseConfigDetail",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "databaseConfigDetail",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "databaseConfigDetail",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DatabaseConfigDetail",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Configuration details for the database associated with the application component. </p>\n@param databaseConfigDetail Configuration details for the database associated with the application component.*/",
        "setterMethodName" : "setDatabaseConfigDetail",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DatabaseConfigDetail",
          "variableName" : "databaseConfigDetail",
          "variableType" : "DatabaseConfigDetail",
          "documentation" : "",
          "simpleType" : "DatabaseConfigDetail",
          "variableSetterType" : "DatabaseConfigDetail"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Configuration details for the database associated with the application component. </p>\n@param databaseConfigDetail Configuration details for the database associated with the application component.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DatabaseConfigDetail",
          "variableName" : "databaseConfigDetail",
          "variableType" : "DatabaseConfigDetail",
          "documentation" : "<p> Configuration details for the database associated with the application component. </p>",
          "simpleType" : "DatabaseConfigDetail",
          "variableSetterType" : "DatabaseConfigDetail"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "id",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p> The ID of the application component. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The ID of the application component. </p>\n@param id The ID of the application component.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p> The ID of the application component. </p>\n@return The ID of the application component.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The ID of the application component. </p>\n@param id The ID of the application component.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
