{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-06-30",
    "asyncClient" : "AWSMigrationHubConfigAsyncClient",
    "asyncClientBuilderClassName" : "AWSMigrationHubConfigAsyncClientBuilder",
    "asyncInterface" : "AWSMigrationHubConfigAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSMigrationHubConfigModuleInjector",
    "defaultEndpoint" : "migrationhub-config.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "migrationhub-config.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The AWS Migration Hub home region APIs are available specifically for working with your Migration Hub home region. You can use these APIs to determine a home region, as well as to create and work with controls that describe the home region.</p> <p>You can use these APIs within your home region only. If you call these APIs from outside your home region, your calls are rejected, except for the ability to register your agents and connectors. </p> <p> You must call <code>GetHomeRegion</code> at least once before you call any other AWS Application Discovery Service and AWS Migration Hub APIs, to obtain the account's Migration Hub home region.</p> <p>The <code>StartDataCollection</code> API call in AWS Application Discovery Service allows your agents and connectors to begin collecting data that flows directly into the home region, and it will prevent you from enabling data collection information to be sent outside the home region. </p> <p>For specific API usage, see the sections that follow in this AWS Migration Hub Home Region API reference. </p> <note> <p>The Migration Hub Home Region APIs do not support AWS Organizations.</p> </note>",
    "endpointPrefix" : "migrationhub-config",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.migrationhubconfig",
    "packagePath" : "com/amazonaws/services/migrationhubconfig",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Migration Hub Config",
    "serviceId" : "MigrationHub Config",
    "serviceName" : "AWS Migration Hub Config",
    "signingName" : "mgh",
    "smokeTestsPackageName" : "com.amazonaws.services.migrationhubconfig.smoketests",
    "syncClient" : "AWSMigrationHubConfigClient",
    "syncClientBuilderClassName" : "AWSMigrationHubConfigClientBuilder",
    "syncInterface" : "AWSMigrationHubConfig",
    "uid" : "migrationhub-config-2019-06-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateHomeRegionControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHomeRegionControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHomeRegionControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHomeRegionControlRequest, CreateHomeRegionControlResult>",
      "asyncReturnType" : "CreateHomeRegionControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API sets up the home region for the calling account only.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when an internal, configuration, or dependency error is encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when a request fails due to temporary unavailability of the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>Exception raised to indicate that authorization of an action was successful, when the <code>DryRun</code> flag is set to true.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateHomeRegionControlRequest",
        "variableName" : "createHomeRegionControlRequest",
        "variableType" : "CreateHomeRegionControlRequest",
        "documentation" : "",
        "simpleType" : "CreateHomeRegionControlRequest",
        "variableSetterType" : "CreateHomeRegionControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createHomeRegionControl",
      "operationName" : "CreateHomeRegionControl",
      "returnType" : {
        "returnType" : "CreateHomeRegionControlResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateHomeRegionControlResult"
    },
    "DescribeHomeRegionControls" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeHomeRegionControlsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeHomeRegionControlsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeHomeRegionControlsRequest, DescribeHomeRegionControlsResult>",
      "asyncReturnType" : "DescribeHomeRegionControlsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API permits filtering on the <code>ControlId</code>, <code>HomeRegion</code>, and <code>RegionControlScope</code> fields.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when an internal, configuration, or dependency error is encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when a request fails due to temporary unavailability of the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeHomeRegionControlsRequest",
        "variableName" : "describeHomeRegionControlsRequest",
        "variableType" : "DescribeHomeRegionControlsRequest",
        "documentation" : "",
        "simpleType" : "DescribeHomeRegionControlsRequest",
        "variableSetterType" : "DescribeHomeRegionControlsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeHomeRegionControls",
      "operationName" : "DescribeHomeRegionControls",
      "returnType" : {
        "returnType" : "DescribeHomeRegionControlsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeHomeRegionControlsResult"
    },
    "GetHomeRegion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetHomeRegionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetHomeRegionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHomeRegionRequest, GetHomeRegionResult>",
      "asyncReturnType" : "GetHomeRegionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the calling account’s home region, if configured. This API is used by other AWS services to determine the regional endpoint for calling AWS Application Discovery Service and Migration Hub. You must call <code>GetHomeRegion</code> at least once before you call any other AWS Application Discovery Service and AWS Migration Hub APIs, to obtain the account's Migration Hub home region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Exception raised when an internal, configuration, or dependency error is encountered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Exception raised when a request fails due to temporary unavailability of the service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetHomeRegionRequest",
        "variableName" : "getHomeRegionRequest",
        "variableType" : "GetHomeRegionRequest",
        "documentation" : "",
        "simpleType" : "GetHomeRegionRequest",
        "variableSetterType" : "GetHomeRegionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getHomeRegion",
      "operationName" : "GetHomeRegion",
      "returnType" : {
        "returnType" : "GetHomeRegionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetHomeRegionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CreateHomeRegionControlRequest" : {
      "c2jName" : "CreateHomeRegionControlRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateHomeRegionControl",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSMigrationHubMultiAccountService.CreateHomeRegionControl",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "HomeRegion",
        "c2jShape" : "HomeRegion",
        "deprecated" : false,
        "documentation" : "<p>The name of the home region of the calling account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the home region of the calling account.</p>\n@param homeRegion The name of the home region of the calling account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHomeRegion",
        "getterDocumentation" : "/**<p>The name of the home region of the calling account.</p>\n@return The name of the home region of the calling account.*/",
        "getterMethodName" : "getHomeRegion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HomeRegion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HomeRegion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HomeRegion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the home region of the calling account.</p>\n@param homeRegion The name of the home region of the calling account.*/",
        "setterMethodName" : "setHomeRegion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "homeRegion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the home region of the calling account.</p>\n@param homeRegion The name of the home region of the calling account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "homeRegion",
          "variableType" : "String",
          "documentation" : "<p>The name of the home region of the calling account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Target",
        "c2jShape" : "Target",
        "deprecated" : false,
        "documentation" : "<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>\n@param target The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTarget",
        "getterDocumentation" : "/**<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>\n@return The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.*/",
        "getterMethodName" : "getTarget",
        "getterModel" : {
          "returnType" : "Target",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Target",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Target",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Target",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>\n@param target The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.*/",
        "setterMethodName" : "setTarget",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Target",
          "variableName" : "target",
          "variableType" : "Target",
          "documentation" : "",
          "simpleType" : "Target",
          "variableSetterType" : "Target"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>\n@param target The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Target",
          "variableName" : "target",
          "variableType" : "Target",
          "documentation" : "<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>",
          "simpleType" : "Target",
          "variableSetterType" : "Target"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DryRun",
        "c2jShape" : "DryRun",
        "deprecated" : false,
        "documentation" : "<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>\n@param dryRun Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDryRun",
        "getterDocumentation" : "/**<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>\n@return Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.*/",
        "getterMethodName" : "getDryRun",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DryRun",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DryRun",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "DryRun",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>\n@param dryRun Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.*/",
        "setterMethodName" : "setDryRun",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "dryRun",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>\n@param dryRun Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "dryRun",
          "variableType" : "Boolean",
          "documentation" : "<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DryRun" : {
          "c2jName" : "DryRun",
          "c2jShape" : "DryRun",
          "deprecated" : false,
          "documentation" : "<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>\n@param dryRun Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDryRun",
          "getterDocumentation" : "/**<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>\n@return Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.*/",
          "getterMethodName" : "getDryRun",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DryRun",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DryRun",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "DryRun",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>\n@param dryRun Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.*/",
          "setterMethodName" : "setDryRun",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "dryRun",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>\n@param dryRun Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "dryRun",
            "variableType" : "Boolean",
            "documentation" : "<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "HomeRegion" : {
          "c2jName" : "HomeRegion",
          "c2jShape" : "HomeRegion",
          "deprecated" : false,
          "documentation" : "<p>The name of the home region of the calling account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the home region of the calling account.</p>\n@param homeRegion The name of the home region of the calling account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHomeRegion",
          "getterDocumentation" : "/**<p>The name of the home region of the calling account.</p>\n@return The name of the home region of the calling account.*/",
          "getterMethodName" : "getHomeRegion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HomeRegion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HomeRegion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HomeRegion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the home region of the calling account.</p>\n@param homeRegion The name of the home region of the calling account.*/",
          "setterMethodName" : "setHomeRegion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "homeRegion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the home region of the calling account.</p>\n@param homeRegion The name of the home region of the calling account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "homeRegion",
            "variableType" : "String",
            "documentation" : "<p>The name of the home region of the calling account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Target" : {
          "c2jName" : "Target",
          "c2jShape" : "Target",
          "deprecated" : false,
          "documentation" : "<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>\n@param target The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTarget",
          "getterDocumentation" : "/**<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>\n@return The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.*/",
          "getterMethodName" : "getTarget",
          "getterModel" : {
            "returnType" : "Target",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Target",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Target",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Target",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>\n@param target The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.*/",
          "setterMethodName" : "setTarget",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Target",
            "variableName" : "target",
            "variableType" : "Target",
            "documentation" : "",
            "simpleType" : "Target",
            "variableSetterType" : "Target"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>\n@param target The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Target",
            "variableName" : "target",
            "variableType" : "Target",
            "documentation" : "<p>The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.</p>",
            "simpleType" : "Target",
            "variableSetterType" : "Target"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "HomeRegion", "Target" ],
      "shapeName" : "CreateHomeRegionControlRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateHomeRegionControlRequest",
        "variableName" : "createHomeRegionControlRequest",
        "variableType" : "CreateHomeRegionControlRequest",
        "documentation" : null,
        "simpleType" : "CreateHomeRegionControlRequest",
        "variableSetterType" : "CreateHomeRegionControlRequest"
      },
      "wrapper" : false
    },
    "CreateHomeRegionControlResult" : {
      "c2jName" : "CreateHomeRegionControlResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "HomeRegionControl",
        "c2jShape" : "HomeRegionControl",
        "deprecated" : false,
        "documentation" : "<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>\n@param homeRegionControl This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHomeRegionControl",
        "getterDocumentation" : "/**<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>\n@return This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.*/",
        "getterMethodName" : "getHomeRegionControl",
        "getterModel" : {
          "returnType" : "HomeRegionControl",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HomeRegionControl",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HomeRegionControl",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "HomeRegionControl",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>\n@param homeRegionControl This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.*/",
        "setterMethodName" : "setHomeRegionControl",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "HomeRegionControl",
          "variableName" : "homeRegionControl",
          "variableType" : "HomeRegionControl",
          "documentation" : "",
          "simpleType" : "HomeRegionControl",
          "variableSetterType" : "HomeRegionControl"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>\n@param homeRegionControl This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "HomeRegionControl",
          "variableName" : "homeRegionControl",
          "variableType" : "HomeRegionControl",
          "documentation" : "<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>",
          "simpleType" : "HomeRegionControl",
          "variableSetterType" : "HomeRegionControl"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "HomeRegionControl" : {
          "c2jName" : "HomeRegionControl",
          "c2jShape" : "HomeRegionControl",
          "deprecated" : false,
          "documentation" : "<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>\n@param homeRegionControl This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHomeRegionControl",
          "getterDocumentation" : "/**<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>\n@return This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.*/",
          "getterMethodName" : "getHomeRegionControl",
          "getterModel" : {
            "returnType" : "HomeRegionControl",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HomeRegionControl",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HomeRegionControl",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "HomeRegionControl",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>\n@param homeRegionControl This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.*/",
          "setterMethodName" : "setHomeRegionControl",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "HomeRegionControl",
            "variableName" : "homeRegionControl",
            "variableType" : "HomeRegionControl",
            "documentation" : "",
            "simpleType" : "HomeRegionControl",
            "variableSetterType" : "HomeRegionControl"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>\n@param homeRegionControl This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "HomeRegionControl",
            "variableName" : "homeRegionControl",
            "variableType" : "HomeRegionControl",
            "documentation" : "<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.</p>",
            "simpleType" : "HomeRegionControl",
            "variableSetterType" : "HomeRegionControl"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateHomeRegionControlResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateHomeRegionControlResult",
        "variableName" : "createHomeRegionControlResult",
        "variableType" : "CreateHomeRegionControlResult",
        "documentation" : null,
        "simpleType" : "CreateHomeRegionControlResult",
        "variableSetterType" : "CreateHomeRegionControlResult"
      },
      "wrapper" : false
    },
    "DescribeHomeRegionControlsRequest" : {
      "c2jName" : "DescribeHomeRegionControlsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeHomeRegionControls",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSMigrationHubMultiAccountService.DescribeHomeRegionControls",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ControlId",
        "c2jShape" : "ControlId",
        "deprecated" : false,
        "documentation" : "<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>\n@param controlId The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withControlId",
        "getterDocumentation" : "/**<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>\n@return The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.*/",
        "getterMethodName" : "getControlId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ControlId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ControlId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ControlId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>\n@param controlId The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.*/",
        "setterMethodName" : "setControlId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "controlId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>\n@param controlId The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "controlId",
          "variableType" : "String",
          "documentation" : "<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HomeRegion",
        "c2jShape" : "HomeRegion",
        "deprecated" : false,
        "documentation" : "<p>The name of the home region you'd like to view.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the home region you'd like to view.</p>\n@param homeRegion The name of the home region you'd like to view.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHomeRegion",
        "getterDocumentation" : "/**<p>The name of the home region you'd like to view.</p>\n@return The name of the home region you'd like to view.*/",
        "getterMethodName" : "getHomeRegion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HomeRegion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HomeRegion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HomeRegion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the home region you'd like to view.</p>\n@param homeRegion The name of the home region you'd like to view.*/",
        "setterMethodName" : "setHomeRegion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "homeRegion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the home region you'd like to view.</p>\n@param homeRegion The name of the home region you'd like to view.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "homeRegion",
          "variableType" : "String",
          "documentation" : "<p>The name of the home region you'd like to view.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Target",
        "c2jShape" : "Target",
        "deprecated" : false,
        "documentation" : "<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>\n@param target The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTarget",
        "getterDocumentation" : "/**<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>\n@return The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.*/",
        "getterMethodName" : "getTarget",
        "getterModel" : {
          "returnType" : "Target",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Target",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Target",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Target",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>\n@param target The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.*/",
        "setterMethodName" : "setTarget",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Target",
          "variableName" : "target",
          "variableType" : "Target",
          "documentation" : "",
          "simpleType" : "Target",
          "variableSetterType" : "Target"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>\n@param target The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Target",
          "variableName" : "target",
          "variableType" : "Target",
          "documentation" : "<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>",
          "simpleType" : "Target",
          "variableSetterType" : "Target"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MaxResults",
        "c2jShape" : "DescribeHomeRegionControlsMaxResults",
        "deprecated" : false,
        "documentation" : "<p>The maximum number of filtering results to display per page. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximum number of filtering results to display per page. </p>\n@param maxResults The maximum number of filtering results to display per page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaxResults",
        "getterDocumentation" : "/**<p>The maximum number of filtering results to display per page. </p>\n@return The maximum number of filtering results to display per page.*/",
        "getterMethodName" : "getMaxResults",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MaxResults",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MaxResults",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MaxResults",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The maximum number of filtering results to display per page. </p>\n@param maxResults The maximum number of filtering results to display per page.*/",
        "setterMethodName" : "setMaxResults",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxResults",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The maximum number of filtering results to display per page. </p>\n@param maxResults The maximum number of filtering results to display per page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxResults",
          "variableType" : "Integer",
          "documentation" : "<p>The maximum number of filtering results to display per page. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NextToken",
        "c2jShape" : "Token",
        "deprecated" : false,
        "documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@param nextToken If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNextToken",
        "getterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@return If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.*/",
        "getterMethodName" : "getNextToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NextToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NextToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NextToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@param nextToken If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.*/",
        "setterMethodName" : "setNextToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@param nextToken If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ControlId" : {
          "c2jName" : "ControlId",
          "c2jShape" : "ControlId",
          "deprecated" : false,
          "documentation" : "<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>\n@param controlId The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withControlId",
          "getterDocumentation" : "/**<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>\n@return The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.*/",
          "getterMethodName" : "getControlId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ControlId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ControlId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ControlId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>\n@param controlId The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.*/",
          "setterMethodName" : "setControlId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "controlId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>\n@param controlId The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "controlId",
            "variableType" : "String",
            "documentation" : "<p>The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HomeRegion" : {
          "c2jName" : "HomeRegion",
          "c2jShape" : "HomeRegion",
          "deprecated" : false,
          "documentation" : "<p>The name of the home region you'd like to view.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the home region you'd like to view.</p>\n@param homeRegion The name of the home region you'd like to view.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHomeRegion",
          "getterDocumentation" : "/**<p>The name of the home region you'd like to view.</p>\n@return The name of the home region you'd like to view.*/",
          "getterMethodName" : "getHomeRegion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HomeRegion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HomeRegion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HomeRegion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the home region you'd like to view.</p>\n@param homeRegion The name of the home region you'd like to view.*/",
          "setterMethodName" : "setHomeRegion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "homeRegion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the home region you'd like to view.</p>\n@param homeRegion The name of the home region you'd like to view.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "homeRegion",
            "variableType" : "String",
            "documentation" : "<p>The name of the home region you'd like to view.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MaxResults" : {
          "c2jName" : "MaxResults",
          "c2jShape" : "DescribeHomeRegionControlsMaxResults",
          "deprecated" : false,
          "documentation" : "<p>The maximum number of filtering results to display per page. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The maximum number of filtering results to display per page. </p>\n@param maxResults The maximum number of filtering results to display per page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMaxResults",
          "getterDocumentation" : "/**<p>The maximum number of filtering results to display per page. </p>\n@return The maximum number of filtering results to display per page.*/",
          "getterMethodName" : "getMaxResults",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MaxResults",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MaxResults",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "MaxResults",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The maximum number of filtering results to display per page. </p>\n@param maxResults The maximum number of filtering results to display per page.*/",
          "setterMethodName" : "setMaxResults",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maxResults",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The maximum number of filtering results to display per page. </p>\n@param maxResults The maximum number of filtering results to display per page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maxResults",
            "variableType" : "Integer",
            "documentation" : "<p>The maximum number of filtering results to display per page. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "NextToken" : {
          "c2jName" : "NextToken",
          "c2jShape" : "Token",
          "deprecated" : false,
          "documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@param nextToken If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNextToken",
          "getterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@return If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.*/",
          "getterMethodName" : "getNextToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "NextToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NextToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "NextToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@param nextToken If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.*/",
          "setterMethodName" : "setNextToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "nextToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@param nextToken If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "nextToken",
            "variableType" : "String",
            "documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Target" : {
          "c2jName" : "Target",
          "c2jShape" : "Target",
          "deprecated" : false,
          "documentation" : "<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>\n@param target The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTarget",
          "getterDocumentation" : "/**<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>\n@return The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.*/",
          "getterMethodName" : "getTarget",
          "getterModel" : {
            "returnType" : "Target",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Target",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Target",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Target",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>\n@param target The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.*/",
          "setterMethodName" : "setTarget",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Target",
            "variableName" : "target",
            "variableType" : "Target",
            "documentation" : "",
            "simpleType" : "Target",
            "variableSetterType" : "Target"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>\n@param target The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Target",
            "variableName" : "target",
            "variableType" : "Target",
            "documentation" : "<p>The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.</p>",
            "simpleType" : "Target",
            "variableSetterType" : "Target"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DescribeHomeRegionControlsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeHomeRegionControlsRequest",
        "variableName" : "describeHomeRegionControlsRequest",
        "variableType" : "DescribeHomeRegionControlsRequest",
        "documentation" : null,
        "simpleType" : "DescribeHomeRegionControlsRequest",
        "variableSetterType" : "DescribeHomeRegionControlsRequest"
      },
      "wrapper" : false
    },
    "DescribeHomeRegionControlsResult" : {
      "c2jName" : "DescribeHomeRegionControlsResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "HomeRegionControls",
        "c2jShape" : "HomeRegionControls",
        "deprecated" : false,
        "documentation" : "<p>An array that contains your <code>HomeRegionControl</code> objects.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array that contains your <code>HomeRegionControl</code> objects.</p>\n@param homeRegionControls An array that contains your <code>HomeRegionControl</code> objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHomeRegionControls",
        "getterDocumentation" : "/**<p>An array that contains your <code>HomeRegionControl</code> objects.</p>\n@return An array that contains your <code>HomeRegionControl</code> objects.*/",
        "getterMethodName" : "getHomeRegionControls",
        "getterModel" : {
          "returnType" : "java.util.List<HomeRegionControl>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HomeRegionControls",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HomeRegionControls",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "HomeRegionControl",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "HomeRegionControl",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "HomeRegionControl",
              "variableName" : "member",
              "variableType" : "HomeRegionControl",
              "documentation" : "",
              "simpleType" : "HomeRegionControl",
              "variableSetterType" : "HomeRegionControl"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "HomeRegionControl",
              "variableName" : "member",
              "variableType" : "HomeRegionControl",
              "documentation" : "",
              "simpleType" : "HomeRegionControl",
              "variableSetterType" : "HomeRegionControl"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "HomeRegionControl",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "HomeRegionControl",
          "templateImplType" : "java.util.ArrayList<HomeRegionControl>",
          "templateType" : "java.util.List<HomeRegionControl>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "HomeRegionControls",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array that contains your <code>HomeRegionControl</code> objects.</p>\n@param homeRegionControls An array that contains your <code>HomeRegionControl</code> objects.*/",
        "setterMethodName" : "setHomeRegionControls",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<HomeRegionControl>",
          "variableName" : "homeRegionControls",
          "variableType" : "java.util.List<HomeRegionControl>",
          "documentation" : "",
          "simpleType" : "List<HomeRegionControl>",
          "variableSetterType" : "java.util.Collection<HomeRegionControl>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array that contains your <code>HomeRegionControl</code> objects.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setHomeRegionControls(java.util.Collection)} or {@link #withHomeRegionControls(java.util.Collection)} if you want to override the existing values.</p>\n@param homeRegionControls An array that contains your <code>HomeRegionControl</code> objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<HomeRegionControl>",
          "variableName" : "homeRegionControls",
          "variableType" : "java.util.List<HomeRegionControl>",
          "documentation" : "<p>An array that contains your <code>HomeRegionControl</code> objects.</p>",
          "simpleType" : "List<HomeRegionControl>",
          "variableSetterType" : "java.util.Collection<HomeRegionControl>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NextToken",
        "c2jShape" : "Token",
        "deprecated" : false,
        "documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@param nextToken If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNextToken",
        "getterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@return If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.*/",
        "getterMethodName" : "getNextToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NextToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NextToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NextToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@param nextToken If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.*/",
        "setterMethodName" : "setNextToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>\n@param nextToken If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "HomeRegionControls" : {
          "c2jName" : "HomeRegionControls",
          "c2jShape" : "HomeRegionControls",
          "deprecated" : false,
          "documentation" : "<p>An array that contains your <code>HomeRegionControl</code> objects.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array that contains your <code>HomeRegionControl</code> objects.</p>\n@param homeRegionControls An array that contains your <code>HomeRegionControl</code> objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHomeRegionControls",
          "getterDocumentation" : "/**<p>An array that contains your <code>HomeRegionControl</code> objects.</p>\n@return An array that contains your <code>HomeRegionControl</code> objects.*/",
[...]
