{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-08-28",
    "asyncClient" : "AWSMigrationHubOrchestratorAsyncClient",
    "asyncClientBuilderClassName" : "AWSMigrationHubOrchestratorAsyncClientBuilder",
    "asyncInterface" : "AWSMigrationHubOrchestratorAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSMigrationHubOrchestratorModuleInjector",
    "defaultEndpoint" : "migrationhub-orchestrator.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "migrationhub-orchestrator.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This API reference provides descriptions, syntax, and other details about each of the actions and data types for AWS Migration Hub Orchestrator. The topic for each action shows the API request parameters and responses. Alternatively, you can use one of the AWS SDKs to access an API that is tailored to the programming language or platform that you're using.</p>",
    "endpointPrefix" : "migrationhub-orchestrator",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.migrationhuborchestrator",
    "packagePath" : "com/amazonaws/services/migrationhuborchestrator",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Migration Hub Orchestrator",
    "serviceId" : "MigrationHubOrchestrator",
    "serviceName" : "AWS Migration Hub Orchestrator",
    "signingName" : "migrationhub-orchestrator",
    "smokeTestsPackageName" : "com.amazonaws.services.migrationhuborchestrator.smoketests",
    "syncClient" : "AWSMigrationHubOrchestratorClient",
    "syncClientBuilderClassName" : "AWSMigrationHubOrchestratorClientBuilder",
    "syncInterface" : "AWSMigrationHubOrchestrator",
    "uid" : "migrationhuborchestrator-2021-08-28",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTemplateRequest, CreateTemplateResult>",
      "asyncReturnType" : "CreateTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a migration workflow template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when an attempt to update or delete a resource would cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTemplateRequest",
        "variableName" : "createTemplateRequest",
        "variableType" : "CreateTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateTemplateRequest",
        "variableSetterType" : "CreateTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTemplate",
      "operationName" : "CreateTemplate",
      "returnType" : {
        "returnType" : "CreateTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTemplateResult"
    },
    "CreateWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkflowRequest, CreateWorkflowResult>",
      "asyncReturnType" : "CreateWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a workflow to orchestrate your migrations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkflowRequest",
        "variableName" : "createWorkflowRequest",
        "variableType" : "CreateWorkflowRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkflowRequest",
        "variableSetterType" : "CreateWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkflow",
      "operationName" : "CreateWorkflow",
      "returnType" : {
        "returnType" : "CreateWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkflowResult"
    },
    "CreateWorkflowStep" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkflowStepResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkflowStepResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkflowStepRequest, CreateWorkflowStepResult>",
      "asyncReturnType" : "CreateWorkflowStepResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a step in the migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkflowStepRequest",
        "variableName" : "createWorkflowStepRequest",
        "variableType" : "CreateWorkflowStepRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkflowStepRequest",
        "variableSetterType" : "CreateWorkflowStepRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkflowStep",
      "operationName" : "CreateWorkflowStep",
      "returnType" : {
        "returnType" : "CreateWorkflowStepResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkflowStepResult"
    },
    "CreateWorkflowStepGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkflowStepGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkflowStepGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkflowStepGroupRequest, CreateWorkflowStepGroupResult>",
      "asyncReturnType" : "CreateWorkflowStepGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a step group in a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkflowStepGroupRequest",
        "variableName" : "createWorkflowStepGroupRequest",
        "variableType" : "CreateWorkflowStepGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkflowStepGroupRequest",
        "variableSetterType" : "CreateWorkflowStepGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkflowStepGroup",
      "operationName" : "CreateWorkflowStepGroup",
      "returnType" : {
        "returnType" : "CreateWorkflowStepGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkflowStepGroupResult"
    },
    "DeleteTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTemplateRequest, DeleteTemplateResult>",
      "asyncReturnType" : "DeleteTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a migration workflow template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTemplateRequest",
        "variableName" : "deleteTemplateRequest",
        "variableType" : "DeleteTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteTemplateRequest",
        "variableSetterType" : "DeleteTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTemplate",
      "operationName" : "DeleteTemplate",
      "returnType" : {
        "returnType" : "DeleteTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTemplateResult"
    },
    "DeleteWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkflowRequest, DeleteWorkflowResult>",
      "asyncReturnType" : "DeleteWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a migration workflow. You must pause a running workflow in Migration Hub Orchestrator console to delete it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkflowRequest",
        "variableName" : "deleteWorkflowRequest",
        "variableType" : "DeleteWorkflowRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkflowRequest",
        "variableSetterType" : "DeleteWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkflow",
      "operationName" : "DeleteWorkflow",
      "returnType" : {
        "returnType" : "DeleteWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkflowResult"
    },
    "DeleteWorkflowStep" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkflowStepResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkflowStepResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkflowStepRequest, DeleteWorkflowStepResult>",
      "asyncReturnType" : "DeleteWorkflowStepResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a step in a migration workflow. Pause the workflow to delete a running step.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkflowStepRequest",
        "variableName" : "deleteWorkflowStepRequest",
        "variableType" : "DeleteWorkflowStepRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkflowStepRequest",
        "variableSetterType" : "DeleteWorkflowStepRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkflowStep",
      "operationName" : "DeleteWorkflowStep",
      "returnType" : {
        "returnType" : "DeleteWorkflowStepResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkflowStepResult"
    },
    "DeleteWorkflowStepGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkflowStepGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkflowStepGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkflowStepGroupRequest, DeleteWorkflowStepGroupResult>",
      "asyncReturnType" : "DeleteWorkflowStepGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a step group in a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkflowStepGroupRequest",
        "variableName" : "deleteWorkflowStepGroupRequest",
        "variableType" : "DeleteWorkflowStepGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkflowStepGroupRequest",
        "variableSetterType" : "DeleteWorkflowStepGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkflowStepGroup",
      "operationName" : "DeleteWorkflowStepGroup",
      "returnType" : {
        "returnType" : "DeleteWorkflowStepGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkflowStepGroupResult"
    },
    "GetTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateRequest, GetTemplateResult>",
      "asyncReturnType" : "GetTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the template you want to use for creating a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTemplateRequest",
        "variableName" : "getTemplateRequest",
        "variableType" : "GetTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetTemplateRequest",
        "variableSetterType" : "GetTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTemplate",
      "operationName" : "GetTemplate",
      "returnType" : {
        "returnType" : "GetTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTemplateResult"
    },
    "GetTemplateStep" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateStepResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateStepResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateStepRequest, GetTemplateStepResult>",
      "asyncReturnType" : "GetTemplateStepResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a specific step in a template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTemplateStepRequest",
        "variableName" : "getTemplateStepRequest",
        "variableType" : "GetTemplateStepRequest",
        "documentation" : "",
        "simpleType" : "GetTemplateStepRequest",
        "variableSetterType" : "GetTemplateStepRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTemplateStep",
      "operationName" : "GetTemplateStep",
      "returnType" : {
        "returnType" : "GetTemplateStepResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTemplateStepResult"
    },
    "GetTemplateStepGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateStepGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateStepGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateStepGroupRequest, GetTemplateStepGroupResult>",
      "asyncReturnType" : "GetTemplateStepGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a step group in a template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTemplateStepGroupRequest",
        "variableName" : "getTemplateStepGroupRequest",
        "variableType" : "GetTemplateStepGroupRequest",
        "documentation" : "",
        "simpleType" : "GetTemplateStepGroupRequest",
        "variableSetterType" : "GetTemplateStepGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTemplateStepGroup",
      "operationName" : "GetTemplateStepGroup",
      "returnType" : {
        "returnType" : "GetTemplateStepGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTemplateStepGroupResult"
    },
    "GetWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkflowRequest, GetWorkflowResult>",
      "asyncReturnType" : "GetWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkflowRequest",
        "variableName" : "getWorkflowRequest",
        "variableType" : "GetWorkflowRequest",
        "documentation" : "",
        "simpleType" : "GetWorkflowRequest",
        "variableSetterType" : "GetWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkflow",
      "operationName" : "GetWorkflow",
      "returnType" : {
        "returnType" : "GetWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWorkflowResult"
    },
    "GetWorkflowStep" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkflowStepResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkflowStepResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkflowStepRequest, GetWorkflowStepResult>",
      "asyncReturnType" : "GetWorkflowStepResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a step in the migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkflowStepRequest",
        "variableName" : "getWorkflowStepRequest",
        "variableType" : "GetWorkflowStepRequest",
        "documentation" : "",
        "simpleType" : "GetWorkflowStepRequest",
        "variableSetterType" : "GetWorkflowStepRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkflowStep",
      "operationName" : "GetWorkflowStep",
      "returnType" : {
        "returnType" : "GetWorkflowStepResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWorkflowStepResult"
    },
    "GetWorkflowStepGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkflowStepGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkflowStepGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkflowStepGroupRequest, GetWorkflowStepGroupResult>",
      "asyncReturnType" : "GetWorkflowStepGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the step group of a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkflowStepGroupRequest",
        "variableName" : "getWorkflowStepGroupRequest",
        "variableType" : "GetWorkflowStepGroupRequest",
        "documentation" : "",
        "simpleType" : "GetWorkflowStepGroupRequest",
        "variableSetterType" : "GetWorkflowStepGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkflowStepGroup",
      "operationName" : "GetWorkflowStepGroup",
      "returnType" : {
        "returnType" : "GetWorkflowStepGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWorkflowStepGroupResult"
    },
    "ListPlugins" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPluginsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPluginsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPluginsRequest, ListPluginsResult>",
      "asyncReturnType" : "ListPluginsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List AWS Migration Hub Orchestrator plugins.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPluginsRequest",
        "variableName" : "listPluginsRequest",
        "variableType" : "ListPluginsRequest",
        "documentation" : "",
        "simpleType" : "ListPluginsRequest",
        "variableSetterType" : "ListPluginsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPlugins",
      "operationName" : "ListPlugins",
      "returnType" : {
        "returnType" : "ListPluginsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPluginsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the tags added to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTemplateStepGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTemplateStepGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTemplateStepGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTemplateStepGroupsRequest, ListTemplateStepGroupsResult>",
      "asyncReturnType" : "ListTemplateStepGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the step groups in a template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTemplateStepGroupsRequest",
        "variableName" : "listTemplateStepGroupsRequest",
        "variableType" : "ListTemplateStepGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListTemplateStepGroupsRequest",
        "variableSetterType" : "ListTemplateStepGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTemplateStepGroups",
      "operationName" : "ListTemplateStepGroups",
      "returnType" : {
        "returnType" : "ListTemplateStepGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTemplateStepGroupsResult"
    },
    "ListTemplateSteps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTemplateStepsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTemplateStepsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTemplateStepsRequest, ListTemplateStepsResult>",
      "asyncReturnType" : "ListTemplateStepsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the steps in a template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTemplateStepsRequest",
        "variableName" : "listTemplateStepsRequest",
        "variableType" : "ListTemplateStepsRequest",
        "documentation" : "",
        "simpleType" : "ListTemplateStepsRequest",
        "variableSetterType" : "ListTemplateStepsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTemplateSteps",
      "operationName" : "ListTemplateSteps",
      "returnType" : {
        "returnType" : "ListTemplateStepsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTemplateStepsResult"
    },
    "ListTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTemplatesRequest, ListTemplatesResult>",
      "asyncReturnType" : "ListTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the templates available in Migration Hub Orchestrator to create a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTemplatesRequest",
        "variableName" : "listTemplatesRequest",
        "variableType" : "ListTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListTemplatesRequest",
        "variableSetterType" : "ListTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTemplates",
      "operationName" : "ListTemplates",
      "returnType" : {
        "returnType" : "ListTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTemplatesResult"
    },
    "ListWorkflowStepGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkflowStepGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkflowStepGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkflowStepGroupsRequest, ListWorkflowStepGroupsResult>",
      "asyncReturnType" : "ListWorkflowStepGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the step groups in a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkflowStepGroupsRequest",
        "variableName" : "listWorkflowStepGroupsRequest",
        "variableType" : "ListWorkflowStepGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListWorkflowStepGroupsRequest",
        "variableSetterType" : "ListWorkflowStepGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkflowStepGroups",
      "operationName" : "ListWorkflowStepGroups",
      "returnType" : {
        "returnType" : "ListWorkflowStepGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkflowStepGroupsResult"
    },
    "ListWorkflowSteps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkflowStepsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkflowStepsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkflowStepsRequest, ListWorkflowStepsResult>",
      "asyncReturnType" : "ListWorkflowStepsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the steps in a workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkflowStepsRequest",
        "variableName" : "listWorkflowStepsRequest",
        "variableType" : "ListWorkflowStepsRequest",
        "documentation" : "",
        "simpleType" : "ListWorkflowStepsRequest",
        "variableSetterType" : "ListWorkflowStepsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkflowSteps",
      "operationName" : "ListWorkflowSteps",
      "returnType" : {
        "returnType" : "ListWorkflowStepsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkflowStepsResult"
    },
    "ListWorkflows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkflowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkflowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkflowsRequest, ListWorkflowsResult>",
      "asyncReturnType" : "ListWorkflowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the migration workflows.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkflowsRequest",
        "variableName" : "listWorkflowsRequest",
        "variableType" : "ListWorkflowsRequest",
        "documentation" : "",
        "simpleType" : "ListWorkflowsRequest",
        "variableSetterType" : "ListWorkflowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkflows",
      "operationName" : "ListWorkflows",
      "returnType" : {
        "returnType" : "ListWorkflowsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkflowsResult"
    },
    "RetryWorkflowStep" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetryWorkflowStepResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetryWorkflowStepResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetryWorkflowStepRequest, RetryWorkflowStepResult>",
      "asyncReturnType" : "RetryWorkflowStepResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retry a failed step in a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RetryWorkflowStepRequest",
        "variableName" : "retryWorkflowStepRequest",
        "variableType" : "RetryWorkflowStepRequest",
        "documentation" : "",
        "simpleType" : "RetryWorkflowStepRequest",
        "variableSetterType" : "RetryWorkflowStepRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retryWorkflowStep",
      "operationName" : "RetryWorkflowStep",
      "returnType" : {
        "returnType" : "RetryWorkflowStepResult",
        "documentation" : null
      },
      "syncReturnType" : "RetryWorkflowStepResult"
    },
    "StartWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartWorkflowRequest, StartWorkflowResult>",
      "asyncReturnType" : "StartWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Start a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartWorkflowRequest",
        "variableName" : "startWorkflowRequest",
        "variableType" : "StartWorkflowRequest",
        "documentation" : "",
        "simpleType" : "StartWorkflowRequest",
        "variableSetterType" : "StartWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startWorkflow",
      "operationName" : "StartWorkflow",
      "returnType" : {
        "returnType" : "StartWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "StartWorkflowResult"
    },
    "StopWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopWorkflowRequest, StopWorkflowResult>",
      "asyncReturnType" : "StopWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stop an ongoing migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopWorkflowRequest",
        "variableName" : "stopWorkflowRequest",
        "variableType" : "StopWorkflowRequest",
        "documentation" : "",
        "simpleType" : "StopWorkflowRequest",
        "variableSetterType" : "StopWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopWorkflow",
      "operationName" : "StopWorkflow",
      "returnType" : {
        "returnType" : "StopWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "StopWorkflowResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tag a resource by specifying its Amazon Resource Name (ARN).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTemplateRequest, UpdateTemplateResult>",
      "asyncReturnType" : "UpdateTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a migration workflow template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTemplateRequest",
        "variableName" : "updateTemplateRequest",
        "variableType" : "UpdateTemplateRequest",
        "documentation" : "",
        "simpleType" : "UpdateTemplateRequest",
        "variableSetterType" : "UpdateTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTemplate",
      "operationName" : "UpdateTemplate",
      "returnType" : {
        "returnType" : "UpdateTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTemplateResult"
    },
    "UpdateWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkflowRequest, UpdateWorkflowResult>",
      "asyncReturnType" : "UpdateWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkflowRequest",
        "variableName" : "updateWorkflowRequest",
        "variableType" : "UpdateWorkflowRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkflowRequest",
        "variableSetterType" : "UpdateWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkflow",
      "operationName" : "UpdateWorkflow",
      "returnType" : {
        "returnType" : "UpdateWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkflowResult"
    },
    "UpdateWorkflowStep" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkflowStepResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkflowStepResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkflowStepRequest, UpdateWorkflowStepResult>",
      "asyncReturnType" : "UpdateWorkflowStepResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a step in a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkflowStepRequest",
        "variableName" : "updateWorkflowStepRequest",
        "variableType" : "UpdateWorkflowStepRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkflowStepRequest",
        "variableSetterType" : "UpdateWorkflowStepRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkflowStep",
      "operationName" : "UpdateWorkflowStep",
      "returnType" : {
        "returnType" : "UpdateWorkflowStepResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkflowStepResult"
    },
    "UpdateWorkflowStepGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkflowStepGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkflowStepGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkflowStepGroupRequest, UpdateWorkflowStepGroupResult>",
      "asyncReturnType" : "UpdateWorkflowStepGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the step group in a migration workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkflowStepGroupRequest",
        "variableName" : "updateWorkflowStepGroupRequest",
        "variableType" : "UpdateWorkflowStepGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkflowStepGroupRequest",
        "variableSetterType" : "UpdateWorkflowStepGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkflowStepGroup",
      "operationName" : "UpdateWorkflowStepGroup",
      "returnType" : {
        "returnType" : "UpdateWorkflowStepGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkflowStepGroupResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.migrationhuborchestrator.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.migrationhuborchestrator.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This exception is thrown when an attempt to update or delete a resource would cause an inconsistent state.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.migrationhuborchestrator.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.migrationhuborchestrator.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateTemplateRequest" : {
      "c2jName" : "CreateTemplateRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.migrationhuborchestrator.request.CreateTemplateRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateTemplate",
        "locationName" : null,
        "requestUri" : "/template",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "templateName",
        "c2jShape" : "CreateTemplateRequestTemplateNameString",
        "deprecated" : false,
        "documentation" : "<p>The name of the migration workflow template.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the migration workflow template.</p>\n@param templateName The name of the migration workflow template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTemplateName",
        "getterDocumentation" : "/**<p>The name of the migration workflow template.</p>\n@return The name of the migration workflow template.*/",
        "getterMethodName" : "getTemplateName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "templateName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "templateName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TemplateName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the migration workflow template.</p>\n@param templateName The name of the migration workflow template.*/",
        "setterMethodName" : "setTemplateName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "templateName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the migration workflow template.</p>\n@param templateName The name of the migration workflow template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "templateName",
          "variableType" : "String",
          "documentation" : "<p>The name of the migration workflow template.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "templateDescription",
        "c2jShape" : "CreateTemplateRequestTemplateDescriptionString",
        "deprecated" : false,
        "documentation" : "<p>A description of the migration workflow template.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description of the migration workflow template.</p>\n@param templateDescription A description of the migration workflow template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTemplateDescription",
        "getterDocumentation" : "/**<p>A description of the migration workflow template.</p>\n@return A description of the migration workflow template.*/",
        "getterMethodName" : "getTemplateDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "templateDescription",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "templateDescription",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TemplateDescription",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description of the migration workflow template.</p>\n@param templateDescription A description of the migration workflow template.*/",
        "setterMethodName" : "setTemplateDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "templateDescription",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description of the migration workflow template.</p>\n@param templateDescription A description of the migration workflow template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "templateDescription",
          "variableType" : "String",
          "documentation" : "<p>A description of the migration workflow template.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "templateSource",
        "c2jShape" : "TemplateSource",
        "deprecated" : false,
        "documentation" : "<p>The source of the migration workflow template.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The source of the migration workflow template.</p>\n@param templateSource The source of the migration workflow template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTemplateSource",
        "getterDocumentation" : "/**<p>The source of the migration workflow template.</p>\n@return The source of the migration workflow template.*/",
        "getterMethodName" : "getTemplateSource",
        "getterModel" : {
          "returnType" : "TemplateSource",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "templateSource",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "templateSource",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TemplateSource",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The source of the migration workflow template.</p>\n@param templateSource The source of the migration workflow template.*/",
        "setterMethodName" : "setTemplateSource",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TemplateSource",
          "variableName" : "templateSource",
          "variableType" : "TemplateSource",
          "documentation" : "",
          "simpleType" : "TemplateSource",
          "variableSetterType" : "TemplateSource"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The source of the migration workflow template.</p>\n@param templateSource The source of the migration workflow template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TemplateSource",
          "variableName" : "templateSource",
          "variableType" : "TemplateSource",
          "documentation" : "<p>The source of the migration workflow template.</p>",
          "simpleType" : "TemplateSource",
          "variableSetterType" : "TemplateSource"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.</p>\n@return A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "<p>The tags to add to the migration workflow template.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags to add to the migration workflow template.</p>\n@param tags The tags to add to the migration workflow template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags to add to the migration workflow template.</p>\n@return The tags to add to the migration workflow template.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The tags to add to the migration workflow template.</p>\n@param tags The tags to add to the migration workflow template.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags to add to the migration workflow template.</p>\n@param tags The tags to add to the migration workflow template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The tags to add to the migration workflow template.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "ClientToken",
          "deprecated" : false,
          "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.</p>\n@return A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
[...]
