{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : {
      "BotChannelAssociation" : [ "type" ],
      "BotMetadata" : [ "status" ],
      "CreateBotVersionResponse" : [ "status", "locale" ],
      "FulfillmentActivity" : [ "type" ],
      "GetBotChannelAssociationResponse" : [ "type" ],
      "GetBotResponse" : [ "status", "locale" ],
      "GetBuiltinIntentsRequest" : [ "locale" ],
      "GetBuiltinSlotTypesRequest" : [ "locale" ],
      "GetUtterancesViewRequest" : [ "statusType" ],
      "Message" : [ "contentType" ],
      "PutBotRequest" : [ "processBehavior", "locale" ],
      "PutBotResponse" : [ "status", "locale" ],
      "ResourceInUseException" : [ "referenceType" ],
      "Slot" : [ "slotConstraint" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-04-19",
    "asyncClient" : "AmazonLexModelBuildingAsyncClient",
    "asyncClientBuilderClassName" : "AmazonLexModelBuildingAsyncClientBuilder",
    "asyncInterface" : "AmazonLexModelBuildingAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonLexModelBuildingModuleInjector",
    "defaultEndpoint" : "models.lex.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "models.lex.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Lex Build-Time Actions</fullname> <p> Amazon Lex is an AWS service for building conversational voice and text interfaces. Use these actions to create, update, and delete conversational bots for new and existing client applications. </p>",
    "endpointPrefix" : "models.lex",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.lexmodelbuilding",
    "packagePath" : "com/amazonaws/services/lexmodelbuilding",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Lex Model Building Service",
    "serviceId" : "Lex Model Building Service",
    "serviceName" : "Amazon Lex Model Building Service",
    "signingName" : "lex",
    "smokeTestsPackageName" : "com.amazonaws.services.lexmodelbuilding.smoketests",
    "syncClient" : "AmazonLexModelBuildingClient",
    "syncClientBuilderClassName" : "AmazonLexModelBuildingClientBuilder",
    "syncInterface" : "AmazonLexModelBuilding",
    "uid" : "lex-models-2017-04-19",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBotVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBotVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBotVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBotVersionRequest, CreateBotVersionResult>",
      "asyncReturnType" : "CreateBotVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new version of the bot based on the <code>$LATEST</code> version. If the <code>$LATEST</code> version of this resource hasn't changed since you created the last version, Amazon Lex doesn't create a new version. It returns the last created version.</p> <note> <p>You can update only the <code>$LATEST</code> version of the bot. You can't update the numbered versions that you create with the <code>CreateBotVersion</code> operation.</p> </note> <p> When you create the first version of a bot, Amazon Lex sets the version to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p> <p> This operation requires permission for the <code>lex:CreateBotVersion</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p> The checksum of the resource that you are trying to change does not match the checksum in the request. Check the resource's checksum and try again.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBotVersionRequest",
        "variableName" : "createBotVersionRequest",
        "variableType" : "CreateBotVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateBotVersionRequest",
        "variableSetterType" : "CreateBotVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBotVersion",
      "operationName" : "CreateBotVersion",
      "returnType" : {
        "returnType" : "CreateBotVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBotVersionResult"
    },
    "CreateIntentVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIntentVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIntentVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIntentVersionRequest, CreateIntentVersionResult>",
      "asyncReturnType" : "CreateIntentVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new version of an intent based on the <code>$LATEST</code> version of the intent. If the <code>$LATEST</code> version of this intent hasn't changed since you last updated it, Amazon Lex doesn't create a new version. It returns the last version you created.</p> <note> <p>You can update only the <code>$LATEST</code> version of the intent. You can't update the numbered versions that you create with the <code>CreateIntentVersion</code> operation.</p> </note> <p> When you create a version of an intent, Amazon Lex sets the version to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p> <p>This operation requires permissions to perform the <code>lex:CreateIntentVersion</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p> The checksum of the resource that you are trying to change does not match the checksum in the request. Check the resource's checksum and try again.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIntentVersionRequest",
        "variableName" : "createIntentVersionRequest",
        "variableType" : "CreateIntentVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateIntentVersionRequest",
        "variableSetterType" : "CreateIntentVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIntentVersion",
      "operationName" : "CreateIntentVersion",
      "returnType" : {
        "returnType" : "CreateIntentVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIntentVersionResult"
    },
    "CreateSlotTypeVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSlotTypeVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSlotTypeVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSlotTypeVersionRequest, CreateSlotTypeVersionResult>",
      "asyncReturnType" : "CreateSlotTypeVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new version of a slot type based on the <code>$LATEST</code> version of the specified slot type. If the <code>$LATEST</code> version of this resource has not changed since the last version that you created, Amazon Lex doesn't create a new version. It returns the last version that you created. </p> <note> <p>You can update only the <code>$LATEST</code> version of a slot type. You can't update the numbered versions that you create with the <code>CreateSlotTypeVersion</code> operation.</p> </note> <p>When you create a version of a slot type, Amazon Lex sets the version to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p> <p>This operation requires permissions for the <code>lex:CreateSlotTypeVersion</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p> The checksum of the resource that you are trying to change does not match the checksum in the request. Check the resource's checksum and try again.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSlotTypeVersionRequest",
        "variableName" : "createSlotTypeVersionRequest",
        "variableType" : "CreateSlotTypeVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateSlotTypeVersionRequest",
        "variableSetterType" : "CreateSlotTypeVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSlotTypeVersion",
      "operationName" : "CreateSlotTypeVersion",
      "returnType" : {
        "returnType" : "CreateSlotTypeVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSlotTypeVersionResult"
    },
    "DeleteBot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBotRequest, DeleteBotResult>",
      "asyncReturnType" : "DeleteBotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes all versions of the bot, including the <code>$LATEST</code> version. To delete a specific version of the bot, use the <a>DeleteBotVersion</a> operation.</p> <p>If a bot has an alias, you can't delete it. Instead, the <code>DeleteBot</code> operation returns a <code>ResourceInUseException</code> exception that includes a reference to the alias that refers to the bot. To remove the reference to the bot, delete the alias. If you get the same exception again, delete the referring alias until the <code>DeleteBot</code> operation is successful.</p> <p>This operation requires permissions for the <code>lex:DeleteBot</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are attempting to delete is referred to by another resource. Use this information to remove references to the resource that you are trying to delete.</p> <p>The body of the exception contains a JSON object that describes the resource.</p> <p> <code>{ \"resourceType\": BOT | BOTALIAS | BOTCHANNEL | INTENT,</code> </p> <p> <code>\"resourceReference\": {</code> </p> <p> <code>\"name\": <i>string</i>, \"version\": <i>string</i> } }</code> </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBotRequest",
        "variableName" : "deleteBotRequest",
        "variableType" : "DeleteBotRequest",
        "documentation" : "",
        "simpleType" : "DeleteBotRequest",
        "variableSetterType" : "DeleteBotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBot",
      "operationName" : "DeleteBot",
      "returnType" : {
        "returnType" : "DeleteBotResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBotResult"
    },
    "DeleteBotAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBotAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBotAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBotAliasRequest, DeleteBotAliasResult>",
      "asyncReturnType" : "DeleteBotAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an alias for the specified bot. </p> <p>You can't delete an alias that is used in the association between a bot and a messaging channel. If an alias is used in a channel association, the <code>DeleteBot</code> operation returns a <code>ResourceInUseException</code> exception that includes a reference to the channel association that refers to the bot. You can remove the reference to the alias by deleting the channel association. If you get the same exception again, delete the referring association until the <code>DeleteBotAlias</code> operation is successful.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are attempting to delete is referred to by another resource. Use this information to remove references to the resource that you are trying to delete.</p> <p>The body of the exception contains a JSON object that describes the resource.</p> <p> <code>{ \"resourceType\": BOT | BOTALIAS | BOTCHANNEL | INTENT,</code> </p> <p> <code>\"resourceReference\": {</code> </p> <p> <code>\"name\": <i>string</i>, \"version\": <i>string</i> } }</code> </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBotAliasRequest",
        "variableName" : "deleteBotAliasRequest",
        "variableType" : "DeleteBotAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteBotAliasRequest",
        "variableSetterType" : "DeleteBotAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBotAlias",
      "operationName" : "DeleteBotAlias",
      "returnType" : {
        "returnType" : "DeleteBotAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBotAliasResult"
    },
    "DeleteBotChannelAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBotChannelAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBotChannelAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBotChannelAssociationRequest, DeleteBotChannelAssociationResult>",
      "asyncReturnType" : "DeleteBotChannelAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the association between an Amazon Lex bot and a messaging platform.</p> <p>This operation requires permission for the <code>lex:DeleteBotChannelAssociation</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBotChannelAssociationRequest",
        "variableName" : "deleteBotChannelAssociationRequest",
        "variableType" : "DeleteBotChannelAssociationRequest",
        "documentation" : "",
        "simpleType" : "DeleteBotChannelAssociationRequest",
        "variableSetterType" : "DeleteBotChannelAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBotChannelAssociation",
      "operationName" : "DeleteBotChannelAssociation",
      "returnType" : {
        "returnType" : "DeleteBotChannelAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBotChannelAssociationResult"
    },
    "DeleteBotVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBotVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBotVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBotVersionRequest, DeleteBotVersionResult>",
      "asyncReturnType" : "DeleteBotVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific version of a bot. To delete all versions of a bot, use the <a>DeleteBot</a> operation. </p> <p>This operation requires permissions for the <code>lex:DeleteBotVersion</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are attempting to delete is referred to by another resource. Use this information to remove references to the resource that you are trying to delete.</p> <p>The body of the exception contains a JSON object that describes the resource.</p> <p> <code>{ \"resourceType\": BOT | BOTALIAS | BOTCHANNEL | INTENT,</code> </p> <p> <code>\"resourceReference\": {</code> </p> <p> <code>\"name\": <i>string</i>, \"version\": <i>string</i> } }</code> </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBotVersionRequest",
        "variableName" : "deleteBotVersionRequest",
        "variableType" : "DeleteBotVersionRequest",
        "documentation" : "",
        "simpleType" : "DeleteBotVersionRequest",
        "variableSetterType" : "DeleteBotVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBotVersion",
      "operationName" : "DeleteBotVersion",
      "returnType" : {
        "returnType" : "DeleteBotVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBotVersionResult"
    },
    "DeleteIntent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIntentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIntentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIntentRequest, DeleteIntentResult>",
      "asyncReturnType" : "DeleteIntentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes all versions of the intent, including the <code>$LATEST</code> version. To delete a specific version of the intent, use the <a>DeleteIntentVersion</a> operation.</p> <p> You can delete a version of an intent only if it is not referenced. To delete an intent that is referred to in one or more bots (see <a>how-it-works</a>), you must remove those references first. </p> <note> <p> If you get the <code>ResourceInUseException</code> exception, it provides an example reference that shows where the intent is referenced. To remove the reference to the intent, either update the bot or delete it. If you get the same exception when you attempt to delete the intent again, repeat until the intent has no references and the call to <code>DeleteIntent</code> is successful. </p> </note> <p> This operation requires permission for the <code>lex:DeleteIntent</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are attempting to delete is referred to by another resource. Use this information to remove references to the resource that you are trying to delete.</p> <p>The body of the exception contains a JSON object that describes the resource.</p> <p> <code>{ \"resourceType\": BOT | BOTALIAS | BOTCHANNEL | INTENT,</code> </p> <p> <code>\"resourceReference\": {</code> </p> <p> <code>\"name\": <i>string</i>, \"version\": <i>string</i> } }</code> </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIntentRequest",
        "variableName" : "deleteIntentRequest",
        "variableType" : "DeleteIntentRequest",
        "documentation" : "",
        "simpleType" : "DeleteIntentRequest",
        "variableSetterType" : "DeleteIntentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIntent",
      "operationName" : "DeleteIntent",
      "returnType" : {
        "returnType" : "DeleteIntentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIntentResult"
    },
    "DeleteIntentVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIntentVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIntentVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIntentVersionRequest, DeleteIntentVersionResult>",
      "asyncReturnType" : "DeleteIntentVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific version of an intent. To delete all versions of a intent, use the <a>DeleteIntent</a> operation. </p> <p>This operation requires permissions for the <code>lex:DeleteIntentVersion</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are attempting to delete is referred to by another resource. Use this information to remove references to the resource that you are trying to delete.</p> <p>The body of the exception contains a JSON object that describes the resource.</p> <p> <code>{ \"resourceType\": BOT | BOTALIAS | BOTCHANNEL | INTENT,</code> </p> <p> <code>\"resourceReference\": {</code> </p> <p> <code>\"name\": <i>string</i>, \"version\": <i>string</i> } }</code> </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIntentVersionRequest",
        "variableName" : "deleteIntentVersionRequest",
        "variableType" : "DeleteIntentVersionRequest",
        "documentation" : "",
        "simpleType" : "DeleteIntentVersionRequest",
        "variableSetterType" : "DeleteIntentVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIntentVersion",
      "operationName" : "DeleteIntentVersion",
      "returnType" : {
        "returnType" : "DeleteIntentVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIntentVersionResult"
    },
    "DeleteSlotType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSlotTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSlotTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSlotTypeRequest, DeleteSlotTypeResult>",
      "asyncReturnType" : "DeleteSlotTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes all versions of the slot type, including the <code>$LATEST</code> version. To delete a specific version of the slot type, use the <a>DeleteSlotTypeVersion</a> operation.</p> <p> You can delete a version of a slot type only if it is not referenced. To delete a slot type that is referred to in one or more intents, you must remove those references first. </p> <note> <p> If you get the <code>ResourceInUseException</code> exception, the exception provides an example reference that shows the intent where the slot type is referenced. To remove the reference to the slot type, either update the intent or delete it. If you get the same exception when you attempt to delete the slot type again, repeat until the slot type has no references and the <code>DeleteSlotType</code> call is successful. </p> </note> <p>This operation requires permission for the <code>lex:DeleteSlotType</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are attempting to delete is referred to by another resource. Use this information to remove references to the resource that you are trying to delete.</p> <p>The body of the exception contains a JSON object that describes the resource.</p> <p> <code>{ \"resourceType\": BOT | BOTALIAS | BOTCHANNEL | INTENT,</code> </p> <p> <code>\"resourceReference\": {</code> </p> <p> <code>\"name\": <i>string</i>, \"version\": <i>string</i> } }</code> </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSlotTypeRequest",
        "variableName" : "deleteSlotTypeRequest",
        "variableType" : "DeleteSlotTypeRequest",
        "documentation" : "",
        "simpleType" : "DeleteSlotTypeRequest",
        "variableSetterType" : "DeleteSlotTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSlotType",
      "operationName" : "DeleteSlotType",
      "returnType" : {
        "returnType" : "DeleteSlotTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSlotTypeResult"
    },
    "DeleteSlotTypeVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSlotTypeVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSlotTypeVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSlotTypeVersionRequest, DeleteSlotTypeVersionResult>",
      "asyncReturnType" : "DeleteSlotTypeVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific version of a slot type. To delete all versions of a slot type, use the <a>DeleteSlotType</a> operation. </p> <p>This operation requires permissions for the <code>lex:DeleteSlotTypeVersion</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are attempting to delete is referred to by another resource. Use this information to remove references to the resource that you are trying to delete.</p> <p>The body of the exception contains a JSON object that describes the resource.</p> <p> <code>{ \"resourceType\": BOT | BOTALIAS | BOTCHANNEL | INTENT,</code> </p> <p> <code>\"resourceReference\": {</code> </p> <p> <code>\"name\": <i>string</i>, \"version\": <i>string</i> } }</code> </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSlotTypeVersionRequest",
        "variableName" : "deleteSlotTypeVersionRequest",
        "variableType" : "DeleteSlotTypeVersionRequest",
        "documentation" : "",
        "simpleType" : "DeleteSlotTypeVersionRequest",
        "variableSetterType" : "DeleteSlotTypeVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSlotTypeVersion",
      "operationName" : "DeleteSlotTypeVersion",
      "returnType" : {
        "returnType" : "DeleteSlotTypeVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSlotTypeVersionResult"
    },
    "DeleteUtterances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUtterancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUtterancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUtterancesRequest, DeleteUtterancesResult>",
      "asyncReturnType" : "DeleteUtterancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes stored utterances.</p> <p>Amazon Lex stores the utterances that users send to your bot. Utterances are stored for 15 days for use with the <a>GetUtterancesView</a> operation, and then stored indefinitely for use in improving the ability of your bot to respond to user input.</p> <p>Use the <code>DeleteStoredUtterances</code> operation to manually delete stored utterances for a specific user.</p> <p>This operation requires permissions for the <code>lex:DeleteUtterances</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUtterancesRequest",
        "variableName" : "deleteUtterancesRequest",
        "variableType" : "DeleteUtterancesRequest",
        "documentation" : "",
        "simpleType" : "DeleteUtterancesRequest",
        "variableSetterType" : "DeleteUtterancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUtterances",
      "operationName" : "DeleteUtterances",
      "returnType" : {
        "returnType" : "DeleteUtterancesResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUtterancesResult"
    },
    "GetBot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBotRequest, GetBotResult>",
      "asyncReturnType" : "GetBotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata information for a specific bot. You must provide the bot name and the bot version or alias. </p> <p> This operation requires permissions for the <code>lex:GetBot</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBotRequest",
        "variableName" : "getBotRequest",
        "variableType" : "GetBotRequest",
        "documentation" : "",
        "simpleType" : "GetBotRequest",
        "variableSetterType" : "GetBotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBot",
      "operationName" : "GetBot",
      "returnType" : {
        "returnType" : "GetBotResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBotResult"
    },
    "GetBotAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBotAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBotAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBotAliasRequest, GetBotAliasResult>",
      "asyncReturnType" : "GetBotAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an Amazon Lex bot alias. For more information about aliases, see <a>versioning-aliases</a>.</p> <p>This operation requires permissions for the <code>lex:GetBotAlias</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBotAliasRequest",
        "variableName" : "getBotAliasRequest",
        "variableType" : "GetBotAliasRequest",
        "documentation" : "",
        "simpleType" : "GetBotAliasRequest",
        "variableSetterType" : "GetBotAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBotAlias",
      "operationName" : "GetBotAlias",
      "returnType" : {
        "returnType" : "GetBotAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBotAliasResult"
    },
    "GetBotAliases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBotAliasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBotAliasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBotAliasesRequest, GetBotAliasesResult>",
      "asyncReturnType" : "GetBotAliasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of aliases for a specified Amazon Lex bot.</p> <p>This operation requires permissions for the <code>lex:GetBotAliases</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBotAliasesRequest",
        "variableName" : "getBotAliasesRequest",
        "variableType" : "GetBotAliasesRequest",
        "documentation" : "",
        "simpleType" : "GetBotAliasesRequest",
        "variableSetterType" : "GetBotAliasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBotAliases",
      "operationName" : "GetBotAliases",
      "returnType" : {
        "returnType" : "GetBotAliasesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBotAliasesResult"
    },
    "GetBotChannelAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBotChannelAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBotChannelAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBotChannelAssociationRequest, GetBotChannelAssociationResult>",
      "asyncReturnType" : "GetBotChannelAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the association between an Amazon Lex bot and a messaging platform.</p> <p>This operation requires permissions for the <code>lex:GetBotChannelAssociation</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBotChannelAssociationRequest",
        "variableName" : "getBotChannelAssociationRequest",
        "variableType" : "GetBotChannelAssociationRequest",
        "documentation" : "",
        "simpleType" : "GetBotChannelAssociationRequest",
        "variableSetterType" : "GetBotChannelAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBotChannelAssociation",
      "operationName" : "GetBotChannelAssociation",
      "returnType" : {
        "returnType" : "GetBotChannelAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBotChannelAssociationResult"
    },
    "GetBotChannelAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBotChannelAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBotChannelAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBotChannelAssociationsRequest, GetBotChannelAssociationsResult>",
      "asyncReturnType" : "GetBotChannelAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of all of the channels associated with the specified bot. </p> <p>The <code>GetBotChannelAssociations</code> operation requires permissions for the <code>lex:GetBotChannelAssociations</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBotChannelAssociationsRequest",
        "variableName" : "getBotChannelAssociationsRequest",
        "variableType" : "GetBotChannelAssociationsRequest",
        "documentation" : "",
        "simpleType" : "GetBotChannelAssociationsRequest",
        "variableSetterType" : "GetBotChannelAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBotChannelAssociations",
      "operationName" : "GetBotChannelAssociations",
      "returnType" : {
        "returnType" : "GetBotChannelAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBotChannelAssociationsResult"
    },
    "GetBotVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBotVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBotVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBotVersionsRequest, GetBotVersionsResult>",
      "asyncReturnType" : "GetBotVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about all of the versions of a bot.</p> <p>The <code>GetBotVersions</code> operation returns a <code>BotMetadata</code> object for each version of a bot. For example, if a bot has three numbered versions, the <code>GetBotVersions</code> operation returns four <code>BotMetadata</code> objects in the response, one for each numbered version and one for the <code>$LATEST</code> version. </p> <p>The <code>GetBotVersions</code> operation always returns at least one version, the <code>$LATEST</code> version.</p> <p>This operation requires permissions for the <code>lex:GetBotVersions</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBotVersionsRequest",
        "variableName" : "getBotVersionsRequest",
        "variableType" : "GetBotVersionsRequest",
        "documentation" : "",
        "simpleType" : "GetBotVersionsRequest",
        "variableSetterType" : "GetBotVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBotVersions",
      "operationName" : "GetBotVersions",
      "returnType" : {
        "returnType" : "GetBotVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBotVersionsResult"
    },
    "GetBots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBotsRequest, GetBotsResult>",
      "asyncReturnType" : "GetBotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns bot information as follows: </p> <ul> <li> <p>If you provide the <code>nameContains</code> field, the response includes information for the <code>$LATEST</code> version of all bots whose name contains the specified string.</p> </li> <li> <p>If you don't specify the <code>nameContains</code> field, the operation returns information about the <code>$LATEST</code> version of all of your bots.</p> </li> </ul> <p>This operation requires permission for the <code>lex:GetBots</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBotsRequest",
        "variableName" : "getBotsRequest",
        "variableType" : "GetBotsRequest",
        "documentation" : "",
        "simpleType" : "GetBotsRequest",
        "variableSetterType" : "GetBotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBots",
      "operationName" : "GetBots",
      "returnType" : {
        "returnType" : "GetBotsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBotsResult"
    },
    "GetBuiltinIntent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBuiltinIntentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBuiltinIntentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBuiltinIntentRequest, GetBuiltinIntentResult>",
      "asyncReturnType" : "GetBuiltinIntentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a built-in intent.</p> <p>This operation requires permission for the <code>lex:GetBuiltinIntent</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBuiltinIntentRequest",
        "variableName" : "getBuiltinIntentRequest",
        "variableType" : "GetBuiltinIntentRequest",
        "documentation" : "",
        "simpleType" : "GetBuiltinIntentRequest",
        "variableSetterType" : "GetBuiltinIntentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBuiltinIntent",
      "operationName" : "GetBuiltinIntent",
      "returnType" : {
        "returnType" : "GetBuiltinIntentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBuiltinIntentResult"
    },
    "GetBuiltinIntents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBuiltinIntentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBuiltinIntentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBuiltinIntentsRequest, GetBuiltinIntentsResult>",
      "asyncReturnType" : "GetBuiltinIntentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of built-in intents that meet the specified criteria.</p> <p>This operation requires permission for the <code>lex:GetBuiltinIntents</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBuiltinIntentsRequest",
        "variableName" : "getBuiltinIntentsRequest",
        "variableType" : "GetBuiltinIntentsRequest",
        "documentation" : "",
        "simpleType" : "GetBuiltinIntentsRequest",
        "variableSetterType" : "GetBuiltinIntentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBuiltinIntents",
      "operationName" : "GetBuiltinIntents",
      "returnType" : {
        "returnType" : "GetBuiltinIntentsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBuiltinIntentsResult"
    },
    "GetBuiltinSlotTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBuiltinSlotTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBuiltinSlotTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBuiltinSlotTypesRequest, GetBuiltinSlotTypesResult>",
      "asyncReturnType" : "GetBuiltinSlotTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of built-in slot types that meet the specified criteria.</p> <p>For a list of built-in slot types, see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/slot-type-reference\">Slot Type Reference</a> in the <i>Alexa Skills Kit</i>.</p> <p>This operation requires permission for the <code>lex:GetBuiltInSlotTypes</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBuiltinSlotTypesRequest",
        "variableName" : "getBuiltinSlotTypesRequest",
        "variableType" : "GetBuiltinSlotTypesRequest",
        "documentation" : "",
        "simpleType" : "GetBuiltinSlotTypesRequest",
        "variableSetterType" : "GetBuiltinSlotTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBuiltinSlotTypes",
      "operationName" : "GetBuiltinSlotTypes",
      "returnType" : {
        "returnType" : "GetBuiltinSlotTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBuiltinSlotTypesResult"
    },
    "GetExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExportRequest, GetExportResult>",
      "asyncReturnType" : "GetExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports the contents of a Amazon Lex resource in a specified format. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExportRequest",
        "variableName" : "getExportRequest",
        "variableType" : "GetExportRequest",
        "documentation" : "",
        "simpleType" : "GetExportRequest",
        "variableSetterType" : "GetExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExport",
      "operationName" : "GetExport",
      "returnType" : {
        "returnType" : "GetExportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExportResult"
    },
    "GetImport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetImportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetImportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetImportRequest, GetImportResult>",
      "asyncReturnType" : "GetImportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about an import job started with the <code>StartImport</code> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetImportRequest",
        "variableName" : "getImportRequest",
        "variableType" : "GetImportRequest",
        "documentation" : "",
        "simpleType" : "GetImportRequest",
        "variableSetterType" : "GetImportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getImport",
      "operationName" : "GetImport",
      "returnType" : {
        "returnType" : "GetImportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetImportResult"
    },
    "GetIntent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIntentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIntentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIntentRequest, GetIntentResult>",
      "asyncReturnType" : "GetIntentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns information about an intent. In addition to the intent name, you must specify the intent version. </p> <p> This operation requires permissions to perform the <code>lex:GetIntent</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIntentRequest",
        "variableName" : "getIntentRequest",
        "variableType" : "GetIntentRequest",
        "documentation" : "",
        "simpleType" : "GetIntentRequest",
        "variableSetterType" : "GetIntentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIntent",
      "operationName" : "GetIntent",
      "returnType" : {
        "returnType" : "GetIntentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIntentResult"
    },
    "GetIntentVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIntentVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIntentVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIntentVersionsRequest, GetIntentVersionsResult>",
      "asyncReturnType" : "GetIntentVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about all of the versions of an intent.</p> <p>The <code>GetIntentVersions</code> operation returns an <code>IntentMetadata</code> object for each version of an intent. For example, if an intent has three numbered versions, the <code>GetIntentVersions</code> operation returns four <code>IntentMetadata</code> objects in the response, one for each numbered version and one for the <code>$LATEST</code> version. </p> <p>The <code>GetIntentVersions</code> operation always returns at least one version, the <code>$LATEST</code> version.</p> <p>This operation requires permissions for the <code>lex:GetIntentVersions</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIntentVersionsRequest",
        "variableName" : "getIntentVersionsRequest",
        "variableType" : "GetIntentVersionsRequest",
        "documentation" : "",
        "simpleType" : "GetIntentVersionsRequest",
        "variableSetterType" : "GetIntentVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIntentVersions",
      "operationName" : "GetIntentVersions",
      "returnType" : {
        "returnType" : "GetIntentVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIntentVersionsResult"
    },
    "GetIntents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIntentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIntentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIntentsRequest, GetIntentsResult>",
      "asyncReturnType" : "GetIntentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns intent information as follows: </p> <ul> <li> <p>If you specify the <code>nameContains</code> field, returns the <code>$LATEST</code> version of all intents that contain the specified string.</p> </li> <li> <p> If you don't specify the <code>nameContains</code> field, returns information about the <code>$LATEST</code> version of all intents. </p> </li> </ul> <p> The operation requires permission for the <code>lex:GetIntents</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIntentsRequest",
        "variableName" : "getIntentsRequest",
        "variableType" : "GetIntentsRequest",
        "documentation" : "",
        "simpleType" : "GetIntentsRequest",
        "variableSetterType" : "GetIntentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIntents",
      "operationName" : "GetIntents",
      "returnType" : {
        "returnType" : "GetIntentsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIntentsResult"
    },
    "GetSlotType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSlotTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSlotTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSlotTypeRequest, GetSlotTypeResult>",
      "asyncReturnType" : "GetSlotTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific version of a slot type. In addition to specifying the slot type name, you must specify the slot type version.</p> <p>This operation requires permissions for the <code>lex:GetSlotType</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSlotTypeRequest",
        "variableName" : "getSlotTypeRequest",
        "variableType" : "GetSlotTypeRequest",
        "documentation" : "",
        "simpleType" : "GetSlotTypeRequest",
        "variableSetterType" : "GetSlotTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSlotType",
      "operationName" : "GetSlotType",
      "returnType" : {
        "returnType" : "GetSlotTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSlotTypeResult"
    },
    "GetSlotTypeVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSlotTypeVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSlotTypeVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSlotTypeVersionsRequest, GetSlotTypeVersionsResult>",
      "asyncReturnType" : "GetSlotTypeVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about all versions of a slot type.</p> <p>The <code>GetSlotTypeVersions</code> operation returns a <code>SlotTypeMetadata</code> object for each version of a slot type. For example, if a slot type has three numbered versions, the <code>GetSlotTypeVersions</code> operation returns four <code>SlotTypeMetadata</code> objects in the response, one for each numbered version and one for the <code>$LATEST</code> version. </p> <p>The <code>GetSlotTypeVersions</code> operation always returns at least one version, the <code>$LATEST</code> version.</p> <p>This operation requires permissions for the <code>lex:GetSlotTypeVersions</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSlotTypeVersionsRequest",
        "variableName" : "getSlotTypeVersionsRequest",
        "variableType" : "GetSlotTypeVersionsRequest",
        "documentation" : "",
        "simpleType" : "GetSlotTypeVersionsRequest",
        "variableSetterType" : "GetSlotTypeVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSlotTypeVersions",
      "operationName" : "GetSlotTypeVersions",
      "returnType" : {
        "returnType" : "GetSlotTypeVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSlotTypeVersionsResult"
    },
    "GetSlotTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSlotTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSlotTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSlotTypesRequest, GetSlotTypesResult>",
      "asyncReturnType" : "GetSlotTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns slot type information as follows: </p> <ul> <li> <p>If you specify the <code>nameContains</code> field, returns the <code>$LATEST</code> version of all slot types that contain the specified string.</p> </li> <li> <p> If you don't specify the <code>nameContains</code> field, returns information about the <code>$LATEST</code> version of all slot types. </p> </li> </ul> <p> The operation requires permission for the <code>lex:GetSlotTypes</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource specified in the request was not found. Check the resource and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSlotTypesRequest",
        "variableName" : "getSlotTypesRequest",
        "variableType" : "GetSlotTypesRequest",
        "documentation" : "",
        "simpleType" : "GetSlotTypesRequest",
        "variableSetterType" : "GetSlotTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSlotTypes",
      "operationName" : "GetSlotTypes",
      "returnType" : {
        "returnType" : "GetSlotTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSlotTypesResult"
    },
    "GetUtterancesView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUtterancesViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUtterancesViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUtterancesViewRequest, GetUtterancesViewResult>",
      "asyncReturnType" : "GetUtterancesViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use the <code>GetUtterancesView</code> operation to get information about the utterances that your users have made to your bot. You can use this list to tune the utterances that your bot responds to.</p> <p>For example, say that you have created a bot to order flowers. After your users have used your bot for a while, use the <code>GetUtterancesView</code> operation to see the requests that they have made and whether they have been successful. You might find that the utterance \"I want flowers\" is not being recognized. You could add this utterance to the <code>OrderFlowers</code> intent so that your bot recognizes that utterance.</p> <p>After you publish a new version of a bot, you can get information about the old version and the new so that you can compare the performance across the two versions. </p> <note> <p>Utterance statistics are generated once a day. Data is available for the last 15 days. You can request information for up to 5 versions in each request. The response contains information about a maximum of 100 utterances for each version.</p> </note> <p>This operation requires permissions for the <code>lex:GetUtterancesView</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUtterancesViewRequest",
        "variableName" : "getUtterancesViewRequest",
        "variableType" : "GetUtterancesViewRequest",
        "documentation" : "",
        "simpleType" : "GetUtterancesViewRequest",
        "variableSetterType" : "GetUtterancesViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUtterancesView",
      "operationName" : "GetUtterancesView",
      "returnType" : {
        "returnType" : "GetUtterancesViewResult",
        "documentation" : null
      },
      "syncReturnType" : "GetUtterancesViewResult"
    },
    "PutBot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutBotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutBotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutBotRequest, PutBotResult>",
      "asyncReturnType" : "PutBotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Lex conversational bot or replaces an existing bot. When you create or update a bot you are only required to specify a name, a locale, and whether the bot is directed toward children under age 13. You can use this to add intents later, or to remove intents from an existing bot. When you create a bot with the minimum information, the bot is created or updated but Amazon Lex returns the <code/> response <code>FAILED</code>. You can build the bot after you add one or more intents. For more information about Amazon Lex bots, see <a>how-it-works</a>. </p> <p>If you specify the name of an existing bot, the fields in the request replace the existing values in the <code>$LATEST</code> version of the bot. Amazon Lex removes any fields that you don't provide values for in the request, except for the <code>idleTTLInSeconds</code> and <code>privacySettings</code> fields, which are set to their default values. If you don't specify values for required fields, Amazon Lex throws an exception.</p> <p>This operation requires permissions for the <code>lex:PutBot</code> action. For more information, see <a>auth-and-access-control</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p> The checksum of the resource that you are trying to change does not match the checksum in the request. Check the resource's checksum and try again.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutBotRequest",
        "variableName" : "putBotRequest",
        "variableType" : "PutBotRequest",
        "documentation" : "",
        "simpleType" : "PutBotRequest",
        "variableSetterType" : "PutBotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putBot",
      "operationName" : "PutBot",
      "returnType" : {
        "returnType" : "PutBotResult",
        "documentation" : null
      },
      "syncReturnType" : "PutBotResult"
    },
    "PutBotAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutBotAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutBotAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutBotAliasRequest, PutBotAliasResult>",
      "asyncReturnType" : "PutBotAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an alias for the specified version of the bot or replaces an alias for the specified bot. To change the version of the bot that the alias points to, replace the alias. For more information about aliases, see <a>versioning-aliases</a>.</p> <p>This operation requires permissions for the <code>lex:PutBotAlias</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p> The checksum of the resource that you are trying to change does not match the checksum in the request. Check the resource's checksum and try again.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutBotAliasRequest",
        "variableName" : "putBotAliasRequest",
        "variableType" : "PutBotAliasRequest",
        "documentation" : "",
        "simpleType" : "PutBotAliasRequest",
        "variableSetterType" : "PutBotAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putBotAlias",
      "operationName" : "PutBotAlias",
      "returnType" : {
        "returnType" : "PutBotAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "PutBotAliasResult"
    },
    "PutIntent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutIntentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutIntentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutIntentRequest, PutIntentResult>",
      "asyncReturnType" : "PutIntentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an intent or replaces an existing intent.</p> <p>To define the interaction between the user and your bot, you use one or more intents. For a pizza ordering bot, for example, you would create an <code>OrderPizza</code> intent. </p> <p>To create an intent or replace an existing intent, you must provide the following:</p> <ul> <li> <p>Intent name. For example, <code>OrderPizza</code>.</p> </li> <li> <p>Sample utterances. For example, \"Can I order a pizza, please.\" and \"I want to order a pizza.\"</p> </li> <li> <p>Information to be gathered. You specify slot types for the information that your bot will request from the user. You can specify standard slot types, such as a date or a time, or custom slot types such as the size and crust of a pizza.</p> </li> <li> <p>How the intent will be fulfilled. You can provide a Lambda function or configure the intent to return the intent information to the client application. If you use a Lambda function, when all of the intent information is available, Amazon Lex invokes your Lambda function. If you configure your intent to return the intent information to the client application. </p> </li> </ul> <p>You can specify other optional information in the request, such as:</p> <ul> <li> <p>A confirmation prompt to ask the user to confirm an intent. For example, \"Shall I order your pizza?\"</p> </li> <li> <p>A conclusion statement to send to the user after the intent has been fulfilled. For example, \"I placed your pizza order.\"</p> </li> <li> <p>A follow-up prompt that asks the user for additional activity. For example, asking \"Do you want to order a drink with your pizza?\"</p> </li> </ul> <p>If you specify an existing intent name to update the intent, Amazon Lex replaces the values in the <code>$LATEST</code> version of the intent with the values in the request. Amazon Lex removes fields that you don't provide in the request. If you don't specify the required fields, Amazon Lex throws an exception. When you update the <code>$LATEST</code> version of an intent, the <code>status</code> field of any bot that uses the <code>$LATEST</code> version of the intent is set to <code>NOT_BUILT</code>.</p> <p>For more information, see <a>how-it-works</a>.</p> <p>This operation requires permissions for the <code>lex:PutIntent</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a limit. Try your request again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal Amazon Lex error occurred. Try your request again.</p>",
        "httpStatusCode" : 500
[...]
