{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2017-04-19",
    "endpointPrefix" : "models.lex",
    "jsonVersion" : "1.1",
    "protocol" : "rest-json",
    "resultWrapped" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Lex Model Building Service",
    "signatureVersion" : "v4",
    "signingName" : "lex",
    "targetPrefix" : null,
    "uid" : "lex-models-2017-04-19",
    "xmlNamespace" : null
  },
  "operations" : {
    "CreateBotVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new version of the bot based on the <code>$LATEST</code> version. If the <code>$LATEST</code> version of this resource hasn't changed since you created the last version, Amazon Lex doesn't create a new version. It returns the last created version.</p> <note> <p>You can update only the <code>$LATEST</code> version of the bot. You can't update the numbered versions that you create with the <code>CreateBotVersion</code> operation.</p> </note> <p> When you create the first version of a bot, Amazon Lex sets the version to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p> <p> This operation requires permission for the <code>lex:CreateBotVersion</code> action. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "PreconditionFailedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/bots/{name}/versions",
        "responseCode" : "201"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateBotVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateBotVersion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateBotVersionResponse"
      }
    },
    "CreateIntentVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new version of an intent based on the <code>$LATEST</code> version of the intent. If the <code>$LATEST</code> version of this intent hasn't changed since you last updated it, Amazon Lex doesn't create a new version. It returns the last version you created.</p> <note> <p>You can update only the <code>$LATEST</code> version of the intent. You can't update the numbered versions that you create with the <code>CreateIntentVersion</code> operation.</p> </note> <p> When you create a version of an intent, Amazon Lex sets the version to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p> <p>This operation requires permissions to perform the <code>lex:CreateIntentVersion</code> action. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "PreconditionFailedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/intents/{name}/versions",
        "responseCode" : "201"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateIntentVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateIntentVersion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateIntentVersionResponse"
      }
    },
    "CreateSlotTypeVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new version of a slot type based on the <code>$LATEST</code> version of the specified slot type. If the <code>$LATEST</code> version of this resource has not changed since the last version that you created, Amazon Lex doesn't create a new version. It returns the last version that you created. </p> <note> <p>You can update only the <code>$LATEST</code> version of a slot type. You can't update the numbered versions that you create with the <code>CreateSlotTypeVersion</code> operation.</p> </note> <p>When you create a version of a slot type, Amazon Lex sets the version to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p> <p>This operation requires permissions for the <code>lex:CreateSlotTypeVersion</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "PreconditionFailedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/slottypes/{name}/versions",
        "responseCode" : "201"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateSlotTypeVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateSlotTypeVersion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateSlotTypeVersionResponse"
      }
    },
    "DeleteBot" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes all versions of the bot, including the <code>$LATEST</code> version. To delete a specific version of the bot, use the operation.</p> <p>If a bot has an alias, you can't delete it. Instead, the <code>DeleteBot</code> operation returns a <code>ResourceInUseException</code> exception that includes a reference to the alias that refers to the bot. To remove the reference to the bot, delete the alias. If you get the same exception again, delete the referring alias until the <code>DeleteBot</code> operation is successful.</p> <p>This operation requires permissions for the <code>lex:DeleteBot</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/bots/{name}",
        "responseCode" : "204"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteBotRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteBot",
      "output" : null
    },
    "DeleteBotAlias" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes an alias for the specified bot. </p> <p>You can't delete an alias that is used in the association between a bot and a messaging channel. If an alias is used in a channel association, the <code>DeleteBot</code> operation returns a <code>ResourceInUseException</code> exception that includes a reference to the channel association that refers to the bot. You can remove the reference to the alias by deleting the channel association. If you get the same exception again, delete the referring association until the <code>DeleteBotAlias</code> operation is successful.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/bots/{botName}/aliases/{name}",
        "responseCode" : "204"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteBotAliasRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteBotAlias",
      "output" : null
    },
    "DeleteBotChannelAssociation" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the association between an Amazon Lex bot and a messaging platform.</p> <p>This operation requires permission for the <code>lex:DeleteBotChannelAssociation</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/bots/{botName}/aliases/{aliasName}/channels/{name}",
        "responseCode" : "204"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteBotChannelAssociationRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteBotChannelAssociation",
      "output" : null
    },
    "DeleteBotVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific version of a bot. To delete all versions of a bot, use the operation. </p> <p>This operation requires permissions for the <code>lex:DeleteBotVersion</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/bots/{name}/versions/{version}",
        "responseCode" : "204"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteBotVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteBotVersion",
      "output" : null
    },
    "DeleteIntent" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes all versions of the intent, including the <code>$LATEST</code> version. To delete a specific version of the intent, use the operation.</p> <p> You can delete a version of an intent only if it is not referenced. To delete an intent that is referred to in one or more bots (see <a>how-it-works</a>), you must remove those references first. </p> <note> <p> If you get the <code>ResourceInUseException</code> exception, it provides an example reference that shows where the intent is referenced. To remove the reference to the intent, either update the bot or delete it. If you get the same exception when you attempt to delete the intent again, repeat until the intent has no references and the call to <code>DeleteIntent</code> is successful. </p> </note> <p> This operation requires permission for the <code>lex:DeleteIntent</code> action. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/intents/{name}",
        "responseCode" : "204"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteIntentRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteIntent",
      "output" : null
    },
    "DeleteIntentVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific version of an intent. To delete all versions of a intent, use the operation. </p> <p>This operation requires permissions for the <code>lex:DeleteIntentVersion</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/intents/{name}/versions/{version}",
        "responseCode" : "204"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteIntentVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteIntentVersion",
      "output" : null
    },
    "DeleteSlotType" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes all versions of the slot type, including the <code>$LATEST</code> version. To delete a specific version of the slot type, use the operation.</p> <p> You can delete a version of a slot type only if it is not referenced. To delete a slot type that is referred to in one or more intents, you must remove those references first. </p> <note> <p> If you get the <code>ResourceInUseException</code> exception, the exception provides an example reference that shows the intent where the slot type is referenced. To remove the reference to the slot type, either update the intent or delete it. If you get the same exception when you attempt to delete the slot type again, repeat until the slot type has no references and the <code>DeleteSlotType</code> call is successful. </p> </note> <p>This operation requires permission for the <code>lex:DeleteSlotType</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/slottypes/{name}",
        "responseCode" : "204"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteSlotTypeRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteSlotType",
      "output" : null
    },
    "DeleteSlotTypeVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific version of a slot type. To delete all versions of a slot type, use the operation. </p> <p>This operation requires permissions for the <code>lex:DeleteSlotTypeVersion</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/slottypes/{name}/version/{version}",
        "responseCode" : "204"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteSlotTypeVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteSlotTypeVersion",
      "output" : null
    },
    "DeleteUtterances" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes stored utterances.</p> <p>Amazon Lex stores the utterances that users send to your bot unless the <code>childDirected</code> field in the bot is set to <code>true</code>. Utterances are stored for 15 days for use with the operation, and then stored indefinately for use in improving the ability of your bot to respond to user input.</p> <p>Use the <code>DeleteStoredUtterances</code> operation to manually delete stored utterances for a specific user.</p> <p>This operation requires permissions for the <code>lex:DeleteUtterances</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/bots/{botName}/utterances/{userId}",
        "responseCode" : "204"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteUtterancesRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteUtterances",
      "output" : null
    },
    "GetBot" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns metadata information for a specific bot. You must provide the bot name and the bot version or alias. </p> <p> The GetBot operation requires permissions for the <code>lex:GetBot</code> action. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/bots/{name}/versions/{versionoralias}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBotRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBot",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBotResponse"
      }
    },
    "GetBotAlias" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns information about an Amazon Lex bot alias. For more information about aliases, see <a>versioning-aliases</a>.</p> <p>This operation requires permissions for the <code>lex:GetBotAlias</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/bots/{botName}/aliases/{name}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBotAliasRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBotAlias",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBotAliasResponse"
      }
    },
    "GetBotAliases" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of aliases for a specified Amazon Lex bot.</p> <p>This operation requires permissions for the <code>lex:GetBotAliases</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/bots/{botName}/aliases/",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBotAliasesRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBotAliases",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBotAliasesResponse"
      }
    },
    "GetBotChannelAssociation" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns information about the association between an Amazon Lex bot and a messaging platform.</p> <p>This operation requires permissions for the <code>lex:GetBotChannelAssociation</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/bots/{botName}/aliases/{aliasName}/channels/{name}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBotChannelAssociationRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBotChannelAssociation",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBotChannelAssociationResponse"
      }
    },
    "GetBotChannelAssociations" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p> Returns a list of all of the channels associated with the specified bot. </p> <p>The <code>GetBotChannelAssociations</code> operation requires permissions for the <code>lex:GetBotChannelAssociations</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/bots/{botName}/aliases/{aliasName}/channels/",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBotChannelAssociationsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBotChannelAssociations",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBotChannelAssociationsResponse"
      }
    },
    "GetBotVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about all of the versions of a bot.</p> <p>The <code>GetBotVersions</code> operation returns a <code>BotMetadata</code> object for each version of a bot. For example, if a bot has three numbered versions, the <code>GetBotVersions</code> operation returns four <code>BotMetadata</code> objects in the response, one for each numbered version and one for the <code>$LATEST</code> version. </p> <p>The <code>GetBotVersions</code> operation always returns at least one version, the <code>$LATEST</code> version.</p> <p>This operation requires permissions for the <code>lex:GetBotVersions</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/bots/{name}/versions/",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBotVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBotVersions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBotVersionsResponse"
      }
    },
    "GetBots" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns bot information as follows: </p> <ul> <li> <p>If you provide the <code>nameContains</code> field, the response includes information for the <code>$LATEST</code> version of all bots whose name contains the specified string.</p> </li> <li> <p>If you don't specify the <code>nameContains</code> field, the operation returns information about the <code>$LATEST</code> version of all of your bots.</p> </li> </ul> <p>This operation requires permission for the <code>lex:GetBots</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/bots/",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBotsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBots",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBotsResponse"
      }
    },
    "GetBuiltinIntent" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns information about a built-in intent.</p> <p>This operation requires permission for the <code>lex:GetBuiltinIntent</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/builtins/intents/{signature}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBuiltinIntentRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBuiltinIntent",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBuiltinIntentResponse"
      }
    },
    "GetBuiltinIntents" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets a list of built-in intents that meet the specified criteria.</p> <p>This operation requires permission for the <code>lex:GetBuiltinIntents</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/builtins/intents/",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBuiltinIntentsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBuiltinIntents",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBuiltinIntentsResponse"
      }
    },
    "GetBuiltinSlotTypes" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets a list of built-in slot types that meet the specified criteria.</p> <p>For a list of built-in slot types, see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/slot-type-reference\">Slot Type Reference</a> in the <i>Alexa Skills Kit</i>.</p> <p>This operation requires permission for the <code>lex:GetBuiltInSlotTypes</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/builtins/slottypes/",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetBuiltinSlotTypesRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBuiltinSlotTypes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBuiltinSlotTypesResponse"
      }
    },
    "GetIntent" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p> Returns information about an intent. In addition to the intent name, you must specify the intent version. </p> <p> This operation requires permissions to perform the <code>lex:GetIntent</code> action. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/intents/{name}/versions/{version}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetIntentRequest",
        "xmlNamespace" : null
      },
      "name" : "GetIntent",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetIntentResponse"
      }
    },
    "GetIntentVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about all of the versions of an intent.</p> <p>The <code>GetIntentVersions</code> operation returns an <code>IntentMetadata</code> object for each version of an intent. For example, if an intent has three numbered versions, the <code>GetIntentVersions</code> operation returns four <code>IntentMetadata</code> objects in the response, one for each numbered version and one for the <code>$LATEST</code> version. </p> <p>The <code>GetIntentVersions</code> operation always returns at least one version, the <code>$LATEST</code> version.</p> <p>This operation requires permissions for the <code>lex:GetIntentVersions</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/intents/{name}/versions/",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetIntentVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetIntentVersions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetIntentVersionsResponse"
      }
    },
    "GetIntents" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns intent information as follows: </p> <ul> <li> <p>If you specify the <code>nameContains</code> field, returns the <code>$LATEST</code> version of all intents that contain the specified string.</p> </li> <li> <p> If you don't specify the <code>nameContains</code> field, returns information about the <code>$LATEST</code> version of all intents. </p> </li> </ul> <p> The operation requires permission for the <code>lex:GetIntents</code> action. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/intents/",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetIntentsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetIntents",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetIntentsResponse"
      }
    },
    "GetSlotType" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific version of a slot type. In addition to specifying the slot type name, you must specify the slot type version.</p> <p>This operation requires permissions for the <code>lex:GetSlotType</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/slottypes/{name}/versions/{version}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetSlotTypeRequest",
        "xmlNamespace" : null
      },
      "name" : "GetSlotType",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetSlotTypeResponse"
      }
    },
    "GetSlotTypeVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about all versions of a slot type.</p> <p>The <code>GetSlotTypeVersions</code> operation returns a <code>SlotTypeMetadata</code> object for each version of a slot type. For example, if a slot type has three numbered versions, the <code>GetSlotTypeVersions</code> operation returns four <code>SlotTypeMetadata</code> objects in the response, one for each numbered version and one for the <code>$LATEST</code> version. </p> <p>The <code>GetSlotTypeVersions</code> operation always returns at least one version, the <code>$LATEST</code> version.</p> <p>This operation requires permissions for the <code>lex:GetSlotTypeVersions</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/slottypes/{name}/versions/",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetSlotTypeVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetSlotTypeVersions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetSlotTypeVersionsResponse"
      }
    },
    "GetSlotTypes" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns slot type information as follows: </p> <ul> <li> <p>If you specify the <code>nameContains</code> field, returns the <code>$LATEST</code> version of all slot types that contain the specified string.</p> </li> <li> <p> If you don't specify the <code>nameContains</code> field, returns information about the <code>$LATEST</code> version of all slot types. </p> </li> </ul> <p> The operation requires permission for the <code>lex:GetSlotTypes</code> action. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/slottypes/",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetSlotTypesRequest",
        "xmlNamespace" : null
      },
      "name" : "GetSlotTypes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetSlotTypesResponse"
      }
    },
    "GetUtterancesView" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Use the <code>GetUtterancesView</code> operation to get information about the utterances that your users have made to your bot. You can use this list to tune the utterances that your bot responds to.</p> <p>For example, say that you have created a bot to order flowers. After your users have used your bot for a while, use the <code>GetUtterancesView</code> operation to see the requests that they have made and whether they have been successful. You might find that the utterance \"I want flowers\" is not being recognized. You could add this utterance to the <code>OrderFlowers</code> intent so that your bot recognizes that utterance.</p> <p>After you publish a new version of a bot, you can get information about the old version and the new so that you can compare the performance across the two versions. </p> <p>Data is available for the last 15 days. You can request information for up to 5 versions in each request. The response contains information about a maximum of 100 utterances for each version.</p> <p>If the bot's <code>childDirected</code> field is set to <code>true</code>, utterances for the bot are not stored and cannot be retrieved with the <code>GetUtterancesView</code> operation. For more information, see .</p> <p>This operation requires permissions for the <code>lex:GetUtterancesView</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/bots/{botname}/utterances?view=aggregation",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetUtterancesViewRequest",
        "xmlNamespace" : null
      },
      "name" : "GetUtterancesView",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetUtterancesViewResponse"
      }
    },
    "PutBot" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Lex conversational bot or replaces an existing bot. When you create or update a bot you only required to specify a name. You can use this to add intents later, or to remove intents from an existing bot. When you create a bot with a name only, the bot is created or updated but Amazon Lex returns the <code/> response <code>FAILED</code>. You can build the bot after you add one or more intents. For more information about Amazon Lex bots, see <a>how-it-works</a>. </p> <p>If you specify the name of an existing bot, the fields in the request replace the existing values in the <code>$LATEST</code> version of the bot. Amazon Lex removes any fields that you don't provide values for in the request, except for the <code>idleTTLInSeconds</code> and <code>privacySettings</code> fields, which are set to their default values. If you don't specify values for required fields, Amazon Lex throws an exception.</p> <p>This operation requires permissions for the <code>lex:PutBot</code> action. For more information, see <a>auth-and-access-control</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "PreconditionFailedException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/bots/{name}/versions/$LATEST",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "PutBotRequest",
        "xmlNamespace" : null
      },
      "name" : "PutBot",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PutBotResponse"
      }
    },
    "PutBotAlias" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates an alias for the specified version of the bot or replaces an alias for the specified bot. To change the version of the bot that the alias points to, replace the alias. For more information about aliases, see <a>versioning-aliases</a>.</p> <p>This operation requires permissions for the <code>lex:PutBotAlias</code> action. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "PreconditionFailedException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/bots/{botName}/aliases/{name}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "PutBotAliasRequest",
        "xmlNamespace" : null
      },
      "name" : "PutBotAlias",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PutBotAliasResponse"
      }
    },
    "PutIntent" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates an intent or replaces an existing intent.</p> <p>To define the interaction between the user and your bot, you use one or more intents. For a pizza ordering bot, for example, you would create an <code>OrderPizza</code> intent. </p> <p>To create an intent or replace an existing intent, you must provide the following:</p> <ul> <li> <p>Intent name. For example, <code>OrderPizza</code>.</p> </li> <li> <p>Sample utterances. For example, \"Can I order a pizza, please.\" and \"I want to order a pizza.\"</p> </li> <li> <p>Information to be gathered. You specify slot types for the information that your bot will request from the user. You can specify standard slot types, such as a date or a time, or custom slot types such as the size and crust of a pizza.</p> </li> <li> <p>How the intent will be fulfilled. You can provide a Lambda function or configure the intent to return the intent information to the client application. If you use a Lambda function, when all of the intent information is available, Amazon Lex invokes your Lambda function. If you configure your intent to return the intent information to the client application. </p> </li> </ul> <p>You can specify other optional information in the request, such as:</p> <ul> <li> <p>A confirmation prompt to ask the user to confirm an intent. For example, \"Shall I order your pizza?\"</p> </li> <li> <p>A conclusion statement to send to the user after the intent has been fulfilled. For example, \"I placed your pizza order.\"</p> </li> <li> <p>A follow-up prompt that asks the user for additional activity. For example, asking \"Do you want to order a drink with your pizza?\"</p> </li> </ul> <p>If you specify an existing intent name to update the intent, Amazon Lex replaces the values in the <code>$LATEST</code> version of the slot type with the values in the request. Amazon Lex removes fields that you don't provide in the request. If you don't specify the required fields, Amazon Lex throws an exception.</p> <p>For more information, see <a>how-it-works</a>.</p> <p>This operation requires permissions for the <code>lex:PutIntent</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "PreconditionFailedException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/intents/{name}/versions/$LATEST",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "PutIntentRequest",
        "xmlNamespace" : null
      },
      "name" : "PutIntent",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PutIntentResponse"
      }
    },
    "PutSlotType" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a custom slot type or replaces an existing custom slot type.</p> <p>To create a custom slot type, specify a name for the slot type and a set of enumeration values, which are the values that a slot of this type can assume. For more information, see <a>how-it-works</a>.</p> <p>If you specify the name of an existing slot type, the fields in the request replace the existing values in the <code>$LATEST</code> version of the slot type. Amazon Lex removes the fields that you don't provide in the request. If you don't specify required fields, Amazon Lex throws an exception.</p> <p>This operation requires permissions for the <code>lex:PutSlotType</code> action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "PreconditionFailedException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/slottypes/{name}/versions/$LATEST",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "PutSlotTypeRequest",
        "xmlNamespace" : null
      },
      "name" : "PutSlotType",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PutSlotTypeResponse"
      }
    }
  },
  "shapes" : {
    "AliasName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 100,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : "^[a-zA-Z]+((_[a-zA-Z]+)*|([a-zA-Z]+_)*|_)",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "AliasNameOrListAll" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 100,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : "^(-|^[a-zA-Z]+((_[a-zA-Z]+)*|([a-zA-Z]+_)*))$",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "BadRequestException" : {
      "deprecated" : false,
      "documentation" : "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 400
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Boolean" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "boolean",
      "value" : null,
      "wrapper" : false
    },
    "BotAliasMetadata" : {
      "deprecated" : false,
      "documentation" : "<p>Provides information about a bot alias.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "botName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the bot to which the alias points.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BotName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "botVersion" : {
          "deprecated" : false,
          "documentation" : "<p>The version of the Amazon Lex bot to which the alias points.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Version",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "checksum" : {
          "deprecated" : false,
          "documentation" : "<p>Checksum of the bot alias.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "createdDate" : {
          "deprecated" : false,
          "documentation" : "<p>The date that the bot alias was created.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "description" : {
          "deprecated" : false,
          "documentation" : "<p>A description of the bot alias.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Description",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "lastUpdatedDate" : {
          "deprecated" : false,
          "documentation" : "<p>The date that the bot alias was updated. When you create a resource, the creation date and last updated date are the same.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the bot alias.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AliasName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BotAliasMetadataList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "BotAliasMetadata",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "BotChannelAssociation" : {
      "deprecated" : false,
      "documentation" : "<p>Represents an association between an Amazon Lex bot and an external messaging platform.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "botAlias" : {
          "deprecated" : false,
          "documentation" : "<p>An alias pointing to the specific version of the Amazon Lex bot to which this association is being made. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AliasName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "botConfiguration" : {
          "deprecated" : false,
          "documentation" : "<p>Provides information necessary to communicate with the messaging platform. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ChannelConfigurationMap",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "botName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the Amazon Lex bot to which this association is being made. </p> <note> <p>Currently, Amazon Lex supports associations with Facebook and Slack, and Twilio.</p> </note>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BotName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "createdDate" : {
          "deprecated" : false,
          "documentation" : "<p>The date that the association between the Amazon Lex bot and the channel was created. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "description" : {
          "deprecated" : false,
          "documentation" : "<p>A text description of the association you are creating. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Description",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the association between the bot and the channel. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BotChannelName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "type" : {
          "deprecated" : false,
          "documentation" : "<p>Specifies the type of association by indicating the type of channel being established between the Amazon Lex bot and the external messaging platform.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ChannelType",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BotChannelAssociationList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "BotChannelAssociation",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "BotChannelName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 100,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : "^[a-zA-Z]+((_[a-zA-Z]+)*|([a-zA-Z]+_)*|_)",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "BotMetadata" : {
      "deprecated" : false,
      "documentation" : "<p>Provides information about a bot. .</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "createdDate" : {
          "deprecated" : false,
          "documentation" : "<p>The date that the bot was created.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "description" : {
          "deprecated" : false,
          "documentation" : "<p>A description of the bot.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Description",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "lastUpdatedDate" : {
          "deprecated" : false,
          "documentation" : "<p>The date that the bot was updated. When you create a bot, the creation date and last updated date are the same. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the bot. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BotName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "status" : {
          "deprecated" : false,
          "documentation" : "<p>The status of the bot.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Status",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "version" : {
          "deprecated" : false,
          "documentation" : "<p>The version of the bot. For a new bot, the version is always <code>$LATEST</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Version",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BotMetadataList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "BotMetadata",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "BotName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 50,
      "member" : null,
      "members" : { },
      "min" : 2,
      "pattern" : "^[a-zA-Z]+((_[a-zA-Z]+)*|([a-zA-Z]+_)*|_)",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "BotVersions" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 5,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "Version",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "BuiltinIntentMetadata" : {
      "deprecated" : false,
      "documentation" : "<p>Provides metadata for a built-in intent.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "signature" : {
          "deprecated" : false,
          "documentation" : "<p>A unique identifier for the built-in intent. To find the signature for an intent, see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/standard-intents\">Standard Built-in Intents</a> in the <i>Alexa Skills Kit</i>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BuiltinIntentSignature",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "supportedLocales" : {
          "deprecated" : false,
          "documentation" : "<p>A list of identifiers for the locales that the intent supports.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LocaleList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BuiltinIntentMetadataList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "BuiltinIntentMetadata",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "BuiltinIntentSignature" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "BuiltinIntentSlot" : {
      "deprecated" : false,
      "documentation" : "<p>Provides information about a slot used in a built-in intent.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>A list of the slots defined for the intent.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BuiltinIntentSlotList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "BuiltinIntentSlot",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "BuiltinSlotTypeMetadata" : {
      "deprecated" : false,
      "documentation" : "<p>Provides information about a built in slot type.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "signature" : {
          "deprecated" : false,
          "documentation" : "<p>A unique identifier for the built-in slot type. To find the signature for a slot type, see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/slot-type-reference\">Slot Type Reference</a> in the <i>Alexa Skills Kit</i>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BuiltinSlotTypeSignature",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "supportedLocales" : {
          "deprecated" : false,
          "documentation" : "<p>A list of target locales for the slot. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LocaleList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BuiltinSlotTypeMetadataList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "BuiltinSlotTypeMetadata",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "BuiltinSlotTypeSignature" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ChannelConfigurationMap" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "String",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "max" : 10,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "map",
      "value" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "String",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "wrapper" : false
    },
    "ChannelType" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "Facebook", "Slack", "Twilio-Sms" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "CodeHook" : {
      "deprecated" : false,
      "documentation" : "<p>Specifies a Lambda function that verifies requests to a bot or fulfills the user's request to a bot..</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "messageVersion" : {
          "deprecated" : false,
          "documentation" : "<p>The version of the request-response that you want Amazon Lex to use to invoke your Lambda function. For more information, see <a>using-lambda</a>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "MessageVersion",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "uri" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Lambda function.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LambdaARN",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "uri", "messageVersion" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ConflictException" : {
      "deprecated" : false,
      "documentation" : "<p> There was a conflict processing the request. Try your request again. </p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 409
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ContentString" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 1000,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ContentType" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "PlainText", "SSML" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "Count" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "CreateBotVersionRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "checksum" : {
          "deprecated" : false,
          "documentation" : "<p>Identifies a specific revision of the <code>$LATEST</code> version of the bot. If you specify a checksum and the <code>$LATEST</code> version of the bot has a different checksum, a <code>PreconditionFailedException</code> exception is returned and Amazon Lex doesn't publish a new version. If you don't specify a checksum, Amazon Lex publishes the <code>$LATEST</code> version.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the bot that you want to create a new version of. The name is case sensitive. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "name",
          "payload" : false,
          "queryName" : null,
          "shape" : "BotName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "name" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateBotVersionResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "abortStatement" : {
          "deprecated" : false,
          "documentation" : "<p>The message that Amazon Lex uses to abort a conversation. For more information, see .</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Statement",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "checksum" : {
          "deprecated" : false,
          "documentation" : "<p>Checksum identifying the version of the bot that was created.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "childDirected" : {
          "deprecated" : false,
[...]
