{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : "cloudwatch",
      "fileNamePrefix" : "CloudWatch",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeAlarmHistory" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeAlarms" : {
        "methodForms" : [ [ ] ]
      },
      "ListMetrics" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2010-08-01",
    "asyncClient" : "AmazonCloudWatchAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudWatchAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudWatchAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCloudWatchModuleInjector",
    "defaultEndpoint" : "https://monitoring.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "monitoring.us-east-1.amazonaws.com",
    "documentation" : "<p>Amazon CloudWatch monitors your Amazon Web Services (AWS) resources and the applications you run on AWS in real-time. You can use CloudWatch to collect and track metrics, which are the variables you want to measure for your resources and applications.</p> <p>CloudWatch alarms send notifications or automatically make changes to the resources you are monitoring based on rules that you define. For example, you can monitor the CPU usage and disk reads and writes of your Amazon Elastic Compute Cloud (Amazon EC2) instances and then use this data to determine whether you should launch additional instances to handle increased load. You can also use this data to stop under-used instances to save money.</p> <p>In addition to monitoring the built-in metrics that come with AWS, you can monitor your own custom metrics. With CloudWatch, you gain system-wide visibility into resource utilization, application performance, and operational health.</p>",
    "endpointPrefix" : "monitoring",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.cloudwatch",
    "packagePath" : "com/amazonaws/services/cloudwatch",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "serviceAbbreviation" : "CloudWatch",
    "serviceFullName" : "Amazon CloudWatch",
    "serviceName" : "CloudWatch",
    "signingName" : "monitoring",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudwatch.smoketests",
    "syncClient" : "AmazonCloudWatchClient",
    "syncClientBuilderClassName" : "AmazonCloudWatchClientBuilder",
    "syncInterface" : "AmazonCloudWatch",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "DeleteAlarms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAlarmsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAlarmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAlarmsRequest, DeleteAlarmsResult>",
      "asyncReturnType" : "DeleteAlarmsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes all specified alarms. In the event of an error, no alarms are deleted.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The named resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteAlarmsRequest",
        "variableName" : "deleteAlarmsRequest",
        "variableType" : "DeleteAlarmsRequest",
        "documentation" : "<p>Describes the inputs for DeleteAlarms.</p>",
        "simpleType" : "DeleteAlarmsRequest",
        "variableSetterType" : "DeleteAlarmsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlarms",
      "operationName" : "DeleteAlarms",
      "returnType" : {
        "returnType" : "DeleteAlarmsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAlarmsResult"
    },
    "DescribeAlarmHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmHistoryRequest, DescribeAlarmHistoryResult>",
      "asyncReturnType" : "DescribeAlarmHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves history for the specified alarm. Filter alarms by date range or item type. If an alarm name is not specified, Amazon CloudWatch returns histories for all of the owner's alarms.</p> <note> <p>Amazon CloudWatch retains the history of an alarm for two weeks, whether or not you delete the alarm.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token specified is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAlarmHistoryRequest",
        "variableName" : "describeAlarmHistoryRequest",
        "variableType" : "DescribeAlarmHistoryRequest",
        "documentation" : "<p>Describes the inputs for DescribeAlarmHistory.</p>",
        "simpleType" : "DescribeAlarmHistoryRequest",
        "variableSetterType" : "DescribeAlarmHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlarmHistory",
      "operationName" : "DescribeAlarmHistory",
      "returnType" : {
        "returnType" : "DescribeAlarmHistoryResult",
        "documentation" : "<p> The output for <a>DescribeAlarmHistory</a>. </p>"
      },
      "syncReturnType" : "DescribeAlarmHistoryResult"
    },
    "DescribeAlarms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmsRequest, DescribeAlarmsResult>",
      "asyncReturnType" : "DescribeAlarmsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves alarms with the specified names. If no name is specified, all alarms for the user are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token specified is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAlarmsRequest",
        "variableName" : "describeAlarmsRequest",
        "variableType" : "DescribeAlarmsRequest",
        "documentation" : "<p>Describes the inputs for DescribeAlarms.</p>",
        "simpleType" : "DescribeAlarmsRequest",
        "variableSetterType" : "DescribeAlarmsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlarms",
      "operationName" : "DescribeAlarms",
      "returnType" : {
        "returnType" : "DescribeAlarmsResult",
        "documentation" : "<p>The output for <a>DescribeAlarms</a>.</p>"
      },
      "syncReturnType" : "DescribeAlarmsResult"
    },
    "DescribeAlarmsForMetric" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmsForMetricResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmsForMetricResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmsForMetricRequest, DescribeAlarmsForMetricResult>",
      "asyncReturnType" : "DescribeAlarmsForMetricResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all alarms for a single metric. Specify a statistic, period, or unit to filter the set of alarms further.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAlarmsForMetricRequest",
        "variableName" : "describeAlarmsForMetricRequest",
        "variableType" : "DescribeAlarmsForMetricRequest",
        "documentation" : "<p>Describes the inputs for DescribeAlarmsForMetric.</p>",
        "simpleType" : "DescribeAlarmsForMetricRequest",
        "variableSetterType" : "DescribeAlarmsForMetricRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlarmsForMetric",
      "operationName" : "DescribeAlarmsForMetric",
      "returnType" : {
        "returnType" : "DescribeAlarmsForMetricResult",
        "documentation" : "<p> The output for <a>DescribeAlarmsForMetric</a>. </p>"
      },
      "syncReturnType" : "DescribeAlarmsForMetricResult"
    },
    "DisableAlarmActions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableAlarmActionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableAlarmActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableAlarmActionsRequest, DisableAlarmActionsResult>",
      "asyncReturnType" : "DisableAlarmActionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables actions for the specified alarms. When an alarm's actions are disabled the alarm's state may change, but none of the alarm's actions will execute.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableAlarmActionsRequest",
        "variableName" : "disableAlarmActionsRequest",
        "variableType" : "DisableAlarmActionsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DisableAlarmActionsRequest",
        "variableSetterType" : "DisableAlarmActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableAlarmActions",
      "operationName" : "DisableAlarmActions",
      "returnType" : {
        "returnType" : "DisableAlarmActionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableAlarmActionsResult"
    },
    "EnableAlarmActions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableAlarmActionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableAlarmActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableAlarmActionsRequest, EnableAlarmActionsResult>",
      "asyncReturnType" : "EnableAlarmActionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables actions for the specified alarms.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableAlarmActionsRequest",
        "variableName" : "enableAlarmActionsRequest",
        "variableType" : "EnableAlarmActionsRequest",
        "documentation" : "<p>Describes the inputs for EnableAlarmActions.</p>",
        "simpleType" : "EnableAlarmActionsRequest",
        "variableSetterType" : "EnableAlarmActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableAlarmActions",
      "operationName" : "EnableAlarmActions",
      "returnType" : {
        "returnType" : "EnableAlarmActionsResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableAlarmActionsResult"
    },
    "GetMetricStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMetricStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMetricStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMetricStatisticsRequest, GetMetricStatisticsResult>",
      "asyncReturnType" : "GetMetricStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets statistics for the specified metric.</p> <p> The maximum number of data points that can be queried is 50,850, whereas the maximum number of data points returned from a single <code>GetMetricStatistics</code> request is 1,440. If you make a request that generates more than 1,440 data points, Amazon CloudWatch returns an error. In such a case, you can alter the request by narrowing the specified time range or increasing the specified period. A period can be as short as one minute (60 seconds) or as long as one day (86,400 seconds). Alternatively, you can make multiple requests across adjacent time ranges. <code>GetMetricStatistics</code> does not return the data in chronological order. </p> <p> Amazon CloudWatch aggregates data points based on the length of the <code>period</code> that you specify. For example, if you request statistics with a one-minute granularity, Amazon CloudWatch aggregates data points with time stamps that fall within the same one-minute period. In such a case, the data points queried can greatly outnumber the data points returned. </p> <p> The following examples show various statistics allowed by the data point query maximum of 50,850 when you call <code>GetMetricStatistics</code> on Amazon EC2 instances with detailed (one-minute) monitoring enabled: </p> <ul> <li> <p>Statistics for up to 400 instances for a span of one hour</p> </li> <li> <p>Statistics for up to 35 instances over a span of 24 hours</p> </li> <li> <p>Statistics for up to 2 instances over a span of 2 weeks</p> </li> </ul> <p> For information about the namespace, metric names, and dimensions that other Amazon Web Services products use to send metrics to CloudWatch, go to <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/CW_Support_For_AWS.html\">Amazon CloudWatch Metrics, Namespaces, and Dimensions Reference</a> in the <i>Amazon CloudWatch Developer Guide</i>. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Bad or out-of-range value was supplied for the input parameter.</p>"
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>An input parameter that is mandatory for processing the request is not supplied.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Parameters that must not be used together were used together.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates that the request processing has failed due to some unknown error, exception, or failure.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetMetricStatisticsRequest",
        "variableName" : "getMetricStatisticsRequest",
        "variableType" : "GetMetricStatisticsRequest",
        "documentation" : "<p>Describes the inputs for GetMetricStatistics.</p>",
        "simpleType" : "GetMetricStatisticsRequest",
        "variableSetterType" : "GetMetricStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMetricStatistics",
      "operationName" : "GetMetricStatistics",
      "returnType" : {
        "returnType" : "GetMetricStatisticsResult",
        "documentation" : "<p> The output for <a>GetMetricStatistics</a>. </p>"
      },
      "syncReturnType" : "GetMetricStatisticsResult"
    },
    "ListMetrics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMetricsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMetricsRequest, ListMetricsResult>",
      "asyncReturnType" : "ListMetricsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of valid metrics stored for the AWS account owner. Returned metrics can be used with <a>GetMetricStatistics</a> to obtain statistical data for a given metric. </p> <note> <p> Up to 500 results are returned for any one call. To retrieve further results, use returned <code>NextToken</code> values with subsequent <code>ListMetrics</code> operations.</p> </note> <note> <p> If you create a metric with <a>PutMetricData</a>, allow up to fifteen minutes for the metric to appear in calls to <code>ListMetrics</code>. Statistics about the metric, however, are available sooner using <a>GetMetricStatistics</a>.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates that the request processing has failed due to some unknown error, exception, or failure.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Bad or out-of-range value was supplied for the input parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListMetricsRequest",
        "variableName" : "listMetricsRequest",
        "variableType" : "ListMetricsRequest",
        "documentation" : "<p>Describes the inputs for ListMetrics.</p>",
        "simpleType" : "ListMetricsRequest",
        "variableSetterType" : "ListMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMetrics",
      "operationName" : "ListMetrics",
      "returnType" : {
        "returnType" : "ListMetricsResult",
        "documentation" : "<p> The output for <a>ListMetrics</a>. </p>"
      },
      "syncReturnType" : "ListMetricsResult"
    },
    "PutMetricAlarm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutMetricAlarmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutMetricAlarmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricAlarmRequest, PutMetricAlarmResult>",
      "asyncReturnType" : "PutMetricAlarmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates an alarm and associates it with the specified Amazon CloudWatch metric. Optionally, this operation can associate one or more Amazon SNS resources with the alarm.</p> <p> When this operation creates an alarm, the alarm state is immediately set to <code>INSUFFICIENT_DATA</code>. The alarm is evaluated and its <code>StateValue</code> is set appropriately. Any actions associated with the <code>StateValue</code> are then executed. </p> <note> <p>When updating an existing alarm, its <code>StateValue</code> is left unchanged, but it completely overwrites the alarm's previous configuration.</p> </note> <note> <p>If you are using an AWS Identity and Access Management (IAM) account to create or modify an alarm, you must have the following Amazon EC2 permissions:</p> <ul> <li> <p> <code>ec2:DescribeInstanceStatus</code> and <code>ec2:DescribeInstances</code> for all alarms on Amazon EC2 instance status metrics.</p> </li> <li> <p> <code>ec2:StopInstances</code> for alarms with stop actions.</p> </li> <li> <p> <code>ec2:TerminateInstances</code> for alarms with terminate actions.</p> </li> <li> <p> <code>ec2:DescribeInstanceRecoveryAttribute</code>, and <code>ec2:RecoverInstances</code> for alarms with recover actions.</p> </li> </ul> <p>If you have read/write permissions for Amazon CloudWatch but not for Amazon EC2, you can still create an alarm but the stop or terminate actions won't be performed on the Amazon EC2 instance. However, if you are later granted permission to use the associated Amazon EC2 APIs, the alarm actions you created earlier will be performed. For more information about IAM permissions, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/PermissionsAndPolicies.html\">Permissions and Policies</a> in <i>Using IAM</i>.</p> <p>If you are using an IAM role (e.g., an Amazon EC2 instance profile), you cannot stop or terminate the instance using alarm actions. However, you can still see the alarm state and perform any other actions such as Amazon SNS notifications or Auto Scaling policies.</p> <p>If you are using temporary security credentials granted using the AWS Security Token Service (AWS STS), you cannot stop or terminate an Amazon EC2 instance using alarm actions.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The quota for alarms for this customer has already been reached.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutMetricAlarmRequest",
        "variableName" : "putMetricAlarmRequest",
        "variableType" : "PutMetricAlarmRequest",
        "documentation" : "<p>Describes the inputs for PutMetricAlarm.</p>",
        "simpleType" : "PutMetricAlarmRequest",
        "variableSetterType" : "PutMetricAlarmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putMetricAlarm",
      "operationName" : "PutMetricAlarm",
      "returnType" : {
        "returnType" : "PutMetricAlarmResult",
        "documentation" : null
      },
      "syncReturnType" : "PutMetricAlarmResult"
    },
    "PutMetricData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutMetricDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutMetricDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricDataRequest, PutMetricDataResult>",
      "asyncReturnType" : "PutMetricDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Publishes metric data points to Amazon CloudWatch. Amazon CloudWatch associates the data points with the specified metric. If the specified metric does not exist, Amazon CloudWatch creates the metric. When Amazon CloudWatch creates a metric, it can take up to fifteen minutes for the metric to appear in calls to <a>ListMetrics</a>. </p> <p> Each <code>PutMetricData</code> request is limited to 8 KB in size for HTTP GET requests and is limited to 40 KB in size for HTTP POST requests. </p> <important> <p>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch rejects values that are either too small or too large. Values must be in the range of 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2). In addition, special values (e.g., NaN, +Infinity, -Infinity) are not supported.</p> </important> <p>Data that is timestamped 24 hours or more in the past may take in excess of 48 hours to become available from submission time using <code>GetMetricStatistics</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Bad or out-of-range value was supplied for the input parameter.</p>"
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>An input parameter that is mandatory for processing the request is not supplied.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Parameters that must not be used together were used together.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates that the request processing has failed due to some unknown error, exception, or failure.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutMetricDataRequest",
        "variableName" : "putMetricDataRequest",
        "variableType" : "PutMetricDataRequest",
        "documentation" : "<p>Describes the inputs for PutMetricData.</p>",
        "simpleType" : "PutMetricDataRequest",
        "variableSetterType" : "PutMetricDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putMetricData",
      "operationName" : "PutMetricData",
      "returnType" : {
        "returnType" : "PutMetricDataResult",
        "documentation" : null
      },
      "syncReturnType" : "PutMetricDataResult"
    },
    "SetAlarmState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetAlarmStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetAlarmStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetAlarmStateRequest, SetAlarmStateResult>",
      "asyncReturnType" : "SetAlarmStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Temporarily sets the state of an alarm for testing purposes. When the updated <code>StateValue</code> differs from the previous value, the action configured for the appropriate state is invoked. For example, if your alarm is configured to send an Amazon SNS message when an alarm is triggered, temporarily changing the alarm's state to <b>ALARM</b> sends an Amazon SNS message. The alarm returns to its actual state (often within seconds). Because the alarm state change happens very quickly, it is typically only visible in the alarm's <b>History</b> tab in the Amazon CloudWatch console or through <code>DescribeAlarmHistory</code>. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The named resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidFormatException",
        "documentation" : "<p>Data was not syntactically valid JSON.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetAlarmStateRequest",
        "variableName" : "setAlarmStateRequest",
        "variableType" : "SetAlarmStateRequest",
        "documentation" : "<p>Describes the inputs for SetAlarmState.</p>",
        "simpleType" : "SetAlarmStateRequest",
        "variableSetterType" : "SetAlarmStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setAlarmState",
      "operationName" : "SetAlarmState",
      "returnType" : {
        "returnType" : "SetAlarmStateResult",
        "documentation" : null
      },
      "syncReturnType" : "SetAlarmStateResult"
    }
  },
  "shapes" : {
    "AlarmHistoryItem" : {
      "c2jName" : "AlarmHistoryItem",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The <code>AlarmHistoryItem</code> data type contains descriptive information about the history of a specific alarm. If you call <a>DescribeAlarmHistory</a>, Amazon CloudWatch returns this data type as part of the DescribeAlarmHistoryResult data type. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AlarmName",
        "c2jShape" : "AlarmName",
        "deprecated" : false,
        "documentation" : "<p>The descriptive name for the alarm.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@return The descriptive name for the alarm.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AlarmName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AlarmName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AlarmName",
        "setterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmName",
          "variableType" : "String",
          "documentation" : "<p>The descriptive name for the alarm.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Timestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time stamp for the alarm history item.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@return The time stamp for the alarm history item.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Timestamp",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Timestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Timestamp",
        "setterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time stamp for the alarm history item.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HistoryItemType",
        "c2jShape" : "HistoryItemType",
        "deprecated" : false,
        "documentation" : "<p>The type of alarm history item.</p>",
        "enumType" : "HistoryItemType",
        "fluentSetterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.\n@see HistoryItemType*/",
        "getterDocumentation" : "/**<p>The type of alarm history item.</p>\n@return The type of alarm history item.\n@see HistoryItemType*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "HistoryItemType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HistoryItemType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "HistoryItemType",
        "setterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@see HistoryItemType*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "historyItemType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.\n@see HistoryItemType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "historyItemType",
          "variableType" : "String",
          "documentation" : "<p>The type of alarm history item.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HistorySummary",
        "c2jShape" : "HistorySummary",
        "deprecated" : false,
        "documentation" : "<p>A human-readable summary of the alarm history.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A human-readable summary of the alarm history.</p>\n@param historySummary A human-readable summary of the alarm history.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A human-readable summary of the alarm history.</p>\n@return A human-readable summary of the alarm history.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "HistorySummary",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HistorySummary",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "HistorySummary",
        "setterDocumentation" : "/**<p>A human-readable summary of the alarm history.</p>\n@param historySummary A human-readable summary of the alarm history.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "historySummary",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>A human-readable summary of the alarm history.</p>\n@param historySummary A human-readable summary of the alarm history.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "historySummary",
          "variableType" : "String",
          "documentation" : "<p>A human-readable summary of the alarm history.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HistoryData",
        "c2jShape" : "HistoryData",
        "deprecated" : false,
        "documentation" : "<p>Machine-readable data about the alarm in JSON format.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Machine-readable data about the alarm in JSON format.</p>\n@param historyData Machine-readable data about the alarm in JSON format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Machine-readable data about the alarm in JSON format.</p>\n@return Machine-readable data about the alarm in JSON format.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "HistoryData",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HistoryData",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "HistoryData",
        "setterDocumentation" : "/**<p>Machine-readable data about the alarm in JSON format.</p>\n@param historyData Machine-readable data about the alarm in JSON format.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "historyData",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Machine-readable data about the alarm in JSON format.</p>\n@param historyData Machine-readable data about the alarm in JSON format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "historyData",
          "variableType" : "String",
          "documentation" : "<p>Machine-readable data about the alarm in JSON format.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AlarmName" : {
          "c2jName" : "AlarmName",
          "c2jShape" : "AlarmName",
          "deprecated" : false,
          "documentation" : "<p>The descriptive name for the alarm.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@return The descriptive name for the alarm.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AlarmName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AlarmName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AlarmName",
          "setterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmName",
            "variableType" : "String",
            "documentation" : "<p>The descriptive name for the alarm.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HistoryData" : {
          "c2jName" : "HistoryData",
          "c2jShape" : "HistoryData",
          "deprecated" : false,
          "documentation" : "<p>Machine-readable data about the alarm in JSON format.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Machine-readable data about the alarm in JSON format.</p>\n@param historyData Machine-readable data about the alarm in JSON format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Machine-readable data about the alarm in JSON format.</p>\n@return Machine-readable data about the alarm in JSON format.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "HistoryData",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HistoryData",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "HistoryData",
          "setterDocumentation" : "/**<p>Machine-readable data about the alarm in JSON format.</p>\n@param historyData Machine-readable data about the alarm in JSON format.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "historyData",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Machine-readable data about the alarm in JSON format.</p>\n@param historyData Machine-readable data about the alarm in JSON format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "historyData",
            "variableType" : "String",
            "documentation" : "<p>Machine-readable data about the alarm in JSON format.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HistoryItemType" : {
          "c2jName" : "HistoryItemType",
          "c2jShape" : "HistoryItemType",
          "deprecated" : false,
          "documentation" : "<p>The type of alarm history item.</p>",
          "enumType" : "HistoryItemType",
          "fluentSetterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.\n@see HistoryItemType*/",
          "getterDocumentation" : "/**<p>The type of alarm history item.</p>\n@return The type of alarm history item.\n@see HistoryItemType*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "HistoryItemType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HistoryItemType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "HistoryItemType",
          "setterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@see HistoryItemType*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "historyItemType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.\n@see HistoryItemType*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "historyItemType",
            "variableType" : "String",
            "documentation" : "<p>The type of alarm history item.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HistorySummary" : {
          "c2jName" : "HistorySummary",
          "c2jShape" : "HistorySummary",
          "deprecated" : false,
          "documentation" : "<p>A human-readable summary of the alarm history.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A human-readable summary of the alarm history.</p>\n@param historySummary A human-readable summary of the alarm history.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>A human-readable summary of the alarm history.</p>\n@return A human-readable summary of the alarm history.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "HistorySummary",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HistorySummary",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "HistorySummary",
          "setterDocumentation" : "/**<p>A human-readable summary of the alarm history.</p>\n@param historySummary A human-readable summary of the alarm history.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "historySummary",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>A human-readable summary of the alarm history.</p>\n@param historySummary A human-readable summary of the alarm history.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "historySummary",
            "variableType" : "String",
            "documentation" : "<p>A human-readable summary of the alarm history.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Timestamp" : {
          "c2jName" : "Timestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The time stamp for the alarm history item.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@return The time stamp for the alarm history item.*/",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Timestamp",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Timestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Timestamp",
          "setterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "timestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "timestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time stamp for the alarm history item.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AlarmHistoryItem",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AlarmHistoryItem",
        "variableName" : "alarmHistoryItem",
        "variableType" : "AlarmHistoryItem",
        "documentation" : null,
        "simpleType" : "AlarmHistoryItem",
        "variableSetterType" : "AlarmHistoryItem"
      },
      "wrapper" : false
    },
    "ComparisonOperator" : {
      "c2jName" : "ComparisonOperator",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "GreaterThanOrEqualToThreshold",
        "value" : "GreaterThanOrEqualToThreshold"
      }, {
        "name" : "GreaterThanThreshold",
        "value" : "GreaterThanThreshold"
      }, {
        "name" : "LessThanThreshold",
        "value" : "LessThanThreshold"
      }, {
        "name" : "LessThanOrEqualToThreshold",
        "value" : "LessThanOrEqualToThreshold"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ComparisonOperator",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ComparisonOperator",
        "variableName" : "comparisonOperator",
        "variableType" : "ComparisonOperator",
        "documentation" : null,
        "simpleType" : "ComparisonOperator",
        "variableSetterType" : "ComparisonOperator"
      },
      "wrapper" : false
    },
    "Datapoint" : {
      "c2jName" : "Datapoint",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The <code>Datapoint</code> data type encapsulates the statistical data that Amazon CloudWatch computes from metric data. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Timestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time stamp used for the datapoint.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time stamp used for the datapoint.</p>\n@param timestamp The time stamp used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The time stamp used for the datapoint.</p>\n@return The time stamp used for the datapoint.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Timestamp",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Timestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Timestamp",
        "setterDocumentation" : "/**<p>The time stamp used for the datapoint.</p>\n@param timestamp The time stamp used for the datapoint.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The time stamp used for the datapoint.</p>\n@param timestamp The time stamp used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time stamp used for the datapoint.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SampleCount",
        "c2jShape" : "DatapointValue",
        "deprecated" : false,
        "documentation" : "<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>\n@return The number of metric values that contributed to the aggregate value of this datapoint.*/",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SampleCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SampleCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SampleCount",
        "setterDocumentation" : "/**<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.*/",
        "setterModel" : {
          "variableDeclarationType" : "Double",
          "variableName" : "sampleCount",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Double",
          "variableName" : "sampleCount",
          "variableType" : "Double",
          "documentation" : "<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Average",
        "c2jShape" : "DatapointValue",
        "deprecated" : false,
        "documentation" : "<p>The average of metric values that correspond to the datapoint.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The average of metric values that correspond to the datapoint.</p>\n@param average The average of metric values that correspond to the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The average of metric values that correspond to the datapoint.</p>\n@return The average of metric values that correspond to the datapoint.*/",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Average",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Average",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Average",
        "setterDocumentation" : "/**<p>The average of metric values that correspond to the datapoint.</p>\n@param average The average of metric values that correspond to the datapoint.*/",
        "setterModel" : {
          "variableDeclarationType" : "Double",
          "variableName" : "average",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The average of metric values that correspond to the datapoint.</p>\n@param average The average of metric values that correspond to the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Double",
          "variableName" : "average",
          "variableType" : "Double",
          "documentation" : "<p>The average of metric values that correspond to the datapoint.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Sum",
        "c2jShape" : "DatapointValue",
        "deprecated" : false,
        "documentation" : "<p>The sum of metric values used for the datapoint.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The sum of metric values used for the datapoint.</p>\n@param sum The sum of metric values used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The sum of metric values used for the datapoint.</p>\n@return The sum of metric values used for the datapoint.*/",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Sum",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Sum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Sum",
        "setterDocumentation" : "/**<p>The sum of metric values used for the datapoint.</p>\n@param sum The sum of metric values used for the datapoint.*/",
        "setterModel" : {
          "variableDeclarationType" : "Double",
          "variableName" : "sum",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The sum of metric values used for the datapoint.</p>\n@param sum The sum of metric values used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Double",
          "variableName" : "sum",
          "variableType" : "Double",
          "documentation" : "<p>The sum of metric values used for the datapoint.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Minimum",
        "c2jShape" : "DatapointValue",
        "deprecated" : false,
        "documentation" : "<p>The minimum metric value used for the datapoint.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The minimum metric value used for the datapoint.</p>\n@param minimum The minimum metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The minimum metric value used for the datapoint.</p>\n@return The minimum metric value used for the datapoint.*/",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Minimum",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Minimum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Minimum",
        "setterDocumentation" : "/**<p>The minimum metric value used for the datapoint.</p>\n@param minimum The minimum metric value used for the datapoint.*/",
        "setterModel" : {
          "variableDeclarationType" : "Double",
          "variableName" : "minimum",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The minimum metric value used for the datapoint.</p>\n@param minimum The minimum metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Double",
          "variableName" : "minimum",
          "variableType" : "Double",
          "documentation" : "<p>The minimum metric value used for the datapoint.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Maximum",
        "c2jShape" : "DatapointValue",
        "deprecated" : false,
        "documentation" : "<p>The maximum of the metric value used for the datapoint.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximum of the metric value used for the datapoint.</p>\n@param maximum The maximum of the metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The maximum of the metric value used for the datapoint.</p>\n@return The maximum of the metric value used for the datapoint.*/",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Maximum",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Maximum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Maximum",
        "setterDocumentation" : "/**<p>The maximum of the metric value used for the datapoint.</p>\n@param maximum The maximum of the metric value used for the datapoint.*/",
        "setterModel" : {
          "variableDeclarationType" : "Double",
          "variableName" : "maximum",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The maximum of the metric value used for the datapoint.</p>\n@param maximum The maximum of the metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Double",
          "variableName" : "maximum",
          "variableType" : "Double",
          "documentation" : "<p>The maximum of the metric value used for the datapoint.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Unit",
        "c2jShape" : "StandardUnit",
        "deprecated" : false,
        "documentation" : "<p>The standard unit used for the datapoint.</p>",
        "enumType" : "StandardUnit",
        "fluentSetterDocumentation" : "/**<p>The standard unit used for the datapoint.</p>\n@param unit The standard unit used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StandardUnit*/",
        "getterDocumentation" : "/**<p>The standard unit used for the datapoint.</p>\n@return The standard unit used for the datapoint.\n@see StandardUnit*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Unit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Unit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Unit",
        "setterDocumentation" : "/**<p>The standard unit used for the datapoint.</p>\n@param unit The standard unit used for the datapoint.\n@see StandardUnit*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "unit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The standard unit used for the datapoint.</p>\n@param unit The standard unit used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StandardUnit*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "unit",
          "variableType" : "String",
          "documentation" : "<p>The standard unit used for the datapoint.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Average" : {
          "c2jName" : "Average",
          "c2jShape" : "DatapointValue",
          "deprecated" : false,
          "documentation" : "<p>The average of metric values that correspond to the datapoint.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The average of metric values that correspond to the datapoint.</p>\n@param average The average of metric values that correspond to the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The average of metric values that correspond to the datapoint.</p>\n@return The average of metric values that correspond to the datapoint.*/",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Average",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Average",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Average",
          "setterDocumentation" : "/**<p>The average of metric values that correspond to the datapoint.</p>\n@param average The average of metric values that correspond to the datapoint.*/",
          "setterModel" : {
            "variableDeclarationType" : "Double",
            "variableName" : "average",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The average of metric values that correspond to the datapoint.</p>\n@param average The average of metric values that correspond to the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Double",
            "variableName" : "average",
            "variableType" : "Double",
            "documentation" : "<p>The average of metric values that correspond to the datapoint.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "Maximum" : {
          "c2jName" : "Maximum",
          "c2jShape" : "DatapointValue",
          "deprecated" : false,
          "documentation" : "<p>The maximum of the metric value used for the datapoint.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The maximum of the metric value used for the datapoint.</p>\n@param maximum The maximum of the metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The maximum of the metric value used for the datapoint.</p>\n@return The maximum of the metric value used for the datapoint.*/",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Maximum",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Maximum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Maximum",
          "setterDocumentation" : "/**<p>The maximum of the metric value used for the datapoint.</p>\n@param maximum The maximum of the metric value used for the datapoint.*/",
          "setterModel" : {
            "variableDeclarationType" : "Double",
            "variableName" : "maximum",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The maximum of the metric value used for the datapoint.</p>\n@param maximum The maximum of the metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Double",
            "variableName" : "maximum",
            "variableType" : "Double",
            "documentation" : "<p>The maximum of the metric value used for the datapoint.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "Minimum" : {
          "c2jName" : "Minimum",
          "c2jShape" : "DatapointValue",
          "deprecated" : false,
          "documentation" : "<p>The minimum metric value used for the datapoint.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The minimum metric value used for the datapoint.</p>\n@param minimum The minimum metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The minimum metric value used for the datapoint.</p>\n@return The minimum metric value used for the datapoint.*/",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Minimum",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Minimum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Minimum",
          "setterDocumentation" : "/**<p>The minimum metric value used for the datapoint.</p>\n@param minimum The minimum metric value used for the datapoint.*/",
          "setterModel" : {
            "variableDeclarationType" : "Double",
            "variableName" : "minimum",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The minimum metric value used for the datapoint.</p>\n@param minimum The minimum metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Double",
            "variableName" : "minimum",
            "variableType" : "Double",
            "documentation" : "<p>The minimum metric value used for the datapoint.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "SampleCount" : {
          "c2jName" : "SampleCount",
          "c2jShape" : "DatapointValue",
          "deprecated" : false,
          "documentation" : "<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>\n@return The number of metric values that contributed to the aggregate value of this datapoint.*/",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "SampleCount",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SampleCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "SampleCount",
          "setterDocumentation" : "/**<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.*/",
          "setterModel" : {
            "variableDeclarationType" : "Double",
            "variableName" : "sampleCount",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Double",
            "variableName" : "sampleCount",
            "variableType" : "Double",
            "documentation" : "<p>The number of metric values that contributed to the aggregate value of this datapoint.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "Sum" : {
          "c2jName" : "Sum",
          "c2jShape" : "DatapointValue",
          "deprecated" : false,
          "documentation" : "<p>The sum of metric values used for the datapoint.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The sum of metric values used for the datapoint.</p>\n@param sum The sum of metric values used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The sum of metric values used for the datapoint.</p>\n@return The sum of metric values used for the datapoint.*/",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Sum",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Sum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Sum",
          "setterDocumentation" : "/**<p>The sum of metric values used for the datapoint.</p>\n@param sum The sum of metric values used for the datapoint.*/",
          "setterModel" : {
            "variableDeclarationType" : "Double",
            "variableName" : "sum",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The sum of metric values used for the datapoint.</p>\n@param sum The sum of metric values used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Double",
            "variableName" : "sum",
            "variableType" : "Double",
            "documentation" : "<p>The sum of metric values used for the datapoint.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "Timestamp" : {
          "c2jName" : "Timestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The time stamp used for the datapoint.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time stamp used for the datapoint.</p>\n@param timestamp The time stamp used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The time stamp used for the datapoint.</p>\n@return The time stamp used for the datapoint.*/",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Timestamp",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Timestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Timestamp",
          "setterDocumentation" : "/**<p>The time stamp used for the datapoint.</p>\n@param timestamp The time stamp used for the datapoint.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "timestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The time stamp used for the datapoint.</p>\n@param timestamp The time stamp used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "timestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time stamp used for the datapoint.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Unit" : {
          "c2jName" : "Unit",
          "c2jShape" : "StandardUnit",
          "deprecated" : false,
          "documentation" : "<p>The standard unit used for the datapoint.</p>",
          "enumType" : "StandardUnit",
          "fluentSetterDocumentation" : "/**<p>The standard unit used for the datapoint.</p>\n@param unit The standard unit used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StandardUnit*/",
          "getterDocumentation" : "/**<p>The standard unit used for the datapoint.</p>\n@return The standard unit used for the datapoint.\n@see StandardUnit*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Unit",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Unit",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Unit",
          "setterDocumentation" : "/**<p>The standard unit used for the datapoint.</p>\n@param unit The standard unit used for the datapoint.\n@see StandardUnit*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "unit",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The standard unit used for the datapoint.</p>\n@param unit The standard unit used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StandardUnit*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "unit",
            "variableType" : "String",
            "documentation" : "<p>The standard unit used for the datapoint.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "Datapoint",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Datapoint",
        "variableName" : "datapoint",
        "variableType" : "Datapoint",
        "documentation" : null,
        "simpleType" : "Datapoint",
        "variableSetterType" : "Datapoint"
      },
      "wrapper" : false
    },
    "DeleteAlarmsRequest" : {
      "c2jName" : "DeleteAlarmsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes the inputs for DeleteAlarms.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteAlarms",
        "locationName" : null,
        "requestUri" : "/",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "AlarmNames",
        "c2jShape" : "AlarmNames",
        "deprecated" : false,
        "documentation" : "<p>A list of alarms to be deleted.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of alarms to be deleted.</p>\n@param alarmNames A list of alarms to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>A list of alarms to be deleted.</p>\n@return A list of alarms to be deleted.*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AlarmNames",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AlarmNames",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AlarmName",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "AlarmNames",
        "setterDocumentation" : "/**<p>A list of alarms to be deleted.</p>\n@param alarmNames A list of alarms to be deleted.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "variableName" : "alarmNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>A list of alarms to be deleted.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAlarmNames(java.util.Collection)} or {@link #withAlarmNames(java.util.Collection)} if you want to override the existing values.</p>\n@param alarmNames A list of alarms to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "variableName" : "alarmNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of alarms to be deleted.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AlarmNames" : {
          "c2jName" : "AlarmNames",
          "c2jShape" : "AlarmNames",
          "deprecated" : false,
          "documentation" : "<p>A list of alarms to be deleted.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of alarms to be deleted.</p>\n@param alarmNames A list of alarms to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>A list of alarms to be deleted.</p>\n@return A list of alarms to be deleted.*/",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AlarmNames",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AlarmNames",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
[...]
