{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : "cloudwatch",
      "additionalOperations" : null,
      "fileNamePrefix" : "CloudWatch",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "AlarmHistoryItem" : [ "HistoryItemType" ],
      "Datapoint" : [ "Unit" ],
      "DescribeAlarmHistoryInput" : [ "HistoryItemType" ],
      "DescribeAlarmsForMetricInput" : [ "Statistic", "Unit" ],
      "DescribeAlarmsInput" : [ "StateValue" ],
      "GetMetricStatisticsInput" : [ "Unit" ],
      "MetricAlarm" : [ "StateValue", "Statistic", "Unit", "ComparisonOperator" ],
      "MetricDatum" : [ "Unit" ],
      "PutMetricAlarmInput" : [ "Statistic", "Unit", "ComparisonOperator" ],
      "SetAlarmStateInput" : [ "StateValue" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeAlarmHistory" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeAlarms" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListMetrics" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2010-08-01",
    "asyncClient" : "AmazonCloudWatchAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudWatchAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudWatchAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCloudWatchModuleInjector",
    "defaultEndpoint" : "https://monitoring.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "monitoring.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon CloudWatch monitors your Amazon Web Services (AWS) resources and the applications you run on AWS in real time. You can use CloudWatch to collect and track metrics, which are the variables you want to measure for your resources and applications.</p> <p>CloudWatch alarms send notifications or automatically change the resources you are monitoring based on rules that you define. For example, you can monitor the CPU usage and disk reads and writes of your Amazon EC2 instances. Then, use this data to determine whether you should launch additional instances to handle increased load. You can also use this data to stop under-used instances to save money.</p> <p>In addition to monitoring the built-in metrics that come with AWS, you can monitor your own custom metrics. With CloudWatch, you gain system-wide visibility into resource utilization, application performance, and operational health.</p>",
    "endpointPrefix" : "monitoring",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.cloudwatch",
    "packagePath" : "com/amazonaws/services/cloudwatch",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocolFactory" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "CloudWatch",
    "serviceFullName" : "Amazon CloudWatch",
    "serviceName" : "CloudWatch",
    "signingName" : "monitoring",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudwatch.smoketests",
    "syncClient" : "AmazonCloudWatchClient",
    "syncClientBuilderClassName" : "AmazonCloudWatchClientBuilder",
    "syncInterface" : "AmazonCloudWatch",
    "uid" : "monitoring-2010-08-01",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "DeleteAlarms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAlarmsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAlarmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAlarmsRequest, DeleteAlarmsResult>",
      "asyncReturnType" : "DeleteAlarmsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified alarms. In the event of an error, no alarms are deleted.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The named resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteAlarmsRequest",
        "variableName" : "deleteAlarmsRequest",
        "variableType" : "DeleteAlarmsRequest",
        "documentation" : "",
        "simpleType" : "DeleteAlarmsRequest",
        "variableSetterType" : "DeleteAlarmsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlarms",
      "operationName" : "DeleteAlarms",
      "returnType" : {
        "returnType" : "DeleteAlarmsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAlarmsResult"
    },
    "DeleteDashboards" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDashboardsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDashboardsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDashboardsRequest, DeleteDashboardsResult>",
      "asyncReturnType" : "DeleteDashboardsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes all dashboards that you specify. You may specify up to 100 dashboards to delete. If there is an error during this call, no dashboards are deleted.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of an input parameter is bad or out-of-range.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DashboardNotFoundErrorException",
        "documentation" : "<p>The specified dashboard does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing has failed due to some unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDashboardsRequest",
        "variableName" : "deleteDashboardsRequest",
        "variableType" : "DeleteDashboardsRequest",
        "documentation" : "",
        "simpleType" : "DeleteDashboardsRequest",
        "variableSetterType" : "DeleteDashboardsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDashboards",
      "operationName" : "DeleteDashboards",
      "returnType" : {
        "returnType" : "DeleteDashboardsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDashboardsResult"
    },
    "DescribeAlarmHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmHistoryRequest, DescribeAlarmHistoryResult>",
      "asyncReturnType" : "DescribeAlarmHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type. If an alarm name is not specified, the histories for all alarms are returned.</p> <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token specified is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAlarmHistoryRequest",
        "variableName" : "describeAlarmHistoryRequest",
        "variableType" : "DescribeAlarmHistoryRequest",
        "documentation" : "",
        "simpleType" : "DescribeAlarmHistoryRequest",
        "variableSetterType" : "DescribeAlarmHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlarmHistory",
      "operationName" : "DescribeAlarmHistory",
      "returnType" : {
        "returnType" : "DescribeAlarmHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAlarmHistoryResult"
    },
    "DescribeAlarms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmsRequest, DescribeAlarmsResult>",
      "asyncReturnType" : "DescribeAlarmsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified alarms. If no alarms are specified, all alarms are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token specified is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAlarmsRequest",
        "variableName" : "describeAlarmsRequest",
        "variableType" : "DescribeAlarmsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAlarmsRequest",
        "variableSetterType" : "DescribeAlarmsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlarms",
      "operationName" : "DescribeAlarms",
      "returnType" : {
        "returnType" : "DescribeAlarmsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAlarmsResult"
    },
    "DescribeAlarmsForMetric" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmsForMetricResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmsForMetricResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmsForMetricRequest, DescribeAlarmsForMetricResult>",
      "asyncReturnType" : "DescribeAlarmsForMetricResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the alarms for the specified metric. To filter the results, specify a statistic, period, or unit.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAlarmsForMetricRequest",
        "variableName" : "describeAlarmsForMetricRequest",
        "variableType" : "DescribeAlarmsForMetricRequest",
        "documentation" : "",
        "simpleType" : "DescribeAlarmsForMetricRequest",
        "variableSetterType" : "DescribeAlarmsForMetricRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlarmsForMetric",
      "operationName" : "DescribeAlarmsForMetric",
      "returnType" : {
        "returnType" : "DescribeAlarmsForMetricResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAlarmsForMetricResult"
    },
    "DisableAlarmActions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableAlarmActionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableAlarmActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableAlarmActionsRequest, DisableAlarmActionsResult>",
      "asyncReturnType" : "DisableAlarmActionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the actions for the specified alarms. When an alarm's actions are disabled, the alarm actions do not execute when the alarm state changes.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableAlarmActionsRequest",
        "variableName" : "disableAlarmActionsRequest",
        "variableType" : "DisableAlarmActionsRequest",
        "documentation" : "",
        "simpleType" : "DisableAlarmActionsRequest",
        "variableSetterType" : "DisableAlarmActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableAlarmActions",
      "operationName" : "DisableAlarmActions",
      "returnType" : {
        "returnType" : "DisableAlarmActionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableAlarmActionsResult"
    },
    "EnableAlarmActions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableAlarmActionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableAlarmActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableAlarmActionsRequest, EnableAlarmActionsResult>",
      "asyncReturnType" : "EnableAlarmActionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the actions for the specified alarms.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableAlarmActionsRequest",
        "variableName" : "enableAlarmActionsRequest",
        "variableType" : "EnableAlarmActionsRequest",
        "documentation" : "",
        "simpleType" : "EnableAlarmActionsRequest",
        "variableSetterType" : "EnableAlarmActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableAlarmActions",
      "operationName" : "EnableAlarmActions",
      "returnType" : {
        "returnType" : "EnableAlarmActionsResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableAlarmActionsResult"
    },
    "GetDashboard" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDashboardResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDashboardResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDashboardRequest, GetDashboardResult>",
      "asyncReturnType" : "GetDashboardResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the details of the dashboard that you specify.</p> <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create the copy.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of an input parameter is bad or out-of-range.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DashboardNotFoundErrorException",
        "documentation" : "<p>The specified dashboard does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing has failed due to some unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDashboardRequest",
        "variableName" : "getDashboardRequest",
        "variableType" : "GetDashboardRequest",
        "documentation" : "",
        "simpleType" : "GetDashboardRequest",
        "variableSetterType" : "GetDashboardRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDashboard",
      "operationName" : "GetDashboard",
      "returnType" : {
        "returnType" : "GetDashboardResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDashboardResult"
    },
    "GetMetricStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMetricStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMetricStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMetricStatisticsRequest, GetMetricStatisticsResult>",
      "asyncReturnType" : "GetMetricStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets statistics for the specified metric.</p> <p>The maximum number of data points returned from a single call is 1,440. If you request more than 1,440 data points, CloudWatch returns an error. To reduce the number of data points, you can narrow the specified time range and make multiple requests across adjacent time ranges, or you can increase the specified period. Data points are not returned in chronological order.</p> <p>CloudWatch aggregates data points based on the length of the period that you specify. For example, if you request statistics with a one-hour period, CloudWatch aggregates all data points with time stamps that fall within each one-hour period. Therefore, the number of values aggregated by CloudWatch is larger than the number of data points returned.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1.</p> </li> <li> <p>The Min and the Max values of the statistic set are equal.</p> </li> </ul> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>CloudWatch started retaining 5-minute and 1-hour metric data as of July 9, 2016.</p> <p>For information about metrics and dimensions supported by AWS services, see the <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CW_Support_For_AWS.html\">Amazon CloudWatch Metrics and Dimensions Reference</a> in the <i>Amazon CloudWatch User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of an input parameter is bad or out-of-range.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>An input parameter that is required is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Parameters were used together that cannot be used together.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing has failed due to some unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetMetricStatisticsRequest",
        "variableName" : "getMetricStatisticsRequest",
        "variableType" : "GetMetricStatisticsRequest",
        "documentation" : "",
        "simpleType" : "GetMetricStatisticsRequest",
        "variableSetterType" : "GetMetricStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMetricStatistics",
      "operationName" : "GetMetricStatistics",
      "returnType" : {
        "returnType" : "GetMetricStatisticsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMetricStatisticsResult"
    },
    "ListDashboards" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDashboardsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDashboardsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDashboardsRequest, ListDashboardsResult>",
      "asyncReturnType" : "ListDashboardsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the dashboards for your account. If you include <code>DashboardNamePrefix</code>, only those dashboards with names starting with the prefix are listed. Otherwise, all dashboards in your account are listed. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of an input parameter is bad or out-of-range.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing has failed due to some unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDashboardsRequest",
        "variableName" : "listDashboardsRequest",
        "variableType" : "ListDashboardsRequest",
        "documentation" : "",
        "simpleType" : "ListDashboardsRequest",
        "variableSetterType" : "ListDashboardsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDashboards",
      "operationName" : "ListDashboards",
      "returnType" : {
        "returnType" : "ListDashboardsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDashboardsResult"
    },
    "ListMetrics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMetricsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMetricsRequest, ListMetricsResult>",
      "asyncReturnType" : "ListMetricsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the specified metrics. You can use the returned metrics with <a>GetMetricStatistics</a> to obtain statistical data.</p> <p>Up to 500 results are returned for any one call. To retrieve additional results, use the returned token with subsequent calls.</p> <p>After you create a metric, allow up to fifteen minutes before the metric appears. Statistics about the metric, however, are available sooner using <a>GetMetricStatistics</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing has failed due to some unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of an input parameter is bad or out-of-range.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListMetricsRequest",
        "variableName" : "listMetricsRequest",
        "variableType" : "ListMetricsRequest",
        "documentation" : "",
        "simpleType" : "ListMetricsRequest",
        "variableSetterType" : "ListMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMetrics",
      "operationName" : "ListMetrics",
      "returnType" : {
        "returnType" : "ListMetricsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMetricsResult"
    },
    "PutDashboard" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDashboardResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDashboardResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDashboardRequest, PutDashboardResult>",
      "asyncReturnType" : "PutDashboardResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a dashboard if it does not already exist, or updates an existing dashboard. If you update a dashboard, the entire contents are replaced with what you specify here.</p> <p>You can have up to 500 dashboards per account. All dashboards in your account are global, not region-specific.</p> <p>A simple way to create a dashboard using <code>PutDashboard</code> is to copy an existing dashboard. To copy an existing dashboard using the console, you can load the dashboard and then use the View/edit source command in the Actions menu to display the JSON block for that dashboard. Another way to copy a dashboard is to use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code>.</p> <p>When you create a dashboard with <code>PutDashboard</code>, a good practice is to add a text widget at the top of the dashboard with a message that the dashboard was created by script and should not be changed in the console. This message could also point console users to the location of the <code>DashboardBody</code> script or the CloudFormation template used to create the dashboard.</p>",
      "exceptions" : [ {
        "exceptionName" : "DashboardInvalidInputErrorException",
        "documentation" : "<p>Some part of the dashboard data is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing has failed due to some unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutDashboardRequest",
        "variableName" : "putDashboardRequest",
        "variableType" : "PutDashboardRequest",
        "documentation" : "",
        "simpleType" : "PutDashboardRequest",
        "variableSetterType" : "PutDashboardRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDashboard",
      "operationName" : "PutDashboard",
      "returnType" : {
        "returnType" : "PutDashboardResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDashboardResult"
    },
    "PutMetricAlarm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutMetricAlarmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutMetricAlarmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricAlarmRequest, PutMetricAlarmResult>",
      "asyncReturnType" : "PutMetricAlarmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates an alarm and associates it with the specified metric. Optionally, this operation can associate one or more Amazon SNS resources with the alarm.</p> <p>When this operation creates an alarm, the alarm state is immediately set to <code>INSUFFICIENT_DATA</code>. The alarm is evaluated and its state is set appropriately. Any actions associated with the state are then executed.</p> <p>When you update an existing alarm, its state is left unchanged, but the update completely overwrites the previous configuration of the alarm.</p> <p>If you are an IAM user, you must have Amazon EC2 permissions for some operations:</p> <ul> <li> <p> <code>iam:CreateServiceLinkedRole</code> for all alarms with EC2 actions</p> </li> <li> <p> <code>ec2:DescribeInstanceStatus</code> and <code>ec2:DescribeInstances</code> for all alarms on EC2 instance status metrics</p> </li> <li> <p> <code>ec2:StopInstances</code> for alarms with stop actions</p> </li> <li> <p> <code>ec2:TerminateInstances</code> for alarms with terminate actions</p> </li> <li> <p> <code>ec2:DescribeInstanceRecoveryAttribute</code> and <code>ec2:RecoverInstances</code> for alarms with recover actions</p> </li> </ul> <p>If you have read/write permissions for Amazon CloudWatch but not for Amazon EC2, you can still create an alarm, but the stop or terminate actions are not performed. However, if you are later granted the required permissions, the alarm actions that you created earlier are performed.</p> <p>If you are using an IAM role (for example, an EC2 instance profile), you cannot stop or terminate the instance using alarm actions. However, you can still see the alarm state and perform any other actions such as Amazon SNS notifications or Auto Scaling policies.</p> <p>If you are using temporary security credentials granted using AWS STS, you cannot stop or terminate an EC2 instance using alarm actions.</p> <p>You must create at least one stop, terminate, or reboot alarm using either the Amazon EC2 or CloudWatch consoles to create the <b>EC2ActionsAccess</b> IAM role. After this IAM role is created, you can create stop, terminate, or reboot alarms using a command-line interface or API.</p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The quota for alarms for this customer has already been reached.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutMetricAlarmRequest",
        "variableName" : "putMetricAlarmRequest",
        "variableType" : "PutMetricAlarmRequest",
        "documentation" : "",
        "simpleType" : "PutMetricAlarmRequest",
        "variableSetterType" : "PutMetricAlarmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putMetricAlarm",
      "operationName" : "PutMetricAlarm",
      "returnType" : {
        "returnType" : "PutMetricAlarmResult",
        "documentation" : null
      },
      "syncReturnType" : "PutMetricAlarmResult"
    },
    "PutMetricData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutMetricDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutMetricDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricDataRequest, PutMetricDataResult>",
      "asyncReturnType" : "PutMetricDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Publishes metric data points to Amazon CloudWatch. CloudWatch associates the data points with the specified metric. If the specified metric does not exist, CloudWatch creates the metric. When CloudWatch creates a metric, it can take up to fifteen minutes for the metric to appear in calls to <a>ListMetrics</a>.</p> <p>Each <code>PutMetricData</code> request is limited to 40 KB in size for HTTP POST requests.</p> <p>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, CloudWatch rejects values that are either too small or too large. Values must be in the range of 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2). In addition, special values (for example, NaN, +Infinity, -Infinity) are not supported.</p> <p>You can use up to 10 dimensions per metric to further clarify what data the metric collects. For more information about specifying dimensions, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html\">Publishing Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Data points with time stamps from 24 hours ago or longer can take at least 48 hours to become available for <a>GetMetricStatistics</a> from the time they are submitted.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1</p> </li> <li> <p>The Min and the Max values of the statistic set are equal</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of an input parameter is bad or out-of-range.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>An input parameter that is required is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Parameters were used together that cannot be used together.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing has failed due to some unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutMetricDataRequest",
        "variableName" : "putMetricDataRequest",
        "variableType" : "PutMetricDataRequest",
        "documentation" : "",
        "simpleType" : "PutMetricDataRequest",
        "variableSetterType" : "PutMetricDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putMetricData",
      "operationName" : "PutMetricData",
      "returnType" : {
        "returnType" : "PutMetricDataResult",
        "documentation" : null
      },
      "syncReturnType" : "PutMetricDataResult"
    },
    "SetAlarmState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetAlarmStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetAlarmStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetAlarmStateRequest, SetAlarmStateResult>",
      "asyncReturnType" : "SetAlarmStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Temporarily sets the state of an alarm for testing purposes. When the updated state differs from the previous value, the action configured for the appropriate state is invoked. For example, if your alarm is configured to send an Amazon SNS message when an alarm is triggered, temporarily changing the alarm state to <code>ALARM</code> sends an SNS message. The alarm returns to its actual state (often within seconds). Because the alarm state change happens quickly, it is typically only visible in the alarm's <b>History</b> tab in the Amazon CloudWatch console or through <a>DescribeAlarmHistory</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The named resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidFormatException",
        "documentation" : "<p>Data was not syntactically valid JSON.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetAlarmStateRequest",
        "variableName" : "setAlarmStateRequest",
        "variableType" : "SetAlarmStateRequest",
        "documentation" : "",
        "simpleType" : "SetAlarmStateRequest",
        "variableSetterType" : "SetAlarmStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setAlarmState",
      "operationName" : "SetAlarmState",
      "returnType" : {
        "returnType" : "SetAlarmStateResult",
        "documentation" : null
      },
      "syncReturnType" : "SetAlarmStateResult"
    }
  },
  "shapes" : {
    "AlarmHistoryItem" : {
      "c2jName" : "AlarmHistoryItem",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the history of a specific alarm.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AlarmName",
        "c2jShape" : "AlarmName",
        "deprecated" : false,
        "documentation" : "<p>The descriptive name for the alarm.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAlarmName",
        "getterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@return The descriptive name for the alarm.*/",
        "getterMethodName" : "getAlarmName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AlarmName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AlarmName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AlarmName",
        "setterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.*/",
        "setterMethodName" : "setAlarmName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "alarmName",
          "variableType" : "String",
          "documentation" : "<p>The descriptive name for the alarm.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Timestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time stamp for the alarm history item.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimestamp",
        "getterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@return The time stamp for the alarm history item.*/",
        "getterMethodName" : "getTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Timestamp",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Timestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "Timestamp",
        "setterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.*/",
        "setterMethodName" : "setTimestamp",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time stamp for the alarm history item.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HistoryItemType",
        "c2jShape" : "HistoryItemType",
        "deprecated" : false,
        "documentation" : "<p>The type of alarm history item.</p>",
        "enumType" : "HistoryItemType",
        "fluentSetterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.\n@see HistoryItemType*/",
        "fluentSetterMethodName" : "withHistoryItemType",
        "getterDocumentation" : "/**<p>The type of alarm history item.</p>\n@return The type of alarm history item.\n@see HistoryItemType*/",
        "getterMethodName" : "getHistoryItemType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HistoryItemType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HistoryItemType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HistoryItemType",
        "setterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@see HistoryItemType*/",
        "setterMethodName" : "setHistoryItemType",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "historyItemType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.\n@see HistoryItemType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "historyItemType",
          "variableType" : "String",
          "documentation" : "<p>The type of alarm history item.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HistorySummary",
        "c2jShape" : "HistorySummary",
        "deprecated" : false,
        "documentation" : "<p>A summary of the alarm history, in text format.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A summary of the alarm history, in text format.</p>\n@param historySummary A summary of the alarm history, in text format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHistorySummary",
        "getterDocumentation" : "/**<p>A summary of the alarm history, in text format.</p>\n@return A summary of the alarm history, in text format.*/",
        "getterMethodName" : "getHistorySummary",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HistorySummary",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HistorySummary",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HistorySummary",
        "setterDocumentation" : "/**<p>A summary of the alarm history, in text format.</p>\n@param historySummary A summary of the alarm history, in text format.*/",
        "setterMethodName" : "setHistorySummary",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "historySummary",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A summary of the alarm history, in text format.</p>\n@param historySummary A summary of the alarm history, in text format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "historySummary",
          "variableType" : "String",
          "documentation" : "<p>A summary of the alarm history, in text format.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HistoryData",
        "c2jShape" : "HistoryData",
        "deprecated" : false,
        "documentation" : "<p>Data about the alarm, in JSON format.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Data about the alarm, in JSON format.</p>\n@param historyData Data about the alarm, in JSON format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHistoryData",
        "getterDocumentation" : "/**<p>Data about the alarm, in JSON format.</p>\n@return Data about the alarm, in JSON format.*/",
        "getterMethodName" : "getHistoryData",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HistoryData",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HistoryData",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HistoryData",
        "setterDocumentation" : "/**<p>Data about the alarm, in JSON format.</p>\n@param historyData Data about the alarm, in JSON format.*/",
        "setterMethodName" : "setHistoryData",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "historyData",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Data about the alarm, in JSON format.</p>\n@param historyData Data about the alarm, in JSON format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "historyData",
          "variableType" : "String",
          "documentation" : "<p>Data about the alarm, in JSON format.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AlarmName" : {
          "c2jName" : "AlarmName",
          "c2jShape" : "AlarmName",
          "deprecated" : false,
          "documentation" : "<p>The descriptive name for the alarm.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAlarmName",
          "getterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@return The descriptive name for the alarm.*/",
          "getterMethodName" : "getAlarmName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AlarmName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AlarmName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AlarmName",
          "setterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.*/",
          "setterMethodName" : "setAlarmName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The descriptive name for the alarm.</p>\n@param alarmName The descriptive name for the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "alarmName",
            "variableType" : "String",
            "documentation" : "<p>The descriptive name for the alarm.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HistoryData" : {
          "c2jName" : "HistoryData",
          "c2jShape" : "HistoryData",
          "deprecated" : false,
          "documentation" : "<p>Data about the alarm, in JSON format.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Data about the alarm, in JSON format.</p>\n@param historyData Data about the alarm, in JSON format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHistoryData",
          "getterDocumentation" : "/**<p>Data about the alarm, in JSON format.</p>\n@return Data about the alarm, in JSON format.*/",
          "getterMethodName" : "getHistoryData",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HistoryData",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HistoryData",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HistoryData",
          "setterDocumentation" : "/**<p>Data about the alarm, in JSON format.</p>\n@param historyData Data about the alarm, in JSON format.*/",
          "setterMethodName" : "setHistoryData",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "historyData",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Data about the alarm, in JSON format.</p>\n@param historyData Data about the alarm, in JSON format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "historyData",
            "variableType" : "String",
            "documentation" : "<p>Data about the alarm, in JSON format.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HistoryItemType" : {
          "c2jName" : "HistoryItemType",
          "c2jShape" : "HistoryItemType",
          "deprecated" : false,
          "documentation" : "<p>The type of alarm history item.</p>",
          "enumType" : "HistoryItemType",
          "fluentSetterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.\n@see HistoryItemType*/",
          "fluentSetterMethodName" : "withHistoryItemType",
          "getterDocumentation" : "/**<p>The type of alarm history item.</p>\n@return The type of alarm history item.\n@see HistoryItemType*/",
          "getterMethodName" : "getHistoryItemType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HistoryItemType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HistoryItemType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HistoryItemType",
          "setterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@see HistoryItemType*/",
          "setterMethodName" : "setHistoryItemType",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "historyItemType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of alarm history item.</p>\n@param historyItemType The type of alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.\n@see HistoryItemType*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "historyItemType",
            "variableType" : "String",
            "documentation" : "<p>The type of alarm history item.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HistorySummary" : {
          "c2jName" : "HistorySummary",
          "c2jShape" : "HistorySummary",
          "deprecated" : false,
          "documentation" : "<p>A summary of the alarm history, in text format.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A summary of the alarm history, in text format.</p>\n@param historySummary A summary of the alarm history, in text format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHistorySummary",
          "getterDocumentation" : "/**<p>A summary of the alarm history, in text format.</p>\n@return A summary of the alarm history, in text format.*/",
          "getterMethodName" : "getHistorySummary",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HistorySummary",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HistorySummary",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HistorySummary",
          "setterDocumentation" : "/**<p>A summary of the alarm history, in text format.</p>\n@param historySummary A summary of the alarm history, in text format.*/",
          "setterMethodName" : "setHistorySummary",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "historySummary",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A summary of the alarm history, in text format.</p>\n@param historySummary A summary of the alarm history, in text format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "historySummary",
            "variableType" : "String",
            "documentation" : "<p>A summary of the alarm history, in text format.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Timestamp" : {
          "c2jName" : "Timestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The time stamp for the alarm history item.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTimestamp",
          "getterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@return The time stamp for the alarm history item.*/",
          "getterMethodName" : "getTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Timestamp",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Timestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "Timestamp",
          "setterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.*/",
          "setterMethodName" : "setTimestamp",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "timestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time stamp for the alarm history item.</p>\n@param timestamp The time stamp for the alarm history item.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "timestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time stamp for the alarm history item.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AlarmHistoryItem",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AlarmHistoryItem",
        "variableName" : "alarmHistoryItem",
        "variableType" : "AlarmHistoryItem",
        "documentation" : null,
        "simpleType" : "AlarmHistoryItem",
        "variableSetterType" : "AlarmHistoryItem"
      },
      "wrapper" : false
    },
    "ComparisonOperator" : {
      "c2jName" : "ComparisonOperator",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "GreaterThanOrEqualToThreshold",
        "value" : "GreaterThanOrEqualToThreshold"
      }, {
        "name" : "GreaterThanThreshold",
        "value" : "GreaterThanThreshold"
      }, {
        "name" : "LessThanThreshold",
        "value" : "LessThanThreshold"
      }, {
        "name" : "LessThanOrEqualToThreshold",
        "value" : "LessThanOrEqualToThreshold"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ComparisonOperator",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ComparisonOperator",
        "variableName" : "comparisonOperator",
        "variableType" : "ComparisonOperator",
        "documentation" : null,
        "simpleType" : "ComparisonOperator",
        "variableSetterType" : "ComparisonOperator"
      },
      "wrapper" : false
    },
    "DashboardEntry" : {
      "c2jName" : "DashboardEntry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents a specific dashboard.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DashboardName",
        "c2jShape" : "DashboardName",
        "deprecated" : false,
        "documentation" : "<p>The name of the dashboard.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the dashboard.</p>\n@param dashboardName The name of the dashboard.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDashboardName",
        "getterDocumentation" : "/**<p>The name of the dashboard.</p>\n@return The name of the dashboard.*/",
        "getterMethodName" : "getDashboardName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DashboardName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DashboardName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DashboardName",
        "setterDocumentation" : "/**<p>The name of the dashboard.</p>\n@param dashboardName The name of the dashboard.*/",
        "setterMethodName" : "setDashboardName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "dashboardName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the dashboard.</p>\n@param dashboardName The name of the dashboard.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "dashboardName",
          "variableType" : "String",
          "documentation" : "<p>The name of the dashboard.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DashboardArn",
        "c2jShape" : "DashboardArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the dashboard.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the dashboard.</p>\n@param dashboardArn The Amazon Resource Name (ARN) of the dashboard.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDashboardArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the dashboard.</p>\n@return The Amazon Resource Name (ARN) of the dashboard.*/",
        "getterMethodName" : "getDashboardArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DashboardArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DashboardArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DashboardArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the dashboard.</p>\n@param dashboardArn The Amazon Resource Name (ARN) of the dashboard.*/",
        "setterMethodName" : "setDashboardArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "dashboardArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the dashboard.</p>\n@param dashboardArn The Amazon Resource Name (ARN) of the dashboard.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "dashboardArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the dashboard.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastModified",
        "c2jShape" : "LastModified",
        "deprecated" : false,
        "documentation" : "<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>\n@param lastModified The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastModified",
        "getterDocumentation" : "/**<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>\n@return The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.*/",
        "getterMethodName" : "getLastModified",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastModified",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastModified",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastModified",
        "setterDocumentation" : "/**<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>\n@param lastModified The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.*/",
        "setterMethodName" : "setLastModified",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastModified",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>\n@param lastModified The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastModified",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Size",
        "c2jShape" : "Size",
        "deprecated" : false,
        "documentation" : "<p>The size of the dashboard, in bytes.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The size of the dashboard, in bytes.</p>\n@param size The size of the dashboard, in bytes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSize",
        "getterDocumentation" : "/**<p>The size of the dashboard, in bytes.</p>\n@return The size of the dashboard, in bytes.*/",
        "getterMethodName" : "getSize",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Size",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Size",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Size",
        "setterDocumentation" : "/**<p>The size of the dashboard, in bytes.</p>\n@param size The size of the dashboard, in bytes.*/",
        "setterMethodName" : "setSize",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "size",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The size of the dashboard, in bytes.</p>\n@param size The size of the dashboard, in bytes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "size",
          "variableType" : "Long",
          "documentation" : "<p>The size of the dashboard, in bytes.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DashboardArn" : {
          "c2jName" : "DashboardArn",
          "c2jShape" : "DashboardArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the dashboard.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the dashboard.</p>\n@param dashboardArn The Amazon Resource Name (ARN) of the dashboard.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDashboardArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the dashboard.</p>\n@return The Amazon Resource Name (ARN) of the dashboard.*/",
          "getterMethodName" : "getDashboardArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DashboardArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DashboardArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DashboardArn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the dashboard.</p>\n@param dashboardArn The Amazon Resource Name (ARN) of the dashboard.*/",
          "setterMethodName" : "setDashboardArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "dashboardArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the dashboard.</p>\n@param dashboardArn The Amazon Resource Name (ARN) of the dashboard.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "dashboardArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the dashboard.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DashboardName" : {
          "c2jName" : "DashboardName",
          "c2jShape" : "DashboardName",
          "deprecated" : false,
          "documentation" : "<p>The name of the dashboard.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the dashboard.</p>\n@param dashboardName The name of the dashboard.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDashboardName",
          "getterDocumentation" : "/**<p>The name of the dashboard.</p>\n@return The name of the dashboard.*/",
          "getterMethodName" : "getDashboardName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DashboardName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DashboardName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DashboardName",
          "setterDocumentation" : "/**<p>The name of the dashboard.</p>\n@param dashboardName The name of the dashboard.*/",
          "setterMethodName" : "setDashboardName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "dashboardName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the dashboard.</p>\n@param dashboardName The name of the dashboard.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "dashboardName",
            "variableType" : "String",
            "documentation" : "<p>The name of the dashboard.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LastModified" : {
          "c2jName" : "LastModified",
          "c2jShape" : "LastModified",
          "deprecated" : false,
          "documentation" : "<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>\n@param lastModified The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastModified",
          "getterDocumentation" : "/**<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>\n@return The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.*/",
          "getterMethodName" : "getLastModified",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LastModified",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LastModified",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LastModified",
          "setterDocumentation" : "/**<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>\n@param lastModified The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.*/",
          "setterMethodName" : "setLastModified",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastModified",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>\n@param lastModified The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastModified",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Size" : {
          "c2jName" : "Size",
          "c2jShape" : "Size",
          "deprecated" : false,
          "documentation" : "<p>The size of the dashboard, in bytes.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The size of the dashboard, in bytes.</p>\n@param size The size of the dashboard, in bytes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSize",
          "getterDocumentation" : "/**<p>The size of the dashboard, in bytes.</p>\n@return The size of the dashboard, in bytes.*/",
          "getterMethodName" : "getSize",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Size",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Size",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "Size",
          "setterDocumentation" : "/**<p>The size of the dashboard, in bytes.</p>\n@param size The size of the dashboard, in bytes.*/",
          "setterMethodName" : "setSize",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "size",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The size of the dashboard, in bytes.</p>\n@param size The size of the dashboard, in bytes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "size",
            "variableType" : "Long",
            "documentation" : "<p>The size of the dashboard, in bytes.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DashboardEntry",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "DashboardEntry",
        "variableName" : "dashboardEntry",
        "variableType" : "DashboardEntry",
        "documentation" : null,
        "simpleType" : "DashboardEntry",
        "variableSetterType" : "DashboardEntry"
      },
      "wrapper" : false
    },
    "DashboardInvalidInputErrorException" : {
      "c2jName" : "DashboardInvalidInputError",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Some part of the dashboard data is invalid.</p>",
      "enums" : null,
      "errorCode" : "InvalidParameterInput",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "dashboardValidationMessages",
        "c2jShape" : "DashboardValidationMessages",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param dashboardValidationMessages \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDashboardValidationMessages",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getDashboardValidationMessages",
        "getterModel" : {
          "returnType" : "java.util.List<DashboardValidationMessage>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "dashboardValidationMessages",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "dashboardValidationMessages",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "DashboardValidationMessage",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "DashboardValidationMessage",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
[...]
