{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-27",
    "asyncClient" : "AmazonMQAsyncClient",
    "asyncClientBuilderClassName" : "AmazonMQAsyncClientBuilder",
    "asyncInterface" : "AmazonMQAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonMQModuleInjector",
    "defaultEndpoint" : "mq.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mq.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "Amazon MQ is a managed message broker service for Apache ActiveMQ that makes it easy to set up and operate message brokers in the cloud. A message broker allows software applications and components to communicate using various programming languages, operating systems, and formal messaging protocols.",
    "endpointPrefix" : "mq",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mq",
    "packagePath" : "com/amazonaws/services/mq",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AmazonMQ",
    "serviceName" : "AmazonMQ",
    "signingName" : "mq",
    "smokeTestsPackageName" : "com.amazonaws.services.mq.smoketests",
    "syncClient" : "AmazonMQClient",
    "syncClientBuilderClassName" : "AmazonMQClientBuilder",
    "syncInterface" : "AmazonMQ",
    "uid" : "mq-2017-11-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBrokerRequest, CreateBrokerResult>",
      "asyncReturnType" : "CreateBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a broker. Note: This API is asynchronous.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "HTTP Status Code 409: Conflict. This Broker name already exists. Retry your request with another name.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateBrokerRequest",
        "variableName" : "createBrokerRequest",
        "variableType" : "CreateBrokerRequest",
        "documentation" : "Creates a broker using the specified properties.",
        "simpleType" : "CreateBrokerRequest",
        "variableSetterType" : "CreateBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBroker",
      "operationName" : "CreateBroker",
      "returnType" : {
        "returnType" : "CreateBrokerResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "CreateBrokerResult"
    },
    "CreateConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationRequest, CreateConfigurationResult>",
      "asyncReturnType" : "CreateConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new configuration for the specified configuration name. Amazon MQ uses the default configuration (the engine type and version). Note: If the configuration name already exists, Amazon MQ doesn't create a configuration.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "HTTP Status Code 409: Conflict. This configuration name already exists. Retry your request with another configuration name.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your input and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateConfigurationRequest",
        "variableName" : "createConfigurationRequest",
        "variableType" : "CreateConfigurationRequest",
        "documentation" : "Creates a new configuration for the specified configuration name. Amazon MQ uses the default configuration (the engine type and version). Note: If the configuration name already exists, Amazon MQ doesn't create a configuration.",
        "simpleType" : "CreateConfigurationRequest",
        "variableSetterType" : "CreateConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfiguration",
      "operationName" : "CreateConfiguration",
      "returnType" : {
        "returnType" : "CreateConfigurationResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "CreateConfigurationResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates an ActiveMQ user.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "HTTP Status Code 409: Conflict. Retry your request.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "Creates a new ActiveMQ user.",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeleteBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBrokerRequest, DeleteBrokerResult>",
      "asyncReturnType" : "DeleteBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a broker. Note: This API is asynchronous.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteBrokerRequest",
        "variableName" : "deleteBrokerRequest",
        "variableType" : "DeleteBrokerRequest",
        "documentation" : "",
        "simpleType" : "DeleteBrokerRequest",
        "variableSetterType" : "DeleteBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBroker",
      "operationName" : "DeleteBroker",
      "returnType" : {
        "returnType" : "DeleteBrokerResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "DeleteBrokerResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an ActiveMQ user.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DescribeBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBrokerRequest, DescribeBrokerResult>",
      "asyncReturnType" : "DescribeBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about the specified broker.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeBrokerRequest",
        "variableName" : "describeBrokerRequest",
        "variableType" : "DescribeBrokerRequest",
        "documentation" : "",
        "simpleType" : "DescribeBrokerRequest",
        "variableSetterType" : "DescribeBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBroker",
      "operationName" : "DescribeBroker",
      "returnType" : {
        "returnType" : "DescribeBrokerResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "DescribeBrokerResult"
    },
    "DescribeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRequest, DescribeConfigurationResult>",
      "asyncReturnType" : "DescribeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about the specified configuration.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConfigurationRequest",
        "variableName" : "describeConfigurationRequest",
        "variableType" : "DescribeConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationRequest",
        "variableSetterType" : "DescribeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfiguration",
      "operationName" : "DescribeConfiguration",
      "returnType" : {
        "returnType" : "DescribeConfigurationResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "DescribeConfigurationResult"
    },
    "DescribeConfigurationRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRevisionRequest, DescribeConfigurationRevisionResult>",
      "asyncReturnType" : "DescribeConfigurationRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns the specified configuration revision for the specified configuration.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConfigurationRevisionRequest",
        "variableName" : "describeConfigurationRevisionRequest",
        "variableType" : "DescribeConfigurationRevisionRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationRevisionRequest",
        "variableSetterType" : "DescribeConfigurationRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationRevision",
      "operationName" : "DescribeConfigurationRevision",
      "returnType" : {
        "returnType" : "DescribeConfigurationRevisionResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "DescribeConfigurationRevisionResult"
    },
    "DescribeUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserRequest, DescribeUserResult>",
      "asyncReturnType" : "DescribeUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about an ActiveMQ user.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeUserRequest",
        "variableName" : "describeUserRequest",
        "variableType" : "DescribeUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserRequest",
        "variableSetterType" : "DescribeUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUser",
      "operationName" : "DescribeUser",
      "returnType" : {
        "returnType" : "DescribeUserResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "DescribeUserResult"
    },
    "ListBrokers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBrokersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBrokersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBrokersRequest, ListBrokersResult>",
      "asyncReturnType" : "ListBrokersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a list of all brokers.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListBrokersRequest",
        "variableName" : "listBrokersRequest",
        "variableType" : "ListBrokersRequest",
        "documentation" : "",
        "simpleType" : "ListBrokersRequest",
        "variableSetterType" : "ListBrokersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBrokers",
      "operationName" : "ListBrokers",
      "returnType" : {
        "returnType" : "ListBrokersResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "ListBrokersResult"
    },
    "ListConfigurationRevisions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationRevisionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationRevisionsRequest, ListConfigurationRevisionsResult>",
      "asyncReturnType" : "ListConfigurationRevisionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a list of all revisions for the specified configuration.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListConfigurationRevisionsRequest",
        "variableName" : "listConfigurationRevisionsRequest",
        "variableType" : "ListConfigurationRevisionsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationRevisionsRequest",
        "variableSetterType" : "ListConfigurationRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurationRevisions",
      "operationName" : "ListConfigurationRevisions",
      "returnType" : {
        "returnType" : "ListConfigurationRevisionsResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "ListConfigurationRevisionsResult"
    },
    "ListConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationsRequest, ListConfigurationsResult>",
      "asyncReturnType" : "ListConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a list of all configurations.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListConfigurationsRequest",
        "variableName" : "listConfigurationsRequest",
        "variableType" : "ListConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationsRequest",
        "variableSetterType" : "ListConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurations",
      "operationName" : "ListConfigurations",
      "returnType" : {
        "returnType" : "ListConfigurationsResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "ListConfigurationsResult"
    },
    "ListUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersRequest, ListUsersResult>",
      "asyncReturnType" : "ListUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a list of all ActiveMQ users.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListUsersRequest",
        "variableName" : "listUsersRequest",
        "variableType" : "ListUsersRequest",
        "documentation" : "",
        "simpleType" : "ListUsersRequest",
        "variableSetterType" : "ListUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsers",
      "operationName" : "ListUsers",
      "returnType" : {
        "returnType" : "ListUsersResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "ListUsersResult"
    },
    "RebootBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebootBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebootBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebootBrokerRequest, RebootBrokerResult>",
      "asyncReturnType" : "RebootBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Reboots a broker. Note: This API is asynchronous.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RebootBrokerRequest",
        "variableName" : "rebootBrokerRequest",
        "variableType" : "RebootBrokerRequest",
        "documentation" : "",
        "simpleType" : "RebootBrokerRequest",
        "variableSetterType" : "RebootBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebootBroker",
      "operationName" : "RebootBroker",
      "returnType" : {
        "returnType" : "RebootBrokerResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "RebootBrokerResult"
    },
    "UpdateBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBrokerRequest, UpdateBrokerResult>",
      "asyncReturnType" : "UpdateBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Adds a pending configuration change to a broker.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateBrokerRequest",
        "variableName" : "updateBrokerRequest",
        "variableType" : "UpdateBrokerRequest",
        "documentation" : "Updates the broker using the specified properties.",
        "simpleType" : "UpdateBrokerRequest",
        "variableSetterType" : "UpdateBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBroker",
      "operationName" : "UpdateBroker",
      "returnType" : {
        "returnType" : "UpdateBrokerResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "UpdateBrokerResult"
    },
    "UpdateConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConfigurationRequest, UpdateConfigurationResult>",
      "asyncReturnType" : "UpdateConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates the specified configuration.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "HTTP Status Code 409: Conflict. This configuration name already exists. Retry your request with another configuration name.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your input and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateConfigurationRequest",
        "variableName" : "updateConfigurationRequest",
        "variableType" : "UpdateConfigurationRequest",
        "documentation" : "Updates the specified configuration.",
        "simpleType" : "UpdateConfigurationRequest",
        "variableSetterType" : "UpdateConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConfiguration",
      "operationName" : "UpdateConfiguration",
      "returnType" : {
        "returnType" : "UpdateConfigurationResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "UpdateConfigurationResult"
    },
    "UpdateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserRequest, UpdateUserResult>",
      "asyncReturnType" : "UpdateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates the information for an ActiveMQ user.",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "HTTP Status Code 409: Conflict. Retry your request.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateUserRequest",
        "variableName" : "updateUserRequest",
        "variableType" : "UpdateUserRequest",
        "documentation" : "Updates the information for an ActiveMQ user.",
        "simpleType" : "UpdateUserRequest",
        "variableSetterType" : "UpdateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUser",
      "operationName" : "UpdateUser",
      "returnType" : {
        "returnType" : "UpdateUserResult",
        "documentation" : "HTTP Status Code 200: OK."
      },
      "syncReturnType" : "UpdateUserResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Returns information about an error.",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ErrorAttribute",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The error attribute.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The error attribute.\n@param errorAttribute The error attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorAttribute",
        "getterDocumentation" : "/**The error attribute.\n@return The error attribute.*/",
        "getterMethodName" : "getErrorAttribute",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "errorAttribute",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "errorAttribute",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorAttribute",
        "setterDocumentation" : "/**The error attribute.\n@param errorAttribute The error attribute.*/",
        "setterMethodName" : "setErrorAttribute",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "errorAttribute",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The error attribute.\n@param errorAttribute The error attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "errorAttribute",
          "variableType" : "String",
          "documentation" : "The error attribute.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ErrorAttribute" : {
          "c2jName" : "ErrorAttribute",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The error attribute.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The error attribute.\n@param errorAttribute The error attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorAttribute",
          "getterDocumentation" : "/**The error attribute.\n@return The error attribute.*/",
          "getterMethodName" : "getErrorAttribute",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "errorAttribute",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "errorAttribute",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorAttribute",
          "setterDocumentation" : "/**The error attribute.\n@param errorAttribute The error attribute.*/",
          "setterMethodName" : "setErrorAttribute",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "errorAttribute",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The error attribute.\n@param errorAttribute The error attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "errorAttribute",
            "variableType" : "String",
            "documentation" : "The error attribute.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "BrokerInstance" : {
      "c2jName" : "BrokerInstance",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Returns information about all brokers.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ConsoleURL",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The URL of the broker's ActiveMQ Web Console.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The URL of the broker's ActiveMQ Web Console.\n@param consoleURL The URL of the broker's ActiveMQ Web Console.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConsoleURL",
        "getterDocumentation" : "/**The URL of the broker's ActiveMQ Web Console.\n@return The URL of the broker's ActiveMQ Web Console.*/",
        "getterMethodName" : "getConsoleURL",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "consoleURL",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "consoleURL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConsoleURL",
        "setterDocumentation" : "/**The URL of the broker's ActiveMQ Web Console.\n@param consoleURL The URL of the broker's ActiveMQ Web Console.*/",
        "setterMethodName" : "setConsoleURL",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "consoleURL",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The URL of the broker's ActiveMQ Web Console.\n@param consoleURL The URL of the broker's ActiveMQ Web Console.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "consoleURL",
          "variableType" : "String",
          "documentation" : "The URL of the broker's ActiveMQ Web Console.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Endpoints",
        "c2jShape" : "ListOf__string",
        "deprecated" : false,
        "documentation" : "The broker's wire-level protocol endpoints.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The broker's wire-level protocol endpoints.\n@param endpoints The broker's wire-level protocol endpoints.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndpoints",
        "getterDocumentation" : "/**The broker's wire-level protocol endpoints.\n@return The broker's wire-level protocol endpoints.*/",
        "getterMethodName" : "getEndpoints",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "endpoints",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "endpoints",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Endpoints",
        "setterDocumentation" : "/**The broker's wire-level protocol endpoints.\n@param endpoints The broker's wire-level protocol endpoints.*/",
        "setterMethodName" : "setEndpoints",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "endpoints",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The broker's wire-level protocol endpoints.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEndpoints(java.util.Collection)} or {@link #withEndpoints(java.util.Collection)} if you want to override the existing values.</p>\n@param endpoints The broker's wire-level protocol endpoints.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "endpoints",
          "variableType" : "java.util.List<String>",
          "documentation" : "The broker's wire-level protocol endpoints.",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConsoleURL" : {
          "c2jName" : "ConsoleURL",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The URL of the broker's ActiveMQ Web Console.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The URL of the broker's ActiveMQ Web Console.\n@param consoleURL The URL of the broker's ActiveMQ Web Console.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConsoleURL",
          "getterDocumentation" : "/**The URL of the broker's ActiveMQ Web Console.\n@return The URL of the broker's ActiveMQ Web Console.*/",
          "getterMethodName" : "getConsoleURL",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "consoleURL",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "consoleURL",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConsoleURL",
          "setterDocumentation" : "/**The URL of the broker's ActiveMQ Web Console.\n@param consoleURL The URL of the broker's ActiveMQ Web Console.*/",
          "setterMethodName" : "setConsoleURL",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "consoleURL",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The URL of the broker's ActiveMQ Web Console.\n@param consoleURL The URL of the broker's ActiveMQ Web Console.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "consoleURL",
            "variableType" : "String",
            "documentation" : "The URL of the broker's ActiveMQ Web Console.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Endpoints" : {
          "c2jName" : "Endpoints",
          "c2jShape" : "ListOf__string",
          "deprecated" : false,
          "documentation" : "The broker's wire-level protocol endpoints.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The broker's wire-level protocol endpoints.\n@param endpoints The broker's wire-level protocol endpoints.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndpoints",
          "getterDocumentation" : "/**The broker's wire-level protocol endpoints.\n@return The broker's wire-level protocol endpoints.*/",
          "getterMethodName" : "getEndpoints",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "endpoints",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "endpoints",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "__string",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Endpoints",
          "setterDocumentation" : "/**The broker's wire-level protocol endpoints.\n@param endpoints The broker's wire-level protocol endpoints.*/",
          "setterMethodName" : "setEndpoints",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "endpoints",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The broker's wire-level protocol endpoints.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEndpoints(java.util.Collection)} or {@link #withEndpoints(java.util.Collection)} if you want to override the existing values.</p>\n@param endpoints The broker's wire-level protocol endpoints.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "endpoints",
            "variableType" : "java.util.List<String>",
            "documentation" : "The broker's wire-level protocol endpoints.",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BrokerInstance",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BrokerInstance",
        "variableName" : "brokerInstance",
        "variableType" : "BrokerInstance",
        "documentation" : null,
        "simpleType" : "BrokerInstance",
        "variableSetterType" : "BrokerInstance"
      },
      "wrapper" : false
    },
    "BrokerState" : {
      "c2jName" : "BrokerState",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS",
      "enums" : [ {
        "name" : "CREATION_IN_PROGRESS",
        "value" : "CREATION_IN_PROGRESS"
      }, {
        "name" : "CREATION_FAILED",
        "value" : "CREATION_FAILED"
      }, {
        "name" : "DELETION_IN_PROGRESS",
        "value" : "DELETION_IN_PROGRESS"
      }, {
        "name" : "RUNNING",
        "value" : "RUNNING"
      }, {
        "name" : "REBOOT_IN_PROGRESS",
        "value" : "REBOOT_IN_PROGRESS"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BrokerState",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BrokerState",
        "variableName" : "brokerState",
        "variableType" : "BrokerState",
        "documentation" : null,
        "simpleType" : "BrokerState",
        "variableSetterType" : "BrokerState"
      },
      "wrapper" : false
    },
    "BrokerSummary" : {
      "c2jName" : "BrokerSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The Amazon Resource Name (ARN) of the broker.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BrokerArn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The Amazon Resource Name (ARN) of the broker.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) of the broker.\n@param brokerArn The Amazon Resource Name (ARN) of the broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBrokerArn",
        "getterDocumentation" : "/**The Amazon Resource Name (ARN) of the broker.\n@return The Amazon Resource Name (ARN) of the broker.*/",
        "getterMethodName" : "getBrokerArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "brokerArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "brokerArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BrokerArn",
        "setterDocumentation" : "/**The Amazon Resource Name (ARN) of the broker.\n@param brokerArn The Amazon Resource Name (ARN) of the broker.*/",
        "setterMethodName" : "setBrokerArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "brokerArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) of the broker.\n@param brokerArn The Amazon Resource Name (ARN) of the broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "brokerArn",
          "variableType" : "String",
          "documentation" : "The Amazon Resource Name (ARN) of the broker.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BrokerId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The unique ID that Amazon MQ generates for the broker.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The unique ID that Amazon MQ generates for the broker.\n@param brokerId The unique ID that Amazon MQ generates for the broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBrokerId",
        "getterDocumentation" : "/**The unique ID that Amazon MQ generates for the broker.\n@return The unique ID that Amazon MQ generates for the broker.*/",
        "getterMethodName" : "getBrokerId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "brokerId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "brokerId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BrokerId",
        "setterDocumentation" : "/**The unique ID that Amazon MQ generates for the broker.\n@param brokerId The unique ID that Amazon MQ generates for the broker.*/",
        "setterMethodName" : "setBrokerId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "brokerId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The unique ID that Amazon MQ generates for the broker.\n@param brokerId The unique ID that Amazon MQ generates for the broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "brokerId",
          "variableType" : "String",
          "documentation" : "The unique ID that Amazon MQ generates for the broker.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BrokerName",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.\n@param brokerName The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBrokerName",
        "getterDocumentation" : "/**The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.\n@return The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.*/",
        "getterMethodName" : "getBrokerName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "brokerName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "brokerName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BrokerName",
        "setterDocumentation" : "/**The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.\n@param brokerName The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.*/",
        "setterMethodName" : "setBrokerName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "brokerName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.\n@param brokerName The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "brokerName",
          "variableType" : "String",
          "documentation" : "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BrokerState",
        "c2jShape" : "BrokerState",
        "deprecated" : false,
        "documentation" : "The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS",
        "enumType" : "BrokerState",
        "fluentSetterDocumentation" : "/**The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS\n@param brokerState The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS\n@return Returns a reference to this object so that method calls can be chained together.\n@see BrokerState*/",
        "fluentSetterMethodName" : "withBrokerState",
        "getterDocumentation" : "/**The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS\n@return The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS\n@see BrokerState*/",
        "getterMethodName" : "getBrokerState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "brokerState",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "brokerState",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BrokerState",
        "setterDocumentation" : "/**The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS\n@param brokerState The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS\n@see BrokerState*/",
        "setterMethodName" : "setBrokerState",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "brokerState",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS\n@param brokerState The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS\n@return Returns a reference to this object so that method calls can be chained together.\n@see BrokerState*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "brokerState",
          "variableType" : "String",
          "documentation" : "The status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS, RUNNING, REBOOT_IN_PROGRESS",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DeploymentMode",
        "c2jShape" : "DeploymentMode",
        "deprecated" : false,
        "documentation" : "Required. The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone. ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.",
        "enumType" : "DeploymentMode",
        "fluentSetterDocumentation" : "/**Required. The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone. ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\n@param deploymentMode Required. The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone. ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DeploymentMode*/",
        "fluentSetterMethodName" : "withDeploymentMode",
        "getterDocumentation" : "/**Required. The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone. ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\n@return Required. The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone. ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\n@see DeploymentMode*/",
        "getterMethodName" : "getDeploymentMode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deploymentMode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deploymentMode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeploymentMode",
        "setterDocumentation" : "/**Required. The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone. ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\n@param deploymentMode Required. The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone. ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\n@see DeploymentMode*/",
        "setterMethodName" : "setDeploymentMode",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "deploymentMode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Required. The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone. ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\n@param deploymentMode Required. The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone. ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DeploymentMode*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "deploymentMode",
          "variableType" : "String",
          "documentation" : "Required. The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone. ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HostInstanceType",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The broker's instance type. Possible values: mq.t2.micro, mq.m4.large",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The broker's instance type. Possible values: mq.t2.micro, mq.m4.large\n@param hostInstanceType The broker's instance type. Possible values: mq.t2.micro, mq.m4.large\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHostInstanceType",
        "getterDocumentation" : "/**The broker's instance type. Possible values: mq.t2.micro, mq.m4.large\n@return The broker's instance type. Possible values: mq.t2.micro, mq.m4.large*/",
        "getterMethodName" : "getHostInstanceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "hostInstanceType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "hostInstanceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HostInstanceType",
        "setterDocumentation" : "/**The broker's instance type. Possible values: mq.t2.micro, mq.m4.large\n@param hostInstanceType The broker's instance type. Possible values: mq.t2.micro, mq.m4.large*/",
        "setterMethodName" : "setHostInstanceType",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "hostInstanceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The broker's instance type. Possible values: mq.t2.micro, mq.m4.large\n@param hostInstanceType The broker's instance type. Possible values: mq.t2.micro, mq.m4.large\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "hostInstanceType",
          "variableType" : "String",
          "documentation" : "The broker's instance type. Possible values: mq.t2.micro, mq.m4.large",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BrokerArn" : {
          "c2jName" : "BrokerArn",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The Amazon Resource Name (ARN) of the broker.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) of the broker.\n@param brokerArn The Amazon Resource Name (ARN) of the broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBrokerArn",
          "getterDocumentation" : "/**The Amazon Resource Name (ARN) of the broker.\n@return The Amazon Resource Name (ARN) of the broker.*/",
          "getterMethodName" : "getBrokerArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "brokerArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "brokerArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BrokerArn",
          "setterDocumentation" : "/**The Amazon Resource Name (ARN) of the broker.\n@param brokerArn The Amazon Resource Name (ARN) of the broker.*/",
          "setterMethodName" : "setBrokerArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "brokerArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) of the broker.\n@param brokerArn The Amazon Resource Name (ARN) of the broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "brokerArn",
            "variableType" : "String",
            "documentation" : "The Amazon Resource Name (ARN) of the broker.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "BrokerId" : {
          "c2jName" : "BrokerId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The unique ID that Amazon MQ generates for the broker.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The unique ID that Amazon MQ generates for the broker.\n@param brokerId The unique ID that Amazon MQ generates for the broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBrokerId",
          "getterDocumentation" : "/**The unique ID that Amazon MQ generates for the broker.\n@return The unique ID that Amazon MQ generates for the broker.*/",
          "getterMethodName" : "getBrokerId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "brokerId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "brokerId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BrokerId",
          "setterDocumentation" : "/**The unique ID that Amazon MQ generates for the broker.\n@param brokerId The unique ID that Amazon MQ generates for the broker.*/",
          "setterMethodName" : "setBrokerId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "brokerId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The unique ID that Amazon MQ generates for the broker.\n@param brokerId The unique ID that Amazon MQ generates for the broker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "brokerId",
            "variableType" : "String",
            "documentation" : "The unique ID that Amazon MQ generates for the broker.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "BrokerName" : {
          "c2jName" : "BrokerName",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.\n@param brokerName The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBrokerName",
          "getterDocumentation" : "/**The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.\n@return The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.*/",
          "getterMethodName" : "getBrokerName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "brokerName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "brokerName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BrokerName",
[...]
