{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-27",
    "asyncClient" : "AmazonMQAsyncClient",
    "asyncClientBuilderClassName" : "AmazonMQAsyncClientBuilder",
    "asyncInterface" : "AmazonMQAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonMQModuleInjector",
    "defaultEndpoint" : "mq.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mq.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon MQ is a managed message broker service for Apache ActiveMQ and RabbitMQ that makes it easy to set up and operate message brokers in the cloud. A message broker allows software applications and components to communicate using various programming languages, operating systems, and formal messaging protocols.</p>",
    "endpointPrefix" : "mq",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mq",
    "packagePath" : "com/amazonaws/services/mq",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AmazonMQ",
    "serviceId" : "mq",
    "serviceName" : "AmazonMQ",
    "signingName" : "mq",
    "smokeTestsPackageName" : "com.amazonaws.services.mq.smoketests",
    "syncClient" : "AmazonMQClient",
    "syncClientBuilderClassName" : "AmazonMQClientBuilder",
    "syncInterface" : "AmazonMQ",
    "uid" : "mq-2017-11-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBrokerRequest, CreateBrokerResult>",
      "asyncReturnType" : "CreateBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a broker. Note: This API is asynchronous.</p> <p>To create a broker, you must either use the AmazonMQFullAccess IAM policy or include the following EC2 permissions in your IAM policy.</p> <ul><li><p>ec2:CreateNetworkInterface</p> <p>This permission is required to allow Amazon MQ to create an elastic network interface (ENI) on behalf of your account.</p></li> <li><p>ec2:CreateNetworkInterfacePermission</p> <p>This permission is required to attach the ENI to the broker instance.</p></li> <li><p>ec2:DeleteNetworkInterface</p></li> <li><p>ec2:DeleteNetworkInterfacePermission</p></li> <li><p>ec2:DetachNetworkInterface</p></li> <li><p>ec2:DescribeInternetGateways</p></li> <li><p>ec2:DescribeNetworkInterfaces</p></li> <li><p>ec2:DescribeNetworkInterfacePermissions</p></li> <li><p>ec2:DescribeRouteTables</p></li> <li><p>ec2:DescribeSecurityGroups</p></li> <li><p>ec2:DescribeSubnets</p></li> <li><p>ec2:DescribeVpcs</p></li></ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/amazon-mq-setting-up.html#create-iam-user\">Create an IAM User and Get Your AWS Credentials</a> and <a href=\"https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/connecting-to-amazon-mq.html#never-modify-delete-elastic-network-interface\">Never Modify or Delete the Amazon MQ Elastic Network Interface</a> in the <i>Amazon MQ Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBrokerRequest",
        "variableName" : "createBrokerRequest",
        "variableType" : "CreateBrokerRequest",
        "documentation" : "<p>Creates a broker using the specified properties.</p>",
        "simpleType" : "CreateBrokerRequest",
        "variableSetterType" : "CreateBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBroker",
      "operationName" : "CreateBroker",
      "returnType" : {
        "returnType" : "CreateBrokerResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "CreateBrokerResult"
    },
    "CreateConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationRequest, CreateConfigurationResult>",
      "asyncReturnType" : "CreateConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new configuration for the specified configuration name. Amazon MQ uses the default configuration (the engine type and version).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationRequest",
        "variableName" : "createConfigurationRequest",
        "variableType" : "CreateConfigurationRequest",
        "documentation" : "<p>Creates a new configuration for the specified configuration name. Amazon MQ uses the default configuration (the engine type and version).</p>",
        "simpleType" : "CreateConfigurationRequest",
        "variableSetterType" : "CreateConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfiguration",
      "operationName" : "CreateConfiguration",
      "returnType" : {
        "returnType" : "CreateConfigurationResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "CreateConfigurationResult"
    },
    "CreateTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, CreateTagsResult>",
      "asyncReturnType" : "CreateTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add a tag to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTagsRequest",
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "documentation" : "<p>A map of the key-value pairs for the resource tag.</p>",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTags",
      "operationName" : "CreateTags",
      "returnType" : {
        "returnType" : "CreateTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTagsResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an ActiveMQ user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "<p>Creates a new ActiveMQ user.</p>",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeleteBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBrokerRequest, DeleteBrokerResult>",
      "asyncReturnType" : "DeleteBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a broker. Note: This API is asynchronous.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBrokerRequest",
        "variableName" : "deleteBrokerRequest",
        "variableType" : "DeleteBrokerRequest",
        "documentation" : "",
        "simpleType" : "DeleteBrokerRequest",
        "variableSetterType" : "DeleteBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBroker",
      "operationName" : "DeleteBroker",
      "returnType" : {
        "returnType" : "DeleteBrokerResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "DeleteBrokerResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an ActiveMQ user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DescribeBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBrokerRequest, DescribeBrokerResult>",
      "asyncReturnType" : "DescribeBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the specified broker.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBrokerRequest",
        "variableName" : "describeBrokerRequest",
        "variableType" : "DescribeBrokerRequest",
        "documentation" : "",
        "simpleType" : "DescribeBrokerRequest",
        "variableSetterType" : "DescribeBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBroker",
      "operationName" : "DescribeBroker",
      "returnType" : {
        "returnType" : "DescribeBrokerResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "DescribeBrokerResult"
    },
    "DescribeBrokerEngineTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBrokerEngineTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBrokerEngineTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBrokerEngineTypesRequest, DescribeBrokerEngineTypesResult>",
      "asyncReturnType" : "DescribeBrokerEngineTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describe available engine types and versions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBrokerEngineTypesRequest",
        "variableName" : "describeBrokerEngineTypesRequest",
        "variableType" : "DescribeBrokerEngineTypesRequest",
        "documentation" : "",
        "simpleType" : "DescribeBrokerEngineTypesRequest",
        "variableSetterType" : "DescribeBrokerEngineTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBrokerEngineTypes",
      "operationName" : "DescribeBrokerEngineTypes",
      "returnType" : {
        "returnType" : "DescribeBrokerEngineTypesResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "DescribeBrokerEngineTypesResult"
    },
    "DescribeBrokerInstanceOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBrokerInstanceOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBrokerInstanceOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBrokerInstanceOptionsRequest, DescribeBrokerInstanceOptionsResult>",
      "asyncReturnType" : "DescribeBrokerInstanceOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describe available broker instance options.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBrokerInstanceOptionsRequest",
        "variableName" : "describeBrokerInstanceOptionsRequest",
        "variableType" : "DescribeBrokerInstanceOptionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeBrokerInstanceOptionsRequest",
        "variableSetterType" : "DescribeBrokerInstanceOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBrokerInstanceOptions",
      "operationName" : "DescribeBrokerInstanceOptions",
      "returnType" : {
        "returnType" : "DescribeBrokerInstanceOptionsResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "DescribeBrokerInstanceOptionsResult"
    },
    "DescribeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRequest, DescribeConfigurationResult>",
      "asyncReturnType" : "DescribeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the specified configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationRequest",
        "variableName" : "describeConfigurationRequest",
        "variableType" : "DescribeConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationRequest",
        "variableSetterType" : "DescribeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfiguration",
      "operationName" : "DescribeConfiguration",
      "returnType" : {
        "returnType" : "DescribeConfigurationResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "DescribeConfigurationResult"
    },
    "DescribeConfigurationRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRevisionRequest, DescribeConfigurationRevisionResult>",
      "asyncReturnType" : "DescribeConfigurationRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the specified configuration revision for the specified configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationRevisionRequest",
        "variableName" : "describeConfigurationRevisionRequest",
        "variableType" : "DescribeConfigurationRevisionRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationRevisionRequest",
        "variableSetterType" : "DescribeConfigurationRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationRevision",
      "operationName" : "DescribeConfigurationRevision",
      "returnType" : {
        "returnType" : "DescribeConfigurationRevisionResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "DescribeConfigurationRevisionResult"
    },
    "DescribeUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserRequest, DescribeUserResult>",
      "asyncReturnType" : "DescribeUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an ActiveMQ user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserRequest",
        "variableName" : "describeUserRequest",
        "variableType" : "DescribeUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserRequest",
        "variableSetterType" : "DescribeUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUser",
      "operationName" : "DescribeUser",
      "returnType" : {
        "returnType" : "DescribeUserResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "DescribeUserResult"
    },
    "ListBrokers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBrokersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBrokersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBrokersRequest, ListBrokersResult>",
      "asyncReturnType" : "ListBrokersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all brokers.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBrokersRequest",
        "variableName" : "listBrokersRequest",
        "variableType" : "ListBrokersRequest",
        "documentation" : "",
        "simpleType" : "ListBrokersRequest",
        "variableSetterType" : "ListBrokersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBrokers",
      "operationName" : "ListBrokers",
      "returnType" : {
        "returnType" : "ListBrokersResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "ListBrokersResult"
    },
    "ListConfigurationRevisions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationRevisionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationRevisionsRequest, ListConfigurationRevisionsResult>",
      "asyncReturnType" : "ListConfigurationRevisionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all revisions for the specified configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigurationRevisionsRequest",
        "variableName" : "listConfigurationRevisionsRequest",
        "variableType" : "ListConfigurationRevisionsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationRevisionsRequest",
        "variableSetterType" : "ListConfigurationRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurationRevisions",
      "operationName" : "ListConfigurationRevisions",
      "returnType" : {
        "returnType" : "ListConfigurationRevisionsResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "ListConfigurationRevisionsResult"
    },
    "ListConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationsRequest, ListConfigurationsResult>",
      "asyncReturnType" : "ListConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all configurations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigurationsRequest",
        "variableName" : "listConfigurationsRequest",
        "variableType" : "ListConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationsRequest",
        "variableSetterType" : "ListConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurations",
      "operationName" : "ListConfigurations",
      "returnType" : {
        "returnType" : "ListConfigurationsResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "ListConfigurationsResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "ListTagsResult"
    },
    "ListUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersRequest, ListUsersResult>",
      "asyncReturnType" : "ListUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all ActiveMQ users.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsersRequest",
        "variableName" : "listUsersRequest",
        "variableType" : "ListUsersRequest",
        "documentation" : "",
        "simpleType" : "ListUsersRequest",
        "variableSetterType" : "ListUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsers",
      "operationName" : "ListUsers",
      "returnType" : {
        "returnType" : "ListUsersResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "ListUsersResult"
    },
    "RebootBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebootBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebootBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebootBrokerRequest, RebootBrokerResult>",
      "asyncReturnType" : "RebootBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Reboots a broker. Note: This API is asynchronous.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RebootBrokerRequest",
        "variableName" : "rebootBrokerRequest",
        "variableType" : "RebootBrokerRequest",
        "documentation" : "",
        "simpleType" : "RebootBrokerRequest",
        "variableSetterType" : "RebootBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebootBroker",
      "operationName" : "RebootBroker",
      "returnType" : {
        "returnType" : "RebootBrokerResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "RebootBrokerResult"
    },
    "UpdateBroker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateBrokerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateBrokerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateBrokerRequest, UpdateBrokerResult>",
      "asyncReturnType" : "UpdateBrokerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a pending configuration change to a broker.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateBrokerRequest",
        "variableName" : "updateBrokerRequest",
        "variableType" : "UpdateBrokerRequest",
        "documentation" : "<p>Updates the broker using the specified properties.</p>",
        "simpleType" : "UpdateBrokerRequest",
        "variableSetterType" : "UpdateBrokerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateBroker",
      "operationName" : "UpdateBroker",
      "returnType" : {
        "returnType" : "UpdateBrokerResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "UpdateBrokerResult"
    },
    "UpdateConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConfigurationRequest, UpdateConfigurationResult>",
      "asyncReturnType" : "UpdateConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateConfigurationRequest",
        "variableName" : "updateConfigurationRequest",
        "variableType" : "UpdateConfigurationRequest",
        "documentation" : "<p>Updates the specified configuration.</p>",
        "simpleType" : "UpdateConfigurationRequest",
        "variableSetterType" : "UpdateConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConfiguration",
      "operationName" : "UpdateConfiguration",
      "returnType" : {
        "returnType" : "UpdateConfigurationResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "UpdateConfigurationResult"
    },
    "UpdateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserRequest, UpdateUserResult>",
      "asyncReturnType" : "UpdateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the information for an ActiveMQ user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserRequest",
        "variableName" : "updateUserRequest",
        "variableType" : "UpdateUserRequest",
        "documentation" : "<p>Updates the information for an ActiveMQ user.</p>",
        "simpleType" : "UpdateUserRequest",
        "variableSetterType" : "UpdateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUser",
      "operationName" : "UpdateUser",
      "returnType" : {
        "returnType" : "UpdateUserResult",
        "documentation" : "<p>HTTP Status Code 200: OK.</p>"
      },
      "syncReturnType" : "UpdateUserResult"
    }
  },
  "shapes" : {
    "AuthenticationStrategy" : {
      "c2jName" : "AuthenticationStrategy",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Optional. The authentication strategy used to secure the broker. The default is SIMPLE.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "SIMPLE",
        "value" : "SIMPLE"
      }, {
        "name" : "LDAP",
        "value" : "LDAP"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mq.enum.AuthenticationStrategy",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.mq.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AuthenticationStrategy",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthenticationStrategy",
        "variableName" : "authenticationStrategy",
        "variableType" : "AuthenticationStrategy",
        "documentation" : null,
        "simpleType" : "AuthenticationStrategy",
        "variableSetterType" : "AuthenticationStrategy"
      },
      "wrapper" : false
    },
    "AvailabilityZone" : {
      "c2jName" : "AvailabilityZone",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Name of the availability zone.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mq.model.AvailabilityZone",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>Id for the availability zone.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Id for the availability zone.</p>\n@param name Id for the availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>Id for the availability zone.</p>\n@return Id for the availability zone.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Id for the availability zone.</p>\n@param name Id for the availability zone.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Id for the availability zone.</p>\n@param name Id for the availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>Id for the availability zone.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>Id for the availability zone.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Id for the availability zone.</p>\n@param name Id for the availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>Id for the availability zone.</p>\n@return Id for the availability zone.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Id for the availability zone.</p>\n@param name Id for the availability zone.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Id for the availability zone.</p>\n@param name Id for the availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>Id for the availability zone.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.mq.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AvailabilityZone",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AvailabilityZone",
        "variableName" : "availabilityZone",
        "variableType" : "AvailabilityZone",
        "documentation" : null,
        "simpleType" : "AvailabilityZone",
        "variableSetterType" : "AvailabilityZone"
      },
      "wrapper" : false
    },
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Returns information about an error.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "BadRequestException",
      "fullyQualifiedName" : "com.amazonaws.services.mq.exception.BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ErrorAttribute",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The attribute which caused the error.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The attribute which caused the error.</p>\n@param errorAttribute The attribute which caused the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorAttribute",
        "getterDocumentation" : "/**<p>The attribute which caused the error.</p>\n@return The attribute which caused the error.*/",
        "getterMethodName" : "getErrorAttribute",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "errorAttribute",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "errorAttribute",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorAttribute",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The attribute which caused the error.</p>\n@param errorAttribute The attribute which caused the error.*/",
        "setterMethodName" : "setErrorAttribute",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorAttribute",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The attribute which caused the error.</p>\n@param errorAttribute The attribute which caused the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorAttribute",
          "variableType" : "String",
          "documentation" : "<p>The attribute which caused the error.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ErrorAttribute" : {
          "c2jName" : "ErrorAttribute",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The attribute which caused the error.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The attribute which caused the error.</p>\n@param errorAttribute The attribute which caused the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorAttribute",
          "getterDocumentation" : "/**<p>The attribute which caused the error.</p>\n@return The attribute which caused the error.*/",
          "getterMethodName" : "getErrorAttribute",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "errorAttribute",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "errorAttribute",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorAttribute",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The attribute which caused the error.</p>\n@param errorAttribute The attribute which caused the error.*/",
          "setterMethodName" : "setErrorAttribute",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorAttribute",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The attribute which caused the error.</p>\n@param errorAttribute The attribute which caused the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorAttribute",
            "variableType" : "String",
            "documentation" : "<p>The attribute which caused the error.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.mq.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "BrokerEngineType" : {
      "c2jName" : "BrokerEngineType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Types of broker engines.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mq.model.BrokerEngineType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "EngineType",
        "c2jShape" : "EngineType",
        "deprecated" : false,
        "documentation" : "<p>The broker's engine type.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "EngineType",
        "fluentSetterDocumentation" : "/**<p>The broker's engine type.</p>\n@param engineType The broker's engine type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EngineType*/",
        "fluentSetterMethodName" : "withEngineType",
        "getterDocumentation" : "/**<p>The broker's engine type.</p>\n@return The broker's engine type.\n@see EngineType*/",
        "getterMethodName" : "getEngineType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "engineType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "engineType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EngineType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The broker's engine type.</p>\n@param engineType The broker's engine type.\n@see EngineType*/",
        "setterMethodName" : "setEngineType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "engineType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The broker's engine type.</p>\n@param engineType The broker's engine type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EngineType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "engineType",
          "variableType" : "String",
          "documentation" : "<p>The broker's engine type.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EngineVersions",
        "c2jShape" : "__listOfEngineVersion",
        "deprecated" : false,
        "documentation" : "<p>The list of engine versions.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The list of engine versions.</p>\n@param engineVersions The list of engine versions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEngineVersions",
        "getterDocumentation" : "/**<p>The list of engine versions.</p>\n@return The list of engine versions.*/",
        "getterMethodName" : "getEngineVersions",
        "getterModel" : {
          "returnType" : "java.util.List<EngineVersion>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "engineVersions",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "engineVersions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "EngineVersion",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "EngineVersion",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "EngineVersion",
              "variableName" : "member",
              "variableType" : "EngineVersion",
              "documentation" : "",
              "simpleType" : "EngineVersion",
              "variableSetterType" : "EngineVersion"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "EngineVersion",
              "variableName" : "member",
              "variableType" : "EngineVersion",
              "documentation" : "",
              "simpleType" : "EngineVersion",
              "variableSetterType" : "EngineVersion"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "EngineVersion",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "EngineVersion",
          "templateImplType" : "java.util.ArrayList<EngineVersion>",
          "templateType" : "java.util.List<EngineVersion>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "EngineVersions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The list of engine versions.</p>\n@param engineVersions The list of engine versions.*/",
        "setterMethodName" : "setEngineVersions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<EngineVersion>",
          "variableName" : "engineVersions",
          "variableType" : "java.util.List<EngineVersion>",
          "documentation" : "",
          "simpleType" : "List<EngineVersion>",
          "variableSetterType" : "java.util.Collection<EngineVersion>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The list of engine versions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEngineVersions(java.util.Collection)} or {@link #withEngineVersions(java.util.Collection)} if you want to override the existing values.</p>\n@param engineVersions The list of engine versions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<EngineVersion>",
          "variableName" : "engineVersions",
          "variableType" : "java.util.List<EngineVersion>",
          "documentation" : "<p>The list of engine versions.</p>",
          "simpleType" : "List<EngineVersion>",
          "variableSetterType" : "java.util.Collection<EngineVersion>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EngineType" : {
          "c2jName" : "EngineType",
          "c2jShape" : "EngineType",
          "deprecated" : false,
          "documentation" : "<p>The broker's engine type.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "EngineType",
          "fluentSetterDocumentation" : "/**<p>The broker's engine type.</p>\n@param engineType The broker's engine type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EngineType*/",
          "fluentSetterMethodName" : "withEngineType",
          "getterDocumentation" : "/**<p>The broker's engine type.</p>\n@return The broker's engine type.\n@see EngineType*/",
          "getterMethodName" : "getEngineType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "engineType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "engineType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EngineType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The broker's engine type.</p>\n@param engineType The broker's engine type.\n@see EngineType*/",
          "setterMethodName" : "setEngineType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "engineType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The broker's engine type.</p>\n@param engineType The broker's engine type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EngineType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "engineType",
            "variableType" : "String",
            "documentation" : "<p>The broker's engine type.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EngineVersions" : {
          "c2jName" : "EngineVersions",
          "c2jShape" : "__listOfEngineVersion",
          "deprecated" : false,
          "documentation" : "<p>The list of engine versions.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The list of engine versions.</p>\n@param engineVersions The list of engine versions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEngineVersions",
          "getterDocumentation" : "/**<p>The list of engine versions.</p>\n@return The list of engine versions.*/",
          "getterMethodName" : "getEngineVersions",
          "getterModel" : {
            "returnType" : "java.util.List<EngineVersion>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "engineVersions",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "engineVersions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "EngineVersion",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "EngineVersion",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "EngineVersion",
                "variableName" : "member",
                "variableType" : "EngineVersion",
                "documentation" : "",
                "simpleType" : "EngineVersion",
                "variableSetterType" : "EngineVersion"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "EngineVersion",
                "variableName" : "member",
                "variableType" : "EngineVersion",
                "documentation" : "",
                "simpleType" : "EngineVersion",
                "variableSetterType" : "EngineVersion"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "EngineVersion",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "EngineVersion",
            "templateImplType" : "java.util.ArrayList<EngineVersion>",
            "templateType" : "java.util.List<EngineVersion>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "EngineVersions",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The list of engine versions.</p>\n@param engineVersions The list of engine versions.*/",
          "setterMethodName" : "setEngineVersions",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<EngineVersion>",
            "variableName" : "engineVersions",
            "variableType" : "java.util.List<EngineVersion>",
            "documentation" : "",
            "simpleType" : "List<EngineVersion>",
            "variableSetterType" : "java.util.Collection<EngineVersion>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The list of engine versions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEngineVersions(java.util.Collection)} or {@link #withEngineVersions(java.util.Collection)} if you want to override the existing values.</p>\n@param engineVersions The list of engine versions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<EngineVersion>",
            "variableName" : "engineVersions",
            "variableType" : "java.util.List<EngineVersion>",
            "documentation" : "<p>The list of engine versions.</p>",
            "simpleType" : "List<EngineVersion>",
            "variableSetterType" : "java.util.Collection<EngineVersion>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.mq.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BrokerEngineType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BrokerEngineType",
        "variableName" : "brokerEngineType",
        "variableType" : "BrokerEngineType",
        "documentation" : null,
        "simpleType" : "BrokerEngineType",
        "variableSetterType" : "BrokerEngineType"
      },
      "wrapper" : false
    },
    "BrokerInstance" : {
      "c2jName" : "BrokerInstance",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Returns information about all brokers.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.mq.model.BrokerInstance",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ConsoleURL",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The brokers web console URL.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The brokers web console URL.</p>\n@param consoleURL The brokers web console URL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConsoleURL",
        "getterDocumentation" : "/**<p>The brokers web console URL.</p>\n@return The brokers web console URL.*/",
        "getterMethodName" : "getConsoleURL",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "consoleURL",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "consoleURL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConsoleURL",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The brokers web console URL.</p>\n@param consoleURL The brokers web console URL.*/",
        "setterMethodName" : "setConsoleURL",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "consoleURL",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The brokers web console URL.</p>\n@param consoleURL The brokers web console URL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "consoleURL",
          "variableType" : "String",
          "documentation" : "<p>The brokers web console URL.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Endpoints",
        "c2jShape" : "__listOf__string",
        "deprecated" : false,
        "documentation" : "<p>The broker's wire-level protocol endpoints.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The broker's wire-level protocol endpoints.</p>\n@param endpoints The broker's wire-level protocol endpoints.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndpoints",
        "getterDocumentation" : "/**<p>The broker's wire-level protocol endpoints.</p>\n@return The broker's wire-level protocol endpoints.*/",
        "getterMethodName" : "getEndpoints",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
[...]
