{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : {
      "Assignment" : [ "AssignmentStatus" ],
      "CreateQualificationTypeRequest" : [ "QualificationTypeStatus" ],
      "HIT" : [ "HITStatus", "HITReviewStatus" ],
      "ListReviewableHITsRequest" : [ "Status" ],
      "ListWorkersWithQualificationTypeRequest" : [ "Status" ],
      "NotificationSpecification" : [ "Transport" ],
      "NotifyWorkersFailureStatus" : [ "NotifyWorkersFailureCode" ],
      "Qualification" : [ "Status" ],
      "QualificationRequirement" : [ "Comparator" ],
      "QualificationType" : [ "QualificationTypeStatus" ],
      "ReviewActionDetail" : [ "Status" ],
      "SendTestEventNotificationRequest" : [ "TestEventType" ],
      "UpdateQualificationTypeRequest" : [ "QualificationTypeStatus" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-01-17",
    "asyncClient" : "AmazonMTurkAsyncClient",
    "asyncClientBuilderClassName" : "AmazonMTurkAsyncClientBuilder",
    "asyncInterface" : "AmazonMTurkAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonMTurkModuleInjector",
    "defaultEndpoint" : "mturk-requester.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "mturk-requester.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Mechanical Turk API Reference</fullname>",
    "endpointPrefix" : "mturk-requester",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.mturk",
    "packagePath" : "com/amazonaws/services/mturk",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon MTurk",
    "serviceFullName" : "Amazon Mechanical Turk",
    "serviceId" : "MTurk",
    "serviceName" : "Amazon MTurk",
    "signingName" : "mturk-requester",
    "smokeTestsPackageName" : "com.amazonaws.services.mturk.smoketests",
    "syncClient" : "AmazonMTurkClient",
    "syncClientBuilderClassName" : "AmazonMTurkClientBuilder",
    "syncInterface" : "AmazonMTurk",
    "uid" : "mturk-requester-2017-01-17",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptQualificationRequest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptQualificationRequestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptQualificationRequestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptQualificationRequestRequest, AcceptQualificationRequestResult>",
      "asyncReturnType" : "AcceptQualificationRequestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>AcceptQualificationRequest</code> operation approves a Worker's request for a Qualification. </p> <p> Only the owner of the Qualification type can grant a Qualification request for that type. </p> <p> A successful request for the <code>AcceptQualificationRequest</code> operation returns with no errors and an empty body. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptQualificationRequestRequest",
        "variableName" : "acceptQualificationRequestRequest",
        "variableType" : "AcceptQualificationRequestRequest",
        "documentation" : "",
        "simpleType" : "AcceptQualificationRequestRequest",
        "variableSetterType" : "AcceptQualificationRequestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptQualificationRequest",
      "operationName" : "AcceptQualificationRequest",
      "returnType" : {
        "returnType" : "AcceptQualificationRequestResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptQualificationRequestResult"
    },
    "ApproveAssignment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ApproveAssignmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ApproveAssignmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ApproveAssignmentRequest, ApproveAssignmentResult>",
      "asyncReturnType" : "ApproveAssignmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ApproveAssignment</code> operation approves the results of a completed assignment. </p> <p> Approving an assignment initiates two payments from the Requester's Amazon.com account </p> <ul> <li> <p> The Worker who submitted the results is paid the reward specified in the HIT. </p> </li> <li> <p> Amazon Mechanical Turk fees are debited. </p> </li> </ul> <p> If the Requester's account does not have adequate funds for these payments, the call to ApproveAssignment returns an exception, and the approval is not processed. You can include an optional feedback message with the approval, which the Worker can see in the Status section of the web site. </p> <p> You can also call this operation for assignments that were previous rejected and approve them by explicitly overriding the previous rejection. This only works on rejected assignments that were submitted within the previous 30 days and only if the assignment's related HIT has not been deleted. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApproveAssignmentRequest",
        "variableName" : "approveAssignmentRequest",
        "variableType" : "ApproveAssignmentRequest",
        "documentation" : "",
        "simpleType" : "ApproveAssignmentRequest",
        "variableSetterType" : "ApproveAssignmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "approveAssignment",
      "operationName" : "ApproveAssignment",
      "returnType" : {
        "returnType" : "ApproveAssignmentResult",
        "documentation" : null
      },
      "syncReturnType" : "ApproveAssignmentResult"
    },
    "AssociateQualificationWithWorker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateQualificationWithWorkerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateQualificationWithWorkerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateQualificationWithWorkerRequest, AssociateQualificationWithWorkerResult>",
      "asyncReturnType" : "AssociateQualificationWithWorkerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>AssociateQualificationWithWorker</code> operation gives a Worker a Qualification. <code>AssociateQualificationWithWorker</code> does not require that the Worker submit a Qualification request. It gives the Qualification directly to the Worker. </p> <p> You can only assign a Qualification of a Qualification type that you created (using the <code>CreateQualificationType</code> operation). </p> <note> <p> Note: <code>AssociateQualificationWithWorker</code> does not affect any pending Qualification requests for the Qualification by the Worker. If you assign a Qualification to a Worker, then later grant a Qualification request made by the Worker, the granting of the request may modify the Qualification score. To resolve a pending Qualification request without affecting the Qualification the Worker already has, reject the request with the <code>RejectQualificationRequest</code> operation. </p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateQualificationWithWorkerRequest",
        "variableName" : "associateQualificationWithWorkerRequest",
        "variableType" : "AssociateQualificationWithWorkerRequest",
        "documentation" : "",
        "simpleType" : "AssociateQualificationWithWorkerRequest",
        "variableSetterType" : "AssociateQualificationWithWorkerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateQualificationWithWorker",
      "operationName" : "AssociateQualificationWithWorker",
      "returnType" : {
        "returnType" : "AssociateQualificationWithWorkerResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateQualificationWithWorkerResult"
    },
    "CreateAdditionalAssignmentsForHIT" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAdditionalAssignmentsForHITResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAdditionalAssignmentsForHITResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAdditionalAssignmentsForHITRequest, CreateAdditionalAssignmentsForHITResult>",
      "asyncReturnType" : "CreateAdditionalAssignmentsForHITResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>CreateAdditionalAssignmentsForHIT</code> operation increases the maximum number of assignments of an existing HIT. </p> <p> To extend the maximum number of assignments, specify the number of additional assignments.</p> <note> <ul> <li> <p>HITs created with fewer than 10 assignments cannot be extended to have 10 or more assignments. Attempting to add assignments in a way that brings the total number of assignments for a HIT from fewer than 10 assignments to 10 or more assignments will result in an <code>AWS.MechanicalTurk.InvalidMaximumAssignmentsIncrease</code> exception.</p> </li> <li> <p>HITs that were created before July 22, 2015 cannot be extended. Attempting to extend HITs that were created before July 22, 2015 will result in an <code>AWS.MechanicalTurk.HITTooOldForExtension</code> exception. </p> </li> </ul> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAdditionalAssignmentsForHITRequest",
        "variableName" : "createAdditionalAssignmentsForHITRequest",
        "variableType" : "CreateAdditionalAssignmentsForHITRequest",
        "documentation" : "",
        "simpleType" : "CreateAdditionalAssignmentsForHITRequest",
        "variableSetterType" : "CreateAdditionalAssignmentsForHITRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAdditionalAssignmentsForHIT",
      "operationName" : "CreateAdditionalAssignmentsForHIT",
      "returnType" : {
        "returnType" : "CreateAdditionalAssignmentsForHITResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAdditionalAssignmentsForHITResult"
    },
    "CreateHIT" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHITResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHITResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHITRequest, CreateHITResult>",
      "asyncReturnType" : "CreateHITResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>CreateHIT</code> operation creates a new Human Intelligence Task (HIT). The new HIT is made available for Workers to find and accept on the Amazon Mechanical Turk website. </p> <p> This operation allows you to specify a new HIT by passing in values for the properties of the HIT, such as its title, reward amount and number of assignments. When you pass these values to <code>CreateHIT</code>, a new HIT is created for you, with a new <code>HITTypeID</code>. The HITTypeID can be used to create additional HITs in the future without needing to specify common parameters such as the title, description and reward amount each time.</p> <p> An alternative way to create HITs is to first generate a HITTypeID using the <code>CreateHITType</code> operation and then call the <code>CreateHITWithHITType</code> operation. This is the recommended best practice for Requesters who are creating large numbers of HITs. </p> <p>CreateHIT also supports several ways to provide question data: by providing a value for the <code>Question</code> parameter that fully specifies the contents of the HIT, or by providing a <code>HitLayoutId</code> and associated <code>HitLayoutParameters</code>. </p> <note> <p> If a HIT is created with 10 or more maximum assignments, there is an additional fee. For more information, see <a href=\"https://requester.mturk.com/pricing\">Amazon Mechanical Turk Pricing</a>.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateHITRequest",
        "variableName" : "createHITRequest",
        "variableType" : "CreateHITRequest",
        "documentation" : "",
        "simpleType" : "CreateHITRequest",
        "variableSetterType" : "CreateHITRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createHIT",
      "operationName" : "CreateHIT",
      "returnType" : {
        "returnType" : "CreateHITResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateHITResult"
    },
    "CreateHITType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHITTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHITTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHITTypeRequest, CreateHITTypeResult>",
      "asyncReturnType" : "CreateHITTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>CreateHITType</code> operation creates a new HIT type. This operation allows you to define a standard set of HIT properties to use when creating HITs. If you register a HIT type with values that match an existing HIT type, the HIT type ID of the existing type will be returned. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateHITTypeRequest",
        "variableName" : "createHITTypeRequest",
        "variableType" : "CreateHITTypeRequest",
        "documentation" : "",
        "simpleType" : "CreateHITTypeRequest",
        "variableSetterType" : "CreateHITTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createHITType",
      "operationName" : "CreateHITType",
      "returnType" : {
        "returnType" : "CreateHITTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateHITTypeResult"
    },
    "CreateHITWithHITType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateHITWithHITTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateHITWithHITTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateHITWithHITTypeRequest, CreateHITWithHITTypeResult>",
      "asyncReturnType" : "CreateHITWithHITTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>CreateHITWithHITType</code> operation creates a new Human Intelligence Task (HIT) using an existing HITTypeID generated by the <code>CreateHITType</code> operation. </p> <p> This is an alternative way to create HITs from the <code>CreateHIT</code> operation. This is the recommended best practice for Requesters who are creating large numbers of HITs. </p> <p>CreateHITWithHITType also supports several ways to provide question data: by providing a value for the <code>Question</code> parameter that fully specifies the contents of the HIT, or by providing a <code>HitLayoutId</code> and associated <code>HitLayoutParameters</code>. </p> <note> <p> If a HIT is created with 10 or more maximum assignments, there is an additional fee. For more information, see <a href=\"https://requester.mturk.com/pricing\">Amazon Mechanical Turk Pricing</a>. </p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateHITWithHITTypeRequest",
        "variableName" : "createHITWithHITTypeRequest",
        "variableType" : "CreateHITWithHITTypeRequest",
        "documentation" : "",
        "simpleType" : "CreateHITWithHITTypeRequest",
        "variableSetterType" : "CreateHITWithHITTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createHITWithHITType",
      "operationName" : "CreateHITWithHITType",
      "returnType" : {
        "returnType" : "CreateHITWithHITTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateHITWithHITTypeResult"
    },
    "CreateQualificationType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateQualificationTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateQualificationTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateQualificationTypeRequest, CreateQualificationTypeResult>",
      "asyncReturnType" : "CreateQualificationTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>CreateQualificationType</code> operation creates a new Qualification type, which is represented by a <code>QualificationType</code> data structure. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateQualificationTypeRequest",
        "variableName" : "createQualificationTypeRequest",
        "variableType" : "CreateQualificationTypeRequest",
        "documentation" : "",
        "simpleType" : "CreateQualificationTypeRequest",
        "variableSetterType" : "CreateQualificationTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createQualificationType",
      "operationName" : "CreateQualificationType",
      "returnType" : {
        "returnType" : "CreateQualificationTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateQualificationTypeResult"
    },
    "CreateWorkerBlock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkerBlockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkerBlockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkerBlockRequest, CreateWorkerBlockResult>",
      "asyncReturnType" : "CreateWorkerBlockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>CreateWorkerBlock</code> operation allows you to prevent a Worker from working on your HITs. For example, you can block a Worker who is producing poor quality work. You can block up to 100,000 Workers.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkerBlockRequest",
        "variableName" : "createWorkerBlockRequest",
        "variableType" : "CreateWorkerBlockRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkerBlockRequest",
        "variableSetterType" : "CreateWorkerBlockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkerBlock",
      "operationName" : "CreateWorkerBlock",
      "returnType" : {
        "returnType" : "CreateWorkerBlockResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkerBlockResult"
    },
    "DeleteHIT" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHITResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHITResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHITRequest, DeleteHITResult>",
      "asyncReturnType" : "DeleteHITResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>DeleteHIT</code> operation is used to delete HIT that is no longer needed. Only the Requester who created the HIT can delete it. </p> <p> You can only dispose of HITs that are in the <code>Reviewable</code> state, with all of their submitted assignments already either approved or rejected. If you call the DeleteHIT operation on a HIT that is not in the <code>Reviewable</code> state (for example, that has not expired, or still has active assignments), or on a HIT that is Reviewable but without all of its submitted assignments already approved or rejected, the service will return an error. </p> <note> <ul> <li> <p> HITs are automatically disposed of after 120 days. </p> </li> <li> <p> After you dispose of a HIT, you can no longer approve the HIT's rejected assignments. </p> </li> <li> <p> Disposed HITs are not returned in results for the ListHITs operation. </p> </li> <li> <p> Disposing HITs can improve the performance of operations such as ListReviewableHITs and ListHITs. </p> </li> </ul> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteHITRequest",
        "variableName" : "deleteHITRequest",
        "variableType" : "DeleteHITRequest",
        "documentation" : "",
        "simpleType" : "DeleteHITRequest",
        "variableSetterType" : "DeleteHITRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteHIT",
      "operationName" : "DeleteHIT",
      "returnType" : {
        "returnType" : "DeleteHITResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteHITResult"
    },
    "DeleteQualificationType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteQualificationTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteQualificationTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteQualificationTypeRequest, DeleteQualificationTypeResult>",
      "asyncReturnType" : "DeleteQualificationTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>DeleteQualificationType</code> deletes a Qualification type and deletes any HIT types that are associated with the Qualification type. </p> <p>This operation does not revoke Qualifications already assigned to Workers because the Qualifications might be needed for active HITs. If there are any pending requests for the Qualification type, Amazon Mechanical Turk rejects those requests. After you delete a Qualification type, you can no longer use it to create HITs or HIT types.</p> <note> <p>DeleteQualificationType must wait for all the HITs that use the deleted Qualification type to be deleted before completing. It may take up to 48 hours before DeleteQualificationType completes and the unique name of the Qualification type is available for reuse with CreateQualificationType.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteQualificationTypeRequest",
        "variableName" : "deleteQualificationTypeRequest",
        "variableType" : "DeleteQualificationTypeRequest",
        "documentation" : "",
        "simpleType" : "DeleteQualificationTypeRequest",
        "variableSetterType" : "DeleteQualificationTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteQualificationType",
      "operationName" : "DeleteQualificationType",
      "returnType" : {
        "returnType" : "DeleteQualificationTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteQualificationTypeResult"
    },
    "DeleteWorkerBlock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkerBlockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkerBlockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkerBlockRequest, DeleteWorkerBlockResult>",
      "asyncReturnType" : "DeleteWorkerBlockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>DeleteWorkerBlock</code> operation allows you to reinstate a blocked Worker to work on your HITs. This operation reverses the effects of the CreateWorkerBlock operation. You need the Worker ID to use this operation. If the Worker ID is missing or invalid, this operation fails and returns the message “WorkerId is invalid.” If the specified Worker is not blocked, this operation returns successfully.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkerBlockRequest",
        "variableName" : "deleteWorkerBlockRequest",
        "variableType" : "DeleteWorkerBlockRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkerBlockRequest",
        "variableSetterType" : "DeleteWorkerBlockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkerBlock",
      "operationName" : "DeleteWorkerBlock",
      "returnType" : {
        "returnType" : "DeleteWorkerBlockResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkerBlockResult"
    },
    "DisassociateQualificationFromWorker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateQualificationFromWorkerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateQualificationFromWorkerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateQualificationFromWorkerRequest, DisassociateQualificationFromWorkerResult>",
      "asyncReturnType" : "DisassociateQualificationFromWorkerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>DisassociateQualificationFromWorker</code> revokes a previously granted Qualification from a user. </p> <p> You can provide a text message explaining why the Qualification was revoked. The user who had the Qualification can see this message. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateQualificationFromWorkerRequest",
        "variableName" : "disassociateQualificationFromWorkerRequest",
        "variableType" : "DisassociateQualificationFromWorkerRequest",
        "documentation" : "",
        "simpleType" : "DisassociateQualificationFromWorkerRequest",
        "variableSetterType" : "DisassociateQualificationFromWorkerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateQualificationFromWorker",
      "operationName" : "DisassociateQualificationFromWorker",
      "returnType" : {
        "returnType" : "DisassociateQualificationFromWorkerResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateQualificationFromWorkerResult"
    },
    "GetAccountBalance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountBalanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountBalanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountBalanceRequest, GetAccountBalanceResult>",
      "asyncReturnType" : "GetAccountBalanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>GetAccountBalance</code> operation retrieves the amount of money in your Amazon Mechanical Turk account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountBalanceRequest",
        "variableName" : "getAccountBalanceRequest",
        "variableType" : "GetAccountBalanceRequest",
        "documentation" : "",
        "simpleType" : "GetAccountBalanceRequest",
        "variableSetterType" : "GetAccountBalanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountBalance",
      "operationName" : "GetAccountBalance",
      "returnType" : {
        "returnType" : "GetAccountBalanceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountBalanceResult"
    },
    "GetAssignment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssignmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssignmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssignmentRequest, GetAssignmentResult>",
      "asyncReturnType" : "GetAssignmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>GetAssignment</code> operation retrieves the details of the specified Assignment. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssignmentRequest",
        "variableName" : "getAssignmentRequest",
        "variableType" : "GetAssignmentRequest",
        "documentation" : "",
        "simpleType" : "GetAssignmentRequest",
        "variableSetterType" : "GetAssignmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssignment",
      "operationName" : "GetAssignment",
      "returnType" : {
        "returnType" : "GetAssignmentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssignmentResult"
    },
    "GetFileUploadURL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFileUploadURLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFileUploadURLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFileUploadURLRequest, GetFileUploadURLResult>",
      "asyncReturnType" : "GetFileUploadURLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>GetFileUploadURL</code> operation generates and returns a temporary URL. You use the temporary URL to retrieve a file uploaded by a Worker as an answer to a FileUploadAnswer question for a HIT. The temporary URL is generated the instant the GetFileUploadURL operation is called, and is valid for 60 seconds. You can get a temporary file upload URL any time until the HIT is disposed. After the HIT is disposed, any uploaded files are deleted, and cannot be retrieved. Pending Deprecation on December 12, 2017. The Answer Specification structure will no longer support the <code>FileUploadAnswer</code> element to be used for the QuestionForm data structure. Instead, we recommend that Requesters who want to create HITs asking Workers to upload files to use Amazon S3. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFileUploadURLRequest",
        "variableName" : "getFileUploadURLRequest",
        "variableType" : "GetFileUploadURLRequest",
        "documentation" : "",
        "simpleType" : "GetFileUploadURLRequest",
        "variableSetterType" : "GetFileUploadURLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFileUploadURL",
      "operationName" : "GetFileUploadURL",
      "returnType" : {
        "returnType" : "GetFileUploadURLResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFileUploadURLResult"
    },
    "GetHIT" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetHITResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetHITResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHITRequest, GetHITResult>",
      "asyncReturnType" : "GetHITResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>GetHIT</code> operation retrieves the details of the specified HIT. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetHITRequest",
        "variableName" : "getHITRequest",
        "variableType" : "GetHITRequest",
        "documentation" : "",
        "simpleType" : "GetHITRequest",
        "variableSetterType" : "GetHITRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getHIT",
      "operationName" : "GetHIT",
      "returnType" : {
        "returnType" : "GetHITResult",
        "documentation" : null
      },
      "syncReturnType" : "GetHITResult"
    },
    "GetQualificationScore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQualificationScoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQualificationScoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQualificationScoreRequest, GetQualificationScoreResult>",
      "asyncReturnType" : "GetQualificationScoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>GetQualificationScore</code> operation returns the value of a Worker's Qualification for a given Qualification type. </p> <p> To get a Worker's Qualification, you must know the Worker's ID. The Worker's ID is included in the assignment data returned by the <code>ListAssignmentsForHIT</code> operation. </p> <p>Only the owner of a Qualification type can query the value of a Worker's Qualification of that type.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQualificationScoreRequest",
        "variableName" : "getQualificationScoreRequest",
        "variableType" : "GetQualificationScoreRequest",
        "documentation" : "",
        "simpleType" : "GetQualificationScoreRequest",
        "variableSetterType" : "GetQualificationScoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQualificationScore",
      "operationName" : "GetQualificationScore",
      "returnType" : {
        "returnType" : "GetQualificationScoreResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQualificationScoreResult"
    },
    "GetQualificationType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQualificationTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQualificationTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQualificationTypeRequest, GetQualificationTypeResult>",
      "asyncReturnType" : "GetQualificationTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>GetQualificationType</code>operation retrieves information about a Qualification type using its ID. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQualificationTypeRequest",
        "variableName" : "getQualificationTypeRequest",
        "variableType" : "GetQualificationTypeRequest",
        "documentation" : "",
        "simpleType" : "GetQualificationTypeRequest",
        "variableSetterType" : "GetQualificationTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQualificationType",
      "operationName" : "GetQualificationType",
      "returnType" : {
        "returnType" : "GetQualificationTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQualificationTypeResult"
    },
    "ListAssignmentsForHIT" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssignmentsForHITResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssignmentsForHITResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssignmentsForHITRequest, ListAssignmentsForHITResult>",
      "asyncReturnType" : "ListAssignmentsForHITResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ListAssignmentsForHIT</code> operation retrieves completed assignments for a HIT. You can use this operation to retrieve the results for a HIT. </p> <p> You can get assignments for a HIT at any time, even if the HIT is not yet Reviewable. If a HIT requested multiple assignments, and has received some results but has not yet become Reviewable, you can still retrieve the partial results with this operation. </p> <p> Use the AssignmentStatus parameter to control which set of assignments for a HIT are returned. The ListAssignmentsForHIT operation can return submitted assignments awaiting approval, or it can return assignments that have already been approved or rejected. You can set AssignmentStatus=Approved,Rejected to get assignments that have already been approved and rejected together in one result set. </p> <p> Only the Requester who created the HIT can retrieve the assignments for that HIT. </p> <p> Results are sorted and divided into numbered pages and the operation returns a single page of results. You can use the parameters of the operation to control sorting and pagination. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssignmentsForHITRequest",
        "variableName" : "listAssignmentsForHITRequest",
        "variableType" : "ListAssignmentsForHITRequest",
        "documentation" : "",
        "simpleType" : "ListAssignmentsForHITRequest",
        "variableSetterType" : "ListAssignmentsForHITRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssignmentsForHIT",
      "operationName" : "ListAssignmentsForHIT",
      "returnType" : {
        "returnType" : "ListAssignmentsForHITResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssignmentsForHITResult"
    },
    "ListBonusPayments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBonusPaymentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBonusPaymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBonusPaymentsRequest, ListBonusPaymentsResult>",
      "asyncReturnType" : "ListBonusPaymentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ListBonusPayments</code> operation retrieves the amounts of bonuses you have paid to Workers for a given HIT or assignment. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBonusPaymentsRequest",
        "variableName" : "listBonusPaymentsRequest",
        "variableType" : "ListBonusPaymentsRequest",
        "documentation" : "",
        "simpleType" : "ListBonusPaymentsRequest",
        "variableSetterType" : "ListBonusPaymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBonusPayments",
      "operationName" : "ListBonusPayments",
      "returnType" : {
        "returnType" : "ListBonusPaymentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBonusPaymentsResult"
    },
    "ListHITs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHITsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHITsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHITsRequest, ListHITsResult>",
      "asyncReturnType" : "ListHITsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ListHITs</code> operation returns all of a Requester's HITs. The operation returns HITs of any status, except for HITs that have been deleted of with the DeleteHIT operation or that have been auto-deleted. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListHITsRequest",
        "variableName" : "listHITsRequest",
        "variableType" : "ListHITsRequest",
        "documentation" : "",
        "simpleType" : "ListHITsRequest",
        "variableSetterType" : "ListHITsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHITs",
      "operationName" : "ListHITs",
      "returnType" : {
        "returnType" : "ListHITsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHITsResult"
    },
    "ListHITsForQualificationType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHITsForQualificationTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHITsForQualificationTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHITsForQualificationTypeRequest, ListHITsForQualificationTypeResult>",
      "asyncReturnType" : "ListHITsForQualificationTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ListHITsForQualificationType</code> operation returns the HITs that use the given Qualification type for a Qualification requirement. The operation returns HITs of any status, except for HITs that have been deleted with the <code>DeleteHIT</code> operation or that have been auto-deleted. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListHITsForQualificationTypeRequest",
        "variableName" : "listHITsForQualificationTypeRequest",
        "variableType" : "ListHITsForQualificationTypeRequest",
        "documentation" : "",
        "simpleType" : "ListHITsForQualificationTypeRequest",
        "variableSetterType" : "ListHITsForQualificationTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHITsForQualificationType",
      "operationName" : "ListHITsForQualificationType",
      "returnType" : {
        "returnType" : "ListHITsForQualificationTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHITsForQualificationTypeResult"
    },
    "ListQualificationRequests" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListQualificationRequestsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListQualificationRequestsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListQualificationRequestsRequest, ListQualificationRequestsResult>",
      "asyncReturnType" : "ListQualificationRequestsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ListQualificationRequests</code> operation retrieves requests for Qualifications of a particular Qualification type. The owner of the Qualification type calls this operation to poll for pending requests, and accepts them using the AcceptQualification operation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListQualificationRequestsRequest",
        "variableName" : "listQualificationRequestsRequest",
        "variableType" : "ListQualificationRequestsRequest",
        "documentation" : "",
        "simpleType" : "ListQualificationRequestsRequest",
        "variableSetterType" : "ListQualificationRequestsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listQualificationRequests",
      "operationName" : "ListQualificationRequests",
      "returnType" : {
        "returnType" : "ListQualificationRequestsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListQualificationRequestsResult"
    },
    "ListQualificationTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListQualificationTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListQualificationTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListQualificationTypesRequest, ListQualificationTypesResult>",
      "asyncReturnType" : "ListQualificationTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ListQualificationTypes</code> operation returns a list of Qualification types, filtered by an optional search term. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListQualificationTypesRequest",
        "variableName" : "listQualificationTypesRequest",
        "variableType" : "ListQualificationTypesRequest",
        "documentation" : "",
        "simpleType" : "ListQualificationTypesRequest",
        "variableSetterType" : "ListQualificationTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listQualificationTypes",
      "operationName" : "ListQualificationTypes",
      "returnType" : {
        "returnType" : "ListQualificationTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListQualificationTypesResult"
    },
    "ListReviewPolicyResultsForHIT" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReviewPolicyResultsForHITResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReviewPolicyResultsForHITResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReviewPolicyResultsForHITRequest, ListReviewPolicyResultsForHITResult>",
      "asyncReturnType" : "ListReviewPolicyResultsForHITResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ListReviewPolicyResultsForHIT</code> operation retrieves the computed results and the actions taken in the course of executing your Review Policies for a given HIT. For information about how to specify Review Policies when you call CreateHIT, see Review Policies. The ListReviewPolicyResultsForHIT operation can return results for both Assignment-level and HIT-level review results. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReviewPolicyResultsForHITRequest",
        "variableName" : "listReviewPolicyResultsForHITRequest",
        "variableType" : "ListReviewPolicyResultsForHITRequest",
        "documentation" : "",
        "simpleType" : "ListReviewPolicyResultsForHITRequest",
        "variableSetterType" : "ListReviewPolicyResultsForHITRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReviewPolicyResultsForHIT",
      "operationName" : "ListReviewPolicyResultsForHIT",
      "returnType" : {
        "returnType" : "ListReviewPolicyResultsForHITResult",
        "documentation" : null
      },
      "syncReturnType" : "ListReviewPolicyResultsForHITResult"
    },
    "ListReviewableHITs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReviewableHITsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReviewableHITsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReviewableHITsRequest, ListReviewableHITsResult>",
      "asyncReturnType" : "ListReviewableHITsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ListReviewableHITs</code> operation retrieves the HITs with Status equal to Reviewable or Status equal to Reviewing that belong to the Requester calling the operation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReviewableHITsRequest",
        "variableName" : "listReviewableHITsRequest",
        "variableType" : "ListReviewableHITsRequest",
        "documentation" : "",
        "simpleType" : "ListReviewableHITsRequest",
        "variableSetterType" : "ListReviewableHITsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReviewableHITs",
      "operationName" : "ListReviewableHITs",
      "returnType" : {
        "returnType" : "ListReviewableHITsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListReviewableHITsResult"
    },
    "ListWorkerBlocks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkerBlocksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkerBlocksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkerBlocksRequest, ListWorkerBlocksResult>",
      "asyncReturnType" : "ListWorkerBlocksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>ListWorkersBlocks</code> operation retrieves a list of Workers who are blocked from working on your HITs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkerBlocksRequest",
        "variableName" : "listWorkerBlocksRequest",
        "variableType" : "ListWorkerBlocksRequest",
        "documentation" : "",
        "simpleType" : "ListWorkerBlocksRequest",
        "variableSetterType" : "ListWorkerBlocksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkerBlocks",
      "operationName" : "ListWorkerBlocks",
      "returnType" : {
        "returnType" : "ListWorkerBlocksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkerBlocksResult"
    },
    "ListWorkersWithQualificationType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkersWithQualificationTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkersWithQualificationTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkersWithQualificationTypeRequest, ListWorkersWithQualificationTypeResult>",
      "asyncReturnType" : "ListWorkersWithQualificationTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ListWorkersWithQualificationType</code> operation returns all of the Workers that have been associated with a given Qualification type. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkersWithQualificationTypeRequest",
        "variableName" : "listWorkersWithQualificationTypeRequest",
        "variableType" : "ListWorkersWithQualificationTypeRequest",
        "documentation" : "",
        "simpleType" : "ListWorkersWithQualificationTypeRequest",
        "variableSetterType" : "ListWorkersWithQualificationTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkersWithQualificationType",
      "operationName" : "ListWorkersWithQualificationType",
      "returnType" : {
        "returnType" : "ListWorkersWithQualificationTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkersWithQualificationTypeResult"
    },
    "NotifyWorkers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<NotifyWorkersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<NotifyWorkersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<NotifyWorkersRequest, NotifyWorkersResult>",
      "asyncReturnType" : "NotifyWorkersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>NotifyWorkers</code> operation sends an email to one or more Workers that you specify with the Worker ID. You can specify up to 100 Worker IDs to send the same message with a single call to the NotifyWorkers operation. The NotifyWorkers operation will send a notification email to a Worker only if you have previously approved or rejected work from the Worker. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "NotifyWorkersRequest",
        "variableName" : "notifyWorkersRequest",
        "variableType" : "NotifyWorkersRequest",
        "documentation" : "",
        "simpleType" : "NotifyWorkersRequest",
        "variableSetterType" : "NotifyWorkersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "notifyWorkers",
      "operationName" : "NotifyWorkers",
      "returnType" : {
        "returnType" : "NotifyWorkersResult",
        "documentation" : null
      },
      "syncReturnType" : "NotifyWorkersResult"
    },
    "RejectAssignment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RejectAssignmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RejectAssignmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RejectAssignmentRequest, RejectAssignmentResult>",
      "asyncReturnType" : "RejectAssignmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>RejectAssignment</code> operation rejects the results of a completed assignment. </p> <p> You can include an optional feedback message with the rejection, which the Worker can see in the Status section of the web site. When you include a feedback message with the rejection, it helps the Worker understand why the assignment was rejected, and can improve the quality of the results the Worker submits in the future. </p> <p> Only the Requester who created the HIT can reject an assignment for the HIT. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RejectAssignmentRequest",
        "variableName" : "rejectAssignmentRequest",
        "variableType" : "RejectAssignmentRequest",
        "documentation" : "",
        "simpleType" : "RejectAssignmentRequest",
        "variableSetterType" : "RejectAssignmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rejectAssignment",
      "operationName" : "RejectAssignment",
      "returnType" : {
        "returnType" : "RejectAssignmentResult",
        "documentation" : null
      },
      "syncReturnType" : "RejectAssignmentResult"
    },
    "RejectQualificationRequest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RejectQualificationRequestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RejectQualificationRequestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RejectQualificationRequestRequest, RejectQualificationRequestResult>",
      "asyncReturnType" : "RejectQualificationRequestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>RejectQualificationRequest</code> operation rejects a user's request for a Qualification. </p> <p> You can provide a text message explaining why the request was rejected. The Worker who made the request can see this message.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RejectQualificationRequestRequest",
        "variableName" : "rejectQualificationRequestRequest",
        "variableType" : "RejectQualificationRequestRequest",
        "documentation" : "",
        "simpleType" : "RejectQualificationRequestRequest",
        "variableSetterType" : "RejectQualificationRequestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rejectQualificationRequest",
      "operationName" : "RejectQualificationRequest",
      "returnType" : {
        "returnType" : "RejectQualificationRequestResult",
        "documentation" : null
      },
      "syncReturnType" : "RejectQualificationRequestResult"
    },
    "SendBonus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendBonusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendBonusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendBonusRequest, SendBonusResult>",
      "asyncReturnType" : "SendBonusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>SendBonus</code> operation issues a payment of money from your account to a Worker. This payment happens separately from the reward you pay to the Worker when you approve the Worker's assignment. The SendBonus operation requires the Worker's ID and the assignment ID as parameters to initiate payment of the bonus. You must include a message that explains the reason for the bonus payment, as the Worker may not be expecting the payment. Amazon Mechanical Turk collects a fee for bonus payments, similar to the HIT listing fee. This operation fails if your account does not have enough funds to pay for both the bonus and the fees. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendBonusRequest",
        "variableName" : "sendBonusRequest",
        "variableType" : "SendBonusRequest",
        "documentation" : "",
        "simpleType" : "SendBonusRequest",
        "variableSetterType" : "SendBonusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendBonus",
      "operationName" : "SendBonus",
      "returnType" : {
        "returnType" : "SendBonusResult",
        "documentation" : null
      },
      "syncReturnType" : "SendBonusResult"
    },
    "SendTestEventNotification" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendTestEventNotificationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendTestEventNotificationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendTestEventNotificationRequest, SendTestEventNotificationResult>",
      "asyncReturnType" : "SendTestEventNotificationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>SendTestEventNotification</code> operation causes Amazon Mechanical Turk to send a notification message as if a HIT event occurred, according to the provided notification specification. This allows you to test notifications without setting up notifications for a real HIT type and trying to trigger them using the website. When you call this operation, the service attempts to send the test notification immediately. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendTestEventNotificationRequest",
        "variableName" : "sendTestEventNotificationRequest",
        "variableType" : "SendTestEventNotificationRequest",
        "documentation" : "",
        "simpleType" : "SendTestEventNotificationRequest",
        "variableSetterType" : "SendTestEventNotificationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendTestEventNotification",
      "operationName" : "SendTestEventNotification",
      "returnType" : {
        "returnType" : "SendTestEventNotificationResult",
        "documentation" : null
      },
      "syncReturnType" : "SendTestEventNotificationResult"
    },
    "UpdateExpirationForHIT" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateExpirationForHITResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateExpirationForHITResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateExpirationForHITRequest, UpdateExpirationForHITResult>",
      "asyncReturnType" : "UpdateExpirationForHITResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>UpdateExpirationForHIT</code> operation allows you update the expiration time of a HIT. If you update it to a time in the past, the HIT will be immediately expired. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateExpirationForHITRequest",
        "variableName" : "updateExpirationForHITRequest",
        "variableType" : "UpdateExpirationForHITRequest",
        "documentation" : "",
        "simpleType" : "UpdateExpirationForHITRequest",
        "variableSetterType" : "UpdateExpirationForHITRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateExpirationForHIT",
      "operationName" : "UpdateExpirationForHIT",
      "returnType" : {
        "returnType" : "UpdateExpirationForHITResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateExpirationForHITResult"
    },
    "UpdateHITReviewStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateHITReviewStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateHITReviewStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateHITReviewStatusRequest, UpdateHITReviewStatusResult>",
      "asyncReturnType" : "UpdateHITReviewStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>UpdateHITReviewStatus</code> operation updates the status of a HIT. If the status is Reviewable, this operation can update the status to Reviewing, or it can revert a Reviewing HIT back to the Reviewable status. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateHITReviewStatusRequest",
        "variableName" : "updateHITReviewStatusRequest",
        "variableType" : "UpdateHITReviewStatusRequest",
        "documentation" : "",
        "simpleType" : "UpdateHITReviewStatusRequest",
        "variableSetterType" : "UpdateHITReviewStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateHITReviewStatus",
      "operationName" : "UpdateHITReviewStatus",
      "returnType" : {
        "returnType" : "UpdateHITReviewStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateHITReviewStatusResult"
    },
    "UpdateHITTypeOfHIT" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateHITTypeOfHITResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateHITTypeOfHITResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateHITTypeOfHITRequest, UpdateHITTypeOfHITResult>",
      "asyncReturnType" : "UpdateHITTypeOfHITResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>UpdateHITTypeOfHIT</code> operation allows you to change the HITType properties of a HIT. This operation disassociates the HIT from its old HITType properties and associates it with the new HITType properties. The HIT takes on the properties of the new HITType in place of the old ones. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateHITTypeOfHITRequest",
        "variableName" : "updateHITTypeOfHITRequest",
        "variableType" : "UpdateHITTypeOfHITRequest",
        "documentation" : "",
        "simpleType" : "UpdateHITTypeOfHITRequest",
        "variableSetterType" : "UpdateHITTypeOfHITRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateHITTypeOfHIT",
      "operationName" : "UpdateHITTypeOfHIT",
      "returnType" : {
        "returnType" : "UpdateHITTypeOfHITResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateHITTypeOfHITResult"
    },
    "UpdateNotificationSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateNotificationSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateNotificationSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateNotificationSettingsRequest, UpdateNotificationSettingsResult>",
      "asyncReturnType" : "UpdateNotificationSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>UpdateNotificationSettings</code> operation creates, updates, disables or re-enables notifications for a HIT type. If you call the UpdateNotificationSettings operation for a HIT type that already has a notification specification, the operation replaces the old specification with a new one. You can call the UpdateNotificationSettings operation to enable or disable notifications for the HIT type, without having to modify the notification specification itself by providing updates to the Active status without specifying a new notification specification. To change the Active status of a HIT type's notifications, the HIT type must already have a notification specification, or one must be provided in the same call to <code>UpdateNotificationSettings</code>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateNotificationSettingsRequest",
        "variableName" : "updateNotificationSettingsRequest",
        "variableType" : "UpdateNotificationSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateNotificationSettingsRequest",
        "variableSetterType" : "UpdateNotificationSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateNotificationSettings",
      "operationName" : "UpdateNotificationSettings",
      "returnType" : {
        "returnType" : "UpdateNotificationSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateNotificationSettingsResult"
    },
    "UpdateQualificationType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateQualificationTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateQualificationTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateQualificationTypeRequest, UpdateQualificationTypeResult>",
      "asyncReturnType" : "UpdateQualificationTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>UpdateQualificationType</code> operation modifies the attributes of an existing Qualification type, which is represented by a QualificationType data structure. Only the owner of a Qualification type can modify its attributes. </p> <p> Most attributes of a Qualification type can be changed after the type has been created. However, the Name and Keywords fields cannot be modified. The RetryDelayInSeconds parameter can be modified or added to change the delay or to enable retries, but RetryDelayInSeconds cannot be used to disable retries. </p> <p> You can use this operation to update the test for a Qualification type. The test is updated based on the values specified for the Test, TestDurationInSeconds and AnswerKey parameters. All three parameters specify the updated test. If you are updating the test for a type, you must specify the Test and TestDurationInSeconds parameters. The AnswerKey parameter is optional; omitting it specifies that the updated test does not have an answer key. </p> <p> If you omit the Test parameter, the test for the Qualification type is unchanged. There is no way to remove a test from a Qualification type that has one. If the type already has a test, you cannot update it to be AutoGranted. If the Qualification type does not have a test and one is provided by an update, the type will henceforth have a test. </p> <p> If you want to update the test duration or answer key for an existing test without changing the questions, you must specify a Test parameter with the original questions, along with the updated values. </p> <p> If you provide an updated Test but no AnswerKey, the new test will not have an answer key. Requests for such Qualifications must be granted manually. </p> <p> You can also update the AutoGranted and AutoGrantedValue attributes of the Qualification type.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RequestErrorException",
        "documentation" : "<p>Your request is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateQualificationTypeRequest",
        "variableName" : "updateQualificationTypeRequest",
        "variableType" : "UpdateQualificationTypeRequest",
        "documentation" : "",
        "simpleType" : "UpdateQualificationTypeRequest",
        "variableSetterType" : "UpdateQualificationTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateQualificationType",
      "operationName" : "UpdateQualificationType",
      "returnType" : {
        "returnType" : "UpdateQualificationTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateQualificationTypeResult"
    }
  },
  "shapes" : {
    "AcceptQualificationRequestRequest" : {
      "c2jName" : "AcceptQualificationRequestRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptQualificationRequest",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "MTurkRequesterServiceV20170117.AcceptQualificationRequest",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "QualificationRequestId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.</p>\n@param qualificationRequestId The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQualificationRequestId",
        "getterDocumentation" : "/**<p>The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.</p>\n@return The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.*/",
        "getterMethodName" : "getQualificationRequestId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "QualificationRequestId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "QualificationRequestId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QualificationRequestId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.</p>\n@param qualificationRequestId The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.*/",
        "setterMethodName" : "setQualificationRequestId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "qualificationRequestId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.</p>\n@param qualificationRequestId The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "qualificationRequestId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IntegerValue",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement. </p>\n@param integerValue The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIntegerValue",
        "getterDocumentation" : "/**<p> The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement. </p>\n@return The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement.*/",
        "getterMethodName" : "getIntegerValue",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IntegerValue",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IntegerValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "IntegerValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement. </p>\n@param integerValue The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement.*/",
        "setterMethodName" : "setIntegerValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "integerValue",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement. </p>\n@param integerValue The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "integerValue",
          "variableType" : "Integer",
          "documentation" : "<p> The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IntegerValue" : {
          "c2jName" : "IntegerValue",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement. </p>",
          "enumType" : null,
[...]
