{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : "code",
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-08-01",
    "asyncClient" : "AmazonNeptunedataAsyncClient",
    "asyncClientBuilderClassName" : "AmazonNeptunedataAsyncClientBuilder",
    "asyncInterface" : "AmazonNeptunedataAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonNeptunedataModuleInjector",
    "defaultEndpoint" : "neptune-db.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "neptune-db.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p><fullname>Neptune Data API</fullname> <p>The Amazon Neptune data API provides SDK support for more than 40 of Neptune's data operations, including data loading, query execution, data inquiry, and machine learning. It supports the Gremlin and openCypher query languages, and is available in all SDK languages. It automatically signs API requests and greatly simplifies integrating Neptune into your applications.</p></p>",
    "endpointPrefix" : "neptune-db",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.neptunedata",
    "packagePath" : "com/amazonaws/services/neptunedata",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon NeptuneData",
    "serviceId" : "neptunedata",
    "serviceName" : "Amazon NeptuneData",
    "signingName" : "neptune-db",
    "smokeTestsPackageName" : "com.amazonaws.services.neptunedata.smoketests",
    "syncClient" : "AmazonNeptunedataClient",
    "syncClientBuilderClassName" : "AmazonNeptunedataClientBuilder",
    "syncInterface" : "AmazonNeptunedata",
    "uid" : "neptunedata-2023-08-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelGremlinQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelGremlinQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelGremlinQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelGremlinQueryRequest, CancelGremlinQueryResult>",
      "asyncReturnType" : "CancelGremlinQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a Gremlin query. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-api-status-cancel.html\">Gremlin query cancellation</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelquery\">neptune-db:CancelQuery</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailureByQueryException",
        "documentation" : "<p>Raised when a request fails.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ParsingException",
        "documentation" : "<p>Raised when a parsing issue is encountered.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TimeLimitExceededException",
        "documentation" : "<p>Raised when the an operation exceeds the time limit allowed for it.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Raised when a request attempts to modify data that is concurrently being modified by another process.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelGremlinQueryRequest",
        "variableName" : "cancelGremlinQueryRequest",
        "variableType" : "CancelGremlinQueryRequest",
        "documentation" : "",
        "simpleType" : "CancelGremlinQueryRequest",
        "variableSetterType" : "CancelGremlinQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelGremlinQuery",
      "operationName" : "CancelGremlinQuery",
      "returnType" : {
        "returnType" : "CancelGremlinQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelGremlinQueryResult"
    },
    "CancelLoaderJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelLoaderJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelLoaderJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelLoaderJobRequest, CancelLoaderJobResult>",
      "asyncReturnType" : "CancelLoaderJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a specified load job. This is an HTTP <code>DELETE</code> request. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/load-api-reference-status.htm\">Neptune Loader Get-Status API</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelloaderjob\">neptune-db:CancelLoaderJob</a> IAM action in that cluster..</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BulkLoadIdNotFoundException",
        "documentation" : "<p>Raised when a specified bulk-load job ID cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "LoadUrlAccessDeniedException",
        "documentation" : "<p>Raised when access is denied to a specified load URL.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>Raised when the processing of the request failed unexpectedly.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelLoaderJobRequest",
        "variableName" : "cancelLoaderJobRequest",
        "variableType" : "CancelLoaderJobRequest",
        "documentation" : "",
        "simpleType" : "CancelLoaderJobRequest",
        "variableSetterType" : "CancelLoaderJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelLoaderJob",
      "operationName" : "CancelLoaderJob",
      "returnType" : {
        "returnType" : "CancelLoaderJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelLoaderJobResult"
    },
    "CancelMLDataProcessingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelMLDataProcessingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelMLDataProcessingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelMLDataProcessingJobRequest, CancelMLDataProcessingJobResult>",
      "asyncReturnType" : "CancelMLDataProcessingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a Neptune ML data processing job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-dataprocessing.html\">The <code>dataprocessing</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelmldataprocessingjob\">neptune-db:CancelMLDataProcessingJob</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MLResourceNotFoundException",
        "documentation" : "<p>Raised when a specified machine-learning resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelMLDataProcessingJobRequest",
        "variableName" : "cancelMLDataProcessingJobRequest",
        "variableType" : "CancelMLDataProcessingJobRequest",
        "documentation" : "",
        "simpleType" : "CancelMLDataProcessingJobRequest",
        "variableSetterType" : "CancelMLDataProcessingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelMLDataProcessingJob",
      "operationName" : "CancelMLDataProcessingJob",
      "returnType" : {
        "returnType" : "CancelMLDataProcessingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelMLDataProcessingJobResult"
    },
    "CancelMLModelTrainingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelMLModelTrainingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelMLModelTrainingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelMLModelTrainingJobRequest, CancelMLModelTrainingJobResult>",
      "asyncReturnType" : "CancelMLModelTrainingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a Neptune ML model training job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-modeltraining.html\">Model training using the <code>modeltraining</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelmlmodeltrainingjob\">neptune-db:CancelMLModelTrainingJob</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MLResourceNotFoundException",
        "documentation" : "<p>Raised when a specified machine-learning resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelMLModelTrainingJobRequest",
        "variableName" : "cancelMLModelTrainingJobRequest",
        "variableType" : "CancelMLModelTrainingJobRequest",
        "documentation" : "",
        "simpleType" : "CancelMLModelTrainingJobRequest",
        "variableSetterType" : "CancelMLModelTrainingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelMLModelTrainingJob",
      "operationName" : "CancelMLModelTrainingJob",
      "returnType" : {
        "returnType" : "CancelMLModelTrainingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelMLModelTrainingJobResult"
    },
    "CancelMLModelTransformJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelMLModelTransformJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelMLModelTransformJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelMLModelTransformJobRequest, CancelMLModelTransformJobResult>",
      "asyncReturnType" : "CancelMLModelTransformJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a specified model transform job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-model-transform.html\">Use a trained model to generate new model artifacts</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelmlmodeltransformjob\">neptune-db:CancelMLModelTransformJob</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MLResourceNotFoundException",
        "documentation" : "<p>Raised when a specified machine-learning resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelMLModelTransformJobRequest",
        "variableName" : "cancelMLModelTransformJobRequest",
        "variableType" : "CancelMLModelTransformJobRequest",
        "documentation" : "",
        "simpleType" : "CancelMLModelTransformJobRequest",
        "variableSetterType" : "CancelMLModelTransformJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelMLModelTransformJob",
      "operationName" : "CancelMLModelTransformJob",
      "returnType" : {
        "returnType" : "CancelMLModelTransformJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelMLModelTransformJobResult"
    },
    "CancelOpenCypherQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelOpenCypherQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelOpenCypherQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelOpenCypherQueryRequest, CancelOpenCypherQueryResult>",
      "asyncReturnType" : "CancelOpenCypherQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a specified openCypher query. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/access-graph-opencypher-status.html\">Neptune openCypher status endpoint</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelquery\">neptune-db:CancelQuery</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNumericDataException",
        "documentation" : "<p>Raised when invalid numerical data is encountered when servicing a request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailureByQueryException",
        "documentation" : "<p>Raised when a request fails.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ParsingException",
        "documentation" : "<p>Raised when a parsing issue is encountered.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TimeLimitExceededException",
        "documentation" : "<p>Raised when the an operation exceeds the time limit allowed for it.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Raised when a request attempts to modify data that is concurrently being modified by another process.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelOpenCypherQueryRequest",
        "variableName" : "cancelOpenCypherQueryRequest",
        "variableType" : "CancelOpenCypherQueryRequest",
        "documentation" : "",
        "simpleType" : "CancelOpenCypherQueryRequest",
        "variableSetterType" : "CancelOpenCypherQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelOpenCypherQuery",
      "operationName" : "CancelOpenCypherQuery",
      "returnType" : {
        "returnType" : "CancelOpenCypherQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelOpenCypherQueryResult"
    },
    "CreateMLEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMLEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMLEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMLEndpointRequest, CreateMLEndpointResult>",
      "asyncReturnType" : "CreateMLEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Neptune ML inference endpoint that lets you query one specific model that the model-training process constructed. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-endpoints.html\">Managing inference endpoints using the endpoints command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#createmlendpoint\">neptune-db:CreateMLEndpoint</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MLResourceNotFoundException",
        "documentation" : "<p>Raised when a specified machine-learning resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMLEndpointRequest",
        "variableName" : "createMLEndpointRequest",
        "variableType" : "CreateMLEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateMLEndpointRequest",
        "variableSetterType" : "CreateMLEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMLEndpoint",
      "operationName" : "CreateMLEndpoint",
      "returnType" : {
        "returnType" : "CreateMLEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMLEndpointResult"
    },
    "DeleteMLEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMLEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMLEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMLEndpointRequest, DeleteMLEndpointResult>",
      "asyncReturnType" : "DeleteMLEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the creation of a Neptune ML inference endpoint. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-endpoints.html\">Managing inference endpoints using the endpoints command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletemlendpoint\">neptune-db:DeleteMLEndpoint</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MLResourceNotFoundException",
        "documentation" : "<p>Raised when a specified machine-learning resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMLEndpointRequest",
        "variableName" : "deleteMLEndpointRequest",
        "variableType" : "DeleteMLEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteMLEndpointRequest",
        "variableSetterType" : "DeleteMLEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMLEndpoint",
      "operationName" : "DeleteMLEndpoint",
      "returnType" : {
        "returnType" : "DeleteMLEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMLEndpointResult"
    },
    "DeletePropertygraphStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePropertygraphStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePropertygraphStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePropertygraphStatisticsRequest, DeletePropertygraphStatisticsResult>",
      "asyncReturnType" : "DeletePropertygraphStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes statistics for Gremlin and openCypher (property graph) data.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletestatistics\">neptune-db:DeleteStatistics</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "StatisticsNotAvailableException",
        "documentation" : "<p>Raised when statistics needed to satisfy a request are not available.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Raised in case of an authentication or authorization failure.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ReadOnlyViolationException",
        "documentation" : "<p>Raised when a request attempts to write to a read-only resource.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePropertygraphStatisticsRequest",
        "variableName" : "deletePropertygraphStatisticsRequest",
        "variableType" : "DeletePropertygraphStatisticsRequest",
        "documentation" : null,
        "simpleType" : "DeletePropertygraphStatisticsRequest",
        "variableSetterType" : "DeletePropertygraphStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePropertygraphStatistics",
      "operationName" : "DeletePropertygraphStatistics",
      "returnType" : {
        "returnType" : "DeletePropertygraphStatisticsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePropertygraphStatisticsResult"
    },
    "DeleteSparqlStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSparqlStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSparqlStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSparqlStatisticsRequest, DeleteSparqlStatisticsResult>",
      "asyncReturnType" : "DeleteSparqlStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes SPARQL statistics</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletestatistics\">neptune-db:DeleteStatistics</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "StatisticsNotAvailableException",
        "documentation" : "<p>Raised when statistics needed to satisfy a request are not available.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Raised in case of an authentication or authorization failure.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ReadOnlyViolationException",
        "documentation" : "<p>Raised when a request attempts to write to a read-only resource.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSparqlStatisticsRequest",
        "variableName" : "deleteSparqlStatisticsRequest",
        "variableType" : "DeleteSparqlStatisticsRequest",
        "documentation" : null,
        "simpleType" : "DeleteSparqlStatisticsRequest",
        "variableSetterType" : "DeleteSparqlStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSparqlStatistics",
      "operationName" : "DeleteSparqlStatistics",
      "returnType" : {
        "returnType" : "DeleteSparqlStatisticsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSparqlStatisticsResult"
    },
    "ExecuteFastReset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteFastResetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteFastResetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteFastResetRequest, ExecuteFastResetResult>",
      "asyncReturnType" : "ExecuteFastResetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The fast reset REST API lets you reset a Neptune graph quicky and easily, removing all of its data.</p> <p>Neptune fast reset is a two-step process. First you call <code>ExecuteFastReset</code> with <code>action</code> set to <code>initiateDatabaseReset</code>. This returns a UUID token which you then include when calling <code>ExecuteFastReset</code> again with <code>action</code> set to <code>performDatabaseReset</code>. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/manage-console-fast-reset.html\">Empty an Amazon Neptune DB cluster using the fast reset API</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#resetdatabase\">neptune-db:ResetDatabase</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Raised in case of an authentication or authorization failure.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerShutdownException",
        "documentation" : "<p>Raised when the server shuts down while processing a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>Raised when the HTTP method used by a request is not supported by the endpoint being used.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "ReadOnlyViolationException",
        "documentation" : "<p>Raised when a request attempts to write to a read-only resource.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteFastResetRequest",
        "variableName" : "executeFastResetRequest",
        "variableType" : "ExecuteFastResetRequest",
        "documentation" : "",
        "simpleType" : "ExecuteFastResetRequest",
        "variableSetterType" : "ExecuteFastResetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeFastReset",
      "operationName" : "ExecuteFastReset",
      "returnType" : {
        "returnType" : "ExecuteFastResetResult",
        "documentation" : null
      },
      "syncReturnType" : "ExecuteFastResetResult"
    },
    "ExecuteGremlinExplainQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteGremlinExplainQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteGremlinExplainQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteGremlinExplainQueryRequest, ExecuteGremlinExplainQueryResult>",
      "asyncReturnType" : "ExecuteGremlinExplainQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Executes a Gremlin Explain query.</p> <p>Amazon Neptune has added a Gremlin feature named <code>explain</code> that provides is a self-service tool for understanding the execution approach being taken by the Neptune engine for the query. You invoke it by adding an <code>explain</code> parameter to an HTTP call that submits a Gremlin query.</p> <p>The explain feature provides information about the logical structure of query execution plans. You can use this information to identify potential evaluation and execution bottlenecks and to tune your query, as explained in <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-traversal-tuning.html\">Tuning Gremlin queries</a>. You can also use query hints to improve query execution plans.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows one of the following IAM actions in that cluster, depending on the query:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#readdataviaquery\">neptune-db:ReadDataViaQuery</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#writedataviaquery\">neptune-db:WriteDataViaQuery</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletedataviaquery\">neptune-db:DeleteDataViaQuery</a> </p> </li> </ul> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Gremlin</a> IAM condition key can be used in the policy document to restrict the use of Gremlin queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "QueryTooLargeException",
        "documentation" : "<p>Raised when the body of a query is too large.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "QueryLimitExceededException",
        "documentation" : "<p>Raised when the number of active queries exceeds what the server can process. The query in question can be retried when the system is less busy.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "QueryLimitException",
        "documentation" : "<p>Raised when the size of a query exceeds the system limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "CancelledByUserException",
        "documentation" : "<p>Raised when a user cancelled a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailureByQueryException",
        "documentation" : "<p>Raised when a request fails.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MemoryLimitExceededException",
        "documentation" : "<p>Raised when a request fails because of insufficient memory resources. The request can be retried.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedQueryException",
        "documentation" : "<p>Raised when a query is submitted that is syntactically incorrect or does not pass additional validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ParsingException",
        "documentation" : "<p>Raised when a parsing issue is encountered.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TimeLimitExceededException",
        "documentation" : "<p>Raised when the an operation exceeds the time limit allowed for it.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Raised when a request attempts to modify data that is concurrently being modified by another process.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteGremlinExplainQueryRequest",
        "variableName" : "executeGremlinExplainQueryRequest",
        "variableType" : "ExecuteGremlinExplainQueryRequest",
        "documentation" : "",
        "simpleType" : "ExecuteGremlinExplainQueryRequest",
        "variableSetterType" : "ExecuteGremlinExplainQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeGremlinExplainQuery",
      "operationName" : "ExecuteGremlinExplainQuery",
      "returnType" : {
        "returnType" : "ExecuteGremlinExplainQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "ExecuteGremlinExplainQueryResult"
    },
    "ExecuteGremlinProfileQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteGremlinProfileQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteGremlinProfileQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteGremlinProfileQueryRequest, ExecuteGremlinProfileQueryResult>",
      "asyncReturnType" : "ExecuteGremlinProfileQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Executes a Gremlin Profile query, which runs a specified traversal, collects various metrics about the run, and produces a profile report as output. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-profile-api.html\">Gremlin profile API in Neptune</a> for details.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#readdataviaquery\">neptune-db:ReadDataViaQuery</a> IAM action in that cluster.</p> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Gremlin</a> IAM condition key can be used in the policy document to restrict the use of Gremlin queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "QueryTooLargeException",
        "documentation" : "<p>Raised when the body of a query is too large.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "QueryLimitExceededException",
        "documentation" : "<p>Raised when the number of active queries exceeds what the server can process. The query in question can be retried when the system is less busy.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "QueryLimitException",
        "documentation" : "<p>Raised when the size of a query exceeds the system limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "CancelledByUserException",
        "documentation" : "<p>Raised when a user cancelled a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailureByQueryException",
        "documentation" : "<p>Raised when a request fails.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MemoryLimitExceededException",
        "documentation" : "<p>Raised when a request fails because of insufficient memory resources. The request can be retried.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedQueryException",
        "documentation" : "<p>Raised when a query is submitted that is syntactically incorrect or does not pass additional validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ParsingException",
        "documentation" : "<p>Raised when a parsing issue is encountered.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TimeLimitExceededException",
        "documentation" : "<p>Raised when the an operation exceeds the time limit allowed for it.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Raised when a request attempts to modify data that is concurrently being modified by another process.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteGremlinProfileQueryRequest",
        "variableName" : "executeGremlinProfileQueryRequest",
        "variableType" : "ExecuteGremlinProfileQueryRequest",
        "documentation" : "",
        "simpleType" : "ExecuteGremlinProfileQueryRequest",
        "variableSetterType" : "ExecuteGremlinProfileQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeGremlinProfileQuery",
      "operationName" : "ExecuteGremlinProfileQuery",
      "returnType" : {
        "returnType" : "ExecuteGremlinProfileQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "ExecuteGremlinProfileQueryResult"
    },
    "ExecuteGremlinQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteGremlinQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteGremlinQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteGremlinQueryRequest, ExecuteGremlinQueryResult>",
      "asyncReturnType" : "ExecuteGremlinQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This commands executes a Gremlin query. Amazon Neptune is compatible with Apache TinkerPop3 and Gremlin, so you can use the Gremlin traversal language to query the graph, as described under <a href=\"https://tinkerpop.apache.org/docs/current/reference/#graph\">The Graph</a> in the Apache TinkerPop3 documentation. More details can also be found in <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/access-graph-gremlin.html\">Accessing a Neptune graph with Gremlin</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that enables one of the following IAM actions in that cluster, depending on the query:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#readdataviaquery\">neptune-db:ReadDataViaQuery</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#writedataviaquery\">neptune-db:WriteDataViaQuery</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletedataviaquery\">neptune-db:DeleteDataViaQuery</a> </p> </li> </ul> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Gremlin</a> IAM condition key can be used in the policy document to restrict the use of Gremlin queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "QueryTooLargeException",
        "documentation" : "<p>Raised when the body of a query is too large.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "QueryLimitExceededException",
        "documentation" : "<p>Raised when the number of active queries exceeds what the server can process. The query in question can be retried when the system is less busy.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "QueryLimitException",
        "documentation" : "<p>Raised when the size of a query exceeds the system limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "CancelledByUserException",
        "documentation" : "<p>Raised when a user cancelled a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailureByQueryException",
        "documentation" : "<p>Raised when a request fails.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MemoryLimitExceededException",
        "documentation" : "<p>Raised when a request fails because of insufficient memory resources. The request can be retried.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedQueryException",
        "documentation" : "<p>Raised when a query is submitted that is syntactically incorrect or does not pass additional validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ParsingException",
        "documentation" : "<p>Raised when a parsing issue is encountered.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TimeLimitExceededException",
        "documentation" : "<p>Raised when the an operation exceeds the time limit allowed for it.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Raised when a request attempts to modify data that is concurrently being modified by another process.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteGremlinQueryRequest",
        "variableName" : "executeGremlinQueryRequest",
        "variableType" : "ExecuteGremlinQueryRequest",
        "documentation" : "",
        "simpleType" : "ExecuteGremlinQueryRequest",
        "variableSetterType" : "ExecuteGremlinQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeGremlinQuery",
      "operationName" : "ExecuteGremlinQuery",
      "returnType" : {
        "returnType" : "ExecuteGremlinQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "ExecuteGremlinQueryResult"
    },
    "ExecuteOpenCypherExplainQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteOpenCypherExplainQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteOpenCypherExplainQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteOpenCypherExplainQueryRequest, ExecuteOpenCypherExplainQueryResult>",
      "asyncReturnType" : "ExecuteOpenCypherExplainQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Executes an openCypher <code>explain</code> request. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/access-graph-opencypher-explain.html\">The openCypher explain feature</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#readdataviaquery\">neptune-db:ReadDataViaQuery</a> IAM action in that cluster.</p> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:OpenCypher</a> IAM condition key can be used in the policy document to restrict the use of openCypher queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "QueryTooLargeException",
        "documentation" : "<p>Raised when the body of a query is too large.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNumericDataException",
        "documentation" : "<p>Raised when invalid numerical data is encountered when servicing a request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "QueryLimitExceededException",
        "documentation" : "<p>Raised when the number of active queries exceeds what the server can process. The query in question can be retried when the system is less busy.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "QueryLimitException",
        "documentation" : "<p>Raised when the size of a query exceeds the system limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "CancelledByUserException",
        "documentation" : "<p>Raised when a user cancelled a request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailureByQueryException",
        "documentation" : "<p>Raised when a request fails.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MemoryLimitExceededException",
        "documentation" : "<p>Raised when a request fails because of insufficient memory resources. The request can be retried.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedQueryException",
        "documentation" : "<p>Raised when a query is submitted that is syntactically incorrect or does not pass additional validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ParsingException",
        "documentation" : "<p>Raised when a parsing issue is encountered.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TimeLimitExceededException",
        "documentation" : "<p>Raised when the an operation exceeds the time limit allowed for it.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Raised when a request attempts to modify data that is concurrently being modified by another process.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteOpenCypherExplainQueryRequest",
        "variableName" : "executeOpenCypherExplainQueryRequest",
        "variableType" : "ExecuteOpenCypherExplainQueryRequest",
        "documentation" : "",
        "simpleType" : "ExecuteOpenCypherExplainQueryRequest",
        "variableSetterType" : "ExecuteOpenCypherExplainQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeOpenCypherExplainQuery",
      "operationName" : "ExecuteOpenCypherExplainQuery",
      "returnType" : {
        "returnType" : "ExecuteOpenCypherExplainQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "ExecuteOpenCypherExplainQueryResult"
    },
    "GetEngineStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEngineStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEngineStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEngineStatusRequest, GetEngineStatusResult>",
      "asyncReturnType" : "GetEngineStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the status of the graph database on the host.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getenginestatus\">neptune-db:GetEngineStatus</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>Raised when the processing of the request failed unexpectedly.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEngineStatusRequest",
        "variableName" : "getEngineStatusRequest",
        "variableType" : "GetEngineStatusRequest",
        "documentation" : null,
        "simpleType" : "GetEngineStatusRequest",
        "variableSetterType" : "GetEngineStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEngineStatus",
      "operationName" : "GetEngineStatus",
      "returnType" : {
        "returnType" : "GetEngineStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEngineStatusResult"
    },
    "GetGremlinQueryStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGremlinQueryStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGremlinQueryStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGremlinQueryStatusRequest, GetGremlinQueryStatusResult>",
      "asyncReturnType" : "GetGremlinQueryStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the status of a specified Gremlin query.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getquerystatus\">neptune-db:GetQueryStatus</a> IAM action in that cluster.</p> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Gremlin</a> IAM condition key can be used in the policy document to restrict the use of Gremlin queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Raised in case of an authentication or authorization failure.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailureByQueryException",
        "documentation" : "<p>Raised when a request fails.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ParsingException",
        "documentation" : "<p>Raised when a parsing issue is encountered.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ReadOnlyViolationException",
        "documentation" : "<p>Raised when a request attempts to write to a read-only resource.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TimeLimitExceededException",
        "documentation" : "<p>Raised when the an operation exceeds the time limit allowed for it.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Raised when a request attempts to modify data that is concurrently being modified by another process.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGremlinQueryStatusRequest",
        "variableName" : "getGremlinQueryStatusRequest",
        "variableType" : "GetGremlinQueryStatusRequest",
        "documentation" : "",
        "simpleType" : "GetGremlinQueryStatusRequest",
        "variableSetterType" : "GetGremlinQueryStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGremlinQueryStatus",
      "operationName" : "GetGremlinQueryStatus",
      "returnType" : {
        "returnType" : "GetGremlinQueryStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGremlinQueryStatusResult"
    },
    "GetMLDataProcessingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMLDataProcessingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMLDataProcessingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMLDataProcessingJobRequest, GetMLDataProcessingJobResult>",
      "asyncReturnType" : "GetMLDataProcessingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a specified data processing job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-dataprocessing.html\">The <code>dataprocessing</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getmldataprocessingjobstatus\">neptune-db:neptune-db:GetMLDataProcessingJobStatus</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MLResourceNotFoundException",
        "documentation" : "<p>Raised when a specified machine-learning resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMLDataProcessingJobRequest",
        "variableName" : "getMLDataProcessingJobRequest",
        "variableType" : "GetMLDataProcessingJobRequest",
        "documentation" : "",
        "simpleType" : "GetMLDataProcessingJobRequest",
        "variableSetterType" : "GetMLDataProcessingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMLDataProcessingJob",
      "operationName" : "GetMLDataProcessingJob",
      "returnType" : {
        "returnType" : "GetMLDataProcessingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMLDataProcessingJobResult"
    },
    "GetMLEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMLEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMLEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMLEndpointRequest, GetMLEndpointResult>",
      "asyncReturnType" : "GetMLEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details about an inference endpoint. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-endpoints.html\">Managing inference endpoints using the endpoints command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getmlendpointstatus\">neptune-db:GetMLEndpointStatus</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MLResourceNotFoundException",
        "documentation" : "<p>Raised when a specified machine-learning resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Raised when the number of requests being processed exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMLEndpointRequest",
        "variableName" : "getMLEndpointRequest",
        "variableType" : "GetMLEndpointRequest",
        "documentation" : "",
        "simpleType" : "GetMLEndpointRequest",
        "variableSetterType" : "GetMLEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMLEndpoint",
      "operationName" : "GetMLEndpoint",
      "returnType" : {
        "returnType" : "GetMLEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMLEndpointResult"
    },
    "GetMLModelTrainingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMLModelTrainingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMLModelTrainingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMLModelTrainingJobRequest, GetMLModelTrainingJobResult>",
      "asyncReturnType" : "GetMLModelTrainingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a Neptune ML model training job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-modeltraining.html\">Model training using the <code>modeltraining</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getmlmodeltrainingjobstatus\">neptune-db:GetMLModelTrainingJobStatus</a> IAM action in that cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>Raised when a request attempts to initiate an operation that is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Raised when a request is submitted that cannot be processed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MLResourceNotFoundException",
        "documentation" : "<p>Raised when a specified machine-learning resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Raised when a parameter value is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientTimeoutException",
        "documentation" : "<p>Raised when a request timed out in the client.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "PreconditionsFailedException",
        "documentation" : "<p>Raised when a precondition for processing a request is not satisfied.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>Raised when an argument in a request has an invalid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>Raised when a required parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Raised when an argument in a request is not supported.</p>",
[...]
