{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-11-12",
    "asyncClient" : "AWSNetworkFirewallAsyncClient",
    "asyncClientBuilderClassName" : "AWSNetworkFirewallAsyncClientBuilder",
    "asyncInterface" : "AWSNetworkFirewallAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSNetworkFirewallModuleInjector",
    "defaultEndpoint" : "network-firewall.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "network-firewall.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This is the API Reference for AWS Network Firewall. This guide is for developers who need detailed information about the Network Firewall API actions, data types, and errors. </p> <ul> <li> <p>The REST API requires you to handle connection details, such as calculating signatures, handling request retries, and error handling. For general information about using the AWS REST APIs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-apis.html\">AWS APIs</a>. </p> <p>To access Network Firewall using the REST API endpoint: <code>https://network-firewall.&lt;region&gt;.amazonaws.com </code> </p> </li> <li> <p>Alternatively, you can use one of the AWS SDKs to access an API that's tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p> </li> <li> <p>For descriptions of Network Firewall features, including and step-by-step instructions on how to use them through the Network Firewall console, see the <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/\">Network Firewall Developer Guide</a>.</p> </li> </ul> <p>Network Firewall is a stateful, managed, network firewall and intrusion detection and prevention service for Amazon Virtual Private Cloud (Amazon VPC). With Network Firewall, you can filter traffic at the perimeter of your VPC. This includes filtering traffic going to and coming from an internet gateway, NAT gateway, or over VPN or AWS Direct Connect. Network Firewall uses rules that are compatible with Suricata, a free, open source intrusion detection system (IDS) engine. For information about Suricata, see the <a href=\"https://suricata-ids.org/\">Suricata website</a>.</p> <p>You can use Network Firewall to monitor and protect your VPC traffic in a number of ways. The following are just a few examples: </p> <ul> <li> <p>Allow domains or IP addresses for known AWS service endpoints, such as Amazon S3, and block all other forms of traffic.</p> </li> <li> <p>Use custom lists of known bad domains to limit the types of domain names that your applications can access.</p> </li> <li> <p>Perform deep packet inspection on traffic entering or leaving your VPC.</p> </li> <li> <p>Use stateful protocol detection to filter protocols like HTTPS, regardless of the port used.</p> </li> </ul> <p>To enable Network Firewall for your VPCs, you perform steps in both Amazon VPC and in Network Firewall. For information about using Amazon VPC, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/\">Amazon VPC User Guide</a>.</p> <p>To start using Network Firewall, do the following: </p> <ol> <li> <p>(Optional) If you don't already have a VPC that you want to protect, create it in Amazon VPC. </p> </li> <li> <p>In Amazon VPC, in each Availability Zone where you want to have a firewall endpoint, create a subnet for the sole use of Network Firewall. </p> </li> <li> <p>In Network Firewall, create stateless and stateful rule groups, to define the components of the network traffic filtering behavior that you want your firewall to have. </p> </li> <li> <p>In Network Firewall, create a firewall policy that uses your rule groups and specifies additional default traffic filtering behavior. </p> </li> <li> <p>In Network Firewall, create a firewall and specify your new firewall policy and VPC subnets. Network Firewall creates a firewall endpoint in each subnet that you specify, with the behavior that's defined in the firewall policy.</p> </li> <li> <p>In Amazon VPC, use ingress routing enhancements to route traffic through the new firewall endpoints.</p> </li> </ol>",
    "endpointPrefix" : "network-firewall",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.networkfirewall",
    "packagePath" : "com/amazonaws/services/networkfirewall",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Network Firewall",
    "serviceFullName" : "AWS Network Firewall",
    "serviceId" : "Network Firewall",
    "serviceName" : "Network Firewall",
    "signingName" : "network-firewall",
    "smokeTestsPackageName" : "com.amazonaws.services.networkfirewall.smoketests",
    "syncClient" : "AWSNetworkFirewallClient",
    "syncClientBuilderClassName" : "AWSNetworkFirewallClientBuilder",
    "syncInterface" : "AWSNetworkFirewall",
    "uid" : "network-firewall-2020-11-12",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateFirewallPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateFirewallPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateFirewallPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateFirewallPolicyRequest, AssociateFirewallPolicyResult>",
      "asyncReturnType" : "AssociateFirewallPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a <a>FirewallPolicy</a> to a <a>Firewall</a>. </p> <p>A firewall policy defines how to monitor and manage your VPC network traffic, using a collection of inspection rule groups and other settings. Each firewall requires one firewall policy association, and you can use the same firewall policy for multiple firewalls. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The token you provided is stale or isn't valid for the operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because it's not valid. For example, you might have tried to delete a rule group or firewall policy that's in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateFirewallPolicyRequest",
        "variableName" : "associateFirewallPolicyRequest",
        "variableType" : "AssociateFirewallPolicyRequest",
        "documentation" : "",
        "simpleType" : "AssociateFirewallPolicyRequest",
        "variableSetterType" : "AssociateFirewallPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateFirewallPolicy",
      "operationName" : "AssociateFirewallPolicy",
      "returnType" : {
        "returnType" : "AssociateFirewallPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateFirewallPolicyResult"
    },
    "AssociateSubnets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateSubnetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateSubnetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateSubnetsRequest, AssociateSubnetsResult>",
      "asyncReturnType" : "AssociateSubnetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified subnets in the Amazon VPC to the firewall. You can specify one subnet for each of the Availability Zones that the VPC spans. </p> <p>This request creates an AWS Network Firewall firewall endpoint in each of the subnets. To enable the firewall's protections, you must also modify the VPC's route tables for each subnet's Availability Zone, to redirect the traffic that's coming into and going out of the zone through the firewall endpoint. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The token you provided is stale or isn't valid for the operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because it's not valid. For example, you might have tried to delete a rule group or firewall policy that's in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientCapacityException",
        "documentation" : "<p>AWS doesn't currently have enough available capacity to fulfill your request. Try your request later. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateSubnetsRequest",
        "variableName" : "associateSubnetsRequest",
        "variableType" : "AssociateSubnetsRequest",
        "documentation" : "",
        "simpleType" : "AssociateSubnetsRequest",
        "variableSetterType" : "AssociateSubnetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateSubnets",
      "operationName" : "AssociateSubnets",
      "returnType" : {
        "returnType" : "AssociateSubnetsResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateSubnetsResult"
    },
    "CreateFirewall" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFirewallResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFirewallResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFirewallRequest, CreateFirewallResult>",
      "asyncReturnType" : "CreateFirewallResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an AWS Network Firewall <a>Firewall</a> and accompanying <a>FirewallStatus</a> for a VPC. </p> <p>The firewall defines the configuration settings for an AWS Network Firewall firewall. The settings that you can define at creation include the firewall policy, the subnets in your VPC to use for the firewall endpoints, and any tags that are attached to the firewall AWS resource. </p> <p>After you create a firewall, you can provide additional settings, like the logging configuration. </p> <p>To update the settings for a firewall, you use the operations that apply to the settings themselves, for example <a>UpdateLoggingConfiguration</a>, <a>AssociateSubnets</a>, and <a>UpdateFirewallDeleteProtection</a>. </p> <p>To manage a firewall's tags, use the standard AWS resource tagging operations, <a>ListTagsForResource</a>, <a>TagResource</a>, and <a>UntagResource</a>.</p> <p>To retrieve information about firewalls, use <a>ListFirewalls</a> and <a>DescribeFirewall</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Unable to perform the operation because doing so would violate a limit setting. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientCapacityException",
        "documentation" : "<p>AWS doesn't currently have enough available capacity to fulfill your request. Try your request later. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because it's not valid. For example, you might have tried to delete a rule group or firewall policy that's in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFirewallRequest",
        "variableName" : "createFirewallRequest",
        "variableType" : "CreateFirewallRequest",
        "documentation" : "",
        "simpleType" : "CreateFirewallRequest",
        "variableSetterType" : "CreateFirewallRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFirewall",
      "operationName" : "CreateFirewall",
      "returnType" : {
        "returnType" : "CreateFirewallResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFirewallResult"
    },
    "CreateFirewallPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFirewallPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFirewallPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFirewallPolicyRequest, CreateFirewallPolicyResult>",
      "asyncReturnType" : "CreateFirewallPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the firewall policy for the firewall according to the specifications. </p> <p>An AWS Network Firewall firewall policy defines the behavior of a firewall, in a collection of stateless and stateful rule groups and other settings. You can use one firewall policy for multiple firewalls. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Unable to perform the operation because doing so would violate a limit setting. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientCapacityException",
        "documentation" : "<p>AWS doesn't currently have enough available capacity to fulfill your request. Try your request later. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFirewallPolicyRequest",
        "variableName" : "createFirewallPolicyRequest",
        "variableType" : "CreateFirewallPolicyRequest",
        "documentation" : "",
        "simpleType" : "CreateFirewallPolicyRequest",
        "variableSetterType" : "CreateFirewallPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFirewallPolicy",
      "operationName" : "CreateFirewallPolicy",
      "returnType" : {
        "returnType" : "CreateFirewallPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFirewallPolicyResult"
    },
    "CreateRuleGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleGroupRequest, CreateRuleGroupResult>",
      "asyncReturnType" : "CreateRuleGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the specified stateless or stateful rule group, which includes the rules for network traffic inspection, a capacity setting, and tags. </p> <p>You provide your rule group specification in your request using either <code>RuleGroup</code> or <code>Rules</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Unable to perform the operation because doing so would violate a limit setting. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientCapacityException",
        "documentation" : "<p>AWS doesn't currently have enough available capacity to fulfill your request. Try your request later. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRuleGroupRequest",
        "variableName" : "createRuleGroupRequest",
        "variableType" : "CreateRuleGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateRuleGroupRequest",
        "variableSetterType" : "CreateRuleGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRuleGroup",
      "operationName" : "CreateRuleGroup",
      "returnType" : {
        "returnType" : "CreateRuleGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRuleGroupResult"
    },
    "DeleteFirewall" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFirewallResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFirewallResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFirewallRequest, DeleteFirewallResult>",
      "asyncReturnType" : "DeleteFirewallResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified <a>Firewall</a> and its <a>FirewallStatus</a>. This operation requires the firewall's <code>DeleteProtection</code> flag to be <code>FALSE</code>. You can't revert this operation. </p> <p>You can check whether a firewall is in use by reviewing the route tables for the Availability Zones where you have firewall subnet mappings. Retrieve the subnet mappings by calling <a>DescribeFirewall</a>. You define and update the route tables through Amazon VPC. As needed, update the route tables for the zones to remove the firewall endpoints. When the route tables no longer use the firewall endpoints, you can remove the firewall safely.</p> <p>To delete a firewall, remove the delete protection if you need to using <a>UpdateFirewallDeleteProtection</a>, then delete the firewall by calling <a>DeleteFirewall</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation you requested isn't supported by Network Firewall. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because it's not valid. For example, you might have tried to delete a rule group or firewall policy that's in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFirewallRequest",
        "variableName" : "deleteFirewallRequest",
        "variableType" : "DeleteFirewallRequest",
        "documentation" : "",
        "simpleType" : "DeleteFirewallRequest",
        "variableSetterType" : "DeleteFirewallRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFirewall",
      "operationName" : "DeleteFirewall",
      "returnType" : {
        "returnType" : "DeleteFirewallResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFirewallResult"
    },
    "DeleteFirewallPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFirewallPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFirewallPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFirewallPolicyRequest, DeleteFirewallPolicyResult>",
      "asyncReturnType" : "DeleteFirewallPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified <a>FirewallPolicy</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation you requested isn't supported by Network Firewall. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because it's not valid. For example, you might have tried to delete a rule group or firewall policy that's in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFirewallPolicyRequest",
        "variableName" : "deleteFirewallPolicyRequest",
        "variableType" : "DeleteFirewallPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteFirewallPolicyRequest",
        "variableSetterType" : "DeleteFirewallPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFirewallPolicy",
      "operationName" : "DeleteFirewallPolicy",
      "returnType" : {
        "returnType" : "DeleteFirewallPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFirewallPolicyResult"
    },
    "DeleteResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourcePolicyRequest, DeleteResourcePolicyResult>",
      "asyncReturnType" : "DeleteResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a resource policy that you created in a <a>PutResourcePolicy</a> request. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourcePolicyRequest",
        "variableName" : "deleteResourcePolicyRequest",
        "variableType" : "DeleteResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourcePolicyRequest",
        "variableSetterType" : "DeleteResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourcePolicy",
      "operationName" : "DeleteResourcePolicy",
      "returnType" : {
        "returnType" : "DeleteResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourcePolicyResult"
    },
    "DeleteRuleGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleGroupRequest, DeleteRuleGroupResult>",
      "asyncReturnType" : "DeleteRuleGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified <a>RuleGroup</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation you requested isn't supported by Network Firewall. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because it's not valid. For example, you might have tried to delete a rule group or firewall policy that's in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRuleGroupRequest",
        "variableName" : "deleteRuleGroupRequest",
        "variableType" : "DeleteRuleGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteRuleGroupRequest",
        "variableSetterType" : "DeleteRuleGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRuleGroup",
      "operationName" : "DeleteRuleGroup",
      "returnType" : {
        "returnType" : "DeleteRuleGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRuleGroupResult"
    },
    "DescribeFirewall" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFirewallResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFirewallResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFirewallRequest, DescribeFirewallResult>",
      "asyncReturnType" : "DescribeFirewallResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the data objects for the specified firewall. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFirewallRequest",
        "variableName" : "describeFirewallRequest",
        "variableType" : "DescribeFirewallRequest",
        "documentation" : "",
        "simpleType" : "DescribeFirewallRequest",
        "variableSetterType" : "DescribeFirewallRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFirewall",
      "operationName" : "DescribeFirewall",
      "returnType" : {
        "returnType" : "DescribeFirewallResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFirewallResult"
    },
    "DescribeFirewallPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFirewallPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFirewallPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFirewallPolicyRequest, DescribeFirewallPolicyResult>",
      "asyncReturnType" : "DescribeFirewallPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the data objects for the specified firewall policy. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFirewallPolicyRequest",
        "variableName" : "describeFirewallPolicyRequest",
        "variableType" : "DescribeFirewallPolicyRequest",
        "documentation" : "",
        "simpleType" : "DescribeFirewallPolicyRequest",
        "variableSetterType" : "DescribeFirewallPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFirewallPolicy",
      "operationName" : "DescribeFirewallPolicy",
      "returnType" : {
        "returnType" : "DescribeFirewallPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFirewallPolicyResult"
    },
    "DescribeLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoggingConfigurationRequest, DescribeLoggingConfigurationResult>",
      "asyncReturnType" : "DescribeLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the logging configuration for the specified firewall. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLoggingConfigurationRequest",
        "variableName" : "describeLoggingConfigurationRequest",
        "variableType" : "DescribeLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeLoggingConfigurationRequest",
        "variableSetterType" : "DescribeLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoggingConfiguration",
      "operationName" : "DescribeLoggingConfiguration",
      "returnType" : {
        "returnType" : "DescribeLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLoggingConfigurationResult"
    },
    "DescribeResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourcePolicyRequest, DescribeResourcePolicyResult>",
      "asyncReturnType" : "DescribeResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a resource policy that you created in a <a>PutResourcePolicy</a> request. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeResourcePolicyRequest",
        "variableName" : "describeResourcePolicyRequest",
        "variableType" : "DescribeResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourcePolicyRequest",
        "variableSetterType" : "DescribeResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResourcePolicy",
      "operationName" : "DescribeResourcePolicy",
      "returnType" : {
        "returnType" : "DescribeResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourcePolicyResult"
    },
    "DescribeRuleGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRuleGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRuleGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRuleGroupRequest, DescribeRuleGroupResult>",
      "asyncReturnType" : "DescribeRuleGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the data objects for the specified rule group. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRuleGroupRequest",
        "variableName" : "describeRuleGroupRequest",
        "variableType" : "DescribeRuleGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeRuleGroupRequest",
        "variableSetterType" : "DescribeRuleGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRuleGroup",
      "operationName" : "DescribeRuleGroup",
      "returnType" : {
        "returnType" : "DescribeRuleGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRuleGroupResult"
    },
    "DisassociateSubnets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateSubnetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateSubnetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateSubnetsRequest, DisassociateSubnetsResult>",
      "asyncReturnType" : "DisassociateSubnetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified subnet associations from the firewall. This removes the firewall endpoints from the subnets and removes any network filtering protections that the endpoints were providing. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The token you provided is stale or isn't valid for the operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because it's not valid. For example, you might have tried to delete a rule group or firewall policy that's in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateSubnetsRequest",
        "variableName" : "disassociateSubnetsRequest",
        "variableType" : "DisassociateSubnetsRequest",
        "documentation" : "",
        "simpleType" : "DisassociateSubnetsRequest",
        "variableSetterType" : "DisassociateSubnetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateSubnets",
      "operationName" : "DisassociateSubnets",
      "returnType" : {
        "returnType" : "DisassociateSubnetsResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateSubnetsResult"
    },
    "ListFirewallPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFirewallPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFirewallPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFirewallPoliciesRequest, ListFirewallPoliciesResult>",
      "asyncReturnType" : "ListFirewallPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the metadata for the firewall policies that you have defined. Depending on your setting for max results and the number of firewall policies, a single call might not return the full list. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFirewallPoliciesRequest",
        "variableName" : "listFirewallPoliciesRequest",
        "variableType" : "ListFirewallPoliciesRequest",
        "documentation" : "",
        "simpleType" : "ListFirewallPoliciesRequest",
        "variableSetterType" : "ListFirewallPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFirewallPolicies",
      "operationName" : "ListFirewallPolicies",
      "returnType" : {
        "returnType" : "ListFirewallPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFirewallPoliciesResult"
    },
    "ListFirewalls" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFirewallsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFirewallsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFirewallsRequest, ListFirewallsResult>",
      "asyncReturnType" : "ListFirewallsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the metadata for the firewalls that you have defined. If you provide VPC identifiers in your request, this returns only the firewalls for those VPCs.</p> <p>Depending on your setting for max results and the number of firewalls, a single call might not return the full list. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFirewallsRequest",
        "variableName" : "listFirewallsRequest",
        "variableType" : "ListFirewallsRequest",
        "documentation" : "",
        "simpleType" : "ListFirewallsRequest",
        "variableSetterType" : "ListFirewallsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFirewalls",
      "operationName" : "ListFirewalls",
      "returnType" : {
        "returnType" : "ListFirewallsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFirewallsResult"
    },
    "ListRuleGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRuleGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRuleGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRuleGroupsRequest, ListRuleGroupsResult>",
      "asyncReturnType" : "ListRuleGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the metadata for the rule groups that you have defined. Depending on your setting for max results and the number of rule groups, a single call might not return the full list. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRuleGroupsRequest",
        "variableName" : "listRuleGroupsRequest",
        "variableType" : "ListRuleGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListRuleGroupsRequest",
        "variableSetterType" : "ListRuleGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRuleGroups",
      "operationName" : "ListRuleGroups",
      "returnType" : {
        "returnType" : "ListRuleGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRuleGroupsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the tags associated with the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each AWS resource, up to 50 tags for a resource.</p> <p>You can tag the AWS resources that you manage through AWS Network Firewall: firewalls, firewall policies, and rule groups. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResourcePolicyRequest, PutResourcePolicyResult>",
      "asyncReturnType" : "PutResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates an AWS Identity and Access Management policy for your rule group or firewall policy. Use this to share rule groups and firewall policies between accounts. This operation works in conjunction with the AWS Resource Access Manager (RAM) service to manage resource sharing for Network Firewall. </p> <p>Use this operation to create or update a resource policy for your rule group or firewall policy. In the policy, you specify the accounts that you want to share the resource with and the operations that you want the accounts to be able to perform. </p> <p>When you add an account in the resource policy, you then run the following Resource Access Manager (RAM) operations to access and accept the shared rule group or firewall policy. </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_GetResourceShareInvitations.html\">GetResourceShareInvitations</a> - Returns the Amazon Resource Names (ARNs) of the resource share invitations. </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_AcceptResourceShareInvitation.html\">AcceptResourceShareInvitation</a> - Accepts the share invitation for a specified resource share. </p> </li> </ul> <p>For additional information about resource sharing using RAM, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/what-is.html\">AWS Resource Access Manager User Guide</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourcePolicyException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutResourcePolicyRequest",
        "variableName" : "putResourcePolicyRequest",
        "variableType" : "PutResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "PutResourcePolicyRequest",
        "variableSetterType" : "PutResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResourcePolicy",
      "operationName" : "PutResourcePolicy",
      "returnType" : {
        "returnType" : "PutResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutResourcePolicyResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each AWS resource, up to 50 tags for a resource.</p> <p>You can tag the AWS resources that you manage through AWS Network Firewall: firewalls, firewall policies, and rule groups. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the tags with the specified keys from the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each AWS resource, up to 50 tags for a resource.</p> <p>You can manage tags for the AWS resources that you manage through AWS Network Firewall: firewalls, firewall policies, and rule groups. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateFirewallDeleteProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFirewallDeleteProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFirewallDeleteProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFirewallDeleteProtectionRequest, UpdateFirewallDeleteProtectionResult>",
      "asyncReturnType" : "UpdateFirewallDeleteProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the flag, <code>DeleteProtection</code>, which indicates whether it is possible to delete the firewall. If the flag is set to <code>TRUE</code>, the firewall is protected against deletion. This setting helps protect against accidentally deleting a firewall that's in use. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The token you provided is stale or isn't valid for the operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceOwnerCheckException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFirewallDeleteProtectionRequest",
        "variableName" : "updateFirewallDeleteProtectionRequest",
        "variableType" : "UpdateFirewallDeleteProtectionRequest",
        "documentation" : "",
        "simpleType" : "UpdateFirewallDeleteProtectionRequest",
        "variableSetterType" : "UpdateFirewallDeleteProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFirewallDeleteProtection",
      "operationName" : "UpdateFirewallDeleteProtection",
      "returnType" : {
        "returnType" : "UpdateFirewallDeleteProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFirewallDeleteProtectionResult"
    },
    "UpdateFirewallDescription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFirewallDescriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFirewallDescriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFirewallDescriptionRequest, UpdateFirewallDescriptionResult>",
      "asyncReturnType" : "UpdateFirewallDescriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the description for the specified firewall. Use the description to help you identify the firewall when you're working with it. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The token you provided is stale or isn't valid for the operation. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFirewallDescriptionRequest",
        "variableName" : "updateFirewallDescriptionRequest",
        "variableType" : "UpdateFirewallDescriptionRequest",
        "documentation" : "",
        "simpleType" : "UpdateFirewallDescriptionRequest",
        "variableSetterType" : "UpdateFirewallDescriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFirewallDescription",
      "operationName" : "UpdateFirewallDescription",
      "returnType" : {
        "returnType" : "UpdateFirewallDescriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFirewallDescriptionResult"
    },
    "UpdateFirewallPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFirewallPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFirewallPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFirewallPolicyRequest, UpdateFirewallPolicyResult>",
      "asyncReturnType" : "UpdateFirewallPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the properties of the specified firewall policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The token you provided is stale or isn't valid for the operation. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFirewallPolicyRequest",
        "variableName" : "updateFirewallPolicyRequest",
        "variableType" : "UpdateFirewallPolicyRequest",
        "documentation" : "",
        "simpleType" : "UpdateFirewallPolicyRequest",
        "variableSetterType" : "UpdateFirewallPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFirewallPolicy",
      "operationName" : "UpdateFirewallPolicy",
      "returnType" : {
        "returnType" : "UpdateFirewallPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFirewallPolicyResult"
    },
    "UpdateFirewallPolicyChangeProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFirewallPolicyChangeProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFirewallPolicyChangeProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFirewallPolicyChangeProtectionRequest, UpdateFirewallPolicyChangeProtectionResult>",
      "asyncReturnType" : "UpdateFirewallPolicyChangeProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The token you provided is stale or isn't valid for the operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceOwnerCheckException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFirewallPolicyChangeProtectionRequest",
        "variableName" : "updateFirewallPolicyChangeProtectionRequest",
        "variableType" : "UpdateFirewallPolicyChangeProtectionRequest",
        "documentation" : "",
        "simpleType" : "UpdateFirewallPolicyChangeProtectionRequest",
        "variableSetterType" : "UpdateFirewallPolicyChangeProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFirewallPolicyChangeProtection",
      "operationName" : "UpdateFirewallPolicyChangeProtection",
      "returnType" : {
        "returnType" : "UpdateFirewallPolicyChangeProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFirewallPolicyChangeProtectionResult"
    },
    "UpdateLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLoggingConfigurationRequest, UpdateLoggingConfigurationResult>",
      "asyncReturnType" : "UpdateLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the logging configuration for the specified firewall. </p> <p>To change the logging configuration, retrieve the <a>LoggingConfiguration</a> by calling <a>DescribeLoggingConfiguration</a>, then change it and provide the modified object to this update call. You must change the logging configuration one <a>LogDestinationConfig</a> at a time inside the retrieved <a>LoggingConfiguration</a> object. </p> <p>You can perform only one of the following actions in any call to <code>UpdateLoggingConfiguration</code>: </p> <ul> <li> <p>Create a new log destination object by adding a single <code>LogDestinationConfig</code> array element to <code>LogDestinationConfigs</code>.</p> </li> <li> <p>Delete a log destination object by removing a single <code>LogDestinationConfig</code> array element from <code>LogDestinationConfigs</code>.</p> </li> <li> <p>Change the <code>LogDestination</code> setting in a single <code>LogDestinationConfig</code> array element.</p> </li> </ul> <p>You can't change the <code>LogDestinationType</code> or <code>LogType</code> in a <code>LogDestinationConfig</code>. To change these settings, delete the existing <code>LogDestinationConfig</code> object and create a new one, using two separate calls to this update operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The token you provided is stale or isn't valid for the operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LogDestinationPermissionException",
        "documentation" : "<p>Unable to send logs to a configured logging destination. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLoggingConfigurationRequest",
        "variableName" : "updateLoggingConfigurationRequest",
        "variableType" : "UpdateLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateLoggingConfigurationRequest",
        "variableSetterType" : "UpdateLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLoggingConfiguration",
      "operationName" : "UpdateLoggingConfiguration",
      "returnType" : {
        "returnType" : "UpdateLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLoggingConfigurationResult"
    },
    "UpdateRuleGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRuleGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRuleGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRuleGroupRequest, UpdateRuleGroupResult>",
      "asyncReturnType" : "UpdateRuleGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the rule settings for the specified rule group. You use a rule group by reference in one or more firewall policies. When you modify a rule group, you modify all firewall policies that use the rule group. </p> <p>To update a rule group, first call <a>DescribeRuleGroup</a> to retrieve the current <a>RuleGroup</a> object, update the object as needed, and then provide the updated object to this call. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The token you provided is stale or isn't valid for the operation. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRuleGroupRequest",
        "variableName" : "updateRuleGroupRequest",
        "variableType" : "UpdateRuleGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateRuleGroupRequest",
        "variableSetterType" : "UpdateRuleGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRuleGroup",
      "operationName" : "UpdateRuleGroup",
      "returnType" : {
        "returnType" : "UpdateRuleGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRuleGroupResult"
    },
    "UpdateSubnetChangeProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSubnetChangeProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSubnetChangeProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSubnetChangeProtectionRequest, UpdateSubnetChangeProtectionResult>",
      "asyncReturnType" : "UpdateSubnetChangeProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The operation failed because of a problem with your request. Examples include: </p> <ul> <li> <p>You specified an unsupported parameter name or value.</p> </li> <li> <p>You tried to update a property with a value that isn't among the available types.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource that isn't valid in the context of the request.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Your request is valid, but Network Firewall couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Unable to locate a resource using the parameters that you provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Unable to process the request due to throttling limitations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The token you provided is stale or isn't valid for the operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceOwnerCheckException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSubnetChangeProtectionRequest",
        "variableName" : "updateSubnetChangeProtectionRequest",
        "variableType" : "UpdateSubnetChangeProtectionRequest",
        "documentation" : "",
        "simpleType" : "UpdateSubnetChangeProtectionRequest",
        "variableSetterType" : "UpdateSubnetChangeProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSubnetChangeProtection",
      "operationName" : "UpdateSubnetChangeProtection",
      "returnType" : {
        "returnType" : "UpdateSubnetChangeProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSubnetChangeProtectionResult"
    }
  },
  "shapes" : {
    "ActionDefinition" : {
      "c2jName" : "ActionDefinition",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A custom action to use in stateless rule actions settings. This is used in <a>CustomAction</a>.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.networkfirewall.model.ActionDefinition",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "PublishMetricAction",
        "c2jShape" : "PublishMetricAction",
        "deprecated" : false,
        "documentation" : "<p>Stateless inspection criteria that publishes the specified metrics to Amazon CloudWatch for the matching packet. This setting defines a CloudWatch dimension value to be published.</p> <p>You can pair this custom action with any of the standard stateless rule actions. For example, you could pair this in a rule action with the standard action that forwards the packet for stateful inspection. Then, when a packet matches the rule, Network Firewall publishes metrics for the packet and forwards it. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Stateless inspection criteria that publishes the specified metrics to Amazon CloudWatch for the matching packet. This setting defines a CloudWatch dimension value to be published.</p> <p>You can pair this custom action with any of the standard stateless rule actions. For example, you could pair this in a rule action with the standard action that forwards the packet for stateful inspection. Then, when a packet matches the rule, Network Firewall publishes metrics for the packet and forwards it. </p>\n@param publishMetricAction Stateless inspection criteria that publishes the specified metrics to Amazon CloudWatch for the matching packet. This setting defines a CloudWatch dimension value to be published.</p> <p>You can pair this custom action with any of the standard stateless rule actions. For example, you could pair this in a rule action with the standard action that forwards the packet for stateful inspection. Then, when a packet matches the rule, Network Firewall publishes metrics for the packet and forwards it.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPublishMetricAction",
[...]
