{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-07-05",
    "asyncClient" : "AWSNetworkManagerAsyncClient",
    "asyncClientBuilderClassName" : "AWSNetworkManagerAsyncClientBuilder",
    "asyncInterface" : "AWSNetworkManagerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSNetworkManagerModuleInjector",
    "defaultEndpoint" : "networkmanager.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "networkmanager.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Transit Gateway Network Manager (Network Manager) enables you to create a global network, in which you can monitor your AWS and on-premises networks that are built around transit gateways.</p>",
    "endpointPrefix" : "networkmanager",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.networkmanager",
    "packagePath" : "com/amazonaws/services/networkmanager",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "NetworkManager",
    "serviceFullName" : "AWS Network Manager",
    "serviceId" : "NetworkManager",
    "serviceName" : "NetworkManager",
    "signingName" : "networkmanager",
    "smokeTestsPackageName" : "com.amazonaws.services.networkmanager.smoketests",
    "syncClient" : "AWSNetworkManagerClient",
    "syncClientBuilderClassName" : "AWSNetworkManagerClientBuilder",
    "syncInterface" : "AWSNetworkManager",
    "uid" : "networkmanager-2019-07-05",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateCustomerGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateCustomerGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateCustomerGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateCustomerGatewayRequest, AssociateCustomerGatewayResult>",
      "asyncReturnType" : "AssociateCustomerGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a customer gateway with a device and optionally, with a link. If you specify a link, it must be associated with the specified device. </p> <p>You can only associate customer gateways that are connected to a VPN attachment on a transit gateway. The transit gateway must be registered in your global network. When you register a transit gateway, customer gateways that are connected to the transit gateway are automatically included in the global network. To list customer gateways that are connected to a transit gateway, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeVpnConnections.html\">DescribeVpnConnections</a> EC2 API and filter by <code>transit-gateway-id</code>.</p> <p>You cannot associate a customer gateway with more than one device and link. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service limit was exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateCustomerGatewayRequest",
        "variableName" : "associateCustomerGatewayRequest",
        "variableType" : "AssociateCustomerGatewayRequest",
        "documentation" : "",
        "simpleType" : "AssociateCustomerGatewayRequest",
        "variableSetterType" : "AssociateCustomerGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateCustomerGateway",
      "operationName" : "AssociateCustomerGateway",
      "returnType" : {
        "returnType" : "AssociateCustomerGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateCustomerGatewayResult"
    },
    "AssociateLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateLinkRequest, AssociateLinkResult>",
      "asyncReturnType" : "AssociateLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a link to a device. A device can be associated to multiple links and a link can be associated to multiple devices. The device and link must be in the same global network and the same site.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service limit was exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateLinkRequest",
        "variableName" : "associateLinkRequest",
        "variableType" : "AssociateLinkRequest",
        "documentation" : "",
        "simpleType" : "AssociateLinkRequest",
        "variableSetterType" : "AssociateLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateLink",
      "operationName" : "AssociateLink",
      "returnType" : {
        "returnType" : "AssociateLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateLinkResult"
    },
    "CreateDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeviceRequest, CreateDeviceResult>",
      "asyncReturnType" : "CreateDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new device in a global network. If you specify both a site ID and a location, the location of the site is used for visualization in the Network Manager console.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service limit was exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDeviceRequest",
        "variableName" : "createDeviceRequest",
        "variableType" : "CreateDeviceRequest",
        "documentation" : "",
        "simpleType" : "CreateDeviceRequest",
        "variableSetterType" : "CreateDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDevice",
      "operationName" : "CreateDevice",
      "returnType" : {
        "returnType" : "CreateDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDeviceResult"
    },
    "CreateGlobalNetwork" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGlobalNetworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGlobalNetworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGlobalNetworkRequest, CreateGlobalNetworkResult>",
      "asyncReturnType" : "CreateGlobalNetworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new, empty global network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service limit was exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGlobalNetworkRequest",
        "variableName" : "createGlobalNetworkRequest",
        "variableType" : "CreateGlobalNetworkRequest",
        "documentation" : "",
        "simpleType" : "CreateGlobalNetworkRequest",
        "variableSetterType" : "CreateGlobalNetworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGlobalNetwork",
      "operationName" : "CreateGlobalNetwork",
      "returnType" : {
        "returnType" : "CreateGlobalNetworkResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGlobalNetworkResult"
    },
    "CreateLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLinkRequest, CreateLinkResult>",
      "asyncReturnType" : "CreateLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new link for a specified site.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service limit was exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLinkRequest",
        "variableName" : "createLinkRequest",
        "variableType" : "CreateLinkRequest",
        "documentation" : "",
        "simpleType" : "CreateLinkRequest",
        "variableSetterType" : "CreateLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLink",
      "operationName" : "CreateLink",
      "returnType" : {
        "returnType" : "CreateLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLinkResult"
    },
    "CreateSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSiteRequest, CreateSiteResult>",
      "asyncReturnType" : "CreateSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new site in a global network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service limit was exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSiteRequest",
        "variableName" : "createSiteRequest",
        "variableType" : "CreateSiteRequest",
        "documentation" : "",
        "simpleType" : "CreateSiteRequest",
        "variableSetterType" : "CreateSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSite",
      "operationName" : "CreateSite",
      "returnType" : {
        "returnType" : "CreateSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSiteResult"
    },
    "DeleteDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeviceRequest, DeleteDeviceResult>",
      "asyncReturnType" : "DeleteDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing device. You must first disassociate the device from any links and customer gateways.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDeviceRequest",
        "variableName" : "deleteDeviceRequest",
        "variableType" : "DeleteDeviceRequest",
        "documentation" : "",
        "simpleType" : "DeleteDeviceRequest",
        "variableSetterType" : "DeleteDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDevice",
      "operationName" : "DeleteDevice",
      "returnType" : {
        "returnType" : "DeleteDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeviceResult"
    },
    "DeleteGlobalNetwork" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGlobalNetworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGlobalNetworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGlobalNetworkRequest, DeleteGlobalNetworkResult>",
      "asyncReturnType" : "DeleteGlobalNetworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing global network. You must first delete all global network objects (devices, links, and sites) and deregister all transit gateways.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGlobalNetworkRequest",
        "variableName" : "deleteGlobalNetworkRequest",
        "variableType" : "DeleteGlobalNetworkRequest",
        "documentation" : "",
        "simpleType" : "DeleteGlobalNetworkRequest",
        "variableSetterType" : "DeleteGlobalNetworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGlobalNetwork",
      "operationName" : "DeleteGlobalNetwork",
      "returnType" : {
        "returnType" : "DeleteGlobalNetworkResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGlobalNetworkResult"
    },
    "DeleteLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLinkRequest, DeleteLinkResult>",
      "asyncReturnType" : "DeleteLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing link. You must first disassociate the link from any devices and customer gateways.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLinkRequest",
        "variableName" : "deleteLinkRequest",
        "variableType" : "DeleteLinkRequest",
        "documentation" : "",
        "simpleType" : "DeleteLinkRequest",
        "variableSetterType" : "DeleteLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLink",
      "operationName" : "DeleteLink",
      "returnType" : {
        "returnType" : "DeleteLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLinkResult"
    },
    "DeleteSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSiteRequest, DeleteSiteResult>",
      "asyncReturnType" : "DeleteSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing site. The site cannot be associated with any device or link.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSiteRequest",
        "variableName" : "deleteSiteRequest",
        "variableType" : "DeleteSiteRequest",
        "documentation" : "",
        "simpleType" : "DeleteSiteRequest",
        "variableSetterType" : "DeleteSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSite",
      "operationName" : "DeleteSite",
      "returnType" : {
        "returnType" : "DeleteSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSiteResult"
    },
    "DeregisterTransitGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterTransitGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterTransitGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterTransitGatewayRequest, DeregisterTransitGatewayResult>",
      "asyncReturnType" : "DeregisterTransitGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters a transit gateway from your global network. This action does not delete your transit gateway, or modify any of its attachments. This action removes any customer gateway associations.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterTransitGatewayRequest",
        "variableName" : "deregisterTransitGatewayRequest",
        "variableType" : "DeregisterTransitGatewayRequest",
        "documentation" : "",
        "simpleType" : "DeregisterTransitGatewayRequest",
        "variableSetterType" : "DeregisterTransitGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterTransitGateway",
      "operationName" : "DeregisterTransitGateway",
      "returnType" : {
        "returnType" : "DeregisterTransitGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterTransitGatewayResult"
    },
    "DescribeGlobalNetworks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeGlobalNetworksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeGlobalNetworksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeGlobalNetworksRequest, DescribeGlobalNetworksResult>",
      "asyncReturnType" : "DescribeGlobalNetworksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more global networks. By default, all global networks are described. To describe the objects in your global network, you must use the appropriate <code>Get*</code> action. For example, to list the transit gateways in your global network, use <a>GetTransitGatewayRegistrations</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeGlobalNetworksRequest",
        "variableName" : "describeGlobalNetworksRequest",
        "variableType" : "DescribeGlobalNetworksRequest",
        "documentation" : "",
        "simpleType" : "DescribeGlobalNetworksRequest",
        "variableSetterType" : "DescribeGlobalNetworksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeGlobalNetworks",
      "operationName" : "DescribeGlobalNetworks",
      "returnType" : {
        "returnType" : "DescribeGlobalNetworksResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeGlobalNetworksResult"
    },
    "DisassociateCustomerGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateCustomerGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateCustomerGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateCustomerGatewayRequest, DisassociateCustomerGatewayResult>",
      "asyncReturnType" : "DisassociateCustomerGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a customer gateway from a device and a link.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateCustomerGatewayRequest",
        "variableName" : "disassociateCustomerGatewayRequest",
        "variableType" : "DisassociateCustomerGatewayRequest",
        "documentation" : "",
        "simpleType" : "DisassociateCustomerGatewayRequest",
        "variableSetterType" : "DisassociateCustomerGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateCustomerGateway",
      "operationName" : "DisassociateCustomerGateway",
      "returnType" : {
        "returnType" : "DisassociateCustomerGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateCustomerGatewayResult"
    },
    "DisassociateLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateLinkRequest, DisassociateLinkResult>",
      "asyncReturnType" : "DisassociateLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates an existing device from a link. You must first disassociate any customer gateways that are associated with the link.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateLinkRequest",
        "variableName" : "disassociateLinkRequest",
        "variableType" : "DisassociateLinkRequest",
        "documentation" : "",
        "simpleType" : "DisassociateLinkRequest",
        "variableSetterType" : "DisassociateLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateLink",
      "operationName" : "DisassociateLink",
      "returnType" : {
        "returnType" : "DisassociateLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateLinkResult"
    },
    "GetCustomerGatewayAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCustomerGatewayAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCustomerGatewayAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCustomerGatewayAssociationsRequest, GetCustomerGatewayAssociationsResult>",
      "asyncReturnType" : "GetCustomerGatewayAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the association information for customer gateways that are associated with devices and links in your global network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCustomerGatewayAssociationsRequest",
        "variableName" : "getCustomerGatewayAssociationsRequest",
        "variableType" : "GetCustomerGatewayAssociationsRequest",
        "documentation" : "",
        "simpleType" : "GetCustomerGatewayAssociationsRequest",
        "variableSetterType" : "GetCustomerGatewayAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCustomerGatewayAssociations",
      "operationName" : "GetCustomerGatewayAssociations",
      "returnType" : {
        "returnType" : "GetCustomerGatewayAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCustomerGatewayAssociationsResult"
    },
    "GetDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDevicesRequest, GetDevicesResult>",
      "asyncReturnType" : "GetDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more of your devices in a global network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDevicesRequest",
        "variableName" : "getDevicesRequest",
        "variableType" : "GetDevicesRequest",
        "documentation" : "",
        "simpleType" : "GetDevicesRequest",
        "variableSetterType" : "GetDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevices",
      "operationName" : "GetDevices",
      "returnType" : {
        "returnType" : "GetDevicesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDevicesResult"
    },
    "GetLinkAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLinkAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLinkAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLinkAssociationsRequest, GetLinkAssociationsResult>",
      "asyncReturnType" : "GetLinkAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the link associations for a device or a link. Either the device ID or the link ID must be specified.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLinkAssociationsRequest",
        "variableName" : "getLinkAssociationsRequest",
        "variableType" : "GetLinkAssociationsRequest",
        "documentation" : "",
        "simpleType" : "GetLinkAssociationsRequest",
        "variableSetterType" : "GetLinkAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLinkAssociations",
      "operationName" : "GetLinkAssociations",
      "returnType" : {
        "returnType" : "GetLinkAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLinkAssociationsResult"
    },
    "GetLinks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLinksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLinksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLinksRequest, GetLinksResult>",
      "asyncReturnType" : "GetLinksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more links in a specified global network.</p> <p>If you specify the site ID, you cannot specify the type or provider in the same request. You can specify the type and provider in the same request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLinksRequest",
        "variableName" : "getLinksRequest",
        "variableType" : "GetLinksRequest",
        "documentation" : "",
        "simpleType" : "GetLinksRequest",
        "variableSetterType" : "GetLinksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLinks",
      "operationName" : "GetLinks",
      "returnType" : {
        "returnType" : "GetLinksResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLinksResult"
    },
    "GetSites" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSitesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSitesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSitesRequest, GetSitesResult>",
      "asyncReturnType" : "GetSitesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more of your sites in a global network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSitesRequest",
        "variableName" : "getSitesRequest",
        "variableType" : "GetSitesRequest",
        "documentation" : "",
        "simpleType" : "GetSitesRequest",
        "variableSetterType" : "GetSitesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSites",
      "operationName" : "GetSites",
      "returnType" : {
        "returnType" : "GetSitesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSitesResult"
    },
    "GetTransitGatewayRegistrations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTransitGatewayRegistrationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTransitGatewayRegistrationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTransitGatewayRegistrationsRequest, GetTransitGatewayRegistrationsResult>",
      "asyncReturnType" : "GetTransitGatewayRegistrationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the transit gateway registrations in a specified global network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTransitGatewayRegistrationsRequest",
        "variableName" : "getTransitGatewayRegistrationsRequest",
        "variableType" : "GetTransitGatewayRegistrationsRequest",
        "documentation" : "",
        "simpleType" : "GetTransitGatewayRegistrationsRequest",
        "variableSetterType" : "GetTransitGatewayRegistrationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTransitGatewayRegistrations",
      "operationName" : "GetTransitGatewayRegistrations",
      "returnType" : {
        "returnType" : "GetTransitGatewayRegistrationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTransitGatewayRegistrationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for a specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RegisterTransitGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterTransitGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterTransitGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterTransitGatewayRequest, RegisterTransitGatewayResult>",
      "asyncReturnType" : "RegisterTransitGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers a transit gateway in your global network. The transit gateway can be in any AWS Region, but it must be owned by the same AWS account that owns the global network. You cannot register a transit gateway in more than one global network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterTransitGatewayRequest",
        "variableName" : "registerTransitGatewayRequest",
        "variableType" : "RegisterTransitGatewayRequest",
        "documentation" : "",
        "simpleType" : "RegisterTransitGatewayRequest",
        "variableSetterType" : "RegisterTransitGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerTransitGateway",
      "operationName" : "RegisterTransitGateway",
      "returnType" : {
        "returnType" : "RegisterTransitGatewayResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterTransitGatewayResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tags a specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service limit was exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from a specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDeviceRequest, UpdateDeviceResult>",
      "asyncReturnType" : "UpdateDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the details for an existing device. To remove information for any of the parameters, specify an empty string.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDeviceRequest",
        "variableName" : "updateDeviceRequest",
        "variableType" : "UpdateDeviceRequest",
        "documentation" : "",
        "simpleType" : "UpdateDeviceRequest",
        "variableSetterType" : "UpdateDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDevice",
      "operationName" : "UpdateDevice",
      "returnType" : {
        "returnType" : "UpdateDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDeviceResult"
    },
    "UpdateGlobalNetwork" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGlobalNetworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGlobalNetworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGlobalNetworkRequest, UpdateGlobalNetworkResult>",
      "asyncReturnType" : "UpdateGlobalNetworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing global network. To remove information for any of the parameters, specify an empty string.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGlobalNetworkRequest",
        "variableName" : "updateGlobalNetworkRequest",
        "variableType" : "UpdateGlobalNetworkRequest",
        "documentation" : "",
        "simpleType" : "UpdateGlobalNetworkRequest",
        "variableSetterType" : "UpdateGlobalNetworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGlobalNetwork",
      "operationName" : "UpdateGlobalNetwork",
      "returnType" : {
        "returnType" : "UpdateGlobalNetworkResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGlobalNetworkResult"
    },
    "UpdateLink" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLinkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLinkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLinkRequest, UpdateLinkResult>",
      "asyncReturnType" : "UpdateLinkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the details for an existing link. To remove information for any of the parameters, specify an empty string.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service limit was exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLinkRequest",
        "variableName" : "updateLinkRequest",
        "variableType" : "UpdateLinkRequest",
        "documentation" : "",
        "simpleType" : "UpdateLinkRequest",
        "variableSetterType" : "UpdateLinkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLink",
      "operationName" : "UpdateLink",
      "returnType" : {
        "returnType" : "UpdateLinkResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLinkResult"
    },
    "UpdateSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSiteRequest, UpdateSiteResult>",
      "asyncReturnType" : "UpdateSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the information for an existing site. To remove information for any of the parameters, specify an empty string.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request has failed due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSiteRequest",
        "variableName" : "updateSiteRequest",
        "variableType" : "UpdateSiteRequest",
        "documentation" : "",
        "simpleType" : "UpdateSiteRequest",
        "variableSetterType" : "UpdateSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSite",
      "operationName" : "UpdateSite",
      "returnType" : {
        "returnType" : "UpdateSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSiteResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssociateCustomerGatewayRequest" : {
      "c2jName" : "AssociateCustomerGatewayRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateCustomerGateway",
        "locationName" : null,
        "requestUri" : "/global-networks/{globalNetworkId}/customer-gateway-associations",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "CustomerGatewayArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>\n@param customerGatewayArn The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCustomerGatewayArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>\n@return The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.*/",
        "getterMethodName" : "getCustomerGatewayArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CustomerGatewayArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CustomerGatewayArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CustomerGatewayArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>\n@param customerGatewayArn The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.*/",
        "setterMethodName" : "setCustomerGatewayArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "customerGatewayArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>\n@param customerGatewayArn The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "customerGatewayArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "GlobalNetworkId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The ID of the global network.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the global network.</p>\n@param globalNetworkId The ID of the global network.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGlobalNetworkId",
        "getterDocumentation" : "/**<p>The ID of the global network.</p>\n@return The ID of the global network.*/",
        "getterMethodName" : "getGlobalNetworkId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "globalNetworkId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "globalNetworkId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GlobalNetworkId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the global network.</p>\n@param globalNetworkId The ID of the global network.*/",
        "setterMethodName" : "setGlobalNetworkId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "globalNetworkId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the global network.</p>\n@param globalNetworkId The ID of the global network.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "globalNetworkId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the global network.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DeviceId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The ID of the device.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the device.</p>\n@param deviceId The ID of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceId",
        "getterDocumentation" : "/**<p>The ID of the device.</p>\n@return The ID of the device.*/",
        "getterMethodName" : "getDeviceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DeviceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DeviceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the device.</p>\n@param deviceId The ID of the device.*/",
        "setterMethodName" : "setDeviceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the device.</p>\n@param deviceId The ID of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the device.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LinkId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The ID of the link.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the link.</p>\n@param linkId The ID of the link.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLinkId",
        "getterDocumentation" : "/**<p>The ID of the link.</p>\n@return The ID of the link.*/",
        "getterMethodName" : "getLinkId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LinkId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LinkId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LinkId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the link.</p>\n@param linkId The ID of the link.*/",
        "setterMethodName" : "setLinkId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "linkId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the link.</p>\n@param linkId The ID of the link.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "linkId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the link.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CustomerGatewayArn" : {
          "c2jName" : "CustomerGatewayArn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>\n@param customerGatewayArn The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCustomerGatewayArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>\n@return The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.*/",
          "getterMethodName" : "getCustomerGatewayArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CustomerGatewayArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CustomerGatewayArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CustomerGatewayArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>\n@param customerGatewayArn The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.*/",
          "setterMethodName" : "setCustomerGatewayArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "customerGatewayArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>\n@param customerGatewayArn The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "customerGatewayArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DeviceId" : {
          "c2jName" : "DeviceId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The ID of the device.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the device.</p>\n@param deviceId The ID of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceId",
          "getterDocumentation" : "/**<p>The ID of the device.</p>\n@return The ID of the device.*/",
          "getterMethodName" : "getDeviceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DeviceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DeviceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the device.</p>\n@param deviceId The ID of the device.*/",
          "setterMethodName" : "setDeviceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the device.</p>\n@param deviceId The ID of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the device.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "GlobalNetworkId" : {
          "c2jName" : "GlobalNetworkId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The ID of the global network.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the global network.</p>\n@param globalNetworkId The ID of the global network.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGlobalNetworkId",
          "getterDocumentation" : "/**<p>The ID of the global network.</p>\n@return The ID of the global network.*/",
          "getterMethodName" : "getGlobalNetworkId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
[...]
