{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-08-01",
    "asyncClient" : "AmazonNimbleStudioAsyncClient",
    "asyncClientBuilderClassName" : "AmazonNimbleStudioAsyncClientBuilder",
    "asyncInterface" : "AmazonNimbleStudioAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonNimbleStudioModuleInjector",
    "defaultEndpoint" : "nimble.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "nimble.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Welcome to the Amazon Nimble Studio API reference. This API reference provides methods, schema, resources, parameters, and more to help you get the most out of Nimble Studio.</p> <p>Nimble Studio is a virtual studio that empowers visual effects, animation, and interactive content teams to create content securely within a scalable, private cloud service.</p>",
    "endpointPrefix" : "nimble",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.nimblestudio",
    "packagePath" : "com/amazonaws/services/nimblestudio",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AmazonNimbleStudio",
    "serviceId" : "nimble",
    "serviceName" : "AmazonNimbleStudio",
    "signingName" : "nimble",
    "smokeTestsPackageName" : "com.amazonaws.services.nimblestudio.smoketests",
    "syncClient" : "AmazonNimbleStudioClient",
    "syncClientBuilderClassName" : "AmazonNimbleStudioClientBuilder",
    "syncInterface" : "AmazonNimbleStudio",
    "uid" : "nimble-2020-08-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptEulas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptEulasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptEulasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptEulasRequest, AcceptEulasResult>",
      "asyncReturnType" : "AcceptEulasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accept EULAs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptEulasRequest",
        "variableName" : "acceptEulasRequest",
        "variableType" : "AcceptEulasRequest",
        "documentation" : "",
        "simpleType" : "AcceptEulasRequest",
        "variableSetterType" : "AcceptEulasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptEulas",
      "operationName" : "AcceptEulas",
      "returnType" : {
        "returnType" : "AcceptEulasResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptEulasResult"
    },
    "CreateLaunchProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLaunchProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLaunchProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLaunchProfileRequest, CreateLaunchProfileResult>",
      "asyncReturnType" : "CreateLaunchProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a launch profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLaunchProfileRequest",
        "variableName" : "createLaunchProfileRequest",
        "variableType" : "CreateLaunchProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateLaunchProfileRequest",
        "variableSetterType" : "CreateLaunchProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLaunchProfile",
      "operationName" : "CreateLaunchProfile",
      "returnType" : {
        "returnType" : "CreateLaunchProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLaunchProfileResult"
    },
    "CreateStreamingImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingImageRequest, CreateStreamingImageResult>",
      "asyncReturnType" : "CreateStreamingImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a streaming image resource in a studio.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateStreamingImageRequest",
        "variableName" : "createStreamingImageRequest",
        "variableType" : "CreateStreamingImageRequest",
        "documentation" : "",
        "simpleType" : "CreateStreamingImageRequest",
        "variableSetterType" : "CreateStreamingImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStreamingImage",
      "operationName" : "CreateStreamingImage",
      "returnType" : {
        "returnType" : "CreateStreamingImageResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStreamingImageResult"
    },
    "CreateStreamingSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingSessionRequest, CreateStreamingSessionResult>",
      "asyncReturnType" : "CreateStreamingSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a streaming session in a studio.</p> <p>After invoking this operation, you must poll GetStreamingSession until the streaming session is in state READY.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateStreamingSessionRequest",
        "variableName" : "createStreamingSessionRequest",
        "variableType" : "CreateStreamingSessionRequest",
        "documentation" : "",
        "simpleType" : "CreateStreamingSessionRequest",
        "variableSetterType" : "CreateStreamingSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStreamingSession",
      "operationName" : "CreateStreamingSession",
      "returnType" : {
        "returnType" : "CreateStreamingSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStreamingSessionResult"
    },
    "CreateStreamingSessionStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingSessionStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingSessionStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingSessionStreamRequest, CreateStreamingSessionStreamResult>",
      "asyncReturnType" : "CreateStreamingSessionStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a streaming session stream for a streaming session.</p> <p>After invoking this API, invoke GetStreamingSessionStream with the returned streamId to poll the resource until it is in state READY.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateStreamingSessionStreamRequest",
        "variableName" : "createStreamingSessionStreamRequest",
        "variableType" : "CreateStreamingSessionStreamRequest",
        "documentation" : "",
        "simpleType" : "CreateStreamingSessionStreamRequest",
        "variableSetterType" : "CreateStreamingSessionStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStreamingSessionStream",
      "operationName" : "CreateStreamingSessionStream",
      "returnType" : {
        "returnType" : "CreateStreamingSessionStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStreamingSessionStreamResult"
    },
    "CreateStudio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStudioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStudioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStudioRequest, CreateStudioResult>",
      "asyncReturnType" : "CreateStudioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new Studio.</p> <p>When creating a Studio, two IAM roles must be provided: the admin role and the user Role. These roles are assumed by your users when they log in to the Nimble Studio portal.</p> <p>The user role must have the AmazonNimbleStudio-StudioUser managed policy attached for the portal to function properly.</p> <p>The Admin Role must have the AmazonNimbleStudio-StudioAdmin managed policy attached for the portal to function properly.</p> <p>You may optionally specify a KMS key in the StudioEncryptionConfiguration.</p> <p>In Nimble Studio, resource names, descriptions, initialization scripts, and other data you provide are always encrypted at rest using an KMS key. By default, this key is owned by Amazon Web Services and managed on your behalf. You may provide your own KMS key when calling CreateStudio to encrypt this data using a key you own and manage.</p> <p>When providing an KMS key during studio creation, Nimble Studio creates KMS grants in your account to provide your studio user and admin roles access to these KMS keys.</p> <p>If you delete this grant, the studio will no longer be accessible to your portal users.</p> <p>If you delete the studio KMS key, your studio will no longer be accessible.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateStudioRequest",
        "variableName" : "createStudioRequest",
        "variableType" : "CreateStudioRequest",
        "documentation" : "",
        "simpleType" : "CreateStudioRequest",
        "variableSetterType" : "CreateStudioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStudio",
      "operationName" : "CreateStudio",
      "returnType" : {
        "returnType" : "CreateStudioResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStudioResult"
    },
    "CreateStudioComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStudioComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStudioComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStudioComponentRequest, CreateStudioComponentResult>",
      "asyncReturnType" : "CreateStudioComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a studio component resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateStudioComponentRequest",
        "variableName" : "createStudioComponentRequest",
        "variableType" : "CreateStudioComponentRequest",
        "documentation" : "",
        "simpleType" : "CreateStudioComponentRequest",
        "variableSetterType" : "CreateStudioComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStudioComponent",
      "operationName" : "CreateStudioComponent",
      "returnType" : {
        "returnType" : "CreateStudioComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStudioComponentResult"
    },
    "DeleteLaunchProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLaunchProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLaunchProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLaunchProfileRequest, DeleteLaunchProfileResult>",
      "asyncReturnType" : "DeleteLaunchProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently delete a launch profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLaunchProfileRequest",
        "variableName" : "deleteLaunchProfileRequest",
        "variableType" : "DeleteLaunchProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteLaunchProfileRequest",
        "variableSetterType" : "DeleteLaunchProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLaunchProfile",
      "operationName" : "DeleteLaunchProfile",
      "returnType" : {
        "returnType" : "DeleteLaunchProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLaunchProfileResult"
    },
    "DeleteLaunchProfileMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLaunchProfileMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLaunchProfileMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLaunchProfileMemberRequest, DeleteLaunchProfileMemberResult>",
      "asyncReturnType" : "DeleteLaunchProfileMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a user from launch profile membership.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLaunchProfileMemberRequest",
        "variableName" : "deleteLaunchProfileMemberRequest",
        "variableType" : "DeleteLaunchProfileMemberRequest",
        "documentation" : "",
        "simpleType" : "DeleteLaunchProfileMemberRequest",
        "variableSetterType" : "DeleteLaunchProfileMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLaunchProfileMember",
      "operationName" : "DeleteLaunchProfileMember",
      "returnType" : {
        "returnType" : "DeleteLaunchProfileMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLaunchProfileMemberResult"
    },
    "DeleteStreamingImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStreamingImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStreamingImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStreamingImageRequest, DeleteStreamingImageResult>",
      "asyncReturnType" : "DeleteStreamingImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete streaming image.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteStreamingImageRequest",
        "variableName" : "deleteStreamingImageRequest",
        "variableType" : "DeleteStreamingImageRequest",
        "documentation" : "",
        "simpleType" : "DeleteStreamingImageRequest",
        "variableSetterType" : "DeleteStreamingImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStreamingImage",
      "operationName" : "DeleteStreamingImage",
      "returnType" : {
        "returnType" : "DeleteStreamingImageResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStreamingImageResult"
    },
    "DeleteStreamingSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStreamingSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStreamingSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStreamingSessionRequest, DeleteStreamingSessionResult>",
      "asyncReturnType" : "DeleteStreamingSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes streaming session resource.</p> <p>After invoking this operation, use GetStreamingSession to poll the resource until it transitions to a DELETED state.</p> <p>A streaming session will count against your streaming session quota until it is marked DELETED.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteStreamingSessionRequest",
        "variableName" : "deleteStreamingSessionRequest",
        "variableType" : "DeleteStreamingSessionRequest",
        "documentation" : "",
        "simpleType" : "DeleteStreamingSessionRequest",
        "variableSetterType" : "DeleteStreamingSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStreamingSession",
      "operationName" : "DeleteStreamingSession",
      "returnType" : {
        "returnType" : "DeleteStreamingSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStreamingSessionResult"
    },
    "DeleteStudio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStudioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStudioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStudioRequest, DeleteStudioResult>",
      "asyncReturnType" : "DeleteStudioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a studio resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteStudioRequest",
        "variableName" : "deleteStudioRequest",
        "variableType" : "DeleteStudioRequest",
        "documentation" : "",
        "simpleType" : "DeleteStudioRequest",
        "variableSetterType" : "DeleteStudioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStudio",
      "operationName" : "DeleteStudio",
      "returnType" : {
        "returnType" : "DeleteStudioResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStudioResult"
    },
    "DeleteStudioComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStudioComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStudioComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStudioComponentRequest, DeleteStudioComponentResult>",
      "asyncReturnType" : "DeleteStudioComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a studio component resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteStudioComponentRequest",
        "variableName" : "deleteStudioComponentRequest",
        "variableType" : "DeleteStudioComponentRequest",
        "documentation" : "",
        "simpleType" : "DeleteStudioComponentRequest",
        "variableSetterType" : "DeleteStudioComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStudioComponent",
      "operationName" : "DeleteStudioComponent",
      "returnType" : {
        "returnType" : "DeleteStudioComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStudioComponentResult"
    },
    "DeleteStudioMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStudioMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStudioMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStudioMemberRequest, DeleteStudioMemberResult>",
      "asyncReturnType" : "DeleteStudioMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a user from studio membership.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteStudioMemberRequest",
        "variableName" : "deleteStudioMemberRequest",
        "variableType" : "DeleteStudioMemberRequest",
        "documentation" : "",
        "simpleType" : "DeleteStudioMemberRequest",
        "variableSetterType" : "DeleteStudioMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStudioMember",
      "operationName" : "DeleteStudioMember",
      "returnType" : {
        "returnType" : "DeleteStudioMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStudioMemberResult"
    },
    "GetEula" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEulaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEulaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEulaRequest, GetEulaResult>",
      "asyncReturnType" : "GetEulaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get Eula.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEulaRequest",
        "variableName" : "getEulaRequest",
        "variableType" : "GetEulaRequest",
        "documentation" : "",
        "simpleType" : "GetEulaRequest",
        "variableSetterType" : "GetEulaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEula",
      "operationName" : "GetEula",
      "returnType" : {
        "returnType" : "GetEulaResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEulaResult"
    },
    "GetLaunchProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLaunchProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLaunchProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLaunchProfileRequest, GetLaunchProfileResult>",
      "asyncReturnType" : "GetLaunchProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a launch profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLaunchProfileRequest",
        "variableName" : "getLaunchProfileRequest",
        "variableType" : "GetLaunchProfileRequest",
        "documentation" : "",
        "simpleType" : "GetLaunchProfileRequest",
        "variableSetterType" : "GetLaunchProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLaunchProfile",
      "operationName" : "GetLaunchProfile",
      "returnType" : {
        "returnType" : "GetLaunchProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLaunchProfileResult"
    },
    "GetLaunchProfileDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLaunchProfileDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLaunchProfileDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLaunchProfileDetailsRequest, GetLaunchProfileDetailsResult>",
      "asyncReturnType" : "GetLaunchProfileDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Launch profile details include the launch profile resource and summary information of resources that are used by, or available to, the launch profile. This includes the name and description of all studio components used by the launch profiles, and the name and description of streaming images that can be used with this launch profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLaunchProfileDetailsRequest",
        "variableName" : "getLaunchProfileDetailsRequest",
        "variableType" : "GetLaunchProfileDetailsRequest",
        "documentation" : "",
        "simpleType" : "GetLaunchProfileDetailsRequest",
        "variableSetterType" : "GetLaunchProfileDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLaunchProfileDetails",
      "operationName" : "GetLaunchProfileDetails",
      "returnType" : {
        "returnType" : "GetLaunchProfileDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLaunchProfileDetailsResult"
    },
    "GetLaunchProfileInitialization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLaunchProfileInitializationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLaunchProfileInitializationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLaunchProfileInitializationRequest, GetLaunchProfileInitializationResult>",
      "asyncReturnType" : "GetLaunchProfileInitializationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a launch profile initialization.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLaunchProfileInitializationRequest",
        "variableName" : "getLaunchProfileInitializationRequest",
        "variableType" : "GetLaunchProfileInitializationRequest",
        "documentation" : "",
        "simpleType" : "GetLaunchProfileInitializationRequest",
        "variableSetterType" : "GetLaunchProfileInitializationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLaunchProfileInitialization",
      "operationName" : "GetLaunchProfileInitialization",
      "returnType" : {
        "returnType" : "GetLaunchProfileInitializationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLaunchProfileInitializationResult"
    },
    "GetLaunchProfileMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLaunchProfileMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLaunchProfileMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLaunchProfileMemberRequest, GetLaunchProfileMemberResult>",
      "asyncReturnType" : "GetLaunchProfileMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a user persona in launch profile membership.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLaunchProfileMemberRequest",
        "variableName" : "getLaunchProfileMemberRequest",
        "variableType" : "GetLaunchProfileMemberRequest",
        "documentation" : "",
        "simpleType" : "GetLaunchProfileMemberRequest",
        "variableSetterType" : "GetLaunchProfileMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLaunchProfileMember",
      "operationName" : "GetLaunchProfileMember",
      "returnType" : {
        "returnType" : "GetLaunchProfileMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLaunchProfileMemberResult"
    },
    "GetStreamingImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingImageRequest, GetStreamingImageResult>",
      "asyncReturnType" : "GetStreamingImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get streaming image.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetStreamingImageRequest",
        "variableName" : "getStreamingImageRequest",
        "variableType" : "GetStreamingImageRequest",
        "documentation" : "",
        "simpleType" : "GetStreamingImageRequest",
        "variableSetterType" : "GetStreamingImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStreamingImage",
      "operationName" : "GetStreamingImage",
      "returnType" : {
        "returnType" : "GetStreamingImageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetStreamingImageResult"
    },
    "GetStreamingSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingSessionRequest, GetStreamingSessionResult>",
      "asyncReturnType" : "GetStreamingSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets StreamingSession resource.</p> <p>Invoke this operation to poll for a streaming session state while creating or deleting a session.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetStreamingSessionRequest",
        "variableName" : "getStreamingSessionRequest",
        "variableType" : "GetStreamingSessionRequest",
        "documentation" : "",
        "simpleType" : "GetStreamingSessionRequest",
        "variableSetterType" : "GetStreamingSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStreamingSession",
      "operationName" : "GetStreamingSession",
      "returnType" : {
        "returnType" : "GetStreamingSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetStreamingSessionResult"
    },
    "GetStreamingSessionStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingSessionStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingSessionStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingSessionStreamRequest, GetStreamingSessionStreamResult>",
      "asyncReturnType" : "GetStreamingSessionStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a StreamingSessionStream for a streaming session.</p> <p>Invoke this operation to poll the resource after invoking CreateStreamingSessionStream.</p> <p>After the StreamingSessionStream changes to the state READY, the url property will contain a stream to be used with the DCV streaming client.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetStreamingSessionStreamRequest",
        "variableName" : "getStreamingSessionStreamRequest",
        "variableType" : "GetStreamingSessionStreamRequest",
        "documentation" : "",
        "simpleType" : "GetStreamingSessionStreamRequest",
        "variableSetterType" : "GetStreamingSessionStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStreamingSessionStream",
      "operationName" : "GetStreamingSessionStream",
      "returnType" : {
        "returnType" : "GetStreamingSessionStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "GetStreamingSessionStreamResult"
    },
    "GetStudio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStudioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStudioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStudioRequest, GetStudioResult>",
      "asyncReturnType" : "GetStudioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a Studio resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetStudioRequest",
        "variableName" : "getStudioRequest",
        "variableType" : "GetStudioRequest",
        "documentation" : "",
        "simpleType" : "GetStudioRequest",
        "variableSetterType" : "GetStudioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStudio",
      "operationName" : "GetStudio",
      "returnType" : {
        "returnType" : "GetStudioResult",
        "documentation" : null
      },
      "syncReturnType" : "GetStudioResult"
    },
    "GetStudioComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStudioComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStudioComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStudioComponentRequest, GetStudioComponentResult>",
      "asyncReturnType" : "GetStudioComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a studio component resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetStudioComponentRequest",
        "variableName" : "getStudioComponentRequest",
        "variableType" : "GetStudioComponentRequest",
        "documentation" : "",
        "simpleType" : "GetStudioComponentRequest",
        "variableSetterType" : "GetStudioComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStudioComponent",
      "operationName" : "GetStudioComponent",
      "returnType" : {
        "returnType" : "GetStudioComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetStudioComponentResult"
    },
    "GetStudioMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStudioMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStudioMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStudioMemberRequest, GetStudioMemberResult>",
      "asyncReturnType" : "GetStudioMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a user's membership in a studio.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetStudioMemberRequest",
        "variableName" : "getStudioMemberRequest",
        "variableType" : "GetStudioMemberRequest",
        "documentation" : "",
        "simpleType" : "GetStudioMemberRequest",
        "variableSetterType" : "GetStudioMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStudioMember",
      "operationName" : "GetStudioMember",
      "returnType" : {
        "returnType" : "GetStudioMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "GetStudioMemberResult"
    },
    "ListEulaAcceptances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEulaAcceptancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEulaAcceptancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEulaAcceptancesRequest, ListEulaAcceptancesResult>",
      "asyncReturnType" : "ListEulaAcceptancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List Eula Acceptances.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEulaAcceptancesRequest",
        "variableName" : "listEulaAcceptancesRequest",
        "variableType" : "ListEulaAcceptancesRequest",
        "documentation" : "",
        "simpleType" : "ListEulaAcceptancesRequest",
        "variableSetterType" : "ListEulaAcceptancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEulaAcceptances",
      "operationName" : "ListEulaAcceptances",
      "returnType" : {
        "returnType" : "ListEulaAcceptancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEulaAcceptancesResult"
    },
    "ListEulas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEulasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEulasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEulasRequest, ListEulasResult>",
      "asyncReturnType" : "ListEulasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List Eulas.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEulasRequest",
        "variableName" : "listEulasRequest",
        "variableType" : "ListEulasRequest",
        "documentation" : "",
        "simpleType" : "ListEulasRequest",
        "variableSetterType" : "ListEulasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEulas",
      "operationName" : "ListEulas",
      "returnType" : {
        "returnType" : "ListEulasResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEulasResult"
    },
    "ListLaunchProfileMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLaunchProfileMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLaunchProfileMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLaunchProfileMembersRequest, ListLaunchProfileMembersResult>",
      "asyncReturnType" : "ListLaunchProfileMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get all users in a given launch profile membership.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLaunchProfileMembersRequest",
        "variableName" : "listLaunchProfileMembersRequest",
        "variableType" : "ListLaunchProfileMembersRequest",
        "documentation" : "",
        "simpleType" : "ListLaunchProfileMembersRequest",
        "variableSetterType" : "ListLaunchProfileMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLaunchProfileMembers",
      "operationName" : "ListLaunchProfileMembers",
      "returnType" : {
        "returnType" : "ListLaunchProfileMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLaunchProfileMembersResult"
    },
    "ListLaunchProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLaunchProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLaunchProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLaunchProfilesRequest, ListLaunchProfilesResult>",
      "asyncReturnType" : "ListLaunchProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all the launch profiles a studio.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLaunchProfilesRequest",
        "variableName" : "listLaunchProfilesRequest",
        "variableType" : "ListLaunchProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListLaunchProfilesRequest",
        "variableSetterType" : "ListLaunchProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLaunchProfiles",
      "operationName" : "ListLaunchProfiles",
      "returnType" : {
        "returnType" : "ListLaunchProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLaunchProfilesResult"
    },
    "ListStreamingImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStreamingImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStreamingImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStreamingImagesRequest, ListStreamingImagesResult>",
      "asyncReturnType" : "ListStreamingImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the streaming image resources available to this studio.</p> <p>This list will contain both images provided by Amazon Web Services, as well as streaming images that you have created in your studio.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListStreamingImagesRequest",
        "variableName" : "listStreamingImagesRequest",
        "variableType" : "ListStreamingImagesRequest",
        "documentation" : "",
        "simpleType" : "ListStreamingImagesRequest",
        "variableSetterType" : "ListStreamingImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStreamingImages",
      "operationName" : "ListStreamingImages",
      "returnType" : {
        "returnType" : "ListStreamingImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListStreamingImagesResult"
    },
    "ListStreamingSessions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStreamingSessionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStreamingSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStreamingSessionsRequest, ListStreamingSessionsResult>",
      "asyncReturnType" : "ListStreamingSessionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the streaming sessions in a studio.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListStreamingSessionsRequest",
        "variableName" : "listStreamingSessionsRequest",
        "variableType" : "ListStreamingSessionsRequest",
        "documentation" : "",
        "simpleType" : "ListStreamingSessionsRequest",
        "variableSetterType" : "ListStreamingSessionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStreamingSessions",
      "operationName" : "ListStreamingSessions",
      "returnType" : {
        "returnType" : "ListStreamingSessionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListStreamingSessionsResult"
    },
    "ListStudioComponents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStudioComponentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStudioComponentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStudioComponentsRequest, ListStudioComponentsResult>",
      "asyncReturnType" : "ListStudioComponentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the StudioComponents in a studio.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Another operation is in progress. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error has occurred. Please retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current quota does not allow you to perform the request action. You can request increases for some quotas, and other quotas cannot be increased.</p> <p>Please use AWS Service Quotas to request an increase. </p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListStudioComponentsRequest",
        "variableName" : "listStudioComponentsRequest",
        "variableType" : "ListStudioComponentsRequest",
        "documentation" : "",
        "simpleType" : "ListStudioComponentsRequest",
        "variableSetterType" : "ListStudioComponentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStudioComponents",
      "operationName" : "ListStudioComponents",
      "returnType" : {
        "returnType" : "ListStudioComponentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListStudioComponentsResult"
    },
    "ListStudioMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStudioMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStudioMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStudioMembersRequest, ListStudioMembersResult>",
      "asyncReturnType" : "ListStudioMembersResult",
      "authenticated" : true,
      "deprecated" : false,
[...]
