{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-11-01",
    "asyncClient" : "AWSOpenSearchServerlessAsyncClient",
    "asyncClientBuilderClassName" : "AWSOpenSearchServerlessAsyncClientBuilder",
    "asyncInterface" : "AWSOpenSearchServerlessAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSOpenSearchServerlessModuleInjector",
    "defaultEndpoint" : "aoss.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "aoss.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Use the Amazon OpenSearch Serverless API to create, configure, and manage OpenSearch Serverless collections and security policies.</p> <p>OpenSearch Serverless is an on-demand, pre-provisioned serverless configuration for Amazon OpenSearch Service. OpenSearch Serverless removes the operational complexities of provisioning, configuring, and tuning your OpenSearch clusters. It enables you to easily search and analyze petabytes of data without having to worry about the underlying infrastructure and data management.</p> <p> To learn more about OpenSearch Serverless, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-overview.html\">What is Amazon OpenSearch Serverless?</a> </p>",
    "endpointPrefix" : "aoss",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.opensearchserverless",
    "packagePath" : "com/amazonaws/services/opensearchserverless",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "OpenSearch Service Serverless",
    "serviceId" : "OpenSearchServerless",
    "serviceName" : "OpenSearch Service Serverless",
    "signingName" : "aoss",
    "smokeTestsPackageName" : "com.amazonaws.services.opensearchserverless.smoketests",
    "syncClient" : "AWSOpenSearchServerlessClient",
    "syncClientBuilderClassName" : "AWSOpenSearchServerlessClientBuilder",
    "syncInterface" : "AWSOpenSearchServerless",
    "uid" : "opensearchserverless-2021-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetCollectionRequest, BatchGetCollectionResult>",
      "asyncReturnType" : "BatchGetCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns attributes for one or more collections, including the collection endpoint and the OpenSearch Dashboards endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and managing Amazon OpenSearch Serverless collections</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetCollectionRequest",
        "variableName" : "batchGetCollectionRequest",
        "variableType" : "BatchGetCollectionRequest",
        "documentation" : "",
        "simpleType" : "BatchGetCollectionRequest",
        "variableSetterType" : "BatchGetCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetCollection",
      "operationName" : "BatchGetCollection",
      "returnType" : {
        "returnType" : "BatchGetCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetCollectionResult"
    },
    "BatchGetEffectiveLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetEffectiveLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetEffectiveLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetEffectiveLifecyclePolicyRequest, BatchGetEffectiveLifecyclePolicyResult>",
      "asyncReturnType" : "BatchGetEffectiveLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of successful and failed retrievals for the OpenSearch Serverless indexes. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-lifecycle.html#serverless-lifecycle-list\">Viewing data lifecycle policies</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetEffectiveLifecyclePolicyRequest",
        "variableName" : "batchGetEffectiveLifecyclePolicyRequest",
        "variableType" : "BatchGetEffectiveLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "BatchGetEffectiveLifecyclePolicyRequest",
        "variableSetterType" : "BatchGetEffectiveLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetEffectiveLifecyclePolicy",
      "operationName" : "BatchGetEffectiveLifecyclePolicy",
      "returnType" : {
        "returnType" : "BatchGetEffectiveLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetEffectiveLifecyclePolicyResult"
    },
    "BatchGetLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetLifecyclePolicyRequest, BatchGetLifecyclePolicyResult>",
      "asyncReturnType" : "BatchGetLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns one or more configured OpenSearch Serverless lifecycle policies. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-lifecycle.html#serverless-lifecycle-list\">Viewing data lifecycle policies</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetLifecyclePolicyRequest",
        "variableName" : "batchGetLifecyclePolicyRequest",
        "variableType" : "BatchGetLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "BatchGetLifecyclePolicyRequest",
        "variableSetterType" : "BatchGetLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetLifecyclePolicy",
      "operationName" : "BatchGetLifecyclePolicy",
      "returnType" : {
        "returnType" : "BatchGetLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetLifecyclePolicyResult"
    },
    "BatchGetVpcEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetVpcEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetVpcEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetVpcEndpointRequest, BatchGetVpcEndpointResult>",
      "asyncReturnType" : "BatchGetVpcEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns attributes for one or more VPC endpoints associated with the current account. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetVpcEndpointRequest",
        "variableName" : "batchGetVpcEndpointRequest",
        "variableType" : "BatchGetVpcEndpointRequest",
        "documentation" : "",
        "simpleType" : "BatchGetVpcEndpointRequest",
        "variableSetterType" : "BatchGetVpcEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetVpcEndpoint",
      "operationName" : "BatchGetVpcEndpoint",
      "returnType" : {
        "returnType" : "BatchGetVpcEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetVpcEndpointResult"
    },
    "CreateAccessPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAccessPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAccessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAccessPolicyRequest, CreateAccessPolicyResult>",
      "asyncReturnType" : "CreateAccessPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a data access policy for OpenSearch Serverless. Access policies limit access to collections and the resources within them, and allow a user to access that data irrespective of the access mechanism or network source. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-data-access.html\">Data access control for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Thrown when you attempt to create more resources than the service allows based on service quotas.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAccessPolicyRequest",
        "variableName" : "createAccessPolicyRequest",
        "variableType" : "CreateAccessPolicyRequest",
        "documentation" : "",
        "simpleType" : "CreateAccessPolicyRequest",
        "variableSetterType" : "CreateAccessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAccessPolicy",
      "operationName" : "CreateAccessPolicy",
      "returnType" : {
        "returnType" : "CreateAccessPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAccessPolicyResult"
    },
    "CreateCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCollectionRequest, CreateCollectionResult>",
      "asyncReturnType" : "CreateCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new OpenSearch Serverless collection. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and managing Amazon OpenSearch Serverless collections</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OcuLimitExceededException",
        "documentation" : "<p>Thrown when the collection you're attempting to create results in a number of search or indexing OCUs that exceeds the account limit. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Thrown when you attempt to create more resources than the service allows based on service quotas.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCollectionRequest",
        "variableName" : "createCollectionRequest",
        "variableType" : "CreateCollectionRequest",
        "documentation" : "",
        "simpleType" : "CreateCollectionRequest",
        "variableSetterType" : "CreateCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCollection",
      "operationName" : "CreateCollection",
      "returnType" : {
        "returnType" : "CreateCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCollectionResult"
    },
    "CreateLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLifecyclePolicyRequest, CreateLifecyclePolicyResult>",
      "asyncReturnType" : "CreateLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a lifecyle policy to be applied to OpenSearch Serverless indexes. Lifecycle policies define the number of days or hours to retain the data on an OpenSearch Serverless index. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-lifecycle.html#serverless-lifecycle-create\">Creating data lifecycle policies</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Thrown when you attempt to create more resources than the service allows based on service quotas.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLifecyclePolicyRequest",
        "variableName" : "createLifecyclePolicyRequest",
        "variableType" : "CreateLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "CreateLifecyclePolicyRequest",
        "variableSetterType" : "CreateLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLifecyclePolicy",
      "operationName" : "CreateLifecyclePolicy",
      "returnType" : {
        "returnType" : "CreateLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLifecyclePolicyResult"
    },
    "CreateSecurityConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSecurityConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSecurityConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSecurityConfigRequest, CreateSecurityConfigResult>",
      "asyncReturnType" : "CreateSecurityConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies a security configuration for OpenSearch Serverless. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML authentication for Amazon OpenSearch Serverless</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Thrown when you attempt to create more resources than the service allows based on service quotas.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSecurityConfigRequest",
        "variableName" : "createSecurityConfigRequest",
        "variableType" : "CreateSecurityConfigRequest",
        "documentation" : "",
        "simpleType" : "CreateSecurityConfigRequest",
        "variableSetterType" : "CreateSecurityConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSecurityConfig",
      "operationName" : "CreateSecurityConfig",
      "returnType" : {
        "returnType" : "CreateSecurityConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSecurityConfigResult"
    },
    "CreateSecurityPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSecurityPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSecurityPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSecurityPolicyRequest, CreateSecurityPolicyResult>",
      "asyncReturnType" : "CreateSecurityPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a security policy to be used by one or more OpenSearch Serverless collections. Security policies provide access to a collection and its OpenSearch Dashboards endpoint from public networks or specific VPC endpoints. They also allow you to secure a collection with a KMS encryption key. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-network.html\">Network access for Amazon OpenSearch Serverless</a> and <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-encryption.html\">Encryption at rest for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Thrown when you attempt to create more resources than the service allows based on service quotas.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSecurityPolicyRequest",
        "variableName" : "createSecurityPolicyRequest",
        "variableType" : "CreateSecurityPolicyRequest",
        "documentation" : "",
        "simpleType" : "CreateSecurityPolicyRequest",
        "variableSetterType" : "CreateSecurityPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSecurityPolicy",
      "operationName" : "CreateSecurityPolicy",
      "returnType" : {
        "returnType" : "CreateSecurityPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSecurityPolicyResult"
    },
    "CreateVpcEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVpcEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVpcEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVpcEndpointRequest, CreateVpcEndpointResult>",
      "asyncReturnType" : "CreateVpcEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an OpenSearch Serverless-managed interface VPC endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Thrown when you attempt to create more resources than the service allows based on service quotas.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVpcEndpointRequest",
        "variableName" : "createVpcEndpointRequest",
        "variableType" : "CreateVpcEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateVpcEndpointRequest",
        "variableSetterType" : "CreateVpcEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVpcEndpoint",
      "operationName" : "CreateVpcEndpoint",
      "returnType" : {
        "returnType" : "CreateVpcEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVpcEndpointResult"
    },
    "DeleteAccessPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAccessPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAccessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAccessPolicyRequest, DeleteAccessPolicyResult>",
      "asyncReturnType" : "DeleteAccessPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an OpenSearch Serverless access policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-data-access.html\">Data access control for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAccessPolicyRequest",
        "variableName" : "deleteAccessPolicyRequest",
        "variableType" : "DeleteAccessPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteAccessPolicyRequest",
        "variableSetterType" : "DeleteAccessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAccessPolicy",
      "operationName" : "DeleteAccessPolicy",
      "returnType" : {
        "returnType" : "DeleteAccessPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAccessPolicyResult"
    },
    "DeleteCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCollectionRequest, DeleteCollectionResult>",
      "asyncReturnType" : "DeleteCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an OpenSearch Serverless collection. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and managing Amazon OpenSearch Serverless collections</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCollectionRequest",
        "variableName" : "deleteCollectionRequest",
        "variableType" : "DeleteCollectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteCollectionRequest",
        "variableSetterType" : "DeleteCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCollection",
      "operationName" : "DeleteCollection",
      "returnType" : {
        "returnType" : "DeleteCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCollectionResult"
    },
    "DeleteLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLifecyclePolicyRequest, DeleteLifecyclePolicyResult>",
      "asyncReturnType" : "DeleteLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an OpenSearch Serverless lifecycle policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-lifecycle.html#serverless-lifecycle-delete\">Deleting data lifecycle policies</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLifecyclePolicyRequest",
        "variableName" : "deleteLifecyclePolicyRequest",
        "variableType" : "DeleteLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteLifecyclePolicyRequest",
        "variableSetterType" : "DeleteLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLifecyclePolicy",
      "operationName" : "DeleteLifecyclePolicy",
      "returnType" : {
        "returnType" : "DeleteLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLifecyclePolicyResult"
    },
    "DeleteSecurityConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSecurityConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSecurityConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSecurityConfigRequest, DeleteSecurityConfigResult>",
      "asyncReturnType" : "DeleteSecurityConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a security configuration for OpenSearch Serverless. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML authentication for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSecurityConfigRequest",
        "variableName" : "deleteSecurityConfigRequest",
        "variableType" : "DeleteSecurityConfigRequest",
        "documentation" : "",
        "simpleType" : "DeleteSecurityConfigRequest",
        "variableSetterType" : "DeleteSecurityConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSecurityConfig",
      "operationName" : "DeleteSecurityConfig",
      "returnType" : {
        "returnType" : "DeleteSecurityConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSecurityConfigResult"
    },
    "DeleteSecurityPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSecurityPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSecurityPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSecurityPolicyRequest, DeleteSecurityPolicyResult>",
      "asyncReturnType" : "DeleteSecurityPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an OpenSearch Serverless security policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSecurityPolicyRequest",
        "variableName" : "deleteSecurityPolicyRequest",
        "variableType" : "DeleteSecurityPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteSecurityPolicyRequest",
        "variableSetterType" : "DeleteSecurityPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSecurityPolicy",
      "operationName" : "DeleteSecurityPolicy",
      "returnType" : {
        "returnType" : "DeleteSecurityPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSecurityPolicyResult"
    },
    "DeleteVpcEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVpcEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVpcEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVpcEndpointRequest, DeleteVpcEndpointResult>",
      "asyncReturnType" : "DeleteVpcEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an OpenSearch Serverless-managed interface endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVpcEndpointRequest",
        "variableName" : "deleteVpcEndpointRequest",
        "variableType" : "DeleteVpcEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteVpcEndpointRequest",
        "variableSetterType" : "DeleteVpcEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVpcEndpoint",
      "operationName" : "DeleteVpcEndpoint",
      "returnType" : {
        "returnType" : "DeleteVpcEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVpcEndpointResult"
    },
    "GetAccessPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccessPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccessPolicyRequest, GetAccessPolicyResult>",
      "asyncReturnType" : "GetAccessPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an OpenSearch Serverless access policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-data-access.html\">Data access control for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccessPolicyRequest",
        "variableName" : "getAccessPolicyRequest",
        "variableType" : "GetAccessPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetAccessPolicyRequest",
        "variableSetterType" : "GetAccessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccessPolicy",
      "operationName" : "GetAccessPolicy",
      "returnType" : {
        "returnType" : "GetAccessPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccessPolicyResult"
    },
    "GetAccountSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountSettingsRequest, GetAccountSettingsResult>",
      "asyncReturnType" : "GetAccountSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns account-level settings related to OpenSearch Serverless.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountSettingsRequest",
        "variableName" : "getAccountSettingsRequest",
        "variableType" : "GetAccountSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetAccountSettingsRequest",
        "variableSetterType" : "GetAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountSettings",
      "operationName" : "GetAccountSettings",
      "returnType" : {
        "returnType" : "GetAccountSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountSettingsResult"
    },
    "GetPoliciesStats" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPoliciesStatsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPoliciesStatsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPoliciesStatsRequest, GetPoliciesStatsResult>",
      "asyncReturnType" : "GetPoliciesStatsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns statistical information about your OpenSearch Serverless access policies, security configurations, and security policies.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPoliciesStatsRequest",
        "variableName" : "getPoliciesStatsRequest",
        "variableType" : "GetPoliciesStatsRequest",
        "documentation" : "",
        "simpleType" : "GetPoliciesStatsRequest",
        "variableSetterType" : "GetPoliciesStatsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPoliciesStats",
      "operationName" : "GetPoliciesStats",
      "returnType" : {
        "returnType" : "GetPoliciesStatsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPoliciesStatsResult"
    },
    "GetSecurityConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSecurityConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSecurityConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSecurityConfigRequest, GetSecurityConfigResult>",
      "asyncReturnType" : "GetSecurityConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an OpenSearch Serverless security configuration. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML authentication for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSecurityConfigRequest",
        "variableName" : "getSecurityConfigRequest",
        "variableType" : "GetSecurityConfigRequest",
        "documentation" : "",
        "simpleType" : "GetSecurityConfigRequest",
        "variableSetterType" : "GetSecurityConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSecurityConfig",
      "operationName" : "GetSecurityConfig",
      "returnType" : {
        "returnType" : "GetSecurityConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSecurityConfigResult"
    },
    "GetSecurityPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSecurityPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSecurityPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSecurityPolicyRequest, GetSecurityPolicyResult>",
      "asyncReturnType" : "GetSecurityPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a configured OpenSearch Serverless security policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-network.html\">Network access for Amazon OpenSearch Serverless</a> and <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-encryption.html\">Encryption at rest for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSecurityPolicyRequest",
        "variableName" : "getSecurityPolicyRequest",
        "variableType" : "GetSecurityPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetSecurityPolicyRequest",
        "variableSetterType" : "GetSecurityPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSecurityPolicy",
      "operationName" : "GetSecurityPolicy",
      "returnType" : {
        "returnType" : "GetSecurityPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSecurityPolicyResult"
    },
    "ListAccessPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccessPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccessPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccessPoliciesRequest, ListAccessPoliciesResult>",
      "asyncReturnType" : "ListAccessPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a list of OpenSearch Serverless access policies.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccessPoliciesRequest",
        "variableName" : "listAccessPoliciesRequest",
        "variableType" : "ListAccessPoliciesRequest",
        "documentation" : "",
        "simpleType" : "ListAccessPoliciesRequest",
        "variableSetterType" : "ListAccessPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccessPolicies",
      "operationName" : "ListAccessPolicies",
      "returnType" : {
        "returnType" : "ListAccessPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccessPoliciesResult"
    },
    "ListCollections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCollectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCollectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCollectionsRequest, ListCollectionsResult>",
      "asyncReturnType" : "ListCollectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all OpenSearch Serverless collections. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and managing Amazon OpenSearch Serverless collections</a>.</p> <note> <p>Make sure to include an empty request body {} if you don't include any collection filters in the request.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCollectionsRequest",
        "variableName" : "listCollectionsRequest",
        "variableType" : "ListCollectionsRequest",
        "documentation" : "",
        "simpleType" : "ListCollectionsRequest",
        "variableSetterType" : "ListCollectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCollections",
      "operationName" : "ListCollections",
      "returnType" : {
        "returnType" : "ListCollectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCollectionsResult"
    },
    "ListLifecyclePolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLifecyclePoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLifecyclePoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLifecyclePoliciesRequest, ListLifecyclePoliciesResult>",
      "asyncReturnType" : "ListLifecyclePoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of OpenSearch Serverless lifecycle policies. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-lifecycle.html#serverless-lifecycle-list\">Viewing data lifecycle policies</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLifecyclePoliciesRequest",
        "variableName" : "listLifecyclePoliciesRequest",
        "variableType" : "ListLifecyclePoliciesRequest",
        "documentation" : "",
        "simpleType" : "ListLifecyclePoliciesRequest",
        "variableSetterType" : "ListLifecyclePoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLifecyclePolicies",
      "operationName" : "ListLifecyclePolicies",
      "returnType" : {
        "returnType" : "ListLifecyclePoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLifecyclePoliciesResult"
    },
    "ListSecurityConfigs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSecurityConfigsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSecurityConfigsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSecurityConfigsRequest, ListSecurityConfigsResult>",
      "asyncReturnType" : "ListSecurityConfigsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about configured OpenSearch Serverless security configurations. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML authentication for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSecurityConfigsRequest",
        "variableName" : "listSecurityConfigsRequest",
        "variableType" : "ListSecurityConfigsRequest",
        "documentation" : "",
        "simpleType" : "ListSecurityConfigsRequest",
        "variableSetterType" : "ListSecurityConfigsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSecurityConfigs",
      "operationName" : "ListSecurityConfigs",
      "returnType" : {
        "returnType" : "ListSecurityConfigsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSecurityConfigsResult"
    },
    "ListSecurityPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSecurityPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSecurityPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSecurityPoliciesRequest, ListSecurityPoliciesResult>",
      "asyncReturnType" : "ListSecurityPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about configured OpenSearch Serverless security policies.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSecurityPoliciesRequest",
        "variableName" : "listSecurityPoliciesRequest",
        "variableType" : "ListSecurityPoliciesRequest",
        "documentation" : "",
        "simpleType" : "ListSecurityPoliciesRequest",
        "variableSetterType" : "ListSecurityPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSecurityPolicies",
      "operationName" : "ListSecurityPolicies",
      "returnType" : {
        "returnType" : "ListSecurityPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSecurityPoliciesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the tags for an OpenSearch Serverless resource. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/tag-collection.html\">Tagging Amazon OpenSearch Serverless collections</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListVpcEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVpcEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVpcEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVpcEndpointsRequest, ListVpcEndpointsResult>",
      "asyncReturnType" : "ListVpcEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the OpenSearch Serverless-managed interface VPC endpoints associated with the current account. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVpcEndpointsRequest",
        "variableName" : "listVpcEndpointsRequest",
        "variableType" : "ListVpcEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListVpcEndpointsRequest",
        "variableSetterType" : "ListVpcEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVpcEndpoints",
      "operationName" : "ListVpcEndpoints",
      "returnType" : {
        "returnType" : "ListVpcEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVpcEndpointsResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates tags with an OpenSearch Serverless resource. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/tag-collection.html\">Tagging Amazon OpenSearch Serverless collections</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Thrown when you attempt to create more resources than the service allows based on service quotas.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag or set of tags from an OpenSearch Serverless resource. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/tag-collection.html\">Tagging Amazon OpenSearch Serverless collections</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAccessPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAccessPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAccessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAccessPolicyRequest, UpdateAccessPolicyResult>",
      "asyncReturnType" : "UpdateAccessPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an OpenSearch Serverless access policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-data-access.html\">Data access control for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAccessPolicyRequest",
        "variableName" : "updateAccessPolicyRequest",
        "variableType" : "UpdateAccessPolicyRequest",
        "documentation" : "",
        "simpleType" : "UpdateAccessPolicyRequest",
        "variableSetterType" : "UpdateAccessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAccessPolicy",
      "operationName" : "UpdateAccessPolicy",
      "returnType" : {
        "returnType" : "UpdateAccessPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAccessPolicyResult"
    },
    "UpdateAccountSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAccountSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAccountSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAccountSettingsRequest, UpdateAccountSettingsResult>",
      "asyncReturnType" : "UpdateAccountSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the OpenSearch Serverless settings for the current Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-scaling.html\">Managing capacity limits for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAccountSettingsRequest",
        "variableName" : "updateAccountSettingsRequest",
        "variableType" : "UpdateAccountSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateAccountSettingsRequest",
        "variableSetterType" : "UpdateAccountSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAccountSettings",
      "operationName" : "UpdateAccountSettings",
      "returnType" : {
        "returnType" : "UpdateAccountSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAccountSettingsResult"
    },
    "UpdateCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCollectionRequest, UpdateCollectionResult>",
      "asyncReturnType" : "UpdateCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an OpenSearch Serverless collection.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCollectionRequest",
        "variableName" : "updateCollectionRequest",
        "variableType" : "UpdateCollectionRequest",
        "documentation" : "",
        "simpleType" : "UpdateCollectionRequest",
        "variableSetterType" : "UpdateCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCollection",
      "operationName" : "UpdateCollection",
      "returnType" : {
        "returnType" : "UpdateCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCollectionResult"
    },
    "UpdateLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLifecyclePolicyRequest, UpdateLifecyclePolicyResult>",
      "asyncReturnType" : "UpdateLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an OpenSearch Serverless access policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-lifecycle.html#serverless-lifecycle-update\">Updating data lifecycle policies</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Thrown when you attempt to create more resources than the service allows based on service quotas.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLifecyclePolicyRequest",
        "variableName" : "updateLifecyclePolicyRequest",
        "variableType" : "UpdateLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "UpdateLifecyclePolicyRequest",
        "variableSetterType" : "UpdateLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLifecyclePolicy",
      "operationName" : "UpdateLifecyclePolicy",
      "returnType" : {
        "returnType" : "UpdateLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLifecyclePolicyResult"
    },
    "UpdateSecurityConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSecurityConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSecurityConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSecurityConfigRequest, UpdateSecurityConfigResult>",
      "asyncReturnType" : "UpdateSecurityConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a security configuration for OpenSearch Serverless. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML authentication for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSecurityConfigRequest",
        "variableName" : "updateSecurityConfigRequest",
        "variableType" : "UpdateSecurityConfigRequest",
        "documentation" : "",
        "simpleType" : "UpdateSecurityConfigRequest",
        "variableSetterType" : "UpdateSecurityConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSecurityConfig",
      "operationName" : "UpdateSecurityConfig",
      "returnType" : {
        "returnType" : "UpdateSecurityConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSecurityConfigResult"
    },
    "UpdateSecurityPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSecurityPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSecurityPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSecurityPolicyRequest, UpdateSecurityPolicyResult>",
      "asyncReturnType" : "UpdateSecurityPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an OpenSearch Serverless security policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-network.html\">Network access for Amazon OpenSearch Serverless</a> and <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-encryption.html\">Encryption at rest for Amazon OpenSearch Serverless</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when accessing or deleting a resource that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Thrown when you attempt to create more resources than the service allows based on service quotas.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSecurityPolicyRequest",
        "variableName" : "updateSecurityPolicyRequest",
        "variableType" : "UpdateSecurityPolicyRequest",
        "documentation" : "",
        "simpleType" : "UpdateSecurityPolicyRequest",
        "variableSetterType" : "UpdateSecurityPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSecurityPolicy",
      "operationName" : "UpdateSecurityPolicy",
      "returnType" : {
        "returnType" : "UpdateSecurityPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSecurityPolicyResult"
    },
    "UpdateVpcEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVpcEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVpcEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVpcEndpointRequest, UpdateVpcEndpointResult>",
      "asyncReturnType" : "UpdateVpcEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an OpenSearch Serverless-managed interface endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Thrown when the HTTP request contains invalid input or is missing required input.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVpcEndpointRequest",
        "variableName" : "updateVpcEndpointRequest",
        "variableType" : "UpdateVpcEndpointRequest",
        "documentation" : "",
        "simpleType" : "UpdateVpcEndpointRequest",
        "variableSetterType" : "UpdateVpcEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVpcEndpoint",
      "operationName" : "UpdateVpcEndpoint",
      "returnType" : {
        "returnType" : "UpdateVpcEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateVpcEndpointResult"
    }
  },
  "shapes" : {
    "AccessPolicyDetail" : {
      "c2jName" : "AccessPolicyDetail",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Details about an OpenSearch Serverless access policy.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.opensearchserverless.model.AccessPolicyDetail",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "createdDate",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The date the policy was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date the policy was created.</p>\n@param createdDate The date the policy was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedDate",
        "getterDocumentation" : "/**<p>The date the policy was created.</p>\n@return The date the policy was created.*/",
        "getterMethodName" : "getCreatedDate",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdDate",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "CreatedDate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date the policy was created.</p>\n@param createdDate The date the policy was created.*/",
        "setterMethodName" : "setCreatedDate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "createdDate",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date the policy was created.</p>\n@param createdDate The date the policy was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "createdDate",
          "variableType" : "Long",
          "documentation" : "<p>The date the policy was created.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "PolicyDescription",
        "deprecated" : false,
        "documentation" : "<p>The description of the policy.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the policy.</p>\n@param description The description of the policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description of the policy.</p>\n@return The description of the policy.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The description of the policy.</p>\n@param description The description of the policy.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description of the policy.</p>\n@param description The description of the policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description of the policy.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lastModifiedDate",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The timestamp of when the policy was last modified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The timestamp of when the policy was last modified.</p>\n@param lastModifiedDate The timestamp of when the policy was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastModifiedDate",
[...]
