{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Backup" : [ "BackupType", "Status" ],
      "DescribeNodeAssociationStatusResponse" : [ "NodeAssociationStatus" ],
      "Server" : [ "MaintenanceStatus", "Status" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-11-01",
    "asyncClient" : "AWSOpsWorksCMAsyncClient",
    "asyncClientBuilderClassName" : "AWSOpsWorksCMAsyncClientBuilder",
    "asyncInterface" : "AWSOpsWorksCMAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSOpsWorksCMModuleInjector",
    "defaultEndpoint" : "opsworks-cm.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "opsworks-cm.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS OpsWorks CM</fullname> <p>AWS OpsWorks for configuration management (CM) is a service that runs and manages configuration management servers. You can use AWS OpsWorks CM to create and manage AWS OpsWorks for Chef Automate and AWS OpsWorks for Puppet Enterprise servers, and add or remove nodes for the servers to manage.</p> <p> <b>Glossary of terms</b> </p> <ul> <li> <p> <b>Server</b>: A configuration management server that can be highly-available. The configuration management server runs on an Amazon Elastic Compute Cloud (EC2) instance, and may use various other AWS services, such as Amazon Relational Database Service (RDS) and Elastic Load Balancing. A server is a generic abstraction over the configuration manager that you want to use, much like Amazon RDS. In AWS OpsWorks CM, you do not start or stop servers. After you create servers, they continue to run until they are deleted.</p> </li> <li> <p> <b>Engine</b>: The engine is the specific configuration manager that you want to use. Valid values in this release include <code>Chef</code> and <code>Puppet</code>.</p> </li> <li> <p> <b>Backup</b>: This is an application-level backup of the data that the configuration manager stores. AWS OpsWorks CM creates an S3 bucket for backups when you launch the first server. A backup maintains a snapshot of a server's configuration-related attributes at the time the backup starts.</p> </li> <li> <p> <b>Events</b>: Events are always related to a server. Events are written during server creation, when health checks run, when backups are created, when system maintenance is performed, etc. When you delete a server, the server's events are also deleted.</p> </li> <li> <p> <b>Account attributes</b>: Every account has attributes that are assigned in the AWS OpsWorks CM database. These attributes store information about configuration limits (servers, backups, etc.) and your customer account. </p> </li> </ul> <p> <b>Endpoints</b> </p> <p>AWS OpsWorks CM supports the following endpoints, all HTTPS. You must connect to one of the following endpoints. Your servers can only be accessed or managed within the endpoint in which they are created.</p> <ul> <li> <p>opsworks-cm.us-east-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.us-east-2.amazonaws.com</p> </li> <li> <p>opsworks-cm.us-west-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.us-west-2.amazonaws.com</p> </li> <li> <p>opsworks-cm.ap-northeast-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.ap-southeast-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.ap-southeast-2.amazonaws.com</p> </li> <li> <p>opsworks-cm.eu-central-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.eu-west-1.amazonaws.com</p> </li> </ul> <p> <b>Throttling limits</b> </p> <p>All API operations allow for five requests per second with a burst of 10 requests per second.</p>",
    "endpointPrefix" : "opsworks-cm",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.opsworkscm",
    "packagePath" : "com/amazonaws/services/opsworkscm",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "OpsWorksCM",
    "serviceFullName" : "AWS OpsWorks for Chef Automate",
    "serviceId" : "OpsWorksCM",
    "serviceName" : "OpsWorksCM",
    "signingName" : "opsworks-cm",
    "smokeTestsPackageName" : "com.amazonaws.services.opsworkscm.smoketests",
    "syncClient" : "AWSOpsWorksCMClient",
    "syncClientBuilderClassName" : "AWSOpsWorksCMClientBuilder",
    "syncInterface" : "AWSOpsWorksCM",
    "uid" : "opsworkscm-2016-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateNodeRequest, AssociateNodeResult>",
      "asyncReturnType" : "AssociateNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Associates a new node with the server. For more information about how to disassociate a node, see <a>DisassociateNode</a>.</p> <p> On a Chef server: This command is an alternative to <code>knife bootstrap</code>.</p> <p> Example (Chef): <code>aws opsworks-cm associate-node --server-name <i>MyServer</i> --node-name <i>MyManagedNode</i> --engine-attributes \"Name=<i>CHEF_ORGANIZATION</i>,Value=default\" \"Name=<i>CHEF_NODE_PUBLIC_KEY</i>,Value=<i>public-key-pem</i>\"</code> </p> <p> On a Puppet server, this command is an alternative to the <code>puppet cert sign</code> command that signs a Puppet node CSR. </p> <p> Example (Chef): <code>aws opsworks-cm associate-node --server-name <i>MyServer</i> --node-name <i>MyManagedNode</i> --engine-attributes \"Name=<i>PUPPET_NODE_CSR</i>,Value=<i>csr-pem</i>\"</code> </p> <p> A node can can only be associated with servers that are in a <code>HEALTHY</code> state. Otherwise, an <code>InvalidStateException</code> is thrown. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. The AssociateNode API call can be integrated into Auto Scaling configurations, AWS Cloudformation templates, or the user data of a server's instance. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateNodeRequest",
        "variableName" : "associateNodeRequest",
        "variableType" : "AssociateNodeRequest",
        "documentation" : "",
        "simpleType" : "AssociateNodeRequest",
        "variableSetterType" : "AssociateNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateNode",
      "operationName" : "AssociateNode",
      "returnType" : {
        "returnType" : "AssociateNodeResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateNodeResult"
    },
    "CreateBackup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackupRequest, CreateBackupResult>",
      "asyncReturnType" : "CreateBackupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates an application-level backup of a server. While the server is in the <code>BACKING_UP</code> state, the server cannot be changed, and no additional backup can be created. </p> <p> Backups can be created for servers in <code>RUNNING</code>, <code>HEALTHY</code>, and <code>UNHEALTHY</code> states. By default, you can create a maximum of 50 manual backups. </p> <p> This operation is asynchronous. </p> <p> A <code>LimitExceededException</code> is thrown when the maximum number of manual backups is reached. An <code>InvalidStateException</code> is thrown when the server is not in any of the following states: RUNNING, HEALTHY, or UNHEALTHY. A <code>ResourceNotFoundException</code> is thrown when the server is not found. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit of servers or backups has been reached. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBackupRequest",
        "variableName" : "createBackupRequest",
        "variableType" : "CreateBackupRequest",
        "documentation" : "",
        "simpleType" : "CreateBackupRequest",
        "variableSetterType" : "CreateBackupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackup",
      "operationName" : "CreateBackup",
      "returnType" : {
        "returnType" : "CreateBackupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBackupResult"
    },
    "CreateServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateServerRequest, CreateServerResult>",
      "asyncReturnType" : "CreateServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates and immedately starts a new server. The server is ready to use when it is in the <code>HEALTHY</code> state. By default, you can create a maximum of 10 servers. </p> <p> This operation is asynchronous. </p> <p> A <code>LimitExceededException</code> is thrown when you have created the maximum number of servers (10). A <code>ResourceAlreadyExistsException</code> is thrown when a server with the same name already exists in the account. A <code>ResourceNotFoundException</code> is thrown when you specify a backup ID that is not valid or is for a backup that does not exist. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p> <p> If you do not specify a security group by adding the <code>SecurityGroupIds</code> parameter, AWS OpsWorks creates a new security group. </p> <p> <i>Chef Automate:</i> The default security group opens the Chef server to the world on TCP port 443. If a KeyName is present, AWS OpsWorks enables SSH access. SSH is also open to the world on TCP port 22. </p> <p> <i>Puppet Enterprise:</i> The default security group opens TCP ports 22, 443, 4433, 8140, 8142, 8143, and 8170. If a KeyName is present, AWS OpsWorks enables SSH access. SSH is also open to the world on TCP port 22. </p> <p>By default, your server is accessible from any IP address. We recommend that you update your security group rules to allow access from known IP addresses and address ranges only. To edit security group rules, open Security Groups in the navigation pane of the EC2 management console. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit of servers or backups has been reached. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The requested resource cannot be created because it already exists. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateServerRequest",
        "variableName" : "createServerRequest",
        "variableType" : "CreateServerRequest",
        "documentation" : "",
        "simpleType" : "CreateServerRequest",
        "variableSetterType" : "CreateServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createServer",
      "operationName" : "CreateServer",
      "returnType" : {
        "returnType" : "CreateServerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateServerResult"
    },
    "DeleteBackup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackupRequest, DeleteBackupResult>",
      "asyncReturnType" : "DeleteBackupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a backup. You can delete both manual and automated backups. This operation is asynchronous. </p> <p> An <code>InvalidStateException</code> is thrown when a backup deletion is already in progress. A <code>ResourceNotFoundException</code> is thrown when the backup does not exist. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackupRequest",
        "variableName" : "deleteBackupRequest",
        "variableType" : "DeleteBackupRequest",
        "documentation" : "",
        "simpleType" : "DeleteBackupRequest",
        "variableSetterType" : "DeleteBackupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackup",
      "operationName" : "DeleteBackup",
      "returnType" : {
        "returnType" : "DeleteBackupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBackupResult"
    },
    "DeleteServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServerRequest, DeleteServerResult>",
      "asyncReturnType" : "DeleteServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes the server and the underlying AWS CloudFormation stacks (including the server's EC2 instance). When you run this command, the server state is updated to <code>DELETING</code>. After the server is deleted, it is no longer returned by <code>DescribeServer</code> requests. If the AWS CloudFormation stack cannot be deleted, the server cannot be deleted. </p> <p> This operation is asynchronous. </p> <p> An <code>InvalidStateException</code> is thrown when a server deletion is already in progress. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p> <p> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServerRequest",
        "variableName" : "deleteServerRequest",
        "variableType" : "DeleteServerRequest",
        "documentation" : "",
        "simpleType" : "DeleteServerRequest",
        "variableSetterType" : "DeleteServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteServer",
      "operationName" : "DeleteServer",
      "returnType" : {
        "returnType" : "DeleteServerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServerResult"
    },
    "DescribeAccountAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountAttributesRequest, DescribeAccountAttributesResult>",
      "asyncReturnType" : "DescribeAccountAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes your account attributes, and creates requests to increase limits before they are reached or exceeded. </p> <p> This operation is synchronous. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccountAttributesRequest",
        "variableName" : "describeAccountAttributesRequest",
        "variableType" : "DescribeAccountAttributesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountAttributesRequest",
        "variableSetterType" : "DescribeAccountAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountAttributes",
      "operationName" : "DescribeAccountAttributes",
      "returnType" : {
        "returnType" : "DescribeAccountAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountAttributesResult"
    },
    "DescribeBackups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBackupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBackupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBackupsRequest, DescribeBackupsResult>",
      "asyncReturnType" : "DescribeBackupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes backups. The results are ordered by time, with newest backups first. If you do not specify a BackupId or ServerName, the command returns all backups. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the backup does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>This occurs when the provided nextToken is not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBackupsRequest",
        "variableName" : "describeBackupsRequest",
        "variableType" : "DescribeBackupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeBackupsRequest",
        "variableSetterType" : "DescribeBackupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBackups",
      "operationName" : "DescribeBackups",
      "returnType" : {
        "returnType" : "DescribeBackupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBackupsResult"
    },
    "DescribeEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventsRequest, DescribeEventsResult>",
      "asyncReturnType" : "DescribeEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes events for a specified server. Results are ordered by time, with newest events first. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>This occurs when the provided nextToken is not valid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEventsRequest",
        "variableName" : "describeEventsRequest",
        "variableType" : "DescribeEventsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEventsRequest",
        "variableSetterType" : "DescribeEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEvents",
      "operationName" : "DescribeEvents",
      "returnType" : {
        "returnType" : "DescribeEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEventsResult"
    },
    "DescribeNodeAssociationStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNodeAssociationStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNodeAssociationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNodeAssociationStatusRequest, DescribeNodeAssociationStatusResult>",
      "asyncReturnType" : "DescribeNodeAssociationStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the current status of an existing association or disassociation request. </p> <p> A <code>ResourceNotFoundException</code> is thrown when no recent association or disassociation request with the specified token is found, or when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeNodeAssociationStatusRequest",
        "variableName" : "describeNodeAssociationStatusRequest",
        "variableType" : "DescribeNodeAssociationStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeNodeAssociationStatusRequest",
        "variableSetterType" : "DescribeNodeAssociationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNodeAssociationStatus",
      "operationName" : "DescribeNodeAssociationStatus",
      "returnType" : {
        "returnType" : "DescribeNodeAssociationStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeNodeAssociationStatusResult"
    },
    "DescribeServers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServersRequest, DescribeServersResult>",
      "asyncReturnType" : "DescribeServersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists all configuration management servers that are identified with your account. Only the stored results from Amazon DynamoDB are returned. AWS OpsWorks CM does not query other services. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>This occurs when the provided nextToken is not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeServersRequest",
        "variableName" : "describeServersRequest",
        "variableType" : "DescribeServersRequest",
        "documentation" : "",
        "simpleType" : "DescribeServersRequest",
        "variableSetterType" : "DescribeServersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeServers",
      "operationName" : "DescribeServers",
      "returnType" : {
        "returnType" : "DescribeServersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeServersResult"
    },
    "DisassociateNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateNodeRequest, DisassociateNodeResult>",
      "asyncReturnType" : "DisassociateNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Disassociates a node from an AWS OpsWorks CM server, and removes the node from the server's managed nodes. After a node is disassociated, the node key pair is no longer valid for accessing the configuration manager's API. For more information about how to associate a node, see <a>AssociateNode</a>. </p> <p>A node can can only be disassociated from a server that is in a <code>HEALTHY</code> state. Otherwise, an <code>InvalidStateException</code> is thrown. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateNodeRequest",
        "variableName" : "disassociateNodeRequest",
        "variableType" : "DisassociateNodeRequest",
        "documentation" : "",
        "simpleType" : "DisassociateNodeRequest",
        "variableSetterType" : "DisassociateNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateNode",
      "operationName" : "DisassociateNode",
      "returnType" : {
        "returnType" : "DisassociateNodeResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateNodeResult"
    },
    "ExportServerEngineAttribute" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportServerEngineAttributeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportServerEngineAttributeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportServerEngineAttributeRequest, ExportServerEngineAttributeResult>",
      "asyncReturnType" : "ExportServerEngineAttributeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Exports a specified server engine attribute as a base64-encoded string. For example, you can export user data that you can use in EC2 to associate nodes with a server. </p> <p> This operation is synchronous. </p> <p> A <code>ValidationException</code> is raised when parameters of the request are not valid. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. An <code>InvalidStateException</code> is thrown when the server is in any of the following states: CREATING, TERMINATED, FAILED or DELETING. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportServerEngineAttributeRequest",
        "variableName" : "exportServerEngineAttributeRequest",
        "variableType" : "ExportServerEngineAttributeRequest",
        "documentation" : "",
        "simpleType" : "ExportServerEngineAttributeRequest",
        "variableSetterType" : "ExportServerEngineAttributeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportServerEngineAttribute",
      "operationName" : "ExportServerEngineAttribute",
      "returnType" : {
        "returnType" : "ExportServerEngineAttributeResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportServerEngineAttributeResult"
    },
    "RestoreServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreServerRequest, RestoreServerResult>",
      "asyncReturnType" : "RestoreServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Restores a backup to a server that is in a <code>CONNECTION_LOST</code>, <code>HEALTHY</code>, <code>RUNNING</code>, <code>UNHEALTHY</code>, or <code>TERMINATED</code> state. When you run RestoreServer, the server's EC2 instance is deleted, and a new EC2 instance is configured. RestoreServer maintains the existing server endpoint, so configuration management of the server's client devices (nodes) should continue to work. </p> <p> This operation is asynchronous. </p> <p> An <code>InvalidStateException</code> is thrown when the server is not in a valid state. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RestoreServerRequest",
        "variableName" : "restoreServerRequest",
        "variableType" : "RestoreServerRequest",
        "documentation" : "",
        "simpleType" : "RestoreServerRequest",
        "variableSetterType" : "RestoreServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restoreServer",
      "operationName" : "RestoreServer",
      "returnType" : {
        "returnType" : "RestoreServerResult",
        "documentation" : null
      },
      "syncReturnType" : "RestoreServerResult"
    },
    "StartMaintenance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartMaintenanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartMaintenanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartMaintenanceRequest, StartMaintenanceResult>",
      "asyncReturnType" : "StartMaintenanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Manually starts server maintenance. This command can be useful if an earlier maintenance attempt failed, and the underlying cause of maintenance failure has been resolved. The server is in an <code>UNDER_MAINTENANCE</code> state while maintenance is in progress. </p> <p> Maintenance can only be started on servers in <code>HEALTHY</code> and <code>UNHEALTHY</code> states. Otherwise, an <code>InvalidStateException</code> is thrown. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartMaintenanceRequest",
        "variableName" : "startMaintenanceRequest",
        "variableType" : "StartMaintenanceRequest",
        "documentation" : "",
        "simpleType" : "StartMaintenanceRequest",
        "variableSetterType" : "StartMaintenanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startMaintenance",
      "operationName" : "StartMaintenance",
      "returnType" : {
        "returnType" : "StartMaintenanceResult",
        "documentation" : null
      },
      "syncReturnType" : "StartMaintenanceResult"
    },
    "UpdateServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServerRequest, UpdateServerResult>",
      "asyncReturnType" : "UpdateServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates settings for a server. </p> <p> This operation is synchronous. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServerRequest",
        "variableName" : "updateServerRequest",
        "variableType" : "UpdateServerRequest",
        "documentation" : "",
        "simpleType" : "UpdateServerRequest",
        "variableSetterType" : "UpdateServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServer",
      "operationName" : "UpdateServer",
      "returnType" : {
        "returnType" : "UpdateServerResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServerResult"
    },
    "UpdateServerEngineAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServerEngineAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServerEngineAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServerEngineAttributesRequest, UpdateServerEngineAttributesResult>",
      "asyncReturnType" : "UpdateServerEngineAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates engine-specific attributes on a specified server. The server enters the <code>MODIFYING</code> state when this operation is in progress. Only one update can occur at a time. You can use this command to reset a Chef server's public key (<code>CHEF_PIVOTAL_KEY</code>) or a Puppet server's admin password (<code>PUPPET_ADMIN_PASSWORD</code>). </p> <p> This operation is asynchronous. </p> <p> This operation can only be called for servers in <code>HEALTHY</code> or <code>UNHEALTHY</code> states. Otherwise, an <code>InvalidStateException</code> is raised. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServerEngineAttributesRequest",
        "variableName" : "updateServerEngineAttributesRequest",
        "variableType" : "UpdateServerEngineAttributesRequest",
        "documentation" : "",
        "simpleType" : "UpdateServerEngineAttributesRequest",
        "variableSetterType" : "UpdateServerEngineAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServerEngineAttributes",
      "operationName" : "UpdateServerEngineAttributes",
      "returnType" : {
        "returnType" : "UpdateServerEngineAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServerEngineAttributesResult"
    }
  },
  "shapes" : {
    "AccountAttribute" : {
      "c2jName" : "AccountAttribute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Stores account attributes. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>\n@return The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li>*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li>*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Maximum",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The maximum allowed value. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaximum",
        "getterDocumentation" : "/**<p> The maximum allowed value. </p>\n@return The maximum allowed value.*/",
        "getterMethodName" : "getMaximum",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Maximum",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Maximum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Maximum",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.*/",
        "setterMethodName" : "setMaximum",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maximum",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maximum",
          "variableType" : "Integer",
          "documentation" : "<p> The maximum allowed value. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Used",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The current usage, such as the current number of servers that are associated with the account. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The current usage, such as the current number of servers that are associated with the account. </p>\n@param used The current usage, such as the current number of servers that are associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsed",
        "getterDocumentation" : "/**<p> The current usage, such as the current number of servers that are associated with the account. </p>\n@return The current usage, such as the current number of servers that are associated with the account.*/",
        "getterMethodName" : "getUsed",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Used",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Used",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Used",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The current usage, such as the current number of servers that are associated with the account. </p>\n@param used The current usage, such as the current number of servers that are associated with the account.*/",
        "setterMethodName" : "setUsed",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "used",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The current usage, such as the current number of servers that are associated with the account. </p>\n@param used The current usage, such as the current number of servers that are associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "used",
          "variableType" : "Integer",
          "documentation" : "<p> The current usage, such as the current number of servers that are associated with the account. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Maximum" : {
          "c2jName" : "Maximum",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The maximum allowed value. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMaximum",
          "getterDocumentation" : "/**<p> The maximum allowed value. </p>\n@return The maximum allowed value.*/",
          "getterMethodName" : "getMaximum",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Maximum",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Maximum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Maximum",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.*/",
          "setterMethodName" : "setMaximum",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maximum",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maximum",
            "variableType" : "Integer",
            "documentation" : "<p> The maximum allowed value. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>\n@return The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li>*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li>*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Used" : {
          "c2jName" : "Used",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The current usage, such as the current number of servers that are associated with the account. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The current usage, such as the current number of servers that are associated with the account. </p>\n@param used The current usage, such as the current number of servers that are associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUsed",
          "getterDocumentation" : "/**<p> The current usage, such as the current number of servers that are associated with the account. </p>\n@return The current usage, such as the current number of servers that are associated with the account.*/",
          "getterMethodName" : "getUsed",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Used",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Used",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Used",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The current usage, such as the current number of servers that are associated with the account. </p>\n@param used The current usage, such as the current number of servers that are associated with the account.*/",
          "setterMethodName" : "setUsed",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "used",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The current usage, such as the current number of servers that are associated with the account. </p>\n@param used The current usage, such as the current number of servers that are associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "used",
            "variableType" : "Integer",
            "documentation" : "<p> The current usage, such as the current number of servers that are associated with the account. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccountAttribute",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountAttribute",
        "variableName" : "accountAttribute",
        "variableType" : "AccountAttribute",
        "documentation" : null,
        "simpleType" : "AccountAttribute",
        "variableSetterType" : "AccountAttribute"
      },
      "wrapper" : false
    },
    "AssociateNodeRequest" : {
      "c2jName" : "AssociateNodeRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateNode",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "OpsWorksCM_V2016_11_01.AssociateNode",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ServerName",
        "c2jShape" : "ServerName",
        "deprecated" : false,
        "documentation" : "<p>The name of the server with which to associate the node. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the server with which to associate the node. </p>\n@param serverName The name of the server with which to associate the node.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withServerName",
        "getterDocumentation" : "/**<p>The name of the server with which to associate the node. </p>\n@return The name of the server with which to associate the node.*/",
        "getterMethodName" : "getServerName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServerName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServerName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ServerName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the server with which to associate the node. </p>\n@param serverName The name of the server with which to associate the node.*/",
        "setterMethodName" : "setServerName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serverName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the server with which to associate the node. </p>\n@param serverName The name of the server with which to associate the node.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serverName",
          "variableType" : "String",
          "documentation" : "<p>The name of the server with which to associate the node. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NodeName",
        "c2jShape" : "NodeName",
        "deprecated" : false,
        "documentation" : "<p>The name of the node. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the node. </p>\n@param nodeName The name of the node.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNodeName",
        "getterDocumentation" : "/**<p>The name of the node. </p>\n@return The name of the node.*/",
        "getterMethodName" : "getNodeName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NodeName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NodeName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NodeName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the node. </p>\n@param nodeName The name of the node.*/",
        "setterMethodName" : "setNodeName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nodeName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the node. </p>\n@param nodeName The name of the node.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nodeName",
          "variableType" : "String",
          "documentation" : "<p>The name of the node. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EngineAttributes",
        "c2jShape" : "EngineAttributes",
        "deprecated" : false,
        "documentation" : "<p>Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>\n@param engineAttributes Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEngineAttributes",
        "getterDocumentation" : "/**<p>Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>\n@return Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li>*/",
        "getterMethodName" : "getEngineAttributes",
        "getterModel" : {
          "returnType" : "java.util.List<EngineAttribute>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EngineAttributes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EngineAttributes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "EngineAttribute",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "EngineAttribute",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "EngineAttribute",
              "variableName" : "member",
              "variableType" : "EngineAttribute",
              "documentation" : "",
              "simpleType" : "EngineAttribute",
              "variableSetterType" : "EngineAttribute"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "EngineAttribute",
              "variableName" : "member",
              "variableType" : "EngineAttribute",
              "documentation" : "",
              "simpleType" : "EngineAttribute",
              "variableSetterType" : "EngineAttribute"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "EngineAttribute",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "EngineAttribute",
          "templateImplType" : "java.util.ArrayList<EngineAttribute>",
          "templateType" : "java.util.List<EngineAttribute>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "EngineAttributes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>\n@param engineAttributes Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li>*/",
        "setterMethodName" : "setEngineAttributes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<EngineAttribute>",
          "variableName" : "engineAttributes",
          "variableType" : "java.util.List<EngineAttribute>",
          "documentation" : "",
          "simpleType" : "List<EngineAttribute>",
          "variableSetterType" : "java.util.Collection<EngineAttribute>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEngineAttributes(java.util.Collection)} or {@link #withEngineAttributes(java.util.Collection)} if you want to override the existing values.</p>\n@param engineAttributes Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<EngineAttribute>",
          "variableName" : "engineAttributes",
          "variableType" : "java.util.List<EngineAttribute>",
          "documentation" : "<p>Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>",
          "simpleType" : "List<EngineAttribute>",
          "variableSetterType" : "java.util.Collection<EngineAttribute>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EngineAttributes" : {
          "c2jName" : "EngineAttributes",
          "c2jShape" : "EngineAttributes",
          "deprecated" : false,
          "documentation" : "<p>Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>\n@param engineAttributes Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEngineAttributes",
          "getterDocumentation" : "/**<p>Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>\n@return Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li>*/",
          "getterMethodName" : "getEngineAttributes",
          "getterModel" : {
            "returnType" : "java.util.List<EngineAttribute>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EngineAttributes",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EngineAttributes",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "EngineAttribute",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "EngineAttribute",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
[...]
