{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-11-01",
    "asyncClient" : "AWSOpsWorksCMAsyncClient",
    "asyncClientBuilderClassName" : "AWSOpsWorksCMAsyncClientBuilder",
    "asyncInterface" : "AWSOpsWorksCMAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSOpsWorksCMModuleInjector",
    "defaultEndpoint" : "opsworks-cm.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "opsworks-cm.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS OpsWorks for Chef Automate</fullname> <p> A service that runs and manages configuration management servers. </p> <p>Glossary of terms</p> <ul> <li> <p> <b>Server</b>: A server is a configuration management server, and can be highly-available. The configuration manager runs on your instances by using various AWS services, such as Amazon Elastic Compute Cloud (EC2), and potentially Amazon Relational Database Service (RDS). A server is a generic abstraction over the configuration manager that you want to use, much like Amazon RDS. In AWS OpsWorks for Chef Automate, you do not start or stop servers. After you create servers, they continue to run until they are deleted.</p> </li> <li> <p> <b>Engine</b>: The specific configuration manager that you want to use (such as <code>Chef</code>) is the engine.</p> </li> <li> <p> <b>Backup</b>: This is an application-level backup of the data that the configuration manager stores. A backup creates a .tar.gz file that is stored in an Amazon Simple Storage Service (S3) bucket in your account. AWS OpsWorks for Chef Automate creates the S3 bucket when you launch the first instance. A backup maintains a snapshot of all of a server's important attributes at the time of the backup.</p> </li> <li> <p> <b>Events</b>: Events are always related to a server. Events are written during server creation, when health checks run, when backups are created, etc. When you delete a server, the server's events are also deleted.</p> </li> <li> <p> <b>AccountAttributes</b>: Every account has attributes that are assigned in the AWS OpsWorks for Chef Automate database. These attributes store information about configuration limits (servers, backups, etc.) and your customer account. </p> </li> </ul> <p>Throttling limits</p> <p>All API operations allow for 5 requests per second with a burst of 10 requests per second.</p>",
    "endpointPrefix" : "opsworks-cm",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.opsworkscm",
    "packagePath" : "com/amazonaws/services/opsworkscm",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "OpsWorksCM",
    "serviceFullName" : "AWS OpsWorks for Chef Automate",
    "serviceName" : "OpsWorksCM",
    "signingName" : "opsworks-cm",
    "smokeTestsPackageName" : "com.amazonaws.services.opsworkscm.smoketests",
    "syncClient" : "AWSOpsWorksCMClient",
    "syncClientBuilderClassName" : "AWSOpsWorksCMClientBuilder",
    "syncInterface" : "AWSOpsWorksCM",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateNodeRequest, AssociateNodeResult>",
      "asyncReturnType" : "AssociateNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateNodeRequest",
        "variableName" : "associateNodeRequest",
        "variableType" : "AssociateNodeRequest",
        "documentation" : "",
        "simpleType" : "AssociateNodeRequest",
        "variableSetterType" : "AssociateNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateNode",
      "operationName" : "AssociateNode",
      "returnType" : {
        "returnType" : "AssociateNodeResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateNodeResult"
    },
    "CreateBackup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackupRequest, CreateBackupResult>",
      "asyncReturnType" : "CreateBackupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates an application-level backup of a server. While the server is <code>BACKING_UP</code>, the server can not be modified and no additional backup can be created. </p> <p> Backups can be created for <code>RUNNING</code>, <code>HEALTHY</code> and <code>UNHEALTHY</code> servers. </p> <p> This operation is asnychronous. </p> <p> By default 50 manual backups can be created. </p> <p> A <code>LimitExceededException</code> is thrown then the maximum number of manual backup is reached. A <code>InvalidStateException</code> is thrown when the server is not in any of RUNNING, HEALTHY, UNHEALTHY. A <code>ResourceNotFoundException</code> is thrown when the server is not found. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit of servers or backups has been reached. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateBackupRequest",
        "variableName" : "createBackupRequest",
        "variableType" : "CreateBackupRequest",
        "documentation" : "",
        "simpleType" : "CreateBackupRequest",
        "variableSetterType" : "CreateBackupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackup",
      "operationName" : "CreateBackup",
      "returnType" : {
        "returnType" : "CreateBackupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBackupResult"
    },
    "CreateServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateServerRequest, CreateServerResult>",
      "asyncReturnType" : "CreateServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates and immedately starts a new Server. The server can be used once it has reached the <code>HEALTHY</code> state. </p> <p> This operation is asnychronous. </p> <p> A <code>LimitExceededException</code> is thrown then the maximum number of server backup is reached. A <code>ResourceAlreadyExistsException</code> is raise when a server with the same name already exists in the account. A <code>ResourceNotFoundException</code> is thrown when a backupId is passed, but the backup does not exist. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p> <p> By default 10 servers can be created. A <code>LimitExceededException</code> is raised when the limit is exceeded. </p> <p> When no security groups are provided by using <code>SecurityGroupIds</code>, AWS OpsWorks creates a new security group. This security group opens the Chef server to the world on TCP port 443. If a KeyName is present, SSH access is enabled. SSH is also open to the world on TCP port 22. </p> <p>By default, the Chef Server is accessible from any IP address. We recommend that you update your security group rules to allow access from known IP addresses and address ranges only. To edit security group rules, open Security Groups in the navigation pane of the EC2 management console. </p>",
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit of servers or backups has been reached. </p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The requested resource cannot be created because it already exists. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateServerRequest",
        "variableName" : "createServerRequest",
        "variableType" : "CreateServerRequest",
        "documentation" : "",
        "simpleType" : "CreateServerRequest",
        "variableSetterType" : "CreateServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createServer",
      "operationName" : "CreateServer",
      "returnType" : {
        "returnType" : "CreateServerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateServerResult"
    },
    "DeleteBackup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackupRequest, DeleteBackupResult>",
      "asyncReturnType" : "DeleteBackupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a backup. You can delete both manual and automated backups. </p> <p> This operation is asynchronous. </p> <p> A <code>InvalidStateException</code> is thrown then a backup is already deleting. A <code>ResourceNotFoundException</code> is thrown when the backup does not exist. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteBackupRequest",
        "variableName" : "deleteBackupRequest",
        "variableType" : "DeleteBackupRequest",
        "documentation" : "",
        "simpleType" : "DeleteBackupRequest",
        "variableSetterType" : "DeleteBackupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackup",
      "operationName" : "DeleteBackup",
      "returnType" : {
        "returnType" : "DeleteBackupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBackupResult"
    },
    "DeleteServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServerRequest, DeleteServerResult>",
      "asyncReturnType" : "DeleteServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes the server and the underlying AWS CloudFormation stack (including the server's EC2 instance). The server status updated to <code>DELETING</code>. Once the server is successfully deleted, it will no longer be returned by <code>DescribeServer</code> requests. If the AWS CloudFormation stack cannot be deleted, the server cannot be deleted. </p> <p> This operation is asynchronous. </p> <p> A <code>InvalidStateException</code> is thrown then a server is already deleting. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are invalid. </p> <p> </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteServerRequest",
        "variableName" : "deleteServerRequest",
        "variableType" : "DeleteServerRequest",
        "documentation" : "",
        "simpleType" : "DeleteServerRequest",
        "variableSetterType" : "DeleteServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteServer",
      "operationName" : "DeleteServer",
      "returnType" : {
        "returnType" : "DeleteServerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServerResult"
    },
    "DescribeAccountAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountAttributesRequest, DescribeAccountAttributesResult>",
      "asyncReturnType" : "DescribeAccountAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes your account attributes, and creates requests to increase limits before they are reached or exceeded. </p> <p> This operation is synchronous. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAccountAttributesRequest",
        "variableName" : "describeAccountAttributesRequest",
        "variableType" : "DescribeAccountAttributesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountAttributesRequest",
        "variableSetterType" : "DescribeAccountAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountAttributes",
      "operationName" : "DescribeAccountAttributes",
      "returnType" : {
        "returnType" : "DescribeAccountAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountAttributesResult"
    },
    "DescribeBackups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBackupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBackupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBackupsRequest, DescribeBackupsResult>",
      "asyncReturnType" : "DescribeBackupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes backups. The results are ordered by time, with newest backups first. If you do not specify a BackupId or ServerName, the command returns all backups. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the backup does not exist. A <code>ValidationException</code> is raised when parameters of the request are invalid. </p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>This occurs when the provided nextToken is not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeBackupsRequest",
        "variableName" : "describeBackupsRequest",
        "variableType" : "DescribeBackupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeBackupsRequest",
        "variableSetterType" : "DescribeBackupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBackups",
      "operationName" : "DescribeBackups",
      "returnType" : {
        "returnType" : "DescribeBackupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBackupsResult"
    },
    "DescribeEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventsRequest, DescribeEventsResult>",
      "asyncReturnType" : "DescribeEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes events for a specified server. Results are ordered by time, with newest events first. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are invalid. </p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>This occurs when the provided nextToken is not valid. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEventsRequest",
        "variableName" : "describeEventsRequest",
        "variableType" : "DescribeEventsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEventsRequest",
        "variableSetterType" : "DescribeEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEvents",
      "operationName" : "DescribeEvents",
      "returnType" : {
        "returnType" : "DescribeEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEventsResult"
    },
    "DescribeNodeAssociationStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNodeAssociationStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNodeAssociationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNodeAssociationStatusRequest, DescribeNodeAssociationStatusResult>",
      "asyncReturnType" : "DescribeNodeAssociationStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeNodeAssociationStatusRequest",
        "variableName" : "describeNodeAssociationStatusRequest",
        "variableType" : "DescribeNodeAssociationStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeNodeAssociationStatusRequest",
        "variableSetterType" : "DescribeNodeAssociationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNodeAssociationStatus",
      "operationName" : "DescribeNodeAssociationStatus",
      "returnType" : {
        "returnType" : "DescribeNodeAssociationStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeNodeAssociationStatusResult"
    },
    "DescribeServers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServersRequest, DescribeServersResult>",
      "asyncReturnType" : "DescribeServersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists all configuration management servers that are identified with your account. Only the stored results from Amazon DynamoDB are returned. AWS OpsWorks for Chef Automate does not query other services. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are invalid. </p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>This occurs when the provided nextToken is not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeServersRequest",
        "variableName" : "describeServersRequest",
        "variableType" : "DescribeServersRequest",
        "documentation" : "",
        "simpleType" : "DescribeServersRequest",
        "variableSetterType" : "DescribeServersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeServers",
      "operationName" : "DescribeServers",
      "returnType" : {
        "returnType" : "DescribeServersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeServersResult"
    },
    "DisassociateNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateNodeRequest, DisassociateNodeResult>",
      "asyncReturnType" : "DisassociateNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateNodeRequest",
        "variableName" : "disassociateNodeRequest",
        "variableType" : "DisassociateNodeRequest",
        "documentation" : "",
        "simpleType" : "DisassociateNodeRequest",
        "variableSetterType" : "DisassociateNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateNode",
      "operationName" : "DisassociateNode",
      "returnType" : {
        "returnType" : "DisassociateNodeResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateNodeResult"
    },
    "RestoreServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreServerRequest, RestoreServerResult>",
      "asyncReturnType" : "RestoreServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Restores a backup to a server that is in a <code>RUNNING</code>, <code>FAILED</code>, or <code>HEALTHY</code> state. When you run RestoreServer, the server's EC2 instance is deleted, and a new EC2 instance is configured. RestoreServer maintains the existing server endpoint, so configuration management of all of the server's client devices should continue to work. </p> <p> This operation is asynchronous. </p> <p> A <code>InvalidStateException</code> is thrown when the server is not in a valid state. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are invalid. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RestoreServerRequest",
        "variableName" : "restoreServerRequest",
        "variableType" : "RestoreServerRequest",
        "documentation" : "",
        "simpleType" : "RestoreServerRequest",
        "variableSetterType" : "RestoreServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restoreServer",
      "operationName" : "RestoreServer",
      "returnType" : {
        "returnType" : "RestoreServerResult",
        "documentation" : null
      },
      "syncReturnType" : "RestoreServerResult"
    },
    "StartMaintenance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartMaintenanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartMaintenanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartMaintenanceRequest, StartMaintenanceResult>",
      "asyncReturnType" : "StartMaintenanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Manually starts server maintenance. This command can be useful if an earlier maintenance attempt failed, and the underlying cause of maintenance failure has been resolved. The server will switch to <code>UNDER_MAINTENANCE</code> state, while maintenace is in progress. </p> <p> Maintenace can only be started for <code>HEALTHY</code> and <code>UNHEALTHY</code> servers. A <code>InvalidStateException</code> is thrown otherwise. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are invalid. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartMaintenanceRequest",
        "variableName" : "startMaintenanceRequest",
        "variableType" : "StartMaintenanceRequest",
        "documentation" : "",
        "simpleType" : "StartMaintenanceRequest",
        "variableSetterType" : "StartMaintenanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startMaintenance",
      "operationName" : "StartMaintenance",
      "returnType" : {
        "returnType" : "StartMaintenanceResult",
        "documentation" : null
      },
      "syncReturnType" : "StartMaintenanceResult"
    },
    "UpdateServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServerRequest, UpdateServerResult>",
      "asyncReturnType" : "UpdateServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates settings for a server. </p> <p> This operation is synchronous. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateServerRequest",
        "variableName" : "updateServerRequest",
        "variableType" : "UpdateServerRequest",
        "documentation" : "",
        "simpleType" : "UpdateServerRequest",
        "variableSetterType" : "UpdateServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServer",
      "operationName" : "UpdateServer",
      "returnType" : {
        "returnType" : "UpdateServerResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServerResult"
    },
    "UpdateServerEngineAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServerEngineAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServerEngineAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServerEngineAttributesRequest, UpdateServerEngineAttributesResult>",
      "asyncReturnType" : "UpdateServerEngineAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates engine specific attributes on a specified server. Server will enter the <code>MODIFYING</code> state when this operation is in progress. Only one update can take place at a time. </p> <p> This operation can be use to reset Chef Server main API key (<code>CHEF_PIVOTAL_KEY</code>). </p> <p> This operation is asynchronous. </p> <p> </p> <p> This operation can only be called for <code>HEALTHY</code> and <code>UNHEALTHY</code> servers. Otherwise a <code>InvalidStateException</code> is raised. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are invalid. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The resource is in a state that does not allow you to perform a specified action. </p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied. </p>"
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One or more of the provided request parameters are not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateServerEngineAttributesRequest",
        "variableName" : "updateServerEngineAttributesRequest",
        "variableType" : "UpdateServerEngineAttributesRequest",
        "documentation" : "",
        "simpleType" : "UpdateServerEngineAttributesRequest",
        "variableSetterType" : "UpdateServerEngineAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServerEngineAttributes",
      "operationName" : "UpdateServerEngineAttributes",
      "returnType" : {
        "returnType" : "UpdateServerEngineAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServerEngineAttributesResult"
    }
  },
  "shapes" : {
    "AccountAttribute" : {
      "c2jName" : "AccountAttribute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Stores account attributes. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>\n@return The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li>*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li>*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Maximum",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The maximum allowed value. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> The maximum allowed value. </p>\n@return The maximum allowed value.*/",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Maximum",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Maximum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Maximum",
        "setterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.*/",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "maximum",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "maximum",
          "variableType" : "Integer",
          "documentation" : "<p> The maximum allowed value. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Used",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The current usage, such as the current number of servers associated with the account. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The current usage, such as the current number of servers associated with the account. </p>\n@param used The current usage, such as the current number of servers associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> The current usage, such as the current number of servers associated with the account. </p>\n@return The current usage, such as the current number of servers associated with the account.*/",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Used",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Used",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Used",
        "setterDocumentation" : "/**<p> The current usage, such as the current number of servers associated with the account. </p>\n@param used The current usage, such as the current number of servers associated with the account.*/",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "used",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p> The current usage, such as the current number of servers associated with the account. </p>\n@param used The current usage, such as the current number of servers associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "used",
          "variableType" : "Integer",
          "documentation" : "<p> The current usage, such as the current number of servers associated with the account. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Maximum" : {
          "c2jName" : "Maximum",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The maximum allowed value. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p> The maximum allowed value. </p>\n@return The maximum allowed value.*/",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Maximum",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Maximum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Maximum",
          "setterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.*/",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "maximum",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p> The maximum allowed value. </p>\n@param maximum The maximum allowed value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "maximum",
            "variableType" : "Integer",
            "documentation" : "<p> The maximum allowed value. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>\n@return The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li>*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li>*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>\n@param name The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of servers that currently existing / maximal allowed. By default 10 servers can be created. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of manual backups that currently exist / are maximal allowed. By default 50 manual backups can be created. </p> </li> </ul>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Used" : {
          "c2jName" : "Used",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The current usage, such as the current number of servers associated with the account. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The current usage, such as the current number of servers associated with the account. </p>\n@param used The current usage, such as the current number of servers associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p> The current usage, such as the current number of servers associated with the account. </p>\n@return The current usage, such as the current number of servers associated with the account.*/",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Used",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Used",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Used",
          "setterDocumentation" : "/**<p> The current usage, such as the current number of servers associated with the account. </p>\n@param used The current usage, such as the current number of servers associated with the account.*/",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "used",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p> The current usage, such as the current number of servers associated with the account. </p>\n@param used The current usage, such as the current number of servers associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "used",
            "variableType" : "Integer",
            "documentation" : "<p> The current usage, such as the current number of servers associated with the account. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AccountAttribute",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AccountAttribute",
        "variableName" : "accountAttribute",
        "variableType" : "AccountAttribute",
        "documentation" : null,
        "simpleType" : "AccountAttribute",
        "variableSetterType" : "AccountAttribute"
      },
      "wrapper" : false
    },
    "AssociateNodeRequest" : {
      "c2jName" : "AssociateNodeRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : {
        "action" : "AssociateNode",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "OpsWorksCM_V2016_11_01.AssociateNode",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ServerName",
        "c2jShape" : "ServerName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param serverName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ServerName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServerName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ServerName",
        "setterDocumentation" : "/**\n@param serverName */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "serverName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param serverName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "serverName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NodeName",
        "c2jShape" : "NodeName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param nodeName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "NodeName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NodeName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "NodeName",
        "setterDocumentation" : "/**\n@param nodeName */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "nodeName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param nodeName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "nodeName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EngineAttributes",
        "c2jShape" : "EngineAttributes",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param engineAttributes \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "java.util.List<EngineAttribute>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "EngineAttributes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EngineAttributes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "EngineAttribute",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "EngineAttribute",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "EngineAttribute",
              "variableName" : "member",
              "variableType" : "EngineAttribute",
              "documentation" : "",
              "simpleType" : "EngineAttribute",
              "variableSetterType" : "EngineAttribute"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "EngineAttribute",
              "variableName" : "member",
              "variableType" : "EngineAttribute",
              "documentation" : "",
              "simpleType" : "EngineAttribute",
              "variableSetterType" : "EngineAttribute"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "EngineAttribute",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "EngineAttribute",
          "templateImplType" : "java.util.ArrayList<EngineAttribute>",
          "templateType" : "java.util.List<EngineAttribute>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "EngineAttributes",
        "setterDocumentation" : "/**\n@param engineAttributes */",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<EngineAttribute>",
          "variableName" : "engineAttributes",
          "variableType" : "java.util.List<EngineAttribute>",
          "documentation" : "",
          "simpleType" : "List<EngineAttribute>",
          "variableSetterType" : "java.util.Collection<EngineAttribute>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEngineAttributes(java.util.Collection)} or {@link #withEngineAttributes(java.util.Collection)} if you want to override the existing values.</p>\n@param engineAttributes \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<EngineAttribute>",
          "variableName" : "engineAttributes",
          "variableType" : "java.util.List<EngineAttribute>",
          "documentation" : "",
          "simpleType" : "List<EngineAttribute>",
          "variableSetterType" : "java.util.Collection<EngineAttribute>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EngineAttributes" : {
          "c2jName" : "EngineAttributes",
          "c2jShape" : "EngineAttributes",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param engineAttributes \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "java.util.List<EngineAttribute>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "EngineAttributes",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EngineAttributes",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "EngineAttribute",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "EngineAttribute",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "EngineAttribute",
                "variableName" : "member",
                "variableType" : "EngineAttribute",
                "documentation" : "",
                "simpleType" : "EngineAttribute",
                "variableSetterType" : "EngineAttribute"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "EngineAttribute",
                "variableName" : "member",
                "variableType" : "EngineAttribute",
                "documentation" : "",
                "simpleType" : "EngineAttribute",
                "variableSetterType" : "EngineAttribute"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "EngineAttribute",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "EngineAttribute",
            "templateImplType" : "java.util.ArrayList<EngineAttribute>",
            "templateType" : "java.util.List<EngineAttribute>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "EngineAttributes",
          "setterDocumentation" : "/**\n@param engineAttributes */",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<EngineAttribute>",
            "variableName" : "engineAttributes",
            "variableType" : "java.util.List<EngineAttribute>",
            "documentation" : "",
            "simpleType" : "List<EngineAttribute>",
            "variableSetterType" : "java.util.Collection<EngineAttribute>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEngineAttributes(java.util.Collection)} or {@link #withEngineAttributes(java.util.Collection)} if you want to override the existing values.</p>\n@param engineAttributes \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<EngineAttribute>",
            "variableName" : "engineAttributes",
            "variableType" : "java.util.List<EngineAttribute>",
            "documentation" : "",
            "simpleType" : "List<EngineAttribute>",
            "variableSetterType" : "java.util.Collection<EngineAttribute>"
          },
          "xmlNameSpaceUri" : null
        },
        "NodeName" : {
          "c2jName" : "NodeName",
          "c2jShape" : "NodeName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param nodeName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "NodeName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NodeName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "NodeName",
          "setterDocumentation" : "/**\n@param nodeName */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "nodeName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param nodeName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "nodeName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ServerName" : {
          "c2jName" : "ServerName",
          "c2jShape" : "ServerName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param serverName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ServerName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ServerName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ServerName",
          "setterDocumentation" : "/**\n@param serverName */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "serverName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param serverName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "serverName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "ServerName", "NodeName" ],
      "shapeName" : "AssociateNodeRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AssociateNodeRequest",
        "variableName" : "associateNodeRequest",
        "variableType" : "AssociateNodeRequest",
        "documentation" : null,
        "simpleType" : "AssociateNodeRequest",
        "variableSetterType" : "AssociateNodeRequest"
      },
      "wrapper" : false
    },
    "AssociateNodeResult" : {
      "c2jName" : "AssociateNodeResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "NodeAssociationStatusToken",
        "c2jShape" : "NodeAssociationStatusToken",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param nodeAssociationStatusToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "NodeAssociationStatusToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NodeAssociationStatusToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "NodeAssociationStatusToken",
        "setterDocumentation" : "/**\n@param nodeAssociationStatusToken */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "nodeAssociationStatusToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param nodeAssociationStatusToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "nodeAssociationStatusToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "NodeAssociationStatusToken" : {
          "c2jName" : "NodeAssociationStatusToken",
          "c2jShape" : "NodeAssociationStatusToken",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param nodeAssociationStatusToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "NodeAssociationStatusToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NodeAssociationStatusToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "NodeAssociationStatusToken",
          "setterDocumentation" : "/**\n@param nodeAssociationStatusToken */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "nodeAssociationStatusToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param nodeAssociationStatusToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "nodeAssociationStatusToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AssociateNodeResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AssociateNodeResult",
        "variableName" : "associateNodeResult",
        "variableType" : "AssociateNodeResult",
        "documentation" : null,
        "simpleType" : "AssociateNodeResult",
        "variableSetterType" : "AssociateNodeResult"
      },
      "wrapper" : false
    },
    "Backup" : {
      "c2jName" : "Backup",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes a single backup. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "hasUriMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BackupArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the backup. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the backup. </p>\n@param backupArn The ARN of the backup.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The ARN of the backup. </p>\n@return The ARN of the backup.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "BackupArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BackupArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "BackupArn",
        "setterDocumentation" : "/**<p>The ARN of the backup. </p>\n@param backupArn The ARN of the backup.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "backupArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The ARN of the backup. </p>\n@param backupArn The ARN of the backup.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "backupArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the backup. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BackupId",
        "c2jShape" : "BackupId",
        "deprecated" : false,
        "documentation" : "<p> The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code> </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code> </p>\n@param backupId The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code> </p>\n@return The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code>*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "BackupId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BackupId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "BackupId",
        "setterDocumentation" : "/**<p> The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code> </p>\n@param backupId The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code>*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "backupId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p> The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code> </p>\n@param backupId The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "backupId",
          "variableType" : "String",
          "documentation" : "<p> The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code> </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BackupType",
        "c2jShape" : "BackupType",
        "deprecated" : false,
        "documentation" : "<p> The backup type. Valid values are <code>automated</code> or <code>manual</code>. </p>",
        "enumType" : "BackupType",
        "fluentSetterDocumentation" : "/**<p> The backup type. Valid values are <code>automated</code> or <code>manual</code>. </p>\n@param backupType The backup type. Valid values are <code>automated</code> or <code>manual</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BackupType*/",
        "getterDocumentation" : "/**<p> The backup type. Valid values are <code>automated</code> or <code>manual</code>. </p>\n@return The backup type. Valid values are <code>automated</code> or <code>manual</code>.\n@see BackupType*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "BackupType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BackupType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "BackupType",
        "setterDocumentation" : "/**<p> The backup type. Valid values are <code>automated</code> or <code>manual</code>. </p>\n@param backupType The backup type. Valid values are <code>automated</code> or <code>manual</code>.\n@see BackupType*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "backupType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p> The backup type. Valid values are <code>automated</code> or <code>manual</code>. </p>\n@param backupType The backup type. Valid values are <code>automated</code> or <code>manual</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BackupType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "backupType",
          "variableType" : "String",
          "documentation" : "<p> The backup type. Valid values are <code>automated</code> or <code>manual</code>. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p> The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code> </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code> </p>\n@param createdAt The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code> </p>\n@return The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code>*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CreatedAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CreatedAt",
        "setterDocumentation" : "/**<p> The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code> </p>\n@param createdAt The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code>*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p> The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code> </p>\n@param createdAt The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p> The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code> </p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p> A user-provided description for a manual backup. This field is empty for automated backups. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> A user-provided description for a manual backup. This field is empty for automated backups. </p>\n@param description A user-provided description for a manual backup. This field is empty for automated backups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> A user-provided description for a manual backup. This field is empty for automated backups. </p>\n@return A user-provided description for a manual backup. This field is empty for automated backups.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Description",
        "setterDocumentation" : "/**<p> A user-provided description for a manual backup. This field is empty for automated backups. </p>\n@param description A user-provided description for a manual backup. This field is empty for automated backups.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p> A user-provided description for a manual backup. This field is empty for automated backups. </p>\n@param description A user-provided description for a manual backup. This field is empty for automated backups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p> A user-provided description for a manual backup. This field is empty for automated backups. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Engine",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p> The engine type that is obtained from the server when the backup is created. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The engine type that is obtained from the server when the backup is created. </p>\n@param engine The engine type that is obtained from the server when the backup is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p> The engine type that is obtained from the server when the backup is created. </p>\n@return The engine type that is obtained from the server when the backup is created.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Engine",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Engine",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Engine",
[...]
