{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-01-01",
    "asyncClient" : "AmazonOSISAsyncClient",
    "asyncClientBuilderClassName" : "AmazonOSISAsyncClientBuilder",
    "asyncInterface" : "AmazonOSISAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonOSISModuleInjector",
    "defaultEndpoint" : "osis.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "osis.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Use the Amazon OpenSearch Ingestion API to create and manage ingestion pipelines. OpenSearch Ingestion is a fully managed data collector that delivers real-time log and trace data to OpenSearch Service domains. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/ingestion.html\">Getting data into your cluster using OpenSearch Ingestion</a>.</p>",
    "endpointPrefix" : "osis",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.osis",
    "packagePath" : "com/amazonaws/services/osis",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon OpenSearch Ingestion",
    "serviceId" : "OSIS",
    "serviceName" : "Amazon OpenSearch Ingestion",
    "signingName" : "osis",
    "smokeTestsPackageName" : "com.amazonaws.services.osis.smoketests",
    "syncClient" : "AmazonOSISClient",
    "syncClientBuilderClassName" : "AmazonOSISClientBuilder",
    "syncInterface" : "AmazonOSIS",
    "uid" : "osis-2022-01-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreatePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePipelineRequest, CreatePipelineResult>",
      "asyncReturnType" : "CreatePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an OpenSearch Ingestion pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/creating-pipeline.html\">Creating Amazon OpenSearch Ingestion pipelines</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You attempted to create more than the allowed number of tags.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>You attempted to create a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePipelineRequest",
        "variableName" : "createPipelineRequest",
        "variableType" : "CreatePipelineRequest",
        "documentation" : "",
        "simpleType" : "CreatePipelineRequest",
        "variableSetterType" : "CreatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPipeline",
      "operationName" : "CreatePipeline",
      "returnType" : {
        "returnType" : "CreatePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePipelineResult"
    },
    "DeletePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePipelineRequest, DeletePipelineResult>",
      "asyncReturnType" : "DeletePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an OpenSearch Ingestion pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/delete-pipeline.html\">Deleting Amazon OpenSearch Ingestion pipelines</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The client attempted to remove a resource that is currently in use.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePipelineRequest",
        "variableName" : "deletePipelineRequest",
        "variableType" : "DeletePipelineRequest",
        "documentation" : "",
        "simpleType" : "DeletePipelineRequest",
        "variableSetterType" : "DeletePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePipeline",
      "operationName" : "DeletePipeline",
      "returnType" : {
        "returnType" : "DeletePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePipelineResult"
    },
    "GetPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPipelineRequest, GetPipelineResult>",
      "asyncReturnType" : "GetPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an OpenSearch Ingestion pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPipelineRequest",
        "variableName" : "getPipelineRequest",
        "variableType" : "GetPipelineRequest",
        "documentation" : "",
        "simpleType" : "GetPipelineRequest",
        "variableSetterType" : "GetPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPipeline",
      "operationName" : "GetPipeline",
      "returnType" : {
        "returnType" : "GetPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPipelineResult"
    },
    "GetPipelineBlueprint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPipelineBlueprintResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPipelineBlueprintResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPipelineBlueprintRequest, GetPipelineBlueprintResult>",
      "asyncReturnType" : "GetPipelineBlueprintResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a specific blueprint for OpenSearch Ingestion. Blueprints are templates for the configuration needed for a <code>CreatePipeline</code> request. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/creating-pipeline.html#pipeline-blueprint\">Using blueprints to create a pipeline</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPipelineBlueprintRequest",
        "variableName" : "getPipelineBlueprintRequest",
        "variableType" : "GetPipelineBlueprintRequest",
        "documentation" : "",
        "simpleType" : "GetPipelineBlueprintRequest",
        "variableSetterType" : "GetPipelineBlueprintRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPipelineBlueprint",
      "operationName" : "GetPipelineBlueprint",
      "returnType" : {
        "returnType" : "GetPipelineBlueprintResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPipelineBlueprintResult"
    },
    "GetPipelineChangeProgress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPipelineChangeProgressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPipelineChangeProgressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPipelineChangeProgressRequest, GetPipelineChangeProgressResult>",
      "asyncReturnType" : "GetPipelineChangeProgressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns progress information for the current change happening on an OpenSearch Ingestion pipeline. Currently, this operation only returns information when a pipeline is being created.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/creating-pipeline.html#get-pipeline-progress\">Tracking the status of pipeline creation</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPipelineChangeProgressRequest",
        "variableName" : "getPipelineChangeProgressRequest",
        "variableType" : "GetPipelineChangeProgressRequest",
        "documentation" : "",
        "simpleType" : "GetPipelineChangeProgressRequest",
        "variableSetterType" : "GetPipelineChangeProgressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPipelineChangeProgress",
      "operationName" : "GetPipelineChangeProgress",
      "returnType" : {
        "returnType" : "GetPipelineChangeProgressResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPipelineChangeProgressResult"
    },
    "ListPipelineBlueprints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPipelineBlueprintsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPipelineBlueprintsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPipelineBlueprintsRequest, ListPipelineBlueprintsResult>",
      "asyncReturnType" : "ListPipelineBlueprintsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of all available blueprints for Data Prepper. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/creating-pipeline.html#pipeline-blueprint\">Using blueprints to create a pipeline</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>An invalid pagination token provided in the request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPipelineBlueprintsRequest",
        "variableName" : "listPipelineBlueprintsRequest",
        "variableType" : "ListPipelineBlueprintsRequest",
        "documentation" : "",
        "simpleType" : "ListPipelineBlueprintsRequest",
        "variableSetterType" : "ListPipelineBlueprintsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPipelineBlueprints",
      "operationName" : "ListPipelineBlueprints",
      "returnType" : {
        "returnType" : "ListPipelineBlueprintsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPipelineBlueprintsResult"
    },
    "ListPipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPipelinesRequest, ListPipelinesResult>",
      "asyncReturnType" : "ListPipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all OpenSearch Ingestion pipelines in the current Amazon Web Services account and Region. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/list-pipeline.html\">Viewing Amazon OpenSearch Ingestion pipelines</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>An invalid pagination token provided in the request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPipelinesRequest",
        "variableName" : "listPipelinesRequest",
        "variableType" : "ListPipelinesRequest",
        "documentation" : "",
        "simpleType" : "ListPipelinesRequest",
        "variableSetterType" : "ListPipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPipelines",
      "operationName" : "ListPipelines",
      "returnType" : {
        "returnType" : "ListPipelinesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPipelinesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all resource tags associated with an OpenSearch Ingestion pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/tag-pipeline.html\">Tagging Amazon OpenSearch Ingestion pipelines</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartPipelineRequest, StartPipelineResult>",
      "asyncReturnType" : "StartPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an OpenSearch Ingestion pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/pipeline--stop-start.html#pipeline--start\">Starting an OpenSearch Ingestion pipeline</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The client attempted to remove a resource that is currently in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartPipelineRequest",
        "variableName" : "startPipelineRequest",
        "variableType" : "StartPipelineRequest",
        "documentation" : "",
        "simpleType" : "StartPipelineRequest",
        "variableSetterType" : "StartPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startPipeline",
      "operationName" : "StartPipeline",
      "returnType" : {
        "returnType" : "StartPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "StartPipelineResult"
    },
    "StopPipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopPipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopPipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopPipelineRequest, StopPipelineResult>",
      "asyncReturnType" : "StopPipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an OpenSearch Ingestion pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/pipeline--stop-start.html#pipeline--stop\">Stopping an OpenSearch Ingestion pipeline</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The client attempted to remove a resource that is currently in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopPipelineRequest",
        "variableName" : "stopPipelineRequest",
        "variableType" : "StopPipelineRequest",
        "documentation" : "",
        "simpleType" : "StopPipelineRequest",
        "variableSetterType" : "StopPipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopPipeline",
      "operationName" : "StopPipeline",
      "returnType" : {
        "returnType" : "StopPipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "StopPipelineResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tags an OpenSearch Ingestion pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/tag-pipeline.html\">Tagging Amazon OpenSearch Ingestion pipelines</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You attempted to create more than the allowed number of tags.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from an OpenSearch Ingestion pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/tag-pipeline.html\">Tagging Amazon OpenSearch Ingestion pipelines</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdatePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePipelineRequest, UpdatePipelineResult>",
      "asyncReturnType" : "UpdatePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an OpenSearch Ingestion pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/update-pipeline.html\">Updating Amazon OpenSearch Ingestion pipelines</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You attempted to access or delete a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The client attempted to remove a resource that is currently in use.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePipelineRequest",
        "variableName" : "updatePipelineRequest",
        "variableType" : "UpdatePipelineRequest",
        "documentation" : "",
        "simpleType" : "UpdatePipelineRequest",
        "variableSetterType" : "UpdatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePipeline",
      "operationName" : "UpdatePipeline",
      "returnType" : {
        "returnType" : "UpdatePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePipelineResult"
    },
    "ValidatePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ValidatePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ValidatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidatePipelineRequest, ValidatePipelineResult>",
      "asyncReturnType" : "ValidatePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks whether an OpenSearch Ingestion pipeline configuration is valid prior to creation. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/creating-pipeline.html\">Creating Amazon OpenSearch Ingestion pipelines</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>Exception is thrown when an operation has been disabled.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to access the resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request failed because of an unknown error, exception, or failure (the failure is internal to the service).</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing or invalid input fields.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ValidatePipelineRequest",
        "variableName" : "validatePipelineRequest",
        "variableType" : "ValidatePipelineRequest",
        "documentation" : "",
        "simpleType" : "ValidatePipelineRequest",
        "variableSetterType" : "ValidatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "validatePipeline",
      "operationName" : "ValidatePipeline",
      "returnType" : {
        "returnType" : "ValidatePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "ValidatePipelineResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have permissions to access the resource.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.osis.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.osis.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "BufferOptions" : {
      "c2jName" : "BufferOptions",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Options that specify the configuration of a persistent buffer. To configure how OpenSearch Ingestion encrypts this data, set the <code>EncryptionAtRestOptions</code>. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/osis-features-overview.html#persistent-buffering\">Persistent buffering</a>.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.osis.model.BufferOptions",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "PersistentBufferEnabled",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>Whether persistent buffering should be enabled.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Whether persistent buffering should be enabled.</p>\n@param persistentBufferEnabled Whether persistent buffering should be enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPersistentBufferEnabled",
        "getterDocumentation" : "/**<p>Whether persistent buffering should be enabled.</p>\n@return Whether persistent buffering should be enabled.*/",
        "getterMethodName" : "getPersistentBufferEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PersistentBufferEnabled",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PersistentBufferEnabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "PersistentBufferEnabled",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Whether persistent buffering should be enabled.</p>\n@param persistentBufferEnabled Whether persistent buffering should be enabled.*/",
        "setterMethodName" : "setPersistentBufferEnabled",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "persistentBufferEnabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Whether persistent buffering should be enabled.</p>\n@param persistentBufferEnabled Whether persistent buffering should be enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "persistentBufferEnabled",
          "variableType" : "Boolean",
          "documentation" : "<p>Whether persistent buffering should be enabled.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "PersistentBufferEnabled" : {
          "c2jName" : "PersistentBufferEnabled",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p>Whether persistent buffering should be enabled.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Whether persistent buffering should be enabled.</p>\n@param persistentBufferEnabled Whether persistent buffering should be enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPersistentBufferEnabled",
          "getterDocumentation" : "/**<p>Whether persistent buffering should be enabled.</p>\n@return Whether persistent buffering should be enabled.*/",
          "getterMethodName" : "getPersistentBufferEnabled",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "PersistentBufferEnabled",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PersistentBufferEnabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "PersistentBufferEnabled",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Whether persistent buffering should be enabled.</p>\n@param persistentBufferEnabled Whether persistent buffering should be enabled.*/",
          "setterMethodName" : "setPersistentBufferEnabled",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "persistentBufferEnabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Whether persistent buffering should be enabled.</p>\n@param persistentBufferEnabled Whether persistent buffering should be enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "persistentBufferEnabled",
            "variableType" : "Boolean",
            "documentation" : "<p>Whether persistent buffering should be enabled.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.osis.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "PersistentBufferEnabled" ],
      "shapeName" : "BufferOptions",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BufferOptions",
        "variableName" : "bufferOptions",
        "variableType" : "BufferOptions",
        "documentation" : null,
        "simpleType" : "BufferOptions",
        "variableSetterType" : "BufferOptions"
      },
      "wrapper" : false
    },
    "ChangeProgressStage" : {
      "c2jName" : "ChangeProgressStage",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Progress details for a specific stage of a pipeline configuration change.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.osis.model.ChangeProgressStage",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the stage.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the stage.</p>\n@param name The name of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the stage.</p>\n@return The name of the stage.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the stage.</p>\n@param name The name of the stage.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the stage.</p>\n@param name The name of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the stage.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "ChangeProgressStageStatuses",
        "deprecated" : false,
        "documentation" : "<p>The current status of the stage that the change is in.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ChangeProgressStageStatuses",
        "fluentSetterDocumentation" : "/**<p>The current status of the stage that the change is in.</p>\n@param status The current status of the stage that the change is in.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeProgressStageStatuses*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The current status of the stage that the change is in.</p>\n@return The current status of the stage that the change is in.\n@see ChangeProgressStageStatuses*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The current status of the stage that the change is in.</p>\n@param status The current status of the stage that the change is in.\n@see ChangeProgressStageStatuses*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current status of the stage that the change is in.</p>\n@param status The current status of the stage that the change is in.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeProgressStageStatuses*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The current status of the stage that the change is in.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A description of the stage.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description of the stage.</p>\n@param description A description of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A description of the stage.</p>\n@return A description of the stage.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description of the stage.</p>\n@param description A description of the stage.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description of the stage.</p>\n@param description A description of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A description of the stage.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastUpdatedAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The most recent updated timestamp of the stage.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The most recent updated timestamp of the stage.</p>\n@param lastUpdatedAt The most recent updated timestamp of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastUpdatedAt",
        "getterDocumentation" : "/**<p>The most recent updated timestamp of the stage.</p>\n@return The most recent updated timestamp of the stage.*/",
        "getterMethodName" : "getLastUpdatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastUpdatedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastUpdatedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastUpdatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The most recent updated timestamp of the stage.</p>\n@param lastUpdatedAt The most recent updated timestamp of the stage.*/",
        "setterMethodName" : "setLastUpdatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdatedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The most recent updated timestamp of the stage.</p>\n@param lastUpdatedAt The most recent updated timestamp of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdatedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The most recent updated timestamp of the stage.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A description of the stage.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description of the stage.</p>\n@param description A description of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A description of the stage.</p>\n@return A description of the stage.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A description of the stage.</p>\n@param description A description of the stage.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description of the stage.</p>\n@param description A description of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A description of the stage.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LastUpdatedAt" : {
          "c2jName" : "LastUpdatedAt",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The most recent updated timestamp of the stage.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The most recent updated timestamp of the stage.</p>\n@param lastUpdatedAt The most recent updated timestamp of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastUpdatedAt",
          "getterDocumentation" : "/**<p>The most recent updated timestamp of the stage.</p>\n@return The most recent updated timestamp of the stage.*/",
          "getterMethodName" : "getLastUpdatedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LastUpdatedAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LastUpdatedAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LastUpdatedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The most recent updated timestamp of the stage.</p>\n@param lastUpdatedAt The most recent updated timestamp of the stage.*/",
          "setterMethodName" : "setLastUpdatedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdatedAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The most recent updated timestamp of the stage.</p>\n@param lastUpdatedAt The most recent updated timestamp of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdatedAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The most recent updated timestamp of the stage.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the stage.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the stage.</p>\n@param name The name of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the stage.</p>\n@return The name of the stage.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the stage.</p>\n@param name The name of the stage.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the stage.</p>\n@param name The name of the stage.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the stage.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "ChangeProgressStageStatuses",
          "deprecated" : false,
          "documentation" : "<p>The current status of the stage that the change is in.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ChangeProgressStageStatuses",
          "fluentSetterDocumentation" : "/**<p>The current status of the stage that the change is in.</p>\n@param status The current status of the stage that the change is in.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeProgressStageStatuses*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>The current status of the stage that the change is in.</p>\n@return The current status of the stage that the change is in.\n@see ChangeProgressStageStatuses*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Status",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Status",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The current status of the stage that the change is in.</p>\n@param status The current status of the stage that the change is in.\n@see ChangeProgressStageStatuses*/",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The current status of the stage that the change is in.</p>\n@param status The current status of the stage that the change is in.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeProgressStageStatuses*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p>The current status of the stage that the change is in.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.osis.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ChangeProgressStage",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChangeProgressStage",
        "variableName" : "changeProgressStage",
        "variableType" : "ChangeProgressStage",
        "documentation" : null,
        "simpleType" : "ChangeProgressStage",
        "variableSetterType" : "ChangeProgressStage"
      },
      "wrapper" : false
    },
    "ChangeProgressStageStatuses" : {
      "c2jName" : "ChangeProgressStageStatuses",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "PENDING",
        "value" : "PENDING"
      }, {
        "name" : "IN_PROGRESS",
        "value" : "IN_PROGRESS"
      }, {
        "name" : "COMPLETED",
        "value" : "COMPLETED"
      }, {
        "name" : "FAILED",
        "value" : "FAILED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.osis.enum.ChangeProgressStageStatuses",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.osis.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ChangeProgressStageStatuses",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChangeProgressStageStatuses",
        "variableName" : "changeProgressStageStatuses",
        "variableType" : "ChangeProgressStageStatuses",
        "documentation" : null,
        "simpleType" : "ChangeProgressStageStatuses",
        "variableSetterType" : "ChangeProgressStageStatuses"
      },
      "wrapper" : false
    },
    "ChangeProgressStatus" : {
      "c2jName" : "ChangeProgressStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The progress details of a pipeline configuration change.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.osis.model.ChangeProgressStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "StartTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time at which the configuration change is made on the pipeline.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time at which the configuration change is made on the pipeline.</p>\n@param startTime The time at which the configuration change is made on the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStartTime",
        "getterDocumentation" : "/**<p>The time at which the configuration change is made on the pipeline.</p>\n@return The time at which the configuration change is made on the pipeline.*/",
        "getterMethodName" : "getStartTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StartTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StartTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "StartTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time at which the configuration change is made on the pipeline.</p>\n@param startTime The time at which the configuration change is made on the pipeline.*/",
        "setterMethodName" : "setStartTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time at which the configuration change is made on the pipeline.</p>\n@param startTime The time at which the configuration change is made on the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time at which the configuration change is made on the pipeline.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "ChangeProgressStatuses",
        "deprecated" : false,
        "documentation" : "<p>The overall status of the pipeline configuration change.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ChangeProgressStatuses",
        "fluentSetterDocumentation" : "/**<p>The overall status of the pipeline configuration change.</p>\n@param status The overall status of the pipeline configuration change.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeProgressStatuses*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The overall status of the pipeline configuration change.</p>\n@return The overall status of the pipeline configuration change.\n@see ChangeProgressStatuses*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The overall status of the pipeline configuration change.</p>\n@param status The overall status of the pipeline configuration change.\n@see ChangeProgressStatuses*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The overall status of the pipeline configuration change.</p>\n@param status The overall status of the pipeline configuration change.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChangeProgressStatuses*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The overall status of the pipeline configuration change.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TotalNumberOfStages",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>The total number of stages required for the pipeline configuration change.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The total number of stages required for the pipeline configuration change.</p>\n@param totalNumberOfStages The total number of stages required for the pipeline configuration change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTotalNumberOfStages",
        "getterDocumentation" : "/**<p>The total number of stages required for the pipeline configuration change.</p>\n@return The total number of stages required for the pipeline configuration change.*/",
        "getterMethodName" : "getTotalNumberOfStages",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TotalNumberOfStages",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TotalNumberOfStages",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "TotalNumberOfStages",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The total number of stages required for the pipeline configuration change.</p>\n@param totalNumberOfStages The total number of stages required for the pipeline configuration change.*/",
        "setterMethodName" : "setTotalNumberOfStages",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "totalNumberOfStages",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The total number of stages required for the pipeline configuration change.</p>\n@param totalNumberOfStages The total number of stages required for the pipeline configuration change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "totalNumberOfStages",
          "variableType" : "Integer",
          "documentation" : "<p>The total number of stages required for the pipeline configuration change.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChangeProgressStages",
        "c2jShape" : "ChangeProgressStageList",
        "deprecated" : false,
        "documentation" : "<p>Information about the stages that the pipeline is going through to perform the configuration change.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the stages that the pipeline is going through to perform the configuration change.</p>\n@param changeProgressStages Information about the stages that the pipeline is going through to perform the configuration change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChangeProgressStages",
        "getterDocumentation" : "/**<p>Information about the stages that the pipeline is going through to perform the configuration change.</p>\n@return Information about the stages that the pipeline is going through to perform the configuration change.*/",
        "getterMethodName" : "getChangeProgressStages",
        "getterModel" : {
          "returnType" : "java.util.List<ChangeProgressStage>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ChangeProgressStages",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ChangeProgressStages",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ChangeProgressStage",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "ChangeProgressStage",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ChangeProgressStage",
              "variableName" : "member",
              "variableType" : "ChangeProgressStage",
              "documentation" : "",
              "simpleType" : "ChangeProgressStage",
              "variableSetterType" : "ChangeProgressStage"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ChangeProgressStage",
              "variableName" : "member",
              "variableType" : "ChangeProgressStage",
              "documentation" : "",
              "simpleType" : "ChangeProgressStage",
              "variableSetterType" : "ChangeProgressStage"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ChangeProgressStage",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ChangeProgressStage",
          "templateImplType" : "java.util.ArrayList<ChangeProgressStage>",
          "templateType" : "java.util.List<ChangeProgressStage>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ChangeProgressStages",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the stages that the pipeline is going through to perform the configuration change.</p>\n@param changeProgressStages Information about the stages that the pipeline is going through to perform the configuration change.*/",
        "setterMethodName" : "setChangeProgressStages",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ChangeProgressStage>",
          "variableName" : "changeProgressStages",
          "variableType" : "java.util.List<ChangeProgressStage>",
          "documentation" : "",
          "simpleType" : "List<ChangeProgressStage>",
          "variableSetterType" : "java.util.Collection<ChangeProgressStage>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the stages that the pipeline is going through to perform the configuration change.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setChangeProgressStages(java.util.Collection)} or {@link #withChangeProgressStages(java.util.Collection)} if you want to override the existing values.</p>\n@param changeProgressStages Information about the stages that the pipeline is going through to perform the configuration change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ChangeProgressStage>",
          "variableName" : "changeProgressStages",
          "variableType" : "java.util.List<ChangeProgressStage>",
          "documentation" : "<p>Information about the stages that the pipeline is going through to perform the configuration change.</p>",
          "simpleType" : "List<ChangeProgressStage>",
          "variableSetterType" : "java.util.Collection<ChangeProgressStage>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ChangeProgressStages" : {
          "c2jName" : "ChangeProgressStages",
          "c2jShape" : "ChangeProgressStageList",
          "deprecated" : false,
          "documentation" : "<p>Information about the stages that the pipeline is going through to perform the configuration change.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the stages that the pipeline is going through to perform the configuration change.</p>\n@param changeProgressStages Information about the stages that the pipeline is going through to perform the configuration change.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChangeProgressStages",
          "getterDocumentation" : "/**<p>Information about the stages that the pipeline is going through to perform the configuration change.</p>\n@return Information about the stages that the pipeline is going through to perform the configuration change.*/",
          "getterMethodName" : "getChangeProgressStages",
          "getterModel" : {
            "returnType" : "java.util.List<ChangeProgressStage>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ChangeProgressStages",
[...]
