{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-12-03",
    "asyncClient" : "AWSOutpostsAsyncClient",
    "asyncClientBuilderClassName" : "AWSOutpostsAsyncClientBuilder",
    "asyncInterface" : "AWSOutpostsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSOutpostsModuleInjector",
    "defaultEndpoint" : "outposts.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "outposts.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Web Services Outposts is a fully managed service that extends Amazon Web Services infrastructure, APIs, and tools to customer premises. By providing local access to Amazon Web Services managed infrastructure, Amazon Web Services Outposts enables customers to build and run applications on premises using the same programming interfaces as in Amazon Web Services Regions, while using local compute and storage resources for lower latency and local data processing needs.</p>",
    "endpointPrefix" : "outposts",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.outposts",
    "packagePath" : "com/amazonaws/services/outposts",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Outposts",
    "serviceFullName" : "AWS Outposts",
    "serviceId" : "Outposts",
    "serviceName" : "Outposts",
    "signingName" : "outposts",
    "smokeTestsPackageName" : "com.amazonaws.services.outposts.smoketests",
    "syncClient" : "AWSOutpostsClient",
    "syncClientBuilderClassName" : "AWSOutpostsClientBuilder",
    "syncInterface" : "AWSOutposts",
    "uid" : "outposts-2019-12-03",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelOrder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelOrderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelOrderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelOrderRequest, CancelOrderResult>",
      "asyncReturnType" : "CancelOrderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the specified order for an Outpost.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelOrderRequest",
        "variableName" : "cancelOrderRequest",
        "variableType" : "CancelOrderRequest",
        "documentation" : "",
        "simpleType" : "CancelOrderRequest",
        "variableSetterType" : "CancelOrderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelOrder",
      "operationName" : "CancelOrder",
      "returnType" : {
        "returnType" : "CancelOrderResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelOrderResult"
    },
    "CreateOrder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateOrderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateOrderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateOrderRequest, CreateOrderResult>",
      "asyncReturnType" : "CreateOrderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an order for an Outpost.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded a service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateOrderRequest",
        "variableName" : "createOrderRequest",
        "variableType" : "CreateOrderRequest",
        "documentation" : "",
        "simpleType" : "CreateOrderRequest",
        "variableSetterType" : "CreateOrderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createOrder",
      "operationName" : "CreateOrder",
      "returnType" : {
        "returnType" : "CreateOrderResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateOrderResult"
    },
    "CreateOutpost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateOutpostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateOutpostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateOutpostRequest, CreateOutpostResult>",
      "asyncReturnType" : "CreateOutpostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Outpost.</p> <p>You can specify either an Availability one or an AZ ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded a service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateOutpostRequest",
        "variableName" : "createOutpostRequest",
        "variableType" : "CreateOutpostRequest",
        "documentation" : "",
        "simpleType" : "CreateOutpostRequest",
        "variableSetterType" : "CreateOutpostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createOutpost",
      "operationName" : "CreateOutpost",
      "returnType" : {
        "returnType" : "CreateOutpostResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateOutpostResult"
    },
    "CreateSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSiteRequest, CreateSiteResult>",
      "asyncReturnType" : "CreateSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a site for an Outpost. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded a service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSiteRequest",
        "variableName" : "createSiteRequest",
        "variableType" : "CreateSiteRequest",
        "documentation" : "",
        "simpleType" : "CreateSiteRequest",
        "variableSetterType" : "CreateSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSite",
      "operationName" : "CreateSite",
      "returnType" : {
        "returnType" : "CreateSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSiteResult"
    },
    "DeleteOutpost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteOutpostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteOutpostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteOutpostRequest, DeleteOutpostResult>",
      "asyncReturnType" : "DeleteOutpostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Outpost.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteOutpostRequest",
        "variableName" : "deleteOutpostRequest",
        "variableType" : "DeleteOutpostRequest",
        "documentation" : "",
        "simpleType" : "DeleteOutpostRequest",
        "variableSetterType" : "DeleteOutpostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteOutpost",
      "operationName" : "DeleteOutpost",
      "returnType" : {
        "returnType" : "DeleteOutpostResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteOutpostResult"
    },
    "DeleteSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSiteRequest, DeleteSiteResult>",
      "asyncReturnType" : "DeleteSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified site.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSiteRequest",
        "variableName" : "deleteSiteRequest",
        "variableType" : "DeleteSiteRequest",
        "documentation" : "",
        "simpleType" : "DeleteSiteRequest",
        "variableSetterType" : "DeleteSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSite",
      "operationName" : "DeleteSite",
      "returnType" : {
        "returnType" : "DeleteSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSiteResult"
    },
    "GetCatalogItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCatalogItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCatalogItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCatalogItemRequest, GetCatalogItemResult>",
      "asyncReturnType" : "GetCatalogItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified catalog item.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCatalogItemRequest",
        "variableName" : "getCatalogItemRequest",
        "variableType" : "GetCatalogItemRequest",
        "documentation" : "",
        "simpleType" : "GetCatalogItemRequest",
        "variableSetterType" : "GetCatalogItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCatalogItem",
      "operationName" : "GetCatalogItem",
      "returnType" : {
        "returnType" : "GetCatalogItemResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCatalogItemResult"
    },
    "GetConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectionRequest, GetConnectionResult>",
      "asyncReturnType" : "GetConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p> Amazon Web Services uses this action to install Outpost servers.</p> </note> <p> Gets information about the specified connection. </p> <p> Use CloudTrail to monitor this action or Amazon Web Services managed policy for Amazon Web Services Outposts to secure it. For more information, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/security-iam-awsmanpol.html\"> Amazon Web Services managed policies for Amazon Web Services Outposts</a> and <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/logging-using-cloudtrail.html\"> Logging Amazon Web Services Outposts API calls with Amazon Web Services CloudTrail</a> in the <i>Amazon Web Services Outposts User Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectionRequest",
        "variableName" : "getConnectionRequest",
        "variableType" : "GetConnectionRequest",
        "documentation" : "",
        "simpleType" : "GetConnectionRequest",
        "variableSetterType" : "GetConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnection",
      "operationName" : "GetConnection",
      "returnType" : {
        "returnType" : "GetConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConnectionResult"
    },
    "GetOrder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOrderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOrderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOrderRequest, GetOrderResult>",
      "asyncReturnType" : "GetOrderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified order.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOrderRequest",
        "variableName" : "getOrderRequest",
        "variableType" : "GetOrderRequest",
        "documentation" : "",
        "simpleType" : "GetOrderRequest",
        "variableSetterType" : "GetOrderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOrder",
      "operationName" : "GetOrder",
      "returnType" : {
        "returnType" : "GetOrderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOrderResult"
    },
    "GetOutpost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOutpostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOutpostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOutpostRequest, GetOutpostResult>",
      "asyncReturnType" : "GetOutpostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified Outpost.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOutpostRequest",
        "variableName" : "getOutpostRequest",
        "variableType" : "GetOutpostRequest",
        "documentation" : "",
        "simpleType" : "GetOutpostRequest",
        "variableSetterType" : "GetOutpostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOutpost",
      "operationName" : "GetOutpost",
      "returnType" : {
        "returnType" : "GetOutpostResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOutpostResult"
    },
    "GetOutpostInstanceTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOutpostInstanceTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOutpostInstanceTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOutpostInstanceTypesRequest, GetOutpostInstanceTypesResult>",
      "asyncReturnType" : "GetOutpostInstanceTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the instance types for the specified Outpost.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOutpostInstanceTypesRequest",
        "variableName" : "getOutpostInstanceTypesRequest",
        "variableType" : "GetOutpostInstanceTypesRequest",
        "documentation" : "",
        "simpleType" : "GetOutpostInstanceTypesRequest",
        "variableSetterType" : "GetOutpostInstanceTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOutpostInstanceTypes",
      "operationName" : "GetOutpostInstanceTypes",
      "returnType" : {
        "returnType" : "GetOutpostInstanceTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOutpostInstanceTypesResult"
    },
    "GetSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSiteRequest, GetSiteResult>",
      "asyncReturnType" : "GetSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified Outpost site.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSiteRequest",
        "variableName" : "getSiteRequest",
        "variableType" : "GetSiteRequest",
        "documentation" : "",
        "simpleType" : "GetSiteRequest",
        "variableSetterType" : "GetSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSite",
      "operationName" : "GetSite",
      "returnType" : {
        "returnType" : "GetSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSiteResult"
    },
    "GetSiteAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSiteAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSiteAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSiteAddressRequest, GetSiteAddressResult>",
      "asyncReturnType" : "GetSiteAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets the site address of the specified site. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSiteAddressRequest",
        "variableName" : "getSiteAddressRequest",
        "variableType" : "GetSiteAddressRequest",
        "documentation" : "",
        "simpleType" : "GetSiteAddressRequest",
        "variableSetterType" : "GetSiteAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSiteAddress",
      "operationName" : "GetSiteAddress",
      "returnType" : {
        "returnType" : "GetSiteAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSiteAddressResult"
    },
    "ListAssets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssetsRequest, ListAssetsResult>",
      "asyncReturnType" : "ListAssetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the hardware assets for the specified Outpost.</p> <p>Use filters to return specific results. If you specify multiple filters, the results include only the resources that match all of the specified filters. For a filter where you can specify multiple values, the results include items that match any of the values that you specify for the filter.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssetsRequest",
        "variableName" : "listAssetsRequest",
        "variableType" : "ListAssetsRequest",
        "documentation" : "",
        "simpleType" : "ListAssetsRequest",
        "variableSetterType" : "ListAssetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssets",
      "operationName" : "ListAssets",
      "returnType" : {
        "returnType" : "ListAssetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssetsResult"
    },
    "ListCatalogItems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCatalogItemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCatalogItemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCatalogItemsRequest, ListCatalogItemsResult>",
      "asyncReturnType" : "ListCatalogItemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the items in the catalog.</p> <p>Use filters to return specific results. If you specify multiple filters, the results include only the resources that match all of the specified filters. For a filter where you can specify multiple values, the results include items that match any of the values that you specify for the filter.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCatalogItemsRequest",
        "variableName" : "listCatalogItemsRequest",
        "variableType" : "ListCatalogItemsRequest",
        "documentation" : "",
        "simpleType" : "ListCatalogItemsRequest",
        "variableSetterType" : "ListCatalogItemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCatalogItems",
      "operationName" : "ListCatalogItems",
      "returnType" : {
        "returnType" : "ListCatalogItemsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCatalogItemsResult"
    },
    "ListOrders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOrdersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOrdersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOrdersRequest, ListOrdersResult>",
      "asyncReturnType" : "ListOrdersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Outpost orders for your Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOrdersRequest",
        "variableName" : "listOrdersRequest",
        "variableType" : "ListOrdersRequest",
        "documentation" : "",
        "simpleType" : "ListOrdersRequest",
        "variableSetterType" : "ListOrdersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOrders",
      "operationName" : "ListOrders",
      "returnType" : {
        "returnType" : "ListOrdersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOrdersResult"
    },
    "ListOutposts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOutpostsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOutpostsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOutpostsRequest, ListOutpostsResult>",
      "asyncReturnType" : "ListOutpostsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Outposts for your Amazon Web Services account.</p> <p>Use filters to return specific results. If you specify multiple filters, the results include only the resources that match all of the specified filters. For a filter where you can specify multiple values, the results include items that match any of the values that you specify for the filter.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOutpostsRequest",
        "variableName" : "listOutpostsRequest",
        "variableType" : "ListOutpostsRequest",
        "documentation" : "",
        "simpleType" : "ListOutpostsRequest",
        "variableSetterType" : "ListOutpostsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOutposts",
      "operationName" : "ListOutposts",
      "returnType" : {
        "returnType" : "ListOutpostsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOutpostsResult"
    },
    "ListSites" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSitesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSitesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSitesRequest, ListSitesResult>",
      "asyncReturnType" : "ListSitesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Outpost sites for your Amazon Web Services account. Use filters to return specific results.</p> <p>Use filters to return specific results. If you specify multiple filters, the results include only the resources that match all of the specified filters. For a filter where you can specify multiple values, the results include items that match any of the values that you specify for the filter.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSitesRequest",
        "variableName" : "listSitesRequest",
        "variableType" : "ListSitesRequest",
        "documentation" : "",
        "simpleType" : "ListSitesRequest",
        "variableSetterType" : "ListSitesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSites",
      "operationName" : "ListSites",
      "returnType" : {
        "returnType" : "ListSitesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSitesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartConnectionRequest, StartConnectionResult>",
      "asyncReturnType" : "StartConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p> Amazon Web Services uses this action to install Outpost servers.</p> </note> <p> Starts the connection required for Outpost server installation. </p> <p> Use CloudTrail to monitor this action or Amazon Web Services managed policy for Amazon Web Services Outposts to secure it. For more information, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/security-iam-awsmanpol.html\"> Amazon Web Services managed policies for Amazon Web Services Outposts</a> and <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/logging-using-cloudtrail.html\"> Logging Amazon Web Services Outposts API calls with Amazon Web Services CloudTrail</a> in the <i>Amazon Web Services Outposts User Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartConnectionRequest",
        "variableName" : "startConnectionRequest",
        "variableType" : "StartConnectionRequest",
        "documentation" : "",
        "simpleType" : "StartConnectionRequest",
        "variableSetterType" : "StartConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startConnection",
      "operationName" : "StartConnection",
      "returnType" : {
        "returnType" : "StartConnectionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartConnectionResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateOutpost" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateOutpostResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateOutpostResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateOutpostRequest, UpdateOutpostResult>",
      "asyncReturnType" : "UpdateOutpostResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates an Outpost. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateOutpostRequest",
        "variableName" : "updateOutpostRequest",
        "variableType" : "UpdateOutpostRequest",
        "documentation" : "",
        "simpleType" : "UpdateOutpostRequest",
        "variableSetterType" : "UpdateOutpostRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateOutpost",
      "operationName" : "UpdateOutpost",
      "returnType" : {
        "returnType" : "UpdateOutpostResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateOutpostResult"
    },
    "UpdateSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSiteRequest, UpdateSiteResult>",
      "asyncReturnType" : "UpdateSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified site.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSiteRequest",
        "variableName" : "updateSiteRequest",
        "variableType" : "UpdateSiteRequest",
        "documentation" : "",
        "simpleType" : "UpdateSiteRequest",
        "variableSetterType" : "UpdateSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSite",
      "operationName" : "UpdateSite",
      "returnType" : {
        "returnType" : "UpdateSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSiteResult"
    },
    "UpdateSiteAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSiteAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSiteAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSiteAddressRequest, UpdateSiteAddressResult>",
      "asyncReturnType" : "UpdateSiteAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the address of the specified site.</p> <p>You can't update a site address if there is an order in progress. You must wait for the order to complete or cancel the order.</p> <p>You can update the operating address before you place an order at the site, or after all Outposts that belong to the site have been deactivated.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSiteAddressRequest",
        "variableName" : "updateSiteAddressRequest",
        "variableType" : "UpdateSiteAddressRequest",
        "documentation" : "",
        "simpleType" : "UpdateSiteAddressRequest",
        "variableSetterType" : "UpdateSiteAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSiteAddress",
      "operationName" : "UpdateSiteAddress",
      "returnType" : {
        "returnType" : "UpdateSiteAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSiteAddressResult"
    },
    "UpdateSiteRackPhysicalProperties" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSiteRackPhysicalPropertiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSiteRackPhysicalPropertiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSiteRackPhysicalPropertiesRequest, UpdateSiteRackPhysicalPropertiesResult>",
      "asyncReturnType" : "UpdateSiteRackPhysicalPropertiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the physical and logistical details for a rack at a site. For more information about hardware requirements for racks, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/outposts-requirements.html#checklist\">Network readiness checklist</a> in the Amazon Web Services Outposts User Guide. </p> <p>To update a rack at a site with an order of <code>IN_PROGRESS</code>, you must wait for the order to complete or cancel the order.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified request is not valid.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSiteRackPhysicalPropertiesRequest",
        "variableName" : "updateSiteRackPhysicalPropertiesRequest",
        "variableType" : "UpdateSiteRackPhysicalPropertiesRequest",
        "documentation" : "",
        "simpleType" : "UpdateSiteRackPhysicalPropertiesRequest",
        "variableSetterType" : "UpdateSiteRackPhysicalPropertiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSiteRackPhysicalProperties",
      "operationName" : "UpdateSiteRackPhysicalProperties",
      "returnType" : {
        "returnType" : "UpdateSiteRackPhysicalPropertiesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSiteRackPhysicalPropertiesResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have permission to perform this operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.outposts.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.outposts.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Address" : {
      "c2jName" : "Address",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Information about an address. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.outposts.model.Address",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ContactName",
        "c2jShape" : "ContactName",
        "deprecated" : false,
        "documentation" : "<p>The name of the contact.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the contact.</p>\n@param contactName The name of the contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContactName",
        "getterDocumentation" : "/**<p>The name of the contact.</p>\n@return The name of the contact.*/",
        "getterMethodName" : "getContactName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ContactName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ContactName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ContactName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the contact.</p>\n@param contactName The name of the contact.*/",
        "setterMethodName" : "setContactName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contactName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the contact.</p>\n@param contactName The name of the contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contactName",
          "variableType" : "String",
          "documentation" : "<p>The name of the contact.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ContactPhoneNumber",
        "c2jShape" : "ContactPhoneNumber",
        "deprecated" : false,
        "documentation" : "<p>The phone number of the contact.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The phone number of the contact.</p>\n@param contactPhoneNumber The phone number of the contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContactPhoneNumber",
        "getterDocumentation" : "/**<p>The phone number of the contact.</p>\n@return The phone number of the contact.*/",
        "getterMethodName" : "getContactPhoneNumber",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ContactPhoneNumber",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ContactPhoneNumber",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ContactPhoneNumber",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The phone number of the contact.</p>\n@param contactPhoneNumber The phone number of the contact.*/",
        "setterMethodName" : "setContactPhoneNumber",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contactPhoneNumber",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The phone number of the contact.</p>\n@param contactPhoneNumber The phone number of the contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contactPhoneNumber",
          "variableType" : "String",
          "documentation" : "<p>The phone number of the contact.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AddressLine1",
        "c2jShape" : "AddressLine1",
        "deprecated" : false,
        "documentation" : "<p>The first line of the address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The first line of the address.</p>\n@param addressLine1 The first line of the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAddressLine1",
        "getterDocumentation" : "/**<p>The first line of the address.</p>\n@return The first line of the address.*/",
        "getterMethodName" : "getAddressLine1",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AddressLine1",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AddressLine1",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AddressLine1",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The first line of the address.</p>\n@param addressLine1 The first line of the address.*/",
        "setterMethodName" : "setAddressLine1",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine1",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The first line of the address.</p>\n@param addressLine1 The first line of the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine1",
          "variableType" : "String",
          "documentation" : "<p>The first line of the address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AddressLine2",
        "c2jShape" : "AddressLine2",
        "deprecated" : false,
        "documentation" : "<p>The second line of the address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The second line of the address.</p>\n@param addressLine2 The second line of the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAddressLine2",
        "getterDocumentation" : "/**<p>The second line of the address.</p>\n@return The second line of the address.*/",
        "getterMethodName" : "getAddressLine2",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AddressLine2",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AddressLine2",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AddressLine2",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The second line of the address.</p>\n@param addressLine2 The second line of the address.*/",
        "setterMethodName" : "setAddressLine2",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine2",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The second line of the address.</p>\n@param addressLine2 The second line of the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine2",
          "variableType" : "String",
          "documentation" : "<p>The second line of the address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AddressLine3",
        "c2jShape" : "AddressLine3",
        "deprecated" : false,
        "documentation" : "<p>The third line of the address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The third line of the address.</p>\n@param addressLine3 The third line of the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAddressLine3",
        "getterDocumentation" : "/**<p>The third line of the address.</p>\n@return The third line of the address.*/",
        "getterMethodName" : "getAddressLine3",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AddressLine3",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AddressLine3",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AddressLine3",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The third line of the address.</p>\n@param addressLine3 The third line of the address.*/",
        "setterMethodName" : "setAddressLine3",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine3",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The third line of the address.</p>\n@param addressLine3 The third line of the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressLine3",
          "variableType" : "String",
          "documentation" : "<p>The third line of the address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "City",
        "c2jShape" : "City",
        "deprecated" : false,
        "documentation" : "<p>The city for the address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The city for the address.</p>\n@param city The city for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCity",
        "getterDocumentation" : "/**<p>The city for the address.</p>\n@return The city for the address.*/",
        "getterMethodName" : "getCity",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "City",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "City",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "City",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The city for the address.</p>\n@param city The city for the address.*/",
        "setterMethodName" : "setCity",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "city",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The city for the address.</p>\n@param city The city for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "city",
          "variableType" : "String",
          "documentation" : "<p>The city for the address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StateOrRegion",
        "c2jShape" : "StateOrRegion",
        "deprecated" : false,
        "documentation" : "<p>The state for the address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The state for the address.</p>\n@param stateOrRegion The state for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStateOrRegion",
        "getterDocumentation" : "/**<p>The state for the address.</p>\n@return The state for the address.*/",
        "getterMethodName" : "getStateOrRegion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StateOrRegion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StateOrRegion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StateOrRegion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The state for the address.</p>\n@param stateOrRegion The state for the address.*/",
        "setterMethodName" : "setStateOrRegion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "stateOrRegion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The state for the address.</p>\n@param stateOrRegion The state for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "stateOrRegion",
          "variableType" : "String",
          "documentation" : "<p>The state for the address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DistrictOrCounty",
        "c2jShape" : "DistrictOrCounty",
        "deprecated" : false,
        "documentation" : "<p>The district or county for the address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The district or county for the address.</p>\n@param districtOrCounty The district or county for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDistrictOrCounty",
        "getterDocumentation" : "/**<p>The district or county for the address.</p>\n@return The district or county for the address.*/",
        "getterMethodName" : "getDistrictOrCounty",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DistrictOrCounty",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DistrictOrCounty",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DistrictOrCounty",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The district or county for the address.</p>\n@param districtOrCounty The district or county for the address.*/",
        "setterMethodName" : "setDistrictOrCounty",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "districtOrCounty",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The district or county for the address.</p>\n@param districtOrCounty The district or county for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "districtOrCounty",
          "variableType" : "String",
          "documentation" : "<p>The district or county for the address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PostalCode",
        "c2jShape" : "PostalCode",
        "deprecated" : false,
        "documentation" : "<p>The postal code for the address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The postal code for the address.</p>\n@param postalCode The postal code for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPostalCode",
        "getterDocumentation" : "/**<p>The postal code for the address.</p>\n@return The postal code for the address.*/",
        "getterMethodName" : "getPostalCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PostalCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PostalCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PostalCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The postal code for the address.</p>\n@param postalCode The postal code for the address.*/",
        "setterMethodName" : "setPostalCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "postalCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The postal code for the address.</p>\n@param postalCode The postal code for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "postalCode",
          "variableType" : "String",
          "documentation" : "<p>The postal code for the address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CountryCode",
        "c2jShape" : "CountryCode",
        "deprecated" : false,
        "documentation" : "<p>The ISO-3166 two-letter country code for the address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ISO-3166 two-letter country code for the address.</p>\n@param countryCode The ISO-3166 two-letter country code for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCountryCode",
        "getterDocumentation" : "/**<p>The ISO-3166 two-letter country code for the address.</p>\n@return The ISO-3166 two-letter country code for the address.*/",
        "getterMethodName" : "getCountryCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CountryCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CountryCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CountryCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ISO-3166 two-letter country code for the address.</p>\n@param countryCode The ISO-3166 two-letter country code for the address.*/",
        "setterMethodName" : "setCountryCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "countryCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ISO-3166 two-letter country code for the address.</p>\n@param countryCode The ISO-3166 two-letter country code for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "countryCode",
          "variableType" : "String",
          "documentation" : "<p>The ISO-3166 two-letter country code for the address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Municipality",
        "c2jShape" : "Municipality",
        "deprecated" : false,
        "documentation" : "<p>The municipality for the address.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The municipality for the address.</p>\n@param municipality The municipality for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMunicipality",
        "getterDocumentation" : "/**<p>The municipality for the address.</p>\n@return The municipality for the address.*/",
        "getterMethodName" : "getMunicipality",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Municipality",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Municipality",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Municipality",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The municipality for the address.</p>\n@param municipality The municipality for the address.*/",
        "setterMethodName" : "setMunicipality",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "municipality",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The municipality for the address.</p>\n@param municipality The municipality for the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "municipality",
          "variableType" : "String",
          "documentation" : "<p>The municipality for the address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AddressLine1" : {
          "c2jName" : "AddressLine1",
          "c2jShape" : "AddressLine1",
          "deprecated" : false,
          "documentation" : "<p>The first line of the address.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The first line of the address.</p>\n@param addressLine1 The first line of the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAddressLine1",
          "getterDocumentation" : "/**<p>The first line of the address.</p>\n@return The first line of the address.*/",
          "getterMethodName" : "getAddressLine1",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AddressLine1",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AddressLine1",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AddressLine1",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The first line of the address.</p>\n@param addressLine1 The first line of the address.*/",
          "setterMethodName" : "setAddressLine1",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "addressLine1",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The first line of the address.</p>\n@param addressLine1 The first line of the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "addressLine1",
            "variableType" : "String",
            "documentation" : "<p>The first line of the address.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AddressLine2" : {
          "c2jName" : "AddressLine2",
          "c2jShape" : "AddressLine2",
          "deprecated" : false,
          "documentation" : "<p>The second line of the address.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The second line of the address.</p>\n@param addressLine2 The second line of the address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAddressLine2",
          "getterDocumentation" : "/**<p>The second line of the address.</p>\n@return The second line of the address.*/",
          "getterMethodName" : "getAddressLine2",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AddressLine2",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AddressLine2",
            "uri" : false
          },
[...]
