{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-07-24",
    "asyncClient" : "AWSPanoramaAsyncClient",
    "asyncClientBuilderClassName" : "AWSPanoramaAsyncClientBuilder",
    "asyncInterface" : "AWSPanoramaAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSPanoramaModuleInjector",
    "defaultEndpoint" : "panorama.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "panorama.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p><fullname>AWS Panorama</fullname> <p> <b>Overview</b> </p> <p>This is the <i>AWS Panorama API Reference</i>. For an introduction to the service, see <a href=\"https://docs.aws.amazon.com/panorama/latest/dev/panorama-welcome.html\">What is AWS Panorama?</a> in the <i>AWS Panorama Developer Guide</i>.</p></p>",
    "endpointPrefix" : "panorama",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.panorama",
    "packagePath" : "com/amazonaws/services/panorama",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Panorama",
    "serviceFullName" : "AWS Panorama",
    "serviceId" : "Panorama",
    "serviceName" : "Panorama",
    "signingName" : "panorama",
    "smokeTestsPackageName" : "com.amazonaws.services.panorama.smoketests",
    "syncClient" : "AWSPanoramaClient",
    "syncClientBuilderClassName" : "AWSPanoramaClientBuilder",
    "syncInterface" : "AWSPanorama",
    "uid" : "panorama-2019-07-24",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateApplicationInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationInstanceRequest, CreateApplicationInstanceResult>",
      "asyncReturnType" : "CreateApplicationInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an application instance and deploys it to a device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a limit to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateApplicationInstanceRequest",
        "variableName" : "createApplicationInstanceRequest",
        "variableType" : "CreateApplicationInstanceRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationInstanceRequest",
        "variableSetterType" : "CreateApplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplicationInstance",
      "operationName" : "CreateApplicationInstance",
      "returnType" : {
        "returnType" : "CreateApplicationInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateApplicationInstanceResult"
    },
    "CreateJobForDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobForDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobForDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobForDevicesRequest, CreateJobForDevicesResult>",
      "asyncReturnType" : "CreateJobForDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a job to run on a device. A job can update a device's software or reboot it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateJobForDevicesRequest",
        "variableName" : "createJobForDevicesRequest",
        "variableType" : "CreateJobForDevicesRequest",
        "documentation" : "",
        "simpleType" : "CreateJobForDevicesRequest",
        "variableSetterType" : "CreateJobForDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createJobForDevices",
      "operationName" : "CreateJobForDevices",
      "returnType" : {
        "returnType" : "CreateJobForDevicesResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateJobForDevicesResult"
    },
    "CreateNodeFromTemplateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNodeFromTemplateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNodeFromTemplateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNodeFromTemplateJobRequest, CreateNodeFromTemplateJobResult>",
      "asyncReturnType" : "CreateNodeFromTemplateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a camera stream node.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNodeFromTemplateJobRequest",
        "variableName" : "createNodeFromTemplateJobRequest",
        "variableType" : "CreateNodeFromTemplateJobRequest",
        "documentation" : "",
        "simpleType" : "CreateNodeFromTemplateJobRequest",
        "variableSetterType" : "CreateNodeFromTemplateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNodeFromTemplateJob",
      "operationName" : "CreateNodeFromTemplateJob",
      "returnType" : {
        "returnType" : "CreateNodeFromTemplateJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNodeFromTemplateJobResult"
    },
    "CreatePackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePackageRequest, CreatePackageResult>",
      "asyncReturnType" : "CreatePackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a package and storage location in an Amazon S3 access point.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePackageRequest",
        "variableName" : "createPackageRequest",
        "variableType" : "CreatePackageRequest",
        "documentation" : "",
        "simpleType" : "CreatePackageRequest",
        "variableSetterType" : "CreatePackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPackage",
      "operationName" : "CreatePackage",
      "returnType" : {
        "returnType" : "CreatePackageResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePackageResult"
    },
    "CreatePackageImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePackageImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePackageImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePackageImportJobRequest, CreatePackageImportJobResult>",
      "asyncReturnType" : "CreatePackageImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports a node package.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePackageImportJobRequest",
        "variableName" : "createPackageImportJobRequest",
        "variableType" : "CreatePackageImportJobRequest",
        "documentation" : "",
        "simpleType" : "CreatePackageImportJobRequest",
        "variableSetterType" : "CreatePackageImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPackageImportJob",
      "operationName" : "CreatePackageImportJob",
      "returnType" : {
        "returnType" : "CreatePackageImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePackageImportJobResult"
    },
    "DeleteDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeviceRequest, DeleteDeviceResult>",
      "asyncReturnType" : "DeleteDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDeviceRequest",
        "variableName" : "deleteDeviceRequest",
        "variableType" : "DeleteDeviceRequest",
        "documentation" : "",
        "simpleType" : "DeleteDeviceRequest",
        "variableSetterType" : "DeleteDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDevice",
      "operationName" : "DeleteDevice",
      "returnType" : {
        "returnType" : "DeleteDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeviceResult"
    },
    "DeletePackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePackageRequest, DeletePackageResult>",
      "asyncReturnType" : "DeletePackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a package.</p> <note> <p>To delete a package, you need permission to call <code>s3:DeleteObject</code> in addition to permissions for the AWS Panorama API.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePackageRequest",
        "variableName" : "deletePackageRequest",
        "variableType" : "DeletePackageRequest",
        "documentation" : "",
        "simpleType" : "DeletePackageRequest",
        "variableSetterType" : "DeletePackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePackage",
      "operationName" : "DeletePackage",
      "returnType" : {
        "returnType" : "DeletePackageResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePackageResult"
    },
    "DeregisterPackageVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterPackageVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterPackageVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterPackageVersionRequest, DeregisterPackageVersionResult>",
      "asyncReturnType" : "DeregisterPackageVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters a package version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterPackageVersionRequest",
        "variableName" : "deregisterPackageVersionRequest",
        "variableType" : "DeregisterPackageVersionRequest",
        "documentation" : "",
        "simpleType" : "DeregisterPackageVersionRequest",
        "variableSetterType" : "DeregisterPackageVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterPackageVersion",
      "operationName" : "DeregisterPackageVersion",
      "returnType" : {
        "returnType" : "DeregisterPackageVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterPackageVersionResult"
    },
    "DescribeApplicationInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationInstanceRequest, DescribeApplicationInstanceResult>",
      "asyncReturnType" : "DescribeApplicationInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an application instance on a device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeApplicationInstanceRequest",
        "variableName" : "describeApplicationInstanceRequest",
        "variableType" : "DescribeApplicationInstanceRequest",
        "documentation" : "",
        "simpleType" : "DescribeApplicationInstanceRequest",
        "variableSetterType" : "DescribeApplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApplicationInstance",
      "operationName" : "DescribeApplicationInstance",
      "returnType" : {
        "returnType" : "DescribeApplicationInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeApplicationInstanceResult"
    },
    "DescribeApplicationInstanceDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationInstanceDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationInstanceDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationInstanceDetailsRequest, DescribeApplicationInstanceDetailsResult>",
      "asyncReturnType" : "DescribeApplicationInstanceDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an application instance's configuration manifest.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeApplicationInstanceDetailsRequest",
        "variableName" : "describeApplicationInstanceDetailsRequest",
        "variableType" : "DescribeApplicationInstanceDetailsRequest",
        "documentation" : "",
        "simpleType" : "DescribeApplicationInstanceDetailsRequest",
        "variableSetterType" : "DescribeApplicationInstanceDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApplicationInstanceDetails",
      "operationName" : "DescribeApplicationInstanceDetails",
      "returnType" : {
        "returnType" : "DescribeApplicationInstanceDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeApplicationInstanceDetailsResult"
    },
    "DescribeDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeviceRequest, DescribeDeviceResult>",
      "asyncReturnType" : "DescribeDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeviceRequest",
        "variableName" : "describeDeviceRequest",
        "variableType" : "DescribeDeviceRequest",
        "documentation" : "",
        "simpleType" : "DescribeDeviceRequest",
        "variableSetterType" : "DescribeDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDevice",
      "operationName" : "DescribeDevice",
      "returnType" : {
        "returnType" : "DescribeDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDeviceResult"
    },
    "DescribeDeviceJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeviceJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeviceJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeviceJobRequest, DescribeDeviceJobResult>",
      "asyncReturnType" : "DescribeDeviceJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a device job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeviceJobRequest",
        "variableName" : "describeDeviceJobRequest",
        "variableType" : "DescribeDeviceJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeDeviceJobRequest",
        "variableSetterType" : "DescribeDeviceJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDeviceJob",
      "operationName" : "DescribeDeviceJob",
      "returnType" : {
        "returnType" : "DescribeDeviceJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDeviceJobResult"
    },
    "DescribeNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNodeRequest, DescribeNodeResult>",
      "asyncReturnType" : "DescribeNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a node.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeNodeRequest",
        "variableName" : "describeNodeRequest",
        "variableType" : "DescribeNodeRequest",
        "documentation" : "",
        "simpleType" : "DescribeNodeRequest",
        "variableSetterType" : "DescribeNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNode",
      "operationName" : "DescribeNode",
      "returnType" : {
        "returnType" : "DescribeNodeResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeNodeResult"
    },
    "DescribeNodeFromTemplateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNodeFromTemplateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNodeFromTemplateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNodeFromTemplateJobRequest, DescribeNodeFromTemplateJobResult>",
      "asyncReturnType" : "DescribeNodeFromTemplateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a job to create a camera stream node.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeNodeFromTemplateJobRequest",
        "variableName" : "describeNodeFromTemplateJobRequest",
        "variableType" : "DescribeNodeFromTemplateJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeNodeFromTemplateJobRequest",
        "variableSetterType" : "DescribeNodeFromTemplateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNodeFromTemplateJob",
      "operationName" : "DescribeNodeFromTemplateJob",
      "returnType" : {
        "returnType" : "DescribeNodeFromTemplateJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeNodeFromTemplateJobResult"
    },
    "DescribePackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePackageRequest, DescribePackageResult>",
      "asyncReturnType" : "DescribePackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a package.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePackageRequest",
        "variableName" : "describePackageRequest",
        "variableType" : "DescribePackageRequest",
        "documentation" : "",
        "simpleType" : "DescribePackageRequest",
        "variableSetterType" : "DescribePackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePackage",
      "operationName" : "DescribePackage",
      "returnType" : {
        "returnType" : "DescribePackageResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePackageResult"
    },
    "DescribePackageImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePackageImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePackageImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePackageImportJobRequest, DescribePackageImportJobResult>",
      "asyncReturnType" : "DescribePackageImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a package import job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePackageImportJobRequest",
        "variableName" : "describePackageImportJobRequest",
        "variableType" : "DescribePackageImportJobRequest",
        "documentation" : "",
        "simpleType" : "DescribePackageImportJobRequest",
        "variableSetterType" : "DescribePackageImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePackageImportJob",
      "operationName" : "DescribePackageImportJob",
      "returnType" : {
        "returnType" : "DescribePackageImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePackageImportJobResult"
    },
    "DescribePackageVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePackageVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePackageVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePackageVersionRequest, DescribePackageVersionResult>",
      "asyncReturnType" : "DescribePackageVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a package version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePackageVersionRequest",
        "variableName" : "describePackageVersionRequest",
        "variableType" : "DescribePackageVersionRequest",
        "documentation" : "",
        "simpleType" : "DescribePackageVersionRequest",
        "variableSetterType" : "DescribePackageVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePackageVersion",
      "operationName" : "DescribePackageVersion",
      "returnType" : {
        "returnType" : "DescribePackageVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePackageVersionResult"
    },
    "ListApplicationInstanceDependencies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationInstanceDependenciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationInstanceDependenciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationInstanceDependenciesRequest, ListApplicationInstanceDependenciesResult>",
      "asyncReturnType" : "ListApplicationInstanceDependenciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of application instance dependencies.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationInstanceDependenciesRequest",
        "variableName" : "listApplicationInstanceDependenciesRequest",
        "variableType" : "ListApplicationInstanceDependenciesRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationInstanceDependenciesRequest",
        "variableSetterType" : "ListApplicationInstanceDependenciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplicationInstanceDependencies",
      "operationName" : "ListApplicationInstanceDependencies",
      "returnType" : {
        "returnType" : "ListApplicationInstanceDependenciesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationInstanceDependenciesResult"
    },
    "ListApplicationInstanceNodeInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationInstanceNodeInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationInstanceNodeInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationInstanceNodeInstancesRequest, ListApplicationInstanceNodeInstancesResult>",
      "asyncReturnType" : "ListApplicationInstanceNodeInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of application node instances.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationInstanceNodeInstancesRequest",
        "variableName" : "listApplicationInstanceNodeInstancesRequest",
        "variableType" : "ListApplicationInstanceNodeInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationInstanceNodeInstancesRequest",
        "variableSetterType" : "ListApplicationInstanceNodeInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplicationInstanceNodeInstances",
      "operationName" : "ListApplicationInstanceNodeInstances",
      "returnType" : {
        "returnType" : "ListApplicationInstanceNodeInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationInstanceNodeInstancesResult"
    },
    "ListApplicationInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationInstancesRequest, ListApplicationInstancesResult>",
      "asyncReturnType" : "ListApplicationInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of application instances.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationInstancesRequest",
        "variableName" : "listApplicationInstancesRequest",
        "variableType" : "ListApplicationInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationInstancesRequest",
        "variableSetterType" : "ListApplicationInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplicationInstances",
      "operationName" : "ListApplicationInstances",
      "returnType" : {
        "returnType" : "ListApplicationInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationInstancesResult"
    },
    "ListDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicesRequest, ListDevicesResult>",
      "asyncReturnType" : "ListDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of devices.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDevicesRequest",
        "variableName" : "listDevicesRequest",
        "variableType" : "ListDevicesRequest",
        "documentation" : "",
        "simpleType" : "ListDevicesRequest",
        "variableSetterType" : "ListDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDevices",
      "operationName" : "ListDevices",
      "returnType" : {
        "returnType" : "ListDevicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDevicesResult"
    },
    "ListDevicesJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicesJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicesJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicesJobsRequest, ListDevicesJobsResult>",
      "asyncReturnType" : "ListDevicesJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDevicesJobsRequest",
        "variableName" : "listDevicesJobsRequest",
        "variableType" : "ListDevicesJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDevicesJobsRequest",
        "variableSetterType" : "ListDevicesJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDevicesJobs",
      "operationName" : "ListDevicesJobs",
      "returnType" : {
        "returnType" : "ListDevicesJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDevicesJobsResult"
    },
    "ListNodeFromTemplateJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNodeFromTemplateJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNodeFromTemplateJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNodeFromTemplateJobsRequest, ListNodeFromTemplateJobsResult>",
      "asyncReturnType" : "ListNodeFromTemplateJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of camera stream node jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNodeFromTemplateJobsRequest",
        "variableName" : "listNodeFromTemplateJobsRequest",
        "variableType" : "ListNodeFromTemplateJobsRequest",
        "documentation" : "",
        "simpleType" : "ListNodeFromTemplateJobsRequest",
        "variableSetterType" : "ListNodeFromTemplateJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNodeFromTemplateJobs",
      "operationName" : "ListNodeFromTemplateJobs",
      "returnType" : {
        "returnType" : "ListNodeFromTemplateJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNodeFromTemplateJobsResult"
    },
    "ListNodes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNodesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNodesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNodesRequest, ListNodesResult>",
      "asyncReturnType" : "ListNodesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of nodes.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNodesRequest",
        "variableName" : "listNodesRequest",
        "variableType" : "ListNodesRequest",
        "documentation" : "",
        "simpleType" : "ListNodesRequest",
        "variableSetterType" : "ListNodesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNodes",
      "operationName" : "ListNodes",
      "returnType" : {
        "returnType" : "ListNodesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNodesResult"
    },
    "ListPackageImportJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPackageImportJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPackageImportJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPackageImportJobsRequest, ListPackageImportJobsResult>",
      "asyncReturnType" : "ListPackageImportJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of package import jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPackageImportJobsRequest",
        "variableName" : "listPackageImportJobsRequest",
        "variableType" : "ListPackageImportJobsRequest",
        "documentation" : "",
        "simpleType" : "ListPackageImportJobsRequest",
        "variableSetterType" : "ListPackageImportJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPackageImportJobs",
      "operationName" : "ListPackageImportJobs",
      "returnType" : {
        "returnType" : "ListPackageImportJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPackageImportJobsResult"
    },
    "ListPackages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPackagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPackagesRequest, ListPackagesResult>",
      "asyncReturnType" : "ListPackagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of packages.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPackagesRequest",
        "variableName" : "listPackagesRequest",
        "variableType" : "ListPackagesRequest",
        "documentation" : "",
        "simpleType" : "ListPackagesRequest",
        "variableSetterType" : "ListPackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPackages",
      "operationName" : "ListPackages",
      "returnType" : {
        "returnType" : "ListPackagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPackagesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ProvisionDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ProvisionDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ProvisionDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ProvisionDeviceRequest, ProvisionDeviceResult>",
      "asyncReturnType" : "ProvisionDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a device and returns a configuration archive. The configuration archive is a ZIP file that contains a provisioning certificate that is valid for 5 minutes. Name the configuration archive <code>certificates-omni_<i>device-name</i>.zip</code> and transfer it to the device within 5 minutes. Use the included USB storage device and connect it to the USB 3.0 port next to the HDMI output.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a limit to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ProvisionDeviceRequest",
        "variableName" : "provisionDeviceRequest",
        "variableType" : "ProvisionDeviceRequest",
        "documentation" : "",
        "simpleType" : "ProvisionDeviceRequest",
        "variableSetterType" : "ProvisionDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "provisionDevice",
      "operationName" : "ProvisionDevice",
      "returnType" : {
        "returnType" : "ProvisionDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "ProvisionDeviceResult"
    },
    "RegisterPackageVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterPackageVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterPackageVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterPackageVersionRequest, RegisterPackageVersionResult>",
      "asyncReturnType" : "RegisterPackageVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers a package version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterPackageVersionRequest",
        "variableName" : "registerPackageVersionRequest",
        "variableType" : "RegisterPackageVersionRequest",
        "documentation" : "",
        "simpleType" : "RegisterPackageVersionRequest",
        "variableSetterType" : "RegisterPackageVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerPackageVersion",
      "operationName" : "RegisterPackageVersion",
      "returnType" : {
        "returnType" : "RegisterPackageVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterPackageVersionResult"
    },
    "RemoveApplicationInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveApplicationInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveApplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveApplicationInstanceRequest, RemoveApplicationInstanceResult>",
      "asyncReturnType" : "RemoveApplicationInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an application instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveApplicationInstanceRequest",
        "variableName" : "removeApplicationInstanceRequest",
        "variableType" : "RemoveApplicationInstanceRequest",
        "documentation" : "",
        "simpleType" : "RemoveApplicationInstanceRequest",
        "variableSetterType" : "RemoveApplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeApplicationInstance",
      "operationName" : "RemoveApplicationInstance",
      "returnType" : {
        "returnType" : "RemoveApplicationInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveApplicationInstanceResult"
    },
    "SignalApplicationInstanceNodeInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SignalApplicationInstanceNodeInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SignalApplicationInstanceNodeInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SignalApplicationInstanceNodeInstancesRequest, SignalApplicationInstanceNodeInstancesResult>",
      "asyncReturnType" : "SignalApplicationInstanceNodeInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Signal camera nodes to stop or resume.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a limit to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SignalApplicationInstanceNodeInstancesRequest",
        "variableName" : "signalApplicationInstanceNodeInstancesRequest",
        "variableType" : "SignalApplicationInstanceNodeInstancesRequest",
        "documentation" : "",
        "simpleType" : "SignalApplicationInstanceNodeInstancesRequest",
        "variableSetterType" : "SignalApplicationInstanceNodeInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "signalApplicationInstanceNodeInstances",
      "operationName" : "SignalApplicationInstanceNodeInstances",
      "returnType" : {
        "returnType" : "SignalApplicationInstanceNodeInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "SignalApplicationInstanceNodeInstancesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tags a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDeviceMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDeviceMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDeviceMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDeviceMetadataRequest, UpdateDeviceMetadataResult>",
      "asyncReturnType" : "UpdateDeviceMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a device's metadata.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The target resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request contains an invalid parameter value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The target resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDeviceMetadataRequest",
        "variableName" : "updateDeviceMetadataRequest",
        "variableType" : "UpdateDeviceMetadataRequest",
        "documentation" : "",
        "simpleType" : "UpdateDeviceMetadataRequest",
        "variableSetterType" : "UpdateDeviceMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDeviceMetadata",
      "operationName" : "UpdateDeviceMetadata",
      "returnType" : {
        "returnType" : "UpdateDeviceMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDeviceMetadataResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requestor does not have permission to access the target action or resource.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.panorama.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.panorama.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AlternateSoftwareMetadata" : {
      "c2jName" : "AlternateSoftwareMetadata",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Details about a beta appliance software update.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.panorama.model.AlternateSoftwareMetadata",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Version",
        "c2jShape" : "Version",
        "deprecated" : false,
        "documentation" : "<p>The appliance software version.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The appliance software version.</p>\n@param version The appliance software version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVersion",
        "getterDocumentation" : "/**<p>The appliance software version.</p>\n@return The appliance software version.*/",
        "getterMethodName" : "getVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Version",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Version",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Version",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The appliance software version.</p>\n@param version The appliance software version.*/",
        "setterMethodName" : "setVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "version",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The appliance software version.</p>\n@param version The appliance software version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "version",
          "variableType" : "String",
          "documentation" : "<p>The appliance software version.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Version" : {
          "c2jName" : "Version",
          "c2jShape" : "Version",
          "deprecated" : false,
          "documentation" : "<p>The appliance software version.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The appliance software version.</p>\n@param version The appliance software version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVersion",
          "getterDocumentation" : "/**<p>The appliance software version.</p>\n@return The appliance software version.*/",
          "getterMethodName" : "getVersion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Version",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Version",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Version",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The appliance software version.</p>\n@param version The appliance software version.*/",
          "setterMethodName" : "setVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "version",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The appliance software version.</p>\n@param version The appliance software version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "version",
            "variableType" : "String",
            "documentation" : "<p>The appliance software version.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.panorama.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AlternateSoftwareMetadata",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlternateSoftwareMetadata",
        "variableName" : "alternateSoftwareMetadata",
        "variableType" : "AlternateSoftwareMetadata",
        "documentation" : null,
        "simpleType" : "AlternateSoftwareMetadata",
        "variableSetterType" : "AlternateSoftwareMetadata"
      },
      "wrapper" : false
    },
    "ApplicationInstance" : {
      "c2jName" : "ApplicationInstance",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An application instance on a device.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.panorama.model.ApplicationInstance",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ApplicationInstanceId",
        "c2jShape" : "ApplicationInstanceId",
        "deprecated" : false,
        "documentation" : "<p>The application instance's ID.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The application instance's ID.</p>\n@param applicationInstanceId The application instance's ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationInstanceId",
        "getterDocumentation" : "/**<p>The application instance's ID.</p>\n@return The application instance's ID.*/",
        "getterMethodName" : "getApplicationInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationInstanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationInstanceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationInstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The application instance's ID.</p>\n@param applicationInstanceId The application instance's ID.*/",
        "setterMethodName" : "setApplicationInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationInstanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The application instance's ID.</p>\n@param applicationInstanceId The application instance's ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "applicationInstanceId",
          "variableType" : "String",
          "documentation" : "<p>The application instance's ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Arn",
        "c2jShape" : "ApplicationInstanceArn",
        "deprecated" : false,
        "documentation" : "<p>The application instance's ARN.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The application instance's ARN.</p>\n@param arn The application instance's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The application instance's ARN.</p>\n@return The application instance's ARN.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The application instance's ARN.</p>\n@param arn The application instance's ARN.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The application instance's ARN.</p>\n@param arn The application instance's ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The application instance's ARN.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedTime",
        "c2jShape" : "TimeStamp",
        "deprecated" : false,
        "documentation" : "<p>When the application instance was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>When the application instance was created.</p>\n@param createdTime When the application instance was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedTime",
        "getterDocumentation" : "/**<p>When the application instance was created.</p>\n@return When the application instance was created.*/",
        "getterMethodName" : "getCreatedTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>When the application instance was created.</p>\n@param createdTime When the application instance was created.*/",
        "setterMethodName" : "setCreatedTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>When the application instance was created.</p>\n@param createdTime When the application instance was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>When the application instance was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DefaultRuntimeContextDevice",
        "c2jShape" : "DefaultRuntimeContextDevice",
        "deprecated" : false,
        "documentation" : "<p>The device's ID.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The device's ID.</p>\n@param defaultRuntimeContextDevice The device's ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDefaultRuntimeContextDevice",
        "getterDocumentation" : "/**<p>The device's ID.</p>\n@return The device's ID.*/",
        "getterMethodName" : "getDefaultRuntimeContextDevice",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DefaultRuntimeContextDevice",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DefaultRuntimeContextDevice",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DefaultRuntimeContextDevice",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The device's ID.</p>\n@param defaultRuntimeContextDevice The device's ID.*/",
        "setterMethodName" : "setDefaultRuntimeContextDevice",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "defaultRuntimeContextDevice",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
