{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-02-03",
    "asyncClient" : "AWSPaymentCryptographyDataAsyncClient",
    "asyncClientBuilderClassName" : "AWSPaymentCryptographyDataAsyncClientBuilder",
    "asyncInterface" : "AWSPaymentCryptographyDataAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSPaymentCryptographyDataModuleInjector",
    "defaultEndpoint" : "dataplane.payment-cryptography.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "dataplane.payment-cryptography.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You use the Amazon Web Services Payment Cryptography Data Plane to manage how encryption keys are used for payment-related transaction processing and associated cryptographic operations. You can encrypt, decrypt, generate, verify, and translate payment-related cryptographic operations in Amazon Web Services Payment Cryptography. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/data-operations.html\">Data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>To manage your encryption keys, you use the <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/Welcome.html\">Amazon Web Services Payment Cryptography Control Plane</a>. You can create, import, export, share, manage, and delete keys. You can also manage Identity and Access Management (IAM) policies for keys. </p>",
    "endpointPrefix" : "dataplane.payment-cryptography",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.paymentcryptographydata",
    "packagePath" : "com/amazonaws/services/paymentcryptographydata",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Payment Cryptography Data Plane",
    "serviceId" : "Payment Cryptography Data",
    "serviceName" : "Payment Cryptography Data Plane",
    "signingName" : "payment-cryptography",
    "smokeTestsPackageName" : "com.amazonaws.services.paymentcryptographydata.smoketests",
    "syncClient" : "AWSPaymentCryptographyDataClient",
    "syncClientBuilderClassName" : "AWSPaymentCryptographyDataClientBuilder",
    "syncInterface" : "AWSPaymentCryptographyData",
    "uid" : "payment-cryptography-data-2022-02-03",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DecryptData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DecryptDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DecryptDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DecryptDataRequest, DecryptDataResult>",
      "asyncReturnType" : "DecryptDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Decrypts ciphertext data to plaintext using a symmetric (TDES, AES), asymmetric (RSA), or derived (DUKPT or EMV) encryption key scheme. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/decrypt-data.html\">Decrypt data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>You can use an encryption key generated within Amazon Web Services Payment Cryptography, or you can import your own encryption key by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. For this operation, the key must have <code>KeyModesOfUse</code> set to <code>Decrypt</code>. In asymmetric decryption, Amazon Web Services Payment Cryptography decrypts the ciphertext using the private component of the asymmetric encryption key pair. For data encryption outside of Amazon Web Services Payment Cryptography, you can export the public component of the asymmetric key pair by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetPublicKeyCertificate.html\">GetPublicCertificate</a>.</p> <p>For symmetric and DUKPT decryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> and <code>AES</code> algorithms. For EMV decryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> algorithms. For asymmetric decryption, Amazon Web Services Payment Cryptography supports <code>RSA</code>. </p> <p>When you use TDES or TDES DUKPT, the ciphertext data length must be a multiple of 8 bytes. For AES or AES DUKPT, the ciphertext data length must be a multiple of 16 bytes. For RSA, it sould be equal to the key size unless padding is enabled.</p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>EncryptData</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetPublicKeyCertificate.html\">GetPublicCertificate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DecryptDataRequest",
        "variableName" : "decryptDataRequest",
        "variableType" : "DecryptDataRequest",
        "documentation" : "",
        "simpleType" : "DecryptDataRequest",
        "variableSetterType" : "DecryptDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "decryptData",
      "operationName" : "DecryptData",
      "returnType" : {
        "returnType" : "DecryptDataResult",
        "documentation" : null
      },
      "syncReturnType" : "DecryptDataResult"
    },
    "EncryptData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EncryptDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EncryptDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EncryptDataRequest, EncryptDataResult>",
      "asyncReturnType" : "EncryptDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Encrypts plaintext data to ciphertext using a symmetric (TDES, AES), asymmetric (RSA), or derived (DUKPT or EMV) encryption key scheme. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/encrypt-data.html\">Encrypt data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>You can generate an encryption key within Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>. You can import your own encryption key by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. For this operation, the key must have <code>KeyModesOfUse</code> set to <code>Encrypt</code>. In asymmetric encryption, plaintext is encrypted using public component. You can import the public component of an asymmetric key pair created outside Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. </p> <p>For symmetric and DUKPT encryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> and <code>AES</code> algorithms. For EMV encryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> algorithms.For asymmetric encryption, Amazon Web Services Payment Cryptography supports <code>RSA</code>. </p> <p>When you use TDES or TDES DUKPT, the plaintext data length must be a multiple of 8 bytes. For AES or AES DUKPT, the plaintext data length must be a multiple of 16 bytes. For RSA, it sould be equal to the key size unless padding is enabled.</p> <p>To encrypt using DUKPT, you must already have a BDK (Base Derivation Key) key in your account with <code>KeyModesOfUse</code> set to <code>DeriveKey</code>, or you can generate a new DUKPT key by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>. To encrypt using EMV, you must already have an IMK (Issuer Master Key) key in your account with <code>KeyModesOfUse</code> set to <code>DeriveKey</code>.</p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>DecryptData</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetPublicKeyCertificate.html\">GetPublicCertificate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> </p> </li> <li> <p> <a>ReEncryptData</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EncryptDataRequest",
        "variableName" : "encryptDataRequest",
        "variableType" : "EncryptDataRequest",
        "documentation" : "",
        "simpleType" : "EncryptDataRequest",
        "variableSetterType" : "EncryptDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "encryptData",
      "operationName" : "EncryptData",
      "returnType" : {
        "returnType" : "EncryptDataResult",
        "documentation" : null
      },
      "syncReturnType" : "EncryptDataResult"
    },
    "GenerateCardValidationData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateCardValidationDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateCardValidationDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateCardValidationDataRequest, GenerateCardValidationDataResult>",
      "asyncReturnType" : "GenerateCardValidationDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates card-related validation data using algorithms such as Card Verification Values (CVV/CVV2), Dynamic Card Verification Values (dCVV/dCVV2), or Card Security Codes (CSC). For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/generate-card-data.html\">Generate card data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>This operation generates a CVV or CSC value that is printed on a payment credit or debit card during card production. The CVV or CSC, PAN (Primary Account Number) and expiration date of the card are required to check its validity during transaction processing. To begin this operation, a CVK (Card Verification Key) encryption key is required. You can use <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a> or <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> to establish a CVK within Amazon Web Services Payment Cryptography. The <code>KeyModesOfUse</code> should be set to <code>Generate</code> and <code>Verify</code> for a CVK encryption key. </p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> </p> </li> <li> <p> <a>VerifyCardValidationData</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GenerateCardValidationDataRequest",
        "variableName" : "generateCardValidationDataRequest",
        "variableType" : "GenerateCardValidationDataRequest",
        "documentation" : "",
        "simpleType" : "GenerateCardValidationDataRequest",
        "variableSetterType" : "GenerateCardValidationDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateCardValidationData",
      "operationName" : "GenerateCardValidationData",
      "returnType" : {
        "returnType" : "GenerateCardValidationDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GenerateCardValidationDataResult"
    },
    "GenerateMac" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateMacResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateMacResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateMacRequest, GenerateMacResult>",
      "asyncReturnType" : "GenerateMacResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a Message Authentication Code (MAC) cryptogram within Amazon Web Services Payment Cryptography. </p> <p>You can use this operation to authenticate card-related data by using known data values to generate MAC for data validation between the sending and receiving parties. This operation uses message data, a secret encryption key and MAC algorithm to generate a unique MAC value for transmission. The receiving party of the MAC must use the same message data, secret encryption key and MAC algorithm to reproduce another MAC value for comparision.</p> <p>You can use this operation to generate a DUPKT, CMAC, HMAC or EMV MAC by setting generation attributes and algorithm to the associated values. The MAC generation encryption key must have valid values for <code>KeyUsage</code> such as <code>TR31_M7_HMAC_KEY</code> for HMAC generation, and they key must have <code>KeyModesOfUse</code> set to <code>Generate</code> and <code>Verify</code>.</p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>VerifyMac</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GenerateMacRequest",
        "variableName" : "generateMacRequest",
        "variableType" : "GenerateMacRequest",
        "documentation" : "",
        "simpleType" : "GenerateMacRequest",
        "variableSetterType" : "GenerateMacRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateMac",
      "operationName" : "GenerateMac",
      "returnType" : {
        "returnType" : "GenerateMacResult",
        "documentation" : null
      },
      "syncReturnType" : "GenerateMacResult"
    },
    "GeneratePinData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GeneratePinDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GeneratePinDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GeneratePinDataRequest, GeneratePinDataResult>",
      "asyncReturnType" : "GeneratePinDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates pin-related data such as PIN, PIN Verification Value (PVV), PIN Block, and PIN Offset during new card issuance or reissuance. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/generate-pin-data.html\">Generate PIN data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>PIN data is never transmitted in clear to or from Amazon Web Services Payment Cryptography. This operation generates PIN, PVV, or PIN Offset and then encrypts it using Pin Encryption Key (PEK) to create an <code>EncryptedPinBlock</code> for transmission from Amazon Web Services Payment Cryptography. This operation uses a separate Pin Verification Key (PVK) for VISA PVV generation. </p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>GenerateCardValidationData</a> </p> </li> <li> <p> <a>TranslatePinData</a> </p> </li> <li> <p> <a>VerifyPinData</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GeneratePinDataRequest",
        "variableName" : "generatePinDataRequest",
        "variableType" : "GeneratePinDataRequest",
        "documentation" : "",
        "simpleType" : "GeneratePinDataRequest",
        "variableSetterType" : "GeneratePinDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generatePinData",
      "operationName" : "GeneratePinData",
      "returnType" : {
        "returnType" : "GeneratePinDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GeneratePinDataResult"
    },
    "ReEncryptData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ReEncryptDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ReEncryptDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReEncryptDataRequest, ReEncryptDataResult>",
      "asyncReturnType" : "ReEncryptDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Re-encrypt ciphertext using DUKPT, Symmetric and Asymmetric Data Encryption Keys. </p> <p>You can either generate an encryption key within Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a> or import your own encryption key by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. The <code>KeyArn</code> for use with this operation must be in a compatible key state with <code>KeyModesOfUse</code> set to <code>Encrypt</code>. In asymmetric encryption, ciphertext is encrypted using public component (imported by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>) of the asymmetric key pair created outside of Amazon Web Services Payment Cryptography. </p> <p>For symmetric and DUKPT encryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> and <code>AES</code> algorithms. For asymmetric encryption, Amazon Web Services Payment Cryptography supports <code>RSA</code>. To encrypt using DUKPT, a DUKPT key must already exist within your account with <code>KeyModesOfUse</code> set to <code>DeriveKey</code> or a new DUKPT can be generated by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>.</p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>DecryptData</a> </p> </li> <li> <p> <a>EncryptData</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetPublicKeyCertificate.html\">GetPublicCertificate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ReEncryptDataRequest",
        "variableName" : "reEncryptDataRequest",
        "variableType" : "ReEncryptDataRequest",
        "documentation" : "",
        "simpleType" : "ReEncryptDataRequest",
        "variableSetterType" : "ReEncryptDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "reEncryptData",
      "operationName" : "ReEncryptData",
      "returnType" : {
        "returnType" : "ReEncryptDataResult",
        "documentation" : null
      },
      "syncReturnType" : "ReEncryptDataResult"
    },
    "TranslatePinData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TranslatePinDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TranslatePinDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TranslatePinDataRequest, TranslatePinDataResult>",
      "asyncReturnType" : "TranslatePinDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Translates encrypted PIN block from and to ISO 9564 formats 0,1,3,4. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/translate-pin-data.html\">Translate PIN data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>PIN block translation involves changing the encrytion of PIN block from one encryption key to another encryption key and changing PIN block format from one to another without PIN block data leaving Amazon Web Services Payment Cryptography. The encryption key transformation can be from PEK (Pin Encryption Key) to BDK (Base Derivation Key) for DUKPT or from BDK for DUKPT to PEK. Amazon Web Services Payment Cryptography supports <code>TDES</code> and <code>AES</code> key derivation type for DUKPT translations. </p> <p>The allowed combinations of PIN block format translations are guided by PCI. It is important to note that not all encrypted PIN block formats (example, format 1) require PAN (Primary Account Number) as input. And as such, PIN block format that requires PAN (example, formats 0,3,4) cannot be translated to a format (format 1) that does not require a PAN for generation. </p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <note> <p>Amazon Web Services Payment Cryptography currently supports ISO PIN block 4 translation for PIN block built using legacy PAN length. That is, PAN is the right most 12 digits excluding the check digits.</p> </note> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>GeneratePinData</a> </p> </li> <li> <p> <a>VerifyPinData</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TranslatePinDataRequest",
        "variableName" : "translatePinDataRequest",
        "variableType" : "TranslatePinDataRequest",
        "documentation" : "",
        "simpleType" : "TranslatePinDataRequest",
        "variableSetterType" : "TranslatePinDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "translatePinData",
      "operationName" : "TranslatePinData",
      "returnType" : {
        "returnType" : "TranslatePinDataResult",
        "documentation" : null
      },
      "syncReturnType" : "TranslatePinDataResult"
    },
    "VerifyAuthRequestCryptogram" : {
      "asyncCallableType" : "java.util.concurrent.Callable<VerifyAuthRequestCryptogramResult>",
      "asyncFutureType" : "java.util.concurrent.Future<VerifyAuthRequestCryptogramResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<VerifyAuthRequestCryptogramRequest, VerifyAuthRequestCryptogramResult>",
      "asyncReturnType" : "VerifyAuthRequestCryptogramResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Verifies Authorization Request Cryptogram (ARQC) for a EMV chip payment card authorization. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/data-operations.verifyauthrequestcryptogram.html\">Verify auth request cryptogram</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>ARQC generation is done outside of Amazon Web Services Payment Cryptography and is typically generated on a point of sale terminal for an EMV chip card to obtain payment authorization during transaction time. For ARQC verification, you must first import the ARQC generated outside of Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. This operation uses the imported ARQC and an major encryption key (DUKPT) created by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a> to either provide a boolean ARQC verification result or provide an APRC (Authorization Response Cryptogram) response using Method 1 or Method 2. The <code>ARPC_METHOD_1</code> uses <code>AuthResponseCode</code> to generate ARPC and <code>ARPC_METHOD_2</code> uses <code>CardStatusUpdate</code> to generate ARPC. </p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>VerifyCardValidationData</a> </p> </li> <li> <p> <a>VerifyPinData</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "VerificationFailedException",
        "documentation" : "<p>This request failed verification.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "VerifyAuthRequestCryptogramRequest",
        "variableName" : "verifyAuthRequestCryptogramRequest",
        "variableType" : "VerifyAuthRequestCryptogramRequest",
        "documentation" : "",
        "simpleType" : "VerifyAuthRequestCryptogramRequest",
        "variableSetterType" : "VerifyAuthRequestCryptogramRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "verifyAuthRequestCryptogram",
      "operationName" : "VerifyAuthRequestCryptogram",
      "returnType" : {
        "returnType" : "VerifyAuthRequestCryptogramResult",
        "documentation" : null
      },
      "syncReturnType" : "VerifyAuthRequestCryptogramResult"
    },
    "VerifyCardValidationData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<VerifyCardValidationDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<VerifyCardValidationDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<VerifyCardValidationDataRequest, VerifyCardValidationDataResult>",
      "asyncReturnType" : "VerifyCardValidationDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Verifies card-related validation data using algorithms such as Card Verification Values (CVV/CVV2), Dynamic Card Verification Values (dCVV/dCVV2) and Card Security Codes (CSC). For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/verify-card-data.html\">Verify card data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>This operation validates the CVV or CSC codes that is printed on a payment credit or debit card during card payment transaction. The input values are typically provided as part of an inbound transaction to an issuer or supporting platform partner. Amazon Web Services Payment Cryptography uses CVV or CSC, PAN (Primary Account Number) and expiration date of the card to check its validity during transaction processing. In this operation, the CVK (Card Verification Key) encryption key for use with card data verification is same as the one in used for <a>GenerateCardValidationData</a>. </p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>GenerateCardValidationData</a> </p> </li> <li> <p> <a>VerifyAuthRequestCryptogram</a> </p> </li> <li> <p> <a>VerifyPinData</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "VerificationFailedException",
        "documentation" : "<p>This request failed verification.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "VerifyCardValidationDataRequest",
        "variableName" : "verifyCardValidationDataRequest",
        "variableType" : "VerifyCardValidationDataRequest",
        "documentation" : "",
        "simpleType" : "VerifyCardValidationDataRequest",
        "variableSetterType" : "VerifyCardValidationDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "verifyCardValidationData",
      "operationName" : "VerifyCardValidationData",
      "returnType" : {
        "returnType" : "VerifyCardValidationDataResult",
        "documentation" : null
      },
      "syncReturnType" : "VerifyCardValidationDataResult"
    },
    "VerifyMac" : {
      "asyncCallableType" : "java.util.concurrent.Callable<VerifyMacResult>",
      "asyncFutureType" : "java.util.concurrent.Future<VerifyMacResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<VerifyMacRequest, VerifyMacResult>",
      "asyncReturnType" : "VerifyMacResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Verifies a Message Authentication Code (MAC). </p> <p>You can use this operation to verify MAC for message data authentication such as . In this operation, you must use the same message data, secret encryption key and MAC algorithm that was used to generate MAC. You can use this operation to verify a DUPKT, CMAC, HMAC or EMV MAC by setting generation attributes and algorithm to the associated values. </p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>GenerateMac</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "VerificationFailedException",
        "documentation" : "<p>This request failed verification.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "VerifyMacRequest",
        "variableName" : "verifyMacRequest",
        "variableType" : "VerifyMacRequest",
        "documentation" : "",
        "simpleType" : "VerifyMacRequest",
        "variableSetterType" : "VerifyMacRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "verifyMac",
      "operationName" : "VerifyMac",
      "returnType" : {
        "returnType" : "VerifyMacResult",
        "documentation" : null
      },
      "syncReturnType" : "VerifyMacResult"
    },
    "VerifyPinData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<VerifyPinDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<VerifyPinDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<VerifyPinDataRequest, VerifyPinDataResult>",
      "asyncReturnType" : "VerifyPinDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Verifies pin-related data such as PIN and PIN Offset using algorithms including VISA PVV and IBM3624. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/verify-pin-data.html\">Verify PIN data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>This operation verifies PIN data for user payment card. A card holder PIN data is never transmitted in clear to or from Amazon Web Services Payment Cryptography. This operation uses PIN Verification Key (PVK) for PIN or PIN Offset generation and then encrypts it using PIN Encryption Key (PEK) to create an <code>EncryptedPinBlock</code> for transmission from Amazon Web Services Payment Cryptography. </p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>GeneratePinData</a> </p> </li> <li> <p> <a>TranslatePinData</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "VerificationFailedException",
        "documentation" : "<p>This request failed verification.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "VerifyPinDataRequest",
        "variableName" : "verifyPinDataRequest",
        "variableType" : "VerifyPinDataRequest",
        "documentation" : "",
        "simpleType" : "VerifyPinDataRequest",
        "variableSetterType" : "VerifyPinDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "verifyPinData",
      "operationName" : "VerifyPinData",
      "returnType" : {
        "returnType" : "VerifyPinDataResult",
        "documentation" : null
      },
      "syncReturnType" : "VerifyPinDataResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.paymentcryptographydata.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.paymentcryptographydata.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AmexCardSecurityCodeVersion1" : {
      "c2jName" : "AmexCardSecurityCodeVersion1",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.paymentcryptographydata.model.AmexCardSecurityCodeVersion1",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CardExpiryDate",
        "c2jShape" : "NumberLengthEquals4",
        "deprecated" : false,
        "documentation" : "<p>The expiry date of a payment card.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCardExpiryDate",
        "getterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@return The expiry date of a payment card.*/",
        "getterMethodName" : "getCardExpiryDate",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CardExpiryDate",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CardExpiryDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CardExpiryDate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.*/",
        "setterMethodName" : "setCardExpiryDate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cardExpiryDate",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cardExpiryDate",
          "variableType" : "String",
          "documentation" : "<p>The expiry date of a payment card.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CardExpiryDate" : {
          "c2jName" : "CardExpiryDate",
          "c2jShape" : "NumberLengthEquals4",
          "deprecated" : false,
          "documentation" : "<p>The expiry date of a payment card.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCardExpiryDate",
          "getterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@return The expiry date of a payment card.*/",
          "getterMethodName" : "getCardExpiryDate",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CardExpiryDate",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CardExpiryDate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CardExpiryDate",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.*/",
          "setterMethodName" : "setCardExpiryDate",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cardExpiryDate",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cardExpiryDate",
            "variableType" : "String",
            "documentation" : "<p>The expiry date of a payment card.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.paymentcryptographydata.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "CardExpiryDate" ],
      "shapeName" : "AmexCardSecurityCodeVersion1",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmexCardSecurityCodeVersion1",
        "variableName" : "amexCardSecurityCodeVersion1",
        "variableType" : "AmexCardSecurityCodeVersion1",
        "documentation" : null,
        "simpleType" : "AmexCardSecurityCodeVersion1",
        "variableSetterType" : "AmexCardSecurityCodeVersion1"
      },
      "wrapper" : false
    },
    "AmexCardSecurityCodeVersion2" : {
      "c2jName" : "AmexCardSecurityCodeVersion2",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.paymentcryptographydata.model.AmexCardSecurityCodeVersion2",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CardExpiryDate",
        "c2jShape" : "NumberLengthEquals4",
        "deprecated" : false,
        "documentation" : "<p>The expiry date of a payment card.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCardExpiryDate",
        "getterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@return The expiry date of a payment card.*/",
        "getterMethodName" : "getCardExpiryDate",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CardExpiryDate",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CardExpiryDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CardExpiryDate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.*/",
        "setterMethodName" : "setCardExpiryDate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cardExpiryDate",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cardExpiryDate",
          "variableType" : "String",
          "documentation" : "<p>The expiry date of a payment card.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ServiceCode",
        "c2jShape" : "NumberLengthEquals3",
        "deprecated" : false,
        "documentation" : "<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>\n@param serviceCode The service code of the AMEX payment card. This is different from the Card Security Code (CSC).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withServiceCode",
        "getterDocumentation" : "/**<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>\n@return The service code of the AMEX payment card. This is different from the Card Security Code (CSC).*/",
        "getterMethodName" : "getServiceCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServiceCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServiceCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ServiceCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>\n@param serviceCode The service code of the AMEX payment card. This is different from the Card Security Code (CSC).*/",
        "setterMethodName" : "setServiceCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>\n@param serviceCode The service code of the AMEX payment card. This is different from the Card Security Code (CSC).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceCode",
          "variableType" : "String",
          "documentation" : "<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CardExpiryDate" : {
          "c2jName" : "CardExpiryDate",
          "c2jShape" : "NumberLengthEquals4",
          "deprecated" : false,
          "documentation" : "<p>The expiry date of a payment card.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCardExpiryDate",
          "getterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@return The expiry date of a payment card.*/",
          "getterMethodName" : "getCardExpiryDate",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CardExpiryDate",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CardExpiryDate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CardExpiryDate",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.*/",
          "setterMethodName" : "setCardExpiryDate",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cardExpiryDate",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The expiry date of a payment card.</p>\n@param cardExpiryDate The expiry date of a payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cardExpiryDate",
            "variableType" : "String",
            "documentation" : "<p>The expiry date of a payment card.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ServiceCode" : {
          "c2jName" : "ServiceCode",
          "c2jShape" : "NumberLengthEquals3",
          "deprecated" : false,
          "documentation" : "<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>\n@param serviceCode The service code of the AMEX payment card. This is different from the Card Security Code (CSC).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withServiceCode",
          "getterDocumentation" : "/**<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>\n@return The service code of the AMEX payment card. This is different from the Card Security Code (CSC).*/",
          "getterMethodName" : "getServiceCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ServiceCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ServiceCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ServiceCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>\n@param serviceCode The service code of the AMEX payment card. This is different from the Card Security Code (CSC).*/",
          "setterMethodName" : "setServiceCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "serviceCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>\n@param serviceCode The service code of the AMEX payment card. This is different from the Card Security Code (CSC).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "serviceCode",
            "variableType" : "String",
            "documentation" : "<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.paymentcryptographydata.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "CardExpiryDate", "ServiceCode" ],
      "shapeName" : "AmexCardSecurityCodeVersion2",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmexCardSecurityCodeVersion2",
        "variableName" : "amexCardSecurityCodeVersion2",
        "variableType" : "AmexCardSecurityCodeVersion2",
        "documentation" : null,
        "simpleType" : "AmexCardSecurityCodeVersion2",
        "variableSetterType" : "AmexCardSecurityCodeVersion2"
      },
      "wrapper" : false
    },
    "AsymmetricEncryptionAttributes" : {
      "c2jName" : "AsymmetricEncryptionAttributes",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Parameters for plaintext encryption using asymmetric keys.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.paymentcryptographydata.model.AsymmetricEncryptionAttributes",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "PaddingType",
        "c2jShape" : "PaddingType",
        "deprecated" : false,
        "documentation" : "<p>The padding to be included with the data.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "PaddingType",
        "fluentSetterDocumentation" : "/**<p>The padding to be included with the data.</p>\n@param paddingType The padding to be included with the data.\n@return Returns a reference to this object so that method calls can be chained together.\n@see PaddingType*/",
        "fluentSetterMethodName" : "withPaddingType",
        "getterDocumentation" : "/**<p>The padding to be included with the data.</p>\n@return The padding to be included with the data.\n@see PaddingType*/",
        "getterMethodName" : "getPaddingType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PaddingType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PaddingType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PaddingType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The padding to be included with the data.</p>\n@param paddingType The padding to be included with the data.\n@see PaddingType*/",
        "setterMethodName" : "setPaddingType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "paddingType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The padding to be included with the data.</p>\n@param paddingType The padding to be included with the data.\n@return Returns a reference to this object so that method calls can be chained together.\n@see PaddingType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "paddingType",
          "variableType" : "String",
          "documentation" : "<p>The padding to be included with the data.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "PaddingType" : {
          "c2jName" : "PaddingType",
          "c2jShape" : "PaddingType",
          "deprecated" : false,
          "documentation" : "<p>The padding to be included with the data.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "PaddingType",
          "fluentSetterDocumentation" : "/**<p>The padding to be included with the data.</p>\n@param paddingType The padding to be included with the data.\n@return Returns a reference to this object so that method calls can be chained together.\n@see PaddingType*/",
          "fluentSetterMethodName" : "withPaddingType",
          "getterDocumentation" : "/**<p>The padding to be included with the data.</p>\n@return The padding to be included with the data.\n@see PaddingType*/",
          "getterMethodName" : "getPaddingType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "PaddingType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PaddingType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "PaddingType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The padding to be included with the data.</p>\n@param paddingType The padding to be included with the data.\n@see PaddingType*/",
          "setterMethodName" : "setPaddingType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "paddingType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The padding to be included with the data.</p>\n@param paddingType The padding to be included with the data.\n@return Returns a reference to this object so that method calls can be chained together.\n@see PaddingType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "paddingType",
            "variableType" : "String",
            "documentation" : "<p>The padding to be included with the data.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.paymentcryptographydata.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AsymmetricEncryptionAttributes",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AsymmetricEncryptionAttributes",
        "variableName" : "asymmetricEncryptionAttributes",
        "variableType" : "AsymmetricEncryptionAttributes",
        "documentation" : null,
        "simpleType" : "AsymmetricEncryptionAttributes",
        "variableSetterType" : "AsymmetricEncryptionAttributes"
      },
      "wrapper" : false
    },
    "CardGenerationAttributes" : {
      "c2jName" : "CardGenerationAttributes",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Card data parameters that are required to generate Card Verification Values (CVV/CVV2), Dynamic Card Verification Values (dCVV/dCVV2), or Card Security Codes (CSC).</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.paymentcryptographydata.model.CardGenerationAttributes",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AmexCardSecurityCodeVersion1",
        "c2jShape" : "AmexCardSecurityCodeVersion1",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param amexCardSecurityCodeVersion1 \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAmexCardSecurityCodeVersion1",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getAmexCardSecurityCodeVersion1",
        "getterModel" : {
          "returnType" : "AmexCardSecurityCodeVersion1",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AmexCardSecurityCodeVersion1",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AmexCardSecurityCodeVersion1",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AmexCardSecurityCodeVersion1",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param amexCardSecurityCodeVersion1 */",
        "setterMethodName" : "setAmexCardSecurityCodeVersion1",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmexCardSecurityCodeVersion1",
          "variableName" : "amexCardSecurityCodeVersion1",
          "variableType" : "AmexCardSecurityCodeVersion1",
          "documentation" : "",
          "simpleType" : "AmexCardSecurityCodeVersion1",
          "variableSetterType" : "AmexCardSecurityCodeVersion1"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param amexCardSecurityCodeVersion1 \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmexCardSecurityCodeVersion1",
          "variableName" : "amexCardSecurityCodeVersion1",
          "variableType" : "AmexCardSecurityCodeVersion1",
          "documentation" : "",
          "simpleType" : "AmexCardSecurityCodeVersion1",
          "variableSetterType" : "AmexCardSecurityCodeVersion1"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AmexCardSecurityCodeVersion2",
        "c2jShape" : "AmexCardSecurityCodeVersion2",
        "deprecated" : false,
        "documentation" : "<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>\n@param amexCardSecurityCodeVersion2 Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAmexCardSecurityCodeVersion2",
        "getterDocumentation" : "/**<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>\n@return Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.*/",
        "getterMethodName" : "getAmexCardSecurityCodeVersion2",
        "getterModel" : {
          "returnType" : "AmexCardSecurityCodeVersion2",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AmexCardSecurityCodeVersion2",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AmexCardSecurityCodeVersion2",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AmexCardSecurityCodeVersion2",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>\n@param amexCardSecurityCodeVersion2 Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.*/",
        "setterMethodName" : "setAmexCardSecurityCodeVersion2",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmexCardSecurityCodeVersion2",
          "variableName" : "amexCardSecurityCodeVersion2",
          "variableType" : "AmexCardSecurityCodeVersion2",
          "documentation" : "",
          "simpleType" : "AmexCardSecurityCodeVersion2",
          "variableSetterType" : "AmexCardSecurityCodeVersion2"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>\n@param amexCardSecurityCodeVersion2 Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AmexCardSecurityCodeVersion2",
          "variableName" : "amexCardSecurityCodeVersion2",
          "variableType" : "AmexCardSecurityCodeVersion2",
          "documentation" : "<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>",
          "simpleType" : "AmexCardSecurityCodeVersion2",
          "variableSetterType" : "AmexCardSecurityCodeVersion2"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CardHolderVerificationValue",
        "c2jShape" : "CardHolderVerificationValue",
        "deprecated" : false,
        "documentation" : "<p>Card data parameters that are required to generate a cardholder verification value for the payment card.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Card data parameters that are required to generate a cardholder verification value for the payment card.</p>\n@param cardHolderVerificationValue Card data parameters that are required to generate a cardholder verification value for the payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCardHolderVerificationValue",
        "getterDocumentation" : "/**<p>Card data parameters that are required to generate a cardholder verification value for the payment card.</p>\n@return Card data parameters that are required to generate a cardholder verification value for the payment card.*/",
        "getterMethodName" : "getCardHolderVerificationValue",
        "getterModel" : {
          "returnType" : "CardHolderVerificationValue",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CardHolderVerificationValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CardHolderVerificationValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CardHolderVerificationValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Card data parameters that are required to generate a cardholder verification value for the payment card.</p>\n@param cardHolderVerificationValue Card data parameters that are required to generate a cardholder verification value for the payment card.*/",
        "setterMethodName" : "setCardHolderVerificationValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CardHolderVerificationValue",
          "variableName" : "cardHolderVerificationValue",
          "variableType" : "CardHolderVerificationValue",
          "documentation" : "",
          "simpleType" : "CardHolderVerificationValue",
          "variableSetterType" : "CardHolderVerificationValue"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Card data parameters that are required to generate a cardholder verification value for the payment card.</p>\n@param cardHolderVerificationValue Card data parameters that are required to generate a cardholder verification value for the payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CardHolderVerificationValue",
          "variableName" : "cardHolderVerificationValue",
          "variableType" : "CardHolderVerificationValue",
          "documentation" : "<p>Card data parameters that are required to generate a cardholder verification value for the payment card.</p>",
          "simpleType" : "CardHolderVerificationValue",
          "variableSetterType" : "CardHolderVerificationValue"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CardVerificationValue1",
        "c2jShape" : "CardVerificationValue1",
        "deprecated" : false,
        "documentation" : "<p>Card data parameters that are required to generate Card Verification Value (CVV) for the payment card.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Card data parameters that are required to generate Card Verification Value (CVV) for the payment card.</p>\n@param cardVerificationValue1 Card data parameters that are required to generate Card Verification Value (CVV) for the payment card.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCardVerificationValue1",
        "getterDocumentation" : "/**<p>Card data parameters that are required to generate Card Verification Value (CVV) for the payment card.</p>\n@return Card data parameters that are required to generate Card Verification Value (CVV) for the payment card.*/",
        "getterMethodName" : "getCardVerificationValue1",
        "getterModel" : {
          "returnType" : "CardVerificationValue1",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CardVerificationValue1",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CardVerificationValue1",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CardVerificationValue1",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Card data parameters that are required to generate Card Verification Value (CVV) for the payment card.</p>\n@param cardVerificationValue1 Card data parameters that are required to generate Card Verification Value (CVV) for the payment card.*/",
        "setterMethodName" : "setCardVerificationValue1",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CardVerificationValue1",
          "variableName" : "cardVerificationValue1",
          "variableType" : "CardVerificationValue1",
[...]
