{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-09-14",
    "asyncClient" : "AWSPaymentCryptographyAsyncClient",
    "asyncClientBuilderClassName" : "AWSPaymentCryptographyAsyncClientBuilder",
    "asyncInterface" : "AWSPaymentCryptographyAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSPaymentCryptographyModuleInjector",
    "defaultEndpoint" : "controlplane.payment-cryptography.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "controlplane.payment-cryptography.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Web Services Payment Cryptography Control Plane APIs manage encryption keys for use during payment-related cryptographic operations. You can create, import, export, share, manage, and delete keys. You can also manage Identity and Access Management (IAM) policies for keys. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/security-iam.html\">Identity and access management</a> in the <i>Amazon Web Services Payment Cryptography User Guide.</i> </p> <p>To use encryption keys for payment-related transaction processing and associated cryptographic operations, you use the <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/DataAPIReference/Welcome.html\">Amazon Web Services Payment Cryptography Data Plane</a>. You can perform actions like encrypt, decrypt, generate, and verify payment-related data.</p> <p>All Amazon Web Services Payment Cryptography API calls must be signed and transmitted using Transport Layer Security (TLS). We recommend you always use the latest supported TLS version for logging API requests. </p> <p>Amazon Web Services Payment Cryptography supports CloudTrail for control plane operations, a service that logs Amazon Web Services API calls and related events for your Amazon Web Services account and delivers them to an Amazon S3 bucket you specify. By using the information collected by CloudTrail, you can determine what requests were made to Amazon Web Services Payment Cryptography, who made the request, when it was made, and so on. If you don't conﬁgure a trail, you can still view the most recent events in the CloudTrail console. For more information, see the <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/\">CloudTrail User Guide</a>.</p>",
    "endpointPrefix" : "controlplane.payment-cryptography",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.paymentcryptography",
    "packagePath" : "com/amazonaws/services/paymentcryptography",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Payment Cryptography Control Plane",
    "serviceId" : "Payment Cryptography",
    "serviceName" : "Payment Cryptography Control Plane",
    "signingName" : "payment-cryptography",
    "smokeTestsPackageName" : "com.amazonaws.services.paymentcryptography.smoketests",
    "syncClient" : "AWSPaymentCryptographyClient",
    "syncClientBuilderClassName" : "AWSPaymentCryptographyClientBuilder",
    "syncInterface" : "AWSPaymentCryptography",
    "uid" : "payment-cryptography-2021-09-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "asyncReturnType" : "CreateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an <i>alias</i>, or a friendly name, for an Amazon Web Services Payment Cryptography key. You can use an alias to identify a key in the console and when you call cryptographic operations such as <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/DataAPIReference/API_EncryptData.html\">EncryptData</a> or <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/DataAPIReference/API_DecryptData.html\">DecryptData</a>.</p> <p>You can associate the alias with any key in the same Amazon Web Services Region. Each alias is associated with only one key at a time, but a key can have multiple aliases. You can't create an alias without a key. The alias must be unique in the account and Amazon Web Services Region, but you can create another alias with the same name in a different Amazon Web Services Region.</p> <p>To change the key that's associated with the alias, call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a>. To delete the alias, call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteAlias.html\">DeleteAlias</a>. These operations don't affect the underlying key. To get the alias that you created, call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListAliases.html\">ListAliases</a>.</p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteAlias.html\">DeleteAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetAlias.html\">GetAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListAliases.html\">ListAliases</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAliasRequest",
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "documentation" : "",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlias",
      "operationName" : "CreateAlias",
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAliasResult"
    },
    "CreateKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKeyRequest, CreateKeyResult>",
      "asyncReturnType" : "CreateKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Web Services Payment Cryptography key, a logical representation of a cryptographic key, that is unique in your account and Amazon Web Services Region. You use keys for cryptographic functions such as encryption and decryption. </p> <p>In addition to the key material used in cryptographic operations, an Amazon Web Services Payment Cryptography key includes metadata such as the key ARN, key usage, key origin, creation date, description, and key state.</p> <p>When you create a key, you specify both immutable and mutable data about the key. The immutable data contains key attributes that define the scope and cryptographic operations that you can perform using the key, for example key class (example: <code>SYMMETRIC_KEY</code>), key algorithm (example: <code>TDES_2KEY</code>), key usage (example: <code>TR31_P0_PIN_ENCRYPTION_KEY</code>) and key modes of use (example: <code>Encrypt</code>). For information about valid combinations of key attributes, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. The mutable data contained within a key includes usage timestamp and key deletion timestamp and can be modified after creation.</p> <p>Amazon Web Services Payment Cryptography binds key attributes to keys using key blocks when you store or export them. Amazon Web Services Payment Cryptography stores the key contents wrapped and never stores or transmits them in the clear. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteKey.html\">DeleteKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetKey.html\">GetKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListKeys.html\">ListKeys</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateKeyRequest",
        "variableName" : "createKeyRequest",
        "variableType" : "CreateKeyRequest",
        "documentation" : "",
        "simpleType" : "CreateKeyRequest",
        "variableSetterType" : "CreateKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKey",
      "operationName" : "CreateKey",
      "returnType" : {
        "returnType" : "CreateKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKeyResult"
    },
    "DeleteAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAliasRequest, DeleteAliasResult>",
      "asyncReturnType" : "DeleteAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the alias, but doesn't affect the underlying key.</p> <p>Each key can have multiple aliases. To get the aliases of all keys, use the <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a> operation. To change the alias of a key, first use <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteAlias.html\">DeleteAlias</a> to delete the current alias and then use <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateAlias.html\">CreateAlias</a> to create a new alias. To associate an existing alias with a different key, call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a>.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateAlias.html\">CreateAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetAlias.html\">GetAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListAliases.html\">ListAliases</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAliasRequest",
        "variableName" : "deleteAliasRequest",
        "variableType" : "DeleteAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteAliasRequest",
        "variableSetterType" : "DeleteAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlias",
      "operationName" : "DeleteAlias",
      "returnType" : {
        "returnType" : "DeleteAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAliasResult"
    },
    "DeleteKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteKeyRequest, DeleteKeyResult>",
      "asyncReturnType" : "DeleteKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the key material and metadata associated with Amazon Web Services Payment Cryptography key.</p> <p>Key deletion is irreversible. After a key is deleted, you can't perform cryptographic operations using the key. For example, you can't decrypt data that was encrypted by a deleted Amazon Web Services Payment Cryptography key, and the data may become unrecoverable. Because key deletion is destructive, Amazon Web Services Payment Cryptography has a safety mechanism to prevent accidental deletion of a key. When you call this operation, Amazon Web Services Payment Cryptography disables the specified key but doesn't delete it until after a waiting period set using <code>DeleteKeyInDays</code>. The default waiting period is 7 days. During the waiting period, the <code>KeyState</code> is <code>DELETE_PENDING</code>. After the key is deleted, the <code>KeyState</code> is <code>DELETE_COMPLETE</code>.</p> <p>You should delete a key only when you are sure that you don't need to use it anymore and no other parties are utilizing this key. If you aren't sure, consider deactivating it instead by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StopKeyUsage.html\">StopKeyUsage</a>.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_RestoreKey.html\">RestoreKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StartKeyUsage.html\">StartKeyUsage</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StopKeyUsage.html\">StopKeyUsage</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKeyRequest",
        "variableName" : "deleteKeyRequest",
        "variableType" : "DeleteKeyRequest",
        "documentation" : "",
        "simpleType" : "DeleteKeyRequest",
        "variableSetterType" : "DeleteKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteKey",
      "operationName" : "DeleteKey",
      "returnType" : {
        "returnType" : "DeleteKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteKeyResult"
    },
    "ExportKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportKeyRequest, ExportKeyResult>",
      "asyncReturnType" : "ExportKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports a key from Amazon Web Services Payment Cryptography.</p> <p>Amazon Web Services Payment Cryptography simplifies key exchange by replacing the existing paper-based approach with a modern electronic approach. With <code>ExportKey</code> you can export symmetric keys using either symmetric and asymmetric key exchange mechanisms. Using this operation, you can share your Amazon Web Services Payment Cryptography generated keys with other service partners to perform cryptographic operations outside of Amazon Web Services Payment Cryptography </p> <p>For symmetric key exchange, Amazon Web Services Payment Cryptography uses the ANSI X9 TR-31 norm in accordance with PCI PIN guidelines. And for asymmetric key exchange, Amazon Web Services Payment Cryptography supports ANSI X9 TR-34 norm and RSA wrap and unwrap key exchange mechanism. Asymmetric key exchange methods are typically used to establish bi-directional trust between the two parties exhanging keys and are used for initial key exchange such as Key Encryption Key (KEK). After which you can export working keys using symmetric method to perform various cryptographic operations within Amazon Web Services Payment Cryptography.</p> <p>The TR-34 norm is intended for exchanging 3DES keys only and keys are imported in a WrappedKeyBlock format. Key attributes (such as KeyUsage, KeyAlgorithm, KeyModesOfUse, Exportability) are contained within the key block. With RSA wrap and unwrap, you can exchange both 3DES and AES-128 keys. The keys are imported in a WrappedKeyCryptogram format and you will need to specify the key attributes during import. </p> <p>You can also use <code>ExportKey</code> functionality to generate and export an IPEK (Initial Pin Encryption Key) from Amazon Web Services Payment Cryptography using either TR-31 or TR-34 export key exchange. IPEK is generated from BDK (Base Derivation Key) and <code>ExportDukptInitialKey</code> attribute KSN (<code>KeySerialNumber</code>). The generated IPEK does not persist within Amazon Web Services Payment Cryptography and has to be re-generated each time during export.</p> <p>For key exchange using TR-31 or TR-34 key blocks, you can also export optional blocks within the key block header which contain additional attribute information about the key. The <code>KeyVersion</code> within <code>KeyBlockHeaders</code> indicates the version of the key within the key block. Furthermore, <code>KeyExportability</code> within <code>KeyBlockHeaders</code> can be used to further restrict exportability of the key after export from Amazon Web Services Payment Cryptography.</p> <p>The <code>OptionalBlocks</code> contain the additional data related to the key. For information on data type that can be included within optional blocks, refer to <a href=\"https://webstore.ansi.org/standards/ascx9/ansix91432022\">ASC X9.143-2022</a>.</p> <note> <p>Data included in key block headers is signed but transmitted in clear text. Sensitive or confidential information should not be included in optional blocks. Refer to ASC X9.143-2022 standard for information on allowed data type.</p> </note> <p> <b>To export initial keys (KEK) or IPEK using TR-34</b> </p> <p>Using this operation, you can export initial key using TR-34 asymmetric key exchange. You can only export KEK generated within Amazon Web Services Payment Cryptography. In TR-34 terminology, the sending party of the key is called Key Distribution Host (KDH) and the receiving party of the key is called Key Receiving Device (KRD). During key export process, KDH is Amazon Web Services Payment Cryptography which initiates key export and KRD is the user receiving the key.</p> <p>To initiate TR-34 key export, the KRD must obtain an export token by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForExport.html\">GetParametersForExport</a>. This operation also generates a key pair for the purpose of key export, signs the key and returns back the signing public key certificate (also known as KDH signing certificate) and root certificate chain. The KDH uses the private key to sign the the export payload and the signing public key certificate is provided to KRD to verify the signature. The KRD can import the root certificate into its Hardware Security Module (HSM), as required. The export token and the associated KDH signing certificate expires after 7 days. </p> <p>Next the KRD generates a key pair for the the purpose of encrypting the KDH key and provides the public key cerificate (also known as KRD wrapping certificate) back to KDH. The KRD will also import the root cerificate chain into Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> for <code>RootCertificatePublicKey</code>. The KDH, Amazon Web Services Payment Cryptography, will use the KRD wrapping cerificate to encrypt (wrap) the key under export and signs it with signing private key to generate a TR-34 WrappedKeyBlock. For more information on TR-34 key export, see section <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-export.html\">Exporting symmetric keys</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p>Set the following parameters:</p> <ul> <li> <p> <code>ExportAttributes</code>: Specify export attributes in case of IPEK export. This parameter is optional for KEK export.</p> </li> <li> <p> <code>ExportKeyIdentifier</code>: The <code>KeyARN</code> of the KEK or BDK (in case of IPEK) under export.</p> </li> <li> <p> <code>KeyMaterial</code>: Use <code>Tr34KeyBlock</code> parameters.</p> </li> <li> <p> <code>CertificateAuthorityPublicKeyIdentifier</code>: The <code>KeyARN</code> of the certificate chain that signed the KRD wrapping key certificate.</p> </li> <li> <p> <code>ExportToken</code>: Obtained from KDH by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a>.</p> </li> <li> <p> <code>WrappingKeyCertificate</code>: The public key certificate in PEM format (base64 encoded) of the KRD wrapping key Amazon Web Services Payment Cryptography uses for encryption of the TR-34 export payload. This certificate must be signed by the root certificate (CertificateAuthorityPublicKeyIdentifier) imported into Amazon Web Services Payment Cryptography.</p> </li> </ul> <p>When this operation is successful, Amazon Web Services Payment Cryptography returns the KEK or IPEK as a TR-34 WrappedKeyBlock. </p> <p> <b>To export initial keys (KEK) or IPEK using RSA Wrap and Unwrap</b> </p> <p>Using this operation, you can export initial key using asymmetric RSA wrap and unwrap key exchange method. To initiate export, generate an asymmetric key pair on the receiving HSM and obtain the public key certificate in PEM format (base64 encoded) for the purpose of wrapping and the root certifiate chain. Import the root certificate into Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> for <code>RootCertificatePublicKey</code>.</p> <p>Next call <code>ExportKey</code> and set the following parameters:</p> <ul> <li> <p> <code>CertificateAuthorityPublicKeyIdentifier</code>: The <code>KeyARN</code> of the certificate chain that signed wrapping key certificate.</p> </li> <li> <p> <code>KeyMaterial</code>: Set to <code>KeyCryptogram</code>.</p> </li> <li> <p> <code>WrappingKeyCertificate</code>: The public key certificate in PEM format (base64 encoded) obtained by the receiving HSM and signed by the root certificate (CertificateAuthorityPublicKeyIdentifier) imported into Amazon Web Services Payment Cryptography. The receiving HSM uses its private key component to unwrap the WrappedKeyCryptogram.</p> </li> </ul> <p>When this operation is successful, Amazon Web Services Payment Cryptography returns the WrappedKeyCryptogram. </p> <p> <b>To export working keys or IPEK using TR-31</b> </p> <p>Using this operation, you can export working keys or IPEK using TR-31 symmetric key exchange. In TR-31, you must use an initial key such as KEK to encrypt or wrap the key under export. To establish a KEK, you can use <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a> or <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. </p> <p>Set the following parameters:</p> <ul> <li> <p> <code>ExportAttributes</code>: Specify export attributes in case of IPEK export. This parameter is optional for KEK export.</p> </li> <li> <p> <code>ExportKeyIdentifier</code>: The <code>KeyARN</code> of the KEK or BDK (in case of IPEK) under export.</p> </li> <li> <p> <code>KeyMaterial</code>: Use <code>Tr31KeyBlock</code> parameters.</p> </li> </ul> <p>When this operation is successful, Amazon Web Services Payment Cryptography returns the working key or IPEK as a TR-31 WrappedKeyBlock.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForExport.html\">GetParametersForExport</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportKeyRequest",
        "variableName" : "exportKeyRequest",
        "variableType" : "ExportKeyRequest",
        "documentation" : "",
        "simpleType" : "ExportKeyRequest",
        "variableSetterType" : "ExportKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportKey",
      "operationName" : "ExportKey",
      "returnType" : {
        "returnType" : "ExportKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportKeyResult"
    },
    "GetAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAliasRequest, GetAliasResult>",
      "asyncReturnType" : "GetAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the Amazon Web Services Payment Cryptography key associated with the alias.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateAlias.html\">CreateAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteAlias.html\">DeleteAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListAliases.html\">ListAliases</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAliasRequest",
        "variableName" : "getAliasRequest",
        "variableType" : "GetAliasRequest",
        "documentation" : "",
        "simpleType" : "GetAliasRequest",
        "variableSetterType" : "GetAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAlias",
      "operationName" : "GetAlias",
      "returnType" : {
        "returnType" : "GetAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAliasResult"
    },
    "GetKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKeyRequest, GetKeyResult>",
      "asyncReturnType" : "GetKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the key material for an Amazon Web Services Payment Cryptography key, including the immutable and mutable data specified when the key was created.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteKey.html\">DeleteKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListKeys.html\">ListKeys</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKeyRequest",
        "variableName" : "getKeyRequest",
        "variableType" : "GetKeyRequest",
        "documentation" : "",
        "simpleType" : "GetKeyRequest",
        "variableSetterType" : "GetKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKey",
      "operationName" : "GetKey",
      "returnType" : {
        "returnType" : "GetKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKeyResult"
    },
    "GetParametersForExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetParametersForExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetParametersForExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetParametersForExportRequest, GetParametersForExportResult>",
      "asyncReturnType" : "GetParametersForExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the export token and the signing key certificate to initiate a TR-34 key export from Amazon Web Services Payment Cryptography.</p> <p>The signing key certificate signs the wrapped key under export within the TR-34 key payload. The export token and signing key certificate must be in place and operational before calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ExportKey.html\">ExportKey</a>. The export token expires in 7 days. You can use the same export token to export multiple keys from your service account.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ExportKey.html\">ExportKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetParametersForExportRequest",
        "variableName" : "getParametersForExportRequest",
        "variableType" : "GetParametersForExportRequest",
        "documentation" : "",
        "simpleType" : "GetParametersForExportRequest",
        "variableSetterType" : "GetParametersForExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getParametersForExport",
      "operationName" : "GetParametersForExport",
      "returnType" : {
        "returnType" : "GetParametersForExportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetParametersForExportResult"
    },
    "GetParametersForImport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetParametersForImportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetParametersForImportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetParametersForImportRequest, GetParametersForImportResult>",
      "asyncReturnType" : "GetParametersForImportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the import token and the wrapping key certificate in PEM format (base64 encoded) to initiate a TR-34 WrappedKeyBlock or a RSA WrappedKeyCryptogram import into Amazon Web Services Payment Cryptography.</p> <p>The wrapping key certificate wraps the key under import. The import token and wrapping key certificate must be in place and operational before calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. The import token expires in 7 days. You can use the same import token to import multiple keys into your service account.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForExport.html\">GetParametersForExport</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetParametersForImportRequest",
        "variableName" : "getParametersForImportRequest",
        "variableType" : "GetParametersForImportRequest",
        "documentation" : "",
        "simpleType" : "GetParametersForImportRequest",
        "variableSetterType" : "GetParametersForImportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getParametersForImport",
      "operationName" : "GetParametersForImport",
      "returnType" : {
        "returnType" : "GetParametersForImportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetParametersForImportResult"
    },
    "GetPublicKeyCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPublicKeyCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPublicKeyCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPublicKeyCertificateRequest, GetPublicKeyCertificateResult>",
      "asyncReturnType" : "GetPublicKeyCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the public key certificate of the asymmetric key pair that exists within Amazon Web Services Payment Cryptography.</p> <p>Unlike the private key of an asymmetric key, which never leaves Amazon Web Services Payment Cryptography unencrypted, callers with <code>GetPublicKeyCertificate</code> permission can download the public key certificate of the asymmetric key. You can share the public key certificate to allow others to encrypt messages and verify signatures outside of Amazon Web Services Payment Cryptography</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPublicKeyCertificateRequest",
        "variableName" : "getPublicKeyCertificateRequest",
        "variableType" : "GetPublicKeyCertificateRequest",
        "documentation" : "",
        "simpleType" : "GetPublicKeyCertificateRequest",
        "variableSetterType" : "GetPublicKeyCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPublicKeyCertificate",
      "operationName" : "GetPublicKeyCertificate",
      "returnType" : {
        "returnType" : "GetPublicKeyCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPublicKeyCertificateResult"
    },
    "ImportKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportKeyRequest, ImportKeyResult>",
      "asyncReturnType" : "ImportKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports symmetric keys and public key certificates in PEM format (base64 encoded) into Amazon Web Services Payment Cryptography.</p> <p>Amazon Web Services Payment Cryptography simplifies key exchange by replacing the existing paper-based approach with a modern electronic approach. With <code>ImportKey</code> you can import symmetric keys using either symmetric and asymmetric key exchange mechanisms.</p> <p>For symmetric key exchange, Amazon Web Services Payment Cryptography uses the ANSI X9 TR-31 norm in accordance with PCI PIN guidelines. And for asymmetric key exchange, Amazon Web Services Payment Cryptography supports ANSI X9 TR-34 norm and RSA wrap and unwrap key exchange mechanisms. Asymmetric key exchange methods are typically used to establish bi-directional trust between the two parties exhanging keys and are used for initial key exchange such as Key Encryption Key (KEK) or Zone Master Key (ZMK). After which you can import working keys using symmetric method to perform various cryptographic operations within Amazon Web Services Payment Cryptography.</p> <p>The TR-34 norm is intended for exchanging 3DES keys only and keys are imported in a WrappedKeyBlock format. Key attributes (such as KeyUsage, KeyAlgorithm, KeyModesOfUse, Exportability) are contained within the key block. With RSA wrap and unwrap, you can exchange both 3DES and AES-128 keys. The keys are imported in a WrappedKeyCryptogram format and you will need to specify the key attributes during import. </p> <p>You can also import a <i>root public key certificate</i>, used to sign other public key certificates, or a <i>trusted public key certificate</i> under an already established root public key certificate.</p> <p> <b>To import a public root key certificate</b> </p> <p>You can also import a <i>root public key certificate</i>, used to sign other public key certificates, or a <i>trusted public key certificate</i> under an already established root public key certificate.</p> <p> <b>To import a public root key certificate</b> </p> <p>Using this operation, you can import the public component (in PEM cerificate format) of your private root key. You can use the imported public root key certificate for digital signatures, for example signing wrapping key or signing key in TR-34, within your Amazon Web Services Payment Cryptography account.</p> <p>Set the following parameters:</p> <ul> <li> <p> <code>KeyMaterial</code>: <code>RootCertificatePublicKey</code> </p> </li> <li> <p> <code>KeyClass</code>: <code>PUBLIC_KEY</code> </p> </li> <li> <p> <code>KeyModesOfUse</code>: <code>Verify</code> </p> </li> <li> <p> <code>KeyUsage</code>: <code>TR31_S0_ASYMMETRIC_KEY_FOR_DIGITAL_SIGNATURE</code> </p> </li> <li> <p> <code>PublicKeyCertificate</code>: The public key certificate in PEM format (base64 encoded) of the private root key under import.</p> </li> </ul> <p> <b>To import a trusted public key certificate</b> </p> <p>The root public key certificate must be in place and operational before you import a trusted public key certificate. Set the following parameters:</p> <ul> <li> <p> <code>KeyMaterial</code>: <code>TrustedCertificatePublicKey</code> </p> </li> <li> <p> <code>CertificateAuthorityPublicKeyIdentifier</code>: <code>KeyArn</code> of the <code>RootCertificatePublicKey</code>.</p> </li> <li> <p> <code>KeyModesOfUse</code> and <code>KeyUsage</code>: Corresponding to the cryptographic operations such as wrap, sign, or encrypt that you will allow the trusted public key certificate to perform.</p> </li> <li> <p> <code>PublicKeyCertificate</code>: The trusted public key certificate in PEM format (base64 encoded) under import.</p> </li> </ul> <p> <b>To import initial keys (KEK or ZMK or similar) using TR-34</b> </p> <p>Using this operation, you can import initial key using TR-34 asymmetric key exchange. In TR-34 terminology, the sending party of the key is called Key Distribution Host (KDH) and the receiving party of the key is called Key Receiving Device (KRD). During the key import process, KDH is the user who initiates the key import and KRD is Amazon Web Services Payment Cryptography who receives the key.</p> <p>To initiate TR-34 key import, the KDH must obtain an import token by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a>. This operation generates an encryption keypair for the purpose of key import, signs the key and returns back the wrapping key certificate (also known as KRD wrapping certificate) and the root certificate chain. The KDH must trust and install the KRD wrapping certificate on its HSM and use it to encrypt (wrap) the KDH key during TR-34 WrappedKeyBlock generation. The import token and associated KRD wrapping certificate expires after 7 days.</p> <p>Next the KDH generates a key pair for the purpose of signing the encrypted KDH key and provides the public certificate of the signing key to Amazon Web Services Payment Cryptography. The KDH will also need to import the root certificate chain of the KDH signing certificate by calling <code>ImportKey</code> for <code>RootCertificatePublicKey</code>. For more information on TR-34 key import, see section <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-import.html\">Importing symmetric keys</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>Set the following parameters:</p> <ul> <li> <p> <code>KeyMaterial</code>: Use <code>Tr34KeyBlock</code> parameters.</p> </li> <li> <p> <code>CertificateAuthorityPublicKeyIdentifier</code>: The <code>KeyARN</code> of the certificate chain that signed the KDH signing key certificate.</p> </li> <li> <p> <code>ImportToken</code>: Obtained from KRD by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a>.</p> </li> <li> <p> <code>WrappedKeyBlock</code>: The TR-34 wrapped key material from KDH. It contains the KDH key under import, wrapped with KRD wrapping certificate and signed by KDH signing private key. This TR-34 key block is typically generated by the KDH Hardware Security Module (HSM) outside of Amazon Web Services Payment Cryptography.</p> </li> <li> <p> <code>SigningKeyCertificate</code>: The public key certificate in PEM format (base64 encoded) of the KDH signing key generated under the root certificate (CertificateAuthorityPublicKeyIdentifier) imported in Amazon Web Services Payment Cryptography.</p> </li> </ul> <p> <b>To import initial keys (KEK or ZMK or similar) using RSA Wrap and Unwrap</b> </p> <p>Using this operation, you can import initial key using asymmetric RSA wrap and unwrap key exchange method. To initiate import, call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a> with <code>KeyMaterial</code> set to <code>KEY_CRYPTOGRAM</code> to generate an import token. This operation also generates an encryption keypair for the purpose of key import, signs the key and returns back the wrapping key certificate in PEM format (base64 encoded) and its root certificate chain. The import token and associated KRD wrapping certificate expires after 7 days. </p> <p>You must trust and install the wrapping certificate and its certificate chain on the sending HSM and use it to wrap the key under export for WrappedKeyCryptogram generation. Next call <code>ImportKey</code> with <code>KeyMaterial</code> set to <code>KEY_CRYPTOGRAM</code> and provide the <code>ImportToken</code> and <code>KeyAttributes</code> for the key under import.</p> <p> <b>To import working keys using TR-31</b> </p> <p>Amazon Web Services Payment Cryptography uses TR-31 symmetric key exchange norm to import working keys. A KEK must be established within Amazon Web Services Payment Cryptography by using TR-34 key import or by using <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>. To initiate a TR-31 key import, set the following parameters:</p> <ul> <li> <p> <code>KeyMaterial</code>: Use <code>Tr31KeyBlock</code> parameters.</p> </li> <li> <p> <code>WrappedKeyBlock</code>: The TR-31 wrapped key material. It contains the key under import, encrypted using KEK. The TR-31 key block is typically generated by a HSM outside of Amazon Web Services Payment Cryptography. </p> </li> <li> <p> <code>WrappingKeyIdentifier</code>: The <code>KeyArn</code> of the KEK that Amazon Web Services Payment Cryptography uses to decrypt or unwrap the key under import.</p> </li> </ul> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ExportKey.html\">ExportKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportKeyRequest",
        "variableName" : "importKeyRequest",
        "variableType" : "ImportKeyRequest",
        "documentation" : "",
        "simpleType" : "ImportKeyRequest",
        "variableSetterType" : "ImportKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importKey",
      "operationName" : "ImportKey",
      "returnType" : {
        "returnType" : "ImportKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportKeyResult"
    },
    "ListAliases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAliasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAliasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAliasesRequest, ListAliasesResult>",
      "asyncReturnType" : "ListAliasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the aliases for all keys in the caller's Amazon Web Services account and Amazon Web Services Region. You can filter the list of aliases. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-managealias.html\">Using aliases</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the aliases. When the response contains only a subset of aliases, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>ListAliases</code> request to get more aliases. When you receive a response with no NextToken (or an empty or null value), that means there are no more aliases to get.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateAlias.html\">CreateAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteAlias.html\">DeleteAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetAlias.html\">GetAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAliasesRequest",
        "variableName" : "listAliasesRequest",
        "variableType" : "ListAliasesRequest",
        "documentation" : "",
        "simpleType" : "ListAliasesRequest",
        "variableSetterType" : "ListAliasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAliases",
      "operationName" : "ListAliases",
      "returnType" : {
        "returnType" : "ListAliasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAliasesResult"
    },
    "ListKeys" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKeysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKeysRequest, ListKeysResult>",
      "asyncReturnType" : "ListKeysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the keys in the caller's Amazon Web Services account and Amazon Web Services Region. You can filter the list of keys.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the keys. When the response contains only a subset of keys, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>ListKeys</code> request to get more keys. When you receive a response with no NextToken (or an empty or null value), that means there are no more keys to get.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteKey.html\">DeleteKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetKey.html\">GetKey</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKeysRequest",
        "variableName" : "listKeysRequest",
        "variableType" : "ListKeysRequest",
        "documentation" : "",
        "simpleType" : "ListKeysRequest",
        "variableSetterType" : "ListKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKeys",
      "operationName" : "ListKeys",
      "returnType" : {
        "returnType" : "ListKeysResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKeysResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for an Amazon Web Services resource.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the tags. When the response contains only a subset of tags, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>ListTagsForResource</code> request to get more tags. When you receive a response with no NextToken (or an empty or null value), that means there are no more tags to get.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_TagResource.html\">TagResource</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UntagResource.html\">UntagResource</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RestoreKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreKeyRequest, RestoreKeyResult>",
      "asyncReturnType" : "RestoreKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a scheduled key deletion during the waiting period. Use this operation to restore a <code>Key</code> that is scheduled for deletion.</p> <p>During the waiting period, the <code>KeyState</code> is <code>DELETE_PENDING</code> and <code>deletePendingTimestamp</code> contains the date and time after which the <code>Key</code> will be deleted. After <code>Key</code> is restored, the <code>KeyState</code> is <code>CREATE_COMPLETE</code>, and the value for <code>deletePendingTimestamp</code> is removed.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteKey.html\">DeleteKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StartKeyUsage.html\">StartKeyUsage</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StopKeyUsage.html\">StopKeyUsage</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RestoreKeyRequest",
        "variableName" : "restoreKeyRequest",
        "variableType" : "RestoreKeyRequest",
        "documentation" : "",
        "simpleType" : "RestoreKeyRequest",
        "variableSetterType" : "RestoreKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restoreKey",
      "operationName" : "RestoreKey",
      "returnType" : {
        "returnType" : "RestoreKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "RestoreKeyResult"
    },
    "StartKeyUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartKeyUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartKeyUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartKeyUsageRequest, StartKeyUsageResult>",
      "asyncReturnType" : "StartKeyUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables an Amazon Web Services Payment Cryptography key, which makes it active for cryptographic operations within Amazon Web Services Payment Cryptography</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StopKeyUsage.html\">StopKeyUsage</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartKeyUsageRequest",
        "variableName" : "startKeyUsageRequest",
        "variableType" : "StartKeyUsageRequest",
        "documentation" : "",
        "simpleType" : "StartKeyUsageRequest",
        "variableSetterType" : "StartKeyUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startKeyUsage",
      "operationName" : "StartKeyUsage",
      "returnType" : {
        "returnType" : "StartKeyUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "StartKeyUsageResult"
    },
    "StopKeyUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopKeyUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopKeyUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopKeyUsageRequest, StopKeyUsageResult>",
      "asyncReturnType" : "StopKeyUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables an Amazon Web Services Payment Cryptography key, which makes it inactive within Amazon Web Services Payment Cryptography.</p> <p>You can use this operation instead of <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteKey.html\">DeleteKey</a> to deactivate a key. You can enable the key in the future by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StartKeyUsage.html\">StartKeyUsage</a>.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteKey.html\">DeleteKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StartKeyUsage.html\">StartKeyUsage</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopKeyUsageRequest",
        "variableName" : "stopKeyUsageRequest",
        "variableType" : "StopKeyUsageRequest",
        "documentation" : "",
        "simpleType" : "StopKeyUsageRequest",
        "variableSetterType" : "StopKeyUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopKeyUsage",
      "operationName" : "StopKeyUsage",
      "returnType" : {
        "returnType" : "StopKeyUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "StopKeyUsageResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or edits tags on an Amazon Web Services Payment Cryptography key.</p> <note> <p>Tagging or untagging an Amazon Web Services Payment Cryptography key can allow or deny permission to the key.</p> </note> <p>Each tag consists of a tag key and a tag value, both of which are case-sensitive strings. The tag value can be an empty (null) string. To add a tag, specify a new tag key and a tag value. To edit a tag, specify an existing tag key and a new tag value. You can also add tags to an Amazon Web Services Payment Cryptography key when you create it with <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>.</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListTagsForResource.html\">ListTagsForResource</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UntagResource.html\">UntagResource</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a tag from an Amazon Web Services Payment Cryptography key.</p> <note> <p>Tagging or untagging an Amazon Web Services Payment Cryptography key can allow or deny permission to the key.</p> </note> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListTagsForResource.html\">ListTagsForResource</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_TagResource.html\">TagResource</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAliasRequest, UpdateAliasResult>",
      "asyncReturnType" : "UpdateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates an existing Amazon Web Services Payment Cryptography alias with a different key. Each alias is associated with only one Amazon Web Services Payment Cryptography key at a time, although a key can have multiple aliases. The alias and the Amazon Web Services Payment Cryptography key must be in the same Amazon Web Services account and Amazon Web Services Region</p> <p> <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateAlias.html\">CreateAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteAlias.html\">DeleteAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetAlias.html\">GetAlias</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListAliases.html\">ListAliases</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service cannot complete the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was denied due to an invalid request error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request can cause an inconsistent state for the resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was denied due to an invalid resource error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAliasRequest",
        "variableName" : "updateAliasRequest",
        "variableType" : "UpdateAliasRequest",
        "documentation" : "",
        "simpleType" : "UpdateAliasRequest",
        "variableSetterType" : "UpdateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAlias",
      "operationName" : "UpdateAlias",
      "returnType" : {
        "returnType" : "UpdateAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAliasResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.paymentcryptography.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.paymentcryptography.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Alias" : {
      "c2jName" : "Alias",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains information about an alias.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.paymentcryptography.model.Alias",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AliasName",
[...]
