{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSPcaConnectorAdAsyncClient",
    "asyncClientBuilderClassName" : "AWSPcaConnectorAdAsyncClientBuilder",
    "asyncInterface" : "AWSPcaConnectorAdAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSPcaConnectorAdModuleInjector",
    "defaultEndpoint" : "pca-connector-ad.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "pca-connector-ad.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Web Services Private CA Connector for Active Directory creates a connector between Amazon Web Services Private CA and Active Directory (AD) that enables you to provision security certificates for AD signed by a private CA that you own. For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/ad-connector.html\">Amazon Web Services Private CA Connector for Active Directory</a>.</p>",
    "endpointPrefix" : "pca-connector-ad",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.pcaconnectorad",
    "packagePath" : "com/amazonaws/services/pcaconnectorad",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "PcaConnectorAd",
    "serviceId" : "Pca Connector Ad",
    "serviceName" : "PcaConnectorAd",
    "signingName" : "pca-connector-ad",
    "smokeTestsPackageName" : "com.amazonaws.services.pcaconnectorad.smoketests",
    "syncClient" : "AWSPcaConnectorAdClient",
    "syncClientBuilderClassName" : "AWSPcaConnectorAdClientBuilder",
    "syncInterface" : "AWSPcaConnectorAd",
    "uid" : "pca-connector-ad-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConnectorRequest, CreateConnectorResult>",
      "asyncReturnType" : "CreateConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a connector between Amazon Web Services Private CA and an Active Directory. You must specify the private CA, directory ID, and security groups.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConnectorRequest",
        "variableName" : "createConnectorRequest",
        "variableType" : "CreateConnectorRequest",
        "documentation" : "",
        "simpleType" : "CreateConnectorRequest",
        "variableSetterType" : "CreateConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConnector",
      "operationName" : "CreateConnector",
      "returnType" : {
        "returnType" : "CreateConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConnectorResult"
    },
    "CreateDirectoryRegistration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDirectoryRegistrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDirectoryRegistrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDirectoryRegistrationRequest, CreateDirectoryRegistrationResult>",
      "asyncReturnType" : "CreateDirectoryRegistrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a directory registration that authorizes communication between Amazon Web Services Private CA and an Active Directory</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDirectoryRegistrationRequest",
        "variableName" : "createDirectoryRegistrationRequest",
        "variableType" : "CreateDirectoryRegistrationRequest",
        "documentation" : "",
        "simpleType" : "CreateDirectoryRegistrationRequest",
        "variableSetterType" : "CreateDirectoryRegistrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDirectoryRegistration",
      "operationName" : "CreateDirectoryRegistration",
      "returnType" : {
        "returnType" : "CreateDirectoryRegistrationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDirectoryRegistrationResult"
    },
    "CreateServicePrincipalName" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateServicePrincipalNameResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateServicePrincipalNameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateServicePrincipalNameRequest, CreateServicePrincipalNameResult>",
      "asyncReturnType" : "CreateServicePrincipalNameResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a service principal name (SPN) for the service account in Active Directory. Kerberos authentication uses SPNs to associate a service instance with a service sign-in account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateServicePrincipalNameRequest",
        "variableName" : "createServicePrincipalNameRequest",
        "variableType" : "CreateServicePrincipalNameRequest",
        "documentation" : "",
        "simpleType" : "CreateServicePrincipalNameRequest",
        "variableSetterType" : "CreateServicePrincipalNameRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createServicePrincipalName",
      "operationName" : "CreateServicePrincipalName",
      "returnType" : {
        "returnType" : "CreateServicePrincipalNameResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateServicePrincipalNameResult"
    },
    "CreateTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTemplateRequest, CreateTemplateResult>",
      "asyncReturnType" : "CreateTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Active Directory compatible certificate template. The connectors issues certificates using these templates based on the requester’s Active Directory group membership.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTemplateRequest",
        "variableName" : "createTemplateRequest",
        "variableType" : "CreateTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateTemplateRequest",
        "variableSetterType" : "CreateTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTemplate",
      "operationName" : "CreateTemplate",
      "returnType" : {
        "returnType" : "CreateTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTemplateResult"
    },
    "CreateTemplateGroupAccessControlEntry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTemplateGroupAccessControlEntryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTemplateGroupAccessControlEntryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTemplateGroupAccessControlEntryRequest, CreateTemplateGroupAccessControlEntryResult>",
      "asyncReturnType" : "CreateTemplateGroupAccessControlEntryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a group access control entry. Allow or deny Active Directory groups from enrolling and/or autoenrolling with the template based on the group security identifiers (SIDs).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTemplateGroupAccessControlEntryRequest",
        "variableName" : "createTemplateGroupAccessControlEntryRequest",
        "variableType" : "CreateTemplateGroupAccessControlEntryRequest",
        "documentation" : "",
        "simpleType" : "CreateTemplateGroupAccessControlEntryRequest",
        "variableSetterType" : "CreateTemplateGroupAccessControlEntryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTemplateGroupAccessControlEntry",
      "operationName" : "CreateTemplateGroupAccessControlEntry",
      "returnType" : {
        "returnType" : "CreateTemplateGroupAccessControlEntryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTemplateGroupAccessControlEntryResult"
    },
    "DeleteConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectorRequest, DeleteConnectorResult>",
      "asyncReturnType" : "DeleteConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a connector for Active Directory. You must provide the Amazon Resource Name (ARN) of the connector that you want to delete. You can find the ARN by calling the <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_ListConnectors\">https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_ListConnectors</a> action. Deleting a connector does not deregister your directory with Amazon Web Services Private CA. You can deregister your directory by calling the <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_DeleteDirectoryRegistration\">https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_DeleteDirectoryRegistration</a> action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectorRequest",
        "variableName" : "deleteConnectorRequest",
        "variableType" : "DeleteConnectorRequest",
        "documentation" : "",
        "simpleType" : "DeleteConnectorRequest",
        "variableSetterType" : "DeleteConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnector",
      "operationName" : "DeleteConnector",
      "returnType" : {
        "returnType" : "DeleteConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConnectorResult"
    },
    "DeleteDirectoryRegistration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDirectoryRegistrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDirectoryRegistrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDirectoryRegistrationRequest, DeleteDirectoryRegistrationResult>",
      "asyncReturnType" : "DeleteDirectoryRegistrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a directory registration. Deleting a directory registration deauthorizes Amazon Web Services Private CA with the directory. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDirectoryRegistrationRequest",
        "variableName" : "deleteDirectoryRegistrationRequest",
        "variableType" : "DeleteDirectoryRegistrationRequest",
        "documentation" : "",
        "simpleType" : "DeleteDirectoryRegistrationRequest",
        "variableSetterType" : "DeleteDirectoryRegistrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDirectoryRegistration",
      "operationName" : "DeleteDirectoryRegistration",
      "returnType" : {
        "returnType" : "DeleteDirectoryRegistrationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDirectoryRegistrationResult"
    },
    "DeleteServicePrincipalName" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServicePrincipalNameResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServicePrincipalNameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServicePrincipalNameRequest, DeleteServicePrincipalNameResult>",
      "asyncReturnType" : "DeleteServicePrincipalNameResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the service principal name (SPN) used by a connector to authenticate with your Active Directory.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServicePrincipalNameRequest",
        "variableName" : "deleteServicePrincipalNameRequest",
        "variableType" : "DeleteServicePrincipalNameRequest",
        "documentation" : "",
        "simpleType" : "DeleteServicePrincipalNameRequest",
        "variableSetterType" : "DeleteServicePrincipalNameRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteServicePrincipalName",
      "operationName" : "DeleteServicePrincipalName",
      "returnType" : {
        "returnType" : "DeleteServicePrincipalNameResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServicePrincipalNameResult"
    },
    "DeleteTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTemplateRequest, DeleteTemplateResult>",
      "asyncReturnType" : "DeleteTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a template. Certificates issued using the template are still valid until they are revoked or expired.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTemplateRequest",
        "variableName" : "deleteTemplateRequest",
        "variableType" : "DeleteTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteTemplateRequest",
        "variableSetterType" : "DeleteTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTemplate",
      "operationName" : "DeleteTemplate",
      "returnType" : {
        "returnType" : "DeleteTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTemplateResult"
    },
    "DeleteTemplateGroupAccessControlEntry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTemplateGroupAccessControlEntryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTemplateGroupAccessControlEntryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTemplateGroupAccessControlEntryRequest, DeleteTemplateGroupAccessControlEntryResult>",
      "asyncReturnType" : "DeleteTemplateGroupAccessControlEntryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a group access control entry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTemplateGroupAccessControlEntryRequest",
        "variableName" : "deleteTemplateGroupAccessControlEntryRequest",
        "variableType" : "DeleteTemplateGroupAccessControlEntryRequest",
        "documentation" : "",
        "simpleType" : "DeleteTemplateGroupAccessControlEntryRequest",
        "variableSetterType" : "DeleteTemplateGroupAccessControlEntryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTemplateGroupAccessControlEntry",
      "operationName" : "DeleteTemplateGroupAccessControlEntry",
      "returnType" : {
        "returnType" : "DeleteTemplateGroupAccessControlEntryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTemplateGroupAccessControlEntryResult"
    },
    "GetConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectorRequest, GetConnectorResult>",
      "asyncReturnType" : "GetConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about your connector. You specify the connector on input by its ARN (Amazon Resource Name). </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectorRequest",
        "variableName" : "getConnectorRequest",
        "variableType" : "GetConnectorRequest",
        "documentation" : "",
        "simpleType" : "GetConnectorRequest",
        "variableSetterType" : "GetConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnector",
      "operationName" : "GetConnector",
      "returnType" : {
        "returnType" : "GetConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConnectorResult"
    },
    "GetDirectoryRegistration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDirectoryRegistrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDirectoryRegistrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDirectoryRegistrationRequest, GetDirectoryRegistrationResult>",
      "asyncReturnType" : "GetDirectoryRegistrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A structure that contains information about your directory registration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDirectoryRegistrationRequest",
        "variableName" : "getDirectoryRegistrationRequest",
        "variableType" : "GetDirectoryRegistrationRequest",
        "documentation" : "",
        "simpleType" : "GetDirectoryRegistrationRequest",
        "variableSetterType" : "GetDirectoryRegistrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDirectoryRegistration",
      "operationName" : "GetDirectoryRegistration",
      "returnType" : {
        "returnType" : "GetDirectoryRegistrationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDirectoryRegistrationResult"
    },
    "GetServicePrincipalName" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServicePrincipalNameResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServicePrincipalNameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServicePrincipalNameRequest, GetServicePrincipalNameResult>",
      "asyncReturnType" : "GetServicePrincipalNameResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the service principal name that the connector uses to authenticate with Active Directory.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServicePrincipalNameRequest",
        "variableName" : "getServicePrincipalNameRequest",
        "variableType" : "GetServicePrincipalNameRequest",
        "documentation" : "",
        "simpleType" : "GetServicePrincipalNameRequest",
        "variableSetterType" : "GetServicePrincipalNameRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServicePrincipalName",
      "operationName" : "GetServicePrincipalName",
      "returnType" : {
        "returnType" : "GetServicePrincipalNameResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServicePrincipalNameResult"
    },
    "GetTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateRequest, GetTemplateResult>",
      "asyncReturnType" : "GetTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a certificate template that the connector uses to issue certificates from a private CA.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTemplateRequest",
        "variableName" : "getTemplateRequest",
        "variableType" : "GetTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetTemplateRequest",
        "variableSetterType" : "GetTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTemplate",
      "operationName" : "GetTemplate",
      "returnType" : {
        "returnType" : "GetTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTemplateResult"
    },
    "GetTemplateGroupAccessControlEntry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateGroupAccessControlEntryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateGroupAccessControlEntryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateGroupAccessControlEntryRequest, GetTemplateGroupAccessControlEntryResult>",
      "asyncReturnType" : "GetTemplateGroupAccessControlEntryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the group access control entries for a template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTemplateGroupAccessControlEntryRequest",
        "variableName" : "getTemplateGroupAccessControlEntryRequest",
        "variableType" : "GetTemplateGroupAccessControlEntryRequest",
        "documentation" : "",
        "simpleType" : "GetTemplateGroupAccessControlEntryRequest",
        "variableSetterType" : "GetTemplateGroupAccessControlEntryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTemplateGroupAccessControlEntry",
      "operationName" : "GetTemplateGroupAccessControlEntry",
      "returnType" : {
        "returnType" : "GetTemplateGroupAccessControlEntryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTemplateGroupAccessControlEntryResult"
    },
    "ListConnectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConnectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConnectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConnectorsRequest, ListConnectorsResult>",
      "asyncReturnType" : "ListConnectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the connectors that you created by using the <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateConnector\">https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateConnector</a> action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConnectorsRequest",
        "variableName" : "listConnectorsRequest",
        "variableType" : "ListConnectorsRequest",
        "documentation" : "",
        "simpleType" : "ListConnectorsRequest",
        "variableSetterType" : "ListConnectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConnectors",
      "operationName" : "ListConnectors",
      "returnType" : {
        "returnType" : "ListConnectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConnectorsResult"
    },
    "ListDirectoryRegistrations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDirectoryRegistrationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDirectoryRegistrationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDirectoryRegistrationsRequest, ListDirectoryRegistrationsResult>",
      "asyncReturnType" : "ListDirectoryRegistrationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the directory registrations that you created by using the <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateDirectoryRegistration\">https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateDirectoryRegistration</a> action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDirectoryRegistrationsRequest",
        "variableName" : "listDirectoryRegistrationsRequest",
        "variableType" : "ListDirectoryRegistrationsRequest",
        "documentation" : "",
        "simpleType" : "ListDirectoryRegistrationsRequest",
        "variableSetterType" : "ListDirectoryRegistrationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDirectoryRegistrations",
      "operationName" : "ListDirectoryRegistrations",
      "returnType" : {
        "returnType" : "ListDirectoryRegistrationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDirectoryRegistrationsResult"
    },
    "ListServicePrincipalNames" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServicePrincipalNamesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServicePrincipalNamesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServicePrincipalNamesRequest, ListServicePrincipalNamesResult>",
      "asyncReturnType" : "ListServicePrincipalNamesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the service principal names that the connector uses to authenticate with Active Directory.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServicePrincipalNamesRequest",
        "variableName" : "listServicePrincipalNamesRequest",
        "variableType" : "ListServicePrincipalNamesRequest",
        "documentation" : "",
        "simpleType" : "ListServicePrincipalNamesRequest",
        "variableSetterType" : "ListServicePrincipalNamesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServicePrincipalNames",
      "operationName" : "ListServicePrincipalNames",
      "returnType" : {
        "returnType" : "ListServicePrincipalNamesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServicePrincipalNamesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags, if any, that are associated with your resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTemplateGroupAccessControlEntries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTemplateGroupAccessControlEntriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTemplateGroupAccessControlEntriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTemplateGroupAccessControlEntriesRequest, ListTemplateGroupAccessControlEntriesResult>",
      "asyncReturnType" : "ListTemplateGroupAccessControlEntriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists group access control entries you created. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTemplateGroupAccessControlEntriesRequest",
        "variableName" : "listTemplateGroupAccessControlEntriesRequest",
        "variableType" : "ListTemplateGroupAccessControlEntriesRequest",
        "documentation" : "",
        "simpleType" : "ListTemplateGroupAccessControlEntriesRequest",
        "variableSetterType" : "ListTemplateGroupAccessControlEntriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTemplateGroupAccessControlEntries",
      "operationName" : "ListTemplateGroupAccessControlEntries",
      "returnType" : {
        "returnType" : "ListTemplateGroupAccessControlEntriesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTemplateGroupAccessControlEntriesResult"
    },
    "ListTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTemplatesRequest, ListTemplatesResult>",
      "asyncReturnType" : "ListTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the templates, if any, that are associated with a connector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTemplatesRequest",
        "variableName" : "listTemplatesRequest",
        "variableType" : "ListTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListTemplatesRequest",
        "variableSetterType" : "ListTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTemplates",
      "operationName" : "ListTemplates",
      "returnType" : {
        "returnType" : "ListTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTemplatesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to your resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from your resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTemplateRequest, UpdateTemplateResult>",
      "asyncReturnType" : "UpdateTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update template configuration to define the information included in certificates.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTemplateRequest",
        "variableName" : "updateTemplateRequest",
        "variableType" : "UpdateTemplateRequest",
        "documentation" : "",
        "simpleType" : "UpdateTemplateRequest",
        "variableSetterType" : "UpdateTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTemplate",
      "operationName" : "UpdateTemplate",
      "returnType" : {
        "returnType" : "UpdateTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTemplateResult"
    },
    "UpdateTemplateGroupAccessControlEntry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTemplateGroupAccessControlEntryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTemplateGroupAccessControlEntryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTemplateGroupAccessControlEntryRequest, UpdateTemplateGroupAccessControlEntryResult>",
      "asyncReturnType" : "UpdateTemplateGroupAccessControlEntryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a group access control entry you created using <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateTemplateGroupAccessControlEntry.html\">CreateTemplateGroupAccessControlEntry</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You can receive this error if you attempt to create a resource share when you don't have the required permissions. This can be caused by insufficient permissions in policies attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP) that affects your Amazon Web Services account. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An input validation error occurred. For example, invalid characters in a template name, or if a pagination token is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure with an internal server. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons because the requested resource was being concurrently modified by another request.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTemplateGroupAccessControlEntryRequest",
        "variableName" : "updateTemplateGroupAccessControlEntryRequest",
        "variableType" : "UpdateTemplateGroupAccessControlEntryRequest",
        "documentation" : "",
        "simpleType" : "UpdateTemplateGroupAccessControlEntryRequest",
        "variableSetterType" : "UpdateTemplateGroupAccessControlEntryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTemplateGroupAccessControlEntry",
      "operationName" : "UpdateTemplateGroupAccessControlEntry",
      "returnType" : {
        "returnType" : "UpdateTemplateGroupAccessControlEntryResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTemplateGroupAccessControlEntryResult"
    }
  },
  "shapes" : {
    "AccessControlEntry" : {
      "c2jName" : "AccessControlEntry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> An access control entry allows or denies Active Directory groups based on their security identifiers (SIDs) from enrolling and/or autoenrolling with the template.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.pcaconnectorad.model.AccessControlEntry",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AccessRights",
        "c2jShape" : "AccessRights",
        "deprecated" : false,
        "documentation" : "<p>Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued against a template.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued against a template.</p>\n@param accessRights Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued against a template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccessRights",
        "getterDocumentation" : "/**<p>Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued against a template.</p>\n@return Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued against a template.*/",
        "getterMethodName" : "getAccessRights",
        "getterModel" : {
          "returnType" : "AccessRights",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccessRights",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccessRights",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AccessRights",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued against a template.</p>\n@param accessRights Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued against a template.*/",
        "setterMethodName" : "setAccessRights",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AccessRights",
          "variableName" : "accessRights",
          "variableType" : "AccessRights",
          "documentation" : "",
          "simpleType" : "AccessRights",
          "variableSetterType" : "AccessRights"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued against a template.</p>\n@param accessRights Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued against a template.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AccessRights",
          "variableName" : "accessRights",
          "variableType" : "AccessRights",
          "documentation" : "<p>Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued against a template.</p>",
          "simpleType" : "AccessRights",
          "variableSetterType" : "AccessRights"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time that the Access Control Entry was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time that the Access Control Entry was created.</p>\n@param createdAt The date and time that the Access Control Entry was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>The date and time that the Access Control Entry was created.</p>\n@return The date and time that the Access Control Entry was created.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time that the Access Control Entry was created.</p>\n@param createdAt The date and time that the Access Control Entry was created.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time that the Access Control Entry was created.</p>\n@param createdAt The date and time that the Access Control Entry was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time that the Access Control Entry was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "GroupDisplayName",
        "c2jShape" : "DisplayName",
        "deprecated" : false,
        "documentation" : "<p>Name of the Active Directory group. This name does not need to match the group name in Active Directory.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the Active Directory group. This name does not need to match the group name in Active Directory.</p>\n@param groupDisplayName Name of the Active Directory group. This name does not need to match the group name in Active Directory.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGroupDisplayName",
        "getterDocumentation" : "/**<p>Name of the Active Directory group. This name does not need to match the group name in Active Directory.</p>\n@return Name of the Active Directory group. This name does not need to match the group name in Active Directory.*/",
        "getterMethodName" : "getGroupDisplayName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GroupDisplayName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GroupDisplayName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GroupDisplayName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Name of the Active Directory group. This name does not need to match the group name in Active Directory.</p>\n@param groupDisplayName Name of the Active Directory group. This name does not need to match the group name in Active Directory.*/",
        "setterMethodName" : "setGroupDisplayName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "groupDisplayName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Name of the Active Directory group. This name does not need to match the group name in Active Directory.</p>\n@param groupDisplayName Name of the Active Directory group. This name does not need to match the group name in Active Directory.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "groupDisplayName",
          "variableType" : "String",
          "documentation" : "<p>Name of the Active Directory group. This name does not need to match the group name in Active Directory.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "GroupSecurityIdentifier",
        "c2jShape" : "GroupSecurityIdentifier",
        "deprecated" : false,
        "documentation" : "<p>Security identifier (SID) of the group object from Active Directory. The SID starts with \"S-\".</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Security identifier (SID) of the group object from Active Directory. The SID starts with \"S-\".</p>\n@param groupSecurityIdentifier Security identifier (SID) of the group object from Active Directory. The SID starts with \"S-\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGroupSecurityIdentifier",
        "getterDocumentation" : "/**<p>Security identifier (SID) of the group object from Active Directory. The SID starts with \"S-\".</p>\n@return Security identifier (SID) of the group object from Active Directory. The SID starts with \"S-\".*/",
        "getterMethodName" : "getGroupSecurityIdentifier",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GroupSecurityIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GroupSecurityIdentifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GroupSecurityIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Security identifier (SID) of the group object from Active Directory. The SID starts with \"S-\".</p>\n@param groupSecurityIdentifier Security identifier (SID) of the group object from Active Directory. The SID starts with \"S-\".*/",
        "setterMethodName" : "setGroupSecurityIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "groupSecurityIdentifier",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Security identifier (SID) of the group object from Active Directory. The SID starts with \"S-\".</p>\n@param groupSecurityIdentifier Security identifier (SID) of the group object from Active Directory. The SID starts with \"S-\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "groupSecurityIdentifier",
          "variableType" : "String",
          "documentation" : "<p>Security identifier (SID) of the group object from Active Directory. The SID starts with \"S-\".</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TemplateArn",
        "c2jShape" : "TemplateArn",
        "deprecated" : false,
[...]
