{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-22",
    "asyncClient" : "AmazonPersonalizeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonPersonalizeAsyncClientBuilder",
    "asyncInterface" : "AmazonPersonalizeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonPersonalizeModuleInjector",
    "defaultEndpoint" : "personalize.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "personalize.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Personalize is a machine learning service that makes it easy to add individualized recommendations to customers.</p>",
    "endpointPrefix" : "personalize",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.personalize",
    "packagePath" : "com/amazonaws/services/personalize",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Personalize",
    "serviceId" : "Personalize",
    "serviceName" : "Amazon Personalize",
    "signingName" : "personalize",
    "smokeTestsPackageName" : "com.amazonaws.services.personalize.smoketests",
    "syncClient" : "AmazonPersonalizeClient",
    "syncClientBuilderClassName" : "AmazonPersonalizeClientBuilder",
    "syncInterface" : "AmazonPersonalize",
    "uid" : "personalize-2018-05-22",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBatchInferenceJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBatchInferenceJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBatchInferenceJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBatchInferenceJobRequest, CreateBatchInferenceJobResult>",
      "asyncReturnType" : "CreateBatchInferenceJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a batch inference job. The operation can handle up to 50 million records and the input file must be in JSON format. For more information, see <a>recommendations-batch</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBatchInferenceJobRequest",
        "variableName" : "createBatchInferenceJobRequest",
        "variableType" : "CreateBatchInferenceJobRequest",
        "documentation" : "",
        "simpleType" : "CreateBatchInferenceJobRequest",
        "variableSetterType" : "CreateBatchInferenceJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBatchInferenceJob",
      "operationName" : "CreateBatchInferenceJob",
      "returnType" : {
        "returnType" : "CreateBatchInferenceJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBatchInferenceJobResult"
    },
    "CreateCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCampaignRequest, CreateCampaignResult>",
      "asyncReturnType" : "CreateCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a campaign by deploying a solution version. When a client calls the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> and <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetPersonalizedRanking.html\">GetPersonalizedRanking</a> APIs, a campaign is specified in the request.</p> <p> <b>Minimum Provisioned TPS and Auto-Scaling</b> </p> <p>A transaction is a single <code>GetRecommendations</code> or <code>GetPersonalizedRanking</code> call. Transactions per second (TPS) is the throughput and unit of billing for Amazon Personalize. The minimum provisioned TPS (<code>minProvisionedTPS</code>) specifies the baseline throughput provisioned by Amazon Personalize, and thus, the minimum billing charge. </p> <p> If your TPS increases beyond <code>minProvisionedTPS</code>, Amazon Personalize auto-scales the provisioned capacity up and down, but never below <code>minProvisionedTPS</code>. There's a short time delay while the capacity is increased that might cause loss of transactions.</p> <p>The actual TPS used is calculated as the average requests/second within a 5-minute window. You pay for maximum of either the minimum provisioned TPS or the actual TPS. We recommend starting with a low <code>minProvisionedTPS</code>, track your usage using Amazon CloudWatch metrics, and then increase the <code>minProvisionedTPS</code> as necessary.</p> <p> <b>Status</b> </p> <p>A campaign can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the campaign status, call <a>DescribeCampaign</a>.</p> <note> <p>Wait until the <code>status</code> of the campaign is <code>ACTIVE</code> before asking the campaign for recommendations.</p> </note> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListCampaigns</a> </p> </li> <li> <p> <a>DescribeCampaign</a> </p> </li> <li> <p> <a>UpdateCampaign</a> </p> </li> <li> <p> <a>DeleteCampaign</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCampaignRequest",
        "variableName" : "createCampaignRequest",
        "variableType" : "CreateCampaignRequest",
        "documentation" : "",
        "simpleType" : "CreateCampaignRequest",
        "variableSetterType" : "CreateCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCampaign",
      "operationName" : "CreateCampaign",
      "returnType" : {
        "returnType" : "CreateCampaignResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCampaignResult"
    },
    "CreateDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetRequest, CreateDatasetResult>",
      "asyncReturnType" : "CreateDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an empty dataset and adds it to the specified dataset group. Use <a>CreateDatasetImportJob</a> to import your training data to a dataset.</p> <p>There are three types of datasets:</p> <ul> <li> <p>Interactions</p> </li> <li> <p>Items</p> </li> <li> <p>Users</p> </li> </ul> <p>Each dataset type has an associated schema with required field types. Only the <code>Interactions</code> dataset is required in order to train a model (also referred to as creating a solution).</p> <p>A dataset can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the status of the dataset, call <a>DescribeDataset</a>.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>CreateDatasetGroup</a> </p> </li> <li> <p> <a>ListDatasets</a> </p> </li> <li> <p> <a>DescribeDataset</a> </p> </li> <li> <p> <a>DeleteDataset</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetRequest",
        "variableName" : "createDatasetRequest",
        "variableType" : "CreateDatasetRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetRequest",
        "variableSetterType" : "CreateDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataset",
      "operationName" : "CreateDataset",
      "returnType" : {
        "returnType" : "CreateDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetResult"
    },
    "CreateDatasetExportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetExportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetExportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetExportJobRequest, CreateDatasetExportJobResult>",
      "asyncReturnType" : "CreateDatasetExportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a job that exports data from your dataset to an Amazon S3 bucket. To allow Amazon Personalize to export the training data, you must specify an service-linked AWS Identity and Access Management (IAM) role that gives Amazon Personalize <code>PutObject</code> permissions for your Amazon S3 bucket. For information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/export-data.html\">Exporting a dataset</a> in the Amazon Personalize developer guide. </p> <p> <b>Status</b> </p> <p>A dataset export job can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> </ul> <p> To get the status of the export job, call <a>DescribeDatasetExportJob</a>, and specify the Amazon Resource Name (ARN) of the dataset export job. The dataset export is complete when the status shows as ACTIVE. If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the job failed. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetExportJobRequest",
        "variableName" : "createDatasetExportJobRequest",
        "variableType" : "CreateDatasetExportJobRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetExportJobRequest",
        "variableSetterType" : "CreateDatasetExportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatasetExportJob",
      "operationName" : "CreateDatasetExportJob",
      "returnType" : {
        "returnType" : "CreateDatasetExportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetExportJobResult"
    },
    "CreateDatasetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetGroupRequest, CreateDatasetGroupResult>",
      "asyncReturnType" : "CreateDatasetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an empty dataset group. A dataset group contains related datasets that supply data for training a model. A dataset group can contain at most three datasets, one for each type of dataset:</p> <ul> <li> <p>Interactions</p> </li> <li> <p>Items</p> </li> <li> <p>Users</p> </li> </ul> <p>To train a model (create a solution), a dataset group that contains an <code>Interactions</code> dataset is required. Call <a>CreateDataset</a> to add a dataset to the group.</p> <p>A dataset group can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING</p> </li> </ul> <p>To get the status of the dataset group, call <a>DescribeDatasetGroup</a>. If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the creation failed.</p> <note> <p>You must wait until the <code>status</code> of the dataset group is <code>ACTIVE</code> before adding a dataset to the group.</p> </note> <p>You can specify an AWS Key Management Service (KMS) key to encrypt the datasets in the group. If you specify a KMS key, you must also include an AWS Identity and Access Management (IAM) role that has permission to access the key.</p> <p class=\"title\"> <b>APIs that require a dataset group ARN in the request</b> </p> <ul> <li> <p> <a>CreateDataset</a> </p> </li> <li> <p> <a>CreateEventTracker</a> </p> </li> <li> <p> <a>CreateSolution</a> </p> </li> </ul> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListDatasetGroups</a> </p> </li> <li> <p> <a>DescribeDatasetGroup</a> </p> </li> <li> <p> <a>DeleteDatasetGroup</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetGroupRequest",
        "variableName" : "createDatasetGroupRequest",
        "variableType" : "CreateDatasetGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetGroupRequest",
        "variableSetterType" : "CreateDatasetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatasetGroup",
      "operationName" : "CreateDatasetGroup",
      "returnType" : {
        "returnType" : "CreateDatasetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetGroupResult"
    },
    "CreateDatasetImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetImportJobRequest, CreateDatasetImportJobResult>",
      "asyncReturnType" : "CreateDatasetImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a job that imports training data from your data source (an Amazon S3 bucket) to an Amazon Personalize dataset. To allow Amazon Personalize to import the training data, you must specify an AWS Identity and Access Management (IAM) service role that has permission to read from the data source, as Amazon Personalize makes a copy of your data and processes it in an internal AWS system. For information on granting access to your Amazon S3 bucket, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/granting-personalize-s3-access.html\">Giving Amazon Personalize Access to Amazon S3 Resources</a>. </p> <important> <p>The dataset import job replaces any existing data in the dataset that you imported in bulk.</p> </important> <p> <b>Status</b> </p> <p>A dataset import job can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> </ul> <p>To get the status of the import job, call <a>DescribeDatasetImportJob</a>, providing the Amazon Resource Name (ARN) of the dataset import job. The dataset import is complete when the status shows as ACTIVE. If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the job failed.</p> <note> <p>Importing takes time. You must wait until the status shows as ACTIVE before training a model using the dataset.</p> </note> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListDatasetImportJobs</a> </p> </li> <li> <p> <a>DescribeDatasetImportJob</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetImportJobRequest",
        "variableName" : "createDatasetImportJobRequest",
        "variableType" : "CreateDatasetImportJobRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetImportJobRequest",
        "variableSetterType" : "CreateDatasetImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatasetImportJob",
      "operationName" : "CreateDatasetImportJob",
      "returnType" : {
        "returnType" : "CreateDatasetImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetImportJobResult"
    },
    "CreateEventTracker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEventTrackerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEventTrackerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEventTrackerRequest, CreateEventTrackerResult>",
      "asyncReturnType" : "CreateEventTrackerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an event tracker that you use when adding event data to a specified dataset group using the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UBS_PutEvents.html\">PutEvents</a> API.</p> <note> <p>Only one event tracker can be associated with a dataset group. You will get an error if you call <code>CreateEventTracker</code> using the same dataset group as an existing event tracker.</p> </note> <p>When you create an event tracker, the response includes a tracking ID, which you pass as a parameter when you use the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UBS_PutEvents.html\">PutEvents</a> operation. Amazon Personalize then appends the event data to the Interactions dataset of the dataset group you specify in your event tracker. </p> <p>The event tracker can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the status of the event tracker, call <a>DescribeEventTracker</a>.</p> <note> <p>The event tracker must be in the ACTIVE state before using the tracking ID.</p> </note> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListEventTrackers</a> </p> </li> <li> <p> <a>DescribeEventTracker</a> </p> </li> <li> <p> <a>DeleteEventTracker</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEventTrackerRequest",
        "variableName" : "createEventTrackerRequest",
        "variableType" : "CreateEventTrackerRequest",
        "documentation" : "",
        "simpleType" : "CreateEventTrackerRequest",
        "variableSetterType" : "CreateEventTrackerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEventTracker",
      "operationName" : "CreateEventTracker",
      "returnType" : {
        "returnType" : "CreateEventTrackerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEventTrackerResult"
    },
    "CreateFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFilterRequest, CreateFilterResult>",
      "asyncReturnType" : "CreateFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a recommendation filter. For more information, see <a>filter</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFilterRequest",
        "variableName" : "createFilterRequest",
        "variableType" : "CreateFilterRequest",
        "documentation" : "",
        "simpleType" : "CreateFilterRequest",
        "variableSetterType" : "CreateFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFilter",
      "operationName" : "CreateFilter",
      "returnType" : {
        "returnType" : "CreateFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFilterResult"
    },
    "CreateSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSchemaRequest, CreateSchemaResult>",
      "asyncReturnType" : "CreateSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Personalize schema from the specified schema string. The schema you create must be in Avro JSON format.</p> <p>Amazon Personalize recognizes three schema variants. Each schema is associated with a dataset type and has a set of required field and keywords. You specify a schema when you call <a>CreateDataset</a>.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListSchemas</a> </p> </li> <li> <p> <a>DescribeSchema</a> </p> </li> <li> <p> <a>DeleteSchema</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSchemaRequest",
        "variableName" : "createSchemaRequest",
        "variableType" : "CreateSchemaRequest",
        "documentation" : "",
        "simpleType" : "CreateSchemaRequest",
        "variableSetterType" : "CreateSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSchema",
      "operationName" : "CreateSchema",
      "returnType" : {
        "returnType" : "CreateSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSchemaResult"
    },
    "CreateSolution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSolutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSolutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSolutionRequest, CreateSolutionResult>",
      "asyncReturnType" : "CreateSolutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the configuration for training a model. A trained model is known as a solution. After the configuration is created, you train the model (create a solution) by calling the <a>CreateSolutionVersion</a> operation. Every time you call <code>CreateSolutionVersion</code>, a new version of the solution is created.</p> <p>After creating a solution version, you check its accuracy by calling <a>GetSolutionMetrics</a>. When you are satisfied with the version, you deploy it using <a>CreateCampaign</a>. The campaign provides recommendations to a client through the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> API.</p> <p>To train a model, Amazon Personalize requires training data and a recipe. The training data comes from the dataset group that you provide in the request. A recipe specifies the training algorithm and a feature transformation. You can specify one of the predefined recipes provided by Amazon Personalize. Alternatively, you can specify <code>performAutoML</code> and Amazon Personalize will analyze your data and select the optimum USER_PERSONALIZATION recipe for you.</p> <note> <p>Amazon Personalize doesn't support configuring the <code>hpoObjective</code> for solution hyperparameter optimization at this time.</p> </note> <p> <b>Status</b> </p> <p>A solution can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the status of the solution, call <a>DescribeSolution</a>. Wait until the status shows as ACTIVE before calling <code>CreateSolutionVersion</code>.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListSolutions</a> </p> </li> <li> <p> <a>CreateSolutionVersion</a> </p> </li> <li> <p> <a>DescribeSolution</a> </p> </li> <li> <p> <a>DeleteSolution</a> </p> </li> </ul> <ul> <li> <p> <a>ListSolutionVersions</a> </p> </li> <li> <p> <a>DescribeSolutionVersion</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSolutionRequest",
        "variableName" : "createSolutionRequest",
        "variableType" : "CreateSolutionRequest",
        "documentation" : "",
        "simpleType" : "CreateSolutionRequest",
        "variableSetterType" : "CreateSolutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSolution",
      "operationName" : "CreateSolution",
      "returnType" : {
        "returnType" : "CreateSolutionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSolutionResult"
    },
    "CreateSolutionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSolutionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSolutionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSolutionVersionRequest, CreateSolutionVersionResult>",
      "asyncReturnType" : "CreateSolutionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Trains or retrains an active solution. A solution is created using the <a>CreateSolution</a> operation and must be in the ACTIVE state before calling <code>CreateSolutionVersion</code>. A new version of the solution is created every time you call this operation.</p> <p> <b>Status</b> </p> <p>A solution version can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING</p> </li> <li> <p>CREATE IN_PROGRESS</p> </li> <li> <p>ACTIVE</p> </li> <li> <p>CREATE FAILED</p> </li> <li> <p>CREATE STOPPING</p> </li> <li> <p>CREATE STOPPED</p> </li> </ul> <p>To get the status of the version, call <a>DescribeSolutionVersion</a>. Wait until the status shows as ACTIVE before calling <code>CreateCampaign</code>.</p> <p>If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the job failed.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListSolutionVersions</a> </p> </li> <li> <p> <a>DescribeSolutionVersion</a> </p> </li> </ul> <ul> <li> <p> <a>ListSolutions</a> </p> </li> <li> <p> <a>CreateSolution</a> </p> </li> <li> <p> <a>DescribeSolution</a> </p> </li> <li> <p> <a>DeleteSolution</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSolutionVersionRequest",
        "variableName" : "createSolutionVersionRequest",
        "variableType" : "CreateSolutionVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateSolutionVersionRequest",
        "variableSetterType" : "CreateSolutionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSolutionVersion",
      "operationName" : "CreateSolutionVersion",
      "returnType" : {
        "returnType" : "CreateSolutionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSolutionVersionResult"
    },
    "DeleteCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCampaignRequest, DeleteCampaignResult>",
      "asyncReturnType" : "DeleteCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a campaign by deleting the solution deployment. The solution that the campaign is based on is not deleted and can be redeployed when needed. A deleted campaign can no longer be specified in a <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> request. For more information on campaigns, see <a>CreateCampaign</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCampaignRequest",
        "variableName" : "deleteCampaignRequest",
        "variableType" : "DeleteCampaignRequest",
        "documentation" : "",
        "simpleType" : "DeleteCampaignRequest",
        "variableSetterType" : "DeleteCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCampaign",
      "operationName" : "DeleteCampaign",
      "returnType" : {
        "returnType" : "DeleteCampaignResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCampaignResult"
    },
    "DeleteDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetRequest, DeleteDatasetResult>",
      "asyncReturnType" : "DeleteDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a dataset. You can't delete a dataset if an associated <code>DatasetImportJob</code> or <code>SolutionVersion</code> is in the CREATE PENDING or IN PROGRESS state. For more information on datasets, see <a>CreateDataset</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatasetRequest",
        "variableName" : "deleteDatasetRequest",
        "variableType" : "DeleteDatasetRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatasetRequest",
        "variableSetterType" : "DeleteDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataset",
      "operationName" : "DeleteDataset",
      "returnType" : {
        "returnType" : "DeleteDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatasetResult"
    },
    "DeleteDatasetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetGroupRequest, DeleteDatasetGroupResult>",
      "asyncReturnType" : "DeleteDatasetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a dataset group. Before you delete a dataset group, you must delete the following:</p> <ul> <li> <p>All associated event trackers.</p> </li> <li> <p>All associated solutions.</p> </li> <li> <p>All datasets in the dataset group.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatasetGroupRequest",
        "variableName" : "deleteDatasetGroupRequest",
        "variableType" : "DeleteDatasetGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatasetGroupRequest",
        "variableSetterType" : "DeleteDatasetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDatasetGroup",
      "operationName" : "DeleteDatasetGroup",
      "returnType" : {
        "returnType" : "DeleteDatasetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatasetGroupResult"
    },
    "DeleteEventTracker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventTrackerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventTrackerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventTrackerRequest, DeleteEventTrackerResult>",
      "asyncReturnType" : "DeleteEventTrackerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the event tracker. Does not delete the event-interactions dataset from the associated dataset group. For more information on event trackers, see <a>CreateEventTracker</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEventTrackerRequest",
        "variableName" : "deleteEventTrackerRequest",
        "variableType" : "DeleteEventTrackerRequest",
        "documentation" : "",
        "simpleType" : "DeleteEventTrackerRequest",
        "variableSetterType" : "DeleteEventTrackerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEventTracker",
      "operationName" : "DeleteEventTracker",
      "returnType" : {
        "returnType" : "DeleteEventTrackerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEventTrackerResult"
    },
    "DeleteFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFilterRequest, DeleteFilterResult>",
      "asyncReturnType" : "DeleteFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a filter.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFilterRequest",
        "variableName" : "deleteFilterRequest",
        "variableType" : "DeleteFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteFilterRequest",
        "variableSetterType" : "DeleteFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFilter",
      "operationName" : "DeleteFilter",
      "returnType" : {
        "returnType" : "DeleteFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFilterResult"
    },
    "DeleteSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSchemaRequest, DeleteSchemaResult>",
      "asyncReturnType" : "DeleteSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a schema. Before deleting a schema, you must delete all datasets referencing the schema. For more information on schemas, see <a>CreateSchema</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSchemaRequest",
        "variableName" : "deleteSchemaRequest",
        "variableType" : "DeleteSchemaRequest",
        "documentation" : "",
        "simpleType" : "DeleteSchemaRequest",
        "variableSetterType" : "DeleteSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSchema",
      "operationName" : "DeleteSchema",
      "returnType" : {
        "returnType" : "DeleteSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSchemaResult"
    },
    "DeleteSolution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSolutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSolutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSolutionRequest, DeleteSolutionResult>",
      "asyncReturnType" : "DeleteSolutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes all versions of a solution and the <code>Solution</code> object itself. Before deleting a solution, you must delete all campaigns based on the solution. To determine what campaigns are using the solution, call <a>ListCampaigns</a> and supply the Amazon Resource Name (ARN) of the solution. You can't delete a solution if an associated <code>SolutionVersion</code> is in the CREATE PENDING or IN PROGRESS state. For more information on solutions, see <a>CreateSolution</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSolutionRequest",
        "variableName" : "deleteSolutionRequest",
        "variableType" : "DeleteSolutionRequest",
        "documentation" : "",
        "simpleType" : "DeleteSolutionRequest",
        "variableSetterType" : "DeleteSolutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSolution",
      "operationName" : "DeleteSolution",
      "returnType" : {
        "returnType" : "DeleteSolutionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSolutionResult"
    },
    "DescribeAlgorithm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlgorithmResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlgorithmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlgorithmRequest, DescribeAlgorithmResult>",
      "asyncReturnType" : "DescribeAlgorithmResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the given algorithm.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAlgorithmRequest",
        "variableName" : "describeAlgorithmRequest",
        "variableType" : "DescribeAlgorithmRequest",
        "documentation" : "",
        "simpleType" : "DescribeAlgorithmRequest",
        "variableSetterType" : "DescribeAlgorithmRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlgorithm",
      "operationName" : "DescribeAlgorithm",
      "returnType" : {
        "returnType" : "DescribeAlgorithmResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAlgorithmResult"
    },
    "DescribeBatchInferenceJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBatchInferenceJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBatchInferenceJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBatchInferenceJobRequest, DescribeBatchInferenceJobResult>",
      "asyncReturnType" : "DescribeBatchInferenceJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties of a batch inference job including name, Amazon Resource Name (ARN), status, input and output configurations, and the ARN of the solution version used to generate the recommendations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBatchInferenceJobRequest",
        "variableName" : "describeBatchInferenceJobRequest",
        "variableType" : "DescribeBatchInferenceJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeBatchInferenceJobRequest",
        "variableSetterType" : "DescribeBatchInferenceJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBatchInferenceJob",
      "operationName" : "DescribeBatchInferenceJob",
      "returnType" : {
        "returnType" : "DescribeBatchInferenceJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBatchInferenceJobResult"
    },
    "DescribeCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCampaignRequest, DescribeCampaignResult>",
      "asyncReturnType" : "DescribeCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the given campaign, including its status.</p> <p>A campaign can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>When the <code>status</code> is <code>CREATE FAILED</code>, the response includes the <code>failureReason</code> key, which describes why.</p> <p>For more information on campaigns, see <a>CreateCampaign</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCampaignRequest",
        "variableName" : "describeCampaignRequest",
        "variableType" : "DescribeCampaignRequest",
        "documentation" : "",
        "simpleType" : "DescribeCampaignRequest",
        "variableSetterType" : "DescribeCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCampaign",
      "operationName" : "DescribeCampaign",
      "returnType" : {
        "returnType" : "DescribeCampaignResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCampaignResult"
    },
    "DescribeDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetRequest, DescribeDatasetResult>",
      "asyncReturnType" : "DescribeDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the given dataset. For more information on datasets, see <a>CreateDataset</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetRequest",
        "variableName" : "describeDatasetRequest",
        "variableType" : "DescribeDatasetRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetRequest",
        "variableSetterType" : "DescribeDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataset",
      "operationName" : "DescribeDataset",
      "returnType" : {
        "returnType" : "DescribeDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetResult"
    },
    "DescribeDatasetExportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetExportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetExportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetExportJobRequest, DescribeDatasetExportJobResult>",
      "asyncReturnType" : "DescribeDatasetExportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the dataset export job created by <a>CreateDatasetExportJob</a>, including the export job status.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetExportJobRequest",
        "variableName" : "describeDatasetExportJobRequest",
        "variableType" : "DescribeDatasetExportJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetExportJobRequest",
        "variableSetterType" : "DescribeDatasetExportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDatasetExportJob",
      "operationName" : "DescribeDatasetExportJob",
      "returnType" : {
        "returnType" : "DescribeDatasetExportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetExportJobResult"
    },
    "DescribeDatasetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetGroupRequest, DescribeDatasetGroupResult>",
      "asyncReturnType" : "DescribeDatasetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the given dataset group. For more information on dataset groups, see <a>CreateDatasetGroup</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetGroupRequest",
        "variableName" : "describeDatasetGroupRequest",
        "variableType" : "DescribeDatasetGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetGroupRequest",
        "variableSetterType" : "DescribeDatasetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDatasetGroup",
      "operationName" : "DescribeDatasetGroup",
      "returnType" : {
        "returnType" : "DescribeDatasetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetGroupResult"
    },
    "DescribeDatasetImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetImportJobRequest, DescribeDatasetImportJobResult>",
      "asyncReturnType" : "DescribeDatasetImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the dataset import job created by <a>CreateDatasetImportJob</a>, including the import job status.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetImportJobRequest",
        "variableName" : "describeDatasetImportJobRequest",
        "variableType" : "DescribeDatasetImportJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetImportJobRequest",
        "variableSetterType" : "DescribeDatasetImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDatasetImportJob",
      "operationName" : "DescribeDatasetImportJob",
      "returnType" : {
        "returnType" : "DescribeDatasetImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetImportJobResult"
    },
    "DescribeEventTracker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventTrackerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventTrackerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventTrackerRequest, DescribeEventTrackerResult>",
      "asyncReturnType" : "DescribeEventTrackerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an event tracker. The response includes the <code>trackingId</code> and <code>status</code> of the event tracker. For more information on event trackers, see <a>CreateEventTracker</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEventTrackerRequest",
        "variableName" : "describeEventTrackerRequest",
        "variableType" : "DescribeEventTrackerRequest",
        "documentation" : "",
        "simpleType" : "DescribeEventTrackerRequest",
        "variableSetterType" : "DescribeEventTrackerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEventTracker",
      "operationName" : "DescribeEventTracker",
      "returnType" : {
        "returnType" : "DescribeEventTrackerResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEventTrackerResult"
    },
    "DescribeFeatureTransformation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFeatureTransformationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFeatureTransformationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFeatureTransformationRequest, DescribeFeatureTransformationResult>",
      "asyncReturnType" : "DescribeFeatureTransformationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the given feature transformation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFeatureTransformationRequest",
        "variableName" : "describeFeatureTransformationRequest",
        "variableType" : "DescribeFeatureTransformationRequest",
        "documentation" : "",
        "simpleType" : "DescribeFeatureTransformationRequest",
        "variableSetterType" : "DescribeFeatureTransformationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFeatureTransformation",
      "operationName" : "DescribeFeatureTransformation",
      "returnType" : {
        "returnType" : "DescribeFeatureTransformationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFeatureTransformationResult"
    },
    "DescribeFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFilterRequest, DescribeFilterResult>",
      "asyncReturnType" : "DescribeFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a filter's properties.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFilterRequest",
        "variableName" : "describeFilterRequest",
        "variableType" : "DescribeFilterRequest",
        "documentation" : "",
        "simpleType" : "DescribeFilterRequest",
        "variableSetterType" : "DescribeFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFilter",
      "operationName" : "DescribeFilter",
      "returnType" : {
        "returnType" : "DescribeFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFilterResult"
    },
    "DescribeRecipe" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRecipeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRecipeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRecipeRequest, DescribeRecipeResult>",
      "asyncReturnType" : "DescribeRecipeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a recipe.</p> <p>A recipe contains three items:</p> <ul> <li> <p>An algorithm that trains a model.</p> </li> <li> <p>Hyperparameters that govern the training.</p> </li> <li> <p>Feature transformation information for modifying the input data before training.</p> </li> </ul> <p>Amazon Personalize provides a set of predefined recipes. You specify a recipe when you create a solution with the <a>CreateSolution</a> API. <code>CreateSolution</code> trains a model by using the algorithm in the specified recipe and a training dataset. The solution, when deployed as a campaign, can provide recommendations using the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRecipeRequest",
        "variableName" : "describeRecipeRequest",
        "variableType" : "DescribeRecipeRequest",
        "documentation" : "",
        "simpleType" : "DescribeRecipeRequest",
        "variableSetterType" : "DescribeRecipeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRecipe",
      "operationName" : "DescribeRecipe",
      "returnType" : {
        "returnType" : "DescribeRecipeResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRecipeResult"
    },
    "DescribeSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSchemaRequest, DescribeSchemaResult>",
      "asyncReturnType" : "DescribeSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a schema. For more information on schemas, see <a>CreateSchema</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSchemaRequest",
        "variableName" : "describeSchemaRequest",
        "variableType" : "DescribeSchemaRequest",
        "documentation" : "",
        "simpleType" : "DescribeSchemaRequest",
        "variableSetterType" : "DescribeSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSchema",
      "operationName" : "DescribeSchema",
      "returnType" : {
        "returnType" : "DescribeSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSchemaResult"
    },
    "DescribeSolution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSolutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSolutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSolutionRequest, DescribeSolutionResult>",
      "asyncReturnType" : "DescribeSolutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a solution. For more information on solutions, see <a>CreateSolution</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSolutionRequest",
        "variableName" : "describeSolutionRequest",
        "variableType" : "DescribeSolutionRequest",
        "documentation" : "",
        "simpleType" : "DescribeSolutionRequest",
        "variableSetterType" : "DescribeSolutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSolution",
      "operationName" : "DescribeSolution",
      "returnType" : {
        "returnType" : "DescribeSolutionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSolutionResult"
    },
    "DescribeSolutionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSolutionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSolutionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSolutionVersionRequest, DescribeSolutionVersionResult>",
      "asyncReturnType" : "DescribeSolutionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a specific version of a solution. For more information on solutions, see <a>CreateSolution</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSolutionVersionRequest",
        "variableName" : "describeSolutionVersionRequest",
        "variableType" : "DescribeSolutionVersionRequest",
        "documentation" : "",
        "simpleType" : "DescribeSolutionVersionRequest",
        "variableSetterType" : "DescribeSolutionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSolutionVersion",
      "operationName" : "DescribeSolutionVersion",
      "returnType" : {
        "returnType" : "DescribeSolutionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSolutionVersionResult"
    },
    "GetSolutionMetrics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSolutionMetricsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSolutionMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSolutionMetricsRequest, GetSolutionMetricsResult>",
      "asyncReturnType" : "GetSolutionMetricsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the metrics for the specified solution version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Could not find the specified resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSolutionMetricsRequest",
        "variableName" : "getSolutionMetricsRequest",
        "variableType" : "GetSolutionMetricsRequest",
        "documentation" : "",
        "simpleType" : "GetSolutionMetricsRequest",
        "variableSetterType" : "GetSolutionMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSolutionMetrics",
      "operationName" : "GetSolutionMetrics",
      "returnType" : {
        "returnType" : "GetSolutionMetricsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSolutionMetricsResult"
    },
    "ListBatchInferenceJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBatchInferenceJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBatchInferenceJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBatchInferenceJobsRequest, ListBatchInferenceJobsResult>",
      "asyncReturnType" : "ListBatchInferenceJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the batch inference jobs that have been performed off of a solution version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBatchInferenceJobsRequest",
        "variableName" : "listBatchInferenceJobsRequest",
        "variableType" : "ListBatchInferenceJobsRequest",
        "documentation" : "",
        "simpleType" : "ListBatchInferenceJobsRequest",
        "variableSetterType" : "ListBatchInferenceJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBatchInferenceJobs",
      "operationName" : "ListBatchInferenceJobs",
      "returnType" : {
        "returnType" : "ListBatchInferenceJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBatchInferenceJobsResult"
    },
    "ListCampaigns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCampaignsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCampaignsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCampaignsRequest, ListCampaignsResult>",
      "asyncReturnType" : "ListCampaignsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of campaigns that use the given solution. When a solution is not specified, all the campaigns associated with the account are listed. The response provides the properties for each campaign, including the Amazon Resource Name (ARN). For more information on campaigns, see <a>CreateCampaign</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCampaignsRequest",
        "variableName" : "listCampaignsRequest",
        "variableType" : "ListCampaignsRequest",
        "documentation" : "",
        "simpleType" : "ListCampaignsRequest",
        "variableSetterType" : "ListCampaignsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCampaigns",
      "operationName" : "ListCampaigns",
      "returnType" : {
        "returnType" : "ListCampaignsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCampaignsResult"
    },
    "ListDatasetExportJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetExportJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetExportJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetExportJobsRequest, ListDatasetExportJobsResult>",
      "asyncReturnType" : "ListDatasetExportJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of dataset export jobs that use the given dataset. When a dataset is not specified, all the dataset export jobs associated with the account are listed. The response provides the properties for each dataset export job, including the Amazon Resource Name (ARN). For more information on dataset export jobs, see <a>CreateDatasetExportJob</a>. For more information on datasets, see <a>CreateDataset</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetExportJobsRequest",
        "variableName" : "listDatasetExportJobsRequest",
        "variableType" : "ListDatasetExportJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetExportJobsRequest",
        "variableSetterType" : "ListDatasetExportJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasetExportJobs",
      "operationName" : "ListDatasetExportJobs",
      "returnType" : {
        "returnType" : "ListDatasetExportJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetExportJobsResult"
    },
    "ListDatasetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetGroupsRequest, ListDatasetGroupsResult>",
      "asyncReturnType" : "ListDatasetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of dataset groups. The response provides the properties for each dataset group, including the Amazon Resource Name (ARN). For more information on dataset groups, see <a>CreateDatasetGroup</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetGroupsRequest",
        "variableName" : "listDatasetGroupsRequest",
        "variableType" : "ListDatasetGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetGroupsRequest",
        "variableSetterType" : "ListDatasetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasetGroups",
      "operationName" : "ListDatasetGroups",
      "returnType" : {
        "returnType" : "ListDatasetGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetGroupsResult"
    },
    "ListDatasetImportJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetImportJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetImportJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetImportJobsRequest, ListDatasetImportJobsResult>",
      "asyncReturnType" : "ListDatasetImportJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of dataset import jobs that use the given dataset. When a dataset is not specified, all the dataset import jobs associated with the account are listed. The response provides the properties for each dataset import job, including the Amazon Resource Name (ARN). For more information on dataset import jobs, see <a>CreateDatasetImportJob</a>. For more information on datasets, see <a>CreateDataset</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetImportJobsRequest",
        "variableName" : "listDatasetImportJobsRequest",
        "variableType" : "ListDatasetImportJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetImportJobsRequest",
        "variableSetterType" : "ListDatasetImportJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasetImportJobs",
      "operationName" : "ListDatasetImportJobs",
      "returnType" : {
        "returnType" : "ListDatasetImportJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetImportJobsResult"
    },
    "ListDatasets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetsRequest, ListDatasetsResult>",
      "asyncReturnType" : "ListDatasetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of datasets contained in the given dataset group. The response provides the properties for each dataset, including the Amazon Resource Name (ARN). For more information on datasets, see <a>CreateDataset</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetsRequest",
        "variableName" : "listDatasetsRequest",
        "variableType" : "ListDatasetsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetsRequest",
        "variableSetterType" : "ListDatasetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasets",
      "operationName" : "ListDatasets",
      "returnType" : {
        "returnType" : "ListDatasetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetsResult"
    },
    "ListEventTrackers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventTrackersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventTrackersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventTrackersRequest, ListEventTrackersResult>",
      "asyncReturnType" : "ListEventTrackersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of event trackers associated with the account. The response provides the properties for each event tracker, including the Amazon Resource Name (ARN) and tracking ID. For more information on event trackers, see <a>CreateEventTracker</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEventTrackersRequest",
        "variableName" : "listEventTrackersRequest",
        "variableType" : "ListEventTrackersRequest",
        "documentation" : "",
        "simpleType" : "ListEventTrackersRequest",
        "variableSetterType" : "ListEventTrackersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEventTrackers",
      "operationName" : "ListEventTrackers",
      "returnType" : {
        "returnType" : "ListEventTrackersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEventTrackersResult"
    },
    "ListFilters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFiltersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFiltersRequest, ListFiltersResult>",
      "asyncReturnType" : "ListFiltersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all filters that belong to a given dataset group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFiltersRequest",
        "variableName" : "listFiltersRequest",
        "variableType" : "ListFiltersRequest",
        "documentation" : "",
        "simpleType" : "ListFiltersRequest",
        "variableSetterType" : "ListFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFilters",
      "operationName" : "ListFilters",
      "returnType" : {
        "returnType" : "ListFiltersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFiltersResult"
    },
    "ListRecipes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecipesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecipesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecipesRequest, ListRecipesResult>",
      "asyncReturnType" : "ListRecipesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of available recipes. The response provides the properties for each recipe, including the recipe's Amazon Resource Name (ARN).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
[...]
