{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-22",
    "asyncClient" : "AmazonPersonalizeRuntimeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonPersonalizeRuntimeAsyncClientBuilder",
    "asyncInterface" : "AmazonPersonalizeRuntimeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonPersonalizeRuntimeModuleInjector",
    "defaultEndpoint" : "personalize-runtime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "personalize-runtime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p/>",
    "endpointPrefix" : "personalize-runtime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.personalizeruntime",
    "packagePath" : "com/amazonaws/services/personalizeruntime",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Personalize Runtime",
    "serviceId" : "Personalize Runtime",
    "serviceName" : "Amazon Personalize Runtime",
    "signingName" : "personalize",
    "smokeTestsPackageName" : "com.amazonaws.services.personalizeruntime.smoketests",
    "syncClient" : "AmazonPersonalizeRuntimeClient",
    "syncClientBuilderClassName" : "AmazonPersonalizeRuntimeClientBuilder",
    "syncInterface" : "AmazonPersonalizeRuntime",
    "uid" : "personalize-runtime-2018-05-22",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetPersonalizedRanking" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPersonalizedRankingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPersonalizedRankingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPersonalizedRankingRequest, GetPersonalizedRankingResult>",
      "asyncReturnType" : "GetPersonalizedRankingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Re-ranks a list of recommended items for the given user. The first item in the list is deemed the most likely item to be of interest to the user.</p> <note> <p>The solution backing the campaign must have been created using a recipe of type PERSONALIZED_RANKING.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPersonalizedRankingRequest",
        "variableName" : "getPersonalizedRankingRequest",
        "variableType" : "GetPersonalizedRankingRequest",
        "documentation" : "",
        "simpleType" : "GetPersonalizedRankingRequest",
        "variableSetterType" : "GetPersonalizedRankingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPersonalizedRanking",
      "operationName" : "GetPersonalizedRanking",
      "returnType" : {
        "returnType" : "GetPersonalizedRankingResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPersonalizedRankingResult"
    },
    "GetRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecommendationsRequest, GetRecommendationsResult>",
      "asyncReturnType" : "GetRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of recommended items. The required input depends on the recipe type used to create the solution backing the campaign, as follows:</p> <ul> <li> <p>RELATED_ITEMS - <code>itemId</code> required, <code>userId</code> not used</p> </li> <li> <p>USER_PERSONALIZATION - <code>itemId</code> optional, <code>userId</code> required</p> </li> </ul> <note> <p>Campaigns that are backed by a solution created using a recipe of type PERSONALIZED_RANKING use the API.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecommendationsRequest",
        "variableName" : "getRecommendationsRequest",
        "variableType" : "GetRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "GetRecommendationsRequest",
        "variableSetterType" : "GetRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecommendations",
      "operationName" : "GetRecommendations",
      "returnType" : {
        "returnType" : "GetRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRecommendationsResult"
    }
  },
  "shapes" : {
    "GetPersonalizedRankingRequest" : {
      "c2jName" : "GetPersonalizedRankingRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetPersonalizedRanking",
        "locationName" : null,
        "requestUri" : "/personalize-ranking",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "campaignArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCampaignArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>\n@return The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.*/",
        "getterMethodName" : "getCampaignArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "campaignArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "campaignArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CampaignArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.*/",
        "setterMethodName" : "setCampaignArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "campaignArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "campaignArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "inputList",
        "c2jShape" : "InputList",
        "deprecated" : false,
        "documentation" : "<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>\n@param inputList A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInputList",
        "getterDocumentation" : "/**<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>\n@return A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.*/",
        "getterMethodName" : "getInputList",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "inputList",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "inputList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ItemID",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "InputList",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>\n@param inputList A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.*/",
        "setterMethodName" : "setInputList",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "inputList",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInputList(java.util.Collection)} or {@link #withInputList(java.util.Collection)} if you want to override the existing values.</p>\n@param inputList A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "inputList",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "userId",
        "c2jShape" : "UserID",
        "deprecated" : false,
        "documentation" : "<p>The user for which you want the campaign to provide a personalized ranking.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The user for which you want the campaign to provide a personalized ranking.</p>\n@param userId The user for which you want the campaign to provide a personalized ranking.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUserId",
        "getterDocumentation" : "/**<p>The user for which you want the campaign to provide a personalized ranking.</p>\n@return The user for which you want the campaign to provide a personalized ranking.*/",
        "getterMethodName" : "getUserId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "userId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "userId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UserId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The user for which you want the campaign to provide a personalized ranking.</p>\n@param userId The user for which you want the campaign to provide a personalized ranking.*/",
        "setterMethodName" : "setUserId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "userId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The user for which you want the campaign to provide a personalized ranking.</p>\n@param userId The user for which you want the campaign to provide a personalized ranking.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "userId",
          "variableType" : "String",
          "documentation" : "<p>The user for which you want the campaign to provide a personalized ranking.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CampaignArn" : {
          "c2jName" : "campaignArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCampaignArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>\n@return The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.*/",
          "getterMethodName" : "getCampaignArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "campaignArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "campaignArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CampaignArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.*/",
          "setterMethodName" : "setCampaignArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "campaignArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "campaignArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "InputList" : {
          "c2jName" : "inputList",
          "c2jShape" : "InputList",
          "deprecated" : false,
          "documentation" : "<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>\n@param inputList A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInputList",
          "getterDocumentation" : "/**<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>\n@return A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.*/",
          "getterMethodName" : "getInputList",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "inputList",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "inputList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ItemID",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "InputList",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>\n@param inputList A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.*/",
          "setterMethodName" : "setInputList",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "inputList",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInputList(java.util.Collection)} or {@link #withInputList(java.util.Collection)} if you want to override the existing values.</p>\n@param inputList A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "inputList",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>A list of items (itemId's) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "UserId" : {
          "c2jName" : "userId",
          "c2jShape" : "UserID",
          "deprecated" : false,
          "documentation" : "<p>The user for which you want the campaign to provide a personalized ranking.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The user for which you want the campaign to provide a personalized ranking.</p>\n@param userId The user for which you want the campaign to provide a personalized ranking.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUserId",
          "getterDocumentation" : "/**<p>The user for which you want the campaign to provide a personalized ranking.</p>\n@return The user for which you want the campaign to provide a personalized ranking.*/",
          "getterMethodName" : "getUserId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "userId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "userId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "UserId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The user for which you want the campaign to provide a personalized ranking.</p>\n@param userId The user for which you want the campaign to provide a personalized ranking.*/",
          "setterMethodName" : "setUserId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "userId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The user for which you want the campaign to provide a personalized ranking.</p>\n@param userId The user for which you want the campaign to provide a personalized ranking.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "userId",
            "variableType" : "String",
            "documentation" : "<p>The user for which you want the campaign to provide a personalized ranking.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "campaignArn", "inputList", "userId" ],
      "shapeName" : "GetPersonalizedRankingRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPersonalizedRankingRequest",
        "variableName" : "getPersonalizedRankingRequest",
        "variableType" : "GetPersonalizedRankingRequest",
        "documentation" : null,
        "simpleType" : "GetPersonalizedRankingRequest",
        "variableSetterType" : "GetPersonalizedRankingRequest"
      },
      "wrapper" : false
    },
    "GetPersonalizedRankingResult" : {
      "c2jName" : "GetPersonalizedRankingResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "personalizedRanking",
        "c2jShape" : "ItemList",
        "deprecated" : false,
        "documentation" : "<p>A list of items in order of most likely interest to the user.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of items in order of most likely interest to the user.</p>\n@param personalizedRanking A list of items in order of most likely interest to the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPersonalizedRanking",
        "getterDocumentation" : "/**<p>A list of items in order of most likely interest to the user.</p>\n@return A list of items in order of most likely interest to the user.*/",
        "getterMethodName" : "getPersonalizedRanking",
        "getterModel" : {
          "returnType" : "java.util.List<PredictedItem>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "personalizedRanking",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "personalizedRanking",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "PredictedItem",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "PredictedItem",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "PredictedItem",
              "variableName" : "member",
              "variableType" : "PredictedItem",
              "documentation" : "",
              "simpleType" : "PredictedItem",
              "variableSetterType" : "PredictedItem"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "PredictedItem",
              "variableName" : "member",
              "variableType" : "PredictedItem",
              "documentation" : "",
              "simpleType" : "PredictedItem",
              "variableSetterType" : "PredictedItem"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "PredictedItem",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "PredictedItem",
          "templateImplType" : "java.util.ArrayList<PredictedItem>",
          "templateType" : "java.util.List<PredictedItem>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "PersonalizedRanking",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of items in order of most likely interest to the user.</p>\n@param personalizedRanking A list of items in order of most likely interest to the user.*/",
        "setterMethodName" : "setPersonalizedRanking",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<PredictedItem>",
          "variableName" : "personalizedRanking",
          "variableType" : "java.util.List<PredictedItem>",
          "documentation" : "",
          "simpleType" : "List<PredictedItem>",
          "variableSetterType" : "java.util.Collection<PredictedItem>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of items in order of most likely interest to the user.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPersonalizedRanking(java.util.Collection)} or {@link #withPersonalizedRanking(java.util.Collection)} if you want to override the existing values.</p>\n@param personalizedRanking A list of items in order of most likely interest to the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<PredictedItem>",
          "variableName" : "personalizedRanking",
          "variableType" : "java.util.List<PredictedItem>",
          "documentation" : "<p>A list of items in order of most likely interest to the user.</p>",
          "simpleType" : "List<PredictedItem>",
          "variableSetterType" : "java.util.Collection<PredictedItem>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "PersonalizedRanking" : {
          "c2jName" : "personalizedRanking",
          "c2jShape" : "ItemList",
          "deprecated" : false,
          "documentation" : "<p>A list of items in order of most likely interest to the user.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of items in order of most likely interest to the user.</p>\n@param personalizedRanking A list of items in order of most likely interest to the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPersonalizedRanking",
          "getterDocumentation" : "/**<p>A list of items in order of most likely interest to the user.</p>\n@return A list of items in order of most likely interest to the user.*/",
          "getterMethodName" : "getPersonalizedRanking",
          "getterModel" : {
            "returnType" : "java.util.List<PredictedItem>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "personalizedRanking",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "personalizedRanking",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "PredictedItem",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "PredictedItem",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "PredictedItem",
                "variableName" : "member",
                "variableType" : "PredictedItem",
                "documentation" : "",
                "simpleType" : "PredictedItem",
                "variableSetterType" : "PredictedItem"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "PredictedItem",
                "variableName" : "member",
                "variableType" : "PredictedItem",
                "documentation" : "",
                "simpleType" : "PredictedItem",
                "variableSetterType" : "PredictedItem"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "PredictedItem",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "PredictedItem",
            "templateImplType" : "java.util.ArrayList<PredictedItem>",
            "templateType" : "java.util.List<PredictedItem>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "PersonalizedRanking",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of items in order of most likely interest to the user.</p>\n@param personalizedRanking A list of items in order of most likely interest to the user.*/",
          "setterMethodName" : "setPersonalizedRanking",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<PredictedItem>",
            "variableName" : "personalizedRanking",
            "variableType" : "java.util.List<PredictedItem>",
            "documentation" : "",
            "simpleType" : "List<PredictedItem>",
            "variableSetterType" : "java.util.Collection<PredictedItem>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of items in order of most likely interest to the user.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPersonalizedRanking(java.util.Collection)} or {@link #withPersonalizedRanking(java.util.Collection)} if you want to override the existing values.</p>\n@param personalizedRanking A list of items in order of most likely interest to the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<PredictedItem>",
            "variableName" : "personalizedRanking",
            "variableType" : "java.util.List<PredictedItem>",
            "documentation" : "<p>A list of items in order of most likely interest to the user.</p>",
            "simpleType" : "List<PredictedItem>",
            "variableSetterType" : "java.util.Collection<PredictedItem>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "GetPersonalizedRankingResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPersonalizedRankingResult",
        "variableName" : "getPersonalizedRankingResult",
        "variableType" : "GetPersonalizedRankingResult",
        "documentation" : null,
        "simpleType" : "GetPersonalizedRankingResult",
        "variableSetterType" : "GetPersonalizedRankingResult"
      },
      "wrapper" : false
    },
    "GetRecommendationsRequest" : {
      "c2jName" : "GetRecommendationsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetRecommendations",
        "locationName" : null,
        "requestUri" : "/recommendations",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "campaignArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCampaignArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>\n@return The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.*/",
        "getterMethodName" : "getCampaignArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "campaignArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "campaignArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CampaignArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.*/",
        "setterMethodName" : "setCampaignArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "campaignArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "campaignArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "itemId",
        "c2jShape" : "ItemID",
        "deprecated" : false,
        "documentation" : "<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>\n@param itemId The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withItemId",
        "getterDocumentation" : "/**<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>\n@return The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.*/",
        "getterMethodName" : "getItemId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "itemId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "itemId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ItemId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>\n@param itemId The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.*/",
        "setterMethodName" : "setItemId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "itemId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>\n@param itemId The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "itemId",
          "variableType" : "String",
          "documentation" : "<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "userId",
        "c2jShape" : "UserID",
        "deprecated" : false,
        "documentation" : "<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>\n@param userId The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUserId",
        "getterDocumentation" : "/**<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>\n@return The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.*/",
        "getterMethodName" : "getUserId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "userId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "userId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UserId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>\n@param userId The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.*/",
        "setterMethodName" : "setUserId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "userId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>\n@param userId The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "userId",
          "variableType" : "String",
          "documentation" : "<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "numResults",
        "c2jShape" : "NumResults",
        "deprecated" : false,
        "documentation" : "<p>The number of results to return. The default is 25. The maximum is 100.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of results to return. The default is 25. The maximum is 100.</p>\n@param numResults The number of results to return. The default is 25. The maximum is 100.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNumResults",
        "getterDocumentation" : "/**<p>The number of results to return. The default is 25. The maximum is 100.</p>\n@return The number of results to return. The default is 25. The maximum is 100.*/",
        "getterMethodName" : "getNumResults",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "numResults",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "numResults",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "NumResults",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of results to return. The default is 25. The maximum is 100.</p>\n@param numResults The number of results to return. The default is 25. The maximum is 100.*/",
        "setterMethodName" : "setNumResults",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "numResults",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of results to return. The default is 25. The maximum is 100.</p>\n@param numResults The number of results to return. The default is 25. The maximum is 100.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "numResults",
          "variableType" : "Integer",
          "documentation" : "<p>The number of results to return. The default is 25. The maximum is 100.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CampaignArn" : {
          "c2jName" : "campaignArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCampaignArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>\n@return The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.*/",
          "getterMethodName" : "getCampaignArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "campaignArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "campaignArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CampaignArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.*/",
          "setterMethodName" : "setCampaignArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "campaignArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>\n@param campaignArn The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "campaignArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ItemId" : {
          "c2jName" : "itemId",
          "c2jShape" : "ItemID",
          "deprecated" : false,
          "documentation" : "<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>\n@param itemId The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withItemId",
          "getterDocumentation" : "/**<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>\n@return The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.*/",
          "getterMethodName" : "getItemId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "itemId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "itemId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ItemId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>\n@param itemId The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.*/",
          "setterMethodName" : "setItemId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "itemId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>\n@param itemId The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "itemId",
            "variableType" : "String",
            "documentation" : "<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "NumResults" : {
          "c2jName" : "numResults",
          "c2jShape" : "NumResults",
          "deprecated" : false,
          "documentation" : "<p>The number of results to return. The default is 25. The maximum is 100.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of results to return. The default is 25. The maximum is 100.</p>\n@param numResults The number of results to return. The default is 25. The maximum is 100.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNumResults",
          "getterDocumentation" : "/**<p>The number of results to return. The default is 25. The maximum is 100.</p>\n@return The number of results to return. The default is 25. The maximum is 100.*/",
          "getterMethodName" : "getNumResults",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "numResults",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "numResults",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "NumResults",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The number of results to return. The default is 25. The maximum is 100.</p>\n@param numResults The number of results to return. The default is 25. The maximum is 100.*/",
          "setterMethodName" : "setNumResults",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "numResults",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of results to return. The default is 25. The maximum is 100.</p>\n@param numResults The number of results to return. The default is 25. The maximum is 100.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "numResults",
            "variableType" : "Integer",
            "documentation" : "<p>The number of results to return. The default is 25. The maximum is 100.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "UserId" : {
          "c2jName" : "userId",
          "c2jShape" : "UserID",
          "deprecated" : false,
          "documentation" : "<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>\n@param userId The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUserId",
          "getterDocumentation" : "/**<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>\n@return The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.*/",
          "getterMethodName" : "getUserId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "userId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "userId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "UserId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>\n@param userId The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.*/",
          "setterMethodName" : "setUserId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "userId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>\n@param userId The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "userId",
            "variableType" : "String",
            "documentation" : "<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "campaignArn" ],
      "shapeName" : "GetRecommendationsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecommendationsRequest",
        "variableName" : "getRecommendationsRequest",
        "variableType" : "GetRecommendationsRequest",
        "documentation" : null,
        "simpleType" : "GetRecommendationsRequest",
        "variableSetterType" : "GetRecommendationsRequest"
      },
      "wrapper" : false
    },
    "GetRecommendationsResult" : {
      "c2jName" : "GetRecommendationsResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "itemList",
        "c2jShape" : "ItemList",
        "deprecated" : false,
        "documentation" : "<p>A list of recommendations.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of recommendations.</p>\n@param itemList A list of recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withItemList",
        "getterDocumentation" : "/**<p>A list of recommendations.</p>\n@return A list of recommendations.*/",
        "getterMethodName" : "getItemList",
        "getterModel" : {
          "returnType" : "java.util.List<PredictedItem>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "itemList",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "itemList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "PredictedItem",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "PredictedItem",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "PredictedItem",
              "variableName" : "member",
              "variableType" : "PredictedItem",
              "documentation" : "",
              "simpleType" : "PredictedItem",
              "variableSetterType" : "PredictedItem"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "PredictedItem",
              "variableName" : "member",
              "variableType" : "PredictedItem",
              "documentation" : "",
              "simpleType" : "PredictedItem",
              "variableSetterType" : "PredictedItem"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "PredictedItem",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "PredictedItem",
          "templateImplType" : "java.util.ArrayList<PredictedItem>",
          "templateType" : "java.util.List<PredictedItem>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ItemList",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of recommendations.</p>\n@param itemList A list of recommendations.*/",
        "setterMethodName" : "setItemList",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<PredictedItem>",
          "variableName" : "itemList",
          "variableType" : "java.util.List<PredictedItem>",
          "documentation" : "",
          "simpleType" : "List<PredictedItem>",
          "variableSetterType" : "java.util.Collection<PredictedItem>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of recommendations.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setItemList(java.util.Collection)} or {@link #withItemList(java.util.Collection)} if you want to override the existing values.</p>\n@param itemList A list of recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<PredictedItem>",
          "variableName" : "itemList",
          "variableType" : "java.util.List<PredictedItem>",
          "documentation" : "<p>A list of recommendations.</p>",
          "simpleType" : "List<PredictedItem>",
          "variableSetterType" : "java.util.Collection<PredictedItem>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ItemList" : {
          "c2jName" : "itemList",
          "c2jShape" : "ItemList",
          "deprecated" : false,
          "documentation" : "<p>A list of recommendations.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of recommendations.</p>\n@param itemList A list of recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withItemList",
          "getterDocumentation" : "/**<p>A list of recommendations.</p>\n@return A list of recommendations.*/",
          "getterMethodName" : "getItemList",
          "getterModel" : {
            "returnType" : "java.util.List<PredictedItem>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "itemList",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "itemList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "PredictedItem",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "PredictedItem",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "PredictedItem",
                "variableName" : "member",
                "variableType" : "PredictedItem",
                "documentation" : "",
                "simpleType" : "PredictedItem",
                "variableSetterType" : "PredictedItem"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "PredictedItem",
                "variableName" : "member",
                "variableType" : "PredictedItem",
                "documentation" : "",
                "simpleType" : "PredictedItem",
                "variableSetterType" : "PredictedItem"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "PredictedItem",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "PredictedItem",
            "templateImplType" : "java.util.ArrayList<PredictedItem>",
            "templateType" : "java.util.List<PredictedItem>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ItemList",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of recommendations.</p>\n@param itemList A list of recommendations.*/",
          "setterMethodName" : "setItemList",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<PredictedItem>",
            "variableName" : "itemList",
            "variableType" : "java.util.List<PredictedItem>",
            "documentation" : "",
            "simpleType" : "List<PredictedItem>",
            "variableSetterType" : "java.util.Collection<PredictedItem>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of recommendations.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setItemList(java.util.Collection)} or {@link #withItemList(java.util.Collection)} if you want to override the existing values.</p>\n@param itemList A list of recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<PredictedItem>",
            "variableName" : "itemList",
            "variableType" : "java.util.List<PredictedItem>",
            "documentation" : "<p>A list of recommendations.</p>",
            "simpleType" : "List<PredictedItem>",
            "variableSetterType" : "java.util.Collection<PredictedItem>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "GetRecommendationsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecommendationsResult",
        "variableName" : "getRecommendationsResult",
        "variableType" : "GetRecommendationsResult",
        "documentation" : null,
        "simpleType" : "GetRecommendationsResult",
        "variableSetterType" : "GetRecommendationsResult"
      },
      "wrapper" : false
    },
    "InvalidInputException" : {
      "c2jName" : "InvalidInputException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provide a valid value for the field or parameter.</p>",
      "enums" : null,
      "errorCode" : "InvalidInputException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
[...]
