{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2016-12-01",
    "endpointPrefix" : "pinpoint",
    "jsonVersion" : "1.1",
    "protocol" : "rest-json",
    "resultWrapped" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Pinpoint",
    "signatureVersion" : "v4",
    "signingName" : "mobiletargeting",
    "targetPrefix" : null,
    "uid" : null,
    "xmlNamespace" : null
  },
  "operations" : {
    "CreateCampaign" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates or updates a campaign.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/campaigns",
        "responseCode" : "201"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateCampaignRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateCampaign",
      "output" : {
        "documentation" : "201 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateCampaignResponse"
      }
    },
    "CreateImportJob" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates or updates an import job.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/jobs/import",
        "responseCode" : "201"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateImportJobRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateImportJob",
      "output" : {
        "documentation" : "201 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateImportJobResponse"
      }
    },
    "CreateSegment" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Used to create or update a segment.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/segments",
        "responseCode" : "201"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateSegmentRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateSegment",
      "output" : {
        "documentation" : "201 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateSegmentResponse"
      }
    },
    "DeleteApnsChannel" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes the APNs channel for an app.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/apns",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteApnsChannelRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteApnsChannel",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteApnsChannelResponse"
      }
    },
    "DeleteCampaign" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes a campaign.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteCampaignRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteCampaign",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteCampaignResponse"
      }
    },
    "DeleteEventStream" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes the event stream for an app.",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/eventstream",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteEventStreamRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteEventStream",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteEventStreamResponse"
      }
    },
    "DeleteGcmChannel" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes the GCM channel for an app.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/gcm",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteGcmChannelRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteGcmChannel",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteGcmChannelResponse"
      }
    },
    "DeleteSegment" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes a segment.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteSegmentRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteSegment",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteSegmentResponse"
      }
    },
    "GetApnsChannel" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about the APNs channel for an app.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/apns",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetApnsChannelRequest",
        "xmlNamespace" : null
      },
      "name" : "GetApnsChannel",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetApnsChannelResponse"
      }
    },
    "GetApplicationSettings" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Used to request the settings for an app.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/settings",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetApplicationSettingsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetApplicationSettings",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetApplicationSettingsResponse"
      }
    },
    "GetCampaign" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about a campaign.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetCampaignRequest",
        "xmlNamespace" : null
      },
      "name" : "GetCampaign",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetCampaignResponse"
      }
    },
    "GetCampaignActivities" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about the activity performed by a campaign.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}/activities",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetCampaignActivitiesRequest",
        "xmlNamespace" : null
      },
      "name" : "GetCampaignActivities",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetCampaignActivitiesResponse"
      }
    },
    "GetCampaignVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about a specific version of a campaign.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}/versions/{version}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetCampaignVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetCampaignVersion",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetCampaignVersionResponse"
      }
    },
    "GetCampaignVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about your campaign versions.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetCampaignVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetCampaignVersions",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetCampaignVersionsResponse"
      }
    },
    "GetCampaigns" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about your campaigns.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/campaigns",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetCampaignsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetCampaigns",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetCampaignsResponse"
      }
    },
    "GetEndpoint" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about an endpoint.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetEndpointRequest",
        "xmlNamespace" : null
      },
      "name" : "GetEndpoint",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetEndpointResponse"
      }
    },
    "GetEventStream" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns the event stream for an app.",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/eventstream",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetEventStreamRequest",
        "xmlNamespace" : null
      },
      "name" : "GetEventStream",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetEventStreamResponse"
      }
    },
    "GetGcmChannel" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about the GCM channel for an app.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/gcm",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetGcmChannelRequest",
        "xmlNamespace" : null
      },
      "name" : "GetGcmChannel",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetGcmChannelResponse"
      }
    },
    "GetImportJob" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about an import job.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/jobs/import/{job-id}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetImportJobRequest",
        "xmlNamespace" : null
      },
      "name" : "GetImportJob",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetImportJobResponse"
      }
    },
    "GetImportJobs" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about your import jobs.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/jobs/import",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetImportJobsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetImportJobs",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetImportJobsResponse"
      }
    },
    "GetSegment" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about a segment.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetSegmentRequest",
        "xmlNamespace" : null
      },
      "name" : "GetSegment",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetSegmentResponse"
      }
    },
    "GetSegmentImportJobs" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns a list of import jobs for a specific segment.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}/jobs/import",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetSegmentImportJobsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetSegmentImportJobs",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetSegmentImportJobsResponse"
      }
    },
    "GetSegmentVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about a segment version.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}/versions/{version}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetSegmentVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetSegmentVersion",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetSegmentVersionResponse"
      }
    },
    "GetSegmentVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns information about your segment versions.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetSegmentVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetSegmentVersions",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetSegmentVersionsResponse"
      }
    },
    "GetSegments" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Used to get information about your segments.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetSegmentsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetSegments",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetSegmentsResponse"
      }
    },
    "PutEventStream" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Use to create or update the event stream for an app.",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/eventstream",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "PutEventStreamRequest",
        "xmlNamespace" : null
      },
      "name" : "PutEventStream",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PutEventStreamResponse"
      }
    },
    "UpdateApnsChannel" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Use to update the APNs channel for an app.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/apns",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateApnsChannelRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateApnsChannel",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateApnsChannelResponse"
      }
    },
    "UpdateApplicationSettings" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Used to update the settings for an app.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/settings",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateApplicationSettingsRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateApplicationSettings",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateApplicationSettingsResponse"
      }
    },
    "UpdateCampaign" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Use to update a campaign.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateCampaignRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateCampaign",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateCampaignResponse"
      }
    },
    "UpdateEndpoint" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Use to update an endpoint.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode" : "202"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateEndpointRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateEndpoint",
      "output" : {
        "documentation" : "202 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateEndpointResponse"
      }
    },
    "UpdateEndpointsBatch" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Use to update a batch of endpoints.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/endpoints",
        "responseCode" : "202"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateEndpointsBatchRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateEndpointsBatch",
      "output" : {
        "documentation" : "202 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateEndpointsBatchResponse"
      }
    },
    "UpdateGcmChannel" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Use to update the GCM channel for an app.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/gcm",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateGcmChannelRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateGcmChannel",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateGcmChannelResponse"
      }
    },
    "UpdateSegment" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Use to update a segment.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      }, {
        "documentation" : "403 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ForbiddenException"
      }, {
        "documentation" : "404 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : "405 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : "429 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateSegmentRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateSegment",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateSegmentResponse"
      }
    }
  },
  "shapes" : {
    "APNSChannelRequest" : {
      "deprecated" : false,
      "documentation" : "Apple Push Notification Service channel definition.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Certificate" : {
          "deprecated" : false,
          "documentation" : "The distribution certificate from Apple.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "PrivateKey" : {
          "deprecated" : false,
          "documentation" : "The certificate private key.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "APNSChannelResponse" : {
      "deprecated" : false,
      "documentation" : "Apple Distribution Push Notification Service channel definition.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ApplicationId" : {
          "deprecated" : false,
          "documentation" : "The ID of the application to which the channel applies.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CreationDate" : {
          "deprecated" : false,
          "documentation" : "When was this segment created",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Id" : {
          "deprecated" : false,
          "documentation" : "The unique channel ID.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IsArchived" : {
          "deprecated" : false,
          "documentation" : "Is this channel archived",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastModifiedBy" : {
          "deprecated" : false,
          "documentation" : "Who last updated this entry",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastModifiedDate" : {
          "deprecated" : false,
          "documentation" : "Last date this was updated",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Platform" : {
          "deprecated" : false,
          "documentation" : "The platform type. Will be APNS.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Version" : {
          "deprecated" : false,
          "documentation" : "Version of channel",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Action" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "OPEN_APP", "DEEP_LINK", "URL" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ActivitiesResponse" : {
      "deprecated" : false,
      "documentation" : "Activities for campaign.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Item" : {
          "deprecated" : false,
          "documentation" : "List of campaign activities",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListOfActivityResponse",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ActivityResponse" : {
      "deprecated" : false,
      "documentation" : "Activity definition",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ApplicationId" : {
          "deprecated" : false,
          "documentation" : "The ID of the application to which the campaign applies.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CampaignId" : {
          "deprecated" : false,
          "documentation" : "The ID of the campaign to which the activity applies.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "End" : {
          "deprecated" : false,
          "documentation" : "The actual time the activity was marked CANCELLED or COMPLETED. Provided in ISO 8601 format.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Id" : {
          "deprecated" : false,
          "documentation" : "The unique activity ID.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Result" : {
          "deprecated" : false,
          "documentation" : "Indicates whether the activity succeeded.\n\nValid values: SUCCESS, FAIL",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ScheduledStart" : {
          "deprecated" : false,
          "documentation" : "The scheduled start time for the activity in ISO 8601 format.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Start" : {
          "deprecated" : false,
          "documentation" : "The actual start time of the activity in ISO 8601 format.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "State" : {
          "deprecated" : false,
          "documentation" : "The state of the activity.\n\nValid values: PENDING, INITIALIZING, RUNNING, PAUSED, CANCELLED, COMPLETED",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SuccessfulEndpointCount" : {
          "deprecated" : false,
          "documentation" : "The total number of endpoints to which the campaign successfully delivered messages.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "TimezonesCompletedCount" : {
          "deprecated" : false,
          "documentation" : "The total number of timezones completed.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "TimezonesTotalCount" : {
          "deprecated" : false,
          "documentation" : "The total number of unique timezones present in the segment.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "TotalEndpointCount" : {
          "deprecated" : false,
          "documentation" : "The total number of endpoints to which the campaign attempts to deliver messages.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "TreatmentId" : {
          "deprecated" : false,
          "documentation" : "The ID of a variation of the campaign used for A/B testing.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationSettingsResource" : {
      "deprecated" : false,
      "documentation" : "Application settings.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ApplicationId" : {
          "deprecated" : false,
          "documentation" : "The unique ID for the application.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastModifiedDate" : {
          "deprecated" : false,
          "documentation" : "The date that the settings were last updated in ISO 8601 format.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Limits" : {
          "deprecated" : false,
          "documentation" : "The default campaign limits for the app. These limits apply to each campaign for the app, unless the campaign overrides the default with limits of its own.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CampaignLimits",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "QuietTime" : {
          "deprecated" : false,
          "documentation" : "The default quiet time for the app. Each campaign for this app sends no messages during this time unless the campaign overrides the default with a quiet time of its own.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "QuietTime",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AttributeDimension" : {
      "deprecated" : false,
      "documentation" : "Custom attibute dimension",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AttributeType" : {
          "deprecated" : false,
          "documentation" : "The type of dimension:\nINCLUSIVE – Endpoints that match the criteria are included in the segment.\nEXCLUSIVE – Endpoints that match the criteria are excluded from the segment.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AttributeType",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Values" : {
          "deprecated" : false,
          "documentation" : "The criteria values for the segment dimension. Endpoints with matching attribute values are included or excluded from the segment, depending on the setting for Type.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListOf__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AttributeType" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "INCLUSIVE", "EXCLUSIVE" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "BadRequestException" : {
      "deprecated" : false,
      "documentation" : "Simple message object.",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 400
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Message" : {
          "deprecated" : false,
          "documentation" : "The error message returned from the API.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RequestID" : {
          "deprecated" : false,
          "documentation" : "The unique message body ID.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CampaignLimits" : {
      "deprecated" : false,
      "documentation" : "Campaign Limits are used to limit the number of messages that can be sent to a user.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Daily" : {
          "deprecated" : false,
          "documentation" : "The maximum number of messages that the campaign can send daily.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Total" : {
          "deprecated" : false,
          "documentation" : "The maximum total number of messages that the campaign can send.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CampaignResponse" : {
      "deprecated" : false,
      "documentation" : "Campaign definition",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AdditionalTreatments" : {
          "deprecated" : false,
          "documentation" : "Treatments that are defined in addition to the default treatment.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListOfTreatmentResource",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ApplicationId" : {
          "deprecated" : false,
          "documentation" : "The ID of the application to which the campaign applies.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CreationDate" : {
          "deprecated" : false,
          "documentation" : "The date the campaign was created in ISO 8601 format.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DefaultState" : {
          "deprecated" : false,
          "documentation" : "The status of the campaign's default treatment. Only present for A/B test campaigns.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CampaignState",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Description" : {
          "deprecated" : false,
          "documentation" : "A description of the campaign.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "HoldoutPercent" : {
          "deprecated" : false,
          "documentation" : "The allocated percentage of end users who will not receive messages from this campaign.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Id" : {
          "deprecated" : false,
          "documentation" : "The unique campaign ID.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IsPaused" : {
          "deprecated" : false,
          "documentation" : "Indicates whether the campaign is paused. A paused campaign does not send messages unless you resume it by setting IsPaused to false.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastModifiedDate" : {
          "deprecated" : false,
          "documentation" : "The date the campaign was last updated in ISO 8601 format.\t",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Limits" : {
          "deprecated" : false,
          "documentation" : "The campaign limits settings.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CampaignLimits",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "MessageConfiguration" : {
          "deprecated" : false,
          "documentation" : "The message configuration settings.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "MessageConfiguration",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "The custom name of the campaign.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Schedule" : {
          "deprecated" : false,
          "documentation" : "The campaign schedule.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Schedule",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SegmentId" : {
          "deprecated" : false,
          "documentation" : "The ID of the segment to which the campaign sends messages.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SegmentVersion" : {
          "deprecated" : false,
          "documentation" : "The version of the segment to which the campaign sends messages.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "State" : {
          "deprecated" : false,
          "documentation" : "The campaign status.\n\nAn A/B test campaign will have a status of COMPLETED only when all treatments have a status of COMPLETED.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CampaignState",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "TreatmentDescription" : {
          "deprecated" : false,
          "documentation" : "A custom description for the treatment.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "TreatmentName" : {
          "deprecated" : false,
          "documentation" : "The custom name of a variation of the campaign used for A/B testing.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Version" : {
          "deprecated" : false,
          "documentation" : "The campaign version number.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CampaignState" : {
      "deprecated" : false,
      "documentation" : "State of the Campaign",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "CampaignStatus" : {
          "deprecated" : false,
          "documentation" : "The status of the campaign, or the status of a treatment that belongs to an A/B test campaign.\n\nValid values: SCHEDULED, EXECUTING, PENDING_NEXT_RUN, COMPLETED, PAUSED",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CampaignStatus",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CampaignStatus" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "SCHEDULED", "EXECUTING", "PENDING_NEXT_RUN", "COMPLETED", "PAUSED" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "CampaignsResponse" : {
      "deprecated" : false,
      "documentation" : "List of available campaigns.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Item" : {
          "deprecated" : false,
          "documentation" : "A list of campaigns.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListOfCampaignResponse",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "NextToken" : {
          "deprecated" : false,
          "documentation" : "The string that you use in a subsequent request to get the next page of results in a paginated response.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ChannelType" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "APNS", "GCM" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "CreateCampaignRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ApplicationId" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "application-id",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "WriteCampaignRequest" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "WriteCampaignRequest",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : "WriteCampaignRequest",
      "required" : [ "ApplicationId", "WriteCampaignRequest" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateCampaignResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "CampaignResponse" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CampaignResponse",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : "CampaignResponse",
      "required" : [ "CampaignResponse" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateImportJobRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ApplicationId" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "application-id",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ImportJobRequest" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ImportJobRequest",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : "ImportJobRequest",
      "required" : [ "ApplicationId", "ImportJobRequest" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateImportJobResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ImportJobResponse" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ImportJobResponse",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : "ImportJobResponse",
      "required" : [ "ImportJobResponse" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateSegmentRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ApplicationId" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "application-id",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "WriteSegmentRequest" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "WriteSegmentRequest",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : "WriteSegmentRequest",
      "required" : [ "ApplicationId", "WriteSegmentRequest" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateSegmentResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
[...]
