{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-09-05",
    "asyncClient" : "AmazonPinpointSMSVoiceAsyncClient",
    "asyncClientBuilderClassName" : "AmazonPinpointSMSVoiceAsyncClientBuilder",
    "asyncInterface" : "AmazonPinpointSMSVoiceAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonPinpointSMSVoiceModuleInjector",
    "defaultEndpoint" : "sms-voice.pinpoint.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sms-voice.pinpoint.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "Pinpoint SMS and Voice Messaging public facing APIs",
    "endpointPrefix" : "sms-voice.pinpoint",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.pinpointsmsvoice",
    "packagePath" : "com/amazonaws/services/pinpointsmsvoice",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Pinpoint SMS Voice",
    "serviceFullName" : "Amazon Pinpoint SMS and Voice Service",
    "serviceId" : "Pinpoint SMS Voice",
    "serviceName" : "Pinpoint SMS Voice",
    "signingName" : "sms-voice",
    "smokeTestsPackageName" : "com.amazonaws.services.pinpointsmsvoice.smoketests",
    "syncClient" : "AmazonPinpointSMSVoiceClient",
    "syncClientBuilderClassName" : "AmazonPinpointSMSVoiceClientBuilder",
    "syncInterface" : "AmazonPinpointSMSVoice",
    "uid" : "pinpoint-sms-voice-2018-09-05",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateConfigurationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationSetRequest, CreateConfigurationSetResult>",
      "asyncReturnType" : "CreateConfigurationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new configuration set. After you create the configuration set, you can add one or more event destinations to it.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "TooManyRequestsException",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "BadRequestException",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "LimitExceededException",
        "httpStatusCode" : 412
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "InternalServiceErrorException",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "AlreadyExistsException",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationSetRequest",
        "variableName" : "createConfigurationSetRequest",
        "variableType" : "CreateConfigurationSetRequest",
        "documentation" : "A request to create a new configuration set.",
        "simpleType" : "CreateConfigurationSetRequest",
        "variableSetterType" : "CreateConfigurationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfigurationSet",
      "operationName" : "CreateConfigurationSet",
      "returnType" : {
        "returnType" : "CreateConfigurationSetResult",
        "documentation" : "CreateConfigurationSetResponse"
      },
      "syncReturnType" : "CreateConfigurationSetResult"
    },
    "CreateConfigurationSetEventDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationSetEventDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationSetEventDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationSetEventDestinationRequest, CreateConfigurationSetEventDestinationResult>",
      "asyncReturnType" : "CreateConfigurationSetEventDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new event destination in a configuration set.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "BadRequestException",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "LimitExceededException",
        "httpStatusCode" : 412
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "InternalServiceErrorException",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "NotFoundException",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "TooManyRequestsException",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "AlreadyExistsException",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationSetEventDestinationRequest",
        "variableName" : "createConfigurationSetEventDestinationRequest",
        "variableType" : "CreateConfigurationSetEventDestinationRequest",
        "documentation" : "Create a new event destination in a configuration set.",
        "simpleType" : "CreateConfigurationSetEventDestinationRequest",
        "variableSetterType" : "CreateConfigurationSetEventDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfigurationSetEventDestination",
      "operationName" : "CreateConfigurationSetEventDestination",
      "returnType" : {
        "returnType" : "CreateConfigurationSetEventDestinationResult",
        "documentation" : "CreateConfigurationSetEventDestinationResponse"
      },
      "syncReturnType" : "CreateConfigurationSetEventDestinationResult"
    },
    "DeleteConfigurationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationSetRequest, DeleteConfigurationSetResult>",
      "asyncReturnType" : "DeleteConfigurationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an existing configuration set.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "NotFoundException",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "TooManyRequestsException",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "BadRequestException",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "InternalServiceErrorException",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigurationSetRequest",
        "variableName" : "deleteConfigurationSetRequest",
        "variableType" : "DeleteConfigurationSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfigurationSetRequest",
        "variableSetterType" : "DeleteConfigurationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationSet",
      "operationName" : "DeleteConfigurationSet",
      "returnType" : {
        "returnType" : "DeleteConfigurationSetResult",
        "documentation" : "DeleteConfigurationSetResponse"
      },
      "syncReturnType" : "DeleteConfigurationSetResult"
    },
    "DeleteConfigurationSetEventDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationSetEventDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationSetEventDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationSetEventDestinationRequest, DeleteConfigurationSetEventDestinationResult>",
      "asyncReturnType" : "DeleteConfigurationSetEventDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an event destination in a configuration set.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "NotFoundException",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "TooManyRequestsException",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "BadRequestException",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "InternalServiceErrorException",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigurationSetEventDestinationRequest",
        "variableName" : "deleteConfigurationSetEventDestinationRequest",
        "variableType" : "DeleteConfigurationSetEventDestinationRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfigurationSetEventDestinationRequest",
        "variableSetterType" : "DeleteConfigurationSetEventDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationSetEventDestination",
      "operationName" : "DeleteConfigurationSetEventDestination",
      "returnType" : {
        "returnType" : "DeleteConfigurationSetEventDestinationResult",
        "documentation" : "DeleteConfigurationSetEventDestinationResponse"
      },
      "syncReturnType" : "DeleteConfigurationSetEventDestinationResult"
    },
    "GetConfigurationSetEventDestinations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfigurationSetEventDestinationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfigurationSetEventDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfigurationSetEventDestinationsRequest, GetConfigurationSetEventDestinationsResult>",
      "asyncReturnType" : "GetConfigurationSetEventDestinationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Obtain information about an event destination, including the types of events it reports, the Amazon Resource Name (ARN) of the destination, and the name of the event destination.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "NotFoundException",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "TooManyRequestsException",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "BadRequestException",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "InternalServiceErrorException",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfigurationSetEventDestinationsRequest",
        "variableName" : "getConfigurationSetEventDestinationsRequest",
        "variableType" : "GetConfigurationSetEventDestinationsRequest",
        "documentation" : "",
        "simpleType" : "GetConfigurationSetEventDestinationsRequest",
        "variableSetterType" : "GetConfigurationSetEventDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfigurationSetEventDestinations",
      "operationName" : "GetConfigurationSetEventDestinations",
      "returnType" : {
        "returnType" : "GetConfigurationSetEventDestinationsResult",
        "documentation" : "GetConfigurationSetEventDestinationsResponse"
      },
      "syncReturnType" : "GetConfigurationSetEventDestinationsResult"
    },
    "ListConfigurationSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationSetsRequest, ListConfigurationSetsResult>",
      "asyncReturnType" : "ListConfigurationSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List all of the configuration sets associated with your Amazon Pinpoint account in the current region.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "TooManyRequestsException",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "BadRequestException",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "InternalServiceErrorException",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigurationSetsRequest",
        "variableName" : "listConfigurationSetsRequest",
        "variableType" : "ListConfigurationSetsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationSetsRequest",
        "variableSetterType" : "ListConfigurationSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurationSets",
      "operationName" : "ListConfigurationSets",
      "returnType" : {
        "returnType" : "ListConfigurationSetsResult",
        "documentation" : "ListConfigurationSetsResponse"
      },
      "syncReturnType" : "ListConfigurationSetsResult"
    },
    "SendVoiceMessage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendVoiceMessageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendVoiceMessageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendVoiceMessageRequest, SendVoiceMessageResult>",
      "asyncReturnType" : "SendVoiceMessageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new voice message and send it to a recipient's phone number.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "TooManyRequestsException",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "BadRequestException",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "InternalServiceErrorException",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendVoiceMessageRequest",
        "variableName" : "sendVoiceMessageRequest",
        "variableType" : "SendVoiceMessageRequest",
        "documentation" : "SendVoiceMessageRequest",
        "simpleType" : "SendVoiceMessageRequest",
        "variableSetterType" : "SendVoiceMessageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendVoiceMessage",
      "operationName" : "SendVoiceMessage",
      "returnType" : {
        "returnType" : "SendVoiceMessageResult",
        "documentation" : "SendVoiceMessageResponse"
      },
      "syncReturnType" : "SendVoiceMessageResult"
    },
    "UpdateConfigurationSetEventDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConfigurationSetEventDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConfigurationSetEventDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConfigurationSetEventDestinationRequest, UpdateConfigurationSetEventDestinationResult>",
      "asyncReturnType" : "UpdateConfigurationSetEventDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Update an event destination in a configuration set. An event destination is a location that you publish information about your voice calls to. For example, you can log an event to an Amazon CloudWatch destination when a call fails.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "NotFoundException",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "TooManyRequestsException",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "BadRequestException",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "InternalServiceErrorException",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateConfigurationSetEventDestinationRequest",
        "variableName" : "updateConfigurationSetEventDestinationRequest",
        "variableType" : "UpdateConfigurationSetEventDestinationRequest",
        "documentation" : "UpdateConfigurationSetEventDestinationRequest",
        "simpleType" : "UpdateConfigurationSetEventDestinationRequest",
        "variableSetterType" : "UpdateConfigurationSetEventDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConfigurationSetEventDestination",
      "operationName" : "UpdateConfigurationSetEventDestination",
      "returnType" : {
        "returnType" : "UpdateConfigurationSetEventDestinationResult",
        "documentation" : "UpdateConfigurationSetEventDestinationResponse"
      },
      "syncReturnType" : "UpdateConfigurationSetEventDestinationResult"
    }
  },
  "shapes" : {
    "AlreadyExistsException" : {
      "c2jName" : "AlreadyExistsException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The resource specified in your request already exists.",
      "enums" : null,
      "errorCode" : "AlreadyExistsException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AlreadyExistsException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlreadyExistsException",
        "variableName" : "alreadyExistsException",
        "variableType" : "AlreadyExistsException",
        "documentation" : null,
        "simpleType" : "AlreadyExistsException",
        "variableSetterType" : "AlreadyExistsException"
      },
      "wrapper" : false
    },
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The input you provided is invalid.",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "CallInstructionsMessageType" : {
      "c2jName" : "CallInstructionsMessageType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "An object that defines a message that contains text formatted using Amazon Pinpoint Voice Instructions markup.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Text",
        "c2jShape" : "NonEmptyString",
        "deprecated" : false,
        "documentation" : "The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@param text The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withText",
        "getterDocumentation" : "/**The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@return The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.*/",
        "getterMethodName" : "getText",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Text",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Text",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Text",
        "sensitive" : false,
        "setterDocumentation" : "/**The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@param text The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.*/",
        "setterMethodName" : "setText",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@param text The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Text" : {
          "c2jName" : "Text",
          "c2jShape" : "NonEmptyString",
          "deprecated" : false,
          "documentation" : "The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@param text The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withText",
          "getterDocumentation" : "/**The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@return The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.*/",
          "getterMethodName" : "getText",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Text",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Text",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Text",
          "sensitive" : false,
          "setterDocumentation" : "/**The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@param text The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.*/",
          "setterMethodName" : "setText",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "text",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@param text The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "text",
            "variableType" : "String",
            "documentation" : "The language to use when delivering the message. For a complete list of supported languages, see the Amazon Polly Developer Guide.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CallInstructionsMessageType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CallInstructionsMessageType",
        "variableName" : "callInstructionsMessageType",
        "variableType" : "CallInstructionsMessageType",
        "documentation" : null,
        "simpleType" : "CallInstructionsMessageType",
        "variableSetterType" : "CallInstructionsMessageType"
      },
      "wrapper" : false
    },
    "CloudWatchLogsDestination" : {
      "c2jName" : "CloudWatchLogsDestination",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "An object that contains information about an event destination that sends data to Amazon CloudWatch Logs.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "IamRoleArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@param iamRoleArn The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIamRoleArn",
        "getterDocumentation" : "/**The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@return The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.*/",
        "getterMethodName" : "getIamRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IamRoleArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IamRoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "IamRoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@param iamRoleArn The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.*/",
        "setterMethodName" : "setIamRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "iamRoleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@param iamRoleArn The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "iamRoleArn",
          "variableType" : "String",
          "documentation" : "The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LogGroupArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "The name of the Amazon CloudWatch Log Group that you want to record events in.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The name of the Amazon CloudWatch Log Group that you want to record events in.\n@param logGroupArn The name of the Amazon CloudWatch Log Group that you want to record events in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogGroupArn",
        "getterDocumentation" : "/**The name of the Amazon CloudWatch Log Group that you want to record events in.\n@return The name of the Amazon CloudWatch Log Group that you want to record events in.*/",
        "getterMethodName" : "getLogGroupArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LogGroupArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LogGroupArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LogGroupArn",
        "sensitive" : false,
        "setterDocumentation" : "/**The name of the Amazon CloudWatch Log Group that you want to record events in.\n@param logGroupArn The name of the Amazon CloudWatch Log Group that you want to record events in.*/",
        "setterMethodName" : "setLogGroupArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logGroupArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The name of the Amazon CloudWatch Log Group that you want to record events in.\n@param logGroupArn The name of the Amazon CloudWatch Log Group that you want to record events in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logGroupArn",
          "variableType" : "String",
          "documentation" : "The name of the Amazon CloudWatch Log Group that you want to record events in.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IamRoleArn" : {
          "c2jName" : "IamRoleArn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@param iamRoleArn The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIamRoleArn",
          "getterDocumentation" : "/**The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@return The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.*/",
          "getterMethodName" : "getIamRoleArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IamRoleArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IamRoleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "IamRoleArn",
          "sensitive" : false,
          "setterDocumentation" : "/**The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@param iamRoleArn The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.*/",
          "setterMethodName" : "setIamRoleArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "iamRoleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@param iamRoleArn The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "iamRoleArn",
            "variableType" : "String",
            "documentation" : "The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LogGroupArn" : {
          "c2jName" : "LogGroupArn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "The name of the Amazon CloudWatch Log Group that you want to record events in.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The name of the Amazon CloudWatch Log Group that you want to record events in.\n@param logGroupArn The name of the Amazon CloudWatch Log Group that you want to record events in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLogGroupArn",
          "getterDocumentation" : "/**The name of the Amazon CloudWatch Log Group that you want to record events in.\n@return The name of the Amazon CloudWatch Log Group that you want to record events in.*/",
          "getterMethodName" : "getLogGroupArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LogGroupArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LogGroupArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LogGroupArn",
          "sensitive" : false,
          "setterDocumentation" : "/**The name of the Amazon CloudWatch Log Group that you want to record events in.\n@param logGroupArn The name of the Amazon CloudWatch Log Group that you want to record events in.*/",
          "setterMethodName" : "setLogGroupArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logGroupArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The name of the Amazon CloudWatch Log Group that you want to record events in.\n@param logGroupArn The name of the Amazon CloudWatch Log Group that you want to record events in.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logGroupArn",
            "variableType" : "String",
            "documentation" : "The name of the Amazon CloudWatch Log Group that you want to record events in.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CloudWatchLogsDestination",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CloudWatchLogsDestination",
        "variableName" : "cloudWatchLogsDestination",
        "variableType" : "CloudWatchLogsDestination",
        "documentation" : null,
        "simpleType" : "CloudWatchLogsDestination",
        "variableSetterType" : "CloudWatchLogsDestination"
      },
      "wrapper" : false
    },
    "CreateConfigurationSetEventDestinationRequest" : {
      "c2jName" : "CreateConfigurationSetEventDestinationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Create a new event destination in a configuration set.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateConfigurationSetEventDestination",
        "locationName" : null,
        "requestUri" : "/v1/sms-voice/configuration-sets/{ConfigurationSetName}/event-destinations",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ConfigurationSetName",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "ConfigurationSetName",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfigurationSetName",
        "getterDocumentation" : "/**ConfigurationSetName\n@return ConfigurationSetName*/",
        "getterMethodName" : "getConfigurationSetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "ConfigurationSetName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConfigurationSetName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConfigurationSetName",
        "sensitive" : false,
        "setterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName*/",
        "setterMethodName" : "setConfigurationSetName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "configurationSetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "configurationSetName",
          "variableType" : "String",
          "documentation" : "ConfigurationSetName",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EventDestination",
        "c2jShape" : "EventDestinationDefinition",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param eventDestination \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEventDestination",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getEventDestination",
        "getterModel" : {
          "returnType" : "EventDestinationDefinition",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EventDestination",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EventDestination",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "EventDestination",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param eventDestination */",
        "setterMethodName" : "setEventDestination",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "EventDestinationDefinition",
          "variableName" : "eventDestination",
          "variableType" : "EventDestinationDefinition",
          "documentation" : "",
          "simpleType" : "EventDestinationDefinition",
          "variableSetterType" : "EventDestinationDefinition"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param eventDestination \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "EventDestinationDefinition",
          "variableName" : "eventDestination",
          "variableType" : "EventDestinationDefinition",
          "documentation" : "",
          "simpleType" : "EventDestinationDefinition",
          "variableSetterType" : "EventDestinationDefinition"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EventDestinationName",
        "c2jShape" : "NonEmptyString",
        "deprecated" : false,
        "documentation" : "A name that identifies the event destination.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A name that identifies the event destination.\n@param eventDestinationName A name that identifies the event destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEventDestinationName",
        "getterDocumentation" : "/**A name that identifies the event destination.\n@return A name that identifies the event destination.*/",
        "getterMethodName" : "getEventDestinationName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EventDestinationName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EventDestinationName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EventDestinationName",
        "sensitive" : false,
        "setterDocumentation" : "/**A name that identifies the event destination.\n@param eventDestinationName A name that identifies the event destination.*/",
        "setterMethodName" : "setEventDestinationName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "eventDestinationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A name that identifies the event destination.\n@param eventDestinationName A name that identifies the event destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "eventDestinationName",
          "variableType" : "String",
          "documentation" : "A name that identifies the event destination.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConfigurationSetName" : {
          "c2jName" : "ConfigurationSetName",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "ConfigurationSetName",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfigurationSetName",
          "getterDocumentation" : "/**ConfigurationSetName\n@return ConfigurationSetName*/",
          "getterMethodName" : "getConfigurationSetName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "ConfigurationSetName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConfigurationSetName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConfigurationSetName",
          "sensitive" : false,
          "setterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName*/",
          "setterMethodName" : "setConfigurationSetName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "configurationSetName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "configurationSetName",
            "variableType" : "String",
            "documentation" : "ConfigurationSetName",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EventDestination" : {
          "c2jName" : "EventDestination",
          "c2jShape" : "EventDestinationDefinition",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param eventDestination \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEventDestination",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getEventDestination",
          "getterModel" : {
            "returnType" : "EventDestinationDefinition",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EventDestination",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EventDestination",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "EventDestination",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param eventDestination */",
          "setterMethodName" : "setEventDestination",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "EventDestinationDefinition",
            "variableName" : "eventDestination",
            "variableType" : "EventDestinationDefinition",
            "documentation" : "",
            "simpleType" : "EventDestinationDefinition",
            "variableSetterType" : "EventDestinationDefinition"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param eventDestination \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "EventDestinationDefinition",
            "variableName" : "eventDestination",
            "variableType" : "EventDestinationDefinition",
            "documentation" : "",
            "simpleType" : "EventDestinationDefinition",
            "variableSetterType" : "EventDestinationDefinition"
          },
          "xmlNameSpaceUri" : null
        },
        "EventDestinationName" : {
          "c2jName" : "EventDestinationName",
          "c2jShape" : "NonEmptyString",
          "deprecated" : false,
          "documentation" : "A name that identifies the event destination.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A name that identifies the event destination.\n@param eventDestinationName A name that identifies the event destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEventDestinationName",
          "getterDocumentation" : "/**A name that identifies the event destination.\n@return A name that identifies the event destination.*/",
          "getterMethodName" : "getEventDestinationName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EventDestinationName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EventDestinationName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EventDestinationName",
          "sensitive" : false,
          "setterDocumentation" : "/**A name that identifies the event destination.\n@param eventDestinationName A name that identifies the event destination.*/",
          "setterMethodName" : "setEventDestinationName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "eventDestinationName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**A name that identifies the event destination.\n@param eventDestinationName A name that identifies the event destination.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "eventDestinationName",
            "variableType" : "String",
            "documentation" : "A name that identifies the event destination.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ConfigurationSetName" ],
      "shapeName" : "CreateConfigurationSetEventDestinationRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationSetEventDestinationRequest",
        "variableName" : "createConfigurationSetEventDestinationRequest",
        "variableType" : "CreateConfigurationSetEventDestinationRequest",
        "documentation" : null,
        "simpleType" : "CreateConfigurationSetEventDestinationRequest",
        "variableSetterType" : "CreateConfigurationSetEventDestinationRequest"
      },
      "wrapper" : false
    },
    "CreateConfigurationSetEventDestinationResult" : {
      "c2jName" : "CreateConfigurationSetEventDestinationResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "An empty object that indicates that the event destination was created successfully.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateConfigurationSetEventDestinationResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationSetEventDestinationResult",
        "variableName" : "createConfigurationSetEventDestinationResult",
        "variableType" : "CreateConfigurationSetEventDestinationResult",
        "documentation" : null,
        "simpleType" : "CreateConfigurationSetEventDestinationResult",
        "variableSetterType" : "CreateConfigurationSetEventDestinationResult"
      },
      "wrapper" : false
    },
    "CreateConfigurationSetRequest" : {
      "c2jName" : "CreateConfigurationSetRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A request to create a new configuration set.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateConfigurationSet",
        "locationName" : null,
        "requestUri" : "/v1/sms-voice/configuration-sets",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ConfigurationSetName",
        "c2jShape" : "WordCharactersWithDelimiters",
        "deprecated" : false,
        "documentation" : "The name that you want to give the configuration set.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The name that you want to give the configuration set.\n@param configurationSetName The name that you want to give the configuration set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfigurationSetName",
        "getterDocumentation" : "/**The name that you want to give the configuration set.\n@return The name that you want to give the configuration set.*/",
        "getterMethodName" : "getConfigurationSetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConfigurationSetName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConfigurationSetName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConfigurationSetName",
        "sensitive" : false,
        "setterDocumentation" : "/**The name that you want to give the configuration set.\n@param configurationSetName The name that you want to give the configuration set.*/",
        "setterMethodName" : "setConfigurationSetName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "configurationSetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The name that you want to give the configuration set.\n@param configurationSetName The name that you want to give the configuration set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "configurationSetName",
          "variableType" : "String",
          "documentation" : "The name that you want to give the configuration set.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConfigurationSetName" : {
          "c2jName" : "ConfigurationSetName",
          "c2jShape" : "WordCharactersWithDelimiters",
          "deprecated" : false,
          "documentation" : "The name that you want to give the configuration set.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The name that you want to give the configuration set.\n@param configurationSetName The name that you want to give the configuration set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfigurationSetName",
          "getterDocumentation" : "/**The name that you want to give the configuration set.\n@return The name that you want to give the configuration set.*/",
          "getterMethodName" : "getConfigurationSetName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ConfigurationSetName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConfigurationSetName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConfigurationSetName",
          "sensitive" : false,
          "setterDocumentation" : "/**The name that you want to give the configuration set.\n@param configurationSetName The name that you want to give the configuration set.*/",
          "setterMethodName" : "setConfigurationSetName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "configurationSetName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The name that you want to give the configuration set.\n@param configurationSetName The name that you want to give the configuration set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "configurationSetName",
            "variableType" : "String",
            "documentation" : "The name that you want to give the configuration set.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateConfigurationSetRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationSetRequest",
        "variableName" : "createConfigurationSetRequest",
        "variableType" : "CreateConfigurationSetRequest",
        "documentation" : null,
        "simpleType" : "CreateConfigurationSetRequest",
        "variableSetterType" : "CreateConfigurationSetRequest"
      },
      "wrapper" : false
    },
    "CreateConfigurationSetResult" : {
      "c2jName" : "CreateConfigurationSetResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "An empty object that indicates that the configuration set was successfully created.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateConfigurationSetResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationSetResult",
        "variableName" : "createConfigurationSetResult",
        "variableType" : "CreateConfigurationSetResult",
        "documentation" : null,
        "simpleType" : "CreateConfigurationSetResult",
        "variableSetterType" : "CreateConfigurationSetResult"
      },
      "wrapper" : false
    },
    "DeleteConfigurationSetEventDestinationRequest" : {
      "c2jName" : "DeleteConfigurationSetEventDestinationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteConfigurationSetEventDestination",
        "locationName" : null,
        "requestUri" : "/v1/sms-voice/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ConfigurationSetName",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "ConfigurationSetName",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfigurationSetName",
        "getterDocumentation" : "/**ConfigurationSetName\n@return ConfigurationSetName*/",
        "getterMethodName" : "getConfigurationSetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "ConfigurationSetName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConfigurationSetName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConfigurationSetName",
        "sensitive" : false,
        "setterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName*/",
        "setterMethodName" : "setConfigurationSetName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "configurationSetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "configurationSetName",
          "variableType" : "String",
          "documentation" : "ConfigurationSetName",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EventDestinationName",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "EventDestinationName",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**EventDestinationName\n@param eventDestinationName EventDestinationName\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEventDestinationName",
        "getterDocumentation" : "/**EventDestinationName\n@return EventDestinationName*/",
        "getterMethodName" : "getEventDestinationName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "EventDestinationName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EventDestinationName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EventDestinationName",
        "sensitive" : false,
        "setterDocumentation" : "/**EventDestinationName\n@param eventDestinationName EventDestinationName*/",
        "setterMethodName" : "setEventDestinationName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "eventDestinationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**EventDestinationName\n@param eventDestinationName EventDestinationName\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "eventDestinationName",
          "variableType" : "String",
          "documentation" : "EventDestinationName",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConfigurationSetName" : {
          "c2jName" : "ConfigurationSetName",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "ConfigurationSetName",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfigurationSetName",
          "getterDocumentation" : "/**ConfigurationSetName\n@return ConfigurationSetName*/",
          "getterMethodName" : "getConfigurationSetName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "ConfigurationSetName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConfigurationSetName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ConfigurationSetName",
          "sensitive" : false,
          "setterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName*/",
          "setterMethodName" : "setConfigurationSetName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "configurationSetName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "configurationSetName",
            "variableType" : "String",
            "documentation" : "ConfigurationSetName",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EventDestinationName" : {
          "c2jName" : "EventDestinationName",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "EventDestinationName",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**EventDestinationName\n@param eventDestinationName EventDestinationName\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEventDestinationName",
          "getterDocumentation" : "/**EventDestinationName\n@return EventDestinationName*/",
          "getterMethodName" : "getEventDestinationName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "EventDestinationName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EventDestinationName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EventDestinationName",
          "sensitive" : false,
          "setterDocumentation" : "/**EventDestinationName\n@param eventDestinationName EventDestinationName*/",
          "setterMethodName" : "setEventDestinationName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "eventDestinationName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**EventDestinationName\n@param eventDestinationName EventDestinationName\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "eventDestinationName",
            "variableType" : "String",
            "documentation" : "EventDestinationName",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "EventDestinationName", "ConfigurationSetName" ],
      "shapeName" : "DeleteConfigurationSetEventDestinationRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigurationSetEventDestinationRequest",
        "variableName" : "deleteConfigurationSetEventDestinationRequest",
        "variableType" : "DeleteConfigurationSetEventDestinationRequest",
        "documentation" : null,
        "simpleType" : "DeleteConfigurationSetEventDestinationRequest",
        "variableSetterType" : "DeleteConfigurationSetEventDestinationRequest"
      },
      "wrapper" : false
    },
    "DeleteConfigurationSetEventDestinationResult" : {
      "c2jName" : "DeleteConfigurationSetEventDestinationResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "An empty object that indicates that the event destination was deleted successfully.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteConfigurationSetEventDestinationResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigurationSetEventDestinationResult",
        "variableName" : "deleteConfigurationSetEventDestinationResult",
        "variableType" : "DeleteConfigurationSetEventDestinationResult",
        "documentation" : null,
        "simpleType" : "DeleteConfigurationSetEventDestinationResult",
        "variableSetterType" : "DeleteConfigurationSetEventDestinationResult"
      },
      "wrapper" : false
    },
    "DeleteConfigurationSetRequest" : {
      "c2jName" : "DeleteConfigurationSetRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteConfigurationSet",
        "locationName" : null,
        "requestUri" : "/v1/sms-voice/configuration-sets/{ConfigurationSetName}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ConfigurationSetName",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "ConfigurationSetName",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfigurationSetName",
        "getterDocumentation" : "/**ConfigurationSetName\n@return ConfigurationSetName*/",
        "getterMethodName" : "getConfigurationSetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "ConfigurationSetName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConfigurationSetName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConfigurationSetName",
        "sensitive" : false,
        "setterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName*/",
        "setterMethodName" : "setConfigurationSetName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "configurationSetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "configurationSetName",
          "variableType" : "String",
          "documentation" : "ConfigurationSetName",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ConfigurationSetName" : {
          "c2jName" : "ConfigurationSetName",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "ConfigurationSetName",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**ConfigurationSetName\n@param configurationSetName ConfigurationSetName\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfigurationSetName",
          "getterDocumentation" : "/**ConfigurationSetName\n@return ConfigurationSetName*/",
          "getterMethodName" : "getConfigurationSetName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "ConfigurationSetName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConfigurationSetName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
[...]
