{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-07-26",
    "asyncClient" : "AmazonPinpointEmailAsyncClient",
    "asyncClientBuilderClassName" : "AmazonPinpointEmailAsyncClientBuilder",
    "asyncInterface" : "AmazonPinpointEmailAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonPinpointEmailModuleInjector",
    "defaultEndpoint" : "email.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "email.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Pinpoint Email Service</fullname> <p> This document contains reference information for the <a href=\"https://aws.amazon.com/pinpoint\">Amazon Pinpoint</a> Email API, version 1.0. This document is best used in conjunction with the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/welcome.html\">Amazon Pinpoint Developer Guide</a>.</p> <p>The Amazon Pinpoint Email API is available in the US East (N. Virginia), US West (Oregon), EU (Frankfurt), and EU (Ireland) Regions at the following endpoints:</p> <ul> <li> <p> <b>US East (N. Virginia)</b>: <code>email.us-east-1.amazonaws.com</code> </p> </li> <li> <p> <b>US West (Oregon)</b>: <code>email.us-west-2.amazonaws.com</code> </p> </li> <li> <p> <b>EU (Frankfurt)</b>: <code>email.eu-central-1.amazonaws.com</code> </p> </li> <li> <p> <b>EU (Ireland)</b>: <code>email.eu-west-1.amazonaws.com</code> </p> </li> </ul>",
    "endpointPrefix" : "email",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.pinpointemail",
    "packagePath" : "com/amazonaws/services/pinpointemail",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Pinpoint Email",
    "serviceFullName" : "Amazon Pinpoint Email Service",
    "serviceId" : "Pinpoint Email",
    "serviceName" : "Pinpoint Email",
    "signingName" : "ses",
    "smokeTestsPackageName" : "com.amazonaws.services.pinpointemail.smoketests",
    "syncClient" : "AmazonPinpointEmailClient",
    "syncClientBuilderClassName" : "AmazonPinpointEmailClientBuilder",
    "syncInterface" : "AmazonPinpointEmail",
    "uid" : "pinpoint-email-2018-07-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateConfigurationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationSetRequest, CreateConfigurationSetResult>",
      "asyncReturnType" : "CreateConfigurationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a configuration set. <i>Configuration sets</i> are groups of rules that you can apply to the emails you send using Amazon Pinpoint. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource specified in your request already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>There are too many instances of the specified resource type.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource is being modified by another operation or thread.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationSetRequest",
        "variableName" : "createConfigurationSetRequest",
        "variableType" : "CreateConfigurationSetRequest",
        "documentation" : "<p>A request to create a configuration set.</p>",
        "simpleType" : "CreateConfigurationSetRequest",
        "variableSetterType" : "CreateConfigurationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfigurationSet",
      "operationName" : "CreateConfigurationSet",
      "returnType" : {
        "returnType" : "CreateConfigurationSetResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "CreateConfigurationSetResult"
    },
    "CreateConfigurationSetEventDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationSetEventDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationSetEventDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationSetEventDestinationRequest, CreateConfigurationSetEventDestinationResult>",
      "asyncReturnType" : "CreateConfigurationSetEventDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an event destination. In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p> <p>A single configuration set can include more than one event destination.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource specified in your request already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>There are too many instances of the specified resource type.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigurationSetEventDestinationRequest",
        "variableName" : "createConfigurationSetEventDestinationRequest",
        "variableType" : "CreateConfigurationSetEventDestinationRequest",
        "documentation" : "<p>A request to add an event destination to a configuration set.</p>",
        "simpleType" : "CreateConfigurationSetEventDestinationRequest",
        "variableSetterType" : "CreateConfigurationSetEventDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfigurationSetEventDestination",
      "operationName" : "CreateConfigurationSetEventDestination",
      "returnType" : {
        "returnType" : "CreateConfigurationSetEventDestinationResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "CreateConfigurationSetEventDestinationResult"
    },
    "CreateDedicatedIpPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDedicatedIpPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDedicatedIpPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDedicatedIpPoolRequest, CreateDedicatedIpPoolResult>",
      "asyncReturnType" : "CreateDedicatedIpPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new pool of dedicated IP addresses. A pool can include one or more dedicated IP addresses that are associated with your Amazon Pinpoint account. You can associate a pool with a configuration set. When you send an email that uses that configuration set, Amazon Pinpoint sends it using only the IP addresses in the associated pool.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource specified in your request already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>There are too many instances of the specified resource type.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource is being modified by another operation or thread.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDedicatedIpPoolRequest",
        "variableName" : "createDedicatedIpPoolRequest",
        "variableType" : "CreateDedicatedIpPoolRequest",
        "documentation" : "<p>A request to create a new dedicated IP pool.</p>",
        "simpleType" : "CreateDedicatedIpPoolRequest",
        "variableSetterType" : "CreateDedicatedIpPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDedicatedIpPool",
      "operationName" : "CreateDedicatedIpPool",
      "returnType" : {
        "returnType" : "CreateDedicatedIpPoolResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "CreateDedicatedIpPoolResult"
    },
    "CreateDeliverabilityTestReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeliverabilityTestReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeliverabilityTestReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeliverabilityTestReportRequest, CreateDeliverabilityTestReportResult>",
      "asyncReturnType" : "CreateDeliverabilityTestReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled by various email providers around the world. When you perform a predictive inbox placement test, you provide a sample message that contains the content that you plan to send to your customers. Amazon Pinpoint then sends that message to special email addresses spread across several major email providers. After about 24 hours, the test is complete, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccountSuspendedException",
        "documentation" : "<p>The message can't be sent because the account's ability to send email has been permanently restricted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SendingPausedException",
        "documentation" : "<p>The message can't be sent because the account's ability to send email is currently paused.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MessageRejectedException",
        "documentation" : "<p>The message can't be sent because it contains invalid content.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MailFromDomainNotVerifiedException",
        "documentation" : "<p>The message can't be sent because the sending domain isn't verified.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>There are too many instances of the specified resource type.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource is being modified by another operation or thread.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDeliverabilityTestReportRequest",
        "variableName" : "createDeliverabilityTestReportRequest",
        "variableType" : "CreateDeliverabilityTestReportRequest",
        "documentation" : "<p>A request to perform a predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled by various email providers around the world. When you perform a predictive inbox placement test, you provide a sample message that contains the content that you plan to send to your customers. Amazon Pinpoint then sends that message to special email addresses spread across several major email providers. After about 24 hours, the test is complete, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.</p>",
        "simpleType" : "CreateDeliverabilityTestReportRequest",
        "variableSetterType" : "CreateDeliverabilityTestReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeliverabilityTestReport",
      "operationName" : "CreateDeliverabilityTestReport",
      "returnType" : {
        "returnType" : "CreateDeliverabilityTestReportResult",
        "documentation" : "<p>Information about the predictive inbox placement test that you created.</p>"
      },
      "syncReturnType" : "CreateDeliverabilityTestReportResult"
    },
    "CreateEmailIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEmailIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEmailIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEmailIdentityRequest, CreateEmailIdentityResult>",
      "asyncReturnType" : "CreateEmailIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Verifies an email identity for use with Amazon Pinpoint. In Amazon Pinpoint, an identity is an email address or domain that you use when you send email. Before you can use an identity to send email with Amazon Pinpoint, you first have to verify it. By verifying an address, you demonstrate that you're the owner of the address, and that you've given Amazon Pinpoint permission to send email from the address.</p> <p>When you verify an email address, Amazon Pinpoint sends an email to the address. Your email address is verified as soon as you follow the link in the verification email. </p> <p>When you verify a domain, this operation provides a set of DKIM tokens, which you can convert into CNAME tokens. You add these CNAME tokens to the DNS configuration for your domain. Your domain is verified when Amazon Pinpoint detects these records in the DNS configuration for your domain. It usually takes around 72 hours to complete the domain verification process.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>There are too many instances of the specified resource type.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource is being modified by another operation or thread.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEmailIdentityRequest",
        "variableName" : "createEmailIdentityRequest",
        "variableType" : "CreateEmailIdentityRequest",
        "documentation" : "<p>A request to begin the verification process for an email identity (an email address or domain).</p>",
        "simpleType" : "CreateEmailIdentityRequest",
        "variableSetterType" : "CreateEmailIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEmailIdentity",
      "operationName" : "CreateEmailIdentity",
      "returnType" : {
        "returnType" : "CreateEmailIdentityResult",
        "documentation" : "<p>If the email identity is a domain, this object contains tokens that you can use to create a set of CNAME records. To sucessfully verify your domain, you have to add these records to the DNS configuration for your domain.</p> <p>If the email identity is an email address, this object is empty. </p>"
      },
      "syncReturnType" : "CreateEmailIdentityResult"
    },
    "DeleteConfigurationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationSetRequest, DeleteConfigurationSetResult>",
      "asyncReturnType" : "DeleteConfigurationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an existing configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource is being modified by another operation or thread.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigurationSetRequest",
        "variableName" : "deleteConfigurationSetRequest",
        "variableType" : "DeleteConfigurationSetRequest",
        "documentation" : "<p>A request to delete a configuration set.</p>",
        "simpleType" : "DeleteConfigurationSetRequest",
        "variableSetterType" : "DeleteConfigurationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationSet",
      "operationName" : "DeleteConfigurationSet",
      "returnType" : {
        "returnType" : "DeleteConfigurationSetResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "DeleteConfigurationSetResult"
    },
    "DeleteConfigurationSetEventDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationSetEventDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationSetEventDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationSetEventDestinationRequest, DeleteConfigurationSetEventDestinationResult>",
      "asyncReturnType" : "DeleteConfigurationSetEventDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an event destination.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigurationSetEventDestinationRequest",
        "variableName" : "deleteConfigurationSetEventDestinationRequest",
        "variableType" : "DeleteConfigurationSetEventDestinationRequest",
        "documentation" : "<p>A request to delete an event destination from a configuration set.</p>",
        "simpleType" : "DeleteConfigurationSetEventDestinationRequest",
        "variableSetterType" : "DeleteConfigurationSetEventDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationSetEventDestination",
      "operationName" : "DeleteConfigurationSetEventDestination",
      "returnType" : {
        "returnType" : "DeleteConfigurationSetEventDestinationResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "DeleteConfigurationSetEventDestinationResult"
    },
    "DeleteDedicatedIpPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDedicatedIpPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDedicatedIpPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDedicatedIpPoolRequest, DeleteDedicatedIpPoolResult>",
      "asyncReturnType" : "DeleteDedicatedIpPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a dedicated IP pool.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource is being modified by another operation or thread.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDedicatedIpPoolRequest",
        "variableName" : "deleteDedicatedIpPoolRequest",
        "variableType" : "DeleteDedicatedIpPoolRequest",
        "documentation" : "<p>A request to delete a dedicated IP pool.</p>",
        "simpleType" : "DeleteDedicatedIpPoolRequest",
        "variableSetterType" : "DeleteDedicatedIpPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDedicatedIpPool",
      "operationName" : "DeleteDedicatedIpPool",
      "returnType" : {
        "returnType" : "DeleteDedicatedIpPoolResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "DeleteDedicatedIpPoolResult"
    },
    "DeleteEmailIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEmailIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEmailIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEmailIdentityRequest, DeleteEmailIdentityResult>",
      "asyncReturnType" : "DeleteEmailIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an email identity that you previously verified for use with Amazon Pinpoint. An identity can be either an email address or a domain name.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource is being modified by another operation or thread.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEmailIdentityRequest",
        "variableName" : "deleteEmailIdentityRequest",
        "variableType" : "DeleteEmailIdentityRequest",
        "documentation" : "<p>A request to delete an existing email identity. When you delete an identity, you lose the ability to use Amazon Pinpoint to send email from that identity. You can restore your ability to send email by completing the verification process for the identity again.</p>",
        "simpleType" : "DeleteEmailIdentityRequest",
        "variableSetterType" : "DeleteEmailIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEmailIdentity",
      "operationName" : "DeleteEmailIdentity",
      "returnType" : {
        "returnType" : "DeleteEmailIdentityResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "DeleteEmailIdentityResult"
    },
    "GetAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountRequest, GetAccountResult>",
      "asyncReturnType" : "GetAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtain information about the email-sending status and capabilities of your Amazon Pinpoint account in the current AWS Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountRequest",
        "variableName" : "getAccountRequest",
        "variableType" : "GetAccountRequest",
        "documentation" : "<p>A request to obtain information about the email-sending capabilities of your Amazon Pinpoint account.</p>",
        "simpleType" : "GetAccountRequest",
        "variableSetterType" : "GetAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccount",
      "operationName" : "GetAccount",
      "returnType" : {
        "returnType" : "GetAccountResult",
        "documentation" : "<p>A list of details about the email-sending capabilities of your Amazon Pinpoint account in the current AWS Region.</p>"
      },
      "syncReturnType" : "GetAccountResult"
    },
    "GetBlacklistReports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBlacklistReportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBlacklistReportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBlacklistReportsRequest, GetBlacklistReportsResult>",
      "asyncReturnType" : "GetBlacklistReportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve a list of the blacklists that your dedicated IP addresses appear on.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBlacklistReportsRequest",
        "variableName" : "getBlacklistReportsRequest",
        "variableType" : "GetBlacklistReportsRequest",
        "documentation" : "<p>A request to retrieve a list of the blacklists that your dedicated IP addresses appear on.</p>",
        "simpleType" : "GetBlacklistReportsRequest",
        "variableSetterType" : "GetBlacklistReportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBlacklistReports",
      "operationName" : "GetBlacklistReports",
      "returnType" : {
        "returnType" : "GetBlacklistReportsResult",
        "documentation" : "<p>An object that contains information about blacklist events.</p>"
      },
      "syncReturnType" : "GetBlacklistReportsResult"
    },
    "GetConfigurationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfigurationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfigurationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfigurationSetRequest, GetConfigurationSetResult>",
      "asyncReturnType" : "GetConfigurationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get information about an existing configuration set, including the dedicated IP pool that it's associated with, whether or not it's enabled for sending email, and more.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfigurationSetRequest",
        "variableName" : "getConfigurationSetRequest",
        "variableType" : "GetConfigurationSetRequest",
        "documentation" : "<p>A request to obtain information about a configuration set.</p>",
        "simpleType" : "GetConfigurationSetRequest",
        "variableSetterType" : "GetConfigurationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfigurationSet",
      "operationName" : "GetConfigurationSet",
      "returnType" : {
        "returnType" : "GetConfigurationSetResult",
        "documentation" : "<p>Information about a configuration set.</p>"
      },
      "syncReturnType" : "GetConfigurationSetResult"
    },
    "GetConfigurationSetEventDestinations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfigurationSetEventDestinationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfigurationSetEventDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfigurationSetEventDestinationsRequest, GetConfigurationSetEventDestinationsResult>",
      "asyncReturnType" : "GetConfigurationSetEventDestinationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve a list of event destinations that are associated with a configuration set.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfigurationSetEventDestinationsRequest",
        "variableName" : "getConfigurationSetEventDestinationsRequest",
        "variableType" : "GetConfigurationSetEventDestinationsRequest",
        "documentation" : "<p>A request to obtain information about the event destinations for a configuration set.</p>",
        "simpleType" : "GetConfigurationSetEventDestinationsRequest",
        "variableSetterType" : "GetConfigurationSetEventDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfigurationSetEventDestinations",
      "operationName" : "GetConfigurationSetEventDestinations",
      "returnType" : {
        "returnType" : "GetConfigurationSetEventDestinationsResult",
        "documentation" : "<p>Information about an event destination for a configuration set.</p>"
      },
      "syncReturnType" : "GetConfigurationSetEventDestinationsResult"
    },
    "GetDedicatedIp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDedicatedIpResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDedicatedIpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDedicatedIpRequest, GetDedicatedIpResult>",
      "asyncReturnType" : "GetDedicatedIpResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get information about a dedicated IP address, including the name of the dedicated IP pool that it's associated with, as well information about the automatic warm-up process for the address.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDedicatedIpRequest",
        "variableName" : "getDedicatedIpRequest",
        "variableType" : "GetDedicatedIpRequest",
        "documentation" : "<p>A request to obtain more information about a dedicated IP address.</p>",
        "simpleType" : "GetDedicatedIpRequest",
        "variableSetterType" : "GetDedicatedIpRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDedicatedIp",
      "operationName" : "GetDedicatedIp",
      "returnType" : {
        "returnType" : "GetDedicatedIpResult",
        "documentation" : "<p>Information about a dedicated IP address.</p>"
      },
      "syncReturnType" : "GetDedicatedIpResult"
    },
    "GetDedicatedIps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDedicatedIpsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDedicatedIpsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDedicatedIpsRequest, GetDedicatedIpsResult>",
      "asyncReturnType" : "GetDedicatedIpsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the dedicated IP addresses that are associated with your Amazon Pinpoint account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDedicatedIpsRequest",
        "variableName" : "getDedicatedIpsRequest",
        "variableType" : "GetDedicatedIpsRequest",
        "documentation" : "<p>A request to obtain more information about dedicated IP pools.</p>",
        "simpleType" : "GetDedicatedIpsRequest",
        "variableSetterType" : "GetDedicatedIpsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDedicatedIps",
      "operationName" : "GetDedicatedIps",
      "returnType" : {
        "returnType" : "GetDedicatedIpsResult",
        "documentation" : "<p>Information about the dedicated IP addresses that are associated with your Amazon Pinpoint account.</p>"
      },
      "syncReturnType" : "GetDedicatedIpsResult"
    },
    "GetDeliverabilityDashboardOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeliverabilityDashboardOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeliverabilityDashboardOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeliverabilityDashboardOptionsRequest, GetDeliverabilityDashboardOptionsResult>",
      "asyncReturnType" : "GetDeliverabilityDashboardOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Show the status of the Deliverability dashboard. When the Deliverability dashboard is enabled, you gain access to reputation metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly charge of USD$1,250.00, in addition to any other fees that you accrue by using Amazon Pinpoint. If you enable the Deliverability dashboard after the first day of a calendar month, AWS prorates the monthly charge based on how many days have elapsed in the current calendar month.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>There are too many instances of the specified resource type.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeliverabilityDashboardOptionsRequest",
        "variableName" : "getDeliverabilityDashboardOptionsRequest",
        "variableType" : "GetDeliverabilityDashboardOptionsRequest",
        "documentation" : "<p>A request to retrieve the status of the Deliverability dashboard for your account. When the Deliverability dashboard is enabled, you gain access to reputation metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly charge of USD$1,250.00, in addition to any other fees that you accrue by using Amazon Pinpoint. If you enable the Deliverability dashboard after the first day of a calendar month, AWS prorates the monthly charge based on how many days have elapsed in the current calendar month.</p>",
        "simpleType" : "GetDeliverabilityDashboardOptionsRequest",
        "variableSetterType" : "GetDeliverabilityDashboardOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeliverabilityDashboardOptions",
      "operationName" : "GetDeliverabilityDashboardOptions",
      "returnType" : {
        "returnType" : "GetDeliverabilityDashboardOptionsResult",
        "documentation" : "<p>An object that shows the status of the Deliverability dashboard for your Amazon Pinpoint account.</p>"
      },
      "syncReturnType" : "GetDeliverabilityDashboardOptionsResult"
    },
    "GetDeliverabilityTestReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeliverabilityTestReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeliverabilityTestReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeliverabilityTestReportRequest, GetDeliverabilityTestReportResult>",
      "asyncReturnType" : "GetDeliverabilityTestReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve the results of a predictive inbox placement test.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeliverabilityTestReportRequest",
        "variableName" : "getDeliverabilityTestReportRequest",
        "variableType" : "GetDeliverabilityTestReportRequest",
        "documentation" : "<p>A request to retrieve the results of a predictive inbox placement test.</p>",
        "simpleType" : "GetDeliverabilityTestReportRequest",
        "variableSetterType" : "GetDeliverabilityTestReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeliverabilityTestReport",
      "operationName" : "GetDeliverabilityTestReport",
      "returnType" : {
        "returnType" : "GetDeliverabilityTestReportResult",
        "documentation" : "<p>The results of the predictive inbox placement test.</p>"
      },
      "syncReturnType" : "GetDeliverabilityTestReportResult"
    },
    "GetDomainStatisticsReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainStatisticsReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainStatisticsReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainStatisticsReportRequest, GetDomainStatisticsReportResult>",
      "asyncReturnType" : "GetDomainStatisticsReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve inbox placement and engagement rates for the domains that you use to send email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDomainStatisticsReportRequest",
        "variableName" : "getDomainStatisticsReportRequest",
        "variableType" : "GetDomainStatisticsReportRequest",
        "documentation" : "<p>A request to obtain deliverability metrics for a domain.</p>",
        "simpleType" : "GetDomainStatisticsReportRequest",
        "variableSetterType" : "GetDomainStatisticsReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomainStatisticsReport",
      "operationName" : "GetDomainStatisticsReport",
      "returnType" : {
        "returnType" : "GetDomainStatisticsReportResult",
        "documentation" : "<p>An object that includes statistics that are related to the domain that you specified.</p>"
      },
      "syncReturnType" : "GetDomainStatisticsReportResult"
    },
    "GetEmailIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEmailIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEmailIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEmailIdentityRequest, GetEmailIdentityResult>",
      "asyncReturnType" : "GetEmailIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about a specific identity associated with your Amazon Pinpoint account, including the identity's verification status, its DKIM authentication status, and its custom Mail-From settings.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEmailIdentityRequest",
        "variableName" : "getEmailIdentityRequest",
        "variableType" : "GetEmailIdentityRequest",
        "documentation" : "<p>A request to return details about an email identity.</p>",
        "simpleType" : "GetEmailIdentityRequest",
        "variableSetterType" : "GetEmailIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEmailIdentity",
      "operationName" : "GetEmailIdentity",
      "returnType" : {
        "returnType" : "GetEmailIdentityResult",
        "documentation" : "<p>Details about an email identity.</p>"
      },
      "syncReturnType" : "GetEmailIdentityResult"
    },
    "ListConfigurationSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationSetsRequest, ListConfigurationSetsResult>",
      "asyncReturnType" : "ListConfigurationSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all of the configuration sets associated with your Amazon Pinpoint account in the current region.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigurationSetsRequest",
        "variableName" : "listConfigurationSetsRequest",
        "variableType" : "ListConfigurationSetsRequest",
        "documentation" : "<p>A request to obtain a list of configuration sets for your Amazon Pinpoint account in the current AWS Region.</p>",
        "simpleType" : "ListConfigurationSetsRequest",
        "variableSetterType" : "ListConfigurationSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurationSets",
      "operationName" : "ListConfigurationSets",
      "returnType" : {
        "returnType" : "ListConfigurationSetsResult",
        "documentation" : "<p>A list of configuration sets in your Amazon Pinpoint account in the current AWS Region.</p>"
      },
      "syncReturnType" : "ListConfigurationSetsResult"
    },
    "ListDedicatedIpPools" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDedicatedIpPoolsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDedicatedIpPoolsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDedicatedIpPoolsRequest, ListDedicatedIpPoolsResult>",
      "asyncReturnType" : "ListDedicatedIpPoolsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all of the dedicated IP pools that exist in your Amazon Pinpoint account in the current AWS Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDedicatedIpPoolsRequest",
        "variableName" : "listDedicatedIpPoolsRequest",
        "variableType" : "ListDedicatedIpPoolsRequest",
        "documentation" : "<p>A request to obtain a list of dedicated IP pools.</p>",
        "simpleType" : "ListDedicatedIpPoolsRequest",
        "variableSetterType" : "ListDedicatedIpPoolsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDedicatedIpPools",
      "operationName" : "ListDedicatedIpPools",
      "returnType" : {
        "returnType" : "ListDedicatedIpPoolsResult",
        "documentation" : "<p>A list of dedicated IP pools.</p>"
      },
      "syncReturnType" : "ListDedicatedIpPoolsResult"
    },
    "ListDeliverabilityTestReports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeliverabilityTestReportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeliverabilityTestReportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeliverabilityTestReportsRequest, ListDeliverabilityTestReportsResult>",
      "asyncReturnType" : "ListDeliverabilityTestReportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Show a list of the predictive inbox placement tests that you've performed, regardless of their statuses. For predictive inbox placement tests that are complete, you can use the <code>GetDeliverabilityTestReport</code> operation to view the results.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDeliverabilityTestReportsRequest",
        "variableName" : "listDeliverabilityTestReportsRequest",
        "variableType" : "ListDeliverabilityTestReportsRequest",
        "documentation" : "<p>A request to list all of the predictive inbox placement tests that you've performed.</p>",
        "simpleType" : "ListDeliverabilityTestReportsRequest",
        "variableSetterType" : "ListDeliverabilityTestReportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeliverabilityTestReports",
      "operationName" : "ListDeliverabilityTestReports",
      "returnType" : {
        "returnType" : "ListDeliverabilityTestReportsResult",
        "documentation" : "<p>A list of the predictive inbox placement test reports that are available for your account, regardless of whether or not those tests are complete.</p>"
      },
      "syncReturnType" : "ListDeliverabilityTestReportsResult"
    },
    "ListEmailIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEmailIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEmailIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEmailIdentitiesRequest, ListEmailIdentitiesResult>",
      "asyncReturnType" : "ListEmailIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all of the email identities that are associated with your Amazon Pinpoint account. An identity can be either an email address or a domain. This operation returns identities that are verified as well as those that aren't.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEmailIdentitiesRequest",
        "variableName" : "listEmailIdentitiesRequest",
        "variableType" : "ListEmailIdentitiesRequest",
        "documentation" : "<p>A request to list all of the email identities associated with your Amazon Pinpoint account. This list includes identities that you've already verified, identities that are unverified, and identities that were verified in the past, but are no longer verified.</p>",
        "simpleType" : "ListEmailIdentitiesRequest",
        "variableSetterType" : "ListEmailIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEmailIdentities",
      "operationName" : "ListEmailIdentities",
      "returnType" : {
        "returnType" : "ListEmailIdentitiesResult",
        "documentation" : "<p>A list of all of the identities that you've attempted to verify for use with Amazon Pinpoint, regardless of whether or not those identities were successfully verified.</p>"
      },
      "syncReturnType" : "ListEmailIdentitiesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve a list of the tags (keys and values) that are associated with a specific resource. A <i>tag</i> is a label that you optionally define and associate with a resource in Amazon Pinpoint. Each tag consists of a required <i>tag key</i> and an optional associated <i>tag value</i>. A tag key is a general label that acts as a category for more specific tag values. A tag value acts as a descriptor within a tag key.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutAccountDedicatedIpWarmupAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAccountDedicatedIpWarmupAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAccountDedicatedIpWarmupAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAccountDedicatedIpWarmupAttributesRequest, PutAccountDedicatedIpWarmupAttributesResult>",
      "asyncReturnType" : "PutAccountDedicatedIpWarmupAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enable or disable the automatic warm-up feature for dedicated IP addresses.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAccountDedicatedIpWarmupAttributesRequest",
        "variableName" : "putAccountDedicatedIpWarmupAttributesRequest",
        "variableType" : "PutAccountDedicatedIpWarmupAttributesRequest",
        "documentation" : "<p>A request to enable or disable the automatic IP address warm-up feature.</p>",
        "simpleType" : "PutAccountDedicatedIpWarmupAttributesRequest",
        "variableSetterType" : "PutAccountDedicatedIpWarmupAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAccountDedicatedIpWarmupAttributes",
      "operationName" : "PutAccountDedicatedIpWarmupAttributes",
      "returnType" : {
        "returnType" : "PutAccountDedicatedIpWarmupAttributesResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutAccountDedicatedIpWarmupAttributesResult"
    },
    "PutAccountSendingAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAccountSendingAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAccountSendingAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAccountSendingAttributesRequest, PutAccountSendingAttributesResult>",
      "asyncReturnType" : "PutAccountSendingAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enable or disable the ability of your account to send email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAccountSendingAttributesRequest",
        "variableName" : "putAccountSendingAttributesRequest",
        "variableType" : "PutAccountSendingAttributesRequest",
        "documentation" : "<p>A request to change the ability of your account to send email.</p>",
        "simpleType" : "PutAccountSendingAttributesRequest",
        "variableSetterType" : "PutAccountSendingAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAccountSendingAttributes",
      "operationName" : "PutAccountSendingAttributes",
      "returnType" : {
        "returnType" : "PutAccountSendingAttributesResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutAccountSendingAttributesResult"
    },
    "PutConfigurationSetDeliveryOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutConfigurationSetDeliveryOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutConfigurationSetDeliveryOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConfigurationSetDeliveryOptionsRequest, PutConfigurationSetDeliveryOptionsResult>",
      "asyncReturnType" : "PutConfigurationSetDeliveryOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associate a configuration set with a dedicated IP pool. You can use dedicated IP pools to create groups of dedicated IP addresses for sending specific types of email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutConfigurationSetDeliveryOptionsRequest",
        "variableName" : "putConfigurationSetDeliveryOptionsRequest",
        "variableType" : "PutConfigurationSetDeliveryOptionsRequest",
        "documentation" : "<p>A request to associate a configuration set with a dedicated IP pool.</p>",
        "simpleType" : "PutConfigurationSetDeliveryOptionsRequest",
        "variableSetterType" : "PutConfigurationSetDeliveryOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putConfigurationSetDeliveryOptions",
      "operationName" : "PutConfigurationSetDeliveryOptions",
      "returnType" : {
        "returnType" : "PutConfigurationSetDeliveryOptionsResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutConfigurationSetDeliveryOptionsResult"
    },
    "PutConfigurationSetReputationOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutConfigurationSetReputationOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutConfigurationSetReputationOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConfigurationSetReputationOptionsRequest, PutConfigurationSetReputationOptionsResult>",
      "asyncReturnType" : "PutConfigurationSetReputationOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enable or disable collection of reputation metrics for emails that you send using a particular configuration set in a specific AWS Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutConfigurationSetReputationOptionsRequest",
        "variableName" : "putConfigurationSetReputationOptionsRequest",
        "variableType" : "PutConfigurationSetReputationOptionsRequest",
        "documentation" : "<p>A request to enable or disable tracking of reputation metrics for a configuration set.</p>",
        "simpleType" : "PutConfigurationSetReputationOptionsRequest",
        "variableSetterType" : "PutConfigurationSetReputationOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putConfigurationSetReputationOptions",
      "operationName" : "PutConfigurationSetReputationOptions",
      "returnType" : {
        "returnType" : "PutConfigurationSetReputationOptionsResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutConfigurationSetReputationOptionsResult"
    },
    "PutConfigurationSetSendingOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutConfigurationSetSendingOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutConfigurationSetSendingOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConfigurationSetSendingOptionsRequest, PutConfigurationSetSendingOptionsResult>",
      "asyncReturnType" : "PutConfigurationSetSendingOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enable or disable email sending for messages that use a particular configuration set in a specific AWS Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutConfigurationSetSendingOptionsRequest",
        "variableName" : "putConfigurationSetSendingOptionsRequest",
        "variableType" : "PutConfigurationSetSendingOptionsRequest",
        "documentation" : "<p>A request to enable or disable the ability of Amazon Pinpoint to send emails that use a specific configuration set.</p>",
        "simpleType" : "PutConfigurationSetSendingOptionsRequest",
        "variableSetterType" : "PutConfigurationSetSendingOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putConfigurationSetSendingOptions",
      "operationName" : "PutConfigurationSetSendingOptions",
      "returnType" : {
        "returnType" : "PutConfigurationSetSendingOptionsResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutConfigurationSetSendingOptionsResult"
    },
    "PutConfigurationSetTrackingOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutConfigurationSetTrackingOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutConfigurationSetTrackingOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConfigurationSetTrackingOptionsRequest, PutConfigurationSetTrackingOptionsResult>",
      "asyncReturnType" : "PutConfigurationSetTrackingOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specify a custom domain to use for open and click tracking elements in email that you send using Amazon Pinpoint.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutConfigurationSetTrackingOptionsRequest",
        "variableName" : "putConfigurationSetTrackingOptionsRequest",
        "variableType" : "PutConfigurationSetTrackingOptionsRequest",
        "documentation" : "<p>A request to add a custom domain for tracking open and click events to a configuration set.</p>",
        "simpleType" : "PutConfigurationSetTrackingOptionsRequest",
        "variableSetterType" : "PutConfigurationSetTrackingOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putConfigurationSetTrackingOptions",
      "operationName" : "PutConfigurationSetTrackingOptions",
      "returnType" : {
        "returnType" : "PutConfigurationSetTrackingOptionsResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutConfigurationSetTrackingOptionsResult"
    },
    "PutDedicatedIpInPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDedicatedIpInPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDedicatedIpInPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDedicatedIpInPoolRequest, PutDedicatedIpInPoolResult>",
      "asyncReturnType" : "PutDedicatedIpInPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Move a dedicated IP address to an existing dedicated IP pool.</p> <note> <p>The dedicated IP address that you specify must already exist, and must be associated with your Amazon Pinpoint account. </p> <p>The dedicated IP pool you specify must already exist. You can create a new pool by using the <code>CreateDedicatedIpPool</code> operation.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutDedicatedIpInPoolRequest",
        "variableName" : "putDedicatedIpInPoolRequest",
        "variableType" : "PutDedicatedIpInPoolRequest",
        "documentation" : "<p>A request to move a dedicated IP address to a dedicated IP pool.</p>",
        "simpleType" : "PutDedicatedIpInPoolRequest",
        "variableSetterType" : "PutDedicatedIpInPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDedicatedIpInPool",
      "operationName" : "PutDedicatedIpInPool",
      "returnType" : {
        "returnType" : "PutDedicatedIpInPoolResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutDedicatedIpInPoolResult"
    },
    "PutDedicatedIpWarmupAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDedicatedIpWarmupAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDedicatedIpWarmupAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDedicatedIpWarmupAttributesRequest, PutDedicatedIpWarmupAttributesResult>",
      "asyncReturnType" : "PutDedicatedIpWarmupAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutDedicatedIpWarmupAttributesRequest",
        "variableName" : "putDedicatedIpWarmupAttributesRequest",
        "variableType" : "PutDedicatedIpWarmupAttributesRequest",
        "documentation" : "<p>A request to change the warm-up attributes for a dedicated IP address. This operation is useful when you want to resume the warm-up process for an existing IP address.</p>",
        "simpleType" : "PutDedicatedIpWarmupAttributesRequest",
        "variableSetterType" : "PutDedicatedIpWarmupAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDedicatedIpWarmupAttributes",
      "operationName" : "PutDedicatedIpWarmupAttributes",
      "returnType" : {
        "returnType" : "PutDedicatedIpWarmupAttributesResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutDedicatedIpWarmupAttributesResult"
    },
    "PutDeliverabilityDashboardOption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDeliverabilityDashboardOptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDeliverabilityDashboardOptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDeliverabilityDashboardOptionRequest, PutDeliverabilityDashboardOptionResult>",
      "asyncReturnType" : "PutDeliverabilityDashboardOptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enable or disable the Deliverability dashboard. When you enable the Deliverability dashboard, you gain access to reputation metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly charge of USD$1,250.00, in addition to any other fees that you accrue by using Amazon Pinpoint. If you enable the Deliverability dashboard after the first day of a calendar month, we prorate the monthly charge based on how many days have elapsed in the current calendar month.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The resource specified in your request already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>There are too many instances of the specified resource type.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutDeliverabilityDashboardOptionRequest",
        "variableName" : "putDeliverabilityDashboardOptionRequest",
        "variableType" : "PutDeliverabilityDashboardOptionRequest",
        "documentation" : "<p>A request to enable or disable the Deliverability dashboard. When you enable the Deliverability dashboard, you gain access to reputation metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly charge of USD$1,250.00, in addition to any other fees that you accrue by using Amazon Pinpoint. If you enable the Deliverability dashboard after the first day of a calendar month, we prorate the monthly charge based on how many days have elapsed in the current calendar month.</p>",
        "simpleType" : "PutDeliverabilityDashboardOptionRequest",
        "variableSetterType" : "PutDeliverabilityDashboardOptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDeliverabilityDashboardOption",
      "operationName" : "PutDeliverabilityDashboardOption",
      "returnType" : {
        "returnType" : "PutDeliverabilityDashboardOptionResult",
        "documentation" : "<p>A response that indicates whether the Deliverability dashboard is enabled for your Amazon Pinpoint account.</p>"
      },
      "syncReturnType" : "PutDeliverabilityDashboardOptionResult"
    },
    "PutEmailIdentityDkimAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutEmailIdentityDkimAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutEmailIdentityDkimAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEmailIdentityDkimAttributesRequest, PutEmailIdentityDkimAttributesResult>",
      "asyncReturnType" : "PutEmailIdentityDkimAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used to enable or disable DKIM authentication for an email identity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutEmailIdentityDkimAttributesRequest",
        "variableName" : "putEmailIdentityDkimAttributesRequest",
        "variableType" : "PutEmailIdentityDkimAttributesRequest",
        "documentation" : "<p>A request to enable or disable DKIM signing of email that you send from an email identity.</p>",
        "simpleType" : "PutEmailIdentityDkimAttributesRequest",
        "variableSetterType" : "PutEmailIdentityDkimAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putEmailIdentityDkimAttributes",
      "operationName" : "PutEmailIdentityDkimAttributes",
      "returnType" : {
        "returnType" : "PutEmailIdentityDkimAttributesResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutEmailIdentityDkimAttributesResult"
    },
    "PutEmailIdentityFeedbackAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutEmailIdentityFeedbackAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutEmailIdentityFeedbackAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEmailIdentityFeedbackAttributesRequest, PutEmailIdentityFeedbackAttributesResult>",
      "asyncReturnType" : "PutEmailIdentityFeedbackAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used to enable or disable feedback forwarding for an identity. This setting determines what happens when an identity is used to send an email that results in a bounce or complaint event.</p> <p>When you enable feedback forwarding, Amazon Pinpoint sends you email notifications when bounce or complaint events occur. Amazon Pinpoint sends this notification to the address that you specified in the Return-Path header of the original email.</p> <p>When you disable feedback forwarding, Amazon Pinpoint sends notifications through other mechanisms, such as by notifying an Amazon SNS topic. You're required to have a method of tracking bounces and complaints. If you haven't set up another mechanism for receiving bounce or complaint notifications, Amazon Pinpoint sends an email notification when these events occur (even if this setting is disabled).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutEmailIdentityFeedbackAttributesRequest",
        "variableName" : "putEmailIdentityFeedbackAttributesRequest",
        "variableType" : "PutEmailIdentityFeedbackAttributesRequest",
        "documentation" : "<p>A request to set the attributes that control how bounce and complaint events are processed.</p>",
        "simpleType" : "PutEmailIdentityFeedbackAttributesRequest",
        "variableSetterType" : "PutEmailIdentityFeedbackAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putEmailIdentityFeedbackAttributes",
      "operationName" : "PutEmailIdentityFeedbackAttributes",
      "returnType" : {
        "returnType" : "PutEmailIdentityFeedbackAttributesResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutEmailIdentityFeedbackAttributesResult"
    },
    "PutEmailIdentityMailFromAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutEmailIdentityMailFromAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutEmailIdentityMailFromAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEmailIdentityMailFromAttributesRequest, PutEmailIdentityMailFromAttributesResult>",
      "asyncReturnType" : "PutEmailIdentityMailFromAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used to enable or disable the custom Mail-From domain configuration for an email identity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutEmailIdentityMailFromAttributesRequest",
        "variableName" : "putEmailIdentityMailFromAttributesRequest",
        "variableType" : "PutEmailIdentityMailFromAttributesRequest",
        "documentation" : "<p>A request to configure the custom MAIL FROM domain for a verified identity.</p>",
        "simpleType" : "PutEmailIdentityMailFromAttributesRequest",
        "variableSetterType" : "PutEmailIdentityMailFromAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putEmailIdentityMailFromAttributes",
      "operationName" : "PutEmailIdentityMailFromAttributes",
      "returnType" : {
        "returnType" : "PutEmailIdentityMailFromAttributesResult",
        "documentation" : "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>"
      },
      "syncReturnType" : "PutEmailIdentityMailFromAttributesResult"
    },
    "SendEmail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendEmailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendEmailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendEmailRequest, SendEmailResult>",
      "asyncReturnType" : "SendEmailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends an email message. You can use the Amazon Pinpoint Email API to send two types of messages:</p> <ul> <li> <p> <b>Simple</b> – A standard email message. When you create this type of message, you specify the sender, the recipient, and the message body, and Amazon Pinpoint assembles the message for you.</p> </li> <li> <p> <b>Raw</b> – A raw, MIME-formatted email message. When you send this type of email, you have to specify all of the message headers, as well as the message body. You can use this message type to send messages that contain attachments. The message that you specify has to be a valid MIME message.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Too many requests have been made to the operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>There are too many instances of the specified resource type.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccountSuspendedException",
        "documentation" : "<p>The message can't be sent because the account's ability to send email has been permanently restricted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SendingPausedException",
        "documentation" : "<p>The message can't be sent because the account's ability to send email is currently paused.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MessageRejectedException",
        "documentation" : "<p>The message can't be sent because it contains invalid content.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MailFromDomainNotVerifiedException",
        "documentation" : "<p>The message can't be sent because the sending domain isn't verified.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource you attempted to access doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendEmailRequest",
[...]
