{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-12-01",
    "asyncClient" : "AmazonPinpointAsyncClient",
    "asyncClientBuilderClassName" : "AmazonPinpointAsyncClientBuilder",
    "asyncInterface" : "AmazonPinpointAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonPinpointModuleInjector",
    "defaultEndpoint" : "https://pinpoint.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "pinpoint.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : null,
    "endpointPrefix" : "pinpoint",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.pinpoint",
    "packagePath" : "com/amazonaws/services/pinpoint",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Pinpoint",
    "serviceName" : "Amazon Pinpoint",
    "signingName" : "mobiletargeting",
    "smokeTestsPackageName" : "com.amazonaws.services.pinpoint.smoketests",
    "syncClient" : "AmazonPinpointClient",
    "syncClientBuilderClassName" : "AmazonPinpointClientBuilder",
    "syncInterface" : "AmazonPinpoint",
    "uid" : null,
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCampaignRequest, CreateCampaignResult>",
      "asyncReturnType" : "CreateCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates or updates a campaign.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateCampaignRequest",
        "variableName" : "createCampaignRequest",
        "variableType" : "CreateCampaignRequest",
        "documentation" : "",
        "simpleType" : "CreateCampaignRequest",
        "variableSetterType" : "CreateCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCampaign",
      "operationName" : "CreateCampaign",
      "returnType" : {
        "returnType" : "CreateCampaignResult",
        "documentation" : "201 response"
      },
      "syncReturnType" : "CreateCampaignResult"
    },
    "CreateImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateImportJobRequest, CreateImportJobResult>",
      "asyncReturnType" : "CreateImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates or updates an import job.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateImportJobRequest",
        "variableName" : "createImportJobRequest",
        "variableType" : "CreateImportJobRequest",
        "documentation" : "",
        "simpleType" : "CreateImportJobRequest",
        "variableSetterType" : "CreateImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createImportJob",
      "operationName" : "CreateImportJob",
      "returnType" : {
        "returnType" : "CreateImportJobResult",
        "documentation" : "201 response"
      },
      "syncReturnType" : "CreateImportJobResult"
    },
    "CreateSegment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSegmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSegmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSegmentRequest, CreateSegmentResult>",
      "asyncReturnType" : "CreateSegmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Used to create or update a segment.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSegmentRequest",
        "variableName" : "createSegmentRequest",
        "variableType" : "CreateSegmentRequest",
        "documentation" : "",
        "simpleType" : "CreateSegmentRequest",
        "variableSetterType" : "CreateSegmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSegment",
      "operationName" : "CreateSegment",
      "returnType" : {
        "returnType" : "CreateSegmentResult",
        "documentation" : "201 response"
      },
      "syncReturnType" : "CreateSegmentResult"
    },
    "DeleteApnsChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApnsChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApnsChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApnsChannelRequest, DeleteApnsChannelResult>",
      "asyncReturnType" : "DeleteApnsChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes the APNs channel for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteApnsChannelRequest",
        "variableName" : "deleteApnsChannelRequest",
        "variableType" : "DeleteApnsChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteApnsChannelRequest",
        "variableSetterType" : "DeleteApnsChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApnsChannel",
      "operationName" : "DeleteApnsChannel",
      "returnType" : {
        "returnType" : "DeleteApnsChannelResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeleteApnsChannelResult"
    },
    "DeleteCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCampaignRequest, DeleteCampaignResult>",
      "asyncReturnType" : "DeleteCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a campaign.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteCampaignRequest",
        "variableName" : "deleteCampaignRequest",
        "variableType" : "DeleteCampaignRequest",
        "documentation" : "",
        "simpleType" : "DeleteCampaignRequest",
        "variableSetterType" : "DeleteCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCampaign",
      "operationName" : "DeleteCampaign",
      "returnType" : {
        "returnType" : "DeleteCampaignResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeleteCampaignResult"
    },
    "DeleteEventStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventStreamRequest, DeleteEventStreamResult>",
      "asyncReturnType" : "DeleteEventStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes the event stream for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteEventStreamRequest",
        "variableName" : "deleteEventStreamRequest",
        "variableType" : "DeleteEventStreamRequest",
        "documentation" : "DeleteEventStream Request",
        "simpleType" : "DeleteEventStreamRequest",
        "variableSetterType" : "DeleteEventStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEventStream",
      "operationName" : "DeleteEventStream",
      "returnType" : {
        "returnType" : "DeleteEventStreamResult",
        "documentation" : "DeleteEventStream Response"
      },
      "syncReturnType" : "DeleteEventStreamResult"
    },
    "DeleteGcmChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGcmChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGcmChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGcmChannelRequest, DeleteGcmChannelResult>",
      "asyncReturnType" : "DeleteGcmChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes the GCM channel for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteGcmChannelRequest",
        "variableName" : "deleteGcmChannelRequest",
        "variableType" : "DeleteGcmChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteGcmChannelRequest",
        "variableSetterType" : "DeleteGcmChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGcmChannel",
      "operationName" : "DeleteGcmChannel",
      "returnType" : {
        "returnType" : "DeleteGcmChannelResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeleteGcmChannelResult"
    },
    "DeleteSegment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSegmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSegmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSegmentRequest, DeleteSegmentResult>",
      "asyncReturnType" : "DeleteSegmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a segment.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSegmentRequest",
        "variableName" : "deleteSegmentRequest",
        "variableType" : "DeleteSegmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteSegmentRequest",
        "variableSetterType" : "DeleteSegmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSegment",
      "operationName" : "DeleteSegment",
      "returnType" : {
        "returnType" : "DeleteSegmentResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeleteSegmentResult"
    },
    "GetApnsChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApnsChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApnsChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApnsChannelRequest, GetApnsChannelResult>",
      "asyncReturnType" : "GetApnsChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about the APNs channel for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetApnsChannelRequest",
        "variableName" : "getApnsChannelRequest",
        "variableType" : "GetApnsChannelRequest",
        "documentation" : "",
        "simpleType" : "GetApnsChannelRequest",
        "variableSetterType" : "GetApnsChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApnsChannel",
      "operationName" : "GetApnsChannel",
      "returnType" : {
        "returnType" : "GetApnsChannelResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetApnsChannelResult"
    },
    "GetApplicationSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationSettingsRequest, GetApplicationSettingsResult>",
      "asyncReturnType" : "GetApplicationSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Used to request the settings for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetApplicationSettingsRequest",
        "variableName" : "getApplicationSettingsRequest",
        "variableType" : "GetApplicationSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetApplicationSettingsRequest",
        "variableSetterType" : "GetApplicationSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplicationSettings",
      "operationName" : "GetApplicationSettings",
      "returnType" : {
        "returnType" : "GetApplicationSettingsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetApplicationSettingsResult"
    },
    "GetCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCampaignRequest, GetCampaignResult>",
      "asyncReturnType" : "GetCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about a campaign.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCampaignRequest",
        "variableName" : "getCampaignRequest",
        "variableType" : "GetCampaignRequest",
        "documentation" : "",
        "simpleType" : "GetCampaignRequest",
        "variableSetterType" : "GetCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCampaign",
      "operationName" : "GetCampaign",
      "returnType" : {
        "returnType" : "GetCampaignResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetCampaignResult"
    },
    "GetCampaignActivities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCampaignActivitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCampaignActivitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCampaignActivitiesRequest, GetCampaignActivitiesResult>",
      "asyncReturnType" : "GetCampaignActivitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about the activity performed by a campaign.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCampaignActivitiesRequest",
        "variableName" : "getCampaignActivitiesRequest",
        "variableType" : "GetCampaignActivitiesRequest",
        "documentation" : "",
        "simpleType" : "GetCampaignActivitiesRequest",
        "variableSetterType" : "GetCampaignActivitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCampaignActivities",
      "operationName" : "GetCampaignActivities",
      "returnType" : {
        "returnType" : "GetCampaignActivitiesResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetCampaignActivitiesResult"
    },
    "GetCampaignVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCampaignVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCampaignVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCampaignVersionRequest, GetCampaignVersionResult>",
      "asyncReturnType" : "GetCampaignVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about a specific version of a campaign.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCampaignVersionRequest",
        "variableName" : "getCampaignVersionRequest",
        "variableType" : "GetCampaignVersionRequest",
        "documentation" : "",
        "simpleType" : "GetCampaignVersionRequest",
        "variableSetterType" : "GetCampaignVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCampaignVersion",
      "operationName" : "GetCampaignVersion",
      "returnType" : {
        "returnType" : "GetCampaignVersionResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetCampaignVersionResult"
    },
    "GetCampaignVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCampaignVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCampaignVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCampaignVersionsRequest, GetCampaignVersionsResult>",
      "asyncReturnType" : "GetCampaignVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about your campaign versions.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCampaignVersionsRequest",
        "variableName" : "getCampaignVersionsRequest",
        "variableType" : "GetCampaignVersionsRequest",
        "documentation" : "",
        "simpleType" : "GetCampaignVersionsRequest",
        "variableSetterType" : "GetCampaignVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCampaignVersions",
      "operationName" : "GetCampaignVersions",
      "returnType" : {
        "returnType" : "GetCampaignVersionsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetCampaignVersionsResult"
    },
    "GetCampaigns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCampaignsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCampaignsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCampaignsRequest, GetCampaignsResult>",
      "asyncReturnType" : "GetCampaignsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about your campaigns.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCampaignsRequest",
        "variableName" : "getCampaignsRequest",
        "variableType" : "GetCampaignsRequest",
        "documentation" : "",
        "simpleType" : "GetCampaignsRequest",
        "variableSetterType" : "GetCampaignsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCampaigns",
      "operationName" : "GetCampaigns",
      "returnType" : {
        "returnType" : "GetCampaignsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetCampaignsResult"
    },
    "GetEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEndpointRequest, GetEndpointResult>",
      "asyncReturnType" : "GetEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about an endpoint.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetEndpointRequest",
        "variableName" : "getEndpointRequest",
        "variableType" : "GetEndpointRequest",
        "documentation" : "",
        "simpleType" : "GetEndpointRequest",
        "variableSetterType" : "GetEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEndpoint",
      "operationName" : "GetEndpoint",
      "returnType" : {
        "returnType" : "GetEndpointResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetEndpointResult"
    },
    "GetEventStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEventStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEventStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEventStreamRequest, GetEventStreamResult>",
      "asyncReturnType" : "GetEventStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns the event stream for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetEventStreamRequest",
        "variableName" : "getEventStreamRequest",
        "variableType" : "GetEventStreamRequest",
        "documentation" : "GetEventStream Request",
        "simpleType" : "GetEventStreamRequest",
        "variableSetterType" : "GetEventStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEventStream",
      "operationName" : "GetEventStream",
      "returnType" : {
        "returnType" : "GetEventStreamResult",
        "documentation" : "GetEventStream Response"
      },
      "syncReturnType" : "GetEventStreamResult"
    },
    "GetGcmChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGcmChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGcmChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGcmChannelRequest, GetGcmChannelResult>",
      "asyncReturnType" : "GetGcmChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about the GCM channel for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetGcmChannelRequest",
        "variableName" : "getGcmChannelRequest",
        "variableType" : "GetGcmChannelRequest",
        "documentation" : "",
        "simpleType" : "GetGcmChannelRequest",
        "variableSetterType" : "GetGcmChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGcmChannel",
      "operationName" : "GetGcmChannel",
      "returnType" : {
        "returnType" : "GetGcmChannelResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetGcmChannelResult"
    },
    "GetImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetImportJobRequest, GetImportJobResult>",
      "asyncReturnType" : "GetImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about an import job.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetImportJobRequest",
        "variableName" : "getImportJobRequest",
        "variableType" : "GetImportJobRequest",
        "documentation" : "",
        "simpleType" : "GetImportJobRequest",
        "variableSetterType" : "GetImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getImportJob",
      "operationName" : "GetImportJob",
      "returnType" : {
        "returnType" : "GetImportJobResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetImportJobResult"
    },
    "GetImportJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetImportJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetImportJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetImportJobsRequest, GetImportJobsResult>",
      "asyncReturnType" : "GetImportJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about your import jobs.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetImportJobsRequest",
        "variableName" : "getImportJobsRequest",
        "variableType" : "GetImportJobsRequest",
        "documentation" : "",
        "simpleType" : "GetImportJobsRequest",
        "variableSetterType" : "GetImportJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getImportJobs",
      "operationName" : "GetImportJobs",
      "returnType" : {
        "returnType" : "GetImportJobsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetImportJobsResult"
    },
    "GetSegment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSegmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSegmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSegmentRequest, GetSegmentResult>",
      "asyncReturnType" : "GetSegmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about a segment.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSegmentRequest",
        "variableName" : "getSegmentRequest",
        "variableType" : "GetSegmentRequest",
        "documentation" : "",
        "simpleType" : "GetSegmentRequest",
        "variableSetterType" : "GetSegmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSegment",
      "operationName" : "GetSegment",
      "returnType" : {
        "returnType" : "GetSegmentResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetSegmentResult"
    },
    "GetSegmentImportJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSegmentImportJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSegmentImportJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSegmentImportJobsRequest, GetSegmentImportJobsResult>",
      "asyncReturnType" : "GetSegmentImportJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a list of import jobs for a specific segment.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSegmentImportJobsRequest",
        "variableName" : "getSegmentImportJobsRequest",
        "variableType" : "GetSegmentImportJobsRequest",
        "documentation" : "",
        "simpleType" : "GetSegmentImportJobsRequest",
        "variableSetterType" : "GetSegmentImportJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSegmentImportJobs",
      "operationName" : "GetSegmentImportJobs",
      "returnType" : {
        "returnType" : "GetSegmentImportJobsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetSegmentImportJobsResult"
    },
    "GetSegmentVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSegmentVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSegmentVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSegmentVersionRequest, GetSegmentVersionResult>",
      "asyncReturnType" : "GetSegmentVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about a segment version.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSegmentVersionRequest",
        "variableName" : "getSegmentVersionRequest",
        "variableType" : "GetSegmentVersionRequest",
        "documentation" : "",
        "simpleType" : "GetSegmentVersionRequest",
        "variableSetterType" : "GetSegmentVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSegmentVersion",
      "operationName" : "GetSegmentVersion",
      "returnType" : {
        "returnType" : "GetSegmentVersionResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetSegmentVersionResult"
    },
    "GetSegmentVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSegmentVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSegmentVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSegmentVersionsRequest, GetSegmentVersionsResult>",
      "asyncReturnType" : "GetSegmentVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about your segment versions.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSegmentVersionsRequest",
        "variableName" : "getSegmentVersionsRequest",
        "variableType" : "GetSegmentVersionsRequest",
        "documentation" : "",
        "simpleType" : "GetSegmentVersionsRequest",
        "variableSetterType" : "GetSegmentVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSegmentVersions",
      "operationName" : "GetSegmentVersions",
      "returnType" : {
        "returnType" : "GetSegmentVersionsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetSegmentVersionsResult"
    },
    "GetSegments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSegmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSegmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSegmentsRequest, GetSegmentsResult>",
      "asyncReturnType" : "GetSegmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Used to get information about your segments.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSegmentsRequest",
        "variableName" : "getSegmentsRequest",
        "variableType" : "GetSegmentsRequest",
        "documentation" : "",
        "simpleType" : "GetSegmentsRequest",
        "variableSetterType" : "GetSegmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSegments",
      "operationName" : "GetSegments",
      "returnType" : {
        "returnType" : "GetSegmentsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetSegmentsResult"
    },
    "PutEventStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutEventStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutEventStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEventStreamRequest, PutEventStreamResult>",
      "asyncReturnType" : "PutEventStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Use to create or update the event stream for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Simple message object.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutEventStreamRequest",
        "variableName" : "putEventStreamRequest",
        "variableType" : "PutEventStreamRequest",
        "documentation" : "PutEventStream Request",
        "simpleType" : "PutEventStreamRequest",
        "variableSetterType" : "PutEventStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putEventStream",
      "operationName" : "PutEventStream",
      "returnType" : {
        "returnType" : "PutEventStreamResult",
        "documentation" : "PutEventStream Response"
      },
      "syncReturnType" : "PutEventStreamResult"
    },
    "UpdateApnsChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApnsChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApnsChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApnsChannelRequest, UpdateApnsChannelResult>",
      "asyncReturnType" : "UpdateApnsChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Use to update the APNs channel for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateApnsChannelRequest",
        "variableName" : "updateApnsChannelRequest",
        "variableType" : "UpdateApnsChannelRequest",
        "documentation" : "",
        "simpleType" : "UpdateApnsChannelRequest",
        "variableSetterType" : "UpdateApnsChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApnsChannel",
      "operationName" : "UpdateApnsChannel",
      "returnType" : {
        "returnType" : "UpdateApnsChannelResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UpdateApnsChannelResult"
    },
    "UpdateApplicationSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationSettingsRequest, UpdateApplicationSettingsResult>",
      "asyncReturnType" : "UpdateApplicationSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Used to update the settings for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateApplicationSettingsRequest",
        "variableName" : "updateApplicationSettingsRequest",
        "variableType" : "UpdateApplicationSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationSettingsRequest",
        "variableSetterType" : "UpdateApplicationSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplicationSettings",
      "operationName" : "UpdateApplicationSettings",
      "returnType" : {
        "returnType" : "UpdateApplicationSettingsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UpdateApplicationSettingsResult"
    },
    "UpdateCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCampaignRequest, UpdateCampaignResult>",
      "asyncReturnType" : "UpdateCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Use to update a campaign.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateCampaignRequest",
        "variableName" : "updateCampaignRequest",
        "variableType" : "UpdateCampaignRequest",
        "documentation" : "",
        "simpleType" : "UpdateCampaignRequest",
        "variableSetterType" : "UpdateCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCampaign",
      "operationName" : "UpdateCampaign",
      "returnType" : {
        "returnType" : "UpdateCampaignResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UpdateCampaignResult"
    },
    "UpdateEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEndpointRequest, UpdateEndpointResult>",
      "asyncReturnType" : "UpdateEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Use to update an endpoint.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateEndpointRequest",
        "variableName" : "updateEndpointRequest",
        "variableType" : "UpdateEndpointRequest",
        "documentation" : "",
        "simpleType" : "UpdateEndpointRequest",
        "variableSetterType" : "UpdateEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEndpoint",
      "operationName" : "UpdateEndpoint",
      "returnType" : {
        "returnType" : "UpdateEndpointResult",
        "documentation" : "202 response"
      },
      "syncReturnType" : "UpdateEndpointResult"
    },
    "UpdateEndpointsBatch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEndpointsBatchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEndpointsBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEndpointsBatchRequest, UpdateEndpointsBatchResult>",
      "asyncReturnType" : "UpdateEndpointsBatchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Use to update a batch of endpoints.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateEndpointsBatchRequest",
        "variableName" : "updateEndpointsBatchRequest",
        "variableType" : "UpdateEndpointsBatchRequest",
        "documentation" : "",
        "simpleType" : "UpdateEndpointsBatchRequest",
        "variableSetterType" : "UpdateEndpointsBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEndpointsBatch",
      "operationName" : "UpdateEndpointsBatch",
      "returnType" : {
        "returnType" : "UpdateEndpointsBatchResult",
        "documentation" : "202 response"
      },
      "syncReturnType" : "UpdateEndpointsBatchResult"
    },
    "UpdateGcmChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGcmChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGcmChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGcmChannelRequest, UpdateGcmChannelResult>",
      "asyncReturnType" : "UpdateGcmChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Use to update the GCM channel for an app.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateGcmChannelRequest",
        "variableName" : "updateGcmChannelRequest",
        "variableType" : "UpdateGcmChannelRequest",
        "documentation" : "",
        "simpleType" : "UpdateGcmChannelRequest",
        "variableSetterType" : "UpdateGcmChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGcmChannel",
      "operationName" : "UpdateGcmChannel",
      "returnType" : {
        "returnType" : "UpdateGcmChannelResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UpdateGcmChannelResult"
    },
    "UpdateSegment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSegmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSegmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSegmentRequest, UpdateSegmentResult>",
      "asyncReturnType" : "UpdateSegmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Use to update a segment.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "403 response",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "404 response",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "405 response",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "429 response",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateSegmentRequest",
        "variableName" : "updateSegmentRequest",
        "variableType" : "UpdateSegmentRequest",
        "documentation" : "",
        "simpleType" : "UpdateSegmentRequest",
        "variableSetterType" : "UpdateSegmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSegment",
      "operationName" : "UpdateSegment",
      "returnType" : {
        "returnType" : "UpdateSegmentResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UpdateSegmentResult"
    }
  },
  "shapes" : {
    "APNSChannelRequest" : {
      "c2jName" : "APNSChannelRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Apple Push Notification Service channel definition.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Certificate",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The distribution certificate from Apple.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The distribution certificate from Apple.\n@param certificate The distribution certificate from Apple.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCertificate",
        "getterDocumentation" : "/**The distribution certificate from Apple.\n@return The distribution certificate from Apple.*/",
        "getterMethodName" : "getCertificate",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Certificate",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Certificate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Certificate",
        "setterDocumentation" : "/**The distribution certificate from Apple.\n@param certificate The distribution certificate from Apple.*/",
        "setterMethodName" : "setCertificate",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "certificate",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The distribution certificate from Apple.\n@param certificate The distribution certificate from Apple.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "certificate",
          "variableType" : "String",
          "documentation" : "The distribution certificate from Apple.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PrivateKey",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The certificate private key.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The certificate private key.\n@param privateKey The certificate private key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPrivateKey",
        "getterDocumentation" : "/**The certificate private key.\n@return The certificate private key.*/",
        "getterMethodName" : "getPrivateKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PrivateKey",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PrivateKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PrivateKey",
        "setterDocumentation" : "/**The certificate private key.\n@param privateKey The certificate private key.*/",
        "setterMethodName" : "setPrivateKey",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "privateKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The certificate private key.\n@param privateKey The certificate private key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "privateKey",
          "variableType" : "String",
          "documentation" : "The certificate private key.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Certificate" : {
          "c2jName" : "Certificate",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The distribution certificate from Apple.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The distribution certificate from Apple.\n@param certificate The distribution certificate from Apple.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCertificate",
          "getterDocumentation" : "/**The distribution certificate from Apple.\n@return The distribution certificate from Apple.*/",
          "getterMethodName" : "getCertificate",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Certificate",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Certificate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Certificate",
          "setterDocumentation" : "/**The distribution certificate from Apple.\n@param certificate The distribution certificate from Apple.*/",
          "setterMethodName" : "setCertificate",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "certificate",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The distribution certificate from Apple.\n@param certificate The distribution certificate from Apple.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "certificate",
            "variableType" : "String",
            "documentation" : "The distribution certificate from Apple.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PrivateKey" : {
          "c2jName" : "PrivateKey",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The certificate private key.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The certificate private key.\n@param privateKey The certificate private key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPrivateKey",
          "getterDocumentation" : "/**The certificate private key.\n@return The certificate private key.*/",
          "getterMethodName" : "getPrivateKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "PrivateKey",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PrivateKey",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "PrivateKey",
          "setterDocumentation" : "/**The certificate private key.\n@param privateKey The certificate private key.*/",
          "setterMethodName" : "setPrivateKey",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "privateKey",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The certificate private key.\n@param privateKey The certificate private key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "privateKey",
            "variableType" : "String",
            "documentation" : "The certificate private key.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "APNSChannelRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "APNSChannelRequest",
        "variableName" : "aPNSChannelRequest",
        "variableType" : "APNSChannelRequest",
        "documentation" : null,
        "simpleType" : "APNSChannelRequest",
        "variableSetterType" : "APNSChannelRequest"
      },
      "wrapper" : false
    },
    "APNSChannelResponse" : {
      "c2jName" : "APNSChannelResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Apple Distribution Push Notification Service channel definition.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ApplicationId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The ID of the application to which the channel applies.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ID of the application to which the channel applies.\n@param applicationId The ID of the application to which the channel applies.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationId",
        "getterDocumentation" : "/**The ID of the application to which the channel applies.\n@return The ID of the application to which the channel applies.*/",
        "getterMethodName" : "getApplicationId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApplicationId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationId",
        "setterDocumentation" : "/**The ID of the application to which the channel applies.\n@param applicationId The ID of the application to which the channel applies.*/",
        "setterMethodName" : "setApplicationId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ID of the application to which the channel applies.\n@param applicationId The ID of the application to which the channel applies.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationId",
          "variableType" : "String",
          "documentation" : "The ID of the application to which the channel applies.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreationDate",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "When was this segment created",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**When was this segment created\n@param creationDate When was this segment created\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreationDate",
        "getterDocumentation" : "/**When was this segment created\n@return When was this segment created*/",
        "getterMethodName" : "getCreationDate",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreationDate",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreationDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CreationDate",
        "setterDocumentation" : "/**When was this segment created\n@param creationDate When was this segment created*/",
        "setterMethodName" : "setCreationDate",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "creationDate",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**When was this segment created\n@param creationDate When was this segment created\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "creationDate",
          "variableType" : "String",
          "documentation" : "When was this segment created",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The unique channel ID.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The unique channel ID.\n@param id The unique channel ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**The unique channel ID.\n@return The unique channel ID.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "setterDocumentation" : "/**The unique channel ID.\n@param id The unique channel ID.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The unique channel ID.\n@param id The unique channel ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "The unique channel ID.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IsArchived",
        "c2jShape" : "__boolean",
        "deprecated" : false,
        "documentation" : "Is this channel archived",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Is this channel archived\n@param isArchived Is this channel archived\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIsArchived",
        "getterDocumentation" : "/**Is this channel archived\n@return Is this channel archived*/",
        "getterMethodName" : "getIsArchived",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IsArchived",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IsArchived",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "IsArchived",
        "setterDocumentation" : "/**Is this channel archived\n@param isArchived Is this channel archived*/",
        "setterMethodName" : "setIsArchived",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "isArchived",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Is this channel archived\n@param isArchived Is this channel archived\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "isArchived",
          "variableType" : "Boolean",
          "documentation" : "Is this channel archived",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastModifiedBy",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "Who last updated this entry",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Who last updated this entry\n@param lastModifiedBy Who last updated this entry\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastModifiedBy",
        "getterDocumentation" : "/**Who last updated this entry\n@return Who last updated this entry*/",
        "getterMethodName" : "getLastModifiedBy",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastModifiedBy",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastModifiedBy",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LastModifiedBy",
        "setterDocumentation" : "/**Who last updated this entry\n@param lastModifiedBy Who last updated this entry*/",
        "setterMethodName" : "setLastModifiedBy",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "lastModifiedBy",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Who last updated this entry\n@param lastModifiedBy Who last updated this entry\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "lastModifiedBy",
          "variableType" : "String",
          "documentation" : "Who last updated this entry",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastModifiedDate",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "Last date this was updated",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Last date this was updated\n@param lastModifiedDate Last date this was updated\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastModifiedDate",
        "getterDocumentation" : "/**Last date this was updated\n@return Last date this was updated*/",
        "getterMethodName" : "getLastModifiedDate",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastModifiedDate",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastModifiedDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LastModifiedDate",
        "setterDocumentation" : "/**Last date this was updated\n@param lastModifiedDate Last date this was updated*/",
        "setterMethodName" : "setLastModifiedDate",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "lastModifiedDate",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Last date this was updated\n@param lastModifiedDate Last date this was updated\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "lastModifiedDate",
          "variableType" : "String",
          "documentation" : "Last date this was updated",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Platform",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The platform type. Will be APNS.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The platform type. Will be APNS.\n@param platform The platform type. Will be APNS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPlatform",
        "getterDocumentation" : "/**The platform type. Will be APNS.\n@return The platform type. Will be APNS.*/",
        "getterMethodName" : "getPlatform",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Platform",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Platform",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Platform",
        "setterDocumentation" : "/**The platform type. Will be APNS.\n@param platform The platform type. Will be APNS.*/",
        "setterMethodName" : "setPlatform",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "platform",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The platform type. Will be APNS.\n@param platform The platform type. Will be APNS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
