{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-12-03",
    "asyncClient" : "AWSPrivate5GAsyncClient",
    "asyncClientBuilderClassName" : "AWSPrivate5GAsyncClientBuilder",
    "asyncInterface" : "AWSPrivate5GAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSPrivate5GModuleInjector",
    "defaultEndpoint" : "private-networks.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "private-networks.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Web Services Private 5G is a managed service that makes it easy to deploy, operate, and scale your own private mobile network at your on-premises location. Private 5G provides the pre-configured hardware and software for mobile networks, helps automate setup, and scales capacity on demand to support additional devices as needed.</p>",
    "endpointPrefix" : "private-networks",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.private5g",
    "packagePath" : "com/amazonaws/services/private5g",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Private 5G",
    "serviceId" : "PrivateNetworks",
    "serviceName" : "AWS Private 5G",
    "signingName" : "private-networks",
    "smokeTestsPackageName" : "com.amazonaws.services.private5g.smoketests",
    "syncClient" : "AWSPrivate5GClient",
    "syncClientBuilderClassName" : "AWSPrivate5GClientBuilder",
    "syncInterface" : "AWSPrivate5G",
    "uid" : "privatenetworks-2021-12-03",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcknowledgeOrderReceipt" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcknowledgeOrderReceiptResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcknowledgeOrderReceiptResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcknowledgeOrderReceiptRequest, AcknowledgeOrderReceiptResult>",
      "asyncReturnType" : "AcknowledgeOrderReceiptResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Acknowledges that the specified network order was received.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcknowledgeOrderReceiptRequest",
        "variableName" : "acknowledgeOrderReceiptRequest",
        "variableType" : "AcknowledgeOrderReceiptRequest",
        "documentation" : "",
        "simpleType" : "AcknowledgeOrderReceiptRequest",
        "variableSetterType" : "AcknowledgeOrderReceiptRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acknowledgeOrderReceipt",
      "operationName" : "AcknowledgeOrderReceipt",
      "returnType" : {
        "returnType" : "AcknowledgeOrderReceiptResult",
        "documentation" : null
      },
      "syncReturnType" : "AcknowledgeOrderReceiptResult"
    },
    "ActivateDeviceIdentifier" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ActivateDeviceIdentifierResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ActivateDeviceIdentifierResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivateDeviceIdentifierRequest, ActivateDeviceIdentifierResult>",
      "asyncReturnType" : "ActivateDeviceIdentifierResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates the specified device identifier.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivateDeviceIdentifierRequest",
        "variableName" : "activateDeviceIdentifierRequest",
        "variableType" : "ActivateDeviceIdentifierRequest",
        "documentation" : "",
        "simpleType" : "ActivateDeviceIdentifierRequest",
        "variableSetterType" : "ActivateDeviceIdentifierRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "activateDeviceIdentifier",
      "operationName" : "ActivateDeviceIdentifier",
      "returnType" : {
        "returnType" : "ActivateDeviceIdentifierResult",
        "documentation" : null
      },
      "syncReturnType" : "ActivateDeviceIdentifierResult"
    },
    "ActivateNetworkSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ActivateNetworkSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ActivateNetworkSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivateNetworkSiteRequest, ActivateNetworkSiteResult>",
      "asyncReturnType" : "ActivateNetworkSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates the specified network site.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivateNetworkSiteRequest",
        "variableName" : "activateNetworkSiteRequest",
        "variableType" : "ActivateNetworkSiteRequest",
        "documentation" : "",
        "simpleType" : "ActivateNetworkSiteRequest",
        "variableSetterType" : "ActivateNetworkSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "activateNetworkSite",
      "operationName" : "ActivateNetworkSite",
      "returnType" : {
        "returnType" : "ActivateNetworkSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "ActivateNetworkSiteResult"
    },
    "ConfigureAccessPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfigureAccessPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfigureAccessPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfigureAccessPointRequest, ConfigureAccessPointResult>",
      "asyncReturnType" : "ConfigureAccessPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures the specified network resource. </p> <p> Use this action to specify the geographic position of the hardware. You must provide Certified Professional Installer (CPI) credentials in the request so that we can obtain spectrum grants. For more information, see <a href=\"https://docs.aws.amazon.com/private-networks/latest/userguide/radio-units.html\">Radio units</a> in the <i>Amazon Web Services Private 5G User Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfigureAccessPointRequest",
        "variableName" : "configureAccessPointRequest",
        "variableType" : "ConfigureAccessPointRequest",
        "documentation" : "",
        "simpleType" : "ConfigureAccessPointRequest",
        "variableSetterType" : "ConfigureAccessPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "configureAccessPoint",
      "operationName" : "ConfigureAccessPoint",
      "returnType" : {
        "returnType" : "ConfigureAccessPointResult",
        "documentation" : null
      },
      "syncReturnType" : "ConfigureAccessPointResult"
    },
    "CreateNetwork" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNetworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNetworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNetworkRequest, CreateNetworkResult>",
      "asyncReturnType" : "CreateNetworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit was exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNetworkRequest",
        "variableName" : "createNetworkRequest",
        "variableType" : "CreateNetworkRequest",
        "documentation" : "",
        "simpleType" : "CreateNetworkRequest",
        "variableSetterType" : "CreateNetworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNetwork",
      "operationName" : "CreateNetwork",
      "returnType" : {
        "returnType" : "CreateNetworkResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNetworkResult"
    },
    "CreateNetworkSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNetworkSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNetworkSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNetworkSiteRequest, CreateNetworkSiteResult>",
      "asyncReturnType" : "CreateNetworkSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a network site.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNetworkSiteRequest",
        "variableName" : "createNetworkSiteRequest",
        "variableType" : "CreateNetworkSiteRequest",
        "documentation" : "",
        "simpleType" : "CreateNetworkSiteRequest",
        "variableSetterType" : "CreateNetworkSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNetworkSite",
      "operationName" : "CreateNetworkSite",
      "returnType" : {
        "returnType" : "CreateNetworkSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNetworkSiteResult"
    },
    "DeactivateDeviceIdentifier" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeactivateDeviceIdentifierResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeactivateDeviceIdentifierResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeactivateDeviceIdentifierRequest, DeactivateDeviceIdentifierResult>",
      "asyncReturnType" : "DeactivateDeviceIdentifierResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deactivates the specified device identifier.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeactivateDeviceIdentifierRequest",
        "variableName" : "deactivateDeviceIdentifierRequest",
        "variableType" : "DeactivateDeviceIdentifierRequest",
        "documentation" : "",
        "simpleType" : "DeactivateDeviceIdentifierRequest",
        "variableSetterType" : "DeactivateDeviceIdentifierRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deactivateDeviceIdentifier",
      "operationName" : "DeactivateDeviceIdentifier",
      "returnType" : {
        "returnType" : "DeactivateDeviceIdentifierResult",
        "documentation" : null
      },
      "syncReturnType" : "DeactivateDeviceIdentifierResult"
    },
    "DeleteNetwork" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNetworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNetworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNetworkRequest, DeleteNetworkResult>",
      "asyncReturnType" : "DeleteNetworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified network. You must delete network sites before you delete the network. For more information, see <a href=\"https://docs.aws.amazon.com/private-networks/latest/APIReference/API_DeleteNetworkSite.html\">DeleteNetworkSite</a> in the <i>API Reference for Amazon Web Services Private 5G</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNetworkRequest",
        "variableName" : "deleteNetworkRequest",
        "variableType" : "DeleteNetworkRequest",
        "documentation" : "",
        "simpleType" : "DeleteNetworkRequest",
        "variableSetterType" : "DeleteNetworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNetwork",
      "operationName" : "DeleteNetwork",
      "returnType" : {
        "returnType" : "DeleteNetworkResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNetworkResult"
    },
    "DeleteNetworkSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNetworkSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNetworkSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNetworkSiteRequest, DeleteNetworkSiteResult>",
      "asyncReturnType" : "DeleteNetworkSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified network site. Return the hardware after you delete the network site. You are responsible for minimum charges. For more information, see <a href=\"https://docs.aws.amazon.com/private-networks/latest/userguide/hardware-maintenance.html\">Hardware returns</a> in the <i>Amazon Web Services Private 5G User Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNetworkSiteRequest",
        "variableName" : "deleteNetworkSiteRequest",
        "variableType" : "DeleteNetworkSiteRequest",
        "documentation" : "",
        "simpleType" : "DeleteNetworkSiteRequest",
        "variableSetterType" : "DeleteNetworkSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNetworkSite",
      "operationName" : "DeleteNetworkSite",
      "returnType" : {
        "returnType" : "DeleteNetworkSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNetworkSiteResult"
    },
    "GetDeviceIdentifier" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceIdentifierResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceIdentifierResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceIdentifierRequest, GetDeviceIdentifierResult>",
      "asyncReturnType" : "GetDeviceIdentifierResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the specified device identifier.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceIdentifierRequest",
        "variableName" : "getDeviceIdentifierRequest",
        "variableType" : "GetDeviceIdentifierRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceIdentifierRequest",
        "variableSetterType" : "GetDeviceIdentifierRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeviceIdentifier",
      "operationName" : "GetDeviceIdentifier",
      "returnType" : {
        "returnType" : "GetDeviceIdentifierResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceIdentifierResult"
    },
    "GetNetwork" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNetworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNetworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNetworkRequest, GetNetworkResult>",
      "asyncReturnType" : "GetNetworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the specified network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNetworkRequest",
        "variableName" : "getNetworkRequest",
        "variableType" : "GetNetworkRequest",
        "documentation" : "",
        "simpleType" : "GetNetworkRequest",
        "variableSetterType" : "GetNetworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNetwork",
      "operationName" : "GetNetwork",
      "returnType" : {
        "returnType" : "GetNetworkResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNetworkResult"
    },
    "GetNetworkResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNetworkResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNetworkResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNetworkResourceRequest, GetNetworkResourceResult>",
      "asyncReturnType" : "GetNetworkResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the specified network resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNetworkResourceRequest",
        "variableName" : "getNetworkResourceRequest",
        "variableType" : "GetNetworkResourceRequest",
        "documentation" : "",
        "simpleType" : "GetNetworkResourceRequest",
        "variableSetterType" : "GetNetworkResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNetworkResource",
      "operationName" : "GetNetworkResource",
      "returnType" : {
        "returnType" : "GetNetworkResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNetworkResourceResult"
    },
    "GetNetworkSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNetworkSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNetworkSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNetworkSiteRequest, GetNetworkSiteResult>",
      "asyncReturnType" : "GetNetworkSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the specified network site.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNetworkSiteRequest",
        "variableName" : "getNetworkSiteRequest",
        "variableType" : "GetNetworkSiteRequest",
        "documentation" : "",
        "simpleType" : "GetNetworkSiteRequest",
        "variableSetterType" : "GetNetworkSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNetworkSite",
      "operationName" : "GetNetworkSite",
      "returnType" : {
        "returnType" : "GetNetworkSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNetworkSiteResult"
    },
    "GetOrder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOrderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOrderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOrderRequest, GetOrderResult>",
      "asyncReturnType" : "GetOrderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the specified order.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOrderRequest",
        "variableName" : "getOrderRequest",
        "variableType" : "GetOrderRequest",
        "documentation" : "",
        "simpleType" : "GetOrderRequest",
        "variableSetterType" : "GetOrderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOrder",
      "operationName" : "GetOrder",
      "returnType" : {
        "returnType" : "GetOrderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOrderResult"
    },
    "ListDeviceIdentifiers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeviceIdentifiersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeviceIdentifiersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeviceIdentifiersRequest, ListDeviceIdentifiersResult>",
      "asyncReturnType" : "ListDeviceIdentifiersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists device identifiers. Add filters to your request to return a more specific list of results. Use filters to match the Amazon Resource Name (ARN) of an order, the status of device identifiers, or the ARN of the traffic group.</p> <pre><code> &lt;p&gt;If you specify multiple filters, filters are joined with an OR, and the request </code></pre> <p>returns results that match all of the specified filters.</p></p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDeviceIdentifiersRequest",
        "variableName" : "listDeviceIdentifiersRequest",
        "variableType" : "ListDeviceIdentifiersRequest",
        "documentation" : "",
        "simpleType" : "ListDeviceIdentifiersRequest",
        "variableSetterType" : "ListDeviceIdentifiersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeviceIdentifiers",
      "operationName" : "ListDeviceIdentifiers",
      "returnType" : {
        "returnType" : "ListDeviceIdentifiersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeviceIdentifiersResult"
    },
    "ListNetworkResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNetworkResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNetworkResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNetworkResourcesRequest, ListNetworkResourcesResult>",
      "asyncReturnType" : "ListNetworkResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists network resources. Add filters to your request to return a more specific list of results. Use filters to match the Amazon Resource Name (ARN) of an order or the status of network resources.</p> <p>If you specify multiple filters, filters are joined with an OR, and the request returns results that match all of the specified filters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNetworkResourcesRequest",
        "variableName" : "listNetworkResourcesRequest",
        "variableType" : "ListNetworkResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListNetworkResourcesRequest",
        "variableSetterType" : "ListNetworkResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNetworkResources",
      "operationName" : "ListNetworkResources",
      "returnType" : {
        "returnType" : "ListNetworkResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNetworkResourcesResult"
    },
    "ListNetworkSites" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNetworkSitesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNetworkSitesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNetworkSitesRequest, ListNetworkSitesResult>",
      "asyncReturnType" : "ListNetworkSitesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists network sites. Add filters to your request to return a more specific list of results. Use filters to match the status of the network site.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNetworkSitesRequest",
        "variableName" : "listNetworkSitesRequest",
        "variableType" : "ListNetworkSitesRequest",
        "documentation" : "",
        "simpleType" : "ListNetworkSitesRequest",
        "variableSetterType" : "ListNetworkSitesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNetworkSites",
      "operationName" : "ListNetworkSites",
      "returnType" : {
        "returnType" : "ListNetworkSitesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNetworkSitesResult"
    },
    "ListNetworks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNetworksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNetworksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNetworksRequest, ListNetworksResult>",
      "asyncReturnType" : "ListNetworksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists networks. Add filters to your request to return a more specific list of results. Use filters to match the status of the network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNetworksRequest",
        "variableName" : "listNetworksRequest",
        "variableType" : "ListNetworksRequest",
        "documentation" : "",
        "simpleType" : "ListNetworksRequest",
        "variableSetterType" : "ListNetworksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNetworks",
      "operationName" : "ListNetworks",
      "returnType" : {
        "returnType" : "ListNetworksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNetworksResult"
    },
    "ListOrders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOrdersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOrdersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOrdersRequest, ListOrdersResult>",
      "asyncReturnType" : "ListOrdersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists orders. Add filters to your request to return a more specific list of results. Use filters to match the Amazon Resource Name (ARN) of the network site or the status of the order.</p> <p>If you specify multiple filters, filters are joined with an OR, and the request returns results that match all of the specified filters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOrdersRequest",
        "variableName" : "listOrdersRequest",
        "variableType" : "ListOrdersRequest",
        "documentation" : "",
        "simpleType" : "ListOrdersRequest",
        "variableSetterType" : "ListOrdersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOrders",
      "operationName" : "ListOrders",
      "returnType" : {
        "returnType" : "ListOrdersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOrdersResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "Ping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PingRequest, PingResult>",
      "asyncReturnType" : "PingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks the health of the service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PingRequest",
        "variableName" : "pingRequest",
        "variableType" : "PingRequest",
        "documentation" : null,
        "simpleType" : "PingRequest",
        "variableSetterType" : "PingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "ping",
      "operationName" : "Ping",
      "returnType" : {
        "returnType" : "PingResult",
        "documentation" : null
      },
      "syncReturnType" : "PingResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Adds tags to the specified resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateNetworkSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateNetworkSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateNetworkSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateNetworkSiteRequest, UpdateNetworkSiteResult>",
      "asyncReturnType" : "UpdateNetworkSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified network site.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateNetworkSiteRequest",
        "variableName" : "updateNetworkSiteRequest",
        "variableType" : "UpdateNetworkSiteRequest",
        "documentation" : "",
        "simpleType" : "UpdateNetworkSiteRequest",
        "variableSetterType" : "UpdateNetworkSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateNetworkSite",
      "operationName" : "UpdateNetworkSite",
      "returnType" : {
        "returnType" : "UpdateNetworkSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateNetworkSiteResult"
    },
    "UpdateNetworkSitePlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateNetworkSitePlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateNetworkSitePlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateNetworkSitePlanRequest, UpdateNetworkSitePlanResult>",
      "asyncReturnType" : "UpdateNetworkSitePlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified network site plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Information about an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateNetworkSitePlanRequest",
        "variableName" : "updateNetworkSitePlanRequest",
        "variableType" : "UpdateNetworkSitePlanRequest",
        "documentation" : "",
        "simpleType" : "UpdateNetworkSitePlanRequest",
        "variableSetterType" : "UpdateNetworkSitePlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateNetworkSitePlan",
      "operationName" : "UpdateNetworkSitePlan",
      "returnType" : {
        "returnType" : "UpdateNetworkSitePlanResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateNetworkSitePlanResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have permission to perform this operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.private5g.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.private5g.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AcknowledgeOrderReceiptRequest" : {
      "c2jName" : "AcknowledgeOrderReceiptRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.private5g.request.AcknowledgeOrderReceiptRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcknowledgeOrderReceipt",
        "locationName" : null,
        "requestUri" : "/v1/orders/acknowledge",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "orderArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the order.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the order.</p>\n@param orderArn The Amazon Resource Name (ARN) of the order.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOrderArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the order.</p>\n@return The Amazon Resource Name (ARN) of the order.*/",
        "getterMethodName" : "getOrderArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "orderArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "orderArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OrderArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the order.</p>\n@param orderArn The Amazon Resource Name (ARN) of the order.*/",
        "setterMethodName" : "setOrderArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "orderArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the order.</p>\n@param orderArn The Amazon Resource Name (ARN) of the order.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "orderArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the order.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "OrderArn" : {
          "c2jName" : "orderArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the order.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the order.</p>\n@param orderArn The Amazon Resource Name (ARN) of the order.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOrderArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the order.</p>\n@return The Amazon Resource Name (ARN) of the order.*/",
          "getterMethodName" : "getOrderArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "orderArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "orderArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OrderArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the order.</p>\n@param orderArn The Amazon Resource Name (ARN) of the order.*/",
          "setterMethodName" : "setOrderArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "orderArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the order.</p>\n@param orderArn The Amazon Resource Name (ARN) of the order.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "orderArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the order.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.private5g.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "orderArn" ],
      "shapeName" : "AcknowledgeOrderReceiptRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcknowledgeOrderReceiptRequest",
        "variableName" : "acknowledgeOrderReceiptRequest",
        "variableType" : "AcknowledgeOrderReceiptRequest",
        "documentation" : null,
        "simpleType" : "AcknowledgeOrderReceiptRequest",
        "variableSetterType" : "AcknowledgeOrderReceiptRequest"
      },
      "wrapper" : false
    },
    "AcknowledgeOrderReceiptResult" : {
      "c2jName" : "AcknowledgeOrderReceiptResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.private5g.response.AcknowledgeOrderReceiptResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "order",
        "c2jShape" : "Order",
        "deprecated" : false,
        "documentation" : "<p>Information about the order.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the order.</p>\n@param order Information about the order.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOrder",
        "getterDocumentation" : "/**<p>Information about the order.</p>\n@return Information about the order.*/",
        "getterMethodName" : "getOrder",
        "getterModel" : {
          "returnType" : "Order",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "order",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "order",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Order",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the order.</p>\n@param order Information about the order.*/",
        "setterMethodName" : "setOrder",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Order",
          "variableName" : "order",
          "variableType" : "Order",
          "documentation" : "",
          "simpleType" : "Order",
          "variableSetterType" : "Order"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the order.</p>\n@param order Information about the order.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Order",
          "variableName" : "order",
          "variableType" : "Order",
          "documentation" : "<p>Information about the order.</p>",
          "simpleType" : "Order",
          "variableSetterType" : "Order"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Order" : {
          "c2jName" : "order",
          "c2jShape" : "Order",
          "deprecated" : false,
          "documentation" : "<p>Information about the order.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the order.</p>\n@param order Information about the order.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOrder",
          "getterDocumentation" : "/**<p>Information about the order.</p>\n@return Information about the order.*/",
          "getterMethodName" : "getOrder",
          "getterModel" : {
            "returnType" : "Order",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "order",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "order",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Order",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about the order.</p>\n@param order Information about the order.*/",
          "setterMethodName" : "setOrder",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Order",
            "variableName" : "order",
            "variableType" : "Order",
            "documentation" : "",
            "simpleType" : "Order",
            "variableSetterType" : "Order"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the order.</p>\n@param order Information about the order.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Order",
            "variableName" : "order",
            "variableType" : "Order",
            "documentation" : "<p>Information about the order.</p>",
            "simpleType" : "Order",
            "variableSetterType" : "Order"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.private5g.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "order" ],
      "shapeName" : "AcknowledgeOrderReceiptResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcknowledgeOrderReceiptResult",
        "variableName" : "acknowledgeOrderReceiptResult",
        "variableType" : "AcknowledgeOrderReceiptResult",
        "documentation" : null,
        "simpleType" : "AcknowledgeOrderReceiptResult",
        "variableSetterType" : "AcknowledgeOrderReceiptResult"
      },
      "wrapper" : false
    },
    "AcknowledgmentStatus" : {
      "c2jName" : "AcknowledgmentStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "ACKNOWLEDGING",
        "value" : "ACKNOWLEDGING"
      }, {
        "name" : "ACKNOWLEDGED",
        "value" : "ACKNOWLEDGED"
      }, {
        "name" : "UNACKNOWLEDGED",
        "value" : "UNACKNOWLEDGED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.private5g.enum.AcknowledgmentStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.private5g.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AcknowledgmentStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcknowledgmentStatus",
        "variableName" : "acknowledgmentStatus",
        "variableType" : "AcknowledgmentStatus",
        "documentation" : null,
        "simpleType" : "AcknowledgmentStatus",
        "variableSetterType" : "AcknowledgmentStatus"
      },
      "wrapper" : false
    },
    "ActivateDeviceIdentifierRequest" : {
      "c2jName" : "ActivateDeviceIdentifierRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.private5g.request.ActivateDeviceIdentifierRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ActivateDeviceIdentifier",
        "locationName" : null,
        "requestUri" : "/v1/device-identifiers/activate",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "clientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>\n@return Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "deviceIdentifierArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the device identifier.</p>\n@param deviceIdentifierArn The Amazon Resource Name (ARN) of the device identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceIdentifierArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the device identifier.</p>\n@return The Amazon Resource Name (ARN) of the device identifier.*/",
        "getterMethodName" : "getDeviceIdentifierArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deviceIdentifierArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceIdentifierArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceIdentifierArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the device identifier.</p>\n@param deviceIdentifierArn The Amazon Resource Name (ARN) of the device identifier.*/",
        "setterMethodName" : "setDeviceIdentifierArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceIdentifierArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the device identifier.</p>\n@param deviceIdentifierArn The Amazon Resource Name (ARN) of the device identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceIdentifierArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "ClientToken",
          "deprecated" : false,
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>\n@return Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DeviceIdentifierArn" : {
          "c2jName" : "deviceIdentifierArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the device identifier.</p>\n@param deviceIdentifierArn The Amazon Resource Name (ARN) of the device identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceIdentifierArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the device identifier.</p>\n@return The Amazon Resource Name (ARN) of the device identifier.*/",
          "getterMethodName" : "getDeviceIdentifierArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "deviceIdentifierArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "deviceIdentifierArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceIdentifierArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the device identifier.</p>\n@param deviceIdentifierArn The Amazon Resource Name (ARN) of the device identifier.*/",
          "setterMethodName" : "setDeviceIdentifierArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceIdentifierArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the device identifier.</p>\n@param deviceIdentifierArn The Amazon Resource Name (ARN) of the device identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceIdentifierArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.private5g.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "deviceIdentifierArn" ],
      "shapeName" : "ActivateDeviceIdentifierRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivateDeviceIdentifierRequest",
        "variableName" : "activateDeviceIdentifierRequest",
        "variableType" : "ActivateDeviceIdentifierRequest",
        "documentation" : null,
        "simpleType" : "ActivateDeviceIdentifierRequest",
        "variableSetterType" : "ActivateDeviceIdentifierRequest"
      },
      "wrapper" : false
    },
    "ActivateDeviceIdentifierResult" : {
      "c2jName" : "ActivateDeviceIdentifierResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.private5g.response.ActivateDeviceIdentifierResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "deviceIdentifier",
        "c2jShape" : "DeviceIdentifier",
        "deprecated" : false,
        "documentation" : "<p>Information about the device identifier.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the device identifier.</p>\n@param deviceIdentifier Information about the device identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceIdentifier",
        "getterDocumentation" : "/**<p>Information about the device identifier.</p>\n@return Information about the device identifier.*/",
        "getterMethodName" : "getDeviceIdentifier",
        "getterModel" : {
          "returnType" : "DeviceIdentifier",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deviceIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceIdentifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DeviceIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the device identifier.</p>\n@param deviceIdentifier Information about the device identifier.*/",
        "setterMethodName" : "setDeviceIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DeviceIdentifier",
          "variableName" : "deviceIdentifier",
          "variableType" : "DeviceIdentifier",
          "documentation" : "",
          "simpleType" : "DeviceIdentifier",
          "variableSetterType" : "DeviceIdentifier"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the device identifier.</p>\n@param deviceIdentifier Information about the device identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DeviceIdentifier",
          "variableName" : "deviceIdentifier",
          "variableType" : "DeviceIdentifier",
          "documentation" : "<p>Information about the device identifier.</p>",
          "simpleType" : "DeviceIdentifier",
          "variableSetterType" : "DeviceIdentifier"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "<p> The tags on the device identifier. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The tags on the device identifier. </p>\n@param tags The tags on the device identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p> The tags on the device identifier. </p>\n@return The tags on the device identifier.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
[...]
