{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-05-14",
    "asyncClient" : "AWSIoT1ClickProjectsAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoT1ClickProjectsAsyncClientBuilder",
    "asyncInterface" : "AWSIoT1ClickProjectsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSIoT1ClickProjectsModuleInjector",
    "defaultEndpoint" : "projects.iot1click.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "projects.iot1click.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The AWS IoT 1-Click Projects API Reference</p>",
    "endpointPrefix" : "projects.iot1click",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iot1clickprojects",
    "packagePath" : "com/amazonaws/services/iot1clickprojects",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS IoT 1-Click Projects",
    "serviceFullName" : "AWS IoT 1-Click Projects Service",
    "serviceId" : "IoT 1Click Projects",
    "serviceName" : "AWS IoT 1-Click Projects",
    "signingName" : "iot1click",
    "smokeTestsPackageName" : "com.amazonaws.services.iot1clickprojects.smoketests",
    "syncClient" : "AWSIoT1ClickProjectsClient",
    "syncClientBuilderClassName" : "AWSIoT1ClickProjectsClientBuilder",
    "syncInterface" : "AWSIoT1ClickProjects",
    "uid" : "iot1click-projects-2018-05-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateDeviceWithPlacement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDeviceWithPlacementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDeviceWithPlacementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDeviceWithPlacementRequest, AssociateDeviceWithPlacementResult>",
      "asyncReturnType" : "AssociateDeviceWithPlacementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a physical device with a placement.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDeviceWithPlacementRequest",
        "variableName" : "associateDeviceWithPlacementRequest",
        "variableType" : "AssociateDeviceWithPlacementRequest",
        "documentation" : "",
        "simpleType" : "AssociateDeviceWithPlacementRequest",
        "variableSetterType" : "AssociateDeviceWithPlacementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDeviceWithPlacement",
      "operationName" : "AssociateDeviceWithPlacement",
      "returnType" : {
        "returnType" : "AssociateDeviceWithPlacementResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDeviceWithPlacementResult"
    },
    "CreatePlacement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePlacementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePlacementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePlacementRequest, CreatePlacementResult>",
      "asyncReturnType" : "CreatePlacementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an empty placement.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePlacementRequest",
        "variableName" : "createPlacementRequest",
        "variableType" : "CreatePlacementRequest",
        "documentation" : "",
        "simpleType" : "CreatePlacementRequest",
        "variableSetterType" : "CreatePlacementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPlacement",
      "operationName" : "CreatePlacement",
      "returnType" : {
        "returnType" : "CreatePlacementResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePlacementResult"
    },
    "CreateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProjectRequest, CreateProjectResult>",
      "asyncReturnType" : "CreateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an empty project with a placement template. A project contains zero or more placements that adhere to the placement template defined in the project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProjectRequest",
        "variableName" : "createProjectRequest",
        "variableType" : "CreateProjectRequest",
        "documentation" : "",
        "simpleType" : "CreateProjectRequest",
        "variableSetterType" : "CreateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProject",
      "operationName" : "CreateProject",
      "returnType" : {
        "returnType" : "CreateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProjectResult"
    },
    "DeletePlacement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePlacementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePlacementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePlacementRequest, DeletePlacementResult>",
      "asyncReturnType" : "DeletePlacementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a placement. To delete a placement, it must not have any devices associated with it.</p> <note> <p>When you delete a placement, all associated data becomes irretrievable.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePlacementRequest",
        "variableName" : "deletePlacementRequest",
        "variableType" : "DeletePlacementRequest",
        "documentation" : "",
        "simpleType" : "DeletePlacementRequest",
        "variableSetterType" : "DeletePlacementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePlacement",
      "operationName" : "DeletePlacement",
      "returnType" : {
        "returnType" : "DeletePlacementResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePlacementResult"
    },
    "DeleteProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProjectRequest, DeleteProjectResult>",
      "asyncReturnType" : "DeleteProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a project. To delete a project, it must not have any placements associated with it.</p> <note> <p>When you delete a project, all associated data becomes irretrievable.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProjectRequest",
        "variableName" : "deleteProjectRequest",
        "variableType" : "DeleteProjectRequest",
        "documentation" : "",
        "simpleType" : "DeleteProjectRequest",
        "variableSetterType" : "DeleteProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProject",
      "operationName" : "DeleteProject",
      "returnType" : {
        "returnType" : "DeleteProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProjectResult"
    },
    "DescribePlacement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePlacementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePlacementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePlacementRequest, DescribePlacementResult>",
      "asyncReturnType" : "DescribePlacementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a placement in a project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePlacementRequest",
        "variableName" : "describePlacementRequest",
        "variableType" : "DescribePlacementRequest",
        "documentation" : "",
        "simpleType" : "DescribePlacementRequest",
        "variableSetterType" : "DescribePlacementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePlacement",
      "operationName" : "DescribePlacement",
      "returnType" : {
        "returnType" : "DescribePlacementResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePlacementResult"
    },
    "DescribeProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProjectRequest, DescribeProjectResult>",
      "asyncReturnType" : "DescribeProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an object describing a project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProjectRequest",
        "variableName" : "describeProjectRequest",
        "variableType" : "DescribeProjectRequest",
        "documentation" : "",
        "simpleType" : "DescribeProjectRequest",
        "variableSetterType" : "DescribeProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProject",
      "operationName" : "DescribeProject",
      "returnType" : {
        "returnType" : "DescribeProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProjectResult"
    },
    "DisassociateDeviceFromPlacement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDeviceFromPlacementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDeviceFromPlacementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDeviceFromPlacementRequest, DisassociateDeviceFromPlacementResult>",
      "asyncReturnType" : "DisassociateDeviceFromPlacementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a physical device from a placement.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateDeviceFromPlacementRequest",
        "variableName" : "disassociateDeviceFromPlacementRequest",
        "variableType" : "DisassociateDeviceFromPlacementRequest",
        "documentation" : "",
        "simpleType" : "DisassociateDeviceFromPlacementRequest",
        "variableSetterType" : "DisassociateDeviceFromPlacementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDeviceFromPlacement",
      "operationName" : "DisassociateDeviceFromPlacement",
      "returnType" : {
        "returnType" : "DisassociateDeviceFromPlacementResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDeviceFromPlacementResult"
    },
    "GetDevicesInPlacement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDevicesInPlacementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDevicesInPlacementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDevicesInPlacementRequest, GetDevicesInPlacementResult>",
      "asyncReturnType" : "GetDevicesInPlacementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an object enumerating the devices in a placement.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDevicesInPlacementRequest",
        "variableName" : "getDevicesInPlacementRequest",
        "variableType" : "GetDevicesInPlacementRequest",
        "documentation" : "",
        "simpleType" : "GetDevicesInPlacementRequest",
        "variableSetterType" : "GetDevicesInPlacementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevicesInPlacement",
      "operationName" : "GetDevicesInPlacement",
      "returnType" : {
        "returnType" : "GetDevicesInPlacementResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDevicesInPlacementResult"
    },
    "ListPlacements" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPlacementsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPlacementsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPlacementsRequest, ListPlacementsResult>",
      "asyncReturnType" : "ListPlacementsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the placement(s) of a project.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPlacementsRequest",
        "variableName" : "listPlacementsRequest",
        "variableType" : "ListPlacementsRequest",
        "documentation" : "",
        "simpleType" : "ListPlacementsRequest",
        "variableSetterType" : "ListPlacementsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPlacements",
      "operationName" : "ListPlacements",
      "returnType" : {
        "returnType" : "ListPlacementsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPlacementsResult"
    },
    "ListProjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProjectsRequest, ListProjectsResult>",
      "asyncReturnType" : "ListProjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the AWS IoT 1-Click project(s) associated with your AWS account and region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProjectsRequest",
        "variableName" : "listProjectsRequest",
        "variableType" : "ListProjectsRequest",
        "documentation" : "",
        "simpleType" : "ListProjectsRequest",
        "variableSetterType" : "ListProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProjects",
      "operationName" : "ListProjects",
      "returnType" : {
        "returnType" : "ListProjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProjectsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags (metadata key/value pairs) which you have assigned to the resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or modifies tags for a resource. Tags are key/value pairs (metadata) that can be used to manage a resource. For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS Tagging Strategies</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags (metadata key/value pairs) from a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdatePlacement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePlacementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePlacementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePlacementRequest, UpdatePlacementResult>",
      "asyncReturnType" : "UpdatePlacementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a placement with the given attributes. To clear an attribute, pass an empty value (i.e., \"\").</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePlacementRequest",
        "variableName" : "updatePlacementRequest",
        "variableType" : "UpdatePlacementRequest",
        "documentation" : "",
        "simpleType" : "UpdatePlacementRequest",
        "variableSetterType" : "UpdatePlacementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePlacement",
      "operationName" : "UpdatePlacement",
      "returnType" : {
        "returnType" : "UpdatePlacementResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePlacementResult"
    },
    "UpdateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProjectRequest, UpdateProjectResult>",
      "asyncReturnType" : "UpdateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a project associated with your AWS account and region. With the exception of device template names, you can pass just the values that need to be updated because the update request will change only the values that are provided. To clear a value, pass the empty string (i.e., <code>\"\"</code>).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProjectRequest",
        "variableName" : "updateProjectRequest",
        "variableType" : "UpdateProjectRequest",
        "documentation" : "",
        "simpleType" : "UpdateProjectRequest",
        "variableSetterType" : "UpdateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProject",
      "operationName" : "UpdateProject",
      "returnType" : {
        "returnType" : "UpdateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProjectResult"
    }
  },
  "shapes" : {
    "AssociateDeviceWithPlacementRequest" : {
      "c2jName" : "AssociateDeviceWithPlacementRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateDeviceWithPlacement",
        "locationName" : null,
        "requestUri" : "/projects/{projectName}/placements/{placementName}/devices/{deviceTemplateName}",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "projectName",
        "c2jShape" : "ProjectName",
        "deprecated" : false,
        "documentation" : "<p>The name of the project containing the placement in which to associate the device.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the project containing the placement in which to associate the device.</p>\n@param projectName The name of the project containing the placement in which to associate the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProjectName",
        "getterDocumentation" : "/**<p>The name of the project containing the placement in which to associate the device.</p>\n@return The name of the project containing the placement in which to associate the device.*/",
        "getterMethodName" : "getProjectName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "projectName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "projectName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProjectName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the project containing the placement in which to associate the device.</p>\n@param projectName The name of the project containing the placement in which to associate the device.*/",
        "setterMethodName" : "setProjectName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "projectName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the project containing the placement in which to associate the device.</p>\n@param projectName The name of the project containing the placement in which to associate the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "projectName",
          "variableType" : "String",
          "documentation" : "<p>The name of the project containing the placement in which to associate the device.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "placementName",
        "c2jShape" : "PlacementName",
        "deprecated" : false,
        "documentation" : "<p>The name of the placement in which to associate the device.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the placement in which to associate the device.</p>\n@param placementName The name of the placement in which to associate the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPlacementName",
        "getterDocumentation" : "/**<p>The name of the placement in which to associate the device.</p>\n@return The name of the placement in which to associate the device.*/",
        "getterMethodName" : "getPlacementName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "placementName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "placementName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PlacementName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the placement in which to associate the device.</p>\n@param placementName The name of the placement in which to associate the device.*/",
        "setterMethodName" : "setPlacementName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "placementName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the placement in which to associate the device.</p>\n@param placementName The name of the placement in which to associate the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "placementName",
          "variableType" : "String",
          "documentation" : "<p>The name of the placement in which to associate the device.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "deviceId",
        "c2jShape" : "DeviceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>\n@param deviceId The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceId",
        "getterDocumentation" : "/**<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>\n@return The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.*/",
        "getterMethodName" : "getDeviceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deviceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>\n@param deviceId The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.*/",
        "setterMethodName" : "setDeviceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>\n@param deviceId The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "deviceTemplateName",
        "c2jShape" : "DeviceTemplateName",
        "deprecated" : false,
        "documentation" : "<p>The device template name to associate with the device ID.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The device template name to associate with the device ID.</p>\n@param deviceTemplateName The device template name to associate with the device ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceTemplateName",
        "getterDocumentation" : "/**<p>The device template name to associate with the device ID.</p>\n@return The device template name to associate with the device ID.*/",
        "getterMethodName" : "getDeviceTemplateName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "deviceTemplateName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceTemplateName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceTemplateName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The device template name to associate with the device ID.</p>\n@param deviceTemplateName The device template name to associate with the device ID.*/",
        "setterMethodName" : "setDeviceTemplateName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceTemplateName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The device template name to associate with the device ID.</p>\n@param deviceTemplateName The device template name to associate with the device ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceTemplateName",
          "variableType" : "String",
          "documentation" : "<p>The device template name to associate with the device ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DeviceId" : {
          "c2jName" : "deviceId",
          "c2jShape" : "DeviceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>\n@param deviceId The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceId",
          "getterDocumentation" : "/**<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>\n@return The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.*/",
          "getterMethodName" : "getDeviceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "deviceId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "deviceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>\n@param deviceId The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.*/",
          "setterMethodName" : "setDeviceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>\n@param deviceId The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the physical device to be associated with the given placement in the project. Note that a mandatory 4 character prefix is required for all <code>deviceId</code> values.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DeviceTemplateName" : {
          "c2jName" : "deviceTemplateName",
          "c2jShape" : "DeviceTemplateName",
          "deprecated" : false,
          "documentation" : "<p>The device template name to associate with the device ID.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The device template name to associate with the device ID.</p>\n@param deviceTemplateName The device template name to associate with the device ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceTemplateName",
          "getterDocumentation" : "/**<p>The device template name to associate with the device ID.</p>\n@return The device template name to associate with the device ID.*/",
          "getterMethodName" : "getDeviceTemplateName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "deviceTemplateName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "deviceTemplateName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceTemplateName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The device template name to associate with the device ID.</p>\n@param deviceTemplateName The device template name to associate with the device ID.*/",
          "setterMethodName" : "setDeviceTemplateName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceTemplateName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The device template name to associate with the device ID.</p>\n@param deviceTemplateName The device template name to associate with the device ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceTemplateName",
            "variableType" : "String",
            "documentation" : "<p>The device template name to associate with the device ID.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PlacementName" : {
          "c2jName" : "placementName",
          "c2jShape" : "PlacementName",
          "deprecated" : false,
          "documentation" : "<p>The name of the placement in which to associate the device.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the placement in which to associate the device.</p>\n@param placementName The name of the placement in which to associate the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPlacementName",
          "getterDocumentation" : "/**<p>The name of the placement in which to associate the device.</p>\n@return The name of the placement in which to associate the device.*/",
          "getterMethodName" : "getPlacementName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "placementName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "placementName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "PlacementName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the placement in which to associate the device.</p>\n@param placementName The name of the placement in which to associate the device.*/",
          "setterMethodName" : "setPlacementName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "placementName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the placement in which to associate the device.</p>\n@param placementName The name of the placement in which to associate the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "placementName",
            "variableType" : "String",
            "documentation" : "<p>The name of the placement in which to associate the device.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProjectName" : {
          "c2jName" : "projectName",
          "c2jShape" : "ProjectName",
          "deprecated" : false,
          "documentation" : "<p>The name of the project containing the placement in which to associate the device.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the project containing the placement in which to associate the device.</p>\n@param projectName The name of the project containing the placement in which to associate the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProjectName",
          "getterDocumentation" : "/**<p>The name of the project containing the placement in which to associate the device.</p>\n@return The name of the project containing the placement in which to associate the device.*/",
          "getterMethodName" : "getProjectName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "projectName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "projectName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProjectName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the project containing the placement in which to associate the device.</p>\n@param projectName The name of the project containing the placement in which to associate the device.*/",
          "setterMethodName" : "setProjectName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "projectName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the project containing the placement in which to associate the device.</p>\n@param projectName The name of the project containing the placement in which to associate the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "projectName",
            "variableType" : "String",
            "documentation" : "<p>The name of the project containing the placement in which to associate the device.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "projectName", "placementName", "deviceId", "deviceTemplateName" ],
      "shapeName" : "AssociateDeviceWithPlacementRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDeviceWithPlacementRequest",
        "variableName" : "associateDeviceWithPlacementRequest",
        "variableType" : "AssociateDeviceWithPlacementRequest",
        "documentation" : null,
        "simpleType" : "AssociateDeviceWithPlacementRequest",
        "variableSetterType" : "AssociateDeviceWithPlacementRequest"
      },
      "wrapper" : false
    },
    "AssociateDeviceWithPlacementResult" : {
      "c2jName" : "AssociateDeviceWithPlacementResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateDeviceWithPlacementResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDeviceWithPlacementResult",
        "variableName" : "associateDeviceWithPlacementResult",
        "variableType" : "AssociateDeviceWithPlacementResult",
        "documentation" : null,
        "simpleType" : "AssociateDeviceWithPlacementResult",
        "variableSetterType" : "AssociateDeviceWithPlacementResult"
      },
      "wrapper" : false
    },
    "CreatePlacementRequest" : {
      "c2jName" : "CreatePlacementRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreatePlacement",
        "locationName" : null,
        "requestUri" : "/projects/{projectName}/placements",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "placementName",
        "c2jShape" : "PlacementName",
        "deprecated" : false,
        "documentation" : "<p>The name of the placement to be created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the placement to be created.</p>\n@param placementName The name of the placement to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPlacementName",
        "getterDocumentation" : "/**<p>The name of the placement to be created.</p>\n@return The name of the placement to be created.*/",
        "getterMethodName" : "getPlacementName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "placementName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "placementName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PlacementName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the placement to be created.</p>\n@param placementName The name of the placement to be created.*/",
        "setterMethodName" : "setPlacementName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "placementName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the placement to be created.</p>\n@param placementName The name of the placement to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "placementName",
          "variableType" : "String",
          "documentation" : "<p>The name of the placement to be created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "projectName",
        "c2jShape" : "ProjectName",
        "deprecated" : false,
        "documentation" : "<p>The name of the project in which to create the placement.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the project in which to create the placement.</p>\n@param projectName The name of the project in which to create the placement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProjectName",
        "getterDocumentation" : "/**<p>The name of the project in which to create the placement.</p>\n@return The name of the project in which to create the placement.*/",
        "getterMethodName" : "getProjectName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "projectName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "projectName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProjectName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the project in which to create the placement.</p>\n@param projectName The name of the project in which to create the placement.*/",
        "setterMethodName" : "setProjectName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "projectName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the project in which to create the placement.</p>\n@param projectName The name of the project in which to create the placement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "projectName",
          "variableType" : "String",
          "documentation" : "<p>The name of the project in which to create the placement.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "attributes",
        "c2jShape" : "PlacementAttributeMap",
        "deprecated" : false,
        "documentation" : "<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>\n@param attributes Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttributes",
        "getterDocumentation" : "/**<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>\n@return Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.*/",
        "getterMethodName" : "getAttributes",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "attributes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "attributes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "AttributeValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Attributes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>\n@param attributes Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.*/",
        "setterMethodName" : "setAttributes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "attributes",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>\n@param attributes Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "attributes",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Attributes" : {
          "c2jName" : "attributes",
          "c2jShape" : "PlacementAttributeMap",
          "deprecated" : false,
          "documentation" : "<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>\n@param attributes Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttributes",
          "getterDocumentation" : "/**<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>\n@return Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.*/",
          "getterMethodName" : "getAttributes",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "attributes",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "attributes",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "AttributeValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Attributes",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>\n@param attributes Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.*/",
          "setterMethodName" : "setAttributes",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "attributes",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>\n@param attributes Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "attributes",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p>Optional user-defined key/value pairs providing contextual data (such as location or function) for the placement.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        },
        "PlacementName" : {
          "c2jName" : "placementName",
          "c2jShape" : "PlacementName",
          "deprecated" : false,
          "documentation" : "<p>The name of the placement to be created.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the placement to be created.</p>\n@param placementName The name of the placement to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPlacementName",
          "getterDocumentation" : "/**<p>The name of the placement to be created.</p>\n@return The name of the placement to be created.*/",
          "getterMethodName" : "getPlacementName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "placementName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "placementName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "PlacementName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the placement to be created.</p>\n@param placementName The name of the placement to be created.*/",
          "setterMethodName" : "setPlacementName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "placementName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the placement to be created.</p>\n@param placementName The name of the placement to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "placementName",
            "variableType" : "String",
            "documentation" : "<p>The name of the placement to be created.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProjectName" : {
          "c2jName" : "projectName",
          "c2jShape" : "ProjectName",
          "deprecated" : false,
          "documentation" : "<p>The name of the project in which to create the placement.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the project in which to create the placement.</p>\n@param projectName The name of the project in which to create the placement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProjectName",
          "getterDocumentation" : "/**<p>The name of the project in which to create the placement.</p>\n@return The name of the project in which to create the placement.*/",
          "getterMethodName" : "getProjectName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "projectName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "projectName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProjectName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the project in which to create the placement.</p>\n@param projectName The name of the project in which to create the placement.*/",
          "setterMethodName" : "setProjectName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "projectName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the project in which to create the placement.</p>\n@param projectName The name of the project in which to create the placement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "projectName",
            "variableType" : "String",
            "documentation" : "<p>The name of the project in which to create the placement.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "placementName", "projectName" ],
      "shapeName" : "CreatePlacementRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePlacementRequest",
        "variableName" : "createPlacementRequest",
        "variableType" : "CreatePlacementRequest",
        "documentation" : null,
        "simpleType" : "CreatePlacementRequest",
        "variableSetterType" : "CreatePlacementRequest"
      },
      "wrapper" : false
    },
    "CreatePlacementResult" : {
      "c2jName" : "CreatePlacementResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreatePlacementResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePlacementResult",
        "variableName" : "createPlacementResult",
        "variableType" : "CreatePlacementResult",
        "documentation" : null,
        "simpleType" : "CreatePlacementResult",
        "variableSetterType" : "CreatePlacementResult"
      },
      "wrapper" : false
    },
    "CreateProjectRequest" : {
      "c2jName" : "CreateProjectRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateProject",
        "locationName" : null,
        "requestUri" : "/projects",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "projectName",
        "c2jShape" : "ProjectName",
        "deprecated" : false,
        "documentation" : "<p>The name of the project to create.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the project to create.</p>\n@param projectName The name of the project to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProjectName",
        "getterDocumentation" : "/**<p>The name of the project to create.</p>\n@return The name of the project to create.*/",
        "getterMethodName" : "getProjectName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "projectName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "projectName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProjectName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the project to create.</p>\n@param projectName The name of the project to create.*/",
        "setterMethodName" : "setProjectName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "projectName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the project to create.</p>\n@param projectName The name of the project to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "projectName",
          "variableType" : "String",
          "documentation" : "<p>The name of the project to create.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "<p>An optional description for the project.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An optional description for the project.</p>\n@param description An optional description for the project.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>An optional description for the project.</p>\n@return An optional description for the project.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
[...]
