{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-11-27",
    "asyncClient" : "AWSQAppsAsyncClient",
    "asyncClientBuilderClassName" : "AWSQAppsAsyncClientBuilder",
    "asyncInterface" : "AWSQAppsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSQAppsModuleInjector",
    "defaultEndpoint" : "data.qapps.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "data.qapps.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Q Apps feature capability within Amazon Q Business allows web experience users to create lightweight, purpose-built AI apps to fulfill specific tasks from within their web experience. For example, users can create an Q Appthat exclusively generates marketing-related content to improve your marketing team's productivity or a Q App for marketing content-generation like writing customer emails and creating promotional content using a certain style of voice, tone, and branding. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/purpose-built-qapps.html\">Amazon Q App</a> in the <i>Amazon Q Business User Guide</i>. </p>",
    "endpointPrefix" : "data.qapps",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.qapps",
    "packagePath" : "com/amazonaws/services/qapps",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "QApps",
    "serviceId" : "QApps",
    "serviceName" : "QApps",
    "signingName" : "qapps",
    "smokeTestsPackageName" : "com.amazonaws.services.qapps.smoketests",
    "syncClient" : "AWSQAppsClient",
    "syncClientBuilderClassName" : "AWSQAppsClientBuilder",
    "syncInterface" : "AWSQApps",
    "uid" : "qapps-2023-11-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateLibraryItemReview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateLibraryItemReviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateLibraryItemReviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateLibraryItemReviewRequest, AssociateLibraryItemReviewResult>",
      "asyncReturnType" : "AssociateLibraryItemReviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a rating or review for a library item with the user submitting the request. This increments the rating count for the specified library item.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateLibraryItemReviewRequest",
        "variableName" : "associateLibraryItemReviewRequest",
        "variableType" : "AssociateLibraryItemReviewRequest",
        "documentation" : "",
        "simpleType" : "AssociateLibraryItemReviewRequest",
        "variableSetterType" : "AssociateLibraryItemReviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateLibraryItemReview",
      "operationName" : "AssociateLibraryItemReview",
      "returnType" : {
        "returnType" : "AssociateLibraryItemReviewResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateLibraryItemReviewResult"
    },
    "AssociateQAppWithUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateQAppWithUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateQAppWithUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateQAppWithUserRequest, AssociateQAppWithUserResult>",
      "asyncReturnType" : "AssociateQAppWithUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation creates a link between the user's identity calling the operation and a specific Q App. This is useful to mark the Q App as a <i>favorite</i> for the user if the user doesn't own the Amazon Q App so they can still run it and see it in their inventory of Q Apps.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateQAppWithUserRequest",
        "variableName" : "associateQAppWithUserRequest",
        "variableType" : "AssociateQAppWithUserRequest",
        "documentation" : "",
        "simpleType" : "AssociateQAppWithUserRequest",
        "variableSetterType" : "AssociateQAppWithUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateQAppWithUser",
      "operationName" : "AssociateQAppWithUser",
      "returnType" : {
        "returnType" : "AssociateQAppWithUserResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateQAppWithUserResult"
    },
    "CreateLibraryItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLibraryItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLibraryItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLibraryItemRequest, CreateLibraryItemResult>",
      "asyncReturnType" : "CreateLibraryItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new library item for an Amazon Q App, allowing it to be discovered and used by other allowed users. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLibraryItemRequest",
        "variableName" : "createLibraryItemRequest",
        "variableType" : "CreateLibraryItemRequest",
        "documentation" : "",
        "simpleType" : "CreateLibraryItemRequest",
        "variableSetterType" : "CreateLibraryItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLibraryItem",
      "operationName" : "CreateLibraryItem",
      "returnType" : {
        "returnType" : "CreateLibraryItemResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLibraryItemResult"
    },
    "CreateQApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateQAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateQAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateQAppRequest, CreateQAppResult>",
      "asyncReturnType" : "CreateQAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Amazon Q App based on the provided definition. The Q App definition specifies the cards and flow of the Q App. This operation also calculates the dependencies between the cards by inspecting the references in the prompts. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation could not be completed due to a conflict with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ContentTooLargeException",
        "documentation" : "<p>The requested operation could not be completed because the content exceeds the maximum allowed size.</p>",
        "httpStatusCode" : 413
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateQAppRequest",
        "variableName" : "createQAppRequest",
        "variableType" : "CreateQAppRequest",
        "documentation" : "",
        "simpleType" : "CreateQAppRequest",
        "variableSetterType" : "CreateQAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createQApp",
      "operationName" : "CreateQApp",
      "returnType" : {
        "returnType" : "CreateQAppResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateQAppResult"
    },
    "DeleteLibraryItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLibraryItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLibraryItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLibraryItemRequest, DeleteLibraryItemResult>",
      "asyncReturnType" : "DeleteLibraryItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a library item for an Amazon Q App, removing it from the library so it can no longer be discovered or used by other users.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLibraryItemRequest",
        "variableName" : "deleteLibraryItemRequest",
        "variableType" : "DeleteLibraryItemRequest",
        "documentation" : "",
        "simpleType" : "DeleteLibraryItemRequest",
        "variableSetterType" : "DeleteLibraryItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLibraryItem",
      "operationName" : "DeleteLibraryItem",
      "returnType" : {
        "returnType" : "DeleteLibraryItemResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLibraryItemResult"
    },
    "DeleteQApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteQAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteQAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteQAppRequest, DeleteQAppResult>",
      "asyncReturnType" : "DeleteQAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Amazon Q App owned by the user. If the Q App was previously published to the library, it is also removed from the library.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteQAppRequest",
        "variableName" : "deleteQAppRequest",
        "variableType" : "DeleteQAppRequest",
        "documentation" : "",
        "simpleType" : "DeleteQAppRequest",
        "variableSetterType" : "DeleteQAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteQApp",
      "operationName" : "DeleteQApp",
      "returnType" : {
        "returnType" : "DeleteQAppResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteQAppResult"
    },
    "DisassociateLibraryItemReview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateLibraryItemReviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateLibraryItemReviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateLibraryItemReviewRequest, DisassociateLibraryItemReviewResult>",
      "asyncReturnType" : "DisassociateLibraryItemReviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a rating or review previously submitted by the user for a library item.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateLibraryItemReviewRequest",
        "variableName" : "disassociateLibraryItemReviewRequest",
        "variableType" : "DisassociateLibraryItemReviewRequest",
        "documentation" : "",
        "simpleType" : "DisassociateLibraryItemReviewRequest",
        "variableSetterType" : "DisassociateLibraryItemReviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateLibraryItemReview",
      "operationName" : "DisassociateLibraryItemReview",
      "returnType" : {
        "returnType" : "DisassociateLibraryItemReviewResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateLibraryItemReviewResult"
    },
    "DisassociateQAppFromUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateQAppFromUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateQAppFromUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateQAppFromUserRequest, DisassociateQAppFromUserResult>",
      "asyncReturnType" : "DisassociateQAppFromUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a Q App from a user removing the user's access to run the Q App.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateQAppFromUserRequest",
        "variableName" : "disassociateQAppFromUserRequest",
        "variableType" : "DisassociateQAppFromUserRequest",
        "documentation" : "",
        "simpleType" : "DisassociateQAppFromUserRequest",
        "variableSetterType" : "DisassociateQAppFromUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateQAppFromUser",
      "operationName" : "DisassociateQAppFromUser",
      "returnType" : {
        "returnType" : "DisassociateQAppFromUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateQAppFromUserResult"
    },
    "GetLibraryItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLibraryItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLibraryItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLibraryItemRequest, GetLibraryItemResult>",
      "asyncReturnType" : "GetLibraryItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details about a library item for an Amazon Q App, including its metadata, categories, ratings, and usage statistics.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLibraryItemRequest",
        "variableName" : "getLibraryItemRequest",
        "variableType" : "GetLibraryItemRequest",
        "documentation" : "",
        "simpleType" : "GetLibraryItemRequest",
        "variableSetterType" : "GetLibraryItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLibraryItem",
      "operationName" : "GetLibraryItem",
      "returnType" : {
        "returnType" : "GetLibraryItemResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLibraryItemResult"
    },
    "GetQApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQAppRequest, GetQAppResult>",
      "asyncReturnType" : "GetQAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the full details of an Q App, including its definition specifying the cards and flow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQAppRequest",
        "variableName" : "getQAppRequest",
        "variableType" : "GetQAppRequest",
        "documentation" : "",
        "simpleType" : "GetQAppRequest",
        "variableSetterType" : "GetQAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQApp",
      "operationName" : "GetQApp",
      "returnType" : {
        "returnType" : "GetQAppResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQAppResult"
    },
    "GetQAppSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQAppSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQAppSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQAppSessionRequest, GetQAppSessionResult>",
      "asyncReturnType" : "GetQAppSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current state and results for an active session of an Amazon Q App.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQAppSessionRequest",
        "variableName" : "getQAppSessionRequest",
        "variableType" : "GetQAppSessionRequest",
        "documentation" : "",
        "simpleType" : "GetQAppSessionRequest",
        "variableSetterType" : "GetQAppSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQAppSession",
      "operationName" : "GetQAppSession",
      "returnType" : {
        "returnType" : "GetQAppSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQAppSessionResult"
    },
    "ImportDocument" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportDocumentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportDocumentRequest, ImportDocumentResult>",
      "asyncReturnType" : "ImportDocumentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads a file that can then be used either as a default in a <code>FileUploadCard</code> from Q App definition or as a file that is used inside a single Q App run. The purpose of the document is determined by a scope parameter that indicates whether it is at the app definition level or at the app session level.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ContentTooLargeException",
        "documentation" : "<p>The requested operation could not be completed because the content exceeds the maximum allowed size.</p>",
        "httpStatusCode" : 413
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportDocumentRequest",
        "variableName" : "importDocumentRequest",
        "variableType" : "ImportDocumentRequest",
        "documentation" : "",
        "simpleType" : "ImportDocumentRequest",
        "variableSetterType" : "ImportDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importDocument",
      "operationName" : "ImportDocument",
      "returnType" : {
        "returnType" : "ImportDocumentResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportDocumentResult"
    },
    "ListLibraryItems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLibraryItemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLibraryItemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLibraryItemsRequest, ListLibraryItemsResult>",
      "asyncReturnType" : "ListLibraryItemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the library items for Amazon Q Apps that are published and available for users in your Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLibraryItemsRequest",
        "variableName" : "listLibraryItemsRequest",
        "variableType" : "ListLibraryItemsRequest",
        "documentation" : "",
        "simpleType" : "ListLibraryItemsRequest",
        "variableSetterType" : "ListLibraryItemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLibraryItems",
      "operationName" : "ListLibraryItems",
      "returnType" : {
        "returnType" : "ListLibraryItemsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLibraryItemsResult"
    },
    "ListQApps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListQAppsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListQAppsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListQAppsRequest, ListQAppsResult>",
      "asyncReturnType" : "ListQAppsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Amazon Q Apps owned by or associated with the user either because they created it or because they used it from the library in the past. The user identity is extracted from the credentials used to invoke this operation..</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListQAppsRequest",
        "variableName" : "listQAppsRequest",
        "variableType" : "ListQAppsRequest",
        "documentation" : "",
        "simpleType" : "ListQAppsRequest",
        "variableSetterType" : "ListQAppsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listQApps",
      "operationName" : "ListQApps",
      "returnType" : {
        "returnType" : "ListQAppsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListQAppsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags associated with an Amazon Q Apps resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PredictQApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PredictQAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PredictQAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PredictQAppRequest, PredictQAppResult>",
      "asyncReturnType" : "PredictQAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates an Amazon Q App definition based on either a conversation or a problem statement provided as input.The resulting app definition can be used to call <code>CreateQApp</code>. This API doesn't create Amazon Q Apps directly.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PredictQAppRequest",
        "variableName" : "predictQAppRequest",
        "variableType" : "PredictQAppRequest",
        "documentation" : "",
        "simpleType" : "PredictQAppRequest",
        "variableSetterType" : "PredictQAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "predictQApp",
      "operationName" : "PredictQApp",
      "returnType" : {
        "returnType" : "PredictQAppResult",
        "documentation" : null
      },
      "syncReturnType" : "PredictQAppResult"
    },
    "StartQAppSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartQAppSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartQAppSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartQAppSessionRequest, StartQAppSessionResult>",
      "asyncReturnType" : "StartQAppSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a new session for an Amazon Q App, allowing inputs to be provided and the app to be run.</p> <note> <p>Each Q App session will be condensed into a single conversation in the web experience.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartQAppSessionRequest",
        "variableName" : "startQAppSessionRequest",
        "variableType" : "StartQAppSessionRequest",
        "documentation" : "",
        "simpleType" : "StartQAppSessionRequest",
        "variableSetterType" : "StartQAppSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startQAppSession",
      "operationName" : "StartQAppSession",
      "returnType" : {
        "returnType" : "StartQAppSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartQAppSessionResult"
    },
    "StopQAppSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopQAppSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopQAppSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopQAppSessionRequest, StopQAppSessionResult>",
      "asyncReturnType" : "StopQAppSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an active session for an Amazon Q App.This deletes all data related to the session and makes it invalid for future uses. The results of the session will be persisted as part of the conversation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopQAppSessionRequest",
        "variableName" : "stopQAppSessionRequest",
        "variableType" : "StopQAppSessionRequest",
        "documentation" : "",
        "simpleType" : "StopQAppSessionRequest",
        "variableSetterType" : "StopQAppSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopQAppSession",
      "operationName" : "StopQAppSession",
      "returnType" : {
        "returnType" : "StopQAppSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "StopQAppSessionResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates tags with an Amazon Q Apps resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation could not be completed due to a conflict with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates tags from an Amazon Q Apps resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateLibraryItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLibraryItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLibraryItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLibraryItemRequest, UpdateLibraryItemResult>",
      "asyncReturnType" : "UpdateLibraryItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the metadata and status of a library item for an Amazon Q App.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLibraryItemRequest",
        "variableName" : "updateLibraryItemRequest",
        "variableType" : "UpdateLibraryItemRequest",
        "documentation" : "",
        "simpleType" : "UpdateLibraryItemRequest",
        "variableSetterType" : "UpdateLibraryItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLibraryItem",
      "operationName" : "UpdateLibraryItem",
      "returnType" : {
        "returnType" : "UpdateLibraryItemResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLibraryItemResult"
    },
    "UpdateQApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateQAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateQAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateQAppRequest, UpdateQAppResult>",
      "asyncReturnType" : "UpdateQAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing Amazon Q App, allowing modifications to its title, description, and definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ContentTooLargeException",
        "documentation" : "<p>The requested operation could not be completed because the content exceeds the maximum allowed size.</p>",
        "httpStatusCode" : 413
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateQAppRequest",
        "variableName" : "updateQAppRequest",
        "variableType" : "UpdateQAppRequest",
        "documentation" : "",
        "simpleType" : "UpdateQAppRequest",
        "variableSetterType" : "UpdateQAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateQApp",
      "operationName" : "UpdateQApp",
      "returnType" : {
        "returnType" : "UpdateQAppResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateQAppResult"
    },
    "UpdateQAppSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateQAppSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateQAppSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateQAppSessionRequest, UpdateQAppSessionResult>",
      "asyncReturnType" : "UpdateQAppSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the session for a given Q App <code>sessionId</code>. This is only valid when at least one card of the session is in the <code>WAITING</code> state. Data for each <code>WAITING</code> card can be provided as input. If inputs are not provided, the call will be accepted but session will not move forward. Inputs for cards that are not in the <code>WAITING</code> status will be ignored.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The client is not authenticated or authorized to perform the requested operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The requested operation could not be completed because it would exceed the service's quota or limit.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requested operation could not be completed because too many requests were sent at once. Wait a bit and try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateQAppSessionRequest",
        "variableName" : "updateQAppSessionRequest",
        "variableType" : "UpdateQAppSessionRequest",
        "documentation" : "",
        "simpleType" : "UpdateQAppSessionRequest",
        "variableSetterType" : "UpdateQAppSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateQAppSession",
      "operationName" : "UpdateQAppSession",
      "returnType" : {
        "returnType" : "UpdateQAppSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateQAppSessionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The client is not authorized to perform the requested operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.qapps.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.qapps.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AppDefinition" : {
      "c2jName" : "AppDefinition",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The definition of the Q App, specifying the cards and flow.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.qapps.model.AppDefinition",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "appDefinitionVersion",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The version of the app definition schema or specification.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The version of the app definition schema or specification.</p>\n@param appDefinitionVersion The version of the app definition schema or specification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppDefinitionVersion",
        "getterDocumentation" : "/**<p>The version of the app definition schema or specification.</p>\n@return The version of the app definition schema or specification.*/",
        "getterMethodName" : "getAppDefinitionVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "appDefinitionVersion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "appDefinitionVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppDefinitionVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The version of the app definition schema or specification.</p>\n@param appDefinitionVersion The version of the app definition schema or specification.*/",
        "setterMethodName" : "setAppDefinitionVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appDefinitionVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The version of the app definition schema or specification.</p>\n@param appDefinitionVersion The version of the app definition schema or specification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appDefinitionVersion",
          "variableType" : "String",
          "documentation" : "<p>The version of the app definition schema or specification.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "cards",
        "c2jShape" : "CardModelList",
        "deprecated" : false,
        "documentation" : "<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>\n@param cards The cards that make up the Q App, such as text input, file upload, or query cards.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCards",
        "getterDocumentation" : "/**<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>\n@return The cards that make up the Q App, such as text input, file upload, or query cards.*/",
        "getterMethodName" : "getCards",
        "getterModel" : {
          "returnType" : "java.util.List<Card>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cards",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cards",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Card",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Card",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Card",
              "variableName" : "member",
              "variableType" : "Card",
              "documentation" : "",
              "simpleType" : "Card",
              "variableSetterType" : "Card"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Card",
              "variableName" : "member",
              "variableType" : "Card",
              "documentation" : "",
              "simpleType" : "Card",
              "variableSetterType" : "Card"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Card",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Card",
          "templateImplType" : "java.util.ArrayList<Card>",
          "templateType" : "java.util.List<Card>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Cards",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>\n@param cards The cards that make up the Q App, such as text input, file upload, or query cards.*/",
        "setterMethodName" : "setCards",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Card>",
          "variableName" : "cards",
          "variableType" : "java.util.List<Card>",
          "documentation" : "",
          "simpleType" : "List<Card>",
          "variableSetterType" : "java.util.Collection<Card>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCards(java.util.Collection)} or {@link #withCards(java.util.Collection)} if you want to override the existing values.</p>\n@param cards The cards that make up the Q App, such as text input, file upload, or query cards.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Card>",
          "variableName" : "cards",
          "variableType" : "java.util.List<Card>",
          "documentation" : "<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>",
          "simpleType" : "List<Card>",
          "variableSetterType" : "java.util.Collection<Card>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "canEdit",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>A flag indicating whether the Q App's definition can be edited by the user.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A flag indicating whether the Q App's definition can be edited by the user.</p>\n@param canEdit A flag indicating whether the Q App's definition can be edited by the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCanEdit",
        "getterDocumentation" : "/**<p>A flag indicating whether the Q App's definition can be edited by the user.</p>\n@return A flag indicating whether the Q App's definition can be edited by the user.*/",
        "getterMethodName" : "getCanEdit",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "canEdit",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "canEdit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "CanEdit",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A flag indicating whether the Q App's definition can be edited by the user.</p>\n@param canEdit A flag indicating whether the Q App's definition can be edited by the user.*/",
        "setterMethodName" : "setCanEdit",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "canEdit",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A flag indicating whether the Q App's definition can be edited by the user.</p>\n@param canEdit A flag indicating whether the Q App's definition can be edited by the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "canEdit",
          "variableType" : "Boolean",
          "documentation" : "<p>A flag indicating whether the Q App's definition can be edited by the user.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AppDefinitionVersion" : {
          "c2jName" : "appDefinitionVersion",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The version of the app definition schema or specification.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The version of the app definition schema or specification.</p>\n@param appDefinitionVersion The version of the app definition schema or specification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAppDefinitionVersion",
          "getterDocumentation" : "/**<p>The version of the app definition schema or specification.</p>\n@return The version of the app definition schema or specification.*/",
          "getterMethodName" : "getAppDefinitionVersion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "appDefinitionVersion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "appDefinitionVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AppDefinitionVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The version of the app definition schema or specification.</p>\n@param appDefinitionVersion The version of the app definition schema or specification.*/",
          "setterMethodName" : "setAppDefinitionVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appDefinitionVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The version of the app definition schema or specification.</p>\n@param appDefinitionVersion The version of the app definition schema or specification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appDefinitionVersion",
            "variableType" : "String",
            "documentation" : "<p>The version of the app definition schema or specification.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CanEdit" : {
          "c2jName" : "canEdit",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p>A flag indicating whether the Q App's definition can be edited by the user.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A flag indicating whether the Q App's definition can be edited by the user.</p>\n@param canEdit A flag indicating whether the Q App's definition can be edited by the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCanEdit",
          "getterDocumentation" : "/**<p>A flag indicating whether the Q App's definition can be edited by the user.</p>\n@return A flag indicating whether the Q App's definition can be edited by the user.*/",
          "getterMethodName" : "getCanEdit",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "canEdit",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "canEdit",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "CanEdit",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A flag indicating whether the Q App's definition can be edited by the user.</p>\n@param canEdit A flag indicating whether the Q App's definition can be edited by the user.*/",
          "setterMethodName" : "setCanEdit",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "canEdit",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A flag indicating whether the Q App's definition can be edited by the user.</p>\n@param canEdit A flag indicating whether the Q App's definition can be edited by the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "canEdit",
            "variableType" : "Boolean",
            "documentation" : "<p>A flag indicating whether the Q App's definition can be edited by the user.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "Cards" : {
          "c2jName" : "cards",
          "c2jShape" : "CardModelList",
          "deprecated" : false,
          "documentation" : "<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>\n@param cards The cards that make up the Q App, such as text input, file upload, or query cards.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCards",
          "getterDocumentation" : "/**<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>\n@return The cards that make up the Q App, such as text input, file upload, or query cards.*/",
          "getterMethodName" : "getCards",
          "getterModel" : {
            "returnType" : "java.util.List<Card>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "cards",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "cards",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Card",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Card",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Card",
                "variableName" : "member",
                "variableType" : "Card",
                "documentation" : "",
                "simpleType" : "Card",
                "variableSetterType" : "Card"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Card",
                "variableName" : "member",
                "variableType" : "Card",
                "documentation" : "",
                "simpleType" : "Card",
                "variableSetterType" : "Card"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Card",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Card",
            "templateImplType" : "java.util.ArrayList<Card>",
            "templateType" : "java.util.List<Card>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Cards",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>\n@param cards The cards that make up the Q App, such as text input, file upload, or query cards.*/",
          "setterMethodName" : "setCards",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Card>",
            "variableName" : "cards",
            "variableType" : "java.util.List<Card>",
            "documentation" : "",
            "simpleType" : "List<Card>",
            "variableSetterType" : "java.util.Collection<Card>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCards(java.util.Collection)} or {@link #withCards(java.util.Collection)} if you want to override the existing values.</p>\n@param cards The cards that make up the Q App, such as text input, file upload, or query cards.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Card>",
            "variableName" : "cards",
            "variableType" : "java.util.List<Card>",
            "documentation" : "<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>",
            "simpleType" : "List<Card>",
            "variableSetterType" : "java.util.Collection<Card>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.qapps.model",
[...]
