{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-01-02",
    "asyncClient" : "AmazonQLDBAsyncClient",
    "asyncClientBuilderClassName" : "AmazonQLDBAsyncClientBuilder",
    "asyncInterface" : "AmazonQLDBAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonQLDBModuleInjector",
    "defaultEndpoint" : "qldb.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "qldb.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The control plane for Amazon QLDB</p>",
    "endpointPrefix" : "qldb",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.qldb",
    "packagePath" : "com/amazonaws/services/qldb",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "QLDB",
    "serviceFullName" : "Amazon QLDB",
    "serviceId" : "QLDB",
    "serviceName" : "QLDB",
    "signingName" : "qldb",
    "smokeTestsPackageName" : "com.amazonaws.services.qldb.smoketests",
    "syncClient" : "AmazonQLDBClient",
    "syncClientBuilderClassName" : "AmazonQLDBClientBuilder",
    "syncInterface" : "AmazonQLDB",
    "uid" : "qldb-2019-01-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelJournalKinesisStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJournalKinesisStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJournalKinesisStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJournalKinesisStreamRequest, CancelJournalKinesisStreamResult>",
      "asyncReturnType" : "CancelJournalKinesisStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Ends a given Amazon QLDB journal stream. Before a stream can be canceled, its current status must be <code>ACTIVE</code>.</p> <p>You can't restart a stream after you cancel it. Canceled QLDB stream resources are subject to a 7-day retention period, so they are automatically deleted after this limit expires.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourcePreconditionNotMetException",
        "documentation" : "<p>The operation failed because a condition wasn't satisfied in advance.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJournalKinesisStreamRequest",
        "variableName" : "cancelJournalKinesisStreamRequest",
        "variableType" : "CancelJournalKinesisStreamRequest",
        "documentation" : "",
        "simpleType" : "CancelJournalKinesisStreamRequest",
        "variableSetterType" : "CancelJournalKinesisStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelJournalKinesisStream",
      "operationName" : "CancelJournalKinesisStream",
      "returnType" : {
        "returnType" : "CancelJournalKinesisStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelJournalKinesisStreamResult"
    },
    "CreateLedger" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLedgerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLedgerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLedgerRequest, CreateLedgerResult>",
      "asyncReturnType" : "CreateLedgerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new ledger in your AWS account in the current Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have reached the limit on the maximum number of resources allowed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource can't be modified at this time.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLedgerRequest",
        "variableName" : "createLedgerRequest",
        "variableType" : "CreateLedgerRequest",
        "documentation" : "",
        "simpleType" : "CreateLedgerRequest",
        "variableSetterType" : "CreateLedgerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLedger",
      "operationName" : "CreateLedger",
      "returnType" : {
        "returnType" : "CreateLedgerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLedgerResult"
    },
    "DeleteLedger" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLedgerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLedgerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLedgerRequest, DeleteLedgerResult>",
      "asyncReturnType" : "DeleteLedgerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a ledger and all of its contents. This action is irreversible.</p> <p>If deletion protection is enabled, you must first disable it before you can delete the ledger. You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource can't be modified at this time.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourcePreconditionNotMetException",
        "documentation" : "<p>The operation failed because a condition wasn't satisfied in advance.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLedgerRequest",
        "variableName" : "deleteLedgerRequest",
        "variableType" : "DeleteLedgerRequest",
        "documentation" : "",
        "simpleType" : "DeleteLedgerRequest",
        "variableSetterType" : "DeleteLedgerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLedger",
      "operationName" : "DeleteLedger",
      "returnType" : {
        "returnType" : "DeleteLedgerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLedgerResult"
    },
    "DescribeJournalKinesisStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJournalKinesisStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJournalKinesisStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJournalKinesisStreamRequest, DescribeJournalKinesisStreamResult>",
      "asyncReturnType" : "DescribeJournalKinesisStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns detailed information about a given Amazon QLDB journal stream. The output includes the Amazon Resource Name (ARN), stream name, current status, creation time, and the parameters of the original stream creation request.</p> <p>This action does not return any expired journal streams. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/streams.create.html#streams.create.states.expiration\">Expiration for terminal streams</a> in the <i>Amazon QLDB Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourcePreconditionNotMetException",
        "documentation" : "<p>The operation failed because a condition wasn't satisfied in advance.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJournalKinesisStreamRequest",
        "variableName" : "describeJournalKinesisStreamRequest",
        "variableType" : "DescribeJournalKinesisStreamRequest",
        "documentation" : "",
        "simpleType" : "DescribeJournalKinesisStreamRequest",
        "variableSetterType" : "DescribeJournalKinesisStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJournalKinesisStream",
      "operationName" : "DescribeJournalKinesisStream",
      "returnType" : {
        "returnType" : "DescribeJournalKinesisStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJournalKinesisStreamResult"
    },
    "DescribeJournalS3Export" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJournalS3ExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJournalS3ExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJournalS3ExportRequest, DescribeJournalS3ExportResult>",
      "asyncReturnType" : "DescribeJournalS3ExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a journal export job, including the ledger name, export ID, creation time, current status, and the parameters of the original export creation request.</p> <p>This action does not return any expired export jobs. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/export-journal.request.html#export-journal.request.expiration\">Export job expiration</a> in the <i>Amazon QLDB Developer Guide</i>.</p> <p>If the export job with the given <code>ExportId</code> doesn't exist, then throws <code>ResourceNotFoundException</code>.</p> <p>If the ledger with the given <code>Name</code> doesn't exist, then throws <code>ResourceNotFoundException</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJournalS3ExportRequest",
        "variableName" : "describeJournalS3ExportRequest",
        "variableType" : "DescribeJournalS3ExportRequest",
        "documentation" : "",
        "simpleType" : "DescribeJournalS3ExportRequest",
        "variableSetterType" : "DescribeJournalS3ExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJournalS3Export",
      "operationName" : "DescribeJournalS3Export",
      "returnType" : {
        "returnType" : "DescribeJournalS3ExportResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJournalS3ExportResult"
    },
    "DescribeLedger" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLedgerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLedgerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLedgerRequest, DescribeLedgerResult>",
      "asyncReturnType" : "DescribeLedgerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a ledger, including its state and when it was created.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLedgerRequest",
        "variableName" : "describeLedgerRequest",
        "variableType" : "DescribeLedgerRequest",
        "documentation" : "",
        "simpleType" : "DescribeLedgerRequest",
        "variableSetterType" : "DescribeLedgerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLedger",
      "operationName" : "DescribeLedger",
      "returnType" : {
        "returnType" : "DescribeLedgerResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLedgerResult"
    },
    "ExportJournalToS3" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportJournalToS3Result>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportJournalToS3Result>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportJournalToS3Request, ExportJournalToS3Result>",
      "asyncReturnType" : "ExportJournalToS3Result",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports journal contents within a date and time range from a ledger into a specified Amazon Simple Storage Service (Amazon S3) bucket. The data is written as files in Amazon Ion format.</p> <p>If the ledger with the given <code>Name</code> doesn't exist, then throws <code>ResourceNotFoundException</code>.</p> <p>If the ledger with the given <code>Name</code> is in <code>CREATING</code> status, then throws <code>ResourcePreconditionNotMetException</code>.</p> <p>You can initiate up to two concurrent journal export requests for each ledger. Beyond this limit, journal export requests throw <code>LimitExceededException</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourcePreconditionNotMetException",
        "documentation" : "<p>The operation failed because a condition wasn't satisfied in advance.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportJournalToS3Request",
        "variableName" : "exportJournalToS3Request",
        "variableType" : "ExportJournalToS3Request",
        "documentation" : "",
        "simpleType" : "ExportJournalToS3Request",
        "variableSetterType" : "ExportJournalToS3Request"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportJournalToS3",
      "operationName" : "ExportJournalToS3",
      "returnType" : {
        "returnType" : "ExportJournalToS3Result",
        "documentation" : null
      },
      "syncReturnType" : "ExportJournalToS3Result"
    },
    "GetBlock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBlockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBlockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBlockRequest, GetBlockResult>",
      "asyncReturnType" : "GetBlockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a block object at a specified address in a journal. Also returns a proof of the specified block for verification if <code>DigestTipAddress</code> is provided.</p> <p>For information about the data contents in a block, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/journal-contents.html\">Journal contents</a> in the <i>Amazon QLDB Developer Guide</i>.</p> <p>If the specified ledger doesn't exist or is in <code>DELETING</code> status, then throws <code>ResourceNotFoundException</code>.</p> <p>If the specified ledger is in <code>CREATING</code> status, then throws <code>ResourcePreconditionNotMetException</code>.</p> <p>If no block exists with the specified address, then throws <code>InvalidParameterException</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourcePreconditionNotMetException",
        "documentation" : "<p>The operation failed because a condition wasn't satisfied in advance.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBlockRequest",
        "variableName" : "getBlockRequest",
        "variableType" : "GetBlockRequest",
        "documentation" : "",
        "simpleType" : "GetBlockRequest",
        "variableSetterType" : "GetBlockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBlock",
      "operationName" : "GetBlock",
      "returnType" : {
        "returnType" : "GetBlockResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBlockResult"
    },
    "GetDigest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDigestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDigestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDigestRequest, GetDigestResult>",
      "asyncReturnType" : "GetDigestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the digest of a ledger at the latest committed block in the journal. The response includes a 256-bit hash value and a block address.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourcePreconditionNotMetException",
        "documentation" : "<p>The operation failed because a condition wasn't satisfied in advance.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDigestRequest",
        "variableName" : "getDigestRequest",
        "variableType" : "GetDigestRequest",
        "documentation" : "",
        "simpleType" : "GetDigestRequest",
        "variableSetterType" : "GetDigestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDigest",
      "operationName" : "GetDigest",
      "returnType" : {
        "returnType" : "GetDigestResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDigestResult"
    },
    "GetRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRevisionRequest, GetRevisionResult>",
      "asyncReturnType" : "GetRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a revision data object for a specified document ID and block address. Also returns a proof of the specified revision for verification if <code>DigestTipAddress</code> is provided.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourcePreconditionNotMetException",
        "documentation" : "<p>The operation failed because a condition wasn't satisfied in advance.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRevisionRequest",
        "variableName" : "getRevisionRequest",
        "variableType" : "GetRevisionRequest",
        "documentation" : "",
        "simpleType" : "GetRevisionRequest",
        "variableSetterType" : "GetRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRevision",
      "operationName" : "GetRevision",
      "returnType" : {
        "returnType" : "GetRevisionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRevisionResult"
    },
    "ListJournalKinesisStreamsForLedger" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJournalKinesisStreamsForLedgerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJournalKinesisStreamsForLedgerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJournalKinesisStreamsForLedgerRequest, ListJournalKinesisStreamsForLedgerResult>",
      "asyncReturnType" : "ListJournalKinesisStreamsForLedgerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of all Amazon QLDB journal stream descriptors for a given ledger. The output of each stream descriptor includes the same details that are returned by <code>DescribeJournalKinesisStream</code>.</p> <p>This action does not return any expired journal streams. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/streams.create.html#streams.create.states.expiration\">Expiration for terminal streams</a> in the <i>Amazon QLDB Developer Guide</i>.</p> <p>This action returns a maximum of <code>MaxResults</code> items. It is paginated so that you can retrieve all the items by calling <code>ListJournalKinesisStreamsForLedger</code> multiple times.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourcePreconditionNotMetException",
        "documentation" : "<p>The operation failed because a condition wasn't satisfied in advance.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJournalKinesisStreamsForLedgerRequest",
        "variableName" : "listJournalKinesisStreamsForLedgerRequest",
        "variableType" : "ListJournalKinesisStreamsForLedgerRequest",
        "documentation" : "",
        "simpleType" : "ListJournalKinesisStreamsForLedgerRequest",
        "variableSetterType" : "ListJournalKinesisStreamsForLedgerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJournalKinesisStreamsForLedger",
      "operationName" : "ListJournalKinesisStreamsForLedger",
      "returnType" : {
        "returnType" : "ListJournalKinesisStreamsForLedgerResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJournalKinesisStreamsForLedgerResult"
    },
    "ListJournalS3Exports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJournalS3ExportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJournalS3ExportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJournalS3ExportsRequest, ListJournalS3ExportsResult>",
      "asyncReturnType" : "ListJournalS3ExportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of journal export job descriptions for all ledgers that are associated with the current AWS account and Region.</p> <p>This action returns a maximum of <code>MaxResults</code> items, and is paginated so that you can retrieve all the items by calling <code>ListJournalS3Exports</code> multiple times.</p> <p>This action does not return any expired export jobs. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/export-journal.request.html#export-journal.request.expiration\">Export job expiration</a> in the <i>Amazon QLDB Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJournalS3ExportsRequest",
        "variableName" : "listJournalS3ExportsRequest",
        "variableType" : "ListJournalS3ExportsRequest",
        "documentation" : "",
        "simpleType" : "ListJournalS3ExportsRequest",
        "variableSetterType" : "ListJournalS3ExportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJournalS3Exports",
      "operationName" : "ListJournalS3Exports",
      "returnType" : {
        "returnType" : "ListJournalS3ExportsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJournalS3ExportsResult"
    },
    "ListJournalS3ExportsForLedger" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJournalS3ExportsForLedgerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJournalS3ExportsForLedgerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJournalS3ExportsForLedgerRequest, ListJournalS3ExportsForLedgerResult>",
      "asyncReturnType" : "ListJournalS3ExportsForLedgerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of journal export job descriptions for a specified ledger.</p> <p>This action returns a maximum of <code>MaxResults</code> items, and is paginated so that you can retrieve all the items by calling <code>ListJournalS3ExportsForLedger</code> multiple times.</p> <p>This action does not return any expired export jobs. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/export-journal.request.html#export-journal.request.expiration\">Export job expiration</a> in the <i>Amazon QLDB Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJournalS3ExportsForLedgerRequest",
        "variableName" : "listJournalS3ExportsForLedgerRequest",
        "variableType" : "ListJournalS3ExportsForLedgerRequest",
        "documentation" : "",
        "simpleType" : "ListJournalS3ExportsForLedgerRequest",
        "variableSetterType" : "ListJournalS3ExportsForLedgerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJournalS3ExportsForLedger",
      "operationName" : "ListJournalS3ExportsForLedger",
      "returnType" : {
        "returnType" : "ListJournalS3ExportsForLedgerResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJournalS3ExportsForLedgerResult"
    },
    "ListLedgers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLedgersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLedgersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLedgersRequest, ListLedgersResult>",
      "asyncReturnType" : "ListLedgersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of ledger summaries that are associated with the current AWS account and Region.</p> <p>This action returns a maximum of 100 items and is paginated so that you can retrieve all the items by calling <code>ListLedgers</code> multiple times.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLedgersRequest",
        "variableName" : "listLedgersRequest",
        "variableType" : "ListLedgersRequest",
        "documentation" : "",
        "simpleType" : "ListLedgersRequest",
        "variableSetterType" : "ListLedgersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLedgers",
      "operationName" : "ListLedgers",
      "returnType" : {
        "returnType" : "ListLedgersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLedgersResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all tags for a specified Amazon QLDB resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StreamJournalToKinesis" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StreamJournalToKinesisResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StreamJournalToKinesisResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StreamJournalToKinesisRequest, StreamJournalToKinesisResult>",
      "asyncReturnType" : "StreamJournalToKinesisResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a journal stream for a given Amazon QLDB ledger. The stream captures every document revision that is committed to the ledger's journal and delivers the data to a specified Amazon Kinesis Data Streams resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourcePreconditionNotMetException",
        "documentation" : "<p>The operation failed because a condition wasn't satisfied in advance.</p>",
        "httpStatusCode" : 412
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StreamJournalToKinesisRequest",
        "variableName" : "streamJournalToKinesisRequest",
        "variableType" : "StreamJournalToKinesisRequest",
        "documentation" : "",
        "simpleType" : "StreamJournalToKinesisRequest",
        "variableSetterType" : "StreamJournalToKinesisRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "streamJournalToKinesis",
      "operationName" : "StreamJournalToKinesis",
      "returnType" : {
        "returnType" : "StreamJournalToKinesisResult",
        "documentation" : null
      },
      "syncReturnType" : "StreamJournalToKinesisResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to a specified Amazon QLDB resource.</p> <p>A resource can have up to 50 tags. If you try to create more than 50 tags for a resource, your request fails and returns an error.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from a specified Amazon QLDB resource. You can specify up to 50 tag keys to remove.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateLedger" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLedgerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLedgerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLedgerRequest, UpdateLedgerResult>",
      "asyncReturnType" : "UpdateLedgerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates properties on a ledger.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLedgerRequest",
        "variableName" : "updateLedgerRequest",
        "variableType" : "UpdateLedgerRequest",
        "documentation" : "",
        "simpleType" : "UpdateLedgerRequest",
        "variableSetterType" : "UpdateLedgerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLedger",
      "operationName" : "UpdateLedger",
      "returnType" : {
        "returnType" : "UpdateLedgerResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLedgerResult"
    },
    "UpdateLedgerPermissionsMode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLedgerPermissionsModeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLedgerPermissionsModeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLedgerPermissionsModeRequest, UpdateLedgerPermissionsModeResult>",
      "asyncReturnType" : "UpdateLedgerPermissionsModeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the permissions mode of a ledger.</p> <important> <p>Before you switch to the <code>STANDARD</code> permissions mode, you must first create all required IAM policies and table tags to avoid disruption to your users. To learn more, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/ledger-management.basics.html#ledger-mgmt.basics.update-permissions.migrating\">Migrating to the standard permissions mode</a> in the <i>Amazon QLDB Developer Guide</i>.</p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in the request aren't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLedgerPermissionsModeRequest",
        "variableName" : "updateLedgerPermissionsModeRequest",
        "variableType" : "UpdateLedgerPermissionsModeRequest",
        "documentation" : "",
        "simpleType" : "UpdateLedgerPermissionsModeRequest",
        "variableSetterType" : "UpdateLedgerPermissionsModeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLedgerPermissionsMode",
      "operationName" : "UpdateLedgerPermissionsMode",
      "returnType" : {
        "returnType" : "UpdateLedgerPermissionsModeResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLedgerPermissionsModeResult"
    }
  },
  "shapes" : {
    "CancelJournalKinesisStreamRequest" : {
      "c2jName" : "CancelJournalKinesisStreamRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.qldb.request.CancelJournalKinesisStreamRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelJournalKinesisStream",
        "locationName" : null,
        "requestUri" : "/ledgers/{name}/journal-kinesis-streams/{streamId}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "LedgerName",
        "c2jShape" : "LedgerName",
        "deprecated" : false,
        "documentation" : "<p>The name of the ledger.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the ledger.</p>\n@param ledgerName The name of the ledger.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLedgerName",
        "getterDocumentation" : "/**<p>The name of the ledger.</p>\n@return The name of the ledger.*/",
        "getterMethodName" : "getLedgerName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LedgerName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the ledger.</p>\n@param ledgerName The name of the ledger.*/",
        "setterMethodName" : "setLedgerName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ledgerName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the ledger.</p>\n@param ledgerName The name of the ledger.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ledgerName",
          "variableType" : "String",
          "documentation" : "<p>The name of the ledger.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StreamId",
        "c2jShape" : "UniqueId",
        "deprecated" : false,
        "documentation" : "<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>\n@param streamId The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStreamId",
        "getterDocumentation" : "/**<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>\n@return The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.*/",
        "getterMethodName" : "getStreamId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "streamId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "streamId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StreamId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>\n@param streamId The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.*/",
        "setterMethodName" : "setStreamId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "streamId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>\n@param streamId The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "streamId",
          "variableType" : "String",
          "documentation" : "<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LedgerName" : {
          "c2jName" : "LedgerName",
          "c2jShape" : "LedgerName",
          "deprecated" : false,
          "documentation" : "<p>The name of the ledger.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the ledger.</p>\n@param ledgerName The name of the ledger.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLedgerName",
          "getterDocumentation" : "/**<p>The name of the ledger.</p>\n@return The name of the ledger.*/",
          "getterMethodName" : "getLedgerName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LedgerName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the ledger.</p>\n@param ledgerName The name of the ledger.*/",
          "setterMethodName" : "setLedgerName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "ledgerName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the ledger.</p>\n@param ledgerName The name of the ledger.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "ledgerName",
            "variableType" : "String",
            "documentation" : "<p>The name of the ledger.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StreamId" : {
          "c2jName" : "StreamId",
          "c2jShape" : "UniqueId",
          "deprecated" : false,
          "documentation" : "<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>\n@param streamId The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStreamId",
          "getterDocumentation" : "/**<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>\n@return The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.*/",
          "getterMethodName" : "getStreamId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "streamId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "streamId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StreamId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>\n@param streamId The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.*/",
          "setterMethodName" : "setStreamId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "streamId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>\n@param streamId The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "streamId",
            "variableType" : "String",
            "documentation" : "<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be canceled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.qldb.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "LedgerName", "StreamId" ],
      "shapeName" : "CancelJournalKinesisStreamRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJournalKinesisStreamRequest",
        "variableName" : "cancelJournalKinesisStreamRequest",
        "variableType" : "CancelJournalKinesisStreamRequest",
        "documentation" : null,
        "simpleType" : "CancelJournalKinesisStreamRequest",
        "variableSetterType" : "CancelJournalKinesisStreamRequest"
      },
      "wrapper" : false
    },
    "CancelJournalKinesisStreamResult" : {
      "c2jName" : "CancelJournalKinesisStreamResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.qldb.response.CancelJournalKinesisStreamResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "StreamId",
        "c2jShape" : "UniqueId",
        "deprecated" : false,
        "documentation" : "<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>\n@param streamId The UUID (Base62-encoded text) of the canceled QLDB journal stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStreamId",
        "getterDocumentation" : "/**<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>\n@return The UUID (Base62-encoded text) of the canceled QLDB journal stream.*/",
        "getterMethodName" : "getStreamId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StreamId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StreamId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StreamId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>\n@param streamId The UUID (Base62-encoded text) of the canceled QLDB journal stream.*/",
        "setterMethodName" : "setStreamId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "streamId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>\n@param streamId The UUID (Base62-encoded text) of the canceled QLDB journal stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "streamId",
          "variableType" : "String",
          "documentation" : "<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "StreamId" : {
          "c2jName" : "StreamId",
          "c2jShape" : "UniqueId",
          "deprecated" : false,
          "documentation" : "<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>\n@param streamId The UUID (Base62-encoded text) of the canceled QLDB journal stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStreamId",
          "getterDocumentation" : "/**<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>\n@return The UUID (Base62-encoded text) of the canceled QLDB journal stream.*/",
          "getterMethodName" : "getStreamId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "StreamId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StreamId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StreamId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>\n@param streamId The UUID (Base62-encoded text) of the canceled QLDB journal stream.*/",
          "setterMethodName" : "setStreamId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "streamId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>\n@param streamId The UUID (Base62-encoded text) of the canceled QLDB journal stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "streamId",
            "variableType" : "String",
            "documentation" : "<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.qldb.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CancelJournalKinesisStreamResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJournalKinesisStreamResult",
        "variableName" : "cancelJournalKinesisStreamResult",
        "variableType" : "CancelJournalKinesisStreamResult",
        "documentation" : null,
        "simpleType" : "CancelJournalKinesisStreamResult",
        "variableSetterType" : "CancelJournalKinesisStreamResult"
      },
      "wrapper" : false
    },
    "CreateLedgerRequest" : {
      "c2jName" : "CreateLedgerRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.qldb.request.CreateLedgerRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateLedger",
        "locationName" : null,
        "requestUri" : "/ledgers",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "LedgerName",
        "deprecated" : false,
        "documentation" : "<p>The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.</p>\n@param name The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.</p>\n@return The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.</p>\n@param name The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.</p>\n@param name The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the ledger that you want to create. The name must be unique among all of your ledgers in the current AWS Region.</p> <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a> in the <i>Amazon QLDB Developer Guide</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "Tags",
        "deprecated" : false,
        "documentation" : "<p>The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.</p>\n@param tags The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.</p>\n@return The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.</p>\n@param tags The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.</p>\n@param tags The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The key-value pairs to add as tags to the ledger that you want to create. Tag keys are case sensitive. Tag values are case sensitive and can be null.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PermissionsMode",
        "c2jShape" : "PermissionsMode",
        "deprecated" : false,
        "documentation" : "<p>The permissions mode to assign to the ledger that you want to create. This parameter can have one of the following values:</p> <ul> <li> <p> <code>ALLOW_ALL</code>: A legacy permissions mode that enables access control with API-level granularity for ledgers.</p> <p>This mode allows users who have the <code>SendCommand</code> API permission for this ledger to run all PartiQL commands (hence, <code>ALLOW_ALL</code>) on any tables in the specified ledger. This mode disregards any table-level or command-level IAM permissions policies that you create for the ledger.</p> </li> <li> <p> <code>STANDARD</code>: (<i>Recommended</i>) A permissions mode that enables access control with finer granularity for ledgers, tables, and PartiQL commands.</p> <p>By default, this mode denies all user requests to run any PartiQL commands on any tables in this ledger. To allow PartiQL commands to run, you must create IAM permissions policies for specific table resources and PartiQL actions, in addition to the <code>SendCommand</code> API permission for the ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-standard-mode.html\">Getting started with the standard permissions mode</a> in the <i>Amazon QLDB Developer Guide</i>.</p> </li> </ul> <note> <p>We strongly recommend using the <code>STANDARD</code> permissions mode to maximize the security of your ledger data.</p> </note>",
        "endpointDiscoveryId" : false,
        "enumType" : "PermissionsMode",
        "fluentSetterDocumentation" : "/**<p>The permissions mode to assign to the ledger that you want to create. This parameter can have one of the following values:</p> <ul> <li> <p> <code>ALLOW_ALL</code>: A legacy permissions mode that enables access control with API-level granularity for ledgers.</p> <p>This mode allows users who have the <code>SendCommand</code> API permission for this ledger to run all PartiQL commands (hence, <code>ALLOW_ALL</code>) on any tables in the specified ledger. This mode disregards any table-level or command-level IAM permissions policies that you create for the ledger.</p> </li> <li> <p> <code>STANDARD</code>: (<i>Recommended</i>) A permissions mode that enables access control with finer granularity for ledgers, tables, and PartiQL commands.</p> <p>By default, this mode denies all user requests to run any PartiQL commands on any tables in this ledger. To allow PartiQL commands to run, you must create IAM permissions policies for specific table resources and PartiQL actions, in addition to the <code>SendCommand</code> API permission for the ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-standard-mode.html\">Getting started with the standard permissions mode</a> in the <i>Amazon QLDB Developer Guide</i>.</p> </li> </ul> <note> <p>We strongly recommend using the <code>STANDARD</code> permissions mode to maximize the security of your ledger data.</p> </note>\n@param permissionsMode The permissions mode to assign to the ledger that you want to create. This parameter can have one of the following values:</p> <ul> <li> <p> <code>ALLOW_ALL</code>: A legacy permissions mode that enables access control with API-level granularity for ledgers.</p> <p>This mode allows users who have the <code>SendCommand</code> API permission for this ledger to run all PartiQL commands (hence, <code>ALLOW_ALL</code>) on any tables in the specified ledger. This mode disregards any table-level or command-level IAM permissions policies that you create for the ledger.</p> </li> <li> <p> <code>STANDARD</code>: (<i>Recommended</i>) A permissions mode that enables access control with finer granularity for ledgers, tables, and PartiQL commands.</p> <p>By default, this mode denies all user requests to run any PartiQL commands on any tables in this ledger. To allow PartiQL commands to run, you must create IAM permissions policies for specific table resources and PartiQL actions, in addition to the <code>SendCommand</code> API permission for the ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-standard-mode.html\">Getting started with the standard permissions mode</a> in the <i>Amazon QLDB Developer Guide</i>.</p> </li> </ul> <note> <p>We strongly recommend using the <code>STANDARD</code> permissions mode to maximize the security of your ledger data.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see PermissionsMode*/",
        "fluentSetterMethodName" : "withPermissionsMode",
        "getterDocumentation" : "/**<p>The permissions mode to assign to the ledger that you want to create. This parameter can have one of the following values:</p> <ul> <li> <p> <code>ALLOW_ALL</code>: A legacy permissions mode that enables access control with API-level granularity for ledgers.</p> <p>This mode allows users who have the <code>SendCommand</code> API permission for this ledger to run all PartiQL commands (hence, <code>ALLOW_ALL</code>) on any tables in the specified ledger. This mode disregards any table-level or command-level IAM permissions policies that you create for the ledger.</p> </li> <li> <p> <code>STANDARD</code>: (<i>Recommended</i>) A permissions mode that enables access control with finer granularity for ledgers, tables, and PartiQL commands.</p> <p>By default, this mode denies all user requests to run any PartiQL commands on any tables in this ledger. To allow PartiQL commands to run, you must create IAM permissions policies for specific table resources and PartiQL actions, in addition to the <code>SendCommand</code> API permission for the ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-standard-mode.html\">Getting started with the standard permissions mode</a> in the <i>Amazon QLDB Developer Guide</i>.</p> </li> </ul> <note> <p>We strongly recommend using the <code>STANDARD</code> permissions mode to maximize the security of your ledger data.</p> </note>\n@return The permissions mode to assign to the ledger that you want to create. This parameter can have one of the following values:</p> <ul> <li> <p> <code>ALLOW_ALL</code>: A legacy permissions mode that enables access control with API-level granularity for ledgers.</p> <p>This mode allows users who have the <code>SendCommand</code> API permission for this ledger to run all PartiQL commands (hence, <code>ALLOW_ALL</code>) on any tables in the specified ledger. This mode disregards any table-level or command-level IAM permissions policies that you create for the ledger.</p> </li> <li> <p> <code>STANDARD</code>: (<i>Recommended</i>) A permissions mode that enables access control with finer granularity for ledgers, tables, and PartiQL commands.</p> <p>By default, this mode denies all user requests to run any PartiQL commands on any tables in this ledger. To allow PartiQL commands to run, you must create IAM permissions policies for specific table resources and PartiQL actions, in addition to the <code>SendCommand</code> API permission for the ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-standard-mode.html\">Getting started with the standard permissions mode</a> in the <i>Amazon QLDB Developer Guide</i>.</p> </li> </ul> <note> <p>We strongly recommend using the <code>STANDARD</code> permissions mode to maximize the security of your ledger data.</p>\n@see PermissionsMode*/",
        "getterMethodName" : "getPermissionsMode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PermissionsMode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PermissionsMode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PermissionsMode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The permissions mode to assign to the ledger that you want to create. This parameter can have one of the following values:</p> <ul> <li> <p> <code>ALLOW_ALL</code>: A legacy permissions mode that enables access control with API-level granularity for ledgers.</p> <p>This mode allows users who have the <code>SendCommand</code> API permission for this ledger to run all PartiQL commands (hence, <code>ALLOW_ALL</code>) on any tables in the specified ledger. This mode disregards any table-level or command-level IAM permissions policies that you create for the ledger.</p> </li> <li> <p> <code>STANDARD</code>: (<i>Recommended</i>) A permissions mode that enables access control with finer granularity for ledgers, tables, and PartiQL commands.</p> <p>By default, this mode denies all user requests to run any PartiQL commands on any tables in this ledger. To allow PartiQL commands to run, you must create IAM permissions policies for specific table resources and PartiQL actions, in addition to the <code>SendCommand</code> API permission for the ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-standard-mode.html\">Getting started with the standard permissions mode</a> in the <i>Amazon QLDB Developer Guide</i>.</p> </li> </ul> <note> <p>We strongly recommend using the <code>STANDARD</code> permissions mode to maximize the security of your ledger data.</p> </note>\n@param permissionsMode The permissions mode to assign to the ledger that you want to create. This parameter can have one of the following values:</p> <ul> <li> <p> <code>ALLOW_ALL</code>: A legacy permissions mode that enables access control with API-level granularity for ledgers.</p> <p>This mode allows users who have the <code>SendCommand</code> API permission for this ledger to run all PartiQL commands (hence, <code>ALLOW_ALL</code>) on any tables in the specified ledger. This mode disregards any table-level or command-level IAM permissions policies that you create for the ledger.</p> </li> <li> <p> <code>STANDARD</code>: (<i>Recommended</i>) A permissions mode that enables access control with finer granularity for ledgers, tables, and PartiQL commands.</p> <p>By default, this mode denies all user requests to run any PartiQL commands on any tables in this ledger. To allow PartiQL commands to run, you must create IAM permissions policies for specific table resources and PartiQL actions, in addition to the <code>SendCommand</code> API permission for the ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-standard-mode.html\">Getting started with the standard permissions mode</a> in the <i>Amazon QLDB Developer Guide</i>.</p> </li> </ul> <note> <p>We strongly recommend using the <code>STANDARD</code> permissions mode to maximize the security of your ledger data.</p>\n@see PermissionsMode*/",
        "setterMethodName" : "setPermissionsMode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "permissionsMode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The permissions mode to assign to the ledger that you want to create. This parameter can have one of the following values:</p> <ul> <li> <p> <code>ALLOW_ALL</code>: A legacy permissions mode that enables access control with API-level granularity for ledgers.</p> <p>This mode allows users who have the <code>SendCommand</code> API permission for this ledger to run all PartiQL commands (hence, <code>ALLOW_ALL</code>) on any tables in the specified ledger. This mode disregards any table-level or command-level IAM permissions policies that you create for the ledger.</p> </li> <li> <p> <code>STANDARD</code>: (<i>Recommended</i>) A permissions mode that enables access control with finer granularity for ledgers, tables, and PartiQL commands.</p> <p>By default, this mode denies all user requests to run any PartiQL commands on any tables in this ledger. To allow PartiQL commands to run, you must create IAM permissions policies for specific table resources and PartiQL actions, in addition to the <code>SendCommand</code> API permission for the ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-standard-mode.html\">Getting started with the standard permissions mode</a> in the <i>Amazon QLDB Developer Guide</i>.</p> </li> </ul> <note> <p>We strongly recommend using the <code>STANDARD</code> permissions mode to maximize the security of your ledger data.</p> </note>\n@param permissionsMode The permissions mode to assign to the ledger that you want to create. This parameter can have one of the following values:</p> <ul> <li> <p> <code>ALLOW_ALL</code>: A legacy permissions mode that enables access control with API-level granularity for ledgers.</p> <p>This mode allows users who have the <code>SendCommand</code> API permission for this ledger to run all PartiQL commands (hence, <code>ALLOW_ALL</code>) on any tables in the specified ledger. This mode disregards any table-level or command-level IAM permissions policies that you create for the ledger.</p> </li> <li> <p> <code>STANDARD</code>: (<i>Recommended</i>) A permissions mode that enables access control with finer granularity for ledgers, tables, and PartiQL commands.</p> <p>By default, this mode denies all user requests to run any PartiQL commands on any tables in this ledger. To allow PartiQL commands to run, you must create IAM permissions policies for specific table resources and PartiQL actions, in addition to the <code>SendCommand</code> API permission for the ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-standard-mode.html\">Getting started with the standard permissions mode</a> in the <i>Amazon QLDB Developer Guide</i>.</p> </li> </ul> <note> <p>We strongly recommend using the <code>STANDARD</code> permissions mode to maximize the security of your ledger data.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see PermissionsMode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "permissionsMode",
          "variableType" : "String",
[...]
