{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-07-11",
    "asyncClient" : "AmazonQLDBSessionAsyncClient",
    "asyncClientBuilderClassName" : "AmazonQLDBSessionAsyncClientBuilder",
    "asyncInterface" : "AmazonQLDBSessionAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonQLDBSessionModuleInjector",
    "defaultEndpoint" : "session.qldb.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "session.qldb.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The transactional data APIs for Amazon QLDB</p>",
    "endpointPrefix" : "session.qldb",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.qldbsession",
    "packagePath" : "com/amazonaws/services/qldbsession",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "QLDB Session",
    "serviceFullName" : "Amazon QLDB Session",
    "serviceId" : "QLDB Session",
    "serviceName" : "QLDB Session",
    "signingName" : "qldb",
    "smokeTestsPackageName" : "com.amazonaws.services.qldbsession.smoketests",
    "syncClient" : "AmazonQLDBSessionClient",
    "syncClientBuilderClassName" : "AmazonQLDBSessionClientBuilder",
    "syncInterface" : "AmazonQLDBSession",
    "uid" : "qldb-session-2019-07-11",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "SendCommand" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendCommandResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendCommandResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendCommandRequest, SendCommandResult>",
      "asyncReturnType" : "SendCommandResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends a command to an Amazon QLDB ledger.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSessionException",
        "documentation" : "<p>Returned if the session doesn't exist anymore because it timed-out or expired.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OccConflictException",
        "documentation" : "<p>Returned when a transaction cannot be written to the journal due to a failure in the verification phase of Optimistic Concurrency Control.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RateExceededException",
        "documentation" : "<p>Returned when the rate of requests exceeds the allowed throughput.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Returned if a resource limit such as number of active sessions is exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendCommandRequest",
        "variableName" : "sendCommandRequest",
        "variableType" : "SendCommandRequest",
        "documentation" : "",
        "simpleType" : "SendCommandRequest",
        "variableSetterType" : "SendCommandRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendCommand",
      "operationName" : "SendCommand",
      "returnType" : {
        "returnType" : "SendCommandResult",
        "documentation" : null
      },
      "syncReturnType" : "SendCommandResult"
    }
  },
  "shapes" : {
    "AbortTransactionRequest" : {
      "c2jName" : "AbortTransactionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the details of the transaction to abort.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AbortTransactionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AbortTransactionRequest",
        "variableName" : "abortTransactionRequest",
        "variableType" : "AbortTransactionRequest",
        "documentation" : null,
        "simpleType" : "AbortTransactionRequest",
        "variableSetterType" : "AbortTransactionRequest"
      },
      "wrapper" : false
    },
    "AbortTransactionResult" : {
      "c2jName" : "AbortTransactionResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the details of the aborted transaction.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AbortTransactionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AbortTransactionResult",
        "variableName" : "abortTransactionResult",
        "variableType" : "AbortTransactionResult",
        "documentation" : null,
        "simpleType" : "AbortTransactionResult",
        "variableSetterType" : "AbortTransactionResult"
      },
      "wrapper" : false
    },
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Code",
        "c2jShape" : "ErrorCode",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param code */",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "Code",
          "c2jShape" : "ErrorCode",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param code */",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "CommitTransactionRequest" : {
      "c2jName" : "CommitTransactionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the details of the transaction to commit.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TransactionId",
        "c2jShape" : "TransactionId",
        "deprecated" : false,
        "documentation" : "<p>Specifies the transaction id of the transaction to commit.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the transaction id of the transaction to commit.</p>\n@param transactionId Specifies the transaction id of the transaction to commit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTransactionId",
        "getterDocumentation" : "/**<p>Specifies the transaction id of the transaction to commit.</p>\n@return Specifies the transaction id of the transaction to commit.*/",
        "getterMethodName" : "getTransactionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TransactionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TransactionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TransactionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the transaction id of the transaction to commit.</p>\n@param transactionId Specifies the transaction id of the transaction to commit.*/",
        "setterMethodName" : "setTransactionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "transactionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the transaction id of the transaction to commit.</p>\n@param transactionId Specifies the transaction id of the transaction to commit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "transactionId",
          "variableType" : "String",
          "documentation" : "<p>Specifies the transaction id of the transaction to commit.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CommitDigest",
        "c2jShape" : "CommitDigest",
        "deprecated" : false,
        "documentation" : "<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param commitDigest Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCommitDigest",
        "getterDocumentation" : "/**<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.*/",
        "getterMethodName" : "getCommitDigest",
        "getterModel" : {
          "returnType" : "java.nio.ByteBuffer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CommitDigest",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CommitDigest",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.nio.ByteBuffer",
        "marshallingType" : "BYTE_BUFFER",
        "name" : "CommitDigest",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param commitDigest Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.*/",
        "setterMethodName" : "setCommitDigest",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "commitDigest",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p>\n@param commitDigest Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "commitDigest",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p>",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CommitDigest" : {
          "c2jName" : "CommitDigest",
          "c2jShape" : "CommitDigest",
          "deprecated" : false,
          "documentation" : "<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param commitDigest Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCommitDigest",
          "getterDocumentation" : "/**<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.*/",
          "getterMethodName" : "getCommitDigest",
          "getterModel" : {
            "returnType" : "java.nio.ByteBuffer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CommitDigest",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CommitDigest",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.nio.ByteBuffer",
          "marshallingType" : "BYTE_BUFFER",
          "name" : "CommitDigest",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param commitDigest Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.*/",
          "setterMethodName" : "setCommitDigest",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "commitDigest",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p>\n@param commitDigest Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "commitDigest",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "<p>Specifies the commit digest for the transaction to commit. For every active transaction, the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects the commit with an error if the digest computed on the client does not match the digest computed by QLDB.</p>",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "xmlNameSpaceUri" : null
        },
        "TransactionId" : {
          "c2jName" : "TransactionId",
          "c2jShape" : "TransactionId",
          "deprecated" : false,
          "documentation" : "<p>Specifies the transaction id of the transaction to commit.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the transaction id of the transaction to commit.</p>\n@param transactionId Specifies the transaction id of the transaction to commit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTransactionId",
          "getterDocumentation" : "/**<p>Specifies the transaction id of the transaction to commit.</p>\n@return Specifies the transaction id of the transaction to commit.*/",
          "getterMethodName" : "getTransactionId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TransactionId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TransactionId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TransactionId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the transaction id of the transaction to commit.</p>\n@param transactionId Specifies the transaction id of the transaction to commit.*/",
          "setterMethodName" : "setTransactionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "transactionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the transaction id of the transaction to commit.</p>\n@param transactionId Specifies the transaction id of the transaction to commit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "transactionId",
            "variableType" : "String",
            "documentation" : "<p>Specifies the transaction id of the transaction to commit.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "TransactionId", "CommitDigest" ],
      "shapeName" : "CommitTransactionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CommitTransactionRequest",
        "variableName" : "commitTransactionRequest",
        "variableType" : "CommitTransactionRequest",
        "documentation" : null,
        "simpleType" : "CommitTransactionRequest",
        "variableSetterType" : "CommitTransactionRequest"
      },
      "wrapper" : false
    },
    "CommitTransactionResult" : {
      "c2jName" : "CommitTransactionResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the details of the committed transaction.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TransactionId",
        "c2jShape" : "TransactionId",
        "deprecated" : false,
        "documentation" : "<p>The transaction id of the committed transaction.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The transaction id of the committed transaction.</p>\n@param transactionId The transaction id of the committed transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTransactionId",
        "getterDocumentation" : "/**<p>The transaction id of the committed transaction.</p>\n@return The transaction id of the committed transaction.*/",
        "getterMethodName" : "getTransactionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TransactionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TransactionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TransactionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The transaction id of the committed transaction.</p>\n@param transactionId The transaction id of the committed transaction.*/",
        "setterMethodName" : "setTransactionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "transactionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The transaction id of the committed transaction.</p>\n@param transactionId The transaction id of the committed transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "transactionId",
          "variableType" : "String",
          "documentation" : "<p>The transaction id of the committed transaction.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CommitDigest",
        "c2jShape" : "CommitDigest",
        "deprecated" : false,
        "documentation" : "<p>The commit digest of the committed transaction.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The commit digest of the committed transaction.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param commitDigest The commit digest of the committed transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCommitDigest",
        "getterDocumentation" : "/**<p>The commit digest of the committed transaction.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return The commit digest of the committed transaction.*/",
        "getterMethodName" : "getCommitDigest",
        "getterModel" : {
          "returnType" : "java.nio.ByteBuffer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CommitDigest",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CommitDigest",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.nio.ByteBuffer",
        "marshallingType" : "BYTE_BUFFER",
        "name" : "CommitDigest",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The commit digest of the committed transaction.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param commitDigest The commit digest of the committed transaction.*/",
        "setterMethodName" : "setCommitDigest",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "commitDigest",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The commit digest of the committed transaction.</p>\n@param commitDigest The commit digest of the committed transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "commitDigest",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "<p>The commit digest of the committed transaction.</p>",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CommitDigest" : {
          "c2jName" : "CommitDigest",
          "c2jShape" : "CommitDigest",
          "deprecated" : false,
          "documentation" : "<p>The commit digest of the committed transaction.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The commit digest of the committed transaction.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param commitDigest The commit digest of the committed transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCommitDigest",
          "getterDocumentation" : "/**<p>The commit digest of the committed transaction.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return The commit digest of the committed transaction.*/",
          "getterMethodName" : "getCommitDigest",
          "getterModel" : {
            "returnType" : "java.nio.ByteBuffer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CommitDigest",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CommitDigest",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.nio.ByteBuffer",
          "marshallingType" : "BYTE_BUFFER",
          "name" : "CommitDigest",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The commit digest of the committed transaction.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param commitDigest The commit digest of the committed transaction.*/",
          "setterMethodName" : "setCommitDigest",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "commitDigest",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The commit digest of the committed transaction.</p>\n@param commitDigest The commit digest of the committed transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "commitDigest",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "<p>The commit digest of the committed transaction.</p>",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "xmlNameSpaceUri" : null
        },
        "TransactionId" : {
          "c2jName" : "TransactionId",
          "c2jShape" : "TransactionId",
          "deprecated" : false,
          "documentation" : "<p>The transaction id of the committed transaction.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The transaction id of the committed transaction.</p>\n@param transactionId The transaction id of the committed transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTransactionId",
          "getterDocumentation" : "/**<p>The transaction id of the committed transaction.</p>\n@return The transaction id of the committed transaction.*/",
          "getterMethodName" : "getTransactionId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TransactionId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TransactionId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TransactionId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The transaction id of the committed transaction.</p>\n@param transactionId The transaction id of the committed transaction.*/",
          "setterMethodName" : "setTransactionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "transactionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The transaction id of the committed transaction.</p>\n@param transactionId The transaction id of the committed transaction.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "transactionId",
            "variableType" : "String",
            "documentation" : "<p>The transaction id of the committed transaction.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CommitTransactionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CommitTransactionResult",
        "variableName" : "commitTransactionResult",
        "variableType" : "CommitTransactionResult",
        "documentation" : null,
        "simpleType" : "CommitTransactionResult",
        "variableSetterType" : "CommitTransactionResult"
      },
      "wrapper" : false
    },
    "EndSessionRequest" : {
      "c2jName" : "EndSessionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Specifies a request to end the session.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "EndSessionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EndSessionRequest",
        "variableName" : "endSessionRequest",
        "variableType" : "EndSessionRequest",
        "documentation" : null,
        "simpleType" : "EndSessionRequest",
        "variableSetterType" : "EndSessionRequest"
      },
      "wrapper" : false
    },
    "EndSessionResult" : {
      "c2jName" : "EndSessionResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the details of the ended session.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "EndSessionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EndSessionResult",
        "variableName" : "endSessionResult",
        "variableType" : "EndSessionResult",
        "documentation" : null,
        "simpleType" : "EndSessionResult",
        "variableSetterType" : "EndSessionResult"
      },
      "wrapper" : false
    },
    "ExecuteStatementRequest" : {
      "c2jName" : "ExecuteStatementRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Specifies a request to execute a statement.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TransactionId",
        "c2jShape" : "TransactionId",
        "deprecated" : false,
        "documentation" : "<p>Specifies the transaction id of the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the transaction id of the request.</p>\n@param transactionId Specifies the transaction id of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTransactionId",
        "getterDocumentation" : "/**<p>Specifies the transaction id of the request.</p>\n@return Specifies the transaction id of the request.*/",
        "getterMethodName" : "getTransactionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TransactionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TransactionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TransactionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the transaction id of the request.</p>\n@param transactionId Specifies the transaction id of the request.*/",
        "setterMethodName" : "setTransactionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "transactionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the transaction id of the request.</p>\n@param transactionId Specifies the transaction id of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "transactionId",
          "variableType" : "String",
          "documentation" : "<p>Specifies the transaction id of the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Statement",
        "c2jShape" : "Statement",
        "deprecated" : false,
        "documentation" : "<p>Specifies the statement of the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the statement of the request.</p>\n@param statement Specifies the statement of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatement",
        "getterDocumentation" : "/**<p>Specifies the statement of the request.</p>\n@return Specifies the statement of the request.*/",
        "getterMethodName" : "getStatement",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Statement",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Statement",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Statement",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the statement of the request.</p>\n@param statement Specifies the statement of the request.*/",
        "setterMethodName" : "setStatement",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statement",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the statement of the request.</p>\n@param statement Specifies the statement of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statement",
          "variableType" : "String",
          "documentation" : "<p>Specifies the statement of the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Parameters",
        "c2jShape" : "StatementParameters",
        "deprecated" : false,
        "documentation" : "<p>Specifies the parameters for the parameterized statement in the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the parameters for the parameterized statement in the request.</p>\n@param parameters Specifies the parameters for the parameterized statement in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withParameters",
        "getterDocumentation" : "/**<p>Specifies the parameters for the parameterized statement in the request.</p>\n@return Specifies the parameters for the parameterized statement in the request.*/",
        "getterMethodName" : "getParameters",
        "getterModel" : {
          "returnType" : "java.util.List<ValueHolder>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Parameters",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Parameters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ValueHolder",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "ValueHolder",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ValueHolder",
              "variableName" : "member",
              "variableType" : "ValueHolder",
              "documentation" : "",
              "simpleType" : "ValueHolder",
              "variableSetterType" : "ValueHolder"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ValueHolder",
              "variableName" : "member",
              "variableType" : "ValueHolder",
              "documentation" : "",
              "simpleType" : "ValueHolder",
              "variableSetterType" : "ValueHolder"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ValueHolder",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ValueHolder",
          "templateImplType" : "java.util.ArrayList<ValueHolder>",
          "templateType" : "java.util.List<ValueHolder>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Parameters",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the parameters for the parameterized statement in the request.</p>\n@param parameters Specifies the parameters for the parameterized statement in the request.*/",
        "setterMethodName" : "setParameters",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ValueHolder>",
          "variableName" : "parameters",
          "variableType" : "java.util.List<ValueHolder>",
          "documentation" : "",
          "simpleType" : "List<ValueHolder>",
          "variableSetterType" : "java.util.Collection<ValueHolder>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the parameters for the parameterized statement in the request.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setParameters(java.util.Collection)} or {@link #withParameters(java.util.Collection)} if you want to override the existing values.</p>\n@param parameters Specifies the parameters for the parameterized statement in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ValueHolder>",
          "variableName" : "parameters",
          "variableType" : "java.util.List<ValueHolder>",
          "documentation" : "<p>Specifies the parameters for the parameterized statement in the request.</p>",
          "simpleType" : "List<ValueHolder>",
          "variableSetterType" : "java.util.Collection<ValueHolder>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Parameters" : {
          "c2jName" : "Parameters",
          "c2jShape" : "StatementParameters",
          "deprecated" : false,
          "documentation" : "<p>Specifies the parameters for the parameterized statement in the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the parameters for the parameterized statement in the request.</p>\n@param parameters Specifies the parameters for the parameterized statement in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withParameters",
          "getterDocumentation" : "/**<p>Specifies the parameters for the parameterized statement in the request.</p>\n@return Specifies the parameters for the parameterized statement in the request.*/",
          "getterMethodName" : "getParameters",
          "getterModel" : {
            "returnType" : "java.util.List<ValueHolder>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Parameters",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Parameters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ValueHolder",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "ValueHolder",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ValueHolder",
                "variableName" : "member",
                "variableType" : "ValueHolder",
                "documentation" : "",
                "simpleType" : "ValueHolder",
                "variableSetterType" : "ValueHolder"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ValueHolder",
                "variableName" : "member",
                "variableType" : "ValueHolder",
                "documentation" : "",
                "simpleType" : "ValueHolder",
                "variableSetterType" : "ValueHolder"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "ValueHolder",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ValueHolder",
            "templateImplType" : "java.util.ArrayList<ValueHolder>",
            "templateType" : "java.util.List<ValueHolder>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Parameters",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the parameters for the parameterized statement in the request.</p>\n@param parameters Specifies the parameters for the parameterized statement in the request.*/",
          "setterMethodName" : "setParameters",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ValueHolder>",
            "variableName" : "parameters",
            "variableType" : "java.util.List<ValueHolder>",
            "documentation" : "",
            "simpleType" : "List<ValueHolder>",
            "variableSetterType" : "java.util.Collection<ValueHolder>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the parameters for the parameterized statement in the request.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setParameters(java.util.Collection)} or {@link #withParameters(java.util.Collection)} if you want to override the existing values.</p>\n@param parameters Specifies the parameters for the parameterized statement in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ValueHolder>",
            "variableName" : "parameters",
            "variableType" : "java.util.List<ValueHolder>",
            "documentation" : "<p>Specifies the parameters for the parameterized statement in the request.</p>",
            "simpleType" : "List<ValueHolder>",
            "variableSetterType" : "java.util.Collection<ValueHolder>"
          },
          "xmlNameSpaceUri" : null
        },
        "Statement" : {
          "c2jName" : "Statement",
          "c2jShape" : "Statement",
          "deprecated" : false,
          "documentation" : "<p>Specifies the statement of the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the statement of the request.</p>\n@param statement Specifies the statement of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatement",
          "getterDocumentation" : "/**<p>Specifies the statement of the request.</p>\n@return Specifies the statement of the request.*/",
          "getterMethodName" : "getStatement",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Statement",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Statement",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Statement",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the statement of the request.</p>\n@param statement Specifies the statement of the request.*/",
          "setterMethodName" : "setStatement",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "statement",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the statement of the request.</p>\n@param statement Specifies the statement of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "statement",
            "variableType" : "String",
            "documentation" : "<p>Specifies the statement of the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TransactionId" : {
          "c2jName" : "TransactionId",
          "c2jShape" : "TransactionId",
          "deprecated" : false,
          "documentation" : "<p>Specifies the transaction id of the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the transaction id of the request.</p>\n@param transactionId Specifies the transaction id of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTransactionId",
          "getterDocumentation" : "/**<p>Specifies the transaction id of the request.</p>\n@return Specifies the transaction id of the request.*/",
          "getterMethodName" : "getTransactionId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TransactionId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TransactionId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TransactionId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the transaction id of the request.</p>\n@param transactionId Specifies the transaction id of the request.*/",
          "setterMethodName" : "setTransactionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "transactionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the transaction id of the request.</p>\n@param transactionId Specifies the transaction id of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "transactionId",
            "variableType" : "String",
            "documentation" : "<p>Specifies the transaction id of the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "TransactionId", "Statement" ],
      "shapeName" : "ExecuteStatementRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteStatementRequest",
        "variableName" : "executeStatementRequest",
        "variableType" : "ExecuteStatementRequest",
        "documentation" : null,
        "simpleType" : "ExecuteStatementRequest",
        "variableSetterType" : "ExecuteStatementRequest"
      },
      "wrapper" : false
    },
    "ExecuteStatementResult" : {
      "c2jName" : "ExecuteStatementResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the details of the executed statement.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "FirstPage",
        "c2jShape" : "Page",
        "deprecated" : false,
        "documentation" : "<p>Contains the details of the first fetched page.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Contains the details of the first fetched page.</p>\n@param firstPage Contains the details of the first fetched page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFirstPage",
        "getterDocumentation" : "/**<p>Contains the details of the first fetched page.</p>\n@return Contains the details of the first fetched page.*/",
        "getterMethodName" : "getFirstPage",
        "getterModel" : {
          "returnType" : "Page",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FirstPage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FirstPage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "FirstPage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Contains the details of the first fetched page.</p>\n@param firstPage Contains the details of the first fetched page.*/",
        "setterMethodName" : "setFirstPage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Page",
          "variableName" : "firstPage",
          "variableType" : "Page",
          "documentation" : "",
          "simpleType" : "Page",
          "variableSetterType" : "Page"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Contains the details of the first fetched page.</p>\n@param firstPage Contains the details of the first fetched page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Page",
          "variableName" : "firstPage",
          "variableType" : "Page",
          "documentation" : "<p>Contains the details of the first fetched page.</p>",
          "simpleType" : "Page",
          "variableSetterType" : "Page"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FirstPage" : {
          "c2jName" : "FirstPage",
          "c2jShape" : "Page",
          "deprecated" : false,
          "documentation" : "<p>Contains the details of the first fetched page.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Contains the details of the first fetched page.</p>\n@param firstPage Contains the details of the first fetched page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFirstPage",
          "getterDocumentation" : "/**<p>Contains the details of the first fetched page.</p>\n@return Contains the details of the first fetched page.*/",
          "getterMethodName" : "getFirstPage",
          "getterModel" : {
            "returnType" : "Page",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FirstPage",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FirstPage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "FirstPage",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Contains the details of the first fetched page.</p>\n@param firstPage Contains the details of the first fetched page.*/",
          "setterMethodName" : "setFirstPage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Page",
            "variableName" : "firstPage",
            "variableType" : "Page",
            "documentation" : "",
            "simpleType" : "Page",
            "variableSetterType" : "Page"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Contains the details of the first fetched page.</p>\n@param firstPage Contains the details of the first fetched page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Page",
            "variableName" : "firstPage",
            "variableType" : "Page",
            "documentation" : "<p>Contains the details of the first fetched page.</p>",
            "simpleType" : "Page",
            "variableSetterType" : "Page"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ExecuteStatementResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteStatementResult",
        "variableName" : "executeStatementResult",
        "variableType" : "ExecuteStatementResult",
        "documentation" : null,
        "simpleType" : "ExecuteStatementResult",
        "variableSetterType" : "ExecuteStatementResult"
      },
      "wrapper" : false
    },
    "FetchPageRequest" : {
      "c2jName" : "FetchPageRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Specifies the details of the page to be fetched.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TransactionId",
        "c2jShape" : "TransactionId",
        "deprecated" : false,
        "documentation" : "<p>Specifies the transaction id of the page to be fetched.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the transaction id of the page to be fetched.</p>\n@param transactionId Specifies the transaction id of the page to be fetched.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTransactionId",
        "getterDocumentation" : "/**<p>Specifies the transaction id of the page to be fetched.</p>\n@return Specifies the transaction id of the page to be fetched.*/",
        "getterMethodName" : "getTransactionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TransactionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TransactionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TransactionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the transaction id of the page to be fetched.</p>\n@param transactionId Specifies the transaction id of the page to be fetched.*/",
        "setterMethodName" : "setTransactionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "transactionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the transaction id of the page to be fetched.</p>\n@param transactionId Specifies the transaction id of the page to be fetched.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "transactionId",
          "variableType" : "String",
          "documentation" : "<p>Specifies the transaction id of the page to be fetched.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NextPageToken",
        "c2jShape" : "PageToken",
        "deprecated" : false,
        "documentation" : "<p>Specifies the next page token of the page to be fetched.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the next page token of the page to be fetched.</p>\n@param nextPageToken Specifies the next page token of the page to be fetched.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNextPageToken",
        "getterDocumentation" : "/**<p>Specifies the next page token of the page to be fetched.</p>\n@return Specifies the next page token of the page to be fetched.*/",
        "getterMethodName" : "getNextPageToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NextPageToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NextPageToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NextPageToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the next page token of the page to be fetched.</p>\n@param nextPageToken Specifies the next page token of the page to be fetched.*/",
        "setterMethodName" : "setNextPageToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextPageToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the next page token of the page to be fetched.</p>\n@param nextPageToken Specifies the next page token of the page to be fetched.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextPageToken",
          "variableType" : "String",
[...]
