{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-04-01",
    "asyncClient" : "AmazonQuickSightAsyncClient",
    "asyncClientBuilderClassName" : "AmazonQuickSightAsyncClientBuilder",
    "asyncInterface" : "AmazonQuickSightAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonQuickSightModuleInjector",
    "defaultEndpoint" : "quicksight.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "quicksight.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon QuickSight API Reference</fullname> <p>Amazon QuickSight is a fully managed, serverless, cloud business intelligence service that makes it easy to extend data and insights to every user in your organization. This API interface reference contains documentation for a programming interface that you can use to manage Amazon QuickSight. </p>",
    "endpointPrefix" : "quicksight",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.quicksight",
    "packagePath" : "com/amazonaws/services/quicksight",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon QuickSight",
    "serviceId" : "QuickSight",
    "serviceName" : "Amazon QuickSight",
    "signingName" : "quicksight",
    "smokeTestsPackageName" : "com.amazonaws.services.quicksight.smoketests",
    "syncClient" : "AmazonQuickSightClient",
    "syncClientBuilderClassName" : "AmazonQuickSightClientBuilder",
    "syncInterface" : "AmazonQuickSight",
    "uid" : "quicksight-2018-04-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupRequest, CreateGroupResult>",
      "asyncReturnType" : "CreateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon QuickSight group.</p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;relevant-aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The response is a group object.</p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight create-group --aws-account-id=111122223333 --namespace=default --group-name=\"Sales-Management\" --description=\"Sales Management - Forecasting\" </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource specified doesn't exist. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>One or more preconditions aren't met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit is exceeded.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGroupRequest",
        "variableName" : "createGroupRequest",
        "variableType" : "CreateGroupRequest",
        "documentation" : "<p>The request object for this operation. </p>",
        "simpleType" : "CreateGroupRequest",
        "variableSetterType" : "CreateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroup",
      "operationName" : "CreateGroup",
      "returnType" : {
        "returnType" : "CreateGroupResult",
        "documentation" : "<p>The response object for this operation.</p>"
      },
      "syncReturnType" : "CreateGroupResult"
    },
    "CreateGroupMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupMembershipRequest, CreateGroupMembershipResult>",
      "asyncReturnType" : "CreateGroupMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds an Amazon QuickSight user to an Amazon QuickSight group. </p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The condition resource is the user name.</p> <p>The condition key is <code>quicksight:UserName</code>.</p> <p>The response is the group member object.</p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight create-group-membership --aws-account-id=111122223333 --namespace=default --group-name=Sales --member-name=Pat </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>One or more preconditions aren't met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGroupMembershipRequest",
        "variableName" : "createGroupMembershipRequest",
        "variableType" : "CreateGroupMembershipRequest",
        "documentation" : "",
        "simpleType" : "CreateGroupMembershipRequest",
        "variableSetterType" : "CreateGroupMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroupMembership",
      "operationName" : "CreateGroupMembership",
      "returnType" : {
        "returnType" : "CreateGroupMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGroupMembershipResult"
    },
    "DeleteGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGroupRequest, DeleteGroupResult>",
      "asyncReturnType" : "DeleteGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a user group from Amazon QuickSight. </p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight delete-group -\\-aws-account-id=111122223333 -\\-namespace=default -\\-group-name=Sales-Management </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>One or more preconditions aren't met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGroupRequest",
        "variableName" : "deleteGroupRequest",
        "variableType" : "DeleteGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteGroupRequest",
        "variableSetterType" : "DeleteGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGroup",
      "operationName" : "DeleteGroup",
      "returnType" : {
        "returnType" : "DeleteGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGroupResult"
    },
    "DeleteGroupMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGroupMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGroupMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGroupMembershipRequest, DeleteGroupMembershipResult>",
      "asyncReturnType" : "DeleteGroupMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a user from a group so that the user is no longer a member of the group.</p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The condition resource is the user name.</p> <p>The condition key is <code>quicksight:UserName</code>.</p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight delete-group-membership --aws-account-id=111122223333 --namespace=default --group-name=Sales-Management --member-name=Charlie </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>One or more preconditions aren't met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGroupMembershipRequest",
        "variableName" : "deleteGroupMembershipRequest",
        "variableType" : "DeleteGroupMembershipRequest",
        "documentation" : "",
        "simpleType" : "DeleteGroupMembershipRequest",
        "variableSetterType" : "DeleteGroupMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGroupMembership",
      "operationName" : "DeleteGroupMembership",
      "returnType" : {
        "returnType" : "DeleteGroupMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGroupMembershipResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the Amazon QuickSight user that is associated with the identity of the AWS Identity and Access Management (IAM) user or role that's making the call. The IAM user isn't deleted as a result of this call. </p> <p>The permission resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:user/default/<i>&lt;user-name&gt; </i> </code>.</p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight delete-user --aws-account-id=111122223333 --namespace=default --user-name=Pat </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DeleteUserByPrincipalId" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserByPrincipalIdResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserByPrincipalIdResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserByPrincipalIdRequest, DeleteUserByPrincipalIdResult>",
      "asyncReturnType" : "DeleteUserByPrincipalIdResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user after locating the user by its principal ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserByPrincipalIdRequest",
        "variableName" : "deleteUserByPrincipalIdRequest",
        "variableType" : "DeleteUserByPrincipalIdRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserByPrincipalIdRequest",
        "variableSetterType" : "DeleteUserByPrincipalIdRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUserByPrincipalId",
      "operationName" : "DeleteUserByPrincipalId",
      "returnType" : {
        "returnType" : "DeleteUserByPrincipalIdResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserByPrincipalIdResult"
    },
    "DescribeGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeGroupRequest, DescribeGroupResult>",
      "asyncReturnType" : "DescribeGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an Amazon QuickSight group's description and Amazon Resource Name (ARN). </p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;relevant-aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The response is the group object. </p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight describe-group -\\-aws-account-id=11112222333 -\\-namespace=default -\\-group-name=Sales </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>One or more preconditions aren't met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeGroupRequest",
        "variableName" : "describeGroupRequest",
        "variableType" : "DescribeGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeGroupRequest",
        "variableSetterType" : "DescribeGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeGroup",
      "operationName" : "DescribeGroup",
      "returnType" : {
        "returnType" : "DescribeGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeGroupResult"
    },
    "DescribeUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserRequest, DescribeUserResult>",
      "asyncReturnType" : "DescribeUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a user, given the user name. </p> <p>The permission resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:user/default/<i>&lt;user-name&gt;</i> </code>. </p> <p>The response is a user object that contains the user's Amazon Resource Name (ARN), AWS Identity and Access Management (IAM) role, and email address. </p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight describe-user --aws-account-id=111122223333 --namespace=default --user-name=Pat </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserRequest",
        "variableName" : "describeUserRequest",
        "variableType" : "DescribeUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserRequest",
        "variableSetterType" : "DescribeUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUser",
      "operationName" : "DescribeUser",
      "returnType" : {
        "returnType" : "DescribeUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserResult"
    },
    "GetDashboardEmbedUrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDashboardEmbedUrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDashboardEmbedUrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDashboardEmbedUrlRequest, GetDashboardEmbedUrlResult>",
      "asyncReturnType" : "GetDashboardEmbedUrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a server-side embeddable URL and authorization code. Before this can work properly, first you need to configure the dashboards and user permissions. For more information, see <a href=\"https://docs.aws.amazon.com/en_us/quicksight/latest/user/embedding.html\"> Embedding Amazon QuickSight Dashboards</a>.</p> <p>Currently, you can use <code>GetDashboardEmbedURL</code> only from the server, not from the user’s browser.</p> <p> <b>CLI Sample:</b> </p> <p>Assume the role with permissions enabled for actions: <code>quickSight:RegisterUser</code> and <code>quicksight:GetDashboardEmbedURL</code>. You can use assume-role, assume-role-with-web-identity, or assume-role-with-saml. </p> <p> <code>aws sts assume-role --role-arn \"arn:aws:iam::111122223333:role/embedding_quicksight_dashboard_role\" --role-session-name embeddingsession</code> </p> <p>If the user does not exist in QuickSight, register the user:</p> <p> <code>aws quicksight register-user --aws-account-id 111122223333 --namespace default --identity-type IAM --iam-arn \"arn:aws:iam::111122223333:role/embedding_quicksight_dashboard_role\" --user-role READER --session-name \"embeddingsession\" --email user123@example.com --region us-east-1</code> </p> <p>Get the URL for the embedded dashboard</p> <p> <code>aws quicksight get-dashboard-embed-url --aws-account-id 111122223333 --dashboard-id 1a1ac2b2-3fc3-4b44-5e5d-c6db6778df89 --identity-type IAM</code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource specified doesn't exist. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>One or more preconditions aren't met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DomainNotWhitelistedException",
        "documentation" : "<p>The domain specified is not on the allowlist. All domains for embedded dashboards must be added to the approved list by an Amazon QuickSight admin.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "QuickSightUserNotFoundException",
        "documentation" : "<p>The user is not found. This error can happen in any operation that requires finding a user based on a provided user name, such as <code>DeleteUser</code>, <code>DescribeUser</code>, and so on.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "IdentityTypeNotSupportedException",
        "documentation" : "<p>The identity type specified is not supported. Supported identity types include IAM and QUICKSIGHT.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "SessionLifetimeInMinutesInvalidException",
        "documentation" : "<p>The number of minutes specified for the lifetime of a session is not valid. The session lifetime must be from 15 to 600 minutes.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnsupportedUserEditionException",
        "documentation" : "<p>This error indicates that you are calling an operation on an Amazon QuickSight subscription where the edition doesn't include support for that operation. Amazon QuickSight currently has Standard Edition and Enterprise Edition. Not every operation and capability is available in every edition.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDashboardEmbedUrlRequest",
        "variableName" : "getDashboardEmbedUrlRequest",
        "variableType" : "GetDashboardEmbedUrlRequest",
        "documentation" : "",
        "simpleType" : "GetDashboardEmbedUrlRequest",
        "variableSetterType" : "GetDashboardEmbedUrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDashboardEmbedUrl",
      "operationName" : "GetDashboardEmbedUrl",
      "returnType" : {
        "returnType" : "GetDashboardEmbedUrlResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDashboardEmbedUrlResult"
    },
    "ListGroupMemberships" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupMembershipsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupMembershipsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupMembershipsRequest, ListGroupMembershipsResult>",
      "asyncReturnType" : "ListGroupMembershipsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists member users in a group.</p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The response is a list of group member objects.</p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight list-group-memberships -\\-aws-account-id=111122223333 -\\-namespace=default </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>One or more preconditions aren't met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGroupMembershipsRequest",
        "variableName" : "listGroupMembershipsRequest",
        "variableType" : "ListGroupMembershipsRequest",
        "documentation" : "",
        "simpleType" : "ListGroupMembershipsRequest",
        "variableSetterType" : "ListGroupMembershipsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroupMemberships",
      "operationName" : "ListGroupMemberships",
      "returnType" : {
        "returnType" : "ListGroupMembershipsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupMembershipsResult"
    },
    "ListGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupsRequest, ListGroupsResult>",
      "asyncReturnType" : "ListGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all user groups in Amazon QuickSight. </p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:group/default/*</code>.</p> <p>The response is a list of group objects. </p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight list-groups -\\-aws-account-id=111122223333 -\\-namespace=default </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>One or more preconditions aren't met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGroupsRequest",
        "variableName" : "listGroupsRequest",
        "variableType" : "ListGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListGroupsRequest",
        "variableSetterType" : "ListGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroups",
      "operationName" : "ListGroups",
      "returnType" : {
        "returnType" : "ListGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupsResult"
    },
    "ListUserGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUserGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUserGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUserGroupsRequest, ListUserGroupsResult>",
      "asyncReturnType" : "ListUserGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Amazon QuickSight groups that an Amazon QuickSight user is a member of.</p> <p>The permission resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:user/default/<i>&lt;user-name&gt;</i> </code>. </p> <p>The response is a one or more group objects. </p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight list-user-groups -\\-user-name=Pat -\\-aws-account-id=111122223333 -\\-namespace=default -\\-region=us-east-1 </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUserGroupsRequest",
        "variableName" : "listUserGroupsRequest",
        "variableType" : "ListUserGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListUserGroupsRequest",
        "variableSetterType" : "ListUserGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUserGroups",
      "operationName" : "ListUserGroups",
      "returnType" : {
        "returnType" : "ListUserGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUserGroupsResult"
    },
    "ListUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersRequest, ListUsersResult>",
      "asyncReturnType" : "ListUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all of the Amazon QuickSight users belonging to this account. </p> <p>The permission resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:user/default/<i>*</i> </code>.</p> <p>The response is a list of user objects, containing each user's Amazon Resource Name (ARN), AWS Identity and Access Management (IAM) role, and email address. </p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight list-users --aws-account-id=111122223333 --namespace=default </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsersRequest",
        "variableName" : "listUsersRequest",
        "variableType" : "ListUsersRequest",
        "documentation" : "",
        "simpleType" : "ListUsersRequest",
        "variableSetterType" : "ListUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsers",
      "operationName" : "ListUsers",
      "returnType" : {
        "returnType" : "ListUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsersResult"
    },
    "RegisterUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterUserRequest, RegisterUserResult>",
      "asyncReturnType" : "RegisterUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon QuickSight user, whose identity is associated with the AWS Identity and Access Management (IAM) identity or role specified in the request. </p> <p>The permission resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:user/default/<i>&lt;user-name&gt;</i> </code>.</p> <p>The condition resource is the Amazon Resource Name (ARN) for the IAM user or role, and the session name. </p> <p>The condition keys are <code>quicksight:IamArn</code> and <code>quicksight:SessionName</code>. </p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight register-user -\\-aws-account-id=111122223333 -\\-namespace=default -\\-email=pat@example.com -\\-identity-type=IAM -\\-user-role=AUTHOR -\\-iam-arn=arn:aws:iam::111122223333:user/Pat </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit is exceeded.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource specified doesn't exist. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>One or more preconditions aren't met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterUserRequest",
        "variableName" : "registerUserRequest",
        "variableType" : "RegisterUserRequest",
        "documentation" : "",
        "simpleType" : "RegisterUserRequest",
        "variableSetterType" : "RegisterUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerUser",
      "operationName" : "RegisterUser",
      "returnType" : {
        "returnType" : "RegisterUserResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterUserResult"
    },
    "UpdateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGroupRequest, UpdateGroupResult>",
      "asyncReturnType" : "UpdateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes a group description. </p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The response is a group object.</p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight update-group --aws-account-id=111122223333 --namespace=default --group-name=Sales --description=\"Sales BI Dashboards\" </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>One or more preconditions aren't met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGroupRequest",
        "variableName" : "updateGroupRequest",
        "variableType" : "UpdateGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateGroupRequest",
        "variableSetterType" : "UpdateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGroup",
      "operationName" : "UpdateGroup",
      "returnType" : {
        "returnType" : "UpdateGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGroupResult"
    },
    "UpdateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserRequest, UpdateUserResult>",
      "asyncReturnType" : "UpdateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an Amazon QuickSight user.</p> <p>The permission resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:user/default/<i>&lt;user-name&gt;</i> </code>. </p> <p>The response is a user object that contains the user's Amazon QuickSight user name, email address, active or inactive status in Amazon QuickSight, Amazon QuickSight role, and Amazon Resource Name (ARN). </p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight update-user --user-name=Pat --role=ADMIN --email=new_address@amazon.com --aws-account-id=111122223333 --namespace=default --region=us-east-1 </code> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more parameters don't have a valid value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Access is throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>This resource is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserRequest",
        "variableName" : "updateUserRequest",
        "variableType" : "UpdateUserRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserRequest",
        "variableSetterType" : "UpdateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUser",
      "operationName" : "UpdateUser",
      "returnType" : {
        "returnType" : "UpdateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have access to this. The provided credentials couldn't be validated. You might not be authorized to carry out the request. Ensure that your account is authorized to use the Amazon QuickSight service, that your policies have the correct permissions, and that you are using the correct access keys.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "RequestId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The AWS request id for this request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS request id for this request.</p>\n@param requestId The AWS request id for this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequestId",
        "getterDocumentation" : "/**<p>The AWS request id for this request.</p>\n@return The AWS request id for this request.*/",
        "getterMethodName" : "getRequestId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RequestId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RequestId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RequestId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS request id for this request.</p>\n@param requestId The AWS request id for this request.*/",
        "setterMethodName" : "setRequestId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS request id for this request.</p>\n@param requestId The AWS request id for this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "<p>The AWS request id for this request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RequestId" : {
          "c2jName" : "RequestId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The AWS request id for this request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS request id for this request.</p>\n@param requestId The AWS request id for this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRequestId",
          "getterDocumentation" : "/**<p>The AWS request id for this request.</p>\n@return The AWS request id for this request.*/",
          "getterMethodName" : "getRequestId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RequestId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RequestId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RequestId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS request id for this request.</p>\n@param requestId The AWS request id for this request.*/",
          "setterMethodName" : "setRequestId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS request id for this request.</p>\n@param requestId The AWS request id for this request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "<p>The AWS request id for this request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CreateGroupMembershipRequest" : {
      "c2jName" : "CreateGroupMembershipRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateGroupMembership",
        "locationName" : null,
        "requestUri" : "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "MemberName",
        "c2jShape" : "GroupMemberName",
        "deprecated" : false,
        "documentation" : "<p>The name of the user that you want to add to the group membership.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the user that you want to add to the group membership.</p>\n@param memberName The name of the user that you want to add to the group membership.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMemberName",
        "getterDocumentation" : "/**<p>The name of the user that you want to add to the group membership.</p>\n@return The name of the user that you want to add to the group membership.*/",
        "getterMethodName" : "getMemberName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "MemberName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MemberName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MemberName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the user that you want to add to the group membership.</p>\n@param memberName The name of the user that you want to add to the group membership.*/",
        "setterMethodName" : "setMemberName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "memberName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the user that you want to add to the group membership.</p>\n@param memberName The name of the user that you want to add to the group membership.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "memberName",
          "variableType" : "String",
          "documentation" : "<p>The name of the user that you want to add to the group membership.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "GroupName",
        "c2jShape" : "GroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the group that you want to add the user to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the group that you want to add the user to.</p>\n@param groupName The name of the group that you want to add the user to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGroupName",
        "getterDocumentation" : "/**<p>The name of the group that you want to add the user to.</p>\n@return The name of the group that you want to add the user to.*/",
        "getterMethodName" : "getGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "GroupName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GroupName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the group that you want to add the user to.</p>\n@param groupName The name of the group that you want to add the user to.*/",
        "setterMethodName" : "setGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "groupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the group that you want to add the user to.</p>\n@param groupName The name of the group that you want to add the user to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "groupName",
          "variableType" : "String",
          "documentation" : "<p>The name of the group that you want to add the user to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AwsAccountId",
        "c2jShape" : "AwsAccountId",
        "deprecated" : false,
        "documentation" : "<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>\n@param awsAccountId The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAwsAccountId",
        "getterDocumentation" : "/**<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>\n@return The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.*/",
        "getterMethodName" : "getAwsAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "AwsAccountId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AwsAccountId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AwsAccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>\n@param awsAccountId The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.*/",
        "setterMethodName" : "setAwsAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "awsAccountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>\n@param awsAccountId The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "awsAccountId",
          "variableType" : "String",
          "documentation" : "<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Namespace",
        "c2jShape" : "Namespace",
        "deprecated" : false,
        "documentation" : "<p>The namespace. Currently, you should set this to <code>default</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The namespace. Currently, you should set this to <code>default</code>.</p>\n@param namespace The namespace. Currently, you should set this to <code>default</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNamespace",
        "getterDocumentation" : "/**<p>The namespace. Currently, you should set this to <code>default</code>.</p>\n@return The namespace. Currently, you should set this to <code>default</code>.*/",
        "getterMethodName" : "getNamespace",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "Namespace",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Namespace",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Namespace",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The namespace. Currently, you should set this to <code>default</code>.</p>\n@param namespace The namespace. Currently, you should set this to <code>default</code>.*/",
        "setterMethodName" : "setNamespace",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "namespace",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The namespace. Currently, you should set this to <code>default</code>.</p>\n@param namespace The namespace. Currently, you should set this to <code>default</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "namespace",
          "variableType" : "String",
          "documentation" : "<p>The namespace. Currently, you should set this to <code>default</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AwsAccountId" : {
          "c2jName" : "AwsAccountId",
          "c2jShape" : "AwsAccountId",
          "deprecated" : false,
          "documentation" : "<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>\n@param awsAccountId The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAwsAccountId",
          "getterDocumentation" : "/**<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>\n@return The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.*/",
          "getterMethodName" : "getAwsAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "AwsAccountId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AwsAccountId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AwsAccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>\n@param awsAccountId The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.*/",
          "setterMethodName" : "setAwsAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "awsAccountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>\n@param awsAccountId The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "awsAccountId",
            "variableType" : "String",
            "documentation" : "<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "GroupName" : {
          "c2jName" : "GroupName",
          "c2jShape" : "GroupName",
          "deprecated" : false,
          "documentation" : "<p>The name of the group that you want to add the user to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the group that you want to add the user to.</p>\n@param groupName The name of the group that you want to add the user to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGroupName",
          "getterDocumentation" : "/**<p>The name of the group that you want to add the user to.</p>\n@return The name of the group that you want to add the user to.*/",
          "getterMethodName" : "getGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "GroupName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "GroupName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GroupName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the group that you want to add the user to.</p>\n@param groupName The name of the group that you want to add the user to.*/",
          "setterMethodName" : "setGroupName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "groupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the group that you want to add the user to.</p>\n@param groupName The name of the group that you want to add the user to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "groupName",
            "variableType" : "String",
            "documentation" : "<p>The name of the group that you want to add the user to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MemberName" : {
          "c2jName" : "MemberName",
          "c2jShape" : "GroupMemberName",
          "deprecated" : false,
          "documentation" : "<p>The name of the user that you want to add to the group membership.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the user that you want to add to the group membership.</p>\n@param memberName The name of the user that you want to add to the group membership.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMemberName",
          "getterDocumentation" : "/**<p>The name of the user that you want to add to the group membership.</p>\n@return The name of the user that you want to add to the group membership.*/",
          "getterMethodName" : "getMemberName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "MemberName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MemberName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MemberName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the user that you want to add to the group membership.</p>\n@param memberName The name of the user that you want to add to the group membership.*/",
          "setterMethodName" : "setMemberName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "memberName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the user that you want to add to the group membership.</p>\n@param memberName The name of the user that you want to add to the group membership.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "memberName",
            "variableType" : "String",
            "documentation" : "<p>The name of the user that you want to add to the group membership.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Namespace" : {
          "c2jName" : "Namespace",
          "c2jShape" : "Namespace",
          "deprecated" : false,
          "documentation" : "<p>The namespace. Currently, you should set this to <code>default</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The namespace. Currently, you should set this to <code>default</code>.</p>\n@param namespace The namespace. Currently, you should set this to <code>default</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNamespace",
          "getterDocumentation" : "/**<p>The namespace. Currently, you should set this to <code>default</code>.</p>\n@return The namespace. Currently, you should set this to <code>default</code>.*/",
          "getterMethodName" : "getNamespace",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "Namespace",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Namespace",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Namespace",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The namespace. Currently, you should set this to <code>default</code>.</p>\n@param namespace The namespace. Currently, you should set this to <code>default</code>.*/",
          "setterMethodName" : "setNamespace",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "namespace",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The namespace. Currently, you should set this to <code>default</code>.</p>\n@param namespace The namespace. Currently, you should set this to <code>default</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "namespace",
            "variableType" : "String",
            "documentation" : "<p>The namespace. Currently, you should set this to <code>default</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "MemberName", "GroupName", "AwsAccountId", "Namespace" ],
      "shapeName" : "CreateGroupMembershipRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGroupMembershipRequest",
        "variableName" : "createGroupMembershipRequest",
        "variableType" : "CreateGroupMembershipRequest",
        "documentation" : null,
        "simpleType" : "CreateGroupMembershipRequest",
        "variableSetterType" : "CreateGroupMembershipRequest"
      },
      "wrapper" : false
    },
    "CreateGroupMembershipResult" : {
      "c2jName" : "CreateGroupMembershipResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : true,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "GroupMember",
        "c2jShape" : "GroupMember",
        "deprecated" : false,
        "documentation" : "<p>The group member.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The group member.</p>\n@param groupMember The group member.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGroupMember",
        "getterDocumentation" : "/**<p>The group member.</p>\n@return The group member.*/",
        "getterMethodName" : "getGroupMember",
        "getterModel" : {
          "returnType" : "GroupMember",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GroupMember",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GroupMember",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "GroupMember",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The group member.</p>\n@param groupMember The group member.*/",
        "setterMethodName" : "setGroupMember",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "GroupMember",
          "variableName" : "groupMember",
          "variableType" : "GroupMember",
          "documentation" : "",
          "simpleType" : "GroupMember",
          "variableSetterType" : "GroupMember"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The group member.</p>\n@param groupMember The group member.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "GroupMember",
          "variableName" : "groupMember",
          "variableType" : "GroupMember",
          "documentation" : "<p>The group member.</p>",
          "simpleType" : "GroupMember",
          "variableSetterType" : "GroupMember"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RequestId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The AWS request ID for this operation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS request ID for this operation.</p>\n@param requestId The AWS request ID for this operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequestId",
        "getterDocumentation" : "/**<p>The AWS request ID for this operation.</p>\n@return The AWS request ID for this operation.*/",
        "getterMethodName" : "getRequestId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RequestId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RequestId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RequestId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS request ID for this operation.</p>\n@param requestId The AWS request ID for this operation.*/",
        "setterMethodName" : "setRequestId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
