{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-01-04",
    "asyncClient" : "AWSRAMAsyncClient",
    "asyncClientBuilderClassName" : "AWSRAMAsyncClientBuilder",
    "asyncInterface" : "AWSRAMAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSRAMModuleInjector",
    "defaultEndpoint" : "ram.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ram.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This is the <i>Resource Access Manager API Reference</i>. This documentation provides descriptions and syntax for each of the actions and data types in RAM. RAM is a service that helps you securely share your Amazon Web Services resources across Amazon Web Services accounts. If you have multiple Amazon Web Services accounts, you can use RAM to share those resources with other accounts. If you use Organizations to manage your accounts, then you share your resources with your organization or organizational units (OUs). For supported resource types, you can also share resources with individual Identity and Access Management (IAM) roles an users. </p> <p>To learn more about RAM, see the following resources:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/ram\">Resource Access Manager product page</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/\">Resource Access Manager User Guide</a> </p> </li> </ul>",
    "endpointPrefix" : "ram",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ram",
    "packagePath" : "com/amazonaws/services/ram",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "RAM",
    "serviceFullName" : "AWS Resource Access Manager",
    "serviceId" : "RAM",
    "serviceName" : "RAM",
    "signingName" : "ram",
    "smokeTestsPackageName" : "com.amazonaws.services.ram.smoketests",
    "syncClient" : "AWSRAMClient",
    "syncClientBuilderClassName" : "AWSRAMClientBuilder",
    "syncInterface" : "AWSRAM",
    "uid" : "ram-2018-01-04",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptResourceShareInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptResourceShareInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptResourceShareInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptResourceShareInvitationRequest, AcceptResourceShareInvitationResult>",
      "asyncReturnType" : "AcceptResourceShareInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts an invitation to a resource share from another Amazon Web Services account. After you accept the invitation, the resources included in the resource share are available to interact with in the relevant Amazon Web Services Management Consoles and tools.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyAcceptedException",
        "documentation" : "<p>The specified invitation was already accepted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyRejectedException",
        "documentation" : "<p>The specified invitation was already rejected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationExpiredException",
        "documentation" : "<p>The specified invitation is expired.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The client token input parameter was matched one used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptResourceShareInvitationRequest",
        "variableName" : "acceptResourceShareInvitationRequest",
        "variableType" : "AcceptResourceShareInvitationRequest",
        "documentation" : "",
        "simpleType" : "AcceptResourceShareInvitationRequest",
        "variableSetterType" : "AcceptResourceShareInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptResourceShareInvitation",
      "operationName" : "AcceptResourceShareInvitation",
      "returnType" : {
        "returnType" : "AcceptResourceShareInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptResourceShareInvitationResult"
    },
    "AssociateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResourceShareRequest, AssociateResourceShareResult>",
      "asyncReturnType" : "AssociateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified list of principals and list of resources to a resource share. Principals that already have access to this resource share immediately receive access to the added resources. Newly added principals immediately receive access to the resources shared in this resource share. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The client token input parameter was matched one used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareLimitExceededException",
        "documentation" : "<p>This request would exceed the limit for resource shares for your account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the rate at which you are allowed to perform this operation. Please try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResourceShareRequest",
        "variableName" : "associateResourceShareRequest",
        "variableType" : "AssociateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "AssociateResourceShareRequest",
        "variableSetterType" : "AssociateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResourceShare",
      "operationName" : "AssociateResourceShare",
      "returnType" : {
        "returnType" : "AssociateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResourceShareResult"
    },
    "AssociateResourceSharePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResourceSharePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResourceSharePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResourceSharePermissionRequest, AssociateResourceSharePermissionResult>",
      "asyncReturnType" : "AssociateResourceSharePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or replaces the RAM permission for a resource type included in a resource share. You can have exactly one permission associated with each resource type in the resource share. You can add a new RAM permission only if there are currently no resources of that resource type currently in the resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResourceSharePermissionRequest",
        "variableName" : "associateResourceSharePermissionRequest",
        "variableType" : "AssociateResourceSharePermissionRequest",
        "documentation" : "",
        "simpleType" : "AssociateResourceSharePermissionRequest",
        "variableSetterType" : "AssociateResourceSharePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResourceSharePermission",
      "operationName" : "AssociateResourceSharePermission",
      "returnType" : {
        "returnType" : "AssociateResourceSharePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResourceSharePermissionResult"
    },
    "CreateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceShareRequest, CreateResourceShareResult>",
      "asyncReturnType" : "CreateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a resource share. You can provide a list of the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> for the resources that you want to share, a list of principals you want to share the resources with, and the permissions to grant those principals.</p> <note> <p>Sharing a resource makes it available for use by principals outside of the Amazon Web Services account that created the resource. Sharing doesn't change any permissions or quotas that apply to the resource in the account that created it.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The client token input parameter was matched one used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareLimitExceededException",
        "documentation" : "<p>This request would exceed the limit for resource shares for your account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TagPolicyViolationException",
        "documentation" : "<p>The specified tag key is a reserved word and can't be used.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResourceShareRequest",
        "variableName" : "createResourceShareRequest",
        "variableType" : "CreateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "CreateResourceShareRequest",
        "variableSetterType" : "CreateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResourceShare",
      "operationName" : "CreateResourceShare",
      "returnType" : {
        "returnType" : "CreateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResourceShareResult"
    },
    "DeleteResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourceShareRequest, DeleteResourceShareResult>",
      "asyncReturnType" : "DeleteResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified resource share. This doesn't delete any of the resources that were associated with the resource share; it only stops the sharing of those resources outside of the Amazon Web Services account that created them.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The client token input parameter was matched one used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourceShareRequest",
        "variableName" : "deleteResourceShareRequest",
        "variableType" : "DeleteResourceShareRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourceShareRequest",
        "variableSetterType" : "DeleteResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourceShare",
      "operationName" : "DeleteResourceShare",
      "returnType" : {
        "returnType" : "DeleteResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourceShareResult"
    },
    "DisassociateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResourceShareRequest, DisassociateResourceShareResult>",
      "asyncReturnType" : "DisassociateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified principals or resources from the specified resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The client token input parameter was matched one used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareLimitExceededException",
        "documentation" : "<p>This request would exceed the limit for resource shares for your account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResourceShareRequest",
        "variableName" : "disassociateResourceShareRequest",
        "variableType" : "DisassociateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResourceShareRequest",
        "variableSetterType" : "DisassociateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResourceShare",
      "operationName" : "DisassociateResourceShare",
      "returnType" : {
        "returnType" : "DisassociateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResourceShareResult"
    },
    "DisassociateResourceSharePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResourceSharePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResourceSharePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResourceSharePermissionRequest, DisassociateResourceSharePermissionResult>",
      "asyncReturnType" : "DisassociateResourceSharePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates an RAM permission from a resource share. Permission changes take effect immediately. You can remove a RAM permission from a resource share only if there are currently no resources of the relevant resource type currently attached to the resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResourceSharePermissionRequest",
        "variableName" : "disassociateResourceSharePermissionRequest",
        "variableType" : "DisassociateResourceSharePermissionRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResourceSharePermissionRequest",
        "variableSetterType" : "DisassociateResourceSharePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResourceSharePermission",
      "operationName" : "DisassociateResourceSharePermission",
      "returnType" : {
        "returnType" : "DisassociateResourceSharePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResourceSharePermissionResult"
    },
    "EnableSharingWithAwsOrganization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableSharingWithAwsOrganizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableSharingWithAwsOrganizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableSharingWithAwsOrganizationRequest, EnableSharingWithAwsOrganizationResult>",
      "asyncReturnType" : "EnableSharingWithAwsOrganizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables resource sharing within your organization in Organizations. Calling this operation enables RAM to retrieve information about the organization and its structure. This lets you share resources with all of the accounts in an organization by specifying the organization's ID, or all of the accounts in an organizational unit (OU) by specifying the OU's ID. Until you enable sharing within the organization, you can specify only individual Amazon Web Services accounts, or for supported resource types, IAM users and roles.</p> <p>You must call this operation from an IAM user or role in the organization's management account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableSharingWithAwsOrganizationRequest",
        "variableName" : "enableSharingWithAwsOrganizationRequest",
        "variableType" : "EnableSharingWithAwsOrganizationRequest",
        "documentation" : "",
        "simpleType" : "EnableSharingWithAwsOrganizationRequest",
        "variableSetterType" : "EnableSharingWithAwsOrganizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableSharingWithAwsOrganization",
      "operationName" : "EnableSharingWithAwsOrganization",
      "returnType" : {
        "returnType" : "EnableSharingWithAwsOrganizationResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableSharingWithAwsOrganizationResult"
    },
    "GetPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPermissionRequest, GetPermissionResult>",
      "asyncReturnType" : "GetPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the contents of an RAM permission in JSON format.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPermissionRequest",
        "variableName" : "getPermissionRequest",
        "variableType" : "GetPermissionRequest",
        "documentation" : "",
        "simpleType" : "GetPermissionRequest",
        "variableSetterType" : "GetPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPermission",
      "operationName" : "GetPermission",
      "returnType" : {
        "returnType" : "GetPermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPermissionResult"
    },
    "GetResourcePolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcePoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcePoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcePoliciesRequest, GetResourcePoliciesResult>",
      "asyncReturnType" : "GetResourcePoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the resource policies for the specified resources that you own and have shared.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceArnNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourcePoliciesRequest",
        "variableName" : "getResourcePoliciesRequest",
        "variableType" : "GetResourcePoliciesRequest",
        "documentation" : "",
        "simpleType" : "GetResourcePoliciesRequest",
        "variableSetterType" : "GetResourcePoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourcePolicies",
      "operationName" : "GetResourcePolicies",
      "returnType" : {
        "returnType" : "GetResourcePoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourcePoliciesResult"
    },
    "GetResourceShareAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceShareAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceShareAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceShareAssociationsRequest, GetResourceShareAssociationsResult>",
      "asyncReturnType" : "GetResourceShareAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the resource and principal associations for resource shares that you own.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceShareAssociationsRequest",
        "variableName" : "getResourceShareAssociationsRequest",
        "variableType" : "GetResourceShareAssociationsRequest",
        "documentation" : "",
        "simpleType" : "GetResourceShareAssociationsRequest",
        "variableSetterType" : "GetResourceShareAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceShareAssociations",
      "operationName" : "GetResourceShareAssociations",
      "returnType" : {
        "returnType" : "GetResourceShareAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceShareAssociationsResult"
    },
    "GetResourceShareInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceShareInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceShareInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceShareInvitationsRequest, GetResourceShareInvitationsResult>",
      "asyncReturnType" : "GetResourceShareInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details about invitations that you have received for resource shares.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>The specified value for <code>MaxResults</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceShareInvitationsRequest",
        "variableName" : "getResourceShareInvitationsRequest",
        "variableType" : "GetResourceShareInvitationsRequest",
        "documentation" : "",
        "simpleType" : "GetResourceShareInvitationsRequest",
        "variableSetterType" : "GetResourceShareInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceShareInvitations",
      "operationName" : "GetResourceShareInvitations",
      "returnType" : {
        "returnType" : "GetResourceShareInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceShareInvitationsResult"
    },
    "GetResourceShares" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceSharesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceSharesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceSharesRequest, GetResourceSharesResult>",
      "asyncReturnType" : "GetResourceSharesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details about the resource shares that you own or that are shared with you.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceSharesRequest",
        "variableName" : "getResourceSharesRequest",
        "variableType" : "GetResourceSharesRequest",
        "documentation" : "",
        "simpleType" : "GetResourceSharesRequest",
        "variableSetterType" : "GetResourceSharesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceShares",
      "operationName" : "GetResourceShares",
      "returnType" : {
        "returnType" : "GetResourceSharesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceSharesResult"
    },
    "ListPendingInvitationResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPendingInvitationResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPendingInvitationResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPendingInvitationResourcesRequest, ListPendingInvitationResourcesResult>",
      "asyncReturnType" : "ListPendingInvitationResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resources in a resource share that is shared with you but for which the invitation is still <code>PENDING</code>. That means that you haven't accepted or rejected the invitation and the invitation hasn't expired.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required input parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyRejectedException",
        "documentation" : "<p>The specified invitation was already rejected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationExpiredException",
        "documentation" : "<p>The specified invitation is expired.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPendingInvitationResourcesRequest",
        "variableName" : "listPendingInvitationResourcesRequest",
        "variableType" : "ListPendingInvitationResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListPendingInvitationResourcesRequest",
        "variableSetterType" : "ListPendingInvitationResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPendingInvitationResources",
      "operationName" : "ListPendingInvitationResources",
      "returnType" : {
        "returnType" : "ListPendingInvitationResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPendingInvitationResourcesResult"
    },
    "ListPermissionVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionVersionsRequest, ListPermissionVersionsResult>",
      "asyncReturnType" : "ListPermissionVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the available versions of the specified RAM permission.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionVersionsRequest",
        "variableName" : "listPermissionVersionsRequest",
        "variableType" : "ListPermissionVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionVersionsRequest",
        "variableSetterType" : "ListPermissionVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissionVersions",
      "operationName" : "ListPermissionVersions",
      "returnType" : {
        "returnType" : "ListPermissionVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionVersionsResult"
    },
    "ListPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionsRequest, ListPermissionsResult>",
      "asyncReturnType" : "ListPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of available RAM permissions that you can use for the supported resource types. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionsRequest",
        "variableName" : "listPermissionsRequest",
        "variableType" : "ListPermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionsRequest",
        "variableSetterType" : "ListPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissions",
      "operationName" : "ListPermissions",
      "returnType" : {
        "returnType" : "ListPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionsResult"
    },
    "ListPrincipals" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPrincipalsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPrincipalsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPrincipalsRequest, ListPrincipalsResult>",
      "asyncReturnType" : "ListPrincipalsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the principals that you are sharing resources with or that are sharing resources with you.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPrincipalsRequest",
        "variableName" : "listPrincipalsRequest",
        "variableType" : "ListPrincipalsRequest",
        "documentation" : "",
        "simpleType" : "ListPrincipalsRequest",
        "variableSetterType" : "ListPrincipalsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPrincipals",
      "operationName" : "ListPrincipals",
      "returnType" : {
        "returnType" : "ListPrincipalsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPrincipalsResult"
    },
    "ListResourceSharePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceSharePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceSharePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceSharePermissionsRequest, ListResourceSharePermissionsResult>",
      "asyncReturnType" : "ListResourceSharePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the RAM permissions that are associated with a resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceSharePermissionsRequest",
        "variableName" : "listResourceSharePermissionsRequest",
        "variableType" : "ListResourceSharePermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListResourceSharePermissionsRequest",
        "variableSetterType" : "ListResourceSharePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceSharePermissions",
      "operationName" : "ListResourceSharePermissions",
      "returnType" : {
        "returnType" : "ListResourceSharePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourceSharePermissionsResult"
    },
    "ListResourceTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceTypesRequest, ListResourceTypesResult>",
      "asyncReturnType" : "ListResourceTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resource types that can be shared by RAM.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceTypesRequest",
        "variableName" : "listResourceTypesRequest",
        "variableType" : "ListResourceTypesRequest",
        "documentation" : "",
        "simpleType" : "ListResourceTypesRequest",
        "variableSetterType" : "ListResourceTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceTypes",
      "operationName" : "ListResourceTypes",
      "returnType" : {
        "returnType" : "ListResourceTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourceTypesResult"
    },
    "ListResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesRequest, ListResourcesResult>",
      "asyncReturnType" : "ListResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resources that you added to a resource share or the resources that are shared with you.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceTypeException",
        "documentation" : "<p>The specified resource type is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for <code>NextToken</code> is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesRequest",
        "variableName" : "listResourcesRequest",
        "variableType" : "ListResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesRequest",
        "variableSetterType" : "ListResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResources",
      "operationName" : "ListResources",
      "returnType" : {
        "returnType" : "ListResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesResult"
    },
    "PromoteResourceShareCreatedFromPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PromoteResourceShareCreatedFromPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PromoteResourceShareCreatedFromPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PromoteResourceShareCreatedFromPolicyRequest, PromoteResourceShareCreatedFromPolicyResult>",
      "asyncReturnType" : "PromoteResourceShareCreatedFromPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>When you attach a resource-based permission policy to a resource, it automatically creates a resource share. However, resource shares created this way are visible only to the resource share owner, and the resource share can't be modified in RAM.</p> <p>You can use this operation to promote the resource share to a full RAM resource share. When you promote a resource share, you can then manage the resource share in RAM and it becomes visible to all of the principals you shared it with.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareLimitExceededException",
        "documentation" : "<p>This request would exceed the limit for resource shares for your account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required input parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PromoteResourceShareCreatedFromPolicyRequest",
        "variableName" : "promoteResourceShareCreatedFromPolicyRequest",
        "variableType" : "PromoteResourceShareCreatedFromPolicyRequest",
        "documentation" : "",
        "simpleType" : "PromoteResourceShareCreatedFromPolicyRequest",
        "variableSetterType" : "PromoteResourceShareCreatedFromPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "promoteResourceShareCreatedFromPolicy",
      "operationName" : "PromoteResourceShareCreatedFromPolicy",
      "returnType" : {
        "returnType" : "PromoteResourceShareCreatedFromPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PromoteResourceShareCreatedFromPolicyResult"
    },
    "RejectResourceShareInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RejectResourceShareInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RejectResourceShareInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RejectResourceShareInvitationRequest, RejectResourceShareInvitationResult>",
      "asyncReturnType" : "RejectResourceShareInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Rejects an invitation to a resource share from another Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyAcceptedException",
        "documentation" : "<p>The specified invitation was already accepted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyRejectedException",
        "documentation" : "<p>The specified invitation was already rejected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationExpiredException",
        "documentation" : "<p>The specified invitation is expired.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The client token input parameter was matched one used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RejectResourceShareInvitationRequest",
        "variableName" : "rejectResourceShareInvitationRequest",
        "variableType" : "RejectResourceShareInvitationRequest",
        "documentation" : "",
        "simpleType" : "RejectResourceShareInvitationRequest",
        "variableSetterType" : "RejectResourceShareInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rejectResourceShareInvitation",
      "operationName" : "RejectResourceShareInvitation",
      "returnType" : {
        "returnType" : "RejectResourceShareInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "RejectResourceShareInvitationResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tag keys and values to the specified resource share. The tags are attached only to the resource share, not to the resources that are in the resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : "<p>This request would exceed the limit for tags for your account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceArnNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TagPolicyViolationException",
        "documentation" : "<p>The specified tag key is a reserved word and can't be used.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tag key and value pairs from the specified resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResourceShareRequest, UpdateResourceShareResult>",
      "asyncReturnType" : "UpdateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies some of the properties of the specified resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The client token input parameter was matched one used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required input parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResourceShareRequest",
        "variableName" : "updateResourceShareRequest",
        "variableType" : "UpdateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "UpdateResourceShareRequest",
        "variableSetterType" : "UpdateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResourceShare",
      "operationName" : "UpdateResourceShare",
      "returnType" : {
        "returnType" : "UpdateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResourceShareResult"
    }
  },
  "shapes" : {
    "AcceptResourceShareInvitationRequest" : {
      "c2jName" : "AcceptResourceShareInvitationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ram.request.AcceptResourceShareInvitationRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptResourceShareInvitation",
        "locationName" : null,
        "requestUri" : "/acceptresourceshareinvitation",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "resourceShareInvitationArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.</p>\n@param resourceShareInvitationArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceShareInvitationArn",
        "getterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.</p>\n@return The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.*/",
        "getterMethodName" : "getResourceShareInvitationArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceShareInvitationArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceShareInvitationArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceShareInvitationArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.</p>\n@param resourceShareInvitationArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.*/",
        "setterMethodName" : "setResourceShareInvitationArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceShareInvitationArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.</p>\n@param resourceShareInvitationArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceShareInvitationArn",
          "variableType" : "String",
          "documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>\n@param clientToken Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>\n@return Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>\n@param clientToken Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>\n@param clientToken Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>\n@param clientToken Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>\n@return Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>\n@param clientToken Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
[...]
