{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-01-04",
    "asyncClient" : "AWSRAMAsyncClient",
    "asyncClientBuilderClassName" : "AWSRAMAsyncClientBuilder",
    "asyncInterface" : "AWSRAMAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSRAMModuleInjector",
    "defaultEndpoint" : "ram.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ram.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Use AWS Resource Access Manager to share AWS resources between AWS accounts. To share a resource, you create a resource share, associate the resource with the resource share, and specify the principals that can access the resources associated with the resource share. The following principals are supported: AWS accounts, organizational units (OU) from AWS Organizations, and organizations from AWS Organizations.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/\">AWS Resource Access Manager User Guide</a>.</p>",
    "endpointPrefix" : "ram",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ram",
    "packagePath" : "com/amazonaws/services/ram",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "RAM",
    "serviceFullName" : "AWS Resource Access Manager",
    "serviceId" : "RAM",
    "serviceName" : "RAM",
    "signingName" : "ram",
    "smokeTestsPackageName" : "com.amazonaws.services.ram.smoketests",
    "syncClient" : "AWSRAMClient",
    "syncClientBuilderClassName" : "AWSRAMClientBuilder",
    "syncInterface" : "AWSRAM",
    "uid" : "ram-2018-01-04",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptResourceShareInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptResourceShareInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptResourceShareInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptResourceShareInvitationRequest, AcceptResourceShareInvitationResult>",
      "asyncReturnType" : "AcceptResourceShareInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts an invitation to a resource share from another AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The Amazon Resource Name (ARN) for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyAcceptedException",
        "documentation" : "<p>The invitation was already accepted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyRejectedException",
        "documentation" : "<p>The invitation was already rejected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationExpiredException",
        "documentation" : "<p>The invitation is expired.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>A client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A client token input parameter was reused with an operation, but at least one of the other input parameters is different from the previous call to the operation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptResourceShareInvitationRequest",
        "variableName" : "acceptResourceShareInvitationRequest",
        "variableType" : "AcceptResourceShareInvitationRequest",
        "documentation" : "",
        "simpleType" : "AcceptResourceShareInvitationRequest",
        "variableSetterType" : "AcceptResourceShareInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptResourceShareInvitation",
      "operationName" : "AcceptResourceShareInvitation",
      "returnType" : {
        "returnType" : "AcceptResourceShareInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptResourceShareInvitationResult"
    },
    "AssociateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResourceShareRequest, AssociateResourceShareResult>",
      "asyncReturnType" : "AssociateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified resource share with the specified principals and resources.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A client token input parameter was reused with an operation, but at least one of the other input parameters is different from the previous call to the operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareLimitExceededException",
        "documentation" : "<p>The requested resource share exceeds the limit for your account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>A client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResourceShareRequest",
        "variableName" : "associateResourceShareRequest",
        "variableType" : "AssociateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "AssociateResourceShareRequest",
        "variableSetterType" : "AssociateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResourceShare",
      "operationName" : "AssociateResourceShare",
      "returnType" : {
        "returnType" : "AssociateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResourceShareResult"
    },
    "AssociateResourceSharePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResourceSharePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResourceSharePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResourceSharePermissionRequest, AssociateResourceSharePermissionResult>",
      "asyncReturnType" : "AssociateResourceSharePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a permission with a resource share.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>A client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResourceSharePermissionRequest",
        "variableName" : "associateResourceSharePermissionRequest",
        "variableType" : "AssociateResourceSharePermissionRequest",
        "documentation" : "",
        "simpleType" : "AssociateResourceSharePermissionRequest",
        "variableSetterType" : "AssociateResourceSharePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResourceSharePermission",
      "operationName" : "AssociateResourceSharePermission",
      "returnType" : {
        "returnType" : "AssociateResourceSharePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResourceSharePermissionResult"
    },
    "CreateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceShareRequest, CreateResourceShareResult>",
      "asyncReturnType" : "CreateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a resource share.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A client token input parameter was reused with an operation, but at least one of the other input parameters is different from the previous call to the operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>A client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareLimitExceededException",
        "documentation" : "<p>The requested resource share exceeds the limit for your account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TagPolicyViolationException",
        "documentation" : "<p>The specified tag is a reserved word and cannot be used.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResourceShareRequest",
        "variableName" : "createResourceShareRequest",
        "variableType" : "CreateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "CreateResourceShareRequest",
        "variableSetterType" : "CreateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResourceShare",
      "operationName" : "CreateResourceShare",
      "returnType" : {
        "returnType" : "CreateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResourceShareResult"
    },
    "DeleteResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourceShareRequest, DeleteResourceShareResult>",
      "asyncReturnType" : "DeleteResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified resource share.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A client token input parameter was reused with an operation, but at least one of the other input parameters is different from the previous call to the operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>A client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourceShareRequest",
        "variableName" : "deleteResourceShareRequest",
        "variableType" : "DeleteResourceShareRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourceShareRequest",
        "variableSetterType" : "DeleteResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourceShare",
      "operationName" : "DeleteResourceShare",
      "returnType" : {
        "returnType" : "DeleteResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourceShareResult"
    },
    "DisassociateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResourceShareRequest, DisassociateResourceShareResult>",
      "asyncReturnType" : "DisassociateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified principals or resources from the specified resource share.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A client token input parameter was reused with an operation, but at least one of the other input parameters is different from the previous call to the operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareLimitExceededException",
        "documentation" : "<p>The requested resource share exceeds the limit for your account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The requested state transition is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>A client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResourceShareRequest",
        "variableName" : "disassociateResourceShareRequest",
        "variableType" : "DisassociateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResourceShareRequest",
        "variableSetterType" : "DisassociateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResourceShare",
      "operationName" : "DisassociateResourceShare",
      "returnType" : {
        "returnType" : "DisassociateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResourceShareResult"
    },
    "DisassociateResourceSharePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResourceSharePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResourceSharePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResourceSharePermissionRequest, DisassociateResourceSharePermissionResult>",
      "asyncReturnType" : "DisassociateResourceSharePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates an AWS RAM permission from a resource share.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>A client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResourceSharePermissionRequest",
        "variableName" : "disassociateResourceSharePermissionRequest",
        "variableType" : "DisassociateResourceSharePermissionRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResourceSharePermissionRequest",
        "variableSetterType" : "DisassociateResourceSharePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResourceSharePermission",
      "operationName" : "DisassociateResourceSharePermission",
      "returnType" : {
        "returnType" : "DisassociateResourceSharePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResourceSharePermissionResult"
    },
    "EnableSharingWithAwsOrganization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableSharingWithAwsOrganizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableSharingWithAwsOrganizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableSharingWithAwsOrganizationRequest, EnableSharingWithAwsOrganizationResult>",
      "asyncReturnType" : "EnableSharingWithAwsOrganizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables resource sharing within your AWS Organization.</p> <p>The caller must be the master account for the AWS Organization.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableSharingWithAwsOrganizationRequest",
        "variableName" : "enableSharingWithAwsOrganizationRequest",
        "variableType" : "EnableSharingWithAwsOrganizationRequest",
        "documentation" : "",
        "simpleType" : "EnableSharingWithAwsOrganizationRequest",
        "variableSetterType" : "EnableSharingWithAwsOrganizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableSharingWithAwsOrganization",
      "operationName" : "EnableSharingWithAwsOrganization",
      "returnType" : {
        "returnType" : "EnableSharingWithAwsOrganizationResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableSharingWithAwsOrganizationResult"
    },
    "GetPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPermissionRequest, GetPermissionResult>",
      "asyncReturnType" : "GetPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the contents of an AWS RAM permission in JSON format.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPermissionRequest",
        "variableName" : "getPermissionRequest",
        "variableType" : "GetPermissionRequest",
        "documentation" : "",
        "simpleType" : "GetPermissionRequest",
        "variableSetterType" : "GetPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPermission",
      "operationName" : "GetPermission",
      "returnType" : {
        "returnType" : "GetPermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPermissionResult"
    },
    "GetResourcePolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcePoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcePoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcePoliciesRequest, GetResourcePoliciesResult>",
      "asyncReturnType" : "GetResourcePoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the policies for the specified resources that you own and have shared.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for NextToken is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourcePoliciesRequest",
        "variableName" : "getResourcePoliciesRequest",
        "variableType" : "GetResourcePoliciesRequest",
        "documentation" : "",
        "simpleType" : "GetResourcePoliciesRequest",
        "variableSetterType" : "GetResourcePoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourcePolicies",
      "operationName" : "GetResourcePolicies",
      "returnType" : {
        "returnType" : "GetResourcePoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourcePoliciesResult"
    },
    "GetResourceShareAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceShareAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceShareAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceShareAssociationsRequest, GetResourceShareAssociationsResult>",
      "asyncReturnType" : "GetResourceShareAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the resources or principals for the resource shares that you own.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for NextToken is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceShareAssociationsRequest",
        "variableName" : "getResourceShareAssociationsRequest",
        "variableType" : "GetResourceShareAssociationsRequest",
        "documentation" : "",
        "simpleType" : "GetResourceShareAssociationsRequest",
        "variableSetterType" : "GetResourceShareAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceShareAssociations",
      "operationName" : "GetResourceShareAssociations",
      "returnType" : {
        "returnType" : "GetResourceShareAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceShareAssociationsResult"
    },
    "GetResourceShareInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceShareInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceShareInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceShareInvitationsRequest, GetResourceShareInvitationsResult>",
      "asyncReturnType" : "GetResourceShareInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the invitations for resource sharing that you've received.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The Amazon Resource Name (ARN) for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>The specified value for MaxResults is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for NextToken is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceShareInvitationsRequest",
        "variableName" : "getResourceShareInvitationsRequest",
        "variableType" : "GetResourceShareInvitationsRequest",
        "documentation" : "",
        "simpleType" : "GetResourceShareInvitationsRequest",
        "variableSetterType" : "GetResourceShareInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceShareInvitations",
      "operationName" : "GetResourceShareInvitations",
      "returnType" : {
        "returnType" : "GetResourceShareInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceShareInvitationsResult"
    },
    "GetResourceShares" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceSharesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceSharesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceSharesRequest, GetResourceSharesResult>",
      "asyncReturnType" : "GetResourceSharesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the resource shares that you own or the resource shares that are shared with you.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for NextToken is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceSharesRequest",
        "variableName" : "getResourceSharesRequest",
        "variableType" : "GetResourceSharesRequest",
        "documentation" : "",
        "simpleType" : "GetResourceSharesRequest",
        "variableSetterType" : "GetResourceSharesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceShares",
      "operationName" : "GetResourceShares",
      "returnType" : {
        "returnType" : "GetResourceSharesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceSharesResult"
    },
    "ListPendingInvitationResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPendingInvitationResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPendingInvitationResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPendingInvitationResourcesRequest, ListPendingInvitationResourcesResult>",
      "asyncReturnType" : "ListPendingInvitationResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resources in a resource share that is shared with you but that the invitation is still pending for.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for NextToken is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The Amazon Resource Name (ARN) for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required input parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyRejectedException",
        "documentation" : "<p>The invitation was already rejected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationExpiredException",
        "documentation" : "<p>The invitation is expired.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPendingInvitationResourcesRequest",
        "variableName" : "listPendingInvitationResourcesRequest",
        "variableType" : "ListPendingInvitationResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListPendingInvitationResourcesRequest",
        "variableSetterType" : "ListPendingInvitationResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPendingInvitationResources",
      "operationName" : "ListPendingInvitationResources",
      "returnType" : {
        "returnType" : "ListPendingInvitationResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPendingInvitationResourcesResult"
    },
    "ListPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionsRequest, ListPermissionsResult>",
      "asyncReturnType" : "ListPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the AWS RAM permissions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for NextToken is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionsRequest",
        "variableName" : "listPermissionsRequest",
        "variableType" : "ListPermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionsRequest",
        "variableSetterType" : "ListPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissions",
      "operationName" : "ListPermissions",
      "returnType" : {
        "returnType" : "ListPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionsResult"
    },
    "ListPrincipals" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPrincipalsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPrincipalsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPrincipalsRequest, ListPrincipalsResult>",
      "asyncReturnType" : "ListPrincipalsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the principals that you have shared resources with or that have shared resources with you.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for NextToken is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPrincipalsRequest",
        "variableName" : "listPrincipalsRequest",
        "variableType" : "ListPrincipalsRequest",
        "documentation" : "",
        "simpleType" : "ListPrincipalsRequest",
        "variableSetterType" : "ListPrincipalsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPrincipals",
      "operationName" : "ListPrincipals",
      "returnType" : {
        "returnType" : "ListPrincipalsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPrincipalsResult"
    },
    "ListResourceSharePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceSharePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceSharePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceSharePermissionsRequest, ListResourceSharePermissionsResult>",
      "asyncReturnType" : "ListResourceSharePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the AWS RAM permissions that are associated with a resource share.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for NextToken is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceSharePermissionsRequest",
        "variableName" : "listResourceSharePermissionsRequest",
        "variableType" : "ListResourceSharePermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListResourceSharePermissionsRequest",
        "variableSetterType" : "ListResourceSharePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceSharePermissions",
      "operationName" : "ListResourceSharePermissions",
      "returnType" : {
        "returnType" : "ListResourceSharePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourceSharePermissionsResult"
    },
    "ListResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesRequest, ListResourcesResult>",
      "asyncReturnType" : "ListResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resources that you added to a resource shares or the resources that are shared with you.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceTypeException",
        "documentation" : "<p>The specified resource type is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified value for NextToken is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesRequest",
        "variableName" : "listResourcesRequest",
        "variableType" : "ListResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesRequest",
        "variableSetterType" : "ListResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResources",
      "operationName" : "ListResources",
      "returnType" : {
        "returnType" : "ListResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesResult"
    },
    "PromoteResourceShareCreatedFromPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PromoteResourceShareCreatedFromPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PromoteResourceShareCreatedFromPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PromoteResourceShareCreatedFromPolicyRequest, PromoteResourceShareCreatedFromPolicyResult>",
      "asyncReturnType" : "PromoteResourceShareCreatedFromPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resource shares that were created by attaching a policy to a resource are visible only to the resource share owner, and the resource share cannot be modified in AWS RAM.</p> <p>Use this API action to promote the resource share. When you promote the resource share, it becomes:</p> <ul> <li> <p>Visible to all principals that it is shared with.</p> </li> <li> <p>Modifiable in AWS RAM.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required input parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PromoteResourceShareCreatedFromPolicyRequest",
        "variableName" : "promoteResourceShareCreatedFromPolicyRequest",
        "variableType" : "PromoteResourceShareCreatedFromPolicyRequest",
        "documentation" : "",
        "simpleType" : "PromoteResourceShareCreatedFromPolicyRequest",
        "variableSetterType" : "PromoteResourceShareCreatedFromPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "promoteResourceShareCreatedFromPolicy",
      "operationName" : "PromoteResourceShareCreatedFromPolicy",
      "returnType" : {
        "returnType" : "PromoteResourceShareCreatedFromPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PromoteResourceShareCreatedFromPolicyResult"
    },
    "RejectResourceShareInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RejectResourceShareInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RejectResourceShareInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RejectResourceShareInvitationRequest, RejectResourceShareInvitationResult>",
      "asyncReturnType" : "RejectResourceShareInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Rejects an invitation to a resource share from another AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The Amazon Resource Name (ARN) for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyAcceptedException",
        "documentation" : "<p>The invitation was already accepted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyRejectedException",
        "documentation" : "<p>The invitation was already rejected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationExpiredException",
        "documentation" : "<p>The invitation is expired.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>A client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A client token input parameter was reused with an operation, but at least one of the other input parameters is different from the previous call to the operation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RejectResourceShareInvitationRequest",
        "variableName" : "rejectResourceShareInvitationRequest",
        "variableType" : "RejectResourceShareInvitationRequest",
        "documentation" : "",
        "simpleType" : "RejectResourceShareInvitationRequest",
        "variableSetterType" : "RejectResourceShareInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rejectResourceShareInvitation",
      "operationName" : "RejectResourceShareInvitation",
      "returnType" : {
        "returnType" : "RejectResourceShareInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "RejectResourceShareInvitationResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified resource share that you own.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : "<p>The requested tags exceed the limit for your account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceArnNotFoundException",
        "documentation" : "<p>An Amazon Resource Name (ARN) was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TagPolicyViolationException",
        "documentation" : "<p>The specified tag is a reserved word and cannot be used.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resource share that you own.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResourceShareRequest, UpdateResourceShareResult>",
      "asyncReturnType" : "UpdateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified resource share that you own.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>A client token input parameter was reused with an operation, but at least one of the other input parameters is different from the previous call to the operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required input parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>A specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>A client token is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The requested operation is not permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The service could not respond to the request due to an internal problem.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResourceShareRequest",
        "variableName" : "updateResourceShareRequest",
        "variableType" : "UpdateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "UpdateResourceShareRequest",
        "variableSetterType" : "UpdateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResourceShare",
      "operationName" : "UpdateResourceShare",
      "returnType" : {
        "returnType" : "UpdateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResourceShareResult"
    }
  },
  "shapes" : {
    "AcceptResourceShareInvitationRequest" : {
      "c2jName" : "AcceptResourceShareInvitationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptResourceShareInvitation",
        "locationName" : null,
        "requestUri" : "/acceptresourceshareinvitation",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "resourceShareInvitationArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the invitation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the invitation.</p>\n@param resourceShareInvitationArn The Amazon Resource Name (ARN) of the invitation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceShareInvitationArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the invitation.</p>\n@return The Amazon Resource Name (ARN) of the invitation.*/",
        "getterMethodName" : "getResourceShareInvitationArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceShareInvitationArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceShareInvitationArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceShareInvitationArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the invitation.</p>\n@param resourceShareInvitationArn The Amazon Resource Name (ARN) of the invitation.*/",
        "setterMethodName" : "setResourceShareInvitationArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceShareInvitationArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the invitation.</p>\n@param resourceShareInvitationArn The Amazon Resource Name (ARN) of the invitation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceShareInvitationArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the invitation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@return A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@return A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceShareInvitationArn" : {
          "c2jName" : "resourceShareInvitationArn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the invitation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the invitation.</p>\n@param resourceShareInvitationArn The Amazon Resource Name (ARN) of the invitation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceShareInvitationArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the invitation.</p>\n@return The Amazon Resource Name (ARN) of the invitation.*/",
          "getterMethodName" : "getResourceShareInvitationArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceShareInvitationArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceShareInvitationArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceShareInvitationArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the invitation.</p>\n@param resourceShareInvitationArn The Amazon Resource Name (ARN) of the invitation.*/",
          "setterMethodName" : "setResourceShareInvitationArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceShareInvitationArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the invitation.</p>\n@param resourceShareInvitationArn The Amazon Resource Name (ARN) of the invitation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceShareInvitationArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the invitation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "resourceShareInvitationArn" ],
      "shapeName" : "AcceptResourceShareInvitationRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptResourceShareInvitationRequest",
        "variableName" : "acceptResourceShareInvitationRequest",
        "variableType" : "AcceptResourceShareInvitationRequest",
        "documentation" : null,
        "simpleType" : "AcceptResourceShareInvitationRequest",
        "variableSetterType" : "AcceptResourceShareInvitationRequest"
      },
      "wrapper" : false
    },
    "AcceptResourceShareInvitationResult" : {
      "c2jName" : "AcceptResourceShareInvitationResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "resourceShareInvitation",
        "c2jShape" : "ResourceShareInvitation",
        "deprecated" : false,
        "documentation" : "<p>Information about the invitation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the invitation.</p>\n@param resourceShareInvitation Information about the invitation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceShareInvitation",
        "getterDocumentation" : "/**<p>Information about the invitation.</p>\n@return Information about the invitation.*/",
        "getterMethodName" : "getResourceShareInvitation",
        "getterModel" : {
          "returnType" : "ResourceShareInvitation",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceShareInvitation",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceShareInvitation",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ResourceShareInvitation",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the invitation.</p>\n@param resourceShareInvitation Information about the invitation.*/",
        "setterMethodName" : "setResourceShareInvitation",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ResourceShareInvitation",
          "variableName" : "resourceShareInvitation",
          "variableType" : "ResourceShareInvitation",
          "documentation" : "",
          "simpleType" : "ResourceShareInvitation",
          "variableSetterType" : "ResourceShareInvitation"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the invitation.</p>\n@param resourceShareInvitation Information about the invitation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ResourceShareInvitation",
          "variableName" : "resourceShareInvitation",
          "variableType" : "ResourceShareInvitation",
          "documentation" : "<p>Information about the invitation.</p>",
          "simpleType" : "ResourceShareInvitation",
          "variableSetterType" : "ResourceShareInvitation"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@return A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@return A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceShareInvitation" : {
          "c2jName" : "resourceShareInvitation",
          "c2jShape" : "ResourceShareInvitation",
          "deprecated" : false,
          "documentation" : "<p>Information about the invitation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the invitation.</p>\n@param resourceShareInvitation Information about the invitation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceShareInvitation",
          "getterDocumentation" : "/**<p>Information about the invitation.</p>\n@return Information about the invitation.*/",
          "getterMethodName" : "getResourceShareInvitation",
          "getterModel" : {
            "returnType" : "ResourceShareInvitation",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceShareInvitation",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceShareInvitation",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ResourceShareInvitation",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about the invitation.</p>\n@param resourceShareInvitation Information about the invitation.*/",
          "setterMethodName" : "setResourceShareInvitation",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ResourceShareInvitation",
            "variableName" : "resourceShareInvitation",
            "variableType" : "ResourceShareInvitation",
            "documentation" : "",
            "simpleType" : "ResourceShareInvitation",
            "variableSetterType" : "ResourceShareInvitation"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the invitation.</p>\n@param resourceShareInvitation Information about the invitation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ResourceShareInvitation",
            "variableName" : "resourceShareInvitation",
            "variableType" : "ResourceShareInvitation",
            "documentation" : "<p>Information about the invitation.</p>",
            "simpleType" : "ResourceShareInvitation",
            "variableSetterType" : "ResourceShareInvitation"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AcceptResourceShareInvitationResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptResourceShareInvitationResult",
        "variableName" : "acceptResourceShareInvitationResult",
        "variableType" : "AcceptResourceShareInvitationResult",
[...]
