{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-01-04",
    "asyncClient" : "AWSRAMAsyncClient",
    "asyncClientBuilderClassName" : "AWSRAMAsyncClientBuilder",
    "asyncInterface" : "AWSRAMAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSRAMModuleInjector",
    "defaultEndpoint" : "ram.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ram.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This is the <i>Resource Access Manager API Reference</i>. This documentation provides descriptions and syntax for each of the actions and data types in RAM. RAM is a service that helps you securely share your Amazon Web Services resources to other Amazon Web Services accounts. If you use Organizations to manage your accounts, then you can share your resources with your entire organization or to organizational units (OUs). For supported resource types, you can also share resources with individual Identity and Access Management (IAM) roles and users. </p> <p>To learn more about RAM, see the following resources:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/ram\">Resource Access Manager product page</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/\">Resource Access Manager User Guide</a> </p> </li> </ul>",
    "endpointPrefix" : "ram",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ram",
    "packagePath" : "com/amazonaws/services/ram",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "RAM",
    "serviceFullName" : "AWS Resource Access Manager",
    "serviceId" : "RAM",
    "serviceName" : "RAM",
    "signingName" : "ram",
    "smokeTestsPackageName" : "com.amazonaws.services.ram.smoketests",
    "syncClient" : "AWSRAMClient",
    "syncClientBuilderClassName" : "AWSRAMClientBuilder",
    "syncInterface" : "AWSRAM",
    "uid" : "ram-2018-01-04",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptResourceShareInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptResourceShareInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptResourceShareInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptResourceShareInvitationRequest, AcceptResourceShareInvitationResult>",
      "asyncReturnType" : "AcceptResourceShareInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts an invitation to a resource share from another Amazon Web Services account. After you accept the invitation, the resources included in the resource share are available to interact with in the relevant Amazon Web Services Management Consoles and tools.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyAcceptedException",
        "documentation" : "<p>The operation failed because the specified invitation was already accepted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyRejectedException",
        "documentation" : "<p>The operation failed because the specified invitation was already rejected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationExpiredException",
        "documentation" : "<p>The operation failed because the specified invitation is past its expiration date and time.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The operation failed because the client token input parameter matched one that was used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptResourceShareInvitationRequest",
        "variableName" : "acceptResourceShareInvitationRequest",
        "variableType" : "AcceptResourceShareInvitationRequest",
        "documentation" : "",
        "simpleType" : "AcceptResourceShareInvitationRequest",
        "variableSetterType" : "AcceptResourceShareInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptResourceShareInvitation",
      "operationName" : "AcceptResourceShareInvitation",
      "returnType" : {
        "returnType" : "AcceptResourceShareInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptResourceShareInvitationResult"
    },
    "AssociateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResourceShareRequest, AssociateResourceShareResult>",
      "asyncReturnType" : "AssociateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified list of principals and list of resources to a resource share. Principals that already have access to this resource share immediately receive access to the added resources. Newly added principals immediately receive access to the resources shared in this resource share. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The operation failed because the client token input parameter matched one that was used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The operation failed because the requested operation isn't valid for the resource share in its current state.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareLimitExceededException",
        "documentation" : "<p>The operation failed because it would exceed the limit for resource shares for your account. To view the limits for your Amazon Web Services account, see the <a href=\"https://console.aws.amazon.com/servicequotas/home/services/ram/quotas\">RAM page in the Service Quotas console</a>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The operation failed because the requested operation isn't valid for the resource share in its current state.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The operation failed because it exceeded the rate at which you are allowed to perform this operation. Please try again later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResourceShareRequest",
        "variableName" : "associateResourceShareRequest",
        "variableType" : "AssociateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "AssociateResourceShareRequest",
        "variableSetterType" : "AssociateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResourceShare",
      "operationName" : "AssociateResourceShare",
      "returnType" : {
        "returnType" : "AssociateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResourceShareResult"
    },
    "AssociateResourceSharePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResourceSharePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResourceSharePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResourceSharePermissionRequest, AssociateResourceSharePermissionResult>",
      "asyncReturnType" : "AssociateResourceSharePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or replaces the RAM permission for a resource type included in a resource share. You can have exactly one permission associated with each resource type in the resource share. You can add a new RAM permission only if there are currently no resources of that resource type currently in the resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResourceSharePermissionRequest",
        "variableName" : "associateResourceSharePermissionRequest",
        "variableType" : "AssociateResourceSharePermissionRequest",
        "documentation" : "",
        "simpleType" : "AssociateResourceSharePermissionRequest",
        "variableSetterType" : "AssociateResourceSharePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResourceSharePermission",
      "operationName" : "AssociateResourceSharePermission",
      "returnType" : {
        "returnType" : "AssociateResourceSharePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResourceSharePermissionResult"
    },
    "CreatePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePermissionRequest, CreatePermissionResult>",
      "asyncReturnType" : "CreatePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a customer managed permission for a specified resource type that you can attach to resource shares. It is created in the Amazon Web Services Region in which you call the operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidPolicyException",
        "documentation" : "<p>The operation failed because a policy you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "PermissionAlreadyExistsException",
        "documentation" : "<p>The operation failed because a permission with the specified name already exists in the requested Amazon Web Services Region. Choose a different name.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "MalformedPolicyTemplateException",
        "documentation" : "<p>The operation failed because the policy template that you provided isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PermissionLimitExceededException",
        "documentation" : "<p>The operation failed because it would exceed the maximum number of permissions you can create in each Amazon Web Services Region. To view the limits for your Amazon Web Services account, see the <a href=\"https://console.aws.amazon.com/servicequotas/home/services/ram/quotas\">RAM page in the Service Quotas console</a>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The operation failed because the client token input parameter matched one that was used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePermissionRequest",
        "variableName" : "createPermissionRequest",
        "variableType" : "CreatePermissionRequest",
        "documentation" : "",
        "simpleType" : "CreatePermissionRequest",
        "variableSetterType" : "CreatePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPermission",
      "operationName" : "CreatePermission",
      "returnType" : {
        "returnType" : "CreatePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePermissionResult"
    },
    "CreatePermissionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePermissionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePermissionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePermissionVersionRequest, CreatePermissionVersionResult>",
      "asyncReturnType" : "CreatePermissionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new version of the specified customer managed permission. The new version is automatically set as the default version of the customer managed permission. New resource shares automatically use the default permission. Existing resource shares continue to use their original permission versions, but you can use <a>ReplacePermissionAssociations</a> to update them.</p> <p>If the specified customer managed permission already has the maximum of 5 versions, then you must delete one of the existing versions before you can create a new one.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidPolicyException",
        "documentation" : "<p>The operation failed because a policy you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedPolicyTemplateException",
        "documentation" : "<p>The operation failed because the policy template that you provided isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The operation failed because the client token input parameter matched one that was used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PermissionVersionsLimitExceededException",
        "documentation" : "<p>The operation failed because it would exceed the limit for the number of versions you can have for a permission. To view the limits for your Amazon Web Services account, see the <a href=\"https://console.aws.amazon.com/servicequotas/home/services/ram/quotas\">RAM page in the Service Quotas console</a>.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePermissionVersionRequest",
        "variableName" : "createPermissionVersionRequest",
        "variableType" : "CreatePermissionVersionRequest",
        "documentation" : "",
        "simpleType" : "CreatePermissionVersionRequest",
        "variableSetterType" : "CreatePermissionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPermissionVersion",
      "operationName" : "CreatePermissionVersion",
      "returnType" : {
        "returnType" : "CreatePermissionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePermissionVersionResult"
    },
    "CreateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceShareRequest, CreateResourceShareResult>",
      "asyncReturnType" : "CreateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a resource share. You can provide a list of the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> for the resources that you want to share, a list of principals you want to share the resources with, and the permissions to grant those principals.</p> <note> <p>Sharing a resource makes it available for use by principals outside of the Amazon Web Services account that created the resource. Sharing doesn't change any permissions or quotas that apply to the resource in the account that created it.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The operation failed because the client token input parameter matched one that was used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The operation failed because the requested operation isn't valid for the resource share in its current state.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareLimitExceededException",
        "documentation" : "<p>The operation failed because it would exceed the limit for resource shares for your account. To view the limits for your Amazon Web Services account, see the <a href=\"https://console.aws.amazon.com/servicequotas/home/services/ram/quotas\">RAM page in the Service Quotas console</a>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TagPolicyViolationException",
        "documentation" : "<p>The operation failed because the specified tag key is a reserved word and can't be used.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : "<p>The operation failed because it would exceed the limit for tags for your Amazon Web Services account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResourceShareRequest",
        "variableName" : "createResourceShareRequest",
        "variableType" : "CreateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "CreateResourceShareRequest",
        "variableSetterType" : "CreateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResourceShare",
      "operationName" : "CreateResourceShare",
      "returnType" : {
        "returnType" : "CreateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResourceShareResult"
    },
    "DeletePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePermissionRequest, DeletePermissionResult>",
      "asyncReturnType" : "DeletePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified customer managed permission in the Amazon Web Services Region in which you call this operation. You can delete a customer managed permission only if it isn't attached to any resource share. The operation deletes all versions associated with the customer managed permission.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The operation failed because the client token input parameter matched one that was used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePermissionRequest",
        "variableName" : "deletePermissionRequest",
        "variableType" : "DeletePermissionRequest",
        "documentation" : "",
        "simpleType" : "DeletePermissionRequest",
        "variableSetterType" : "DeletePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePermission",
      "operationName" : "DeletePermission",
      "returnType" : {
        "returnType" : "DeletePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePermissionResult"
    },
    "DeletePermissionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePermissionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePermissionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePermissionVersionRequest, DeletePermissionVersionResult>",
      "asyncReturnType" : "DeletePermissionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes one version of a customer managed permission. The version you specify must not be attached to any resource share and must not be the default version for the permission.</p> <p>If a customer managed permission has the maximum of 5 versions, then you must delete at least one version before you can create another.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The operation failed because the client token input parameter matched one that was used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePermissionVersionRequest",
        "variableName" : "deletePermissionVersionRequest",
        "variableType" : "DeletePermissionVersionRequest",
        "documentation" : "",
        "simpleType" : "DeletePermissionVersionRequest",
        "variableSetterType" : "DeletePermissionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePermissionVersion",
      "operationName" : "DeletePermissionVersion",
      "returnType" : {
        "returnType" : "DeletePermissionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePermissionVersionResult"
    },
    "DeleteResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourceShareRequest, DeleteResourceShareResult>",
      "asyncReturnType" : "DeleteResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified resource share.</p> <important> <p>This doesn't delete any of the resources that were associated with the resource share; it only stops the sharing of those resources through this resource share.</p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The operation failed because the client token input parameter matched one that was used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The operation failed because the requested operation isn't valid for the resource share in its current state.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourceShareRequest",
        "variableName" : "deleteResourceShareRequest",
        "variableType" : "DeleteResourceShareRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourceShareRequest",
        "variableSetterType" : "DeleteResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourceShare",
      "operationName" : "DeleteResourceShare",
      "returnType" : {
        "returnType" : "DeleteResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourceShareResult"
    },
    "DisassociateResourceShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResourceShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResourceShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResourceShareRequest, DisassociateResourceShareResult>",
      "asyncReturnType" : "DisassociateResourceShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified principals or resources from participating in the specified resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The operation failed because the client token input parameter matched one that was used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareLimitExceededException",
        "documentation" : "<p>The operation failed because it would exceed the limit for resource shares for your account. To view the limits for your Amazon Web Services account, see the <a href=\"https://console.aws.amazon.com/servicequotas/home/services/ram/quotas\">RAM page in the Service Quotas console</a>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The operation failed because the requested operation isn't valid for the resource share in its current state.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResourceShareRequest",
        "variableName" : "disassociateResourceShareRequest",
        "variableType" : "DisassociateResourceShareRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResourceShareRequest",
        "variableSetterType" : "DisassociateResourceShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResourceShare",
      "operationName" : "DisassociateResourceShare",
      "returnType" : {
        "returnType" : "DisassociateResourceShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResourceShareResult"
    },
    "DisassociateResourceSharePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResourceSharePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResourceSharePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResourceSharePermissionRequest, DisassociateResourceSharePermissionResult>",
      "asyncReturnType" : "DisassociateResourceSharePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a managed permission from a resource share. Permission changes take effect immediately. You can remove a managed permission from a resource share only if there are currently no resources of the relevant resource type currently attached to the resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientTokenException",
        "documentation" : "<p>The operation failed because the specified client token isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>The operation failed because the requested operation isn't valid for the resource share in its current state.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResourceSharePermissionRequest",
        "variableName" : "disassociateResourceSharePermissionRequest",
        "variableType" : "DisassociateResourceSharePermissionRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResourceSharePermissionRequest",
        "variableSetterType" : "DisassociateResourceSharePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResourceSharePermission",
      "operationName" : "DisassociateResourceSharePermission",
      "returnType" : {
        "returnType" : "DisassociateResourceSharePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResourceSharePermissionResult"
    },
    "EnableSharingWithAwsOrganization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableSharingWithAwsOrganizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableSharingWithAwsOrganizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableSharingWithAwsOrganizationRequest, EnableSharingWithAwsOrganizationResult>",
      "asyncReturnType" : "EnableSharingWithAwsOrganizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables resource sharing within your organization in Organizations. This operation creates a service-linked role called <code>AWSServiceRoleForResourceAccessManager</code> that has the IAM managed policy named AWSResourceAccessManagerServiceRolePolicy attached. This role permits RAM to retrieve information about the organization and its structure. This lets you share resources with all of the accounts in the calling account's organization by specifying the organization ID, or all of the accounts in an organizational unit (OU) by specifying the OU ID. Until you enable sharing within the organization, you can specify only individual Amazon Web Services accounts, or for supported resource types, IAM roles and users.</p> <p>You must call this operation from an IAM role or user in the organization's management account.</p> <p/>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableSharingWithAwsOrganizationRequest",
        "variableName" : "enableSharingWithAwsOrganizationRequest",
        "variableType" : "EnableSharingWithAwsOrganizationRequest",
        "documentation" : "",
        "simpleType" : "EnableSharingWithAwsOrganizationRequest",
        "variableSetterType" : "EnableSharingWithAwsOrganizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableSharingWithAwsOrganization",
      "operationName" : "EnableSharingWithAwsOrganization",
      "returnType" : {
        "returnType" : "EnableSharingWithAwsOrganizationResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableSharingWithAwsOrganizationResult"
    },
    "GetPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPermissionRequest, GetPermissionResult>",
      "asyncReturnType" : "GetPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the contents of a managed permission in JSON format.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPermissionRequest",
        "variableName" : "getPermissionRequest",
        "variableType" : "GetPermissionRequest",
        "documentation" : "",
        "simpleType" : "GetPermissionRequest",
        "variableSetterType" : "GetPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPermission",
      "operationName" : "GetPermission",
      "returnType" : {
        "returnType" : "GetPermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPermissionResult"
    },
    "GetResourcePolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcePoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcePoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcePoliciesRequest, GetResourcePoliciesResult>",
      "asyncReturnType" : "GetResourcePoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the resource policies for the specified resources that you own and have shared.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceArnNotFoundException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourcePoliciesRequest",
        "variableName" : "getResourcePoliciesRequest",
        "variableType" : "GetResourcePoliciesRequest",
        "documentation" : "",
        "simpleType" : "GetResourcePoliciesRequest",
        "variableSetterType" : "GetResourcePoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourcePolicies",
      "operationName" : "GetResourcePolicies",
      "returnType" : {
        "returnType" : "GetResourcePoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourcePoliciesResult"
    },
    "GetResourceShareAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceShareAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceShareAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceShareAssociationsRequest, GetResourceShareAssociationsResult>",
      "asyncReturnType" : "GetResourceShareAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the lists of resources and principals that associated for resource shares that you own.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceShareAssociationsRequest",
        "variableName" : "getResourceShareAssociationsRequest",
        "variableType" : "GetResourceShareAssociationsRequest",
        "documentation" : "",
        "simpleType" : "GetResourceShareAssociationsRequest",
        "variableSetterType" : "GetResourceShareAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceShareAssociations",
      "operationName" : "GetResourceShareAssociations",
      "returnType" : {
        "returnType" : "GetResourceShareAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceShareAssociationsResult"
    },
    "GetResourceShareInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceShareInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceShareInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceShareInvitationsRequest, GetResourceShareInvitationsResult>",
      "asyncReturnType" : "GetResourceShareInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details about invitations that you have received for resource shares.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>The operation failed because the specified value for <code>MaxResults</code> isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceShareInvitationsRequest",
        "variableName" : "getResourceShareInvitationsRequest",
        "variableType" : "GetResourceShareInvitationsRequest",
        "documentation" : "",
        "simpleType" : "GetResourceShareInvitationsRequest",
        "variableSetterType" : "GetResourceShareInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceShareInvitations",
      "operationName" : "GetResourceShareInvitations",
      "returnType" : {
        "returnType" : "GetResourceShareInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceShareInvitationsResult"
    },
    "GetResourceShares" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceSharesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceSharesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceSharesRequest, GetResourceSharesResult>",
      "asyncReturnType" : "GetResourceSharesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details about the resource shares that you own or that are shared with you.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceSharesRequest",
        "variableName" : "getResourceSharesRequest",
        "variableType" : "GetResourceSharesRequest",
        "documentation" : "",
        "simpleType" : "GetResourceSharesRequest",
        "variableSetterType" : "GetResourceSharesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceShares",
      "operationName" : "GetResourceShares",
      "returnType" : {
        "returnType" : "GetResourceSharesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceSharesResult"
    },
    "ListPendingInvitationResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPendingInvitationResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPendingInvitationResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPendingInvitationResourcesRequest, ListPendingInvitationResourcesResult>",
      "asyncReturnType" : "ListPendingInvitationResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resources in a resource share that is shared with you but for which the invitation is still <code>PENDING</code>. That means that you haven't accepted or rejected the invitation and the invitation hasn't expired.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ResourceShareInvitationArnNotFoundException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> for an invitation was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>The operation failed because a required input parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationAlreadyRejectedException",
        "documentation" : "<p>The operation failed because the specified invitation was already rejected.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceShareInvitationExpiredException",
        "documentation" : "<p>The operation failed because the specified invitation is past its expiration date and time.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPendingInvitationResourcesRequest",
        "variableName" : "listPendingInvitationResourcesRequest",
        "variableType" : "ListPendingInvitationResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListPendingInvitationResourcesRequest",
        "variableSetterType" : "ListPendingInvitationResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPendingInvitationResources",
      "operationName" : "ListPendingInvitationResources",
      "returnType" : {
        "returnType" : "ListPendingInvitationResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPendingInvitationResourcesResult"
    },
    "ListPermissionAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionAssociationsRequest, ListPermissionAssociationsResult>",
      "asyncReturnType" : "ListPermissionAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about the managed permission and its associations to any resource shares that use this managed permission. This lets you see which resource shares use which versions of the specified managed permission.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionAssociationsRequest",
        "variableName" : "listPermissionAssociationsRequest",
        "variableType" : "ListPermissionAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionAssociationsRequest",
        "variableSetterType" : "ListPermissionAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissionAssociations",
      "operationName" : "ListPermissionAssociations",
      "returnType" : {
        "returnType" : "ListPermissionAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionAssociationsResult"
    },
    "ListPermissionVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionVersionsRequest, ListPermissionVersionsResult>",
      "asyncReturnType" : "ListPermissionVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the available versions of the specified RAM permission.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionVersionsRequest",
        "variableName" : "listPermissionVersionsRequest",
        "variableType" : "ListPermissionVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionVersionsRequest",
        "variableSetterType" : "ListPermissionVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissionVersions",
      "operationName" : "ListPermissionVersions",
      "returnType" : {
        "returnType" : "ListPermissionVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionVersionsResult"
    },
    "ListPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionsRequest, ListPermissionsResult>",
      "asyncReturnType" : "ListPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of available RAM permissions that you can use for the supported resource types. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionsRequest",
        "variableName" : "listPermissionsRequest",
        "variableType" : "ListPermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionsRequest",
        "variableSetterType" : "ListPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissions",
      "operationName" : "ListPermissions",
      "returnType" : {
        "returnType" : "ListPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionsResult"
    },
    "ListPrincipals" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPrincipalsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPrincipalsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPrincipalsRequest, ListPrincipalsResult>",
      "asyncReturnType" : "ListPrincipalsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the principals that you are sharing resources with or that are sharing resources with you.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPrincipalsRequest",
        "variableName" : "listPrincipalsRequest",
        "variableType" : "ListPrincipalsRequest",
        "documentation" : "",
        "simpleType" : "ListPrincipalsRequest",
        "variableSetterType" : "ListPrincipalsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPrincipals",
      "operationName" : "ListPrincipals",
      "returnType" : {
        "returnType" : "ListPrincipalsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPrincipalsResult"
    },
    "ListReplacePermissionAssociationsWork" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReplacePermissionAssociationsWorkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReplacePermissionAssociationsWorkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReplacePermissionAssociationsWorkRequest, ListReplacePermissionAssociationsWorkResult>",
      "asyncReturnType" : "ListReplacePermissionAssociationsWorkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current status of the asynchronous tasks performed by RAM when you perform the <a>ReplacePermissionAssociationsWork</a> operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReplacePermissionAssociationsWorkRequest",
        "variableName" : "listReplacePermissionAssociationsWorkRequest",
        "variableType" : "ListReplacePermissionAssociationsWorkRequest",
        "documentation" : "",
        "simpleType" : "ListReplacePermissionAssociationsWorkRequest",
        "variableSetterType" : "ListReplacePermissionAssociationsWorkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReplacePermissionAssociationsWork",
      "operationName" : "ListReplacePermissionAssociationsWork",
      "returnType" : {
        "returnType" : "ListReplacePermissionAssociationsWorkResult",
        "documentation" : null
      },
      "syncReturnType" : "ListReplacePermissionAssociationsWorkResult"
    },
    "ListResourceSharePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceSharePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceSharePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceSharePermissionsRequest, ListResourceSharePermissionsResult>",
      "asyncReturnType" : "ListResourceSharePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the RAM permissions that are associated with a resource share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceSharePermissionsRequest",
        "variableName" : "listResourceSharePermissionsRequest",
        "variableType" : "ListResourceSharePermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListResourceSharePermissionsRequest",
        "variableSetterType" : "ListResourceSharePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceSharePermissions",
      "operationName" : "ListResourceSharePermissions",
      "returnType" : {
        "returnType" : "ListResourceSharePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourceSharePermissionsResult"
    },
    "ListResourceTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceTypesRequest, ListResourceTypesResult>",
      "asyncReturnType" : "ListResourceTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resource types that can be shared by RAM.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceTypesRequest",
        "variableName" : "listResourceTypesRequest",
        "variableType" : "ListResourceTypesRequest",
        "documentation" : "",
        "simpleType" : "ListResourceTypesRequest",
        "variableSetterType" : "ListResourceTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceTypes",
      "operationName" : "ListResourceTypes",
      "returnType" : {
        "returnType" : "ListResourceTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourceTypesResult"
    },
    "ListResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesRequest, ListResourcesResult>",
      "asyncReturnType" : "ListResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resources that you added to a resource share or the resources that are shared with you.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceTypeException",
        "documentation" : "<p>The operation failed because the specified resource type isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The operation failed because a specified resource couldn't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The operation failed because the specified value for <code>NextToken</code> isn't valid. You must specify a value you received in the <code>NextToken</code> response of a previous call to this operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
        "documentation" : "<p>The operation failed because the service could not respond to the request due to an internal problem. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The operation failed because the service isn't available. Try again later.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesRequest",
        "variableName" : "listResourcesRequest",
        "variableType" : "ListResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesRequest",
        "variableSetterType" : "ListResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResources",
      "operationName" : "ListResources",
      "returnType" : {
        "returnType" : "ListResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesResult"
    },
    "PromotePermissionCreatedFromPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PromotePermissionCreatedFromPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PromotePermissionCreatedFromPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PromotePermissionCreatedFromPolicyRequest, PromotePermissionCreatedFromPolicyResult>",
      "asyncReturnType" : "PromotePermissionCreatedFromPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>When you attach a resource-based policy to a resource, RAM automatically creates a resource share of <code>featureSet</code>=<code>CREATED_FROM_POLICY</code> with a managed permission that has the same IAM permissions as the original resource-based policy. However, this type of managed permission is visible to only the resource share owner, and the associated resource share can't be modified by using RAM.</p> <p>This operation creates a separate, fully manageable customer managed permission that has the same IAM permissions as the original resource-based policy. You can associate this customer managed permission to any resource shares.</p> <p>Before you use <a>PromoteResourceShareCreatedFromPolicy</a>, you should first run this operation to ensure that you have an appropriate customer managed permission that can be associated with the promoted resource share.</p> <note> <ul> <li> <p>The original <code>CREATED_FROM_POLICY</code> policy isn't deleted, and resource shares using that original policy aren't automatically updated.</p> </li> <li> <p>You can't modify a <code>CREATED_FROM_POLICY</code> resource share so you can't associate the new customer managed permission by using <code>ReplacePermsissionAssociations</code>. However, if you use <a>PromoteResourceShareCreatedFromPolicy</a>, that operation automatically associates the fully manageable customer managed permission to the newly promoted <code>STANDARD</code> resource share.</p> </li> <li> <p>After you promote a resource share, if the original <code>CREATED_FROM_POLICY</code> managed permission has no other associations to A resource share, then RAM automatically deletes it.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MalformedArnException",
        "documentation" : "<p>The operation failed because the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> has a format that isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>The operation failed because the requested operation isn't permitted.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The operation failed because a parameter you specified isn't valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>The operation failed because a required input parameter is missing.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerInternalException",
[...]
