{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-08-01",
    "asyncClient" : "AWSRDSDataAsyncClient",
    "asyncClientBuilderClassName" : "AWSRDSDataAsyncClientBuilder",
    "asyncInterface" : "AWSRDSDataAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSRDSDataModuleInjector",
    "defaultEndpoint" : "rds-data.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "rds-data.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p><fullname>Amazon RDS Data Service</fullname> <p>Amazon RDS provides an HTTP endpoint to run SQL statements on an Amazon Aurora Serverless DB cluster. To run these statements, you work with the Data Service API.</p> <p>For more information about the Data Service API, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/data-api.html\">Using the Data API for Aurora Serverless</a> in the <i>Amazon Aurora User Guide</i>.</p> <note> <p>If you have questions or comments related to the Data API, send email to <a href=\"mailto:Rds-data-api-feedback@amazon.com\">Rds-data-api-feedback@amazon.com</a>.</p> </note></p>",
    "endpointPrefix" : "rds-data",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.rdsdata",
    "packagePath" : "com/amazonaws/services/rdsdata",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS RDS DataService",
    "serviceId" : "RDS Data",
    "serviceName" : "AWS RDS DataService",
    "signingName" : "rds-data",
    "smokeTestsPackageName" : "com.amazonaws.services.rdsdata.smoketests",
    "syncClient" : "AWSRDSDataClient",
    "syncClientBuilderClassName" : "AWSRDSDataClientBuilder",
    "syncInterface" : "AWSRDSData",
    "uid" : "rds-data-2018-08-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchExecuteStatement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchExecuteStatementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchExecuteStatementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchExecuteStatementRequest, BatchExecuteStatementResult>",
      "asyncReturnType" : "BatchExecuteStatementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Runs a batch SQL statement over an array of data.</p> <p>You can run bulk update and insert operations for multiple records using a DML statement with different parameter sets. Bulk operations can provide a significant performance improvement over individual insert and update operations.</p> <important> <p>If a call isn't part of a transaction because it doesn't include the <code>transactionID</code> parameter, changes that result from the call are committed automatically.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>There is an error in the call or in a SQL statement.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "StatementTimeoutException",
        "documentation" : "<p>The execution of the SQL statement timed out.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>There are insufficient privileges to make the call.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableErrorException",
        "documentation" : "<p>The service specified by the <code>resourceArn</code> parameter is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchExecuteStatementRequest",
        "variableName" : "batchExecuteStatementRequest",
        "variableType" : "BatchExecuteStatementRequest",
        "documentation" : "<p>The request parameters represent the input of a SQL statement over an array of data.</p>",
        "simpleType" : "BatchExecuteStatementRequest",
        "variableSetterType" : "BatchExecuteStatementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchExecuteStatement",
      "operationName" : "BatchExecuteStatement",
      "returnType" : {
        "returnType" : "BatchExecuteStatementResult",
        "documentation" : "<p>The response elements represent the output of a SQL statement over an array of data.</p>"
      },
      "syncReturnType" : "BatchExecuteStatementResult"
    },
    "BeginTransaction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BeginTransactionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BeginTransactionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BeginTransactionRequest, BeginTransactionResult>",
      "asyncReturnType" : "BeginTransactionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a SQL transaction.</p> <pre><code> &lt;important&gt; &lt;p&gt;A transaction can run for a maximum of 24 hours. A transaction is terminated and rolled back automatically after 24 hours.&lt;/p&gt; &lt;p&gt;A transaction times out if no calls use its transaction ID in three minutes. If a transaction times out before it's committed, it's rolled back automatically.&lt;/p&gt; &lt;p&gt;DDL statements inside a transaction cause an implicit commit. We recommend that you run each DDL statement in a separate &lt;code&gt;ExecuteStatement&lt;/code&gt; call with &lt;code&gt;continueAfterTimeout&lt;/code&gt; enabled.&lt;/p&gt; &lt;/important&gt; </code></pre>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>There is an error in the call or in a SQL statement.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "StatementTimeoutException",
        "documentation" : "<p>The execution of the SQL statement timed out.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>There are insufficient privileges to make the call.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableErrorException",
        "documentation" : "<p>The service specified by the <code>resourceArn</code> parameter is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BeginTransactionRequest",
        "variableName" : "beginTransactionRequest",
        "variableType" : "BeginTransactionRequest",
        "documentation" : "<p>The request parameters represent the input of a request to start a SQL transaction.</p>",
        "simpleType" : "BeginTransactionRequest",
        "variableSetterType" : "BeginTransactionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "beginTransaction",
      "operationName" : "BeginTransaction",
      "returnType" : {
        "returnType" : "BeginTransactionResult",
        "documentation" : "<p>The response elements represent the output of a request to start a SQL transaction.</p>"
      },
      "syncReturnType" : "BeginTransactionResult"
    },
    "CommitTransaction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CommitTransactionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CommitTransactionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CommitTransactionRequest, CommitTransactionResult>",
      "asyncReturnType" : "CommitTransactionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Ends a SQL transaction started with the <code>BeginTransaction</code> operation and commits the changes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>There is an error in the call or in a SQL statement.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "StatementTimeoutException",
        "documentation" : "<p>The execution of the SQL statement timed out.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>There are insufficient privileges to make the call.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableErrorException",
        "documentation" : "<p>The service specified by the <code>resourceArn</code> parameter is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The <code>resourceArn</code>, <code>secretArn</code>, or <code>transactionId</code> value can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CommitTransactionRequest",
        "variableName" : "commitTransactionRequest",
        "variableType" : "CommitTransactionRequest",
        "documentation" : "<p>The request parameters represent the input of a commit transaction request.</p>",
        "simpleType" : "CommitTransactionRequest",
        "variableSetterType" : "CommitTransactionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "commitTransaction",
      "operationName" : "CommitTransaction",
      "returnType" : {
        "returnType" : "CommitTransactionResult",
        "documentation" : "<p>The response elements represent the output of a commit transaction request.</p>"
      },
      "syncReturnType" : "CommitTransactionResult"
    },
    "ExecuteSql" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteSqlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteSqlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteSqlRequest, ExecuteSqlResult>",
      "asyncReturnType" : "ExecuteSqlResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Runs one or more SQL statements.</p> <important> <p>This operation is deprecated. Use the <code>BatchExecuteStatement</code> or <code>ExecuteStatement</code> operation.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>There is an error in the call or in a SQL statement.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>There are insufficient privileges to make the call.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableErrorException",
        "documentation" : "<p>The service specified by the <code>resourceArn</code> parameter is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteSqlRequest",
        "variableName" : "executeSqlRequest",
        "variableType" : "ExecuteSqlRequest",
        "documentation" : "<p>The request parameters represent the input of a request to run one or more SQL statements.</p>",
        "simpleType" : "ExecuteSqlRequest",
        "variableSetterType" : "ExecuteSqlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeSql",
      "operationName" : "ExecuteSql",
      "returnType" : {
        "returnType" : "ExecuteSqlResult",
        "documentation" : "<p>The response elements represent the output of a request to run one or more SQL statements.</p>"
      },
      "syncReturnType" : "ExecuteSqlResult"
    },
    "ExecuteStatement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteStatementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteStatementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteStatementRequest, ExecuteStatementResult>",
      "asyncReturnType" : "ExecuteStatementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Runs a SQL statement against a database.</p> <important> <p>If a call isn't part of a transaction because it doesn't include the <code>transactionID</code> parameter, changes that result from the call are committed automatically.</p> </important> <p>The response size limit is 1 MB or 1,000 records. If the call returns more than 1 MB of response data or over 1,000 records, the call is terminated.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>There is an error in the call or in a SQL statement.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "StatementTimeoutException",
        "documentation" : "<p>The execution of the SQL statement timed out.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>There are insufficient privileges to make the call.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableErrorException",
        "documentation" : "<p>The service specified by the <code>resourceArn</code> parameter is not available.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteStatementRequest",
        "variableName" : "executeStatementRequest",
        "variableType" : "ExecuteStatementRequest",
        "documentation" : "<p>The request parameters represent the input of a request to run a SQL statement against a database.</p>",
        "simpleType" : "ExecuteStatementRequest",
        "variableSetterType" : "ExecuteStatementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeStatement",
      "operationName" : "ExecuteStatement",
      "returnType" : {
        "returnType" : "ExecuteStatementResult",
        "documentation" : "<p>The response elements represent the output of a request to run a SQL statement against a database.</p>"
      },
      "syncReturnType" : "ExecuteStatementResult"
    },
    "RollbackTransaction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RollbackTransactionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RollbackTransactionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RollbackTransactionRequest, RollbackTransactionResult>",
      "asyncReturnType" : "RollbackTransactionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Performs a rollback of a transaction. Rolling back a transaction cancels its changes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>There is an error in the call or in a SQL statement.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "StatementTimeoutException",
        "documentation" : "<p>The execution of the SQL statement timed out.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>There are insufficient privileges to make the call.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableErrorException",
        "documentation" : "<p>The service specified by the <code>resourceArn</code> parameter is not available.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The <code>resourceArn</code>, <code>secretArn</code>, or <code>transactionId</code> value can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RollbackTransactionRequest",
        "variableName" : "rollbackTransactionRequest",
        "variableType" : "RollbackTransactionRequest",
        "documentation" : "<p>The request parameters represent the input of a request to perform a rollback of a transaction.</p>",
        "simpleType" : "RollbackTransactionRequest",
        "variableSetterType" : "RollbackTransactionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rollbackTransaction",
      "operationName" : "RollbackTransaction",
      "returnType" : {
        "returnType" : "RollbackTransactionResult",
        "documentation" : "<p>The response elements represent the output of a request to perform a rollback of a transaction.</p>"
      },
      "syncReturnType" : "RollbackTransactionResult"
    }
  },
  "shapes" : {
    "ArrayValue" : {
      "c2jName" : "ArrayValue",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains an array.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "arrayValues",
        "c2jShape" : "ArrayOfArray",
        "deprecated" : false,
        "documentation" : "<p>An array of arrays.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of arrays.</p>\n@param arrayValues An array of arrays.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArrayValues",
        "getterDocumentation" : "/**<p>An array of arrays.</p>\n@return An array of arrays.*/",
        "getterMethodName" : "getArrayValues",
        "getterModel" : {
          "returnType" : "java.util.List<ArrayValue>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arrayValues",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arrayValues",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ArrayValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "ArrayValue",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ArrayValue",
              "variableName" : "member",
              "variableType" : "ArrayValue",
              "documentation" : "",
              "simpleType" : "ArrayValue",
              "variableSetterType" : "ArrayValue"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ArrayValue",
              "variableName" : "member",
              "variableType" : "ArrayValue",
              "documentation" : "",
              "simpleType" : "ArrayValue",
              "variableSetterType" : "ArrayValue"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ArrayValue",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ArrayValue",
          "templateImplType" : "java.util.ArrayList<ArrayValue>",
          "templateType" : "java.util.List<ArrayValue>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ArrayValues",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of arrays.</p>\n@param arrayValues An array of arrays.*/",
        "setterMethodName" : "setArrayValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ArrayValue>",
          "variableName" : "arrayValues",
          "variableType" : "java.util.List<ArrayValue>",
          "documentation" : "",
          "simpleType" : "List<ArrayValue>",
          "variableSetterType" : "java.util.Collection<ArrayValue>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of arrays.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setArrayValues(java.util.Collection)} or {@link #withArrayValues(java.util.Collection)} if you want to override the existing values.</p>\n@param arrayValues An array of arrays.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ArrayValue>",
          "variableName" : "arrayValues",
          "variableType" : "java.util.List<ArrayValue>",
          "documentation" : "<p>An array of arrays.</p>",
          "simpleType" : "List<ArrayValue>",
          "variableSetterType" : "java.util.Collection<ArrayValue>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "booleanValues",
        "c2jShape" : "BooleanArray",
        "deprecated" : false,
        "documentation" : "<p>An array of Boolean values.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of Boolean values.</p>\n@param booleanValues An array of Boolean values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBooleanValues",
        "getterDocumentation" : "/**<p>An array of Boolean values.</p>\n@return An array of Boolean values.*/",
        "getterMethodName" : "getBooleanValues",
        "getterModel" : {
          "returnType" : "java.util.List<Boolean>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "booleanValues",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "booleanValues",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BoxedBoolean",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Boolean",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "Boolean",
            "marshallingType" : "BOOLEAN",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Boolean",
              "variableName" : "member",
              "variableType" : "Boolean",
              "documentation" : "",
              "simpleType" : "Boolean",
              "variableSetterType" : "Boolean"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Boolean",
              "variableName" : "member",
              "variableType" : "Boolean",
              "documentation" : "",
              "simpleType" : "Boolean",
              "variableSetterType" : "Boolean"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Boolean",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "Boolean",
          "templateImplType" : "java.util.ArrayList<Boolean>",
          "templateType" : "java.util.List<Boolean>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "BooleanValues",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of Boolean values.</p>\n@param booleanValues An array of Boolean values.*/",
        "setterMethodName" : "setBooleanValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Boolean>",
          "variableName" : "booleanValues",
          "variableType" : "java.util.List<Boolean>",
          "documentation" : "",
          "simpleType" : "List<Boolean>",
          "variableSetterType" : "java.util.Collection<Boolean>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of Boolean values.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBooleanValues(java.util.Collection)} or {@link #withBooleanValues(java.util.Collection)} if you want to override the existing values.</p>\n@param booleanValues An array of Boolean values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Boolean>",
          "variableName" : "booleanValues",
          "variableType" : "java.util.List<Boolean>",
          "documentation" : "<p>An array of Boolean values.</p>",
          "simpleType" : "List<Boolean>",
          "variableSetterType" : "java.util.Collection<Boolean>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "doubleValues",
        "c2jShape" : "DoubleArray",
        "deprecated" : false,
        "documentation" : "<p>An array of integers.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of integers.</p>\n@param doubleValues An array of integers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDoubleValues",
        "getterDocumentation" : "/**<p>An array of integers.</p>\n@return An array of integers.*/",
        "getterMethodName" : "getDoubleValues",
        "getterModel" : {
          "returnType" : "java.util.List<Double>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "doubleValues",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "doubleValues",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BoxedDouble",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Double",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "Double",
            "marshallingType" : "DOUBLE",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Double",
              "variableName" : "member",
              "variableType" : "Double",
              "documentation" : "",
              "simpleType" : "Double",
              "variableSetterType" : "Double"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Double",
              "variableName" : "member",
              "variableType" : "Double",
              "documentation" : "",
              "simpleType" : "Double",
              "variableSetterType" : "Double"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Double",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "Double",
          "templateImplType" : "java.util.ArrayList<Double>",
          "templateType" : "java.util.List<Double>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "DoubleValues",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of integers.</p>\n@param doubleValues An array of integers.*/",
        "setterMethodName" : "setDoubleValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Double>",
          "variableName" : "doubleValues",
          "variableType" : "java.util.List<Double>",
          "documentation" : "",
          "simpleType" : "List<Double>",
          "variableSetterType" : "java.util.Collection<Double>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of integers.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDoubleValues(java.util.Collection)} or {@link #withDoubleValues(java.util.Collection)} if you want to override the existing values.</p>\n@param doubleValues An array of integers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Double>",
          "variableName" : "doubleValues",
          "variableType" : "java.util.List<Double>",
          "documentation" : "<p>An array of integers.</p>",
          "simpleType" : "List<Double>",
          "variableSetterType" : "java.util.Collection<Double>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "longValues",
        "c2jShape" : "LongArray",
        "deprecated" : false,
        "documentation" : "<p>An array of floating point numbers.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of floating point numbers.</p>\n@param longValues An array of floating point numbers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLongValues",
        "getterDocumentation" : "/**<p>An array of floating point numbers.</p>\n@return An array of floating point numbers.*/",
        "getterMethodName" : "getLongValues",
        "getterModel" : {
          "returnType" : "java.util.List<Long>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "longValues",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "longValues",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BoxedLong",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Long",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "Long",
            "marshallingType" : "LONG",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Long",
              "variableName" : "member",
              "variableType" : "Long",
              "documentation" : "",
              "simpleType" : "Long",
              "variableSetterType" : "Long"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Long",
              "variableName" : "member",
              "variableType" : "Long",
              "documentation" : "",
              "simpleType" : "Long",
              "variableSetterType" : "Long"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Long",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "Long",
          "templateImplType" : "java.util.ArrayList<Long>",
          "templateType" : "java.util.List<Long>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "LongValues",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of floating point numbers.</p>\n@param longValues An array of floating point numbers.*/",
        "setterMethodName" : "setLongValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Long>",
          "variableName" : "longValues",
          "variableType" : "java.util.List<Long>",
          "documentation" : "",
          "simpleType" : "List<Long>",
          "variableSetterType" : "java.util.Collection<Long>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of floating point numbers.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLongValues(java.util.Collection)} or {@link #withLongValues(java.util.Collection)} if you want to override the existing values.</p>\n@param longValues An array of floating point numbers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Long>",
          "variableName" : "longValues",
          "variableType" : "java.util.List<Long>",
          "documentation" : "<p>An array of floating point numbers.</p>",
          "simpleType" : "List<Long>",
          "variableSetterType" : "java.util.Collection<Long>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "stringValues",
        "c2jShape" : "StringArray",
        "deprecated" : false,
        "documentation" : "<p>An array of strings.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of strings.</p>\n@param stringValues An array of strings.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStringValues",
        "getterDocumentation" : "/**<p>An array of strings.</p>\n@return An array of strings.*/",
        "getterMethodName" : "getStringValues",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "stringValues",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "stringValues",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "StringValues",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of strings.</p>\n@param stringValues An array of strings.*/",
        "setterMethodName" : "setStringValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "stringValues",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of strings.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setStringValues(java.util.Collection)} or {@link #withStringValues(java.util.Collection)} if you want to override the existing values.</p>\n@param stringValues An array of strings.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "stringValues",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>An array of strings.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ArrayValues" : {
          "c2jName" : "arrayValues",
          "c2jShape" : "ArrayOfArray",
          "deprecated" : false,
          "documentation" : "<p>An array of arrays.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of arrays.</p>\n@param arrayValues An array of arrays.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArrayValues",
          "getterDocumentation" : "/**<p>An array of arrays.</p>\n@return An array of arrays.*/",
          "getterMethodName" : "getArrayValues",
          "getterModel" : {
            "returnType" : "java.util.List<ArrayValue>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arrayValues",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arrayValues",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ArrayValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "ArrayValue",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ArrayValue",
                "variableName" : "member",
                "variableType" : "ArrayValue",
                "documentation" : "",
                "simpleType" : "ArrayValue",
                "variableSetterType" : "ArrayValue"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ArrayValue",
                "variableName" : "member",
                "variableType" : "ArrayValue",
                "documentation" : "",
                "simpleType" : "ArrayValue",
                "variableSetterType" : "ArrayValue"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "ArrayValue",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ArrayValue",
            "templateImplType" : "java.util.ArrayList<ArrayValue>",
            "templateType" : "java.util.List<ArrayValue>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ArrayValues",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of arrays.</p>\n@param arrayValues An array of arrays.*/",
          "setterMethodName" : "setArrayValues",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ArrayValue>",
            "variableName" : "arrayValues",
            "variableType" : "java.util.List<ArrayValue>",
            "documentation" : "",
            "simpleType" : "List<ArrayValue>",
            "variableSetterType" : "java.util.Collection<ArrayValue>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of arrays.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setArrayValues(java.util.Collection)} or {@link #withArrayValues(java.util.Collection)} if you want to override the existing values.</p>\n@param arrayValues An array of arrays.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ArrayValue>",
            "variableName" : "arrayValues",
            "variableType" : "java.util.List<ArrayValue>",
            "documentation" : "<p>An array of arrays.</p>",
            "simpleType" : "List<ArrayValue>",
            "variableSetterType" : "java.util.Collection<ArrayValue>"
          },
          "xmlNameSpaceUri" : null
        },
        "BooleanValues" : {
          "c2jName" : "booleanValues",
          "c2jShape" : "BooleanArray",
          "deprecated" : false,
          "documentation" : "<p>An array of Boolean values.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of Boolean values.</p>\n@param booleanValues An array of Boolean values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBooleanValues",
          "getterDocumentation" : "/**<p>An array of Boolean values.</p>\n@return An array of Boolean values.*/",
          "getterMethodName" : "getBooleanValues",
          "getterModel" : {
            "returnType" : "java.util.List<Boolean>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "booleanValues",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "booleanValues",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BoxedBoolean",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Boolean",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "Boolean",
              "marshallingType" : "BOOLEAN",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Boolean",
                "variableName" : "member",
                "variableType" : "Boolean",
                "documentation" : "",
                "simpleType" : "Boolean",
                "variableSetterType" : "Boolean"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Boolean",
                "variableName" : "member",
                "variableType" : "Boolean",
                "documentation" : "",
                "simpleType" : "Boolean",
                "variableSetterType" : "Boolean"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Boolean",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "Boolean",
            "templateImplType" : "java.util.ArrayList<Boolean>",
            "templateType" : "java.util.List<Boolean>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "BooleanValues",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of Boolean values.</p>\n@param booleanValues An array of Boolean values.*/",
          "setterMethodName" : "setBooleanValues",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Boolean>",
            "variableName" : "booleanValues",
            "variableType" : "java.util.List<Boolean>",
            "documentation" : "",
            "simpleType" : "List<Boolean>",
            "variableSetterType" : "java.util.Collection<Boolean>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of Boolean values.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBooleanValues(java.util.Collection)} or {@link #withBooleanValues(java.util.Collection)} if you want to override the existing values.</p>\n@param booleanValues An array of Boolean values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Boolean>",
            "variableName" : "booleanValues",
            "variableType" : "java.util.List<Boolean>",
            "documentation" : "<p>An array of Boolean values.</p>",
            "simpleType" : "List<Boolean>",
            "variableSetterType" : "java.util.Collection<Boolean>"
          },
          "xmlNameSpaceUri" : null
        },
        "DoubleValues" : {
          "c2jName" : "doubleValues",
          "c2jShape" : "DoubleArray",
          "deprecated" : false,
          "documentation" : "<p>An array of integers.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of integers.</p>\n@param doubleValues An array of integers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDoubleValues",
          "getterDocumentation" : "/**<p>An array of integers.</p>\n@return An array of integers.*/",
          "getterMethodName" : "getDoubleValues",
          "getterModel" : {
            "returnType" : "java.util.List<Double>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "doubleValues",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "doubleValues",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BoxedDouble",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Double",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "Double",
              "marshallingType" : "DOUBLE",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Double",
                "variableName" : "member",
                "variableType" : "Double",
                "documentation" : "",
                "simpleType" : "Double",
                "variableSetterType" : "Double"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Double",
                "variableName" : "member",
                "variableType" : "Double",
                "documentation" : "",
                "simpleType" : "Double",
                "variableSetterType" : "Double"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Double",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "Double",
            "templateImplType" : "java.util.ArrayList<Double>",
            "templateType" : "java.util.List<Double>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "DoubleValues",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of integers.</p>\n@param doubleValues An array of integers.*/",
          "setterMethodName" : "setDoubleValues",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Double>",
            "variableName" : "doubleValues",
            "variableType" : "java.util.List<Double>",
            "documentation" : "",
            "simpleType" : "List<Double>",
            "variableSetterType" : "java.util.Collection<Double>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of integers.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDoubleValues(java.util.Collection)} or {@link #withDoubleValues(java.util.Collection)} if you want to override the existing values.</p>\n@param doubleValues An array of integers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Double>",
            "variableName" : "doubleValues",
            "variableType" : "java.util.List<Double>",
            "documentation" : "<p>An array of integers.</p>",
            "simpleType" : "List<Double>",
            "variableSetterType" : "java.util.Collection<Double>"
          },
          "xmlNameSpaceUri" : null
        },
        "LongValues" : {
          "c2jName" : "longValues",
          "c2jShape" : "LongArray",
          "deprecated" : false,
          "documentation" : "<p>An array of floating point numbers.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of floating point numbers.</p>\n@param longValues An array of floating point numbers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLongValues",
          "getterDocumentation" : "/**<p>An array of floating point numbers.</p>\n@return An array of floating point numbers.*/",
          "getterMethodName" : "getLongValues",
          "getterModel" : {
            "returnType" : "java.util.List<Long>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "longValues",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "longValues",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BoxedLong",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Long",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "Long",
              "marshallingType" : "LONG",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Long",
                "variableName" : "member",
                "variableType" : "Long",
                "documentation" : "",
                "simpleType" : "Long",
                "variableSetterType" : "Long"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Long",
                "variableName" : "member",
                "variableType" : "Long",
                "documentation" : "",
                "simpleType" : "Long",
                "variableSetterType" : "Long"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Long",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "Long",
            "templateImplType" : "java.util.ArrayList<Long>",
            "templateType" : "java.util.List<Long>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "LongValues",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of floating point numbers.</p>\n@param longValues An array of floating point numbers.*/",
          "setterMethodName" : "setLongValues",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Long>",
            "variableName" : "longValues",
            "variableType" : "java.util.List<Long>",
            "documentation" : "",
            "simpleType" : "List<Long>",
            "variableSetterType" : "java.util.Collection<Long>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of floating point numbers.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLongValues(java.util.Collection)} or {@link #withLongValues(java.util.Collection)} if you want to override the existing values.</p>\n@param longValues An array of floating point numbers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Long>",
            "variableName" : "longValues",
            "variableType" : "java.util.List<Long>",
            "documentation" : "<p>An array of floating point numbers.</p>",
            "simpleType" : "List<Long>",
            "variableSetterType" : "java.util.Collection<Long>"
          },
          "xmlNameSpaceUri" : null
        },
        "StringValues" : {
          "c2jName" : "stringValues",
          "c2jShape" : "StringArray",
          "deprecated" : false,
          "documentation" : "<p>An array of strings.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of strings.</p>\n@param stringValues An array of strings.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStringValues",
          "getterDocumentation" : "/**<p>An array of strings.</p>\n@return An array of strings.*/",
          "getterMethodName" : "getStringValues",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "stringValues",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "stringValues",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "String",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "StringValues",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of strings.</p>\n@param stringValues An array of strings.*/",
          "setterMethodName" : "setStringValues",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "stringValues",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of strings.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setStringValues(java.util.Collection)} or {@link #withStringValues(java.util.Collection)} if you want to override the existing values.</p>\n@param stringValues An array of strings.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "stringValues",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>An array of strings.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ArrayValue",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArrayValue",
        "variableName" : "arrayValue",
        "variableType" : "ArrayValue",
        "documentation" : null,
        "simpleType" : "ArrayValue",
        "variableSetterType" : "ArrayValue"
      },
      "wrapper" : false
    },
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>There is an error in the call or in a SQL statement.</p>",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "BatchExecuteStatementRequest" : {
      "c2jName" : "BatchExecuteStatementRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request parameters represent the input of a SQL statement over an array of data.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchExecuteStatement",
        "locationName" : null,
        "requestUri" : "/BatchExecute",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "database",
        "c2jShape" : "DbName",
        "deprecated" : false,
        "documentation" : "<p>The name of the database.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the database.</p>\n@param database The name of the database.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatabase",
        "getterDocumentation" : "/**<p>The name of the database.</p>\n@return The name of the database.*/",
        "getterMethodName" : "getDatabase",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "database",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "database",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Database",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the database.</p>\n@param database The name of the database.*/",
        "setterMethodName" : "setDatabase",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "database",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the database.</p>\n@param database The name of the database.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "database",
          "variableType" : "String",
          "documentation" : "<p>The name of the database.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "parameterSets",
        "c2jShape" : "SqlParameterSets",
        "deprecated" : false,
        "documentation" : "<p>The parameter set for the batch operation.</p> <p>The maximum number of parameters in a parameter set is 1,000.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The parameter set for the batch operation.</p> <p>The maximum number of parameters in a parameter set is 1,000.</p>\n@param parameterSets The parameter set for the batch operation.</p> <p>The maximum number of parameters in a parameter set is 1,000.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withParameterSets",
        "getterDocumentation" : "/**<p>The parameter set for the batch operation.</p> <p>The maximum number of parameters in a parameter set is 1,000.</p>\n@return The parameter set for the batch operation.</p> <p>The maximum number of parameters in a parameter set is 1,000.*/",
        "getterMethodName" : "getParameterSets",
        "getterModel" : {
          "returnType" : "java.util.List<java.util.List<SqlParameter>>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "parameterSets",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "parameterSets",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "SqlParametersList",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "java.util.List<SqlParameter>",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : true,
            "listModel" : {
              "implType" : "java.util.ArrayList",
              "interfaceType" : "java.util.List",
              "listMemberModel" : {
                "c2jName" : "member",
                "c2jShape" : "SqlParameter",
                "deprecated" : false,
                "documentation" : "",
                "enumType" : null,
                "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "fluentSetterMethodName" : "withMember",
                "getterDocumentation" : "/**\n@return */",
                "getterMethodName" : "getMember",
                "getterModel" : {
                  "returnType" : "SqlParameter",
                  "documentation" : null
                },
                "http" : {
                  "additionalMarshallingPath" : null,
                  "additionalUnmarshallingPath" : null,
                  "flattened" : false,
                  "greedy" : false,
                  "header" : false,
                  "isPayload" : false,
                  "isStreaming" : false,
                  "location" : null,
                  "marshallLocation" : "PAYLOAD",
                  "marshallLocationName" : "member",
                  "queryString" : false,
                  "requiresLength" : false,
                  "statusCode" : false,
                  "unmarshallLocationName" : "member",
                  "uri" : false
                },
                "idempotencyToken" : false,
                "isBinary" : false,
                "jsonValue" : false,
                "list" : false,
                "listModel" : null,
                "map" : false,
                "mapModel" : null,
                "marshallingTargetClass" : "StructuredPojo",
                "marshallingType" : "STRUCTURED",
                "name" : "Member",
                "sensitive" : false,
                "setterDocumentation" : "/**\n@param member */",
                "setterMethodName" : "setMember",
                "setterModel" : {
                  "timestampFormat" : null,
                  "variableDeclarationType" : "SqlParameter",
                  "variableName" : "member",
                  "variableType" : "SqlParameter",
                  "documentation" : "",
                  "simpleType" : "SqlParameter",
                  "variableSetterType" : "SqlParameter"
                },
                "shouldEmitLegacyEnumSetter" : false,
                "simple" : false,
                "unmarshallingType" : null,
[...]
