{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-08-01",
    "asyncClient" : "AWSRDSDataAsyncClient",
    "asyncClientBuilderClassName" : "AWSRDSDataAsyncClientBuilder",
    "asyncInterface" : "AWSRDSDataAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSRDSDataModuleInjector",
    "defaultEndpoint" : "rds-data.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "rds-data.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "AWS RDS DataService provides Http Endpoint to query RDS databases.",
    "endpointPrefix" : "rds-data",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.rdsdata",
    "packagePath" : "com/amazonaws/services/rdsdata",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS RDS DataService",
    "serviceId" : "RDS Data",
    "serviceName" : "AWS RDS DataService",
    "signingName" : "rds-data",
    "smokeTestsPackageName" : "com.amazonaws.services.rdsdata.smoketests",
    "syncClient" : "AWSRDSDataClient",
    "syncClientBuilderClassName" : "AWSRDSDataClientBuilder",
    "syncInterface" : "AWSRDSData",
    "uid" : "rds-data-2018-08-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ExecuteSql" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExecuteSqlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExecuteSqlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExecuteSqlRequest, ExecuteSqlResult>",
      "asyncReturnType" : "ExecuteSqlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Executes any SQL statement on the target database synchronously",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "Invalid Request exception",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "Access denied exception",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "Internal service error",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableErrorException",
        "documentation" : "Internal service unavailable error",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExecuteSqlRequest",
        "variableName" : "executeSqlRequest",
        "variableType" : "ExecuteSqlRequest",
        "documentation" : "Execute SQL Request",
        "simpleType" : "ExecuteSqlRequest",
        "variableSetterType" : "ExecuteSqlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "executeSql",
      "operationName" : "ExecuteSql",
      "returnType" : {
        "returnType" : "ExecuteSqlResult",
        "documentation" : "Execute SQL response"
      },
      "syncReturnType" : "ExecuteSqlResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Invalid Request exception",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "ColumnMetadata" : {
      "c2jName" : "ColumnMetadata",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Column Metadata",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "arrayBaseColumnType",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "Homogenous array base SQL type from java.sql.Types.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Homogenous array base SQL type from java.sql.Types.\n@param arrayBaseColumnType Homogenous array base SQL type from java.sql.Types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArrayBaseColumnType",
        "getterDocumentation" : "/**Homogenous array base SQL type from java.sql.Types.\n@return Homogenous array base SQL type from java.sql.Types.*/",
        "getterMethodName" : "getArrayBaseColumnType",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arrayBaseColumnType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arrayBaseColumnType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "ArrayBaseColumnType",
        "sensitive" : false,
        "setterDocumentation" : "/**Homogenous array base SQL type from java.sql.Types.\n@param arrayBaseColumnType Homogenous array base SQL type from java.sql.Types.*/",
        "setterMethodName" : "setArrayBaseColumnType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "arrayBaseColumnType",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Homogenous array base SQL type from java.sql.Types.\n@param arrayBaseColumnType Homogenous array base SQL type from java.sql.Types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "arrayBaseColumnType",
          "variableType" : "Integer",
          "documentation" : "Homogenous array base SQL type from java.sql.Types.",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "isAutoIncrement",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "Whether the designated column is automatically numbered",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Whether the designated column is automatically numbered\n@param isAutoIncrement Whether the designated column is automatically numbered\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIsAutoIncrement",
        "getterDocumentation" : "/**Whether the designated column is automatically numbered\n@return Whether the designated column is automatically numbered*/",
        "getterMethodName" : "getIsAutoIncrement",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "isAutoIncrement",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "isAutoIncrement",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "IsAutoIncrement",
        "sensitive" : false,
        "setterDocumentation" : "/**Whether the designated column is automatically numbered\n@param isAutoIncrement Whether the designated column is automatically numbered*/",
        "setterMethodName" : "setIsAutoIncrement",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "isAutoIncrement",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Whether the designated column is automatically numbered\n@param isAutoIncrement Whether the designated column is automatically numbered\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "isAutoIncrement",
          "variableType" : "Boolean",
          "documentation" : "Whether the designated column is automatically numbered",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "isCaseSensitive",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "Whether values in the designated column's case matters",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Whether values in the designated column's case matters\n@param isCaseSensitive Whether values in the designated column's case matters\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIsCaseSensitive",
        "getterDocumentation" : "/**Whether values in the designated column's case matters\n@return Whether values in the designated column's case matters*/",
        "getterMethodName" : "getIsCaseSensitive",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "isCaseSensitive",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "isCaseSensitive",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "IsCaseSensitive",
        "sensitive" : false,
        "setterDocumentation" : "/**Whether values in the designated column's case matters\n@param isCaseSensitive Whether values in the designated column's case matters*/",
        "setterMethodName" : "setIsCaseSensitive",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "isCaseSensitive",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Whether values in the designated column's case matters\n@param isCaseSensitive Whether values in the designated column's case matters\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "isCaseSensitive",
          "variableType" : "Boolean",
          "documentation" : "Whether values in the designated column's case matters",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "isCurrency",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "Whether values in the designated column is a cash value",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Whether values in the designated column is a cash value\n@param isCurrency Whether values in the designated column is a cash value\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIsCurrency",
        "getterDocumentation" : "/**Whether values in the designated column is a cash value\n@return Whether values in the designated column is a cash value*/",
        "getterMethodName" : "getIsCurrency",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "isCurrency",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "isCurrency",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "IsCurrency",
        "sensitive" : false,
        "setterDocumentation" : "/**Whether values in the designated column is a cash value\n@param isCurrency Whether values in the designated column is a cash value*/",
        "setterMethodName" : "setIsCurrency",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "isCurrency",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Whether values in the designated column is a cash value\n@param isCurrency Whether values in the designated column is a cash value\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "isCurrency",
          "variableType" : "Boolean",
          "documentation" : "Whether values in the designated column is a cash value",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "isSigned",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "Whether values in the designated column are signed numbers",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Whether values in the designated column are signed numbers\n@param isSigned Whether values in the designated column are signed numbers\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIsSigned",
        "getterDocumentation" : "/**Whether values in the designated column are signed numbers\n@return Whether values in the designated column are signed numbers*/",
        "getterMethodName" : "getIsSigned",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "isSigned",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "isSigned",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "IsSigned",
        "sensitive" : false,
        "setterDocumentation" : "/**Whether values in the designated column are signed numbers\n@param isSigned Whether values in the designated column are signed numbers*/",
        "setterMethodName" : "setIsSigned",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "isSigned",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Whether values in the designated column are signed numbers\n@param isSigned Whether values in the designated column are signed numbers\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "isSigned",
          "variableType" : "Boolean",
          "documentation" : "Whether values in the designated column are signed numbers",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "label",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "Usually specified by the SQL AS. If not specified, return column name.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Usually specified by the SQL AS. If not specified, return column name.\n@param label Usually specified by the SQL AS. If not specified, return column name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLabel",
        "getterDocumentation" : "/**Usually specified by the SQL AS. If not specified, return column name.\n@return Usually specified by the SQL AS. If not specified, return column name.*/",
        "getterMethodName" : "getLabel",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "label",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "label",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Label",
        "sensitive" : false,
        "setterDocumentation" : "/**Usually specified by the SQL AS. If not specified, return column name.\n@param label Usually specified by the SQL AS. If not specified, return column name.*/",
        "setterMethodName" : "setLabel",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "label",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Usually specified by the SQL AS. If not specified, return column name.\n@param label Usually specified by the SQL AS. If not specified, return column name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "label",
          "variableType" : "String",
          "documentation" : "Usually specified by the SQL AS. If not specified, return column name.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "Name of the column.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Name of the column.\n@param name Name of the column.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**Name of the column.\n@return Name of the column.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**Name of the column.\n@param name Name of the column.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Name of the column.\n@param name Name of the column.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "Name of the column.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "nullable",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@param nullable Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNullable",
        "getterDocumentation" : "/**Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@return Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)*/",
        "getterMethodName" : "getNullable",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "nullable",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "nullable",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Nullable",
        "sensitive" : false,
        "setterDocumentation" : "/**Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@param nullable Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)*/",
        "setterMethodName" : "setNullable",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "nullable",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@param nullable Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "nullable",
          "variableType" : "Integer",
          "documentation" : "Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "precision",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@param precision Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPrecision",
        "getterDocumentation" : "/**Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@return Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.*/",
        "getterMethodName" : "getPrecision",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "precision",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "precision",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Precision",
        "sensitive" : false,
        "setterDocumentation" : "/**Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@param precision Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.*/",
        "setterMethodName" : "setPrecision",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "precision",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@param precision Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "precision",
          "variableType" : "Integer",
          "documentation" : "Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "scale",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@param scale Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScale",
        "getterDocumentation" : "/**Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@return Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.*/",
        "getterMethodName" : "getScale",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "scale",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "scale",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Scale",
        "sensitive" : false,
        "setterDocumentation" : "/**Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@param scale Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.*/",
        "setterMethodName" : "setScale",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "scale",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@param scale Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "scale",
          "variableType" : "Integer",
          "documentation" : "Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "schemaName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "Designated column's table's schema",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Designated column's table's schema\n@param schemaName Designated column's table's schema\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSchemaName",
        "getterDocumentation" : "/**Designated column's table's schema\n@return Designated column's table's schema*/",
        "getterMethodName" : "getSchemaName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "schemaName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "schemaName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SchemaName",
        "sensitive" : false,
        "setterDocumentation" : "/**Designated column's table's schema\n@param schemaName Designated column's table's schema*/",
        "setterMethodName" : "setSchemaName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "schemaName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Designated column's table's schema\n@param schemaName Designated column's table's schema\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "schemaName",
          "variableType" : "String",
          "documentation" : "Designated column's table's schema",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tableName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "Designated column's table name",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Designated column's table name\n@param tableName Designated column's table name\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTableName",
        "getterDocumentation" : "/**Designated column's table name\n@return Designated column's table name*/",
        "getterMethodName" : "getTableName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tableName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tableName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TableName",
        "sensitive" : false,
        "setterDocumentation" : "/**Designated column's table name\n@param tableName Designated column's table name*/",
        "setterMethodName" : "setTableName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "tableName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Designated column's table name\n@param tableName Designated column's table name\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "tableName",
          "variableType" : "String",
          "documentation" : "Designated column's table name",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "type",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "SQL type from java.sql.Types.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**SQL type from java.sql.Types.\n@param type SQL type from java.sql.Types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**SQL type from java.sql.Types.\n@return SQL type from java.sql.Types.*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "type",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**SQL type from java.sql.Types.\n@param type SQL type from java.sql.Types.*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "type",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**SQL type from java.sql.Types.\n@param type SQL type from java.sql.Types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "type",
          "variableType" : "Integer",
          "documentation" : "SQL type from java.sql.Types.",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "typeName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "Database-specific type name.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Database-specific type name.\n@param typeName Database-specific type name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTypeName",
        "getterDocumentation" : "/**Database-specific type name.\n@return Database-specific type name.*/",
        "getterMethodName" : "getTypeName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "typeName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "typeName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TypeName",
        "sensitive" : false,
        "setterDocumentation" : "/**Database-specific type name.\n@param typeName Database-specific type name.*/",
        "setterMethodName" : "setTypeName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "typeName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Database-specific type name.\n@param typeName Database-specific type name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "typeName",
          "variableType" : "String",
          "documentation" : "Database-specific type name.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ArrayBaseColumnType" : {
          "c2jName" : "arrayBaseColumnType",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "Homogenous array base SQL type from java.sql.Types.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Homogenous array base SQL type from java.sql.Types.\n@param arrayBaseColumnType Homogenous array base SQL type from java.sql.Types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArrayBaseColumnType",
          "getterDocumentation" : "/**Homogenous array base SQL type from java.sql.Types.\n@return Homogenous array base SQL type from java.sql.Types.*/",
          "getterMethodName" : "getArrayBaseColumnType",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arrayBaseColumnType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arrayBaseColumnType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "ArrayBaseColumnType",
          "sensitive" : false,
          "setterDocumentation" : "/**Homogenous array base SQL type from java.sql.Types.\n@param arrayBaseColumnType Homogenous array base SQL type from java.sql.Types.*/",
          "setterMethodName" : "setArrayBaseColumnType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "arrayBaseColumnType",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Homogenous array base SQL type from java.sql.Types.\n@param arrayBaseColumnType Homogenous array base SQL type from java.sql.Types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "arrayBaseColumnType",
            "variableType" : "Integer",
            "documentation" : "Homogenous array base SQL type from java.sql.Types.",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "IsAutoIncrement" : {
          "c2jName" : "isAutoIncrement",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "Whether the designated column is automatically numbered",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Whether the designated column is automatically numbered\n@param isAutoIncrement Whether the designated column is automatically numbered\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIsAutoIncrement",
          "getterDocumentation" : "/**Whether the designated column is automatically numbered\n@return Whether the designated column is automatically numbered*/",
          "getterMethodName" : "getIsAutoIncrement",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "isAutoIncrement",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "isAutoIncrement",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "IsAutoIncrement",
          "sensitive" : false,
          "setterDocumentation" : "/**Whether the designated column is automatically numbered\n@param isAutoIncrement Whether the designated column is automatically numbered*/",
          "setterMethodName" : "setIsAutoIncrement",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "isAutoIncrement",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Whether the designated column is automatically numbered\n@param isAutoIncrement Whether the designated column is automatically numbered\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "isAutoIncrement",
            "variableType" : "Boolean",
            "documentation" : "Whether the designated column is automatically numbered",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "IsCaseSensitive" : {
          "c2jName" : "isCaseSensitive",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "Whether values in the designated column's case matters",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Whether values in the designated column's case matters\n@param isCaseSensitive Whether values in the designated column's case matters\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIsCaseSensitive",
          "getterDocumentation" : "/**Whether values in the designated column's case matters\n@return Whether values in the designated column's case matters*/",
          "getterMethodName" : "getIsCaseSensitive",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "isCaseSensitive",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "isCaseSensitive",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "IsCaseSensitive",
          "sensitive" : false,
          "setterDocumentation" : "/**Whether values in the designated column's case matters\n@param isCaseSensitive Whether values in the designated column's case matters*/",
          "setterMethodName" : "setIsCaseSensitive",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "isCaseSensitive",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Whether values in the designated column's case matters\n@param isCaseSensitive Whether values in the designated column's case matters\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "isCaseSensitive",
            "variableType" : "Boolean",
            "documentation" : "Whether values in the designated column's case matters",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "IsCurrency" : {
          "c2jName" : "isCurrency",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "Whether values in the designated column is a cash value",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Whether values in the designated column is a cash value\n@param isCurrency Whether values in the designated column is a cash value\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIsCurrency",
          "getterDocumentation" : "/**Whether values in the designated column is a cash value\n@return Whether values in the designated column is a cash value*/",
          "getterMethodName" : "getIsCurrency",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "isCurrency",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "isCurrency",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "IsCurrency",
          "sensitive" : false,
          "setterDocumentation" : "/**Whether values in the designated column is a cash value\n@param isCurrency Whether values in the designated column is a cash value*/",
          "setterMethodName" : "setIsCurrency",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "isCurrency",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Whether values in the designated column is a cash value\n@param isCurrency Whether values in the designated column is a cash value\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "isCurrency",
            "variableType" : "Boolean",
            "documentation" : "Whether values in the designated column is a cash value",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "IsSigned" : {
          "c2jName" : "isSigned",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "Whether values in the designated column are signed numbers",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Whether values in the designated column are signed numbers\n@param isSigned Whether values in the designated column are signed numbers\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIsSigned",
          "getterDocumentation" : "/**Whether values in the designated column are signed numbers\n@return Whether values in the designated column are signed numbers*/",
          "getterMethodName" : "getIsSigned",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "isSigned",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "isSigned",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "IsSigned",
          "sensitive" : false,
          "setterDocumentation" : "/**Whether values in the designated column are signed numbers\n@param isSigned Whether values in the designated column are signed numbers*/",
          "setterMethodName" : "setIsSigned",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "isSigned",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Whether values in the designated column are signed numbers\n@param isSigned Whether values in the designated column are signed numbers\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "isSigned",
            "variableType" : "Boolean",
            "documentation" : "Whether values in the designated column are signed numbers",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "Label" : {
          "c2jName" : "label",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "Usually specified by the SQL AS. If not specified, return column name.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Usually specified by the SQL AS. If not specified, return column name.\n@param label Usually specified by the SQL AS. If not specified, return column name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLabel",
          "getterDocumentation" : "/**Usually specified by the SQL AS. If not specified, return column name.\n@return Usually specified by the SQL AS. If not specified, return column name.*/",
          "getterMethodName" : "getLabel",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "label",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "label",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Label",
          "sensitive" : false,
          "setterDocumentation" : "/**Usually specified by the SQL AS. If not specified, return column name.\n@param label Usually specified by the SQL AS. If not specified, return column name.*/",
          "setterMethodName" : "setLabel",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "label",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Usually specified by the SQL AS. If not specified, return column name.\n@param label Usually specified by the SQL AS. If not specified, return column name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "label",
            "variableType" : "String",
            "documentation" : "Usually specified by the SQL AS. If not specified, return column name.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "Name of the column.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Name of the column.\n@param name Name of the column.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**Name of the column.\n@return Name of the column.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**Name of the column.\n@param name Name of the column.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Name of the column.\n@param name Name of the column.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "Name of the column.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Nullable" : {
          "c2jName" : "nullable",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@param nullable Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNullable",
          "getterDocumentation" : "/**Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@return Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)*/",
          "getterMethodName" : "getNullable",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "nullable",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "nullable",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Nullable",
          "sensitive" : false,
          "setterDocumentation" : "/**Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@param nullable Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)*/",
          "setterMethodName" : "setNullable",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "nullable",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@param nullable Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "nullable",
            "variableType" : "Integer",
            "documentation" : "Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Precision" : {
          "c2jName" : "precision",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@param precision Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPrecision",
          "getterDocumentation" : "/**Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@return Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.*/",
          "getterMethodName" : "getPrecision",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "precision",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "precision",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Precision",
          "sensitive" : false,
          "setterDocumentation" : "/**Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@param precision Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.*/",
          "setterMethodName" : "setPrecision",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "precision",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@param precision Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "precision",
            "variableType" : "Integer",
            "documentation" : "Get the designated column's specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Scale" : {
          "c2jName" : "scale",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@param scale Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScale",
          "getterDocumentation" : "/**Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@return Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.*/",
          "getterMethodName" : "getScale",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "scale",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "scale",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Scale",
          "sensitive" : false,
          "setterDocumentation" : "/**Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@param scale Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.*/",
          "setterMethodName" : "setScale",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "scale",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@param scale Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "scale",
            "variableType" : "Integer",
            "documentation" : "Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "SchemaName" : {
          "c2jName" : "schemaName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "Designated column's table's schema",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Designated column's table's schema\n@param schemaName Designated column's table's schema\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSchemaName",
          "getterDocumentation" : "/**Designated column's table's schema\n@return Designated column's table's schema*/",
          "getterMethodName" : "getSchemaName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "schemaName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "schemaName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SchemaName",
          "sensitive" : false,
          "setterDocumentation" : "/**Designated column's table's schema\n@param schemaName Designated column's table's schema*/",
          "setterMethodName" : "setSchemaName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "schemaName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Designated column's table's schema\n@param schemaName Designated column's table's schema\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "schemaName",
            "variableType" : "String",
            "documentation" : "Designated column's table's schema",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TableName" : {
          "c2jName" : "tableName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "Designated column's table name",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Designated column's table name\n@param tableName Designated column's table name\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTableName",
          "getterDocumentation" : "/**Designated column's table name\n@return Designated column's table name*/",
          "getterMethodName" : "getTableName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "tableName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tableName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TableName",
          "sensitive" : false,
          "setterDocumentation" : "/**Designated column's table name\n@param tableName Designated column's table name*/",
          "setterMethodName" : "setTableName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "tableName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**Designated column's table name\n@param tableName Designated column's table name\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "tableName",
            "variableType" : "String",
            "documentation" : "Designated column's table name",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "type",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "SQL type from java.sql.Types.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**SQL type from java.sql.Types.\n@param type SQL type from java.sql.Types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**SQL type from java.sql.Types.\n@return SQL type from java.sql.Types.*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "type",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**SQL type from java.sql.Types.\n@param type SQL type from java.sql.Types.*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "type",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**SQL type from java.sql.Types.\n@param type SQL type from java.sql.Types.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "type",
            "variableType" : "Integer",
[...]
