{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2014-10-31",
    "endpointPrefix" : "rds",
    "jsonVersion" : null,
    "protocol" : "query",
    "resultWrapped" : false,
    "serviceAbbreviation" : "Amazon RDS",
    "serviceFullName" : "Amazon Relational Database Service",
    "signatureVersion" : "v4",
    "signingName" : "rds",
    "targetPrefix" : null,
    "uid" : "rds-2014-10-31",
    "xmlNamespace" : "http://rds.amazonaws.com/doc/2014-10-31/"
  },
  "operations" : {
    "AddRoleToDBCluster" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Associates an Identity and Access Management (IAM) role from an Aurora DB cluster. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Aurora.Authorizing.AWSServices.html\">Authorizing Amazon Aurora to Access Other AWS Services On Your Behalf</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterRoleAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterRoleQuotaExceededFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "AddRoleToDBClusterMessage",
        "xmlNamespace" : null
      },
      "name" : "AddRoleToDBCluster",
      "output" : null
    },
    "AddSourceIdentifierToSubscription" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Adds a source identifier to an existing RDS event notification subscription.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SubscriptionNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SourceNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "AddSourceIdentifierToSubscriptionMessage",
        "xmlNamespace" : null
      },
      "name" : "AddSourceIdentifierToSubscription",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "AddSourceIdentifierToSubscriptionResult",
        "shape" : "AddSourceIdentifierToSubscriptionResult"
      }
    },
    "AddTagsToResource" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Adds metadata tags to an Amazon RDS resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon RDS resources, or used in a Condition statement in an IAM policy for Amazon RDS.</p> <p>For an overview on tagging Amazon RDS resources, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">Tagging Amazon RDS Resources</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSnapshotNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "AddTagsToResourceMessage",
        "xmlNamespace" : null
      },
      "name" : "AddTagsToResource",
      "output" : null
    },
    "ApplyPendingMaintenanceAction" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Applies a pending maintenance action to a resource (for example, to a DB instance).</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ApplyPendingMaintenanceActionMessage",
        "xmlNamespace" : null
      },
      "name" : "ApplyPendingMaintenanceAction",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "ApplyPendingMaintenanceActionResult",
        "shape" : "ApplyPendingMaintenanceActionResult"
      }
    },
    "AuthorizeDBSecurityGroupIngress" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Enables ingress to a DBSecurityGroup using one of two forms of authorization. First, EC2 or VPC security groups can be added to the DBSecurityGroup if the application using the database is running on EC2 or VPC instances. Second, IP ranges are available if the application accessing your database is running on the Internet. Required parameters for this API are one of CIDR range, EC2SecurityGroupId for VPC, or (EC2SecurityGroupOwnerId and either EC2SecurityGroupName or EC2SecurityGroupId for non-VPC).</p> <note> <p>You cannot authorize ingress from an EC2 security group in one region to an Amazon RDS DB instance in another. You cannot authorize ingress from a VPC security group in one VPC to an Amazon RDS DB instance in another.</p> </note> <p>For an overview of CIDR ranges, go to the <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSecurityGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBSecurityGroupStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "AuthorizationAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "AuthorizationQuotaExceededFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "AuthorizeDBSecurityGroupIngressMessage",
        "xmlNamespace" : null
      },
      "name" : "AuthorizeDBSecurityGroupIngress",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "AuthorizeDBSecurityGroupIngressResult",
        "shape" : "AuthorizeDBSecurityGroupIngressResult"
      }
    },
    "CopyDBClusterParameterGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Copies the specified DB cluster parameter group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupAlreadyExistsFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CopyDBClusterParameterGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "CopyDBClusterParameterGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CopyDBClusterParameterGroupResult",
        "shape" : "CopyDBClusterParameterGroupResult"
      }
    },
    "CopyDBClusterSnapshot" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>You can copy an encrypted DB cluster snapshot from another AWS region. In that case, the region where you call the <code>CopyDBClusterSnapshot</code> action is the destination region for the encrypted DB cluster snapshot to be copied to. To copy an encrypted DB cluster snapshot from another region, you must provide the following values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS Key Management System (KMS) key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination region.</p> </li> <li> <p> <code>PreSignedUrl</code> - A URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> action to be called in the source region where the DB cluster snapshot will be copied from. The pre-signed URL must be a valid request for the <code>CopyDBClusterSnapshot</code> API action that can be executed in the source region that contains the encrypted DB cluster snapshot to be copied.</p> <p>The pre-signed URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination region, and the action contained in the pre-signed URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:aurora-cluster1-snapshot-20161115</code>.</p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\"> Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\"> Signature Version 4 Signing Process</a>.</p> </li> <li> <p> <code>TargetDBClusterSnapshotIdentifier</code> - The identifier for the new copy of the DB cluster snapshot in the destination region.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the ARN format for the source region and is the same value as the <code>SourceDBClusterSnapshotIdentifier</code> in the pre-signed URL. </p> </li> </ul> <p>To cancel the copy operation once it is in progress, delete the target DB cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in \"copying\" status.</p> <p>For more information on copying encrypted DB cluster snapshots from one region to another, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_CopySnapshot.html#USER_CopyDBClusterSnapshot.CrossRegion\"> Copying a DB Cluster Snapshot in the Same Account, Either in the Same Region or Across Regions</a> in the Amazon RDS User Guide.</p> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterSnapshotAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterSnapshotNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterSnapshotStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SnapshotQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "KMSKeyNotAccessibleFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CopyDBClusterSnapshotMessage",
        "xmlNamespace" : null
      },
      "name" : "CopyDBClusterSnapshot",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CopyDBClusterSnapshotResult",
        "shape" : "CopyDBClusterSnapshotResult"
      }
    },
    "CopyDBParameterGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Copies the specified DB parameter group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupQuotaExceededFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CopyDBParameterGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "CopyDBParameterGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CopyDBParameterGroupResult",
        "shape" : "CopyDBParameterGroupResult"
      }
    },
    "CopyDBSnapshot" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Copies the specified DB snapshot. The source DB snapshot must be in the \"available\" state.</p> <p>To copy a DB snapshot from a shared manual DB snapshot, <code>SourceDBSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB snapshot.</p> <p>You can copy an encrypted DB snapshot from another AWS Region. In that case, the region where you call the <code>CopyDBSnapshot</code> action is the destination region for the encrypted DB snapshot to be copied to. To copy an encrypted DB snapshot from another region, you must provide the following values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS Key Management System (KMS) key identifier for the key to use to encrypt the copy of the DB snapshot in the destination region.</p> </li> <li> <p> <code>PreSignedUrl</code> - A URL that contains a Signature Version 4 signed request for the <code>CopyDBSnapshot</code> action to be called in the source region where the DB snapshot will be copied from. The presigned URL must be a valid request for the <code>CopyDBSnapshot</code> API action that can be executed in the source region that contains the encrypted DB snapshot to be copied.</p> <p>The presigned URL request must contain the following parameter values:</p> <ul> <li> <p> <code>DestinationRegion</code> - The AWS Region that the encrypted DB snapshot will be copied to. This region is the same one where the <code>CopyDBSnapshot</code> action is called that contains this presigned URL. </p> <p>For example, if you copy an encrypted DB snapshot from the us-west-2 region to the us-east-1 region, then you will call the <code>CopyDBSnapshot</code> action in the us-east-1 region and provide a presigned URL that contains a call to the <code>CopyDBSnapshot</code> action in the us-west-2 region. For this example, the <code>DestinationRegion</code> in the presigned URL must be set to the us-east-1 region.</p> </li> <li> <p> <code>KmsKeyId</code> - The KMS key identifier for the key to use to encrypt the copy of the DB snapshot in the destination region. This identifier is the same for both the <code>CopyDBSnapshot</code> action that is called in the destination region, and the action contained in the presigned URL.</p> </li> <li> <p> <code>SourceDBSnapshotIdentifier</code> - The DB snapshot identifier for the encrypted snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source region. For example, if you copy an encrypted DB snapshot from the us-west-2 region, then your <code>SourceDBSnapshotIdentifier</code> looks like this example: <code>arn:aws:rds:us-west-2:123456789012:snapshot:mysql-instance1-snapshot-20161115</code>.</p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\"> Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\"> Signature Version 4 Signing Process</a>.</p> </li> <li> <p> <code>TargetDBSnapshotIdentifier</code> - The identifier for the new copy of the DB snapshot in the destination region.</p> </li> <li> <p> <code>SourceDBSnapshotIdentifier</code> - The DB snapshot identifier for the encrypted snapshot to be copied. This identifier must be in the ARN format for the source region and is the same value as the <code>SourceDBSnapshotIdentifier</code> in the presigned URL. </p> </li> </ul> <p>For more information on copying encrypted snapshots from one region to another, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_CopySnapshot.html#USER_CopySnapshot.Encrypted.CrossRegion\"> Copying an Encrypted DB Snapshot to Another Region</a> in the Amazon RDS User Guide.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSnapshotAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSnapshotNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBSnapshotStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SnapshotQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "KMSKeyNotAccessibleFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CopyDBSnapshotMessage",
        "xmlNamespace" : null
      },
      "name" : "CopyDBSnapshot",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CopyDBSnapshotResult",
        "shape" : "CopyDBSnapshotResult"
      }
    },
    "CopyOptionGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Copies the specified option group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OptionGroupAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OptionGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OptionGroupQuotaExceededFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CopyOptionGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "CopyOptionGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CopyOptionGroupResult",
        "shape" : "CopyOptionGroupResult"
      }
    },
    "CreateDBCluster" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new Amazon Aurora DB cluster.</p> <p>You can use the <code>ReplicationSourceIdentifier</code> parameter to create the DB cluster as a Read Replica of another DB cluster or Amazon RDS MySQL DB instance. For cross-region replication where the DB cluster identified by <code>ReplicationSourceIdentifier</code> is encrypted, you must also specify the <code>PreSignedUrl</code> parameter.</p> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InsufficientStorageClusterCapacityFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "StorageQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidVPCNetworkStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBSubnetGroupStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSubnet"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBInstanceStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterParameterGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "KMSKeyNotAccessibleFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupDoesNotCoverEnoughAZs"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDBClusterMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateDBCluster",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateDBClusterResult",
        "shape" : "CreateDBClusterResult"
      }
    },
    "CreateDBClusterParameterGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new DB cluster parameter group.</p> <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB cluster.</p> <p> A DB cluster parameter group is initially created with the default parameters for the database engine used by instances in the DB cluster. To provide custom values for any of the parameters, you must modify the group after creating it using <a>ModifyDBClusterParameterGroup</a>. Once you've created a DB cluster parameter group, you need to associate it with your DB cluster using <a>ModifyDBCluster</a>. When you associate a new DB cluster parameter group with a running DB cluster, you need to reboot the DB instances in the DB cluster without failover for the new DB cluster parameter group and associated settings to take effect. </p> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon RDS to fully complete the create action before the DB cluster parameter group is used as the default for a new DB cluster. This is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon RDS console</a> or the <a>DescribeDBClusterParameters</a> command to verify that your DB cluster parameter group has been created or modified.</p> </important> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupAlreadyExistsFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDBClusterParameterGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateDBClusterParameterGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateDBClusterParameterGroupResult",
        "shape" : "CreateDBClusterParameterGroupResult"
      }
    },
    "CreateDBClusterSnapshot" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a snapshot of a DB cluster. For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterSnapshotAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SnapshotQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterSnapshotStateFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDBClusterSnapshotMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateDBClusterSnapshot",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateDBClusterSnapshotResult",
        "shape" : "CreateDBClusterSnapshotResult"
      }
    },
    "CreateDBInstance" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new DB instance.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InsufficientDBInstanceCapacityFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSecurityGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "StorageQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupDoesNotCoverEnoughAZs"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSubnet"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidVPCNetworkStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ProvisionedIopsNotAvailableInAZFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OptionGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "StorageTypeNotSupportedFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "AuthorizationNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "KMSKeyNotAccessibleFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DomainNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDBInstanceMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateDBInstance",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateDBInstanceResult",
        "shape" : "CreateDBInstanceResult"
      }
    },
    "CreateDBInstanceReadReplica" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a DB instance for a DB instance running MySQL, MariaDB, or PostgreSQL that acts as a Read Replica of a source DB instance.</p> <p>All Read Replica DB instances are created as Single-AZ deployments with backups disabled. All other DB instance attributes (including DB security groups and DB parameter groups) are inherited from the source DB instance, except as specified below.</p> <important> <p>The source DB instance must have backup retention enabled.</p> </important> <p>You can create an encrypted Read Replica in a different AWS Region than the source DB instance. In that case, the region where you call the <code>CreateDBInstanceReadReplica</code> action is the destination region of the encrypted Read Replica. The source DB instance must be encrypted.</p> <p>To create an encrypted Read Replica in another AWS Region, you must provide the following values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS Key Management System (KMS) key identifier for the key to use to encrypt the Read Replica in the destination region.</p> </li> <li> <p> <code>PreSignedUrl</code> - A URL that contains a Signature Version 4 signed request for the <code> CreateDBInstanceReadReplica</code> API action in the AWS region that contains the source DB instance. The <code>PreSignedUrl</code> parameter must be used when encrypting a Read Replica from another AWS region.</p> <p>The presigned URL must be a valid request for the <code>CreateDBInstanceReadReplica</code> API action that can be executed in the source region that contains the encrypted DB instance. The presigned URL request must contain the following parameter values:</p> <ul> <li> <p> <code>DestinationRegion</code> - The AWS Region that the Read Replica is created in. This region is the same one where the <code>CreateDBInstanceReadReplica</code> action is called that contains this presigned URL. </p> <p> For example, if you create an encrypted Read Replica in the us-east-1 region, and the source DB instance is in the west-2 region, then you call the <code>CreateDBInstanceReadReplica</code> action in the us-east-1 region and provide a presigned URL that contains a call to the <code>CreateDBInstanceReadReplica</code> action in the us-west-2 region. For this example, the <code>DestinationRegion</code> in the presigned URL must be set to the us-east-1 region.</p> </li> <li> <p> <code>KmsKeyId</code> - The KMS key identifier for the key to use to encrypt the Read Replica in the destination region. This is the same identifier for both the <code>CreateDBInstanceReadReplica</code> action that is called in the destination region, and the action contained in the presigned URL.</p> </li> <li> <p> <code>SourceDBInstanceIdentifier</code> - The DB instance identifier for the encrypted Read Replica to be created. This identifier must be in the Amazon Resource Name (ARN) format for the source region. For example, if you create an encrypted Read Replica from a DB instance in the us-west-2 region, then your <code>SourceDBInstanceIdentifier</code> would look like this example: <code> arn:aws:rds:us-west-2:123456789012:instance:mysql-instance1-instance-20161115</code>.</p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\"> Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\"> Signature Version 4 Signing Process</a>.</p> </li> <li> <p> <code>DBInstanceIdentifier</code> - The identifier for the encrypted Read Replica in the destination region.</p> </li> <li> <p> <code>SourceDBInstanceIdentifier</code> - The DB instance identifier for the encrypted Read Replica. This identifier must be in the ARN format for the source region and is the same value as the <code>SourceDBInstanceIdentifier</code> in the presigned URL. </p> </li> </ul>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InsufficientDBInstanceCapacityFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSecurityGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InstanceQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "StorageQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBInstanceStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupDoesNotCoverEnoughAZs"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSubnet"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidVPCNetworkStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ProvisionedIopsNotAvailableInAZFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OptionGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupNotAllowedFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBSubnetGroupFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "StorageTypeNotSupportedFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "KMSKeyNotAccessibleFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDBInstanceReadReplicaMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateDBInstanceReadReplica",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateDBInstanceReadReplicaResult",
        "shape" : "CreateDBInstanceReadReplicaResult"
      }
    },
    "CreateDBParameterGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new DB parameter group.</p> <p> A DB parameter group is initially created with the default parameters for the database engine used by the DB instance. To provide custom values for any of the parameters, you must modify the group after creating it using <i>ModifyDBParameterGroup</i>. Once you've created a DB parameter group, you need to associate it with your DB instance using <i>ModifyDBInstance</i>. When you associate a new DB parameter group with a running DB instance, you need to reboot the DB instance without failover for the new DB parameter group and associated settings to take effect. </p> <important> <p>After you create a DB parameter group, you should wait at least 5 minutes before creating your first DB instance that uses that DB parameter group as the default parameter group. This allows Amazon RDS to fully complete the create action before the parameter group is used as the default for a new DB instance. This is especially important for parameters that are critical when creating the default database for a DB instance, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon RDS console</a> or the <i>DescribeDBParameters</i> command to verify that your DB parameter group has been created or modified.</p> </important>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupAlreadyExistsFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDBParameterGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateDBParameterGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateDBParameterGroupResult",
        "shape" : "CreateDBParameterGroupResult"
      }
    },
    "CreateDBSecurityGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new DB security group. DB security groups control access to a DB instance.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSecurityGroupAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSecurityGroupQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSecurityGroupNotSupportedFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDBSecurityGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateDBSecurityGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateDBSecurityGroupResult",
        "shape" : "CreateDBSecurityGroupResult"
      }
    },
    "CreateDBSnapshot" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a DBSnapshot. The source DBInstance must be in \"available\" state.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSnapshotAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBInstanceStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SnapshotQuotaExceededFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDBSnapshotMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateDBSnapshot",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateDBSnapshotResult",
        "shape" : "CreateDBSnapshotResult"
      }
    },
    "CreateDBSubnetGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at least two AZs in the region.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupDoesNotCoverEnoughAZs"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSubnet"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDBSubnetGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateDBSubnetGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateDBSubnetGroupResult",
        "shape" : "CreateDBSubnetGroupResult"
      }
    },
    "CreateEventSubscription" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates an RDS event notification subscription. This action requires a topic ARN (Amazon Resource Name) created by either the RDS console, the SNS console, or the SNS API. To obtain an ARN with SNS, you must create a topic in Amazon SNS and subscribe to the topic. The ARN is displayed in the SNS console.</p> <p>You can specify the type of source (SourceType) you want to be notified of, provide a list of RDS sources (SourceIds) that triggers the events, and provide a list of event categories (EventCategories) for events you want to be notified of. For example, you can specify SourceType = db-instance, SourceIds = mydbinstance1, mydbinstance2 and EventCategories = Availability, Backup.</p> <p>If you specify both the SourceType and SourceIds, such as SourceType = db-instance and SourceIdentifier = myDBInstance1, you will be notified of all the db-instance events for the specified source. If you specify a SourceType but do not specify a SourceIdentifier, you will receive notice of the events for that source type for all your RDS sources. If you do not specify either the SourceType nor the SourceIdentifier, you will be notified of events generated from all RDS sources belonging to your customer account.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "EventSubscriptionQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SubscriptionAlreadyExistFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SNSInvalidTopicFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SNSNoAuthorizationFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SNSTopicArnNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SubscriptionCategoryNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SourceNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateEventSubscriptionMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateEventSubscription",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateEventSubscriptionResult",
        "shape" : "CreateEventSubscriptionResult"
      }
    },
    "CreateOptionGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new option group. You can create up to 20 option groups.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OptionGroupAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OptionGroupQuotaExceededFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateOptionGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "CreateOptionGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateOptionGroupResult",
        "shape" : "CreateOptionGroupResult"
      }
    },
    "DeleteDBCluster" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>The DeleteDBCluster action deletes a previously provisioned DB cluster. When you delete a DB cluster, all automated backups for that DB cluster are deleted and cannot be recovered. Manual DB cluster snapshots of the specified DB cluster are not deleted.</p> <p/> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterSnapshotAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SnapshotQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterSnapshotStateFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDBClusterMessage",
        "xmlNamespace" : null
      },
      "name" : "DeleteDBCluster",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DeleteDBClusterResult",
        "shape" : "DeleteDBClusterResult"
      }
    },
    "DeleteDBClusterParameterGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a specified DB cluster parameter group. The DB cluster parameter group to be deleted cannot be associated with any DB clusters.</p> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBParameterGroupStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDBClusterParameterGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "DeleteDBClusterParameterGroup",
      "output" : null
    },
    "DeleteDBClusterSnapshot" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a DB cluster snapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The DB cluster snapshot must be in the <code>available</code> state to be deleted.</p> </note> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterSnapshotStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterSnapshotNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDBClusterSnapshotMessage",
        "xmlNamespace" : null
      },
      "name" : "DeleteDBClusterSnapshot",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DeleteDBClusterSnapshotResult",
        "shape" : "DeleteDBClusterSnapshotResult"
      }
    },
    "DeleteDBInstance" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>The DeleteDBInstance action deletes a previously provisioned DB instance. When you delete a DB instance, all automated backups for that instance are deleted and cannot be recovered. Manual DB snapshots of the DB instance to be deleted by <code>DeleteDBInstance</code> are not deleted.</p> <p> If you request a final DB snapshot the status of the Amazon RDS DB instance is <code>deleting</code> until the DB snapshot is created. The API action <code>DescribeDBInstance</code> is used to monitor the status of this operation. The action cannot be canceled or reverted once submitted. </p> <p>Note that when a DB instance is in a failure state and has a status of <code>failed</code>, <code>incompatible-restore</code>, or <code>incompatible-network</code>, you can only delete it when the <code>SkipFinalSnapshot</code> parameter is set to <code>true</code>.</p> <p>If the specified DB instance is part of an Amazon Aurora DB cluster, you cannot delete the DB instance if the following are true:</p> <ul> <li> <p>The DB cluster is a Read Replica of another Amazon Aurora DB cluster.</p> </li> <li> <p>The DB instance is the only instance in the DB cluster.</p> </li> </ul> <p>To delete a DB instance in this case, first call the <a>PromoteReadReplicaDBCluster</a> API action to promote the DB cluster so it's no longer a Read Replica. After the promotion completes, then call the <code>DeleteDBInstance</code> API action to delete the final instance in the DB cluster.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBInstanceStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSnapshotAlreadyExistsFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SnapshotQuotaExceededFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterStateFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDBInstanceMessage",
        "xmlNamespace" : null
      },
      "name" : "DeleteDBInstance",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DeleteDBInstanceResult",
        "shape" : "DeleteDBInstanceResult"
      }
    },
    "DeleteDBParameterGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a specified DBParameterGroup. The DBParameterGroup to be deleted cannot be associated with any DB instances.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBParameterGroupStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDBParameterGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "DeleteDBParameterGroup",
      "output" : null
    },
    "DeleteDBSecurityGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a DB security group.</p> <note> <p>The specified DB security group must not be associated with any DB instances.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBSecurityGroupStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSecurityGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDBSecurityGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "DeleteDBSecurityGroup",
      "output" : null
    },
    "DeleteDBSnapshot" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a DBSnapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The DBSnapshot must be in the <code>available</code> state to be deleted.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBSnapshotStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSnapshotNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDBSnapshotMessage",
        "xmlNamespace" : null
      },
      "name" : "DeleteDBSnapshot",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DeleteDBSnapshotResult",
        "shape" : "DeleteDBSnapshotResult"
      }
    },
    "DeleteDBSubnetGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a DB subnet group.</p> <note> <p>The specified database subnet group must not be associated with any DB instances.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBSubnetGroupStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBSubnetStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDBSubnetGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "DeleteDBSubnetGroup",
      "output" : null
    },
    "DeleteEventSubscription" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes an RDS event notification subscription.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SubscriptionNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidEventSubscriptionStateFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteEventSubscriptionMessage",
        "xmlNamespace" : null
      },
      "name" : "DeleteEventSubscription",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DeleteEventSubscriptionResult",
        "shape" : "DeleteEventSubscriptionResult"
      }
    },
    "DeleteOptionGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing option group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OptionGroupNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidOptionGroupStateFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteOptionGroupMessage",
        "xmlNamespace" : null
      },
      "name" : "DeleteOptionGroup",
      "output" : null
    },
    "DescribeAccountAttributes" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists all of the attributes for a customer account. The attributes include Amazon RDS quotas for the account, such as the number of DB instances allowed. The description for a quota includes the quota name, current usage toward that quota, and the quota's maximum value.</p> <p>This command does not take any parameters.</p>",
      "errors" : null,
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeAccountAttributesMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeAccountAttributes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeAccountAttributesResult",
        "shape" : "AccountAttributesMessage"
      }
    },
    "DescribeCertificates" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the set of CA certificates provided by Amazon RDS for this AWS account.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "CertificateNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeCertificatesMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeCertificates",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeCertificatesResult",
        "shape" : "CertificateMessage"
      }
    },
    "DescribeDBClusterParameterGroups" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p> Returns a list of <code>DBClusterParameterGroup</code> descriptions. If a <code>DBClusterParameterGroupName</code> parameter is specified, the list will contain only the description of the specified DB cluster parameter group. </p> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBClusterParameterGroupsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBClusterParameterGroups",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBClusterParameterGroupsResult",
        "shape" : "DBClusterParameterGroupsMessage"
      }
    },
    "DescribeDBClusterParameters" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns the detailed parameter list for a particular DB cluster parameter group.</p> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBClusterParametersMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBClusterParameters",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBClusterParametersResult",
        "shape" : "DBClusterParameterGroupDetails"
      }
    },
    "DescribeDBClusterSnapshotAttributes" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of DB cluster snapshot attribute names and values for a manual DB cluster snapshot.</p> <p>When sharing snapshots with other AWS accounts, <code>DescribeDBClusterSnapshotAttributes</code> returns the <code>restore</code> attribute and a list of IDs for the AWS accounts that are authorized to copy or restore the manual DB cluster snapshot. If <code>all</code> is included in the list of values for the <code>restore</code> attribute, then the manual DB cluster snapshot is public and can be copied or restored by all AWS accounts.</p> <p>To add or remove access for an AWS account to copy or restore a manual DB cluster snapshot, or to make the manual DB cluster snapshot public or private, use the <a>ModifyDBClusterSnapshotAttribute</a> API action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterSnapshotNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBClusterSnapshotAttributesMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBClusterSnapshotAttributes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBClusterSnapshotAttributesResult",
        "shape" : "DescribeDBClusterSnapshotAttributesResult"
      }
    },
    "DescribeDBClusterSnapshots" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns information about DB cluster snapshots. This API action supports pagination.</p> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterSnapshotNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBClusterSnapshotsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBClusterSnapshots",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBClusterSnapshotsResult",
        "shape" : "DBClusterSnapshotMessage"
      }
    },
    "DescribeDBClusters" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns information about provisioned Aurora DB clusters. This API supports pagination.</p> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBClustersMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBClusters",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBClustersResult",
        "shape" : "DBClusterMessage"
      }
    },
    "DescribeDBEngineVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the available DB engines.</p>",
      "errors" : null,
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBEngineVersionsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBEngineVersions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBEngineVersionsResult",
        "shape" : "DBEngineVersionMessage"
      }
    },
    "DescribeDBInstances" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns information about provisioned RDS instances. This API supports pagination.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBInstancesMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBInstances",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBInstancesResult",
        "shape" : "DBInstanceMessage"
      }
    },
    "DescribeDBLogFiles" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of DB log files for the DB instance.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBLogFilesMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBLogFiles",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBLogFilesResult",
        "shape" : "DescribeDBLogFilesResponse"
      }
    },
    "DescribeDBParameterGroups" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p> Returns a list of <code>DBParameterGroup</code> descriptions. If a <code>DBParameterGroupName</code> is specified, the list will contain only the description of the specified DB parameter group. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBParameterGroupsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBParameterGroups",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBParameterGroupsResult",
        "shape" : "DBParameterGroupsMessage"
      }
    },
    "DescribeDBParameters" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns the detailed parameter list for a particular DB parameter group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBParameterGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBParametersMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBParameters",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBParametersResult",
        "shape" : "DBParameterGroupDetails"
      }
    },
    "DescribeDBSecurityGroups" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p> Returns a list of <code>DBSecurityGroup</code> descriptions. If a <code>DBSecurityGroupName</code> is specified, the list will contain only the descriptions of the specified DB security group. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSecurityGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBSecurityGroupsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBSecurityGroups",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBSecurityGroupsResult",
        "shape" : "DBSecurityGroupMessage"
      }
    },
    "DescribeDBSnapshotAttributes" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of DB snapshot attribute names and values for a manual DB snapshot.</p> <p>When sharing snapshots with other AWS accounts, <code>DescribeDBSnapshotAttributes</code> returns the <code>restore</code> attribute and a list of IDs for the AWS accounts that are authorized to copy or restore the manual DB snapshot. If <code>all</code> is included in the list of values for the <code>restore</code> attribute, then the manual DB snapshot is public and can be copied or restored by all AWS accounts.</p> <p>To add or remove access for an AWS account to copy or restore a manual DB snapshot, or to make the manual DB snapshot public or private, use the <a>ModifyDBSnapshotAttribute</a> API action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSnapshotNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBSnapshotAttributesMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBSnapshotAttributes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBSnapshotAttributesResult",
        "shape" : "DescribeDBSnapshotAttributesResult"
      }
    },
    "DescribeDBSnapshots" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns information about DB snapshots. This API action supports pagination.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSnapshotNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBSnapshotsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBSnapshots",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBSnapshotsResult",
        "shape" : "DBSnapshotMessage"
      }
    },
    "DescribeDBSubnetGroups" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of DBSubnetGroup descriptions. If a DBSubnetGroupName is specified, the list will contain only the descriptions of the specified DBSubnetGroup.</p> <p>For an overview of CIDR ranges, go to the <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>. </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBSubnetGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeDBSubnetGroupsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeDBSubnetGroups",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeDBSubnetGroupsResult",
        "shape" : "DBSubnetGroupMessage"
      }
    },
    "DescribeEngineDefaultClusterParameters" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns the default engine and system parameter information for the cluster database engine.</p> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : null,
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeEngineDefaultClusterParametersMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeEngineDefaultClusterParameters",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeEngineDefaultClusterParametersResult",
        "shape" : "DescribeEngineDefaultClusterParametersResult"
      }
    },
    "DescribeEngineDefaultParameters" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns the default engine and system parameter information for the specified database engine.</p>",
      "errors" : null,
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeEngineDefaultParametersMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeEngineDefaultParameters",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeEngineDefaultParametersResult",
        "shape" : "DescribeEngineDefaultParametersResult"
      }
    },
    "DescribeEventCategories" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Displays a list of categories for all event source types, or, if specified, for a specified source type. You can see a list of the event categories and source types in the <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Events.html\"> Events</a> topic in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : null,
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeEventCategoriesMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeEventCategories",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeEventCategoriesResult",
        "shape" : "EventCategoriesMessage"
      }
    },
    "DescribeEventSubscriptions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists all the subscription descriptions for a customer account. The description for a subscription includes SubscriptionName, SNSTopicARN, CustomerID, SourceType, SourceID, CreationTime, and Status.</p> <p>If you specify a SubscriptionName, lists the description for that subscription.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SubscriptionNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeEventSubscriptionsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeEventSubscriptions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeEventSubscriptionsResult",
        "shape" : "EventSubscriptionsMessage"
      }
    },
    "DescribeEvents" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns events related to DB instances, DB security groups, DB snapshots, and DB parameter groups for the past 14 days. Events specific to a particular DB instance, DB security group, database snapshot, or DB parameter group can be obtained by providing the name as a parameter. By default, the past hour of events are returned.</p>",
      "errors" : null,
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeEventsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeEvents",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeEventsResult",
        "shape" : "EventsMessage"
      }
    },
    "DescribeOptionGroupOptions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes all available options.</p>",
      "errors" : null,
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeOptionGroupOptionsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeOptionGroupOptions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeOptionGroupOptionsResult",
        "shape" : "OptionGroupOptionsMessage"
      }
    },
    "DescribeOptionGroups" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes the available option groups.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OptionGroupNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeOptionGroupsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeOptionGroups",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeOptionGroupsResult",
        "shape" : "OptionGroups"
      }
    },
    "DescribeOrderableDBInstanceOptions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of orderable DB instance options for the specified engine.</p>",
      "errors" : null,
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeOrderableDBInstanceOptionsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeOrderableDBInstanceOptions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeOrderableDBInstanceOptionsResult",
        "shape" : "OrderableDBInstanceOptionsMessage"
      }
    },
    "DescribePendingMaintenanceActions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of resources (for example, DB instances) that have at least one pending maintenance action.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribePendingMaintenanceActionsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribePendingMaintenanceActions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribePendingMaintenanceActionsResult",
        "shape" : "PendingMaintenanceActionsMessage"
      }
    },
    "DescribeReservedDBInstances" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns information about reserved DB instances for this account, or about a specified reserved DB instance.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ReservedDBInstanceNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeReservedDBInstancesMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeReservedDBInstances",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeReservedDBInstancesResult",
        "shape" : "ReservedDBInstanceMessage"
      }
    },
    "DescribeReservedDBInstancesOfferings" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists available reserved DB instance offerings.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ReservedDBInstancesOfferingNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeReservedDBInstancesOfferingsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeReservedDBInstancesOfferings",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeReservedDBInstancesOfferingsResult",
        "shape" : "ReservedDBInstancesOfferingMessage"
      }
    },
    "DescribeSourceRegions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the source AWS regions where the current AWS region can create a Read Replica or copy a DB snapshot from. This API action supports pagination.</p>",
      "errors" : null,
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeSourceRegionsMessage",
        "xmlNamespace" : null
      },
      "name" : "DescribeSourceRegions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeSourceRegionsResult",
        "shape" : "SourceRegionMessage"
      }
    },
    "DownloadDBLogFilePortion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Downloads all or a portion of the specified log file, up to 1 MB in size.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBLogFileNotFoundFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DownloadDBLogFilePortionMessage",
        "xmlNamespace" : null
      },
      "name" : "DownloadDBLogFilePortion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DownloadDBLogFilePortionResult",
        "shape" : "DownloadDBLogFilePortionDetails"
      }
    },
    "FailoverDBCluster" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Forces a failover for a DB cluster.</p> <p>A failover for a DB cluster promotes one of the Aurora Replicas (read-only instances) in the DB cluster to be the primary instance (the cluster writer).</p> <p>Amazon Aurora will automatically fail over to an Aurora Replica, if one exists, when the primary instance fails. You can force a failover when you want to simulate a failure of a primary instance for testing. Because each instance in a DB cluster has its own endpoint address, you will need to clean up and re-establish any existing connections that use those endpoint addresses when the failover is complete.</p> <p>For more information on Amazon Aurora, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Aurora.html\">Aurora on Amazon RDS</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBClusterNotFoundFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBClusterStateFault"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidDBInstanceStateFault"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "FailoverDBClusterMessage",
        "xmlNamespace" : null
      },
      "name" : "FailoverDBCluster",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "FailoverDBClusterResult",
        "shape" : "FailoverDBClusterResult"
      }
    },
    "ListTagsForResource" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists all tags on an Amazon RDS resource.</p> <p>For an overview on tagging an Amazon RDS resource, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">Tagging Amazon RDS Resources</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DBInstanceNotFoundFault"
      }, {
[...]
