{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-04-21",
    "asyncClient" : "AWSRedshiftServerlessAsyncClient",
    "asyncClientBuilderClassName" : "AWSRedshiftServerlessAsyncClientBuilder",
    "asyncInterface" : "AWSRedshiftServerlessAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSRedshiftServerlessModuleInjector",
    "defaultEndpoint" : "redshift-serverless.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "redshift-serverless.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This is an interface reference for Amazon Redshift Serverless. It contains documentation for one of the programming or command line interfaces you can use to manage Amazon Redshift Serverless. </p> <p>Amazon Redshift Serverless automatically provisions data warehouse capacity and intelligently scales the underlying resources based on workload demands. Amazon Redshift Serverless adjusts capacity in seconds to deliver consistently high performance and simplified operations for even the most demanding and volatile workloads. Amazon Redshift Serverless lets you focus on using your data to acquire new insights for your business and customers. </p> <p> To learn more about Amazon Redshift Serverless, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/serverless-whatis.html\">What is Amazon Redshift Serverless</a>. </p>",
    "endpointPrefix" : "redshift-serverless",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.redshiftserverless",
    "packagePath" : "com/amazonaws/services/redshiftserverless",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Redshift Serverless",
    "serviceId" : "Redshift Serverless",
    "serviceName" : "Redshift Serverless",
    "signingName" : "redshift-serverless",
    "smokeTestsPackageName" : "com.amazonaws.services.redshiftserverless.smoketests",
    "syncClient" : "AWSRedshiftServerlessClient",
    "syncClientBuilderClassName" : "AWSRedshiftServerlessClientBuilder",
    "syncInterface" : "AWSRedshiftServerless",
    "uid" : "redshift-serverless-2021-04-21",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ConvertRecoveryPointToSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConvertRecoveryPointToSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConvertRecoveryPointToSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConvertRecoveryPointToSnapshotRequest, ConvertRecoveryPointToSnapshotResult>",
      "asyncReturnType" : "ConvertRecoveryPointToSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Converts a recovery point to a snapshot. For more information about recovery points and snapshots, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/serverless-snapshots-recovery.html\">Working with snapshots and recovery points</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request exceeded the number of tags allowed for a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service limit was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConvertRecoveryPointToSnapshotRequest",
        "variableName" : "convertRecoveryPointToSnapshotRequest",
        "variableType" : "ConvertRecoveryPointToSnapshotRequest",
        "documentation" : "",
        "simpleType" : "ConvertRecoveryPointToSnapshotRequest",
        "variableSetterType" : "ConvertRecoveryPointToSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "convertRecoveryPointToSnapshot",
      "operationName" : "ConvertRecoveryPointToSnapshot",
      "returnType" : {
        "returnType" : "ConvertRecoveryPointToSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "ConvertRecoveryPointToSnapshotResult"
    },
    "CreateEndpointAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEndpointAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEndpointAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEndpointAccessRequest, CreateEndpointAccessResult>",
      "asyncReturnType" : "CreateEndpointAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Redshift Serverless managed VPC endpoint.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service limit was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEndpointAccessRequest",
        "variableName" : "createEndpointAccessRequest",
        "variableType" : "CreateEndpointAccessRequest",
        "documentation" : "",
        "simpleType" : "CreateEndpointAccessRequest",
        "variableSetterType" : "CreateEndpointAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEndpointAccess",
      "operationName" : "CreateEndpointAccess",
      "returnType" : {
        "returnType" : "CreateEndpointAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEndpointAccessResult"
    },
    "CreateNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNamespaceRequest, CreateNamespaceResult>",
      "asyncReturnType" : "CreateNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a namespace in Amazon Redshift Serverless.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request exceeded the number of tags allowed for a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNamespaceRequest",
        "variableName" : "createNamespaceRequest",
        "variableType" : "CreateNamespaceRequest",
        "documentation" : "",
        "simpleType" : "CreateNamespaceRequest",
        "variableSetterType" : "CreateNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNamespace",
      "operationName" : "CreateNamespace",
      "returnType" : {
        "returnType" : "CreateNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNamespaceResult"
    },
    "CreateSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotRequest, CreateSnapshotResult>",
      "asyncReturnType" : "CreateSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a snapshot of all databases in a namespace. For more information about snapshots, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/serverless-snapshots-recovery.html\"> Working with snapshots and recovery points</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request exceeded the number of tags allowed for a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service limit was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSnapshotRequest",
        "variableName" : "createSnapshotRequest",
        "variableType" : "CreateSnapshotRequest",
        "documentation" : "",
        "simpleType" : "CreateSnapshotRequest",
        "variableSetterType" : "CreateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSnapshot",
      "operationName" : "CreateSnapshot",
      "returnType" : {
        "returnType" : "CreateSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSnapshotResult"
    },
    "CreateUsageLimit" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUsageLimitResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUsageLimitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUsageLimitRequest, CreateUsageLimitResult>",
      "asyncReturnType" : "CreateUsageLimitResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a usage limit for a specified Amazon Redshift Serverless usage type. The usage limit is identified by the returned usage limit identifier. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service limit was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUsageLimitRequest",
        "variableName" : "createUsageLimitRequest",
        "variableType" : "CreateUsageLimitRequest",
        "documentation" : "",
        "simpleType" : "CreateUsageLimitRequest",
        "variableSetterType" : "CreateUsageLimitRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUsageLimit",
      "operationName" : "CreateUsageLimit",
      "returnType" : {
        "returnType" : "CreateUsageLimitResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUsageLimitResult"
    },
    "CreateWorkgroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkgroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkgroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkgroupRequest, CreateWorkgroupResult>",
      "asyncReturnType" : "CreateWorkgroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an workgroup in Amazon Redshift Serverless.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientCapacityException",
        "documentation" : "<p>There is an insufficient capacity to perform the action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request exceeded the number of tags allowed for a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkgroupRequest",
        "variableName" : "createWorkgroupRequest",
        "variableType" : "CreateWorkgroupRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkgroupRequest",
        "variableSetterType" : "CreateWorkgroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkgroup",
      "operationName" : "CreateWorkgroup",
      "returnType" : {
        "returnType" : "CreateWorkgroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkgroupResult"
    },
    "DeleteEndpointAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointAccessRequest, DeleteEndpointAccessResult>",
      "asyncReturnType" : "DeleteEndpointAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Amazon Redshift Serverless managed VPC endpoint.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEndpointAccessRequest",
        "variableName" : "deleteEndpointAccessRequest",
        "variableType" : "DeleteEndpointAccessRequest",
        "documentation" : "",
        "simpleType" : "DeleteEndpointAccessRequest",
        "variableSetterType" : "DeleteEndpointAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEndpointAccess",
      "operationName" : "DeleteEndpointAccess",
      "returnType" : {
        "returnType" : "DeleteEndpointAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEndpointAccessResult"
    },
    "DeleteNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNamespaceRequest, DeleteNamespaceResult>",
      "asyncReturnType" : "DeleteNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a namespace from Amazon Redshift Serverless. Before you delete the namespace, you can create a final snapshot that has all of the data within the namespace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNamespaceRequest",
        "variableName" : "deleteNamespaceRequest",
        "variableType" : "DeleteNamespaceRequest",
        "documentation" : "",
        "simpleType" : "DeleteNamespaceRequest",
        "variableSetterType" : "DeleteNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNamespace",
      "operationName" : "DeleteNamespace",
      "returnType" : {
        "returnType" : "DeleteNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNamespaceResult"
    },
    "DeleteResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourcePolicyRequest, DeleteResourcePolicyResult>",
      "asyncReturnType" : "DeleteResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified resource policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourcePolicyRequest",
        "variableName" : "deleteResourcePolicyRequest",
        "variableType" : "DeleteResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourcePolicyRequest",
        "variableSetterType" : "DeleteResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourcePolicy",
      "operationName" : "DeleteResourcePolicy",
      "returnType" : {
        "returnType" : "DeleteResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourcePolicyResult"
    },
    "DeleteSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSnapshotRequest, DeleteSnapshotResult>",
      "asyncReturnType" : "DeleteSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a snapshot from Amazon Redshift Serverless.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSnapshotRequest",
        "variableName" : "deleteSnapshotRequest",
        "variableType" : "DeleteSnapshotRequest",
        "documentation" : "",
        "simpleType" : "DeleteSnapshotRequest",
        "variableSetterType" : "DeleteSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSnapshot",
      "operationName" : "DeleteSnapshot",
      "returnType" : {
        "returnType" : "DeleteSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSnapshotResult"
    },
    "DeleteUsageLimit" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUsageLimitResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUsageLimitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUsageLimitRequest, DeleteUsageLimitResult>",
      "asyncReturnType" : "DeleteUsageLimitResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a usage limit from Amazon Redshift Serverless.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUsageLimitRequest",
        "variableName" : "deleteUsageLimitRequest",
        "variableType" : "DeleteUsageLimitRequest",
        "documentation" : "",
        "simpleType" : "DeleteUsageLimitRequest",
        "variableSetterType" : "DeleteUsageLimitRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUsageLimit",
      "operationName" : "DeleteUsageLimit",
      "returnType" : {
        "returnType" : "DeleteUsageLimitResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUsageLimitResult"
    },
    "DeleteWorkgroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkgroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkgroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkgroupRequest, DeleteWorkgroupResult>",
      "asyncReturnType" : "DeleteWorkgroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a workgroup.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkgroupRequest",
        "variableName" : "deleteWorkgroupRequest",
        "variableType" : "DeleteWorkgroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkgroupRequest",
        "variableSetterType" : "DeleteWorkgroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkgroup",
      "operationName" : "DeleteWorkgroup",
      "returnType" : {
        "returnType" : "DeleteWorkgroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkgroupResult"
    },
    "GetCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCredentialsRequest, GetCredentialsResult>",
      "asyncReturnType" : "GetCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a database user name and temporary password with temporary authorization to log in to Amazon Redshift Serverless.</p> <p>By default, the temporary credentials expire in 900 seconds. You can optionally specify a duration between 900 seconds (15 minutes) and 3600 seconds (60 minutes).</p> <pre><code> &lt;p&gt;The Identity and Access Management (IAM) user or role that runs GetCredentials must have an IAM policy attached that allows access to all necessary actions and resources.&lt;/p&gt; &lt;p&gt;If the &lt;code&gt;DbName&lt;/code&gt; parameter is specified, the IAM policy must allow access to the resource dbname for the specified database name.&lt;/p&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCredentialsRequest",
        "variableName" : "getCredentialsRequest",
        "variableType" : "GetCredentialsRequest",
        "documentation" : "",
        "simpleType" : "GetCredentialsRequest",
        "variableSetterType" : "GetCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCredentials",
      "operationName" : "GetCredentials",
      "returnType" : {
        "returnType" : "GetCredentialsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCredentialsResult"
    },
    "GetEndpointAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEndpointAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEndpointAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEndpointAccessRequest, GetEndpointAccessResult>",
      "asyncReturnType" : "GetEndpointAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information, such as the name, about a VPC endpoint.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEndpointAccessRequest",
        "variableName" : "getEndpointAccessRequest",
        "variableType" : "GetEndpointAccessRequest",
        "documentation" : "",
        "simpleType" : "GetEndpointAccessRequest",
        "variableSetterType" : "GetEndpointAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEndpointAccess",
      "operationName" : "GetEndpointAccess",
      "returnType" : {
        "returnType" : "GetEndpointAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEndpointAccessResult"
    },
    "GetNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNamespaceRequest, GetNamespaceResult>",
      "asyncReturnType" : "GetNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a namespace in Amazon Redshift Serverless.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNamespaceRequest",
        "variableName" : "getNamespaceRequest",
        "variableType" : "GetNamespaceRequest",
        "documentation" : "",
        "simpleType" : "GetNamespaceRequest",
        "variableSetterType" : "GetNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNamespace",
      "operationName" : "GetNamespace",
      "returnType" : {
        "returnType" : "GetNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNamespaceResult"
    },
    "GetRecoveryPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecoveryPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecoveryPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecoveryPointRequest, GetRecoveryPointResult>",
      "asyncReturnType" : "GetRecoveryPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a recovery point.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecoveryPointRequest",
        "variableName" : "getRecoveryPointRequest",
        "variableType" : "GetRecoveryPointRequest",
        "documentation" : "",
        "simpleType" : "GetRecoveryPointRequest",
        "variableSetterType" : "GetRecoveryPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecoveryPoint",
      "operationName" : "GetRecoveryPoint",
      "returnType" : {
        "returnType" : "GetRecoveryPointResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRecoveryPointResult"
    },
    "GetResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcePolicyRequest, GetResourcePolicyResult>",
      "asyncReturnType" : "GetResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a resource policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourcePolicyRequest",
        "variableName" : "getResourcePolicyRequest",
        "variableType" : "GetResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "GetResourcePolicyRequest",
        "variableSetterType" : "GetResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourcePolicy",
      "operationName" : "GetResourcePolicy",
      "returnType" : {
        "returnType" : "GetResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourcePolicyResult"
    },
    "GetSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnapshotRequest, GetSnapshotResult>",
      "asyncReturnType" : "GetSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSnapshotRequest",
        "variableName" : "getSnapshotRequest",
        "variableType" : "GetSnapshotRequest",
        "documentation" : "",
        "simpleType" : "GetSnapshotRequest",
        "variableSetterType" : "GetSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSnapshot",
      "operationName" : "GetSnapshot",
      "returnType" : {
        "returnType" : "GetSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSnapshotResult"
    },
    "GetTableRestoreStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTableRestoreStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTableRestoreStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTableRestoreStatusRequest, GetTableRestoreStatusResult>",
      "asyncReturnType" : "GetTableRestoreStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a <code>TableRestoreStatus</code> object.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTableRestoreStatusRequest",
        "variableName" : "getTableRestoreStatusRequest",
        "variableType" : "GetTableRestoreStatusRequest",
        "documentation" : "",
        "simpleType" : "GetTableRestoreStatusRequest",
        "variableSetterType" : "GetTableRestoreStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTableRestoreStatus",
      "operationName" : "GetTableRestoreStatus",
      "returnType" : {
        "returnType" : "GetTableRestoreStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTableRestoreStatusResult"
    },
    "GetUsageLimit" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUsageLimitResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUsageLimitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUsageLimitRequest, GetUsageLimitResult>",
      "asyncReturnType" : "GetUsageLimitResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a usage limit.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUsageLimitRequest",
        "variableName" : "getUsageLimitRequest",
        "variableType" : "GetUsageLimitRequest",
        "documentation" : "",
        "simpleType" : "GetUsageLimitRequest",
        "variableSetterType" : "GetUsageLimitRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUsageLimit",
      "operationName" : "GetUsageLimit",
      "returnType" : {
        "returnType" : "GetUsageLimitResult",
        "documentation" : null
      },
      "syncReturnType" : "GetUsageLimitResult"
    },
    "GetWorkgroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkgroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkgroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkgroupRequest, GetWorkgroupResult>",
      "asyncReturnType" : "GetWorkgroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific workgroup.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkgroupRequest",
        "variableName" : "getWorkgroupRequest",
        "variableType" : "GetWorkgroupRequest",
        "documentation" : "",
        "simpleType" : "GetWorkgroupRequest",
        "variableSetterType" : "GetWorkgroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkgroup",
      "operationName" : "GetWorkgroup",
      "returnType" : {
        "returnType" : "GetWorkgroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWorkgroupResult"
    },
    "ListEndpointAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEndpointAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEndpointAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEndpointAccessRequest, ListEndpointAccessResult>",
      "asyncReturnType" : "ListEndpointAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>EndpointAccess</code> objects and relevant information.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEndpointAccessRequest",
        "variableName" : "listEndpointAccessRequest",
        "variableType" : "ListEndpointAccessRequest",
        "documentation" : "",
        "simpleType" : "ListEndpointAccessRequest",
        "variableSetterType" : "ListEndpointAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEndpointAccess",
      "operationName" : "ListEndpointAccess",
      "returnType" : {
        "returnType" : "ListEndpointAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEndpointAccessResult"
    },
    "ListNamespaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNamespacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNamespacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNamespacesRequest, ListNamespacesResult>",
      "asyncReturnType" : "ListNamespacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a list of specified namespaces.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNamespacesRequest",
        "variableName" : "listNamespacesRequest",
        "variableType" : "ListNamespacesRequest",
        "documentation" : "",
        "simpleType" : "ListNamespacesRequest",
        "variableSetterType" : "ListNamespacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNamespaces",
      "operationName" : "ListNamespaces",
      "returnType" : {
        "returnType" : "ListNamespacesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNamespacesResult"
    },
    "ListRecoveryPoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecoveryPointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecoveryPointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecoveryPointsRequest, ListRecoveryPointsResult>",
      "asyncReturnType" : "ListRecoveryPointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of recovery points.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecoveryPointsRequest",
        "variableName" : "listRecoveryPointsRequest",
        "variableType" : "ListRecoveryPointsRequest",
        "documentation" : "",
        "simpleType" : "ListRecoveryPointsRequest",
        "variableSetterType" : "ListRecoveryPointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecoveryPoints",
      "operationName" : "ListRecoveryPoints",
      "returnType" : {
        "returnType" : "ListRecoveryPointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecoveryPointsResult"
    },
    "ListSnapshots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSnapshotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSnapshotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSnapshotsRequest, ListSnapshotsResult>",
      "asyncReturnType" : "ListSnapshotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of snapshots.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSnapshotsRequest",
        "variableName" : "listSnapshotsRequest",
        "variableType" : "ListSnapshotsRequest",
        "documentation" : "",
        "simpleType" : "ListSnapshotsRequest",
        "variableSetterType" : "ListSnapshotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSnapshots",
      "operationName" : "ListSnapshots",
      "returnType" : {
        "returnType" : "ListSnapshotsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSnapshotsResult"
    },
    "ListTableRestoreStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTableRestoreStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTableRestoreStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTableRestoreStatusRequest, ListTableRestoreStatusResult>",
      "asyncReturnType" : "ListTableRestoreStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about an array of <code>TableRestoreStatus</code> objects.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidPaginationException",
        "documentation" : "<p>The provided pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTableRestoreStatusRequest",
        "variableName" : "listTableRestoreStatusRequest",
        "variableType" : "ListTableRestoreStatusRequest",
        "documentation" : "",
        "simpleType" : "ListTableRestoreStatusRequest",
        "variableSetterType" : "ListTableRestoreStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTableRestoreStatus",
      "operationName" : "ListTableRestoreStatus",
      "returnType" : {
        "returnType" : "ListTableRestoreStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTableRestoreStatusResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags assigned to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListUsageLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsageLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsageLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsageLimitsRequest, ListUsageLimitsResult>",
      "asyncReturnType" : "ListUsageLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all usage limits within Amazon Redshift Serverless.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationException",
        "documentation" : "<p>The provided pagination token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsageLimitsRequest",
        "variableName" : "listUsageLimitsRequest",
        "variableType" : "ListUsageLimitsRequest",
        "documentation" : "",
        "simpleType" : "ListUsageLimitsRequest",
        "variableSetterType" : "ListUsageLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsageLimits",
      "operationName" : "ListUsageLimits",
      "returnType" : {
        "returnType" : "ListUsageLimitsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsageLimitsResult"
    },
    "ListWorkgroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkgroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkgroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkgroupsRequest, ListWorkgroupsResult>",
      "asyncReturnType" : "ListWorkgroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a list of specified workgroups.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkgroupsRequest",
        "variableName" : "listWorkgroupsRequest",
        "variableType" : "ListWorkgroupsRequest",
        "documentation" : "",
        "simpleType" : "ListWorkgroupsRequest",
        "variableSetterType" : "ListWorkgroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkgroups",
      "operationName" : "ListWorkgroups",
      "returnType" : {
        "returnType" : "ListWorkgroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkgroupsResult"
    },
    "PutResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResourcePolicyRequest, PutResourcePolicyResult>",
      "asyncReturnType" : "PutResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a resource policy. Currently, you can use policies to share snapshots across Amazon Web Services accounts.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service limit was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutResourcePolicyRequest",
        "variableName" : "putResourcePolicyRequest",
        "variableType" : "PutResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "PutResourcePolicyRequest",
        "variableSetterType" : "PutResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResourcePolicy",
      "operationName" : "PutResourcePolicy",
      "returnType" : {
        "returnType" : "PutResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutResourcePolicyResult"
    },
    "RestoreFromRecoveryPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreFromRecoveryPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreFromRecoveryPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreFromRecoveryPointRequest, RestoreFromRecoveryPointResult>",
      "asyncReturnType" : "RestoreFromRecoveryPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Restore the data from a recovery point.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RestoreFromRecoveryPointRequest",
        "variableName" : "restoreFromRecoveryPointRequest",
        "variableType" : "RestoreFromRecoveryPointRequest",
        "documentation" : "",
        "simpleType" : "RestoreFromRecoveryPointRequest",
        "variableSetterType" : "RestoreFromRecoveryPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restoreFromRecoveryPoint",
      "operationName" : "RestoreFromRecoveryPoint",
      "returnType" : {
        "returnType" : "RestoreFromRecoveryPointResult",
        "documentation" : null
      },
      "syncReturnType" : "RestoreFromRecoveryPointResult"
    },
    "RestoreFromSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreFromSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreFromSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreFromSnapshotRequest, RestoreFromSnapshotResult>",
      "asyncReturnType" : "RestoreFromSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Restores a namespace from a snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service limit was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RestoreFromSnapshotRequest",
        "variableName" : "restoreFromSnapshotRequest",
        "variableType" : "RestoreFromSnapshotRequest",
        "documentation" : "",
        "simpleType" : "RestoreFromSnapshotRequest",
        "variableSetterType" : "RestoreFromSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restoreFromSnapshot",
      "operationName" : "RestoreFromSnapshot",
      "returnType" : {
        "returnType" : "RestoreFromSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "RestoreFromSnapshotResult"
    },
    "RestoreTableFromSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreTableFromSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreTableFromSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreTableFromSnapshotRequest, RestoreTableFromSnapshotResult>",
      "asyncReturnType" : "RestoreTableFromSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Restores a table from a snapshot to your Amazon Redshift Serverless instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RestoreTableFromSnapshotRequest",
        "variableName" : "restoreTableFromSnapshotRequest",
        "variableType" : "RestoreTableFromSnapshotRequest",
        "documentation" : "",
        "simpleType" : "RestoreTableFromSnapshotRequest",
        "variableSetterType" : "RestoreTableFromSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restoreTableFromSnapshot",
      "operationName" : "RestoreTableFromSnapshot",
      "returnType" : {
        "returnType" : "RestoreTableFromSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "RestoreTableFromSnapshotResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one or more tags to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request exceeded the number of tags allowed for a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag or set of tags from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateEndpointAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEndpointAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEndpointAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEndpointAccessRequest, UpdateEndpointAccessResult>",
      "asyncReturnType" : "UpdateEndpointAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an Amazon Redshift Serverless managed endpoint.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEndpointAccessRequest",
        "variableName" : "updateEndpointAccessRequest",
        "variableType" : "UpdateEndpointAccessRequest",
        "documentation" : "",
        "simpleType" : "UpdateEndpointAccessRequest",
        "variableSetterType" : "UpdateEndpointAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEndpointAccess",
      "operationName" : "UpdateEndpointAccess",
      "returnType" : {
        "returnType" : "UpdateEndpointAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEndpointAccessResult"
    },
    "UpdateNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateNamespaceRequest, UpdateNamespaceResult>",
      "asyncReturnType" : "UpdateNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a namespace with the specified settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateNamespaceRequest",
        "variableName" : "updateNamespaceRequest",
        "variableType" : "UpdateNamespaceRequest",
        "documentation" : "",
        "simpleType" : "UpdateNamespaceRequest",
        "variableSetterType" : "UpdateNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateNamespace",
      "operationName" : "UpdateNamespace",
      "returnType" : {
        "returnType" : "UpdateNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateNamespaceResult"
    },
    "UpdateSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSnapshotRequest, UpdateSnapshotResult>",
      "asyncReturnType" : "UpdateSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSnapshotRequest",
        "variableName" : "updateSnapshotRequest",
        "variableType" : "UpdateSnapshotRequest",
        "documentation" : "",
        "simpleType" : "UpdateSnapshotRequest",
        "variableSetterType" : "UpdateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSnapshot",
      "operationName" : "UpdateSnapshot",
      "returnType" : {
        "returnType" : "UpdateSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSnapshotResult"
    },
    "UpdateUsageLimit" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUsageLimitResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUsageLimitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUsageLimitRequest, UpdateUsageLimitResult>",
      "asyncReturnType" : "UpdateUsageLimitResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a usage limit in Amazon Redshift Serverless. You can't update the usage type or period of a usage limit.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUsageLimitRequest",
        "variableName" : "updateUsageLimitRequest",
        "variableType" : "UpdateUsageLimitRequest",
        "documentation" : "",
        "simpleType" : "UpdateUsageLimitRequest",
        "variableSetterType" : "UpdateUsageLimitRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUsageLimit",
      "operationName" : "UpdateUsageLimit",
      "returnType" : {
        "returnType" : "UpdateUsageLimitResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUsageLimitResult"
    },
    "UpdateWorkgroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkgroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkgroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkgroupRequest, UpdateWorkgroupResult>",
      "asyncReturnType" : "UpdateWorkgroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a workgroup with the specified configuration settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientCapacityException",
        "documentation" : "<p>There is an insufficient capacity to perform the action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The submitted action has conflicts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkgroupRequest",
        "variableName" : "updateWorkgroupRequest",
        "variableType" : "UpdateWorkgroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkgroupRequest",
        "variableSetterType" : "UpdateWorkgroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkgroup",
      "operationName" : "UpdateWorkgroup",
      "returnType" : {
        "returnType" : "UpdateWorkgroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkgroupResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.redshiftserverless.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "code",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param code */",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "code",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param code */",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.redshiftserverless.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ConfigParameter" : {
      "c2jName" : "ConfigParameter",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An array of key-value pairs to set for advanced control over Amazon Redshift Serverless.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.redshiftserverless.model.ConfigParameter",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "parameterKey",
        "c2jShape" : "ParameterKey",
        "deprecated" : false,
[...]
