{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-04-30",
    "asyncClient" : "AWSResilienceHubAsyncClient",
    "asyncClientBuilderClassName" : "AWSResilienceHubAsyncClientBuilder",
    "asyncInterface" : "AWSResilienceHubAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSResilienceHubModuleInjector",
    "defaultEndpoint" : "resiliencehub.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "resiliencehub.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Resilience Hub helps you proactively prepare and protect your Amazon Web Services applications from disruptions. Resilience Hub offers continuous resiliency assessment and validation that integrates into your software development lifecycle. This enables you to uncover resiliency weaknesses, ensure recovery time objective (RTO) and recovery point objective (RPO) targets for your applications are met, and resolve issues before they are released into production. </p>",
    "endpointPrefix" : "resiliencehub",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.resiliencehub",
    "packagePath" : "com/amazonaws/services/resiliencehub",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Resilience Hub",
    "serviceId" : "resiliencehub",
    "serviceName" : "AWS Resilience Hub",
    "signingName" : "resiliencehub",
    "smokeTestsPackageName" : "com.amazonaws.services.resiliencehub.smoketests",
    "syncClient" : "AWSResilienceHubClient",
    "syncClientBuilderClassName" : "AWSResilienceHubClientBuilder",
    "syncInterface" : "AWSResilienceHub",
    "uid" : "resiliencehub-2020-04-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddDraftAppVersionResourceMappings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddDraftAppVersionResourceMappingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddDraftAppVersionResourceMappingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddDraftAppVersionResourceMappingsRequest, AddDraftAppVersionResourceMappingsResult>",
      "asyncReturnType" : "AddDraftAppVersionResourceMappingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the resource mapping for the draft application version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddDraftAppVersionResourceMappingsRequest",
        "variableName" : "addDraftAppVersionResourceMappingsRequest",
        "variableType" : "AddDraftAppVersionResourceMappingsRequest",
        "documentation" : "",
        "simpleType" : "AddDraftAppVersionResourceMappingsRequest",
        "variableSetterType" : "AddDraftAppVersionResourceMappingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addDraftAppVersionResourceMappings",
      "operationName" : "AddDraftAppVersionResourceMappings",
      "returnType" : {
        "returnType" : "AddDraftAppVersionResourceMappingsResult",
        "documentation" : null
      },
      "syncReturnType" : "AddDraftAppVersionResourceMappingsResult"
    },
    "CreateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppRequest, CreateAppResult>",
      "asyncReturnType" : "CreateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Resilience Hub application. A Resilience Hub application is a collection of Amazon Web Services resources structured to prevent and recover Amazon Web Services application disruptions. To describe a Resilience Hub application, you provide an application name, resources from one or more–up to five–CloudFormation stacks, and an appropriate resiliency policy.</p> <p>After you create a Resilience Hub application, you publish it so that you can run a resiliency assessment on it. You can then use recommendations from the assessment to improve resiliency by running another assessment, comparing results, and then iterating the process until you achieve your goals for recovery time objective (RTO) and recovery point objective (RPO).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppRequest",
        "variableName" : "createAppRequest",
        "variableType" : "CreateAppRequest",
        "documentation" : "",
        "simpleType" : "CreateAppRequest",
        "variableSetterType" : "CreateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApp",
      "operationName" : "CreateApp",
      "returnType" : {
        "returnType" : "CreateAppResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppResult"
    },
    "CreateRecommendationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRecommendationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRecommendationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRecommendationTemplateRequest, CreateRecommendationTemplateResult>",
      "asyncReturnType" : "CreateRecommendationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new recommendation template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRecommendationTemplateRequest",
        "variableName" : "createRecommendationTemplateRequest",
        "variableType" : "CreateRecommendationTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateRecommendationTemplateRequest",
        "variableSetterType" : "CreateRecommendationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRecommendationTemplate",
      "operationName" : "CreateRecommendationTemplate",
      "returnType" : {
        "returnType" : "CreateRecommendationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRecommendationTemplateResult"
    },
    "CreateResiliencyPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResiliencyPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResiliencyPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResiliencyPolicyRequest, CreateResiliencyPolicyResult>",
      "asyncReturnType" : "CreateResiliencyPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a resiliency policy for an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResiliencyPolicyRequest",
        "variableName" : "createResiliencyPolicyRequest",
        "variableType" : "CreateResiliencyPolicyRequest",
        "documentation" : "",
        "simpleType" : "CreateResiliencyPolicyRequest",
        "variableSetterType" : "CreateResiliencyPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResiliencyPolicy",
      "operationName" : "CreateResiliencyPolicy",
      "returnType" : {
        "returnType" : "CreateResiliencyPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResiliencyPolicyResult"
    },
    "DeleteApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppRequest, DeleteAppResult>",
      "asyncReturnType" : "DeleteAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AWS Resilience Hub application. This is a destructive action that can't be undone.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppRequest",
        "variableName" : "deleteAppRequest",
        "variableType" : "DeleteAppRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppRequest",
        "variableSetterType" : "DeleteAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApp",
      "operationName" : "DeleteApp",
      "returnType" : {
        "returnType" : "DeleteAppResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppResult"
    },
    "DeleteAppAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppAssessmentRequest, DeleteAppAssessmentResult>",
      "asyncReturnType" : "DeleteAppAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AWS Resilience Hub application assessment. This is a destructive action that can't be undone.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppAssessmentRequest",
        "variableName" : "deleteAppAssessmentRequest",
        "variableType" : "DeleteAppAssessmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppAssessmentRequest",
        "variableSetterType" : "DeleteAppAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppAssessment",
      "operationName" : "DeleteAppAssessment",
      "returnType" : {
        "returnType" : "DeleteAppAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppAssessmentResult"
    },
    "DeleteRecommendationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRecommendationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRecommendationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRecommendationTemplateRequest, DeleteRecommendationTemplateResult>",
      "asyncReturnType" : "DeleteRecommendationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a recommendation template. This is a destructive action that can't be undone.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRecommendationTemplateRequest",
        "variableName" : "deleteRecommendationTemplateRequest",
        "variableType" : "DeleteRecommendationTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteRecommendationTemplateRequest",
        "variableSetterType" : "DeleteRecommendationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRecommendationTemplate",
      "operationName" : "DeleteRecommendationTemplate",
      "returnType" : {
        "returnType" : "DeleteRecommendationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRecommendationTemplateResult"
    },
    "DeleteResiliencyPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResiliencyPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResiliencyPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResiliencyPolicyRequest, DeleteResiliencyPolicyResult>",
      "asyncReturnType" : "DeleteResiliencyPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a resiliency policy. This is a destructive action that can't be undone.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResiliencyPolicyRequest",
        "variableName" : "deleteResiliencyPolicyRequest",
        "variableType" : "DeleteResiliencyPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteResiliencyPolicyRequest",
        "variableSetterType" : "DeleteResiliencyPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResiliencyPolicy",
      "operationName" : "DeleteResiliencyPolicy",
      "returnType" : {
        "returnType" : "DeleteResiliencyPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResiliencyPolicyResult"
    },
    "DescribeApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppRequest, DescribeAppResult>",
      "asyncReturnType" : "DescribeAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an AWS Resilience Hub application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppRequest",
        "variableName" : "describeAppRequest",
        "variableType" : "DescribeAppRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppRequest",
        "variableSetterType" : "DescribeAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApp",
      "operationName" : "DescribeApp",
      "returnType" : {
        "returnType" : "DescribeAppResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppResult"
    },
    "DescribeAppAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppAssessmentRequest, DescribeAppAssessmentResult>",
      "asyncReturnType" : "DescribeAppAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an assessment for an AWS Resilience Hub application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppAssessmentRequest",
        "variableName" : "describeAppAssessmentRequest",
        "variableType" : "DescribeAppAssessmentRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppAssessmentRequest",
        "variableSetterType" : "DescribeAppAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppAssessment",
      "operationName" : "DescribeAppAssessment",
      "returnType" : {
        "returnType" : "DescribeAppAssessmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppAssessmentResult"
    },
    "DescribeAppVersionResourcesResolutionStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppVersionResourcesResolutionStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppVersionResourcesResolutionStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppVersionResourcesResolutionStatusRequest, DescribeAppVersionResourcesResolutionStatusResult>",
      "asyncReturnType" : "DescribeAppVersionResourcesResolutionStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the resolution status for the specified resolution identifier for an application version. If <code>resolutionId</code> is not specified, the current resolution status is returned.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppVersionResourcesResolutionStatusRequest",
        "variableName" : "describeAppVersionResourcesResolutionStatusRequest",
        "variableType" : "DescribeAppVersionResourcesResolutionStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppVersionResourcesResolutionStatusRequest",
        "variableSetterType" : "DescribeAppVersionResourcesResolutionStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppVersionResourcesResolutionStatus",
      "operationName" : "DescribeAppVersionResourcesResolutionStatus",
      "returnType" : {
        "returnType" : "DescribeAppVersionResourcesResolutionStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppVersionResourcesResolutionStatusResult"
    },
    "DescribeAppVersionTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAppVersionTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAppVersionTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAppVersionTemplateRequest, DescribeAppVersionTemplateResult>",
      "asyncReturnType" : "DescribeAppVersionTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes details about an AWS Resilience Hub </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAppVersionTemplateRequest",
        "variableName" : "describeAppVersionTemplateRequest",
        "variableType" : "DescribeAppVersionTemplateRequest",
        "documentation" : "",
        "simpleType" : "DescribeAppVersionTemplateRequest",
        "variableSetterType" : "DescribeAppVersionTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAppVersionTemplate",
      "operationName" : "DescribeAppVersionTemplate",
      "returnType" : {
        "returnType" : "DescribeAppVersionTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAppVersionTemplateResult"
    },
    "DescribeDraftAppVersionResourcesImportStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDraftAppVersionResourcesImportStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDraftAppVersionResourcesImportStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDraftAppVersionResourcesImportStatusRequest, DescribeDraftAppVersionResourcesImportStatusResult>",
      "asyncReturnType" : "DescribeDraftAppVersionResourcesImportStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the status of importing resources to an application version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDraftAppVersionResourcesImportStatusRequest",
        "variableName" : "describeDraftAppVersionResourcesImportStatusRequest",
        "variableType" : "DescribeDraftAppVersionResourcesImportStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeDraftAppVersionResourcesImportStatusRequest",
        "variableSetterType" : "DescribeDraftAppVersionResourcesImportStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDraftAppVersionResourcesImportStatus",
      "operationName" : "DescribeDraftAppVersionResourcesImportStatus",
      "returnType" : {
        "returnType" : "DescribeDraftAppVersionResourcesImportStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDraftAppVersionResourcesImportStatusResult"
    },
    "DescribeResiliencyPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResiliencyPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResiliencyPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResiliencyPolicyRequest, DescribeResiliencyPolicyResult>",
      "asyncReturnType" : "DescribeResiliencyPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a specified resiliency policy for an AWS Resilience Hub application. The returned policy object includes creation time, data location constraints, the Amazon Resource Name (ARN) for the policy, tags, tier, and more.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeResiliencyPolicyRequest",
        "variableName" : "describeResiliencyPolicyRequest",
        "variableType" : "DescribeResiliencyPolicyRequest",
        "documentation" : "",
        "simpleType" : "DescribeResiliencyPolicyRequest",
        "variableSetterType" : "DescribeResiliencyPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResiliencyPolicy",
      "operationName" : "DescribeResiliencyPolicy",
      "returnType" : {
        "returnType" : "DescribeResiliencyPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResiliencyPolicyResult"
    },
    "ImportResourcesToDraftAppVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportResourcesToDraftAppVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportResourcesToDraftAppVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportResourcesToDraftAppVersionRequest, ImportResourcesToDraftAppVersionResult>",
      "asyncReturnType" : "ImportResourcesToDraftAppVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports resources from sources such as a CloudFormation stack, resource-groups, or application registry app to a draft application version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportResourcesToDraftAppVersionRequest",
        "variableName" : "importResourcesToDraftAppVersionRequest",
        "variableType" : "ImportResourcesToDraftAppVersionRequest",
        "documentation" : "",
        "simpleType" : "ImportResourcesToDraftAppVersionRequest",
        "variableSetterType" : "ImportResourcesToDraftAppVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importResourcesToDraftAppVersion",
      "operationName" : "ImportResourcesToDraftAppVersion",
      "returnType" : {
        "returnType" : "ImportResourcesToDraftAppVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportResourcesToDraftAppVersionResult"
    },
    "ListAlarmRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAlarmRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAlarmRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAlarmRecommendationsRequest, ListAlarmRecommendationsResult>",
      "asyncReturnType" : "ListAlarmRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the alarm recommendations for a AWS Resilience Hub application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAlarmRecommendationsRequest",
        "variableName" : "listAlarmRecommendationsRequest",
        "variableType" : "ListAlarmRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ListAlarmRecommendationsRequest",
        "variableSetterType" : "ListAlarmRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAlarmRecommendations",
      "operationName" : "ListAlarmRecommendations",
      "returnType" : {
        "returnType" : "ListAlarmRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAlarmRecommendationsResult"
    },
    "ListAppAssessments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppAssessmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppAssessmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppAssessmentsRequest, ListAppAssessmentsResult>",
      "asyncReturnType" : "ListAppAssessmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the assessments for an AWS Resilience Hub application. You can use request parameters to refine the results for the response object.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppAssessmentsRequest",
        "variableName" : "listAppAssessmentsRequest",
        "variableType" : "ListAppAssessmentsRequest",
        "documentation" : "",
        "simpleType" : "ListAppAssessmentsRequest",
        "variableSetterType" : "ListAppAssessmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppAssessments",
      "operationName" : "ListAppAssessments",
      "returnType" : {
        "returnType" : "ListAppAssessmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppAssessmentsResult"
    },
    "ListAppComponentCompliances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppComponentCompliancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppComponentCompliancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppComponentCompliancesRequest, ListAppComponentCompliancesResult>",
      "asyncReturnType" : "ListAppComponentCompliancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the compliances for an AWS Resilience Hub component.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppComponentCompliancesRequest",
        "variableName" : "listAppComponentCompliancesRequest",
        "variableType" : "ListAppComponentCompliancesRequest",
        "documentation" : "",
        "simpleType" : "ListAppComponentCompliancesRequest",
        "variableSetterType" : "ListAppComponentCompliancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppComponentCompliances",
      "operationName" : "ListAppComponentCompliances",
      "returnType" : {
        "returnType" : "ListAppComponentCompliancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppComponentCompliancesResult"
    },
    "ListAppComponentRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppComponentRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppComponentRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppComponentRecommendationsRequest, ListAppComponentRecommendationsResult>",
      "asyncReturnType" : "ListAppComponentRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the recommendations for an AWS Resilience Hub component.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppComponentRecommendationsRequest",
        "variableName" : "listAppComponentRecommendationsRequest",
        "variableType" : "ListAppComponentRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ListAppComponentRecommendationsRequest",
        "variableSetterType" : "ListAppComponentRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppComponentRecommendations",
      "operationName" : "ListAppComponentRecommendations",
      "returnType" : {
        "returnType" : "ListAppComponentRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppComponentRecommendationsResult"
    },
    "ListAppVersionResourceMappings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppVersionResourceMappingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppVersionResourceMappingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppVersionResourceMappingsRequest, ListAppVersionResourceMappingsResult>",
      "asyncReturnType" : "ListAppVersionResourceMappingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists how the resources in an application version are mapped/sourced from. Mappings can be physical resource identifiers, CloudFormation stacks, resource-groups, or an application registry app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppVersionResourceMappingsRequest",
        "variableName" : "listAppVersionResourceMappingsRequest",
        "variableType" : "ListAppVersionResourceMappingsRequest",
        "documentation" : "",
        "simpleType" : "ListAppVersionResourceMappingsRequest",
        "variableSetterType" : "ListAppVersionResourceMappingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppVersionResourceMappings",
      "operationName" : "ListAppVersionResourceMappings",
      "returnType" : {
        "returnType" : "ListAppVersionResourceMappingsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppVersionResourceMappingsResult"
    },
    "ListAppVersionResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppVersionResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppVersionResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppVersionResourcesRequest, ListAppVersionResourcesResult>",
      "asyncReturnType" : "ListAppVersionResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the resources in an application version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppVersionResourcesRequest",
        "variableName" : "listAppVersionResourcesRequest",
        "variableType" : "ListAppVersionResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListAppVersionResourcesRequest",
        "variableSetterType" : "ListAppVersionResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppVersionResources",
      "operationName" : "ListAppVersionResources",
      "returnType" : {
        "returnType" : "ListAppVersionResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppVersionResourcesResult"
    },
    "ListAppVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppVersionsRequest, ListAppVersionsResult>",
      "asyncReturnType" : "ListAppVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the different versions for the Resilience Hub applications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppVersionsRequest",
        "variableName" : "listAppVersionsRequest",
        "variableType" : "ListAppVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListAppVersionsRequest",
        "variableSetterType" : "ListAppVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppVersions",
      "operationName" : "ListAppVersions",
      "returnType" : {
        "returnType" : "ListAppVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppVersionsResult"
    },
    "ListApps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppsRequest, ListAppsResult>",
      "asyncReturnType" : "ListAppsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your Resilience Hub applications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppsRequest",
        "variableName" : "listAppsRequest",
        "variableType" : "ListAppsRequest",
        "documentation" : "",
        "simpleType" : "ListAppsRequest",
        "variableSetterType" : "ListAppsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApps",
      "operationName" : "ListApps",
      "returnType" : {
        "returnType" : "ListAppsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppsResult"
    },
    "ListRecommendationTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecommendationTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecommendationTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecommendationTemplatesRequest, ListRecommendationTemplatesResult>",
      "asyncReturnType" : "ListRecommendationTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the recommendation templates for the Resilience Hub applications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecommendationTemplatesRequest",
        "variableName" : "listRecommendationTemplatesRequest",
        "variableType" : "ListRecommendationTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListRecommendationTemplatesRequest",
        "variableSetterType" : "ListRecommendationTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecommendationTemplates",
      "operationName" : "ListRecommendationTemplates",
      "returnType" : {
        "returnType" : "ListRecommendationTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecommendationTemplatesResult"
    },
    "ListResiliencyPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResiliencyPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResiliencyPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResiliencyPoliciesRequest, ListResiliencyPoliciesResult>",
      "asyncReturnType" : "ListResiliencyPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resiliency policies for the Resilience Hub applications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResiliencyPoliciesRequest",
        "variableName" : "listResiliencyPoliciesRequest",
        "variableType" : "ListResiliencyPoliciesRequest",
        "documentation" : "",
        "simpleType" : "ListResiliencyPoliciesRequest",
        "variableSetterType" : "ListResiliencyPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResiliencyPolicies",
      "operationName" : "ListResiliencyPolicies",
      "returnType" : {
        "returnType" : "ListResiliencyPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResiliencyPoliciesResult"
    },
    "ListSopRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSopRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSopRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSopRecommendationsRequest, ListSopRecommendationsResult>",
      "asyncReturnType" : "ListSopRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the standard operating procedure (SOP) recommendations for the Resilience Hub applications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSopRecommendationsRequest",
        "variableName" : "listSopRecommendationsRequest",
        "variableType" : "ListSopRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ListSopRecommendationsRequest",
        "variableSetterType" : "ListSopRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSopRecommendations",
      "operationName" : "ListSopRecommendations",
      "returnType" : {
        "returnType" : "ListSopRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSopRecommendationsResult"
    },
    "ListSuggestedResiliencyPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSuggestedResiliencyPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSuggestedResiliencyPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSuggestedResiliencyPoliciesRequest, ListSuggestedResiliencyPoliciesResult>",
      "asyncReturnType" : "ListSuggestedResiliencyPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the suggested resiliency policies for the Resilience Hub applications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSuggestedResiliencyPoliciesRequest",
        "variableName" : "listSuggestedResiliencyPoliciesRequest",
        "variableType" : "ListSuggestedResiliencyPoliciesRequest",
        "documentation" : "",
        "simpleType" : "ListSuggestedResiliencyPoliciesRequest",
        "variableSetterType" : "ListSuggestedResiliencyPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSuggestedResiliencyPolicies",
      "operationName" : "ListSuggestedResiliencyPolicies",
      "returnType" : {
        "returnType" : "ListSuggestedResiliencyPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSuggestedResiliencyPoliciesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for your resources in your Resilience Hub applications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTestRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTestRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTestRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTestRecommendationsRequest, ListTestRecommendationsResult>",
      "asyncReturnType" : "ListTestRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the test recommendations for the Resilience Hub application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTestRecommendationsRequest",
        "variableName" : "listTestRecommendationsRequest",
        "variableType" : "ListTestRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ListTestRecommendationsRequest",
        "variableSetterType" : "ListTestRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTestRecommendations",
      "operationName" : "ListTestRecommendations",
      "returnType" : {
        "returnType" : "ListTestRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTestRecommendationsResult"
    },
    "ListUnsupportedAppVersionResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUnsupportedAppVersionResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUnsupportedAppVersionResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUnsupportedAppVersionResourcesRequest, ListUnsupportedAppVersionResourcesResult>",
      "asyncReturnType" : "ListUnsupportedAppVersionResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resources that are not currently supported in AWS Resilience Hub. An unsupported resource is a resource that exists in the object that was used to create an app, but is not supported by Resilience Hub.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUnsupportedAppVersionResourcesRequest",
        "variableName" : "listUnsupportedAppVersionResourcesRequest",
        "variableType" : "ListUnsupportedAppVersionResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListUnsupportedAppVersionResourcesRequest",
        "variableSetterType" : "ListUnsupportedAppVersionResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUnsupportedAppVersionResources",
      "operationName" : "ListUnsupportedAppVersionResources",
      "returnType" : {
        "returnType" : "ListUnsupportedAppVersionResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUnsupportedAppVersionResourcesResult"
    },
    "PublishAppVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PublishAppVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PublishAppVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PublishAppVersionRequest, PublishAppVersionResult>",
      "asyncReturnType" : "PublishAppVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Publishes a new version of a specific Resilience Hub application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PublishAppVersionRequest",
        "variableName" : "publishAppVersionRequest",
        "variableType" : "PublishAppVersionRequest",
        "documentation" : "",
        "simpleType" : "PublishAppVersionRequest",
        "variableSetterType" : "PublishAppVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "publishAppVersion",
      "operationName" : "PublishAppVersion",
      "returnType" : {
        "returnType" : "PublishAppVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "PublishAppVersionResult"
    },
    "PutDraftAppVersionTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDraftAppVersionTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDraftAppVersionTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDraftAppVersionTemplateRequest, PutDraftAppVersionTemplateResult>",
      "asyncReturnType" : "PutDraftAppVersionTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or updates the app template for a draft version of a Resilience Hub app.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutDraftAppVersionTemplateRequest",
        "variableName" : "putDraftAppVersionTemplateRequest",
        "variableType" : "PutDraftAppVersionTemplateRequest",
        "documentation" : "",
        "simpleType" : "PutDraftAppVersionTemplateRequest",
        "variableSetterType" : "PutDraftAppVersionTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDraftAppVersionTemplate",
      "operationName" : "PutDraftAppVersionTemplate",
      "returnType" : {
        "returnType" : "PutDraftAppVersionTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDraftAppVersionTemplateResult"
    },
    "RemoveDraftAppVersionResourceMappings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveDraftAppVersionResourceMappingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveDraftAppVersionResourceMappingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveDraftAppVersionResourceMappingsRequest, RemoveDraftAppVersionResourceMappingsResult>",
      "asyncReturnType" : "RemoveDraftAppVersionResourceMappingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes resource mappings from a draft application version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveDraftAppVersionResourceMappingsRequest",
        "variableName" : "removeDraftAppVersionResourceMappingsRequest",
        "variableType" : "RemoveDraftAppVersionResourceMappingsRequest",
        "documentation" : "",
        "simpleType" : "RemoveDraftAppVersionResourceMappingsRequest",
        "variableSetterType" : "RemoveDraftAppVersionResourceMappingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeDraftAppVersionResourceMappings",
      "operationName" : "RemoveDraftAppVersionResourceMappings",
      "returnType" : {
        "returnType" : "RemoveDraftAppVersionResourceMappingsResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveDraftAppVersionResourceMappingsResult"
    },
    "ResolveAppVersionResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResolveAppVersionResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResolveAppVersionResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResolveAppVersionResourcesRequest, ResolveAppVersionResourcesResult>",
      "asyncReturnType" : "ResolveAppVersionResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resolves the resources for an application version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Indicates that a request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResolveAppVersionResourcesRequest",
[...]
