{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-27",
    "asyncClient" : "AWSResourceGroupsAsyncClient",
    "asyncClientBuilderClassName" : "AWSResourceGroupsAsyncClientBuilder",
    "asyncInterface" : "AWSResourceGroupsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSResourceGroupsModuleInjector",
    "defaultEndpoint" : "resource-groups.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "resource-groups.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Resource Groups</fullname> <p>AWS Resource Groups lets you organize AWS resources such as Amazon EC2 instances, Amazon Relational Database Service databases, and Amazon S3 buckets into groups using criteria that you define as tags. A resource group is a collection of resources that match the resource types specified in a query, and share one or more tags or portions of tags. You can create a group of resources based on their roles in your cloud infrastructure, lifecycle stages, regions, application layers, or virtually any criteria. Resource Groups enable you to automate management tasks, such as those in AWS Systems Manager Automation documents, on tag-related resources in AWS Systems Manager. Groups of tagged resources also let you quickly view a custom console in AWS Systems Manager that shows AWS Config compliance and other monitoring data about member resources.</p> <p>To create a resource group, build a resource query, and specify tags that identify the criteria that members of the group have in common. Tags are key-value pairs.</p> <p>For more information about Resource Groups, see the <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/welcome.html\">AWS Resource Groups User Guide</a>.</p> <p>AWS Resource Groups uses a REST-compliant API that you can use to perform the following types of operations.</p> <ul> <li> <p>Create, Read, Update, and Delete (CRUD) operations on resource groups and resource query entities</p> </li> <li> <p>Applying, editing, and removing tags from resource groups</p> </li> <li> <p>Resolving resource group member ARNs so they can be returned as search results</p> </li> <li> <p>Getting data about resources that are members of a group</p> </li> <li> <p>Searching AWS resources based on a resource query</p> </li> </ul>",
    "endpointPrefix" : "resource-groups",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.resourcegroups",
    "packagePath" : "com/amazonaws/services/resourcegroups",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Resource Groups",
    "serviceFullName" : "AWS Resource Groups",
    "serviceId" : "Resource Groups",
    "serviceName" : "Resource Groups",
    "signingName" : "resource-groups",
    "smokeTestsPackageName" : "com.amazonaws.services.resourcegroups.smoketests",
    "syncClient" : "AWSResourceGroupsClient",
    "syncClientBuilderClassName" : "AWSResourceGroupsClientBuilder",
    "syncInterface" : "AWSResourceGroups",
    "uid" : "resource-groups-2017-11-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupRequest, CreateGroupResult>",
      "asyncReturnType" : "CreateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a resource group with the specified name and description. You can optionally include a resource query, or a service configuration. For more information about constructing a resource query, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. For more information about service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:CreateGroup</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGroupRequest",
        "variableName" : "createGroupRequest",
        "variableType" : "CreateGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateGroupRequest",
        "variableSetterType" : "CreateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroup",
      "operationName" : "CreateGroup",
      "returnType" : {
        "returnType" : "CreateGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGroupResult"
    },
    "DeleteGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGroupRequest, DeleteGroupResult>",
      "asyncReturnType" : "DeleteGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified resource group. Deleting a resource group does not delete any resources that are members of the group; it only deletes the group structure.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:DeleteGroup</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGroupRequest",
        "variableName" : "deleteGroupRequest",
        "variableType" : "DeleteGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteGroupRequest",
        "variableSetterType" : "DeleteGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGroup",
      "operationName" : "DeleteGroup",
      "returnType" : {
        "returnType" : "DeleteGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGroupResult"
    },
    "GetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupRequest, GetGroupResult>",
      "asyncReturnType" : "GetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specified resource group.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:GetGroup</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGroupRequest",
        "variableName" : "getGroupRequest",
        "variableType" : "GetGroupRequest",
        "documentation" : "",
        "simpleType" : "GetGroupRequest",
        "variableSetterType" : "GetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroup",
      "operationName" : "GetGroup",
      "returnType" : {
        "returnType" : "GetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGroupResult"
    },
    "GetGroupConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupConfigurationRequest, GetGroupConfigurationResult>",
      "asyncReturnType" : "GetGroupConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the service configuration associated with the specified resource group. For details about the service configuration syntax, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:GetGroupConfiguration</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGroupConfigurationRequest",
        "variableName" : "getGroupConfigurationRequest",
        "variableType" : "GetGroupConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetGroupConfigurationRequest",
        "variableSetterType" : "GetGroupConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroupConfiguration",
      "operationName" : "GetGroupConfiguration",
      "returnType" : {
        "returnType" : "GetGroupConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGroupConfigurationResult"
    },
    "GetGroupQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupQueryRequest, GetGroupQueryResult>",
      "asyncReturnType" : "GetGroupQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the resource query associated with the specified resource group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:GetGroupQuery</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGroupQueryRequest",
        "variableName" : "getGroupQueryRequest",
        "variableType" : "GetGroupQueryRequest",
        "documentation" : "",
        "simpleType" : "GetGroupQueryRequest",
        "variableSetterType" : "GetGroupQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroupQuery",
      "operationName" : "GetGroupQuery",
      "returnType" : {
        "returnType" : "GetGroupQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGroupQueryResult"
    },
    "GetTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTagsRequest, GetTagsResult>",
      "asyncReturnType" : "GetTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags that are associated with a resource group, specified by an ARN.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:GetTags</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTagsRequest",
        "variableName" : "getTagsRequest",
        "variableType" : "GetTagsRequest",
        "documentation" : "",
        "simpleType" : "GetTagsRequest",
        "variableSetterType" : "GetTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTags",
      "operationName" : "GetTags",
      "returnType" : {
        "returnType" : "GetTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTagsResult"
    },
    "GroupResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GroupResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GroupResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GroupResourcesRequest, GroupResourcesResult>",
      "asyncReturnType" : "GroupResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified resources to the specified group.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:GroupResources</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GroupResourcesRequest",
        "variableName" : "groupResourcesRequest",
        "variableType" : "GroupResourcesRequest",
        "documentation" : "",
        "simpleType" : "GroupResourcesRequest",
        "variableSetterType" : "GroupResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "groupResources",
      "operationName" : "GroupResources",
      "returnType" : {
        "returnType" : "GroupResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "GroupResourcesResult"
    },
    "ListGroupResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupResourcesRequest, ListGroupResourcesResult>",
      "asyncReturnType" : "ListGroupResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of ARNs of the resources that are members of a specified resource group.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:ListGroupResources</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The request was rejected because it doesn't have valid credentials for the target resource.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGroupResourcesRequest",
        "variableName" : "listGroupResourcesRequest",
        "variableType" : "ListGroupResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListGroupResourcesRequest",
        "variableSetterType" : "ListGroupResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroupResources",
      "operationName" : "ListGroupResources",
      "returnType" : {
        "returnType" : "ListGroupResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupResourcesResult"
    },
    "ListGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupsRequest, ListGroupsResult>",
      "asyncReturnType" : "ListGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing resource groups in your account.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:ListGroups</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGroupsRequest",
        "variableName" : "listGroupsRequest",
        "variableType" : "ListGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListGroupsRequest",
        "variableSetterType" : "ListGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroups",
      "operationName" : "ListGroups",
      "returnType" : {
        "returnType" : "ListGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupsResult"
    },
    "PutGroupConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutGroupConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutGroupConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutGroupConfigurationRequest, PutGroupConfigurationResult>",
      "asyncReturnType" : "PutGroupConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches a service configuration to the specified group. This occurs asynchronously, and can take time to complete. You can use <a>GetGroupConfiguration</a> to check the status of the update.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:PutGroupConfiguration</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutGroupConfigurationRequest",
        "variableName" : "putGroupConfigurationRequest",
        "variableType" : "PutGroupConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutGroupConfigurationRequest",
        "variableSetterType" : "PutGroupConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putGroupConfiguration",
      "operationName" : "PutGroupConfiguration",
      "returnType" : {
        "returnType" : "PutGroupConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutGroupConfigurationResult"
    },
    "SearchResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchResourcesRequest, SearchResourcesResult>",
      "asyncReturnType" : "SearchResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of AWS resource identifiers that matches the specified query. The query uses the same format as a resource query in a CreateGroup or UpdateGroupQuery operation.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:SearchResources</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The request was rejected because it doesn't have valid credentials for the target resource.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchResourcesRequest",
        "variableName" : "searchResourcesRequest",
        "variableType" : "SearchResourcesRequest",
        "documentation" : "",
        "simpleType" : "SearchResourcesRequest",
        "variableSetterType" : "SearchResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchResources",
      "operationName" : "SearchResources",
      "returnType" : {
        "returnType" : "SearchResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchResourcesResult"
    },
    "Tag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagRequest, TagResult>",
      "asyncReturnType" : "TagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to a resource group with the specified ARN. Existing tags on a resource group are not changed if they are not specified in the request parameters.</p> <important> <p>Do not store personally identifiable information (PII) or other confidential or sensitive information in tags. We use tags to provide you with billing and administration services. Tags are not intended to be used for private or sensitive data.</p> </important> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:Tag</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagRequest",
        "variableName" : "tagRequest",
        "variableType" : "TagRequest",
        "documentation" : "",
        "simpleType" : "TagRequest",
        "variableSetterType" : "TagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tag",
      "operationName" : "Tag",
      "returnType" : {
        "returnType" : "TagResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResult"
    },
    "UngroupResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UngroupResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UngroupResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UngroupResourcesRequest, UngroupResourcesResult>",
      "asyncReturnType" : "UngroupResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified resources from the specified group.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:UngroupResources</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UngroupResourcesRequest",
        "variableName" : "ungroupResourcesRequest",
        "variableType" : "UngroupResourcesRequest",
        "documentation" : "",
        "simpleType" : "UngroupResourcesRequest",
        "variableSetterType" : "UngroupResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "ungroupResources",
      "operationName" : "UngroupResources",
      "returnType" : {
        "returnType" : "UngroupResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "UngroupResourcesResult"
    },
    "Untag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagRequest, UntagResult>",
      "asyncReturnType" : "UntagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes tags from a specified resource group.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:Untag</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagRequest",
        "variableName" : "untagRequest",
        "variableType" : "UntagRequest",
        "documentation" : "",
        "simpleType" : "UntagRequest",
        "variableSetterType" : "UntagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untag",
      "operationName" : "Untag",
      "returnType" : {
        "returnType" : "UntagResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResult"
    },
    "UpdateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGroupRequest, UpdateGroupResult>",
      "asyncReturnType" : "UpdateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the description for an existing group. You cannot update the name of a resource group.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:UpdateGroup</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGroupRequest",
        "variableName" : "updateGroupRequest",
        "variableType" : "UpdateGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateGroupRequest",
        "variableSetterType" : "UpdateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGroup",
      "operationName" : "UpdateGroup",
      "returnType" : {
        "returnType" : "UpdateGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGroupResult"
    },
    "UpdateGroupQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGroupQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGroupQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGroupQueryRequest, UpdateGroupQueryResult>",
      "asyncReturnType" : "UpdateGroupQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the resource query of a group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>.</p> <p> <b>Minimum permissions</b> </p> <p>To run this command, you must have the following permissions:</p> <ul> <li> <p> <code>resource-groups:UpdateGroupQuery</code> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the specified resources don't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>You've exceeded throttling limits by making too many requests in a period of time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGroupQueryRequest",
        "variableName" : "updateGroupQueryRequest",
        "variableType" : "UpdateGroupQueryRequest",
        "documentation" : "",
        "simpleType" : "UpdateGroupQueryRequest",
        "variableSetterType" : "UpdateGroupQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGroupQuery",
      "operationName" : "UpdateGroupQuery",
      "returnType" : {
        "returnType" : "UpdateGroupQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGroupQueryResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request includes one or more parameters that violate validation rules.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "BadRequestException",
      "fullyQualifiedName" : "com.amazonaws.services.resourcegroups.exception.BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.resourcegroups.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "CreateGroupRequest" : {
      "c2jName" : "CreateGroupInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.resourcegroups.request.CreateGroupRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateGroup",
        "locationName" : null,
        "requestUri" : "/groups",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "GroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the group, which is the identifier of the group in other operations. You can't change the name of a resource group after you create it. A resource group name can consist of letters, numbers, hyphens, periods, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within each AWS Region in your AWS account.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. You can't change the name of a resource group after you create it. A resource group name can consist of letters, numbers, hyphens, periods, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within each AWS Region in your AWS account.</p>\n@param name The name of the group, which is the identifier of the group in other operations. You can't change the name of a resource group after you create it. A resource group name can consist of letters, numbers, hyphens, periods, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within each AWS Region in your AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. You can't change the name of a resource group after you create it. A resource group name can consist of letters, numbers, hyphens, periods, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within each AWS Region in your AWS account.</p>\n@return The name of the group, which is the identifier of the group in other operations. You can't change the name of a resource group after you create it. A resource group name can consist of letters, numbers, hyphens, periods, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within each AWS Region in your AWS account.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. You can't change the name of a resource group after you create it. A resource group name can consist of letters, numbers, hyphens, periods, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within each AWS Region in your AWS account.</p>\n@param name The name of the group, which is the identifier of the group in other operations. You can't change the name of a resource group after you create it. A resource group name can consist of letters, numbers, hyphens, periods, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within each AWS Region in your AWS account.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. You can't change the name of a resource group after you create it. A resource group name can consist of letters, numbers, hyphens, periods, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within each AWS Region in your AWS account.</p>\n@param name The name of the group, which is the identifier of the group in other operations. You can't change the name of a resource group after you create it. A resource group name can consist of letters, numbers, hyphens, periods, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within each AWS Region in your AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the group, which is the identifier of the group in other operations. You can't change the name of a resource group after you create it. A resource group name can consist of letters, numbers, hyphens, periods, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within each AWS Region in your AWS account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "<p>The description of the resource group. Descriptions can consist of letters, numbers, hyphens, underscores, periods, and spaces.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the resource group. Descriptions can consist of letters, numbers, hyphens, underscores, periods, and spaces.</p>\n@param description The description of the resource group. Descriptions can consist of letters, numbers, hyphens, underscores, periods, and spaces.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description of the resource group. Descriptions can consist of letters, numbers, hyphens, underscores, periods, and spaces.</p>\n@return The description of the resource group. Descriptions can consist of letters, numbers, hyphens, underscores, periods, and spaces.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The description of the resource group. Descriptions can consist of letters, numbers, hyphens, underscores, periods, and spaces.</p>\n@param description The description of the resource group. Descriptions can consist of letters, numbers, hyphens, underscores, periods, and spaces.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description of the resource group. Descriptions can consist of letters, numbers, hyphens, underscores, periods, and spaces.</p>\n@param description The description of the resource group. Descriptions can consist of letters, numbers, hyphens, underscores, periods, and spaces.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description of the resource group. Descriptions can consist of letters, numbers, hyphens, underscores, periods, and spaces.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceQuery",
        "c2jShape" : "ResourceQuery",
        "deprecated" : false,
        "documentation" : "<p>The resource query that determines which AWS resources are members of this group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. </p> <note> <p>A resource group can contain either a <code>ResourceQuery</code> or a <code>Configuration</code>, but not both.</p> </note>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. </p> <note> <p>A resource group can contain either a <code>ResourceQuery</code> or a <code>Configuration</code>, but not both.</p> </note>\n@param resourceQuery The resource query that determines which AWS resources are members of this group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. </p> <note> <p>A resource group can contain either a <code>ResourceQuery</code> or a <code>Configuration</code>, but not both.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceQuery",
        "getterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. </p> <note> <p>A resource group can contain either a <code>ResourceQuery</code> or a <code>Configuration</code>, but not both.</p> </note>\n@return The resource query that determines which AWS resources are members of this group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. </p> <note> <p>A resource group can contain either a <code>ResourceQuery</code> or a <code>Configuration</code>, but not both.</p>*/",
        "getterMethodName" : "getResourceQuery",
        "getterModel" : {
          "returnType" : "ResourceQuery",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceQuery",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceQuery",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ResourceQuery",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. </p> <note> <p>A resource group can contain either a <code>ResourceQuery</code> or a <code>Configuration</code>, but not both.</p> </note>\n@param resourceQuery The resource query that determines which AWS resources are members of this group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. </p> <note> <p>A resource group can contain either a <code>ResourceQuery</code> or a <code>Configuration</code>, but not both.</p>*/",
        "setterMethodName" : "setResourceQuery",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ResourceQuery",
          "variableName" : "resourceQuery",
          "variableType" : "ResourceQuery",
          "documentation" : "",
          "simpleType" : "ResourceQuery",
          "variableSetterType" : "ResourceQuery"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. </p> <note> <p>A resource group can contain either a <code>ResourceQuery</code> or a <code>Configuration</code>, but not both.</p> </note>\n@param resourceQuery The resource query that determines which AWS resources are members of this group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. </p> <note> <p>A resource group can contain either a <code>ResourceQuery</code> or a <code>Configuration</code>, but not both.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ResourceQuery",
          "variableName" : "resourceQuery",
          "variableType" : "ResourceQuery",
          "documentation" : "<p>The resource query that determines which AWS resources are members of this group. For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create a tag-based group in Resource Groups</a>. </p> <note> <p>A resource group can contain either a <code>ResourceQuery</code> or a <code>Configuration</code>, but not both.</p> </note>",
          "simpleType" : "ResourceQuery",
          "variableSetterType" : "ResourceQuery"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "Tags",
        "deprecated" : false,
        "documentation" : "<p>The tags to add to the group. A tag is key-value pair string.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags to add to the group. A tag is key-value pair string.</p>\n@param tags The tags to add to the group. A tag is key-value pair string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags to add to the group. A tag is key-value pair string.</p>\n@return The tags to add to the group. A tag is key-value pair string.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The tags to add to the group. A tag is key-value pair string.</p>\n@param tags The tags to add to the group. A tag is key-value pair string.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags to add to the group. A tag is key-value pair string.</p>\n@param tags The tags to add to the group. A tag is key-value pair string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The tags to add to the group. A tag is key-value pair string.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Configuration",
        "c2jShape" : "GroupConfigurationList",
        "deprecated" : false,
        "documentation" : "<p>A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p> </note>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p> </note>\n@param configuration A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfiguration",
        "getterDocumentation" : "/**<p>A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p> </note>\n@return A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p>*/",
        "getterMethodName" : "getConfiguration",
        "getterModel" : {
          "returnType" : "java.util.List<GroupConfigurationItem>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Configuration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Configuration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "GroupConfigurationItem",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "GroupConfigurationItem",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "GroupConfigurationItem",
              "variableName" : "member",
              "variableType" : "GroupConfigurationItem",
              "documentation" : "",
              "simpleType" : "GroupConfigurationItem",
              "variableSetterType" : "GroupConfigurationItem"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "GroupConfigurationItem",
              "variableName" : "member",
              "variableType" : "GroupConfigurationItem",
              "documentation" : "",
              "simpleType" : "GroupConfigurationItem",
              "variableSetterType" : "GroupConfigurationItem"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "GroupConfigurationItem",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "GroupConfigurationItem",
          "templateImplType" : "java.util.ArrayList<GroupConfigurationItem>",
          "templateType" : "java.util.List<GroupConfigurationItem>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Configuration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p> </note>\n@param configuration A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p>*/",
        "setterMethodName" : "setConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<GroupConfigurationItem>",
          "variableName" : "configuration",
          "variableType" : "java.util.List<GroupConfigurationItem>",
          "documentation" : "",
          "simpleType" : "List<GroupConfigurationItem>",
          "variableSetterType" : "java.util.Collection<GroupConfigurationItem>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p> </note>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setConfiguration(java.util.Collection)} or {@link #withConfiguration(java.util.Collection)} if you want to override the existing values.</p>\n@param configuration A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<GroupConfigurationItem>",
          "variableName" : "configuration",
          "variableType" : "java.util.List<GroupConfigurationItem>",
          "documentation" : "<p>A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p> </note>",
          "simpleType" : "List<GroupConfigurationItem>",
          "variableSetterType" : "java.util.Collection<GroupConfigurationItem>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Configuration" : {
          "c2jName" : "Configuration",
          "c2jShape" : "GroupConfigurationList",
          "deprecated" : false,
          "documentation" : "<p>A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p> </note>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p> </note>\n@param configuration A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfiguration",
          "getterDocumentation" : "/**<p>A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p> </note>\n@return A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p>*/",
          "getterMethodName" : "getConfiguration",
          "getterModel" : {
            "returnType" : "java.util.List<GroupConfigurationItem>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Configuration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Configuration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "GroupConfigurationItem",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "GroupConfigurationItem",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "GroupConfigurationItem",
                "variableName" : "member",
                "variableType" : "GroupConfigurationItem",
                "documentation" : "",
                "simpleType" : "GroupConfigurationItem",
                "variableSetterType" : "GroupConfigurationItem"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "GroupConfigurationItem",
                "variableName" : "member",
                "variableType" : "GroupConfigurationItem",
                "documentation" : "",
                "simpleType" : "GroupConfigurationItem",
                "variableSetterType" : "GroupConfigurationItem"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "GroupConfigurationItem",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "GroupConfigurationItem",
            "templateImplType" : "java.util.ArrayList<GroupConfigurationItem>",
            "templateType" : "java.util.List<GroupConfigurationItem>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Configuration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p> </note>\n@param configuration A configuration associates the resource group with an AWS service and specifies how the service can interact with the resources in the group. A configuration is an array of <a>GroupConfigurationItem</a> elements. For details about the syntax of service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource groups</a>.</p> <note> <p>A resource group can contain either a <code>Configuration</code> or a <code>ResourceQuery</code>, but not both.</p>*/",
          "setterMethodName" : "setConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<GroupConfigurationItem>",
            "variableName" : "configuration",
            "variableType" : "java.util.List<GroupConfigurationItem>",
            "documentation" : "",
            "simpleType" : "List<GroupConfigurationItem>",
            "variableSetterType" : "java.util.Collection<GroupConfigurationItem>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
[...]
